{% extends base_template %}

{% block title %}
    导入
{% endblock %}
{% block navbar_title %}
    目前仅支持Postman数据导入
{% endblock %}
{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}
{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}
    <div class="box box-solid">
        <div class="box-body">
            <blockquote style="padding: 5px 10px; margin: 0px; font-size: 14px;">
                <p>目前仅支持Postman格式数据导入</p>
            </blockquote>
        </div>
    </div>

    <div class="info-log-content">

        import area
    </div>
{% endblock %}
