{% if admin.hasAccess('import') and admin.hasRoute('import') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateUrl('import') }}">
            <i class="fa fa-upload" aria-hidden="true"></i>
            {{ 'link_action_import'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}