<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>银行卡管理</title>
<link rel="stylesheet" type="text/css" href="#{$smarty.const.APP}#/View/template/home/css/hui.css" />
</head>
<body>
<header class="hui-header">
  <div id="hui-back"></div>
  <h1>银行卡管理</h1>
	<a class="hui-header-sreach-txt" href="#{$smarty.const.ACT}#/home/WxMemberCard/member_card_add/">增加</a>
</header>
<div class="hui-common-title"> </div>
#{foreach from=$list key=k item=v}#
<div class="hui-list"> 
  <div class="hui-row">
	  <div class="hui-col-7">#{$v.name}#</div>
	  <div class="hui-col-5 hui-tr">#{$v.cardname}#</div>
  </div>
	<div class="hui-row">
	  <div class="hui-col-12 hui-font-gray">#{$v.cardnumber}#</div>
  </div>
	<div class="hui-row">
	  <div class="hui-col-7">
		<div class="hui-form-radios">
		   <input type="radio" value="#{$v.id}#" name="gender" id="g#{$v.id}#" onchange="set_default(#{$v.id}#);" #{if $v.ifdefault eq 1}# checked="checked" #{/if}# /><label for="g#{$v.id}#">默认卡号</label>
		</div>
	  </div>
	  <div class="hui-col-5 hui-tr">
		  <a class="hui-icons hui-icons-write" href="#{$smarty.const.ACT}#/home/WxMemberCard/member_card_edit/id/#{$v.id}#/">修改</a>
		  <a class="hui-icons hui-icons-remove" onclick="set_del(#{$v.id}#)">删除</a>
		  
	  </div>
  </div>
</div>
 #{/foreach}#
<script src="#{$smarty.const.APP}#/View/template/home/js/hui.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
<script type="text/javascript">
	
function set_default(id){
	hui.ajax({
		type : 'POST',
		url : '#{$smarty.const.ACT}#/home/WxMemberCard/member_card_default/',
		data : {id:id},
		backType:'json',
		beforeSend : function(){hui.loading();},
		complete : function(){hui.closeLoading();},
		success : function(data){
			if(data.code=='sucess'){
				//hui.upToast(data.message);
				hui.toast('操作成功', 'success');
			}else{
				hui.upToast(data.message);
			}
		},
		error : function(e){
			console.log(JSON.stringify(e));
			hui.iconToast('读取消息失败', 'warn');
		}
	});
}
	
function set_del(id){
	hui.ajax({
		type : 'POST',
		url : '#{$smarty.const.ACT}#/home/WxMemberCard/member_card_del/',
		data : {id:id},
		backType:'json',
		beforeSend : function(){hui.loading();},
		complete : function(){hui.closeLoading();},
		success : function(data){
			if(data.code=='sucess'){
				//hui.upToast(data.message);
				hui.toast('操作成功', 'success');
				var url='#{$smarty.const.ACT}#/home/WxMemberCard/member_card_show/';
				window.location.href=url;
			}else{
				hui.upToast(data.message);
			}
		},
		error : function(e){
			console.log(JSON.stringify(e));
			hui.iconToast('读取消息失败', 'warn');
		}
	});	
}
	
</script>

