<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>店铺申请</title>
<link rel="stylesheet" type="text/css" href="#{$smarty.const.APP}#/View/template/home/css/hui.css" />
</head>
<body style="background:#F4F5F6;">
<header class="hui-header">
  <div id="hui-back"></div>
  <h1>店铺申请</h1>
	<a href="#{$smarty.const.ACT}#/home/WxShop/shop_modify/id/#{$one.id}#/" class="hui-header-sreach-txt">重新编辑</a>
</header>
<div class="hui-wrap">
  <div class="hui-center-title">
        <h1>申请店铺未通过审核</h1>
  </div>
</div>
<script type="text/javascript" src="#{$smarty.const.APP}#/View/template/home/js/hui.js" charset="UTF-8"></script> 
<script type="text/javascript" src="#{$smarty.const.APP}#/View/template/home/js/hui-form.js" charset="utf-8"></script> 
<script type="text/javascript" src="#{$smarty.const.APP}#/View/template/home/js/hui-select-beautify.js" charset="utf-8"></script> 
</body>
</html>