#header{width:1000px;}
#content{width:1000px;}
#banner{width:950px;}
#footer{width: 1004px;}
a:link,a:visited{color:#303030;}
a:hover,a:active{color:#6f0102;}
.grid .col-sub{width:282px;}
.grid .main-wrap{margin-left:282px;}
body{color:#303030;background:#000 url("images/bodybg.png") repeat-x;}
.tbbd{background:#000 url("images/bodybg.png") repeat-x;}
#header{background:url("images/header.png") no-repeat right top;}
.col-sub .mhd span a:link,.col-sub .mhd span a:visited {color: #565656;}
.col-main .mhd span a:link,.col-main .mhd span a:visited{color:#b5b5b5;}
.col-sub{background:url("images/subbg.png") repeat-y left;}
.col-sub .bg{background:url("images/subbottom.png") no-repeat left bottom;padding-bottom:10px;}
.col-sub .sinner{background:url("images/subtop.png") no-repeat left top;padding-top:20px;}
.col-main{background:url("images/mainbg.png") repeat-y 282px;}
.col-main .main-wrap{background:url("images/mainbottom.png") no-repeat 0 bottom;padding-bottom:67px;}

#contact .col-main{background:url("images/mainbg-c.png") repeat-y center;}
#contact .col-main .mbox{background:url("images/mainbottom-c.png") no-repeat center bottom;padding-bottom:67px;}
.col-main .bg{background:url("images/maintop.png") no-repeat left top;padding-top:20px;}
#contact .col-main .mbg{background:url("images/maintop-c.png") no-repeat center top;padding-top:20px;}
#contact .col-main .mhd{width:930px;margin:0 auto;}
#contact .col-main .mbd{margin-right:18px;margin-left:10px;}
#header h1,#header p{float:left;}
#header h1{margin-top:30px;}
#header p{margin-left:20px;color:#fff;height:136px;line-height:136px;}
.menu a:link,.menu a:visited{color: #b41a0a;margin-right:10px;}
.menu a.topico02{background:url("images/collt.png") no-repeat 0 5px;}

.nav{height:53px;line-height:37px;background:url("images/nav.png") repeat-x;position:relative;}
.nav li{border-right:1px #451b1a solid;padding-left:1px;padding-right:1px;}
.nav li a{width:121px;text-align:center;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") repeat-x center;}

.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,.nav a:active,.nav a:focus,
.nav a.active,.nav a:visited.active{color:#ffebda;font-weight:bold;}

.navl,.navr{width:21px;height:15px;position:absolute;bottom:0;_bottom:-1px;}
.navl{left:0;background:url("images/navl.png") no-repeat;}
.navr{right:0;background:url("images/navr.png") no-repeat;}

#banner{background:#fff;padding:3px;}

.col-sub .mhd{background:url("images/submhd.png") no-repeat bottom;padding-bottom:12px;}
.col-main .mhd{border-bottom:3px #f1f1f1 solid;padding-bottom:2px;margin-left:28px;margin-right:12px;}
.col-main .mbd{padding-left:28px;padding-right:12px;}
.col-sub .mbd{padding-left:0;padding-right:0;}
.col-main .prodt .mbd,.col-main .plinks .mbd,.col-main .prodt_list .mbd,.col-main .quaon_pic .mbd{padding-left:0;padding-right:0;}
.col-main .prodt .mbd{padding-left:3px;}
.prodt .mbd li {margin: 20px 18px 0 25px;}
.col-main .plinks .mbd{padding-left:12px;}
.plinks .mbd li{margin:12px 0px 0 16px;}
.quaon_pic .mbd li {margin: 26px 21px 0 32px;}
.col-main .prodt_list .mbd{padding-left:8px;}
.prodt_list .mbd li {margin: 26px 19px 0 25px;}
.col-sub .mhd h3{background:url("images/subh3.png") no-repeat 5px center;padding-left:28px;color:#fff;}
.col-main .mhd h3{background:url("images/mainh3.png") no-repeat 6px center;padding-left:30px;color:#000;}
.col-main .bg{width:696px;padding-right:22px;}
.col-sub .mbox{width:248px;margin:0 auto;}
.n_ico .mhd h3{background:url("images/nicon.png") no-repeat 5px center;}
.col-sub .mbd,.col-sub .mbd a:link,.col-sub .mbd a:visited{color:#767676;}
.col-sub .mbd a:hover,.col-sub .mbd a:active{color:#f0f0f0;}

.prodt_con .mbd{padding-left:24px;padding-right:24px;}
.col-extra{display:none;}
.mbox,.feedback{padding-bottom:10px;}
.contact .mbd,.job .mbd{padding-top:8px;}
.minheight {height: auto !important;min-height: 30px;}

input,textarea{background:#fff;border:1px #ddd solid;}
.job_con table,.guest table{border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}
.job_con td,.guest td{background:none;border-bottom:1px solid #d9d9d9;border-left:1px solid #d9d9d9;}
.job_con th,.guest th{background:#f5f5f5;border-bottom:1px solid #d9d9d9;border-left:1px solid #d9d9d9;}
.cate_list .mbd li{border-bottom:1px #c2c2c2 dashed;background:url("images/cate_list_ico.png") no-repeat 7px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#780004;}
.down_list .mbd li h2{border-bottom:1px #525252 dashed;background:url("images/cate_list_ico.png") no-repeat 7px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:20px center;padding-left:32px;}
.down_list .mbd li {line-height:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#770002;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 7px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 20px center;border-bottom:1px #525252 dashed;}
.mbd form {margin-bottom: 0px;}
.n_ico li {background:url("images/list-style.png") no-repeat 0 8px;padding-left:12px;}
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #cbcac5 solid;background:#fff;color:#666;}
.g_page a:link,.g_page a:visited{color:#666;}
.g_page .current,.g_page a:hover{background:#770004;color:#fff;border:1px #ccccce solid;}

.notice_con p{border-bottom:1px #d9d9d9 dashed;}
.notice_con p.active{background:#f5f5f5;}

.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 5px center;padding-left:18px;border-bottom:1px #ccc dotted;}
.seabox .mhd .r{margin-right:10px;_margin-right:6px;padding-top:1px;_padding-top:4px;}

.feedback a{background:url("images/feedback.png") no-repeat;width:236px;}

.title{border-bottom:1px #cdcdcd solid;}
.title h2{color:#000;}
.title p{color:#999;}

.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.mhd button{background:url("images/sbtn2.png") no-repeat;color:#fff;}

.guest input.inputSubmit,.guest input.inputSubmit_reset{color:#fff;width:58px;height:23px;line-height:23px;}
.guest input.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.guest input.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;color:#666;}

.contact_con dt{color:#000;}
.contact_con dd{ background: url("images/contact_line.png") no-repeat left bottom;}

.pipe {color:#7a6866;}
#footer {margin-top:10px;color:#4a403f;padding-top:15px;line-height:26px;background:url("images/fwrap.png") repeat-x;height:72px;}
#footer a:link, #footer a:visited {color: #7a6866;}
#footer a:hover {color: #fff;}
#footer .support a:link, #footer .support a:visited{color: #4a403f;}