.colorPackerBox { position: absolute; width: 208px; overflow: hidden; border: 5px solid #333; z-index: 6 }
.div_cellBox { float: left; width:66px; }
.span_colorCell { float: left; width: 11px; height: 11px; border-right: 1px solid #000; border-bottom: 1px solid #000; text-indent: -999em; overflow: hidden; cursor: hand; cursor: pointer; }
.overShowbox { position: relative; background: #333333; padding: 0 0 1px; color: #fff; overflow: hidden; text-align: left; font-size: 11px;line-height: 20px;clear: both; }
.overShowbox span { display: -moz-inline-stack; display: inline-block; *display:inline;
*zoom:1;
height: 15px; line-height: 15px; vertical-align: middle; text-align: left; width: 58px; }
.overShowbox span.span_overBg { width: 40px; margin-right: 5px; }
.overShowbox span.span_close { font-size: 12px; position: absolute; top: 0px; right: 1px; width: 26px; cursor: hand; cursor: pointer;padding: 5px 0px; }