<!--{template /module/admin/view/head}-->
<div id="left_layout">
	<div id="main_content" class="container-fluid">
		<!--{template /module/admin/view/head_nav}-->
		<div class="row-fluid">
			<div class="span10">
				<div class="well widget">
					<!--{if $result->errcode}-->
						<h6>{lang wx.fans_data.view.errorcode}：{$result->errcode}，{$result->errmsg}。</h6>
					<!--{else}-->
						<h6>{lang wx.fans_data.view.loading}…</h6>
					<!--{/if}-->
				</div>
			</div>
		</div>
	</div>
</div>

<script>
setTimeout(function(){
	location.href = '{$ADMIN_SCRIPT}/wx/fans/_fetch&next_openid={$result->next_openid}';
}, 1000);
</script>

<!--{template /module/admin/view/foot}-->