body{background: #fff;}
h2, h3, h4, h5, h6 {font-size: 100%; font-family: "microsoft yahei";font-weight: normal;}
input[type=text], input[type=password]{width:350px;}
.wst-container{position: relative;}
.wst-logo-apply{position: absolute;top:0;left:0;width:100px;}
.stepflex{float:right;border-top:5px solid #ccc;text-align:center;margin:50px 0px 20px 50px;}
.stepflex dl{border-top:5px solid #ccc;float:left;position:relative;top:-5px;width:160px;}
dl.doing{border-top-color:#04bd3d;}
.wst-white-bg {
    background: #fff;
}
.apply-header-right{ float:right; height:42px; line-height:42px; padding:29px 0;}
.apply-header-right .apply-nav{ float:left; margin-right:55px;}
.apply-header-right .apply-nav li{ float:left; margin-left:38px;}
.apply-header-right .apply-nav a{ font-size:16px; color:#333;}
.apply-header-right .apply-nav a:hover,.apply-header-right .apply-nav li.curr a{ color:#f42424;}
.apply-header-right .tel{ float:right; font-size:28px; color:#f42424;}

.apply-title{ width:300px; margin:50px auto 40px; text-align:center;}
.apply-title .zw-tit{ font-size:30px; color:#333; background-color:#fff; position:relative;}
.apply-title .zw-tit h3{ background-color:#fff; padding:0 40px; display:inline-block; position:relative; z-index:9;}
.apply-title .zw-tit .line{ width:100%; height:1px; background:#f42424; position:absolute; top:50%; left:0; z-index:8;}
.apply-title .yw-tit{ font-size:14px; color:#8c8c8c;}

.apply-panel{ width:100%; height:385px; position:relative;}
.apply-panel .banner-auto{ width:1200px; margin:0 auto; position:relative;}
.apply-panel .s-b-tit{ text-align:center; color:#fff; padding-top:70px;}
.apply-panel .s-b-tit h3{ font-size:48px;}
.apply-panel .s-b-line{ border-bottom:1px dashed #fff; width:310px; margin:5px auto 0;}
.apply-panel .s-b-btn{ text-align:center; width:650px; margin:0 auto; overflow:hidden;}
.apply-panel .s-b-btn a{ background:url(join-btn-icon.png) no-repeat; color:#fff; font-size:18px; width:208px; height:86px; float:left; line-height:4.5; margin-top:60px;}
.apply-panel .s-b-btn .im-apply{ background-position:-6px 0px; margin-left:60px;}
.apply-panel .s-b-btn .check-prog{ background-position:-239px 0px; float:right;}
.apply-panel .s-b-btn .im-apply:hover{ background-position:-6px -92px;}
.apply-panel .s-b-btn .check-prog:hover{ background-position:-239px -92px;}
.apply-article{line-height: 25px;font-size:14px;}
.apply-article img{width: 100%;}

.apply-step-nav{ height:68px; border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;margin-top:10px;display:none;}
.apply-step-nav .title{ float:left;}
.apply-step-nav .title h3{ line-height:68px; margin-left:25px; font-size:18px; color:#333; font-weight:bold;}

.apply-r-btn{ position:absolute; right:40px; top:0;}
.apply-r-btn a{ font-size:14px; color:#fff; line-height:5; text-align:center;}
.apply-r-btn .applybnt{ background:url(join-btn-icon.png) -190px -193px no-repeat; width:155px; height:68px; float:left;}
.apply-r-btn .applybnt:hover{ background-position:0 -193px;}
.apply-r-btn .check-prog{ color:#f42424; float:left; margin-left:10px;}
.apply-r-btn .check-prog:hover{ text-decoration:underline;}

.doing .s-num{background-position:-23px 0;}
.s-num,.s-num1{color:#fff;font-weight: 700;height:23px;line-height:23px;margin:-15px auto 0;position:relative;width:23px;border-radius:25px;}
.s-num{background:#04bd3d;}
.s-num1{background:#ccc;}
.s-text1{line-height:30px;}
.s-text{line-height:30px;color:#04bd3d;}

table th{font-weight:normal; }
select{height:29px;}
body{background:#f8f8f8; }
.apply-pbox{padding-bottom: 20px;}
.webuploader-container{overflow:hidden;}
.apply-banner{width: 100%;height:320px;position: relative;z-index: 1;top:-8px;}
.apply-msg-box{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25); width: 280px; height: 300px;  z-index: 9; margin-top:30px; border-radius: 5px;}
.apply-msg-box h3{color:#fff;font: 600 17px/24px; color: #FFF; padding: 12px 10px 4px 10px; margin: 0 10px 10px;box-shadow: 0 1px 0 rgba(0,0,0,0.1);}
.apply-msg-box .title{color: #FFF;margin-top:10px;line-height:30px;padding-left:15px;padding-right:15px;}
.apply-msg-box ul{color: #FFF;padding-left:15px;padding-right:15px;height:149px;}
.apply-msg-box ul li{margin-top:30px;line-height:23px;list-style-type: disc;margin-left:15px;}
.apply-msg-box .bottom{border-radius:0 0 5px 5px;margin-top:10px;padding-top:10px;padding-bottom:10px;padding-left:7px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000'); background:rgba(0,0,0,0.5); text-align: center;}
.wst-slide{position: relative;height:350px;overflow:hidden;top:-320px;z-index:-1}
.apply-tips{color: #777;background-color: #EEE;width: 100%;height: 60px;}
.apply-tips .title{width: 60px;height: 48px;display: inline-block;padding: 6px 12px 6px 24px;}
.apply-tips .title i{background: url(../img/ic_volume_24x24.png) no-repeat 0px 0;display: block;width: 24px;height: 24px;float: left;margin: 13px 18px;}
.apply-tips .content{font: 12px/20px "microsoft yahei";vertical-align: top;display: inline-block;width: 920px;padding: 10px;}
.apply-step{font-size: 0;width: 800px;height: 110px;margin: 30px auto;overflow: hidden;}
.apply-step span { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; *zoom: 1;}
.apply-step span.step { color:#777;line-height: 20px; text-align: center; width: 80px;}
.apply-step span.step i { background: url(../img/btn_80x80.png) no-repeat; display: block; width: 80px; height: 80px; margin-bottom: 10px;}
.apply-step span.step i.a { background-position: -12px 0px;}
.apply-step span.step i.b { background-position: -94px 0px;}
.apply-step span.step i.c { background-position: -176px 0px;}
.apply-step span.step i.d { background-position: -258px 0px;}
.apply-step span.step i.e { background-position: -340px 0px;}
.apply-step span.arrow { background: url(../img/btn_80x80.png) no-repeat -439px -30px; width: 60px; height: 22px; margin: 0 20px;margin-top:-25px;}
.apply-step-head{margin-top:20px;border-bottom:dotted 1px #CCC;font-weight:600;font-size:16px;line-height:30px;padding-left:10px;}

.agreement-table .c-tip{color: #b3b3b3;margin-bottom: 10px;}

.main-head{font-size: 20px;font-weight: bold;color: #000;height: 68px;line-height: 68px;border-bottom: 1px solid #eeeeee; margin-bottom: 20px;padding-left: 20px;}
.apply-box {padding: 5px 0px 0px 5px;}
.apply-agreement-box{height:450px;border:1px solid #eeeeee;padding:5px;overflow:auto;margin:0 auto;border-top:0;padding:20px;line-height:25px;}
.apply-agreement-box .tip{color:gray}
.agreement-table{width:100%;margin-bottom:10px;}
.agreement-table th{text-align: right;width:210px;padding-right: 20px;}
.agreement-table td{text-align: left;padding: 5px}
.agreement-table .head-ititle{background:url('../img/img_seller_ggjt.png') no-repeat 5px 4px;padding-left:28px;padding-bottom:20px;font-weight:bold;}
.agreement-table input[type=text]{margin:2px;width: 400px;}
.agreement-table textarea{margin:2px;}
.agreement_box{text-align:center;margin-top:5px;line-height: 30px;}
.agreement-bottom{padding:10px 5px;text-align: center;margin-top: 25px;}
.examine-tips{text-align: center;width:100%;padding-top:60px;padding-bottom:80px;font-weight: 600;font-size:16px;color:#999;}
label{margin-right:20px;}
.webuploader-pick{padding:3px 10px;}
.goodsCat{width:140px;margin-right:20px;float:left;}

.wst-tab-box {width: 100%;height: auto;margin: 0px auto;background: #ffffff;margin-top:10px;}
.wst-tab-nav {margin: 0;padding: 0;height: 35px;top: 0px;z-index: 30;background: #ffffff;width:100%;border-bottom: 1px solid #eeeeee;border-left: 1px solid #eeeeee}
.wst-tab-nav li {width:23.24%;cursor: pointer;float: left;margin: 0 0px;list-style: none;border: 1px solid #eee;border-bottom: none;border-left: none;line-height: 34px;text-align: center;color: #000000;padding-left: 10px;padding-right: 10px;}
.wst-tab-nav .on {border-top: 1px solid #ff2704;border-bottom: 1px solid #ffffff;color: #ff2704;font-weight:bold;}
.wst-tab-content {padding: 5px;width: 99%;height: auto;border: 1px solid #eee;border-top:none;background: #FFF;}


.freight-bg input{margin: 0}
.freight-bg{position:absolute;top:0;right:0;width:280px;height:120px;z-index: 100;background:rgb(86, 251, 214);font-size:12px;opacity:0.9;}
.freight-pbox{position:absolute;top:0;right:0;width:280px;height:120px;z-index: 101;font-size:12px;}
.freight-item{position:relative;}
.freight-item:hover{border:1px dotted rgb(255, 68, 0);cursor: pointer;}
.add-btn{margin-left:143px;cursor: pointer;}
.add-btn:hover{color:red}
#freight-box input{padding:5px 0 5px 4px;}

.btn-cancel{height:40px;line-height:40px;}
.btn-submit{height:40px;line-height:40px;}


.apply-industry-pbox{min-height:450px;padding:5px;overflow:auto;margin:0 auto;border-top:0;padding:20px;line-height:25px;text-align: center;}
.apply-industry-pbox ul li{display: inline-block;vertical-align: top;width: 19%;text-align: center;height: 260px;}
.apply-industry-pbox .imgbox{height: 120px;width: 120px;line-height: 120px;border-radius: 200px;background: #fff;margin: 0 auto;cursor: pointer;}
.apply-industry-pbox .img{width: 80px;height: 80px;vertical-align: middle;transition: 0.3s ease-in-out;border-radius: 100px;}
.apply-industry-pbox .img:hover{
	transform: scale(1.3);
}
.apply-industry-pbox .name{color: #333;font-weight: bold;font-size: 20px;margin-top: 20px;line-height: 40px;}
.apply-industry-pbox .subtitle{color: #666;font-size: 12px;line-height: 20px;padding: 0 20px;}

#totalCatFee{color:red;}
/**支付方式**/
.pay-box{border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-top:1px solid #eeeeee;padding:5px 0px 10px 10px;}
.pay-boxs{padding:0 20px;border-bottom: 1px solid #fff;}
.pay-box ul{padding-left:15px;}
.pay-box ul li{width:1185px;}
.pay-box .label{width:200px;float:left;height:30px;line-height:30px;}
.pay-box .txt{height:auto;line-height:30px;width:985px;float:left;color:#999999;}
.pay-sbox{border:1px solid #eeeeee;padding:5px 0px;}
.pay-sbox-head{border-bottom: 2px solid #ddd;line-height:35px;}
.pay-tip1{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -10px;background-size: cover; }
.pay-tip2{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -71px;background-size: cover; }
.pay-tip3{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -132px;background-size: cover; }
.pay-sbox .qrcode-box{min-height: 300px;height: auto;}
.pay-sbox .tips-box{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .qrcode-box .pbox{text-align: center;margin-top: 10px;font-weight: bold;}
.pay-sbox .wst-qrcode{width:260px;height:260px;text-align:center;margin:0 auto;}
.pay-sbox .wst-qrcode img{width:260px;height:260px;}
.pay-sbox .bnt-box{text-align:center;font-weight: bold;padding:5px 10px;line-height:50px;}
.pay-sbox .pay-type{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .pay-list{text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .succ-box{text-align: center;padding: 50px;}
.wst-payCode-weixinpays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-weixinpays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.pay-sbox{border:1px solid #eeeeee;padding:5px 0px;}
.pay-sbox .balance-box{min-height: 300px;height: auto;}
.pay-sbox .balance-box .pbox{text-align: center;padding-top: 40px;font-weight: bold;}
.pay-sbox .balance-box .pbox2{text-align: center;padding-top: 10px;font-weight: bold;}
.pbox-tip{color:#0ae;margin-left:10px;}
.pay-btn{background: #eb5f43 none repeat scroll 0 0;border: 1px solid #d33110;border-radius: 3px;color: #ffffff;cursor: pointer;outline: medium none;}
.pay-sbox .wst-pay-bnt {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px 0px;cursor:pointer;}
.pay-sbox .wst-pay-bnt:hover {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px -57px;cursor:pointer;}
.wst-wallet-box{border:1px solid #ddd;margin:10px;padding:5px;line-height: 35px;height:40px;}
.wst-wallet-box .wst-wallte-item{background:url("../img/icon_qianbaoyue.png") no-repeat;padding-left:30px;height:30px;margin-top:5px;float:left;}