<include file="Admin:header" />

<table width="100%" height="31px" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">网站设置	</div></td>
      </tr>
    </table>

<div class="main">
    
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="__URL__/modify_system">
		
		<input type="hidden" name="id" class="inp_one inp_w250" value="<{$id}>" />
		<dl>
			<dt> 网站名称：</dt>
			<dd>
				<input type="text" name="config_webname" class="inp_one inp_w250" value="<{$config_webname}>" />
			</dd>			
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
			
		<dl>
			<dt> 网站标题：</dt>
			<dd>
				<input type="text" name="config_webtitle" class="inp_one inp_w250" value="<{$config_webtitle}>" />
				 站点title的设置
			</dd>
			
			<dd></dd>
		</dl>	
		
		<dl>
			<dt> 站点关键词：</dt>
			<dd>
				<input type="text" name="config_webkw" class="inp_one inp_w250" value="<{$config_webkw}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		<dl>
			<dt> 站点描述：</dt>
			<dd>
				<textarea name="config_cp" class="tarea_default"><{$config_cp}></textarea><br/>
				
			</dd>
		</dl>	
		<dl>
			<dt> 网站版权信息：</dt>
			<dd>
				<textarea name="config_powerby" class="tarea_default"><{$config_powerby}></textarea><br/>
				
			</dd>
		</dl>
		<dl>
			<dt> 网站备案号：</dt>
			<dd>
				<input type="text" name="config_icp" class="inp_one inp_w250" value="<{$config_icp}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		
		<dl>
			<dt>公司名称：</dt>
			<dd>
				<input type="text" name="config_name" class="inp_one inp_w250" value="<{$config_name}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		
		
		<dl>
			<dt> 公司介绍：</dt>
			<dd>
				<textarea name="config_company" class="tarea_default"><{$config_company}></textarea><br/>
				
			</dd>
		</dl>

		

		<dl>
			<dt>公司地址：</dt>
			<dd>
				<input type="text" name="config_address" class="inp_one inp_w250" value="<{$config_address}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>

		<dl>
			<dt>公司电话：</dt>
			<dd>
				<input type="text" name="config_tel" class="inp_one inp_w250" value="<{$config_tel}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		
		<dl>
			<dt>公司网址：</dt>
			<dd>
				<input type="text" name="config_weburl" class="inp_one inp_w250" value="<{$config_weburl}>" />
				&nbsp;注:链接不带http://
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		
		<dl>
			<dt>客服QQ：</dt>
			<dd>
				<input type="text" name="config_qq" class="inp_one inp_w250" value="<{$config_qq}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>		
		
		<dl>
			<dt>客服邮箱：</dt>
			<dd>
				<input type="text" name="config_email" class="inp_one inp_w250" value="<{$config_email}>" />
			</dd>
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
	

		</div>
		<div class="form_b">
			<input type="submit" class="btn_blue" id="submit" value="提 交">
		</div>
	   </form>
	</div>
<include file="Pubilc:copyright" />
</body>
</html>
