<include file="Admin:header" />

<table width="100%" height="31px" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">电脑版缓存</div></td>
      </tr>
    </table>

<div class="main">
    
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="__URL__/do_pcruntime" >
		
		<dl>
			<dt>PC端静态缓存：</dt>
			<dd>
				<input type="hidden" value="<{$Think.config.HTML_CACHE_ON__HOME}>" />

				<input type="radio" name='HTML_CACHE_ON__HOME' value='true'  <if condition="C('HTML_CACHE_ON__HOME') eq 1">checked="checked"</if> />开启电脑版缓存
				<input type="radio" name='HTML_CACHE_ON__HOME' value='false'  <if condition="C('HTML_CACHE_ON__HOME') eq 0">checked="checked"</if> />关闭电脑版缓存

			</dd>		
			<dd class="desc"></dd>
			<dd></dd>
		</dl>		
		
		<dl>
			<dt> 缓存规则：</dt>
			<dd>
			<div>缓存时间(秒)：0为永久缓存</div>					
			</dd>			
			<dd class="desc"></dd>
			<dd></dd>
		</dl>
		
		
		<dl>
			<dt></dt>
			<dd>
				首页缓存时间：<input type="text" name="HTML_TIME_INDEX__HOME" class="inp_one inp_w250" value="<{$Think.config.HTML_TIME_INDEX__HOME}>" />
			</dd>

		</dl>
		
		<dl>
			<dt></dt>
			<dd>
				栏目缓存时间：<input type="text" name="HTML_TIME_GROUP__HOME" class="inp_one inp_w250" value="<{$Think.config.HTML_TIME_GROUP__HOME}>" />
			</dd>

		</dl>
		
		<dl>
			<dt></dt>
			<dd>
				文章缓存时间：<input type="text" name="HTML_TIME_DETAIL__HOME" class="inp_one inp_w250" value="<{$Think.config.HTML_TIME_DETAIL__HOME}>" />
			</dd>

		</dl>
		
		
		

		</div>
		<div class="form_b">
			<input type="submit" class="btn_blue" id="submit" value="提 交">
		</div>
	   </form>
	</div>
<include file="Pubilc:copyright" />
</body>
</html>
