{extend name="admin@public/base_content" /}
{block name="main-content"}
    <div class="page-content">
        <!--主题-->
        <div class="page-header">
            <h1>
                您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    个人中心
                </small>
            </h1>
        </div>
        <div>
            <div id="user-profile-1" class="user-profile row">
                <div class="col-xs-12 col-sm-3 center">
                    <div>
                        <!-- #section:pages/profile.picture -->
                        <span class="profile-picture">
                            <a href="#">
                                <img id="jcrop_avatar_img" class="editable" src="{$admin['avatar']|get_imgurl=2}" width="150"  data-toggle="modal" data-target="#jcrop_avatar_modal" />
                            </a>
                        </span>

                        <!-- /section:pages/profile.picture -->
                        <div class="space-4"></div>
                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <a href="{:url('admin/Admin/authGroupSetting',array('id'=>$admin['group_id']))}" class="user-title-label" title="配置权限">
                                    <i class="ace-icon fa fa-circle light-green"></i>
                                    &nbsp
                                    <span class="white">{$admin['title']}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space-6"></div>

                    <!-- #section:pages/profile.contact -->
                    <div class="profile-contact-info">
                        <div class="profile-contact-links align-left">
                            <a class="btn btn-link yf-modal-open" href="javascript:;" data-title="修改" data-url="{:url('admin/Admin/adminEdit')}" data-id="{$admin.id}" data-return="admin/Admin/profile">
                                <i class="ace-icon fa fa-pencil bigger-120 green"></i>
                                修改个人信息
                            </a>
                        </div>
                        <div class="space-6"></div>
                    </div>

                    <!-- /section:pages/profile.contact -->
                    <div class="hr hr12 dotted"></div>

                    <!-- #section:custom/extra.grid -->
                    <div class="clearfix">
                        <div class="grid2">
                            <span class="bigger-175 blue">{$admin['logtimes']}</span>

                            <br />
                            登录次数
                        </div>

                        <div class="grid2">
                            <a href="">
                                <span class="bigger-175 blue">{$admin['news_count']}</span>
                            </a>
                            <br />
                            文章数
                        </div>
                    </div>

                    <!-- /section:custom/extra.grid -->
                    <div class="hr hr16 dotted"></div>
                </div>

                <div class="col-xs-12 col-sm-9">

                    <!-- #section:pages/profile.info -->
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 用户名 </div>

                            <div class="profile-info-value">
                                <span class="editable" id="username">{$admin['username']}</span>
                            </div>
                        </div>


                        <div class="profile-info-row">
                            <div class="profile-info-name"> 真实姓名 </div>

                            <div class="profile-info-value">
                                <span class="editable" id="realname">{$admin.realname|default='未设置'}</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 上次登录时间 </div>

                            <div class="profile-info-value">
                                <span class="editable" id="lasttime">{if condition="$admin.last_time eq ''"}未登陆过{else /}{$admin.last_time|date="Y-m-d H:i:s"}{/if}</span>		</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 本次登录IP </div>

                            <div class="profile-info-value">
                                <span class="editable" id="loginip">{$admin.last_ip}</span>
                            </div>
                        </div>
                    </div>

                    <!-- /section:pages/profile.info -->
                    <div class="space-20"></div>

                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-small">
                            <h4 class="widget-title blue profile-info-name">
                                <i class="ace-icon fa fa-rss orange"></i>
                                消息动态
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <!-- #section:pages/profile.feed -->
                                <div id="profile-feed-1" class="profile-feed">

                                    <!-- /section:pages/profile.feed -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file='admin@public:jcrop' /}
{/block}
{block name="scripts"}
<script  type="text/javascript" src="{$static_path}/shearphoto/js/ShearPhoto.js" ></script>
<script  type="text/javascript"  src="{$static_path}/shearphoto/js/alloyimage.js" ></script>
<script  type="text/javascript"  src="{$static_path}/shearphoto/js/handle.js" ></script>
{/block}

