<extend name="public/base"/>

<block name="content">


    <!--内容栏start-->

        <div class="row  ">
    <div class="col-md-10 content">
    <br/>   
    <ul class="nav nav-tabs">
      <li ><a href="{:U('Index/index')}">作业设计</a></li>
      <li ><a href="{:U('Index/searchHomework')}">作业查询</a></li>
      <li class="active"><a href="{:U('Index/showHomework')}">作业浏览</a></li>
   </ul>
   <div class="weekblock"}
	 <!-- 标题栏 -->	  
    <h4 class="center">最近作业查询</h4> 
    <!-- 表单start -->      
        <form method='get' id="form" name="form"  action="{:U('Index/showHomework')}" >
           <h5>请选择要查询的周次： <button type="submit" class="btn btn-success">查询</button></h5>
          
          <for start="1" end="24">
             <div class="weeklist" >            
                <input name="week" type="checkbox" value="第{$i}周" />第{$i}周  
             </div>            
         </for> 

      </form>
    </div>
    <!-- 表单end -->     
    <hr/> 


    <!-- 数据列表 -->
 
   
     <notempty name="list">
      <volist name="list" id="vo">

      <div class="label label-primary" >
      <h5>{$i} . {$vo.week}  {$vo.grade} {$vo.subject} </h5>

         <h5>发布日期：<if condition="($vo.update eq 0)">
             &nbsp； 
          <else/>
            {$vo.update|date='Y-m-d H:m',###}
        </if>
        </h5>

        </div>
   
        <div class="hero-unit">{$vo.content}</div>
        <hr>

      </volist>
      <else/>
            <div colspan="8" class="text-center"> aOh! 暂时还没有作业内容! </div>
      </notempty>
   
    <!-- 数据列表 end-->
 </div> 
</div>

</block>

