<extend name="Config/groups" />
<block name="extra">
<div class="con">
        <form class="AjaxForm mtp10" data-action="{:U('emailTest')}" method="post" >
            <table class="bordered color">

<tr>
    <th colspan="2">邮箱发送测试</th>
</tr>
<tr>
    <td>收件人邮件地址:</td>
    <td>
        <input type="text" name="email" >
        <span class="input-tip">收件人邮件地址,例如admin@163.com</span>
    </td>
</tr>
<tr>
    <td>邮件标题:</td>
    <td>
        <input type="text" name="title" >
        <span class="input-tip">请填写邮件标题</span>
    </td>
</tr>
<tr>
    <td>邮件正文:</td>
    <td>
        <textarea name="content"></textarea>
        <span class="input-tip">请填写邮件正文</span>
    </td>
</tr>
                <tr>
                    <td class="td-2" colspan="2">
                        <input type="submit" class="btn-big btn-blue" value="发送测试邮件">
                    </td>
                </tr>
            </table>
        </form>
</div>
</block>