.news-wrap {
  min-height: 400px;
}
.news-wrap .common_block_border {
  margin-bottom: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}
.news-wrap .list-wrap {
  padding: 0 20px;
}
.news-wrap .list-wrap #contents {
  padding: 20px;
}
.news-wrap .list-wrap #contents .title {
  margin-top: 0;
  width: 100%;
}
.news-wrap .list-wrap #contents .author {
  color: #999;
}
.news-wrap .list-wrap #contents .author a {
  color: #999;
}
.news-wrap .list-wrap #contents .author a:hover {
  color: #333;
}
.news-wrap .list-wrap #contents .if-none {
  font-size: 3em;
  padding: 2em 0;
  color: #ccc;
  text-align: center;
}
.news-wrap .list-wrap #contents .view-icon {
  position: absolute;
  right: 10px;
  bottom: 0;
}
.news-wrap .list-wrap #contents img {
  width: 200px;
  height: 146px;
}
.boxShadowBorder {
  background: #fff;
  padding-top: 20px;
}
.boxShadowBorder .aline {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}
.boxShadowBorder .controls .upload-img-box {
  margin-top: 20px;
}
.boxShadowBorder .controls .upload-img-box .upload-pre-item .no-cover {
  font-size: 3em;
  padding: 2em 0;
  color: #ccc;
  text-align: center;
}
.uploadcover {
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.5);
  border-color: #2f7a51;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.news-content * {
  max-width: 100%;
}
.illegal-status {
  margin: 40px 0 10px;
  border: 1px solid #FF6600;
}
.illegal-status-b {
  margin: 5px 0 10px;
  border: 1px solid #FF6600;
}
.illegal-info {
  padding: 5px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #FF6600;
}
.news-banner {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.news-banner img {
  margin: 0 auto;
}
