.btn {
  border-radius: 2px;
  border:0;
}
.section {
  padding: 0;
}

.common_content_box {
  padding:0;
}
.common_content_box .news-list-box {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.common_content_box .news-list-box:hover{
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.common_content_box .news-list-box .topic {
  display:block;
}
@media screen and (max-width:768px){
  .common_content_box .news-list-box .topic {
    display:block;
    height:200px;
    overflow:hidden;
  }
}
.common_content_box .news-list-box .img-box {
  display:table-cell;
  height:auto;
}
@media screen and (max-width:768px){
  .common_content_box .news-list-box .img-box {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width:1%;
  }
}
.common_content_box .news-list-box .img-box .img-md {
  width:100%;
}
.common_content_box .news-list-box .con p {
  margin-top: 10px;
  color: #999;
}
#contents {
  padding: 0;
}
#contents .title {
  margin-top: 0;
  line-height:28px;
}
#contents .title  a{
  font-size:18px;
  font-weight:bold;
  color:#333;
}

#contents .author {
  color: #999;
}
#contents .author a {
  color: #999;
}
#contents .author a:hover {
  color: #333;
}
.right_block {
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  background:#fff;
  margin-bottom: 10px;
}
.right_block .right_block_title {
  padding:10px;
}
.right_block .right_block_title h3{
  margin-top:0;
}
.boxShadowBorder {
  background: #fff;
  padding-top: 20px;
}
.aline {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
}
.uploadcover {
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.5);
  border-color: #2f7a51;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.news_position {
  background:#fff;
  margin-top:15px;
}
/*文章栏目菜单*/
.articles-nav-box {
  margin:0 auto 0 auto;
  width:100%;
  overflow:hidden;
}
.articles-nav-box .swiper-slide {
    width: auto;
}
.articles-nav-box li {
  list-style: none;
}
.articles-nav-box li a{
  display:block;
  padding: 0 20px;
  line-height: 42px;
  font-size:16px;
  font-weight:600;
}
.articles-nav-box li.active a{
  display:block;
  line-height: 42px;
  font-size:16px;
  font-weight:600;
  border-bottom: 2px solid #ff6600;
}
/*幻灯 Swiper*/
.articles-slide {
  margin-bottom:15px;
}
.articles-slide .swiper-slide {
  border-radius: 5px;
  overflow:hidden;
 }
.articles-slide .swiper-slide img{
  
 }
.articles-slide .swiper-slide .title{
  position: absolute;
  width:100%;
  padding:10px;
  bottom:0;
  background:rgba(0,0,0,0.5);
  border-radius: 0 0 5px 5px;
 }
 .articles-slide .swiper-slide .title a{
  color:#fff;
 }
/*推荐*/
.recommended {
  margin-bottom:15px;
}
.recommended-box {
  position:relative;
  background:#fff;
  border-radius: 5px;
}
.recommended-box .cover {
  display:block;
  border-radius: 5px;
  overflow:hidden;
}
.recommended-box img{
  border-radius: 5px;
  -webkit-transition: .7s;
  transition: .7s;
}
.recommended-box img:hover{
    transform:scale(1.2);//设置缩放比例
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -moz-transform:scale(1.2);
}
.recommended-con {
  position: absolute;
  background:rgba(0,0,0,0.5);
  width:100%;
  bottom:0;
  padding:10px;
}
.recommended-con a {
  color:#fff;
}
.recommended-con a:hover {
  color:#fff;
}
/**热门文章**/
.articles-hot {
  border-top:2px solid #03b8cf;
}
.articles-hot_title {
  padding:15px;
}
.articles-hot_title h3 {
  margin:10px auto;
}
.hot-con {
  width:100%;
  overflow:hidden;
}
.articles-hot .cover {
  position:relative;
  display: block;
  border-radius: 3px;
  overflow: hidden;
}
.articles-hot .cover .order {
  position:absolute;
  background:rgba(0,0,0,0.5);
  width:20px;
  height:20px;
  top:0;
  color:#fff;
  text-align: center;
  line-height: 20px;
  border-radius: 3px;
}
.articles-hot .cover .order.red {
  width:60px;
  background:red;
}
.articles-hot .cover .order.yellow {
  width:60px;
  background:#ff6600;
}
.detail_box {
  background:#fff;
}
.detail_box .common_block_title {
  padding:20px;

}
.detail_box .common_block_title .title{
  margin:30px auto;
}
.detail_box .common_block_title .author{
  margin:15px auto;
}
.detail_box .cover img{
  width:100%;
}
.detail_box .news-content {
  padding:20px;
  font-size:1.2em;
}
.detail_box .news-content * {
  max-width: 100%;
}
.author_info {
}
.author_info .author_num{
  text-align: center;
}
.author_info .num{
  display:inline-block;
  padding:20px;
  margin:15px auto;
  text-align:center;
  background:#eee;
  border:1px solid #f2f2f2;
}
.keywords-box {
  margin:15px auto 5px auto;
}
.keywords {
  background:#f90;
  color:#fff;
  padding:5px;
  margin:5px;
}

