RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteRule ^([\w\_\-\/]+).do(\?.*|$) index.php?c=$1&_ext=do&%{QUERY_STRING}
RewriteRule ^([\w\_\-\/]+).(htm|html)(\?.*|$) index.php?_c=$1&_ext=html&%{QUERY_STRING}

ErrorDocument 404 ~dudu~dudu

FileETag none