/*controls*/
.jp-controls {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
}
.jp-controls a{
	cursor: pointer;
	display: inline-block;
	padding: 10px 5px;
}

.jp-controls a i{
	line-height: inherit;
}
.jp-controls > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 40px;
	height: 60px;
}
div.jp-progress{
	display:block;
	margin: 0 auto;
	width:auto;
	overflow:hidden;
	vertical-align: top;
	position: relative;
}
.jp-seek-bar{
	width:100%;
	overflow:hidden;	
	position: relative;
	background: #000;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.jp-title{
	position: absolute;
	left: 25px;
	top: 0;
	right: 25px;
	font-weight:800;
	display: block !important;
	line-height: 60px;
	z-index:10;
}
.jp-title ul{
	list-style: none;
	margin: 0;
	padding: 0;	
}

.jp-title li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jp-artist{
	opacity: 0.6;
}

.jp-play-bar{
	z-index:10;
	height: 60px;
	border-right: 1px solid #ddd;
}
.jp-volume{
	width: 60px !important;
	padding-right:10px !important;
}
.jp-volume-bar-value{
  height: 6px;
}
a.hid{
	display: none;
}

/*video*/
.jp-video{
	font-size: 0;
	line-height: 0;
	min-height: 160px;
}
.jp-video-play{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	cursor: pointer;
	margin-left: -30px;
	margin-top: -65px;
}
.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width:480px;
	height:270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position:static !important; position:relative;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
.jp-video-full div div {
	z-index:1000;
}

.jp-video-full .jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
}

.jp-video-full .jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:1001; /* 1 layer above the others. */
}

.jp-video-full .jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
}


/*playlist*/
.jp-playlist {
	position: absolute;
	bottom: 61px;
	left: 180px;
	border-radius:4px;
	display: none !important;
}
.jp-playlist h4{
	font-size:12px;
	padding: 12px 15px 9px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.jp-playlist ul{
	max-height: 320px;
	overflow-x: hidden;
	overflow-y: auto; 
	padding: 0;
}

.jp-playlist.open {
	display: block !important;	
}

.jp-playlist li{
	list-style: none;
	position: relative;
}

.jp-playlist-item{	
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-top: 1px solid rgba(255, 255, 255, .1);
	padding: 12px 40px 12px 8px;
}
.jp-playlist-item:focus{
	outline: 0;
}

.jp-playlist-item:before{
	display: inline-block;
	text-align: center;
	width: 30px;
	font-family: FontAwesome;
	content:"\f0da";
	opacity: 0.6;
}

a.jp-playlist-current:before{
	content:"\f144";
	opacity: 1;
}

.jp-playlist li:first-child .jp-playlist-item{
	border-width: 0;
}

.jp-playlist-item-remove{
	font-size: 15px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 11px 18px;
	opacity: 0.6;
}


@media (max-width: 767px) {
	.footer .jp-gui{
		margin: 0 -10px;
	}
	div.jp-progress{
		padding: 0 10px;
	}
	.jp-playlist{
		display: none !important;
		bottom:60px;
		left: 0px;
		right: 0px;
		border-radius:4px; 
	}
	.jp-playlist.open {
	display: block !important;	
	}
}

/* 播放器 */
.player{
	background-color: #313030;
    color: #c9d0d7;
    bottom: -87px;
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity:0.9;
    border-top: 1px solid #000; 
    
}
.player a:hover  {
	color:#0787c4;
}
.player .jp-play, .player .jp-pause{
	font-size:32px;
	font-weight: 800;
}
.player .jp-previous, .player .jp-next{
	font-size:16px;
	font-weight: 800;
}

.player .dker {
	opacity:1;
    background-color: #313030;
}

.player .bg-info {
    background-color: #0787c4;
    opacity:0.5;
    color: #eee;
}

.player .artist img{
	width:60px;
	height:60px;
	border-radius: 500px;
}
.player .bg-empty {
    background-color: transparent;
}

.player .b-dark {
    border-color: #657789;
}
.bg-empty:hover, .bg-empty:focus {
    color: #0787c4;
}
.player  .b-b {
	border: 0 none;
    border-bottom: 1px solid #eaeef1;
    border-radius:0px; 
}
.player .footer-md{
	padding-right:50px;
}
.player  .b-b:focus {
    box-shadow: none;
    border-color:#545ca6;
}

.player  .dk {
   background-color: #000;
}
.player .lter {
    background-color: #0787c4;
}
.player a.lock-off , .player a.lock-on {
	padding:5px 10px 0px 10px;
	background-color: #313030;
	border: 1px solid #000;
	position:absolute; 
	top:-26px; 
	right:0px;
	border-radius:4px 4px 0px 0px;
	border-bottom: 0 none;
	font-size:16px;
	color:#999;
}


.jp-play-me .hde, .jp-play-me.active .sow{
	display: none;
}
.jp-play-me.active .hde, .jp-play-me .sow{
	display:inline-block;
}
.pause .jp-play-me .fa{
	color:#34495e;
}
/** 单曲播放 **/
.bg-info.dker, .bg-info .dker {
    background-color: #2ea0b6;
}

.bg-info.dk, .bg-info .dk {
    background-color: #36b0c8;
}
.jp-controls .d-play {
	width: 60px;
}

.single .play-btn{
	width: 50px;
	background: none repeat scroll 0 0 #262c34;
}

.shadow.single {
    box-shadow:1px 0 2px 2px rgba(0, 0, 0, 0.1);
}

.shadow .jp-seek-bar{
	background: #ecf0f1;
}

.shadow .jp-play-bar{
	background: #e74c3c;
	opacity: 0.5;
}

/*****/
.lrc_content {
	width: 100%; height:70px;overflow:hidden;padding:5px;
    position: absolute;
    right: 0;
    top: 0;
	z-index: 10;
}
#lrc_list{margin:10px auto;}
#lrc_list li{font:normal 15px/10 'microsoft yahei';text-align:center;text-shadow: 2px 1px 1px #eee;}
#lrc_list li.hover {color:red;font-weight:bold;}

