{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% from 'BluehouseappWebBundle:Macros:actions.html.twig' import create %}
{% block title %}  添加屏蔽IP{% endblock %}
{% block body -%}
    <h1>添加禁用IP</h1>
{{ form_errors(form) }}

<form action="{{ path('bluehouseapp_banedIPs_create')}}" method="post" class="form-horizontal">
    <input type="hidden" name="_method" value="POST">
    {{ form_rest(form) }}
    {{ create(path('bluehouseapp_banedIPs_index')) }}
</form>

{% endblock %}
