{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% from 'BluehouseappWebBundle:Macros:actions.html.twig' import update %}

{% block title %}  修改分类{% endblock %}

{% block body -%}
    {%  set entity=category %}
    <h2>修改分类</h2>
    {{ form_errors(form) }}
    <form action="{{ path('bluehouseapp_category_edit', {'id': entity.id}) }}" method="post" class="form-horizontal"  role="form">
        <input type="hidden" name="_method" value="PUT">
        {{ form_rest(form) }}

        {{ update(path('bluehouseapp_category_index')) }}
    </form>




{% endblock %}
