<php>
    if(ACTION_NAME=='information'){ $tabClass['user_data'] = 'active'; }
    elseif(ACTION_NAME=='fans'||ACTION_NAME=='following'){ $tabClass['user_fans'] = 'active'; }
    elseif(ACTION_NAME=='rankverify'||ACTION_NAME=='rank'||ACTION_NAME=='rankverifyfailure'||ACTION_NAME=='rankverifywait'){ $tabClass['user_rank'] = 'active'; }
    else{ $tabClass[$type] = 'active'; }
</php>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="pnav-box">
        <ul class="nav nav-secondary pnav-list">
            <volist name='appArr' id='vo'>
                <li class="{$tabClass[$key]}"><a href="{:U('appList',array('type'=>$key,'uid'=>$user_info['uid']))}"  class="{$tabClass[$key]}">{$vo.title}</a></li>
            </volist>
            <li class="{$tabClass.user_data}">
                <a href="{:U('information',array('uid'=>$user_info['uid']))}" >{:L('_INFORMATION_')}</a>
            </li>
            <li class="{$tabClass.user_rank}">
                <a href="{:U('rank',array('uid'=>$user_info['uid']))}" >{:L('_RANK_TITLE_')}</a>
            </li>
            <li class="{$tabClass.user_fans}">
                <a href="{:U('following',array('uid'=>$user_info['uid']))}">{:L('_FOLLOWERS_NO_SPACE_')}{:L('_SLASH_')}{:L('_FANS_')}</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
