@charset "utf-8";
#container {
	text-align: left;
	height: 100%;
	width: 100%;
  min-width: 970px;
}
.box {
	max-width: 970px;
	margin: 0 auto;
	position: relative;
  min-height: 600px;
  height: 100%;
  width: 100%;
}
.left200 {
	float: left;
	width: 200px;
}
.right725 {
	float: right;
	width: 730px;
}
.backTop {
	position: absolute;
	right: -70px;
	bottom: 10px;
}
.backTop a {
	display: block;
	width: 48px;
	height: 48px;
	background: url(../images/base/btn_top.gif) no-repeat;
}
.backTop a:hover {
	background-position: left bottom;
}
.aboutBox .backTop {
	bottom: 60px;
}
.productBox .backTop {
	bottom: 180px;
}
.investorBox .backTop {
	bottom: 140px;
}
.legalBox .backTop,.sitemapBox backTop {
	bottom: 60px;
}
#main {
	position: relative;
	z-index: 1;
}
.homebk_product{
	position: relative;
	width: 100%;
  min-height:770px;
  background: #d5eaf1;
}
.breadcrumb {
	height: 100%;
	overflow: hidden;
	clear: both;
	line-height: 15px;
	color: #333;
	padding: 5px 0 15px 0;
}
.breadcrumb a {
	color: #093d72;
}
.breadcrumb a:hover {
	text-decoration: underline;
}

/*****************/
.home_container{
  height:170px;
}
.homebanner {
	overflow: hidden;
	position: relative;
  width:970px;
  margin: 0 auto;
}
.homebanner .slides_container {
	position: relative;
	z-index: 1;
  width: 900px;
  margin: 0 auto;
}
.homebanner .slides_container ul li{
  width: 170px;
  margin-top: 40px;
}
.homebanner .slides_container ul li:hover{
  margin-top: 5px;
}
.homebanner .slides_container .list {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.homebanner .slides_container .list dl {
	float: left;
	width: 170px;
	padding-left: 10px;
  margin-top: 48px;
  height:auto;
}
.homebanner .slides_container .list dl:hover{
/*
	margin-top: 10px;
  height:160px;
filter:alpha(opacity=30);
-moz-opacity:0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
*/
}
.homebanner .slides_container .list dl dt {
	float: left;
	width: 145px;
	text-align: right;
}
.homebanner .slides_container .list dl dt img {
  width:100%;
  max-height:120px;
  height:auto;
}
.no-show {
  display:none;
}
.homebanner .slides_container .list dl dt img:hover {
  margin-top: -30px;
}
.homebanner .slides_container .list dl dd {
	display: block;
	margin-left: 145px;
	padding-top: 40px;
}
.homebanner .slides_container .list dl dd h3 {
	font-size: 11px;
	color: #333;
	text-transform: uppercase;
}
.homebanner .slides_container .list dl  a {
	color: #333;
}
.homebanner .slides_container .list dl  a:hover {
	color: #1fb25a;
}
.homebanner .slides_container .list dl dd p {
	display: block;
	margin-top: 10px;
	line-height: 16px;
	color: #888;
	font-size: 11px;
}
.homebanner a.prev {
	display: block;
	position: absolute;
	z-index: 2;
	width: 38px;
	padding-left: 0px;
	height: 81px;
	overflow: hidden;
	background: url(../images/base/bn_slide.png) no-repeat 0 0px;
	left: -32px;
	top: 50px;
}
.homebanner a.prev:hover {
	background-position: 0 -81px;
}
.homebanner a.next {
	display: block;
	position: absolute;
	z-index: 2;
	width: 38px;
	padding-left: 0px;
	height: 81px;
	overflow: hidden;
	background: url(../images/base/bn_slide.png) no-repeat -38px 0px;
	right: -32px;
	top: 50px;
}
.homebanner a.next:hover {
	background-position: -38px -81px;
}
/*
.homebanner {
	height: 450px;
	overflow: hidden;
	position: relative;
	border-bottom: 5px solid #00468b;
}
.homebanner .slides_container {
	position: relative;
	z-index: 1;
	width: 100%;
}
.homebanner .slides_container .list {
	height: 450px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.homebanner .slides_container .list img.bg {
	min-height: 450px;
	width: 100%;
}
.homebanner .slides_container .list .cont {
	width: 970px;
	position: absolute;
	left: 50%;
	margin-left: -485px;
	top: 180px;
}
.homebanner ul.pagination {
	display: block;
	position: absolute;
	width: 970px;
	left: 50%;
	margin-left: -485px;
	bottom: 12px;
	z-index: 2;
}
.homebanner ul.pagination li {
	float: right;
	width: 43px;
	height: 43px;
	background: #fff;
	margin-left: 10px;
}
.homebanner ul.pagination li a {
	display: block;
	width: 43px;
	height: 43px;
}
*/
.banner {
	height: 251px;
	overflow: hidden;
	position: relative;
}
.banner .slides_container {
	position: relative;
	z-index: 1;
	width: 100%;
}
.banner .slides_container .list {
	height: 251px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.banner .slides_container .list img.bg {
	min-height: 251px;
	width: 100%;
}
.banner .slides_container .list .cont {
	width: 970px;
	position: absolute;
	left: 50%;
	margin-left: -485px;
	top: 100px;
}
.banner .slides_container .list .cont img {
	float: right;
}
.mainbox {
	/*
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  background-color:#fff;
  */
  background: url(../images/base/homebanner_bk.png) repeat center center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.mainbox_product {
  background: url(../images/pic/product_lbk.jpg) repeat-x center center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.product {
    margin: 0 auto;
    max-width: 970px;
    min-height: 600px;
    width: 100%;
}
.product .list {
  display:none;
}
.product .list .cont {
  width:50%;
  height:100%;
  min-height: 500;
  margin-top:40px;
  float: left;
}
.product .list .cont p{
  line-height:20px;
  margin-top: 8px;
  color:#000;
}
.product .list .cont .centerCnt{
  color:#000;
}
.product .list .cont .centerCnt ul li{
  list-style:inside;
  margin-top:8px;
  background:#f2f8fb;
  padding: 2px;
}
.product .list .cont .title{
  height:77px;
  line-height:77px;
  font-size:24px;
}
.product .list .cont .desc{
  font-size:16px;
}
.black{color:#000;}
.yellow{color:#fabe00;}
.green{color:green;}
.orange{color:#eea559;}
.blue{color:#53328d;}
.cyan{color:#008999;}
.blue2{color:#00a8db;}
.gray{color:#008999;}

.product .list .cont .rtLogo{
  float:right;
  padding-bottom:45px;
  height:auto;
}
.product .list .cont .view {
  float: left;
  height: 100%;
  width: 100%;
}
.product .list .cont .view img{
  max-width:100%;
  max-height:100%;
  height:auto;
}
.mainbox2 {
  position: absolute;
  bottom: 100px;
  top: 30px;
  width: 100%;
}
.mainbox_legel{
  width:100%;
  height:100%;
  padding: 25px 0;
  background: #d5e6f0;
  color:#333;
}
.mainbox_legel .legal{
  padding:25px;
  background:#fff;
}
.mainbox_legel .title {
  font-size: 18px;
  margin: 20px 0;
  padding:0 0 15px 0;
  text-align: center;
  border-bottom: 2px solid #1fb25a;
}
.mainbox_legel .title2 {
  font-size: 18px;
  margin: 20px 0;
  padding:0 0 15px 0;
  text-align: center;
  border-bottom: 1px solid #e46f28;
}
.mainbox_legel .back {
  font-size:12px;
  background:url(../images/base/back.png) no-repeat left center;
  width: 45px;
}
.mainbox_legel .cnt p {
  line-height: 28px;
  font-size: 14px;
  padding: 0 25px;
}
.activeBox{
  width:100%;
  height:100%;
  padding-bottom: 25px;
  background: #d5e6f0;
  color:#333;
}
.activeBox .top{
  height:60px;
  line-height:60px;
}
.mtop{
  margin: 0 20px;
}
.activeBox .top .pos {
  float:left;
}
.activeBox .top .pos .current{
  color:#1fb25a;
}
.activeBox .contSub{
  height:auto;
  min-height: 600px;
  padding: 20px;
  background:#fff;
}
.activeBox .postTitle{
  font-size:16px;
  color:#e46f28;
  padding-bottom: 35px;
}
.activeBox .regTitle{
  border-bottom:1px solid #e46f28;
  padding-bottom:10px;
}
.activeBox .regTitle span{
  color:#8c8c8c;
}
.activeBox .regTitle a{
  color:#e46f28;
}
.activeBox .contSub .post2 {
  background:url(../images/base/post2.png) no-repeat center center;
  padding: 10px 50px;
  margin-left: 20px;
}
.activeBox .contSub a.post2{
  color:#fff;
}
.activeBox .contSub .title
{
  background:#f8f8f8;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-left: 4px solid #e46f28;
}
.activeBox .contSub .head_top {
  border-bottom: 4px solid #f1f1f1;
  height: 50px;
  line-height: 50px;
}
.activeBox .contSub .head_top .right2{
  float: right;
  background:url(../images/base/back.png) no-repeat left center;
  padding-left: 10px;
}
.activeBox .contSub .post {
  background:url(../images/base/post.png) no-repeat center center;
  padding:10px 25px;
}
.activeBox .contSub .post a {
  margin-left: 25px;
  font-size:16px;
  color:#fff;
}
.activeBox .contSub .post a:hover{
  color:#1fb25a;
}
.activeBox .contSub .right .fav{
  background:url(../images/base/fav.png) no-repeat left center;
  padding-left: 20px;
  margin:0 5px;
}
.activeBox .contSub .right .rss{
  background:url(../images/base/rss.png) no-repeat left center;
  padding-left: 20px;
  margin:0 5px;
}
.activeBox .contSub .right .back{
  margin:0 5px;
}
.activeBox .contSub .yellow2
{
  color:#e46f28;
}
.activeBox .contSub .list{
}
.activeBox .contSub .list .head{
  margin:25px 0 10px 0;
  height: 20px;
}
.activeBox .contSub .list .titleLf{
  width: 70%;
  float: left;
}
.activeBox .contSub .list .titleRg{
  width: 40%;
  float: right;
}
.activeBox .contSub .list .titleRg2{
  width: 40%;
  float: right;
  margin-top:-10px;
}
.activeBox .contSub .list  .col {
  float: left;
  text-align: right;
  width: 33%;
}
.activeBox .contSub .list .col2 {
  float: left;
  text-align: center;
  width: 33%;
}
.activeBox .contSub .list .postBtm{
  width: 70%;
}
.activeBox .contSub .list .activeBtm {
  border-top: 1px solid #e46f28;
  height: 40px;
  padding-top: 20px;
}
.activeBox .contSub .list .page {
  height: 40px;
  float: right;
}
.activeBox .contSub .list .page a{
  margin:0 5px;
}
.activeBox .contSub .list .page a.active{
  color:#1fb25a;
}
.activeBox .contSub .list .page span {
  border: 1px solid #eee;
  padding: 5px;
}
.activeBox .contSub .list .page input{
  width:18px;
  height: 12px;
  text-align: center;
}
.activeBox .contSub .postBtm a {
  background: url(../images/base/post.png) no-repeat left center;
  padding: 10px 25px;
}
.activeBox .contSub .list .pages{
  width: 30%;
  float: right;
}
.activeBox .contSub .list .head a{
  margin-right:5px;
}
.activeBox .contSub .list ul{
  border-top: 1px solid #e46f28;
  margin-top: 25px;
}
.activeBox .contSub .list ul li{
  padding:10px 0 10px 25px;
  border-bottom: 1px solid #dfdfdf;
  background:url(../images/base/file.png) no-repeat left center;
}
.activeBox .contSub .list ul li.last{
  border:none;
}
.activeBox .top .info {float:left;background:url(../images/base/top.png) no-repeat 0 center;padding-left: 20px;}
.activeBox .top .info a{color:#11a84e;margin: 0 5px;}
.activeBox .top .login{float:right;}
.activeBox .top .login a{
  color:#fff;
  padding: 5px 20px;
  background:#e46f28;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
}
.activeBox .top .login a:hover{
  background:#999;
  color:#000;
}
.activeBox .top .login2 {
  float: right;
  margin-top: 15px;
  height: 46px;
}
.activeBox .top .login2 a{
  color:#fff;
  padding: 5px 40px;
  background:#e46f28;
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
}
.activeBox .top .login2 a.active, .activeBox .top .login2 a:hover{
  background:#999;
  color:#000;
}
.activeBox .cont{
  height:310px;
  padding: 0 20px;
  border-bottom:1px solid #b0b0b0;
}
.activeBox .cont dl{
  height:100%;
}
.activeBox .cont dt {
  float: left;
  width: 42%;
  height:100%;
}
.activeBox .cont dt img{
  width:100%;
  height:265px;
}
.activeBox .cont dd{
  height:100%;
  width: 55%;
  float: right;
}
.activeBox .cont .pic{margin-top:8px;}
.activeBox .cont .text {
  bottom: 35px;
  height:35px;
  line-height:35px;
  position: relative;
  padding: 0 8px;
  background:#2c2514;
  opacity: 0.85;
}
.activeBox .cont .text a{
  color:#fff;
  font-size:16px;
}
.activeBox .cont .text a:hover{
  color:#1fb25a;
}
.activeBox .cont .pagination {
    position: absolute;
    top: 80px;
    z-index: 9;
}
.activeBox .cont .pagination li {
  background: #000;
  float: left;
  margin: 5px;
  text-align: center;
  width: 20px;
  border: 1px solid #222;
}
.activeBox .cont .pagination li.current{
  background: #1fb25a;
  color:#fff;
}
.activeBox .cont .pagination li a{
  color:#fff;
}
.activeBox .cont .pagination li a:hover{
  color:#f00;
}
.activeBox .cont .title{
  margin-bottom: 5px;
  padding-bottom: 8px;
  color:#e46f28;
  font-size:16px;
  border-bottom: 1px solid #b0b0b0;
}
.activeBox .cont .title a{
  padding: 8px 8px 8px 0;
}
.activeBox .cont .title a.selected{
  color:#e46f28;
  border-bottom: 1px solid #e46f28;
}
.activeBox .cont .topic{
  display:none;
}
.activeBox .cont .topic ul li{
  margin: 5px 0;
  background:url(../images/base/numico.png) no-repeat 0 center;
  padding-left: 22px;
}
.activeBox .cont .topic ul li .rt{
  float:right;
  color:#999;
}
.activeBox .cont .topic ul li .num {
  margin-left: -20px;
  margin-right: 12px;
  color:#ed741c;
}
.activeBox .bottom{
  height:340px;
  margin: 0 10px;
}
.activeBox .bottom .head{
  margin: 15px 0;
  color:#e46f28;
  font-size:16px;
}
.activeBox .bottom ul{
  height:300px;
  width:100%;
}
.activeBox .bottom ul li{
  width:33%;
  height:40%;
  float:left;
  margin: 10px 0;
}
.activeBox .bottom ul li dt{
  width:35%;
  float: left;
}
.activeBox .bottom ul li dd p {
  line-height: 20px;
  margin: 5px;
}
.homebk img{
  width:100%;
  height:auto;
}
.home_lt{
  position: absolute;
  left:0;
  top:0;
  z-index:99;  
  background: url(../images/pic/home_lt.png) no-repeat left top;
  width:237px;
  height:124px;
}
.home_lt a{
  color:#fff;
  font-size:18px;
  padding-top: 24px;
}
.home_lt .rotate{
display: block;
transform:rotate(-27deg);
-ms-transform:rotate(-27deg); 	/* IE 9 */
-moz-transform:rotate(-27deg); 	/* Firefox */
-webkit-transform:rotate(-27deg); /* Safari ºÍ Chrome */
-o-transform:rotate(-27deg); 	/* Opera */
/*
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=-1, M12=-1.2246063538223772e-16, M21=1.2246063538223772e-16, M22=-1);
*/
}
.home_lt a:hover{
  color:#333;
}
.homelist {
	margin: 1px 0;
}
.homelist .box {
    height: 550px;
    width: 100%;
}
.homelist .box2 {
	height: auto;
	overflow: hidden;
  margin: 0 auto;
  max-width: 720px;
}
.homelist .about {
	height: 550px;
	width: 62%;
}
.homelist .contact {
	height: 550px;
	width: 50%;
  color:#000;
}
.homelist .contact .text{
  font-size:24px;
  color:#000;
  margin: 15px 0;
}
.homelist .contact .up{
  margin: 15px 0;
  line-height: 22px;
}
.homelist .contact .down{
  float:left;
  width: 100%;
}
.homelist .contact .down label{
  width:50px;
  float: left;
}
.homelist .contact .down input, .homelist .contact .down textarea{
  width:350px;
  margin: 5px 0;
}
.homelist .contact .down #submit{
  width:90px;
  height:35px;
  float: left;
  margin-left: 50px;
  background:#e46f29;
  color:#fff;
  cursor:pointer;
  border:none;
  font-size:16px;
}
.homelist .shop {
	height: 350px;
	width: 50%;
  text-align: center;
  padding-top: 80px;
}
.homelist .shop .shop_cnt {
	height: 40%;
	width: 45%;
  float: left;
  margin: 10px;
  background:#fff;
}
.homelist .shop .shop_cnt a{
  background: url(../images/base/click.png) no-repeat left center;
  padding-left:25px;
}
.homelist .shop .shop_cnt a:hover{
  color: #1fb25a;
}
.homelist .aboutright {
    left: 0%;
    position: relative;
    width: 50%;
}
.homelist .about .content, .homelist .aboutright .content{
    color: #000;
    font-size: 12px;
    line-height: 24px;
}
.homelist .aboutright .btm_border { border-bottom: 1px solid #dadada;}
.homelist .aboutright .content .video{
  width:100%;
  padding-top: 10%;
}
.homelist .aboutright .content .video img{
  width:100%;
  height:auto;
}
.homelist .about .content p, .homelist .aboutright .content p {
  margin:20px 0;
}
.homelist .about .content .head{
  color:#d1e000;
  font-size:18px;
}
.homelist .about  .title {
  font-size:30px;
  color:#11a84e;
  margin: 15px 0;
}
.homelist .about  .title2 {
  font-size:30px;
  color:#d1e000;
  margin: 15px 0;
}
.homelist .aboutright .title {
  font-size:18px;
  color:#000;
  margin: 15px 0;
}
.homelist .news
,.homelist .news_cnt
{
    left: 45%;
    position: relative;
    width: 50%;
    top: 50px;
    background: url(../images/base/news_bk.png) repeat;
    margin-top:0;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius : 5px;
}
#promptBox{
  width:100%;
  height:100%;
}
#promptBox a.btn_close {
    background: #000;
    color:#fff;
    position: absolute;
    right: -30px;
    top: 25px;
    width: 20px;
    text-align: center;
    padding: 5px;
}
.homelist .news .title
{
    color: #000;
    font-size: 18px;
    padding: 0px 0 14px 0;
    border-bottom: 0px solid #dadada;
}
.homelist .news_cnt .title
{
  color: #000;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 0px solid #dadada;
  text-align:center;
  border-bottom: 3px solid #bed62f;
  /*
  background: url(../images/base/news_bk_1.png) repeat-x bottom center;
  */
}
.homelist .news .center{
  margin:0 auto;
  text-align:center;
}
.homelist .news  .content {
  min-height: 330px;
  padding: 0 10px;
  max-height:400px;
  overflow: auto;
	background: url(../images/base/news_bk_1.png) repeat-y left center;
}
.homelist .news_cnt  .content
 {
  min-height: 330px;
  padding: 10px 10px 0;
  max-height:400px;
  overflow: auto;
}
.homelist .news .content p
,.homelist .news_cnt .content p
 {
    color: #000;
    padding: 5px 0;
    text-indent: 1.5em;
}
.homelist .news  .content ul li{
  margin: 8px 0px 8px 8px;
}
.homelist .news  .content ul li a{
  color:#000;
  font-size:14px;
}
.homelist .news  .content ul li a:hover{
  color:#e46f28;
}
.homelist dl {
	float: left;
	width: 315px;
	margin-right: 12px;
}
.homelist dl.last {
	margin-right: 0;
}
.homelist dl dt {
	float: right;
	margin-left: 10px;
}
.homelist dl dd {
	display: block;
	height: 116px;
	padding: 15px 20px 5px 10px;
	background: url(../images/base/homelist-bg.gif) repeat-x;
}
.homelist dl dd h2 {
	display: block;
	font-size: 18px;
}
.homelist dl dd p {
	display: block;
	margin: 10px 0 0 0;
	line-height: 18px;
	color: #646464;
}
/*about us*/
	.aboutBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.aboutBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.aboutBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.aboutBox .title h1 span {
	color: #888;
}
.aboutBox .title .sc {
	float: left;
	color: #333;
	margin-left: 20px;
	font-size: 11px;
	line-height: 22px;
}
.aboutBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding: 35px;
}
.aboutBox .cont h2 {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	font-family: Tahoma;
	margin-top: 20px;
}
.aboutBox .cont h3 {
	font-size: 12px;
	color: #333;
	font-weight: bold;
	font-family: Tahoma;
}
.aboutBox .cont p {
	display: block;
	margin-top: 20px;
	line-height: 18px;
	color: #666;
	font-family: Tahoma;
}
.aboutPhoto {
	height: 279px;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
.aboutPhoto .slides_container {
	position: relative;
	z-index: 1;
	width: 100%;
}
.aboutPhoto .slides_container .list {
	height: 279px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.aboutPhoto .slides_container .list img {
	min-height: 279px;
	width: 100%;
}
/*product*/
	.productBox {
	height: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 140px;
	background: url(../images/base/linegray.gif) repeat-y 199px top;
}
.leftmenu {
	height: 100%;
	overflow: hidden;
}
.leftmenu ul {
	display: block;
	height: 100%;
	overflow: hidden;
}
.leftmenu ul li {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
}
.leftmenu ul li a {
	display: block;
	line-height: 14px;
	padding: 5px 15px;
}
.leftmenu ul li a.active {
	background: #004485;
	color: #fff;
}
.rightlist {
	padding-bottom: 40px;
}
.rightlist .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
}
.rightlist .title span {
	color: #888;
}
.rightlist .cont {
	background: url(../images/base/lineOrange2.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
}
.rightlist .cont .view {
	height: 31px;
	overflow: hidden;
}
.rightlist .cont .view a {
	float: right;
	line-height: 31px;
	color: #fff;
	padding: 0 15px;
	background: #1fb25a;
}
.rightlist .cont .view a:hover {
	text-decoration: underline;
}
.rightlist .cont .mainProduct {
	height: 100%;
	overflow: hidden;
}
.rightlist .cont .mainProduct dl {
	display: block;
	height: 100%;
	overflow: hidden;
}
.rightlist .cont .mainProduct dl dt {
	float: left;
	width: 185px;
	text-align: right;
}
.rightlist .cont .mainProduct dl dt img {
	margin-top: 15px;
}
.rightlist .cont .mainProduct dl dd {
	display: block;
	margin-left: 185px;
	padding-top: 20px;
}
.rightlist .cont .mainProduct dl dd h3 {
	font-size: 12px;
	color: #1fb25a;
	text-transform: uppercase;
}
.rightlist .cont .mainProduct dl dd p {
	display: block;
	margin-top: 10px;
	line-height: 16px;
	color: #888;
}
.rightlist .cont .otherProduct {
	height: 140px;
	border-top: 2px solid #eee;
}
.rightlist .rightdetail .cont {
	background: url(../images/base/linedetail.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding-top: 4px;
	margin-top: 10px;
}
.rightdetail .title {
	}
.rightdetail .title h2 {
	float: left;
	font-size: 16px;
	color: #333;
}
.rightdetail .title a.back {
	float: right;
	font-size: 12px;
}
.rightdetail .info {
	height: 100%;
	overflow: hidden;
	padding: 30px 0;
}
.rightdetail .info dl {
	display: block;
	height: 100%;
	overflow: hidden;
}
.rightdetail .info dl dt {
	float: left;
	width: 220px;
	text-align: center;
}
.rightdetail .info dl dd {
	display: block;
	margin-left: 220px;
	margin-right: 40px;
}
.rightdetail .info dl dd h4 {
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
	font-weight: bold;
}
.rightdetail .info dl dd p {
	color: #888;
	margin-top: 10px;
	line-height: 16px;
}
.rightdetail .info dl dd p.note {
	color: #666;
	font-family: Tahoma;
}
.rightdetail .text {
	height: 100%;
	overflow: hidden;
	border-top: 2px solid #eee;
	padding: 35px;
}
.rightdetail .text h4 {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	text-transform: uppercase;
}
.rightdetail .text h5 {
	font-family: Tahoma;
	color: #666;
	line-height: 16px;
	display: block;
	margin: 20px 0;
	font-weight: bold;
	font-size: 12px;
	padding-left: 20px;
	background: url(../images/ico/ico-h5.gif) no-repeat left 7px;
}
.rightdetail .text p {
	font-family: Tahoma;
	color: #666;
	line-height: 16px;
	display: block;
	margin: 20px 0;
	padding-left: 20px;
}
.rightdetail .text .table {
	padding-left: 20px;
}
.rightdetail .text .table table tr th {
	font-family: Tahoma;
	background: #3e3e3e;
	color: #fff;
	padding: 10px 15px;
	border-right: 1px solid #fff;
}
.rightdetail .text .table table tr td {
	font-family: Tahoma;
	color: #333;
	padding: 0 15px;
	line-height: 22px;
	border-bottom: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.rightdetail .text .table table tr td.last {
	border-right: 0;
}
/*solutions*/
	.solutionsBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.solutionsBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.solutionsBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.solutionsBox .title h1 span {
	color: #888;
}
.solutionsBox .title .sc {
	float: left;
	color: #333;
	margin-left: 20px;
	font-size: 11px;
	line-height: 22px;
}
.solutionsBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding: 35px;
}
.solutionsBox .cont h2 {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	font-family: Tahoma;
	margin-top: 20px;
}
.solutionsBox .cont h2.t10 {
	margin-top: 10px;
}
.solutionsBox .cont h3 {
	font-size: 12px;
	color: #333;
	font-weight: bold;
	font-family: Tahoma;
}
.solutionsBox .cont p {
	display: block;
	margin-top: 20px;
	line-height: 18px;
	color: #666;
	font-family: Tahoma;
}
.pages {
	height: 40px;
	overflow: hidden;
	border-top: 0px solid #dadada;
  padding: 10px;
}
.pages ul {
	float: right;
}
.pages ul li {
	float: left;
	margin-left: 5px;
}
.pages ul li a {
    color: #666;
    display: block;
    min-width: 22px;
    text-align: center;
    width: auto;
    padding: 3px;
}
.pages ul li a:hover {
	background: #e46f28;
  color:#fff;
}
.pages ul li.active a {
	background: #e46f28;
  color:#fff;
}
/*exhibitionsBox*/
	.exhibitionsBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.exhibitionsBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.exhibitionsBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.exhibitionsBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
}
.exhibitionsBox .cont .list {
	height: 100%;
	overflow: hidden;
}
.exhibitionsBox .cont .list dl {
	display: block;
	padding: 40px;
	border-bottom: 2px solid #eee;
	height: 100%;
	overflow: hidden;
}
.exhibitionsBox .cont .list dl.last {
	border-bottom: 0;
}
.exhibitionsBox .cont .list dl dt {
	float: left;
}
.exhibitionsBox .cont .list dl dd {
	display: block;
	margin-left: 240px;
	min-height: 125px;
	text-align: left;
}
.exhibitionsBox .cont .list dl dd .opening {
	float: right;
	min-height: 115px;
	border-left: 1px solid #eaeaea;
	width: 70px;
	padding-left: 40px;
	text-align: left;
	color: #666;
	padding-top: 10px;
}
.exhibitionsBox .cont .list dl dd .opening span {
	display: block;
	font-size: 16px;
	line-height: 14px;
}
.exhibitionsBox .cont .list dl dd .opening b {
	display: block;
	font-size: 70px;
	font-weight: normal;
	line-height: 70px;
}
.exhibitionsBox .cont .list dl dd .links {
	line-height: 22px;
}
.exhibitionsBox .cont .list dl dd .links h2 {
	display: block;
	font-size: 14px;
	color: #363636;
	font-weight: bold;
	padding-bottom: 10px;
}
.exhibitionsBox .cont .list dl dd .links a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 22px;
	padding: 0 10px;
}
.exhibitionsBox .cont .list dl dd .links a:hover {
	color: #fff;
	background: #1fb25a;
}
.exhibitionsBox .cont .pages {
	border-top: 0;
	padding: 0;
	margin: 30px 0;
}
.exhibitionsBox .cont .pages ul {
	margin-right: 40%;
}
/*investor*/
	.investorBox {
	padding-top: 50px;
	padding-bottom: 140px;
	background: url(../images/base/linegray.gif) repeat-y 199px top;
}
.investorList {
	}
.investorList .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
}
.investorList .cont {
	background: url(../images/base/lineOrange2.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
}
.investorList .cont .more {
	height: 31px;
	overflow: hidden;
}
.investorList .cont .more a {
	float: right;
	line-height: 31px;
	color: #fff;
	width: 148px;
	background: #1fb25a;
	text-align: center;
}
.investorList .cont .more a:hover {
	text-decoration: underline;
}
.investorList .cont .list {
	height: 100%;
	overflow: hidden;
	padding: 40px 45px;
	border-bottom: 3px solid #f1f1f1;
}
.investorList .cont .listsub {
	border: 0;
	padding: 10px 45px 40px 45px;
}
.investorList .cont .list h3 {
	display: block;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Tahoma;
}
.investorList .cont .list .table {
	padding-top: 20px;
}
.investorList .cont .list .table table tr th {
	font-family: Tahoma;
	background: #004485;
	color: #fff;
	padding: 5px 15px;
	border-right: 1px solid #fff;
	line-height: 20px;
}
.investorList .cont .list .table table tr td {
	font-family: Tahoma;
	color: #333;
	padding: 5px 15px;
	line-height: 20px;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
}
.investorList .cont .list .table table tr.even td {
	background: #ececec;
}
.investorList .cont .list .table table tr td.last {
	border-right: 0;
}
.investorList .cont .list .chart {
	text-align: center;
}
.investorList .cont .list .tableContact {
	padding-top: 20px;
}
.investorList .cont .list .tableContact table tr td {
	font-family: Tahoma;
	color: #333;
	padding: 5px 15px;
	line-height: 14px;
}
.investorList .cont .list dl.aoa {
	display: block;
	height: 40px;
	overflow: hidden;
	margin-top: 40px;
	font-family: Tahoma;
}
.investorList .cont .list dl.aoa dt {
	float: left;
	height: 40px;
	line-height: 40px;
	width: 470px;
	background: #1fb25a;
	padding: 0 15px;
	border-right: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}
.investorList .cont .list dl.aoa dd {
	display: block;
	height: 40px;
	line-height: 40px;
	background: #3e3e3e;
	color: #fff;
	text-align: center;
}
.investorList .cont .list dl.aoa dd a {
	color: #fff;
}
.investorList .cont .list dl.aoa dd a img {
	position: relative;
	top: -2px;
	margin-left: 5px;
}
.investorList .cont .list dl.aoa dd a:hover {
	text-decoration: underline;
}
.investorList .cont .list .title h4 {
	float: left;
	font-size: 14px;
	color: #333;
}
.investorList .cont .list .title a.more {
	float: right;
	line-height: 18px;
	background: url(../images/ico/ico-more.gif) no-repeat right center;
	padding-right: 20px;
	color: #656565;
	font-size: 12px;
	height: auto;
	text-transform: none;
	font-family: Tahoma;
}
.investorList .cont .list .title a.more:hover {
	color: #1fb25a;
}
.investorList .cont .list ul.down {
	display: block;
	height: 100%;
	overflow: hidden;
}
.investorList .cont .list ul.down li {
	display: block;
	height: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ececec;
	line-height: 26px;
	padding: 5px 0;
	color: #656565;
	font-family: Tahoma;
}
.investorList .cont .list ul.down li span {
	float: left;
}
.investorList .cont .list ul.down li a {
	float: right;
	padding-right: 15px;
	background: url(../images/ico/ico-arrow2.gif) no-repeat right center;
}
.investorList .cont .list ul.down li a:hover {
	color: #1fb25a;
}
.investorList .cont .list ul.em {
	display: block;
	height: 100%;
	overflow: hidden;
	clear: both;
}
.investorList .cont .list ul.em li {
	float: left;
	width: 21%;
	padding: 0 2%;
	text-align: center;
	min-height: 200px;
}
.investorList .cont .list ul.em li .name {
	display: block;
	color: #333;
	font-weight: bold;
	line-height: 18px;
}
.investorList .cont .list ul.em li .fp {
	display: block;
	color: #656565;
	line-height: 18px;
}
/*contactBox*/
	.contactBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.contactBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.contactBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.contactBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding: 35px;
}
.contactBox .cont .list {
	height: 100%;
	overflow: hidden;
}
.contactBox .cont .list dl {
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	height: 100%;
	overflow: hidden;
}
.contactBox .cont .list dl.last {
	border-bottom: 0;
}
.contactBox .cont .list dl dt {
	float: left;
	width: 240px;
	text-align: center;
}
.contactBox .cont .list dl dd {
	display: block;
	margin-left: 240px;
	text-align: left;
}
.contactBox .cont .list dl dd h2 {
	color: #333;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
	background: url(../images/ico/ico-h5.gif) no-repeat left 8px;
}
.contactBox .cont .list dl dd p {
	font-family: Tahoma;
	display: block;
	margin: 10px 20px;
	color: #666;
	line-height: 18px;
}
/*legalBox*/
	.legalBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.legalBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.legalBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.legalBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding: 35px;
	font-family: Tahoma;
}
.legalBox .cont h3 {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	font-family: Tahoma;
}
.legalBox .cont p {
	display: block;
	line-height: 18px;
	margin: 20px 0;
	color: #666;
}
/*sitemapBox*/
	.sitemapBox {
	margin-top: 50px;
	padding-bottom: 60px;
}
.sitemapBox .title {
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.sitemapBox .title h1 {
	float: left;
	font-size: 16px;
	color: #333;
}
.sitemapBox .cont {
	background: url(../images/base/lineOrange.gif) no-repeat left top #fff;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #efefef;
	padding: 0 35px;
	font-family: Tahoma;
}
.sitemapBox .cont .list {
	height: 100%;
	overflow: hidden;
}
.sitemapBox .cont .list dl {
	display: block;
	height: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ececec;
	padding: 35px 0;
	font-family: Tahoma;
}
.sitemapBox .cont .list dl dt {
	display: block;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.sitemapBox .cont .list dl dd {
	display: block;
	height: 100%;
	overflow: hidden;
	line-height: 30px;
}
.sitemapBox .cont .list dl dd b {
	font-weight: normal;
	color: #666;
}
.sitemapBox .cont .list dl dd span {
	color: #004487;
}
.sitemapBox .cont .list dl dd span a {
	color: #004487;
	padding: 0 6px 0 0;
	margin-right: 6px;
}
.sitemapBox .cont .list dl dd span a:hover {
	text-decoration: underline;
}
/*tbox*/
	.t_box {
	height: 360px;
	width: 625px;
	padding: 5px;
}
.t_box .cont {
	background: #fff;
	height: 358px;
	-webkit-box-shadow: 0 0px 3px #999;
	box-shadow: 0 0px 3px #999;
}
.t_box .cont .title {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border-bottom: 2px solid #f1f1f1;
	padding: 0 20px;
	line-height: 48px;
}
.t_box .cont .chartBox {
	text-align: center;
	padding-top: 10px;
}	
.salse_rt {height: 550px;width:25%;overflow: hidden;}
.salse_rt .sale {height:100%;border:8px solid #f4f4f4;margin-top: 20px;margin-left:10px;width:200px;}
.salse_rt .title{background:#E46F28;color:#fff;line-height: 40px;text-align: center;}
.salse_rt .sale img{width:100%;height:auto;}
.faq .left {
  width: 68%;
  float:left;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  background: url(../images/base/news_bk.png) repeat;
  min-height:92%;
}
.faq .left .cont{
  margin: 0 15px;
}
.faq .right {
  width: 30%;
  float:right;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  min-height:88%;
}
.faq .left .title{font-size:18px;margin: 16px 0;color: #000;}
.faq .left .title .tiwen{margin-top: -10px;float: right;background: url(../images/base/faq_tiwen.png) no-repeat center center;}
.faq .left .title a.tiwen {
  margin-top: -10px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  width: 113px;
  color:#fff;
}
.faq .left .title a.tiwen:hover{color:#1fb25a;}
.faq .right .title{height: 30px;}
.faq .left .content li{margin:8px 0; word-break: break-all; word-wrap:break-word;}
.faq .left .cont .remain li{
  color:#e46f28;
  padding-left:25px;
  margin: 10px 0;
  background: url(../images/base/question.png) no-repeat left top;
  padding-left:25px;
  word-break: break-all;
  word-wrap:break-word;
}
.faq .left .cont .remain li a{
  color:#e46f28;
}
.faq .left .cont .remain li a:hover{
  color:#1fb25a;
}
.faq .left .cont .question{margin-bottom:8px;color:#e46f28;background: url(../images/base/question.png) no-repeat left top;padding-left:25px;}
.faq .left .cont .answer{color:#000;background: url(../images/base/answer.png) no-repeat left top;padding-left:25px;height:auto;overflow: hidden;}
.faq .right .top{
  min-height:200px;
  padding: 10px 0px;
  background: url(../images/base/faq_rt.png) repeat;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
}
.faq .right .top ul{
  margin: 5px 0;
}
.faq .right .top ul li{
  padding: 0 30px;
  height: 35px;
  line-height: 35px;
  background: url(../images/base/li_faq.png) no-repeat 18px center;
}
.faq .right .top ul li:hover{
  background-color:#9eb251;
}
.faq .right .top ul li a{
  color:#fff;
  font-size:16px;
}
.faq .right .top ul li a:hover{
  color:#e46f28;
}
.faq .right .bottom{
  height:303px;
  padding: 10px 15px;
  background: url(../images/base/faq_rb.png) repeat;
  margin-top:10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
}
.faq .right .title {
  color: #fff;
  font-size: 18px;
}
.faq .right .p10 {padding: 10px 15px;}
.faq .right .bottom ul{
  margin: 8px 0;
  height:230px;
}
.faq .right .bottom  .pages2{
  float:right;
  background:#e46f28;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  line-height:25px;
  height:25px;
  text-align: center;
  width: 50px;
}
.faq .right .bottom  .pages2 a{
  margin: 0 2px;
  color:#eee;
  padding: 0 2px;
}
.faq .right .bottom  .pages2 a:hover{
  color: #1fb25a;
}
.faq .right .bottom  .pages2 a:hover, .faq .right .bottom  .active{
  background:#e46f28;
}
.faq .right .bottom ul li{
  padding: 0 10px;
  height: 33px;
  line-height: 33px;
  background: url(../images/base/li_faq_2.png) no-repeat left center;
}
.faq .right .bottom ul li a{
  color:#eee;
}
.faq .right .bottom ul li a:hover{
  color:#e46f28;
}
.prompt {
  background: #fff;
  height: 250px;
  left: 25%;
  position: fixed;
  top: 44%;
  width: 500px;
  /*border: 1px solid #eee;*/
  z-index: 9999;
  display: none;
}
.prompt .title{
  background:#e46f28;
  height: 35px;
  line-height: 35px;
  color:#fff;
  text-align:center;
}
.prompt .title a.btn_close {
  background: #000;
  color: #fff;
  height: 35px;
  position: absolute;
  right: -35px;
  text-align: center;
  width: 35px;
}
.loginWin {width:300px;height:250px;left:40%;}
.loginWin .text_user{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
border: 1px solid #eee;padding-left:35px;height: 28px;width:220px;background: url(../images/base/user.png) no-repeat left center;}
.loginWin .text_pwd{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border: 1px solid #eee;
  padding-left:35px;
  height: 28px;
  width:220px;
  background: url(../images/base/pwd.png) no-repeat left center;
}
.loginWin .email{
  width:200px;
  float:right;
  text-align:left;
}
.loginWin .pwd{
  width:155px;
  float:right;
  text-align:left;
}
.loginWin .yzm{
  width:100px;
}
.loginWin .rzma {
    float: right;
    height: 45px;
    width: 102px;
}
.loginWin .rzma img{
  max-width:100%;
  max-height:100%;
}
.loginWin table, td, tr, th{
  padding: 8px 0;
}
.btn_Login {
  color:#fff;
  font-size:14px;
  border:none;
  width:120px;
  height:30px;
  background:#e46f28;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}
#profile{
  background:#eee;
  height:120px;
  width:120px;
  margin-bottom:15px;
  border:1px dotted #eee;
}
.contSub .regText{
  border: 1px solid #eee;
  margin-left:15px;
  height: 25px;
  width:220px;
}
.contSub .regCode{
  border: 1px solid #eee;
  margin-left:15px;
  height: 25px;
  width:70px;
}
.activeBox a.term{
  color:#e46f28;
}
.activeBox a.term:hover{
  color:#1fb25a;
}
.contSub .vTop{
  vertical-align: top;
}
.contSub .textIn{
  margin-left: 15px;
  margin-top:5px;
  width: 225px;
}
.contSub .code{
  border:1px solid #eee;
}
.faq .content {
  max-height: 490px;
  overflow: auto;
}
.faq .content ul{
  min-height: 435px;
  margin-right: 5px;
}
.activeBox .titleLf .current{  
  color:#e46f28;
}
.activeBox .contSub p{
  word-break: break-all;
  word-wrap:break-word;
}
