/*全局a标签默认样式*/
.lielist-box li{float:left;width:100%;display:block;height:50px;line-height:50px;border-bottom:1px dotted #e6e6e6}
.lielist-box li dd{line-height:50px;padding-left:15px;margin:0}
.lielist-box li dd a{font-size:14px}
.lielist-box li dd span{margin:0 5px;color:#3398CC;font-size:16px}
.lielist-box li dd img{width:30px;height:30px;border-radius:40px}
.zanbox {
    margin-top: -6px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #f5f5f5;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
.headnav{

  
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.05);
    line-height:35px;
    display:block;width:100%;
    height:35px;
}
.headnav li{
	position: relative;
    display: inline-block;
    
	
}
.headnav li a{padding: 0 20px;}
.headnav li.active a,.headnav li a:hover,.headnav li a:focus{color: #5FB878;}

a:hover{
  text-decoration: none;color: #1ABC9C;
}
.aw-search-box{margin:10px 0}
.aw-search-box {
    position: absolute;
    top: -145px;
    z-index: 1002;
    width: 30%;
}
.aw-search-box input{width: 100%;
    height: 30px;
    padding-right: 30px;
    border: none;
    margin-top: 10px;
    border: 1px solid #e5e5e5;}
    .aw-search-box .search-close {
    position: absolute;
    right: -40px;
    top: 10px;
    display: inline-block;
    padding: 4px;
    color: #999;
}
.aw-search-box #global_search_btns{position: absolute;
    right: 5px;
    top: 14px;
    font-size: 18px;
    color: #999;}
.aw-search-box .aw-dropdown{width:355px}
.aw-search-box .aw-dropdown p{height:38px;line-height:38px;margin:0;padding:0 10px;font-weight:400;border-bottom:1px solid #f0f0f0}
.aw-search-box .aw-dropdown p.search{display:none}
.aw-search-box .aw-dropdown .mod-footer{height:42px;line-height:42px;background-color:#fafafa}
.aw-search-box .aw-dropdown .mod-footer .btn-success{margin:10px}
.aw-search-box .aw-dropdown .aw-dropdown-list{max-height:337px;overflow-y:scroll;border-bottom:1px solid #f0f0f0}
.aw-search-box .aw-dropdown .aw-dropdown-list li.question .aw-hide-txt{width:250px}
@media (max-width:736px){.feature-list ul{width:100%}.aw-search-box{position:absolute;top:-145px;left: 2px;z-index:1002;width:76%}
}
/*主导航样式*/

.aw-top-menu-wrap {
background:#404553;
  position: fixed;

    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
   opacity:.9
    border-radius: 0;min-height: 50px;
}
.foxfixednav{position:fixed;top:0;left:0;width:100%;z-index:100000;opacity:.9}
.aw-logo {
  width: 211px;
  margin: 7px 0 0 0;
}

.navbar-collapse{
  background: #404553;
}
.aw-top-nav > nav > ul > li > a {
padding: 18px 15px;
    color: #fff;
    letter-spacing: 2px;
  border-bottom: #404553 solid 3px;
}

.aw-top-nav > nav > ul > li > a.active {

color: #fff;
      background: #555;
    font-weight: 700;
    border-bottom: #db6d4b solid 3px;

}
.aw-top-nav > nav > ul > li > a:hover, .aw-top-nav > nav > ul > li > a:focus {
color: #fff;
      background: #555;
    font-weight: 700;
    border-bottom: #db6d4b solid 3px;
}

.aw-container-wrap{
  margin-top: 116px;
}
#qiandao {
    padding: 10px;
    line-height: 30px;
}
.ad-all {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.qiandaobox dt {
    width: 108px;
    height: 105px;
}
.qiandaobox dd {
    width: 53px;
    height: 55px;
    margin: 0;
}
.qiandaobox dd img {
    width: 50px;
    height: 50px;
}
.qiandaobox dt img {
    width: 105px;
    height: 105px;
}
/*全局默认字体样式*/
body{
  font-family:"Microsoft Yahei",arial,"Lucida Grande","Lucida Sans Unicode";
  background-color: #F2F2F2;
}

/*其他样式*/
.aw-footer-wrap{
  background: #FFF;
  margin-top: 10px;
}


.aw-publish-btn .dropdown-list a {
  background-color: #1ABC9C;
}
.aw-footer-wrap {
  background: #444;
}
.aw-footer h4{
  font-size: 16px;
  color: #fff;
}
.aw-footer a{
  cursor: pointer;
  color: #999;
}
.aw-footer a:hover{
  color: #1ABC9C;
}
.aw-footer{
  color:#999;
}
.container{
 
}
.topic-tag .text{
  background-color: #1ABC9C;
}
.aw-mod.side-nav ul li a.active {
  background-color: #1ABC9C;
}
.topic-tag .text:hover, .topic-tag .text:active, .topic-tag .close:hover, .topic-tag .close:active {
  background: rgb(28, 204, 169);
}
.aw-common-list .aw-question-content h4{
 
}
.aw-publish-btn .dropdown-list a:hover{
  background: rgb(28, 204, 169);
}

.aw-feed-list .aw-user-name {
  color: #999;
}
.aw-mod .mod-head h4, .aw-mod .mod-head h4 a {
  font-size: 15px;
}
.aw-feed-list .aw-item {
  border-bottom: 1px solid #eee;
}
.aw-common-list > div + div {
  border-top: 1px solid #eee;
}
.aw-search-box input {
  border: 1px solid #ccc;
}
.form-control:focus{
  border-color: #1ABC9C !important;
}

.aw-nav-tabs > li.active a{
  border-bottom: 2px solid #1ABC9C;
}
.aw-nav-tabs > li > a:hover{
  border:none;border-bottom:2px solid #1ABC9C;
}
.aw-question-detail > .mod-head {
  border-bottom: 1px solid #1ABC9C;
}
.markitup-box {
  font-size: 14px;
  color: #888;
}
.markitup-box a{
  color: #1abc9c;
}
.aw-question-detail {
  margin-bottom:10px;
}

.aw-topic-detail-title {
  min-height: 70px;
}
.aw-load-more-content:hover {
  background: #1ABC9C;
}
.aw-load-more-content:hover a, .aw-load-more-content:hover span {
  background-color: #1ABC9C;
}
.aw-load-more-content.disabled:hover span {
  color: #fff;
}

.aw-question-content h4 a {
     display: inline-block;
    max-width: 80%;
    padding-right: 10px;
    font-size: 16px;

}
.aw-top-nav {
  font-size: 14px;
}
.aw-question-detail .mod-head h1 {
  font-weight: bold;
}