.ucenter-right .zichan .myinfo{
	
	width: 16.66666667%;
	min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
	
}
.ucenter-right .wealth-number a {
    color: #9a5c33;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    font-family: arial;
     text-align:center;
}
.ucenter-right .wealth-number{
	 text-align:center;
}
.ucenter-right   .wealth-word {
    color: #5a5a5a;
    font-size: 12px;
     text-align:center;
}
/*登录*/
.login{
padding:20px;}
.login a{text-decoration:none;}
.main{background:#fff;}
.main .mainLeft{float: left;width:50%;border-right:1px dotted #ccc;margin-top:30px;padding-bottom:100px;}
.main .mainLeft h3{width:80%;border-bottom:1px solid #ccc;padding:0 30px;}
.main .mainLeft h3 span{display:inline-block;padding:0px 20px;font-size:16px;line-height:50px;text-align: center;}
.main .mainLeft h3 span a{color:#ddd;}
.main .mainLeft h3 span a:hover{color:#2fad85;}
.main .mainLeft h3 span.active{color: #2fad85;border-bottom:2px solid #2fad85;margin-bottom: -1px;}

.main .mainRight{float: right;width:45%;margin-top:30px;}
.mainRight p, .mainRight ul li{width:100%;padding: 10px 0;border-bottom: 1px dotted #ccc;font-size:14px;color: #666; }
.mainRight p a{color:#52b7ed;}
.mainRight p a:hover{text-decoration:underline;}
.mainRight p input, .mainRight ul li input{margin-right:10px;cursor:not-allowed;}
.mainRight ul li{border:none;}
/*关注粉丝*/


.focusbtn.gzclass span{color:#fff;}
.focusbtn.gzclass .iconfont{color:#fff;}
.focusbtn{
    display: inline-block;
padding:0px 10px;
    font-size: 12px;
border:#ccc solid 1px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: #333;
    background-color: #fff;

    
    border-radius: 2px;
   
}
.focusbtn .iconfont{font-size:20px;color: #333;}

.focusbtn span{vertical-align: text-bottom;color: #333;}
a.focusbtn:visited{text-decoration: none;}
a.focusbtn:active{text-decoration: none;}

a.gzhover{background:#adadad;border:none;color:#fff}
a.gzhover span{color:#fff}
a.gzhover .iconfont{color:#fff;}
a.gzhover:hover{background:#adadad;color:#fff}
a.gzhover:active{text-decoration:none;}
.gzhover .iconfont,.gzhover span{ text-decoration:none;
	color:#fff;}
.gzclass:hover{background:#fc8215;border:none;}
.gzclass{background:#ff9f49;border:none;}
/*个人中心*/
.ucenter-left {
    position: relative;
    float: left;
     width: 25%;
    padding-bottom:40px;  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

    background: #fff;
   border-right: 1px solid #f4f4f4;
   
    
}
.ucenter-right{
	float: left;
    
    border-left: 0;
   
    height: auto!important;
    background:#fff;
    width: 75%;
	
}
.ucenter-right .headtitle-normal{
	font-size: 15px;
    line-height: 15px;
   border-bottom: 1px solid #f4f4f4;padding:10px 0px;
    margin-bottom: 20px;
    font-weight:600;
	
}
.normal-content{
	
	    margin: 28px 20px 0px 18px;
    padding-bottom: 17px;
	
}
.ucenter-right  .fixed-box{
	
	padding: 0 20px 0 18px;
}
.ucenter-right  .console-box .num-tip {
    color: #aaa;
    font-size: 12px;
    float: right;
}
.ucenter-right   .console-box .current {
    border-bottom: 2px solid #19aa7a;
    margin-bottom: -1px;
    color: #333;
    font-weight: 700;
}
.ucenter-right  .console-box a {
    color: #333;
    display: inline-block;
    height: 44px;
    margin: 0 7px 0 18px;
    text-decoration: none;
}
.ucenter-right   .console-box {
    font-size: 14px;
    height: 46px;
    line-height: 45px;
    border-bottom: 1px solid #f4f4f4;
}
.userfocus li{border-bottom:1px dotted #f4f4f4;overflow:hidden;padding:12px 0px;}
.userfocus li img{width:48px;height:48px;float:left;}
.userfocus li div{margin-left:58px;}
.userfocus li dt{ 
	padding-bottom:10px;
	
}
.ucenter-right .userfocus li dt a{
color:#333;
text-decoration:none;
}
.userfocus li dd{color:#a6adb2}
/*个人中心左侧菜单*/

.userinfo{padding:20px 30px 5px;}
.userinfo .title{
	
	
	line-height:30px;
	
}
.ucenter-left  .img-center {
    width: 80px;
    height: 80px;
    overflow: hidden;
   margin:20px auto 13px;
    border-radius: 3px;
    text-align:center;
    border: 2px solid #fff;
    background: #fff;
}
.img-center img{width:80px;}
.ucenter-left  .username{text-align:center;
font-size: 14px;
    line-height: 14px;
    margin-bottom: 13px;}
    
    .ucenter-left  .username i.iconfont{margin-left:5px;display:inline-block;}
 .user-level {color:#9b9fa6;font-size:12px;
 margin:0px 20px;
 padding:10px;
 border-bottom:1px dotted #f3f3f3;
 }
  .user-level a{color:#9b9fa6;font-size:12px;}
  .uploadbutton{padding:10px;text-align:center;}
  
  
  .mydoc-list{
  
  
  
  }
  
  
.ucenter-left .mydoc-list ul li {
   
       
      position: relative;
       text-align: left;
   
}
.ucenter-left .mydoc-list ul li a{ 
	padding-left:30px;
	height: 47px;
    line-height: 47px;display:block;}
    
    .ucenter-left .mydoc-list ul li a:hover{
     color: #fff;
    font-weight: 700;
    background: #18ab7a;
    text-decoration:none;
    }
.ucenter-left .mydoc-list  li.current  a{
    color: #fff;
    font-weight: 700;
    background: #18ab7a;
}
.ucenter-left .mydoc-list  .iconfont{
	font-size:22px;
	margin-right:20px;
}
/*个人中心的选项卡切换*/
.ucenter-right .myaccount-head {
    height: 47px;
   border-bottom: 1px solid #eee;
}
.ucenter-right .es-tabli li:hover{
	border-bottom: 2px solid #19a97b;
	cursor:pointer;
	
}
.ucenter-right .es-tabli li.current {
    border-bottom: 2px solid #19a97b;
}
.normal-content .control-label{color:#5a5a5a;font-weight:normal}
.ucenter-right .headtitle{
	font-size: 15px;
    line-height: 15px;
   
    margin-bottom: 20px;
    font-weight:600;
	
}





/*个人中心的消息设置*/
.ucenter-right .setting-part h3 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding-left: 40px;
}
.ucenter-right .setting-part li {
    padding-left: 135px;
    margin-bottom: 10px;
}
.ucenter-right .setting-part li .title {
    width: 260px;
}
.ucenter-right .setting-part li span {
    float: left;
    height: 23px;
    line-height: 23px;
}
.ucenter-right .setting-part li span {
    float: left;
    height: 23px;
    line-height: 23px;
    font-size:12px;
}
.ucenter-right .setting-part li .status {
    width: 190px;
}
/*个人中心的消息列表*/
.ucenter-right  .mymessage-box {
    padding: 30px 20px 0 23px;
}
.ucenter-right  .mymessage-box h2 {
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-left: 12px;
    font-weight: 700;
    color: #333;
    margin:0px;
}
.ucenter-right  #listMsg {
    min-height: 504px;
}
 .ucenter-right  #listMsg li {
    border-bottom: 1px solid #ededed;
    padding: 16px 68px 14px 12px;
}
.ucenter-right  #listMsg li .title {
    color: #333;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    
    margin:0px;
    margin-bottom: 8px;
}
.ucenter-right   .mymessage-box h2 .fa{font-size:16px;color: #707785;
    margin-right: 3px;}
.ucenter-right   .mymessage-box h2 a {
    float: right;
    color: #555;
    font-size: 12px;
    margin-right: 14px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
.ucenter-right  #listMsg li .deletemsg {
    float: right;
    position: relative;
    left: 56px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    color: #7f8592;
}
.ucenter-right #listMsg li:hover {
    background-color: #fafafa;
}
.ucenter-right  #listMsg .date {
    padding-left: 12px;
    margin-top: 16px;
    font-size: 12px;
    color: #999;
}
.ucenter-right  #listMsg li .msg-body {
    color: #555;
    font-size: 12px;
    line-height: 20px;
}

/*个人中心的头像设置*/

.avatar-add {
    position: relative;
    width: 373px;
    height: 373px;
    background-color: #F2F2F5;
}
.avatar-add p {
    position: absolute;
    top: 90px;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #999;
}
.avatar-add .upload-img {
    position: absolute;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -60px;
}
.avatar-add img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 168px;
    height: 168px;
    margin: -50px 0 0 -84px;
    border-radius: 100%;
}
.avatar-add .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}
.loading {
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}


/*个人中心的绑定设置*/
.app-bind li .iconfont {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 28px;
}
.app-bind li {
    margin-bottom: 10px;
    line-height: 30px;
    color: #999;
    padding:20px;
}
.fly-msg {
    background-color: #F8F8F8;
    color: #666;
}
/*个人列表内容为空时显示*/
.empty-tip-box .info .first {
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
}
.empty-tip-box .info {
    color: #a2a2a2;
    display: inline-block;
    vertical-align: top;
    margin-left: 21px;
}
.empty-tip-box .info .second {
    margin-top: 14px;
    font-size: 12px;
    line-height: 12px;
}
.empty-tip-box .radius .iconfont {
    font-size: 36px;
    line-height: 30px;
   
}
.empty-tip-box .info a {
    color: #333;
}

.empty-tip-box .radius {
    
   
    padding: 14px 10px 0px;
    display: inline-block;
    color: #e2e2e2;
    border-radius: 3px;
    text-align: center;
    border: 3px solid #e6e6e6;
}
.empty-tip-box .inner-box {
    text-align: center;
    padding: 54px 0 32px;
}


.ucenter-right .myaccount-head li.current a {
    color: #333;
    font-weight: 700;
}

.ucenter-right .myaccount-head li a {
    color: #333;
    text-decoration: none;
}
.ucenter-right .myaccount-head li {
    float: left;
    font-size: 14px;
    line-height: 14px;
    padding: 18px 0 13px;
    margin-left: 33px;
}
.ucenter-right  .topcontent{
    margin: 28px 20px 0px 18px;
    padding-bottom: 17px;
    border-bottom: 2px solid #e4e4e4;
}
.empty-tip-box .info .iconfont{font-size:70px;}


@media (max-width:736px) {
    /*公共部分*/
    .site-tree-mobile {
    display: block!important;
    position: fixed;
    z-index: 100000;
    bottom: 15px;
    left: 100px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    color: #fff;
}
.main .mainLeft {
    margin-top: 30px;
    padding-bottom: 100px;
    border:none;
    width:100%;
}
.ucenter-left {
    position: absolute;
    left:-300px;
    width:300px;
    float: left;
   z-index: 99;
    min-height: 800px;
    font-family: 微软雅黑, 宋体, arial;
    background: #fff;
    border-right: 1px solid #f4f4f4;
}
.ucenter-right {
    float: left;
    border-left: 0;
    min-height: 803px;
    height: auto!important;
    background: #fff;
    width: 100%;
}
}