<!DOCTYPE HTML>
<html>
<head>
	{include file="../../../application/common/view/default/public/head"/}
</head>
<body>
	<!-- 头部 -->
	{include file="../../../application/common/view/default/public/header"/}
	<!-- /头部 -->
	
	<!-- 主体 -->
	<div class="main-wrapper">
		{block name="header"}{/block}
		{include file="../../../application/common/view/default/public/_after_nav"/}
		<div id="main-container" class="container">
			<div class="row">
				{block name="body"}{/block}
			</div>
		</div>
	</div>
	<!-- /主体 -->

	<!-- 底部 -->
	{include file="../../../application/common/view/default/public/footer"/}
	<!-- /底部 -->
</body>
</html>
