
<!-- 引入头部 -->
{include file="public/header" /}

<form class="layui-form info-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">版本号：</label>
			<div class="layui-input-inline">
				<input name="version_num" id="version_num" value="{$info.version_num}" lay-verify="required" autocomplete="off" placeholder="请输入版本号" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">更新版本：</label>
			<div class="layui-input-inline">
				<input name="update_version" id="update_version" value="{$info.update_version}" lay-verify="required" placeholder="请输入待更新版本号" autocomplete="off" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">版本类型：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('version_type|1|版本类型|name|id',config('adminconfig.version_type'),$info['version_type']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">设备类型：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('type|1|设备类型|name|id',config('adminconfig.device_type'),$info['type']))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">是否更新：</label>
			<div class="layui-input-inline">
				{:widget('common/switchCheck',array(is_update,'是|否',$info['is_update']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">强制更新：</label>
			<div class="layui-input-inline">
				{:widget('common/switchCheck',array(is_force,'是|否',$info['is_force']))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">间隔时间：</label>
		<div class="layui-input-inline">
			<input name="time_interval" id="time_interval" value="{$info.time_interval}" lay-verify="required" autocomplete="off" placeholder="请输入版本提示间隔时间" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">更新地址：</label>
		<div class="layui-input-block">
			<input name="download" id="download" value="{$info.download}" lay-verify="required" autocomplete="off" placeholder="请输入更新地址" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">版本说明：</label>
		<div class="layui-input-block">
			<textarea name="intro" id="intro" placeholder="请输入版本说明" class="layui-textarea">{$info.intro}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

<!-- 引入头部 -->
{include file="public/footer" /}
