<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>正在安装数据库</title>
		<include file="Index:head" />
		<h3>正在安装数据库</h3>
		<div class="panel panel-primary">
			<div id="show-list" class="install-database">
            </div>
            <script type="text/javascript">
                var list   = document.getElementById('show-list');
                function showmsg(msg, classname){
                    var li = document.createElement('p'); 
                    li.innerHTML = msg;
                    classname && li.setAttribute('class', classname);
                    list.appendChild(li);
                    document.scrollTop += 30;
                }
            </script>
		</div>

<include file="Index:foot" />