
#content{width: 950px;}
#banner{width: 960px;background:#000;  }

#banner .xtop{ background:url("images/banner_xtop.png") no-repeat top; padding-top:5px;}
#banner .xbottom{ background:url("images/banner_xbottom.png") no-repeat bottom; padding-bottom:6px;}

#header{ width:921px; height:151px; background:url("images/header_bg.png") no-repeat top;   }
.bwrap{padding-top:12px; background:url("images/bwrap_bg.jpg") repeat-x top;}
#footer{ width:960px; }
.menu{  padding-right:35px; margin-top:10px; }

.prodt .mbd li{ margin-left:20px; margin-right:15px;}
.plinks .mbd li{ margin-left:13px; margin-right:0px;border:1px solid #dfdede;}

.col-extra{ display:none;}
.mhd button{ color:#fff; line-height:15px;}
.contact_con dt{color:#44484b;}

.grid .main-wrap{ margin-left:270px; }


.mhd span a:link, .mhd span a:visited{ color:#44484b;}





.map{ background:#fff; border:1px solid #d2d2d2;}

/*body*/
body{color:#44484b; background:#010000; }
.tbbd{color:#44484b; background:#010000; }
.hwrap{background:url("images/hwrap_bg.png") repeat-x top;}


.pic_list img{ background:#fff; border:1px solid #dfdede;}





.col-sub a:link,.col-sub a:visited,.col-sub .mbd {color:#44484b;}
.col-main a:link,.col-main a:visited,.col-main .mbd {color:#44484b;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #aaabad  solid;border-left:1px #e4e5e9 solid;border-right:1px #e4e5e9 solid;border-bottom:1px #e4e5e9 solid; background:#fff;}
.job_con table,.guest table {border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
.job_con td,.guest td{border-bottom:1px solid #dbdbdb;}
.job_con th,.guest th{background:#f5f4f4;border-bottom: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;border-left: 1px solid #dbdbdb;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;color:#fff; height:110px; line-height:110px; }
#header h1 img{ padding-top:10px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a{ color:#c6c5c5; }

.nav{ height:27px; line-height:27px;overflow:hidden; padding-left:8px;}

.nav li{  width:82px; margin-left:10px; margin-right:10px;  }
.nav .last{ background:none;}

.nav li a{text-align:center; width:82px; }

.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;border-bottom:1px #fff solid; display:none; }
.navlist ul li a{font-weight: normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{ background:url("images/liactive.png") no-repeat top; }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#f6f6f6;}
.nav a:hover,
.nav a.active{color:#be4300;font-weight:bold;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#be4300; }
.nav li.active ul a:hover{background:none;}


/*content*/



.minHeight{ height:auto !important; min-height:1px;}
.mhd span{ padding-right:20px;}
.mhd{background:url("images/mhd_bg.png") no-repeat bottom; height:36px; color:#c04603; line-height:36px; }
.main-wrap .mhd{background:url("images/main-wrap_mhd_bg.png") no-repeat bottom; height:36px; color:#1a60b0; line-height:36px; }
.col-sub .mhd{ background:url("images/col-sub_mhd_bg.png") no-repeat bottom; height:36px; line-height:36px; border:none;}

#content{  margin-top:20px;}
.layout{ background:url("images/layout_bg.png") repeat-y top;}
.xtop{ background:url("images/xtop_bg.png") no-repeat top; padding-top:8px;}
.content .xbottom{ background:url("images/xbottom_bg.png") no-repeat bottom; padding-bottom:11px;}
.col-sub .mhd h3{ padding-left:45px; background:url("images/sico01.png") no-repeat 15px center; }
.n_ico .mhd h3{ padding-left:45px; background:url("images/n_ico.png") no-repeat 15px center;}

#contact .layout{ background:#f8f8f6;}
#contact .layout  .xtop{ background:url("images/contactTop_bg.png") no-repeat top; padding-top:12px;}
#contact .content .xbottom{ background:url("images/contactBottom_bg.png") no-repeat bottom; padding-bottom:10px;}


.col-sub .mbd span a{ color:#44484b;}


.col-main .mhd h3,.plinks .mhd h3,.news .mhd h3,.profile .mhd h3,.prodt .mhd h3{width:auto; color:#c04603;  background:url("images/sico02.png") no-repeat 15px center;padding-left:45px; }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:15px;}

.feedback a{width:243px;background:url("images/feedback.png") no-repeat; padding-bottom:10px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #bababa dotted;}
.news li span,.seabox li span{color:#44484b;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #dbdbdb dashed;}
.notice_con p.active{background:#f2f2f2; color:#202020;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#c04603;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px; color:#44484b;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/li_bg.png") no-repeat top; color:#44484b;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #d8d8d8 solid;}
.title h2{color:#44484b;}
.title p{color:#44484b;}
/*g_page*/
.g_page .page,.g_page .page:hover{ color:#3B3A39;}
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page a:visited,.g_page .front{border:1px #ccc solid;color:#3b3a39;}
.g_page .current,.g_page a:hover{background:#dddfe0;color:#fff;border:1px #ccc solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#ebebeb;  color:#44484b;}
.item span{color:#44484b;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#fff;width:58px;height:23px;}
.inputSubmit_reset{color:#44484b;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png")  no-repeat;}

.pipe {color:#e5ded8;}

.fwrap{ background:#010000;}
#footer {color: #e5ded8; height:70px; padding-top:13px; background:url("images/footer_bg.png") no-repeat top;}

#footer a:link, #footer a:visited {color: #e5ded8;}
#footer a:hover {color: #e5ded8;}
#footer .support a:link, #footer .support a:visited{color: #e5ded8;}
