<!--{template inc/header}-->
<div id="about-page" data-tab="{core::R('a')}" style="max-width:100%">
	<x-header :right-options="{showMore: true}" :left-options="{showBack:true,backText:''}" @on-click-more="">
		AboutMzPHP
	</x-header>

	<group class="todo_item" title="关于 MzPHP">
		<ul style="padding:10px;">
			<li v-for="line in aboutList" style="list-style:none;padding:5px;font-size:0.8rem">
				{{{ line }}}
			</li>
		</ul>
	</group>
	<!--{template inc/tabbar}-->
</div>
<!--{template inc/vux}-->
<!--{static ../static/v1/about.js _about.js}-->
<!--{template inc/footer}-->