/* 授权编辑页 */
.node-list {

	label[class=checkbox] {
	  padding-top: 0;
	  display: inline-block;
	}
	input[type=checkbox] {
	  margin-top: 8px;
	}

	.checkmod {
	    margin-bottom: 20px;
	    border: 1px solid #ebebeb;
	}
	.checkmod dt {
	    padding-left: 15px;
	    height: 30px;
	    line-height: 30px;
	    font-weight: bold;
	    border-bottom: 1px solid #ebebeb;
	    background-color: #ECECEC;
	}
	.checkmod dd {
	    padding-left: 30px;
	    line-height: 30px;
	}
	.checkmod dd .child_row {
	    display:inline-block;
	}
	.checkmod dd .checkbox {
	    margin: 0 10px 0 20px;
	    display:inline-block;
	}
	.checkmod dd .divsion {
	    margin-right: 20px;
	}

}
