.builder {

	.main-title {
		margin-bottom:10px;

		h2 {
			margin:0;
			font-size:20px;
			font-weight: 500;

			span.suggest {
				color:#333;
				font-size:14px;
			}
		}
	}

    .button-box {

        margin-bottom: 10px;
    }

	.tab-wrap {
		margin-bottom:20px;
	}

	.builder_item {
		margin-bottom:10px;

		.item-label {
			color:#09c;
			font-size:15px;

			.check-tips {
				font-size:12px;
				color:#888;
				font-weight:500;
			}
		}

		.focus, &:focus {
		    border-color: #09c;
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(20,92,205,.6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(20,92,205,.6);
		}

		.controls {
			padding-bottom:5px;
			label {
				font-weight:500;
			}

			input {
				max-width:400px;
				color:#666;
			}

			textarea {
				width:100%;
				max-width:400px;
				color:#666;
			}

			select {
				max-width:400px;
				color:#666;
			}
			/*图标选择*/
			.icon-chose {
				max-width:400px;
			}
			/*chosen*/
			.chosen {
				max-width:400px;
			}
		}
	}

	/*文件上传*/
	.file-upload .file_item {
		padding:5px 0;
		margin:5px auto;
	}

	/*视频上传盒子*/
	.video-file-list {
		max-width:400px;

		.action-btn-box {
			margin-bottom:5px;
		}
		.video-item-box {
			max-width:400px;

			.each {
				margin-bottom:5px;
			}
		}
	}

	/*音频上传盒子*/
	.audio-file-list {
		max-width:400px;

		.action-btn-box {
			margin-bottom:5px;
		}
		.audio-item-box {
			max-width:400px;

			.each {
				margin-bottom:5px;
			}
		}
	}
	
}

/*图片上传部分*/
.image-upload {

  .upload-img-box {
    margin: 0;
    .upload-pre-item {
      font-size:0;
      letter-spacing:-3px;

      .each {
        position: relative;
        display: inline-block;
        border: 1px solid #e5e5e5;
        width: 150px;
        height: 150px;
        margin-right: 5px;
        margin-bottom: 5px;
        overflow: hidden;
      }
      img {
        width: 150px;
      }

      .del_btn {
        width: 150px;
        position: absolute;
        color: #fff;
        margin-top: -30px;
        height: 30px;
        line-height: 30px;
        bottom: 0;
        cursor: pointer;
        font-size:12px;
      }

      .opacity {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        background: #000;
        opacity: 0.5;
      }
    }
  }
}