/*后台导航修改*/
.channel-ul .target_input {
  display: none;
}
.channel-ul > li {
  background: #fff;
}
.channel-ul li {
  border-left: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  padding: 10px 30px;
  list-style: none;
}
.channel-ul li.dragging {
  background-color: #fff4e5;
  opacity: 0.35;
}
.channel-ul li select,
.channel-ul li input {
  float: left;
}
.channel-ul .new-blank {
  margin-top: 7px;
  margin-left: 10px;
}
.channel-ul .i-list {
  margin-top: 7px;
}
.channel-ul .i-list a {
  margin-left: 10px;
}
.channel-ul .icon-chose {
  margin-left: 20px;
}
.channel-ul .band-text {
  margin-left: 20px;
}
.channel-ul .color-chose {
  margin-top: 10px;
  margin-left: 20px;
}