body {
  width:100%;
  overflow-y:auto;
  overflow-x:hidden;
}
/*public*/
.margin-top {
  margin-top: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-left {
  margin-left: 15px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*end public*/
.muu-wrapper {

	padding-top:10px;
	
	.with-padding {
		padding:10px;
		position: relative;
	    border-radius: 3px;
	    background: #ffffff;
	    border-top: 3px solid #d2d6de;
	    margin-bottom: 10px;
	    width: 100%;
	    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
}

.content-wrapper {
  background-color: #f2f2f2;
  overflow-y: auto;
}
@media screen and(max-width:768px) {
  .content-wrapper {
    padding-top:100px;
  }
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
  }
}

.nav-pills>li>a {
    border-radius: 4px;
    border-top: 0;
    color: #444;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    border-top: 0;
    background-color: #09c;
    border-radius: 4px;
}

.btn-primary {
    background-color: #03b8cf;
    border-color: #03b8cf;

    &:hover, &:active, &:focus, &:active:hover {
      background-color: #0BA0B3;
      border-color: #0BA0B3;
    }
}

/*修复ZUI tree li样式*/
.sidebar-menu.tree li {
    position: relative;
    padding: 0;
    list-style: none;
    &::before {
      content: none;
    }
}

/*弹出提示框*/
.confirm-modal {
  .fa {
    font-size:36px;
    color: #dd4b39;
  }
  .title {
    font-size:20px;
    font-weight: 400;
    padding: 10px;
  }
  .desc {
    height: auto;
  }
}
/**
 * 显示加载中样式
 */
.big_loading {
  background:rgba(0,0,0,0.2);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  text-align: center;
  img{
      vertical-align: middle;
  }
  img{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
}
.content {
  min-height: 60px;
}












