/* 单选&或许样式美化 */
input[type=checkbox], input[type=radio] {
    display: none;
    cursor: pointer;
}

input[type=checkbox]+label, input[type=radio]+label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 3px;
    color: #252424;
    font-weight: 400;
}

input[type=checkbox]+label:hover:after {
    color: #c7c7c7;
}

input[type=checkbox]:checked+label, input[type=radio]:checked+label {
    color: #09c;
}

input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input[type=checkbox]+label:before {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input[type=radio]+label:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input[type=checkbox]+label:before, input[type=radio]+label:before {
    background-color: #fff;
    border: 1px solid #e8e9eb;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

input[type=checkbox]+label:after
, input[type=checkbox]+label:before
, input[type=radio]+label:after
, input[type=radio]+label:before {
    content: '';
    font-family: helvetica;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 0;
    top: 50%;
    margin-top: -9px;
    text-align: center;
    position: absolute;
}

input[type=checkbox]+label:after, input[type=radio]+label:after ,label.muu-check:after {
    color: #fff;
}

input[type=checkbox]:checked+label:before, input[type=radio]:checked+label:before {
    -moz-box-shadow: inset 0 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 0 10px transparent;
    box-shadow: inset 0 0 0 10px transparent;
}

input[type=checkbox]:checked+label:after, -form input[type=checkbox]:checked+label:hover:after {
    color: #09c;
}

input[type=checkbox]+label:hover:after, input[type=checkbox]:checked+label:after {
    content: "\2713";
    line-height: 18px;
    font-size: 14px;
    font-weight: 900;
}

input[type=radio]:checked+label:after, input[type=radio]:checked+label:hover:after {
    color: #09c;
}
input[type=radio]+label:hover:after {
    color: #c7c7c7;
}
input[type=radio]+label:hover:after, input[type=radio]:checked+label:after {
    content: '\2022';
    text-align: center;
    font-size: 40px;
    line-height: 18px;
    margin-left: -.5px;
}