
.lcx-nav-grp {

    position: relative;
    float: left;
    margin-right: 10px;
    top: 0;
    margin-top: 10px;
    height: 40px;

    > * {
        display: inline-block;
        padding: 0;
        height: 40px;
        position: relative;
    }

    .lcx-nav-item {

        background-color: fade(#000, 50%);

        position: relative;
        min-width: 140px;
        max-width: 200px;
        height: 40px;
        overflow: hidden;
        color: #fff;
        
        .lni-label {
            position: absolute;
            font-size: 9px; line-height: 9px;
            top: 5px; left: 5px;
        }
        
        .lni-title {
            position: absolute;
            bottom: 3px;
            left: 5px;
            right: 5px;
            font-size: 16px;
            line-height: 16px;
            font-family: Helvetica !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }

    ul:first-child {
        margin-left: 0;
    }

    ul.lpn-group {

        margin: 0 0 0 20px;
        padding: 0;
        height: 40px;
        overflow: hidden;
        text-align: center;
        position: relative;

        li {
            display: inline-block;
            list-style-type: none;
            width: 40px; height: 40px;
            overflow: hidden;
            text-align: center;
            position: relative;
            background-color: fade(#000, 50%);
            float: left;
            margin-left: 1px;
        }
        
        li:hover {
            cursor: pointer;
            background-color: fade(#000, 90%);
            .lcx-ico-std {
                background-position: 0 0;
            }
        }

        li:first-child {
            margin-left: 0;
        }
    }
}
