<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>shenzhou</name>
            <displayName><![CDATA[快钱神州行支付]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[快钱神州行支付是可以用中国移动的神州行充值卡来支付的。目前使用神州行支付的订单的金额不能小于1元，不能超过500元。（网址：http://www.99bill.com）]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>