{% extends "BluehouseappWebBundle:Frontend/layout:layout.html.twig" %}

{% block body -%}
    <h2>创建主题
    {% if entity.node %}
    (所属节点:{{ entity.node.name }})</h2>
    {% endif %}

    <div style="width: 100%">
        <div style="margin: 20px">
            {{ form(form) }}
        </div>

    </div>

{% endblock %}
