[database]
adapter  = Mysql
host     = 
username = 
password = 
dbname   = 

[message]
user_id=
account=
password=

[application]
modelsDir     = /models/
migrationsDir = /migrations/
viewsDir      = /views/
baseUri       = /AliceSPAFramwork/
domain        =      e.g. http://localhost:8081
imgUrl        = img/
clientDomain  =      e.g. http://localhost:8080