@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-29 20:02:05
// @modified         2018-06-26 18:44:15
//

$font-family-base: "微软雅黑", "黑体", Helvetica, Arial, sans-serif;

// Basic colors
// $brand-primary: #ef5d5d;
// $brand-primary: #ee4a1b;
$brand-primary: #ffda00;
$brand-secondary: #f30240;

$brand-success: #4cb64c;
$brand-info: #54b7d3;
$brand-warning: #f3a638;
$brand-danger: #e3503e;

// Grid system
$gutter: 15px;
$grid-gutter-width: $gutter * 2;

// Scaffolding
$link-hover-decoration: none;

// Base radius
// $border-radius-base: 0;
// $border-radius-large: $border-radius-base;
// $border-radius-small: $border-radius-base;

// Buttons
$btn-default-color: #666;
$btn-default-bg: #fff;
$btn-default-border: #ddd;

$btn-primary-color: #000;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $btn-primary-bg;

$btn-success-color: #fff;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;

$btn-info-color: #fff;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;

$btn-warning-color: #fff;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;

$btn-danger-color: #fff;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;

//$link-color
$link-color: #0b6798;

//** Link hover color set via `darken()` function.
$link-hover-color: darken($brand-primary, 15%);

//=== Shared nav styles
$nav-link-hover-bg: transparence;

//** Dropdown menu `border-color`.
$dropdown-border: #ddd;

//** Breadcrumb background color
$breadcrumb-bg: #fff;
$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 0;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color: #000;

//** `<input>` border color
$input-border: #e3e3e3;

//** Border color for inputs on focus
$input-border-focus: $brand-primary;

//** Border color for table and cell borders.
$table-border-color: #e5e5e5;

$icon-font-path: '../../../javascript/bootstrap/fonts/';


$pagination-active-color: #000;