{% extends "BluehouseappWebBundle:Frontend/layout:layout.html.twig" %}

{% block title %}
    404 Not Found
{% endblock %}
{% block body %}
<h1>Oops! An Error Occurred</h1>
<h2>The server returned a "404 Not Found".</h2>

<div>
    Something is broken.
</div>
{% endblock %}
