.tbox_background {float:left;z-index:1000;position:absolute;top:0px;left:0px;width:100%;height:100%;filter:alpha(opacity=80);_moz-opacity:0.8;opacity:0.8;background-color:#999;}
#tbox {position: absolute;top: 0;left: 0;text-align: left;z-index:1001;width:100%;}
#tbox .popup {background:url(b.gif);margin:0 auto;}
#tbox .loading {text-align: center;background:url(loading.gif) no-repeat;}
#tbox .body {position: relative;background:#fff;border:1px solid #aaa;margin:8px;}
#tbox .content {background:#fff;padding:0px;width:100%;}
