/*@group common*/
.quick-bar-post {position:fixed; margin-right:200px; width:100%; height:3rem; bottom:0; left:0; z-index:200;}
.quick-bar-post a {display:block; height:3rem; color:#FE8D31; text-align:center; background:#4C4C4C; border-top:2px solid #FE8D31;}
.quick-bar-post a span {display:inline-block; font-size:1rem; line-height:3rem;}
.quick-bar-post a span.edit {width:1.25rem; height:1.5rem; background:url(../images/mobile/icon-bbs-post.png) left bottom no-repeat; background-size:1.25rem;}

/*@group bbs*/
.bbs {position:relative; min-height:30.5rem; overflow:hidden; background:#F7F7F7;}
.bbs .block {padding:0.5rem;}
.bbs .block .label {margin:0; padding:0; border:0; width:3rem; font-weight:bold;}
.bbs .block .button {padding:1rem 0;}
.bbs .block .operation {padding-top:0.5rem;}
.bbs .block .operation .left {float:left; margin-top:1rem;}
.bbs .block .operation .left .icon {margin-right:0.25rem; font-size:1.75rem; color:#ccc}
.bbs .block .operation .left .active {color:#F43A3F;}
.bbs .block .operation .right {float:right; text-align:right;}
.bbs .block .tips {font-size:0.8rem; line-height:2.5rem; color:#999;}
.bbs .block .picture .list .ref {width:4.5rem; height:4rem; float:left; margin-right:0.15rem; position:relative;}
.bbs .block .picture .list .ref img {width:4rem;}
.bbs .block .picture .list .ref .loadding {width:1.5rem; height:1.5rem; position:absolute; top:0.75rem; left:1.25rem;}
.bbs .block .picture .list .ref .loadding img {width:1.5rem; height:1.5rem;}
.bbs .block .picture .list .ref .icon {width:1rem; height:1rem; position:absolute; top:-0.25rem; right:0.25rem; font-size:1rem;}
.bbs .topic {padding:1rem 0.5rem 2rem 0.5rem; background:#F7F7F7;}
.bbs .topic .line {border-bottom:1px solid #E0E0E0; padding:0.5rem 0;}
.bbs .topic .line .left {float:left; width:18%;}
.bbs .topic .line .left .photo {width:2.5rem;}
.bbs .topic .line .left .photo img {width:100%; -webkit-border-radius:1.25rem; -moz-border-radius:1.25rem; border-radius:1.25rem;}
.bbs .topic .line .right {float:left; width:82%;}
.bbs .topic .line .right .username {color:#FE8D31; font-size:1.15rem; line-height:1.2rem;}
.bbs .topic .line .right .content {margin-top:0.5rem; color:#333; line-height:1.2rem;}
.bbs .topic .line .right .content .open {color:#2E91D6;}
.bbs .topic .line .right .content .close {color:#2E91D6;}
.bbs .topic .line .right .content .face {position:relative; top:0.35rem; width:1.5rem;}
.bbs .topic .line .right .attachment img {margin-top:0.5rem; width:4rem; height:3rem;}
.bbs .topic .line .right .attachment .icon {display:inline-block; margin-top:0.5rem; font-size:1.5rem; color:#FE8D31;}
.bbs .topic .line .right .operate {margin-top:0.5rem;}
.bbs .topic .line .right .operate .left {float:left; width:auto;}
.bbs .topic .line .right .operate .left span {display:inline-block; margin-right:0.15rem; font-size:0.85rem; color:#999;}
.bbs .topic .line .right .operate .left span a {color:#2E91D6;}
.bbs .topic .line .right .operate .left span.pubtime {font-size:0.65rem;}
.bbs .topic .line .right .operate .left span.edit {padding-left:1rem; background:url(../images/mobile/icon-operate-edit.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .operate .left span.delete {padding-left:1rem; background:url(../images/mobile/icon-operate-delete-black.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .operate .right {float:right; width:auto;}
.bbs .topic .line .right .operate .right span {display:inline-block; margin-left:0.25rem; font-size:0.85rem; color:#999;}
.bbs .topic .line .right .operate .right span.up {padding-left:1rem; background:url(../images/mobile/icon-bbs-up.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .operate .right span.up em {font-size:0.65rem;}
.bbs .topic .line .right .operate .right span.up-active {padding-left:1rem; background:url(../images/mobile/icon-bbs-up-active.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .operate .right span.reply {padding-left:1rem; background:url(../images/mobile/icon-bbs-reply.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .up-list {padding:0.25rem 0.5rem 0.25rem 1.25rem; font-size:0.75rem; color:#556fb5; background:url(../images/mobile/icon-bbs-up-active.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .reply-list {position:relative; margin-top:1rem; background:#E5E5E5; border-radius:1px;}
.bbs .topic .line .right .reply-list li {padding:0.35rem 0.5rem; font-size:0.9rem; line-height:1rem; color:#999;}
.bbs .topic .line .right .reply-list li .username{color:#003399; font-size:0.85rem; line-height:1rem;}
.bbs .topic .line .right .reply-list li.point {position:absolute; left:1rem; top:-0.85rem; width:1rem; height:1rem; background:url(../images/mobile/icon-bbs-box-point.png) left center no-repeat; background-size:1rem;}
.bbs .topic .line .right .reply-list li.hide {padding:0; margin:0; height:0;}
.bbs .topic .line .right .more {background:none;}
.bbs .topic .line .right .more span {display:inline-block; font-size:0.85rem; line-height:1.5rem; color:#999;}
.bbs .topic .line .right .more .loading {color:#2E91D6;}
.bbs .topic .line .right .more .count {font-size:0.8rem; line-height:2rem;}
.bbs .topic .line:last-child {border:0;}
.bbs .empty {margin:2rem 1rem 1rem 1rem; text-align:center; line-height:2rem;}
.bbs .empty .link a {color:#FE8D31;}
.bbs .load {text-align:center; padding:0.25rem;}
.bbs .load .text {display:inline-block; padding-left:1.5rem; font-size:1.15rem; line-height:1.5rem; background:url(../images/mobile/loading.gif) left center no-repeat; background-size:1rem;}