.aw-content-wrap{background:url(img/bg_w.png);border-radius:0;border:none}
.aw-content-wraps{margin:0 15px;background-color:#fff;border:1px solid #e6e6e6;border-radius:4px}
.aw-main-content{border:none;background:#FFF}
.aw-main-content{padding:20px}
.aw-side-bar{margin-left:-1px;padding:20px;border:none;background:#f5f8f7;}
.aw-text-color-orange{color:#0C0;font-weight:700}

.benner{padding:20px}
.img-polaroidst{max-width:100%;display:block;background:url(img/loding.gif) no-repeat center}
.markitup-box img{display:block;max-width:100%}
.shibox img{max-width:100%;display:block;background:url(img/loding.gif) no-repeat center;min-height:120px;min-width:180px}
.aw-article-list img{max-width:100%;display:block;background:url(img/loding.gif) no-repeat center}
.ad-all{padding:10px;border-bottom:1px solid #e2e2e2}
.fox-dborder{border-bottom:1px solid #e2e2e2;padding:5px 0}
.ad-all img{width:100%}
.shiboximg{padding:0 5px 5px 5px;margin:0;max-height:120px;overflow:hidden}
.shiboximgs{padding:0 5px 5px 5px;margin:0;height:70px;overflow:hidden}
.ad-article{text-align:center;padding:10px;background:#FFF;height:auto;margin-bottom:10px;border:1px solid #e2e2e2}
.ad-article img{width:100%}
.inners{padding:10px}
.kl{padding-left:5px}
.kr{padding-right:5px}
.ptop15{padding-top:10px}
.kltu{margin:5px 0 0 10px}
#qiandao{padding:10px;line-height:30px}
#qiandao h2{padding:0 0 10px 5px;border-bottom:1px solid #e6e6e6;font-size:18px}
.qiandaobox{border-radius:0;border:none;width:100%}
.qiandaobox dt{width:108px;height:105px}
.qiandaobox dt img{width:105px;height:105px}
.qiandaobox dd{width:53px;height:55px;margin:0}
.qiandaobox dd img{width:50px;height:50px}
.oldsite{position:absolute;top:0;left:0;width:30px;height:30px;z-index:99999;background:url(img/olds.gif);text-align:left}
.oldsite a{color:#fff;font-size:12px}
.shibox .num{position:absolute;font-size:12px;background:rgba(0,0,0,.6) none repeat scroll 0 0!important;filter:Alpha(opacity=60);background:#222;padding:0 10px;color:#fff}
.lightroom-item{position:relative;z-index:1000002;background:#fff;-webkit-box-shadow:0 5px 20px rgba(0,0,0,.25);-moz-box-shadow:0 5px 20px rgba(0,0,0,.25);box-shadow:0 5px 20px rgba(0,0,0,.25)}
#overDiv{background-color:#000;width:100%;height:100%;left:0;top:0;filter:alpha(opacity=80);opacity:.8;z-index:1;position:fixed!important;position:absolute}
.or{background:#393A44;color:#999;display:inline-block;width:26px;height:26x;line-height:26px;position:absolute;z-index:2;margin:5px 0 0 -12px;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;text-align:center;font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;font-weight:700;font-size:12px}
.btnst{display:inline-block;padding:8px 16px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:2px;margin-left:6px}
.aw-question-content{position:relative}
.aw-question-content .fox-right{position:absolute;right:0}
.markitup-box ol,.markitup-box ul{margin-top:15px}
.markitup-box ol li,.markitup-box ul li{line-height:25px}
.aw-common-list>div+div{border:none}
.aw-common-list .aw-item .aw-article-text{width:160px;height:100px;overflow:hidden;margin:10px 0;padding:0}
.aw-common-list .aw-item{position:relative;z-index:1;padding:0 10px 10px 120px;margin-top:10px;border-bottom:1px solid #e5e5e5;min-height:120px}
.aw-common-list .aw-item .userline{float:right;background:transparent url(img/user.png) left top no-repeat;width:30px;min-height:120px;display:block}
.aw-common-list .aw-item .aw-user-imgs{position:absolute;left:0;width:110px;text-align:center}
.aw-common-list .aw-item .aw-user-imgs .aw-user-name img{width:40px;height:40px;border-radius:20px}
.aw-common-list .aw-item .aw-user-imgs .aw-user-name-o{float:left;width:80px;height:50px;line-height:30px;border-radius:50px;word-wrap:break-word;word-break:break-all;text-align:center}
.aw-common-list .aw-item .aw-user-imgs .aw-user-name-o img{width:50px;height:50px;border-radius:50px;margin:5px;vertical-align:middle}
.aw-common-list .aw-item .aw-user-imgs .aw-user-name-o p{line-height:18px;text-align:center}
.aw-common-list .aw-item .icon-myvip,.aw-feed-list .aw-item .icon-myvip{position:absolute;left:0;top:0;color:#a3d700;}
.aw-common-list .aw-question-content h4 span{padding:2px 4px;font-size:12px;border-radius:4px;margin-right:2px}
.aw-article-list h1 span{padding:2px 4px;font-size:12px;border-radius:4px;margin-right:2px}
.aw-item .inner .pull-right a i{vertical-align:-2px}
.spanb_a{clear:both;color:#FFF;background-color:#5bbf5a;border-radius:4px;padding:1px 3px}
.spanb_b{clear:both;color:#FFF;background-color:#F51;border-radius:4px;padding:1px 3px}
.spanb_c{clear:both;color:#FFF;background-color:#9D0;border-radius:4px;padding:1px 3px}
.spanb_d{clear:both;color:#FFF;background-color:#ffca3f;border-radius:4px;padding:1px 3px}
.spanb_e{clear:both;color:#FFF;background-color:#59b0ff;border-radius:4px;padding:1px 3px}
.aw-login-box .logo{width:260px;height:94px;background:url(img/login_logo.png) no-repeat}
.aw-login-box .logo a{display:block;width:260px;height:94px}
.aw-login-box{width:400px;padding:0;background:url(img/opacity.png);border:none;text-align:center;border-radius:5px;margin:80px auto 40px}
.aw-login-box .mod-body{padding:0 40px}
.aw-login-box .mod-body .content{width:300px;margin:0;padding:20px;border-bottom:1px solid #e2e2e2;margin-bottom:20px}
.aw-login-box .mod-body .side-bar{height:auto;padding:0 30px;margin-bottom:30px;border:none;text-align:center}
.aw-login-box .mod-footer{height:50px;line-height:50px;padding:0 10px}
.aw-register-box{width:400px;padding:0;border:none;border-radius:5px;background:url(img/opacity.png)}
.aw-register-box .mod-footer{height:50px;line-height:50px;padding:0 10px;color:#FFF}
.aw-register-box .logo{width:260px;height:94px;background:url(img/login_logo.png) no-repeat}
.aw-top-menu-wrap{position:relative;z-index:1001;width:100%;min-height:50px;background-color:#393A44}
.aw-container-wrap_50{margin-top:-50px}
.aw-logo,.aw-search-box,.aw-top-nav{position:relative;float:left}
.aw-publish-btn,.aw-top-notification,.aw-user-nav{position:relative;float:right;margin:12px 0 10px 10px}
.aw-logo{width:210px;height:45px;}
.aw-logo a{display:block;width:170px;height:45px;}
@keyframes fade-in{0%{opacity:.6;transform:translate(0,0)}
50%{opacity:1;transform:scale(1);-webkit-transform:skewX(-25deg);-moz-transform:skewX(-25deg)}
100%{opacity:.8;transform:translate(0,0)}
}
@-webkit-keyframes fade-in{0%{opacity:.6}
50%{opacity:1;transform:scale(1);-webkit-transform:skewX(-25deg);-moz-transform:skewX(-25deg)}
100%{opacity:.8}
}
.aw-logo h1{height:25px;line-height:25px;margin:-2px 0 2px 0;font-size:14px}
.aw-publish-btn{width:80px}
.aw-publish-btn a{display:block;width:80px;height:32px;line-height:32px;font-size:14px;text-align:center;border-radius:3px}
.aw-publish-btn i{vertical-align:-2px;margin-right:10px;font-size:16px}


.aw-top-nav{margin:0;border:none}
.aw-top-nav .icon-bar{background-color:#fff;font-size:0}
.aw-top-nav>nav>ul>li>a{padding:19px 15px;color:#fff;letter-spacing:2px;border-bottom:#393A44 solid 3px}
.aw-top-nav>nav>ul>li>a.active{background:#555;font-weight:700;border-bottom:#db6d4b solid 3px}
.aw-top-nav>nav>ul>li>a:focus,.aw-top-nav>nav>ul>li>a:hover{background:#555;border-bottom:#db6d4b solid 3px}
.aw-top-nav>nav>ul>li>a i{position:relative;top:2px;font-size:16px}
.aw-top-nav>nav>ul>li>a i.icon-home{top:1px}
.aw-top-nav>nav>ul>li:hover .dropdown-list{display:block}
.aw-top-nav>nav>ul>li .dropdown-list{display:none;position:absolute;right:0;width:86px}
.aw-top-nav>nav>ul>li .dropdown-list ul li a{display:block;height:42px;line-height:42px;padding:0 10px;background:#555;text-align:center;color:#fff}
.aw-top-nav>nav>ul>li .dropdown-list ul li a:hover{background:#444;border-bottom:#db6d4b solid 1px}
.aw-top-nav>nav>ul>li .dropdown-list ul li a.active{background:#444;border-bottom:#db6d4b solid 1px}
.aw-top-nav>nav>ul>li .dropdown-list ul li i{margin-right:3px;vertical-align:-1px;font-size:16px}
.aw-top-nav>nav>ul>li .dropdown-list ul li:last-child a{border-radius:0 0 4px 4px}
.aw-top-nav .badge{position:absolute;top:14px;right:2px}
.aw-top-nav ul li:hover .aw-dropdown{display:block}
.aw-top-nav .aw-dropdown{display:none;top:100%;min-width:300px;border-top:none;border-radius:0 0 4px 4px}
.aw-top-nav .aw-dropdown .more{font-size:12px}
.aw-top-nav .aw-dropdown .close{display:none}
.aw-top-nav .aw-dropdown ul li{padding:5px 10px;border-top:1px solid #f5f5f5}
.aw-top-nav .aw-dropdown ul li:first-child{border-top:none}
.aw-top-nav .aw-dropdown ul li:hover{background:#f5faff}
.aw-top-nav .aw-dropdown ul li:hover .read{display:inline-block}
.aw-top-nav .aw-dropdown ul li p{margin:0;padding:0}
.aw-top-nav .aw-dropdown ul li .message{display:inline-block;width:260px;font-size:12px}
.aw-top-nav .aw-dropdown ul li .read{display:none}
.aw-top-nav .aw-dropdown ul li:last-child{border-radius:0 0 4px 4px}
.aw-top-nav .aw-dropdown .mod-footer a{display:block;height:40px;text-align:center;background-color:#fafafa;color:#999;font-size:12px;line-height:40px;border-radius:0 0 4px 4px;border-top:1px solid #f5f5f5}
.aw-user-nav{margin:12px 0 0 10px}
.aw-user-nav:hover .dropdown-list{display:block}
.aw-user-nav img{width:32px;height:32px}
.aw-user-nav .login{margin-right:10px}
.aw-user-nav .aw-user-nav-dropdown{display:block;height:42px}
.aw-user-nav .aw-user-nav-dropdown .badge{position:absolute;top:-8px;right:-8px}
.aw-user-nav .dropdown-list{top:100%;width:122px;border-top:none;border-radius:0 0 4px 4px}
.aw-user-nav .dropdown-list ul li a i{vertical-align:-2px;margin-right:5px;font-size:16px}
.aw-search-box{margin:10px 0}
.aw-search-box input{width:230px;height:32px;padding-right:30px;border:none}
.aw-search-box #global_search_btns{position:absolute;right:5px;top:6px;font-size:18px;color:#999}
.aw-search-box .aw-dropdown{width:355px}
.aw-search-box .aw-dropdown p{height:38px;line-height:38px;margin:0;padding:0 10px;font-weight:400;border-bottom:1px solid #f0f0f0}
.aw-search-box .aw-dropdown p.search{display:none}
.aw-search-box .aw-dropdown .mod-footer{height:42px;line-height:42px;background-color:#fafafa}
.aw-search-box .aw-dropdown .mod-footer .btn-success{margin:10px}
.aw-search-box .aw-dropdown .aw-dropdown-list{max-height:337px;overflow-y:scroll;border-bottom:1px solid #f0f0f0}
.aw-search-box .aw-dropdown .aw-dropdown-list li.question .aw-hide-txt{width:250px}
.user-home .user-bg-img{padding-top:20px;background:url(img/user.jpg) no-repeat}
.user-home .user-bg-img img{margin-top:20px}
.user-home .mod-head{margin-bottom:10px}
.user-home li{text-align:center}
.user-home li img{width:65px;height:65px;border-radius:35px;padding:2px;background-color:#FFF}
.user-home li .user-home-mod,.user-home li .user-home-question{border-top:1px solid #E6ECD2;padding-top:10px}
.user-home li .user-home-mod li{float:left;text-align:center;width:33%;border-left:1px solid #E6ECD2;font-weight:700}
.user-home li .user-home-mod li p{font-size:12px;font-weight:100}
.user-home li .user-home-mod li:first-child,.user-home li .user-home-question li:first-child{border-left:none}
.user-home li .user-home-question li{float:left;text-align:center;border-left:1px solid #E6ECD2;width:50%}
.aw-topic-category .mod-body ul li{float:left;position:relative;margin:0 10px 10px 0;font-size:14px;text-align:center;cursor:pointer;border-radius:5px}
.aw-topic-category .mod-body ul li a{display:block;padding:2px 10px;color:#17344A;border:1px solid #eee}
.aw-topic-category .mod-body ul li a.active{background:#666;color:#fff}
.aw-topic-category .mod-body ul li a:hover{background:#777;color:#fff}
.aw-explore-publish{background:url(img/bg-a.png);padding:20px;border:1px solid #e2e2e2;border-radius:2px}
.aw-explore-publish .form-control{margin-bottom:10px}
.aw-explore-publish .aw-editor-box{margin-bottom:10px}
.aw-explore-publish .aw-editor-box .autosize{height:50px}
#body-wrapper{width:100%;height:100%;text-align:center;position:relative;opacity:.7}
#bgPattern{left:0;top:0;position:absolute;z-index:90;background:url(img/pattern.png);width:100%;height:100%;opacity:1}
.aw-noscript{position:absolute;z-index:100;width:100%;height:100%;background-color:#f5f5f5;overflow:hidden}
.foxbox{position:absolute;z-index:100;left:50%;margin-left:-150px;background:url(img/ubg.jpg) no-repeat center;background-attachment:fixed;background-size:cover;opacity:1;box-shadow:0 0 3px #000}
@media not all,(min-resolution:192dpi){.aw-logo a{background-image:url(img/logo@2x.png);background-size:60px auto}
}
@media (max-width:992px){.container{width:100%!important}
}
@media (max-width:769px){.aw-feed-list .aw-item .more-operate{display:inline-block}
.aw-main-content{border:none}
.navbar-collapse.active{display:block}
.navbar-collapse{position:absolute;width:120px;left:-15px;background:#393A44}
}
@media (min-width:768px){.navbar-collapse{position:static;width:auto;background:#393A44}
}
@media (max-width:736px){.aw-container-wrap{margin-top:15px}
.page-control .pagination{float:none!important}
.markitup-box img{max-width:100%!important}
.aw-nav-tabs{padding:30px 10px 0}
.aw-nav-tabs>li{margin:0}
.aw-common-list .aw-item{padding:14px}
.category .col-sm-12>ul>li{margin:2px 3px;padding:0 4px}
.category dl .aw-dropdown ul li a,.category dl:hover .aw-dropdown,.category ul li:hover .aw-dropdown{display:none}
.category dl{margin:10px 10px 10px 0}
.category dl dd{width:115px}
.category dl dt,.category dl dt img{width:32px;height:32px}
.aw-topic-list-mod .aw-item{padding-left:0}
.aw-article-list .aw-item{padding:10px 15px}
.aw-edit-comment-box .modal-dialog,.aw-image-box .modal-dialog,.aw-inbox .modal-dialog,.aw-link-box .modal-dialog,.aw-publish-box .modal-content,.aw-publish-box .modal-dialog,.aw-question-redirect-box .modal-dialog,.aw-tips-box .modal-dialog,.aw-topic-edit-note-box .modal-dialog{width:auto}
.aw-publish-article .aw-publish-title input,.aw-publish-title input{width:68%}
.aw-publish-title .dropdown{width:30%}
.aw-user-detail-box .mod-head{min-height:70px!important;padding:10px 10px 0 70px!important}
.aw-user-detail-box .mod-head img{width:50px;left:10px!important;top:10px!important}
.aw-user-detail-box .mod-body .meta span{float:left;width:25%;margin:0!important}
.aw-user-center-tab .tab-pane>.aw-mod a.aw-hide-txt{max-width:auto}
}
@media (max-width:414px){.aw-top-menu-wrap .container{padding:0}
.aw-user-nav{margin-right:10px}
.aw-question-comment-box .aw-feed-list .aw-item .aw-user-img{display:none}
.aw-feed-list .operate+.operate{margin-left:1px}
.aw-feed-list .aw-item .more-operate,.aw-feed-list .aw-item:hover .close,.aw-feed-list .aw-item:hover .more-operate{display:inline}
.aw-question-detail-txt iframe{max-width:100%}
.aw-top-nav .navbar-collapse.active{left:0}
.aw-common-list .aw-item{padding:14px 0}
.aw-global-tips{margin:0 0 15px;padding:0}
.category dl{padding:0}
.category dl dd{width:80px}
.aw-publish-article .aw-publish-title input,.aw-publish-title input{width:58%}
.aw-publish-title .dropdown{width:40%}
.aw-mod-publish .mod-footer .aw-anonymity{margin:0 20px 0 0}
.aw-question-detail .mod-head h1{font-size:16px}
.aw-question-detail .mod-head .operate,.aw-topic-detail-title .aw-topic-operate{position:relative}
.aw-feed-list .aw-item .mod-footer{padding:0}
.aw-topic-list .aw-item{height:152px;padding:20px 5px 20px 0}
.aw-topic-list .aw-item .img{position:relative;left:0;top:0;float:left;margin-right:10px}
.aw-topic-list .aw-item .img img{width:30px;height:30px}
.aw-footer{padding:20px 0 0}
}
.new-feature-index li img{max-width:100%;margin:0}
.new-feature-index li .span-feature{background-color:#ff9801;color:#FFF;padding:3px 5px;margin-right:5px}
.new-feature-index li .feature-title{position:relative;z-index:1;background:url(img/bg.png);padding:2px 0;margin-bottom:5px;margin-top:-25px}
.new-feature-index li .feature-title a{color:#fff}
.new-feature-title{width:100%;border-bottom:1px solid #e2e2e2}
.new-feature-title .img{width:100%;background-color:#FFF;overflow:hidden}
.new-feature-title .img img{width:100%;height:100%}
.feature-title h2{height:50px;line-height:50px;font-size:18px;border-bottom:1px solid #e2e2e2;overflow:hidden}
.feature-title h2 span{background-color:#ff9801;color:#FFF;height:50px;padding:15px;margin-right:20px}
.feature-title p{background-color:#fff;padding:20px}
.aw-article-list{padding:0 15px;margin:15px 0}
.aw-article-list ul{margin-top:20px}
.aw-article-list li .mod-body{height:40px;line-height:40px;overflow:hidden;padding-top:10px}
.aw-article-list ul .mod-footer{margin-top:0}
.aw-article-list li h4 a{font-weight:700}
.aw-article-list li{padding:10px;overflow:hidden;border:1px solid #e2e2e2;border-radius:3px}
.aw-article-list li:hover{border:1px solid #ccc}
.aw-article-list li h1{font-size:18px}
.aw-article-list li .aw-article-text{height:120px;overflow:hidden;padding:0}
.aw-article-list li .aw-article-text img{max-width:100%;display:block;background:url(img/loding.gif) no-repeat center}
.aw-search-box input{width:100%;height:30px;padding-right:30px;border:none;margin-top:10px;border:1px solid #e5e5e5}
.aw-search-box{position:absolute;top:-145px; z-index:1002;width:30%}
.navbar-search{position:relative;}
.aw-search-box .search-close{position:absolute;right:-40px;top:10px;display:inline-block;padding:4px;color:#999}
.aw-search-box #global_search_btns{position:absolute;right:5px;top:4px;font-size:18px;color:#999}
.aw-common-list .aw-question-content h4{margin:4px 0;font-size:18px;word-wrap:break-word;position:relative}
.qian-box{border:1px solid #ddd;background:#fff;height:44px}
.qian-box dt{float:left;width:90px;height:40px;height:40px;margin:1px;font-size:0;overflow:hidden}
.qian-box .act a{float:left;width:90px;height:40px;background:url(img/qiandao.png) no-repeat 0 0}
.qian-box .acts a{float:left;width:90px;height:40px;background:url(img/qiandao.png) no-repeat 0 -80px}
.qian-box .act a:hover{float:left;width:90px;height:40px;background:url(img/qiandao.png) no-repeat 0 -40px}
.qian-box dd{float:right;margin-left:0;width:100px;height:15px;font-size:12px}
.qian-box dd p{margin:0;padding-top:3px}
.qian-box dd p span{color:red;margin:0 3px}
.points-box .aw-mod .mod-body h2{font-size:18px;padding:20px 0 0 30px;color:#499ef3}
.points-box .aw-mod .mod-body h2 span{font-size:14px;color:#666}
.points-box .aw-mod .mod-body h2 span em{font-size:20px;color:#f30}
.lielist-box li{float:left;width:100%;display:block;height:50px;line-height:50px;border-bottom:1px dotted #e6e6e6}
.lielist-box li dd{line-height:50px;padding-left:15px;margin:0}
.lielist-box li dd a{font-size:14px}
.lielist-box li dd span{margin:0 5px;color:#3398CC;font-size:16px}
.lielist-box li dd img{width:30px;height:30px;border-radius:40px}
.aw-promotion{margin:0 30px}
.points-box .aw-mod .aw-promotion h2{font-size:14px;padding:10px 0 0 0;color:#777;font-weight:700}
.btn-primary{border:none!important;background-color:#6D89BB}
.btn-primary:hover{background-color:#789}
.btn-primary:active,.btn-primary:focus{background-color:#1a90ff}
.aw-wecenter{margin:0 auto}
.aw-padding10{padding:10px}
.aw-content-wrap{margin:0 15px;background-color:#fff;border:1px solid #e6e6e6;border-radius:4px}
.aw-main-content{padding:0 0 20px;}
.aw-side-bar{margin-left:-1px;padding:20px;border-left:1px solid #e6e6e6}
.aw-mod .mod-head h4,.aw-mod .mod-head h4 a{font-size:14px}
.aw-back-top{position:fixed;display:none;padding:0 5px;right:20px;bottom:20px;background-color:#d9d9d9;border-radius:3px}
.aw-back-top .icon-up{display:block;padding:10px;color:#a6a6a6;font-size:20px}
.aw-back-top:hover{background-color:#d0d0d0}
.aw-text-align-justify{text-align:justify}
.text-color-999{font-size:12px;color:#999}
.text-colors-999{font-size:14px;color:#999}
.text-colors-999:hover{color:#666}
.text-color-000{font-size:12px;color:#fff}
.font-size-12{font-size:12px}
.aw-hide-txt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.aw-placeholder{color:#999!important}
.aw-comment-list li:first-child,.aw-dropdown-menu li:first-child,.aw-edit-comment-box .aw-file-upload-box,.aw-li-border-bottom li:first-child,.dropdown-menu li.first{border-top:none}
#aw-loading,#markItUpPreviewFrames code,.aw-border-radius-5,.aw-border-radius-5 img,.aw-card-tips,.aw-card-tips .mod-head .img img,.aw-comment-box,.aw-dropdown,.aw-dropdown-list li.user a img,.aw-dropdown-menu img,.aw-file-uploader dl,.aw-first-login .aw-complete-data .side-bar img,.aw-first-login .aw-first-login-suggest-list .aw-topic-img img,.aw-first-login .aw-first-login-suggest-list .img img,.aw-first-login .aw-first-login-suggest-list li>span,.aw-inbox .mod-footer li .aw-user-img img,.aw-inbox-read .mod-footer li .aw-item,.aw-invite-list ul li img,.aw-load-more-content,.aw-login-register .aw-user-head img,.aw-login-register a img,.aw-mod-search-result .aw-item .aw-topic-img img,.aw-mod-search-result .aw-item .aw-user-img img,.aw-mod-search-result .aw-search-result-tags,.aw-mod-topic-edit-box .mod-head .img,.aw-mod.side-nav ul li a,.aw-mod.topic-nav ul>li>a,.aw-mod.topic-nav ul>li>p a,.aw-notopic-sort,.aw-publish-box .aw-publish-title .dropdown .dropdown-toggle,.aw-publish-title.active input,.aw-question-tags,.aw-replay-box .mod-body,.aw-topic-detail-title .mod-body img,.aw-topic-img img,.aw-topic-name img,.aw-topic-name span,.aw-topic-search,.aw-user-name img,.aw-user-nav>a img,.category .span12>ul>li,.category dl dt img,.markitup-box code,.topic-edit-notes li{border-radius:4px}
.aw-mod.new-announce,.category dl{border-radius:10px}
.aw-publish-title .dropdown .dropdown-toggle,.aw-publish-title .dropdown .dropdown-toggle a{border-radius:0 5px 5px 0}
.aw-nav-main li:first-child a.active{border-radius:10px 0 0 0}
.aw-close{font-size:16px}
.inline-block{display:inline-block}
.aw-global-tips{margin-bottom:30px}
.topic-tag .text{display:inline-block;height:20px;line-height:16px;padding:2px 5px;background-color:#87888C;font-size:12px;color:#fff;border-radius:4px}
.topic-tag .close:active,.topic-tag .close:hover,.topic-tag .text:active,.topic-tag .text:hover{background-color:#393A44}
.topic-tag .close{width:20px;height:20px;background-color:#66b7ff;text-align:center;line-height:20px;color:#fff;font-size:10px;opacity:1;filter:alpha(opacity=100);border-radius:0 4px 4px 0}
.fcontribute img{width:18px;height:18px}
.fcontribute img{border-radius:12px}
.lanmubiao{padding-top:16px;padding-left:20px;font-size:20px}
.aw-help-center .mod-head .aw-search-boxh{position:relative;float:none;margin:35px auto 0;width:510px;border:8px solid #f5f5f5}
.aw-help-center .mod-head .aw-search-boxh #global_search_btns{position:absolute;right:5px;top:6px;font-size:18px;color:#999}
.aw-feed-list .operate a.active,.aw-feed-list .operate a:hover{background-color:#DCDCDC;color:#fff;border-radius:4px}
.aw-feed-list .operate .aw-add-comment.active,.aw-feed-list .operate .aw-add-comment:hover{background-color:#DCDCDC;color:#fff;border-radius:4px}
.foxshas{width:1022px;height:230px;background:url(img/index_shadow.png) no-repeat 0 -310px;margin:0 auto}
.foxshas .i_content{width:1000px;height:35px;background:#FFF;position:relative;margin:-35px auto 0 auto}
#kuaiwwwad{z-index:1001}
#kuaiwwwad .kuaiwwwadbox{width:200px;height:400px;background:url(img/kuaiwww.png) no-repeat;margin:0 auto}
#kuaiwwwad .kuaiwwwadboxs{width:200px;margin:0 auto}
.fixedff{position:fixed;top:80px;max-width:220px}
.fixedffs{position:fixed;top:130px;max-width:220px}
.fixedffs ul{width:200px;margin:0 auto}
.sverified{margin:2px;background:#f9f9f9;border:1px solid #e6e6e6;border-radius:4px;position:relative;padding-bottom:10px}
.sverified .aw-user-img{position:absolute;left:15px;top:5px}
.sverified .aw-user-img img{width:40px;height:40px;border-radius:4px}
.sverified p{padding:5px;width:100%}
.sverified .text-color-999{font-size:12px;color:#999}
.sverified .operate{width:100%;border-top:1px solid #e6e6e6}
#quotation{height:360px;overflow:hidden;margin:0 auto;position:relative}
#quotation li{list-style:none;font-size:12px}
.side-comment{background:#f0f0f0;padding:10px 20px;margin-top:13px;margin-bottom:10px;position:relative;border-radius:3px;color:#38485A;font-size:14px}
.side-comment{background:#f0f0f0;padding:10px 20px;margin-top:13px;margin-bottom:10px;position:relative;border-radius:3px;color:#38485a}
.side-comment::before{content:' ';height:0;width:0;border-color:transparent transparent #f0f0f0;border-style:solid;border-width:8px;position:absolute;left:15px;top:-15px}
a.dark:active,a.dark:link,a.dark:visited{color:gray;text-decoration:none}
a.dark:hover{color:#6D89BB;text-decoration:none}
a.dark img{width:18px;height:18px;border-radius:12px}
.side-comment-time{color:#BBB;float:right}
.zhankai p{padding:0 5px}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background-color:#999;color:#fff;border-color:#999}
.btn.active,.btn:active{box-shadow:none}
.btn-mini{min-width:64px;height:24px;padding:0 10px;line-height:24px;font-weight:400;font-size:12px}
.btn-normal{min-width:76px;height:34px;padding:0 10px;line-height:34px;font-size:14px}
.btn-large{min-width:120px;height:38px;padding:0 10px;line-height:38px;font-size:14px}
.btn-gray.active,.btn-success{border:none!important;background-color:#5bbf5a;color:#fff}
.btn-gray.active:hover,.btn-success:hover{background-color:#38b836!important;color:#fff!important}
.btn-success:active,.btn-success:focus{background-color:#32a831!important}
.btn-success.active{background-color:#eee;color:#999;box-shadow:none}
.btn-success.active:hover{background-color:#e6e6e6!important;color:#999!important}
.btn-success.active:active,.btn-success.active:focus{background-color:#d9d9d9!important;color:#999}
.btn-primarys{border:none!important;background-color:#59b0ff}
.btn-primarys:hover{background-color:#4daaff}
.btn-primarys:active,.btn-primarys:focus{background-color:#1a90ff}
.btn-gray{border:none!important;background-color:#eee;color:#999}
.btn-gray:hover{background-color:#e6e6e6;color:#999}
.uc_top_bg{height:150px;position:relative;width:100%;background:url(img/user_top_bg.jpg) no-repeat;color:#fff}
.aw-user-detail-box .mod-head img .avatar-img{border-radius:100%;max-width:100%}
.aw-user-detail-box .mod-head img.img-circle{border-radius:50%;padding:2px;background-color:#FFF}
.biaobox{position:absolute;right:0;top:-5px;z-index:1001}
.biaobox .jian{float:left;width:30px;height:30px;background:url(img/jians.png) no-repeat}
.biaobox .gan{float:left;width:30px;height:30px;background:url(img/gans.png) no-repeat}
.biaobox .jia{float:left;width:30px;height:30px;background:url(img/jias.png) no-repeat}
.biaobox .huo{float:left;width:30px;height:30px;background:url(img/huos.png) no-repeat}
.biaoboxs{position:absolute;right:0;top:-30px;z-index:1001}
.biaoboxs .jian{float:left;width:40px;height:40px;background:url(img/jian.png) no-repeat}
.biaoboxs .gan{float:left;width:40px;height:40px;background:url(img/gan.png) no-repeat}
.biaoboxs .jia{float:left;width:40px;height:40px;background:url(img/jia.png) no-repeat}
.biaoboxs .huo{float:left;width:40px;height:40px;background:url(img/huo.png) no-repeat}
.zanbox{margin-top:-6px;border-radius:4px;font-size:12px;border:1px solid #f5f5f5;height:30px;line-height:30px;padding:0 8px}
.zanbox i{margin:12px 4px 0 4px}
.icon-eye:before{content:"\e643"}
.fz16{font-size:16px}
.idown i{vertical-align:-2px}
.aw-question-topics{display:inline-block;padding:0 5px;margin-right:5px;height:18px;line-height:18px;background-color:#5bbf5a;font-size:12px;color:#fff;border-radius:4px}
.aw-question-topics:hover{background-color:#3CB371;color:#fff}
.awfo-box{position:relative;z-index:1;line-height:180%;margin:4px 0;word-wrap:break-word!important}
.text-color-9999{font-size:14px;color:#999}
.personage_left{width:100%;min-height:60px;border-bottom:1px solid #e5e5e5}
.personage_left ul{list-style:none;display:block;padding:0}
.about_iyiou_menu{float:left;width:125px;height:60px;text-align:center;line-height:60px;border-bottom:1px solid #e5e5e5;background:#Fff;color:#666;font-size:18px;overflow:hidden}
.about_iyiou_menu.active{border-bottom:4px solid #0e79cc;color:#0e79cc;font-weight:700}
.about_iyiou_menu:hover{border-bottom:4px solid #0e79cc;color:#0e79cc}
.page-content-box{margin:30px 20px;width:100%;line-height:180%}
.line-bigs{line-height:210%}
.feature-list{margin-top:10px}
.feature-list ul{float:left;width:33.33%;padding:10px}
.feature-list li .mod-body{height:105px;padding:0 10px;border-bottom:1px solid #F1F1F1;overflow:hidden}
.feature-list li .mod-body p{font-size:12px}
.feature-list li .mod-footer{padding:5px 10px;height:30px;overflow:hidden}
.feature-list li h4 a{font-size:14px;color:#2D2D2D}
.feature-list li h4 a:hover{color:#4dabff}
.feature-list li{background-color:#FFF;border:1px solid #ddd;overflow:hidden;border-radius:4px;padding:4px}
.feature-list li:hover{border:1px solid #ccc;box-shadow:1px 2px 4px #ccc}
.feature-list li .aw-article-text{width:100%;height:100px;overflow:hidden}
.feature-list li .aw-article-text img{width:100%}
.feature-list li .mod-footer i{vertical-align:-2px}
.split{display:inline-block;margin:4px 4px 0 4px;width:0;background-color:#ddd;height:12px}
@media (max-width:736px){.feature-list ul{width:100%}.aw-search-box{position:absolute;top:-145px;left: 2px;z-index:1002;width:76%}
}
@-webkit-keyframes flaming{from,to{opacity:.5}
50%{opacity:.9;-webkit-transform:scale(1.1,1.3)}
}
@-moz-keyframes flaming{from,to{opacity:.5}
50%{opacity:.9;-moz-transform:scale(1.1,1.3)}
}
@keyframes flaming{from,to{opacity:.5}
50%{opacity:.9;transform:scale(1.1,1.3)}
}
#gotoTop{position:fixed;right:50px;bottom:50px;z-index:7;display:none;visibility:hidden;width:26px;height:48px;background:url(img/rocket.png) no-repeat 50% 0;opacity:0;-webkit-transition:visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-webkit-transform .6s cubic-bezier(.6,.04,.98,.335);-moz-transition:visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-moz-transform .6s cubic-bezier(.6,.04,.98,.335);transition:visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),transform .6s cubic-bezier(.6,.04,.98,.335)}
#gotoTop i{display:block;margin-top:48px;height:14px;background:url(img/rocket.png) no-repeat 50% -48px;opacity:.5;-webkit-transition:-webkit-transform .2s;-moz-transition:-moz-transform .2s;transition:transform .2s;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;transform-origin:50% 0}
#gotoTop:hover{background-position:50% -62px}
#gotoTop:hover i{background-position:50% 100%;-webkit-animation:flaming .7s infinite;-moz-animation:flaming .7s infinite;animation:flaming .7s infinite}
#gotoTop.show{visibility:visible;opacity:1}
#gotoTop.launch{background-position:50% -62px;opacity:0;-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);transform:translateY(-800px);pointer-events:none}
#gotoTop.launch i{background-position:50% 100%;-webkit-transform:scale(1.4,3.2);-moz-transform:scale(1.4,3.2);transform:scale(1.4,3.2)}
.foxfixednav{position:fixed;top:0;left:0;width:100%;z-index:100000;opacity:.9}
.aw-ajax-box .modal-dialog{margin:90px auto;}
.aw-footer{padding:3em 0;margin-top:2em;font-size:12px;text-align:center;background:url(img/footer.png) repeat left top}
.cdbox{float:left;width:100%;font-size:12px;background:url(img/cbg.gif) no-repeat}
.sign{border-right:1px solid #e3e3e3;border-left:1px solid #e3e3e3}
.sign table{border-collapse:collapse;border-spacing:0;width:100%}
.sign td,.sign th{width:30px;height:20px;text-align:center;line-height:20px}
.sign th{font-size:12px;color:#666}
.sign td{color:#999;vertical-align:middle}
.sign .on{background:url(img/sing_sing.gif) no-repeat}
.calendar_month_next,.calendar_month_prev{width:34px;height:30px;line-height:30px;cursor:pointer;color:#ddd}
.calendar_month_next{float:right}
.calendar_month_span{display:inline;line-height:30px;font-size:14px;color:#5bbf5a;letter-spacing:1px;font-weight:700}
.calendar_month_prev{float:left}
.sign_succ_calendar_title{text-align:center;width:100%;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3}
.SW_footer{width:100%;margin-top:40px;background-color:#444;color:#999;font-size:12px;z-index:100000}
.SW_footer .layout{width:960px;margin:0 auto}
.SW_footer .h1_slogan{height:36px;line-height:36px;background:#3B3B3B;font-size:14px;color:#ccc}
.SW_footer .h1_slogan span{display:block;height:40px;width:960px;margin:0 auto;letter-spacing:2px}
.ft{position:relative;padding:40px 0 30px 0;width:960px}
.ft .slogan{float:left;width:260px;height:61px;margin-top:0}
.ft .slogan a{display:inline-block;width:185px;height:75px;background:url(img/sw-footer-sprite.png) no-repeat 0 0}
.ft .ft_item{float:left;width:140px;line-height:22px}
.ft .ft_item a{color:#999;padding:2px 10px 2px 5px}
.ft .ft_item a:hover{background:#666;color:#222;border-radius:10px 0}
.ft h4{height:25px;width:80px;text-indent:-9999px;margin-bottom:10px;background:url(img/sw-footer-sprite.png) no-repeat}
.ft .a1{background-position:0 -75px}
.ft .a2{background-position:-97px -75px}
.ft .a3{background-position:-198px -75px}
.ft .a4{background-position:0 -105px}
.ft .a5{background-position:-97px -105px}
.SW_footer .cp{width:100%;max-width:850px;margin:0 auto;padding-bottom:20px;text-align:center}
.SW_footer .beian{width:100%;max-width:850px;margin:0 auto;padding-bottom:20px;text-align:center}
.sw-mn{color:#bbb;background-color:#2c2c2c;padding:0 10px;position:fixed;margin-top:-30px;width:100%;z-index:9999}
.sw-mn,.sw-mn-bd,.sw-mn-l,.sw-mn-r{height:30px}
.sw-mn li{float:left;height:30px;line-height:30px}
.sw-mn li em,.sw-mn li span{color:#fff;padding:0 5px;margin-left:3px;border-radius:3px}
.sw-mn li em{border:1px solid #bbb}
.sw-mn li img{width:30px;height:30px;vertical-align:top}
.sw-mn a,.sw-mn a:visited{display:inline-block;float:left;padding:0 12px;color:#bbb;text-decoration:none}
.sw-mn a.active,.sw-mn a:hover{color:#fff;background-color:#1d1d1d;text-decoration:none}
.cp a{color:#999;text-decoration:none}
a{cursor:pointer;color:#393A44}
a:hover{text-decoration:none;color:#6D89BB}
a:focus{outline:0!important}
#contain{font-size:14px;overflow:hidden;list-style:none;height:30px;margin:0 auto;color:#999;text-shadow:1px 1px 0 #111;text-align:center;background:#333;border-top:1px solid #222}
#contain li{height:30px;line-height:30px;white-space:nowrap;overflow:hidden;letter-spacing:2px}
.fox-nav-tabs{min-height:40px;padding:10px 0 0}
.aw-side-bar .aw-mod .mod-head .fox-nav-tabs h3{padding-top:6px}
.feature-fox-list li{margin:5px 0}
.feature-fox-list span{font-size:12px}
#fontsize{line-height:20px;width:40px;text-align:center;padding:0 0 1px 0;background:#ef4136;cursor:pointer;border-radius:4px;color:#fff;margin-right:10px}
#fontsize:hover{color:#fff;background:#d71345}
.fontsmall{font-size:18px;font-size:1.8rem}
.g-bdc{box-shadow:1px 2px 3px 0 rgba(179,178,179,.5);display:block;height:40px}
.g-bdc .g-mn{width:100%;background:#f2f2f2;}
.g-mn{float:left}
.m-vw-nav{width:100%;height:40px;margin:0 auto}
.f-cb{zoom:1}
.m-vw-nav li{float:right;height:40px}
.m-vw-nav .j-crt a,.m-vw-nav a:hover{color:#499ef3;background:#ddd;border-radius:40px;text-decoration:inherit}
.m-vw-nav .j-crt a i{color:#499ef3;}
.m-vw-nav li i{font-size:5px;color:#666}
.m-vw-nav a{display:inline-block;height:25px;font-size:13px;color:#666;text-align:center;letter-spacing:1px;padding:1px 15px;margin:10px 2px}
.m-vw-nav .active a{color:#499ef3;text-decoration:inherit}
.forproject .mod-head{border-top:1px solid #eee}
.forproject .mod-head h2{font-size:20px;line-height:40px;margin-bottom:0}
.forproject .mod-head h2 i{font-size:16px}
.forproject .row{border-bottom:1px solid #eee;padding:10px 0;margin-bottom:20px}
.forproject .row>div>a img{clear:both;width:100%}
.forproject .row>div>h3{font-size:24px}
.forproject .row .mod-body .progress{margin:18px -18px 0 -18px;height:11px;border-radius:0}
.forproject .row .mod-footer{overflow:hidden;margin-top:0;height:auto}
.forproject .row .mod-footer .status{padding:18px 18px 20px}
.forproject .row .mod-footer .desc{margin:0;color:#999;background:#f5f5f5;line-height:35px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.forproject .row .mod-footer .desc a{margin-right:20px;margin-top:1px;color:#999;font-weight:400;font-size:14px;border-radius:0;border-bottom-left-radius:5px}
.forproject .row .mod-footer .desc a:hover{color:#666}
.forproject .row .mod-footer .status span{display:block;float:left;margin-right:30px;line-height:18px;color:#999;font-size:12px}
.forproject .row .mod-footer .status span b{display:block;color:#333;font-weight:700;font-size:16px}
.forproject .row .mod-footer .status span.pull-right{margin:0;text-align:right}
.forproject .row .desc .label{padding:10px;background:#ccc;color:#fff!important}
.forproject .row .desc .label-blue,.forproject .row .desc .label-blue2{background:#499ef3}
.forproject .row .desc .label-oragin,.forproject .row .desc .label-oragin2{background:#FF9500}
.forproject .row .desc .label-gray{background:#999!important}
.nav-tabs .aw-search-bar{position:absolute;top:20px;right:20px}
.nav-tabs .aw-search-bar .form-control{width:240px;height:30px;padding:0 10px;border-radius:20px}
.nav-tabs .aw-search-bar .icon-search{position:absolute;top:8px;right:10px}
.bs-example .thumbnail{border:1px solid #e3e3e3;overflow:hidden}
.bs-example .thumbnail .shoptype_1{border:1px solid #f60;color:#f60;font-size:12px;height:28px;padding:0 10px;line-height:24px;font-weight:400;border-radius:50px}
.bs-example .thumbnail .shoptype_1:hover{background:#f60;color:#fff}
.bs-example .thumbnail .shoptype_2{border:1px solid #F54977;color:#F54977;font-size:12px;height:28px;padding:0 10px;line-height:24px;font-weight:400;border-radius:50px}
.bs-example .thumbnail .shoptype_2:hover{background:#F54977;color:#fff}
.bs-example .thumbnail .shoptype_3{border:1px solid #C7093C;color:#C7093C;font-size:12px;height:28px;padding:0 10px;line-height:24px;font-weight:400;border-radius:50px}
.bs-example .thumbnail .shoptype_3:hover{background:#C7093C;color:#fff}
.bs-example .thumbnail:hover{border:1px solid #C1C1C1;box-shadow:1px 2px 3px 0 rgba(179,178,179,.5)}
.bs-example .thumbnail .shopimg{margin:0 10px;height:180px;overflow:hidden}
.bs-example .thumbnail .caption h3{text-align:center;font-size:16px}
.bs-example .thumbnail .caption .jiage{font-size:12px;border-top:1px solid #eee;padding:5px;border-bottom:1px solid #eee;padding:5px}
.bs-example .thumbnail .caption .buybox{margin:5px}
.bs-example .thumbnail .shopimg img{max-width:100%}
.bs-example .thumbnail .shopimg img{position:relative;z-index:1;transition-delay:0s;transition-duration:1s;transition-property:all;transition-timing-function:ease;-moz-transition-delay:0s;-moz-transition-duration:1s;-moz-transition-property:all;-moz-transition-timing-function:ease;-webkit-transition-delay:0s;-webkit-transition-duration:1s;-webkit-transition-property:all;-webkit-transition-timing-function:ease;-o-transition-delay:0s;-o-transition-duration:1s;-o-transition-property:all;-o-transition-timing-function:ease}
.bs-example .thumbnail:hover img{transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1)}
.aw-question-detail .meta .rating-container .rating i{font-size:16px}
.aw-question-detail .meta .rating-container .label{display:inline;padding:.1em .3em .1em;font-size:75%;font-weight:400;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}
.rating-container .caption,.rating-container .clear-rating,.rating-container .rating{display:inline-block;vertical-align:middle}
.rating-loading{width:25px;height:25px;font-size:0;color:#fff;background:url(img/loding.gif) top left no-repeat;border:none}
.rating-container .rating{cursor:default;position:relative;overflow:hidden;white-space:nowrap}
.rating-disabled .rating{cursor:not-allowed}
.rating-container .star{display:inline-block;margin:0 5px 0 0;text-align:left}
.rating-container .empty-stars{color:#DCDADA}
.rating-container .filled-stars{position:absolute;left:0;top:0;margin:auto;color:#fde16d;white-space:nowrap;overflow:hidden;-webkit-text-stroke:1px #f60}
.rating-rtl{float:right}
.rating-animate .filled-stars{transition:width .25s ease;-o-transition:width .25s ease;-moz-transition:width .25s ease;-webkit-transition:width .25s ease}
.rating-rtl .filled-stars{left:auto;right:0;-moz-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-webkit-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-o-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0)}
.rating-rtl.is-star .filled-stars{right:.06em}
.rating-rtl.is-heart .empty-stars{margin-right:.07em}
.rating-lg{font-size:3.91em}
.rating-md{font-size:3.13em}
.rating-sm{font-size:2.5em}
.rating-xs{font-size:1.5em}
.rating-xl{font-size:4.89em}
.rating-container .clear-rating{color:#aaa;cursor:not-allowed;font-size:60%;padding-right:5px}
.clear-rating-active{cursor:pointer!important}
.clear-rating-active:hover{color:#843534}
.rating-container .caption{color:#999;font-size:60%;margin-left:5px;margin-right:0}
.rating-rtl .caption{margin-right:5px;margin-left:0}
@media print{.rating-container .clear-rating{display:none}
}
.mask-down{position:absolute;bottom:0;width:100%;height:40px;cursor:pointer;background:-moz-linear-gradient(top,rgba(30,30,30,0) 0,rgba(245,245,245,1) 100%);background:-webkit-linear-gradient(top,rgba(30,30,30,0) 0,rgba(245,245,245,1) 100%);background:linear-gradient(to bottom,rgba(30,30,30,0) 0,rgba(245,245,245,1) 100%)}
.aw-side-bar .aw-mod h3{font-weight:700;color:#666}
.navbar-nav li:hover .flip{position:absolute;animation:foxshuiping .5s ease-in-out;-moz-animation:foxshuiping .5s ease-in-out;-webkit-animation:foxshuiping .5s ease-in-out;-o-animation:foxshuiping .5s ease-in-out}
@keyframes foxshuiping{0%{top:60px;-webkit-transform:rotateY(180deg);opacity:.2}
}
@-moz-keyframes foxshuiping{0%{top:60px;-webkit-transform:rotateY(180deg);opacity:.2}
}
@-webkit-keyframes foxshuiping{0%{top:60px;-webkit-transform:rotateY(180deg);opacity:.2}
}
@-o-keyframes foxshuiping{0%{top:60px;-webkit-transform:rotateY(180deg);opacity:.2}
}
.navbar-nav-fox>li{position:relative}
.navbar-nav-fox>li>a{position:relative;z-index:2;transition:all .8s;-moz-transition:all .8s;-webkit-transition:all .8s;-o-transition:all .8s}
.navbar-nav-fox>li.active>a,.navbar-nav-fox>li.active>a:active,.navbar-nav-fox>li.active>a:focus,.navbar-nav-fox>li.active>a:hover,.navbar-nav-fox>li>a:active,.navbar-nav-fox>li>a:focus,.navbar-nav-fox>li>a:hover{background-color:transparent;}
.navbar-nav-fox>li:after{content:'';position:absolute;z-index:0;width:100%;height:100%;top:0;left:0;background-color:#fff;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;opacity:.3;transform:scale(0)}
.navbar-nav-fox>li.active:after{opacity:.14;transform:scale(1)}
.navbar-nav-fox>li:hover:after{opacity:.14;transform:scale(1)}
.xclose{text-shadow:0 1px 0 #fff;0 1px 0 #fff;0 1px 0 #fff;opacity:.5;filter:alpha(opacity=50)}.xclose:hover,.xclose:focus{-moz-animation:heart_beat .5s ease-in-out;-webkit-animation:heart_beat .5s ease-in-out;text-decoration:none;cursor:pointer;opacity:.9;filter:alpha(opacity=90);}
@-moz-keyframes heart_beat{0%{-moz-transform:scale(1)}
25%{-moz-transform:scale(1.70)}
50%{-moz-transform:scale(0.9)}
75%{-moz-transform:scale(1.55)}
100%{-moz-transform:scale(1)}}
@-webkit-keyframes heart_beat{0%{-webkit-transform:scale(1)}
25%{-webkit-transform:scale(1.70)}
50%{-webkit-transform:scale(0.9)}
75%{-webkit-transform:scale(1.55)}
100%{-webkit-transform:scale(1)}}
.aw-feed-list .operate i.icon-coin-yen,.aw-feed-list .operate a:hover i.icon-coin-yen {margin-right: 2px;color:#FF6600;}
.aw-feed-list .operate a.shangke {margin-left: 0px;color:#fdccb4;background:#fff;border-radius:4px;border:1px solid #fdead6;}.aw-feed-list .operate a.shangke:hover {color:#FF6600;background:#FFFF99;}
.aw-feed-list .operate a.youshang {background:#fff8c1;color:#FF0033;}
.aw-feed-list .more-operate > a {margin-left: 8px;}
#aw-ajax-logins .modal-dialog{margin:90px auto;width:300px;}
#hot_question_control li{padding: 3px 0 0 0;}
.qianbox_tem .btn{min-width:80px;margin:5px;}
.bs-callout-danger {border-left-color: #ce4844;}
.bs-callout {padding: 20px;margin: 10px 0;border: 1px solid #eee;border-left-width: 5px;border-radius: 3px;}
.dashang_body_list{font-size:12px;}
.dashang_body_list > ul > li > a > span{background:#6D89BB;color:#fff;padding:0 4px;border-radius:4px}
.dashang_list_shangke{font-size:12px;}
.dashang_list_shangke > td > a > span{background:#6D89BB;color:#fff;padding:0 4px;border-radius:4px}
.banquan p{font-size:12px;color:#CCCC99;border-left:3px solid #999966;padding:0 0 0 10px;line-height:18px;border-radius:4px;}
.box_thief a{color:#fff;}
.thiefbox::before{border-width: 10px;margin-top: -4px;
}

*::before {box-sizing: border-box;
}

.thiefbox::before{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: transparent #f65177 transparent transparent;
    border-image: none;border-style: solid;border-width: 6px;content: " ";height: 0;pointer-events: none;
    position: absolute;right: 100%;top: 15px;width: 0;

}
.thiefbox::before{border-color: transparent #99CC99 transparent transparent;
}
.thiefbox {width:50%;background: #f65177 none repeat scroll 0 0;border: 1px solid #f65177;border-radius: 5px;color: #fff;
    margin: 5px 0 0 0;padding: 5px 10px 5px 15px;position: relative;display: block;

}
.thiefbox{background: #99CC99 none repeat scroll 0 0;border: 1px solid #99CC99;
}
.text-color-red{color:#FF6666;}

.answer_infobox{margin:10px 0;}
.answer_infobox .row{margin:10px 0;}
.answer_infobox .wenboxst {padding-right: 5px;padding-left: 5px;}
.answer_infobox .wenboxs {padding-right: 0;padding-left: 5px;}
.answer_infobox .wenboxst img{width:100%;}
.answer_infobox .mod-footer i {vertical-align: -2px;}
.answer_infobox .wenboxs{}
.text-color-999{font-weight:normal;}
.markitup-box{padding:10px 0;}
.answer_infobox img{max-width:100%;}
.klturight{margin: 0px 10px 0 0;}
.answer_infobox a{text-decoration:none;}
a.more:link{color:#0099CC;}a.more:hover{color:#6D89BB;}
a.shouqi{font-size:12px;}a.shouqi:link{color:#0099CC;}a.shouqi:hover{color:#6D89BB;}
a.guanzhu{font-size:12px;}a.guanzhu:link{color:#666;}a.guanzhu:hover{color:#6D89BB;}
.guanzhubox{border:1px solid #e5e5e5;padding:2px 6px;border-radius:4px;}
.guanzhubox:hover{border:1px solid #db6d4b;}
.preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999999;background: #24242a;}
.preloader i {color: #fff;position: absolute;font-size: 36px;line-height: 36px;top: 50%;left: 40%;height: 36px;width: 36px;margin-top: -15px;margin-left: -15px;display: inline-block;}
.preloader p {color: #fff;position: absolute;font-size: 24px;line-height: 36px;top: 50%;left: 40%;height: 36px;width: 300px;margin-top: -15px;margin-left: 25px;display: inline-block;}
.fa-spin {-webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}