<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Keywords" content="<php>@autoKey($actionName,$categoryName);</php>">
        <meta name="Description" content="<php>@autoDec($actionName,$categoryName,$contentName,$contentDec);</php>">
        <meta name="author" content="Clmao">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <title><php> @autoTitle($actionName,$categoryName,$contentName); </php></title>
        <link rel="apple-touch-icon" href="__PUBLIC__/appicon.png">
        <link rel="shortcut icon" href="__PUBLIC__/appicon.png">
        <link href="__PUBLIC__/zui/zui.min.css" rel="stylesheet">
        <link href="__PUBLIC__/zui/example.css" rel="stylesheet">
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/zui/zui.min.js"></script>
    <if condition="$actionName eq 'content' ">
        <link rel="stylesheet" href="__PUBLIC__/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" />
        <else /> 
    </if>
    <include file="Index:headerMete" />
</head>