<form method="post">
    <div class="panel dux-box">
       <div class="table-responsive">
        <table id="table" class="table table-hover ">
            <tbody>
                <tr>
                    <th width="*">名称</th>
                    <th width="*">路径</th>
                    <th width="*">状态</th>
                    <th width="*">级别</th>
                    <th width="100">操作</th>
                </tr>
                <!--loop{$list as $vo}-->
                <tr>
                    <td>{$vo.APP_NAME}({$vo.APP})</td>
                    <td>{$vo.APP_DIR}</td>
                    <td>
                       <!--if{$vo['APP_STATE']}-->
                       <a class="tag bg-green  js-action" href="javascript:;" title="禁用" url="{url('state',array('app'=>$vo['APP']))}" data="false" success=" window.location.reload();"  >正常</a>
                       <!--{else}-->
                       <a class="tag bg-red  js-action" href="javascript:;" title="启用" url="{url('state',array('app'=>$vo['APP']))}" data="true" success=" window.location.reload();" >禁用</a>
                       <!--{/if}-->
                    </td>
                    <td>
                       <!--if{$vo['APP_SYSTEM']}-->
                       <span class="tag bg-red">系统</span>
                       <!--{else}-->
                       <span class="tag bg-green">普通</span>
                       <!--{/if}-->
                    </td>
                    <td>
                       <!--if{$vo['APP_SETTING']}-->
                       <a class="button bg-blue button-small icon-cog" href="{url($vo['APP_SETTING'])}" title="设置"></a>
                       <!--{/if}-->
                       <!--if{$vo['APP_INSTALL']}-->
                       <a class="button bg-red button-small icon-trash-o js-action" url="{url('uninstall')}" href="javascript:;" data="{$vo.APP}" success=" window.location.reload();" title="卸载"></a>
                       <!--{else}-->
                       <a class="button bg-green button-small icon-download js-action" url="{url('install')}" href="javascript:;" data="{$vo.APP}" success=" window.location.reload();" title="安装"></a>
                       <!--{/if}-->
                    </td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
        </div>
    </div>
</form>
<script>
Do.ready('base',function() {
	$('#table').duxTable({
		deleteUrl: "{url()}"
	});
});
</script>