{include file="public/tpl/head.html" /}
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0);">财物纪事</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/Conero/finance/fevent.html">返回</a></li>
            <li><a href="">刷新</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#home">概述 <span class="sr-only">(current)</span></a></li>            
            <li><a href="#fplan">计划清单{$fincplan.count|default=""}</a></li>
            <li><a href="#fincset">账目清单{$fincset.count|default=""}</a></li>
            <li><a href="#logdata">日志记录{$logdata.count|default=""}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            {$menu|default=""}
          </ul>        
        </div><!-- .sidebar -->        
      </div><!-- .row -->     
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="home">
          <div class="page-header">
            <h1>{$page.name}</h1>
            <p class="lead">
                {$page.open_dt|default=""}
                {if condition="$page['close_dt'] neq ''"}
                    至 {$page.close_dt}
                {/if}
            </p>
        </div>

        <h3>事务对应方</h3>
        {$page.sider|default=""}

        <h3>摘要</h3>
        <div class="container">
            {$page.abstract|default="未发现相关信息"}
        </div>

        <h3>内容</h3>
        <div class="container">
            {$page.content|default="未发现相关信息"}
        </div>

        <h3>维护信息</h3>
        <p>时间: {$page.edittm}</p>
        <p>处理人: {$page.editor|default="未知"}</p>
        <p>          
            <a href="/conero/finance/fevent/edit" class="btn btn-info">新增</a>
            <a href="/conero/finance/fevent/edit?listno={$page.list_no}" class="btn btn-info">修改</a>
            <a href="" class="btn btn-info">删除</a>
        </p>
      </div><!-- #home -->        
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="fplan">
          <div class="page-header">
            <h1>计划清单</h1>
          </div>
          <p class="text-right"><button class="btn" id="fincplan_add_btn">新建计划</button></p>
          {if condition="isset($fincplan.list)"}
          <table class="table">
            <tr><th>#</th><th>名称</th><th>金额</th><th>数据项</th><th>日期</th><th>编辑</th></tr>
            {$fincplan.list}
          </table>
          {else}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>提示：</strong> 您还没有生成任何一条财登账计划表.
          </div>
          {/if}      
      </div><!-- #fplan -->

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="fincset">
          <div class="page-header">
            <h1>账目清单</h1>
          </div>          

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="finset_listTitle">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#finset_list" aria-expanded="true" aria-controls="finset_list" title="事务甲方必须是您存在的，事务乙方/用途如果未匹配到将设置为默认值">
                    财物账单
                  </a>
                </h4>
              </div>
              <div id="finset_list" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="finset_listTitle">
                <div class="panel-body">
                    {if condition="isset($fincset.list)"}
                    <table class="table">
                      <tr><th>#</th><th>日期</th><th>事务甲方</th><th>名称</th><th>金额</th><th>类型</th><th>用途</th><th>事务乙方</th><th>详情</th></tr>
                      {$fincset.list}
                    </table>
                    {$fincset.pageBar|default=""}
                    {else}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>提示：</strong> 您还没有开启财务账目记录功能.
                    </div>
                    {/if}
                </div>
              </div>
            </div><!-- .panel panel-default-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="fastfincsetTitle">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#fastfincset" aria-expanded="true" aria-controls="fastfincset" title="事务甲方必须是您存在的，事务乙方/用途如果未匹配到将设置为默认值">
                    快速记账
                  </a>
                </h4>
              </div>
              <div id="fastfincset" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fastfincsetTitle">
                <div class="panel-body">
                    <form class="form" method="post" action="/conero/finance/fevthome/save.html">
                    <div id="data_tpl" class="well">
                        <p>支出: <a href="javascript:void(0);" class="fincset_add_btn">(日期: 名称)[事务甲方 : 金额 > {$page.sider4fastf|default="事务乙方"}]{用途 | 备注}</a></p>
                        <p>支出: <a href="javascript:void(0);" class="fincset_add_btn">(日期: 名称)[事务甲方 : 金额 -> {$page.sider4fastf|default="事务乙方"}]{用途 # 备注}</a></p>
                        <p>收入: <a href="javascript:void(0);" class="fincset_add_btn">(日期: 名称)[事务甲方 : 金额 <- {$page.sider4fastf|default="事务乙方"}]{用途 ^ 备注}</a></p>
                        <p>收入: <a href="javascript:void(0);" class="fincset_add_btn">(日期: 名称)[事务甲方 : 金额 < {$page.sider4fastf|default="事务乙方"}]{用途 / 备注}</a></p>
                    </div>                       
                    <textarea rows="3" name="tpl" id="fincset_tpl_text" placeholder="快速记账法..." class="form-control" required></textarea>      
                    <input type="hidden" name="fincset" value="{$page.list_no}">
                    <button class="btn" type="button" id="fincset_add_btn">+</button>
                    <button class="btn" type="button" id="fincset_del_btn">-</button>
                    <button class="btn">生成</button>
                  </form>
                </div>
              </div>
            </div><!-- .panel panel-default-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="use_fincset_title">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#use_fincset" aria-expanded="true" aria-controls="use_fincset" title="事务甲方必须是您存在的，事务乙方/用途如果未匹配到将设置为默认值">
                    从账单中选择账目
                  </a>
                </h4>
              </div>
              <div id="use_fincset" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="use_fincset_title">
                <div class="panel-body">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default popup" type="button">选择</button>
                    </span>                             
                  </div><!-- /input-group -->
                  <button class="btn" type="button" id="save_fset_btn">保存</button>
                </div>
              </div>
            </div><!-- panel-group-->          
        </div><!-- #fincset --> 
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="logdata">
        <div class="page-header">
            <h1>操作日志记录</h1>
        </div>

        <h3>系统操作日志</h3>
        <div class="container">
            {$page.loginfo|default="未发现相关信息"}           
        </div>

        <h3>自创建日志内容</h3>
        <div class="container">
            {if condition="empty($logdata.list)"}            
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <strong>提示：</strong> <a class="alert-link" href="javascript:void(0);" id="logdata_new_btn">新增日志</a> 没有发现您的任何【自创建日志】.
            </div>            
            {else}
            <button type="button" class="btn btn-info" id="logdata_new_btn">新增日志</button> 
            <table class="table">
              <tr><th>#</th><th>日期</th><th>名称</th><th>关键字/摘要</th><th>编辑日期</th><th>操作</th></tr>
              {$logdata.list}
            </table>            
            {/if}
        </div>
        <div id="log_form_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="log_fdia_title" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="log_fdia_title">新建日志</h4>
              </div>
              <div class="modal-body">
                <form action="javascript:void(0)">
                  <div class="input-group">
                    <span class="input-group-addon">标题*</span>                  
                    <input type="text" class="form-control" name="name" placeholder="标题" required>
                    <div class="hidden" dataid="cldno4id_load"></div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">日期*</span>                  
                    <input type="text" name="date" class="form-control" placeholder="日期" value="<?=sysdate('date')?>" required>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" name="plandt_active" title="开启备忘日期">
                    </span>
                    <input type="text" class="form-control" name="plan_dt" placeholder="开启备忘日期" value="<?=sysdate('date')?>" disabled>
                  </div><!-- /input-group -->
                  <label for="lf_keyword" class="control-label notnull">关键字/摘要*</label>
                    <textarea class="form-control" name="keyword" placeholder="关键字/摘要" id="lf_keyword" required></textarea>
                  <label for="lf_content" class="control-label notnull">日志内容*</label>
                    <textarea class="form-control" name="content" placeholder="日志内容" id="lf_content" rows="10" required></textarea>                   
                </form>
              </div><!-- .modal-body -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dataid="save">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- #logdata -->
    </div>
</body>
</html>