<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
	<testsuites>
		<testsuite name="util Test Suite">
			<directory>tests/Smail/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/Smail/Smail/</directory>
		</whitelist>
	</filter>

	<php>
		<ini name="date.timezone" value="UTC" />
	</php>
</phpunit>
