{template header}

<script src="js/common.js" type="text/javascript"></script>
<div class="container">
	<h3 class="marginbot">
		<a href="admin.php?m=feed&a=ls" class="sgbtn">{lang feed_list}</a>
		<!--{if $user['allowadminnote'] || $user['isfounder']}--><a href="admin.php?m=note&a=ls" class="sgbtn">{lang note_list}</a><!--{/if}-->
		<!--{if $user['allowadminlog'] || $user['isfounder']}--><a href="admin.php?m=log&a=ls" class="sgbtn">{lang menu_log}</a><!--{/if}-->
		<a href="admin.php?m=mail&a=ls" class="sgbtn">{lang mail_queue}</a>
		{lang sms_queue}
	</h3>
	<!--{if $status == 2}-->
		<div class="correctmsg"><p>{lang sms_list_updated}</p></div>
	<!--{/if}-->
	<div class="mainbox">
		<!--{if $smslist}-->
			<form action="admin.php?m=sms&a=ls" method="post">
			<input type="hidden" name="formhash" value="{FORMHASH}">
			<table class="datalist" onmouseover="addMouseEvent(this);" style="table-layout:fixed">
				<tr>
					<th width="60"><input type="checkbox" name="chkall" id="chkall" onclick="checkall('delete[]')" class="checkbox" /><label for="chkall">{lang sms_delete}</label></th>
					<th width="130">{lang sms_message}</th>
					<th width="60">{lang sms_to_username}</th>
					<th width="80">{lang sms_add_time}</th>
					<th width="140">{lang sms_failures}</th>
					<th width="100">{lang sms_from_app}</th>
					<th width="60">{lang sms_operate}</th>
				</tr>
				<!--{loop $smslist $sms}-->
					<tr>
						<td><input type="checkbox" name="delete[]" value="$sms[smsid]" class="checkbox" /></td>
						<td>{$sms[message]}</td>
						<td>{if $sms[username]}{$sms[username]}{else}{lang anonymity}{/if}</td>
						<td>{$sms[dateline]}</td>
						<td>{$sms[failures]}</td>
						<td>{$sms[appname]}</td>
						<td><a href="admin.php?m=sms&a=send&smsid={$sms[smsid]}">{lang sms_send}</a></td>
					</tr>
				<!--{/loop}-->
				<tr class="nobg">
					<td><input type="submit" value="{lang submit}" class="btn" /></td>
					<td class="tdpage" colspan="{eval echo count($applist) + 4;}">$multipage</td>
				</tr>
			</table>
			</form>
		<!--{else}-->
			<div class="note">
				<p class="i">{lang list_empty}</p>
			</div>
		<!--{/if}-->
	</div>
</div>

{template footer}