<extend name="Public/base"/>
<block name="content">
<h3>扩展资料</h3>
<div class="panel panel-default">
	<div class="panel-heading"><{:isset($data['id'])?'编辑':'新增'}>字段</div>
 	<div class="panel-body">
    	<form class="form-horizontal" enctype="multipart/form-data" action="<{:U()}>" name=""  method="post">														
    		<div class="form-group">	
    			<label class="col-sm-2 control-label">字段名称</label>
    			<div class="col-sm-3">
    				<input  type="text" name="name" class="form-control" value="<{$data.name|default=''}>" >   				
    			</div>
    			<p class="help-block">此项不能为空</p>
    	    </div>
    	    
    	    <div class="form-group">
    			<label class="col-sm-2 control-label">表单类型</label>
    			<div class="col-sm-2">
    				<select class="form-control" name="type">
    					<option value="input">字符串</option>
    					<option value="radio">单选框</option>
    					<option value="checkbox">多选框</option>
    					<option value="select">下拉框</option>
    					<option value="textarea">文本框</option>    				
    				</select>    				
    			</div>
    			<p class="help-block">系统会根据不同类型解析配置值</p>
    		</div>	
    		
    		<div class="form-group">
    			<label class="col-sm-2 control-label">配置项</label>
    			<div class="col-sm-3">
    				<textarea class="form-control" placeholder="示例 on:开启|off:关闭"  name="extra"><{$data.extra|default=''}></textarea>   				
    			</div>
    			<p class="help-block">单选、多选、下拉，需要配置，多个竖线隔开</p>
    		</div>										
    		
    		<div class="form-group">
    			<label class="col-sm-2 control-label">默认值</label>
    			<div class="col-sm-3">
    				<textarea class="form-control" name="default_value" placeholder="on"><{$data.default_value|default=''}></textarea>   				
    			</div>
    			<p class="help-block">默认配置值</p>
    		</div> 
    		
    		<div class="form-group">	
    			<label class="col-sm-2 control-label">提示</label>
    			<div class="col-sm-3">
    				<input  type="text" name="tips" class="form-control" name="tips" value="<{$data.tips|default=''}>" >   				
    			</div>
    			<p class="help-block">用户输入提示信息</p>
    	    </div>
    										
    		<div class="form-group">
    			<input type="hidden" name="group_id" value="<{$data.group_id|default=$_GET['group_id']}>"> 
    			<input type="hidden" name="status" value="<{$data.status|default=''}>"> 
    			<input type="hidden" name="id" value="<{$data.id|default=''}>">     		
            	<div class="col-sm-4 col-sm-offset-2">
                	<button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">取消</button>
                	<button class="btn btn-primary ajax-post" target-form="form-horizontal" type="submit">保存</button>
            	</div>
        	</div>
        </form>
	</div>
</div>
</block>
<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav("<{:U('Profile/group')}>");
</script>
</block>	


