@charset "utf-8";

@media screen and (max-width: 1199px) {
    .cms_case4 li{ width:30%;margin:  1.665%;}
    .cms_case4 li.ite_0{ margin-right: 1.665%;}
    .cms_case5 ul{ width: 102%;}
    .cms_case5 li{ width: 48%;margin: 10px 2% 10px 0;}
    .cms_case6 ul,.cms_case7 ul{ width: 102%;}
    .cms_case6 li,.cms_case7 li{ width: 48%;margin: 1% 2% 1% 0;}
    .cms_case8 .wall-column { width: 33.333%;}
    .cms_case9 li{ width: 33.33%;}
}

@media screen and (max-width: 768px) {
    .cms_case2 li .thumb{ padding-top: 75%;}
    .cms_case3 li{ width: 50%;}
    .cms_case4 li{ width:48%;margin:  2% 4% 2% 0;}
    .cms_case4 li.ite_0,.cms_case4 li.ite_2{ margin-right: 0;}
    
    
    
    #cms_feedback .cms_tr{ padding-left: 0;}
    #cms_feedback .cms_title{ position: relative;left: 0;top: 0;height: 40px;line-height: 40px;width: 110px;text-align: left;font-size: 1.1em;}
    #cms_feedback .cms_init{ max-width: 100%;position: relative;}
    #cms_feedback .cms_tr.captcha .cms_init{ max-width: 100%;}
    .cms_case8 .wall-column { width: 50%;}
    .cms_case9 li{ width: 50%;}
    .cms_case10 ul{ width: 104%;}
    .cms_case10 ul li{ width: 46%;margin: 0 4% 0 0;position: relative;margin-bottom: 4%;}
    .cms_case11 li{ height: 180px; }
    .cms_case11 li .thumb{ width: 240px;}
    .cms_case11 li .item_more{ padding-top: 10px; }    
    .cms_case11 li.even{ padding: 0 20px 0 260px;}
    .cms_case11 li.odd{ padding: 0 260px 0 20px;}
    .cms_case13 li .item_init{ height: 180px;padding: 0 20px 0 260px; }
    .cms_case13 li .thumb{ width: 240px;}
    .cms_case13 li .item_more{ padding-top: 10px; } 
    .cms_case13 li .item_tit span{display: none;}
    .cms_case14 li{  width: 100%;margin-left: 0%;margin-bottom: 25px; }
    .cms_case15 li{ position: relative; width: 47%;margin: 0 1.5%;margin-bottom: 3%; }
    
}


@media screen and (max-width: 548px) {
    .cms_case2 li{ width: 100%;margin: 4% 0;}
    .cms_case2 li .thumb{ /*padding-top: 50%;*/}
    .cms_case3 li{ width: 100%;}
    .cms_case3 li .thumb{ margin-right: 0;}
    .cms_case4 li{ width:100%;margin:  2% 0 2% 0;}
    .cms_case4 li.ite_0,.cms_case4 li.ite_2{ margin-right: 0;}
    .cms_case5 ul{ width: 100%;}
    .cms_case5 li{ width: 100%;margin: 2% 0%;}
    .cms_case6 ul,.cms_case7 ul{ width: 100%;}
    .cms_case6 li,.cms_case7 li{ width: 100%;margin: 2% 0%;}
    .cms_case8 .wall-column { width: auto;float: none;padding: 2% 0;}
    .cms_case9 li{ width: 100%;}
    .cms_case10 ul{ width: 100%;}
    .cms_case10 ul li{ width: 100%;margin-bottom: 4%;}
    .cms_case11 li{ height:auto; }
    .cms_case11 li .thumb{ width: 100%;height: 180px;}
    .cms_case11 li .item_more{ padding-top: 10px; }    
    .cms_case11 li.even{ padding: 180px 20px 20px 20px;}
    .cms_case11 li.odd{ padding: 180px 20px 20px 20px;}
    .cms_case12 li{ position: relative;padding-left: 0;margin-top: 5%;}
    .cms_case12 li .thumb{ position: relative;left: 0;top: 0;width: 100%;height:1px;overflow: hidden;padding-top: 50%;}
    .cms_case12 li .item_con,.cms_case12 li .item_info{ padding-right: 0;padding-left: 0;}
    .cms_case13 li{padding-top: 0;margin-bottom: 2%;}
    .cms_case13 li .item_init{ height: auto;padding: 180px 15px 0 15px; }
    .cms_case13 li .thumb{ width: 100%;height: 180px;top: 0;}
    .cms_case14 li .item_init{ padding: 150px  0 0 0;  }
    .cms_case14 li .thumb{ width: 100%;}
    .cms_case14 li .item_con{ height: auto;  }
    .cms_case14 li .item_con .item_tit{ font-size: 1.2em;height: 2em; line-height: 2em;overflow: hidden;padding-top: 10px; }
    .cms_case14 li .item_con .item_tit span{font-size: 0.8em;}
    .cms_case14 li .item_con .item_tit a{ color: #000; }
    .cms_case14 li .item_con .item_tit a:hover{ color: #ff0000;}
    .cms_case14 li .item_con p{ line-height: 2em;max-height: 6em; overflow: hidden; }
    .cms_case14 li .item_more{ position: relative;left: 0; bottom: 0;margin-top: 10px; }
    .cms_case15 li{ position: relative; width: 100%;margin: 0 0%;margin-bottom: 3%; }
    .cms_case16 li .item_tit .fr{ display: none;}
    
}






