@charset "utf-8";

/*文章详情*/
.comm_view{}
.comm_view .comm_title{ border-bottom: 1px  solid #dddddd ;padding-bottom: 15px;}
.comm_view .comm_title  h2{ font-size: 20px;font-weight: bold;width: 90%;margin: 0 auto;text-align: center;line-height: 2em;padding: 20px 0 10px;}
.comm_view .comm_title  h4{ width: 90%;margin: 0 auto;text-align: center;line-height: 2em;}
.comm_view .comm_title  h4 span{ margin: 0 12px;}
.comm_view .comm_title  h4 i{ /*color: red;*/}
.comm_view .comm_content{ padding: 15px 0;border-bottom: 1px solid #dddddd ;min-height: 200px;}
.comm_view .comm_neighbor{ padding: 15px 0;}
.comm_view .comm_neighbor div.prev{ width: 48%;float: left;height: 30px;line-height: 30px;overflow: hidden;}
.comm_view .comm_neighbor div.next{ width: 48%;float: right;height: 30px;line-height: 30px;overflow: hidden;text-align: right;}


/*翻页 -- 如果使用了bootstrap，可以删除翻页样式*/
#cms_page{ margin-top: 20px;}
#cms_page .cms_page_relative{ position: relative;left: 50%;float: left;}
#cms_page .pagination{ position: relative;left: -50%;float: left;}
#cms_page .pagination li{ display: inline-block;border: 1px solid #e2e2e2;float: left;margin-left: -1px;}
#cms_page .pagination li a,#cms_page .pagination li span{ display: block;height: 34px;line-height: 34px;padding: 0 15px;font-size: 14px;}
#cms_page .pagination li.active{ border-color: #009688;border-radius: 2px;}
#cms_page .pagination li.active span{ background: #009688;color: #ffffff;}
#cms_page .pagination li.disabled span{ color: #d2d2d2;cursor: not-allowed;}
#cms_page .pagination li:first-child{ border-radius:4px 0 0 4px;}
#cms_page .pagination li:last-child{ border-radius:0 4px 4px 0;}

/*系统提示*/
.home_message{ margin: 4% auto;width: 92%;max-width: 768px;}
.home_message .notification{ padding: 9px 0 9px 60px;line-height: 30px;}
.home_message .notification div{ font-size: 18px;}
.home_message .notification.success{ background: url(../images/home/success.png) left top no-repeat;color: #05994f;}
.home_message .notification.error{ background: url(../images/home/error.png) left top no-repeat;color: #cb1b05;}
.home_message .redirect{ padding-top: 20px;}
.home_message .redirect a{ display: inline-block;height: 30px;line-height: 30px;border: 1px solid #e2e2e2;border-radius: 2px;padding: 0 15px;}
.home_message .count_down{ padding-top: 20px;color: #9E9E9E;}
.home_message .count_down a{ color: #0080FF;}
.home_message .count_down span{ color: #555555;margin: 0 2px;}

/*留言*/
#cms_feedback{ margin-top: 20px;}
#cms_feedback .cms_error{ border:1px solid #c63; background: #FFECEC;color: #cb1b05;border-radius: 2px;box-shadow: 2px 2px 2px rgba(0,0,0,0.2);}
#cms_feedback .cms_error p{ margin: 0;padding: 0;border-bottom: 1px  dotted #c63;padding: 0 12px;line-height: 30px;}
#cms_feedback .cms_error p:last-child{ border-bottom: 0;}
#cms_feedback .cms_tr{ padding-left: 120px;position: relative;margin: 15px 0 0;}
#cms_feedback { }
#cms_feedback .cms_td{ }
#cms_feedback .cms_title{ position: absolute;left: 0;top: 0;height: 40px;line-height: 40px;width: 110px;text-align: right;font-size: 1.1em;}
#cms_feedback .cms_init{ max-width: 500px;position: relative;}
#cms_feedback .cms_tr.captcha .cms_init{ max-width: 400px;}
#cms_feedback .cms_init .text{ width: 100%;max-width: 400px; height: 40px;line-height: 24px;padding: 8px 10px;border: 2px solid rgb(98, 177, 81);border-radius: 2px;}
#cms_feedback .cms_init .textarea{ width: 100%;height: 90px;line-height: 24px;padding: 8px 10px;border: 2px solid rgb(98, 177, 81);border-radius: 2px;}
#cms_feedback .cms_init .text:focus,#cms_feedback .cms_init .textarea:focus{ border-color: #05994f;}
#cms_feedback .cms_init .captcha_src{ height: 36px;cursor: pointer;position: absolute;right: 2px;top: 2px;}
#cms_feedback .cms_init .text.captcha{ }
#cms_feedback .cms_submit input{ color: #ffffff;font-size: 1.1em;letter-spacing: 5px; width: 50%;height: 40px;line-height: 40px;text-align: center;margin: 0;padding: 0;border: 0;background: rgb(98, 177, 81);}
#cms_feedback .cms_submit input:hover{ background: #05994f;}

/*加载*/
#loadMark{ text-align: center;margin-top: 20px; display: none;cursor: pointer;padding: 5px 0;}
#loadMark img{}


/*网站地图*/
.sitemap ul li .map_tit{height: 24px;line-height: 24px;background: url(../images/home/map_icon.png) left center no-repeat;padding-left: 20px;}
.sitemap ul li .map_con{padding-left: 3em;}

/* Aylen按钮 */
.button { width: 102px;max-width: 96%;display: block;border: 1px solid #ddd;background: none;vertical-align: middle;position: relative;z-index: 1;-webkit-backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;height: 34px;line-height: 34px;text-align: center;text-decoration: none;border-radius: 4px;box-shadow: 1px 1px 2px #ddd;}
.button--aylen { background: #fff;color: #37474f;overflow: hidden;-webkit-transition: color 0.3s;transition: color 0.3s;display: inline-block;}
.button--aylen.button--inverted {background: none;color: #fff;}
.button--aylen::before,.button--aylen::after {content: '';position: absolute;height: 100%;width: 100%;bottom: 100%;left: 0;z-index: -1;-webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);}
.button--aylen::before {background:   gray;}
.button--aylen::after {	background: #000;}
.button--aylen:hover {color: #fff; *background: #000;  background: #000\9;}
.button--aylen:hover::before,.button--aylen:hover::after {-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
.button--aylen:hover::after {-webkit-transition-delay: 0.175s;transition-delay: 0.175s;}

.cms_tran{ -webkit-transition: all .5s  ease-out;transition: all .5s  ease-out;}
.cms_tran_in{ -webkit-transition: all .5s  ease-in;transition: all .5s  ease-in;}

/*列表样式-1*/
.cms_case1{}
.cms_case1 li{ height: 42px;line-height: 42px; border-bottom: 1px dotted #dddddd;padding-left: 12px; overflow: hidden; background: url(../images/home/article_icon.gif) left center no-repeat; }
.cms_case1 li span{ float: right;color: #666666;}


/*列表样式-2*/
.cms_case2{}
.cms_case2 li.odd{ float: left;}
.cms_case2 li.even{ float: right;}
.cms_case2 li{ width: 48%;margin: 2% 0;}
.cms_case2 li .thumb{ position: relative;padding-top: 50%;overflow: hidden;}
.cms_case2 li .thumb a{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case2 li h4{ margin: 0;padding: 5px 0 0;font-weight: normal;font-size: 1.2em;height: 3.2em;line-height: 3.2em;overflow: hidden;white-space: nowrap;}
.cms_case2 li p{ margin: 0;color: #555555;line-height: 2em;height: 4em;overflow: hidden;}
.cms_case2 li .thumb:hover a{ -webkit-transform: scale(1.1);transform: scale(1.1);}

/*列表样式-3*/
.cms_case3{}
.cms_case3 li{ width: 33.3333%;}
.cms_case3 li .thumb{ position: relative;padding-top: 75%;overflow: hidden;margin-right: 1px ;margin-bottom: 1px ;}
.cms_case3 li .thumb a{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case3 li .thumb .bgcolor{ position: absolute;left: 0;top: 0; background: #000;opacity: 0;width: 100%;height: 100%;}
.cms_case3 li .thumb .mask{ position: absolute;left: 30px;top: 30px;right: 30px;bottom: 30px; }
.cms_case3 li .thumb .mask i.line_l{ position: absolute;height: 0;width: 1px;background: #ffffff;left: 0;bottom: 0;}
.cms_case3 li .thumb .mask i.line_t{ position: absolute;width: 0;height: 1px;background: #ffffff;left: 0;top: 0;}
.cms_case3 li .thumb .mask i.line_r{ position: absolute;height: 0;width: 1px;background: #ffffff;right: 0;top: 0;}
.cms_case3 li .thumb .mask i.line_b{ position: absolute;width: 0;height: 1px;background: #ffffff;right: 0;bottom: 0;}
.cms_case3 li .thumb h4{ -webkit-transition-delay: .2s;transition-delay: .2s; transform: rotate(8deg); opacity: 0; color: #ffffff;position: absolute;height: 30px;line-height: 30px;top: 40%;margin-top: -15px;left: 15%;overflow: hidden;width: 70%;text-align: center;font-size: 1.2em;font-weight: normal;}
.cms_case3 li .thumb h4.odd{ transform: rotate(-8deg); }
.cms_case3 li:hover .thumb .bgcolor{ opacity: 0.6;}
.cms_case3 li:hover .thumb .mask i.line_l,.cms_case3 li:hover .thumb .mask i.line_r{ height: 100%;}
.cms_case3 li:hover .thumb .mask i.line_t,.cms_case3 li:hover .thumb .mask i.line_b{ width: 100%;}
.cms_case3 li:hover .thumb h4{ opacity: 1;top: 50%;transform: rotate(0);}

/*列表样式-4*/
.cms_case4{}
.cms_case4 li{ width: 23.5%;margin-right: 2%;margin-top: 1%;margin-bottom: 1%;background: rgba(0,0,0,0.1);position: relative;overflow: hidden;}
.cms_case4 li.ite_0{ margin-right: 0;}
.cms_case4 li .thumb{ position: relative;padding-top: 150%;overflow: hidden;}
.cms_case4 li .thumb a{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case4 li h4{ height: 3em;line-height: 3em; white-space: nowrap; width: 80%;margin: 0 auto;text-align: center;overflow: hidden;font-size: 1.2em;padding: 15px 0;}
.cms_case4 li.odd h4{ padding-top: 25px;}
.cms_case4 li.even h4{ padding-bottom: 25px;}
.cms_case4 li .mask{ position: absolute;left: -10px;top: -10px;right: -10px;bottom: -10px;border: 1px solid #888888}
.cms_case4 li:hover .mask{ left: 10px;top: 10px;right:10px;bottom:10px;}
.cms_case4 li:hover .thumb a{ -webkit-transform: scale(1.1);transform: scale(1.1);}
.cms_case4 li.odd:hover h4{ transform: translatey(-5px);}
.cms_case4 li.even:hover h4{ transform: translatey(5px);}

/*列表样式-5*/
.cms_case5{ position: relative;overflow: hidden;}
.cms_case5 ul{ width: 101%;}
.cms_case5 li{ width: 32.333%;position: relative;overflow: hidden;margin: 10px 1% 10px 0;}
.cms_case5 li a{ display: block;padding-top: 75%;position: relative;}
.cms_case5 li .thumb{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;margin-top: -50px;}
.cms_case5 li .bg{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.8);opacity: 0;}
.cms_case5 li h4{  color: #333; position: absolute;left: 20px;bottom: 0;right: 20px;font-size: 14px; height: 50px;line-height: 50px;text-align: center;overflow: hidden;}
.cms_case5 li span.link{ opacity: 0; position: absolute;top: 0;left: 50%;margin-left: -30px; width: 60px;height: 60px;line-height: 60px;text-align: center;border-radius: 50%;background: rgba(255,255,255,0.8); }
.cms_case5 li span.link i{ color: #000;}
.cms_case5 li:hover span.link{ top: 50%;margin-top: -55px;opacity: 1;}
.cms_case5 li:hover h4{ bottom: 50%;margin-bottom: -50px;color: #fff;}
.cms_case5 li:hover .bg{ opacity: 1;}

/*列表样式-6*/
.cms_case6{ position: relative;overflow: hidden;}
.cms_case6 ul{ width: 102%;}
.cms_case6 li{ width: 31.333%;position: relative;overflow: hidden;margin: 1% 2% 1% 0;overflow: hidden;}
.cms_case6 li a{ display: block;padding-top: 75%;position: relative;text-shadow: 0 0 2px rgba(0,0,0,0.5);}
.cms_case6 li .thumb{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case6 li .bg{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.35);opacity: 0;}
.cms_case6 li h4{ position: absolute;left: 30px;right: 30px;top: 50%;height: 30px;line-height: 30px;overflow:hidden;text-align: center;font-size: 1.4em;margin-top: -50px;color: #fff;}
.cms_case6 li i.line{ position: absolute;left: 0;top: 50%;left: 20px;right: 20px;height: 1px;background: #fff;}

.cms_case6 li:hover .thumb{ -webkit-transform: scale(1.2);transform: scale(1.2);}
.cms_case6 li:hover .bg{ opacity: 1;}
.cms_case6 li:hover h4{ margin-top: -15px;}
.cms_case6 li:hover i.line.l{ -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.cms_case6 li:hover i.line.r{ -webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/*列表样式-7*/
.cms_case7{ position: relative;overflow: hidden;}
.cms_case7 ul{ width: 102%;}
.cms_case7 li{ width: 31.333%;position: relative;overflow: hidden;margin: 1% 2% 1% 0;overflow: hidden;}
.cms_case7 li a{ display: block;padding-top: 75%;position: relative;text-shadow: 0 0 2px rgba(0,0,0,0.5);}
.cms_case7 li .thumb{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case7 li .bg{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.35);opacity: 0;}
.cms_case7 li h4{ position: absolute;left: 30px;right: 30px;top: 50%;height: 30px;line-height: 30px;overflow:hidden;text-align: center;font-size: 1.4em;margin-top: -50px;color: #fff;}
.cms_case7 li i.line{ position: absolute;left: 0;top: 50%;left: 20px;right: 20px;height: 1px;background: #fff;}

.cms_case7 li:hover .thumb{ -webkit-transform: scale(1.2);transform: scale(1.2);}
.cms_case7 li:hover .bg{ opacity: 1;}
.cms_case7 li:hover h4{ margin-top: -15px;}
.cms_case7 li:hover i.line.l{ margin-top: -30px;}
.cms_case7 li:hover i.line.r{ margin-top: 30px;}


/*列表样式-8*/
.cms_case8 .article { display: block;margin: 0 0 20px 0;padding: 10px;background: rgba(0,0,0,0.05);border-radius: 2px;box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.1);transition: all 220ms;}
.cms_case8 .article:hover { box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.15);transform: translateY(-5px);transition: all 220ms;}
.cms_case8 .article > img {display: block;width: 100%;margin: 0 0 24px 0;}
.cms_case8 .article h4 {text-align: center;font-size: 14px;text-transform: uppercase;margin: 0 0 12px 0;height: 20px;line-height: 20px;overflow: hidden;}
.cms_case8 .wall {display: block;position: relative;}
.cms_case8 .wall-column {display: block;position: relative;width: 25%;float: left;padding: 0 10px;box-sizing: border-box;}


/*列表样式-9*/
.cms_case9{ }
.cms_case9 li{ width: 25%;position: relative;overflow: hidden;}
.cms_case9 li .thumbBox{ position: relative;overflow: hidden;}
.cms_case9 li .thumbBox .thumb{ position: relative;padding-top: 75%;overflow: hidden;}
.cms_case9 li .thumbBox .thumb .coverBg{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case9 li .thumbBox .mask{ position: absolute;left: 0;right: 0; bottom: -60px;padding-right: 70px; height: 60px;background: #000;line-height: 60px;overflow: hidden;}
.cms_case9 li .thumbBox .mask a.item_tit{ float: left;height: 60px; line-height: 60px;overflow: hidden;display: inline-block;margin: 0 15px;font-size: 1.2em;color: #fff;text-decoration: none;overflow: hidden; }
.cms_case9 li .thumbBox .mask a.more{  position: absolute;right: 15px;top: 22px; display: inline-block;height: 16px;line-height: 16px;padding: 0 10px; background: #fff;color: #000;text-decoration: none;border-radius: 10px;}

.cms_case9 li:hover .thumbBox .thumb .coverBg{ -webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0.85;}
.cms_case9 li:hover .thumbBox .mask{ bottom: 0;}

/*列表样式-10*/
.cms_case10{ position: relative;overflow: hidden;}
.cms_case10 ul{ width: 101.5%;}
.cms_case10 ul li{ width: 31.83%;margin: 0 1.5% 0 0;position: relative;margin-bottom: 1.5%;}
.cms_case10 ul li .thumbBox{ padding-top:75% ;position: relative;overflow: hidden;}
.cms_case10 ul li .thumbBox .thumb,.cms_case10 ul li .thumbBox .mask,.cms_case10 ul li .thumbBox a.view{position: absolute;  width: 100%;height: 100%;left: 0;top: 0; }
.cms_case10 ul li .thumbBox .thumb{  }
.cms_case10 ul li .thumbBox .mask{ filter: alpha(opacity=0);opacity: 0;-webkit-transform: scale(0) rotate(90deg);-moz-transform: scale(0) rotate(-180deg);-o-transform: scale(0) rotate(-180deg);-ms-transform: scale(0) rotate(-180deg);transform: scale(0) rotate(-180deg);}
.cms_case10 ul li .thumbBox .mask .coverBg{position: absolute;  width: 100%;height: 100%;left: 0;top: 0;background:rgba(0,0,0,0.8);}
.cms_case10 ul li .thumbBox .mask h2{ padding: 6% 4% 0;overflow: hidden;text-align: center;height: 3em;line-height: 3em;color: #fff;position: relative;border-bottom: 1px solid #fff;font-size: 1.2em;}
.cms_case10 ul li .thumbBox .mask p{ position: relative;line-height: 2em;color: #D8D8D8;padding: 5% 5% 0;max-height: 8em;overflow: hidden; }

.cms_case10 ul li .thumbBox:hover .thumb{ -webkit-transform: scale(0);-moz-transform: scale(0);-o-transform: scale(0);-ms-transform: scale(0); transform: scale(0); }
.cms_case10 ul li .thumbBox:hover .mask{ filter: alpha(opacity=100);opacity: 1; -webkit-transform: scale(1) rotate(0);-moz-transform: scale(1) rotate(0);-o-transform: scale(1) rotate(0);-ms-transform: scale(1) rotate(0);transform: scale(1) rotate(0);-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;-ms-transition-delay:0.3s;transition-delay:0.3s;  }
.cms_case10 ul li .item_tit{height: 3em;line-height: 3em;text-align: center;overflow: hidden;font-size: 1.2em;}


/*图文+交叉式列表 列表样式-11*/
.cms_case11 {}
.cms_case11 li{ position: relative;  height: 200px;border: 1px solid #dddddd;margin-bottom: 3%; overflow: hidden; }
.cms_case11 li .thumb{ position: absolute;width: 266px;height: 100%;top: 0;overflow: hidden;}
.cms_case11 li .thumb a{ position:  absolute; width: 100%; height: 100%;left: 0;top: 0; }
.cms_case11 li .item_con{}
.cms_case11 li .item_con .item_tit{ font-size: 16px;height: 2em; line-height: 2em;overflow: hidden;padding-top: 5px;text-transform: uppercase; }
.cms_case11 li .item_con p{ line-height: 2em;max-height: 6em; overflow: hidden;margin-top: 1%;color: #333; }
.cms_case11 li .item_more{ padding-top: 15px; text-align: right;}
.cms_case11 li.even .item_more{ text-align: right; }
.cms_case11 li.even{padding: 0 20px 0 296px;}
.cms_case11 li.even .thumb{ left: 0;}
.cms_case11 li.odd{padding: 0 296px 0 20px;}
.cms_case11 li.odd .thumb{ right: 0;}
.cms_case11 li:hover .thumb a{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}


/*图文+纵向 列表样式-12*/
.cms_case12{ }
.cms_case12 li{ position: relative;padding-left: 215px;margin-top: 30px;}
.cms_case12 li .thumb{ position: absolute;left: 0;top: 0;width: 215px;height: 100%;overflow: hidden;}
.cms_case12 li .thumb a{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.cms_case12 li .item_con{ border-bottom: 1px solid #eeeeee;border-top: 1px solid #eeeeee;padding: 10px 10px 10px 15px;}
.cms_case12 li .item_con .item_tit{ height: 20px;line-height: 20px;overflow: hidden;font-weight: bold;font-size: 1.2em;}
.cms_case12 li .item_con .item_tit a{ text-decoration: none;}
.cms_case12 li .item_con p{ color: #333;display: block;font-size: 12px;height: 60px;line-height: 20px;margin-top: 8px;overflow: hidden;}
.cms_case12 li .item_info{ height: 35px;line-height: 35px;padding: 0 0 0 15px;position: relative;border-bottom: 1px solid #eeeeee;color: #333;}
.cms_case12 li .item_info a{ display: inline-block;height: 35px;line-height: 35px;border-left: 1px  solid #eeeeee;padding:0 18px;color: #b5000d;float: right;font-weight: bold;}
.cms_case12 li:hover .thumb a{ -webkit-transform: scale(1.1);transform: scale(1.1);}


/*图文+纵向式列表 列表样式-13*/
.cms_case13 { border-top: 1px solid #dddddd;}
.cms_case13 li{ position: relative;  border-bottom: 1px solid #dddddd;padding: 2.5% 0;  }
.cms_case13 li .item_init{ height: 200px;overflow: hidden;padding: 0 24px 0 296px;position: relative; }
.cms_case13 li .thumb{ position: absolute;width: 266px;height: 100%;top: 0;overflow: hidden;left: 0;}
.cms_case13 li .thumb a{ position:  absolute; width: 100%; height: 100%;left: 0;top: 0; }
.cms_case13 li .item_con{}
.cms_case13 li .item_con .item_tit{ font-size: 1.5em;height: 2.5em; line-height: 2.5em;overflow: hidden;padding-top: 5px; }
.cms_case13 li .item_con .item_tit span{font-size: 0.8em;}
.cms_case13 li .item_con p{ line-height: 2em;max-height: 6em; overflow: hidden; }
.cms_case13 li .item_more{ padding-top: 15px; }
.cms_case13 li:hover{ background: #F5F5F5; }
.cms_case13 li:hover .thumb a{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}


/*图文+横向列表 列表样式-14*/
.cms_case14 {}
.cms_case14 li{ position: relative; width: 48%;margin-left: 2%;margin-bottom: 25px; }
.cms_case14 li .item_init{ position: relative;padding: 0 0 0 220px;overflow: hidden;  }
.cms_case14 li .thumb{ position: absolute;width: 200px;height: 150px;top: 0;overflow: hidden;left: 0;}
.cms_case14 li .thumb a{ position:  absolute; width: 100%; height: 100%;left: 0;top: 0; }
.cms_case14 li .item_con{ height: 150px; overflow: hidden;padding-bottom: 25px;border-bottom: 1px solid #dddddd;position: relative; }
.cms_case14 li .item_con .item_tit{ font-size: 1.2em;height: 2em; line-height: 2em;overflow: hidden; }
.cms_case14 li .item_con .item_tit span{font-size: 0.8em;}
.cms_case14 li .item_con p{ line-height: 2em;max-height: 4em; overflow: hidden;color: #333; }
.cms_case14 li .item_more{ position: absolute;left: 0; bottom: 25px; }
.cms_case14 li:hover .thumb a{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}


/*图文+横向列表 列表样式-15*/
.cms_case15 {}
.cms_case15 li{ position: relative; width: 31%;margin: 0 1.1%;margin-bottom: 2%; }
.cms_case15 li .item_init{ border: 1px solid #ddd; padding: 10px 20px 20px;overflow: hidden;position: relative; box-shadow: 1px 1px 2px rgba(0,0,0,0.2); }
.cms_case15 li .thumb{ padding-top: 60%;overflow: hidden;position: relative;margin: 10px 0;  }
.cms_case15 li .thumb a{ position:  absolute; width: 100%; height: 100%;left: 0;top: 0; }
.cms_case15 li .item_con{  overflow: hidden;position: relative; }
.cms_case15 li  .date{height: 2em;line-height: 2em;overflow: hidden;padding-top: 6px;}
.cms_case15 li .item_con .item_tit{ font-size: 1.2em;height: 2em; line-height: 2em;overflow: hidden;}
.cms_case15 li .item_con .item_tit span{font-size: 0.8em;}
.cms_case15 li .item_con p{ line-height: 2em;height: 6em; overflow: hidden;color: #333; }
.cms_case15 li .item_more{ padding-top: 15px;  }
.cms_case15 li:hover{background: #F5F5F5;}
.cms_case15 li:hover .thumb a{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}


/* 列表样式-16*/
.cms_case16 {}
.cms_case16 li{ position: relative; margin-bottom: 6px;border-bottom: 1px solid #F1F1F1;padding-bottom: 6px; }
.cms_case16 li .item_tit{ font-size: 1.2em;height: 2.5em; line-height: 2.5em;overflow: hidden;border-bottom: 1px solid #ddd;font-weight: bold;padding-left: 15px;background: url(../images/home/article_icon.gif) left center no-repeat;}
.cms_case16 li .item_tit .fr{font-size: 0.8em; font-weight: normal;}
.cms_case16 li .item_con{ line-height: 2.2em;max-height: 6.6em; overflow: hidden; padding-top: 6px;min-height: 2.2em; }


.cms_case17{ margin: 0 auto;}
.cms_case17 .grid-item{ position: absolute;}
.cms_case17 .article { display: block;margin: 0 0 20px 0;padding: 10px;background: rgba(0,0,0,0.04);border-radius: 2px;box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.08);transition: all 220ms;}
.cms_case17 .article:hover { box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.1);transform: translateY(-5px);transition: all 220ms;}
.cms_case17 .article > img {display: block;width: 100%;margin: 0 0 24px 0;}
.cms_case17 .article h4 {text-align: center;font-size: 14px;text-transform: uppercase;margin: 0 0 12px 0;height: 20px;line-height: 20px;overflow: hidden;}



/**============↑上面是内页的一些公共样式，建议不删除=============**/
/**============↓下面是内页自己的布局样式，这个做为演示站，可以全部删除=============**/
#banner a{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#insiderBase{ margin-top: 20px;padding-left: 240px;position: relative;min-height: 300px;}
#insiderBar{ position: absolute;left: 0;top: 0;width: 220px;}
#insiderBar h2{ height: 40px;line-height: 40px;font-size: 16px;background: #31833e;border-radius: 4px;padding: 0 15px;overflow: hidden;color: #fff;}
#insiderBar ul li{margin-top: 10px;}
#insiderBar ul li a{  border: 1px solid #f1f1f1;display: block; height: 36px;line-height: 36px;border-radius: 4px;padding: 0 20px;overflow: hidden;}
#insiderBar ul li.current{ }
#insiderBar ul li.current a,#insiderBar ul li a:hover{  border-color:#ccc;background: #ccc;color: #31833e;}


#insider_content .location{ line-height: 40px;text-align: right;border-bottom: 1px solid #ddd;margin-bottom: 20px;}
#insider_content .location .path_current{ color: #31833e;}


@media screen and (max-width: 768px) {
    #insiderBase{ margin-top: 4%;padding-left: 0;position: relative;}
    #insiderBar{ position: static;left: 0;top: 0;width: 100%;}
    #insider_content{ margin-top: 4%;}
    #insider_content .location{ display: none;}
    
}




















