{layout name="layout" /}
<form id="form" action="{:url('bank/recharge',['input' => $uid])}">
<input type="hidden" name="uid" value="{$uid}" />
<table class="formtable">
    <tr>
        <th>头像:</th>
        <td><img src="{$info.face}" /></td>
    </tr> 
    <tr>
        <th>微信昵称:</th>
        <td>{$info.nickname}</td>
    </tr>
    <tr>
        <th>安全密码:</th>
        <td><input class="input w110" type="password" name="safepassword" /></td>
    </tr>
    <tr>
        <th>充提积分:</th>
        <td>
            <span class="badge bg-blue"><input name="types" type="radio" value="0" checked/> 充值</span>
            <span class="badge bg-green"><input name="types" type="radio" value="1" /> 提取</span>
        </td>
    </tr>
    <tr>
        <th>应付积分:</th>
        <td><input class="input w110" datatype="num" type="text" name="due_money" value="0" /> <span class="gray">在原积分基础上增减</span></td>
    </tr>
    <tr>
        <th>购物积分:</th>
        <td><input class="input w110" datatype="num" type="text" name="shop_money" value="0" /> <span class="gray">在原积分基础上增减</span></td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="submit" value="确定" class="button button-blue submit" />
            <input type="reset" value="重置" class="button" />
        </td>
    </tr>
</table>
</form>
</div>
<script type="text/javascript">
    Do('base', 'layer', 'form', function () {
        $('#form').isForm();
    });
</script>