@import url(base.css);
@import url(common.css);
@charset "utf-8";
/*全站链接样式*/
a{color:#333; text-decoration:none;}
a:hover{color:#00A1E7;text-decoration:none;} 
.blank{height:10px;}
body{color:#333;font-size:12px;}
.blank{height:10px;}

body{font-weight:normal;font:12px "微软雅黑",verdana,lucida,helvetica,arial,sans-serif;}

/*搜索*/
.search_box{  padding-bottom: 10px;
  background: #fff;
  /* border: 2px solid #C0C0C0; */
  border-top: 3px solid #EDEDED;}
.search_box .condition{height:60px;background:#F7F7F7;line-height:58px;padding-left:10px;}
.search_box select{padding:1px;border:1px solid #ccc;}
.search_box .search_list{padding:0;}
.search_box .search_list li{height:38px;line-height:38px;border-top:1px solid #eee;color:#999;padding:0 10px;}
.search_box .search_list li a{color:#0066cc;margin-left:10px;}
.search_box .search_list li a:hover{background:#00A1E7;color:#fff;padding:1px 5px;}
.search_box .search_list li a.here{background:#00A1E7;color:#fff;padding:1px 5px;}

/*条件*/
.condition_list li{padding:0 5px;float:left;}
.condition_list li a{padding:2px 20px 2px 3px;border:1px solid #e9e9e9;border-right:2px solid #e9e9e9;border-bottom:2px solid #e9e9e9;background:#fff url(../img/close.gif) no-repeat right 7px;}
.condition_list li a:hover{border:1px solid #00A1E7;border-right:2px solid #00A1E7;border-bottom:2px solid #00A1E7;color:#666}
.cbutton{background: none repeat scroll 0 0 #DDDDDD;border-color:-moz-use-text-color #666666 #666666 -moz-use-text-color;border-style: none solid solid none;border-width: 0 1px 1px 0;margin-left:2px;padding:3px 8px 2px 8px;}


/*车源列表*/
.search_big_box{border:1px solid #00A1E7;background:#fff;}
.search_big_box .orderlist{padding:10px;height:30px;line-height:30px;background:#f9f9f9;border-bottom:1px solid #e9e9e9;}

/*车源类型*/
.cartype{border-bottom:3px solid #00A1E7;}
.cartype li{float:left;padding-right:10px;}
.cartype li a{display:block;width:80px;padding:10px 0;text-align:center;font-size:14px;background:#fff;font-weight:bold;border-bottom:none;color:#666;}
.cartype li a:hover,.cartype li a.here{ background: #F2F2F2;
  color: #00A1E7;
  /* border: 1px solid #00A1E7; */
  /* border-top: 2px solid #00A1E7; */
  border-bottom: none;}

/*排序*/
.orderlist li{float:left;padding:0 25px 0 10px;border-right:1px solid #e9e9e9;}
.orderlist li.or01{background:url(../img/common_sprite.gif) no-repeat 40px -38px;}
.orderlist li.or02{background:url(../img/common_sprite.gif) no-repeat 40px -60px;}
.orderlist li.or03{background:url(../img/common_sprite.gif) no-repeat 40px -84px;}
.orderlist li.or04{background:url(../img/common_sprite.gif) no-repeat 40px -108px;}
.orderlist li.or03 a,.orderlist li.or04 a{font-weight:bold;color:#00A1E7}

/*每页显示条数*/
.page_num{float:right;padding-right:20px;}
.page_num .num{background:#fff;padding:0 3px;border:1px solid #e9e9e9;}


/*显示方式*/
.showtype{float:right;}
.showtype .type01{background:#fff;padding:1px 5px 1px 20px;border:1px solid #d8d8d8;background:#fff url(../img/showtype.png) no-repeat 3px -17px;}
.showtype .type02{background:#fff;padding:1px 5px 1px 20px;border:1px solid #d8d8d8;background:#fff url(../img/showtype.png) no-repeat 3px 4px;}
.showtype .type03{background:#fff;padding:1px 5px 1px 20px;border:1px solid #d8d8d8;background:#fff url(../img/showtype.png) no-repeat 3px -61px;}
.showtype .type04{background:#fff;padding:1px 5px 1px 20px;border:1px solid #d8d8d8;background:#fff url(../img/showtype.png) no-repeat 3px -39px;}


.listcar{padding:10px 0;border-bottom:1px dotted #ccc;padding:15px;}
.listcar .img{float:left;width:180px;}
.listcar .img img{float:left;width:160px;}
.listcar .word{float:left;width:450px;}
.listcar .word .carname a{font-size:14px;color:#333;}
.listcar p{line-height:25px;}
.listcar .check01{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat;display:inline;margin-left:5px;}
.listcar .check02{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat -17px 0;display:inline;margin-left:5px;}
.listcar .check03{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat -34px 0;display:inline;margin-left:5px;}


/*车源详情*/
.carbox{padding:40px;margin-left:auto;margin-right:auto;border:1px solid #e9e9e9;background:#fff;}
.carbox_left{float:left;width:600px;}
.carbox_left .carpicbox{position:relative;}
.carbox_left .carpicbox img{width:600px;}

/*已卖*/
.issell{position:absolute;left:190px;top:160px;width:210px;height:140px;background:url(../img/icon_yishou.png) no-repeat;}

.carbox_right{float:right;width:490px;font-size:12px;position:relative;}
.carbox_right .carname{font-size:30px;}
.carbox_right .pricebox{margin-top:20px;padding:10px 20px;height:60px;background:#f5f5f5;border:1px solid #e9e9e9;}
.carbox_right .pricebox .pricebox_left{float:left;width:200px;padding-top:15px;}
.carbox_right .pricebox .price{font-size:22px;color:#00A1E7;}
.carbox_right .pricebox .pricebox_right{float:right;width:180px;padding-top:20px;}
.carbox_right .pricebox .pricebox_right .seecontact{padding:10px 30px;background:#00A1E7;color:#fff;}

/*详细参数*/
.cardetailbox{border:1px solid #e9e9e9;background:#fff;}
.cardetailbox .title_tab{height:40px;border-bottom:1px solid #e9e9e9;background:#f5f5f5;}
.cardetailbox .title_tab li{float:left;width:120px;height:40px;line-height:40px;text-align:center;border-right:1px solid #e9e9e9;font-size:16px;}
.cardetailbox .title_tab li.here{border-top:2px solid #00A1E7;background:#fff;}
.cardetailbox h3{font-size:16px;height:35px;line-height:35px;color:#333;border-bottom:1px solid #e9e9e9;}
.cardetailbox .title{display:block;width:100px;height:35px;line-height:35px;padding:0 20px;}
.cardetailbox .box{padding:20px;font-size:14px;}
.cardetaillist{padding:20px;}
.cardetaillist li{float:left;width:260px;height:35px;line-height:35px;font-size:14px;}

.detail01{margin-top:20px;padding:10px 5px;background:#fff;border-top:1px solid #e9e9e9;}
.detail01 li{float:left;width:240px;height:25px;line-height:25px;color:#333;font-size:12px;}
.detail01 li.li01{width:400px;}
.detail01 li.li01 .price{font-size:20px;font-weight:bold;color:#00A1E7;}
.detail02{padding:10px;background:#ffffe6;border:1px solid #fcb586;font-size:12px;}
.detail02 p{padding:5px 0;}
.detail02 p select{padding:2px;border:1px solid #ccc;}

.car_detail{border-top:1px solid #e8e8e8;padding-top:15px;}
.car_detail .item{border-left:1px solid #ddd;color:#999;float:left;font-size:12px;height:40px;padding-left:10px;text-align:left;width:100px}
.car_detail strong{color:#333;display:block;font-size:14px;font-weight:bold;line-height:18px}
.detail_price_souche{margin-bottom:5px;margin-top:10px}

/*联系方式*/
.contactbox{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;padding:20px 0;height:60px;background:#f5f5f5;margin-top:20px;position:relative;}
.contactbox i{background:url("../img/ico_a.png") no-repeat left -123px; height:44px;left:15px;position:absolute;top:25px;width:45px;}
.contactbox .telbox .tel{font-size:18px;color:#00A1E7;}
.contactbox .telbox{float:left;width:260px;padding-left:70px;}
.contactbox .mobilecode{float:right;width:60px;border-left: 1px solid #e9e9e9;height: 55px;padding-left: 20px;padding-right:20px;position: relative;z-index: 6;}
.contactbox .mobilecode a{background: url("../img/ico_a.png") no-repeat -20px -300px;color: #999;display: block;height: 16px;padding-top: 39px;text-align: center;width: 65px;}

/*按钮*/
tc14-cytopbut {display: block;padding-top: 25px;}



/*店铺情况*/
.shopbox{border:1px solid #00A1E7;background:#fff;}
.shopbox h3{height:40px;line-height:40px;background:#00A1E7;color:#fff;font-weight:bold;padding:0 10px;font-size:14px;}
.shopbox .logo{padding-bottom:20px;border-bottom:1px solid #e9e9e9;margin-bottom:20px;text-align:center;}
.shopbox .logo img{width:100px;}
.shopbox .box{padding:20px;}
.shopcontact li{line-height:20px;margin-bottom:7px;padding-left:40px;position:relative;color:#666;}
.shopcontact li strong{color:#999;left:0;line-height:20px;position:absolute;top:0;width:40px;font-weight:normal;}
.cycs-fbys{padding:10px 0;}
.cycs-fbys li{border-right:1px solid #e9e9e9;float:left;height:32px;text-align:center;width:65px;color:#666;}
.cycs-fbys li.last{border-right: 0 none;}
.cyssbut{margin-top:20px;background:#f5f5f5;}
.w210-h35{display:inline-block;font-size:14px;height:35px;line-height:35px;width:194px;text-align:center;}
.button_gray{border: 1px solid #e2e2e2;color: #999;font-family: microsoft yahei;}

/*车源详情*/
.cartitle{padding:10px 20px;margin-left:auto;margin-right:auto;border:1px solid #d8d8d8;background:#f7f7f7;font-size:18px;border-bottom:none;color:#333;font-weight:bold;}
.carbox{padding:20px;margin-left:auto;margin-right:auto;border:1px solid #d8d8d8;background:#fbfbfb;}
.carbox_left{float:left;width:360px;}

/*车主描述*/
.cardetail{line-height:25px;color:#666;}

/*其他车源*/
.othercarbox h3{padding:0 10px;font-size:20px;height:55px;line-height:55px;color:#333;}
.othercarbox .box{border:1px solid #e9e9e9;background:#fff;padding:15px;}


/*车源列表*/
.carlist li{margin:0 auto;width:160px;padding:15px;text-align:center;}
.carlist li img{width:160px;height:120px;}
.carlist li p{height:25px;line-height:25px;text-align:left;}

/*表格*/
.listtable th,.listtable td{font-size:12px;padding:8px 15px;border-bottom:1px solid #e8e8e8;}
.listtable th{background:#f5f5f5;}

.qiugoutable{margin-left:auto;margin-right:auto;border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9;}
.qiugoutable th{background:#fbfbfb;text-align:right;color:#999}
.qiugoutable th,.qiugoutable td{font-size:14px;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;padding:15px;}

.qiugou_notice{margin-left:auto;margin-right:auto;margin-top:20px;width:678px;padding:15px;border:1px solid #ffd6a5;padding-left:50px;background:#ffffe6 url(../img/notice.png) no-repeat 10px 20px;color:#00A1E7;}


/*车源图片展示*/
.ladyScroll{width:600px;height:70px;margin:15px auto;position:relative}
.ladyScroll .prev,.ladyScroll .next{width:24px;height:70px;position:absolute;top:0px;left:0;z-index:100;cursor:pointer;background:url(../img/btns.png) no-repeat}
.ladyScroll .next{left:auto;right:0;background-position:0 -71px}
.ladyScroll .scrollWrap{width:530px;margin-left:31px;overflow:hidden;position:absolute}
.ladyScroll dl{float:left;width:110px;text-align:center;position:relative}
.ladyScroll  span{display:block;width:298px;height:53px;position:absolute;left:5px;bottom:0;background:#5f626b;filter:alpha(opacity=80);opacity:0.80}
.ladyScroll dt{margin:0 auto;width:100px;overflow:hidden}
.ladyScroll img{display:block;width:100px;height:70px;cursor:pointer;}
.ladyScroll dl:hover span{background:#B52153}

/*租车列表*/
.listrentcar{padding:10px 0;border-bottom:1px dotted #ccc;padding:15px;}
.listrentcar .img{float:left;width:115px;}
.listrentcar .img img{float:left;width:100px;}
.listrentcar .word{float:left;width:450px;}
.listrentcar .word .carname a{font-size:14px;color:blue;}
.listrentcar p{line-height:25px;}
.listrentcar .check01{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat;display:inline;margin-left:5px;}
.listrentcar .check02{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat -17px 0;display:inline;margin-left:5px;}
.listrentcar .check03{float:left;display:block;width:17px;height:16px;background:url(../img/check.jpg) no-repeat -34px 0;display:inline;margin-left:5px;}



/**/
.cktable{width:100%;border-left:1px solid #d8d8d8;border-top:1px solid #d8d8d8;}
.cktable th{width:20%;padding:5px;font-size:14px;text-align:left;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background:#f5f5f5;}
.cktable td{width:30%;padding:5px;font-size:14px;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}

/*进入店铺*/
.entershop{margin:0 auto;display:block;background: url("../img/butbg.jpg") repeat-x scroll 0 0 transparent;border: 1px solid #CC6C00;color: #FFFFFF;font-size:14px;text-align:center;width:120px;height:24px;line-height:24px;overflow:hidden;font-weight:bold;}

/*幻灯片*/
.syfocusthumb img{border-bottom-style:none;border-right-style:none;border-top-style:none;vertical-align:top;border-left-style:none}
.focustit{background:url(../img/indexp1bg.png) no-repeat}
.focusnew .focustab{background:url(../img/indexp1bg.png) no-repeat}
.syfocusthumb .prev{background:url(../img/indexp1bg.png) no-repeat}
.syfocusthumb .next{background:url(../img/indexp1bg.png) no-repeat}
.syfocusthumb .pagination i.selected img{background:url(../img/indexp1bg.png) no-repeat}
.sliderwrapper{height:230px}
.syfocusthumb{position:relative;width:350px;background:#d7d7d7;height:330px;overflow:hidden}
.syfocusthumb .pagination{position:absolute;text-align:left;width:100%;background:#d7d7d7;height:62px;color:#fff;clear:both;top:260px;left:0px}
.syfocusthumb .pagination img{padding-bottom:2px;padding-left:2px;padding-right:2px;padding-top:8px}
.syfocusthumb .thumbwrap{position:absolute;width:312px;overflow:hidden;top:4px;left:20px}
.syfocusthumb .thumbwrap img{-ms-interpolation-mode:bicubic}
.syfocusthumb .holder{width:4000px}
.syfocusthumb .holder i{cursor:pointer;margin-right:4px}
.syfocusthumb .prev{position:absolute;width:8px;background-position:0 0;height:50px;top:12px;cursor:pointer;left:5px}
.syfocusthumb .next{position:absolute;width:8px;background-position:-8px 0;height:50px;top:12px;cursor:pointer;left:5px}
.syfocusthumb .next{background-position:-8px 0;right:5px;left:auto}
.syfocusthumb .pagination i.selected img{padding-bottom:2px;padding-left:2px;padding-right:2px;background-position:-16px 0;padding-top:8px}
.syfocusthumb .contentdiv{height:260px}
.syfocusthumb .toc img{width:70px;height:50px}


/*提示信息*/
.notice{width:1158px;margin-left:auto;margin-right:auto;background:#fef1e5;padding:10px 20px;border:1px solid #fccb9e;}

/*求购*/
.qiugou_tel{width:200px;padding:20px;margin-left:auto;margin-right:auto;text-align:center;background:#00A1E7;color:#fff;font-size:16px;font-weight:bold;cursor:pointer;}


/*弹出层*/
.popnotice{padding:10px 20px;line-height:22px;font-size:14px;font-weight:bold;border-bottom:1px solid #d8d8d8;background:#f5f5f5;}
.poptable th{width:80px;padding:5px;text-align:right;color:#666;}
.poptable td{padding:5px;}
.poptable td input,.poptable td textarea{padding:5px 10px;border:1px solid #d8d8d8;font-size:12px;font-family:"微软雅黑";color:#666;}



/*对比*/
.tc14-tplb li{border-bottom:1px solid #e9e9e9;height:80px;width:420px;padding:15px 20px;position:relative}
.tc14-tplb li.current{background-color:#f7f7f7}
.tc14-tplb li img{float:left;height:80px;margin-right:10px;width:120px}
.tc14-tplb li p{color:#999;height:20px;line-height:20px;overflow:hidden;width:185px}
.tc14-tplb li h5{font-family:"microsoft yahei";font-size:14px;margin-bottom:5px;overflow:hidden;width:185px}
.tc14-tplb li em{font-family:"microsoft yahei";font-size:16px;}
.tc14-cysc {color: #999;position: absolute;right: 20px;top: 43px;}

/*按钮*/
.buymenu{display:block;height:45px;line-height:45px;background:#00A1E7;color:#fff;font-size:16px;font-weight:bold;text-align:center;}
.buymenu:hover{color:#fff;}