@import url(base.css);
@import url(common.css);
@charset "utf-8";

/*全站链接样式*/
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
body{ color:#333; font-size:12px;}
.blank{ height:10px;}

body{font-weight:normal;font:12px "微软雅黑",verdana,lucida,helvetica,arial,sans-serif;background:#fff;}


/*车源图片列表*/
.car_list li{float:left;padding:10px;}
.car_list li img{width:215px;height:170px;}
.car_list li p.carname{height:35px;line-height:35px;font-size:14px;}
.car_list li p a{color:#0066cc;text-decoration:undercar;}
.car_list li p{margin-top:5px;}

.scar_list li{float:left;width:125px;padding:10px 13px 9px 13px;}
.scar_list li img{width:125px;height:100px;}
.scar_list li p.carname{height:35px;line-height:35px;font-size:14px;}
.scar_list li p a{color:#0066cc;text-decoration:undercar;}
.scar_list li p{height:26px;line-height:26px;}
.hide{display:none;}

/*搜索*/
.index_search{background:#fff;border:1px solid #d8d8d8;}
.index_search .index_search_box .brand{padding-top:20px;height:40px;padding-left:20px;}
.index_search .index_search_box select{padding:1px;border:1px solid #ccc;}
.index_search .index_search_box .cbutton{background:#ee7700;border:none;color:#fff;font-family:"微软雅黑";margin-left:2px;padding:2px 15px;}
.index_search .search_list{padding:0;}
.index_search .search_list li{height:40px;line-height:40px;color:#999;padding:0 20px;border-top:1px solid #eee;}
.index_search .search_list li a{color:#999;margin-right:5px;padding:0 5px;}
.index_search .search_list li a:hover{color:#fff;background:#ee7700}
.index_search .bg01{background:#f9f9f9;}

/*快速评估*/
.assess_table th{width:60px;}
.assess_table td{padding:0 5px;height:35px;}
.assess_table td select{border:1px solid #d8d8d8;padding:1px;}
.assess_table td input[type="text"]{border:1px solid #d8d8d8;padding:3px;}
.assess_table td .but01{color:#fff;background:#ee7700;padding:5px 15px;border:none;font-family:"微软雅黑";font-size:14px;font-weight:bold;}

/*首页*/
.indexbox{border:1px solid #d8d8d8;background:#f9f9f9;}
.indexbox h3{font-size:16px;height:45px;}
.indexbox .left{float:left;width:260px;height:280px;padding:30px 20px 20px 20px;border-right:1px solid #d8d8d8;}
.indexbox .right{float:right;width:253px;height:280px;padding:30px 20px 20px 20px;}
.indexbut01{color:#fff;background:#111;padding:5px 15px;border:none;text-align:center;}
.indexbut02{color:#fff;background:#ee7700;padding:5px 15px;border:none;text-align:center;}
.indexbut01 a,.indexbut02 a{color:#fff;}


/*特荐二手车*/
.activityBox{height:330px;width:240px;position:relative;}
.activityBox a{color:#666}
.activityBox .title{width:220px;height:34px;line-height:34px;padding:0 10px;background:#00A1E7}
.activityBox .title h2{font-size:16px;line-height:34px;color:#fff;font-weight:normal}
.activityBox .title .pageState{margin-left:5px}
.activityBox .content{width:240px;position:relative}
.activityBox .content .contentInner{width:194px;height:250px;padding:20px;position:relative;overflow:hidden;border:3px solid #00A1E7;}
.activityBox .content .contentInner ul{width:190px;height:260px;position:absolute}
.activityBox .content .contentInner ul li{height:260px}
.activityBox .content .contentInner ul li img{width:206px;vertical-align:middle;height:140px;}
.activityBox .content .contentInner ul li p.carname{height:50px;line-height:25px;}
.activityBox .title,.activityBox .title a{color:#fff}
.activityBox .title .ac_List{position:absolute;right:55px;top:0}
.activityBox .title .prev,.activityBox .title .next{width:16px;height:14px;position:absolute;display:block;top:10px;cursor:pointer;background:url(../img/menu.jpg) 0 0 no-repeat}
.activityBox .title .prev{right:29px;background-position:0 0}
.activityBox .title .next{right:10px;background-position:-17px 0}

/*推荐车商*/
.tjdealer{width:678px;height:95px;padding:10px;position:relative}
.tjdealer .piclist{overflow:hidden;zoom:1}
.tjdealer .ohbox{overflow:hidden;position:relative;width:620px;left:30px}
.tjdealer{position:relative;overflow:hidden;zoom:1}
.tjdealer .piclist li{float:left;display:inline;width:100px;background:#fff;border:1px solid #e8e8e8;margin-right:10px;padding:5px}
.tjdealer .piclist li img{width:100px;height:60px;}
.tjdealer .piclist li .noimg{background:#f5f5f5;width:100px;height:60px;line-height:60px;text-align:center;color:#999;}
.tjdealer .piclist li span{height:25px;line-height:25px;display:block;text-align:center}
.tjdealer .pageBtn span{background:url(../img/menubg.png) no-repeat;display:block;width:23px;height:49px;position:absolute;top:36px;cursor:pointer;text-indent:-999em;overflow:hidden}
.tjdealer .pageBtn .prev{left:0;background-position:0 0}
.tjdealer .pageBtn .next{right:0;background-position:0 -49px}
.tjdealer .pageBtn .list{overflow:hidden;zoom:1;margin:10px 0 0 413px}
.tjdealer .pageBtn .list li{background:url(../img/bntBg.png);float:left;display:inline;width:15px;height:15px;background-position:-86px -57px;cursor:pointer;margin-left:10px;line-height:10000px;overflow:hidden}
.tjdealer .pageBtn .list li.on{background-position:-114px -57px}

/*车源排行*/
.indexhotcarlist p{height:20px;line-height:20px;overflow:hidden;padding:7px 0;}
.indexhotcarlist p .num01{float:left;display:block;width:20px;height:20px;overflow:hidden;line-height:20px;background:#ee7700;color:#fff;text-align:center;}
.indexhotcarlist p .num02{float:left;display:block;width:20px;height:20px;line-height:20px;background:#111;color:#fff;text-align:center;}
