@import url(base.css);
@import url(common.css);
@charset "utf-8";
/*全站链接样式*/
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
body{ color:#333; font-size:12px;}
.blank{ height:10px;}

body{font-weight:normal;font:12px "微软雅黑",verdana,lucida,helvetica,arial,sans-serif;background:#fff;}

/*店铺头部*/
.shop_head{margin-left:auto;margin-right:auto;width:1200px;height:145px;background:#f5f5f5;background:url(../img/shop_banner.jpg) no-repeat}
.shop_name{color:#fff;padding-left:50px;padding-top:40px;font-size:26px;font-weight:bold;}
.shop_tel{color:#fff;padding-left:50px;padding-top:10px;font-size:12px;}

.shop_left{width:240px;float:left;}
.shop_right{width:950px;float:right;}

.aboutleft{float:left;width:300px;padding:20px;}
.aboutleft img{width:280px;height:200px;}
.aboutleft .nologo{width:280px;height:200px;line-height:200px;background:#f5f5f5;font-size:18px;text-align:center;color:#999}
.aboutright{float:right;width:580px;padding:20px 0 0 0;}

/*导航*/
.shopnav_list{margin-left:auto;margin-right:auto;width:1190px;background:#ff6600;padding-left:10px;}
.shopnav_list li{float:left;}
.shopnav_list li a{padding:0 20px;color:#fff;font-size:14px;font-weight:bold;height:45px;line-height:45px;border-right:1px solid #fdb07c;}

/*搜索*/
.search_box{padding-bottom:10px;border:1px solid #d8d8d8;}
.search_box .condition{height:60px;line-height:58px;padding-left:10px;}
.search_box select{padding:1px;border:1px solid #ccc;}
.search_box .search_list{padding:0;}
.search_box .search_list li{height:38px;line-height:38px;border-top:1px solid #eee;color:#999;padding:0 10px;}
.search_box .search_list li a{color:#0066cc;margin-left:10px;}
.search_box .search_list li a:hover{background:#00A1E7;color:#fff;padding:1px 5px;}
.search_box .search_list li a.here{background:#00A1E7;color:#fff;padding:1px 5px;}


/*条件*/
.condition_list li{padding:0 5px;float:left;}
.condition_list li a{padding:2px 20px 2px 3px;border:1px solid #e9e9e9;border-right:2px solid #e9e9e9;border-bottom:2px solid #e9e9e9;background:#fff url(../img/close.gif) no-repeat right 7px;}
.condition_list li a:hover{border:1px solid #00A1E7;border-right:2px solid #00A1E7;border-bottom:2px solid #00A1E7;color:#666}
.cbutton{background: none repeat scroll 0 0 #DDDDDD;border-color:-moz-use-text-color #666666 #666666 -moz-use-text-color;border-style: none solid solid none;border-width: 0 1px 1px 0;margin-left:2px;padding:3px 8px 2px 8px;}

/*车源列表*/
.bigcarlist li{float:left;padding:15px;border-bottom:1px solid #e9e9e9;}
.bigcarlist .bbg{border-right:1px solid #e9e9e9;}
.bigcarlist li img{width:200px;height:160px;}
.bigcarlist li p.carname{height:50px;line-height:25px;font-size:14px;}
.bigcarlist li p a{color:#0066cc;text-decoration:undercar;}
.bigcarlist li p{margin-top:5px;}
.bigcarlist li .compare{color:#0066cc;text-decoration:undercar;}

/*shopbox*/
.shopbox{background:#fff;}
.shopbox h3{height:45px;line-height:45px;padding-left:10px;background:#f7f7f7;font-size:16px;color:#666;border:1px solid #d8d8d8;border-bottom:1px solid #e9e9e9;}
.shopbox .box{border:1px solid #e9e9e9;border-top:none;}
.shopbox .box2{padding:10px;border:1px solid #e9e9e9;border-top:none;line-height:25px;}

/*问答*/
.feedback_ul01{padding:5px;}
.feedback_ul01 li{float:left;padding-right:20px;}
.feedback_ul01 li span{float:left;}
.feedback_ul01 li span.w01{line-height:20px;padding-left:5px;}
.feedback_ul01 li span.w02{padding-top:4px;}
.feedback_ul01 li .inp01{border:1px solid #d8d8d8;padding:3px;}
.feedback_info{padding:5px;}
.textarea01{border:1px solid #d8d8d8;padding:3px;width:650px;font:12px "微软雅黑";}
.feedbackbut{background:#f60;color:#fff;padding:5px 20px;border:none;font:12px "微软雅黑";}

.feedbacklist{margin-top:10px;}
.feedbacklist .title{height:30px;line-height:30px;padding:0 10px;background:#f5f5f5;}
.feedbacklist .feedback_ask{margin-top:5px;line-height:30px;color:#ff6600;padding:0 10px;}
.feedbacklist .feedback_reply{line-height:30px;padding:0 10px;}

/*销售代表*/
.shop_dealerlist li{float:left;width:80px;padding:10px;}
.shop_dealerlist li img{width:80px;height:100px;}
.shop_dealerlist li p{height:20px;line-height:20px;text-align:center;}

/*店铺新闻*/
.shopnewslist li{height:35px;line-height:35px;border-bottom:1px dashed #eee;}

/*地图*/
.map{width:925px;height:360px;text-align: center;margin: 0 auto;}