@import url(base.css);
@import url(common.css);
@charset "utf-8";

/*全站链接样式*/
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
body{ color:#333; font-size:12px;}
.blank{ height:10px;}

body{font-weight:normal;font:12px "微软雅黑",verdana,lucida,helvetica,arial,sans-serif;}

/*头部*/
.login_head{margin-left:auto;margin-right:auto;width:980px;height:65px;}
.login_head .logo{font-size:30px;font-family:"微软雅黑";padding-top:15px;color:#5a668c;}
.login_head .logo a{display:block;width:163px;height:73px;color:#5a668c;}

/*登录*/
.login_main{margin-left:auto;margin-right:auto;width:1160px;border:1px solid #d8d8d8;padding:20px;background:#fff;}
.login_main .login_left{float:left;width:750px;padding:20px 60px;border-right:1px solid #d8d8d8;}
.login_main .login_right{float:right;width:230px;}
.login_main .title{height:45px;line-height:45px;font-size:18px;border-bottom:1px solid #ccc;}
.logintable{font-size:14px;}
.logintable th{width:90px;padding:10px 5px;text-align:right;}
.logintable td{padding:10px 5px;}
.logintable td .inp01{width:200px;height:30px;border:1px solid #e9e9e9}
.logintable td .inp02{width:100px;height:30px;border:1px solid #e9e9e9}
.logintable .login_but{width:100px;font-size:16px;font-family:"微软雅黑";font-weight:bold;padding:8px 0;text-align:center;color:#fff;background:#fd6f01;border:none;}


/*注册*/
.register_but{display:block;width:100px;font-size:16px;font-family:"微软雅黑";font-weight:bold;padding:8px 0;text-align:center;color:#fff;background:#fd6f01;border:none;}
a.register_but:hover{color:#fff;}


/*会员中心*/
.userhead{height:45px;background:#00A1E7;}
.userhead .usertop{margin-left:auto;margin-right:auto;width:1200px;line-height:45px;color:#fff;}
.userhead .usertop .usertop_left{float:left;width:200px;font-size:18px;}
.userhead .usertop .usertop_right{float:right;width:500px;text-align:right;font-weight:bold;}
.userhead a,.userhead a:hover{color:#fff;}


.usermain{margin-left:auto;margin-right:auto;width:1200px;}

/*左侧菜单*/
.userleft{float:left;width:160px;border:1px solid #e9e9e9;background:#fff;padding:10px;}
.userleft .usermenu{background:url(../img/userleft_bg.gif) repeat-x;}
.userleft .usermenu h3{height:30px;line-height:30px;font-weight:bold;font-size:14px;padding-left:23px;border-bottom:1px dotted #eee;background:url(../img/common_sprite.gif) no-repeat 10px -435px;}
.userleft .usermenu ul{padding:0;}
.userleft .usermenu ul li{height:30px;line-height:30px;padding-left:33px;background:url(../img/dot.gif) no-repeat 0 11px;border-bottom:1px dotted #eee;background:url(../img/common_sprite.gif) no-repeat 23px -467px;}

/*左侧统计*/
.leftcounts{padding:10px 0;border-bottom:1px solid #e8e8e8;text-align:center;}
.leftcounts_left{float:left;width:80px;border-right:1px solid #e8e8e8;}
.leftcounts_right{float:right;width:79px;}
.leftcounts p{height:20px;line-height:20px;}

/*右侧*/
.userright{float:right;width:1005px;border:1px solid #e9e9e9;background:url(../img/userright_bg.gif) repeat-y;height:auto !important;background:#fff;}

/*按钮*/
.userrightmenu{border:1px solid #eee;padding:10px;border-bottom:none;}
.userrightmenu a{background:#00A1E7;padding:3px 10px;color:#fff;font-weight:bold;}
.acmenu,.acmenu a{color:#666;}
.acmenu a:hover{color:#ff6600;}

.usernav{font-size:14px;font-weight:bold;height:35px;line-height:35px;border-bottom:1px solid #e9e9e9;padding:0 15px;background:#f9f9f9;}

.userright .box{padding:20px;}

.welcome{width:420px;background:#fff;}
.welcome .box{padding:0px;}
.welcomeleft{float:left;width:98px;}
.welcomeleft .logo{width:90px;height:90px;border:1px solid #eee;padding:3px;}
.welcomeleft p{width:136px;height:30px;line-height:30px;border:1px solid #e1e1e1;;border-top:none;background:url(../img/usercount.gif) repeat-x;text-align:center;}
.welcomeright{width:300px;line-height:30px;}
.usercarcount li{float:left;width:280px;height:31px;line-height:30px;padding-left:10px;}

.news{width:280px;}
.listtable{font-size:12px;}
.listtable th{padding:3px;height:25px;line-height:25px;text-align:center;border-bottom:1px solid #eee;background:#f5f5f5;}
.listtable td{padding:3px;height:25px;line-height:25px;border-bottom:1px solid #eee;}

.maintable{font-size:12px;}
.maintable th{width:100px;padding:5px;}
.maintable td{padding:5px;}
.maintable .logo{width:130px;height:110px;border:1px solid #eee;padding:3px;}
.maintable .inp01{border:1px solid #d8d8d8;height:35px;line-height:35px;}
.maintable .textarea01{font-size:12px;border:1px solid #d8d8d8;}
.buttons {clear:both;text-align:center;}
.buttons input{display:block;width:100px;font-size:16px;font-family:"微软雅黑";font-weight:bold;padding:8px 0;text-align:center;color:#fff;background:#fd6f01;border:none;}

.uploadbut02{width:80px;height:25px;font-size:14px;font-weight:bold;text-align:center;color:#fff;background:#fd6f01;border:none;font-family:"微软雅黑";}

/*搜索*/
.userrightsearch{border:1px solid #eee;padding:10px;border-bottom:none;}
.userrightsearch .keyword{border:1px solid #eee;padding:5px;}
.userrightsearch .but01{background:#00A1E7;color:#fff;border:none;padding:5px 15px;font-family:"微软雅黑";}


/*账户信息*/
.userinfo{padding:10px 0;border-bottom:1px solid #e8e8e8;}
.userinfo .userinfo_left{float:left;width:50px;}
.userinfo .userinfo_left img{width:50px;height:50px;}
.userinfo .userinfo_right{float:right;width:100px;}
#user_menu{background:url(../img/citydot.gif) no-repeat 55px 6px;cursor:pointer;position:relative;}
.userinfomenu{border:1px solid #ccc;background:#fff;padding:3px;width:55px;text-align:center;position:absolute;top:16px;left:0;}
.userinfomenu li{height:25px;line-height:25px;}

/*推荐车源*/
.comcar{border:1px solid #d8d8d8;background:#fff;padding:15px 20px;}
.comcar h3{font-size:14px;height:30px;}
.comcar ul li{float:left;padding:10px;}
.comcar ul li img{width:130px;height:110px;border:1px solid #eee;padding:5px;}
.comcar ul li p{height:20px;line-height:20px;text-align:center}

.maintable{width:100%;background:#fff;}
.maintable th,.maintable td{padding:5px 10px;font-size:12px;}
.maintable th{width:120px;text-align:right;color:#666;}
.listtable textarea,.maintable input[type=text],.maintable textarea{border: 1px solid #D0D0D0;font-family: Verdana,Geneva,sans-serif,"宋体";font-size: 12px;margin: 0 5px 0 0;padding:4px;}
select{padding:2px;border:1px solid #ccc;}

/*通用*/
.commonbox{border:1px solid #dfdfdf;background:#fff;}
.commonbox .title_tab{position:relative;}
.commonbox .title_tab li{float:left;width:139px;height:35px;line-height:35px;text-align:center;border-bottom:1px solid #ccc;background:#f9f9f9;font-weight:bold;font-size:14px;cursor:pointer;}
.commonbox .title_tab li.selected{width:139px;border:none;background:#fff;}
.commonbox .title_tab .line{position:absolute;top:0;left:113px;width:1px;height:36px;background:url(../img/line.gif) no-repeat 0 0;}
.commonbox h3{height:40px;line-height:40px;font-size:14px;color:#005596;font-weight:bold;background:url(../img/common_h3.gif) repeat-x;padding-left:10px;}
.commonbox .box{padding:10px;}

.newslist li{height:20px;line-height:20px;background:url(../img/news_dot.gif) no-repeat 0 10px;padding-left:10px;}
.newslist li a{color:#0066cc}


/*选择注册*/
.selreg{ margin-left:40px; margin-top:30px; font-size:15px}

/*无图*/
.noimg{margin-left:auto;margin-right:auto;width:80px;height:60px;background:#f9f9f9;border:1px solid #eee;line-height:60px;text-align:center;color:#999;}

/*注册*/
.reg_tab{width:350px;margin-top:20px;height:35px;line-height:35px;border-bottom:1px solid #e8e8e8;font-size:14px;}
.reg_tab li{float:left;width:100px;height:34px;text-align:center;border:1px solid #e8e8e8;border-bottom:none;background:#f5f5f5;cursor:pointer;}
.reg_tab li.here{height:34px;background:#fff;font-weight:bold;border-top:2px solid #00A1E7;}