<style>

html {
    background-color: #F1F2F7;
}
.layui-form-mid {
    float: left;
    display: block;
    padding: 0 !important;
    line-height: 40px;
    margin-right: 10px;
    width: 250px;
}

</style>

<!-- 主体部分开始 -->
<div class="layui-fluid">
    <div class="layui-card">
    	<div class="layui-card-header">合同明细</div>
        <div class="layui-card-body">
            <div class="layui-form">
		       <div class="layui-form-item layui-row">
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">合同编号：</label>
						<div class="layui-form-mid">
							{$info.contract_no}
						</div>
		           </div>
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">商家手机：</label>
						<div class="layui-form-mid">
							{$info.mobile}
						</div>
		           </div>
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">开始时间：</label>
						<div class="layui-form-mid">
							{$info.format_begin_time}
						</div>
		           </div>
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">结束时间：</label>
						<div class="layui-form-mid">
							{$info.format_end_time}
						</div>
		           </div>
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">签订类型：</label>
						<div class="layui-form-mid">
							{$info.type_name}
						</div>
		           </div>
		           <div class="layui-inline layui-col-md4">
						<label class="layui-form-label">合同状态：</label>
						<div class="layui-form-mid">
							{$info.status_name}
						</div>
		           </div>
					<div class="layui-form-item">
						<label class="layui-form-label">合同备注：</label>
						<div class="layui-form-mid" style="width:80%;">
							{$info.note}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">确认备注：</label>
						<div class="layui-form-mid" style="width:80%;">
							{$info.remark}
						</div>
					</div>
		       </div>
		   </div>
			
        </div>
    </div>
</div>
<!-- 主体部分结束 -->
