<include file="Public:header" />
<body>
    
 <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr><th colspan="3" class="space">{$title}</th></tr>
          <tr>
            <th>编号</th>
            <th>标题</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            <foreach name='list' item='list'>
          <tr>
            <td>{$list.id}</td>
            <td>{$list.title}</td>
            <td>
                <div class="btn-group">
                <a href="{:U('Home/Index/category',array('cid' =>$list['id'] ))}"><button type="button" class="btn">浏览</button></a>
                <a href="{:U('Admin/Admin/editCategory',array('id' =>$list['id']))}"><button type="button" class="btn btn-success">编辑</button></a>
                <a href="{:U('Admin/Admin/delCategoryProcess',array('id' =>$list['id']))}" onclick="if (!confirm('确定要删除吗')) {
                                    return false;
                                }"><button type="button" class="btn btn-danger">删除</button></a>
                </div>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
    {$page}
</body>