@CHARSET "UTF-8";
.wst-listse{margin-top:8px;font-size:.15rem}
.wst-list-infose1{width:96%;padding-top:10px;padding-bottom:10px;border-bottom:1px solid #ededed}
.wst-list-infose1 span{float:left;width:100%}
.wst-list-infose1 .name{color:#232228}
.wst-list-infose1 .address{color:#808080}
.wst-ad-operate{padding:10px;height:0.22rem;line-height:0.25rem;}
.wst-ad-operate .left{float:left;margin-left:22px}
.wst-ad-operate .right{float:right}
.wst-ad-operate i{float:left;width:22px;height:22px}
.j-operate{z-index:100;float:left;width:22px;height:22px;margin:-32px 0 0 9px}
.j-operate.default,.ui-form-itemin .operate .default{background:url(../img/icon_addaddresss_users.png) -11px -5px no-repeat;background-size:645%}
.j-operate.nodefault,.ui-form-itemin .operate .nodefault{background:url(../img/icon_adds_users.png) -41px -5px no-repeat;background-size:645%}
.wst-ad-form{margin-top:0.04rem;font-size:0.14rem;color:rgba(51,51,51,1);}
.ui-form-itemin{position:relative;height: 0.49rem;line-height: 0.49rem;padding:1px 10px;background:#fff;}
.ui-form-itemin .word{color: #333;font-size: .14rem;}
.ui-form-itemin input{float:right;width: 77%;height: 0.49rem;border:0;font-size: .14rem;}
.ui-form-itemin label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio){position:absolute;text-align:left;box-sizing:border-box}
.ui-form-itemin .address{float:right;width: 77%;height: 0.49rem;line-height: 0.49rem;font-size: .14rem;}
.ui-form-itemin .ui-select-group{margin-top:5px}
.wst-selectin{float:left;position:relative;width:72%}
.wst-address_set{width:100%;height:40px;position:fixed;z-index:100;left:0;bottom:0}
.wst-ad-line{padding:0 10px}
.wst-ad-line p{border-bottom:1px solid #edebeb}
.wst-ad-submit{margin-top:20px}
.wst-ad-submit .button{margin:0 auto;width:93%;font-size:.15rem;height:40px;line-height:40px;color:#fff;background:#e00102;}
.wst-ad-operate{font-size: .14rem;color: #333;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;left:0;bottom:-285px;width:100%;min-height:50%;background:#fff;font-size:.15rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;font-weight: bold;}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{padding:10px 10px 20px 10px}
.wst-fr-box .option{float:left;width:100%;border-bottom:1px solid #edebeb}
.wst-fr-box .option p{float:left;width:50px;height:26px;line-height:26px;padding:0 5px;text-align:center}
.wst-fr-box .option .active{border-bottom:1px solid #de0301}
.wst-fr-box .list{padding-top:5px;font-size:0.14rem;}
.wst-fr-box .list.hide{display:none}
.wst-fr-box .list p{padding:5px 0}
.wst-fr-box .list .active{color:#de0301}
.wst-ad-footer{position: fixed;z-index: 100;bottom:0.15rem;left: 0;width: 100%;height: 44px;}
.wst-ad-footer .button{display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.wst-ad-footer .button:not(.disabled):not(:disabled):active,.wst-ad-footer .button.active{background:#DB3735;}
.edit {background: url(../img/bianji.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;float: left;margin-right: 0.08rem;}
.delete {float: left;background: url(../img/shanchu.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;margin-right: 0.08rem;margin-left: 0.14rem;}
.list-i {width: 0.13rem;height: 0.13rem}
.wst-ad-footer .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip: padding-box;}
.js-address2{display:none;}
#address{padding-bottom:0.55rem;margin-top: 0.47rem;}
.data-box {margin-top: 0.4rem;}
.data-item {font-size:0.14rem;margin-bottom: 0.1rem;background: #FFFFFF;float: left;width: 100%;padding: 0 0.1rem;box-sizing: border-box;}
.data-item-bottom{margin:0.14rem 0;}
.item-title {font-size:0.14rem;font-weight:400;color:#333333;margin-bottom: 0.11rem;margin-top: 0.15rem;}
.item-address {font-size:0.12rem;font-weight:400;color:rgba(102,102,102,1);line-height:0.18rem;padding-bottom: 0.09rem;padding-top: 0.02rem;border-bottom: 0.01rem solid #F2F2F2;}
.em {background: url(../img/bianji.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;}
.edit {background: url(../img/bianji.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;}
.delete {background: url(../img/shanchu.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem; }
.default-img {background: url(../img/moren.png);background-repeat:no-repeat;background-size: 0.36rem 0.16rem;display: inline-block;width: 0.36rem;height: 0.16rem;vertical-align: sub;}
.list-i {width: 0.13rem;height: 0.13rem;margin-top: 0.03rem;}
.left-address {float: left;}
.right-edit {float: right;}
.right-del {float: right;margin-right: 10px;}
.wst-active {color:#F04038!important;}
