@CHARSET "UTF-8";
body{font-size:.15rem;background:#fff;}
.news-time{margin-top:10px;text-align:left;padding-right: 10px;color:#B3B3B3;font-size:0.12rem;}
.news-content-box{background:#fff;padding: 10px 0 35px 0;}
.news-content{max-height:100px}
.news-title{overflow:hidden;font-weight: bold;padding: 10px;font-size: 0.18rem;padding-bottom: 0px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;height: 0.6rem;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.content{overflow-y:scroll;background:#fff;height:100%;padding:0.13rem 0.05rem;}
.title{background:#fff}
.view-content{background:#fff;margin-top:0.2rem;font-size: 0.15rem;margin-bottom:0.38rem;}
.wst-info{padding: 0.04rem;color: #333333;padding-left: 0.06rem;height: 0.5rem;margin-bottom: 0.25rem;}
.wst-max-info{padding:0.04rem;padding-top: 0rem;color: #051B28;padding-left: 0.06rem;color:#333333;}
.wst-mix-info{padding-left: 0.06rem;padding-right: 0.06rem;color: #999;font-size: 10px;}
.max-remind{height: 16px;}
.max-img{position: relative;padding-top: 40%; background-size: 30%;overflow: hidden;margin-bottom: 8px;}
.max-img a img{position: absolute;width: 100%;top: 50%;left: 50%;    transform: translate(-50%, -50%);}
.wst-model{background-color: #fff;padding: 0.13rem 0.12rem;border-bottom: 0.01rem solid #f1f1f1;}
.wst-model .date{line-height: 0.2rem;color: #B3B3B3;font-size: 0.12rem;}
.wst-model .visit{ border: 0.01rem solid #EA4341; border-radius: 0.075rem; margin-left: 0.1rem; line-height: 0.16rem; height: 0.15rem; color: #EA4341; min-width: 0.69rem; font-size: 0.11rem; text-align: center; }
.no-data-box{text-align:center;color:#CCCCCC;font-size: 0.18rem}
.no-data{background:url(../img/no_data.png) no-repeat center center;width: 1.51rem;height: 1.39rem;margin: 0px auto;margin-top: 25%;background-size: 85%;}
.no-data-txt{margin-top:0.1rem;font-size:0.16rem;}
.wst-mix-cont{font-size: 0.12rem;color: #999;padding-top: 10px;}
.view-content img{width: 100%;}
.wst-like{padding-bottom: 50px;position: relative;}
.icon-like1{background: url(../img/icon_like1.png) 5px no-repeat;background-size: 20px 20px;border-radius: 0.17rem; position: absolute;top: 0;left: 0;width: auto;height: 0.34rem;margin-left: 40%;margin-bottom: 20px; border: 1px solid #E3E3E3;}
.icon-like2{background: url(../img/icon_like2.png) 5px no-repeat;background-size: 20px 20px;border-radius: 0.17rem; position: absolute;top: 0;left: 0;width: auto;height: 0.34rem;margin-left: 40%;margin-bottom: 20px; border: 1px solid #EA4341;}
.icon-like1 .like_num{display: inline-block;padding: 5px;padding-left: 32px;padding-top: 6px; color: #E3E3E3;}
.icon-like2 .like_num{display: inline-block;padding: 5px;padding-left: 32px;padding-top: 6px; color: #EA4341;}
.wst-bor-mix-img{padding: 0.01rem;padding-bottom: 0;}
.wst-headero ~ .ui-container{border-top:72px solid transparent}
.ui-tab{position:fixed;width:100%;z-index:100;left:0;top:41px;border-bottom:1px solid #f1f1f1;}
.order-tab{width:100%;height:0.44rem;line-height:0.44rem;padding:0;background:#fff;overflow-x:scroll}
.order-tab::-webkit-scrollbar{width:1px;height:1px;background-color:#fff}
.order-tab::-webkit-scrollbar-thumb{background-color:#fff}
.wst-headero ~ .ui-container{border-top:72px solid transparent}
.item-head{font-size: .15rem;padding:10px 0;border-bottom:1px solid #f2f1f1}
.item-head p{padding-left:20px;position: relative;}
.item-head .shopicon{position: absolute;display: block;top: 2px;left: 0;width: 19px;height: 19px;background: url(../img/icon_dp.png) 0px 1px no-repeat;background-size: 87%;}
.ui-tab-nav li.tab-item{font-size:.135rem;color:#666666;height:0.42rem;line-height:0.44rem;padding:0 5px;text-align:center;}
.ui-tab-nav li.tab-curr{color: #333333;height: 0.40rem;font-weight: bold;}
.ui-tab-nav li.tab-curr::after{content:" ";position: absolute;bottom: 0;left: 0.24rem;display: inline-block;width: 0.24rem;height:0.03rem;border-radius: 0.01rem;background: #EA4341;}
.ui-header ~ .ui-container{border-top: 25px solid transparent;}
