@CHARSET "UTF-8";
#info-list{padding: 0.19rem 0 0 0;margin-top: 13px;}
.wst-brands{float:left;box-sizing:border-box;width: 25%;margin-bottom: 0.26rem;}
.wst-brands_img{width:0.65rem;margin: 0px auto;}
.wst-brands_img a{text-align:center;display:table-cell;vertical-align:middle;}
.wst-brands img{width:0.45rem;height:0.45rem;border-radius: 50%;border:1px solid #f1f1f1;}
.wst-brands span{float:left;font-size:0.14rem;color:#333;display:inline-block;margin-top:0.1rem;width:100%;}
.ui-tab{position:fixed;width:100%;z-index:100;left:0;top:41px;border-bottom:1px solid #f2f2f2;}
.brands-tab{width:100%;height:0.44rem;line-height:0.44rem;padding:0;background:#fff;overflow-x:scroll;margin-bottom: -1px;}
.brands-tab::-webkit-scrollbar{width:1px;height:1px;background-color:#fff}
.brands-tab::-webkit-scrollbar-thumb{background-color:#fff}
.brands-tab li.tab-item{font-size:.14rem;height:0.44rem;line-height:0.44rem;min-width:0.7rem;padding:0 0.12rem;text-align:center;color:#666;}
.brands-tab li.active{color:#333;font-weight: 600;font-size:0.14rem;}
.brands-tab li.active::after{content:" ";position: absolute;bottom: 0px;left: 0.28rem;display: inline-block;width: 0.24rem;height:0.03rem;border-radius: 0.02rem;background: #EA4341;}