@CHARSET "UTF-8";
.wst-active{color:#EA4341;}
.wst-ca-layout{display:block;overflow:hidden}
.wst-ca-10{float:left;width:10%;box-sizing:border-box}
.wst-ca-90{float:left;width:90%;box-sizing:border-box}
.wst-ca-24{float:left;width:24%;box-sizing:border-box}
.wst-ca-76{float:left;width:75%;box-sizing:border-box}
.wst-ca-50{float:left;width:50%;box-sizing:border-box}
.wst-ca-s{background:#fff;padding:10px 0;margin-top:10px;font-size:.15rem;}
.wst-ca-s .shop{height:26px;line-height:26px;padding-bottom:3px;border-bottom:1px solid #edebeb}
.wst-ca-s .goods{padding:0.1rem 0;border-bottom:1px solid #f1f1f1}
.wst-ca-s .nogoods{border:1px solid #de0301;background:#f8eeee}
.wst-ca-s .nogoods .noprompt{position:absolute;left:0;top:0;color:#fff;font-size:.15rem;background:#e00102}
.wst-ca-s .shopr{height:26px;line-height:26px}
.wst-ca-s .shopr p{float:left;font-size: 0.12rem;color: #666;}
.wst-ca-s .shopr .shopicon{float:left;width: 0.16rem;height: 0.14rem;position: relative;background: url(../img/icon_dp.png) 0px 0px no-repeat;background-size: cover;margin-right:0.07rem;margin-top: 0.05rem;}
.wst-ca-s .shopl,.wst-ca-s .shopr,.wst-ca-s .goodsl,.wst-ca-se .totall,.wst-ca-s .nogoods{position:relative}
.wst-ca-s .shopl i{position:absolute;left:-2px;top:-9px;margin-left:0.05rem;}
.wst-ca-s .info{padding-left:5px}
.wst-ca-s .goodsl i{position:absolute;left:-2px;top:50%;margin-left:0.05rem;}
.wst-ca-s .goodsr .img{float:left;width:100%;height:0.9rem;text-align:center;vertical-align:middle;display:block;}
.wst-ca-s .goodsr .img a{width:100%;display:table-cell;vertical-align:middle;}
.wst-ca-s .goodsr .img a img{max-width:0.9rem;max-height:0.9rem;}
.wst-ca-s .info .name{float:left;margin: 0 0.1rem;font-size: 0.12rem;font-weight: 600;}
.wst-ca-s .info .price{float:right;text-align:right;font-size:.14rem;margin:0 0.1rem;color:#ED423F;font-weight: 600;}
.wst-ca-s .info .spec{float:left;color:#666;font-size:0.1rem;margin:0.1rem 0.1rem 0 0.1rem;background:#f2f2f2;border-radius:0.08rem;padding:0.025rem 0.1rem;}
.wst-buy-minus{display:inline-block;width:0.1rem;height:0.02rem;background: url(../img/cart-minus.png) center center no-repeat;background-size: 100%;margin-right:0.1rem;}
.wst-buy-add{display:inline-block;width:0.1rem;height:0.1rem;background: url(../img/cart-add.png) center center no-repeat;background-size: 100%;margin:0 0.1rem;}
.wst-buy_l{float:right;width:100%;margin-top: 0.1rem;text-align:right;}
.wst-buy_l1,.wst-buy_l3{width:30px;height:28px;background:#FFF;border:0;border:1px solid #ddd}
.wst-buy_l1{border-right:1px solid #fff;}
.wst-buy_l3{border-left:1px solid #fff;}
.wst-buy_l1{border-top-left-radius:3px;border-bottom-left-radius:3px}
.wst-buy_l3{border-top-right-radius:3px;border-bottom-right-radius:3px}
.wst-buy_l2{width:0.53rem;height:0.21rem;border-radius:0.1rem;text-align:center;color:#333;background: #F2F2F2;border:1px solid #f2f2f2;}
.wst-buy_l1:focus,.wst-buy_l3:focus{color:#333}
.wst-buy_l2:focus{width:0.53rem;height:0.21rem;border-radius:0.1rem;}
.wst-ca-s .bottom{height:23px;line-height:23px;margin-top:0.13rem;margin-right:0.1rem;}
.wst-ca-s .bottom .tips{color:#999;font-size: 0.12rem;}
.wst-ca-s .bottom .price{color:#EA4341;text-align:right;font-size: 0.12rem;font-weight: bold;}
.wst-ca-s .bottom .price span{font-size:0.13rem;}
.wst-ca-se{padding:0 5px;font-size:.14rem;height:0.49rem;line-height:0.49rem;color:#333;}
.wst-ca-se .totall i{position:absolute;left:-2px;top:-2px;margin-top:0.05rem;}
.wst-ca-se .totalr span{color:#333;font-size:0.14rem;}
.wst-ca-se .total{float:right;margin-right:6px}
.wst-ca-se .total .price{color:#EA4341;font-size: 0.16rem;font-weight: bold;}
.wst-ca-se .totalr .price span{color:#EA4341;font-size:.16rem;}
.wst-ca-se .totalr .button{float:right;width:31%;height:33px;color:#fff;font-size:.12rem;background:#EA4341;border-radius:0.17rem;margin:0.08rem 0.1rem;}
.wst-ca-se .totalr .del-fav{float:right;width:31%;height:33px;color:#666;font-size:.12rem;background:#fff;border-radius:0.17rem;border:1px solid #E6E6E6;margin:0.08rem 0;}
.wst-ca-se .totalr .del-button{float:right;width:31%;height:33px;color:#666;font-size:.12rem;background:#fff;border-radius:0.17rem;border:1px solid #E6E6E6;margin:0.08rem 0.1rem;}
.wst-ca-se .totalr .button:not(.disabled):not(:disabled):active,.wst-ca-se .totalr .button.active{background:#DB3735;background-clip:padding-box}
.wst-ca-se .totalr .del-button:not(.disabled):not(:disabled):active,.wst-ca-se .totalr .del-button.active{background:#f3f2f0;background-clip:padding-box}
.wst-header .edit{right: 33px;}
.wst-ca-layer{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-Index: 9999;display: none;}
.wst-ca-more{ position: absolute;top: 45%;right: 0.1rem;width:0.18rem;height:0.04rem;background: url(../img/cart-more.png) center center no-repeat;background-size: 100%;}
.wst-go-more{position: fixed;top: 29px;right: 1px;z-Index: 10000;width: 32%;}
.wst-go-more .arrow{position: absolute;top:-6px;right:7px;display: block;width: 0;height: 0;line-height: 0;border-width: 0.11rem;border-color: transparent transparent rgba(85,85,85,0.95) transparent;border-style: dashed dashed solid dashed;}
.wst-go-more .more{margin-top:13px;border-radius: 3px;background: rgba(85,85,85,0.95);}
.wst-go-more .more .column{width: 80px;display: block;margin: 0 auto;height: 23px;line-height: 23px;padding:10px 0px;}
.wst-go-more .more .line{border-bottom: 1px solid #f2f2f2;}
.wst-go-more .more i{float: left;width: 0.18rem;height: 0.18rem;margin:0 2px;position: relative;}
.wst-go-more .home{background: url(../img/footer-home2.png) center center no-repeat;background-size: 100%;}
.wst-go-more .category{background: url(../img/footer-classify2.png) center center no-repeat;background-size: 100%;}
.wst-go-more .follow{background: url(../img/footer-follow2.png) center center no-repeat;background-size: 100%;}
.wst-go-more .user{background: url(../img/footer-user2.png) center center no-repeat;background-size: 100%;}
.wst-go-more .more p{float: left;width: 55px;color: #fff;font-size:0.13rem;}
.wst-go-more .more li:active{padding-left:2px;background: #252525;}
.wst-ca-arrow{width:0.06rem;height:0.1rem;background: url(../img/cart-arrow.png) center center no-repeat;background-size: 100%;margin-left:0.05rem;display: inline-block;}
.wst-prompt-info button { margin-top: 0.1rem; font-size: 0.15rem; color: #fff; width: 1.5rem; height: 0.35rem; border: 1px solid #EA4341; background: #EA4341; border-radius: 20px;}
.wst-prompt-info button:not(.disabled):not(:disabled):active,.wst-prompt-info button.active{background:#DB3735;color:#fff;}
