@CHARSET "UTF-8";
body{font-size: 0.15rem;}
#score-list{padding-bottom:0.35rem;}
.score-line{border-bottom:1px solid #eaeaea;margin-bottom: 5px;margin-top: 5px;}
.score-time{color:#8c8c8c;font-size: 0.13rem;}
.score-detail{background: #fff;padding:5px;}
.score-detail-title{padding: 5px;padding-left:0px;font-size: 0.18rem;}
.score-text{padding:15px 0;text-align: right;color:#de0202;}

.item-up{font-size:0.15rem;font-weight:400;color:rgba(25,25,25,1);line-height:0.2rem;}
.item-time{font-size:0.11rem;font-weight:400;color:rgba(191,191,191,1);line-height:0.1rem;}
.item-detail{font-size:0.12rem;font-weight:400;color:rgba(179,179,179,1);line-height:0.1rem;}
.item-left{float: left}
.item-right{float: right}
.item-box{background: #FFFFFF;border-bottom: 0.02rem solid #F5F5F5;height: 0.64rem;padding-left: 0.13rem;padding-right: 0.13rem}