@CHARSET 'UTF-8';
body{background:#f2f2f2;font-size:.15rem}
.ui-icon-return ~ h1{z-index:-1;position:relative}
.add{position:absolute;right:0;top:0;display:block;color:black;padding-right:10px}
.ui-row{border:1px solid #e2e2e2;border-radius:5px;margin:0.1rem 0.14rem;overflow: hidden;}
.ui-row .bg1{background:url(../img/cashdraw_bg1.png) no-repeat;background-size:100%;height:1.85rem;max-height: 1.85rem}
.ui-row .bg2{background:url(../img/cashdraw_bg2.png) no-repeat;background-size:100%;height:1.85rem;max-height: 1.85rem;}
.bank-content{height:125px;max-height: 145px;position: relative;}
.bank-info{height:100%;padding-bottom:50px;}
.bank-no-img{margin:10px;}
.bank-img img{width:0.5rem;background: #fff;margin:10px;border-radius: 50%;border:4px solid #fff;}
.wst-ca-accno{color: #fff;font-size:.17rem;font-weight: 700;letter-spacing:2px;margin-right:0.1rem;}
.wst-ca-info{color: #fff;font-size:.16rem;}
.wst-ca-user{color: #fff;font-size:.13rem;}
.delete-btn{position: absolute;bottom:0;right:10px;}
.c-tr{float: right;line-height:30px;color:#fff;}
.delete-icon{width:25px;height:30px;display:block;float:left;background:url(../img/icon_adds_users.png) no-repeat;background-position:-86px 0;background-size:cover;}
.wst-ad-form{margin-top:8px}
.wst-ca-choice{float: right;width: 75%;padding: 2px 2px 2px 0px;margin-top: 4px;height: 36px;border-radius: 2px;font-size:.15rem;border: 0;background:#fff;}
.ui-form-itemin{position:relative;font-size:16px;height:44px;line-height:44px;padding:1px 10px;font-size:.18rem;background:#fff}
.ui-form-itemin .word{color:#232228;font-size:.15rem}
.ui-form-itemin input{float:right;width:75%;height:35px;border:0;margin-top:4px;font-size:.15rem;}
.ui-form-itemin label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio){position:absolute;text-align:left;box-sizing:border-box}
.ui-form-itemin .address{float:right;width:75%;height:35px;line-height:35px;margin-top:4px;font-size:.15rem;}
.ui-form-itemin .ui-select-group{margin-top:5px}
.wst-selectin{float:left;position:relative;width:72%}
.wst-address_set{width:100%;height:40px;position:fixed;z-index:100;left:0;bottom:0}
.wst-ad-line{padding:0 10px}
.wst-ad-line p{border-bottom:1px solid #edebeb}
.wst-ad-submit{margin-top:20px}
.wst-ad-submit .button{margin:0 auto;width:93%;font-size:.185rem;height:40px;line-height:40px;color:#fff;background:#e00102;border-bottom:1px solid #e00102}
.wst-ad-submit .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.ui-form-itemin .operate{font-size:.158rem}
.ui-form-itemin .operate i{float:left;width:22px;height:22px;margin-top:10px;margin-right:2px}
.ui-form-itemin .operate span{margin-left:5px}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;left:0;bottom:-285px;width:100%;min-height:50%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;font-weight: bold;}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size: 15px;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{padding:10px 10px 20px 10px}
.wst-fr-box .option{float:left;width:100%;border-bottom:1px solid #edebeb}
.wst-fr-box .option p{float:left;width:50px;height:26px;line-height:26px;padding:0 5px;text-align:center}
.wst-fr-box .option .active{border-bottom:1px solid #de0301}
.wst-fr-box .list{padding-top:5px}
.wst-fr-box .list.hide{display:none}
.wst-fr-box .list p{padding:5px 0}
.wst-fr-box .list .active{color:#de0301}
.js-account2{display:none;}


.bank-box{padding:0.25rem 0.15rem 0 0.15rem;width: 90%;color: #FFFFFF}
.bank-img{width:0.38rem;height:0.38rem;background:rgba(255,255,255,1);border-radius:50%;float: left}
.bank-img-logo {width: 0.27rem;height: 0.27rem;position:relative;top:0.06rem;left:0.055rem;display: inline-block}
.bank-del{background: url(../img/del.png);color:#FFFFFF;background-repeat:no-repeat;background-size: 0.17rem 0.17rem;float: left;width: 0.17rem;height: 0.17rem}
.bank-name{float: left;margin-left: 0.15rem;font-weight:500;color:rgba(255,255,255,1);}
.bank-n{font-size:0.12rem;font-weight:400;color:rgba(255,255,255,1);}
.bank-no{padding:0.2rem 0.15rem;font-size:0.23rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.25rem;}


/*弹框*/
.wst-cancel-box{position:fixed;z-index:9999;left:0;bottom:-5.32rem;width:100%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-cancel-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;}
.wst-cancel-box .desc{color:#ccc;font-size:0.14rem;padding-left:0.13rem;}
.wst-cancel-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-cancel-box .item .name{color:#333;font-size:0.15rem;}
.wst-cancel-box .content{height:2.32rem;overflow-y: scroll;}

/*下弹框*/
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}

/*非浮动按钮bottom-btn-box*/
.bottom-one-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-one-btn-box .wst-dialog-b2{background:#ED413B;border-radius: 0.2rem;width:100%;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}


.data-item {height: 0.58rem;line-height: 0.58rem;text-align: left;font-size: 0.15rem;font-weight:400;color:rgba(51,51,51,1);padding:0rem 0.22rem;background: #FFFFFF;border-bottom: 0.01rem solid #F5F5F5;}
.data-title {color: #333333}
.data-textarea {width: 98%;height: 1.3rem;border: none;background: #F4F4F4;padding: 0.1rem 0.11rem;border-radius:0.04rem;}
.button {display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #EA4341;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.14rem;}
.button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;background-clip:padding-box}
.list-i {float: right;width: 0.07rem;height: 0.13rem}
.edit {background: url(../img/fanhui.png);background-repeat:no-repeat;background-size: 0.07rem 0.13rem;margin-top: 0.22rem;}
.data-input{width: 2.6rem;text-align:right;border:none;margin-left: 0.05rem}
.wst-ad-footer{position: fixed;z-index: 100;bottom:0.15rem;left: 0;width: 100%;height: 44px;}
.wst-ad-footer .button{display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.wst-ad-footer .button:not(.disabled):not(:disabled):active,.wst-ad-footer .button.active{background:#DB3735;}