@CHARSET "UTF-8";
body{color:#232326;background-color:#f6f6f8}
a{color:#232326;}
button:before{border:none !important;}
.wst-header,.wst-in-header{border-bottom:1px solid #f1f1f1;background:#fff;height:0.47rem;line-height:0.47rem}
.wst-header h1{font-size: 0.18rem;color: #222;}
.wst-header .ui-icon-return{left: 5px;font-size: 22px;height:41px;line-height:41px;}
.wst-border-bs{font-size:.16rem;border-bottom:1px solid #e6e6e6}
.wst-header .edit{position:absolute;top:0;right:8px;color:#59595c;min-width:32px;height:41px;line-height:41px;font-size:13px}
.wst-header .edit:active{color:#827f7f}
.wst-se-header2{height: 0.47rem;line-height:0.47rem;background: #fff;border-bottom: 1px solid #e5e5e5;}
.wst-se-header2 .ui-icon-return {top: 2px;left: 8px;color: #292F3A;font-size: 22px;line-height: 36px;}
.wst-se-header2 .btn{position: absolute;;top: 2px;right: 0.1rem;color: #333;font-size: 0.13rem;line-height: 36px;}
.wst-se-search{display: block;width: 80%;height: 31px;line-height:31px;padding: 0.07rem 0;margin: auto;position: relative;}
.wst-se-search i{position: absolute;top: 0px;left: 5px;color: #999;}
.wst-se-search input{margin-top:1px;padding: 0px 0 0 0.42rem;width: 100%;box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border-radius: 15px;background: #f5f5f5;color: #999;font-size: 0.13rem;line-height: 28px;letter-spacing: 1px;border: none;}
.wst-icon-search{width:0.15rem;height:0.15rem;background: url(../img/icon-search.png) center center no-repeat;background-size: 100%;margin:0.15rem 0.12rem;}
.wst-se-icon{position: absolute;top: 0.1rem;right: 8px;width: 0.22rem;height: 0.22rem;display: block;background: url(../img/classify2.png) center center no-repeat;background-size: 60%;}
.wst-co-search{position: fixed;top:0;left:0;width: 100%;height:100%;background:#fff;z-index:1000;display:none;}
.wst-co-search .wst-se-header2{z-index: 1000;}
.wst-co-search .list{border-top: 42px solid transparent;padding:0.12rem 0 0 0.12rem;}
.wst-co-search .list .search{font-size:0.13rem;color:#333;font-weight: 600;}
.wst-co-search .list .search i{float:left;width: 0.15rem;height: 0.17rem;background: url(../img/hot.png) center center no-repeat;background-size: 100%;margin-right:0.05rem;}
.wst-co-search .list .term{margin-top:0.05rem;}
.wst-co-search .list .term a{float:left;margin:0.1rem 0.1rem 0 0;padding:0 0.12rem;font-size:0.12rem;border-radius: 0.13rem;color: #333;background-color: #f6f6f6;height:0.25rem;line-height: 0.25rem;}
.wst-co-search .classify{border-top: 41px solid transparent;font-size:0.13rem;height: calc((100% - 41px));height: -webkit-calc((100% - 41px));height: -moz-calc((100% - 41px));height: -ms-calc((100% - 41px));height: -o-calc((100% - 41px));overflow-y: scroll;}
.wst-co-search .classify li h4{font-size:0.13rem;}
.wst-co-search .classify .ui-list-link > li:after,.wst-co-search .classify li .ui-txt-info{color: #232326;}
.wst-co-search .classify .shops{margin:0.08rem 0 0.1rem 0;}
.wst-co-search .classify .shops2 li{border-bottom: 1px solid #f6f6f8;}
.wst-footer-btns{border:0;background:#FFF}
.wst-hide{display: none;}
.wst-menus{padding-top:2px}
.wst-menus .carsNum{position:relative}
.wst-menus .carsNum i{display:inline-block;text-align:center;background:#de0202;color:#fff;height:16px;line-height:16px;-webkit-border-radius:10px;padding:0 6px;background-clip:padding-box;font-size:.1rem;position:absolute;top:0;left:36px}
.wst-menus p{width:55px;height:42px;margin:0 auto}
.wst-menus .icon{width:0.18rem;height:0.18rem;display:block;margin:0.03rem auto;}
.home-word,.category-word,.cart-word,.follow-word,.user-word{float:left;width:100%;text-align:center;font-size:0.12rem;color:#9EA0AA;height:16px;line-height:16px}
.home-active-word,.category-active-word,.cart-active-word,.follow-active-word,.user-active-word{float:left;width:100%;text-align:center;font-size:0.12rem;color:#EA4341;height:16px;line-height:16px}
.wst-menus .home{background: url(../img/footer-home.png) center center no-repeat;background-size: 100%;}
.wst-menus .category{background: url(../img/footer-classify.png) center center no-repeat;background-size: 100%;}
.wst-menus .cart{background: url(../img/footer-cart.png) center center no-repeat;background-size: 100%;}
.wst-menus .follow{background: url(../img/footer-follow.png) center center no-repeat;background-size: 100%;}
.wst-menus .user{background: url(../img/footer-user.png) center center no-repeat;background-size: 100%;}
.wst-menus .home-active{background: url(../img/footer-home2.png) center center no-repeat;background-size: 100%;}
.wst-menus .category-active{background: url(../img/footer-classify2.png) center center no-repeat;background-size: 100%;}
.wst-menus .cart-active{background: url(../img/footer-cart2.png) center center no-repeat;background-size: 100%;}
.wst-menus .follow-active{background: url(../img/footer-follow2.png) center center no-repeat;background-size: 100%;}
.wst-menus .user-active{background: url(../img/footer-user2.png) center center no-repeat;background-size: 100%;}
.wst-toTop{margin:0 10px 40px 0;position:fixed;z-index:100;right:0;width:0.5rem;height:0.5rem;bottom:0.15rem;display:none}
.wst-toTopimg{width:0.5rem;height:0.5rem;display:block;background:url(../img/top.png) 0 0 no-repeat;background-size:100%}
.wst-toTopimg span{float:left;width:100%;color:#b8b8b8;text-align:center;font-size:.12rem;margin-top:18px}
.wst-toHistoryimg{width:40px;height:40px;display:block;background:url(../img/history-icon.png) 0 0 no-repeat;background-size:100%}
.wst-prompt-icon{position: relative;top:1rem;margin: 0 auto;width:1.24rem;}
.wst-prompt-icon img{display: block;width:100%;}
.wst-prompt-info{position: relative;top:1.2rem;text-align: center;}
.wst-prompt-info p{font-size:0.18rem;color: #ccc;}
.wst-prompt-info button { margin-top: 0.1rem; font-size: 0.15rem; color: #fff; width: 1.5rem; height: 0.35rem; border: 1px solid #EA4341; background: #EA4341; border-radius: 20px;}
.wst-prompt-info button:not(.disabled):not(:disabled):active,.wst-prompt-info button.active{background:#DB3735;color:#fff;}
.wst-button-close{display:block;position:absolute;top:0;right:-5px;z-index:2;outline:0;height:42px;width:46px;border-radius:50%;opacity:.5;transition:transform .5s cubic-bezier(.16,.81,.32,1),opacity .5s ease;color:#000;line-height:42px}
.wst-clear{clear:both}
.wst-Load{position:fixed;z-index:10000;top:49%;left:0px;width: 100%;display:none}
.wst-Load .ui-loading{display: block;margin: 0 auto;}
.wst-prompt{width:2.08rem;height:1.18rem;position:fixed;top:0;right:10px;background:url(../img/img_fenxiangtishi.png);background-size: cover;}
.wst-shl-ads{border-bottom: 0.1rem solid #f2f1f1;}
.wst-shl-ads .title{height:0.35rem;line-height:0.35rem;font-size:0.16rem;font-weight:bold;color: #000;text-align:center;background:url(../img/img_titlebg.png) center no-repeat;background-size:28%;margin-top:0.1rem;}
.wst-active{color:#EA4341}
.upload-modal{position:fixed;left:0;top:.5rem;width:100%;height:90%;z-index:102}#upload_modal{display:none}
.clipArea{width:100%;height:100%;background-color:rgba(0,0,0,0.7)}
#errorBg{background:url(../img/sys.png) no-repeat;width: 2.09rem;height: 2.01rem;margin: 0px auto;margin-top: 25%;background-size: 100%;}
#errorBox{margin:0px auto;width:100%;text-align: center}
#errorTxt{color:#9EA3AD;font-size: 0.16rem;margin-bottom:0.2rem;margin-top: 0.1rem;}
#errorBtn{font-size:0.12rem;width:1.52rem;height:0.25rem;margin:0px auto;background:#E94442;color:#fff;border-color:#f9a517;border-radius: 0.2rem}
.wst-pay-inp{width:100%;margin-top:2px;padding:2px 2px 2px 5px;height:36px;border-radius:2px;border:1px solid #a0a0a0}
.ui-header ~ .ui-container{border-top:0.47rem solid transparent}
.ui-footer ~ .ui-container{border-bottom:45px solid transparent}
.ui-header-positive i,.ui-header-positive a{color:#59595c}
.ui-dialog-bd h4{margin-bottom:10px;text-align:center}
.ui-poptips-success,.ui-poptips-info,.ui-poptips-warn{z-index:9999}
.wst-red{color:#de0202}
.ft-title i{float:left;width:18px;height:18px;background:url(../img/icon_tishi.png) no-repeat;background-size:100%}
.ft-title span{padding-left:7px}
.ft-item{padding-left:25px;font-size:.13rem}
.wst-dialog-cnt5{width:auto;}
input[type="search"]::-webkit-search-cancel-button{display:none;-webkit-appearance:none}
.banner img {width:100%;display:block;}
.banner .swiper-pagination {left:auto;right:7px;bottom:7px;width:auto;padding:2px 7px;border-radius:10px;color:#fff;background:rgba(0,0,0,.3);}
.dropload-down {
    height: 50px;
}

.dropload-up, .dropload-down {
    position: relative;
    height: 0;
    font-size: 12px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.toolbar .picker-button {
    height: 0.45rem;
    line-height: 0.45rem;
    color: #B5B5B5;
    padding: 0 .1rem;
    font-size: 0.2rem;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    z-index: 1;
}
.wst-flex-row{display: flex;flex-direction:row;}
.wst-flex-column{display: flex;flex-direction:column;}
.wst-column{flex-direction:column;}
.wst-center{justify-content:center;align-items:center;}
.wst-fw{flex-wrap:wrap;}
.wst-jc{justify-content:center;}
.wst-jsb{justify-content:space-between;}
.wst-jsa{justify-content:space-around;}
.wst-jfs{justify-content:flex-start;}
.wst-jfe{justify-content:flex-end;}
.wst-ac{align-items:center;}
.wst-afe{align-items:flex-end;}
.wst-afs{align-items:flex-start;}

/*自定义底部导航*/
.wst-none{display: none;}
.wst-custom-menus{padding-top: 2px;}
.custom-menu-icon{width:25px;height:25px;}
.custom-menu-select-icon{width:25px;height:25px;}
.custom-menu-text{text-align: center;font-size: 0.12rem;color:#2c2c2c;}
.custom-menu-select-text{text-align: center;font-size: 0.12rem;color:#2c2c2c;}
.custom-menu-text-active{color:#df0202;}
.wst-custom-menus .carsNum{position:relative}
.wst-custom-menus .carsNum i{display:inline-block;text-align:center;background:#de0202;color:#fff;height:16px;line-height:16px;-webkit-border-radius:10px;padding:0 6px;background-clip:padding-box;font-size:.1rem;position:absolute;top:0;left:36px}

/*对话框 prompt*/
.ui-dialog .ui-dialog-cnt{width:2.75rem;height:1.77rem;padding:0;}
.ui-dialog .ui-dialog-bd{padding:0;}
.ui-dialog .dialog-content{height:1.32rem;background: #fff;border-radius:0.05rem 0.05rem 0 0;}
.ui-dialog .dialog-content .wst-dialog-t{color:#333;font-size:0.16rem;font-weight:600;margin-bottom:0.2rem;}
.ui-dialog .dialog-content .wst-dialog-c{color:#333;font-size:0.14rem;}
.ui-dialog .dialog-btn{height:0.44rem;width:100%;border-top:1px solid #f2f2f2;}
.ui-dialog .dialog-btn button{width:50%;height:0.44rem;line-height: 0.44rem;background:#fff;font-size:0.14rem;text-align: center;margin:0;}
.ui-dialog .dialog-btn .wst-dialog-b1{color:#666;border-radius:0 0 0 0.05rem;border-right:1px solid #f2f2f2;}
.ui-dialog .dialog-btn .wst-dialog-b2{color:#EA4341;border-radius:0 0 0.05rem 0;}


.bdshare-button-style0-32 a{width: 100%!important;text-indent: 45px!important;color:#333!important;}