@CHARSET "UTF-8";
body{font-size:.15rem;background:#f0f2f5}
.gcListBox{width:100%}
.gcList{width:100%}
.item-time{float:right;color:#999;}
.gcList li{background:#fff;border-bottom:1px solid #f1f1f1;padding:0.1rem 0.12rem;}
.gcList li:last-child{border:0}
.gc-item-tit{font-size:.11rem;margin:0 10px}
.question-box{padding-top:8px}
.question-pic{display:block;width:17px;height:17px;background-size:50px 50px;background-image:url(./../img/QA-icon.png);background-position:0 -15px;margin-left:10px;float:left;margin-top:1px}
.question-content{width:100%;margin-left:-27px;display:block;float:left;word-break:break-word;overflow:hidden}
.question-content span{margin-left:37px;display:block;padding-right:12px;font-size:13px;color:#333;line-height:18px;margin-top:0}
.question-content{width:100%;margin-left:-27px;display:block;float:left;word-break:break-word;overflow:hidden}
.answer-content span{color:#666}
.answer-pic{background-position:-33px -15px}
.consult-btn{width:1.5rem;height:0.35rem;line-height: 0.35rem;text-align: center;color:#fff !important;background:#EA4341;border-radius:0.2rem;border:0 !important;}
.list-i {float: right;width: 0.07rem;height: 0.13rem}
.edit {background: url(../img/fanhui.png);background-repeat:no-repeat;background-size: 0.07rem 0.13rem;margin-top: 0.15rem;}
.data-item {height: 0.44rem;line-height: 0.44rem;text-align: left;font-size: 0.14rem;font-weight:400;color:rgba(51,51,51,1);padding:0rem 0.12rem;background: #FFFFFF;margin-bottom: 0.12rem;}
.data-title {color: #333333}
.data-textarea {width: 98%;height: 1.3rem;border: none;background: #F4F4F4;padding: 0.1rem 0.11rem;border-radius:0.04rem;}
.button {display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
/*弹框*/
.wst-cancel-box{position:fixed;z-index:9999;left:0;bottom:-5.32rem;width:100%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-cancel-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;}
.wst-cancel-box .desc{color:#ccc;font-size:0.14rem;padding-left:0.13rem;}
.wst-cancel-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-cancel-box .item .name{color:#333;font-size:0.15rem;}
.wst-cancel-box .content{height:2.32rem;overflow-y: scroll;}

/*下弹框*/
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}

/*底部弹框按钮*/
.bottom-btn-box{position:absolute;bottom:0;padding:0 0.12rem;height:0.54rem;width:calc(100% - 0.24rem);background: #fff;}
.bottom-btn-box .wst-dialog-b2{background:#ED413B;border-radius: 0.2rem;width:100%;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.bottom-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-btn-box .wst-dialog-b2.active{background:#DB3735;}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}