@CHARSET "UTF-8";

.sactive{top:-43px!important;margin-right:-5px!important}
.add-cart{display:inline-block;width:23px;height:25px;right:7px;bottom:5px;position:absolute;background:url(../img/icon_gzspcart.png) no-repeat;background-size:100%}
.favorite-tc{line-height:0.49rem;text-align:left}
.shop-box{margin:10px 0;background:#fff}
.s-active{top:-90px;left:-10px}
.shopImg{width:0.6rem;height:0.6rem;float:left;text-align:center;vertical-align:middle;display:inline-block;border-radius:50%;}
.ui-checkbox-s input:before{font-size:18px;color:#ED413B}
.ui-checkbox input:before,.ui-checkbox-s input:before{top:0.2rem;left:-2px;font-size:22px!important}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#ED413B!important}
.del-btn{position:absolute;top:0.06rem;right:0.11rem}
.del-button {background: #ED413B;width: 0.9rem;height: 0.34rem;font-size:0.11rem;font-weight:500;color:rgba(255,255,255,1);line-height:0.24rem;border-radius: 0.17rem}
.del-button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;}
.big-box{height: 1.9rem;float: left;width: 100%;position:relative;background-color: #FFFFFF;margin-bottom: 0.1rem;overflow: hidden;}
.f-chk{position:absolute;top:0.85rem;left:0.2rem}
.shop-head{position: absolute;top:0.15rem;left:0.43rem;width: 100%}
.shop-title{font-size:0.14rem;font-weight:500;color:rgba(51,51,51,1);line-height:0.2rem;padding-left: 0.1rem;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.shop-describe{font-size:0.12rem;font-weight:400;color:rgba(102,102,102,1);line-height:0.25rem;margin-left: 0.1rem}
.shop-btn{color:rgba(234, 67, 65, 1);float: right;background:rgba(234,67,65,0);border:1px solid rgba(234, 67, 65, 1);border-radius:12px;font-size: 0.02rem;padding: 0.02rem 0.12rem;margin-top: 0.rem;margin-right: 0.2rem}
.shop-sort{float: left;font-size:0.12rem;font-weight:400;color:rgba(102,102,102,1);line-height:0.2rem;margin-left: 0.1rem}
.xing {float: left;width: 0.13rem;height: 0.13rem;background: url(../img/xing.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;margin-top:0.04rem;margin-left: 0.05rem }
.xing-null {float: left;width: 0.13rem;height: 0.13rem;background: url(../img/xing-null.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;margin-top:0.04rem;margin-left: 0.05rem }
.shop-goods{width: 0.8rem;height: 0.8rem;border-radius: 0.06rem}
.goods-price{position: absolute;right: 0rem;bottom: 0.2rem;font-size: 0.07rem;}
.price{padding: 0.01rem 0.05rem ;color: #FFFFFF;background:rgba(0,0,0,1);opacity:0.5;border-radius:0.06rem 0px }
.goods-box{padding:0!important;margin-bottom: 5px;width: 100%;overflow:auto;}
.goodsImg{margin-right: 0.05rem; position: relative;float:left;text-align:center;vertical-align:middle;display:block;position:relative;font-size:0.15rem;}
.goodsImg a{display:table-cell;vertical-align:middle}
.goods-item{margin-right:5px;position: relative;}
#goods-list{padding-bottom:0.55rem;}


.good-box{height:1.26rem;float: left;width: 100%;position:relative;background-color: #FFFFFF;margin-bottom: 0.1rem;overflow: hidden;}
.goods-img{position: absolute;width: 100%;float: left;}
.gimg {height: 1.05rem;width: 1.05rem;margin:0.1rem;float: left;border-radius: 0.05rem}
.good-title{font-size:0.15rem;font-weight:400;color:rgba(0,0,0,1);line-height:0.22rem;}
.good-price{font-weight:500;color:rgba(255,102,50,1);margin-top: 0.1rem}
.good-sell{color: rgba(179,179,179,1);font-size:0.12rem}
.good-buy{float: right;}
.gouwu {margin-right:0.13rem;display: inline-block;width: 0.23rem;height: 0.23rem;background: url(../img/gouwu.png);background-repeat:no-repeat;background-size: 0.23rem 0.23rem;}


.liukong{height: 0.5rem;float: left;width: 100%;position:relative;overflow: hidden;}
.swi-btn{position: absolute;right: 0.1rem;font-size: 0.15rem;}