@CHARSET "UTF-8";
.wst-se-header2{border-bottom:none;height:0.44rem;}
.wst-se-search {display: block;width: calc(100% - 0.69rem);height: 0.29rem;line-height: 0.29rem;padding: 0.07rem 0;margin: auto;position: relative;}
.ui-scrollerl{width:22%;height:496px;overflow:hidden;background:#f5f5f5;position:fixed;top:42px;left:0;}
.ui-scrollerl li{padding:0.14rem 0;font-size:0.12rem;text-align:center;background: #F5F5F5;}
.wst-goodscate{color: #333;font-weight: normal;}
.ui-scrollerl .wst-goodscate_selected{color:#333;background:#fff;font-size:0.14rem;font-weight: 600;}
.ui-scrollerl .wst-goodscate_selected::after{content:" ";position: absolute;top: 0.14rem;left: 0;display: inline-block;width: 0.03rem;height:0.18rem;border-radius: 0.02rem;background: #EA4341;}
.wst-scrollerr{width:78%;float:right;background:#fff;}
.wst-scrollerr li{padding: 5px 10px 5px 5px;font-size:0.12rem;background: #fff;}
.wst-goodsca{height:35px;background:#f2f2f2}
.wst-goodscat{float:left;width:100%;}
.wst-goodscat span{float: left;width: calc((100% - 15px)/3);width: -webkit-calc((100% - 15px)/3);width: -moz-calc((100% - 15px)/3);width: -ms-calc((100% - 15px)/3);width: -o-calc((100% - 15px)/3);height: calc((100vw - 20px)/3);height: -webkit-calc((100vw - 20px)/3);height: -moz-calc((100vw - 20px)/3);height: -ms-calc((100vw - 20px)/3);height: -o-calc((100vw - 20px)/3);padding: 5px 0px 0px 5px;text-align:center;}
.wst-goodscat span a{color: #686868;text-align:center}
.wst-goodscat span a img{width:100%;min-height:75px;margin-bottom:2;display:block;}
.wst-gc-ads{padding-bottom:5px}
.wst-gc-ads .title{font-size:0.12rem;font-weight: 600;color:#333;padding:0.15rem 0 0 0.15rem;}
.wst-ca-ads{margin:0.12rem;}
.wst-ca-ads li{padding:0;background: #fff;width:2.63rem;}
.wst-ca-ads li .swiper-wrapper{height: -webkit-calc((100vw)/2.7);margin-bottom:10px;}
.wst-ca-ads li .swiper-slide{margin-bottom:30px;width: calc(100%);width: -webkit-calc(100%);width: -moz-calc(100%);width: -ms-calc(100%);width: -o-calc(100%);height: calc(100%);height: -webkit-calc((100vw)/2.7);height: -moz-calc((100vw)/2.7);height: -ms-calc((100vw)/2.7);height: -o-calc((100vw)/2.7);}
.wst-ca-ads li .swiper-pagination{bottom: 15px;}
.swiper-pagination-bullet{width: 6px;height: 6px;background: rgba(0,0,0,.2);opacity: 1;}
.swiper-pagination-bullet-active{background: #ff3535;}
.wst-goodscat .goods-cat-name{color:#333;font-size:0.12rem;}
.wst-gc-bg{margin: 0 0.1rem 0.1rem 0.1rem;box-shadow: 0 0 0.1rem 0 #efefef;border-radius:0.06rem;}