@CHARSET "UTF-8";
.wst-se-search {display: block;width: 2.76rem;height: 0.29rem;line-height: 0.29rem;padding: 0.07rem 0;position: relative;}
.wst-se-header2{padding-left: 0;padding-right: 0;border-bottom:none;height:0.44rem;}
.wst-se-search{width: 76%;}
.wst-se-icon{background: url(../img/goods-list.png) center center no-repeat;background-size: 100%;transform: rotate(90deg);-webkit-transition: all .2s linear;transition: all .2s linear;top:0.11rem;right:0.11rem;}
.wst-se-icon2{background: url(../img/goods-list2.png) center center no-repeat;background-size: 100%;transform: rotate(0deg);top:0.11rem;right:0.11rem;}
.wst-shl-head{background:#fff;font-size: 0.14rem;color:#6a6b6d;margin-bottom: 0.04rem;}
.wst-shl-head .sorts{position:relative;}
.wst-shl-head .sorts p{height:22px;line-height:24px;padding:10px 15px 10px 0;text-align:center;font-size:0.14rem;font-weight:600;}
.wst-shl-head .active{color:#EA4341;}
.wst-shl-head .sorts i{width:0.06rem;height:0.1rem;position:absolute;right: 0.23rem;top:0.17rem;}
.wst-shl-head .sorts .up2{background: url(../img/icon-sort-up.png) center center no-repeat;background-size: 100%;}
.wst-shl-head .sorts .down{background: url(../img/icon-sort-default.png) center center no-repeat;background-size: 100%;}
.wst-shl-head .sorts .down2{background: url(../img/icon-sort-down.png) center center no-repeat;background-size: 100%;}
.bar{position: absolute;right: 0;top: 9px;left:105%;letter-spacing: 96px;width: 1px;height: 24px;background: #f1f1f1;overflow: hidden;}
.wst-shl-head .sorts .screen{width: 0.11rem;height: 0.11rem;left: 0.12rem;top:0.16rem;background: url(../img/screen.png) center center no-repeat;background-size: 100%;}
.wst-shl-head .sorts .screen1{width: 0.11rem;height: 0.11rem;left: 0.12rem;top:0.16rem;background: url(../img/screen2.png) center center no-repeat;background-size: 100%;color:red;}
.wst-in-goods{float: left;width: 50%;box-sizing: border-box;margin-bottom: 0.1rem;font-size: 0.14rem;background: #fff;color: #232326;font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;box-shadow:inset 0 0 5px 0 #eaeaea;padding:0.05rem;}
.wst-in-goods.left{border-right: 0.05rem solid #f6f6f8;}
.wst-in-goods.right{border-left: 0.05rem solid #f6f6f8;}
.wst-in-goods .img{float:left;width:1.71rem;height:1.71rem;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-in-goods .img a{width:1.61rem !important;height:1.61rem !important;display:block;vertical-align:middle}
.wst-in-goods .img a img{width:1.61rem;height:1.61rem;}
.wst-in-goods .name{float:left;width:100%;height:0.33rem;line-height:0.17rem;font-size:0.13rem;color:#333}
.wst-in-goods .info{float:left;width:100%;margin-top:0.01rem;}
.wst-in-goods .info .price{float:left;font-size:0.12rem;color:#EA4341;font-weight: bold;}
.wst-in-goods .info .price span{font-size:0.12rem;}
.wst-in-goods .info2{float:left;width:100%;font-size:0.11rem;margin:0.1rem 0;}
.wst-in-goods .info2 .price{float:left;color: #999;}
.wst-in-goods .info2 .deal{float:right;color: #999;}
.pd0{padding-right:6px!important}
.pd1{padding-left:30px!important }
#goods-list{padding-bottom:0.50rem;}
.wst-in-goods .tags{width:100%;float:left;margin:0.08rem 0 0.1rem 0;overflow: hidden;height: 0.2rem;}
.wst-in-goods .tags .tag{background:#EA4341;color:#fff;border-radius:0.06rem;font-size:11px;padding:0.01rem 0.055rem;margin-right:0.02rem;}
.wst-go-switch .wst-in-goods{width: 100%;border:0;}
.wst-go-switch .wst-in-goods .img a{width:1.05rem !important;height:1.05rem !important;display:block;vertical-align:middle}
.wst-go-switch .wst-in-goods .img{width:32%;}
.wst-go-switch .wst-in-goods .name,.wst-go-switch .wst-in-goods .tags,.wst-go-switch .wst-in-goods .info,.wst-go-switch .wst-in-goods .info2{width:68%;padding-left:0.05rem;box-sizing: border-box;}
.wst-go-switch .wst-in-goods .info2{margin-top:0.1rem;}
.wst-go-switch .wst-in-goods .img,.wst-go-switch .wst-in-goods .img a{width: calc(31.5%);width: -webkit-calc(31.5%);width: -moz-calc(31.5%);width: -ms-calc(31.5%);width: -o-calc(31.5%);height: calc(31.5vw);height: -webkit-calc(31.5vw);height: -moz-calc(31.5vw);height: -ms-calc(31.5vw);height: -o-calc(31.5vw);}
#screen{width:2.87rem;height:100%;position:fixed; top: 0;right:-91%;z-index: 9999;background: white;font-size: 0.16rem;}
.screen-top{overflow-x: hidden;}
#backgroundTier{width:100%;height:100%;position:fixed; top: 0;right:0;z-index: 9999;background: rgba(0,0,0,0.6);}
.screen-box{height:auto;color: #666;}
.screen-box1{height:auto;}
.screen-title{text-align: left;color:#333;font-size: 0.14rem;font-weight: 600;margin:0.2rem 0.14rem 0.1rem 0.14rem;}
.screen-box .option-box{height:auto; max-height:33px;padding: 0.05rem 0.02rem 0.05rem 0.02rem;overflow: hidden;}
.screen-box .expand{height: auto; max-height: none!important;}
.screen-box .option-box span{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 0.8rem; height: 0.29rem; text-align: center; line-height: 0.29rem; display: inline-block; margin: 0.02rem 0.037rem 0.02rem 0.032rem; border-radius: 0.14rem; background-color: #f2f2f2; color: #666; font-size: 0.12rem; }
.screen-box1 .option-box1{height: auto;padding-left: 10px;padding-right: 13px;display: -webkit-box;color:#666;}
.screen-box1 .option-box1 .across{display: block;width: 8px;margin-left: 9px;margin-right: 9px;height: 18px;border-bottom: 1px solid #848689;}
.screen-box1 .option-box1 input{border: 1px solid transparent;}
.screen-box1 .option-box1 .section{width:0.8rem;height:0.29rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:center;line-height: 28px;margin: 5px;border-radius: 0.14rem;background-color: #f2f2f2;color:#666;font-size:0.12rem;}
.screen-box1 .option-box1 .section-end{}
.index-bnts{ height: 44px; overflow: hidden;padding:0 0.12rem 0.2rem 0;}
.index-bnts .left{width:0.89rem;height: 0.34rem;line-height:0.34rem;border-radius:0.17rem 0 0 0.17rem;background-color: #FCAD2A; color: #fff; font-size: 0.14rem; position: relative; text-align: center;}
.index-bnts .right{width:0.89rem;height: 0.34rem;line-height:0.34rem;border-radius:0 0.17rem 0.17rem 0;background-color: #EA4341; color: #fff; font-size: 0.14rem; text-align: center;}
.selected{background-color: white;color:#EA4341 !important;border: 1px solid #EA4341; width: 0.8rem; line-height: 0.29rem; height: 0.29rem; display: block; text-align: center; border-radius: 20px; margin-left: 10px; font-size: 0.12rem; }
.transport{width:0.8rem;height:0.29rem;text-align:center;line-height: 0.29rem;display: inline-block;margin: 0.02rem 0.037rem 0.02rem 0.032rem;border-radius: 0.14rem;background-color: #f2f2f2;color:#666;font-size:0.12rem;}
.arrow-base{display: inline-block; border-bottom: 1.5px solid #b0b0b0;border-left: 1.5px solid #b0b0b0;float: right;margin-right: 10px;width: 10px;height: 10px;}
.arrow{transform:rotate(-45deg);margin-top: 2px;}
.arrowed{transform:rotate(135deg);margin-top: 10px;}
::-webkit-input-placeholder{color: #666;}
#backgroundTier{position: fixed; left: 0px;top: 0px;background-color: #000;width: 100%;height: 100%;filter: alpha(opacity=60);opacity: 0.6;z-Index: 9999; display: none;}
/*更改frozen样式*/
.ui-radio input{height:18px;}
.ui-radio input:before{content: ''; display: block; width: 14px; height: 14px; border: 1px solid #dfe0e1; border-radius: 13px; background-clip: padding-box; position: absolute; left: 0px; top: 0;}
.ui-radio input:checked:after{background: #df0202;content: ''; display: block; width: 8px; height: 8px;border-radius: 7px; position: absolute; left: 4px; top: 4px;}
#goods-container{margin-top:0.1rem;}
.goods-container{margin:0 0.12rem;width: 3.51rem;}
