@CHARSET "UTF-8";
.good-box{height:1.26rem;float: left;width: 100%;overflow: hidden;background:#FFFFFF;border-bottom: 0.08rem solid #F6F6F6;}
.goods-img{width: 100%;float: left;}
.gimg {height: 1.05rem;width: 1.05rem;margin:0.1rem;border-radius: 0.05rem}
.good-title{font-size:0.15rem;font-weight:400;color:rgba(0,0,0,1);line-height:0.22rem;}
.good-price{font-weight:500;color:#EA4341;margin-top: 0.1rem}
.good-sell{color: rgba(179,179,179,1);font-size:0.12rem}
.good-buy{float: right;}
.gouwu {margin-right:0.13rem;display: inline-block;width: 0.23rem;height: 0.23rem;background: url(../img/gouwu.png);background-repeat:no-repeat;background-size: 0.23rem 0.23rem;}
.apply-after{width: 1.31rem;height: 1.31rem;}
.apply-box{text-align: center;}
.apply-btn{text-align: center;background:rgba(234,67,65,1);border-radius:0.17rem;width: 1.65rem;height: 0.34rem;line-height: 0.34rem;color: #FFFFFF;margin:0 auto}
.apply-after-btn{width: 2.43rem;height: 0.74rem;}
.apply {width: 100%;padding-top: 1.3rem;background: #FFFFFF;}
.apply-title2{font-size:0.14rem;color:#999999;text-align: center;padding-top:0.15rem;padding-bottom: 0.15rem}