@CHARSET "UTF-8";
.wst-in-top{width:100%;background: #fff;}
.wst-in-search{padding:0.1rem 0.12rem 0.1rem 0.12rem;position: fixed;top:0;left:0;width:calc(100% - 0.24rem);background: #fff;z-index:10000;}
.wst-in-search .classify{margin-top:0.03rem;}
.wst-in-search .classify i{display: block;width:0.22rem;height:0.22rem;background: url(../img/icon-classify.png) center center no-repeat;background-size: 100%;}
.wst-in-search .searchs{width:calc(100% - 1.04rem);height:0.29rem;background:#f5f5f5;border-radius: 0.15rem;margin:0 0.23rem;}
.wst-in-search .searchs .icon-search{width:0.15rem;height:0.15rem;background: url(../img/icon-search.png) center center no-repeat;background-size: 100%;margin:0.07rem 0.11rem 0.08rem 0.17rem;}
.wst-in-search .searchs .search-tip{font-size:0.12rem;color:#999;width:100%;height:0.15rem;line-height:0.15rem;border:0;background:#f5f5f5;}
.wst-in-search .user{margin-top:0.03rem;position:relative;}
.wst-in-search .user{width:0.28rem;height:0.22rem;text-align:center;}
.wst-in-search .user a{color:#ccc;font-size: 0.12rem;}
.wst-in-search .user i{display: block;margin: 0 auto;width:0.22rem;height:0.22rem;background: url(../img/icon-message.png) center center no-repeat;background-size: 100%;}
.wst-in-search .user i .number{position: absolute;top: -5px;right: -5px;min-width: 10px;display: inline-block;text-align: center;background: #f74c31;color: #fff;font-size: 0.1rem;height: 15px;line-height: 15px;-webkit-border-radius: 8px;padding: 0 3px;background-clip: padding-box;}
.wst-in-choose{padding:0.04rem 0.12rem 0.15rem 0.12rem;}
.wst-in-choose p img{width: 0.54rem;height:0.54rem;margin-top:0.09rem;}
.wst-in-choose span{font-size:0.11rem;display:block;color:#333;margin-top:0.05rem;text-align: center;}
.wst-in-news{width:100%;height:0.36rem;background: #fff;}
.wst-in-news .new{width:0.66rem;height:0.16rem;background: url(../img/icon-new.png) center center no-repeat;background-size: 100%;margin:0.1rem 0.12rem;}
.wst-in-news .hot{width:0.3rem;height:0.15rem;border:1px solid #FD9057;color:#FD9057;font-size: 0.1rem;line-height: 0.15rem;text-align: center;margin-left:0.21rem;}
.wst-in-news .article{width: 1.79rem;margin:0.13rem 0 0.12rem 0.1rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.wst-in-news .article p{font-size: 0.12rem;color:#333;}
.wst-in-news .more{width:0.14rem;height:0.07rem;background: url(../img/icon-new-more.png) center center no-repeat;background-size: 100%;margin:0 0.12rem 0 0.15rem;}
.wst-in-ads{width:100%;margin-top:0.1rem;}
.wst-in-ads img{width:100%;}
.wst-in-hot-activity{width:100%;margin-top:0.1rem;background: #fff;}
.wst-in-hot-activity .hot{width:0.16rem;height:0.21rem;background: url(../img/icon-hot.png) center center no-repeat;background-size: 100%;margin:0.14rem 0.12rem 0 0.12rem;}
.wst-in-hot-activity .activity-title p{font-size:0.17rem;font-weight: bold;color:#000;margin-top:0.15rem;}
.wst-in-hot-activity .wst-in-adst{margin:0.1rem 0.12rem 0 0.12rem;}
.wst-in-adst img{float:left;width:49%;border-bottom:0.01rem solid #f2f1f1;}
.wst-in-ads-three{padding:0.1rem 0.12rem 0.15rem 0.12rem;}
.wst-in-goods-tab{margin-top:0.13rem;}
.wst-in-goods-tab  .g_ui_tab{width: 100%;overflow: hidden;}
.goods-tab-fixed{position: fixed;top:0.49rem;left:0;z-index:10000;}
.wst-in-goods-tab  .g_tab_nav{width: 100%;height: 0.45rem;line-height:0.45rem;padding: 0;background: #fff;overflow-x: scroll;}
.wst-in-goods-tab  .g_tab_nav::-webkit-scrollbar{display:none}
.wst-in-goods-tab  .g_tab_nav .g_tab_item{-webkit-box-flex: 1;color: #333;box-sizing: border-box;border-bottom: 2px solid transparent;font-size: .13rem;text-align: center;display: inline-block;height:0.45rem;line-height: 0.45rem;min-width:1rem;}
.wst-in-goods-tab  .g_tab_nav .active{font-weight: bold}
.wst-in-goods-tab  .g_tab_nav .active::after{content:" ";position: absolute;bottom: 0;left: 0.36rem;display: inline-block;width: 0.33rem;height:0.03rem;border-radius: 0.01rem;background: #EA4341;}
.wst-in-goods-tab  .g_tab_content {margin: 0.1rem 0.12rem 0.6rem 0.12rem;}
.wst-in-goods-tab  .g_tab_hide {display: none;}
.wst-in-goods-tab  .g_tab_show {display: block!important;}
.wst-index-goods{width:49%;height:2.54rem;box-sizing: border-box;font-size:0.14rem;background:#fff;color: #232326;font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;margin-bottom: 0.1rem;}
.wst-index-goods.left{margin-right: 0.035rem;}
.wst-index-goods.right{margin-left: 0.035rem;}
.wst-index-goods .img{margin:0.05rem;text-align:center;vertical-align:middle;display:block;position:relative;margin-bottom:0.15rem;}
.wst-index-goods .img a{display:block;vertical-align:middle;}
.wst-index-goods .img a img{width:1.61rem;height:1.61rem;}
.wst-index-goods .name{height:0.34rem;line-height:0.17rem;padding:0 0.11rem;font-size: 0.13rem;}
.wst-index-goods .info{font-size:0.11rem;padding:0.16rem 0.08rem 0.15rem 0.11rem;}
.wst-index-goods .info .price{color: #EA4341;font-size:0.12rem;font-weight: bold;}
.wst-index-goods .info .deal{color: #999;font-size:0.11rem;}
.wst-load-text{color:#333;font-size:0.12rem;}

.ui-header ~ .ui-container{border-top:0px solid transparent}
.swiper-wrapper{height:auto;}

.banner img {width:100% !important;display:block;}
.banner .swiper-pagination {left:auto;right:7px;bottom:7px;width:auto;padding:2px 7px;border-radius:10px;color:#fff;background:rgba(0,0,0,.3);}



