html {background: #F5F5F5}
.wst-ad-footer {position: fixed;z-index: 100;bottom: 0.15rem;left: 0;width: 100%;height: 44px;}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before {color: red;}
.wst-ad-footer .button {display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.wst-ad-footer .button:not(.disabled):not(:disabled):active,.wst-ad-footer .button.active{background:#DB3735;}
.data p {line-height: 0.3rem}
.invoicesType {background: orange;padding:0.04rem 0.08rem;color: white;border-radius: 0.06rem}
.invoicesData {margin-top: 0.4rem;font-size:0.14rem;margin-bottom: 0.4rem}
.addData {margin-top: 0.47rem;font-size:0.14rem;margin-bottom: 0.4rem;background: #FFFFFF}
.data {padding:  0.15rem 0.12rem;background: #FFFFFF;margin-bottom: 0.1rem;}
.edit {background: url(../img/bianji.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;margin-top: 0.09rem;float: left;margin-right: 0.1rem}
.delete {float: left;background: url(../img/shanchu.png);background-repeat:no-repeat;background-size: 0.13rem 0.13rem;margin-top: 0.09rem;margin-right: 0.1rem;margin-left: 0.1rem }
.list-i {float: left;width: 0.13rem;height: 0.13rem}
.inputItem {font-size: 0.14rem;color: #333333;line-height: 0.49rem;height: 0.49rem;margin: 0rem 0.18rem;border-bottom:1px solid #f2f2f2;}
.inputItem input {border:none;}
.radioType {height: 0.2rem;width: 0.2rem}
.wst-active {color:#F04038!important;}
