@CHARSET "UTF-8";
body{font-size:.13rem}
.c-tr{text-align:right}
.complain-box{margin-top:5px;padding:5px;background:#fff}
.c-line{border-bottom:1px solid #eaeaea;margin-bottom:5px}
.c-item li{padding:10px 0;font-size:.15rem}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:999;display:none}
.wst-fr-box{position:fixed;z-index:999;right:-999px;bottom:0;width:100%;min-height:40%;background-color:#f6f6f8;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{background:#fff;height:auto;position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:14px}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;left:5px;top:-2px;font-size:27px}
.wst-fr-box .content{overflow-y:scroll}
.com-detail-box{margin:10px 0;background:#fff}
.com-detail-box li{padding:5px}
.com-detail-big-title{margin-left:6px;font-weight:bold}
.com-detail-title{text-align:right}
.annex{width:60px;height:60px}
.wst-co-status{color: #fa281b;}


.item-up{font-size:0.14rem;font-weight:400;color:rgba(25,25,25,1);line-height:0.2rem;}
.item-time{font-size:0.12rem;font-weight:400;color:rgba(191,191,191,1);line-height:0.2rem;}
.item-order-id{font-size:0.12rem;font-weight:400;color:rgba(51,51,51,1);line-height:0.25rem;}
.item-detail{font-size:0.12rem;font-weight:400;color:rgba(240,64,56,1);line-height:0.25rem;}
.item-left{float: left}
.item-right{float: right}
.item-box{background: #FFFFFF;margin-bottom: 0.15rem;height: 0.7rem;padding-left: 0.13rem;padding-right: 0.13rem}



.detail-title{font-size:0.15rem;font-weight:500;color:rgba(51,51,51,1);line-height:0.25rem;background: #FFFFFF;padding:0.15rem 0.12rem;border-bottom: 0.01rem solid #f6f6f8;margin-top: 0.12rem}
.detail-order{font-size:0.14rem;font-weight:400;color:rgba(51,51,51,1);line-height:0.25rem;float: right}
.detail-content{font-size:0.12rem;font-weight:400;color:rgba(102,102,102,1);line-height:0.18rem;padding:0.13rem 0.12rem;background: #FFFFFF;border-bottom: 0.01rem solid #f6f6f8}
.detail-down{font-size:0.12rem;font-weight:400;color:rgba(179,179,179,1);line-height:0.18rem;background: #FFFFFF;padding:0.1rem 0.12rem;}
.detail-status{font-size:0.15rem;font-weight:500;color:rgba(51,51,51,1);line-height:0.25rem;background: #FFFFFF;padding:0.15rem 0.12rem;margin-top: 0.1rem;border-bottom: 0.01rem solid #f6f6f8}