@CHARSET "UTF-8";
h1{position:relative}
.record{display:inline-block;position:absolute;right: 10px;top:0;color:black;color: #59595c;font-size: 13px;}
.bgimg{display:inline-block;width:67px;height:60px;margin-top:20px;margin-bottom:5px}
.head-btn{display:block;width:auto;height:40px;line-height:40px;font-size:.22rem;color:#fff;background-color:#ff4e4e}
.head-btn i{position:relative;top:16%;display:inline-block;width:26px;height:26px;margin-right:5px;background:url(../img/icon_tixian.png) no-repeat;background-size:100%}
.head-btn-box{margin-top:77px}
.wst-header h1{z-index:-1}

.title{position: absolute;left:0;bottom:0;width:100%;}
.title .money_number{font-size:0.15rem;text-align: right;padding:0 0.1rem;}
.title .money_number2{font-size:0.13rem;margin-top: 2px;text-align: right;padding:0 0.1rem 0.05rem 0.1rem;}
.title .money_number p{font-size:0.16rem;}
.title .money_number span{font-size:0.13rem;}
.money-detail{padding:5px;background-color:#fff;border-bottom:1px solid #edebeb;font-size:.15rem;}
.money-detail h5{font-size:.15rem;}
.money-detail-title{padding:5px 10px;font-size:.18rem}
.m-tr{text-align:right;color:#abaaaa}
.first-time{font-size:0.15rem;color:#abaaaa;padding-left:5px;margin-top:10px}
.wst-lo-choice{width:100%;padding:2px 2px 2px 5px;height:36px;border-radius:2px;border:1px solid #a0a0a0;background:#fff;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-100%;bottom:0;width:100%;min-height:40%;background:#f2f2f2;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{height:auto;background:#fff;position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size: 16px;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .info{padding:0.1rem;background:#fff;font-size:.15rem;}
.wst-fr-box .info .money{margin-top:0.05rem;font-size:.175rem;color: #df0202;}
.wst-fr-box .info .money span{font-size:.15rem;}
.wst-fr-box .content{padding:0.1rem;margin-top:10px;background:#fff;font-size:.15rem;}
.wst-fr-box .content li{margin:5px auto;line-height:36px}
.recharge-box{height:50px;line-height:50px;text-align:center;background:white;color:black;font-size:.15rem;border-bottom: 1px solid #f2f1f1;}
.wst-apply-button{height: 38px;line-height: 38px;font-size: 0.15rem;color: #fff;background: #e00102;border-radius: 3px;border-bottom: 1px solid #e00102;}
.icon_add{background: url(../img/icon_add_money.png) no-repeat;background-size: contain; width: 60px;margin:5px;margin: 0 auto;margin-top: 15px; height: 20px;}
.icon_out{background: url(../img/icon_out_money.png) no-repeat;background-size: contain; width: 60px;margin:5px;margin: 0 auto;margin-top: 15px; height: 20px;}
.wst_model p {display: inline-block;padding-left:14px;line-height: 20px;}
.icon_stript{width: 20px;height:20px;float: left;}
.stript_1{background: url(../img/icon_cart_money.png) no-repeat;background-size: cover;}
.stript_2{background: url(../img/icon_record.png) no-repeat;background-size: cover;}

.head{min-height:2.5rem;min-width:3.75rem;color:#fff;background:url(../img/yue.png) no-repeat;background-size:cover;position: relative;}
.available-i {background: url(../img/yan.png);background-repeat:no-repeat;display:inline-block;background-size: 0.15rem 0.12rem;width: 0.15rem;height: 0.12rem;margin-left: 0.1rem}
.available{padding-top: 0.82rem;padding-left: 0.2rem}
.available-title{font-size:0.12rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.35rem;opacity:0.6;}
.available-money{padding-left: 0.2rem;font-size:0.33rem;font-weight:bold;color:rgba(255,255,255,1);line-height:0.21rem;}
.no-ava{width:50%;padding-top: 0.29rem;float:left;font-size:0.12rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.35rem;}
.no-ava label {opacity:0.6;}
.no-money{padding-left: 0.2rem;font-size:0.25rem;font-weight:bold;color:rgba(255,255,255,1);line-height:0.21rem;}
.available-nav{background:rgba(255,255,255,1);padding:0.2rem 0;line-height:0.21rem;font-weight:400;float: left;width: 100%}
.available-nav-title{font-size:0.14rem;color:rgba(112,112,112,1);float: left;padding-left: 0.2rem}
.available-nav-money{color:rgba(51,51,51,1);font-weight:bold;font-size:0.2rem;float: left}
.av-btn1{float: right;border:0.01rem solid rgba(251,73,57,1);border-radius:0.12rem;color: rgba(251,73,57,1);font-size: 0.1rem;padding: 0.02rem 0.12rem;margin-top: -0.04rem;margin-right: 0.1rem}
.av-btn2{float: right;border:0.01rem solid rgba(251,73,57,1);border-radius:0.12rem;background: #E84446;color: #FFFFFF;font-size: 0.1rem;padding: 0.02rem 0.12rem;margin-top: -0.04rem;margin-right: 0.2rem}
.item{margin-top: 0.15rem;background: #FFFFFF;padding: 0.12rem 0;float: left;width: 100%}
.item .rechargeall{color: #F07D38;float: right;margin-right: 0.13rem;position: absolute;top: 0.1rem;font-size: 0.14rem;}
.item .tx-box{padding: 0.1rem 0.12rem;}
.service-box{color: #999;}
.item .tx-box .left{float:left;width: 1.2rem;text-align:left;font-size: 0.13rem;}
.item .tx-box .right{float:right;width: 2rem;text-align: right;}
.item .dz-item{font-size: 0.13rem;font-weight: 500;color: rgba(190,190,190,1);line-height: 0.25rem;}

.item-i1 {background: url(../img/liushui.png);position:relative;top:0.02rem;background-repeat:no-repeat;display:inline-block;background-size: 0.18rem 0.18rem;width: 0.18rem;height: 0.18rem;margin: 0 0.2rem;}
.item-i2 {background: url(../img/tixian.png);position:relative;top:0.02rem;background-repeat:no-repeat;display:inline-block;background-size: 0.18rem 0.18rem;width: 0.18rem;height: 0.18rem;margin: 0 0.2rem}
.item-i3 {background: url(../img/fanhui.png);background-repeat:no-repeat;float:right;display:inline-block;background-size: 0.07rem 0.12rem;width: 0.07rem;height: 0.12rem;margin-right:0.2rem;margin-top: 0.05rem}
.item-i4 {background: url(../img/tixianlog.png);position:relative;top:0.02rem;background-repeat:no-repeat;display:inline-block;background-size: 0.18rem 0.18rem;width: 0.18rem;height: 0.18rem;margin: 0 0.2rem}
.warn-item{background:rgba(254,235,223,1);}
.warn-item-label{font-size:0.12rem;font-weight:500;color:rgba(255,154,101,1);line-height:0.28rem;margin-left: 0.13rem}
.wst-cover1{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box1{position:fixed;z-index:9999;right:0;bottom:-100%;width:100%;min-height:100%;background:#FFFFFF;font-size:.15rem}
.wst-fr-box1 .title1,.wst-cart-box .title1{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box1 .title1 span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;color: #222;}
.wst-fr-box1 .title1 i,.wst-cart-box .title1 i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box1 .content1{padding:0.1rem;background:#fff;font-size:.15rem;}
/*.wst-fr-box1 .content1 li{margin:5px auto;line-height:36px}*/
.feedback-item{background:#fff;border-bottom:1px solid #eaeaea;font-size:.14rem}#content{min-height:130px}

.ui-checkbox input,.ui-checkbox-s input{height:18px}
.ui-checkbox input:before,.ui-checkbox-s input:before{left:53px;top:-13px;font-size:26px!important}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#F04038!important}


.button {display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;}
.av-item{font-size:0.13rem;font-weight:500;color:rgba(190,190,190,1);line-height:0.25rem}
.item-i5 {background: url(../img/guanbi.png);position:absolute;top:0.02rem;right: 1rem;background-repeat:no-repeat;display:inline-block;background-size: 0.18rem 0.18rem;width: 0.18rem;height: 0.18rem;margin: 0 0.2rem;}
.mar-left{margin-left: 0.13rem}

.edit-price-box .dialog-content{height:1.32rem;background: #fff;}
.edit-price-box .dialog-content .wst-dialog-c{color:#333;font-size:0.14rem;}
.edit-price-box .dialog-content input{border:0;background: #f5f5f5;border-radius:0.2rem;padding:0 0.15rem;}

.ui-row .bg1{background:url(../img/cashdraw_bg1.png) no-repeat;background-size:100%;height:1.85rem;max-height: 1.85rem}
.ui-row .bg2{background:url(../img/cashdraw_bg2.png) no-repeat;background-size:100%;height:1.85rem;max-height: 1.85rem;}
.bank-box{padding:0.25rem 0.15rem 0 0.15rem;width: 90%;color: #FFFFFF}
.bank-img{width:0.38rem;height:0.38rem;background:rgba(255,255,255,1);border-radius:50%;float: left}
.bank-img-logo {width: 0.27rem;height: 0.27rem;position:relative;top:0.06rem;left:0.055rem;display: inline-block}
.bank-name{float: left;margin-left: 0.15rem;font-weight:500;color:rgba(255,255,255,1);}
.bank-n{font-size:0.12rem;font-weight:400;color:rgba(255,255,255,1);}
.bank-no{padding:0.2rem 0.15rem;font-size:0.23rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.25rem;}
.bank-content{height:125px;max-height: 145px;position: relative;}