@CHARSET "UTF-8";
.wst-info_delete{padding:0}
.wst-info_delete button{height:49px;color:#333;line-height:49px}
.wst-info_delete button:not(.disabled):not(:disabled):active,.wst-info_delete button.active{border-color:#e7530a;color:#504f4f;background-clip:padding-box}
.wst-info_content {background: #f6f6f8;}
.wst-info_content li {background: #FFFFFF;margin-bottom: 0.02rem;margin-left: 0px;padding-left: 0.1rem;}
.wst-info_content input:before{font-size:0.14rem;left:15px}
.wst-info_content input:checked:before{color:#f24566}
.wst-info_content span{float:left;width:20px;height:20px;margin-right:5px}
.wst-info_content h5{font-size:0.14rem}
.msg-chk{margin-left:-13px;margin-right:10px}
.favorite-tc{line-height:55px;text-align:left;font-size: 0.14rem;}
.f-btn{min-width:85px}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#ED423F!important}
.sactive{margin-right:0!important}
.detail-time{text-align:center}
.del-btn{position:absolute;top:10px;right:10px}
.wst-info_detime{font-size:.13rem;background: #CCCCCC;padding: 0.03rem 0.05rem;border-radius: 0.03rem;color: #FFFFFF;}
.wst-info_decontent{font-size:0.13rem;font-family:PingFang SC;font-weight:400;color:rgba(102,102,102,1);line-height:0.2rem;}
.wst-info_decontent img{width:100%;}
.wst-line{border-bottom:1px solid #edebeb;margin:0 10px}
.del-button {background: #ED413B;width: 0.9rem;height: 0.34rem;font-size: 0.11rem;font-weight: 500;color: rgba(255,255,255,1);line-height: 0.24rem;border-radius: 0.17rem;}
.del-button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;}
.edit {background: url(../img/fanhui.png);background-repeat:no-repeat;background-size: 0.07rem 0.13rem;}
.list-i {float: right;width: 0.07rem;height: 0.13rem}
.message-detail {background: #FFFFFF;min-height: 100%;}
.wst-prompt-icon{width: 1.54rem;height: 1.19rem;}
.hasread{color: #999;}