@CHARSET "UTF-8";body{font-size:.14rem}
.order-tab{height:30px;line-height:30px;padding:0;background:#fff}
.item-head{padding:5px}
.tab-item{text-align:center}
.tab-curr{border-bottom:2px solid red}
.order-item{background:#fff;margin:10px auto}
.order-tr{text-align:right;color:#999;font-size: 0.14rem;}
.o-gOrderNo{color:#999999;font-size:0.12rem;}
.o-time{color:#999999;font-size:0.12rem;}
.o-status{color:red}
.o-Img{max-width:0.9rem;max-height:0.9rem;width:0.9rem;height:0.9rem;margin: 0.1rem 0;padding-top: 0;}
.o-g-container{margin-top:0.1rem;}
.o-gInfo-container{width:calc(100% - 0.8rem)}
.o-gInfo{padding:0 0.1rem 0 0.1rem;margin:0.1rem 0;height:0.6rem;}
.o-gInfo2{padding:0.05rem 0.1rem 0 0.1rem;}
.o-gName{color:#333;font-size:0.12rem;}
.o-gSpec{color:#666;font-size:0.1rem;margin-top:0.05rem;}
.o-gPrice{font-size:0.14rem;color:#666;font-weight: 600;}
.o-gNum{font-size:0.12rem;color:#333;}
.o-totalmoney{color:#ED423F;font-weight: 600;font-size:0.14rem;}
.border-b{padding-bottom:5px;border-bottom:1px solid #f1f1f1}
.o-btn-box{padding-right:0}
.o-btn{float:right;margin-bottom:5px;margin-right:5px;font-size:.15rem;color:red;border:1px solid red;padding:0 9px}
.o-cancel-btn{color:inherit;border:1px solid #000}
.detail-head{border-bottom:1px solid #eaeaea;padding:0.14rem 0.12rem;background:#fff;margin-top:5px}
.d-uInfo{background:#fff;font-size:.12rem;height:0.41rem;line-height:0.41rem;border-bottom:1px solid #f2f2f2;}
.d-uInfo .shopicon{display: block;width: 0.16rem;height: 0.15rem;background: url(../img/icon_dp.png) center center no-repeat;background-size: 100%;margin-right:0.09rem;}
.d-sname{padding-left:0.12rem;}
.d-uname{padding:3px 0;margin-left:-4px}
.d-utel{padding-left:15px}
.d-goodsitme{background:#fff;border-bottom:0;font-size:.13rem}
.d-item{background:#fff;}
.d-item .item{padding:0.1rem 0.12rem 0 0.12rem;}
.d-item-right{color:#b5b5b5}
.d-gSpec{padding-left:10px}
.wst-or-describe{color:#999;font-size:0.12rem;}
.wst-or-describe2{color:#999;font-size:0.14rem;}
.wst-oc-describe{color:#333;font-size:0.14rem;}
.title{font-size:.15rem;color:#59595c}
#detailBox{font-size:.15rem}#boxTitle{background:#fff}
.c-item{margin:0 0.12rem;font-size:.15rem;height:0.54rem;line-height:0.54rem;}
.c-textarea{margin:0 0.12rem;padding-bottom:0.1rem;border-bottom:1px solid #f5f5f5;}
.c-textarea textarea{background:#f5f5f5;padding:0.1rem;border-radius:0.06rem;border:1px solid #f5f5f5;}
.c-box{margin-top:0.1rem;background: #fff;padding:0.07rem 0.12rem;}
.c-title{padding:30px 5px 5px 5px;padding-top:10px;background:#fff;height:36px!important;border-bottom:1px solid #eaeaea}
.c-content{background:#fff;height:125px!important;padding:5px;}#complain{width:100%;height:120px;resize:none}
.webuploader-pick{padding:5px 6px!important;}
.complainFileBox{min-height:0.8rem;width:calc(100% - 0.12rem);padding-left:0.12rem;}
.complainFileBox li{float:left;}
.complainFileBox img{width:0.8rem;height:0.8rem;margin:0 0.1rem 0.1rem 0;}
.edit_charts{position:relative}
.upload-icon-delete{display:block;width:0.16rem;height:0.16rem;background: url(../img/upload-del.png) center center no-repeat;background-size:100%;position: absolute;top:-0.05rem;right:0.05rem;}
.ui-icon,[class^="ui-icon-de"]{font-size:20px;position:absolute;left:32px;top:-1px;color:red;line-height:17px}
.uploadfile-box{background:#fff;position:relative;padding-bottom:0.1rem;}
.ui-icon-thumb{line-height:20px}
.uploadfile-input{width:12%;height:25px;position:absolute;left:0;top:73px;z-index:-55;opacity:0}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:0;bottom:-5.32rem;width:100%;min-height:40%;background:#f2f2f2;font-size:.15rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;color: #222;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-fr-box .content{background:#fff;overflow:scroll}
.wst-fr-box .item .name{color:#333;font-size:0.15rem;}
.complain-btn-box{padding:0.07rem 0.12rem;background:#fff;}
.complain-btn-box button{width:100%;height:0.4rem;line-height: 0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0;background: #EA4341;border-radius: 0.2rem;}
.complain-item{background:#fff;border-bottom:1px solid #eaeaea;padding:10px;font-size:.14rem}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}
.c-btn{height: 0.4rem;line-height: 0.4rem;font-size: 0.14rem;color: #fff;background: #EA4341;border-radius: 0.2rem;}
.c-btn:not(:disabled):active,.c-btn.active{background:#DB3735 !important;}
.icon-right-arrow{display:inline-block;width:0.06rem;height:0.11rem;background: url(../img/icon-right-arrow.png) center center no-repeat;background-size:100%;margin-left:0.06rem;}
.upload-btn{width:0.8rem;height:0.8rem;background: url(../img/upload-btn.png) center center no-repeat;background-size:100%;}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}