@CHARSET "UTF-8";
.ui-header ~ .ui-container{border-top:0.47rem solid transparent;}
.ui-container{height:calc(100% - 0.47rem);}
.item-head{height:0.41rem;line-height:0.41rem;background:#fff;border-bottom:1px solid #eaeaea;padding:0 0.12rem;}
.item-head .shop{position: relative;padding-left:20px;font-size:.15rem;}
.item-head .shop i{position: absolute;display: block;top: 0.11rem;left: 0;width: 0.16rem;height: 0.15rem;background: url(../img/icon_dp.png) center center no-repeat;background-size: 100%;}
.border-b{padding:0 0.12rem;}
.o-gName{color:#333;font-size:0.12rem;}
.o-Img{max-width:0.9rem;max-height:0.9rem;width:0.9rem;height:0.9rem;margin: 0.1rem 0;padding-top: 0;}
.o-gInfo-container{width:calc(100% - 0.8rem)}
.o-gInfo{padding:0 0.1rem 0 0.1rem;margin:0.1rem 0;height:0.6rem;}
.o-gInfo2{padding:0.05rem 0.1rem 0 0.1rem;}
.o-gInfo3{border-bottom:1px solid #f2f2f1;padding-bottom:0.12rem;}
.o-gSpec{color:#666;font-size:0.1rem;}
.o-appr-btn{margin-bottom:0.1rem;}
.o-appr-btn button{width:0.8rem;height:0.24rem;line-height: 0.24rem;border-radius:0.12rem;color:#EA4341;border:1px solid #EA4341;background:#fff;text-align: center;font-size: 0.12rem;}
.order-tr{text-align:right;line-height:60px}
.order-tr .appraise{float: right;margin-top:20px;font-size:.13rem;color: #f19325;width:30px;height:25px;background: url(../img/evaluate.png) 0px 0px no-repeat;background-size: 72%;}
.g-item{background:#fff;}
.appraise-title{padding-left:0.12rem;color:#666;font-size: 0.14rem;}
.appraise-name{padding-right:10px;height: 0.42rem;line-height:0.21rem;}
.appraise-box{padding-top:0.1rem;background:#fff;font-size:.14rem;border-bottom:1px solid #eaeaea}
.score{color: #EA4341;}
.start-on,.start-not{display:inline-block;margin-right:0.175rem;}
.start-on{width:0.21rem;height:0.2rem;background:url(../img/appr-star.png) center center no-repeat;background-size:100%}
.start-not{width:0.21rem;height:0.2rem;background:url(../img/appr-none-star.png) center center no-repeat;background-size:100%}
.appraisesContent{width:100%;min-height:100px;resize:none;border:1px solid #F2F2F2;padding:0.1rem;}
.post-btn button{height: 0.4rem;line-height: 0.4rem;font-size: 0.14rem;color: #fff;background: #EA4341;border-radius: 0.2rem;margin:0.07rem 0;}
.post-btn button:not(.disabled):not(:disabled):active,.post-btn button.active{background:#DB3735;}
.post-btn{margin:0;height:0.54rem;padding:0 0.12rem;}
#appraisesBox{margin-top:15px}
.edit_charts{position:relative}
.ui-icon,[class^="ui-icon-de"]{font-size:20px;position:absolute;left:32px;top:-1px;color:red;line-height:17px}
.webuploader-pick {padding: 5px 6px!important;}
.uploadfile-box{background:#fff;position:relative;padding-bottom:0.15rem;}
.webuploader-pick{padding:5px 6px!important;}
.complainFileBox{min-height:0.8rem;width:calc(100% - 0.12rem);padding-left:0.12rem;}
.complainFileBox li{float:left;}
.complainFileBox img{width:0.8rem;height:0.8rem;margin:0 0.05rem 0.05rem 0;}
.edit_charts{position:relative}
.upload-icon-delete{display:block;width:0.16rem;height:0.16rem;background: url(../img/upload-del.png) center center no-repeat;background-size:100%;position: absolute;top:-0.05rem;right:0.05rem;}
.upload-btn{width:0.8rem;height:0.8rem;background: url(../img/upload-btn.png) center center no-repeat;background-size:100%;}
.appr-group{margin-bottom:0.2rem;}
.wst-oa-describe{color:#333;font-size:0.14rem;}
.appr-upload-tips{margin:0 0.12rem 0.15rem 0.12rem;}