@CHARSET "UTF-8";
body{font-size:.14rem}
.wst-headero ~ .ui-container{border-top:72px solid transparent}
#shopBox{padding-bottom:0.55rem;}
.ui-tab{position:fixed;width:100%;z-index:100;left:0;top:41px;/* margin-bottom: 70px; */}
.order-tab{width:100%;height: 0.44rem;line-height: 0.44rem;padding:0;background:#fff;overflow-x:scroll;margin-bottom: -1px;}
.order-tab::-webkit-scrollbar{width:1px;height:1px;background-color:#fff}
.order-tab::-webkit-scrollbar-thumb{background-color:#fff}
.wst-headero ~ .ui-container{border-top:84px solid transparent}
.item-head{font-size: .15rem;height:0.41rem;line-height: 0.41rem;}
.item-head p{padding-left:20px;position: relative;color:#666;font-size:0.12rem;}
.item-head .shopicon{position: absolute;display: block;top: 0.11rem;left: 0;width: 0.16rem;height: 0.15rem;background: url(../img/icon_dp.png) center center no-repeat;background-size: 100%;}
.ui-tab-nav li.tab-item{font-size:.15rem;height: 0.44rem;line-height: 0.44rem;padding:0 5px;text-align:center;color: #333;}
.ui-tab-nav li.tab-curr{color: #ED423F;height:34px;}
.ui-tab-nav li.tab-curr:after{content:" ";position: absolute;bottom: 0;left: 0.24rem;display: inline-block;width: 0.2rem;height:0.03rem;border-radius: 0.01rem;background: #ED423F;}
.order-item{background:#fff;margin-top: 0.1rem;padding:0 0.12rem;}
.order-tr{text-align:right}
.o-shops{padding:2px 0 2px 0;border-bottom:0.01rem solid #f2f1f1;}
.o-shops p{position: relative;padding-left:20px;font-size:.15rem;}
.o-shops i{position: absolute;display: block;top: 1;left: 0;width: 20px;height: 20px;background: url(../img/icon_dp.png) 0px 1px no-repeat;background-size: 87%;}
.o-status{color:#ED413B;font-size:0.12rem;}
.o-status2{float:right;color:#999;font-size:0.12rem;}
.wst-or-term{padding-bottom:0.1rem;color:#999;font-size: 0.12rem;line-height: 0.12rem;}
.wst-or-term2{margin-top:10px;padding:10px 0;border-top: 1px solid #f2f1f1;}
.wst-or-term2 .o-status2{font-size:.15rem;color:#ED423F;font-weight: 600;}
.wst-or-username{float:left;color:#333;font-size: 0.15rem;}
.wst-or-describe{float:left;color:#999;font-size: 0.12rem;}
.wst-or-describe2{float:left;color:#999;font-size:0.14rem;}
.o-gName{color:#333;font-size:0.12rem;}
.o-Img{max-width:0.9rem;max-height:0.9rem;width:0.9rem;height:0.9rem;margin: 0.1rem 0;padding-top: 0;}
.o-gInfo-container{width:calc(100% - 0.8rem)}
.o-gInfo{padding:0 0.1rem 0 0.1rem;margin:0.1rem 0;height:0.6rem;}
.o-gInfo2{padding:0.05rem 0.1rem 0 0.1rem;}
.o-gInfo3{border-bottom:1px solid #f2f2f1;padding-bottom:0.12rem;}
.o-gSpec{color:#666;font-size:0.1rem;margin-top:0.05rem;}
.o-gPrice{font-size:0.14rem;color:#666;font-weight: 600;}
.o-gNum{font-size:0.12rem;color:#333;}
.border-b{padding-bottom:5px;border-top:1px solid #f2f1f1;padding-left: 0;padding-right: 0;}
.o-btn-box{padding-right:0}
.o-btn{float:right;margin:0.1rem 0 0.1rem 0.05rem;font-size:.13rem;color:#ED413B;border:1px solid #ccc;border-radius:0.12rem;min-width:0.8rem;height:0.24rem;line-height: 0.24rem;}
.o-btn:not(.disabled):not(:disabled):active{color:#de0202;}
.o-pay-btn{border:1px solid #EA4341;}
.o-appraise-btn{border:1px solid #EA4341;}
.o-refund-btn{border:1px solid #EA4341;}
.o-cancel-btn{color:#666;border:1px solid #ccc}
.o-cancel-btn:not(.disabled):not(:disabled):active{color:inherit}
.o-deliver-btn{color:#666;border:1px solid #ccc}
.o-edit-price-btn{color:#EA4341;border:1px solid #EA4341;}
.o-receive-btn{border:1px solid #EA4341;}
.wst-wa-info{background:#fff;padding:5px 0;margin:0.1rem 0;}
.wst-wa-info .info{padding:5px 0;text-align:center;border-bottom:1px solid #f1f1f1}
.wst-wa-info .info span{color:red}
.wst-wa-info .pay-info{text-align: center;padding:0.1rem 0.1rem 0 0.1rem;color:#000;font-weight:bold;}
.wst-wa-info .pay{padding:10px}
.wst-wa-info .pay input{width:80%;padding:2px 2px 2px 5px;height:36px;border-radius:2px;border:1px solid #e6e6e6;}
.wst-wa-forget{padding-bottom:20px}
.wst-orders_pricet{color:#999;font-size: 0.14rem;}
.wst-orders_prices{color:#333;font-size: 0.14rem;font-weight: bold;}
.wst-pa-l{margin-top:8px}
.wst-pa-l .line{border-bottom:1px solid #edebeb}
.wst-pa-l span{width:23px;height:23px;display:block;margin-right:6px}
.wst-pa-l .weixinpays{background:url(../img/pays-weixin.png) center center no-repeat;background-size:100%}
.wst-pa-l .wallets{background:url(../img/pays-wallets.png) center center no-repeat;background-size:100%}
.wst-pa-l .alipays{background:url(../img/pays-ali.png) center center no-repeat;background-size:100%}
.ui-dialog-bd{font-size:.15rem}
.wst-or-process{padding:0.28rem 0.12rem;}
.wst-or-process .process{position: relative;}
.wst-or-process p{text-align:center;}
.wst-or-process .line{margin-bottom:10px;padding:10px 0;}
.wst-or-process .line span{float:left;width:50%;height:2px;background:#eaeaea;}
.wst-or-process .line span.active{background:#e00102;}
.wst-or-process .icon{position: absolute;left:0;top:0;display: block;width:100%;height:20px;}
.wst-or-process .icon i{height:20px;line-height:20px;font-size: 27px;}
.wst-or-process .icon i.active{color:#e00102;}
.wst-or-process .icon i:before {background: #fff;}
.wst-or-process .process{position: relative;}
.wst-or-process p{text-align:center;}
.wst-or-process .line{margin-bottom:10px;padding:10px 0;}
.wst-or-process .line span{float:left;width:50%;height:1.5px;background:#eaeaea;}
.wst-or-process .line span.active{background:#e00102;}
.wst-or-process .icon{position: absolute;left:0;top:0;display: block;width:100%;height:20px;}
.wst-or-process .icon i{height:20px;line-height:20px;font-size: 27px;}
.wst-or-process .icon i.active{color:#EA4341;}
.wst-or-process .icon i:before {background: #fdecec;border-radius: 100%;}
.detail-head-status{border-bottom:1px solid #eaeaea;background:#fff;}
.circular-out{ position: absolute; left: 50%; top: 3px; width: 0.15rem; height: 0.15rem; background: transparent; border-radius: 50%;}
.circular-active{background: rgba(237,66,63,.3);}
.circular-active .circular-inner{background: #ED423F;}
.circular-inner{ width: 0.09rem; height: 0.09rem; background: #E6E6E6; border-radius: 50%; margin: 0 auto; margin-top: 0.03rem;}
.detail-head{border-bottom:1px solid #eaeaea;padding:0.2rem 0.12rem;background:#fff;margin-top:0.1rem;}
.d-uInfo{background:#fff;height:40px;padding-left:0.12rem;}
.icon-address{display:block;width:0.15rem;height:0.17rem;background:url(../img/icon-address.png) center center no-repeat;background-size:100%;margin-right:0.1rem;}
.d-utel{padding-left:0.1rem;color:#999;font-size: 0.12rem;}
.d-uaddr{padding-left:0.25rem;position:relative;color:#666;font-size:0.12rem;}
.d-goodsitme{background:#fff;border-bottom:0;margin-bottom:5px;font-size:.11rem}
.d-item{background:#fff;border-bottom:1px solid #eaeaea;padding:7px 5px}
.d-item-right{color:#b5b5b5}
.d-gSpec{padding-left:10px}
.price{color:red}
.title{font-size:.15rem;color:#59595c}
#detailBox,#refundBox{font-size:.14rem}
#boxTitle,#refund-boxTitle,#refundFrame{background:#fff}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-cover2{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-cover3{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:10000;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-100%;top:0;width:100%;min-height:0.4rem;background:#f2f2f2;font-size:.15rem;background: red;}
.wst-fr-box .title,.wst-cart-box .title{position:relative;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:0.4rem;line-height:0.4rem;text-align:center;font-size:0.18rem;}
.wst-fr-box .title i{display:inline-block;width:0.22rem;height:0.22rem;position:absolute;left:0.12rem;top:0.08rem;background:url(../img/page-left-arrow.png) center center no-repeat;background-size:100%;}
.wst-fr-box .content{background:#f2f2f2;overflow:scroll;}
.wst-refund{position:fixed;z-index:9999;right:-999px;top:0;width:100%;min-height:40%;background:#f2f2f2;font-size:.15rem;background: red;}
#reject,#reason{border-radius: 2px;border: 1px solid #CBCBCB;background: #fff;color:#666;padding: 0.1rem 0.11rem;font-size: 0.12rem;}
.o-oListMoney{float:left;width:100%;text-align:right;margin-bottom:3px;font-size:.12rem;color:#999;}
.o-oListMoney span{color:#333;font-size:0.14rem;font-weight: 600;}
.order-tr .title{border:none!important}
.wst-btn-dangerlo{color:#fff;font-size:.15rem;height:0.4rem;line-height:0.4rem;background:#EA4341;border-radius:0.2rem;}
.wst-btn-dangerlo:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-btn-dangerlo:disabled{color:#fff;background:#ccc;border-bottom:1px solid #f1f1f1;}
.notice{color:#E84546;margin-top:0.15rem;display:inline-block;}
.notice img{width:0.14rem;height:0.14rem;margin-right:0.06rem;}
.recharge-box{text-align: center;line-height:40px;padding-top:20px;font-size: 0.18rem;}
.recharge-box .paybox{border-top:1px solid #d2d2d2;font-size:0.25rem;margin:10px;}
.order_from{width:0.66rem;display:block;color: #fff;font-size:.12rem;height: 0.18rem;line-height: 0.18rem;border-radius: 0.09rem;background-color: #ED413B;text-align: center;}
.wst-or-refund{padding: 0.12rem 0.12rem 0 0.12rem;margin-top:0.1rem;background: #fff;}
.wst-or-refund .prompt{padding-bottom:0.1rem;border-bottom: 1px solid #f2f2f2;color:#333;font-size:0.14rem;}
.wst-or-refund .prompt .prompt-red{color:#EA4341;}
.wst-or-refund .term{padding:0;line-height:0.45rem;height:0.45rem;color:#333;font-size:0.14rem;}
.wst-or-refund .sign{color:#de0202;}
#refundReason{width:68%;height: 30px;border-radius: 2px;border: 1px solid #a0a0a0;background: #fff;}
.wst-or-refund .term input{width:68%;height:30px;border-radius: 2px;border: 0;background: #fff;}
.wst-or-shop-refund{padding: 0.12rem 0.12rem 0 0.12rem;margin-top:0.1rem;background: #fff;}
.wst-or-shop-refund .term{color:#999;font-size:0.12rem;padding-bottom:0.1rem;}
.wst-or-shop-refund .sign{color:#ED423F;font-weight: 600;margin-left:0.1rem;}
.wst-or-shop-refund .money{font-size:0.14rem;color:#999;padding:0.16rem 0;}
.wst-or-shop-refund .comment{font-size:0.15rem;color:#999;border-bottom: 1px solid #f2f2f2;padding-bottom:0.15rem;}
.wst-or-shop-refund .comment span{color:#333;}
#refundReason{width:68%;height: 30px;border-radius: 2px;border: 1px solid #a0a0a0;background: #fff;}
.wst-or-refund .term input{width:68%;height:30px;border-radius: 2px;border: 0;background: #fff;}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}
.tab-parent{position: relative;}
.o-gOrderNo{color:#666;font-size:0.12rem;}
.wst-cancel-box{position:fixed;z-index:9999;left:0;bottom:-5.32rem;width:100%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-cancel-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;}
.wst-cancel-box .desc{color:#ccc;font-size:0.14rem;padding-left:0.13rem;}
.wst-cancel-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-cancel-box .item .name{color:#333;font-size:0.15rem;}
.wst-cancel-box .content{height:2.32rem;overflow-y: scroll;}
.wst-reject-box .o-dialog-content{background: #fff;border-radius:0.05rem 0.05rem 0 0;}
.wst-reject-box .ui-dialog-cnt{height:auto;}
.wst-reject-box .o-dialog-content .wst-dialog-t{color:#333;font-size:0.16rem;font-weight:600;margin-top:0.2rem;}
.wst-reject-box .o-dialog-content .wst-dialog-c{color:#333;font-size:0.14rem;margin:0.1rem 0;}
#rejectContent{padding:0.05rem;border-radius:0.05rem;margin-bottom:0.2rem;border:1px solid #f5f5f5;background:#f5f5f5;height:0.7rem;width:2rem;}
#refundReasonText{width:80%;}
.wst-dialog-b3{background: #EA4341;border-radius: 0.2rem;width:100% !important;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.edit-price-box .dialog-content{height:1.32rem;background: #fff;}
.edit-price-box .dialog-content .wst-dialog-c{color:#333;font-size:0.14rem;}
.edit-price-box .dialog-content input{border:0;background: #f5f5f5;border-radius:0.2rem;padding:0 0.15rem;}
/*发货*/
.delivery_good img{width:0.6rem;height:0.6rem;margin:0.1rem;}
.goods_info{font-size:0.12rem;background: #fff;width:100%;}
.express_info{display: block;font-size: 12px;margin: 2px 0;}
.deliver-dialog {border-radius: 0;width: 100%;height: 100%;background: #f5f5f5;overflow:scroll;}
.ui-poptips{z-index:10000;}
table{border-collapse:collapse;border:1px solid #f2f2f2;}
tr{border:1px solid #f2f2f2;}
td{border:0;}
.table-top{height:0.41rem;font-size: 0.14rem;color:#666;}
.delivery_goodsname{color:#333;width:100%;height:100%;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.delivery_num, .delivery_num{color:#999;}
.delivery-item{margin-top:0.1rem;height:0.54rem;background: #fff;}
.delivery-item .title{color:#333;font-size:0.15rem;margin-left:0.12rem;width:1rem;}
.delivery-item .content{color:#999;font-size:0.15rem;margin-right:0.12rem;}
.delivery-item .user_address{}
#expressNo{float: left;height:30px;width:80%;text-align: right;border:0;}
.icon-right-arrow{display:inline-block;width:0.06rem;height:0.11rem;background: url(../img/icon-right-arrow.png) center center no-repeat;background-size:100%;margin-left:0.06rem;}
.wst-express-box{position:fixed;z-index:10001;left:0;bottom:-5.32rem;width:100%;background:#fff;font-size:.14rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-express-box .title{color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;}
.wst-express-box .desc{color:#ccc;font-size:0.14rem;padding-left:0.13rem;}
.wst-express-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-express-box .item .name{color:#333;font-size:0.15rem;}
.wst-express-box .content{height:2.32rem;overflow-y: scroll;}
/*公告按钮钥匙*/
/*中间弹框按钮*/
.middle-two-btn-box{height:0.44rem;width:100%;border-top:1px solid #f2f2f2;}
.middle-two-btn-box button{width:50%;height:0.44rem;line-height: 0.44rem;background:#fff;font-size:0.14rem;text-align: center;margin:0;}
.middle-two-btn-box .wst-dialog-b1{color:#666;border-radius:0 0 0 0.05rem;border-right:1px solid #f2f2f2;}
.middle-two-btn-box .wst-dialog-b2{color:#EA4341;border-radius:0 0 0.05rem 0;}
/*底部弹框按钮*/
/*浮动按钮bottom-one-btn-box*/
.bottom-btn-box{position:absolute;bottom:0.4rem;padding:0 0.12rem;height:0.54rem;width:calc(100% - 0.24rem);background: #fff;}
.bottom-btn-box .wst-dialog-b2{background:#ED413B;border-radius: 0.2rem;width:100%;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.bottom-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-btn-box .wst-dialog-b2.active{background:#DB3735;}
/*非浮动按钮bottom-btn-box*/
.bottom-one-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-one-btn-box .wst-dialog-b2{background:#ED413B;border-radius: 0.2rem;width:100%;height:0.4rem;line-height:0.4rem;text-align: center;color:#fff;}
.bottom-one-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-one-btn-box .wst-dialog-b2.active{background:#DB3735;}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}

.wst-or-term .vcode {color: #ff5785;font-weight: bold;font-size: 0.18rem;}

.verificat-head{margin-top: 0.57rem;padding: 0.1rem 0.12rem;background: #fff;}
.verificat-head .searchbtn{float: right;border: 0.01rem solid #EA4341;border-radius: 0.12rem;background: #EA4341;color: #FFFFFF;font-size: 0.12rem;padding: 0.02rem 0.12rem;margin-top: 0.07rem;line-height: 0.21rem;}
.has-verificat {border: 0.01rem solid #EA4341;width: 0.5rem;height: 0.25rem;line-height: 0.25rem;position: absolute;right: 0.12rem;font-size: 0.12rem;font-weight: bold;color: #EA4341;text-align: center;top: 0.2rem;border-radius: 4px;}
.post-btn button{height: 0.4rem;line-height: 0.4rem;font-size: 0.14rem;color: #fff;background: #EA4341;border-radius: 0.2rem;width: 3.5rem;display: block;margin: 0.1rem auto;}
.post-btn button:not(.disabled):not(:disabled):active,.post-btn button.active{background:#DB3735;}
.post-btn{margin:0;position: fixed;bottom:0;width: 100%;height: 0.6rem;}