.wst-ca-layout{background: #fff;margin-top:5px;display:block;overflow:hidden;padding: 5px;}
.wst-ca-layout img{max-width:75px;max-height: 75px;}
.wst-ca-10{float:left;width:10%;box-sizing:border-box}
.wst-ca-90{float:left;width:90%;box-sizing:border-box}
.wst-ca-24{float:left;width:24%;box-sizing:border-box}
.wst-ca-76{float:left;width:75%;box-sizing:border-box}
.wst-ca-50{float:left;width:50%;box-sizing:border-box}
.wst-ca-s{background:#fff;padding:10px 5px;margin-top:10px;font-size:.15rem;}
.wst-ca-s .shop{height:26px;line-height:26px;padding-bottom:3px;border-bottom:1px solid #edebeb}
.wst-ca-s .goods{padding:3px 0;border-bottom:1px solid #f1f1f1}
.wst-ca-s .nogoods{border:1px solid #de0301;background:#f8eeee}
.wst-ca-s .nogoods .noprompt{position:absolute;left:0;top:0;color:#fff;font-size:.15rem;background:#e00102}
.wst-ca-s .shopr{height:26px;line-height:26px}
.wst-ca-s .shopr p{float:left;width:86%;}
.wst-ca-s .shopr .shopicon{float:left;width:22px;height:26px;position: relative;background: url(../img/icon_dp.png) 0px 4px no-repeat;background-size: 87%;}
.wst-ca-s .shopl,.wst-ca-s .shopr,.wst-ca-s .goodsl,.wst-ca-se .totall,.wst-ca-s .nogoods{position:relative}
.wst-ca-s .shopl i{position:absolute;left:-2px;top:-9px}
.wst-ca-s .info{padding-left:5px}
.wst-ca-s .goodsl i{position:absolute;left:-2px;top:50%}
.wst-ca-s .goodsr .img{float:left;width:100%;height:70px;text-align:center;vertical-align:middle;display:block}
.wst-ca-s .goodsr .img a{width:100%;height:70px;display:table-cell;vertical-align:middle}
.wst-ca-s .goodsr .img a img{max-width:70px;max-height:70px}
.wst-ca-s .info .name{float:left;width:72%;font-size: 0.13rem;font-weight: 700;}
.wst-ca-s .info .price{float:right;width:28%;text-align:right;font-size:.13rem}
.wst-ca-s .info .spec{float:left;width:100%;padding:3px 0;color:#a6a6a6}
.wst-buy_l{float:right;width:100%;margin-top:3px;text-align:right}
.wst-buy_l1,.wst-buy_l3{width:30px;height:28px;background:#FFF;border:0;border:1px solid #ddd}
.wst-buy_l1{border-right:1px solid #fff;}
.wst-buy_l3{border-left:1px solid #fff;}
.wst-buy_l1{border-top-left-radius:3px;border-bottom-left-radius:3px}
.wst-buy_l3{border-top-right-radius:3px;border-bottom-right-radius:3px}
.wst-buy_l2{width:38px;height:28px;border:1px solid #ddd;text-align:center;color:#e00102}
.wst-buy_l1:focus,.wst-buy_l3:focus{color:#e00102}
.wst-buy_l2:focus{width:38px;height:28px;border:1px solid #e00102}
.wst-ca-s .bottom{height:23px;line-height:23px;font-size:.158rem;margin-top:8px}
.wst-ca-s .bottom .price{color:#de0202;text-align:right;}
.wst-ca-s .bottom .price span{font-size:0.13rem;}
.wst-ca-se{padding:0 5px;font-size:.165rem;height:42px;line-height:42px}
.opa-item{padding: 15px 12px;background: #fff;margin-top: 10px;font-size: 0.14rem;color: #333;}
.opa-flex-item{ display:flex;justify-content: space-between;align-items: center;}
#refundMoney{flex: 1;border: none;text-align: right;padding-left:10px;}
.service-remark{background: #f5f5f5; width: 100%; border-radius: 5px; border: none; box-sizing: border-box; height: 150px; padding: 10px;}
.upload-box{width: 75px; height: 75px; line-height: 75px; border: 1px solid #eee; border-radius: 5px; text-align: center; color: #666; font-size: 0.13rem;}
/*参数弹框*/
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:0;bottom:-5.32rem;width:100%;min-height:35%;background:#f2f2f2;font-size:.15rem;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title{background: #fff;color:#333;font-size:0.15rem;padding:0.15rem 0;text-align: center;font-weight: 600;border-radius: 0.1rem 0.1rem 0 0;}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;color: #222;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .item{height:0.58rem;margin:0 0.12rem;border-bottom:1px solid #f2f2f2;}
.wst-fr-box .content{background:#fff;overflow:scroll}
.wst-fr-box .item .name{color:#333;font-size:0.15rem;}
.complain-btn-box{padding:0.07rem 0.12rem;background:#fff;}
.complain-btn-box button{width:100%;height:0.4rem;line-height: 0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0;background: #EA4341;border-radius: 0.2rem;}
.complain-item{background:#fff;border-bottom:1px solid #eaeaea;padding:10px;font-size:.14rem}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-size:22px!important;left: 5px;}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#EA4341!important}
.bottom-two-btn-box{padding:0 0.12rem;height:0.54rem;background: #fff;}
.bottom-two-btn-box button{width:50%;height:0.4rem;color:#fff;text-align: center;line-height: 0.4rem;margin:0.07rem 0;}
.bottom-two-btn-box .wst-dialog-b1{background:#FFAC2A;border-radius:0.2rem 0 0 0.2rem; }
.bottom-two-btn-box .wst-dialog-b2{background:#ED413B;border-radius:0 0.2rem 0.2rem 0;}
.bottom-two-btn-box .wst-dialog-b1:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b1.active{background:#F38F1A;}
.bottom-two-btn-box .wst-dialog-b2:not(.disabled):not(:disabled):active,.bottom-two-btn-box .wst-dialog-b2.active{background:#DB3735;}

.wst-list-infose1{width:90%;padding-left: 0px;padding-top: 8px;padding-bottom: 8px;position: relative;}
.wst-list-infose1 span{float:left;width:100%;height: 20px;line-height: 20px;font-size:0.14rem;color: #333;}
.wst-list-infose1 i{position: absolute;top:0;left:-13px;display: block;width:36px;height: 36px;}
.ui-list{position: relative;}
.ui-icon-push{position: absolute;top: 10px;right: 5px;width:32px;height: 36px;line-height: 36px;font-size: 0.32rem;}
.wst-se-line{padding:0px 10px;}
.wst-se-line p{border-bottom:1px solid #EDEDED;}
.wst-fr-score{padding-top:10px;}
.wst-fr-score span{color:#e00102;}
.btn-box{box-sizing: border-box;text-align: center;background: #EA4341;color: #fff;margin: 12px;border-radius: 40px;margin-top: 15%;height: 40px;line-height: 40px;font-size: 0.14rem;}

.wst-oc-describe{color:#333;font-size:0.14rem;}
.ui-list > li{
    margin-left: 0;
    padding:10px 12px;
}
.icon-right-arrow{display:inline-block;width:0.06rem;height:0.11rem;background: url(../img/icon-right-arrow.png) center center no-repeat;background-size:100%;margin-left:0.06rem;}
/* 上传图片 */
.uploadfile-box{background:#fff;position:relative;padding:0.1rem 0;}
.complainFileBox{min-height:0.8rem;width:calc(100% - 0.12rem);padding-left:0.12rem;}
.complainFileBox li{float:left;}
.complainFileBox img{width:0.8rem;height:0.8rem;margin:0 0.1rem 0.1rem 0;}
.edit_charts{position:relative}
.upload-icon-delete{display:block;width:0.16rem;height:0.16rem;background: url(../img/upload-del.png) center center no-repeat;background-size:100%;position: absolute;top:-0.05rem;right:0.05rem;}
.ui-icon,[class^="ui-icon-de"]{font-size:20px;position:absolute;left:32px;top:-1px;color:red;line-height:17px}
.webuploader-pick {padding: 5px 6px!important;}
.c-item {
    font-size: .15rem;
    height: 0.54rem;
    line-height: 0.54rem;
    background: #fff;
    padding-left: 0.1rem;
    margin-top: 10px;
}