.wst-ca-layout{background: #fff;margin-top:5px;display:block;overflow:hidden;padding: 5px;}
.wst-ca-layout img{max-width:75px;max-height: 75px;}
.wst-ca-10{float:left;width:10%;box-sizing:border-box}
.wst-ca-90{float:left;width:90%;box-sizing:border-box}
.wst-ca-24{float:left;width:24%;box-sizing:border-box}
.wst-ca-76{float:left;width:75%;box-sizing:border-box}
.wst-ca-50{float:left;width:50%;box-sizing:border-box}
.wst-ca-s{background:#fff;padding:10px 5px;margin-top:10px;font-size:.15rem;}
.wst-ca-s .shop{height:26px;line-height:26px;padding-bottom:3px;border-bottom:1px solid #edebeb}
.wst-ca-s .goods{padding:3px 0;border-bottom:1px solid #f1f1f1}
.wst-ca-s .nogoods{border:1px solid #de0301;background:#f8eeee}
.wst-ca-s .nogoods .noprompt{position:absolute;left:0;top:0;color:#fff;font-size:.15rem;background:#e00102}
.wst-ca-s .shopr{height:26px;line-height:26px}
.wst-ca-s .shopr p{float:left;width:86%;}
.wst-ca-s .shopr .shopicon{float:left;width:22px;height:26px;position: relative;background: url(../img/icon_dp.png) 0px 4px no-repeat;background-size: 87%;}
.wst-ca-s .shopl,.wst-ca-s .shopr,.wst-ca-s .goodsl,.wst-ca-se .totall,.wst-ca-s .nogoods{position:relative}
.wst-ca-s .shopl i{position:absolute;left:-2px;top:-9px}
.wst-ca-s .info{padding-left:5px}
.wst-ca-s .goodsl i{position:absolute;left:-2px;top:50%}
.wst-ca-s .goodsr .img{float:left;width:100%;height:70px;text-align:center;vertical-align:middle;display:block}
.wst-ca-s .goodsr .img a{width:100%;height:70px;display:table-cell;vertical-align:middle}
.wst-ca-s .goodsr .img a img{max-width:70px;max-height:70px}
.wst-ca-s .info .name{float:left;width:72%;font-size:.145rem;font-weight: 700;}
.wst-ca-s .info .price{float:right;width:28%;text-align:right;font-size:.13rem}
.wst-ca-s .info .spec{float:left;width:100%;padding:3px 0;color:#a6a6a6}
.wst-ca-s .bottom{height:23px;line-height:23px;font-size:.158rem;margin-top:8px}
.wst-ca-s .bottom .price{color:#de0202;text-align:right;}
.wst-ca-s .bottom .price span{font-size:0.13rem;}
.wst-ca-se{padding:0 5px;font-size:.165rem;height:42px;line-height:42px}
.opa-item{padding: 18px 12px;background: #fff;margin-top: 10px;font-size: 0.13rem;color: #333;}
.opa-flex-item{ display:flex;justify-content: space-between;align-items: center;}
#refundMoney{flex: 1;border: none;text-align: right;padding-left:10px;}
.service-remark{background: #f5f5f5; width: 100%; border-radius: 5px; border: none; box-sizing: border-box; height: 150px; padding: 10px;}
.upload-box{width: 75px; height: 75px; line-height: 75px; border: 1px solid #eee; border-radius: 5px; text-align: center; color: #666; font-size: 0.13rem;}
/*参数弹框*/
.wst-fr-box{position: fixed;z-index: 9999;bottom: 0px;width:100%;min-height:40%;background-color: #f6f6f8;font-size: 0.15rem;}
.wst-fr-box .title{position: relative;padding:6px 0px;background-color: #ffffff;border-bottom: 1px solid #f1f1f1;}
.wst-fr-box .title span{float: left;width: 100%;height: 26px;line-height: 26px;text-align: center;font-size: 15px;}
.wst-fr-box .title i,.wst-cart-box .title i{position: absolute;right:5px;top:-2px;font-size: 27px;background-image: none;}
.wst-fr-box .content{padding:8px 0px 50px 0px;}
.wst-fr-box .button,.wst-cart-box .button{position: absolute;left:3%;bottom:4px;width: 93%;height: 38px;line-height: 38px;color:#ffffff;background:#e00102;font-size: 0.15rem;border-radius:3px;border-bottom:1px solid #e00102;}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip: padding-box;}
.wst-list-infose1{width:90%;padding-left: 0px;padding-top: 8px;padding-bottom: 8px;position: relative;}
.wst-list-infose1 span{float:left;width:100%;height: 20px;line-height: 20px;font-size:0.14rem;}
.wst-list-infose1 i{position: absolute;top:0;left:-13px;display: block;width:36px;height: 36px;}
.fl{float: left;}
.tl-item:last-child{border:none;}
.tl-item{margin-bottom: 10px;padding: 10px 12px;display: flex;background: #fff;}
.tl-img{width: 50px;height: 50px;display: block;}
.tl-info{padding-left: 10px;flex: 1;font-size: 0.13rem;color: #333;}
.tl-r-t span{float: left;display: block;}
.tl-time{float: right !important;color: #9c9c9c;font-size: 0.11rem;}
.tl-log{font-size: 0.12rem;color: #666;margin-top: 10px;}
.wst-fr-box .content{background:initial;height: calc(100% - 0.47rem);}