.data-item {line-height: 0.44rem;text-align: left;font-size: 0.15rem;font-weight:400;color:rgba(51,51,51,1);padding:0rem 0.12rem;background: #FFFFFF;border-bottom: 0.01rem solid #F5F5F5;}
.data-title {color: #333333}
.money-fuhao{color: #EA4341;font-size: 0.14rem}
.money{color: #EA4341;font-size: 0.18rem}
.money-warn{color: #BFBFBF;font-size: 0.11rem;margin-top: -0.25rem}
.money-box{text-align:center;display:inline-block;width: 1.11rem;height: 0.69rem;background:rgba(255,255,255,1);border:0.01rem solid rgba(237,237,237,1);border-radius:0.1rem;margin-bottom: 0.15rem}
.money-title{font-size:0.18rem;font-weight:500;line-height:0.14rem;padding-top: 0.15rem}
.money-title-down{font-size:0.12rem;font-weight:400;line-height:0.15rem;opacity:0.7;margin-top: 0.12rem}
.data-input{width: 3.2rem;text-align:right;border:none;margin-left: 0.05rem}
.j-selected{background:rgba(234,67,65,1);border:0.01rem solid rgba(234,67,65,1);border-radius:0.05rem;color: #FFFFFF!important;}
.button {display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.button:not(.disabled):not(:disabled):active,.button.active{background:#DB3735;}
.contact{border:0;width:100%;}
.feedback-item{background:#fff;border-bottom:1px solid #eaeaea;padding:10px;font-size:.14rem}#content{min-height:130px}
.ui-checkbox input,.ui-checkbox-s input{height:18px}
.ui-checkbox input:before,.ui-checkbox-s input:before{left:43px;top:-6px;font-size:26px!important}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{color:#F04038!important}
.wechat {background: url(../img/weixinpay.png);background-repeat:no-repeat;background-size: 0.4rem 0.4rem;width: 0.4rem;height: 0.4rem;display: inline-block}
.zhifubao  {background: url(../img/zhifubaopay.png);background-repeat:no-repeat;background-size: 0.4rem 0.4rem;width: 0.4rem;height: 0.4rem;display: inline-block}
.pay-title{float: left;margin-left: 0.1rem;color: #B3B3B3;font-size: 0.12rem}