@CHARSET "UTF-8";
.wst-se-search {display: block;width: 3.14rem;height: 0.29rem;line-height: 0.29rem;padding: 0.07rem 0;margin-right:0.12rem;position: relative;}
.wst-shl-ads{margin-top:0.14rem;background:#fff;padding-bottom:0;border-bottom:0;}
.wst-ads-top{margin:0 0.12rem;padding:0.15rem 0;}
.wst-ads-top .ads-title{font-size:0.17rem;color:#000;font-weight: bold;}
.wst-ads-top .ads-tips{width:0.99rem;height:0.18rem;color:#fff;font-size:0.12rem;background: linear-gradient(to right, #FF5A0C 0%,#FF2E01 100%);margin-left:0.12rem;padding:0.01rem;text-align: center;}
.wst-shl-adsb{padding:0.1rem 0 0.1rem 0;background:#fff;border-top:1px solid #f3f3f3;}
.wst-shl-adsb img{width:0.95rem;height:0.95rem;display:block;}
.wst-shl-ads .wst-shl-adsb .swiper-slide{margin-left:0.1rem}
.wst-shl-head{background:#fff;font-size:0.14rem;color:#232326;margin-top:0.1rem;height:0.44rem;}
.wst-shl-head .choice{width:90%;height:0.44rem;line-height:0.44rem;margin:0 auto;}
.wst-shl-head .active{color:#EA4341;}
.wst-shl-head .active select{color:#333;font-weight: 600;}
.wst-shl-select select{color:#232326;height:0.44rem;line-height:0.44rem;padding-left: 0.3rem;padding-right:0;}
.wst-shl-select:after{color:#232326;}
.wst-shl-select.active:after{color:#de0202}
.ui-select:after{display:none}
#shops-list{padding-bottom:0.55rem;}
.wst-shl-head .evaluate{position:relative;text-align: center;color:#333;font-size: 0.14rem;font-weight: 600;}
.wst-shl-head .evaluate p i{width:0.06rem;height:0.1rem;position:absolute;right: 0.23rem;top:0.17rem;}
.wst-shl-head .sorts .up2{background: url(../img/icon-sort-up.png) center center no-repeat;background-size: 100%;}
.wst-shl-head .sorts .down{background: url(../img/icon-sort-default.png) center center no-repeat;background-size: 100%;}
.wst-shl-head .sorts .down2{background: url(../img/icon-sort-down.png) center center no-repeat;background-size: 100%;}
.wst-current{color:#e77f74}
.wst-shl-list{padding:0.1rem 0.12rem 0 0.12rem;margin-bottom:0.1rem;background:#fff; }
.wst-shl-list .img{width: 100%; float:left;text-align:center;vertical-align:middle;display:block;position:relative;font-size:0.15rem;}
.wst-shl-list .img a{width:100%;height:55px;display:table-cell;vertical-align:middle;}
.wst-shl-list .img a img{border-radius: 50%;}
.wst-shl-list .info{padding-left:16px}
.wst-shl-list .title{margin-bottom:0;font-size:0.14rem;color:#333;font-weight: bold;}
.wst-shl-list p{font-size:0.12rem;height:0.2rem;color:#666;}
.wst-shl-list p img{width:0.16rem}
.wst-shl-list p span{float:left}
.wst-shl-list p i{float:left;width: 0.14rem;height: 0.13rem;margin:0.01rem 0.03rem 0 0}
.wst-shl-list p .bright{background:url(../img/icon-star.png) center center no-repeat;background-size:100%}
.wst-shl-list p .dark{background:url(../img/icon-none-star.png) center center no-repeat;background-size:100%}
#info-list{padding:0.35rem 0 0 0.25rem;}
.goods-box{padding:0!important;}
.goodsImg a{width:100%;height:70px;display:table-cell;vertical-align:middle; }
.goodsImg img{width:70px;height:70px; }
.goods-item{margin-right: 5px;width:24%; position: relative;float:left;text-align:center;vertical-align:middle;display:block;font-size:0.15rem;}
.goods-item img{border:1px solid #eee;border-radius: 0.06rem;}
.goods-item a{position: relative;}
.goodsPrice{width:50% !important;height:0.16rem;opacity:0.5;color:#fff;background: #000;position: absolute;bottom:0.04rem;right:0.01rem;border-radius: 0.06rem 0 0.06rem 0;font-size: 0.11rem;padding:0.02rem;}
.shop-box{margin:10px 0;background:#fff}
.f-chk{position:absolute;top:85px;left:0}
.s-active{top:-90px;left:-10px}
.f-shop-header img{height:60px;width:60px;}
.f-shop-header{position:relative;padding:10px 0;min-height:75px!important}
.ui-row-flex-ver .ui-col{width:100%;height:initial}
.f-shopname{float:left;line-height:25px;font-size:.16rem}
.f-goshops{float:right;text-align:right;color:#f1f1f1;font-size:.15rem;height: 20px;}
.wst-action{margin-top: 5px;  ;display: inline-block;height: 0.22rem;width: 0.46rem;font-size: 0.13rem;color: #EA4341; line-height: 0.22rem;text-align: center;border-radius: 0.06rem;border: 1px solid #EA4341;}
.wst-distance{position: relative;top:0.2rem;bottom:0;right:0;font-size:0.11rem;}
.location-icon{ width: 20px;height:10px;position: absolute;float: none;left: -5px;top: -2px;background: url(../img/location-icon.png) 0px 2px no-repeat;background-size: 100%;}
.screen-icon{margin-left:0.08rem;display: block;width: 0.11rem;height: 0.11rem;line-height: 37px; background: url(../img/icon-screen.png) center center no-repeat;background-size: 100%;color:#6a6b6d;text-align:center;}

#screen{width:2.87rem;height:100%;position:fixed; top: 0;right:-91%;z-index: 9999;background: white;font-size: 0.16rem;}
.screen-top{overflow-x: hidden;}
#backgroundTier{width:100%;height:100%;position:fixed; top: 0;right:0;z-index: 9999;background: rgba(0,0,0,0.6);}
.screen-box{height:auto;color: #666;}
.screen-box1{height:auto;}
.screen-title{text-align: left;color:#333;font-size: 0.14rem;font-weight: 600;margin:0.2rem 0.14rem 0.1rem 0.14rem;}
.screen-box .option-box{height:auto; padding: 0.05rem 0.02rem 0.05rem 0.02rem;overflow: hidden;margin-left:0.1rem;}
.screen-box .expand{height: auto; max-height: none!important;}
.screen-box .option-box span{text-align:center;height: 20px;line-height: 20px;padding: 0.05rem 0.1rem;margin: 0.02rem 0.048rem 0.02rem 0.048rem;display: inline-block;overflow: hidden;border-radius: 0.14rem;background-color: #F2F2F2;color:#666;font-size:0.12rem;}
.screen-box1 .option-box1{height: auto;padding-left: 10px;padding-right: 13px;display: -webkit-box;color:#666;}
.screen-box1 .option-box1 .across{display: block;width: 8px;margin-left: 9px;margin-right: 9px;height: 18px;border-bottom: 1px solid #848689;}
.screen-box1 .option-box1 input{border: 1px solid transparent;}
.screen-box1 .option-box1 .section{background-color: #f0f2f5;padding: 0.0015rem 0.01rem 0.0015rem 0.01rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:center;line-height: 28px;margin: 5px;border-radius: 5px;}
.screen-box1 .option-box1 .section-end{}
.index-bnts{ height: 44px; overflow: hidden;padding:0 0.12rem 0.2rem 0;}
.index-bnts .left{width:0.89rem;height: 0.34rem;line-height:0.34rem;border-radius:0.17rem 0 0 0.17rem;background-color: #FCAD2A; color: #fff; font-size: 0.14rem; position: relative; text-align: center;}
.index-bnts .right{width:0.89rem;height: 0.34rem;line-height:0.34rem;border-radius:0 0.17rem 0.17rem 0;background-color: #EA4341; color: #fff; font-size: 0.14rem; text-align: center;}

.selected{background-color: white;color: #ED413B !important;border: 1px solid #ED413B;}
.transport{width:1rem;text-align:center;height: 0.2rem;line-height: 0.2rem; padding: 0.06rem 0.01rem 0.06rem 0.01rem;display: inline-block;margin: 0.02rem 0.037rem 0.02rem 0.032rem;border-radius: 5px;background-color: #f0f2f5;}
.arrow-base{display: inline-block; border-bottom: 1.5px solid #b0b0b0;border-left: 1.5px solid #b0b0b0;float: right;margin-right: 10px;width: 10px;height: 10px;}
.arrow{transform:rotate(-45deg);margin-top: 2px;}
.arrowed{transform:rotate(135deg);margin-top: 10px;}
::-webkit-input-placeholder{color: #666;}
#backgroundTier{position: fixed; left: 0px;top: 0px;background-color: #000;width: 100%;height: 100%;filter: alpha(opacity=60);opacity: 0.6;z-Index: 9999; display: none;}
.bar{position:absolute;top:7px;display:block; border-right: 1px solid #f1f1f1;height:25px;right: 10px;}
.wrap-lines{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:28%;}
.wst-shop-dialog{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;background: rgba(0, 0, 0, 0.5);display:none;}
.wst-shop-dialog-bg{width:2.84rem;height:3.14rem;background:url(../img/shop-dialog-bg.png) center center no-repeat;background-size:100%}
.wst-shop-dialog .title{color:#333;font-size:0.19rem;font-weight:bold;margin:1.81rem 0 0 1.06rem;}
.wst-shop-dialog .content{color:#999;font-size:0.14rem;margin:0.09rem 0 0 0.54rem;}
.wst-shop-dialog .btns{margin:0.2rem 0 0 0.38rem;}
.wst-shop-dialog .btns div{width:0.9rem;height:0.34rem;font-size:0.14rem;border-radius:0.17rem;text-align: center;line-height:0.34rem;}
.wst-shop-dialog .btns .left{color:#666;border:1px solid #ebebeb;background:#fff;}
.wst-shop-dialog .btns .right{color:#fff;background: #EA4341;margin-left:0.28rem;}
.shop-dialog-show{display:flex;}
.shop-dialog-hide{display:none;}
.classify .shops1 li,.classify .shops2 li{height:0.44rem;margin-left:0;padding:0 0.13rem 0 0.12rem;}
.classify .shops1 li h4,.classify .shops2 li h4{color:#333;font-size:0.14rem;}
.classify .shops1 li .ui-txt-info,.classify .shops2 li .ui-txt-info{color:#666;font-size:0.13rem;}