@CHARSET "UTF-8";
body{background: #fff;}
.wst-shop{padding-top:5px}
.wst-shop-home-bg{margin:0 auto;width:100%;height:1.8rem;background:url(../img/default_shopbanner.jpg) center top no-repeat;background-size:cover}
.wst-shop-photo{width:0.44rem;height:0.44rem;margin:0 auto;padding-top:0.2rem;padding-bottom:0.1rem;}
.wst-shop-photo img{width:100%;height:100%;border-radius:0.03rem;background:#fff;}
.wst-shop-name{font-size:0.15rem;font-weight: 600;}
.wst-shop-name{width:100%;text-align:center;color:#fff;height:0.15rem;}
.shop-home-btn-box{width:70%;margin:0.15rem auto 0.1rem auto;height:30px}
.shop-home-btn img{position:absolute;width:16px;height:15px;margin-top:4px;left:8px}
.shop-home-btn{position:relative;background:transparent;height:0.25rem;line-height:0.25rem;color:#fff;font-size:.12rem;width:0.9rem !important;border-radius: 0.13rem;border:1px solid #fff;}
.shop-home-btn:before{border: none;}
.shop-home-btn:not(.disabled):not(:disabled):active{background:transparent;color:#fff;}
.f-btn,.f-btn:not(.disabled):not(:disabled):active{background:#ED413B;color:#fff}
.f-btn:before{border: none;}
.score-box{margin:0 auto;width:100%;height:35px;}
.score-item{color:#fff;padding-top:5px;text-align:center;font-size:.13rem;}
.wst-shop-home-info{font-size:.14rem;width:100%;}
.wst-shop-home-view{margin-top:8px;width:100%;height:80px;position:fixed}
.shop-info li{height:0.49rem;line-height:0.49rem;border-bottom:1px solid #e7e7e7;color:#333;font-size:0.14rem;padding:0 0.12rem;}
.shop-info li span{color:#666;display: inline-block;margin-left:0.1rem;}
.shop-qrcode{margin-top:0.25rem;padding-bottom:30px;text-align:center}
#qrcode img{width:1.05rem;height:1.05rem;}
.score-box .score-item .score-text{font-size:0.14rem;}

.shop-info .item-address,.shop-info .item-acc{height: auto;line-height: 0.3rem;vertical-align: middle;padding-bottom: 0.1rem;padding-top: 0.1rem;}
.shop-info .item-address .title,.shop-info .item-acc .title{position: absolute;}
.shop-info .item-address .accbox,.shop-info .item-acc .accbox{margin-left: 0.8rem;}
.shop-info lable{display: inline-block;margin-right: 0.1rem;}
.shop-info .accimg{height:0.15rem;width: 0.15rem;margin-right: 0.03rem;}