html {background: #F5F5F5}
.wst-ad-footer {position: fixed;z-index: 100;bottom: 0.15rem;left: 0;width: 100%;height: 44px;}
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before {color: red;}
.button{ margin-top: 0.2rem;display: block;width: 92%;height: 0.4rem;margin-left: 4%;border-bottom: 1px solid #e00102;border-radius: 0.2rem;background: #F04038;font-size: 0.14rem;font-weight:400;color:rgba(255,255,255,1);line-height:0.24rem;}
.data p {line-height: 0.3rem}
.invoicesType {background: orange;padding:0.04rem 0.08rem;color: white;border-radius: 0.06rem;}
.invoicesData {margin-top: 0.4rem;font-size:0.14rem;margin-bottom: 0.4rem}
.addData {margin-top: 0.4rem;font-size:0.14rem;margin-bottom: 0.4rem;}
.data {padding:  0.15rem 0.12rem;background: #FFFFFF;margin-bottom: 0.1rem;}
.inputItem {border-bottom: 0.005rem solid #f2f2f2;font-size: 0.14rem;color: #333333;font-family: PingFangSC-Regular;line-height: 0.49rem;height: 0.49rem;padding: 0rem 0.18rem;background: #FFFFFF;}
.inputItem input {border:none;}
.data-text {height: 200px;border:none;width:100%;}
.apply-box{text-align: center;}
.back-center{height:0.4rem;background:#EA4341;color:#fff;border-radius: 0.2rem;display: block;text-align: center;line-height: 0.4rem;width: 2rem;margin: 0 auto;}
.back-center:active{background:#DB3735;}
.apply-after{width: 1.18rem;height: 1.02rem;}
.apply-after-btn{width: 2.43rem;height: 0.74rem;}
.apply {width: 100%;padding-top: 1.3rem;background: #FFFFFF;height: 80%}
.apply-title{font-size:0.18rem;font-weight:bold;color:rgba(51,51,51,1);text-align: center;}
.apply-title2{font-size:0.14rem;color:#999999;text-align: center;padding-bottom: 0.3rem}