@CHARSET "UTF-8";
body{background: #fff;}
.ui-footer ~ .ui-container{border: 0px solid transparent;}
#goods-list{padding-bottom:0.55rem;}
.wst-se-search {padding:0.07rem 0;}
.wst-icon-search{width:0.15rem;height:0.15rem;background: url(../img/icon-search-white.png) center center no-repeat;background-size: 100%;margin:0.15rem 0.12rem;}
.wst-se-header2 .ui-icon-return {color: #59595c;}
.wst-se-header3{position: absolute;padding-left: 0;background: transparent;border-bottom: 0px;padding:0;}
.wst-se-search2{width: 66%;margin-right: 23%;}
.wst-se-search2 input{background: rgba(255,255,255,0.5);}
.wst-se-search2 input::-webkit-input-placeholder {color:#fff;}
.wst-se-search2 input:-moz-placeholder {color:#fff;}
.wst-se-search2 input::-moz-placeholder {color:#fff;}
.wst-se-search2 inputt:-ms-input-placeholder {color:#fff;}
.wst-se-header3 .ui-icon-return,.wst-se-header3 .ui-icon-search{color: #fff;}
.wst-se-icon0{background: url(../img/classify.png) center center no-repeat;background-size: 100%;top:0.11rem;right:0.1rem;}
.wst-se-icon2{background: url(../img/cart.png) center center no-repeat;background-size: 100%;top:0.11rem;right:0.45rem;}
.wst-se-icon2 i{display: inline-block;text-align: center;background: #de0202;color: #fff;height: 15px;line-height: 15px;border-radius: 10px;padding: 0 5px;background-clip: padding-box;font-size: .1rem;position: absolute;top: -5px;left: 15px;}
.wst-sh-banner{display: block;width:100%;height:1.8rem;background:url(../img/default_shopbanner.jpg) center top no-repeat;background-size:cover}
.shop-banner{width:100%;}
.shop-photo{position: relative;margin:0.22rem 0 0 0.13rem;}
.shop-photo .photo{border-radius: 0.03rem;}
.shop-photo .photo img{width:0.44rem;height:0.44rem;border-radius: 0.03rem;background: #fff;}
.shop-photo .photo .info{height:0.44rem;padding:0.04rem 0 0 0.1rem;}
.shop-photo .photo .info p{line-height:0.15rem;}
.shop-photo .photo .name{font-size:0.15rem;font-weight: 600;color:#fff;}
.shop-photo .photo .area{font-size:0.13rem;color:#fff;margin-top:0.1rem;}
.shop-photo .photo .follow-info{width:0.8rem;height:0.25rem;border-radius:0.13rem;background:rgba(234,67,65,0);color:#fff;font-size: 0.12rem;text-align: center;line-height: 0.25rem;border:1px solid #fff;margin-right:0.12rem;}
.shop-photo .photo .follow-info.follow{background:#EA4341;color:#fff;border:0;}
.shop-photo .photo .follow-info .icon{display:block;width:0.13rem;height:0.12rem;background: url(../img/follow-shop.png) center center no-repeat;background-size: 100%;margin:0 0.07rem 0 0.07rem;}
.shop-photo .introduce{float:right;margin:0.1rem 0.1rem 0 0;font-size:0.14rem;color:#fff;}
.shop-info{padding-top:0.8rem;text-align:center;font-size:0.13rem;}
.shop-btn{height:0.4rem;margin-top:0.19rem;font-size:0.14rem;padding:0 0.26rem;}
.shop-btn .icon-shop{width:0.14rem;height:0.14rem;margin-right:0.05rem;background: url(../img/icon-shop.png) center center no-repeat;background-size: 100%;}
.shop-notice{padding:0.15rem 0.12rem;font-size:0.13rem;border-bottom: 0.1rem solid #f2f1f1;}
.shop-notice .title{margin-bottom:0.1rem;font-size:0.15rem;color:#333;}
.shop-ads{width:100%;}
.wst-gol-adsb{padding:0.15rem 0 0.15rem 0;height:110px;background:#fff;font-size:0.13rem;}
.wst-gol-adsb p{float:left;width:100%;color:#EA4341;text-align:center;font-size:0.11rem;margin-top:0.05rem;}
.wst-gol-img{float:left;width:1rem;height:1rem;text-align:center;vertical-align:middle;display:block;position:relative;}
.wst-gol-img a{width:1rem;height:1rem;display:table-cell;vertical-align:middle}
.wst-gol-img a img{width:1rem;height:1rem}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-100%;top:0;width:100%;height:100%;background:#f6f6f8;}
.wst-fr-box .title,.wst-cart-box .title{position:relative;border-bottom:1px solid #f6f6f8;;background:#fff;height:0.44rem;line-height:0.44rem;text-align:center;font-size: 0.18rem;color:#333;font-weight: 600;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;top:0;right:0.12rem;font-size:27px;font-weight: normal;}
.wst-fr-box .button,.wst-cart-box .button{position:absolute;left:3%;bottom:0;width:93%;font-size:.185rem;height:40px;line-height:40px;color:#fff;background:#e00102;border-bottom:1px solid #e00102}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-fr-box .title i{display:inline-block;width:0.22rem;height:0.22rem;position:absolute;left:0.12rem;top:0.12rem;background:url(../img/page-left-arrow.png) center center no-repeat;background-size:100%;}
.ui-scrollerl{width:24%;height:100%;overflow:hidden;position:fixed;background: #f5f5f5;}
.ui-scrollerl li{padding:0.14rem 0;font-size:0.12rem;text-align:center;background: #F5F5F5;}
.wst-goodscate{color: #333;font-weight: normal;}
.ui-scrollerl .wst-goodscate_selected{color:#333;background:#fff;font-size:0.14rem;font-weight: 600;position: relative;}
.ui-scrollerl .wst-goodscate_selected::after{content:" ";position: absolute;top: 0.14rem;left: 0;display: inline-block;width: 0.03rem;height:0.18rem;border-radius: 0.02rem;background: #EA4341;}
.wst-scrollerr{width:76%;float:right}
.wst-scrollerr li{float:left;width:100%;font-size:.15rem;color:#000}
.wst-goodsca{height:35px;background:#fff;margin-bottom:8px;}
.wst-goodsca span{float:left;color: #333;margin-top:0.13rem;margin-left:0.18rem;padding-left:0.06rem;border-left:2px solid #EA4341;font-size: 0.14rem;font-weight: 600;}
.wst-goodsca i{float:right;height:35px;color:#666;}
.wst-goodscat{float:left;width:94%;padding:0.16rem 0.12rem 0 0.25rem;}
.wst-goodscats{float:left;width:94%;padding:0 0 12px 8px}
.wst-goodscat span{float:left;width:44%;padding:0.09rem 0;text-align:center;background:#f6f6f6;color: #f333;font-size: 0.12rem;margin:0 0.12rem 0.1rem 0;}
.wst-goodscat span a{color:#333}
.notice{display:flex;align-items:center;padding:5px;margin-bottom:5px;background:#fff}
.notice_img{width:20px;height:20px}
.notice_txt{min-height:30px;flex:1;padding-left:6px}
#map{width: 100%;height: 94%;}
.location-icon{display: inline-block; width: 0.15rem;height:0.18rem;background: url(../img/location-icon2.png) 0px 2px no-repeat;background-size: 100%;}
.wst-shl-ads .wst-shop-hot-bg{background:url(../img/img_titlebg2.png) center no-repeat;background-size:28%;}
.wst-shl-ads .swiper-container1 .swiper-slide{margin-left:0.1rem;width:1rem !important;}
.wst-in-goods-tab{background: #f6f6f8;padding-bottom:0.6rem;}
.wst-in-goods-tab  .g_ui_tab{width: 100%;overflow: hidden;}
.wst-in-goods-tab  .g_tab_nav{width: 100%;height: 0.45rem;line-height:0.45rem;padding: 0;background: #fff;overflow-x: scroll;}
.wst-in-goods-tab  .g_tab_nav::-webkit-scrollbar{display:none}
.wst-in-goods-tab  .g_tab_nav .g_tab_item{-webkit-box-flex: 1;color: #333;box-sizing: border-box;border-bottom: 2px solid transparent;font-size: .13rem;text-align: center;display: inline-block;height:0.45rem;line-height: 0.45rem;min-width:1rem;}
.wst-in-goods-tab  .g_tab_nav .active::after{content:" ";position: absolute;bottom: 0;left: 0.36rem;display: inline-block;width: 0.33rem;height:0.03rem;border-radius: 0.01rem;background: #EA4341;}
.wst-in-goods-tab  .g_tab_content {margin: 0.1rem 0.12rem 0 0.12rem;min-height: 7rem;}
.wst-in-goods-tab  .g_tab_hide {display: none;}
.wst-in-goods-tab  .g_tab_show {display: block!important;}
.wst-index-goods{width:49%;height:2.54rem;box-sizing: border-box;font-size:0.14rem;background:#fff;color: #232326;font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;margin-bottom: 0.1rem;}
.wst-index-goods.left{margin-right: 0.035rem;}
.wst-index-goods.right{margin-left: 0.035rem;}
.wst-index-goods .img{margin:0.05rem;text-align:center;vertical-align:middle;display:block;position:relative;margin-bottom:0.15rem;}
.wst-index-goods .img a{display:block;vertical-align:middle;}
.wst-index-goods .img a img{width:1.61rem;height:1.61rem;}
.wst-index-goods .name{height:0.34rem;line-height:0.17rem;padding:0 0.11rem;font-size: 0.13rem;}
.wst-index-goods .info{font-size:0.11rem;padding:0.16rem 0.08rem 0.15rem 0.11rem;}
.wst-index-goods .info .price{color: #FC673C;font-size:0.12rem;font-weight: bold;}
.wst-index-goods .info .deal{color: #999;font-size:0.11rem;}
.wst-load-text{color:#333;font-size:0.12rem;}
