@CHARSET "UTF-8";
body{background:#fff;color:#333333;}
.wst-users_info{background: url(../img/user.png) center  top no-repeat;background-size: cover;width:100%;color:#fff;position: relative;}
.wst-users_infol{float:left;}
.wst-users_infol img{width:0.56rem;height:0.56rem;object-fit:cover;border-radius:1000px;border: 2px solid #f2f1f1;}
.wst-users_infor{float:left;padding-left:0.1rem;}
.wst-msg-icon{position: absolute;display: block;right:0.12rem;top:0.12rem;width:0.22rem;height:0.22rem;background: url(../img/icon-message-white.png) center center no-repeat;background-size: 100%;}
.wst-msg-icon .number{position: absolute;top:-0.03rem;right:-0.1rem;min-width:0.16rem;display: inline-block;text-align: center;background: #f74c31;color: #fff;font-size: 0.1rem;height: 15px;line-height: 15px;-webkit-border-radius: 8px;padding: 0 3px;background-clip: padding-box;}
.wst-info-icon{position: absolute;top:0.12rem;right:0.46rem;width:0.22rem;height:0.22rem;line-height: 26px;color: #fff;font-size: 0.28rem;background: url(../img/icon-setting.png) center center no-repeat;background-size: 100%;}
.wst-users_infortop{margin-top:0.1rem;font-size:.15rem;color:#FAFAFA;font-weight: 600;}
.wst-users_infortop img{position: relative;top:2px;left:5px;width: 15px;height: 15px;}
.wst-users_inforbo{font-size:.12rem;color:#FAFAFA;margin-top:0.05rem;}
.wst-users_icon{padding:0.15rem 0;background:#FFF;margin:0 0.12rem;width:auto;border-radius:0 0 0.06rem 0.06rem;}
.wst-users_icon span{font-size:.13rem}
.wst-users_icon p{margin:0 auto 0.1rem auto;width:0.23rem;height:0.23rem}
.wst-users_icon p i{float:left;width:0.23rem;height:0.23rem;background-size: 100%;}
.wst-users_capital{padding:0.15rem 0;background:#FFF;margin:0 0.12rem;width:auto;border-radius:0 0 0.06rem 0.06rem;}
.wst-users_capital .capital-num{font-size:0.2rem;color:#333;font-weight: bold;}
.wst-users_capital .capital-text{font-size:0.12rem;color:#666;}
.wst-users_capital p{font-size: 0.165rem;color: #ec5151;padding:0 0.1rem ;}
.wst-users_capital span{font-size:.13rem}
.wst-us-sign{float:left;width:100%;position: relative;}
.wst-us-sign .sign{position: absolute;right:0;bottom:-0.1rem;width:0.74rem;height:0.24rem;background: url(../img/sign-icon.png) center center no-repeat;background-size: 100%;}
.wst-us-sign .sign2{background: url(../img/sign-icon2.png) center center no-repeat;background-size: cover;}
.user-order{margin:0.1rem 0.12rem 0 0.12rem;font-size:0.15rem;background:#ffffff;border-radius: 0.06rem;border-bottom:1px solid #f2f1f1;}
.user-order .button {width: calc(100% - 1.39rem);font-size: 0.14rem;height: 0.29rem;line-height: 0.29rem;color: #DD1A21; background: #fff;border-radius: 0.15rem;margin: 0.1rem auto;background: #f2f2f2;display: block;}
.user-order .order-icon{float:left;width:17px;height:17px;margin-right:5px;background:url(../img/user-order-icon.png) no-repeat;background-size:cover;}
.user-order .wallet-icon{float:left;width:17px;height:17px;margin-right:5px;background:url(../img/user-wallet-icon.png) no-repeat;background-size:cover;}
.user-order .tool-icon{float:left;width:17px;height:17px;margin-right:5px;background:url(../img/user-tool-icon.png) no-repeat;background-size:cover;position: relative;top:1px;}
.user-order .order{padding:0 0.15rem;height:0.58rem;line-height:0.58rem;}
.user-order .order li{font-size:0.15rem;color:#333;font-weight: 600;}
.user-order .order .view-order{text-align:right;font-size:.12rem;color:#999}
.wst-users_icon .order-text{font-size:0.11rem;color:#333;}
.wst-users_tools{background: #fff;margin:0 0.12rem 0.25rem 0.12rem;width:auto;padding:0.2rem 0.12rem 0.15rem 0.12rem;border-radius:0 0 0.06rem 0.06rem;}
.wst-users_icon1,.wst-users_icon2,.wst-users_icon3,.wst-users_icon4,.wst-users_icon5{background-size:100%}
.wst-users_icon1{background:url(../img/icon-order1.png) center center no-repeat;}
.wst-users_icon2{background:url(../img/icon-order2.png) center center no-repeat;}
.wst-users_icon3{background:url(../img/icon-order3.png) center center no-repeat;}
.wst-users_icon4{background:url(../img/icon-order4.png) center center no-repeat;}
.wst-users_icon5{background:url(../img/icon-order5.png) center center no-repeat;}
.wait-payment{height:16px;line-height:16px;font-size:.11rem!important;position:absolute;left:16px;top:-7px;min-width:16px;text-align:center;color:#fff;background:#ED413B;padding:0;border-radius:50%;right:0}
.msg-red-icon{top:-53px;left:57px}
.border-b{border-bottom:1px solid #e7e7e7}
.user-icon-box{padding:5px 0;min-width:24%;min-height:85px;padding-bottom:5px;background:#fff;}
.user-icon-box span{font-size:0.11rem;color:#333;}
.user-icon-box:active{background:#e7e7e7!important}
.user-icon-box p{margin:0 auto;width:0.35rem;height:0.35rem}
.user-icon-box i{float:left;width:0.35rem;height:0.35rem;background-size: 100%;margin-bottom:0.1rem;}
.user-icon1{background:url(../img/icon-user1.png) center center no-repeat;}
.user-icon2{background:url(../img/icon-user2.png) center center no-repeat;}
.user-icon3{background:url(../img/icon-user3.png) center center no-repeat;}
.user-icon4{background:url(../img/icon-user4.png) center center no-repeat;}
.user-icon5{background:url(../img/icon-user5.png) center center no-repeat;}
.user-icon6{background:url(../img/icon-user6.png) center center no-repeat;}
.user-icon7{background:url(../img/icon-user7.png) center center no-repeat;}
.user-icon8{background:url(../img/icon-user8.png) center center no-repeat;}
.user-icon9{background:url(../img/icon-user9.png) center center no-repeat;}
.user-icon10{background:url(../img/icon-user10.png) center center no-repeat;}
.user-icon11{background:url(../img/icon-user11.png) center center no-repeat;}
.wst-users_list{border-top:2px solid #ededed}
.wst-users_list1{border-top:2px solid #ededed;border-bottom:2px solid #ededed}
.wst-list-thumb-sus{width:50px;height:50px;position:relative}
.wst-list-thumb-sus>span{display:block;width:100%;height:100%;z-index:1;background-repeat:no-repeat;-webkit-background-size:cover}
.ui-list>li{margin-left:0}
.wst-users_chart1{background:url(../img/mine-icon.png) 2px 0 no-repeat}
.wst-users_chart2{background:url(../img/mine-icon.png) -46px 0 no-repeat}
.wst-users_chart3{background:url(../img/mine-icon.png) -100px 0 no-repeat}
.wst-users_chart4{background:url(../img/mine-icon.png) -149px 0 no-repeat}
.wst-users_chart5{background:url(../img/mine-icon.png) -199px 0 no-repeat}
.wst-users_chart6{background:url(../img/mine-icon.png) -246px -1px no-repeat}
.wst-users_chart7{background:url(../img/mine-icon.png) -292px -1px no-repeat}
.ui-badge-corner{border:0}
.wst-message_icon{position:absolute;height:19px;line-height:19px;font-size:12px;min-width:19px;-webkit-border-radius:10px;top:17px;left:110px;display:inline-block;text-align:center;background:#f74c31;color:#fff;font-size:11px;height:16px;line-height:16px;-webkit-border-radius:8px;padding:0 6px;background-clip:padding-box}
.wst-lo-choice{margin:50px 20px 0 20px;border-radius:10px;padding-bottom:20px;font-size:.158rem}
.wst-lo-choice .img{text-align:center}
.wst-lo-choice .img img{width:65px;border:2px solid #d4d3d3;border-radius:1000px;padding:2px}
.wst-lo-choice .name{height:50px;line-height:50px;text-align:center;font-weight:bolder}
.wst-lo-choice .prompt{height:20px;line-height:20px;text-align:center;padding-bottom:42px}
.wst-lo-choice .choice{text-align:center}
.wst-lo-choice .choice .button0{width:100%;height:38px;border-radius:1000px;font-size:.159rem;color:#fff;background:#04be02}
.wst-lo-choice .choice .button0:not(.disabled):not(:disabled):active{color:#f7fdf7;background:#06c804;background-clip:padding-box}
.wst-lo-choice .choice .button1{width:100%;height:38px;border-radius:1000px;font-size:.159rem;color:#59595c;background:#fff;border:1px solid #d4d3d3;margin-top:10px}
.wst-lo-choice .choice .button1:not(.disabled):not(:disabled):active{color:#56565d;background:#f8f7f7;background-clip:padding-box}
.wst-lo-frame{font-size:.14rem;margin-top:8px;padding:0.12rem 0.22rem 0.1rem 0.22rem;background:#fff}
.wst-lo-frame .frame-head{}
.wst-lo-frame .frame-head h2{font-size:0.19rem;font-weight: bold}
.wst-lo-frame .frame-head .tip{color:#B3B3B3;font-size: 0.12rem;margin-top:0.05rem;display:block;}
.wst-lo-frame .frame span,.wst-lo-frame .verify div{font-size: 0.14rem}
.wst-lo-frame .frame{margin-top:0.25rem;}
.wst-lo-frame .frame{padding:0.05rem 0px;position: relative;}
.wst-lo-frame .frame p{display: inline-block;float: right;margin-right: 20px;}
.wst-lo-frame .frame:after {content: '';position: absolute;bottom: 0;left: -50%;width: 200%;height: 0.01rem;background: #d9d9d9;-webkit-transform: scale(0.5);}
.wst-lo-frame .frame input{width:100%;height:0.38rem;border:0;font-size:.15rem;}
.wst-lo-frame .verify{margin-top:0.25rem;padding:0.05rem 0px;border:0;position: relative;}
.wst-lo-frame .verify:after {content: '';position: absolute;bottom: 0;left: -50%;width: 200%;height: 0.01rem;background: #d9d9d9;-webkit-transform: scale(0.5);}
.wst-lo-frame .verify input{width:60%;height:0.38rem;border:0;font-size:.14rem;}
.wst-lo-frame .verify .send{line-height:0.4rem;color:#EA4341;background:#fff;font-size:.14rem;width:40%;text-align:right;float:right;}
.wst-lo-frame .verify .sendEmail{line-height:0.4rem;color:#EA4341;background:#fff;font-size:.14rem;width:40%;text-align:right;float:right;}
.wst-lo-frame .verify img{float:right;height:0.36rem;width:40%;border-top-right-radius:2px;border-bottom-right-radius:2px}
.wst-lo-button{padding:0.3rem 0.22rem 0 0.22rem}
.wst-lo-button .button{width:100%;bottom:10px;margin-bottom:6px;height:0.4rem;line-height:0.4rem;color:#fff;background:#EA4341;font-size:.14rem;border-radius:0.2rem;border:1px solid #ff3c3c;}
.wst-lo-button .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-999px;bottom:0;width:100%;min-height:40%;background:#fff;font-size:.15rem}
.wst-fr-box .title,.wst-cart-box .title{position:relative;padding:6px 0;border-bottom:1px solid #f1f1f1}
.wst-fr-box .title span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:16px;}
.wst-fr-box .title i,.wst-cart-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .codebutton{float:right;width:70%;padding:0 10px;font-size:.12rem;height:36px;line-height:36px;margin-right:10px}
.wst-lo-term{margin-top:0.2rem;padding:0 0.22rem;}
.wst-lo-term .term{color: #7f7f7f;font-size:.13rem}
.wst-lo-agreement{position: relative;height:0.2rem;line-height:0.2rem;padding: 0.12rem 0.22rem 0.1rem 0.47rem;font-size:.12rem;}
.wst-lo-agreement i{position: absolute;top:-1px;left:0.17rem}
.wst-lo-agreement span{color: #ff3c3c;}
.wst-fr-protocol{position: fixed; z-index: 9999; right: -999px; top:0px; width: 100%; height: 100%; background: #ffffff; font-size: 0.15rem; color:#000;}
.wst-fr-protocol .title{height: auto;color: #222;position: relative;background: #ffffff;border-bottom: 1px solid #e8e8e8;}
.wst-fr-protocol .title span{float: left;width: 100%;height: 41px;line-height: 41px;text-align: center;font-size: 16px;}
.wst-fr-protocol .title i{position: absolute;right:5px;top:-1px;color: #222;font-size: 27px;}
.wst-fr-protocol .content{padding:10px;}
.wst-fr-protocol .content img{width: 100%;}
.reg-change{margin-bottom:20px;}

.ui-tab-nav{width:62%;height:40px;float:right;margin-right:70px}
.ui-tab-nav li.active{color:#777;border-bottom:2px solid #de0202;color:#de0202}
.ui-tab-nav li{height:42px;line-height:42px;font-size:.16rem;}
.icon-right-arrow{display:inline-block;width:0.06rem;height:0.11rem;background: url(../img/icon-right-arrow.png) center center no-repeat;background-size:100%;margin-left:0.06rem;}
.bind-phone{width:0.8rem;background:#999;padding:5px 10px;border-radius: 50px;margin:5px 0 0 5px;text-align: center;}

.ui-list-text > li, .ui-list-pure > li{padding-top:0px;padding-bottom:0px;}
.ui-list:not(.ui-list-text) li > p, .ui-list li > h5{color:#333333;}
.wst-se-l .line{border-bottom:1px solid #f1f1f1;height:0.44rem;padding-left:0.12rem;}
.wst-se-l .line .phone{background:url(../img/forget_phone.png) no-repeat center center; width:0.3rem;height:0.3rem;display: block;background-size: 70%;}
.wst-se-l .line .email{background:url(../img/forget_email.png) no-repeat center center; width:0.3rem;height:0.3rem;display: block;background-size: 60%;}
