@CHARSET "UTF-8";
body{background: #fff;}
.ui-list-text > li, .ui-list-pure > li{padding-top:0px;padding-bottom:0px;}
.ui-list:not(.ui-list-text) li > p, .ui-list li > h5{color:#333333;}
.wst-se-l .line{border-bottom:1px solid #f1f1f1;height:0.44rem;}
.wst-se-l span{width:23px;height:23px;display:block;margin-right:6px}
.wst-se-pay{font-size:.18rem;margin-top:8px;padding:12px 10px 2px 10px;background:#fff}
.wst-se-pay .pay{padding-bottom:10px}
.wst-se-pay .pay input{width:100%;padding:2px 2px 2px 5px;height:36px;border-radius:2px;border:1px solid #a0a0a0;font-size:.14rem;}
.wst-se-footer{position:fixed;width:100%;z-index:100;left:0;bottom:0}
.wst-se-footer .button{position:absolute;left:3%;bottom:10px;width:93%;margin-bottom:6px;font-size:.15rem;height:38px;line-height:38px;color:#fff;background:#e00102;border-radius:3px;border-bottom:1px solid #e00102}
.wst-se-footer .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip:padding-box}
.wst-se-pay .verify{border-radius:2px;margin-bottom:10px;border:1px solid #a0a0a0}
.wst-se-pay .verify input{width:60%;padding:2px 2px 2px 5px;height:36px;border-top-left-radius:2px;border-bottom-left-radius:2px;border:0;font-size:.14rem;}
.wst-se-pay .verify button{float:right;height:36px;width:40%;border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;font-size:.14rem;}
.wst-se-pay .verify img{float:right;height:36px;width:40%;border-top-right-radius:2px;border-bottom-right-radius:2px}
.wst-se-pay .phone{padding:10px;font-size:.15rem;}
.wst-se-back{padding:10px;font-size:.14rem;}
.wst-se-back a{color: #999;}
.logout{padding: 0.44rem 0.12rem; }
.logout-btn {width:100%;font-size:0.15rem;height: 0.4rem;border-radius: 0.2rem;line-height:  0.4rem;background: #EA4341;}
.logout-btn:not(.disabled):not(:disabled):active,.logout-btn.active{color:#fff;background:#DB3735;background-clip:padding-box}
.wst-about{width: 99.2%;height: auto;}
.wst-about p{text-align: center;font-size: .15rem;color: #777;font-weight: bold;}
.wst-about .wst-brand{width: 1.50rem;height: 0.75rem;margin: 60px auto;margin-bottom: 10px;}
.wst-about .wst-brand img{width: 100%;height: 100%;}
.wst-about span{width:20px;height:20px;display:block;margin-left: 14px; margin-right:6px;}
.wst-contact{width: 100%;margin: 0 auto;float: right;margin-top:0.42rem;}
.wst-contact li{height:0.44rem;line-height: 0.44rem;border-bottom:1px solid #f1f1f1;}
.wst-contact li h5{width:50%;}
