@CHARSET "UTF-8";
.head{min-height:1rem;color:#FFFFFF;background:url(../img/user-scores.png) no-repeat;background-size:cover;}
.head2{min-height:1rem;color:#FFFFFF;background:url(../img/user-scores2.png) no-repeat;background-size:cover;}
.head-btn{padding:0 0.1rem;font-size:0.3rem}
.user_scores{font-size:0.15rem;margin-top: 0.25rem;}
.user_scores p{text-align: right;}
.ui-btn-lg{font-size:14px;height:24px;line-height:23px;display:block;width:100%;border-radius:3px;background:transparent;border:1px solid #fff;color:#fff}
.ui-btn-lg:active{background:#fff!important;border:1px solid #ff5e45!important;color:#ff5e45!important}
.score-detail{padding:10px}
.score-detail-title{padding:0.12rem;font-size:0.17rem;border-bottom:1px solid #F4F4F4;font-weight: bold;background: #FFFFFF}


.score-line{border-bottom:1px solid #eaeaea;margin-bottom:5px;margin-top:8px}
.wst-re-info{font-size:.14rem;position: relative;}
.score-time{position: absolute;bottom:0;left:0;color:#8c8c8c;font-size:0.12rem;}
.wst-cover{position:fixed;left:0;top:0;background-color:#000;width:100%;height:100%;filter:alpha(opacity=60);opacity:.6;z-Index:9999;display:none}
.wst-fr-box{position:fixed;z-index:9999;right:-999px;bottom:0;width:100%;min-height:40%;background-color:#f6f6f8;font-size:.15rem}
.wst-fr-box .title{height: auto;background: #fff;position: relative;padding: 6px 0;border-bottom: 1px solid #f1f1f1;}
.wst-fr-box .title span{float: left;width: 100%;height: 26px;line-height: 26px;text-align: center;font-size: 14px;}
.wst-fr-box .title i{position:absolute;right:5px;top:-2px;font-size:27px}
.wst-fr-box .content{padding:5px 5px 5px 5px;}
#score-list{padding-bottom:0.35rem;}

.score-item {border-bottom: 0.01rem solid #F4F4F4;background: #FFFFFF;padding-left: 0.12rem;padding-right: 0.12rem;padding-top: 0.13rem}
.score-reduce{font-size:0.12rem;font-weight:400;color:rgba(179,179,179,1);line-height:0.2rem;float: left}
.score-plus{font-size:0.14rem;font-weight:400;color:rgba(51,51,51,1);line-height:0.2rem;float: left;width: 80%}
.score{font-size:0.14rem;font-weight:600;color:rgba(56,171,11,1);float: right;padding-top: 0.1rem}
.down-color{color: #ED413B}


.user-money{font-size:0.15rem;font-weight:bold;color:rgba(255,255,255,1);line-height:0.24rem;margin: 0.2rem 0rem 0.1rem 0rem}
.money{font-size:0.24rem;font-weight:bold;color:rgba(255,255,255,1);line-height:0.24rem;}
