#list{
	width:960px;
	margin:0 auto;
}

#list .l_left{
	width:668px;
	border:1px solid #abcdef;
	height:auto;
	overflow:hidden;
	padding-bottom:10px;
	margin-bottom:10px;
	float:left;
}

#list .l_left ul{
	margin:0 10px 10px 10px;
}

#list .l_left ul li{
	padding:20px 0;
	height:90px;
	border-bottom:1px solid #abcdef;
}

#list .l_left ul li h3 a{
	color:#1a64a1;
}

#list .l_left ul li>p{
	padding:8px 0;
	color:#666;
}

#list .l_left ul li span a{
	color:#db5500;
}

#list .l_left ul li div img{
	display:block;
	float:left;
	padding-right:10px;
}

#list .l_left ul li div p{
	text-indent:2em;
	height:19px;
	line-height:19px;
}

#page{
	padding:10px 0;
	text-align:center;
}

#page a{
	padding:3px 8px;
	margin-right:3px;
	border:1px solid #abcdef;
	font-weight:bold;
	color:#1a64a1;
}

#page a:hover{
	color:#fff;
	background:#1a64a1;
}

#list .l_right{
	margin-left:10px;
	float:left;
	width:280px;
}

#list .l_right .bshare{
	height:40px;
	padding:10px 10px 10px 15px;
}

#list .l_right>div{
	border:1px solid #abcdef;
	margin-bottom:10px;
}

#list .l_right>div ul{
	padding:10px;
}

#list .l_right>div ul li{
	height:25px;
	line-height:25px;
	font-size:13px;
}

#list .l_right>div ul li span{
	float:right;
}

#list .l_right .book{
	height:auto;
	overflow:hidden;
}

#list .l_right .book ol{
	padding:10px;
}

#list .l_right .book ol li{
	clear:both;
	padding:10px 0;
}

#list .l_right .book ol li div{
	border-bottom:1px solid #abcdef;
	height:130px;
}

#list .l_right .book ol li div h4{
	line-height:180%;
	padding-bottom:10px;
	font-size:14px;
}

#list .l_right .book ol li div p{
	height:20px;
}

#list .l_right .book ol li img{
	float:left;
	width:100px;
	height:120px;
	margin-right:10px;
}

