<div class="dux-box uk-clearfix uk-padding-small">
    <div class="img uk-float-left">
        <a href="{$info.goods_url}"><img src="{$info.goods_image}" width="65" height="65"></a>
    </div>
    <div class="uk-float-left uk-margin-small-left">
        <p><a href="{$info.goods_url}" target="_blank">{$info.goods_name}</a></p>
        <p class="dux-text-disabled">
            <!--loop{(array)$info.goods_options as $v}-->
            {$v.value}
            <!--{/loop}-->
        </p>
        <p class="dux-text-disabled">购买时间: {date('Y-m-d H:i:s', $orderInfo.order_create_time)}</p>
    </div>
</div>
<br>
<div class="dux-box">
    <div class="box-header">商品评价</div>
    <div class="box-body uk-padding-small">
        <form class=" dux-form uk-form  uk-form-horizontal" action="{url('', ['action' => $action])}" method="post" data-dux="form-bind">
            <div class="uk-form-group">
                <label class="uk-form-label">评价</label>
                <div class="uk-form-controls uk-form-controls-text">

                    <div class="uk-grid">
                    <label>
                        <input type="radio" name="level" value="1" > 很差
                    </label>
                    <label>
                        <input type="radio" name="level" value="2" > 一般
                    </label>
                    <label>
                        <input type="radio" name="level" value="3" > 满意
                    </label>
                    <label>
                        <input type="radio" name="level" value="4" > 非常满意
                    </label>
                    <label>
                        <input type="radio" name="level" value="5" checked > 无可挑剔
                    </label>
                    </div>
                </div>
            </div>

            <div class="uk-form-group">
                <label class="uk-form-label">商品评价</label>
                <div class="uk-form-controls">
                    <textarea rows="3" placeholder="请客观的发表您的评论,以便他人能够进行参考" name="content"></textarea>
                </div>
            </div>

            <div class="uk-form-group">
                <label class="uk-form-label">晒单</label>
                <div class="uk-form-controls uk-form-controls-text">
                    <ul class="dux-upload-list uk-clearfix">
                        <span id="images"></span>
                        <li>
                            <a href="javascript:;" class="add-img" data-dux="form-images" data-img-warp="#images"
                               data-img-name="images" data-num="5" data-tpl-el="#tpl" data-url="{url('member/Upload/index')}"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-form-group">
                <div class="uk-form-controls">
                    <input type="hidden" name="id" value="{$id}">
                    <button type="submit" class="uk-button uk-button-primary">发表评价</button>
                </div>
            </div>


        </form>
    </div>
</div>
<script type="text/html" id="tpl">
    <li>
        <a href="{{ d.data.url }}" target="_blank"><img src="{{ d.data.url }}"></a>
        <i class="close">×</i>
        <input type="hidden" name="{{ d.name }}[]" value="{{ d.data.url }}">
    </li>
</script>