<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$meta_title}|{:L('_MUUCMF_BACKSTAGE_MANAGE_')}</title>
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!--zui-->
    <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui-theme.css" media="all">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <style>
        .main-title {
            background:#09c;
            padding:10px;

        }
        .main-title h2 {
            color:#fff;
            margin:0;
        }
        .tit {
            color:#666;
        }
        .pre {
            background:#f2f2f2;
            border:1px solid #ccc;
            padding:10px;
            margin-bottom:15px;
        }
    </style>
</head>
<body>

    <div class="main-title">
        <h2>
            {$_meta_title}
        </h2>
    </div>
    <div class="with-padding">
    <div class="col-md-12">
    <div class="pre">
        <div class="row">
            <div class="col-md-12"><span class="tit">广告ID：</span>{$data.id}</div>
            <div class="col-md-12"><span class="tit">广告标题：</span>{$data.title}</div>
            <div class="col-md-12"><span class="tit">广告描述：</span>{$data.description}</div>
            <div class="col-md-12"><span class="tit">链接地址：</span>{$data.url}</div>
            <div class="col-md-12"><span class="tit">创建时间：</span>{$data.create_time}</div>
            <div class="col-md-12"><span class="tit">开始时间：</span>{$data.start_time}</div>
            <div class="col-md-12"><span class="tit">结束时间：</span>{$data.end_time}</div>
        </div>
    </div>
    </div>
        <div class="col-md-12">
            <h3>预览</h3>
            <div class="pre">
                <if condition="$data.pic">
                    <img src="{$data.data.pic_url}" />
                </if>
                <if condition="$data.code">
                    <div>{$data.data.code}</div>
                </if>
                <if condition="$data.text">
                    <a href="{$data.url}" style="font-size:{$data.data.text_font_size};color:{$data.data.text_color};" target="{$data.data.target}">{$data.data.text}</a>
                </if>
            </div>
        </div>
        
    </div>
</body>
</html>