.header-bar {
    background-color: #f7f7f7;
    height: 40px;
    line-height: 40px;
    .header-welcome {
        float: left;
        font-size: 12px;
        color: #666666;
        > span {
            color: #666666;
            margin-left: 20px;
            a {
                padding: 0;
                &.signOut {
                    margin-left: 10px;
                }
            }
        }
    }
    .header-bar-user {
        float: right;
        .header-bar-nav {
            height: 40px;
            > li {
                float: left;
                a {
                    color: #666;
                    font-size: 12px;
                    font-weight: 300;
                }
                &:last-child span {
                    display: none;
                }
                &:last-child a {
                    padding-right: 0;
                }
                a.active {
                    color: #de2634;
                }
                &:nth-child(3) {
                    position: relative;
                    &:hover {
                        > ul {
                            display: block;
                        }
                    }
                    > ul {
                        background-color: #ffffff;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                        display: none;
                        height: 134px;
                        position: absolute;
                        top: 0px;
                        width: 92px;
                        z-index: 50;
                        li {
                            color: #666666;
                            font-size: 12px;
                            line-height: 32px;
                            a {
                                padding: 0;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    a {
        padding: 0 13px;
        &:hover {
            color: #ff2342;
        }
        &:nth-child(1) {
            margin-left: 7px;
        }
    }
    span {
        color: #d0d0d0;
    }
}