.logoModal {
    background-color: #ffffff;
    .container {
        height: 100px;
        padding-top: 30px;
        .logo {
            padding-left: 0;
            img {
                height: 40px;
                padding: 0;
                width: 159px;
            }
        }
        .search-input {
            .form-control {
                border: 2px solid #666666;
                border-radius: 0;
                float: left;
                height: 36px;
                width: 403px;
            }
            .input-group-addon {
                background-color: #666666;
                border: 2px solid #666666;
                border-radius: 0;
                display: block;
                float: left;
                height: 36px;
                line-height: 21px;
                width: 82px;
                a {
                    color: #fff;
                }
            }
            > p {
                font-size: 12px;
                margin-top: 6px;
                a {
                    color: #b3b3b3;
                    margin-right: 5px;
                    &:hover {
                        color: #ff2342;
                    }
                }
            }
        }
        .shopping-car {
            a {
                border: solid 1px #d0d0d0;
                color: #ff2342;
                display: block;
                font-size: 14px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                width: 182px;
            }
        }
    }
}
