.menu {
    display: none;
    .menu-bar {
        background-color: rgba(0, 0, 0, 0.6);
        height: 480px;
        position: absolute;
        z-index: 100008;
        > li {
            height: 40px;
            width: 182px;
            span {
                font-size: 14px;
            }
            .triangle {
                font-size: 10px;
                padding-left: 35px;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 1);
                color: #ff2342;
            }
            &:hover > .menu-content {
                display: block;
            }
        }
    }
    li .menu-content {
        display: none;
        left: 182px;
        position: absolute;
        top: 0;
        width: 1010px;
        z-index: 99;
    }
    li .menu-box {
        background-color: #ffffff;
        color: #666666;
        height: 480px;
        padding: 15px 32px 0 40px;
        width: 710px;
        .recommend {
            li {
                float: left;
                margin-right: 10px;
                a {
                    border: 1px solid #d0d0d0;
                    display: block;
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    width: 64px;
                }
            }
        }
        .content-list {
            h5 {
                border-bottom: 1px solid #e5e5e5;
                font-weight: 600;
                line-height: 2.57;
                margin-bottom: 0;
            }
            ul {
                margin: 0;
                li {
                    float: left;
                    padding: 0;
                    width: auto;
                    a {
                        color: #666666;
                        font-size: 14px;
                        &:hover {
                            color: #ff2342;
                        }
                    }
                    span {
                        color: #666666;
                        margin: 0 5px;
                    }
                    &:last-child {
                        a {
                            border-right: none;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    li .advertising {
        background: #ffffff;
        border-left: 1px solid #e5e5e5;
        height: 480px;
        width: 300px;
        ul {
            padding: 19px 20px;
            li {
                margin-right: 2px;
                margin-bottom: 2px;
                width: 49%;
                &:nth-child(even) {
                    margin-right: 0;
                }
                a {
                    width: 100%;
                    img {
                        display: block;
                        height: 48px;
                        width: 100%;
                    }
                }
            }
        }
        .bigAdv {
            height: 120px;
            width: 100%;
            a {
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            &:nth-child(2) {
                margin-bottom: 2px;
            }
        }
    }
}

