<php>
    $user = query_user(array('avatar128','avatar64','nickname','uid','space_url'),
    $vo['uid']);
</php>
<li class="fmBox">
    <a href="{:U('Index/detail',array('id'=>$vo['id']))}" class="fmList">
        <!--帖子封面，取帖子内容中的第一张图片，如果没有，则使用默认图片,图片裁剪200*150-->
        <div class="cover"><img src="__IMG__/card.png" alt=""></div>
        <!--帖子详情-->
        <div class="fmInfo">
            <h3>{$vo.title|htmlspecialchars|mb_substr=0,30,'utf-8'}</h3>
            <object>
                <a href="{$user.space_url}" class="author">
                    <div class="fmAvt"><img ucard="{$user.uid}" src="{$user.avatar64}" alt="发帖人头像"></div>
                    <span class="name">{$user.nickname|op_t}</span>
                    <span>发表于 {$vo.create_time|friendlyDate}</span>
                </a>
            </object>
            <p class="cont dot-ellipsis dot-height-70">{$vo.content|strip_tags}</p>
            <p class="last">
                <span>{$vo.view_count} 阅读 | {$vo.reply_count} 回复</span>
                <span class="readAll">阅读全文</span>
            </p>
        </div>
    </a>
</li>


