

worker_processes  1;

events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;


    server {
        listen      8081;

        server_name localhost;
        root        K:\proj\web\AliceSPAFramwork\server\public;
        index       index.php index.html index.htm;


        location / {

            try_files $uri $uri/ /index.php?_url=$uri&$args;
        }

        location ~ \.php {

            fastcgi_pass  127.0.0.1:9000;
            fastcgi_index /index.php;

            include fastcgi_params;
            fastcgi_split_path_info       ^(.+\.php)(/.+)$;
            fastcgi_param PATH_INFO       $fastcgi_path_info;
            fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        location ~ /\.ht {
            deny all;
        }
    }
    server {
        listen      8080;
        server_name localhost;
        root        K:\proj\web\AliceSPAFramwork\client\public;
        index       index.php index.html index.htm;
        location / {
            try_files $uri $uri/ /index.php?_url=$uri&$args;
        }

        location ~ /\.ht {
            deny all;
        }
    }
}
