<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
$(function() {
	//表单验证
	$(".keywordsform").Validform({
	tiptype:3
	});
});
</script>
</head>
<body>
<div class="colorarea01">
<div class="search clearfix">
  <div class="searchL">
    <ul class="menulist">
      <li><a href="<{$adminpage}>?m=keywords_category&a=list" class="list">返回关键词分类列表</a></li>
    </ul>
  </div>
</div>
<form name="form1" class="keywordsform" method="post" action="<{$adminpage}>?m=keywords_category">
  <table cellspacing="0" cellpadding="0" width="100%"  class="maintable">
    <tr>
      <th>名称：</th>
      <td><input name="catname" type="text"  size="30" value="<{$keywordscategory.catname}>" datatype="s" nullmsg="请填写名称！"/></td>
    </tr>
    <tr>
    <tr>
      <th></th>
      <td><div class="buttons">
          <input type="submit" name="thevaluesubmit" value="提交保存" class="submit">
          <input type="hidden" name="a" value="<{$ac}>">
          <input type="hidden" name="id" value="<{$keywordscategory.catid}>">
        </div></td>
    </tr>
  </table>
  </div>
</form>
</body>
</html>