<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
			<ul class="menulist">
				<li><a href="#" class="list">求购信息列表</a></li>
			</ul>
		</div>
		<div class="searchR">
			<form action="<{$adminpage}>?m=cars" method="get" name="form2">
			<input type="hidden" name="m" value="buycars">
			<input type="hidden" name="a" value="list">
				<span>
					<input type="text" name="keywords" id="searchkey" value="" size="16" class="inp01">
				</span>
				<span>
					<input type="submit" name="filtersubmit" value="查询" class="combutton02 w50">
				</span>
			</form>
		</div>
	</div>
	<form action="<{$adminpage}>?m=cars" method="POST" name="form" onSubmit="return listsubmitconfirm(this.form)">
	<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
	<tr><th width="30">选择</th><th>ID</th><th align="left">品牌 - 车型</th><th>报价</th><th>里程</th><th>车龄</th><th>联系人 - 电话</th><{if $setting.version==3}><th>城市</th><{/if}><th>描述</th><{if $setting.version==2 or $setting.version==3}><th>会员</th><{/if}><th>求购时间</th><th>状态</th><th width="100">操作</th></tr>
	<{foreach from=$carslist item=cars}>
	<tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">
	<td align="center"><input type="checkbox" name="bulkid[]" value="<{$cars.p_id}>"></td>
	<td align="center"><{$cars.p_id}></td>
	<td align="left"><{$cars.p_allname}> - <{$cars.p_modelname}></td>
	<td align="center" class="red"><{$cars.p_price}>万</span></td>
	<td align="center"><{$cars.p_kilometre}>万公里</td>
	<td align="center"><{$cars.p_age}>年</td>
	<td align="center"><{$cars.p_contact_name}> - <{$cars.p_contact_tel}></td>
	<{if $setting.version==3}><td align="center"><{$cars.province}>-<{$cars.city}></td><{/if}>
	<td align="center"><{$cars.p_details}></td>
	<{if $setting.version==2 or $setting.version==3}><td align="center"><{$cars.username}></td><{/if}>
	<td align="center"><{$cars.p_addtime}></td>
	<td align="center"><{if $cars.isshow==1}>显示<{else}>不显示<{/if}></td>
	<td align="center" class="rightmenu"><a href="<{$adminpage}>?m=buycars&a=show&id=<{$cars.p_id}>&state=<{if $cars.isshow==0}>1<{else}>0<{/if}>"><{if $cars.isshow==0}>显示<{else}>不显示<{/if}></a> | <a href="javascript:if(confirm('ID:<{$cars.p_id}>&nbsp;确实要删除吗?'))location='<{$adminpage}>?m=buycars&a=del&id=<{$cars.p_id}>&page=<{$page}>'">删除</a></td>
	</tr>
	<{/foreach}>
	<tr>
		<td colspan="13" class="buttontd">
			<a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a>
			<a href="javascript:submitForm('<{$adminpage}>?m=buycars&a=bulkdel&page=<{$page}>','删除');" title="请选择后操作">删除</a>
		</td>
	</tr>
	</table>
	</form>
	<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>