<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
<div class="search clearfix">
	<div class="searchL">
		<ul class="menulist">
			<li><a href="<{$adminpage}>?m=permission&a=add" class="add">添加权限模块</a></li>
		</ul>
	</div>
</div>
<form action="<{$adminpage}>?m=permission" method="post" name="form">
<table cellspacing="0" cellpadding="0" width="100%" class="listtable">
<tr>
	<th width="30">ID</th>
	<th width="40%" align='left'>权限模块/权限名称/具体操作</th>
	<th>执行文件</th>
	<th>执行操作</th>
	<th width="180">操作</th>
</tr>
<{$permissionlist}>
</table>
</form>
</div>
</body>
</html>