<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
			<ul class="menulist">
				<li><a href="#" class="list">预约信息列表</a></li>
			</ul>
		</div>
		<div class="searchR">
			<form action="<{$adminpage}>?m=subscribe" method="get" name="form2">
			<input type="hidden" name="m" value="buysubscribe">
			<input type="hidden" name="a" value="list">
				<span>
					<input type="text" name="keywords" id="searchkey" value="" size="16" class="inp01">
				</span>
				<span>
					<input type="submit" name="filtersubmit" value="查询" class="combutton02 w50">
				</span>
			</form>
		</div>
	</div>
	<form action="<{$adminpage}>?m=subscribe" method="POST" name="form" onSubmit="return listsubmitconfirm(this.form)">
	<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
	<tr><th width="30">选择</th><th>ID</th><th align="left">车源</th><th>姓名</th><th>手机</th><th>预约时间</th><th>留言</th><th>会员</th><th>提交时间</th><th width="100">操作</th></tr>
	<{foreach from=$subscribelist item=subscribe}>
	<tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">
	<td align="center"><input type="checkbox" name="bulkid[]" value="<{$subscribe.id}>"></td>
	<td align="center"><{$subscribe.id}></td>
	<td align="left"><a href="<{$subscribe.p_url}>" target="_blank"><{$subscribe.p_allname}></a></td>
	<td align="center"><{$subscribe.name}></span></td>
	<td align="center"><{$subscribe.mobilephone}></td>
	<td align="center"><{$subscribe.ordertime}></td>
	<td align="center"><{$subscribe.orderinfo}></td>
	<td align="center"><{$subscribe.username}></td>
	<td align="center"><{$subscribe.addtime}></td>
	<td align="center" class="rightmenu"><a href="javascript:if(confirm('ID:<{$subscribe.id}>&nbsp;确实要删除吗?'))location='<{$adminpage}>?m=subscribe&a=del&id=<{$subscribe.id}>&page=<{$page}>'">删除</a></td>
	</tr>
	<{/foreach}>
	<tr>
		<td colspan="13" class="buttontd">
			<a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a>
			<a href="javascript:submitForm('<{$adminpage}>?m=subscribe&a=bulkdel&page=<{$page}>','删除');" title="请选择后操作">删除</a>
		</td>
	</tr>
	</table>
	</form>
	<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>