<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
	<form action="<{$adminpage}>?m=templates_category" method="post" name="form">
	<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
		<tr><th>ID</th><th>风格标识</th><th>风格中文名</th><th>状态</th><th  width='100'>操作</th></tr>
		<{foreach from=$templates_category_list key=key item=templates_category}>
		<tr>
			<td align="center" width="80"><{$key}></td>
			<td align="center"><{$templates_category.dirname}></td>
			<td align="center"><input type="text" name="name" value="<{$templates_category.name}>"></td>
			<{foreach from=$templates key=key  item=template}>
			<td align="center">
			<{if $templates_category.dirname==$template.v}><span class="orange01">启用</span><{else}>未启用<{/if}>
			</td>
			<{/foreach}>
			<td align="center"><a href="<{$adminpage}>?m=templates_category&a=start&catname=<{$templates_category.dirname}>">启用</a> | <a href="<{$adminpage}>?m=templates&a=list&dir=<{$templates_category.dirname}>">模版列表</a>
			</td>
		</tr>
		<{/foreach}>
	</table>
	</form>
	<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>