<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
  <button type="button" class="btn btn-primary"><i class="iconfont">&#xe628;</i></button>
</div>
