{include file="public/tpl/head.html" /}
<body>
    <ol class="breadcrumb">
    <li><a href="{:url('/admin/menu')}">系统菜单</a></li>
    <li class="active">编辑</li>
    </ol>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <p class="form-inline text-right"><input type="text" class="form-control" id="module_name" placeholder="模块名称..."><button class="btn btn-default" type="button" id="module_name_btn">自动读取信息</button></p>
                </div>
                <form class="form-horizontal" role="form" action="{:url('save')}" method="POST" id="set_menu_form">
                    <table class="table" id="set_menu_table">
                        <tr><th>序号</th><th class="text-success">分组菜单标识</th><th class="text-success">描述</th><th class="text-success">请求地址</th><th>可选码</th><th>备注</th><th>参数</th></tr>
                        {if condition="isset($page.recordList) && !empty($page.recordList)"}
                        {$page.recordList}
                        {else}
                        <tr dataid="1"><td class="rowno">
                            <input type="checkbox" class="rowselecter">
                            1
                            </td>
                            <td><input type="text" name="groupid" class="form-control" required></td>
                            <td><input type="text" name="descrip" class="form-control" required></td>
                            <td><input type="text" name="url" class="form-control" required></td>
                            <td><input type="text" name="code_mk" class="form-control"></td>
                            <td><input type="text" name="remark" class="form-control"></td>
                            <td><input type="text" name="param" class="form-control"></td>
                        </tr>
                        {/if}
                    </table>
                    <input type="checkbox" id="row_allsel_ckbox">
                    <button class="btn btn-default" type="button" id="row_add_btn">+</button>
                    <button class="btn btn-warning" type="button" id="row_del_btn">-</button>
                    <button class="btn btn-info" id="row_uarr_btn" type="button">&uarr;</button>
                    <button class="btn btn-success" id="row_darr_btn" type="button">&darr;</button>
                    <button class="btn btn-default" id="row_save_btn">保存</button>
                    {$page.newlink|default=""}
                </form> 
            </div>
        </div>
    </div>
</body>
</html>