#contents {
  padding: 20px;
}
#contents h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}
#contents h3 a {
  color: #333 !important;
}
#contents h3 a:hover {
  color: #666 !important;
}
#contents .author {
  color: #999 !important;
}
#contents img {
  max-width: 100%;
}
.subhead {
  background: #ddd;
  border-bottom: 1px solid #ccc;
}
#main-container {
  margin-top: 0;
}
.jumbotron {
  padding: 0;
}
.children_blog a {
  margin-right: 10px;
}
.blog_position h3 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}
