<phpunit bootstrap="vendor/autoload.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite name="YAssert">
            <file>tests/YAssertTest.php</file>
        </testsuite>
        <testsuite name="Log">
            <file>tests/LogTest.php</file>
        </testsuite>
        <testsuite name="Function">
            <file>tests/FunctionTest.php</file>
        </testsuite>
        <testsuite name="Validator">
            <file>tests/ValidatorTest.php</file>
        </testsuite>
        <testsuite name="Dispatcher">
            <file>tests/DispatcherTest.php</file>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="TestNamespace\TestListener" file="tests/TestListener.php"></listener>
    </listeners>
</phpunit>