<div class="form-ajax">
<div class="tab-tit mbt10">
    <ul class="float TabTit">
        <block name="tit">
            <li class="current"><a href="javascript:;">基本信息</a></li>
        </block>
    </ul> 
</div>
<form class="AjaxForm" data-action="{:U()}" method="post" >
    <table class="bordered TabCon">
        <block name="form">
        </block>
    </table>

    <div class="box-btn mtp10">
        <input type="submit" class="btn-big btn-blue" value="提交">
    </div>
</form>
</div>
<block name="extra"></block>
<script type="text/javascript">
    $('.TabTit li').click(function(){
        $(this).addClass('current').siblings().removeClass('current');
        $('.TabCon tbody').eq($('.TabTit li').index(this)).show().siblings().hide();
    });
</script>
<script type="text/javascript">
    seajs.use(['ajax'],function(ajax){
        ajax.valid();
    });
</script>