body {
	text-align: center;
	font-size:14px;
}
a {
	text-decoration:none;
}
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	display: inline-block;
}
#body {
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #555;
	border-top:1px solid #555;
}

 
#header:after,
#body:after,
#footer:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
}

#footer{
	text-align:center;
}

.li_nav{
	display:block;
	float:left;
	margin:10px;
	font-size:15px;
	background-color:#CCFF00;
}

.li_menu{
	float:left;
	margin:10px;
	display:block;
}

#search{
	clear:left;
	float:right;
}