{include file="public/header" /}
<body class="gray-bg" style="background:#fff">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <!-- <h5>显示：</h5>
                            <a href="javascript:;" class="file-control active">所有</a>
                            <a href="javascript:;" class="file-control">日期</a>
                            <div class="hr-line-dashed"></div> -->
                            <h5>分类</h5>
                            <ul class="folder-list" style="padding: 0">
                                <li><a href="javascript:;"><i class="fa fa-folder"></i> 系统</a>
                                </li>
                             
                            </ul>
                          <!--   <h5 class="tag-title">标签</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href="file_manager.html">爱人</a>
                                </li>
                                <li><a href="file_manager.html">工作</a>
                                </li>
                                <li><a href="file_manager.html">家庭</a>
                                </li>
                                <li><a href="file_manager.html">孩子</a>
                                </li>
                                <li><a href="file_manager.html">假期</a>
                                </li>
                                <li><a href="file_manager.html">音乐</a>
                                </li>
                                <li><a href="file_manager.html">照片</a>
                                </li>
                                <li><a href="file_manager.html">电影</a>
                                </li>
                            </ul> -->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="file-box">
                            <div class="file">
                                <a target="_blank" href="http://pan.baidu.com/s/1mijTSQc">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        提取码:mrb2
                                        <br/>
                                        <small>添加时间：2016-12-12</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                        
                        <div class="file-box">
                            <div class="file">
                                <a target="_blank" href="http://git.oschina.net/cooldreamer/thinkask">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-git"></i>
                                    </div>
                                    <div class="file-name">
                                       git 下载【以实际git提交为准】
                                        <br/>
                                        <small>添加时间：{:date('Y-m-d',time())}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
  {include file="public/footer" /}