
# BEGIN map of static to dynamic
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#
# http to https
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{SERVER_NAME}/blog/$1 [R,L]
# see mod_rewrite in apache/nginx
#
RewriteRule ^index\.jsp$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.jsp [L]
</IfModule>

# END
