/*-----------------------巨幕---------------------*/
div.authority-jumbotron {
  background-color: #5e92f3;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

/*----------------------表单----------------------*/
.authority-form {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}


/*---------input的样式----------*/
input.input-box {
  height: 45px;
  margin-bottom: 10px;
}

/*-----------提交按钮-----------*/
button.authority-submit {
  height: 45px;
  font-size: 1.3em;
  width: 100%;
}


/*---------错误提示-------------*/
.form-group div.alert-danger {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-alert {
  color: #a94442;
  background-color: #f2dede;
  margin-top: 10px;
  padding: 15px 35px 15px 15px;
  margin-bottom: 10px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}