.XT_insert_image li{list-style: none;float: left}
.del {
    background: rgba(0,0,0,0.7);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.img-list li {
    float: left;
    margin: 10px 5px 0 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

.XT_image {
    width: 448px;
    z-index: 1001;
    position: absolute !important;
}

.load{
    padding: 30px;
}