<extend name="public/base" />
<block name="content">
    <div class="data-list" data-url="{:url('lists')}">
        <form class="layui-form inline-form">
            <div class="pull-left">
                <div class="layui-inline">
                    <select name="status" lay-filter="data-list">
                        <option value="-1">全部</option>
                        <option value="1">正常</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input class="layui-input" name="keyword" placeholder="输入关键词搜索">
                </div>
                <div class="layui-inline">
                    注册时间
                </div>
                <div class="layui-inline">
                    <input class="layui-input laydate-range" name="keyword" placeholder="时间区间">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-normal search"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
            <div class="pull-right">
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal layui-btn-sm ajax-form" data-url="{:url('add')}"><i class="layui-icon">&#xe61f;</i> 新增</button>
                </div>
            </div>
        </form>
        <div class="data">
            <p><i class="fa fa-spinner fa-spin"></i> 加载中...</p>
        </div>
    </div>
</block>
<block name="script">
</block>
</block>