* {
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    background-color: #FFFFFF;
}

div.menu {
    background-color: #206082;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

div.menu h1 {
    margin: 0 50px;
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
}

div.menu a {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    overflow: hidden;
    text-indent: -10000px;
    background-repeat: no-repeat;
    background-image: url(../img/btn-mobile.png);
    background-size: 40px auto;
}

div.menu a.logo {
    left: 10px;
    background-position: 0 -190px;
}

div.menu a.category {
    right: 10px;
    background-position: 0 -160px;
}

div.tool {
    padding: 70px 20px 0;
}

div.tool a {
    height: 38px;
    padding-left: 40px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #000000;
    background-repeat: no-repeat;
    background-image: url(../img/btn-mobile.png);
    background-size: 40px auto;
    line-height: 38px;
}

div.tool a.weibo {
    border: 1px solid #D52B2A;
    background-position: 0 0;
}
div.tool a.qq {
    border: 1px solid #5393CF;
    background-position: 0 -40px;
}
div.tool a.baidu {
    border: 1px solid #4D00F5;
    background-position: 0 -80px;
}

div.foot {
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: gray;
}

div.foot a {
    text-decoration: none;
    color: gray;
}

div.category {
    position: fixed;
    left: 0;
    top: 50px;
    background-color: #206082;
    width: 100%;
    border-top: 1px solid #134965;
    display: none;
    z-index: 10000;
}

div.category ul {
    border-top: 1px solid #2982B0;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

div.category ul li {
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}

div.category ul li.cur {
    background-color: #256F96;
}

div.category ul li a {
    display: block;
    height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 40px;
}

div.search {
    height: 40px;
    padding: 60px 20px 0;
    overflow: hidden;
    position: relative;
}

div.search div {
    border: 1px solid #797979;
    height: 38px;
    padding: 0 50px 0 10px;
}

div.search input {
    float: left;
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    border: none;
    background-color: #FFFFFF;
    background-image: none;
}

div.search a {
    position: absolute;
    right: 20px;
    background-repeat: no-repeat;
    background-image: url(../img/btn-mobile.png);
    background-size: 40px auto;
    background-position: 0 -120px;
    text-indent: -10000px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    top: 60px;
}

div.user {
    margin: 20px 0;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

div.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

div.user h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 50px;
    font-weight: normal;
    font-size: 18px;
}

div.user div {
    display: inline-block;
    position: relative;
}

div.link {
    padding: 0 20px;
}

div.link ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.link li {
    line-height: 20px;
    font-size: 16px;
    margin-top: 10px;
    border-bottom: 1px dashed #DDDDDD;
}

div.link a {
    text-decoration: none;
    color: #000000;
}

div.page {
    text-align: center;
    height: 40px;
    margin: 20px;
}

div.page a, div.page a:visited, div.page a:link, div.page a:hover {
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    width: 80px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #206082;
    text-decoration: none;
}

div.form {
    padding: 60px 20px;
}

div.form div {
    border: 1px solid #797979;
    height: 38px;
    margin-bottom: 10px;
    padding: 0 10px;
}

div.form div.submit {
    border: none;
    height: 40px;
    padding: 0;
}

div.form select {
    height: 38px;
    width: 100%;
    border: none;
    padding: 8px 0;
    vertical-align: middle;
    float: left;
    font-size: 16px;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    background-image: none;
}

div.form input {
    float: left;
    border: none;
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
    background-image: none;
}

div.form div.submit a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #206082;
    text-align: center;
}

