/*body*/
#m #setmod{ margin-left:496px;}
#header,#banner,#content,#footer{width: 1000px;}
.hwrap{background:#adcccf url("images/headerbg.jpg") repeat-x bottom;}
.fwrap{background:#ebebdf url("images/footerbg.jpg") repeat-x top;}

.main-wrap{padding-top:15px;}
.col-sub{background:url("images/colsubbottom.jpg") no-repeat;margin-bottom:15px;padding-top:15px;padding-bottom:15px;}
.col-sub .bg{background:url("images/colsubtop.jpg") no-repeat;padding-top:18px;}
.col-sub .bg .sinner{width:276px;background:url("images/colsbg.jpg") repeat-y 6px 0px;}

.grid .main-wrap{margin-right:16px;margin-left:310px;}
.grid .col-sub{width:282px;padding-left:20px;background-position:20px bottom;}
.grid .col-sub .bg{background-position:0px top;}

.col-sub .mbox{width:240px;margin-left:20px;}

body{color:#555;background:url("images/bodybg.jpg") repeat;}
.tbbd{background:url("images/bodybg.jpg") repeat;}

a:link,a:visited{color:#555;}
a:hover,a:focus{color:#e8becc;}
input,textarea{border-top:1px #abadb3 solid;border-left:1px #e0e0e0 solid;border-right:1px #e0e0e0 solid;border-bottom:1px #e0e0e0 solid;}
.job_con table,.guest table{border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td {background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th{background:#eee;border-bottom: 1px solid #e0e0e0;}

/*header*/
#header h1,#header p{float:left;}
#header h1{margin-top:5px;margin-left:10px;}
#header p {margin-left:20px;height:80px;line-height:80px;color: #6f8d95;}

.menu{margin-top:6px;background:url("images/menubg.png") no-repeat left bottom;line-height:26px;padding:0px 50px;}
.menu span{padding:0px 10px 0px 0px;}
.menu a{color: #6f8d95;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 5px;}

.nav{height:30px;padding-bottom:20px;}
.nav li a{width:88px;text-align:center;background:url("images/linor.png") no-repeat bottom;margin-right:6px;margin-left:8px;}
.nav li span{padding-top:6px;padding-bottom:7px;}
.navlist ul{top:30px;padding-top:1px;}
.navlist ul li{margin-top:1px;background:url("images/childrenbg.png") no-repeat;line-height:30px;height:30px;width:88px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat bottom;font-weight:bold;}
.nav li.active li a{background:none;font-weight:normal;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#6f8d95;}
.nav a:hover,
.nav a.active,.nav a.active:visited{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#999;}
.nav li.active a,.nav li.active a:visited{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#6f8d95;background:none;}


/*content*/
#banner{text-align:left;margin-bottom:12px;position:relative;}
#banner span.xtop,#banner span.xbottom{position:absolute;background:url("images/bannerbg.jpg") no-repeat;width:1000px;min-height:125px;max-height:225px;left:0;}
#banner span.xtop{background-position:0 0;}
#banner span.xbottom{background-position:0 bottom;bottom:0px;}
.singPic{position:relative;z-index:3;}
.singPic img{position:absolute;width:950px;}
.singPic img,.slider{top:25px;}
/*slider*/
#content span.xtop,#content span.xbottom{width:988px;display:block;margin-left:6px;}
#content span.xtop{background:url("images/xcorntop.png") repeat-x;height:6px;}
#content span.xbottom{background:url("images/xcornbottom.png") repeat-x 0 bottom;height:5px;}
.content{background:url("images/content.png") repeat-y;}

.mhd{border-bottom:1px #adcccf solid;}
.mhd h3{color:#666;padding-left:12px;}
.col-main .mhd{background:#fff url("images/col-main-mhd-2.png") no-repeat 10px;border-bottom:none;padding-left:20px;}
#contact .col-main .mhd{background:#fff url("images/col-main-mhd-c.png") no-repeat 10px 1px;margin-top:15px;}
.col-main .mhd h3{color:#fff;}
.col-main .mhd span{padding-left:22px;background:url("images/mhdspanbg.png") no-repeat 0px 14px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 10px center;}
.n_ico .mhd h3{padding-left:30px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.seabox .mhd{height:52px;background-position:bottom;}
.seabox .mhd h3{padding-top:19px;}
.seabox .mhd .r{margin-right:10px;}
.mbd{padding-left:12px;padding-right:12px;}
.prodt .mbd li {margin: 26px 18px 0 20px;}
.plinks li{margin:15px 0px 0 16px;}
.prodt_list .mbd li {margin: 26px 19px 0 21px;}
.quaon_pic .mbd li{margin:26px 23px 0px 23px;}

/*feedback*/
.feedback a{width:246px;background:url("images/feedback.png") no-repeat 6px 0;margin-bottom:8px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #eee dotted;}
.news li span,.seabox li span{color:#999;padding-right:8px;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#eff3f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#e8becc;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlisthover.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}
#contact .mbg{background:#fff;margin:0 6px;}
.pipe {color:#888;}
#footer {color: #999;margin-top:20px;padding-top:30px;padding-bottom:10px;}
#footer a:link, #footer a:visited {color: #555;}
#footer a:hover {color: #c70906;}

