/*@charset "utf-8";
/*--S reset --*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "Lucida Grande", Helvetica,Arial, Verdana, sans-serif,serif;}

h1, h2, h3, h4, h5, h6 { font-size:100%; }
address, cite, dfn, em, var, i { font-style:normal; }
code, kbd, pre, samp { font-family:courier new, courier, monospace; }
small { font-size:12px; }
ul, ol{ list-style:none; }
a { text-decoration:none; hide-focus:expression(this.hideFocus=true); outline:none; cursor:pointer;}
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; vertical-align:middle;}
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
pre { white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; }
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, dialog, figure, footer, header, hgroup, nav, section, figcaption, details, summary { display:block; }
body{color: #666;}
form input,form label, form img{ vertical-align:middle;}
* html, * html body { background-image:url(about:blank);background-attachment:fixed;height: 100%; }
* html { zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache", false, true);}(this)); }
* html pre { word-wrap:break-word; white-space:normal; }
*:focus {outline: none;}
/*--E reset --*/
/*--S common --*/
::-webkit-scrollbar{width:10px;margin-right:2px}
::-webkit-scrollbar-track-piece{background-color:#F5F5F5;border-left:1px solid #D2D2D2}
::-webkit-scrollbar-thumb{background:#CBCBCB;width:10px}
::-webkit-scrollbar-thumb:hover{background:#909090}
.wrap{width: 1200px; margin-left: auto; margin-right: auto; position:relative;}
.bold { font-weight:bold; }
.ma { margin:0 auto; }
.mt5{ margin-top: 5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.p5 { padding:5px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p20 { padding:20px; }
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.tl { text-align:left !important; }
.tc { text-align:center !important; }
.tr { text-align:right !important; }
.fl { float:left !important; }
.fr { float:right !important; }
.fn { float:none !important; }
.hidden{display: none;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.vm{vertical-align: middle;zoom:1;}
ul.list li{padding-top: 5px; border-bottom:1px dashed #E2E2E2;}
/*--常用颜色--*/
.red{color: #c00;}
.green{color:#007c00;}
.gray{color: gray;}
.yellow{color: #cc0;}
.orange{color: orange;}
input.big{width:360px !important;}
input.normal{width:255px !important;}
input.middle{width:180px !important;}
input.small{width:95px !important;}
input.tiny{width:45px !important;}
input.readonly{background-color:#f5f5f5;}

.box{background: #FFF;border:#ddd 1px solid;position: relative;overflow: hidden;word-break: break-all;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;  *zoom:1; }
* html .clearfix { height: 1%;}
.clearfix {display: block;}

.relative { position:relative; }
.absolute { position:absolute; }
.fixed { position:fixed; }
.hidden { display:none; }

.nav li{float: left; color: #85726C;}
.btn{padding: 6px 20px ; font-size: 14px; border: none;overflow: hidden;background: #A60A00;cursor: pointer; border:1px solid #A6041C;border-radius: 3px;display: inline-block;color: #fff ;height: auto;}
.btn-mini{padding: 4px 20px;font-size: 12px;overflow: visible;}
.btn:hover{color: #fff;background:#bf3a2b; }
a.btn:hover{text-decoration: none;}
.btn-gray{background:#bec3c7;border-color:#989da3;}
.btn-gray:hover{background:#ecf0f1;border-color:#cacecf;color: #555;}
.btn-disable{background:#ecf0f1;border-color:#cacecf;color: #555;cursor: not-allowed;}
.btn-disable:hover{background:#ecf0f1;border-color:#cacecf;color: #555;}

.btn-blue{border:#1b6990 1px solid;background:#2a80b9;}
.btn-blue:hover{background:#3598dc;border-color:#2882c0;}

.btn-orange{background:#d25400;border-color:#af4a06;}
.btn-orange:hover{background:#e77e22;border-color: #bd6617;}

.btn-red{background:#bf3a2b;border-color:#992d23;}
.btn-red:hover{background:#e84c3d;border-color: #c63a2d;}

.btn-red{background:#bf3a2b;border-color:#992d23;}
.btn-red:hover{background:#e84c3d;border-color:#c63a2d;}

.btn-green{background:#17a086;border-color:#0c7c64;}
.btn-green:hover{background:#19bd9b;border-color:#16987c;}
table td{padding: 10px;}
table td input,table td label{vertical-align: middle;}
table.simple,table.default{width:100%;}
table.simple th{background:#797F8A;color: #fff;padding: 8px 0;}
table.simple tr.even{background: #f0f0f0;}
table.simple td{border-bottom: #ccc 1px solid;padding: 8px 0 8px 6px;text-overflow:ellipsis; overflow: hidden;}
table.noborder td,table tr.noborder td{border:none;}

table.default{border:#ddd 1px solid; border-right: none;border-bottom: none;}
table.default td{border-bottom: #ddd 1px solid; border-right: #ddd 1px solid; padding: 8px 4px 8px 10px;}

.msg{border:#ddd 1px solid;height: 25px; line-height: 25px; display: inline-block;padding-right: 10px;}
.msg .icon{background-color: #f0f0f0;float: left;}
.msg span{color: red;padding-left: 6px;}
.msg-simple-error{text-align: center; background: #d4171e; color: #fff; line-height: 14px; border-radius: 2px; padding: 2px 4px; margin: 2px 0;display: block;}
.nav-bar{height: 32px;line-height: 32px;border-bottom:#aaa 1px solid;}
.nav-bar a{height: 32px;line-height: 32px;display:block;padding-right: 10px;float: left; text-decoration: none;}
.nav-bar .category-0{color: #333;font-weight: 700; font-size: 18px; font-family: "microsoft yahei";}
.nav-bar .category-1{color: #555;font-size: 16px;}
.nav-bar .category-2{color: #777;font-size: 14px;}
.nav-bar .category-3{color: #999;}
.dl-2{position: relative;}
.dl-2 dt{float: left;width: 200px;display: block;margin-right: -100%;}
.dl-2 dd{margin-left: 210px;display: block;vertical-align: text-top;}
h1.title{background: #FFF;padding: 5px;border-bottom: #f0f0f0 1px solid;margin-bottom: 5px;}
.t-line{border-top: #ccc 1px solid;}
.b-line{border-top: #ccc 1px solid;}

.layout-2col{position: relative;}
.layout-2col .sidebar{width: 230px;float: left;}
.layout-2col .content{padding-left: 245px;}
/*--E common --*/
/*--S Message条式样式--*/
.message-box{overflow: visible;border:#ccc 1px solid;position: relative;}
.message-head{position: absolute; top: 12px;left: -3px;right: -12px;}
.message-head i{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none; border-width: 6px; font-size: 0; height: 0; line-height: 0; position: absolute; right: 0px; top: 44px; width: 0; color: #00C22C; border-color: #00C22C rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00C22C;  border-style: solid dashed dashed solid;}
.message-content{padding:60px 20px 20px 20px;}
.message-head i.error,.message-head i.fail{color: #FF7570; border-color: #FF7570 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FF7570;  border-style: solid dashed dashed solid;}
.message-head i.info{color: #00B5FF; border-color: #00B5FF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00B5FF;  border-style: solid dashed dashed solid;}
.message-head i.warning{color: #FFCA74; border-color: #FFCA74 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFCA74;  border-style: solid dashed dashed solid;}
.message_error,.message_fail,.message_success,.message_info,.message_warning{padding:12px;margin-bottom:5px;background: url(../images/message.png) no-repeat;text-indent: 40px;}
.message_error,.message_fail{border:#FF7570 1px solid;background-color:#FFF2F0; background-position: 0 -55px;}
.message_success{border:#00C22C 1px solid;background-color:#EEFFE4; background-position: 0 -107px;}
.message_info{border:#00B5FF 1px solid;background-color:#E3F5FF;background-position: 0 -3px;}
.message_warning{border:#FFCA74 1px solid;background-color:#FFFFE3; background-position: 0 -161px;}

.aui_dialog .error,.aui_dialog .fail,.aui_dialog .success,.aui_dialog .warning{padding:12px;margin-bottom:5px;background: url(../images/message.png) no-repeat;text-indent: 40px;}
.aui_dialog .error, .aui_dialog.fail{background-position: 0 -55px;}
.aui_dialog .success{background-position: 0 -107px;}
.aui_dialog .warning{background-position: 0 -161px;}
/*--E Message条式样式--*/
/*--S header --*/
body{background: #f0f0f0;margin: 0 auto;}

#header{background: #f0f0f0;  position: relative; z-index: 1000;  }
.header-bar{background: #EBE3DD; border-bottom: #CEC2C2 1px solid; position: relative;}
a{color: #85726C;}
a:hover{color:#c53f4c; }
.header-bar .nav{height: 30px;line-height: 30px;}
.header-bar .nav li{padding:0 8px;position: relative;display: block;}

.header-main{ height:100px; position:relative;background: #f0f0f0;z-index: 100;}
.header-main .logo{width: 260px;padding-top: 10px; float: left;}

.header-main .header-search{margin-top:30px;height: 70px;}
.header-search .txt-keyword{border: solid 1px #DCD3CF;  border-right: none; height: 23px; width: 460px; float: left; color: #A89893; padding: 5px; font-size: 14px; background-color: #FFFFFF;}
.header-search .btn-search{width: 80px; height: 35px;  border: none;overflow: hidden;border: solid 1px #DCD3CF; background: #EBE3DD;cursor: pointer;color: #85726C;}
.header-search .btn-search:hover{background:#D4CCC7;}
.header-search p {line-height: 26px; clear: both;}
.header-search p a{padding-left: 6px; }
.header-cart{margin-top: 30px;height: 33px; position: absolute;right: 0;z-index: 1000;width: 200px;}
.header-cart dl{position:relative; margin-left:10px;display: block;}

.header-cart dl dt{height:33px;line-height: 33px; border: 1px solid #CEC2C2; background-color: #EBE3DD; color: #7A6963; padding-right: 20px;position: relative;float: left;}
.header-cart .cart-list{right:0;position: absolute;background:#EBE3DD; border: 1px solid #CEC2C2;width: 200px;padding: 10px;}
.header-cart .cart-list li{padding: 3px; float: left; width: 90px}
.header-cart dl dd{display: none;margin-top: 33px;}
.header-cart dl:hover,.header-cart dl.hover{border-bottom:#EBE3DD 1px solid;}
.header-cart dl:hover dt,.header-cart dl.hover dt{z-index: 100;border-bottom: none;}
.header-cart dl:hover dd,.header-cart dl.hover dd{display: block; z-index: 10;}

.header-nav{background: #7c0000 ;position: relative;}
.header-nav .nav{padding-left: 240px;height: 36px;line-height: 36px;}
.header-nav .nav a{font-size: 15px;  text-align: center; outline: none;text-decoration: none;display: block;float: left;height: 36px;padding: 0 20px; color: #ddd;overflow: hidden;}
.header-nav .current a{background: #5A4747;}
.header-nav .nav a:hover{background:#725b5b; }
.header-nav .nav li{}
.banner{margin-left: 240px;}
.category{position:absolute;left: 0;top:0;width: 240px;display: block; color: #ECE7E5;}
.category h3{font-size: 15px;padding: 5px 10px;background: #624B40;height: 26px;line-height: 26px;overflow: hidden;}
.icon-cart,.icon-member,.icon-list,.icon-alert,.icon-close,.icon-stop,.icon-plus,.icon-plus-1,.icon-minus,.icon-add,.icon-equal,.icon-order-0,.icon-order-1,.icon-order-2,.icon-order-3,.icon-groups,.icon-right,.icon-cright,.icon-clock,.icon-lights,.icon-end{background-image: url(../images/icons.png);display: inline-block; vertical-align: middle;padding: 0 1px;width: 25px;height: 25px;}

.icon-cart{background-position: 3px -25px;}
.icon-member{background-position: 3px -2px;}
.icon-end{background-position: -25px 0;}
.icon-list{background-position: 0 -51px;}
.icon-alert{background-position: -25px -75px;}
.icon-lights{background-position: -25px -100px;}
.icon-close{background-position: 0 -125px;}
.icon-stop{background-position: -25px 0;}
.icon-plus{background-position: 0 -225px;}
.icon-plus-1{background-position: -25px -325px;}
.icon-minus{background-position:0 -200px;}
.icon-add{background-position:0 -250px;}
.icon-equal{background-position:0 -275px;}
.icon-order-0{background-position:-25px -200px;}
.icon-order-1{background-position:-25px -225px;}
.icon-order-2{background-position:-25px -250px;}
.icon-order-3{background-position:-25px -275px;}
.icon-clock{background-position:-25px -300px;}
.icon-groups{background-position: 0 -325px;}
.icon-right{background-position: 0 -375px;}
.icon-cright{background-position: 0 -350px;}
.category h3 a{color:#f0f0f0;}
.category:hover h3,.category.hover h3{background: #4A3931;}
.category .group{background: #73584A;display: block;height: 400px;display: none;}
.category:hover .group,.category.hover .group{display: block;}
.category .group a{color:#B8A199;}
/*.category .group dl{position: relative;}*/
.category .group dl dt{ padding: 8px 10px; border-bottom: solid 1px #624B40; border-top: solid 1px #81665C;overflow: hidden;}
.category .group dl:hover,.category .group dl.hover{background: #624B40;}
.category .group dl:hover dt,.category .group dl.hover dt{ border-top: solid 1px #624B40;}
.category .group dl dt h4{height: 20px; line-height: 20px;}
.category .group dl dt h4 a,.category .group .sub h5 a{font-size: 14px;color:#f0f0f0;}
.category .group dl dt p a{line-height: 24px; height: 24px;}
.category .group dl p a{line-height: 20px; height: 20px; display: inline-block;padding-left:4px;}
.category .group dl dd p a{width: 64px; overflow: hidden; }
.category .group .sub h5{font-size: 14px; font-weight: normal;}
.category .group .sub li{border-bottom: dotted 1px #81665C;padding: 4px 0 6px;}
.category .group dl dd{position: absolute; left: 240px;_left:230px; top: -1px; border-top: solid 1px #624B40; min-height: 80px; width: 520px; overflow: hidden; background: #624B40; display: none;}
.category .group dl dd{position: absolute; left: 240px;_left:230px; top: 36px;bottom:0; border-top: solid 1px #624B40; min-height: 80px; width: 700px; overflow: hidden; background: #624B40; display: none;padding: 10px;}
.category .group dl dd ul.sub{width: 470px;}
.category .group dl dd ul.brand{position: absolute;top:0;right: 0;width: 200px;padding: 10px;}
.category .group dl dd ul.brand li{padding-bottom:10px; }
.category .group dl dd ul.brand span{display: inline-block;padding-right:10px;padding-bottom:6px; }
.category .group dl:hover dd,.category .group dl.hover dd{display: block;}
.category .group dd ul{padding: 0 10px;}

/*--S 三角--*/
.r-triangle,.b-triangle,.l-triangle,.t-triangle {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-image: none; border-width: 6px; font-size: 0; height: 0; line-height: 0; position: absolute; right: 15px; top: 16px; width: 0; color: #FFF; }
.b-triangle { border-color: #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);  border-style: solid dashed dashed dashed;}
.r-triangle {border-color: rgba(0, 0, 0, 0) #FFFFFF  rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); border-style: dashed  solid dashed dashed;}
.l-triangle {border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #FFFFFF; border-style: dashed   dashed dashed solid;}
.t-triangle {border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF rgba(0, 0, 0, 0); border-style: dashed   dashed solid dashed ;}
.header-cart  .l-triangle{right:2px; top:11px; color:#73584A; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #73584A;}
.header-cart .b-triangle{right:5px; top:13px; color:#73584A; border-color: #73584A rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}
/*--E 三角--*/
/*--S content--*/
#content{word-wrap:break-word;}
.description{overflow: hidden;}
.description p {margin: 1.12em 0; line-height: 1.4em; padding: 0; }

.product_show dt.head-bar{height: 36px; line-height: 36px; border-bottom: 2px solid #7c0000;overflow: hidden;margin-left: 12.5px;}
.product_show dt.head-bar span.title{padding-left:0;color: #7c0000;font-size: 18px;font-weight: bold;}
.product_show dt.head-bar span.title a{border:none;}
.product_show dt.head-bar span a{padding:0 10px;border-right: 1px #7c0000 solid;margin-right: -1px;}

.product_show dd li{width: 222px; height: auto; overflow: hidden; border: 1px solid #ccc;margin-left:12.5px;padding: 3px;float: left;margin-top: 12px; background: #fff;display: inline;}
.product_show dd dt.img{width: 222px;height: 222px; overflow: hidden; }
.product_show .product{background: #fff;}
.product_show .product dd {padding: 4px;background: #eee;overflow: hidden;height: 30px;}
.product_show .product dd.title {height:32px;overflow:hidden;}
.product_show .product .price{color: red;font-size: 18px;}
.product_show .product .market_price{color:#999;font-size:10px;float: right;padding-top:5px;}
.product_show .row4 li{width: 283px;margin-left:12px;}
.product_show .row4 dt.img{width: 283px;height: 283px; overflow: hidden; }
/*--E content--*/
/*--S footer--*/
#footer,.footer-links,.copyright{border-top: 1px solid #bbb;position: relative;}
#footer a{text-decoration: none;}
#footer a:hover{color: #7c0000;}
.footer-links{line-height: 26px;padding: 10px 20px;}
.footer-links a{line-height: 26px;padding-right: 10px;}
.copyright{height: 80px;margin:0 20px; text-align: center;padding: 10px 0; color: #6e6e6e;line-height: 22px;}
.footer-bar{height: 30px;position: relative;}
.footer-main{position: relative;padding: 20px 0;overflow: hidden;}
.footer-main dl{float: left; width: 208px; border-left: 1px dotted #999; padding-left: 30px;margin-left:-1px; }
.footer-main .dl2{margin-right: 205px;}
.footer-main .dl3{border-left: 1px dotted #999;}
.footer-main .dl4{border-right: none;}
.footer-main dl dt {font-size: 16px; font-weight: 500;  }
.footer-main dl dt a {color: #888; font-weight: bold; height: 37px; line-height: 37px; padding-left: 10px;display: block; float: left;}
.footer-main dl dd {padding-left: 47px;}
.footer-main dd a {color: #777; line-height: 26px; text-decoration: none; }
.icon-guide, .icon-payment , .icon-aftermarket, .icon-distribution, .icon-helpinfo, .icon-bcart{background: url(../images/icons.png);width: 37px;height: 37px;display:inline-block;}
.icon-guide{background-position: 160px 0;}
.icon-distribution{background-position: 160px -40px;}
.icon-payment{background-position: 160px -80px;}
.icon-aftermarket{background-position: 160px -120px;}
.icon-helpinfo{background-position: 160px -160px;}
.icon-bcart{background-position: 160px -240px;}
/*--E footer--*/
/*--S login--*/
.login,.dialog {padding: 30px 50px;}
.login .head,.dialog .head{border-bottom:#c5c5c5 1px solid;padding-bottom:15px;font-size: 24px;font-weight: bold;vertical-align: middle;}
.dialog .head img{vertical-align: middle;}
.login-form{width:530px ; border-right:#DDD 1px dashed;}
.login-form dl{margin-top:10px; clear: both;line-height: 40px; height: 40px;}
.login-form dl dt{float:left;width: 86px; padding-right: 10px; font-size: 14px; line-height: 32px; font-weight: bold; line-height: 38px; text-align: right;}
.login-form dl dd{float: left;}
.login-form dl dd label{padding-left:5px;}
.login-note {float: left;width:307px; padding: 0 10px;position: relative;}
input {border: #c5c5c5 1px solid; color: #5c5c5c; }
.input {line-height: 32px; width: 240px; font-size: 16px; border: #c5c5c5 1px solid; height: 32px; color: #5c5c5c; padding-left: 5px;}

.login-note ul li{display: block;padding: 5px;}
/*--E login--*/
/*--S shopping cart --*/
#shopping-cart{overflow: hidden; display: block; position: fixed; cursor: pointer; z-index: 10000; right: 10px; bottom: 0; width: 53px; display: none; _right: 10px; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-32));
}
#card-list{position: relative; }
#card-wrap{z-index: 9997; max-height: 360px;overflow-y: auto;overflow-x: hidden; position: absolute; top:-5px;left:3px;  border:1px solid #aaa; padding:10px; width: 272px; background-color: #cdc3bb;background-image:url(../images/shopping-cart-bg.png);box-shadow: 0 0 4px rgba(0,0,0,.3);}
#card-list .card-item{position: relative;border-top: 1px dotted #e3e3e3;height: 50px;overflow: hidden;background: #fff; padding: 3px 0;}
#card-list .card-item div{float: left;background: #fff;height: 50px; color:#999;}
#card-list .card-item .pic{width: 50px;margin-left: 3px;}
#card-list .card-item .card-pic{position: relative;display: block; width: 50px; height: 50px; margin-top: 3px; overflow: hidden;}
#card-list .card-item .icon-close{position: absolute;top: 0;right: 0;}
#card-list .card-item .spec{padding:0 4px;width: 92px; overflow: hidden; white-space: nowrap;}
#card-list .card-item .spec p{width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: middle; -o-text-overflow:ellipsis;height: 17px;}
#card-list .card-item .num{width: 40px; padding-top:18px; text-align: center;}
#card-list .card-item .price{padding-top:18px; text-align: center; color: #333;}
a.icon-close:hover{background-position: 0 -100px;}
.currency-symbol{font-family: arial;font-weight: 700;}

.buy-num a{width: 20px; display: inline-block; font-weight: 700;text-decoration: none;}
.buy-num a:hover{border: 1px solid #c7c7c7; background: #E7E7E7;}
.buy-num a, .buy-num input {border: 1px solid #ddd; color: #5e5e5e; overflow: hidden; text-align: center; height: 22px; line-height: 22px; font-size: 14px; float: left;  vertical-align: middle;}
.buy-num {padding: 4px 0;}
.buy-num input {width: 50px; border-width: 1px 0; }

/*--E shopping cart --*/
/*--S tabwidget --*/
.tab{position: relative;}
.tab .tab-head{ background: none repeat scroll 0 0 #E0E0E0; border: 1px solid #C4C4C4; height: 31px; padding: 8px 0 0; position: relative;}
.tab .tab-head li{cursor: pointer; display: block; height: 32px; line-height: 32px; margin: 0 10px;padding:0 1.5em;text-align: center;float: left;}
.tab .tab-head li.current{border: 1px solid #C4C4C4;height: 31px; line-height: 31px;border-radius: 4px 4px 0 0 ;background: #fff;border-bottom: 0;margin-bottom:-1px;z-index: 100;position:relative;_height:32px;}
.tab .tab-body{padding: 10px 0; border: 1px solid #C4C4C4; border-top: none;background: #fff;}

/*--E tabwidget --*/
/*--S pagebar --*/
.page-nav { font-family: Simsun; line-height:normal;text-align: right;margin-top: 10px;overflow: hidden;zoom: 1;}
.page-nav  a,.page-nav  span,.page-nav  input{display:inline-block;line-height:23px;padding:0 10px;border:1px solid #ccc;background-color:#fff; text-decoration:none;color:#666 !important;margin-right:5px;zoom: 1;}
.page-nav  input{height: 23px;line-height: 23px;padding: 0;zoom: 1; font:12px/16px;font-family: Simsun;zoom: 1;*margin-bottom:-3px;_margin-bottom:-4px;}
.page-nav  a:hover,.page-nav span.current{color:#fff !important;background-color:#C00;border-color:#be0d11 #be0d11 #9a0307; text-decoration:none;}

/*--E pagebar --*/
/*--S outh-list --*/
.outh-list{}
.outh-list a{display: block;float: left;padding: 2px 8px;}
/*--E outh-list --*/
.score,.score i{background: url(../images/icon.png);}
.score{display: inline-block; height: 20px; width: 110px;}
.score i{background-position: 0 -20px; display: block; height: 20px; margin: 0; overflow: hidden; padding: 0; text-indent: -10000px; }

.box h2{padding:8px;background-color: #f9f9f9;border-bottom: 1px solid #ddd;}
.box .footer{padding:8px;background-color: #f9f9f9;border-top: 1px solid #ddd;}

.sidebar .box .content{padding:8px 3px;}
.sidebar .header{background:#7c0000; color:#FFF;padding:4px;padding-left:20px;font-size: 18px;}
table.form{width: 100%}
table.form td{padding: 6px ;}
table.form td.label{text-align: right;width: 120px;font-weight: 800;}

table input, table select{border: 1px solid #afafaf; padding: 0 3px; height: 24px; line-height: 24px; vertical-align: middle;zoom: 1;}
table.form input[type="text"],table.form select,table.form input[type="password"]{border: 1px solid #afafaf; padding: 3px; width: 200px; height: 24px; line-height: 18px; vertical-align: middle;}
table.form select{width: auto;height: 28px;line-height: 28px;}
table.form textarea{display: block; width: 420px; height: 48px; margin: 0; border: 1px solid #afafaf; padding: 3px; font-size: 12px; }

.crumbs{ background: #B6B9BF; height: 32px; overflow: hidden; line-height: 32px; position: relative;}
.crumbs li{float: right; overflow: visible;  text-align: center; position: relative;font-size: 14px;background: #B6B9BF;z-index: 0;}
.step-2 li{width: 50%;}
.step-3 li{width: 33.3%;}
.step-4 li{width: 25%;}
.step-5 li{width: 20%;}

.crumbs li em {position: absolute; right: -21px; top: -5px; width: 0; height: 0; line-height: 0; border-width: 21px 0 21px 21px; border-color: transparent transparent transparent #fff; border-style: dashed dashed dashed solid; z-index: 101;}
.crumbs li i {position: absolute; right: -15px; top: 0; width: 0; height: 0; line-height: 0; border-width: 16px 0 16px 16px; border-color: transparent transparent transparent #B6B9BF; border-style: dashed dashed dashed solid; z-index: 102}
.crumbs li.pass {background: #7c0000; color: #fff; }
.crumbs li.pass em {z-index: 101; }
.crumbs li.pass i {border-color: transparent transparent transparent #7c0000;z-index: 102}

.nav-header{background:#fff;}
.nav-header .title{background:#7c0000;color:#fff;text-align:center;padding:3px 0; width:291px; display:inline-block;font-size:22px;}
.nav-header .caption{font-size:16px;padding-left:30px;}
/*--S help-content --*/
.help-content {line-height: 32px;}
.help-content p{margin-top:10px;}
/*--E help-content --*/
/*--S shopping-cart --*/
#shopping-cart{display: block;height: 32px;width:300px;z-index: 10000;overflow: visible;}
#shopping-bar-box{background: #7c0000;height: 32px; width: 300px; position:absolute;overflow: hidden; bottom: 0;z-index: 9999;line-height: 32px; color: #fff;}
#shopping-bar{width:240px; height:32px;line-height:32px;padding-top:2px;}
#settlement{background: #333;display:block; width:42px;position:absolute;right:0;top:0;  padding:  2px 10px;border-left:#8f2121 1px solid;}
/*--E shopping-cart --*/
.help-nav {clear:both;}
.help-nav dt{font-weight:800;font-size:14px;}
.help-nav .help-list{padding-left:2em;}
.help-nav .help-list li{float:left; width:120px;}
/*--S screen_960 --*/
.screen_960 .wrap{width: 960px;position: relative;zoom: 1;padding:0;}
.screen_960 .banner{margin-left: 0;}
.screen_960 .category .group{display: none;}
.screen_960 .category:hover .group,.screen_960 .category.hover .group{display: block;}
.screen_960 .header-search .txt-keyword{width: 320px;}
.screen_960 .footer-main dl{ width: 160px;}
.screen_960 .footer-main .dl2{margin-right: 160px;}
.screen_960 .product_show .row4 li{width: 303px;margin-left:13px;overflow: hidden;display: inline;margin-right: 0;}
.screen_960 .product_show .row4 dt.img{width: 303px;height: 303px; overflow: hidden; margin-bottom:6px;}
.screen_960 .nav-header .title{width: 313px;}
/*--E screen_960 --*/