#waterFall{position:relative;zoom:1;margin:0 auto;visibility:hidden;min-height:600px;width:100%;}
/*#ColumnContainer div{position:absolute;left:0;top:0;opacity:1;visibility:hidden;}*/
#waterFall div.pin{position:absolute;left:0;top:0;opacity:1;visibility:hidden;}
div.pin{width:230px;padding:0;border:0;}


.pin {border-top:1px solid #dcdcdc;-webkit-transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out}
.active div.pin{-webkit-transition:all .8s ease-in;-moz-transition:all  .8s ease-in-out;-o-transition:all .5s ease-in;transition:all  .5s ease-in;}

.mode{width:200px;padding:14px 14px 0px;border:1px solid #dfdfdf;background:#FFF;overflow:hidden;zoom:1;}
.mode .pic{ width:200px;margin-bottom:7px;position:relative;text-align:center;}
.mode .pic a{display:inline-block;}
.mode .pic a img{max-width:200px;vertical-align: bottom;}
.mode ul,.mode li,.mode .box_info{margin:5px 0;}
.mode .box_info{height:16px;overflow:hidden;}
.box_info span{display:inline-block;width:66px;overflow:hidden;height:16px;word-wrap:break-word ;word-break:break-all;line-height:16px;}
.mode .pic .commodity_price{font-family: 'MicroSoft Yahei',tahoma;color: white;position: absolute;display: block;height: 16px;padding: 0 4px;line-height: 16px;bottom: 2px;right: 2px;background-color: rgba(0, 0, 0, 0.2);
background-color: transparent 9;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33000000,endcolorstr=#33000000);}
.mode .pic .commodity_del{background:url(../images/actions.png) 0 -49px; position: absolute;display: block;width:14px;height: 16px;padding: 0 4px;line-height: 16px;bottom: 4px;left: 2px;}
.contents_list li,.notes_list li{border-top:#cfcfcf 1px dashed;}
.mode ul{margin:0 -14px;background:#f9f9f9;border-top:#f0f0f0 1px solid;}
.mode ul.comment_edit{border-top:0;}
.mode ul li{margin:0;padding:6px 5px;border-top:0;border-top: 1px solid #FCFAFA;border-bottom: 1px solid #D9D4D4;background:#F7F7F7;}
.contents_list li p,.notes_list li p{margin-left:38px;}

.popup_in,.popup_close{animation-duration:.5s;animation-delay:.1s;animation-timing-function:ease-out;animation-fill-mode:both;-webkit-animation-duration:.8s;-webkit-animation-delay:.1s;-webkit-animation-timing-function:ease-out;-webkit-animation-fill-mode:both;-moz-animation-duration:.5s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease-out;-moz-animation-fill-mode:both;-moz-backface-visibility:hidden;-ms-animation-duration:.5s;-ms-animation-delay:.1s;-ms-animation-timing-function:ease-out;-ms-animation-fill-mode:both}
.popup_in{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp;-ms-animation-name:fadeInUp;-o-animation-name:fadeInUp;animation-name:fadeInUp}.popup_close{visibility:hidden}
@-webkit-keyframes fadeInUp{0%{margin-top:-25px;}100%{margin-top:0}}@-moz-keyframes fadeInUp{}@-ms-keyframes fadeInUp{0%{opacity:0;-ms-transform:translateY(-20px)}100%{opacity:1;-ms-transform:translateY(0)}}@-o-keyframes fadeInUp{0%{opacity:0}100%{opacity:1}}@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0)}}@-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;visibility:hidden;-webkit-transform:translateY(-20px)}}

ul.bander,ul.bander li{margin:0}
ul.bander li{float:left;display:inline-block;height:60px;margin-right:10px;text-align:center;}
dl.custom_menu dd{float:right;width:60px;border-right:#cfcfcf 1px dotted;margin:0;padding:5px 0;}
div.banner{background:#FFF url(../images/banner_line.gif) repeat-x left bottom;}

dl.property dd{margin-left:5px;}