@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{padding:0;margin:0;font-size:100%;}
body{font:12px/1.5 "宋体", Arial, Helvetica, sans-serif;color:#404040;background-color:#fff;text-align:center}
table{border-collapse:collapse;}
.panel{width:auto;margin:20px;}
.bold{font-weight:bold}
.gray{color:#979797}
.orange{color:#f76f10;}
table{border-top:1px solid  #aaa;width: 100%;text-align: left;}
table  th{height:32px;padding:0 16px;}
table  th{height:32px;border-top:1px solid #aaa;border-bottom:1px solid #aaa;color: #000; font-weight: bold;}
table  td{padding:12px 10px;padding-left: 16px;}
table  td img.pic{float:left; vertical-align:middle;margin-right:10px;}
table td ul li{height: 28px;line-height: 28px;}
table td span.caption{display: inline-block;width: 100px;text-align: right;padding-right: 4px;}