body{background:#f2f1f0;font:12px/1.6 tahoma,Arial,sans-serif;color:#777;}
ul,li{list-style:none;}
#container {margin:0 auto; width:960px;}
#header { height:90px;background:url(../images/top.jpg);}

.logo{background:url(../images/logo.png) no-repeat;margin-top:15px;display:inline-block;width:140px;height:60px;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/default/images/logo.png');_background-image: none;}
#menu { background:url(../images/nav_bg.gif);}
#nav {background:url(../images/block_nav_bg.gif) 0 -6px;height:36px;line-height:36px;overflow:hidden;width:960px;margin:0 auto;vertical-align:middle;}
#nav span{display:inline-block;height:36px; padding-left:5px;  overflow:hidden;text-align:center;line-height:31px;zoom:1;margin:0 auto;}
#nav a,#nav span{color:#FFF;border:0;margin:0;}
#nav a{display:inline-block;padding:0 10px; margin-top:8px; height:20px;line-height:20px;}
#nav a.current {background:#FBAECF; display:inline-block;margin-top:8px; height:20px;line-height:20px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
#secondNav{background:#FFF;height:36px;line-height:36px;text-align:center; }
#secondNav span.label{border-right:#cfcfcf 1px solid;}
#secondNav a{display:inline-block;padding:0 10px;margin-right:4px; min-width:60px;margin-top:6px;height:24px;line-height:24px;}
#mainContent {overflow:auto;zoom:1; margin-bottom:5px;}
#sidebar {float:left; width:200px;}
#content {margin-left:205px !important; margin-left:202px; height:auto !important; height:100px; }
#footer {margin-top:15px;margin-left:auto;margin-right:auto;background:#fff;border-top:#c0c0c0 1px solid;padding:5px;margin-bottom:5px;overflow:hidden;zoom:1;height:160px;padding-top:15px;}
#footer dl{width:140px;float:left;font-size:14px;color:#FE68A5;}
#footer dd{margin:3px 40px 0 1px;font-size:12px;color:#999;}
.ico_sina,.ico_qq,.ico_txweibo,.ico_qzone,.ico_taobao,.ico_renren{background: url(../images/sqicon.gif) no-repeat -14px -43px;padding-left:20px;height:17px;line-height:17px;display:inline-block;margin-top:5px;}
.ico_txweibo{background-position: -14px  -162px;}
.ico_qq{background-position: -14px  -242px;}
.ico_renren{background-position: -14px  -122px;}
.ico_qzone{background-position: -14px -3px;}
.ico_taobao{background-position: -14px  -202px;}
.info_bar{background: url(../images/nav_bg_v1.gif) no-repeat;height:46px;}
.info_bar span{display:inline-block;height:46px;line-height:46px;overflow:hidden;}
.info_bar a{display:inline-block;height:24px;line-height:24px;margin-top:12px;}
.info_bar span{padding-left:10px;vertical-align:middle;}
.info_bar a{padding-right:10px;}
.info_bar span{background: url(../images/nav_bg_v1.gif) no-repeat 0 -48px;} 
.info_bar_right { display:inline-block; background: url(../images/nav_bg_v1.gif) right top no-repeat;height: 46px;width:6px; }
#Search input {height:17px;padding:5px;float: left;width: 183px;background-color: #FAF7F7;border: 1px solid;border-color: #C2C0C0 #CCCACA #D1CFCF;-moz-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05);font-size: 13px;line-height: 1.3;}
#Search a,.btn_nomal{-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: #C2C0C0 #CCCACA #D1CFCF;border-style: solid;border-width: 1px;float: left;margin-left: -1px;min-height: 17px;padding: 7px 7px 2px;}
#Search a:active {box-shadow: 0 1px 1px rgba(34, 29, 29, 0.15) inset;}
.lg {background-color: #f0eded; background: -moz-linear-gradient(top,#fffcfc, #f0eded); background: -o-linear-gradient(#fffcfc, #f0eded); background: -webkit-linear-gradient(#fffcfc, #f0eded); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfc', endColorstr='#f0eded');}

.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}
.overflow {overflow: hidden;}
.round{box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);-webkit-box-shadow: rgba(34, 25, 25, 0.2) 0px 1px 3px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}

.aui_title {background: url(../images/block_nav_bg.gif) 0px -10px;border-top: 1px solid #ef5aa5;border-bottom: 1px solid #B6BEC5;}
/*style for iSimulateSelect*/
.i_selectbox{margin-top:0px;height:35px;position:relative;font-size:14px} 
.i_selectbox .i_currentselected{width:220px;height:30px;background:#fff url(../images/bg-select.gif) right top no-repeat;border:1px solid #c0c0c0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-indent:10px;line-height:32px;cursor:pointer}
.i_selectbox .i_selectoption{overflow-x:hidden;position:absolute;left:0px;top:0px;background-color:#fff;background:rgba(255,255,255,1);-webkit-box-shadow:0px 0px 2px rgba(0,0,0,.3);-moz-box-shadow:0px 0px 2px rgba(0,0,0,.3);box-shadow:0px 0px 2px rgba(0,0,0,.3);border-radius:3px;border:1px solid #eee} 
.i_selectbox .i_selectoption dl{overflow-y:auto;margin:0}
.i_selectbox .i_selectoption dt{height:24px;background-color:#eee;text-indent:0px;font-style:italic;color:#555;line-height:24px;} 
.i_selectbox .i_selectoption dd{margin-left:0;height:30px;border-bottom:1px dashed #ccc;cursor:pointer;text-indent:10px;line-height:30px}
.select_numu{float:left;margin-right:5px;display:inline-block;width:120px;}
.select_numu .i_selectbox,.select_numu .i_selectbox .i_currentselected{height:26px;line-height:26px;}
.i_selectbox .option_editer{padding:5px;background:#f1f1f1;height:35px;width:280px;}
.i_selectbox .option_msg{padding:0 5px 5px 5px ;background:#f1f1f1;width:280px;}
.i_selectbox .option_input{border: 1px solid #CCCCCC;font-size: 16px;height: 19px;padding: 5px;width: 188px;}
/*color*/
.gray{color:#777;}

.aui_buttons button{float:right}
.line{border-bottom:#EBEBEB 1px solid;margin-bottom:10px;padding-bottom:10px;}

.bggrren{background:#14A003;font-weight: bold;color:#FFFFFF}
.foreColor{color:#DD4B39}
.center{text-align:center;margin-left:auto;margin-right:auto;}
.fl{float:left;} .fn{float:none;} .fr{float:right}
.tl{text-align:left;} .tc{text-align:center;} .tr{text-align:right;}
.f16{font-size: 16px;font-weight: bold;}
.f14{font-size: 14px;}

lh24{line-height:24px;}
lh32{line-height:32px;}

a{text-decoration: none;color:#666}
a:hover{color:#FE68A5;}
.red, .red a:link, .red a:visited, .red:active,.mainColor{color:#FE68A5;text-decoration: none;}

.form_header{margin:30px 100px; font-size:24px;font-weight: bold;}
.w_1_2{width:50%}
/*按钮*/

.btn_login,.btn_reset,.btn_button,.btn_minigray,.btn_smallgray,.btn_smallmain{background:url(../images/btns.gif) no-repeat;display:inline-block;border:0;text-align:center;}
.btn_login,.btn_reset,.btn_button{width:86px;height:36px;color:#FFF;font-size:16px;font-weight:800;cursor: pointer;}
.btn_login{background-position: -263px -3px;}
.btn_reset{background-position: 0 -44px;color:#5c5c5c}
.btn_button{background-position: 0 -83px; width:75px;height:33px;line-height:33px;font-size:14px;}
.btn_button:hover{background-position: -75px  -83px;}
.btn_button:active{background-position: -152px  -83px;}
.btn_minigray{background-position: -185px -202px; width:46px;height:23px;line-height:21px;line-height:21px;font-size:14px;}
.btn_smallgray{background-position: -2px -200px; width:55px;height:27px;line-height:27px;font-size:14px;vertical-align:middle;margin:auto;}
.btn_smallgray:hover{background-position: -59px  -200px;}
.btn_smallgray:active{background-position: -115px  -200px;}

.btn_smallmain{background-position: -2px -172px; width:55px;height:27px;line-height:27px;font-size:14px;vertical-align:middle;margin:auto;}
.btn_smallmain:hover{background-position: -59px  -172px;}
.btn_smallmain:active{background-position: -115px  -172px;}

.btn_left{background:#FFF;color:#FE68a5;border:#CFCFCF 1px solid; border-right:0;padding:5px 10px;margin-bottom:5px;overflow:hidden;zoom:1;}
.btn_right{background:#FE68a5;color:#FFF;border:#DF005B 1px solid;padding:5px 10px;margin-bottom:5px;overflow:hidden;zoom:1;};
a.btn_right:hover{color:#FFF;}
/*大一点的表单*/
.form_big ul,.form ul{margin:0;}
.form_big ul li,.form ul li{margin-bottom:10px;overflow:hidden;clear:both;}
label.field_title{float:left;font-size:16px;display:inline-block;width:88px;text-align:right;padding-top:0px;margin-top:5px;}
.input_big{line-height:32px;width:240px;font-size:16px;border:#c5c5c5 1px solid;height:32px;color:#5c5c5c}
.input{border: 1px solid #c5c5c5;font-size: 12px;line-height: 22px;padding-left: 4px;padding-right: 5px;padding-top: 3px;width: 260px;height: 23px;color: #5c5c5c;}
.form label.field_title{font-size:14px;}
.auto_height{margin-bottom:5px;overflow:hidden;zoom:1;}
/*方框*/
.box {border:#c0c0c0 1px solid;padding:5px;margin-bottom:5px;overflow:hidden;zoom:1}
.simple_box{width:960px; background:#FFF;height:500px;}

.f1 .head,.f2 .head,.f3 .head,.f4 .head,.f5 .head{background:url(../images/fs.gif) no-repeat;height:21px;padding-bottom:2px;border-bottom:#000 2px solid;}
.f1 .head{background-position: 0 0;}
.f2 .head{background-position: 0 -32px;}
.f3 .head{background-position: 0 -64px;}
.f4 .head{background-position: 0 -96px;}
.f5 .head{background-position: 0 -128px;}

.f_box{background:#FFF;margin-top:30px;border:#DFDFDF 1px solid;border-left:0;border-right:0;padding:10px 0;}
.f_box ul,.f_box dt,.f_box li{margin:0;padding:0;}
.f_box dt{width:0;}
.f_box dd{margin:0;}
.f_box li{height:32px;line-height:32px;color:#fff;padding-left:10px;}
.f_box li a{color:#FFF;font-family:Sans Serif;font-size:14px;text-decoration: none;}
.f_box li a:hover{background:#c5c5c5;}
.f_box .head{padding-left:130px;padding-top:10px;}
.f_box .head a{display:inline-block;padding:0 6px ;border-right:#ddd 1px solid;}
.f_box .head:last-child{border:0;}
a .info{display:none;position: absolute;}
a:hover .info{display:block}
.f_box .f1_menu li{background:#ef9ba9;border-top:#f2acb8 1px solid;border-bottom:#e4859a 1px solid;}
.f_box .f2_menu li{background:#9f88ad;border-top:#a891b5 1px solid;border-bottom:#967fa5 1px solid;}
.f_box .f3_menu li{background:#7bb1b1;border-top:#87babb 1px solid;border-bottom:#6faaa8 1px solid;}
.f_box .f4_menu li{background:#998673;border-top:#a2907c 1px solid;border-bottom:#907c6a 1px solid;}

.f1 .pic_nav .nav_info{color:#ef9ba9}
.f2 .pic_nav .nav_info{color:#9f88ad}
.f3 .pic_nav .nav_info{color:#7bb1b1}
.f4 .pic_nav .nav_info{color:#998673}

.pic_nav{position: relative;}
.pic_nav .nav_info{color:#FE68A5;font-weight:600;font-size:14px;text-align:center;position:absolute;bottom: 0;left:0;z-index: 2;opacity: 0.9;-moz-opacity: 0.9;filter: alpha(opacity=90);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background: #FFF;display:block;cursor:pointer;}

dl.category dt{line-height:26px;font-size:14px;}
dl.category dd a{display:inline-block;padding:3px;}

.actions{position:absolute;left:-5px;top:-6px;width:214px;display:none;}
.actions a{display:inline-block;background:#fff;border:#c6bfbf 1px solid;width:auto;padding: 3px 5px; border: 1px solid rgba(140,126,126,0.5); border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px rgba(255,255,255,0.35); -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35);margin-right: 4px;}
.actions_live,.actions_comment,.actions_note,.actions_collect{background:url(../images/actions.gif);width:20px;height:14px;display:inline-block;}
.actions_comment{background-position: 0 -16px;}
.actions_note{background-position: 0 -31px;}
.actions_collect{background-position: 0 -66px;}
.comment_box,.note_box{border:#c0c0c0 1px solid;overflow:hidden;zoom:1;color:#999;resize:none;font-size: 12px;}
.comment_box{overflow: hidden;padding: 4px;width: 154px;height: 22px;margin-left:4px;}
.note_box{resize: none;font-size: 14px;height: 90px;padding: 4px;width: 280px;}

.pages{ font-family:Simsun; line-height:normal;}
.pages a:hover, .pages span.current {color: white !important;background-color: #D92025;border-color: #9A0307 #BE0D11 #BE0D11;}
.pages a, .pages span{display: inline-block;line-height: 23px;padding: 0 10px;border: 1px solid #CCC;background-color: white;text-decoration: none;color: #333 !important;margin-right: 5px;}
.pages .loading{background:url(../images/ajax-loader.gif) no-repeat 50% 50%;height:80px;}

.head_32{width:32px;height:32px;}
#scroll_to_top{position:fixed;z-index: 999;right: 5px;bottom: 5px;width: 53px;height: 153px;display: none;
/*IE6的hack*/
_right:5px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-158));}
#scroll_to_top .b_img:hover {background-position: bottom;}
#scroll_to_top .b_img {background: url(../images/scroll_to_top.gif) no-repeat;display: block;height: 50px;width: 50px;}
#scroll_to_top .add_fav{background: url(../images/add_fav.png) no-repeat;display: block;height: 100px;width: 45px;margin-left:2px;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/default/images/add_fav.png');_background-image: none;}

.detail_pic{float:left;max-width: 420px;border: 0px;overflow: hidden;}
.detail_info{float:left;border: 0px;overflow: hidden;padding-left:10px;line-height:24px;width:245px;font-size:14px;}
dl.detail_info dt,dl.detail_info dd{margin:0 0 10px;line-height:24px;}
.detail_info .num{border:#FE68A5 1px solid;padding:0 10px; height:21px;display:inline-block;line-height:21px;font-weight:600;}
.sidebar dt{line-height:36px;height:36px;font-size:14px;}
.sidebar dd{line-height:30px;height:30px;}
.sidebar dd a.on{font-weight:800;}

/* TAB */
.tab-menu{height:31px;overflow: visible;white-space: nowrap;background:url(../images/tab_line_bg.gif) repeat-x 0 bottom}
.myop .tab-menu{}
.tab-menu ul{height:27px;margin:0;margin-left:2px;}
.tab-menu li{float:left;margin-right:2px;margin-left:0;}
.tab-menu li a{height:30px;line-height:30px;color:#666;float:left;padding-left:20px;margin-top:-1px;text-decoration:none;display:block;font-size: 14px;background: #eee url(../images/tab_menu.gif) no-repeat 0 -35px}
.tab-menu li a:visited{color:#666}
.tab-menu li a span{height:30px;display:block;font-size:12px;padding-right:20px;float:left;cursor:pointer;text-decoration: none;line-height: 30px;background: #eee url(../images/tab_menu.gif) no-repeat right -35px}
.tab-menu li a span.ico_arrow{background:url(images/ico_arrow.gif) no-repeat right center;padding-right:15px}
.tab-menu li a.on, .tab-menu li a:hover,.tab-menu li a.on:hover{display:block;height:32px;_height:30px;margin-top:-1px;_margin-top:0;text-decoration: none;background: #fff url(../images/tab_menu.gif) no-repeat 0 0;color:#666}
.tab-menu li a.on span, .tab-menu li a:hover span,.tab-menu li a.on:hover span{cursor:pointer;line-height:30px;height:31px;display:block;font-weight: bold;background-image: url(../images/tab_menu.gif);background-repeat: no-repeat;background-position: right 0}
.tab-menu li a:hover{background-position:left 0;text-decoration: none;font-weight:normal}
.tab-menu li a:hover span{cursor:pointer;display:block;height:30px;_height:31px;text-decoration: none;background-position:right 0;font-weight:normal}
.feeds_sift_hover, .feeds_sift{position:relative;display:inline-block;z-index:9;_padding:8px 0;_display:block;_float:left;color:#666}
.feeds_sift .feeds_sift_box{display: none;position:absolute;left:0;top: 24px}
.feeds_sift_hover .feeds_sift_box{display:block;position:absolute;left:0;white-space: nowrap; top: 24px}
.more{border-color:#666 transparent transparent;border-style:solid dashed dashed;border-width: 4px 4px 0;display: inline-block;font-size: 0;height:0;margin:2px;left:3px;   line-height: 0;width: 0}	
.feeds_sift a.ico,.feeds_sift_hover a.ico,.feeds_sift_hover a.ico:hover{background: url(../images/feeds_sift_ico.gif) no-repeat center center;width:13px;height:13px;overflow:hidden;display:block;padding:3px;}
.feeds_sift_hover a.ico,.feeds_sift_hover a.ico:hover{background: url(../images/feeds_sift_ico.gif) no-repeat center center;width:13px;height:13px;overflow:hidden;display:block;padding:2px;border:1px solid #ccc}
.feeds_sift_box{position: absolute;border:1px solid #CCC;background-color:#FFF;padding:2px;top:30px}
.feeds_sift_box p{margin:0;color:#999}
.feeds_sift .feeds_sift_box a, .feeds_sift_hover .feeds_sift_box a{color:#5C5C5C;line-height:18px;display:block;padding-left:3px;margin:0;text-align:left;float:none}
.feeds_sift .feeds_sift_box a:hover,.feeds_sift_hover .feeds_sift_box a:hover{background-color:#F5F5F5;padding-left:3px;margin:0}
.tab-menu .tab_group{position:relative}
.tab-menu .tab_group .Inc_new{display:none}
.tab-menu .tab_group_hover{position:relative}
.tab-menu .tab_group_hover .Inc_new{background-color:#fff;border:1px solid #D2DBEA;padding:5px;position:absolute;top:27px;border-top:3px solid #D2DBEA;left:0px}
.tab-menu .tab_group_hover .Inc_new a{height:25px;line-height:25px;float: none;padding:3px;text-decoration:none;display:block;font-size: 14px}
.tab-menu .tab_group_hover .Inc_new a:hover{background-color:#F5F5F5}

dl.property dd a{background:#EAECEB;margin:4px 2px;border:#ccc 1px solid;display:inline-block;border-radius:5px;padding: 2px 4px;white-space: nowrap;line-height:20px;}
dl.property dd a.current, a.btn_simple{background:#FE68A5;border:#FE55b6 1px solid;display:inline-block;color:#FFF!important;border-radius:5px;white-space: nowrap; }
a.btn_simple{padding:0 10px;display:inline-block;}
ul.comment,ul.comment li{margin:0}
.comment .list_info {width: 100%;padding: 6px 0;border-bottom: 1px dashed #DDD;line-height: 18px;overflow: hidden;}
.list_info .img_face {width: 32px;height: 32px;float: left;}
.list_info  p {margin-left: 40px;}

.about .title{height: 24px;font-size: 20px;font-weight: bold;line-height:24px;margin-bottom:15px;}
.about dt{margin-top:15px;}
.about dd{line-height:28px;margin-top:5px;}

.auth_sina, .auth_qq, .auth_taobao, .auth_renren, .auth_wangyi{background: url(../images/oauth.gif) no-repeat;
float: left;height: 44px;margin-right: 10px;width: 44px;margin-top:8px;}
.auth_sina{background-position: 0 0;}
.auth_qq{background-position: -47px 0;}
.auth_taobao{background-position: -141px 0;}
.auth_renren{background-position: -94px 0;}

#banner{width:960px;margin:0px auto;height:316px;text-align:center;}
#btn{display:block;width:110px;hegiht:28px;float:right;bottom:15px;right:15px;position:absolute;z-index:10;}
#btn a{color:#f1f1f1;font:700 28px "Arial";float:left;width:18px;height:28px;line-height:28px;text-align:center;text-decoration:none;margin-left:5px;}
#btn a.activeSlide{color:#000;}
#btn a:hover{color:#999;}