.uc-content{margin-left: 212px;}

.goods-detail{position: relative;}
.goods-detail .sidebar{width: 230px;float: left;}
.goods-detail .sidebar .category-nav{padding-left: 24px;line-height: 24px;}
.goods-detail .child-category-list li{ margin-top: 10px;}
.child-category-list li dt,.child-category-list li dd{margin:5px 0;}
.goods-detail .content{padding-left: 230px;}
.consult-q,.consult-a,.comment{position: relative;padding:10px 20px;}
.comment{padding: 10px 0;}
.consult-item ,.comment-item{border-bottom: #ccc 1px solid;margin-top: 20px;}
.consult-item .head,.comment-item .head{width: 80px;}
.consult-item .head .arrow,.comment-item .head .arrow {border-color: rgba(0, 0, 0, 0) #d5d5d5; color: #d5d5d5; border-width: 8px 12px 8px 0; left: 95px; margin-top: 20px; top: 0; z-index: 1000}
.consult-item .head .arrow b,.comment-item .head .arrow b {border-color: rgba(0, 0, 0, 0) #f6f5fb; color: #f6f5fb; border-width: 8px 12px 8px 0; margin-top: -8px; left: 2px; }
.consult-item .head .arrow b,.consult-item .head .arrow,.comment-item .head .arrow b,.comment-item .head .arrow{border-style: dashed solid dashed dashed; font-size: 0; line-height: 0; position: absolute;}
.consult-item .head img,.comment-item .head img{border-radius: 100%;border:#ccc 1px solid;display: block;}
.consult-content,.comment-content{padding: 10px;left:107px;top:0; right: 108px; background: #f6f5fb; border: 1px solid #d8d8d8; border-color: #d8d8d8 #d5d5d5 #b8b8b8; border-radius: 5px; box-shadow: 0 1px 1px #dad7d7;position:absolute;}
.comment-content{right: 10px;}
.comment-content .top{border-bottom: dotted 1px #ccc;padding: 5px 0;margin-bottom: 10px;}
.consult-a{margin-top: 20px;}
.consult-a .consult-content{right: 107px; top:0;left:auto;}
.consult-a .head{margin-left:auto;margin-right: 0;text-align: right;overflow: hidden;}
.consult-a .head img{margin-left:auto;margin-right: 0;}
.consult-a .head .arrow {border-color: rgba(0, 0, 0, 0) #d5d5d5; color: #d5d5d5; border-width:  8px 0 8px 12px;left: auto; right: 95px; margin-top: 20px; top: 0; z-index: 1000}
.consult-a .head .arrow b {border-color: rgba(0, 0, 0, 0) #259bfd; color: #259bfd; border-width: 8px 0 8px 12px; margin-top: -8px; right: 2px; left: auto; }
.consult-a .head .arrow b,.consult-a .head .arrow{border-style: dashed dashed dashed solid; font-size: 0; line-height: 0; position: absolute;}
.consult-a  .consult-content{background: #259bfd;color: #fff;left:108px;}
.comment-score{width:120px;height: 120px;border-radius: 100%;border: 1px #999 dashed; background: #FFF7EE;}
.comment-score .circle{padding-left: 10px;height:52px;font-size: 40px; color: #548325; display: block; font-style: normal; font-family: Arial; line-height: 50px; padding-top: 10px; border-bottom: 1px #ccc solid;margin-bottom: 15px;}
.comment-list .comment-top{position: relative;height: 160px;overflow: hidden;}
.comment-list .comment-top li{float: left;}
.comment-list .comment-top li.comment-grade {margin-left:20px;width: 200px; padding: 10px 15px; border-right: dotted 1px #999; }
.comment-list .comment-top li.comment-action {float: right;padding-top: 20px;}

.comment-percent dt{float: left; width: 30px; line-height: 26px;display: block;}
.comment-percent dd.bar{float:left;width: 135px; background: #ccc; text-align: left;display: block; margin-top: 6px; height: 13px;}
.comment-percent dd.bar i{display: block; height: 13px;background: #fc0000;}
.comment-percent dd.percent{float: left; width: 30px; line-height: 26px; text-align: right;}


#selector{margin-left: 12.5px;}
#selector  a.select{background: #f1f1f1;color: #268026;}
#selector .attr{padding: 8px 12px;border-bottom: #ccc 1px dotted;}
#selector .attr .attr-key{float: left; font-weight: 700;width: 80px;text-align: right;}
#selector .attr .attr-value a{display:block;float: left;position: relative;padding: 2px 25px 2px 3px; }
#selector .attr .attr-value a.select i{display: inline-block;background: url(../images/icons.png);width: 25px;height: 25px;background-position: -25px -50px;position: absolute;top:-2px;right: 0;}
#selector .attr .attr-value a.select:hover i{background-position: -25px -25px;}
.sort-bar a,.sort-bar span{display: block;float: left;padding: 4px 10px; border: #ccc 1px solid;margin-right: 5px;}
.sort-bar a:hover{color: #ae0000}
.sort-bar a.current,.sort-bar a.current-2{background: #ae0000;color: #fff;padding-right: 20px;position: relative;}
.sort-bar a.current i,.sort-bar a.current-2 i{background:url(../images/icon.png);display: inline-block; position: absolute; top: 8px; right: 8px; width: 9px; height: 11px; overflow: hidden; font-size: 0px;background-position: -200px -3px;}
.sort-bar a.current-2 i{background-position: -200px -15px;}
.sort-bar span{border: none;}

/**.sidebar h2{background:#797F8A;color: #F7F7F7;}**/
.sidebar .box{overflow: visible;}
.sidebar .menu-list{border-bottom:#ddd 1px solid;}
.sidebar .menu-list a{display: block;padding-left: 10px;line-height: 28px;height: 28px; position: relative;}
.sidebar .menu-list a .l-triangle;{display: none;}
.sidebar .menu-list a.current,.sidebar .menu-list a:hover{background: #797F8A;color: #fff;border-left:5px solid #555;}
.sidebar .menu-list a:hover{background: #ccc;border-left:5px solid #999;}
.sidebar .menu-list a.current .l-triangle{border-width: 14px;top:0;right:-28px;border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #797F8A; color: #797F8A;display: block;}
.sidebar .menu-list a:hover .l-triangle{border-width: 14px;top:0;right:-28px;border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #cccccc; color: #cccccc;display: block;}



.list-item p{color: #454545; line-height: 23px; padding-left: 20px;}
.order-total{background: #eee;}
.order-total p{line-height: 23px;text-align: right; font-size: 14px;}
.order-total .total{font-size: 18px; font-weight: 700}
.order-total .total b{font-size: 24px; font-weight: 700;color: red;}
table.attention td{padding: 4px 8px;}
.order-status .title{background: #f7f7f7; padding: 10px;border-bottom: #ddd 1px solid;}
.order-status .title b{padding-left: 10px;}
.order-status p{padding-left:20px;line-height: 28px;height: 28px;}