@charset "utf-8";
/*返回顶部[1]*/
.toTop{position:fixed;display:block;width:48px;height:49px;text-indent:-9999em;overflow:hidden;right:20px;visibility:visible;bottom:10px;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);background:url(../Img/totop.png) no-repeat 0 0}
.toTop:hover{background-position:-48px 0}

/*栏目折叠[2]*/
.Fold .item{ position:relative}
.Fold .item .tit{margin:0;font-weight:bold;position:relative;border-top: 1px solid #fff;font-size:15px;line-height:22px;padding:7px 10px;background-color:#eee;cursor:pointer;padding-right:30px}
.Fold .item .tit b{position:absolute;display: block; cursor:pointer;right:10px;top:7px;width:16px;height:16px; text-align:center; color:#666}
.Fold .item .con{display:none;padding:10px}

/**/
.tabBar {border-bottom: 2px solid #222}
.tabBar span {background-color: #e8e8e8;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px}
.tabBar span.current{background-color: #222;color: #fff;}
.tabCon {display: none;}

.CC{
	border:1px solid #dcdcdc;
}
