@CHARSET "UTF-8";
.wst-header .cart{
	width: 40px;
	height: 40px;
	position: absolute;
    right: 38px;
    background: url(../img/icon_spxq.png) -10px -4px no-repeat;
    background-size: 497%;
}
.wst-header .cart span{
	height: 12px;
	line-height: 12px;
	font-size:0.11rem;
	position: absolute;
	top:6px;
	right: 8px;
	min-width: 12px;
	text-align: center;
	border-radius:5px;
	color: #ffffff;
	background: #de0202;
}
.wst-header .share{
	width: 40px;
	height: 40px;
	position: absolute;
    right: 0px;
    background: url(../img/icon_spxq.png) -60px -4px no-repeat;
    background-size: 497%;
}
.wst-go-img{
	float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}
.wst-go-img a{
	width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.wst-go-img a img{
	max-width: 100%;
    max-height: 100%;
}
.wst-go-name{
	font-size: 0.165rem;
    padding-top: 10px;
    font-weight: bold;
    color: #616161;
    background:#ffffff;
}
.wst-go-price{
	padding:10px;
	background:#ffffff;
}
.wst-go-price p{
	font-size:0.15rem;
	color: #707070;
}
.wst-go-price .time{
	padding-bottom:10px;
	color: #f52f0e;
	font-weight: bold;
	font-size:0.18rem;
}
.wst-go-price .price{
	font-size: 0.189rem;
	font-weight: bold;
	color: #de0202;
}
.wst-go-price .market{
	margin-left:12px;
	font-size:0.15rem;
	color: #707070;
	text-decoration: line-through;
}
.wst-go-price .follow,.wst-go-price .nofollow{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.wst-go-price .follow{
    background: url(../img/icon_spxq.png) -159px -7px no-repeat;
    background-size: 543%;
}
.wst-go-price .nofollow{
    background: url(../img/icon_spxq.png) -115px -7px no-repeat;
    background-size: 543%;
}
.wst-go-ul{
	margin:10px 0px
}
.wst-go-ul li{
	color: #3d3d3d;
	margin-left: 0px;
	padding-left:10px;
	border-bottom: 1px solid #edebeb;
}
.wst-go-ul .icon{
	color: #dbdada;
	height: 24px;
	line-height: 24px;
	font-size:0.35rem;
}
.wst-go-ul .word{
	color: #707070;
}
.wst-go-ul .line,.wst-go-shop .line{
	color: #dbdada;
	padding:0px 5px;
}
.wst-go-ul .red,.wst-go-shop .score .red{
	color: #de0202;
}
.wst-go-shop{
	padding-bottom:10px;
}
.wst-go-shop img{
	width: 52px;
    border-radius: 1000px;
}
.wst-go-shop .info{
	position: relative;
}
.wst-go-shop p{
	color:#59595c;
	font-size: 0.15rem;
	height: 24px;
	line-height: 24px;
}
.wst-go-shop .name{
	position: absolute;
	left:0px;
	top:12px;
	font-size: 0.165rem;
}
.wst-go-shop .name2{
	position: absolute;
	left:0px;
	top:35px;
	width: 200px;
}
.wst-go-shop .score{
	padding:8px 0px;
	border: 1px solid #edebeb;
	font-size: 0.15rem;
	text-align: center;
}
.wst-go-goods{
	float: left;
	width: 28.333333%;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    font-size: 0.158rem;
    background: #ffffff;
    box-shadow: 0 1px 2px #e0e0e0;
}
.wst-go-goods .img{
	float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}
.wst-go-goods .img a{
	width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.wst-go-goods .img a img{
	max-width: 100px;
    max-height: 100px;
}
.wst-go-goods .name{
    float: left;
    width: 100%;
    height: 42px;
    margin-top: 2px;
}
.wst-go-goods .info{
	float: left;
	width: 100%;
	margin-top:3px;
}
.wst-go-goods .info .price{
	float: left;
	font-size:0.175rem;
	color:#e00102;
}
.wst-go-top{
	color:#bebebe;
	font-size:0.175rem;
	text-align: center;
	height: 26px;
	line-height: 26px;
	background:#ffffff;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
}
.wst-go-icon .icon,.wst-go-icon .but{display: block;margin: 0 auto;margin-top:3px;width:30px;height:42px;position:relative}
.wst-go-icon .img{width:30px;height:22px;position:absolute;left:0;top:0}
.wst-go-icon .img{
	width: 27px;
	height: 22px;
	position: absolute;
	left:0px;
	top:0px;
}
.wst-go-icon .qq{background:url(../img/qq.png) 5px 1px no-repeat;background-size: 20px 20px;}
.wst-go-icon .shop{
    background: url(../img/icon_spxq.png) -64px -47px no-repeat;
    background-size: 738%;
}
.wst-go-icon .follow{
    background: url(../img/icon_spxq.png) -156px -48px no-repeat;
    background-size: 738%;
}
.wst-go-icon .nofollow{
    background: url(../img/icon_spxq.png) -114px -48px no-repeat;
    background-size: 738%;
}
.wst-go-icon .word{width:100%;position:absolute;left:0;bottom:2px;font-size:.13rem;text-align:center;color: #232326;}

.wst-goods_buy{
	margin-top:3px;
	margin-bottom:3px;
}
.wst-goods_buyl,.wst-goods_buyr{
	float:left;
	margin-right:0px;
	width: 48%;
    height: 35px;
    font-size:0.15rem;
    color: #ffffff;
}
.wst-goods_buyl{
	background:#f9a517;
	border-bottom:1px solid #f9a517;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.wst-goods_buyl:not(.disabled):not(:disabled):active, .wst-goods_buyl.active {
	color:#fbf6ee;
	background:#f3c77c;
	background-clip: padding-box;
}
.wst-goods_buyr{
	background:#e00102;
	border-bottom:1px solid #e00102;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.wst-goods_buyr:not(.disabled):not(:disabled):active, .wst-goods_buyr.active {
	color:#fbd6d6;
	background:#f25a5b;
	background-clip: padding-box;
}
.wst-goods_buym{
	float:left;
	margin-right:0px;
	width: 96%;
    height: 35px;
    font-size:0.15rem;
    color: #ffffff;
    background:#e00102;
	border-bottom:1px solid #e00102;
	border-radius:3px;
}
.wst-goods_buym:not(.disabled):not(:disabled):active, .wst-goods_buym.active{
	color: #b8b6b6;
	background:#ebeaea;
	border-bottom:1px solid #b8b6b6;
}
.wst-fav_but{
	width: 23px;
	height:48px;
	border-radius:none;
	border:none;
  	background-clip: padding-box;
}
.wst-go-details{
	font-size: 0.16rem;
    padding: 8px 10px 15px 8px;
    word-wrap: break-word;word-break:break-all;
}
.wst-go-details img{
	width: 100%;
}
.wst-go-evaluate{
	margin-top:10px;
	font-size: 0.16rem;
	background:#ffffff;
}
.wst-go-evaluate .name{
	float:left;
}
.wst-go-evaluate .info{
	padding:6px 0px;	
}
.wst-go-evaluate .info img{
	float:left;
	width: 16px;
	margin:2px 16px 0px 5px;
}
.wst-go-evaluate .info i{
	float: left;
    width: 14px;
    height: 14px;
	margin:2px 0px 0px 3px; 
}
.wst-go-evaluate .info .bright{
	background: url(../img/img_dpjpj.png) 0px 0px no-repeat;
	background-size: 296%;
}
.wst-go-evaluate .info .dark{
    background: url(../img/img_dpjpj.png) -27px 0px no-repeat;
    background-size: 296%;
}
.wst-go-evaluate .info .time{
	float:right;
	color:#8e8d8d;
}
.wst-go-evaluate .content{
	padding-bottom:3px;
}
.wst-go-evaluate .content img{
	float: left;
    width: 45px;
    height: 45px;
	margin:2px 3px 0px 0px; 
}
.wst-go-evaluate .content .word{
	color:#8e8d8d;
	padding:3px 0px;
}
.wst-go-evaluate .reply{
	padding:10px 0px;
	border-top: 1px solid #edebeb;
}
/*遮盖层*/
.wst-cover{
	position:fixed;
  	left:0px;top:0px;
 	background-color:#000;
  	width:100%;
  	height:100%;
  	filter:alpha(opacity=60);  /*设置透明度为60%*/
  	opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  	z-Index:9999;
  	display:none;
}
/*参数弹框*/
.wst-fr-box{
    position: fixed;
	z-index: 9999;
    left:0px;
	bottom: -226px;
	width:100%;
	min-height:40%;
	background:#ffffff;
	font-size: 0.15rem;
}
.wst-fr-box .title,.wst-cart-box .title{
	position: relative;
	padding:6px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-fr-box .title span{
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 0.185rem;
}
.wst-fr-box .title i,.wst-cart-box .title i{
	position: absolute;
	right:5px;
	top:-2px;
	font-size: 27px;
}
.wst-fr-box .content{
	padding:10px 10px 50px 10px;
}
.wst-fr-box .button,.wst-cart-box .button{
	position: absolute;
	left:3%;
	bottom:3px;
	width: 93%;
	font-size: 0.185rem;
    height: 40px;
    line-height: 40px;
    color:#ffffff;
    background:#e00102;
    border-radius:5px;
    font-size: 0.18rem;
	border-bottom:1px solid #e00102;
}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}
/*购物车弹框*/
.wst-cart-box{
	position: fixed;
	z-index: 9999;
    left:0px;
	bottom: -296px;
	width:100%;
	min-height:38%;
	background:#ffffff;
	font-size: 0.15rem;
}
.wst-cart-box .title{
	min-height:68px;
}
.wst-cart-box .picture{
	position: absolute;
    left: 10px;
    top: -12px;
}
.wst-cart-box .picture .img{
	float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
    padding:5px;
    background:#ffffff;
    border-radius:2px;
}
.wst-cart-box .img a{
	width: 70px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
.wst-cart-box .img a img{
	max-width: 70px;
    max-height: 70px;
}
.wst-cart-box .title p{
	float: left;
    margin: 0px 0px 5px 96px;
    color: #3e3e3e;
    width:53%;
}
.wst-cart-box .title .price{
	font-size: 0.162rem;
    color: #de0202;
}
.wst-cart-box .title .price .price2{
    margin-left: 12px;
    font-size: 0.145rem;
    color: #707070;
    text-decoration: line-through;
}
.wst-cart-box .standard{
	padding:0px 10px 118px 10px;
}
.wst-cart-box .number{
	width: 92%;
	position: absolute;
	left:3%;
	bottom:52px;
	z-Index: 1;
	background:#ffffff;
}
.wst-cart-box .number .stock{
	float:left;
	color: #3e3e3e;
	margin-top:12px;
}
.wst-buy_l{
	float:right;
	margin-top:3px;
}
.wst-buy_l1,.wst-buy_l3{
    width: 40px;
    height: 32px;
	background:#FFF;
	border:none;
	border:1px solid #dddddd;
}
.wst-buy_l1{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.wst-buy_l3{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.wst-buy_l2{
	border:none;
	width:48px;
	height:32px;
	border:1px solid #dddddd;
	border-left: none;
	border-right: none;
	text-align:center;
	color:#e00102;
}
.wst-buy_l1:focus,.wst-buy_l3:focus{
	color:#e00102;
}
.wst-buy_l2:focus{
	width:48px;
	height:32px;
    border:1px solid #e00102;
}
.wst-go-spec{
	background:#ffffff;
	font-size: 0.145rem;
	padding:0px 10px;
}
.wst-go-spec .spec{
	padding:8px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-go-spec .spec p{
	float: left;
    width: 100%;
}
.wst-go-spec .spec .img{
	float: left;
	width: 40px;
	height:40px;
	border-radius:2px;
	margin-left: 5px;
}
.wst-go-spec .spec .img.active{
	width: 38px;
	height:38px;
	border: 1px solid #e00102;
}
.wst-go-spec .spec .words{
	float: left;
	margin-left: 5px;
	padding:3px 5px;
	border: 1px solid #a0a0a0;
	border-radius:3px;
	text-align: center;
}
.wst-go-spec .spec .introduce{
	float: left;
}
.wst-go-spec .spec span.active{
	color: #ffffff;
	background:#e00102;
	border: 1px solid #e00102;
}
/*frozenui*/
.ui-tab-nav{
	width: 62%;
	height: 40px;
	float: right;
	margin-right:70px;
}
.ui-tab-nav li.active{
    color: #777;
    border-bottom: 2px solid #de0202;
}
.ui-tab-nav li{
	height: 42px;
    line-height: 42px;
    font-size:0.16rem;
    min-width: 50px;
}
.ui-slider-content > li img {
    display: inline;
    width: auto;
}