@CHARSET "UTF-8";
/*店铺街*/
.wst-se-header2{padding-left: 0;}
.wst-se-search{width: 76%;}
.wst-se-header2 .ui-icon-return{color: #59595c;}
.wst-shl-list{
	padding: 5px 10px;
	margin-top:5px;
	background:#ffffff;
}
.wst-shl-list2{
	background: #e7e7e7;
}
.wst-shl-list .img{
	float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}
.wst-shl-list .img a{
	width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.wst-shl-list .img a img{
	max-width: 100px;
    max-height: 100px;
}
.wst-shl-list .info{
	padding-left: 5px;
}
.wst-shl-list .title{
	margin-bottom:5px;
	font-size:0.175rem;
	color:#363638;
	font-weight: bold;
}
.wst-shl-list p{
	font-size:0.15rem;
}
.wst-shl-list p img{
	width: 15px;
}
.wst-shl-list p span{
	float: left;
}
.wst-shl-list p i{
	float: left;
	width:16px;
	height:16px;
	margin:2px 3px 0px 0px; 
}
.wst-shl-list .prices{
	width: 100%;
	height:25px;
	border-bottom:1px solid #dedede;
}
.wst-shl-list .discount{
	width: 38px;
	height:25px;
	color:#ffffff;
	text-align: center;
	background:url(../img/img_zkbg.png) -2px -6px no-repeat;
}
.wst-shl-list .price{
	color:#e01324;
	line-height:20px;
	font-size:0.18rem;
	font-weight: bold;
	margin-left:8px;
}
.wst-shl-list .price2{
	font-size:0.13rem;
	text-decoration: line-through;
	margin-left:8px;
}
.wst-shl-list .time{
	color:#a4a4a4;
	margin-top:5px;
}
.wst-shl-list .time i{
	width: 15px;
	height: 15px;
	background:url(../img/icon_time.png) 0px 0px no-repeat;
	background-size: 100%;
}
.wst-shl-list .time span{
	line-height:21px;
}
/*遮盖层*/
.wst-cover{
	position:fixed;
  	left:0px;top:0px;
 	background-color:#000;
  	width:100%;
  	height:100%;
  	filter:alpha(opacity=60);  /*设置透明度为60%*/
  	opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  	z-Index:9999;
  	display:none;
}
/*分类弹框*/
.wst-fr-box{
    position: fixed;
	z-index: 9999;
    right:-999px;
	bottom: 0px;
	width:100%;
	min-height:40%;
	background:#f2f2f2;
	font-size: 0.15rem;
}
.wst-fr-box .title,.wst-cart-box .title{
	position: relative;
	padding:6px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-fr-box .title span{
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 0.185rem;
}
.wst-fr-box .title i,.wst-cart-box .title i{
	position: absolute;
	right:5px;
	top:-2px;
	font-size: 27px;
}
.wst-fr-box .content{
	background:#f2f2f2;
}
.wst-fr-box .button,.wst-cart-box .button{
	position: absolute;
	left:3%;
	bottom:0px;
	width: 93%;
	font-size: 0.185rem;
    height: 40px;
    line-height: 40px;
    color:#ffffff;
    background:#e00102;
	border-bottom:1px solid #e00102;
}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}
.ui-scrollerl{
	width:24%;
	height:496px;
	overflow:hidden;
	background:#f3f4f6;
	position:fixed;
}
.ui-scrollerl li{
	padding:8px 5px;
	font-size:0.15rem;
	text-align:center;
}
.wst-goodscate{
	color:#676767;
	border-top:1px solid #dfe0e2;
	border-right:1px solid #dfe0e2;
}
.wst-goodscate_selected{
	color:#fc786b;
	background:#f2f2f2;
	border-right:1px solid #f2f2f2;
	border-left:2px solid #fc786b;
}
.wst-scrollerr{
	width:76%;
	float:right;
}
.wst-scrollerr li{
	float:left;
	width:100%;
	font-size:0.15rem;
	color:#000;
}
.wst-goodsca{
	height:35px;
	background:#f2f2f2;
}
.wst-goodsca span{
	float:left;
	color:#888888;
	margin-top:6px;
	margin-left:8px;
	border-left:2px solid #fc786b;
}
.wst-goodsca i{
	float:right;
	height:35px;
	margin-top:-6px;
	color:#fc786b;
}
.wst-goodscat{
	float:left;
	width:94%;
	padding:0px 0px 12px 8px;
}
.wst-goodscats{
	float:left;
	width:94%;
	padding:0px 0px 12px 8px;
}
.wst-goodscat span{
	float:left;
	width:49%;
	padding:5px 0px;
	text-align:center;
	background:#f3f4f6;
	border:1px solid #dfe0e2;
}
.wst-goodscat span a{
	color:#69696b;
}