/app/admin
/app/demo
/app/norouter

/public/admin.php
/public/demo.php
/public/norouter.php

/public/nginx.htaccess
/public/.htaccess

/public/res/admin/
/public/res/demo/
/public/res/norouter/
/public/res/images/

/tmp/*
/新建文件夹*
!index.html

*副本.*
*.bak
*.zip
#/.gitignore
