<div class="form-page row">
    <form class="form-horizontal col-sm-offset-4 col-sm-4">
        <div class="form-group col-sm-12" >
            <label for="name">用户名：</label>
            <input class="form-control" id="name" type="text" ng-model="vm.register_name" placeholder="用户名" ng-keyup="vm.checkNameExist()">{{vm.isNameExist==true?'已存在':''}}
        </div>
        <div class="form-group col-sm-12">
            <label for="password">密码：</label>
            <input class="form-control" id="password" type="password" ng-model="vm.register_password" placeholder="密码">
        </div>
        <div class="form-group col-sm-12">
            <label for="password-c">确认密码：</label>
            <input class="form-control" id="password-c" type="password" ng-model="vm.register_password_confirm" placeholder="确认密码" ng-keyup="vm.checkPasswordConfirm()">{{vm.isPasswordConfirmTrue==undefined?'':(vm.isPasswordConfirmTrue==true?'':'两次输入的密码不同')}}
        </div>
        <div class="form-group col-sm-12">
            <label for="mobilephone">手机号：</label>
            <input class="form-control" id="mobilephone" type="text" ng-model="component.MCODE.mobilephone" placeholder="手机号" ng-keyup="vm.checkMobilephoneExist()">{{vm.isMobilephoneExist==true?'已存在':''}}
        </div>
        <ng-include src="'/template/component/MCODE.html'"></ng-include>
        <div class="form-group col-sm-12">
            <button class="btn btn-primary col-sm-5" ng-click="vm.register()">
                注册
            </button>
            <button class="btn btn-default col-sm-5 col-sm-offset-2" ng-click="vm.clearRegisterInput()">
                清空
            </button>
        </div>

    </form>
</div>