a {
  color: #999999; }

.navbar .container-fluid.top-bar form .form-control:focus {
  border-color: #999999; }

.navbar .container-fluid.top-bar .nav > li.open > a span, .navbar .container-fluid.top-bar .nav > li.active > a span, .navbar .container-fluid.top-bar .nav > li.open.active > a span {
  background-position: left -140px; }
.navbar .container-fluid.top-bar .nav > li.messages.open > a span, .navbar .container-fluid.top-bar .nav > li.messages.active > a span, .navbar .container-fluid.top-bar .nav > li.messages.open.active > a span {
  background-position: -28px -140px; }
.navbar .container-fluid.top-bar .nav > li.settings.open > a span, .navbar .container-fluid.top-bar .nav > li.settings.active > a span, .navbar .container-fluid.top-bar .nav > li.settings.open.active > a span {
  background-position: -56px -140px; }

.navbar .container-fluid.main-nav .nav-collapse .nav > li a.current span {
  background-position: left -140px; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li a.current .caret {
  border-top-color: #999999; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li.ui a.current span {
  background-position: -28px -140px; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li.forms a.current span {
  background-position: -56px -140px; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li.charts a.current span {
  background-position: -84px -140px; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li.tables a.current span {
  background-position: -112px -140px; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li.gallery a.current span {
  background-position: -140px -140px; }

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current {
  color: #666666; }

.widget-container .heading {
  color: #999999; }

.dropdown-menu li a:hover {
  border-bottom-color: #999999;
  color: #999999; }

.form-control:focus {
  border-color: #999999; }

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
  color: #999999; }

.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
  background-position: left -152px; }
  .stats-container [class^="col-"] .number .icon.visitors, .stats-container [class*="col-"] .number .icon.visitors {
    background-position: -50px -152px; }
  .stats-container [class^="col-"] .number .icon.money, .stats-container [class*="col-"] .number .icon.money {
    background-position: -100px -152px; }
  .stats-container [class^="col-"] .number .icon.chat-bubbles, .stats-container [class*="col-"] .number .icon.chat-bubbles {
    background-position: -150px -152px; }

.task-widget input[type="checkbox"]:checked + .task-checkbox {
  color: #999999; }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border-color: #999999; }

.select2-container-multi.select2-container-active .select2-choices {
  border-color: #999999; }

.select2-drop-active {
  border-color: #999999; }

.dataTable th {
  color: #999999; }
  .dataTable th.sorting:after {
    border-top: 5px solid #999999; }
  .dataTable th.sorting:before {
    border-bottom: 5px solid #999999; }
  .dataTable th.sorting_asc:after {
    border-bottom: 5px solid #999999; }
  .dataTable th.sorting_desc:after {
    border-top: 5px solid #999999; }