.tar-artl-title {
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    min-height: 2.5rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: $body-bg;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    padding: 0.2rem 0;
}

.tar-artl-title:focus {
    box-shadow: none;
}

.tar-artl-title:empty::before {
    content: attr(placeholder);
    font-size: 2.5rem;
    color: #ccc;
    line-height: 2.5rem;
}

.tar-artl-ttlbox {
    display: none;
}

.tar-artl-ssbtn {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 1rem;
}

.tar-article-form {
    margin-bottom: 1rem;
}

.t-editor-form-group {
    min-height: 600px;
}

.t-edit-cover {
    position: relative;
    margin-bottom: 1rem;

    img {
        width: 100%;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        cursor: pointer;
    }

    .progress {
        border-top: 1px solid $gray-100;
        border-radius: 0;
        box-shadow: none;
    }
}

.t-rtcl-desc {
    border-radius: 0;
    box-shadow: none;
}

.t-rtcl-desc:focus {
    box-shadow: none;
    border: 1px solid $primary;
}

.t-form-labels {
    overflow: hidden;
    min-height: 1rem;
    box-shadow: none;
    border-radius: 0;

    .t-tag-input {
        border: none;
        border-bottom: 1px solid $gray-400;
        width: 60px;
    }
}

.t-tag-box {
    display: inline-block;

    span {
        display: inline-block;
        margin-right: 10px;
    }
}

.t-lbl-box {
    margin-top: 20px;
    padding: 15px;

    span {
        display: inline-block;
        margin: 5px auto;
        cursor: pointer;
    }
}
