@import "~highlight.js/styles/github.css";

@mixin content-common {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal;
}

.t-rtcl-box {
    margin-top: 20px;
    background-color: $white;
    padding: 30px;
    margin-bottom: 30px;

    .t-rtcl-ttl {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }

    .t-rtcl-content,
    .t-rtcl-tags {
        @include content-common;

        margin-bottom: 15px;
    }

    .t-rtcl-content {
        margin-top: 20px;

        blockquote {
            border-left: 4px solid #ddd;
            padding: 0 15px;
            color: #777;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 1rem auto;
            border-radius: $border-radius-sm;

            &:hover,
            &:active {
                cursor: pointer;
            }
        }
    }

    footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
    }
}

.t-full-screen {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 3;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    position: fixed;
    border-radius: $border-radius-sm;

    img {
        margin: 30px auto;
        max-width: 100%;
        max-height: 98%;
        border-radius: $border-radius-sm;
    }
}
