#m #setmod{ margin-left:480px;}
#header,#content,#footer{width: 960px;}
.hwrap,.cwrap,.fwrap{width:1000px;background:#fff;margin:0px auto;}
.hwrap{background:#fff url("images/top.jpg") repeat-x top;padding-bottom:10px;}
#banner{width:950px;border:1px #e1e1e1 solid;background:#fff;padding:4px;margin-bottom:10px;}
#index .grid .main-wrap{margin-right:280px; margin-left:0;}
#index .grid .col-sub{width:260px;margin-left:-260px;}
/*body*/
body{color:#434343;background:url("images/bg.jpg");}
.tbbd{background:url("images/bg.jpg");}
a:link,a:visited{color:#434343;}
a:hover,a:focus{color:#f10000;}
.n_ico .mbd a{color:#fff;}
.n_ico .mbd span a{color:#909090}

.mhd span a {color: #c0c0c0;}
input,textarea{border-top:1px #abadb3 solid;border-left:1px #e0e0e0 solid;border-right:1px #e0e0e0 solid;border-bottom:1px #e0e0e0 solid;}
.job_con table,.guest table {border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td {background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th {background:#eee;border-bottom: 1px solid #e0e0e0;}
/*header*/
#header h1{padding-top:12px;}
#header h1,#header p{float:left;}
#header p {margin-left:20px;height:90px;line-height:90px;color: #393939;}
.menu a{padding-right:12px;}
.menu a.topico01{background:url("images/topico01.png") no-repeat 0 4px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}

.nav{height:40px;background:url("images/navbg.png") repeat-x;line-height:40px;position:relative;}
.nav li a{width:91px;line-height:40px;font-weight:bold;}
.navlist ul{background:#d31738;top:40px;padding-top:1px;}
.navlist ul li{line-height:31px;height:31px;border-top:1px #fff solid;width:91px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;font-weight:normal;}


/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#292929;}
.nav a:hover,.nav a.active:visited,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#292929;}
.nav li.active a{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}

/*content*/
.mbox{margin-bottom:10px;}
.mhd{line-height:31px;height:33px;}
.mhd h3{color:#000;padding-left:30px;background:url("images/sico01.png") no-repeat 10px 12px;}
.col-sub .mhd{background:url("images/mhd-sub.png") no-repeat;}
.col-sub .n_ico .mhd{background:url("images/mhd-nico.png") no-repeat;}
.col-main .mhd{background:url("images/mhd-main.png") no-repeat;}
#contact .col-main .mhd{background:url("images/mhd-main-c.png") no-repeat;}
.col-main .mbd{background:#e8e8e8;}
.col-sub .mbd{background:#d1d1d1;}
.col-sub .n_ico .mbd{background:#4b4b4b;}
.mhd span {padding-right: 20px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 10px center;}
.n_ico .mhd h3{padding-left:35px;color:#fff;}
	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.mbd{padding-left:10px;padding-right:10px;}
/*feedback*/
.feedback a{width:260px;background:url("images/feedback.png") no-repeat;margin-bottom:10px;}
/*news*/
.news li,.seabox li{background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:25px;border-bottom:1px #b3b3b3 dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #f0f0f0 solid;}
.notice_con p.active{background:#f7f7f7;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #b3b3b3 dashed;background:url("images/cate_list_ico.png") no-repeat 6px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#d76d4a;}
.down_list .mbd li h2{border-bottom:1px #b3b3b3 dashed;background:url("images/cate_list_ico.png") no-repeat 6px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:18px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#000;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 6px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 18px center;border-bottom:1px #b3b3b3 dashed;}	
.title{border-bottom:1px #b3b3b3 solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.prodt_list .mbd li {margin: 22px 17px 0 25px;}
.quaon_pic .mbd li{margin:26px 24px 0px 27px;}
.plinks .mbd li {margin: 12px 2px 0 13px;}
.prodt .mbd li{margin: 26px 20px 0 21px;}
.plist img{border:1px #d4d4d4 solid;}
.prodt_con .mbd{padding-left:25px;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}	
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#666;}
#footer {color: #999;padding-bottom:5px;}
#footer p{border-top: 3px solid #414141;padding-top: 13px;}
#footer a:link, #footer a:visited {color: #666;}
#footer a:hover {color: #c70906;}
#footer .support a:link, #footer .support a:visited{color: #999;}
