
#nativeShare {
    font-size: 13px;
}

#nativeShare .label {
    font-size: 15px;
    padding-left:10px;
}

#nativeShare .list {
    width: 90%;
    margin: 0 auto;
}

#nativeShare .list span {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

#nativeShare .list span i {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#nativeShare .weibo i {
    background-image: url('./icon/weibo.png');
    background-size: cover;
}

#nativeShare .weixin i {
    background-image: url('./icon/weixin_friend.png');
    background-size: cover;
}

#nativeShare .weixin_timeline i {
    background-image: url('./icon/weixin.png');
    background-size: cover;
}

#nativeShare .qq i {
    background-image: url('./icon/qq.png');
    background-size: cover;
}

#nativeShare .qzone i {
    background-image: url('./icon/qqzone.png');
    background-size: cover;
}

#nativeShare .more i {
    background-image: url('./icon/more.png');
    background-size: cover;
}
.wst-cart-box {
  position: fixed;
  z-index: 9999;
  left: 0px;
  bottom: -100%;
  width: 100%;
  min-height: 38%;
  background: #ffffff;
  font-size: 0.15rem;
}
.wst-fr-box .button,.wst-cart-box .button{
    width: 90%;
    font-size: .15rem;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #e00102;
    border-radius: 5px;
    border-bottom: 1px solid #e00102;
}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}