.footmenu_warp{
	position: fixed;
	z-index: 100;
	bottom: 0px;
	left: 0;
	border-top: 1px solid #eee;
	background: #ddd;
	opacity:0.9;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display:-webkit-flex;
	display: flex;
}
.footmenu_warp:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom: 1;
}
.footmenu_warp .menu1.ck .bt-name a{
	color:red;
}

.footmenu_warp .menu1 {
	position: relative;
	float: left;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border-right: 1px solid #ebebeb;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-flex:1;
	flex:1;
}

.footmenu_warp .menu1:last-child {
	border-right: none;
}

.footmenu_warp .menu2 {
	position: absolute;
	bottom: 60px;
	z-index: 10;
	width: 100%;
	padding: 0px 10px;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #dad8d8;
	border-radius: 5px;
	display: none;
}

.footmenu_warp .menu2 li {
	width: 100%;
	background: #fff;
	float: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 1px solid #f2f2f2;
}

.footmenu_warp .menu2 li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: left;
	background: #fff;
	color: #333;
	border: none;
	text-align: center;
	font-size: 16px;
}

.footmenu_warp .icons {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right: 5px solid #000;
	border-bottom: 5px solid #000;
	opacity: .5;
}

.footmenu_warp .bt-name {
	font-size: 16px;
	color: #000;
}

.footmenu_warp .bt-name a {
	display: block;
	font-size: 16px;
	color: #000;
}

.footmenu_warp .menu2 .tiggle {
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -9px;
	border-top: 10px solid #EEEEEE;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 10;
}

.footmenu_warp .menu2 .innertiggle {
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	bottom: -8px;
	border-top: 9px solid #ccc;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	z-index: 11;
}

.footmenu_blank{
	height:50px;
}
body{
	padding-bottom:50px; /*避免菜单档住最底部的内容*/
}