.menu-box-moremenu{margin: 40px 0;position: fixed;z-index: 1000;top:0px;left:0px;}
.change-type-moremenu {
    min-width: 40px;
    min-height: 160px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
}

.change-type-moremenu .type-left-moremenu {
    width: 0;
    background: #fff;
	opacity:0.9;
    height: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: width 0.4s;
    -moz-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
}
.change-type-moremenu .type-left-moremenu em{
	display:none;
}
.change-type-moremenu .type-left-moremenu em.noyz b{
	color:red;
	font-weight:bold;
}
.change-type-moremenu .showListType {
    width: 180px;
    transition: width 0.4s;
    -moz-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
	max-height: calc(80vh);;
    overflow-y: auto;
}

.change-type-moremenu .type-left-moremenu ul li {
    line-height: 40px;
    height: 40px;
    text-align: left;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.change-type-moremenu .type-left-moremenu ul li a {
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    padding-left: 15px;
    overflow: hidden;
    width: calc(100% - 17px);
    color: #333;
    font-size: 14px;
    border-left: 2px solid #26778d; /*#26778d  00ba97 */
}
.change-type-moremenu .type-left-moremenu ul li span {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 8;
    overflow: hidden;
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
}
.change-type-moremenu .type-left-moremenu ul li:hover span {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
}
.type-left-moremenu ul li:nth-child(1):hover span,
.type-left-moremenu ul li:nth-child(1).active span,
.type-left-moremenu ul li:nth-child(8):hover span,
.type-left-moremenu ul li:nth-child(8).active span {
    background: #ad1457;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(1):hover a,
.type-left-moremenu ul li:nth-child(1).active a,
.type-left-moremenu ul li:nth-child(8):hover a,
.type-left-moremenu ul li:nth-child(8).active a {
    border-left: 2px solid #ad1457;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(2):hover span,
.type-left-moremenu ul li:nth-child(2).active span,
.type-left-moremenu ul li:nth-child(9):hover span,
.type-left-moremenu ul li:nth-child(9).active span {
    background: #1976d2;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(2):hover a,
.type-left-moremenu ul li:nth-child(2).active a,
.type-left-moremenu ul li:nth-child(9):hover a,
.type-left-moremenu ul li:nth-child(9).active a {
    border-left: 2px solid #1976d2;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(3):hover span,
.type-left-moremenu ul li:nth-child(3).active span,
.type-left-moremenu ul li:nth-child(10):hover span,
.type-left-moremenu ul li:nth-child(10).active span {
    background: #ef5350;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(3):hover a,
.type-left-moremenu ul li:nth-child(3).active a,
.type-left-moremenu ul li:nth-child(10):hover a,
.type-left-moremenu ul li:nth-child(10).active a {
    border-left: 2px solid #ef5350;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(4):hover span,
.type-left-moremenu ul li:nth-child(4).active span,
.type-left-moremenu ul li:nth-child(11):hover span,
.type-left-moremenu ul li:nth-child(11).active span {
    background: #e91e63;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(4):hover a,
.type-left-moremenu ul li:nth-child(4).active a,
.type-left-moremenu ul li:nth-child(11):hover a,
.type-left-moremenu ul li:nth-child(11).active a {
    border-left: 2px solid #e91e63;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(5):hover span,
.type-left-moremenu ul li:nth-child(5).active span,
.type-left-moremenu ul li:nth-child(12):hover span,
.type-left-moremenu ul li:nth-child(12).active span {
    background: #8e24aa;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(5):hover a,
.type-left-moremenu ul li:nth-child(5).active a,
.type-left-moremenu ul li:nth-child(12):hover a,
.type-left-moremenu ul li:nth-child(12).active a {
    border-left: 2px solid #8e24aa;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(6):hover span,
.type-left-moremenu ul li:nth-child(6).active span,
.type-left-moremenu ul li:nth-child(13):hover span,
.type-left-moremenu ul li:nth-child(13).active span {
    background: #64b5f6;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(6):hover a,
.type-left-moremenu ul li:nth-child(6).active a,
.type-left-moremenu ul li:nth-child(13):hover a,
.type-left-moremenu ul li:nth-child(13).active a {
    border-left: 2px solid #64b5f6;
    color: #fff;
}
.type-left-moremenu ul li:nth-child(7):hover span,
.type-left-moremenu ul li:nth-child(7).active span,
.type-left-moremenu ul li:nth-child(14):hover span,
.type-left-moremenu ul li:nth-child(14).active span {
    background: #388e3c;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.type-left-moremenu ul li:nth-child(7):hover a,
.type-left-moremenu ul li:nth-child(7).active a,
.type-left-moremenu ul li:nth-child(14):hover a,
.type-left-moremenu ul li:nth-child(14).active a {
    border-left: 2px solid #388e3c;
    color: #fff;
}

.change-type-moremenu .type-right-moremenu {
    /*width: 40px;*/
    background: #27BBBF;
	opacity:0.8;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: table;
}
.change-type-moremenu .type-right-moremenu p {
	font-size:18px;
    text-align: center;
    padding: 0 5px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer; 
	line-height:25px;
}
.change-type-moremenu .type-right-moremenu p b{
	color:yellow;
	display:none;
}