.mui-btn{
	margin-top:20px;
}
.LogoContainer{
	max-width:640px;
	margin:auto;
	position:relative;
}
.LogoContainer:before{
	content:'';
	display:block;
	padding-top:50%;
}
.LogoContainer ul{
	width:30%;
	position:absolute;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.LogoContainer ul ol img{
	width:100%;
}
.LogoContainer ul li{
	text-align:center;
	padding-top:5%;
	color:#D43B1B;
}
.FormContainer{
	padding:0 20px;
}
.FormContainer ul{
	display:table;
	width:100%;
	border-bottom:#DDD solid 1px;
}
.FormContainer ul ol,.FormContainer ul li{
	display:table-cell;
	vertical-align:middle;
	height:40px;	
}
.FormContainer ul ol{
	width:30px;
	font-size:20px;
}
.FormContainer ul li input{
	width:99%;
	border:0;
	text-indent:5px;
	outline:none;
	background:none;
}
.FormContainer dl{
	display:table;
	width:100%;
	margin-top:20px;
}
.FormContainer dl dt,.FormContainer dl dd{
	display:table-cell;
	vertical-align:middle;
	height:30px;
	width:50%;
}
.FormContainer dl dd{
	text-align:right;
}
.OtherLogin .h{
	line-height:30px;
	margin-top:15px;
	position:relative;
	color:#888;
	text-align:center;
}
.OtherLogin .h:before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	background:#DDD;
	left:0;
	top:14px;
}
.OtherLogin .h span{
	display:inline-block;
	position:relative;
	background:#FFF;
	padding:0 20px;
}
.OtherLogin .c{
	text-align:center;
	padding:15px 0;
}
.OtherLogin .c a{
	display:inline-block;
	background:#333BDD;
	padding:8px;
	margin:0 20px;
	color:#FFF;
	font-size:20px;
	border-radius:5px;
}
.OtherLogin .c a.wx{
	background:#41BD16;
}	
@media (max-width: 2000px) and (min-width:601px) {
	.LogoContainer ul li{
		font-size:26px;
	}	
	.FormContainer .subimt input{
		line-height:60px;
		font-size:24px;
	}
}
@media (max-width: 600px) and (min-width:501px) { /* <- 3-2  hexagons per row */
    .LogoContainer ul li{
		font-size:22px;
	}
	.FormContainer .subimt input{
		line-height:50px;
		font-size:20px;
	}	
}
@media (max-width: 500px) and (min-width:401px) { /* <- 3-2  hexagons per row */
    .LogoContainer ul li{
		font-size:20px;
	}	
	.FormContainer .subimt input{
		line-height:45px;
		font-size:18px;
	}
}
@media (max-width: 400px) { /* <- 2-1  hexagons per row */
    .LogoContainer ul li{
		font-size:18px;
	}
	.FormContainer .subimt input{
		line-height:40px;
		font-size:16px;
	}
}
.mui-btn,button,input[type=button],input[type=reset],input[type=submit] {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 6px 12px;
	cursor: pointer;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	background-clip: padding-box
}
.mui-btn-danger,.mui-btn-negative,.mui-btn-red {
	color: #fff;
	border: 1px solid #dd524d;
	background-color: #dd524d
}
.mui-btn-block {
	font-size: 18px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 0
}
.fa-mobile-phone{
	font-size:25px;
}
.OtherLogin .c a.phone{
	background:orange;
}