.PostOrder{
	max-width: 1200px;
	border:#DDD solid 1px;
	min-height: 500px;
	margin:20px auto;
	padding: 20px 0;
	box-shadow: 2px 2px 5px #999;
}
.PostOrder .tag{
	width:90%;
	height: 50px;
	line-height: 50px;
	margin:0px auto 25px auto;
	border-bottom: #DDD dotted 5px;
	padding-bottom: 10px;
	position: relative;
	padding-left: 50px;
	font-size:26px;
}
.PostOrder .tag i{
	position: absolute;
	font-size: 40px;
	left: 5px;
	top:5px;
	color: #999;
}
.PostOrder > ul{
	display: table;
	width: 80%;
	margin: 0 auto 15px auto;
	border-bottom: #DDD dotted 1px;
}
.PostOrder ul ol,.PostOrder ul li{
	display: table-cell;
	padding: 5px 5px 20px 5px;
	vertical-align: middle;
	font-size: 16px;
}
.PostOrder ul ol{
	width:100px;
	text-align: center;
	color: #666;	
}
.PostOrder ul ol span{
	color:red;
}
.PostOrder ul li input[type="text"]{
	border: #DDD solid 1px;
	line-height: 35px;
	text-indent: 5px;
	outline: none;
}
.PostOrder > dl{
	display: table;
	width: 80%;
	margin: 0 auto 15px auto;
	font-size:16px;
}
.PostOrder dl dt,.PostOrder dl dd{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}
.PostOrder dl dt{
	width:70px;
}
.PostOrder dl dd input[type="radio"]{
	margin: 0 5px 0 10px;
}
.PostOrder div.butter{
	text-align: center;
	padding-top: 30px;
}
.PostOrder div.butter button{
	border: 0px;
	line-height: 40px;
	padding: 0 30px;
	background: #EBEEF0;
	border-radius: 5px;
	color: #888;
	font-size: 20px;
	cursor: pointer;
	margin: 0 10px;
}
.PostOrder div.butter button[type=submit]{
	background: #F60;
	color: #FFF;
}