.ShopCarContent{
	max-width: 1200px;
	margin: auto;
}
.ListCompany{
	border-bottom:#DDD solid 1px;
	margin-bottom:10px;
	background:#FFF;
}
.ListCompany ul.h{
	display: table;
	width: 100%;
}
.ListCompany ul.h li{
	display: table-cell;
	vertical-align: middle;
	padding:5px;
}
.ListCompany ul.h li.check{
	width:30px ;
	text-align: center;
}
.ListCompany ul.h li.edit{
	width:60px ;
	text-align: center;
	padding: 0;
}
.ListCompany ul.h li.edit span{
	display: block;
	line-height: 20px;
	border-left:#DDD solid 1px;
}
.ListCompany ul.h li a{
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.listCar .shops{
	background:#EFEFEF;
	display: table;
	width: 100%;
	margin-top: 5px;
}
.listCar .shops li{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}
.listCar .shops li.check{
	width:30px ;
	text-align: center;
}
.listCar .shops li.img{
	width:120px ;
}
.listCar .shops li.img a{
	display: block;
	border:#DDD solid 1px;
	height: 90px;
	overflow: hidden;
	background: #FFF;
	position: relative;
}
.listCar .shops li.img a img{
	max-width: 98%;
	max-height: 98%;
	position:absolute;
	left:50%;
	top: 50%;
	-webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.listCar .shops li.info{
	padding: 0;
	vertical-align: top;
}
.listCar .shops li.info label{
	display: block;
	padding: 5px;	
}
.listCar .shops li.info label h3{
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	overflow: hidden;
	font-weight: normal;
}
.listCar .shops li.info label p{
	font-size: 10px;
	line-height: 25px;
	height: 25px;
	overflow: hidden;
	margin: 0;
	padding: 5px 0 0 0;
}
.listCar .shops li.info label p em{
	color:#999;
	display: inline-block;
	padding-right: 5px;
}
.listCar .shops li.info label div{
	padding: 5px 10px 0 0;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	font-size: 16px;
}
.listCar .shops li.info i{
	font-style: normal;
}
.listCar .shops li.info label div em{
	float:left;	
	color: #F90;
}
.listCar .shops li.info label div span{
	float:right;
	color: #F30;
}
.listCar .shops li.info dl{
	padding: 0 60px 0 5px;
	height: 100px;
	overflow: hidden;
	position: relative;
	display: none;
}
.listCar .shops li.info dl dd{
	width: 60px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #F60;
	color: #FFF;
	cursor: pointer;
	position:absolute;
	top:0;
	right: 0;
}
.listCar .shops li.info dl dt div{
	display: table;
	width: 100%;
	height:35px;
	border-bottom: #FFF solid 1px;
}
.listCar .shops li.info dl dt div em,.listCar .shops li.info dl dt div i,.listCar .shops li.info dl dt div span{
	display: table-cell;
	vertical-align: middle;
	width: 33%;
	text-align: center;
	border-left:#FFF solid 1px;
	font-size: 16px;
	cursor: pointer;
}
.listCar .shops li.info dl dt p{
	padding: 10px 10px 0 0;
	line-height: 20px;
	color: #666;
	word-spacing: 10px;
	max-height: 40px;
	overflow: hidden;
}
.listCar .shops li.info dl dt p span{
	color: #F60;
}
.listCar .shops li.info dl dt p em{
	color:#999;
}
.listCar .shops li.del{
	width: 50px;
	background: #F60;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}
.listCar .shops li.change{
	width: 120px;
	padding: 0 15px;
}
.listCar .shops li.change div{
	display: table;
	width: 99%;
	border:#DDD solid 1px;
	border-left:0px;
}
.listCar .shops li.change div span,.listCar .shops li.change div i,.listCar .shops li.change div em{
	display: table-cell;
	width: 33%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-left:#DDD solid 1px;
}
.listCar .shops li.change div i input{
	border: 0px;
	width: 100%;
	line-height: 35px;
	text-align: center;
	outline: none;
}
.AllJoin{
	height: 40px;
	margin: 20px auto;
	position: relative;
	padding: 0 120px 0 100px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
}
.AllJoin:before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0px;
	background: #DDD;
}
.AllJoin li.select{
	width:70px;	
	position: absolute;
	left: 0;
	top:0;
}
.AllJoin li.but{
	width:120px;
	position: absolute;
	right: 0;
	top:0;
}
.AllJoin li.but a{
	display: block;
	line-height: 40px;
	text-align: center;
	height: 40px;
	background:#F00;
	color:#FFF;
	overflow: hidden;
}
.AllJoin li em{
	font-size: 20px;
	color: #F30;
}
@media (max-width: 500px) and (min-width:401px) {
	.listCar .shops li.check{
		width:25px ;
	}
	.listCar .shops li.img{
		width:100px ;
	}
	.listCar .shops li.img a{
		height: 80px;
	}
	.listCar .shops li.info label h3{
		line-height: 23px;
		height: 23px;
	}
	.listCar .shops li.info label p{
		line-height: 23px;
		height: 23px;
	}
	.listCar .shops li.info dl{
		padding: 0 50px 0 5px;
		height: 90px;
	}
	.listCar .shops li.info dl dd{
		width: 50px;
		line-height: 90px;
	}
	.listCar .shops li.info dl dt div{
		height:30px;
	}
	.AllJoin{
		margin: 10px auto;
		padding: 0 100px 0 60px;
	}
	.AllJoin li.select{
		width:55px;	
		position: absolute;
		left: 0;
		top:0;
	}
	.AllJoin li.but{
		width:100px;
	}
}
@media (max-width: 400px) {
	.listCar .shops li.check{
		width:20px ;
	}
	.listCar .shops li.img{
		width:90px ;
	}
	.listCar .shops li.img a{
		height: 70px;
	}
	.listCar .shops li.info label h3{
		line-height: 20px;
		height: 20px;
	}
	.listCar .shops li.info label p{
		line-height: 20px;
		height: 20px;
	}
	.listCar .shops li.info dl{
		padding: 0 50px 0 5px;
		height: 90px;
	}
	.listCar .shops li.info dl dd{
		width: 50px;
		line-height: 90px;
	}
	.listCar .shops li.info dl dt div{
		height:30px;
	}
	.AllJoin{
		margin: 10px auto;
		padding: 0 100px 0 60px;
	}
	.AllJoin li.select{
		width:55px;	
		position: absolute;
		left: 0;
		top:0;
	}
	.AllJoin li.but{
		width:100px;
	}
}