.WapCommentBox{
	background: #FFF;
	margin-top: 15px;
	padding: 10px;
	font-size: 14px;
}
.WapCommentBox .head{
	height:40px;
	line-height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.WapCommentBox .head .tag{
	float: left;
	font-size: 18px;
}
.WapCommentBox .head .more{
	float: right;
}
.WapCommentBox .head .more button{
	line-height: 38px;
	padding: 0 15px;
	border:solid #F30 1px;
	background: #F60;
	color:#FFF;
}
.WapCommentBox .ListComment .lists{
	border-top:#DDD solid 1px;
	display: table;
	width: 100%;
}
.WapCommentBox .ListComment .lists .icon,.WapCommentBox .ListComment .lists .infos{
	display: table-cell;
	padding: 10px 0 10px 0;
	vertical-align: top;
}
.WapCommentBox .ListComment .lists .icon{
	width:60px;
	padding-right: 10px;
}
.WapCommentBox .ListComment .lists .icon img{
	max-width: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px 1px #666;
}
.WapCommentBox .ListComment .lists .infos dl{
	display: table;
	width: 100%;
	margin-bottom: 5px;
}
.WapCommentBox .ListComment .lists .infos dl dt,.WapCommentBox .ListComment .lists .infos dl dd{
	display: table-cell;
	vertical-align: middle;
	color: #888;
}
.WapCommentBox .ListComment .lists .infos dl dd{
	text-align: right;
}
.WapCommentBox .ListComment .lists .infos dl dd span{
	display: inline-block;
	padding-left: 10px;
}
.WapCommentBox .ListComment .lists .repalyinfs{
	background: #F7F7F7;
}
.WapCommentBox .ListComment .lists .repalyinfs div{
	padding:10px;
	line-height: 20px;
	border-top:#FFF solid 1px;
	color: #666;
	font-size: 14px;
}
.WapCommentBox .ListComment .lists .repalyinfs div a{
	color:#888;
}
.WapCommentBox .ListComment .lists .infos .comment{
	line-height: 20px;
}
.PostCommentBox{
	text-align: center;
}
.PostCommentBox textarea{
	width: 92%;
	padding: 1%;
	height: 150px;
	margin: 10px auto;
}
.PostCommentBox button{
	padding:3px 10px;
	border: #999 solid 1px;
	background: #CCC;
	color: #FFF;
	margin: 0 10px;
	cursor: pointer;
}
.PostCommentBox button:nth-child(1){
	border:#F30 solid 1px;
	background: #F60;
}
.ShowMoreComment{
	text-align: center;
	padding: 10px;
}
.ShowMoreComment button{
	padding: 5px 10px;
	color: #999;
}
.PostCommentBox1 ol{
	position: relative;
	padding-left: 70px;
}
.PostCommentBox1 ol i{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background:#CCC;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top:0;
	font-size: 30px;
	color: #FFF;
}
.PostCommentBox1 ol textarea{
	border:#DDD solid 1px;
	width: 97%;
	padding: 1%;
	height: 150px;
	outline: none;
}
.PostCommentBox1 li{
	text-align: right;
	padding-right: 1%;
}
.PostCommentBox1 li span,.PostCommentBox1 li button{
	display: inline-block;
	margin-top: 8px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 16px;
	background: #AAA;
	color: #FFF;
	cursor: pointer;
	border:0px;
}
.PostCommentBox1 li button{
	background: #F60;
}
.PostCommentBox1 li button:hover{
	background: #F30;
}
