.PostOrder{
	max-width: 640px;
	margin:auto;
	padding: 30px 0;
}
.PostOrder > ul{
	display: table;
	width: 90%;
	margin: 0 auto 15px auto;
	border-bottom: #DDD solid 1px;
}
.PostOrder ul ol,.PostOrder ul li{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}
.PostOrder ul ol{
	width:50px;
	text-align: center;
	font-size: 20px;
	color: #666;
}
.PostOrder ul li input[type="text"]{
	border: 0px;
	width: 100%;
	outline: none;
}
.PostOrder > dl{
	display: table;
	width: 90%;
	margin: 0 auto 15px auto;
}
.PostOrder dl dt,.PostOrder dl dd{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}
.PostOrder dl dt{
	width:70px;
}
.PostOrder dl dd input[type="radio"]{
	margin: 0 5px 0 10px;
}
.PostOrder div button{
	display: block;
	width:90%;
	margin: 15px auto 0 auto;
	border: 0px;
	line-height: 50px;
	background: #EBEEF0;
	border-radius: 5px;
	color: #888;
	font-size: 20px;
	cursor: pointer;
}
.PostOrder div button[type=submit]{
	background: #257FED;
	color: #FFF;
}	
.must-choose i{
	color:red;
}