.MyshopBox{
	width:100%;
	overflow:hidden;
}
.ListShop{
	border-top:#EEE solid 1px;
	border-bottom:#EEE solid 1px;
	background:#FFF;
	margin-bottom: 10px;
	position:relative;
}
.ListShop dl{
	display:table;
	width:100%;
	border-bottom:#EEE solid 1px;
}
.ListShop dl dt,.ListShop dl dd{
	display:table-cell;
	vertical-align:middle;
	padding:10px;
}
.ListShop dl dd{
	padding:5px 5px 5px 10px;
	font-size:18px;
	line-height:30px;
	vertical-align:top;
}
.ListShop dl dt{
	border-right:#EEE solid 1px;
	width:40%;
}
.ListShop dl dt a{
	display:block;
	width:100%;
	position:relative;
	overflow:hidden;
}
.ListShop dl dt a:before{
	content:'';
	display:block;
	padding-top:100%;
}
.ListShop dl dt a img{
	max-width:100%;
	max-height:100%;
	position:absolute;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.ListShop dl dd .f{
	padding:5px 0;
}
.ListShop dl dd .f a{
	color:#999;
}
.ListShop dl dd .time{
	color:#F90;
}
.ListShop .submit{
	padding:5px;
	text-align:center;
}
.ListShop .submit a{
	display:inline-block;
	border:#CCC solid 1px;
	color:#888;
	border-radius:5px;
	margin:0 3px;
	font-size:18px;
	line-height:30px;
	padding:0 10px;
}
@media (max-width: 500px) and (min-width:401px) { 
    .ListShop dl dd{
		font-size:16px;
		line-height:25px;
	}
	.ListShop .submit a{
		font-size:16px;
		line-height:25px;
		padding:0 8px;
	}
}
@media (max-width: 400px) {
    .ListShop dl dd{
		font-size:14px;
		line-height:20px;
	}
	.ListShop .submit a{
		font-size:14px;
		line-height:28px;
		padding:0 5px;
	}
}