body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/26px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
/*
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
*/
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
/*选中后背景色*/
::selection {
	color: #fff;
	background: #fd6114;
} 
::-moz-selection {
	color: #fff;
	background: #fd6114;
}
a {
	text-decoration:none;
}
a:active, a:hover {
	outline: 0;
}
body{
	background:#EFEFEF;
	max-width:640px;
	margin:auto;
}
.B{
	font-weight:bold;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
.green{
	color:green;
}
.gray{
	color: #999999;
}
.FL{
	float:left;
}
.FR{
	float:right;
}
/*header*/
.qb_header{
	display: table;
	background: #FFF;
	border-bottom: #DDD solid 1px;
	width: 100%;
}
.qb_header div{
	display: table-cell;
	text-align: center;
	padding: 15px 5px;
	font-size: 16px;
	vertical-align: middle;
}
.qb_header div.goback{
	width: 60px;
}
.qb_header div.member{
	width: 40px;
	font-size: 22px;
}
.qb_member_note{
	background: #FFF;
	border-bottom: #DDD solid 1px;
	text-align: center;
	padding: 15px 10px;
	line-height: 20px;
}
/*****/
.qb_member_Cnt{
	border-top: #DDD solid 1px;
	border-bottom: #DDD solid 1px;
	padding: 10px;
	background: #FFF;
	margin-top: 15px;
}
/*****/
.qb_member_ListType1{
	border-bottom: #DDD solid 1px;
	padding:5px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 14px;
}
.qb_member_Cnt:after,.qb_member_ListType1:after,.qb_member_ListType1 ol:after,.qb_member_ListType1 li:after{
	content: '';
	display: block;
	clear: both;
}
.qb_member_ListType1 ol{
	margin-bottom: 5px;
}
.qb_member_ListType1 ol span.FL{
	line-height: 18px;
	display: block;
	width: 80%;
}
.qb_member_ListType1 li a.FR{
	display: inline-block;
	line-height: 25px;
	border: #CCC solid 1px;
	padding: 0 10px;
	border-radius: 3px;
	color: #999;
}
.qb_member_ListType1 li a.FR:hover{
	border: #F30 solid 1px;
	background: #F60;
	color: #FFF;
}
.buttera a{
	display: inline-block;
	border: #DDD solid 1px;
	padding: 0 5px;
	color: #888;
}
