<form class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">图片选择：</label>
			{:W('common/uploadImg',array(cover,$info['cover_url'],'90x90',图片))}
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">图片裁剪：</label>
			{:W('common/uploadImg',array(avatar,$info['avatar_url'],'90x90',裁剪,'','450x450','1/1'))}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label imgSel">图集选择：</label>
		<div class="layui-input-block">
			{:W('common/uploadMultImg',array(imgs,$info['imgsList'],图集选择,'100x100',20))}
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label multiSel">复选框多选：</label>
			<div class="layui-input-inline">
				{:W('table/select',array('cate_id|1|弹框选择数据源|name|id|1|4','/Config/index',['id|编号|50','name|配置名称|150'],'',[1,2]))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">单选框单选：</label>
			<div class="layui-input-inline">
				{:W('table/select',array('cate_id2|1|弹框选择数据源|name|id|2|20','/Config/index',['id|编号|50','name|配置名称|150'],'',[1,2]))}
			</div>
		</div>
	</div>
	<div class="layui-form-item" style="width:665px;">
		<label class="layui-form-label">标签选择：</label>
		{:W('tags/select',array('cate_id|1|最多选择【6】个标签|name|id|5|535',M('category')->getField('id,name,status'),[1,2,3,4,5]))}
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">选择城市：</label>
			<div class="layui-input-inline">
				{:W('city/select2',array('省/市/区|1',1091,3))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">搜索组件：</label>
			<div class="layui-input-inline">
				{:W('select/selectSearch',array('search_id|1|搜索名称|e_name|id|1|100','/Expresses/index?name=',['id|编号|50','e_name|名称|100','e_code|拼音|150'],"顺丰快递",29))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">常用按钮：</label>
		<div class="layui-input-block">
			{:W('funcNode/btnAdd',array(添加按钮))}
			{:W('funcNode/btnDAll',array(批量删除))}
			{:W('funcNode/btnEdit',array(编辑))}
			{:W('funcNode/btnDel',array(删除))}
		</div>
	</div>
	<div class="layui-form-item" style="width:665px;">
		<label class="layui-form-label">复选标签：</label>
		<div class="layui-input-block">
			{:W('checkbox/select',array('tag_id|name|id|20',M('category')->getField('id,name,status'),[1,2,3,4,5,12]))}
		</div>
	</div>
	<div class="layui-form-item" style="width:665px;">
		<label class="layui-form-label">复选标签：</label>
		<div class="layui-input-inline">
			{:W('select/select',array('tag_id2|1|产品标签|name|id|1',M('category')->getField('id,name,status'),[2,5,8]))}
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<script>
layui.use(['layer'],function(){
	var layer = layui.layer,
		$ = layui.$;
	
	console.log(111);
	
	/*setTimeout(function () {
		layer.tips('点此提交表单', $('.layui-btn')[6], {
			tips: [1, 'orange'], time: 2e3
		});
	}, 0.5e3);*/
	
	setScrollTop($("#cate_id"), '有遮罩层时请设置“遮罩透明度”');
	
	function setScrollTop(obj, text) {
		$(document).scrollTop($(obj).offset().top - 30);
		text && layer.tips(text, obj, {
			tips: [3, '#c95050'], time: 5e3
		});
		return text;
	}
	
	setTimeout(function () {
		//$(document).scrollTop($('.imgSel').offset().top);
		layer.tips('图片上传组件', $('.imgSel')[0], {
			tips: [1, 'orange'], time: 4e3, tipsMore: true
		});
		layer.tips('复选框组件', $('.multiSel')[0], {
			tips: [1, 'orange'], time: 4e3, tipsMore: true
		});
	}, 0.2e3);
});

</script>