body {margin: 5px; font-family: arial, verdana; font-size: 9pt; color: #111111; word-break:break-all;}
.table_list, .table_form {width:100%;background:#a8c7ce;border:0;margin-bottom:5px;}
.table_search {border: 1px solid #a8c7ce;width:100%;background:#d3eaef;}
.table_list tr, .table_form tr {background:#fff;line-height:20px;}
.table_list caption, .table_form caption { border:1px solid #a8c7ce; border-bottom-width:0;margin:0;padding:0;font-weight:bold; background:url(../images/bg_table.gif) repeat-x 0 0; height:24px; line-height:24px;}
.table_list th,.table_form th {background:#d3eaef;height:24px;line-height:24px;padding:0 3px;}
.table_list td,.table_form td,.table_guide td,.table_search td { padding:3px;}
.table_list_in td {border-bottom:1px solid #a8c7ce;}
a{ text-decoration: none; color: #111111; }
a:hover{ color: #009286; text-decoration: none;}
td.align_c,th.align_c {text-align:center;}
td.align_r,th.align_r {text-align:center;}
td.align_l,th.align_l {text-align:left;}
.inputcheckbox {vertical-align:middle; outline:none; border:0;}
button, .button { background:url(../images/bg1.gif) repeat-x 0 -38px; text-align:center; height:25px;border:1px solid #9cc9e0; margin:1px; padding:0 2px; color:#077ac7; cursor:pointer; vertical-align:middle; }
.STYLE19 {
	color: #344b50;
	font-size: 12px;
    
}

.blue{
    margin:0 10px;
    color:#255;
}

.blues{
    color:blue;

}

.green{
	padding:0 5px 0 0;
	color:green;
}

ul{
	padding:0px;
	margin: 0px;
	list-style: none;
}

.red{
    padding:0 5px 0 0;
    color:red;
}
.text-box {
	font-size:12px;
	font-family:verdana, sans-serif;
	color:#777;
	border:1px solid #B6B3AF;
}

input, textarea, select{
	line-height: 22px;
	border:1px solid #dcdcdc;
	padding:0 2px;
}

input, select{
	height: 20px;
	vertical-align:middle;
}








