BODY {
	BACKGROUND-COLOR: #fff; FONT-FAMILY: "宋体", Arial; COLOR: #555; FONT-SIZE: 12px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.login {
	MARGIN: 100px auto 0px; WIDTH: 600px
}
.login P {
	MARGIN-TOP: 225px; WIDTH: 110px; BACKGROUND: url(../images/login.jpg) no-repeat; FLOAT: left; HEIGHT: 320px
}
.login .pl {
	BACKGROUND-POSITION: 0px -225px
}
.login .pr {
	BACKGROUND-POSITION: -150px -225px
}
.login .l {
	WIDTH: 18px; BACKGROUND: url(../images/login.jpg) no-repeat; FLOAT: left; HEIGHT: 320px
}
.login .r {
	WIDTH: 18px; BACKGROUND: url(../images/login.jpg) no-repeat; FLOAT: left; HEIGHT: 320px
}
.login .l {
	BACKGROUND-POSITION: -110px 0px
}
.login .r {
	BACKGROUND-POSITION: -132px 0px
}
.login .c {
	WIDTH: 344px; BACKGROUND: url(../images/loginbg.jpg); FLOAT: left; HEIGHT: 313px; PADDING-TOP: 7px
}
.login .c DIV {
	CLEAR: both
}
.login .to .tol {
	WIDTH: 95px; FLOAT: left; HEIGHT: 50px; MARGIN-LEFT: 5px
}
.login .to .tol A {
	WIDTH: 95px; FLOAT: left; HEIGHT: 50px; MARGIN-LEFT: 5px
}
.login .to .tol A {
	BACKGROUND: url(../images/login.jpg) no-repeat 0px -50px
}
.login .to .tol .v {
	BACKGROUND-POSITION: 0px 0px
}
.login .to .tor {
	TEXT-ALIGN: right; LINE-HEIGHT: 50px; WIDTH: 230px; PADDING-RIGHT: 9px; FLOAT: right; COLOR: #fff
}
.login .to .tor A {
	COLOR: #fff
}
.login .in {
	HEIGHT: 175px; OVERFLOW: hidden; PADDING-TOP: 18px
}
.login .in DL {
	LINE-HEIGHT: 40px; WIDTH: 100%; FLOAT: left; PADDING-TOP: 12px
}
.login .in DL DT {
	TEXT-ALIGN: right; WIDTH: 80px; FLOAT: left; COLOR: #4574b4; FONT-SIZE: 14px
}
.login .in DL DD {
	PADDING-LEFT: 10px; FLOAT: left
}
.login .in DL DD.e {
	WIDTH: 50px; FLOAT: left; COLOR: #87a2bc
}
.login .in DL DD.e A {
	COLOR: #87a2bc
}
.login .in INPUT {
	BORDER-BOTTOM: #cbdeed 1px solid; BORDER-LEFT: #a4c6df 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f4f7f9; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FLOAT: left; HEIGHT: 25px; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #a4c6df 1px solid; BORDER-RIGHT: #cbdeed 1px solid; PADDING-TOP: 4px
}
.login .in INPUT:hover {
	BORDER-BOTTOM: #5ea2d9 1px solid; BORDER-LEFT: #5ea2d9 1px solid; BACKGROUND-COLOR: #edf3f8; BORDER-TOP: #5ea2d9 1px solid; BORDER-RIGHT: #5ea2d9 1px solid
}
.login .su {
	LINE-HEIGHT: 35px; PADDING-LEFT: 10px; HEIGHT: 55px; COLOR: #87a2bc; OVERFLOW: hidden; PADDING-TOP: 10px
}
.login .su A {
	COLOR: #87a2bc
}
.login .su SPAN {
	FLOAT: right
}
.login .su SPAN INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/login.jpg) no-repeat -185px 0px; HEIGHT: 35px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}

