
<div id="actionbar">
    <span url="{:url('sign/add')}" class="button button-blue win"> <i class="iconfont icon-add_icon"></i>增加</span>
</div>
<table class="table table-border">
    <thead>
    <tr>
        <th class="w60 fn-tac">No.</th>
        <th>签到天数</th>
        <th class="w160">积分</th>
        <th class="w160 fn-tac">操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $lists as $vo}
    <tr>
        <td class="fn-tac red">{$vo.id}</td>
        <td>{$vo.config_id}</td>
        <td>{$vo.point}</td>
        <td class="button-group fn-tac">
            <sapn class="button win" url="{:url('sign/edit',array('id'=>$vo.id))}"><i class="iconfont icon-edit"></i>编辑</sapn>
            <a class="button isDel" url="{:url('sign/delete',array('id'=>$vo.id))}" href="javascript:;"><i class="iconfont icon-lajixiang"></i>删除</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script type="text/javascript">
    Do('base', 'layer', function () {
        $('.isDel').isDel();
        $('.win').win({area: ['500px', '250px'],'reload':true});
        sort("{:url('category/sort')}");
    })
</script>