

.btn-img {
	cursor: pointer;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

/*footer*/
#footer {
	padding: 20px 0 30px;
	text-align: center;
}

#footer .flinks a,#footer .flinks span {
	margin: 0 10px;
}

#footer .flinks span a {
	margin: 0;
}

#footer .copyright {
	margin: 10px 0;
	font-family: arial;
}

#footer .ilinks a {
	margin: 0 5px;
}

/*logo*/
#logo {
	padding: 10px 0;
	float: none;
	margin: 0;
	position: relative;
}

#logo b {
	position: absolute;
	width: 111px;
	height: 46px;
	top: 18px;
	left: 240px;
}
.w1 {
	width: 890px;
	margin: 0 auto;
}
#entry {
	background: #e8e8e8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	position: relative;
	margin-top:30px;
}

#entry .extra-en {
	position: absolute;
	right: 20px;
	top: -20px;
}

#entry .mt {
	height: 33px;
	background: url(../../../View/default/images/tit_regist.jpg) #D1D1D1
		repeat-x 0 -34px;
}

#entry .mt h2 {
	float: left;
	height: 33px;
	padding-left: 15px;
	background: url(../../../View/default/images/tit_regist.jpg) no-repeat 0 0;
	line-height: 33px;
}

#entry .mt span {
	float: right;
	height: 33px;
	line-height: 33px;
	text-align: right;
}

#entry .mt b {
	float: right;
	width: 10px;
	height: 33px;
	background: url(../../../View/default/images/tit_regist.jpg) no-repeat 0
		-68px;
}

#entry .mc {
	border: 1px solid #e1e1e1;
	background: #ffffff;
	height: 372px;
}

#entry .form {
	position: absolute;
  	top: 18px;
  	/* right: 32px; */
  	/* width: 320px; */
  	overflow: hidden;
  	height: 354px;
}

#entry .form2 {
	right: 24%;
  	top: 120px;
  	height: 500px;
}

#entry .lheight .form {
	height: 354px;
}
.wst-regist-head {
  font-size: 28px;
  /* font-family: "楷体"; */
  /* color: #e86e55; */
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#entry .item {
	height: 64px;
	line-height: 26px;
	overflow: visible;
	position: relative;
	width: 320px;
	z-index: 1;
}
.wst-login{
	width: 990px;
	padding: 0;
	margin: 0 auto;
	zoom: 1;
}
#entry .login-btn2013 {
	height: 52px;
}

.form #sloginpwd {
	float: none;
}

#entry .fore1 {
	z-index: 10;
}

#entry .fore2 {
	z-index: 8;
}

#entry .fore3 {
	z-index: 6;
	height: 63px;
}

#entry .fore4 {
	z-index: 3;
}

#entry .item span {
	color: #999999;
	height: 20px;
	line-height: 20px;
	display: block;
	margin-top: 1px;
}

#entry .item .ftx24 .clr {
	height: 0;
	line-height: 0;
}

#entry .item .item-ifo {
	position: relative;
	width: 307px;
}

#entry .item-share {
	position: absolute;
	bottom: 5px;
}

#entry .item-ifo .ico {
	position: absolute;
	right: 12px;
	z-index: 5;
}

#entry .item-ifo .i-name {
	background: url("../../images/icon_name.png") 100% 100%;
	height: 19px;
	top: 8px;
	width: 19px;
	background-size: cover;
}

#entry .item-ifo .i-pass {
	background: url("../../images/icon_passard.png") 100% 100%;
	width: 19px;
	height: 19px;
	top: 8px;
	background-size: cover;
}

#entry .tab {
	border-bottom: 1px solid #ffd690;
	height: 29px;
	margin-bottom: 25px;
	overflow: visible;
	padding-left: 100px;
}

#entry .tab li {
	color: #666666;
	font-size: 12px;
	height: 27px;
	line-height: 27px;
	padding-top: 3px;
	text-align: center;
	margin-right: 20px;
}

#entry .item .tab li a {
	text-decoration: none;
}

#entry .tab .curr {
	background: url("i/bg_regist0914.jpg") no-repeat scroll -141px -188px
		transparent;
	color: #A0410A;
	font-weight: bold;
	position: relative;
	z-index: 10;
	width: 100px;
}

#entry #autoentry {
	margin-top: 35px;
}

#entry .label {
	width: 100px;
	text-align: right;
	font-size: 14px;
}

#entry .text {
	float: none;
	width: 282px;
	height: 24px;
	line-height: 24px;
	padding: 4px 20px 4px 3px;
	border: 1px solid #f1f1f1;
	font-size: 14px;
	font-family: arial, "宋体";
}

#entry .text_pge {
	float: none;
	width: 305px;
	_width: 305px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #f1f1f1;
	font-size: 14px;
	font-family: arial, "宋体";
	overflow: hidden;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
	#entry .text_pge {
		width: 305px;
	}
}

@
-moz-document url-prefix (){ #
	entry .text_pge{width: 307px;
}

}
#entry .text-1 {
	width: 100px;
	float: left;
}

#entry .blank {
	display: none;
	float: none;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9px;
	right: 8px;
	z-index: 10;
	padding: 2px;
}

#entry .mar {
	margin-right: 10px;
}

#entry .img img {
  vertical-align: middle;
  cursor: pointer;
  height: 55px;
  margin: 0 0 0 5px;
}

#entry .succeed {
	background: url(../../../View/default/images/sucess.png) no-repeat
		#ffffff;
}

#entry .btn-entry {
	width: 307px;
	height: 34px;
	font-family: "微软雅黑";
	line-height: 100px;
	text-indent: -9999px;
	background: url(../../../View/default/images/login-all-bg.png) no-repeat
		0 -61px;
	overflow: hidden;
}

#entry .btn-entry:hover {
	background: url(../../../View/default/images/login-all-bg.png) no-repeat
		0 -95px;
}

#entry .highlight1 {
	border: 1px solid #7abd54;
}

#entry .highlight2 {
	border: 1px solid #f00;
	color: #f00;
}

#entry .pwdbg {
	background: #FFF8EB;
}

#entry .focus {
	color: #999;
	line-height: 22px;
	display: none;
}

#entry select {
	margin-top: 5px;
}

#entry .null,#entry .error,#loginname_error.error,#loginpwd_error.error,#authcode_error.error
	{
	position: absolute;
	width: 302px;
	padding: 2px 0 2px 3px;
	left: 0px;
	top: 34px;
	border: 1px solid #ffbdbf;
	color: #e6393d;
	background: #ffebec;
	float: none;
	line-height: 16px;
	z-index: 100;
}

#entry .checkbox {
	margin-top: 6px;
	*margin-top: 2px;
}

#entry .extra .btns {
	float: left;
	position: relative;
	overflow: hidden;
	height: 14px;
	margin-right: 2px;
	line-height: 14px;
}

#entry .extra .btns s {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url(../../../View/default/images/icon_cooperation.jpg);
	background-repeat: no-repeat;
}

#entry .extra .ftx24 .btns a:link,#entry .extra .ftx24 .btns a:visited {
	text-decoration: none;
	color: #666666;
	padding-right: 2px;
	border-right: 1px solid #DBDBDB;
}

#entry .extra .ftx24 .more a:link,#entry .extra .ftx24 .more a:visited {
	border-right: none;
}

.step p {
	margin-bottom: 16px;
	overflow: hidden;
}

.step p a {
	color: #0060a7;
}

.step ul {
	background: url(../../../View/default/images/step-icon.jpg) no-repeat;
	width: 350px;
	padding-top: 27px;
	overflow: hidden;
}

.step-0 ul {
	background: url(../../../View/default/images/step-s-0.jpg) no-repeat;
}

.step li {
	float: left;
	width: 113px;
	text-align: center;
	color: #aaaaaa;
}

.step .cur {
	color: #7bbc54;
}

.step .btn {
	background: url(../../../View/default/images/btn-tijiao.jpg) no-repeat;
	width: 77px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	margin: 20px auto 0;
}

.step .btn a {
	color: #fff;
}

.t-error i {
	float: left;
	background: url(../../../View/default/images/i-icon1.jpg) no-repeat;
	width: 48px;
	height: 42px;
	margin-right: 5px;
}

.t-error .mc {
	width: 350px;
}

.t-error strong {
	float: left;
	width: 297px;
	font-size: 16px;
}

.t-error span {
	float: left;
	width: 297px;
	margin-top: 6px;
	color: #989898;
}

.t-error .btn {
	background: url(../../../View/default/images/btn-cont.jpg) no-repeat;
	width: 57px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	margin: 15px auto 0;
}

.wst-wx-bin{
	height: 32px;
	width: 600px;
	margin: 0 auto;
	padding:30px 0px 10px 0px;
}
.wst-wx-bin .bin{
	float: left;
	height: 30px;
	line-height: 30px;
	width: 300px;
	cursor: pointer;
    font-size: 18px;
    text-align: center;
	border-bottom: 2px solid #e8e8e8;
}
.wst-wx-bin .selected{
	border-bottom: 2px solid #ef2323;
}
.wst-wx-info{
	width: 350px;
	margin: 0 auto;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
}
.wst-wx-info img{
	width: 30px;
	border-radius: 30px;
}
#entry .btn-binding {
	width: 307px;
	height: 34px;
	line-height: 34px;
	color: #FFF;
	font-family: "微软雅黑";
	overflow: hidden;
	font-size: 16px;
	background:#e43d40 none repeat scroll 0 0;
}
#entry .btn-binding:hover {
	background:#ec4245 none repeat scroll 0 0;
}
#namelist {
    background-color: white;
    display: none;
    position: absolute;
    width: 305px;
    top: 52px;
    left: 0px;
    border: 1px solid #f1f1f1;
}
#namelist div {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
}
a.blue{
	color: #005AA0;
}
.wst-wx-btn{
	margin-left: 10px;
    border: 1px solid #f1f1f1;
    padding: 0;
    width: 166px;
    height: 32px;
    background: #f4f4f4;
    margin-top: 0;
    text-align: center;
    line-height: 32px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}
input.wst-login-input{margin-left: 20px;}
.wst-wx-info img{  vertical-align: middle;}
