<include file="Public/header" />
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav">
    <a href="{:U('Merchant/index', array('mid'=>$mid))}" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
    <a href="tel:{$telephone}" class="">
      <i class="am-header-icon am-icon-phone"></i>
    </a>
  </div>
  <h1 class="am-header-title">{$shop_name}-{$nav_list[5]['nav_name']}</h1>
  <div class="am-header-right am-header-nav">
    <a href="javascript:void();" id="menu_btn" class="">
      <span class="am-header-nav-title">菜单</span>
      <i class="am-header-icon am-icon-bars"></i>
    </a>
  </div>
</header>

<div data-am-widget="list_news" class="am-list-news am-list-news-default">

  <div class="am-list-news-bd">
    <ul class="am-list">
      <volist name="activity_list" id="vo">
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-top">
        <div class="am-list-thumb am-u-sm-12">
          <a href="{:U('Merchant/activity_info', array('id'=>$vo['id']))}" class="">
            <img src="__PUBLIC__/admin/upload/station_activity/{$vo.thumb}" onerror="javascript:this.src='__PUBLIC__/admin/upload/default.jpg'" alt="{$vo.title}"
            />
          </a>
        </div>
        <div class=" am-list-main">
          <h3 class="am-list-item-hd">
            <a href="{:U('Merchant/activity_info', array('id'=>$vo['id']))}" class="">
              <if condition="$vo['status'] eq 2">
                <span class="am-badge am-badge-primary am-round">{:date('Y-m-d H:i:s', $vo['start_datetime'])}开始，请等待</span>
              <elseif condition="$vo['status'] eq 1"/>

                <span class="am-badge am-badge-success am-round">进行中</span>&nbsp;
              <elseif condition="$vo['status'] eq 0"/>
                <span class="am-badge am-badge-danger am-round">已结束</span>
              </if>
              {$vo.title}</a>
          </h3>
          <div class="am-list-item-text">{$vo.summary}</div>
        </div>
      </li>
      </volist>
    </ul>
  </div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('#menu_btn').click(function(){
			var text = $(this).find('span').text();
			if (text == '菜单'){
				$('#main').animate({bottom:'0px'}, 500);
				$(this).find('span').text('关闭菜单');
			}else{
				$('#main').animate({bottom:'-200px'}, 500);
				$(this).find('span').text('菜单');
			}
			
		});
		
	});
</script>

<input type="hidden" id="APP" value="__APP__">

<include file="Public/footer" />