@media (min-width: 576px) {
  .app-wrapper {
    padding-top: 60px;
  }
  .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
  }
  .app-body {
    margin-top: 1.5em;
  }
  .bd-footer {
      padding: 4rem 0;
      margin-top: 4rem;
      font-size: 85%;
      text-align: center;
      background-color: rgba(88, 147, 255, .7);
  }
  .bd-footer-links {
      padding-left: 0;
      margin-bottom: 1rem;
  }
  .bd-footer-links li {
      display: inline-block;
  }
  .bd-footer a {
      font-weight: 500;
      color: #464a4c;
  }
  .job-names {
      margin: 0 .5em;
  }

  .popover {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
      max-width: 1000px;
  }
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
