<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$config.shop_name}--管理中心</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/manage/views/css/admin.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/manage/views/js/html5shiv.min.js"></script>
    <script src="/manage/views/js/respond.min.js"></script>
    <![endif]-->
    <style>
        body{font-size: 12px;}
    </style>
</head>
<body class="skin-red-light sidebar-mini fixed sidebar-collapse">
<div class="wrapper">