#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{width:260px;margin-left:-260px;}
/*body*/
#header,#content,.fwrap,#banner{width: 960px;}
body{color:#555; background:#541554 url(images/bg.png) center top no-repeat;}
.tbbd{color:#555; background:#541554 url(images/bg.png) center top no-repeat;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f10000;}
.col-main .mhd span a:link,.col-main .mhd span a:visited{ color:#555;}
.col-main .mhd span a:hover,.col-main .mhd span a:active{ color:#f10000;}
.col-sub .mhd span a:link,.col-sub .mhd span a:visited{ color:#fff;}
.col-sub .mhd span a:hover,.col-sub .mhd span a:focus{ color:#f10000;}
input,textarea{border-top:1px #bcbcbc solid;border-left:1px #bcbcbc solid;border-right:1px #bcbcbc solid;border-bottom:1px #bcbcbc solid;}
.job_con table,.guest table{border-top:1px solid #bcbcbc;border-left:1px solid #bcbcbc;border-right:1px solid #bcbcbc;}
.job_con td,.guest td{background:#ececec;border-bottom:1px solid #bcbcbc;}
.job_con th,.guest th{background:#f6f6f6;border-bottom: 1px solid #bcbcbc;}
.tblist{width:100%;}
/*header*/
#header{ background:url(images/headerbg.png) right 25px no-repeat;}
#header h1,#header p{float:left;}
#header p {margin-left:20px;color:#fff; display:block; height:106px; line-height:100px; }
#header h1{ margin-top:18px;}
.menu{ right:70px; top:20px; position:relative;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 3px;color:#b6647b;}

#slider{ margin:0 auto;}
.slider,.singPic{ background:url(images/bannerbg.png) center center repeat-y; width:960px;padding-top:5px;}
.slider img,.singPic img{ margin:0 auto;}
#banner{border-top:1px #dedede solid;}
#banner .xbottom{ background: url(images/bxbottom.png); height:44px;}
#index #banner .xbottom{ background: url(images/ibxbottom.png); height:44px;}
#contact #banner .xbottom{ background: url(images/cbxbottom.png); height:44px;}

.nav{height:47px; line-height:47px;background:url("images/navbg.png") repeat-x;position:relative; font-weight:bold;}
.nav .li01,.nav .li05{ background:url(images/lig.png);}
.nav .li02,.nav .li06{ background:url(images/liy.png);}
.nav .li03,.nav .li07{ background:url(images/lir.png);}
.nav .li04,.nav .li08{ background:url(images/lib.png);}
.nav li a{width:114px;text-align:center;}
.nav li a.active .li01,.nav li a.active .li02,.nav li a.active .li03,.nav li a.active .li04,.nav li a.active .li05,.nav li a.active .li06,.nav li a.active .li07,.nav li a.active .li08,
.nav li a:hover .li01,.nav li a:hover .li05{ background:url(images/liactiveg.png) no-repeat;}
.nav li a:hover .li02,.nav li a:hover .li06{ background:url(images/liactivey.png) no-repeat;}
.nav li a:hover .li03,.nav li a:hover .li07{ background:url(images/liactiver.png) no-repeat;}
.nav li a:hover .li04,.nav li a:hover .li08{ background:url(images/liactiveb.png) no-repeat;}
.nav li.active a{background:url("images/liactive.png") no-repeat ;}
.nav li.active li a{background:none;padding:0;}

.navl,.navr{width:8px;height:47px;position:absolute;top:0;}
.navl{left:0;background:url("images/navl.png") no-repeat;}
.navr{right:0;background:url("images/navr.png") no-repeat;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active,.nav a.active:visited{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#fff;}
.nav li.active a,.nav li.active a:visited{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fffea6;background:none;}

/*content*/
.content{ background:url(images/contentbg.png) repeat-y center center;}
.content .xbottom{ background:url(images/cxbottom.png) center bottom; height:12px;}
.grid{ background:url(images/grid.png) center top no-repeat;}
#index .content{ background:url(images/icontentbg.png) repeat-y center center;}
#index .content .xbottom{ background:url(images/icxbottom.png) center bottom; height:12px;}
#index .grid{ background:url(images/igrid.png) center top no-repeat;}
#contact .content{ background:url(images/ccontentbg.png) repeat-y center center;}
#contact .content .xbottom{ background:url(images/ccxbottom.png) center bottom; height:12px;}
#contact .grid{ background:url(images/cgrid.png) center top no-repeat;}
.mbox{ padding-bottom:10px;}
.mhd{height:32px; line-height:26px; background:url(images/mhd.png) repeat-x bottom; }
.mhd h3{ padding-left:40px; color:#90b704;background:url(images/col-main-mhd.png) 10px center no-repeat;}
.col-main .mhd{ margin:0 15px;}
.col-sub .mhd h3{color:#FFF; background:url(images/h301.png) 20px center no-repeat;}
.col-sub .n_ico .mhd,.col-sub .contact .mhd,.col-extra .n_ico .mhd,.col-extra .contact .mhd{ background:url(images/col-sub-mhd1.png) no-repeat center center; }
.col-sub .down_list .mhd,.col-sub .tlinks .mhd,.col-sub .cate_list .mhd{ background:url(images/col-sub-mhd2.png) no-repeat center center; }
.col-sub .kfonline .mhd,.col-sub .job .mhd,.col-extra .kfonline .mhd{ background:url(images/col-sub-mhd3.png) no-repeat center center; }
.col-sub .n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 20px center;padding-left:50px;}

.mhd button{background:url("images/sbtn2.png") no-repeat; color:#FFF;line-height:10px;}
.feedback a{width:240px;background:url("images/feedback.png") no-repeat center center; padding-bottom:10px; padding-top:10px;}
.quaon_pic .mbd li{margin:26px 24px 0px 27px;}
.prodt .mbd li{margin: 20px 22px 0 21px;}
.plinks .mbd li{margin:12px 0 0 16px;}			
.prodt_list .mbd li{margin: 26px 21px 0 22px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #a6a6a6 dotted;}
.news li span,.seabox li span{color:#555;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #a8a8a8 dashed;}
.notice_con p.active{background:#f6f6f6; color:#000;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #a6a6a6 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#ffa800;}
.down_list .mbd li h2{border-bottom:1px #a6a6a6 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#ffb500;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #a6a6a6 dashed;}	
.title{border-bottom:1px #bcbcbc solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#df5815;color:#e5ebb9;border:1px #ddd solid;}
/*pics*/
.news .mbd{padding-right:20px;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}	
.item_intro h4{background:#f6f6f6;}
.news_con .mbd{margin:0 6px;}
.culture_con .mbd,.orgza_con .mbd,.notice_con .mbd,.profile_con .mbd{padding-top:8px;}
.seabox .mbd{padding-top:5px;padding-left:10px;}
.item {padding: 15px 0;}
.item span{color:#555;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat; color:#FFF;padding-top:4px;_padding-top:2px;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat; color:#4e4e4e;padding-top:4px;_padding-top:2px;}

.pipe {color:#fff;}
.fwrap{ background:#96be06; margin:0 auto;}
#footer {color: #fff; background:url(images/footer.png) center bottom no-repeat; padding-top:5px; padding-bottom:5px;}
#footer a:link, #footer a:visited {color: #fff;}
#footer a:hover {color: #f10000;}
#footer .support a:link, #footer .support a:visited{color: #fff;}