<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>sfexpress</name>
            <displayName><![CDATA[顺丰快运]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[民营区域性快递企业,主要经营国际、国内快递业务及报关、报检等业务。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>你确定删除吗?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>cn</limited_countries>
        </module>