<extend name="Public/base"/>
<block name="head">
	 <link rel="stylesheet" type="text/css" href="__MOBILE__/css/login.css">
</block>
<block name="body">
<div class="container user-center">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-list-alt"></i> 修改头像</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="one">
                        <form class="form-horizontal J_ajaxForm" action="{:u('User/avatar')}" method="post" enctype="multipart/form-data">
                           
                            <div class="form-group">
                                <label class="control-label col-xs-12" for=""></label>
                                <div class="controls col-xs-12">
                                    <img style='width:100px;height:100px;' src='<notempty name="my.avatar">{$my[avatar]}<else/>__NEW_IMG__/headicon_128.png</notempty>' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12" for="">选择头像</label>
                                <div class="controls col-xs-12">
                                    <input type="file" class="form-control" name='avatar' value="">
                                </div>
                            </div>                                                                                                            
                             
                            <div class="form-group">
                                <div class="controls col-xs-12">
                                    <button type="submit" class="btn btn-success">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>
        </div>
    </div>
</div>
</block>
<block name="script">
	<script>
	$(function(){
		 heightlight_bottom_nav("{:U('index')}"); 
	});
	
	</script>
</block>