{extend name="common/main" /}
{block name="body"}

<!-- 标题栏 -->
<div class="main-title">
	<h2>{:lang('_AUTH_MANAGER_')}</h2>
</div>

<div class="tools auth-botton button-box">
    <a id="add-group" class="btn btn-info" href="{:Url('createGroup')}">{:lang('_ADD_WITH_SPACE_')}</a>
    <a class="btn btn-danger" href="{:Url('Admin/menu/index')}">{:lang('_MENU_BG_MANAGER_')}</a>
    <a class="btn btn-success" href="{:Url('Admin/menu/add')}">{:lang('_MENU_NEW_')}</a>
</div>
<!-- 数据列表 -->
<div class="data-table with-padding">
<table class="table table-bordered table-striped ">
<thead>
    <tr>
	<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
	<th class="">{:lang('_USER_GROUP_')}</th>
	<th class="">{:lang('_DESC_GROUP_')}</th>

	<th class="">{:lang('_AUTH_')}</th>
	<th class="">{:lang('_STATUS_')}</th>
	<th class="">{:lang('_OPERATE_')}</th>
	</tr>
</thead>
<tbody>
	{notempty name="_list"}
	{volist name="_list" id="vo"}
	<tr>
        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
		<td><a href="{:Url('AuthManager/editgroup?id='.$vo['id'])}">{$vo.title}</a> </td>
		<td><span>{:mb_strimwidth($vo['description'],0,60,"...","utf-8")}</span></td>


		<td>
			<a class=" btn btn-danger btn-xs" href="{:Url('AuthManager/access?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >			
				{:lang('_AUTH_BG_MANAGER_')}
			</a>
            <a class=" btn btn-info btn-xs" href="{:Url('AuthManager/accessuser?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >
            	{:lang('_AUTH_FG_MANAGER_')}
            </a>
			<a class=" btn btn-warning btn-xs" href="{:Url('AuthManager/user?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >
				{:lang('_MEMBER_AUTH_')}
			</a>
		</td>
		<td>{$vo.status_text}</td>
		<td>
			<a href="{:Url('AuthManager/editGroup?id='.$vo['id'])}" class="">编辑</a>
			{eq name="vo.status" value="1"}
			<a href="{:Url('AuthManager/changeStatus?method=forbidGroup&id='.$vo['id'])}" class="ajax-get">{:lang('_DISABLE_')}</a>
			{else/}
			<a href="{:Url('AuthManager/changeStatus?method=resumeGroup&id='.$vo['id'])}" class="ajax-get">{:lang('_ENABLE_')}</a>
			{/eq}
<!--修改内容开始-->
			<a href="{:Url('AuthManager/changeStatus?method=deleteGroup&id='.$vo['id'])}" class="confirm ajax-get">{:lang('_DELETE_')}</a>
<!--修改内容结束-->
            </td>
	</tr>
	{/volist}
	{else/}
	<td colspan="6" class="text-center"> {:lang('_ADMIN_USER_EMPTY_')} </td>
	{/notempty}
</tbody>
</table>
</div>

{/block}

{block name="script"}
{/block}
