@charset "utf-8";
html,body{margin:0;padding:0;font:12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; background:  url(./body.gif) #fefefe repeat-y center; -webkit-text-size-adjust:none;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
a{ color:#333; text-decoration:none;}
.fr{ float:right;}
a:hover{ text-decoration:none;}
/*头部*/
.inner{ width:1000px; margin:0 auto; position:relative;}
header{background:#f4f4f4; zoom:1}
.pp{position:absolute;top:10px;overflow:hidden; height:60px;}
.headtop{min-height:125px;_height:125px;z-index:999999;zoom:1}
#web_logo{height:100px; overflow:hidden;font-size:0px; position:relative; z-index:999;}
/*导航*/
.top-nav{ color:#444; position:absolute; right:5px; top:10px; height:10px; z-index:1; text-align:right; width:100%;}
.top-nav a{color:#626262;}
.top-nav a:hover{ color:#333;}
.top-logo{ min-height:125px; _height:125px;}
nav{position:absolute; bottom:0px;left:0px;z-index:9999999;zoom:1; height:40px;}
dl,dt,li,dd{margin:0;padding:0;}
.list-none{ list-style:none; padding:0px; margin:0px;}
nav ul li{width:124px;float:left;display:inline; text-align:center; height:40px; line-height:37px;margin-right:1px;position:relative;zoom:1;background:#e0e0e0;}
nav ul li:last-child{width:125px;margin-right:0;}
nav ul li a{font-size: 14px;color:#000; display:block;}
nav ul li:hover>a,nav ul li a.active{ background:#00a3d9;color:#fff;cursor:pointer;height:40px;}
nav ul li:hover a dl{ background:#e0e0e0;}
nav  li dl{text-align:center;display:none;}
nav  li:hover dl{display:block;}
nav  li dl dd{float: none;height: 32px;line-height: 32px;background:#e0e0e0;white-space:nowrap;}
nav  li dl dd a{color:#000;font-size:12px; font-weight:normal; padding:0px 10px;}
nav  li dl dd a:hover{background:#00a3d9;color:#fff;}
nav dl.nav-pro dd{ float:left; background:none; height:auto; padding:0px;}
nav dl.nav-pro dd a{ padding-left:30px; font-size:15px;}
nav dl.nav-pro dd p{ white-space:normal; padding-top:5px;}
nav dl.nav-pro dd p a{ display:block; font-weight:normal; font-size:12px; line-height:2;}
/*------banner-------*/
.banner{width:1000px;height:220px;overflow:hidden;margin:0 auto;}
/*------banner end-------*/
/*首页*/
.content{ width:999px; overflow:hidden; zoom:1;}
.content .aboutus{float: left;width:304px;padding: 20px 30px 0px 20px;overflow: hidden;zoom:1;font-family: 'Simsun';}
.content .aboutus .title, .content .news .title, .content .Contact .title{font-size:16px;color:#ff7800;border-bottom: 1px solid #CBD1D3;font-weight:bold;height:30px; line-height:30px;overflow:hidden;padding-bottom: 2px;}
.product .title{font-size:16px;color:#ff7800;border-bottom: 1px solid #CBD1D3;font-weight:bold;height:30px; line-height:30px;overflow:hidden;margin-left:20px;margin-right:17px; padding-bottom: 2px;}
.content .aboutus .editor{padding:10px 8px 8px 6px;color: #545454; line-height:22px; overflow:hidden;}
.content .news{float: left;width: 305px; padding:20px 0px 0px;overflow: hidden; position:relative;zoom:1;font-family: 'Simsun';}
.content .news .time{ float:right;font-size:11px;color: #999;padding-left:6px; line-height:40px;}
.content .news .metlist{padding: 0px 0px  8px 0px; position:relative; overflow:hidden;zoom:1}
.content .news .metlist li.list{height: 40px; line-height:40px;overflow:hidden;zoom:1;border-bottom: 1px dashed #ddd;}
.content .news .metlist li.list a{ padding:0px 10px;color:#545454; height:40px;line-height: 40px;text-overflow:ellipsis;white-space:nowrap;width:212px;overflow:hidden;display:inline-block;}
.content .news .metlist li a:hover{color: #0964c3; text-decoration:underline;}
.content .Contact{ float:left; width:304px;padding: 20px 0px 0px 20px;font-family: 'Simsun';}
.content .Contact .editor{ color:#545454;padding: 15px 0px 2px 8px;font-size:13px;}
#main_content img{max-width:600px;}
#move td{white-space:nowrap; }

.product{ float:left; width:999px;background:#f6f6f6;  overflow:hidden;}
/*产品展示*/


.index-link{word-wrap: break-word;padding:15px 0px 10px 15px;overflow: hidden; position:relative;zoom:1;font:12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun';}
.linkx h3.title{color:#626262;float: left;min-width: 57px;_width: 57px;display: inline;white-space: nowrap;height: 20px;line-height: 23px; overflow:hidden;}
.linkx li{float: left;display: inline;margin: 16px 10px 0;}
.linkx  .txt a, .foot-text a{white-space:nowrap;color:#626262;}
.linkx .txt a:hover{color: #333;}

/*侧栏*/
.content #sidebar{float: left;width:280px;padding: 20px 20px 0px 15px;overflow: hidden;zoom:1}
.list-group-item.top {background: url(./left_side_top_bg.png);color: #333;font-weight:bold;overflow:hidden;padding-left:10px; }
.list-group-item {position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: white;border: 1px solid #DDD;}
.glyphicon-chevron-right::before {content: "\e080";}
.glyphicon {position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.pull-right {float: right!important;}
a.list-group-item {color: #555;}
.leftSideBar {color: #CCC;top: 5px;}
small, .small {font-size: 85%;}
a.list:hover{background:#f5f5f5;}

/*内容栏*/
.content #main{float: left;width:660px;padding: 20px 10px 0px 0px;overflow: hidden;zoom:1}
#main_content {position: relative;display: block;padding: 10px 15px;background-color: white;border: 1px solid #DDD;}
.breadcrumb {padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: whiteSmoke;border-radius: 4px;}
.breadcrumb > li {display: inline-block;}
.breadcrumb > li + li::before {content: "/\00a0";padding: 0 5px;color: #CCC;}
/*#main_content p{text-indent: 1cm}*/
/*底部*/
.foot-nav{ height:45px;overflow:hidden;padding-top:8px;padding-left:10px; float:left;line-height:25px; overflow:hidden;}
.foot-nav a{color: #727272;}
.foot-nav a:hover{color:#333;}
.foot-nav span{ font-size:10px; margin:0px 8px;color: #727272;}
.foot-text{ float:right;text-align:center; color: #727272;}
.foot-text p{margin-right:10px;}

/*后端样式拷贝*/
input[type="text"], input[type="password"], input[type="select"], input[type="search"], input[type="file"], textarea, select {
border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
border-style: solid;
border-width: 1px;
padding: 4px;
color: #777;
outline-width:0;
}
input:focus,textarea:focus {
	-moz-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;
	border-color:#c4c4c4;
	background-color:#FFFFF0;
}.btn:hover, .btn:focus, .btn:active {
outline: medium none;
border: 1px solid #329ECC !important;
opacity: 0.9;
-khtml-opacity: .9;
-moz-opacity: 0.9;
-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}
.btn:hover, .btn:focus, .btn:active {
outline: medium none;
border: 1px solid #329ECC !important;
opacity: 0.9;
-khtml-opacity: .9;
-moz-opacity: 0.9;
-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}
input[type="submit"], input[type="reset"], input[type="button"] {
margin-bottom: 0;
}
.btn {
display: inline-block;
padding: 5px 10px;
color: #777 !important;
text-decoration: none;
font-weight: bold;
font-size: 11px;
font-family: Tahoma, Arial, sans-serif;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
position: relative;
cursor: pointer;
border: 1px solid #CCC !important;
background: white url("../admin/img/btn-overlay.png") repeat-x !important;
}.box {
padding: 8px;
margin-bottom: 8px;
color: #555;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}.contact_td{width:60px;}