<?xml version="1.0"?>
<niaomuniao>
	<version>1.9</version>
	<lastchange>2013-05-15 10:14:36</lastchange>
	<system>
		<title>AAA认证计费系统</title>
		<tel>13666271969</tel>
		<desc/>
		<soon_start_ip>172.30.0.0</soon_start_ip>
		<soon_end_ip>172.30.255.255</soon_end_ip>
		<stop_start_ip>172.31.0.0</stop_start_ip>
		<stop_end_ip>172.31.255.255</stop_end_ip>
		<days>15</days>
	</system>
</niaomuniao>