<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>菜单列表</title>

	<!-- Bootstrap -->
	<link href="{:config('__public__')}/static/bootstrap-3.3.4/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="/Admin/css/iframeCommon.css" rel="stylesheet"></head>
<body>
	<div class="contentTop">
		<h3>权限管理 - 用户角色列表</h3>
		<div class="toolBar">
			<a id="add-group" class="btn btn-info btn-sm" href="{:url('createGroup')}">新 增</a>
			<!-- <a url="{:url('changestatus',array('method'=>
			'resumeRow', 'ids'=>'', 'targetTable'=>'auth_group'))}" class="btn btn-default btn-sm ajax-post" target-form="ids" >启 用
		</a>
		<a url="{:url('changestatus',array('method'=>
			'forbidRow', 'ids'=>'', 'targetTable'=>'auth_group'))}" class="btn btn-default btn-sm ajax-post" target-form="ids" >禁 用
		</a>
		<a url="{:url('changestatus',array('method'=>
			'deleteRow', 'ids'=>'', 'targetTable'=>'auth_group'))}" class="btn btn-default btn-sm ajax-post confirm" target-form="ids" >删 除
		</a>
		-->
	</div>
</div>

<!-- 数据列表 -->
<table class="table table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<!-- <th class="row-selected row-selected">
			<input class="check-all" type="checkbox"/>
		</th>
		-->
		<th class="">ID</th>
		<th class="">用户组</th>
		<th class="">描述</th>

		<th class="">授权</th>
		<th class="">状态</th>
		<th class="">操作</th>
	</tr>
</thead>
<tbody>
	{notempty name="_list"}
		{volist name="_list" id="vo"}
	<tr>
		<!-- <td>
		<input class="ids" type="checkbox" name="id[]" value="{$vo.id}" />
	</td>
	-->
	<td>{$vo.id}</td>
	<td>
		<a href="{:url('AuthManager/editgroup?id='.$vo['id'])}">{$vo.title}</a>
	</td>
	<td>
		<span>{:mb_strimwidth($vo['description'],0,60,"...","utf-8")}</span>
	</td>

	<td>
		<a href="{:url('AuthManager/access?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >访问授权</a>
		<a href="{:url('AuthManager/groupUsers?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >成员管理</a>
	</td>
	<td>{$vo.status}</td>
	<td>
		{eq name="vo.status" value="1"}
		<a href="{:url('AuthManager/changeStatus?method=forbidRow&ids='.$vo['id'].'&target=auth_group')}" class="ajax-get">禁用</a>
		{else/}
		<a href="{:url('AuthManager/changeStatus?method=resumeRow&ids='.$vo['id'].'&target=auth_group')}" class="ajax-get">启用</a>
		{/eq}
		<a href="{:url('AuthManager/changeStatus?method=deleteRow&ids='.$vo['id'].'&target=auth_group')}" class="confirm ajax-get confirm">删除</a>
	</td>
</tr>
{/volist}
		{else/}
<td colspan="6" class="text-center">aOh! 暂时还没有内容!</td>
{/notempty}
</tbody>
</table>

<div class="page">{$_list->render()}</div>
<script src="{:config('__public__')}/static/jquery-2.0.3.min.js"></script>
<link rel="stylesheet" href="{:config('__public__')}/static/artDialog-6.0.4/css/ui-dialog.css">
<script src="{:config('__public__')}/static/artDialog-6.0.4/dist/dialog-min.js"></script>
<script type="text/javascript" src="/Admin/js/ajaxSubmit.js"></script>
</body>
</html>