#m #setmod{ margin-left:485px;}
#header,#content,#footer{width: 970px;}
#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{width:260px;margin-left:-260px;}
/*body*/
body{color:#555;background:url("images/hwrap_bg.png") repeat-x;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f10000;}
.mhd span a:link,.mhd span a:visited{color:#999;}
.mhd span a:hover,.mhd span a:focus{color:#f10000;}
input,textarea{border:1px #d6e99a solid;}
.job_con table,.guest table {border-top:1px solid #d6e99a;border-left:1px solid #d6e99a;border-right:1px solid #d6e99a;}
.job_con td,.guest td{background:#fff;border-bottom:1px solid #d6e99a;}
.job_con th,.guest th{background:#e8f8b5;border-bottom: 1px solid #d6e99a;}
/*header*/
#banner{ width:1006px;}
#banner .xbottom{ background:url(images/banner_xbottom_bg.png) no-repeat center center; display: block; height:36px;}
#banner .xtop{ background:url(images/banner_xtop_bg.png) no-repeat center center; display: block; height:36px;}
#banner .slider,#banner .singPic{ background:url(images/bannerbg.png) no-repeat 1px top; width:1006px; }
#banner .slider img,#banner .singPic img{ margin:0 auto;}
#header{position:relative;height:86px;}
#header h1,#header p{float:left;display:block;}
#header h1{ margin-top:5px; margin-bottom:5px;}
#header p {color: #fff;position:absolute;top:75px;left:0px; font-size:20px;}
#slider{ margin:0 auto;}
.slidernav {right:45px;}
.menu a{color:#ceda5a;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 3px;}

.nav{position:absolute;top:55px; left:310px; height:34px; line-height:32px;}
.navlist {height:45px;overflow:hidden;}
.nav li{background:url("images/navli.png") no-repeat right center;}
.nav li a{width:94px;text-align:center;height:34px; line-height:32px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center 2px;; font-weight:bold;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#434343;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#434343;}
.nav li.active ul a:hover{background:none;}

/*content*/
.main-wrap{ padding-top:5px;}
.mbox{margin-bottom:10px;}
.mhd h3{color:#434343;padding-left:15px; padding-left:40px;}
.col-sub .mhd{ background:url(images/col_sub_mhd.png) no-repeat; height:36px; line-height:36px;}
.col-sub .mhd h3{ background:url(images/sico01.png) 11px 9px no-repeat;}
.col-sub .mbd{ background:url(images/col_sub_mbd.png) repeat-x;}

.col-main .mhd{ background:#f3f3f4 url(images/col_main_bg.png) right center  no-repeat; height:28px; line-height:28px;}
.col-main .mhd h3{ background:url(images/sico02.png) left center  no-repeat;padding-left:50px; }

.col-extra .mhd{ background:url(images/col-extra_bg.png) center bottom repeat-x;}
.col-extra .mhd h3{ background:url(images/sico03.png) 11px center  no-repeat; }

.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 11px center;}
.n_ico .mhd h3{padding-left:40px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat; color:#FFF; margin-right:15px;}
.seabox .r{_padding:2px;}
.quaon_pic .mbd li{margin:26px 28px 0px 27px;}
.plinks .mbd li{margin:12px 7px 0 13px;}		
.prodt .mbd li{margin: 20px 22px 0 24px;}
.prodt_list .mbd li{margin: 26px 17px 0 28px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #eee dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #c2ed79 solid;}
.notice_con p.active{background:#f0f7d4;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#71af06;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{ background:url(images/down_list_bg.png) no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#676767;}
.g_page .current,.g_page a:hover{background:#b8c31e;color:#fff;border:1px #ddd solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
.contact_con dt{ color:#86ac1a; font-size:14px;}
/*feedback*/
.feedback a{width:260px;background:url("images/feedback.png") no-repeat;padding-bottom:10px; }
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#dbe9b0;}
.fwrap{ background:#71af04;}
#footer {color: #bbd667;}
#footer a:link, #footer a:visited {color: #dbe9b0;}
#footer a:hover {color: #bbd667;}
#footer .support a:link, #footer .support a:visited{color: #bbd667;}
