<div class="boards" id="{$name}_sort">
{volist name="option" id="vo"}
	<div class="board panel panel-info">
		<div class="panel-heading">{$vo['name']|default=''}</div>
		<div class="panel-body">
			{if !empty($vo['list'])}
			<div class="board-list" data-group="{$key}" data-name="{$name}">
				{foreach name="vo['list']" item="item" key="k"}
					{php}
					$item['group'] = isset($item['group']) ? $item['group'] : '';
					{/php}
					{if (($i eq 1) or ($item['group'] eq $key)) and ($item['is_show'] eq 1)}
						<div class="board-item">
							<span data="{$item['id']}">{$item['title']} [{$item['name']}]</span>
							<input type="hidden" name="{$name}[{$key}][]" value="{$item['id']}"/>
						</div>
					{/if}
				{/foreach}
			</div>
			{/if}
		</div>
	</div>
{/volist}
</div>