@charset "utf-8";
/* CSS Document */


body { font-family:"微软雅黑"; font-size:12px; color:#4f4d41; padding:0px; margin:0px; background:#ffffff;}
.clear { clear:both;}
*{list-style-type:none;}
h3 { margin:0px; padding:0px;color:#1f1a17; letter-spacing:1px;}
p { margin:0px; padding:0px;}

a:link,a:visited {color:#4f4d41;text-decoration:none;}
a:hover,a:active {color:#0072b7;text-decoration:none;}



.mainBody { width:100%; margin:0 auto; position:relative;}
.head { width:978px; height:100px; margin:0 auto;}
.logo { float:left; padding:25px 0 0 20px;}
.head_r { float:right; height:100px; width:250px;}
.erwei { float:right; margin:20px 0; width:70px; height:70px;}
.links { float:left; margin:20px 15px 0 0; font-size:12px;}
.link_up { width:160px; text-align:right;}
#search_box {
    margin-top:10px;
    width: 160px;
    height: 20px;
    background:url(images/search.png) no-repeat left top;
}
#search_box #s {
    float: left;
    padding: 0;
    margin: 2px 0 0 10px;
    border: 0;
    width: 120px;
    background: none;
    height:17px;
    color:#968985;
}
#search_box #go {
    float: right;
    margin: 0;
    width:24px;
    height:20px;
}
.menu { background:#edeef0; height:40px;}
.menu_m { height:40px; width:978px; margin:0 auto;}
.nav { margin:0px; padding:0px; height:40px;}
.nav ul{list-style:none; margin:0px; padding:0px 2px;}
.nav li{float:left; padding:0px; margin:0px; line-height:40px; background:url(images/menu_r.png) no-repeat right center;font-family:"微软雅黑";font-size:16px; letter-spacing:2px; text-shadow: -2px -2px -2px #0D0D0D, 0px 0px 5px #aaa;}
.nav a{display:block;text-align:center;height:40px; line-height:40px; width:180px;font-family:"微软雅黑";font-size:16px; letter-spacing:2px; text-shadow: -2px -2px -2px #0D0D0D, 0px 0px 5px #aaa;}
.nav a:link{color:#434242;font-family:"微软雅黑"; font-size:16px; letter-spacing:2px; text-shadow: -2px -2px -2px #0D0D0D, 0px 0px 5px #aaa;}
/*.nav a:visited{color:#0072b7; background:url(images/menu_icon.png) no-repeat bottom center;}*/
.nav a:hover{color:#0072b7; background:url(images/menu_icon.png) no-repeat bottom center;}
.menu_line_bg { background:url(images/m_l_bg.png) repeat-x left bottom; height:3px;}
.menu_line {background:url(images/menu_sp.png) no-repeat bottom left; height:3px;}

.banner { width:100%; height:370px;}
.trends { background:#f3f4f5; padding:20px 0; margin-bottom:15px;}
.trends_m { width:978px; margin:0 auto;}
.trends_t { height:21px; padding-bottom:15px;}
.title01 { float:left; padding-left:7px;}
.more01 { float:right; height:13px; padding-top:8px; padding-right:10px;}
.trends_con { padding-bottom:10px;}
.trends_list { float:left; background:#ffffff; width:31%;-webkit-box-shadow: #e3e4e4 0px 0px 10px;-moz-box-shadow: #e3e4e4 0px 0px 10px;box-shadow: #e3e4e4 0px 0px 10px; margin-right:15px; padding:5px;}
.trends_list2 { float:left; background:#ffffff; width:31%;-webkit-box-shadow: #e3e4e4 0px 0px 10px;-moz-box-shadow: #e3e4e4 0px 0px 10px;box-shadow: #e3e4e4 0px 0px 10px; padding:5px;}
.trends_main { padding:20px 20px 5px 20px;}
.trends_main_t { margin-bottom:15px;}
.trends_main_text p { line-height:25px; letter-spacing:0.5px;}
.more02 { margin-left:20px; float:left;}
.icon01 { float:right; background:url(images/icon01.png) no-repeat right bottom; height:14px; width:16px; margin-top:5px;}
.main { width:978px; margin:0 auto; padding:0 0 20px 0;}
.news { float:left; width:643px;}
.news_t { height:25px; background:url(images/line01.png) no-repeat left bottom; padding-bottom:3px;}
.title02 { float:left; padding-left:10px;}
.news_m { padding:20px 0 10px 0;}
.news_m_pic { width:215px; height:164px; float:left;}
.news_m_c { float:right; padding:0 10px 10px 10px; width:400px;}
.news_time { font-size:14px; height:35px; line-height:35px; color:#898d9f;}
.news_text p { text-indent:28px; line-height:25px; font-size:14px; letter-spacing:1px;}
.news_list { height:35px; border-bottom:#e9e9e9 1px solid; line-height:35px;}
.news_list_l { float:left; font-size:14px;}
.news_list_r { float:right; color:#898d9f;}
.main_r { float:right;width:320px;}
.company { width:314px; padding-top:8px; padding-left:7px; height:270px; background:url(images/company_bg.png) no-repeat left top;}
.company_text { padding:5px 20px 5px 8px;}
.company_text p { font-size:14px; line-height:20px;}
.contact { width:320px; height:90px;}
.foot { color:#ffffff;}
.foot a:link,.foot a:visited {color:#ffffff;text-decoration:none;}
.foot a:hover,.foot a:active {color:#ffffff;text-decoration:underline;}
.foot_up { height:175px; background:#2667b2;}
.foot_up_m { width:978px; margin:0 auto; padding:15px 0;}
.foot_link { color:#ffffff; float:left;}
.foot_link ul { font-size:16px; padding:0px; line-height:30px; margin:0px;}
.foot_link ul li { font-size:14px; line-height:32px; text-indent:4px;}
.line02 { float:left; background:url(images/line02.png) no-repeat center top; width:232px; height:136px; margin-top:15px;}
.foot_b { height:53px; background:#1858a1;}
.foot_b_m { width:978px; margin:0 auto; height:53px; line-height:53px; font-size:12px;}
.foot_fl { float:left;}
.foot_fr { float:right;}



.menu_line_bg2 { background:url(images/m_l_bg.png) repeat-x left bottom; height:3px;}
.menu_line2 {background:url(images/menu_sp.png) no-repeat bottom left; height:3px;}
.top { background:url(images/about_bg.png) no-repeat center top; width:100%; height:88px; padding-top:156px;}
.about_menu { width:968px; height:88px; margin:0 auto; background:url(images/about_menu_bg.png) no-repeat left top;}
.about_p { float:left; margin-left:580px; width:96px; height:88px;}
.about_y { float:left; width:97px; height:88px;}
.about_o { float:left; width:97px; height:88px;}
.about_i { float:left; width:98px; height:88px;}
.about { background:#fafafa; padding:25px 0;}
.about_m { width:978px; margin:0 auto;}
.about_t { height:21px; padding-bottom:20px;}
.title03 { float:left; padding-left:30px;}
.here01 { float:right; padding-top:8px; color:#b6b6b6; padding-right:10px;}
.here01 a:link,.here01 a:visited {color:#b6b6b6;text-decoration:none;}
.here01 a:hover,.here01 a:active {color:#64bce9;text-decoration:none;}
.about_con { padding:0 0 0 20px;}
.td01 { font-size:20px; font-weight:bold; color:#0d6bb0; letter-spacing:2px;}
.about_con p { text-indent:24px; line-height:25px; letter-spacing:1px;}
.cul_top { width:785px; margin:0 auto; padding-top:30px;}
.cul_td01 { color:#4573a1; text-align:center; line-height:22px;}
.cul_main { width:770px; margin:0 auto; padding-top:30PX; padding-left:15px;}
.cul_main h3 { color:#21588f; padding:10px 0;}
.cul_main p { text-indent:0px;}

.tb_side { right:80px; bottom:260px; position:absolute; width:60px; height:210px; z-index:100000;}
.tb_side ul li { list-style:none;}
.tb_side li { height:70px; line-height:70px;}
.tbs01 a:link,.tbs01 a:visited {}
.tbs01 a:hover,.tbs01 a:active { background:url(images/icon022.png) no-repeat left top; height:70px;}




.top2 { background:url(images/news_bg.png) no-repeat center top; width:100%; height:87px; padding-top:164px;}
.news_menu { width:966px; height:87px; margin:0 auto; background:url(images/news_menu_bg.png) no-repeat left top;}
.news_n { float:left; margin-left:771px; width:97px; height:87px;}
.news_e { float:left; width:98px; height:87px;}
.news_p { float:left; width:97px; height:87px;}
.news_main { background:#fafafa; width:100%;}
.news_mm { width:964px; margin:0 auto; border:#ccc 1px solid; border-top:none; border-bottom:none;}
.news_mt { height:21px; padding:20px 0;}
.news_mcon {  border-top:#ccc 1px solid; margin:0 15px; padding:30px 0; }
.news_list01 { padding:20px; border:#ccc 1px solid; margin-bottom:20px;}
.nl_pic { float:left; width:271px; height:206px; position:relative;}
.news_icon01 { position:absolute; left:18px; top:1px; width:70px; height:80px; background:url(images/news_icon.png) no-repeat left top;}
.news_td01 { height:40px; line-height:40px; text-align:center; font-size:40px; font-weight:bold; color:#fff;}
.news_td02 { height:30px; line-height:30px; text-align:center; color:#fff; font-weight:bold;}
.news_icon02 { position:absolute; left:98px; top:70px; width:58px; height:58px;}
.nl_main { float:left; margin-left:30px; padding:10px 0; width:590px;}
.nl_title { height:25px; margin-bottom:20px; line-height:25px; font-size:16px; font-weight:bold; color:#1b73b4; letter-spacing:1px;}
.nl_content { margin-bottom:15px;}
.nl_content p { text-indent:24px; line-height:22px;}
.nl_pic2 { float:left; width:78px; height:84px; background:url(images/news_pic03.png) no-repeat left top;}
.news_td03 { height:50px; line-height:50px; text-align:center; font-size:40px; font-weight:bold; color:#0d6bb0;}
.news_td04 { height:34px; line-height:34px; text-align:center; color:#fff; font-size:14px;}
.nl_main2 { float:left; margin-left:30px; padding:10px 0; width:780px;}
.nl_title2 { height:25px; margin-bottom:5px; line-height:25px; font-size:16px; font-weight:bold; color:#1b73b4; letter-spacing:1px;}
.nl_content2 p { text-indent:24px; line-height:22px;}
.talent_t01 { height:18px; margin-bottom:40px;}
.talent_pic01 { text-align:center; height:458px; margin-bottom:40px;}
.talent_t02 { height:18px; margin-bottom:20px;}
.talent_text { width:836px; margin:0 auto;}
.talent_text h3 { color:#21588f; padding:10px 0;}
.talent_text p { text-indent:0px; line-height:25px;}



.page2 { float:right;}
.paginator2 { text-align:center; white-space:nowrap; font-size:12px;}
.paginator2 li { margin:0px 1px; display:inline; vertical-align:middle;}
.paginator2 li.current { line-height:22px; height:22px;  padding:0px 6px; DISPLAY: inline-block; color:#e46c0a;}
.paginator2 li a { border:#bbb 1px solid;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; position:relative; padding:0px 6px; line-height:22px; DISPLAY: inline-block; height:22px; text-decoration:none;}
.paginator2 li a:hover { border-style:none; padding:0 7px; line-height:22px; background:#e46c0a; height:22px; color:#fff; text-decoration:none;}
.paginator2 li a.nolink { color:#ccc; cursor:default}
.paginator2 li a.nolink:hover { border:#ccc 1px solid; padding:0 6px; line-height:22px; background:none transparent scroll repeat 0% 0%; height:22px;}

.elect_list { padding:10px 25px; border:#ccc 1px solid; margin-bottom:20px;}
.elect_pic { float:left; padding:0 20px;}
.elect_pic_m { width:150px; height:235px; padding:10px 15px; background:#fff; -webkit-box-shadow: #a3a2a0 0px 0px 10px;-moz-box-shadow: #a3a2a0 0px 0px 10px;box-shadow: #a3a2a0 0px 0px 10px; }
.epp { width:150px; height:203px;}
.ept { width:150px; height:22px; line-height:32px; text-align:center;}


.top3 { background:url(images/res_bg.png) no-repeat center top; width:100%; height:87px; padding-top:164px;}
.res_menu { width:968px; height:87px; margin:0 auto; background:url(images/res_menu_bg.png) no-repeat left top;}
.res_t { float:left; margin-left:675px; width:97px; height:87px;}
.res_v { float:left; width:98px; height:87px;}
.res_j { float:left; width:97px; height:87px;}
.tal_pic { background:#ebebeb; padding:10px;}
.jobs_up { background:#1858a1; padding:20px; font-size:14px; line-height:25px; letter-spacing:1px; color:#fff; margin-bottom:30px;}
.jobs_m { margin-bottom:20px; border-top:#ccc 1px solid; border-left:#ccc 1px solid; width:935px;}
.jobs_list_t { height:40px; border-bottom:#ccc 1px solid;}
.jlt_td { float:left; width:186px; height:40px; line-height:40px; text-align:center; font-size:16px; font-weight:bold; border-right:#ccc 1px solid;}
.jobs_list { height:40px; border-bottom:#ccc 1px solid;}
.jl_td { float:left; width:186px; height:40px; line-height:40px; text-align:center; font-size:14px;  border-right:#ccc 1px solid;}
.jl_td a:link,.jl_td a:visited {color:#00a0eb;text-decoration:none;}
.jl_td a:hover,.jl_td a:active {color:#00a0eb;text-decoration:underline;}


.paginator { text-align:center; white-space:nowrap; font-size:12px;}
.paginator li { margin:0px 1px; display:inline; vertical-align:middle;}
.paginator li.current { line-height:22px; height:22px; border:#bbb 1px solid; padding:0px 6px; DISPLAY: inline-block; background:#015198; color:#fff;}
.paginator li a { border:#bbb 1px solid; position:relative; padding:0px 6px; line-height:22px; DISPLAY: inline-block; height:22px; text-decoration:none;}
.paginator li a:hover { border-style:none; padding:0 7px; line-height:24px; background:#015198; height:24px; color:#fff; text-decoration:none;}
.paginator li a.nolink { color:#ccc; cursor:default}
.paginator li a.nolink:hover { border:#ccc 1px solid; padding:0 6px; line-height:22px; background:none transparent scroll repeat 0% 0%; height:22px;}



.vol_main { background:#fff; padding:10px 0;}
.vol_main td { padding-left:20px; height:30px; line-height:30px;}
.vol_main input { height:22px;}
.photo { width:110px; height:115px; background:#d8d8d8; border:#b3b2b2 1px solid; margin-bottom:10px;}
.photo_up { height:20px; padding-left:20px;}

.top4 { background:url(images/contact_bg.png) no-repeat center top; width:100%; height:87px; padding-top:155px;}
.contact_menu { width:966px; height:87px; margin:0 auto; background:url(images/contact_menu_bg.png) no-repeat left top;}
.contact_up { background:url(images/contact_pic01.png) no-repeat 30px 10px #fff; border:#ccc 1px solid; height:120px; padding:20px 20px 10px 200px;  margin-bottom:20px;}
.con_t { font-size:20px; font-weight:bold; color:#1770ba; letter-spacing:2px; padding-left:10px;}
