
.m-playbar {
    height: 53px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

.wrap.travelo-box{
	padding: 5px 0;
	margin-bottom:10px;
}
.m-playbar .wrap {
    height: 57px;
    width: 100%;
    z-index: 15;
}



.m-playbar .head {
    margin: 6px 15px 0 0;
    position: relative;
}

.m-playbar .head, .m-playbar .head img {
    height: 34px;
    width: 34px;
}

.m-playbar .head .mask {
  background-position: 0 -80px;
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.m-playbar .updn .left, .m-playbar .updn .right, .m-playbar .updn .btn, .m-playbar .bg, .m-playbar .btns a, .m-playbar .head .mask, .m-playbar .icn, .m-playbar .ctrl, .m-playbar .tip, .m-vol .curr, .m-playbar .words .mv, .m-vol .barbg, .m-playbar .words .src {
  background: rgba(0, 0, 0, 0) url("./images/playbar.png?171811d7989ded5484df41bd06a39ecc") no-repeat scroll 0 9999px;
}

.m-playbar .btns {
    padding: 6px 0 0 6px;
    width: 140px;
    float:left;
}
.m-playbar .btns a {
    display: block;
    float: left;
    height: 28px;
    margin-right: 8px;
    margin-top: 5px;
    text-indent: -9999px;
    width: 28px;
}

.m-playbar .btns .prv {
    background-position: 0 -130px;
}

.m-playbar .btns .prv:hover {
    background-position: -30px -130px;
}
.m-playbar .btns .nxt {
    background-position: -80px -130px;
}

.m-playbar .btns .nxt:hover {
    background-position: -110px -130px;
}
.m-playbar .play {
	float:left;
  position: relative;
  width: 165px;
}

.m-playbar .btns .ply {
    background-position: 0 -204px;
    height: 36px;
    margin-top: 0;
    width: 36px;
}

.m-playbar .btns .ply:hover {
    background-position: -40px -204px;
}

.m-playbar .btns .pas {
  background-position: 0 -165px;
}

.m-playbar .btns .pas:hover {
  background-position: -40px -165px;
}

.m-playbar .words {
    color: #e8e8e8;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-shadow: 0 1px 0 #171717;
}

.m-pbar, .m-pbar .barbg {
    width: 155px;
}
.m-pbar {
    position: relative;
}

.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy, .m-pbar .left {
    background: rgba(0, 0, 0, 0) url("./images/statbar.png?53f1fb85ba635208e2baff52d520f759") no-repeat scroll 0 9999px;
}

.m-pbar .btn, .m-vol .btn {
    background: rgba(0, 0, 0, 0) url("./images/iconall.png?365e82251fc60c22b670e8bd68098a36") no-repeat scroll 0 0;
}
.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy {
	border-radius: 2px;
    background-position: right 0;
    height: 9px;
}
.m-pbar, .m-pbar .barbg {
    width: 155px;
}

.m-pbar .rdy {
    background-position: right -30px;
}

.m-pbar .cur {
  background-position: left -66px;
  position: absolute;
  top: 0;
  width: 1%;
}

.m-pbar .btn {
    background-position: 0 -250px;
    height: 24px;
    margin-left: -11px;
    position: absolute;
    right:-13px;
    top: -8px;
    width: 22px;
}


.play .time {
    color: #797979;
    position: absolute;
    text-shadow: 0 1px 0 #121212;
    top: 3px;
    left:30px;
}



/**右侧按钮部分***/
.m-playbar .ctrl {
  	float:left;
    padding-left: 13px;
    position: relative;
    width: 70px;
     z-index:9999;
}

.m-playbar .icn {
    float: left;
    height: 25px;
    margin: 11px 2px 0 0;
    text-indent: -9999px;
    width: 25px;
}

.m-playbar .icn-vol {
    background-position: -2px -248px;
}

.m-playbar .icn-vol:hover {
    background-position: -31px -248px;
}

.m-playbar .icn-shuffle {
    background-position: -66px -248px;
}
.m-playbar .icn-loop {
    background-position: -3px -344px;
}


/**声音控制**/
.m-vol {
    clear: both;
    height: 32px;
    right: 0;
    position: absolute;
    top: -32px;
    width: 113px;
}

.m-vol .barbg {
  background:rgba(0,0,0,0.4);
  height: 32px;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 113px;
}

.m-vol .vbg, .m-vol .curr {
  height: 4px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 93px;
}
.m-vol .vbg {
	background: #dedede;
  	padding: 2px 0;
  	top: 14px;
}

.m-vol .curr {
  background-color: red;
  top: -2px;;
  left: auto;
  position: relative;
}
.m-vol .curr:hover ,.m-vol .vbg:hover{
 cursor:pointer;
}

.m-vol .btn {
  background-position: -40px -250px;
  cursor: pointer;
  display: block;
  height: 20px;
  right: -15px;
  position: absolute;
  top: -8px;
  width: 18px;
 
}

/**重复按钮**/
.m-playbar .icn {
  float: left;
  height: 25px;
  margin: 11px 2px 0 0;
  text-indent: -9999px;
  width: 25px;
}

.m-playbar .icn-loop {
  background-position: -3px -344px;
}
.m-playbar .icn-loop:hover {
  background-position: -33px -344px;
}
.m-playbar .icn-one {
  background-position: -66px -344px;
}
.m-playbar .icn-one:hover {
  background-position: -93px -344px;
}
.m-playbar .icn-shuffle {
  background-position: -66px -248px;
}
.m-playbar .icn-shuffle:hover {
  background-position: -93px -248px;
}

/**歌曲列表页**/

.jp-playlist.travelo-box{
	margin-bottom:0;
	padding: 10px 20px;
	height:230px;
	overflow:hidden;
	overflow-y:auto;
}

.jp-playlist::-webkit-scrollbar {  
	width:8px;  
}

/* 滚动槽 */
  
.jp-playlist::-webkit-scrollbar-track {
	  
	-webkit-box-shadow:inset006pxrgba(182,12,136,0.3);
	  
	border-radius:10px;
  
}
  
/* 滚动条滑块 */
  
.jp-playlist::-webkit-scrollbar-thumb {
  
	border-radius:10px;
	  
	background:rgba(255,0,120,0.8);
	  
	-webkit-box-shadow:inset006pxrgba(255,0,120,0.8);
  
}
  
.jp-playlist::-webkit-scrollbar-thumb:window-inactive {
  
	background:rgba(255,0,0,0.4);
  
}

.jp-playlist li {
	margin-bottom:5px;
	padding: 5px 40px 5px 0 ;
	position: relative;
	
}

.jp-playlist li a.jp-playlist-item{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	
}

.jp-playlist li.jp-playlist-current a.jp-playlist-item {
	
	color:#ff0078;
}

.jp-playlist .jp-playlist-item-remove{
	position: absolute;
	padding: 3px 10px;
	font-size:20px;
	font-weight:700;
	top:0;
	right:0;
	display:none !important;
}

.jp-playlist li:hover .jp-playlist-item-remove{
	display:block !important;		
}