/*input[type=checkbox].normal{position: relative;opacity: initial;left: 0;margin: 0;}*/
.error{color:red;}
.bookbox{
	margin-bottom: 10px;
    overflow: hidden;}
.bookbox img{width: 100%;height: auto;}

.filelist{height: 40px;line-height: 40px;margin-bottom: 5px;border-bottom: 1px solid #eee;}
.filelist .btn{font-size:13px;margin-left: 50px;position: relative;top: 5px;}
.mar-bot-10{margin-bottom: 10px;}
@media(max-width: 500px){
	
}