<!--{hook t_bottom_box}-->
<div id="footer">

	<span class="beian">HYBBS © 2016. All Rights Reserved.</span>
	<a href="{#WWW}">{$conf.logo}</a>
	<br>
	<span class="beian" style="margin-left:0">
	Powered by </span><a href="http://bbs.hyphp.cn/">HYBBS</a>
	<span class="beian" style="margin-left:0">
	Runtime:<?php echo number_format(microtime(1) - $GLOBALS['START_TIME'], 4); ?>s
	</span>
	<span class="beian" style="margin-left:0">
	Mem:<?php echo round((memory_get_usage() - $GLOBALS['START_MEMORY'])/1024); ?>Kb
	</span>
	<span class="beian" style="margin-left:0">{$_LANG['程序版本']} {#HYBBS_V}</span>
	

</div>
{include hy_friend::index}


</body>
</html>
