<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, user-scalable=yes" />
	<title>{$title}{$conf.title2}</title>
	<meta name="keywords" content="{$conf.keywords}">
	<meta name="description" content="{$conf.description}">
	<link rel="shortcut icon" href="{#WWW}favicon.ico">
	<link rel="stylesheet" href="{#WWW}View/hy_boss/css/app.css?var={#HYBBS_V}"><!-- 
	<link rel="stylesheet" href="{#WWW}View/hy_boss/css/remodal.css">
	<link rel="stylesheet" href="{#WWW}View/hy_boss/css/remodal-default-theme.css"> -->
	<script>
	var www = "{#WWW}";
	var exp = "{#EXP}";
	</script>
	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="{#WWW}public/js/jquery.min.js"></script>
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
	<script src="{#WWW}public/js/jquery1.11.3.min.js"></script>
	<![endif]-->
	<script src="{#WWW}View/hy_boss/js/jquery.darktooltip.js"></script>
	<script src="{#WWW}public/js/app.js?var={#HYBBS_V}"></script>
	<link href="{#WWW}public/css/alert.css?var={#HYBBS_V}" rel="stylesheet">
	<script src="{#WWW}View/hy_boss/js/app.js?var={#HYBBS_V}"></script>
	{if IS_LOGIN}
	<!-- 好友系统资源文件 -->
	<link href="{#WWW}public/css/friend.css?var={#HYBBS_V}" rel="stylesheet">
	<script src="{#WWW}public/js/friend.js?var={#HYBBS_V}"></script>
	{/if}
	<!--{hook t_header}-->
	{if IS_LOGIN}
	<script>
	$(document).ready( function(){
		$(".menu-box").click(function(){
			$(".friend-box").toggleClass('friend-box-a');
		});
	});
	</script>
	{/if}
	<style type="text/css">
	{if view_form('hy_boss','width')}
		.container{
			width:{php echo view_form('hy_boss','width')};
		}
	{/if}
	{if view_form('hy_boss','css')}
		{php echo view_form('hy_boss','css')}
	{/if}
	</style>
</head>
<body>

<div class="navbar select-disabled shadow" {if view_form('hy_boss','menu_fix')}style="position: fixed;width: 100%;z-index:1000"{/if}>
	<div class="container clearfix">
		<div class="menu horizontal pull-left nav-menu">
			<a href="{#WWW}">{$conf.logo}</a>
			<!--{hook t_header_1}-->
			
			{if view_form('hy_boss','menu_forum')}
				{foreach $forum as $v}
					<a href="{php echo WWW.URL('forum','',EXP.$v['id'])}">{$v.name}</a>
				{/foreach}
				<a href="{php echo WWW.URL('forum','')}">{$_LANG['全部板块']}</a>
			{/if}

			
			{if view_form('hy_boss','diy_link')}
				{php $tmp = explode("\r\n",view_form('hy_boss','diy_link'))}
				
				{foreach $tmp as $v}
					{php $tmp1 = explode(",",$v)}
					<a href="{$tmp1[0]}"  {if $tmp1[2]==1}target="_blank"{/if}>{$tmp1[1]}</a>
					
				{/foreach}
			{/if}

		</div>
		
		<!--{hook t_header_2}-->
		<div class="menu horizontal nav-account">
			<!--{hook t_header_3}-->
			
			{if view_form('hy_boss','max')}
			<a href="#" id="setWidth" class="icon-enlarge2"> {$_LANG['宽屏']}</a>
			{/if}
		{if !IS_LOGIN}
			<a href="{#WWW}user{#EXP}add" class="js-popup-register">{$_LANG['注册']}</a>
			<a href="{#WWW}user{#EXP}login" class="js-popup-login">{$_LANG['登录']}</a>
		{else}
			<a href="javascript:void(0);" pos="left" class="menu-box" pos="bottom"><img style="border-radius:50%;vertical-align: middle;" width="40" height="40" src="{#WWW}{$user.avatar.b}">
			
			<span class="xx " style="{if !$user['mess']}display:none{/if}">{$user.mess}</span>
			
			</a>
		{/if}
			<!--{hook t_header_4}-->
		</div>
	</div>
</div>
{if view_form('hy_boss','menu_fix')}<div style="height:84px"></div>{/if}
<!--{hook t_top_box}-->
