{include h}
<div class="container">
	<div id="main">
		<!--{hook t_top_left_box}-->
		<!--{hook t_search_index_top_left_box}-->
		<div class="wrap-box t-list">
			<div class="list">
				<!--{hook t_search_index_thread_list_top}-->
				{foreach $data as $v}
				<div class="item">
					<a href="{php echo WWW.URL('my',$v['user']);}" target="_blank">
					<img src="{#WWW}{$v.avatar.b}" width="50" height="50" uid="{$v.uid}" class="circle pull-left js-info">
					</a>
					<div class="middle text">
						<h4 class="title">
						<a style="color: #09c;" href="<?php echo WWW.URL('forum','',EXP.$v['fid']); ?>">[ {php echo forum($forum,$v['fid'],'name');} ]</a> <a  href="{php echo WWW.URL('thread','',EXP.$v['id']);}" >{$v.title}</a>
						</h4>
						<div class="meta">
							<a href="{php echo WWW.URL('my',$v['user']);}" class="author" target="_blank">{$v.user}</a>·&nbsp;&nbsp;{$_LANG['发表于']} {php echo humandate($v['atime']);}&nbsp;&nbsp;{if isset($v['buser'])}·&nbsp;&nbsp;{$v.buser}&nbsp;&nbsp;·&nbsp;&nbsp;{$_LANG['最后回复']} {php echo humandate($v['btime']);}{/if}
						</div>
					</div>
					{if $v['posts']}
					<a href="{php echo WWW.URL('thread','',EXP.$v['id']);}" class="comment" ><span class="badge {if ($v['btime']+1800) > NOW_TIME}badge-success{/if}">{$v.posts}</span></a>
					{/if}
				</div>
				{/foreach}
				<!--{hook t_search_index_thread_list_bottom}-->
			</div>
		</div>
		<div class="h-20"></div>
		<div class="wrap-box">
			<!--{hook t_search_index_page_top}-->
			<a href="{if $pageid==1}javascript:void(0);{else}{php echo WWW.URL('search',$pageid-1);}?key={$key}{/if}"  class="btn bg-primary {if $pageid==1}disabled{/if}" >{$_LANG['上一页']}</a>
			<a  href="{if count($data)!=$conf['searchlist']}javascript:void(0);{else}{php echo WWW.URL('search',$pageid+1);}?key={$key}{/if}" class="btn bg-primary large pull-right {if count($data)!=$conf['searchlist']}disabled{/if}" >{$_LANG['下一页']}</a>
			<!--{hook t_search_index_page_bottom}-->
		</div>
	</div>
	{include r_m}
</div>

{include f}
