@font-face{
	font-family: 'Cover-By-Your-Grace';
	src: url('../font/CoverByYourGrace.ttf') format('truetype');
}
body{
	font-family: 'Cover-By-Your-Grace','Microsoft Yahei';
	margin:0px;
}
.printemps-background{
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);    
	filter: blur(10px); 
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
}
.printemps-img{
	background-image: url('../img/printemps.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.printemps{
	color:#fff;
	font-size:66px;
	padding-top:5%;
	text-align: center;
	width: 100%;
}
.printemps-body{
	position: relative;
	width: 100%;
	height:100%;
}
.printemps-description{
	color:#fff;
	font-size: 20px;
	margin-top:2%;
	width: 100%;
	text-align: center;
}
.printemps-menu{
	width: 100%;
	font-family: Microsoft Yahei Light;
	text-align: center;
	display: none;
	margin-top:10%;
}
.printemps-menu a{
	text-decoration: none;
	color:#000;
	margin:0 3%;
	font-size:24px;
	padding:6px;
	border-bottom:2px dashed #000;
}
.printemps-coming-soon{
	font-family: Comic sans ms;
	color:#fff;
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	font-size:24px;
}
.printemps-copyright{
	font-family: Microsoft Yahei;
	position: absolute;
	bottom: 6%;
	width: 100%;
	text-align: center;
	color:#fff;
}