#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{margin-left:-260px;}





#header,#content,#footer{width: 950px;}
#banner{ width:978px;}
#header{ height:151px; }


.col-extra{ display:none;}
.mhd button{ color:#fff;}
.contact_con dt{color:#5a5a5a;}
.menu span{ padding-right:75px;}
.col-sub .mbd{background:url("images/mbd_bg.png") repeat-y;  color:#5a5a5a; }

/*body*/
body{color:#555555;background:#F8F8F8;}
.tbbd{color:#555555;background:#F8F8F8;}
.cwrap{ background:url(" images/cwrapbg.png") #f8f8f8 repeat-x; padding-bottom:30px; padding-top:5px;}
.hwrap{background:url("images/bg.png") repeat-x;}
.prodt .mbd li{ margin:20px 29px 0 12px}
a:link,a:visited{color:#5a5a5a;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #acadb1 solid;border-left:1px #e3e6ed solid;border-right:1px #e3e6ed solid;border-bottom:1px #e3e6ed solid;}
.job_con table,.guest table {border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;}
.job_con td,.guest td{background:#f8f8f8;border-bottom:1px solid #d4d4d4;}
.job_con th,.guest th{background:#ededed;border-bottom: 1px solid #d4d4d4;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px; height:108px; line-height:108px;color: #76756f;}
#header h1 img{ margin-top:30px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a:link,.menu span a:visited{ color:#8a0b0a; }

.nav{height:31px;  line-height:31px;}
.nav li a{font-weight:bolder;width:100px;text-align:center;}
.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;background:#393939;border-bottom:1px #fff solid;width:100px; display:none;}
.navlist ul li a{font-weight:normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#000;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}
.nav li.active ul a:hover{background:none;}
#banner{  background:url("images/bannerTop_bg.png") no-repeat top; padding-top:15px; }
.bwrap{ background:url("images/bannerMain_bg.png") repeat-y; width:978px; margin-left:auto; margin-right:auto;}

#banner .slider,#banner .singPic{background:url("images/bannerBottom_bg.png") no-repeat bottom; padding-bottom:16px; width:964px; padding-left:14px;}
.slidernav{ bottom:18px;}
.layout { padding-top:40px;}
/*content*/

.col-main .mbox{padding:2px 0px 1px;}

.col-sub .mbg{background:#272727;}
.mhd{background:url("images/mhd_bg.png")  no-repeat 0 top; height:45px; margin-top:9px; line-height:38px;}
.mhd h3{color:#fff;padding-left:20px; background:url("images/sico01.png") no-repeat  15px  ; }
.n_ico .mhd h3{ background:url("images/n_ico.png") no-repeat  10px ;}

.col-sub .mhd h3{color:#5d6062;padding-left:35px; line-height:45px;  }
.col-sub .mbd span a{ color:#8a8a8a;}


.col-main .mhd{background:url("images/col-main_mhb_bg.png") repeat-x; height:38px; border:1px solid #e6e6e6; margin-top:9px;}

.col-main .mhd h3{width:200px; color:#232323; line-height:38px; padding-left:35px;  }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:5px;}

.feedback a{width:260px;background:url("images/feedback.png") no-repeat; margin-top:13px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #ccc dotted;}
.news li span,.seabox li span{color:#5a5a5a;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#fff;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#8a0b0a;}
.down_list .mbd li h2{border-bottom:1px #b3b3b3 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px; color:#5a5a5a;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/col-sub_mbd_bg.png") no-repeat; color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#801818;color:#fff;border:1px #ccc solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#fff;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#555;width:58px;height:23px;}
.inputSubmit_reset{color:#997457;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#808080;}
.fwrap{background:url("images/footerbg.png") repeat-x; height:85px;}
#footer {color: #808080; }
#footer p{padding-top: 10px;}
#footer a:link, #footer a:visited {color: #808080;}
#footer a:hover {color: #C70906;}
#footer .support a:link, #footer .support a:visited{color: #808080;}
