</div>
<div id="footer">

	<div style="height: 35px; padding: 8px;">
		<div style="width: 40%; float: left;">
			$conf[app_copyright]<br />
			Powered by  <a href="http://www.xiuno.com" target="_blank" class="grey">Xiuno BBS <b>$conf[version]</b></a>
		</div>
		<div style="width: 60%; float: right; text-align: right;">
			$conf[china_icp]<br />
			$_SERVER[time_fmt], 耗时:<!--{php echo number_format(microtime(1) - $_SERVER['starttime'], 4);}-->s
		</div>
	</div>

	<!--{include footer_debug.htm}-->
</div>

<!--{if DEBUG}-->
<script src="$bbsconf[static_url]view/js/jquery-1.4.full.js" type="text/javascript" ></script>
<!--{else}-->
<script src="$bbsconf[static_url]view/js/jquery-1.4.min.js" type="text/javascript" ></script>
<!--{/if}-->

<script src="$bbsconf[static_url]view/js/dialog.js" type="text/javascript"></script>
<script src="$bbsconf[static_url]view/js/common.js" type="text/javascript"></script>

<script type="text/javascript">

$('a.ajaxdialog, input.ajaxdialog').die('click').live('click', ajaxdialog_click);
$('a.ajaxtoggle').die('click').live('click', ajaxtoggle_event);

$('div.list .table tr:odd').not('tr.header').addClass('odd');	/* 奇数行的背景色 */
$('div.list .table tr:last').addClass('last');	/* 奇数行的背景色 */


</script>