<!--{include header.htm}-->

<div class="width">
	
	<div class="right">
		<div style="margin-bottom: 8px;">
			<select name="fid" id="modfid">
				$forumoptions
			</select>
		</div>
		<div class="div">
			<div class="header">版块设置</div>
			<div class="body">
				<form action="?mod-setforum-fid-$fid.htm" method="post" id="mod_setforum">
					<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
					
					<div class="body" style="width: 600px;">
						<dl>
							<dt><label for="fid">版块：</label></dt>
							<dd>$forum[name] <span class="small">(fid = $forum[fid])</small></dd>
							
							<dt><label for="brief">版块介绍：</label></dt>
							<dd><textarea name="brief" id="brief" style="width: 400px; height: 120px; margin-top: 4px;">$forum[brief]</textarea><span class="grey"><br />(最多200个字符，纯文字)</span></dd>
							
							<dt></dt>
							<dd>
								<input type="submit" class="button bigblue" id="mod_setforum_submit" value="修改版块设置" />
								<input type="button" class="button biggrey" value="取消" onclick="history.back()" />
								<div class="notice" id="notice" style="display: none;"></div>
							</dd>
						</dl>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	

<!--{include footer.htm}-->

<script type="text/javascript">
$('#mod_setforum_submit').click(function() {
	$('#mod_setforum').submit();
	return false;
});

$('#modfid').change(function() {
	var fid = $(this).attr('value');
	window.location = '?mod-setforum-fid-'+fid+'.htm';
});

<!--{loop $error $k $v}-->
<!--{if $v}-->
	$('#$k').alert('$v').focus();
<!--{/if}-->
<!--{/loop}-->

<!--{if !empty($_POST) && empty($error)}-->
	$('#notice').html('修改成功。').show();
<!--{/if}-->
</script>

</body>
</html>