<!--{include header.htm}-->

<div class="width">
	<div class="div" style="width: 600px;">
		<div class="header">
			用户资料：$user[username]
			<input type="button" value=" 编辑 " class="button smallblue" onclick="window.location='?user-update-uid-$user[uid].htm'" />
		</div>
		<div class="body">
			<dl>
				<dt><label for="email">Email：</label></dt>
				<dd>$user[email]</dd>
				
				<dt><label for="username">用户名：</label></dt>
				<dd>$user[username]</dd>
				
				<dt><label for="groupid">用户组：</label></dt>
				<dd>$user[groupid]</dd>
				
				<dt><label for="threads">主题数：</label></dt>
				<dd>$user[threads]</dd>
				
				<dt><label for="posts">回帖数：</label></dt>
				<dd>$user[posts]</dd>
				
				<dt><label for="credits">总积分：</label></dt>
				<dd>$user[credits]</dd>
				
				<dt><label for="golds">金币：</label></dt>
				<dd>$user[golds]</dd>
			</dl>	
		</div>
	</div>
	<p style="text-align: center; margin-top: 16px; margin-bottom: 16px;"><input type="button" value=" 返回 " class="button bigblue" onclick="history.back()" /></p>

</div>
<!--{include footer.htm}-->

</body>
</html>