
    <div class="dux-box">

        <div class="box-side">
            <div class="uk-card uk-card-small uk-card-default dux-panel">
                <ul class="dux-menu">
                    <li><a href="{url('index')}">基本设置</a></li>
                    <li><a href="{url('apply')}">申请设置</a></li>
                    <li class="active"><a href="{url('level')}">升级设置</a></li>
                    <li><a href="{url('qrcode')}">二维码设置</a></li>
                    <li><a href="{url('notice')}">消息设置</a></li>
                </ul>
            </div>
        </div>
        <div class="box-body">
            <div class="uk-card uk-card-small uk-card-default dux-panel">
                <div class="uk-card-header">升级设置</div>
                <div class="uk-card-body">
                    <form class="dux-form uk-form  uk-form-horizontal" method="post" action="{url()}"
                          data-dux="form-bind">
                        <fieldset>
                            <div class="uk-form-group">
                                <label class="uk-form-label">升级条件</label>
                                <div class="uk-form-controls">
                                    <select name="sale_level">
                                        <option value="1" {$info.level_type == 1 ? 'selected' : ''}>推广订单总额</option>
                                        <option value="2" {$info.level_type == 2 ? 'selected' : ''}>推广订单总数</option>
                                        <option value="3" {$info.level_type == 3 ? 'selected' : ''}>直属推广订单金额</option>
                                        <option value="4" {$info.level_type == 4 ? 'selected' : ''}>直属推广订单总数</option>
                                        <option value="5" {$info.level_type == 5 ? 'selected' : ''}>自购订单金额</option>
                                        <option value="6" {$info.level_type == 6 ? 'selected' : ''}>自购订单数量</option>
                                        <option value="7" {$info.level_type == 7 ? 'selected' : ''}>直属下线人数</option>
                                        <option value="8" {$info.level_type == 8 ? 'selected' : ''}>下线总人数</option>
                                    </select>
                                    <div class="uk-form-help">升级设置为推广等级提供升级条件</div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>