<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    {include file='common/require'/}
</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4" style="margin-top: 20%;">

                <form class="layui-form layui-form-pane" action="{:url('post')}" method="POST">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="account" required lay-verify="required" placeholder="请输入用户名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                                autocomplete="off" class="layui-input">
                        </div>
                        
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-label">验证码</div>
                        <div class="layui-input-block">
                            <input type="text" name="captcha" required lay-verify
                             class="layui-input" placeholder="请输入验证码">
                            <div>
                                <img style="width: 100%;" src="{:captcha_src()}" alt="captcha" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        
                            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formDemo">立即登陆</button>
                            
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>