@CHARSET "UTF-8";
body{
	background:#f2f2f2
}
.page-item{
	padding-top:15px;
	font-size:40px;
	color:#169fe6;
	font-weight:700;
}
.page-info{
	height:30px;
	line-height:30px;
	background:#169fe6;
	color:#fff
}
.page-info .left{
	float:left;
	font-size:12px;
	color:#fff;
}
.page-info .left a{
	color:#fff;
}
.page-info .left a:hover{
	color:#fff;
	text-decoration:underline
}
.page-info .right{
	float:right;
}
.page-info .right a{
	color:#fff
}
.content{
	padding-top:25px;
}
.content .con-img{
	float:left;
	margin:0 15px 15px 0;
}
.content .signs{
	overflow:auto;
	margin:10px 0;
}
.content .signs span{
	float:left;
	padding:5px 10px;
	margin-right:10px;
	color:#fff;
	font-size:16px;
	background:#62c0f1;
	border-radius:5px;
	-moz-border-radius:5px;
	vertical-align:top;
}
.content .title{
	color:#1f2932;
	font-size:30px;
}
.content .words{
	min-height:400px;
	font-size:14px;
	color:#666;
	line-height:28px;
}
.new-cases{
	margin-top:40px;
	padding-top:36px;
	background:#d9d9d9;
}
.new-cases .item{
	font-size:40px;
	color:#169fe6;
}
.new-cases .item-en{
	font-size:20px;
	color:#169fe6;
}
.other-empty{
	padding:50px 0 80px;
	text-align:center;
	font-size:20px;
	color:#169fe6;
}
.list{
	padding-top:30px;
	margin-left:-20px;
}
.list ul{
	overflow:hidden;
	*margin-bottom:47px;
}
.list li{
	position:relative;
	float:left;
	margin:0 0 18px 18px;
	width:287px;
	height:283px;
	background:url(../images/li-bt.png) no-repeat center bottom;
}
.list ul:hover li .it-mask{
	opacity:.7;
	filter:alpha(opacity=60);
}
.list .it{
	position:relative;
	overflow:hidden;
	height:280px;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	z-index:1;
}
.list .wx-img{
	overflow:hidden;
	height:200px;
	text-align:center;
}
.list li .wx-img img{
	transition:transform .5s;
	-moz-transition:-moz-transform .5s;
	-webkit-transition:-webkit-transform .5s;
	-o-transition:-o-transform .5s;
}
.list li:hover .wx-img img{
	transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
}
.list .it-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:2;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	-o-transition:opacity .5s;	
}
.list ul li:hover .it-mask{
	opacity:0;
	filter:alpha(opacity=0);
}
.list ul li .pl{	
	display:block;
	position:absolute;
	left:0;
	top:0;	
	width:100%;
	height:100%;
	z-index:3;
}
.list .cat{
	overflow:hidden;
	padding:12px 5px 0;
	height:20px;
	font-size:14px;
	color:#169fe6;
	line-height:20px;
	text-align:center;
	text-overflow:ellipsis
}
.list .name{
	overflow:hidden;
	padding:0 5px;
	font-size:20px;
	color:#1f2932;
	text-align:center;
	font-weight:400;
	text-overflow:ellipsis
}
.buypurl{
	clear:both;
	padding:15px 0 5px;
	font-size:14px;
}
.buypurl a{
	color:#169fe6
}