@charset "utf-8";
body{margin:0;padding:0;font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif; font-size:100%;background-color:#E1EEF6;color:#454545;}
body,p,input,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form{margin:0;padding:0;vertical-align:middle}
ul,li,dl,dt,dd,form{list-style:none;}

h1,h2{font-size:200%;font-weight:bold;margin-bottom:12px}
p{margin:0 0 3px 0}
a{color:#333;text-decoration:none}
a:hover{color: #00478a;}

img{border:0;margin:0;padding:0;vertical-align:middle}
.clear{clear:both; overflow:hidden;}
#VCode{cursor: pointer;}

#body_margins{width:100%; max-width:800px;overflow:hidden;margin:0 auto;min-height:480px!important;height:auto;background-color:#ffffff;}
/*头尾样式*/
#header{
	position:relative;z-index:1000;background:#fff;	
}

.conlist{ width:98%; margin:0 auto;}
.conlist li {margin-bottom: 10px;min-height: 30px;overflow: hidden;}
.li_inputbox {position: relative;min-height:30px;background: #F2F2F2;overflow: hidden;}
.li_input {position: absolute;
top: 0;left: 0;right: 30px;height: 30px;width:100%; font-size:100%;border: 0;
padding: 0 5px;margin-top: 2px;background: transparent;
-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
box-sizing: border-box;outline: 0;-webkit-appearance: none;border-radius: 0;
}

.mainbtn{ display:block;width:50%; height:45px; line-height:45px; margin:5px; text-align:center; font-size:120%;
	background:#0090C5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffeea5), to(#ffe25a)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffeea5, #ffe25a); /* Chrome 10+, Saf5.1+ */
	border:1px solid #f4c63f;
	box-shadow:1px 1px 1px 0 #B5B5B5;text-shadow: 0px 1px 1px #fff;
	padding:0x;margin: 20px auto;color:#000;font-weight:bold;border-radius:6px;	position:relative;
}
.mainbtn:hover{background:#4BBA2B;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe25a), to(#ffeea5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffe25a, #ffeea5); /* Chrome 10+, Saf5.1+ */}

.icon_bg_tel,.icon_bg_swt
{float:left;margin:0 auto;background:url(../images/ico/bg_tel.png) no-repeat right center;width:40px;height:40px;overflow:hidden;}
.icon_bg_swt{background-image:url(../images/ico/bg_book.png)}

.logo{text-align:left;position:relative;top:0;left:0;overflow:hidden;}
.logo img{ width:100%;}

.navBtn{width:100%;	position:relative;z-index: 1000;color:#fff;text-shadow: -1px -1px 0 #444;text-align:center;}
.navBtn .active{color:#FFEA00}
.navBtn .navArea{width:100%;background:#3d93de;
	text-align:left;top:0px;padding:0;line-height:20px;display:table;text-align:center;
}
.navBtn .navArea a{
	color:#fff;	font-size:100%;padding:5px;
	text-shadow: -1px -1px 1px #444;	
	display: table-cell;
	border:1px solid #64b7ff;
	/*background:#f91f42;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3995de), to(#1e77c7)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #3995de, #1e77c7); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #3995de, #1e77c7); /* FF3.6 */
}
.navBtn .navArea a.current,.navBtn .navArea a:hover{
	background:#FFF8DA;
	text-shadow: -1px -1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF8DA), to(#0461bf)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #FFF8DA, #0461bf); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #FFF8DA, #0461bf); /* FF3.6 */	
	color:#066bce;
}

/*圆角*/
.arr-round{
	background:#8bccfd url(../images/icons-arr.png) no-repeat 5px 3px;
	width:18px;	height:18px;position:absolute;right:10px;display:block;border-radius: 9px;
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	top:4px
}
.arr-round{background-position:3px 5px;background-image:url(../images/icons-arr-dn.png)}
.more{float:right}
.box{position:relative;margin:0;padding:2px 0 0;background:#F3EFC5}
.box p{margin:0}
.box .title{
	background:#8bccfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b9f7), to(#8bccfd)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #66b9f7, #8bccfd); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #66b9f7, #8bccfd); /* FF3.6 */
	box-shadow:1px 1px 1px 0 #B5B5B5;text-shadow: 0px 1px 1px #FFFFFF;
	height:30px;line-height:30px;padding:0 10px;color:#0069ce;
	font-weight:bold;border-radius:3px;	margin:0 2px;position:relative;
}
.box dd{padding:0;margin:0}
.box .intro-box{padding:10px}
.box .intro-box h3{margin:0;font-size:100%;}
.box .intro-box img{margin-right:10px;}
.box,.pager-next-pre{background-color:#fff}
.loading{background:url(../images/loading.gif) no-repeat 50% 50%;background-size: 20px auto;}

/*信息列表*/
.info-list li a:active .arr-round,.info-list li .active .arr-round{}
.info-list li{border-bottom:1px dotted #ddd;position:relative;text-shadow: -1px -1px 0 #fffff;}
.info-list li h5{margin:0;font-weight:normal;font-size:100%;}
.info-list li a{display:block;padding:8px 12px;}

.info-list li p{margin:0;height:20px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.info-list li .time{font-size:90%;color:#999;}
.info-list li a:active .time{color:#fff;}


/*专家列表*/
.img-list{padding:10px 0 0 0;width:100%;zoom:1;overflow:hidden;}
.img-list li{width:33%;float:left;display:inline;text-align:center; overflow:hidden;}
.img-list li p{margin:0;padding:0;  clear:both;}
.img-list li span{ color:#000000; font-size:90%; display:block; height:20px; line-height:20px; clear:both; overflow:hidden;}
.img-list li div{width:80%; overflow:hidden; margin:0px auto;}
.img-list li img{width:100%; max-width:300px; border:1px solid #CCCCCC;box-shadow:0px 1px 1px 0 #B5B5B5;}

.contact{line-height:180%}
.pager-next-pre{zoom:1;overflow:hidden;padding:0 0 10px;background:#ffffff}
.theme{font-size:100%;margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #EBEBEB;text-align:center}
.down{ font-size:16px;margin:0 0 0px;padding:0 0 2px;text-align:center}
.ms_time{text-align:center;font-size:90%;color:#999}

.btn-red,.btn-blue{font-size:100%;font-weight:bold;border-radius:3px;border:1px solid #fda8b5;line-height:24px;text-shadow:1px 1px 1px #333;margin-top:4px;}
.btn-red{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefdfd), to(#f5e3da)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fefdfd, #f5e3da); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #fefdfd, #f5e3da); /* FF3.6 */	
	color:#fc606a;text-shadow: -1px -1px 0 #ffffff;	background-color:#ffffff
	}
.btn-blue{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e4e5ff)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #e4e5ff); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #e4e5ff); /* FF3.6 */	
	color:#8085de;text-shadow: -1px -1px 0 #ffffff;	background-color:#ffffff;	border-color:#c1c4ff;
}
.yang_pages {padding:10px 0 5px 0px;text-align:center; margin:0 auto;line-height:18px;clear:both !important;}
.yang_pages a {border: 1px solid #E9E9E9; color: #555555;display: inline;display:inline-block; padding:2px 5px;margin:0;}
.yang_pages a:hover {border: 1px solid #2A7D01;color: #fff; background:#2A7D01;text-decoration: none; cursor:pointer;}
.yang_pages .current{padding:2px 5px;background-color: #2A7D01;border: 1px solid #2A7D01;color:#fff;font-weight: bold;}

.copyright{background:#F3EFC5;padding:6px; font-size:90%; height:70px; text-align:center;}
/*mj*/
.nav_list{ clear:both; margin-top:12px;}
.nav_list a{float:left;width:70px; height:25px; line-height:25px;position:relative; text-align:center; font-size:90%;font-weight:bold;
	background:#fffafb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6f7ff)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #e6f7ff); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #e6f7ff); /* FF3.6 */
	border:1px solid #a3a3a3;box-shadow:1px 1px 1px 0 #B5B5B5;text-shadow: 0px 1px 1px #FFFFFF;
	padding:0x;	color:#777172;border-radius:6px;margin:2px 0px 2px 25px;
}
/*先进设备*/
.info-sblist li{height:100px; padding:10px 0px;text-shadow: -1px -1px 0 #fffff;}
.info-sblist .img{ float:left; width:90px; margin:0px 5px; height:100px; border:1px solid #cccccc;}
.info-sblist .summary{float:left; width:190px; height:100px; font-size:90%; overflow:hidden;}
.info-sblist .summary span{height:25px;line-height:25px;display:block;font-weight:normal; padding:0px; margin:0px;border-bottom:1px dotted #f81438; color:#f81438; overflow:hidden; }
.info-sblist a{color:#f81438;}
.info-sblist .summary p{line-height:20px;}

/*医生*/
.info-dtlist{width:99%; margin:0 auto;}
.info-dtlist li{ float:left;height:auto; width:50%; padding:10px 0px;text-shadow: -1px -1px 0 #fffff; overflow:hidden;}
.info-dtlist .img{width:50%;text-align:center; position:relative;}
.info-dtlist .img img{width:96%; height:auto; max-width:236px; max-height:300px;}
.info-dtlist .summary{width:50%; float:right; font-size:100%; overflow:hidden; }
.info-dtlist .summary a{color:#FF0000;}
.info-dtlist .summary b{clear:both; display:block; color:#000; font-size:90%;}
/*单页、文章内容*/
.content{padding:10px; line-height:150%;}
.position{ height:30px;; line-height:30px; text-indent:8px;margin:-18px 1px 5px 1px; font-size:90%; border:1px solid #cccccc;border-radius:3px; overflow:hidden;
	background:#ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #eeeeee); /* FF3.6 */
}
.pro_h3{padding:5px; font-size:100%;font-weight:bold;border:1px solid #FFE0B4; background:#ffeed5;}
.intro{line-height:160%; padding:5px 0px;max-width:95%;}
.intro img{max-width:95%;}
.intro a{color:#ff0000;text-decoration:underline;}
.askbar{ height:56px;position:relative;margin:10px 0px 0px;width:100%; }
.askbar a{float:left;
width:40%; height:36px; line-height:36px; margin:10px; text-align:center; font-size:120%;
	background:#ceefef;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b5e7de)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #b5e7de); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #b5e7de); /* FF3.6 */
	border:1px solid #b5bebd;
	box-shadow:1px 1px 1px 0 #B5B5B5;
	text-shadow: 0px 1px 1px #FFFFFF;
	padding:0x;
	color:#083031;
	font-weight:bold;
	border-radius:6px;
	margin:2px 0px 2px 25px;
	position:relative;
}
.askbar a:hover{background:#fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b5e7de), to(#ffffff)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b5e7de, #ffffff); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b5e7de, #ffffff); /* FF3.6 */}
	
/**/
.guestbook_title{padding:5px; margin-top:5px; font-size:100%; border-bottom:2px solid #CCCCCC;}
.guestbook_msg{ padding:5px; line-height:160%;font-size:100%;}
.guestbook_reply{padding:5px; color:red; border-top:1px dotted #CCCCCC;}



#fixed-foot{
	position:relative;z-index: 1000;color:#fff;	text-align:center;
	box-shadow:0 2px 4px 0 #B5B5B5;text-shadow: -1px -1px 0 #444;
}
#fixed-foot{position:fixed;bottom:0;width:100%;display:table;line-height:17px;text-align:left}
#fixed-foot li{height:40px;padding-top:5px;text-align:center;font-size:90%;display: table-cell;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;
color:#fff;
	background:#048707;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5fa72), to(#048707)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f5fa72, #048707); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f5fa72, #048707); /* FF3.6 */
}
#fixed-foot .border-left-none{border-left:none;}
#fixed-foot .border-right-none{border-right:none;}

#fixed-foot li a{color:#fff;}
#fixed-foot li a{display:block;}
#fixed-foot li a div{width:100px; height:40px; margin:auto;}
#fixed-foot li span{float:left;  height:40px; line-height:40px; font-size:100%; text-indent:0px;}

.swipe img{width:100%;}

/*产品展示页面的css*/
.js2 {font-size: 13px;}
.zj ul li {padding-top: 10px;}
.zj_a {padding-bottom: 8px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #C0C0C0;}
.js a,.js a:hover{text-decoration: none;}

#zj{width:400px;height:150px;overflow:hidden;position:relative;}
#zj ul {list-style-type:none; position:absolute;}
#zj ul li { width:400px; float:left;overflow:hidden;}
#zj .preNext{width:15px;height:48px;position:absolute;top:50px;background:url(../images/sprite.png) no-repeat 0 0;cursor:pointer;}
#zj .pre{left:5px;}
#zj .next{right:0;background-position:right top;}

.zj_z {padding: 1px;float: left;height: 118px;width: 104px;margin:0 10px;border: 1px solid #cebfb0;}
.al_z{padding: 1px;float: left;height: 127px;width: 104px;margin:0 10px;border: 1px solid #cebfb0;}
.zj_y {float: left; line-height:21px;padding-left: 13px;}
.zj_1 {font-size: 16px;color: #af5d01;}
.zj_3 {padding-top: 10px;}
.zj_4{padding-top: 5px;  line-height:20px;}
.zj_4 b{color: #af5d01;}
.xw ul li {line-height: 30px;padding-left: 15px; border-bottom:1px solid #e5e5e5; color:#b76f1e;}
.xw1 ul li {border-bottom:1px solid #c5aa8d;}
.xw ul li a {color: #666666;text-decoration: none;}
.xw ul li a:hover {text-decoration: underline;}
.t2 {margin: 10px 0;}
.dt  {padding-top: 10px;padding-bottom: 10px;}



/*===相册模版css样式 开始===*/
.ChannelName{}
.ChannelContent{ clear:both; padding:3px; line-height:1.8em}
.ChannelSContent{}

.InfoTitle, .ChannelName{ font-size:18px; line-height: 1.5em; vertical-align:middle; font-weight:bold;}
.InfoTime{color:#999; text-align:left; font-size:12px; padding:2px 0px; height:25px}
.InfoContent{ font-size:17px; line-height:1.8em}
.InfoContent p{ font-size:17px}
.InfoPicture{ text-align: center;}
.InfoPicture img{width:100%;}
.f1{}
.f2{}
.f3{}
.f4{}
.f5{}
.ShowInfo{ height: 30px; line-height: 1.5em; font-size:18px; border-top: 1px solid #bdbec1; vertical-align:middle; padding-top:5px; color:#000000}
.InfoContent img, .ChannelContent img{max-width:100%; }

/*橱窗列表*/
.gridlist li{width:33%;overflow:hidden;float:left; }
.gridlist li .InfoTitle{ height: 25px; line-height:25px; overflow: hidden; font-size:14px; padding:0px 5px; text-align:center;}
.gridlist li .InfoPicture { padding:0px 5px;}
.gridlist li .InfoPicture img{ border:1px solid #ccc;}

/*===相册模版css样式 结束===*/


/*底部固定工具条样式*/
li{ list-style: none outside none;}
#tool { position: fixed; bottom: 0; left: 0; right: 0; z-index: 900; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
ul.toollist { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0;margin: auto; display: block; height: 48px;}
.toollist li{ float:left;width: auto;  height: 100%;width:25%;position: static!important;  margin: 0;
border-radius: 0!important; -webkit-box-sizing: border-box;box-sizing: border-box; -webkit-box-flex: 1; box-flex: 1;
-webkit-box-sizing: border-box; box-shadow: none!important; background: none;
}
.toollist li a {font-size: 20px;line-height: 20px;text-align: center;display: block;text-decoration: none;padding-top: 2px;position:relative;}
.toollist li a img{width:24px;height:24px;}
.toollist li a p{margin: 1px 0 1px 0;font-size: 14px;display: block !important;line-height: 18px;text-align: center;}
/*绿色主题*/
.toollist {	border-top: 1px solid #0090c5; 
	background:#0090c5;
	-moz-box-shadow: 0 1px 0 #eee inset;-webkit-box-shadow: 0 1px 0 #eee inset;	
	-o-box-shadow: 0 1px 0 #eee inset;box-shadow: 0 1px 0 #eee inset;
}
.toollist li{ border-right: 1px solid rgba(255, 255, 255, 0.6);}
.toollist li a {color: #fff;}

/*搜索 */
.search{margin:0px auto; background:#89CBFD; padding:7px 0px; overflow:hidden;}
.form_search{ width:245px; margin:0px auto;}
.form_keywords { width: 200px; height: 30px; text-indent: 8px; background: #fff; border: 2px solid #4FB531; border-radius: 5px; 
padding:0px; float:left}
.btn_search{ width: 34px; height: 34px; line-height: 34px; background: url(../images/search_btn.png); border: none; cursor: pointer; float:right;}
.searchresult{ font-weight:bold; font-size:18px;}