

/*标题*/
h1 { font-size: 1.3em;margin:  0;}
h2 {font-size: 1.2em; margin: 0;}
h3 { font-size: 1.17em;margin: 0;}
h4 {font-size: 1em;margin:0;}
h5 {font-size: 0.83em;margin: 0;}
h6 { font-size: 0.67em;margin: 0;}

/*表单*/
form {margin: 0;}
button,input,select,textarea {
    font-size: 100%;  /* Correct font size not being inherited in all browsers. */
    margin: 0;  /* Address margins set differently in IE 6/7, Firefox 3+, Safari 5,and Chrome */
    vertical-align: baseline; /* Improve appearance and consistency in all browsers */
    *vertical-align: middle; /* Improve appearance and consistency in all browsers */
}
button,select {text-transform: none;}
input{
    border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;-o-border-radius:5px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 3px 0px;
	padding: 5px 3px;
	width:99%;
	line-height: normal;
}
textarea{
	-moz-box-sizing: border-box;
    border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 3px 0px;
	padding: 5px 3px;
	width:99%;
}

/*其它*/
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
code, kbd, pre, samp {font-size: 1em;}
pre {margin: 1em 0; white-space: pre;white-space: pre-wrap;word-wrap: break-word; }
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0; position: relative;vertical-align: baseline; /* Prevent `sub` and `sup` affecting `line-height` in all browsers.*/}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
dl{margin: 1em 0;}
dd {margin: 0 0 0 40px;}
audio:not([controls]) {display: none; height: 0;}
/*==========@@HTML默认  结束@@==========*/


/*==========@@通用 开始@@==========*/
/*常用颜色*/
.blue {color: #00F !important;}
.green {color: #0F0 !important;}
.red {color: #F00 !important;}
.black {color: #000000 !important;}
.white {color: #FFFFFF !important;}
.gray { color:gray; !important; }
.purple { color:purple;  !important;}

/*清除浮动*/
.clear { display:block; clear:both;}
.float_left { float:left; }
.float_right { float:right; }

/*对齐方式*/
.left { text-align: left}
.right {text-align: right}
.center{ text-align: center}

/*其它*/
.hide { display:none; }  /*隐藏*/
.more{ float: right; padding-right:10px; } /*more链接*/
.more a{ color:#167312}
.code_image{ cursor: pointer; padding-bottom:6px;} /*验证码图片样式*/

/*必须输入，主要*/
.required{ color:red; font-weight:bold;}
.form_text_verifycode { width:80px; }
.form_radio{ width:auto; border:0;}
.form_checkbox{ width:auto; border:0}

/*按钮*/
.btn{
	width:100%; padding:9px 0px;font-size:16px;text-decoration:none; margin:5px 0px;
	border:1px solid #e51758;
	/*
	background-image:linear-gradient(bottom,  #179F00 0%, #5DD300 100%);background-image:-o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	*/
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #b31245),color-stop(1, #ff1a62));
	
	-webkit-box-shadow:0 1px 0 #e51758 inset, 0 1px 2px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow:0 1px 0 #e51758 inset, 0 1px 2px rgba(0, 0, 0, 0.5); 
	box-shadow:0 1px 0 #e51758 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; 
	color:#ffffff; display:block; text-align:center; text-shadow:0 1px rgba(0, 0, 0, 0.2);
	cursor:pointer;	
}
.btn:active{
	padding:9px 0px;top:0px;
	background-image:linear-gradient(bottom, #5DD300 0%, #179F00 100%);background-image:-o-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-moz-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);background-image:-webkit-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-ms-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #5DD300),color-stop(1, #179F00));
	-webkit-box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn_download{
	width:80px; text-decoration:none; margin:0px;
	background-color:#179F00;border:1px solid #0B8E00;
	background-image:linear-gradient(bottom,  #179F00 0%, #5DD300 100%);background-image:-o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #179F00),color-stop(1, #5DD300));
	-webkit-box-shadow:0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow:0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; 
	color:#ffffff; display:block; text-align:center; text-shadow:0 1px rgba(0, 0, 0, 0.2);
	cursor:pointer;	
}
.btn_download:active{
	padding:0px;top:0px;
	background-image:linear-gradient(bottom, #5DD300 0%, #179F00 100%);background-image:-o-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-moz-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);background-image:-webkit-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-ms-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #5DD300),color-stop(1, #179F00));
	-webkit-box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);box-shadow:0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}



/*==========@@频道页面 开始@@==========*/
/*===公共字段 开始===*/
.ChannelName{}
.ChannelContent{ clear:both; padding:3px;}
.ChannelSContent{}

.InfoTitle, .ChannelName{ font-size:18px; line-height: 1.5em; vertical-align:middle; font-weight:bold;}
.InfoTime{color:#999; text-align:left; font-size:12px; padding:2px 0px; height:25px}
.InfoContent{ font-size:17px; line-height:1.5em}
.InfoContent p{ font-size:17px}
.InfoPicture{ text-align: center;}
.InfoPicture img{width:100%;}
.f1{}
.f2{}
.f3{}
.f4{}
.f5{}
.ShowInfo{ height: 30px; line-height: 1.5em; font-size:18px; border-top: 1px solid #bdbec1; vertical-align:middle; padding-top:5px; color:#000000}
.InfoContent img, .ChannelContent img{max-width:100%; }
/*===公共字段 结束===*/



/*留言*/
.guestbook{ }
.guestbook .ChannelName h1{ border-bottom:1px dotted #CCCCCC; padding:5px 0px;}
table.guestbook_table{ width:100%;}
table.guestbook_table .t1{ width:25%; text-align:left }
table.guestbook_table .t2{ width:75%; text-align:left;}
