@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-12-05 10:35:16
// @modified         2017-12-05 10:37:02
//

.account-module {
  .title {
    i {
      margin-right: 10px;
    }
  }
}