@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-09-26 11:12:49
// @modified         2017-10-25 19:03:06
//

.sidebar-widget {
  list-style: none;
  padding-left: 0;

  .title {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 16px;
  }

  li {
    box-shadow: none;
    margin: 10px 0 0;
    border-bottom: 1px solid #e5e5e5;

    .category-href {
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 18px;
      position: relative;
      color: #222;

      &:before {
        content: '\f105';
        font-family: "fontawesome";
        position: absolute;
        top: -3px;
        left: 0;
        color: #222;
        font-size: 16px;
      }
    }

    &.active {
      > a {
        color: #ff0200;
      }
    }
  }

  ul {
    padding-left: 20px;
    list-style: none;

    li {
      padding: 10px 0;
      margin-top: 0;
      border-bottom: 1px dashed #e4e4e4;

      &:last-of-type {
        border: none;
      }

      a {
        color: #777;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }

  .toggle-icon {
    float: right;
    font-size: 16px;
    padding: 0 6px;

    i {
      @include transition(all .3s ease-in-out);
    }

    &.collapsed {
      i {
        @include default-transform(rotate(-180deg));
      }
    }
  }
}