{extend name="common/main"/}

{block name="body"}
	<div class="main-title cf">
		<h2>
			{:lang("_BATCH_IMPORT_")}[{$data.title|default=L('_TOP_MENU_WITH_SINGLE_')}]
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap with-padding">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:Url('import')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div id="tab1" class="">
			<div class="form-item builder_item">
				<label class="item-label ">
					{:lang("_IMPORT_CONTENT_")}<span class="check-tips">{:lang("_PLEASE_ENTER_IN_THE_INPUT_FORMAT_")}</span>
				</label>
				<div class="controls">
					<label class="textarea input-large">
						<textarea name="tree" class="form-control form-text-area-size"></textarea>
					</label>
				</div>
				<span class="check-tips">{:lang("_IMPORT_FORMAT_")}{:lang("_COLON_")}{:lang("_TITLE_")}|url({:lang("_ENTER_KEY_")}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{:lang("_TITLE_")}|url</span>
			</div>
		</div>
		<div class="form-item builder_item">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">{:lang("_SURE_WITH_SPACE_")}</button>
			<a class="btn btn-return" href="{:Url('index?pid='.$pid)}">{:lang("_RETURN_WITH_SPACE_")}</a>
			<input type="hidden" name="pid" value="{$pid}"/>
			<input type="hidden" name="cate_id" value="{$cate_id|default=0}">
		</div>
	</form>
	</div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
	$('#submit').click(function(){
		$('#form').submit();
	});
</script>
{/block}
