<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$seo.title}_{$seo.subtitle}</title>
<notempty name="seo.keywords">
<meta name="keywords" content="{$seo.keywords}" /> 
</notempty>
<notempty name="seo.description">
<meta name="description" content="{$seo.description}" />
</notempty>
<meta property="qc:admins" content="1247273077613000636" />
<link rel="shortcut icon" href="__PUBLIC__/Static/images/fav.ico" type="image/x-icon">
<link rel="icon" href="__PUBLIC__/Static/images/fav.gif" type="image/gif" />
__SITE_THEME_CSS__
<!--[if gte IE 7]><!-->
    <link href="__PUBLIC__/Static/js/dialog/skins5/idialog.css" rel="stylesheet" />
<!--<![endif]-->
<!--[if lt IE 7]>
    <link href="__PUBLIC__/Static/js/dialog/skins5/idialog.css" rel="stylesheet" />
<![endif]-->
<script>var siteUrl = '__SITE_URL__',show_login_url='{:U("home/user/ajaxlogin")}',show_register_url='{:U("home/user/ajaxregister")}';</script>
<script src="__PUBLIC__/Static/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/Static/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/Static/js/IK.js" type="text/javascript" data-cfg-autoload="false"></script>
<script src="__PUBLIC__/Static/js/all.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/Static/js/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Static/js/dialog/jquery.artDialog.min5.js" type="text/javascript"></script>__EXTENDS_JS__ 

<!--<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21509482"></script>-->