<div class="fly-panel fly-link"> 
      <h3 class="fly-panel-title">友情链接</h3>
      <dl>
     
        {volist name="list" id="vo"}  
        {if condition="$vo['type'] eq 2"}
        <dd>
          <a target="_blank" title="{$vo.title}" href="{$vo.link}">{$vo.title}</a>
        </dd>
        {else /}
        <dd>
          <a target="_blank" title="{$vo.title}" href="{$vo.link}">

<img src={$vo.savepath} width="88" height="31" />
</a>
        </dd>
        {/if}
        {/volist}
     
      </dl>
</div>
