{weiget frontend_weiget/header}

	 <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>添加工作流
               <small>主要是工作提交审批</small>
            </h3>
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-body">
                  <form method="post" action="{SELF_URL}former/addworkflow/" class="form-horizontal">
                     <fieldset>
                        <legend>基础信息</legend>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">唯一标记</label>
                           <div class="col-sm-6">
                              <input type="text" placeholder="必须输入英文" name="workflow[keyname]" class="form-control form-control-rounded" data-parsley-minlength="4">
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">原型</label>
                           <div class="col-sm-6">
                              <select name="workflow[prototypeid]" class="chosen-select form-control">
							  <!--{loop $prototypeInfos $prototypeInfo}-->
                                 <option value="{$prototypeInfo[prototypeid]}"><!--{$prototypeInfo[title]}--></option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">名称</label>
                           <div class="col-sm-6">
                              <input type="text" placeholder="不能为空，最好是中文" name="workflow[title]" class="form-control" data-parsley-minlength="4">
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">通过去向</label>
                           <div class="col-sm-6">
                              <select name="workflow[after]" class="chosen-select form-control">
                                 <option value="0">请选择</option>
							  <!--{loop $workflowInfos $workflowInfo}-->
                                 <option value="{$workflowInfo[workflowid]}"><!--{$workflowInfo[keyname]}--> - <!--{$workflowInfo[title]}--></option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">拒绝去向</label>
                           <div class="col-sm-6">
                              <select name="workflow[before]" class="chosen-select form-control">
                                 <option value="0">请选择</option>
							  <!--{loop $workflowInfos $workflowInfo}-->
                                 <option value="{$workflowInfo[workflowid]}"><!--{$workflowInfo[keyname]}--> - <!--{$workflowInfo[title]}--></option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">操作员</label>
                           <div class="col-sm-6">
                              <select name="workflow[uid]" class="chosen-select form-control">
                                 <option value="0">请选择</option>
							  <!--{loop $userInfos $userInfo}-->
                                 <option value="{$userInfo[uid]}"><!--{$userInfo[username]}-->[<!--{$userInfo[truename]}-->]</option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">组织机构</label>
                           <div class="col-sm-6">
                              <select name="workflow[organizationid]" class="chosen-select form-control">
                                 <option value="0">请选择</option>
							  <!--{loop $organizations $organization}-->
                                 <option value="{$organization[organizationid]}"><!--{$organization[name]}--></option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">角色</label>
                           <div class="col-sm-6">
                              <select name="workflow[roleid]" class="chosen-select form-control">
                                 <option value="0">请选择</option>
							  <!--{loop $aclroles $aclrole}-->
                                 <option value="{$aclrole[rid]}"><!--{$aclrole[name]}--></option>
							  <!--{/loop}-->
                              </select>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-2">
						   <input type="hidden" name="dosubmit" value="1">
                              <button type="submit" class="btn btn-primary">保存</button>
                           </div>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
            <!-- END panel-->
         </div>
      </section>

{weiget frontend_weiget/footer}