<div class="bjui-pageContent">
    <form action="<notempty name="Detail">{:U('Member/edit',['userid' => $Detail['userid']])}<else />{:U('Member/add')}</notempty>" class="pageForm" data-toggle="validate">
        <table class="table table-condensed table-hover">
            <tbody>
                <!-- <tr>
                    <td colspan="2" align="center"><h3>* 我是一个弹出窗口</h3></td>
                </tr> -->
                <tr>
                    <td>
                        <label for="j_dialog_name" class="control-label x90">用户名：</label>
                        <empty name="Detail">
                        <input type="text" name="info[username]" data-rule="required;username;remote[get:{:U('Member/ajax_checkUsername')}, username:info[username]]" size="20" value="{$Detail.username}">
                        <else />
                        <input type="text" name="info[username]" disabled size="20" value="{$Detail.username}">
                        </empty>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_pwschange_newpassword" class="control-label x90">密码：</label>
                        <input type="password" data-rule="<empty name="Detail">密码:required;</empty>password" name="info[password]" id="j_pwschange_newpassword" value="" placeholder="密码" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_pwschange_secpassword" class="control-label x90">确认密码：</label>
                        <input type="password" data-rule="<empty name="Detail">密码:required;</empty>match(info[password])" name="info[confirm]" id="j_pwschange_secpassword" value="" placeholder="确认密码" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_dialog_tel" class="control-label x90">昵称：</label>
                        <input type="text" name="info[nickname]" size="20" value="{$Detail.nickname}">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>