.ltreemenu{}
.ltreemenu a {	background: none transparent scroll repeat 0% 0%;}
.ltreemenu dl {	clear: both; padding: 0px; margin: 0px 0px 2px 17px; }
.ltreemenu dd {	clear: both; margin: 0px; padding:0px;  list-style: none;	/*background:url(line_y.gif) repeat-y 16px 0; */}
.ltreemenu dd button {	width: 38px; height: 18px; background: url(../images/tree/opened.gif) no-repeat 3px 1px; vertical-align: middle; overflow: hidden; cursor: pointer; border: none; }
.ltreemenu dd.closed dl {display: none;}
.ltreemenu dd.closed button {background-image: url(../images/tree/closed.gif);}
.ltreemenu dt {	 margin: 0px; padding: 0px; padding-left: 37px; background: url(../images/tree/leaf.gif) no-repeat 2px 2px; line-height: 18px; }
