body {
	scrollbar-face-color: #6d88dd; scrollbar-highlight-color: #7bb1e7; scrollbar-shadow-color: #f4f4f4; scrollbar-3dlight-color: #f4f4f4; scrollbar-arrow-color: #f4f4f4; scrollbar-track-color: #dee6fc; scrollbar-darkshadow-color: #799ae1
}
.windowheader {
	font-size: 14.8px; color: #215dc6; font-family: tahoma; text-decoration: none
}
.windowheader a:link {
	font-size: 14.8px; color: #215dc6; font-family: tahoma; text-decoration: none
}
.windowheader a:visited {
	font-size: 14.8px; color: #215dc6; font-family: tahoma; text-decoration: none
}
.windowheader a:hover {
	font-size: 14.8px; color: #215dc6; font-family: tahoma; text-decoration: underline
}
a:link {
	font-size: 8.5pt; color: #215dc6; font-family: tahoma; text-decoration: none
}
a:visited {
	font-size: 8.5pt; color: #215dc6; font-family: tahoma; text-decoration: none
}
a:hover {
	font-size: 8.5pt; color: #215dc6; font-family: tahoma; text-decoration: underline
}
a.topbar:link {
	font-size: 8.5pt; color: #fff; font-family: tahoma; text-decoration: none
}
a.topbar:visited {
	font-size: 8.5pt; color: #fff; font-family: tahoma; text-decoration: none
}
a.topbar:hover {
	font-size: 8.5pt; color: #fff; font-family: tahoma; text-decoration: underline
}
.mainheading {
	font-weight: bold; font-size: 12pt; color: #000; font-style: normal; font-family: arial, helvetica, sans-serif
}
.maindesc {
	font-size: 8.5pt; color: #000; font-family: tahoma
}
.maindescbig {
	font-size: 10pt; color: #000; font-family: tahoma
}
.maindesctitle {
	font-size: 14.8px; color: #f00; font-family: tahoma
}
.maindescbigerror {
	font-size: 10pt; color: #f00; font-family: tahoma
}
div.menuopen {
	padding: 0px; display: block; margin-left: 0px; margin-right: 0px;
}
div.menuclosed {
	padding-right: 2px; display: none; padding-left: 2px; padding-bottom: 10px; margin-left: 1px; margin-right: 1px; padding-top: 3px
}
td.sorted {
	background-color: #879dee
}
td.field_name {
	font: bold 11px verdana,arial,tahoma; vertical-align: top; color: #5c5b5b; background-color: #fff
}
td.field_content {
	font: 11px verdana,arial,tahoma; color: #5c5b5b; background-color: #fff
}
table.field_content {
	font: 11px verdana,arial,tahoma; color: #5c5b5b; background-color: #fff
}
img {
	border:0
}
