@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,button{padding: 0; margin: 0; }
body{font: 12px/18px simsun,sans-serif;color:#343434;word-wrap:break-word;word-break:break-all;background:#eef2fb;}
table{border-collapse: collapse; border-spacing: 0; }
:focus{outline:0;}
ol, ul{list-style: none outside; }
address, caption, cite, code, dfn, em, strong, th, var{font-weight:normal;font-style:normal;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; }
q:before, q:after {content: '';}
abbr, acronym, fieldset, img, fieldset{border: 0;}
abbr{cursor:help;}
a{text-decoration:none;color:#0058a6;}
a:hover{text-decoration: none;}
input, textarea{padding:2px;vertical-align:middle; }
input, select, textarea{font:12px Tahoma,Arial,simsun;}
.clearfix:after{content: ".";height: 0;visibility:hidden;display:block;clear:both;}
.clearfix{display:inline-block; }
.clearfix{display:block;}
.clear{height:0;overflow:hidden;clear:both;display:block;}
.mid{vertical-align:middle;}
.none{display:none}
.red{color:#f00;}
.left{float:left;}
.right{float:right;}
.fl{display:inline;cursor:pointer; }
.fr{float:right; display:inline; }

.installdiv{margin:0 auto;padding-left:20px;height:800px;width:1000px;}
.install{width:800px;;margin:0 auto;}
.install textarea{width:800px;height:500px;}
.install h1{height:36px;line-height:36px;padding-left:20px;font-weight:bold;font-size:14px;}
.installdiv .btn{margin:0 auto;width:800px;}
.btn p{height:36px;line-height:36px;}
.btn p input{vertical-align:middle;}
.btn p em{font-style:normal;margin-left:10px;}
.installipt{width:800px;border:1px solid #ddd;margin:0 auto;margin-bottom:20px;text-align:center;padding:20px 0}
.installipt em{color:#f00;}
.installipt p{height:36px;line-height:36px;padding-left:20px;}
.installipt .border{border:1px solid #f00;}
.installipt p label{width:100px;font-weight:bold;text-align:left;display:block;float:left;}
.installipt p .short-input2{width:200px;height:20px;float:left;}
.installipt p .short-check{float:left;margin-top:12px;}
.installipt p input,.installipt p select{vertical-align:middle;margin-top:4px;}
.installerr{width:800px;border:1px solid #ddd;margin:0 auto;margin-bottom:20px;padding:20px 0}
.installerr ul{padding-left:20px;}
.installerr ul li{font-weight:bold;color:#f00;height:36px;line-height:36px}
.perr,.psucc,.pview{padding-left:20px;font-weight:bold;height:36px;line-height:36px;text-align:left;}
.perr{color:#f00;}
.pview a{color:#0f0;text-decoration:underline;}

.footer{text-align:center;border-top:2px solid #1b3142;padding:20px 0;margin-top:20px;margin-top:20px;}

