<extend name="Public/base"/>

<block name="content">
        <!-- Contents  -->
        <h3><a href="__SELF__">课程申报</a></h3>
     
        
        <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">课程名称<span class="check-tips">（课程名称就是申报的校本课程名称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="cname" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">申报教师<span class="check-tips">（教师姓名中间不能有空格）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="teacher" value="{$my.teacher}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">课程类别</label>
            <div class="controls">
                <input type="text" class="text input-large" name="category" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">面向年级<span class="check-tips">（年级必须为1-6的数字，面向多个年级的必须写全，如234表示面向234三个年级）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="grade" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">申报时限<span class="check-tips">（默认为本年度即本学年，无需修改）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="year" value="{$my.year}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">预计人数<span class="check-tips">（预计开设的理想人数）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="number" value="">
            </div>
        </div>
  
        <div class="form-item">
            <label class="item-label">场地安排<span class="check-tips">（可预先填报理想的场地，场地如有冲突教学处将作统一调整）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="room" value="">
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="uid" value="{$my.uid}"/>
            <button class="btn btn-success" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-danger" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
        </form>
<!-- /Contents  -->
</block>