<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#{$sys.title}#</title>
<script src="#{$smarty.const.APP}#/View/ui/login/js/jquery-1.8.0.min.js" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="#{$smarty.const.APP}#/View/ui/login/css/register.css"/>
</head>
<body>
<form class="signup_form_form" id="signup_form" method="post" action="" data-secure-action="#{$smarty.const.ACT}#/Index/login" data-secure-ajax-action="">
  <div class='signup_container'>
    <h1 class='signup_title'>#{$sys.companyname}#</h1>
    <img src='#{$smarty.const.APP}#/View/ui/login/images/people.png' id='admin' width="120" height="120"/>
    <div id="signup_forms" class="signup_forms clearfix">
      <div class="form_row first_row"> 
        <!-- <label for="signup_email">请输入用户名</label><div class='tip ok'></div>-->
        <input type="text" name="username" placeholder="请输入用户名" id="signup_name" data-required="required">
      </div>
      <div class="form_row"> 
        <!-- <label for="signup_password">请输入密码</label><div class='tip error'></div>-->
        <input type="password" name="password" placeholder="请输入密码" id="signup_password" data-required="required">
      </div>
    </div>
    <div>#{$txtinfo}#</div>
    <div class="login-btn-set">
      <div class='rem'>记住我</div>
      <input id="login" type="submit" class='login-btn' value="">
    </div>
    <p class='copyright'><a href="http://www.07fly.top">版权所有 零起飞网络</a></p>
  </div>
</form>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?04426875a8b2ae1ac713f95543808356";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
<script type="text/javascript">

$(function(){
    $('.rem').click(function(){
        $(this).toggleClass('selected');
    })
    $('#signup_select').click(function(){
        $('.form_row ul').show();
        event.cancelBubble = true;
    })
    $('#d').click(function(){
        $('.form_row ul').toggle();
        event.cancelBubble = true;
    })

    $('body').click(function(){
        $('.form_row ul').hide();
    })

    $('.form_row li').click(function(){
        var v  = $(this).text();
        $('#signup_select').val(v);
        $('.form_row ul').hide();
    })


})


</script>
</html>