<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcontact</name>
            <displayName><![CDATA[联系模块]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[添加客户服务的联系信息]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>