.KeFuDiv{
	position: absolute;
	height:160px;
	width:118px;
	z-index:10000;
}
.KeFuList{
	background:url(../images/mid001.gif);
}
.KeFuTitle{
	background:url(../images/list_001.gif);
	margin-left:9px;
	font-size:9pt;
	width:101px;
	height:20px;
	text-align:center;
}
.KeFuItem{
	text-align:center;
	margin-top:8px;
	font-size:9pt;
}