.index_main{
    width: 100%;
    height: 100%;
}
#index_tree{
    width:20%;
    height: inherit;
    /*border-right: dashed 1px #000000;*/
    float: left;
}
#index_member{
    /*border: dashed 1px #01AAED;*/
    width: 75%;
    height: inherit;
    float: right;
}
.index_menu{
    width: 100%;
    height: 30px;
    border: dashed 1px #01AAED;
}
.index_item{
    width: 100%;
    height: inherit;
    border: dashed 1px #01AAED;
    margin-top: 10px;
}