
<div class="uk-container ">
    <!--if{empty($list)}-->
    <div class="uk-padding-small uk-text-center dux-page">
        <h1>购物车没有商品</h1>
        <p>购物车还是空的，去逛逛吧</p>
        <br>
        <p>
            <a class="uk-button uk-button-primary" href="{url('index')}">继续购物</a>
            <a class="uk-button uk-button-default" href="{url('shop/Follow/index')}">查看收藏</a>
        </p>
    </div>
    <!--{else}-->

    <main class="dux-cart" data-dux="cart-count" data-url-num="{url('num')}" data-url-del="{url('del')}" data-url-checked="{url('checked')}">
        <table class="cart-header dux-table uk-table  uk-table-responsive  uk-table-divider uk-table-hover uk-table-middle">
            <thead>
            <tr>
                <th width="70">选择</th>
                <th width="100">图片</th>
                <th>商品</th>
                <th width="130" class="uk-text-center">单价</th>
                <th class="uk-text-center" width="130">数量</th>
                <th width="130" class="uk-text-center">小计</th>
                <th width="100" class="uk-text-center">操作</th>
            </tr>
            </thead>
        </table>
        <div  data-list>

        <!--loop{$cartData as $data}-->
            <table data-store class="dux-table uk-table  uk-table-responsive  uk-table-divider uk-table-hover uk-table-middle">
                <thead>
                <tr>
                    <th>
                        <label><input type="checkbox" class="uk-checkbox" data-store-checkbox="1"></label>
                    </th>
                    <th class="cart-store" colspan="6">
                        <a href="__ROOT__/">{$site.info_name}</a>
                    </th>
                </tr>
                <tbody>
            <!--loop{$data.items as $key => $vo}-->
                <tr  data-item  id="{$vo.rowid}">
                    <td width="70" class="uk-text-middle">
                        <label><input  class="uk-checkbox" type="checkbox" value="{$vo.rowid}" {$vo.checked ? 'checked' : ''}></label>
                    </td>
                    <td width="100" class="uk-text-middle dux-page-goods">
                        <a href="{$vo.url}" target="_blank"><img src="{$vo.image}" alt="{$vo.name}" width="64"
                                                                 height="64"></a>
                    </td>
                    <td class="uk-text-middle dux-page-goods">
                        <div class="title"><a href="{$vo.url}" target="_blank">{$vo.name}</a></div>
                        <!--if{!empty($vo.options)}-->
                        <div class="info">
                            <!--loop{$vo.options as $v}-->
                            {$v.name}：{$v.value}
                            <!--{/loop}-->
                        </div>
                        <!--{/if}-->
                    </td>
                    <td width="130" class="uk-text-center uk-text-middle uk-text-danger">
                        {price_format($vo.price)}元

                    </td>
                    <td width="130" class="uk-text-center uk-text-middle">

                        <div class="cart-count uk-clearfix" data-dux="cart-num" data-callback="count"
                             data-info='{"rowid" : "{$vo.rowid}", "price" : {$vo.price}}'>
                            <a href="javascript:;" class="up">+</a>
                            <input type="tel" value="{$vo.qty}" name="count" data-num>
                            <a href="javascript:;" class="down">-</a>
                        </div>
                    </td>
                    <td width="130" class="uk-text-center uk-text-middle">
                        <div data-item-price>
                            <span>{price_format($vo.total)}</span>元
                        </div>
                    </td>
                    <td width="100" class="uk-text-center uk-text-middle">
                        <a href="javascript:;" data-item-del="{$vo.rowid}">删除</a>
                    </td>
                </tr>
                <!--{/loop}-->
                </tbody>
            </table>
        <!--{/loop}-->
        </div>
        <div class="uk-flex">
            <div class="cart-info uk-flex-1 uk-clearfix">
                <div class="uk-float-left">
                    <a href="javascript:;" class="uk-button uk-button-default uk-button-small" data-del>批量删除</a>
                </div>
                <div class="uk-float-right">商品合计 <strong><em data-decimal-checked>￥{$info.checked_total}</em></strong></div>
            </div>

            <a class="cart-button uk-button uk-button-danger" href="{url('submit')}" data-show>结算</a>
        </div>

        <!--{/if}-->
    </div>
</main>
