<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>设置数据库连接和后台用户-欢迎使用thinkcms</title>
		<include file="Book:head" />
		<h3>第二步：设置微信接口<small>设置错误，影响微信功能的使用</small></h3>
		<form action="" method="post" class="hd-form" id="weixin">
		<div class="panel panel-primary">
			<div class="panel-heading">设置微信公众号</div>
				
				<table class="table table-bordered table-striped">	
			
					
					<tr>
						<td width="15%">TOKEN</td>
						<td><input type="text" name='token' id='token'  value=""  class='w200'/></td>
					</tr>

					<tr>
						<td>APPID</td>
						<td><input type="text" name='appid' id='appid' value="" class='w200'/></td>
					</tr>
                    <tr>
                        <td>APPSECRET</td>
                        <td><input type="text" name='appsecret' value="" class='w200'/></td>
                    </tr>
				</table>
		
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">设置图灵机器人</div>
				
				<table class="table table-bordered table-striped">	
			
					
					<tr>
						<td width="15%">KEY</td>
						<td><input type="text" name='tuling_key' value="" class='w200'/></td>
					</tr>


				</table>
		
		</div>


 		<div>
 			<a href="javascript:;" onclick="window.history.back()" class=" btn btn-primary btn-lg">上一步</a>
 			<a id='book_install' href="javascript:;"  class=" btn btn-primary btn-lg">执行安装</a>
 			
 		</div>
 		</form>
        
<script>

$(function(){

    $('#book_install').click(function(){


    	$('#weixin').submit();

    })

})

</script>
<include file="Book:foot" />