<div class="container">
    <div class="row">
        <div class="col-sm-5">

            <div class="row rj-card" ng-repeat="add in vm.address.data">
                <div class="col-sm-6">
                    <div>{{add.province.name}}{{add.city.name}}{{add.county.DisName}}{{add.detail}}</div><p></p>
                    <div>邮政编码：{{add.postcode}}</div><p></p>
                    <div>收件人：{{add.name}}</div><p></p>
                    <div>联系电话：{{add.phone}}</div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default" ng-click="vm.goModify(add)">编辑</button><p></p>
                    <button class="btn btn-default" ng-click="vm.remove(add)">删除</button>
                </div>
            </div>
            <div class="row" ng-show="vm.address.edit.mode!=0">
                <div class="col-sm-12" style="margin-top: 1em;margin-bottom: 1em;">
                    <a ng-click="vm.goAdd()" class="btn btn-default col-sm-12">添加</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div id="edit" ui-view>
            </div>
        </div>
    </div>
</div>