html {
    min-height: 100%;
}

form {
    border: 1px dotted #FF0000;
    padding: 2px;
}

.FCK__Flash {
    border: darkgray 1px solid;
    background-position: center center;
    background-image: url(images/fck_flashlogo.gif);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.Smile {
    vertical-align: middle;
    border: none;
}