<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>yeepayszx</name>
            <displayName><![CDATA[YeePay易宝神州行支付]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[YeePay易宝神州行支付是只要是中国移动发行的能用于给神州行手机充值的卡（请注意：该卡的序列号为17位，密码为18位），就可以用于网上支付，因为每次支付的额度和神州行卡相等，建议点卡销售等使用，单次支付金额不能超过神州行卡的最大面值300元。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>