.o-remind-label,
.o-remind-persion,
.o-remind-delete,
.o-remind-link {
	display: inline-block;
	background-image: url('remind-icon.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.o-remind-label {
	background-position: 0 0;
}
.o-remind-persion {
	background-position: -16px 0;
}
.o-remind-delete {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	background-position: 0 -32px;
}
.o-remind-delete:hover {
	background-position: -16px -32px;
}
.o-remind-link {
	background-position: 0 -16px;
}
.remind-footer a:hover .o-remind-link {
	background-position: -16px -16px;
}

.remind-list{
	max-height: 310px;
	overflow-y: auto;
}
.remind-mainer {
	position: relative;
	padding: 20px;
	height: 468px;
}
.remind-list li {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #dadfe6;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	width: 390px;
	font-size: 12px;
	cursor: pointer;
}
.remind-list li:hover {
	background-color: #fffdfa;
}
.remind-list li:hover .o-remind-delete{
	display: block;
}
.remind-mainer--add{
	margin-top: 10px;
	padding: 15px;
	border: 1px solid #dadfe6;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	width: 380px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.remind-mainer--add:hover {
	background-color: #fffdfa;
	color: #3497db;
}
.remind-mainer--add:hover .o-plus {
	background-position: 0 -40px;
}

.remind-mainer--form {
	position: absolute;
	top: -470px;
	left: 20px;
	padding: 20px;
	width: 370px;
	border: 1px solid #dadfe6;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	background-color: #ffffff;
	z-index: 10;
}
.remind-form--item {
	margin-bottom: 20px;
}
.time-tpye-select {
	display: inline-block;
	margin-right: 10px;
	width: 150px;
}
.time-tpye-select.dn {
	display: none;
}
.remind-time-input,
.time-diff-select {
	width: 200px;
}
.remind-time-input.dn {
	display: none!important;
}
.remind-form--btns{
	padding-top: 20px;
	border-top:  1px solid #ebeff6;
}
.remind-form--btns .btn {
	padding: 9px 70px;
}
.remind-footer {
	padding-right: 20px;
	text-align: right;
}
