{extend name="../../../wstmart/admin/view/base" /}
{block name="js"}
<script src="__ROOT__/addons/cron/view/admin/crons.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<form id="editForm">
<table class='wst-form wst-box-top'>
  <tr>
      <th width='150'>计划任务名称：</th>
      <td style='line-height:30px;'>
           {$data['cronName']}
      </td>
  </tr>
  <tr>
      <th>计划任务描述：</th>
      <td style='line-height:30px;'>
        {$data['cronDesc']}
      </td>
  </tr>
  <tr>
      <th>定时任务网址：</th>
      <td style='line-height:30px;'>
        {$data['cronUrl']}
      </td>
  </tr>
 {if $data['cronJson']!=''}
 {volist name="$data['cronJson']" id='vj'}
  <tr>
      <th>{$vj['fieldLabel']}：</th>
      <td>
        <input type="text" id="{$vj['fieldCode']}" class="ipt" style='width:70%;' maxLength="255" value='{$vj['fieldVal']}' />
      </td>
  </tr>
  {/volist}
  {/if}
  <tr>
      <th>计划时间<font color='red'></font>：</th>
      <td class='layui-form'>
            <label>
               <input type='radio' name='cronCycle' value='0' id='cronCycle0' class='ipt' onclick='javascript:checkType(0)' {if $data['cronCycle']==0}checked{/if} title='每月'/>
            </label>
            <label>
               <input type='radio' name='cronCycle' value='1' id='cronCycle1' class='ipt' onclick='javascript:checkType(1)'  {if $data['cronCycle']==1}checked{/if} title='每周'/>
            </label>
            <label>
               <input type='radio' name='cronCycle' value='2' id='cronCycle2' class='ipt' onclick='javascript:checkType(2)'  {if $data['cronCycle']==2}checked{/if} title='每日'/>
               
            </label>
    </td>
  </tr>
  <tr class='cycle0 cycle' {if $data['cronCycle']!=0}style='display:none'{/if}>
    <th>日期<font color='red'></font>：</th>
    <td>
            <select id='cronDay' class='ipt'>
               {for start="1" end="32"}
               <option value='{$i}' {if $data['cronDay']==$i}selected{/if}>{$i}日</option>
               }
               {/for}
            </select>
    </td>
  </tr>
  <tr class='cycle1 cycle' {if $data['cronCycle']!=1}style='display:none'{/if}>
    <th>星期<font color='red'></font>：</th>
    <td>
            <select id='cronWeek' class='ipt'>
                 <option value='1' {if $data['cronWeek']==1}selected{/if}>星期一</option>
                 <option value='2' {if $data['cronWeek']==2}selected{/if}>星期二</option>
                 <option value='3' {if $data['cronWeek']==3}selected{/if}>星期三</option>
                 <option value='4' {if $data['cronWeek']==4}selected{/if}>星期四</option>
                 <option value='5' {if $data['cronWeek']==5}selected{/if}>星期五</option>
                 <option value='6' {if $data['cronWeek']==6}selected{/if}>星期六</option>
                 <option value='0' {if $data['cronWeek']==0}selected{/if}>星期日</option>
            </select>
    </td>
  </tr>
  <tr>
    <th>小时<font color='red'></font>：</th>
    <td>
            <select id='cronHour' class='ipt'>
               <option value='-1' {if $data['cronHour']==-1}selected{/if}>每小时</option>
               {for start="0" end="24"}
               <option value='{$i}' {if $data['cronHour']==$i}selected{/if}>{$i}时</option>
               }
               {/for}
            </select>
    </td>
  </tr>
  <tr>
    <th>分钟<font color='red'></font>：</th>
    <td>
            <input type="text" id="cronMinute" class="ipt" style='width:70%' maxLength="255" value='{$data['cronMinute']}' />(如多个分钟则以,分隔，-1表示每分钟)
    </td>
  </tr>
  <tr>
    <th>计划任务状态<font color='red'></font>：</th>
    <td class='layui-form'>
        <input type="checkbox" style='width:80px;' {if $data['isEnable']=='1'}checked{/if} class="ipt" name="isEnable" id='isEnable' lay-skin="switch" title="开关" value='1' lay-text="启用|停用">
    </td>
  </tr>
  <tr>
      <td colspan='2' align='center'>
      	    <button type="button" onclick='javascript:edit({$data['id']+0},{$p})' style='margin-right:15px;' class='btn btn-primary btn-mright'><i class="fa fa-check"></i>提交</button>
            <button type="button" onclick="javascript:location.href=WST.AU('cron://cron/index','p={$p}')" class='btn'><i class="fa fa-angle-double-left"></i>返回</button>
      </td>
  </tr>
</table>
</form>
{/block}

