#loginform input.inputText, #loginform input.inputPassword{ width:140px;}
#m #setmod{ margin-left:480px;}
#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{margin-left:-260px;}


#header,#banner,#content{width: 960px;}
#header{ height:169px;  background:url("images/header_bg.png") no-repeat center; }
#footer{ width:960px; }
.plinks .mbd li{ margin:12px 0  0 15px;}
.prodt .mbd li{ margin:20px 24px 0 18px;}

span.manage, span.del{ color:#999;}
.ui-sortable .mhd span.del, .mhd span.manage{color:#999;}

.col-extra{ display:none;}
.mhd button{ color:#fff;}
.contact_con dt{color:#9e895f;}
.col-sub .sinner{background:#cbc1a6;color:#fff;}
.mbd{ color:#5b5b5b;}
.mhd span a:link, .mhd span a:visited{ color:#bfb39c;}
.mhd span{ padding-right:35px;}
.col-main .r{ padding-right:20px;}

.layout  .xtop{ background:url("images/layout_xtop_bg.png") no-repeat top; height:25px; width:961px;}
.plinks .mbd{ padding-left:7px; }
/*body*/
body{color:#fff;}
.tbbd{color:#fff;}
.hwrap{background:url("images/bg.png") repeat-x;}
.col-sub {background:url("images/colSubBottom.png") no-repeat bottom;padding-bottom:10px; margin-bottom:10px;}
.col-sub .bg{background:url("images/colSubTop.png") no-repeat top;padding-top:6px;}



.cwrap{ background:url("images/cwrapbg.png")  repeat-y; padding-bottom:30px; padding-top:5px;}

.col-sub span,.col-sub .contact ul li,.col-sub .job a:link,.col-sub .job a:visited,.col-sub .job a:hover,.col-sub .job a:focus,.col-sub .tlinks a:link,.col-sub .tlinks a:visited,.col-sub .tlinks a:hover,.col-sub .tlinks a:focus,.col-sub .kfonline a:link,.col-sub .kfonline a:visited,.col-sub .kfonline a:hover,.col-sub .kfonline a:focus,.col-sub .cl a:link,.col-sub .cl a:visited,.col-sub .cl a:hover,.col-sub .cl a:focus{ color:#fff;}

a:link,a:visited{color:#5b5b5b;}
a:hover,a:focus{color:#5b5b5b;}
input,textarea{border-top:1px #eeeae1 solid;border-left:1px #eeeae1 solid;border-right:1px #eeeae1 solid;border-bottom:1px #eeeae1 solid; background:#fff;}
.job_con table,.guest table {border-top:1px solid #eeeae1;border-left:1px solid #eeeae1;border-right:1px solid #eeeae1;}
.job_con td,.guest td{background:#fffefe;border-bottom:1px solid #eeeae1;}
.job_con th,.guest th{background:#f6f3ec;border-bottom: 1px solid #eeeae1;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;color: #76756f; height:90px; line-height:90px;}
#header h1 img{ padding-top:10px;} 
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a:link,.menu span a:visited{ color:#f7e7c5; }

.nav{ height:43px;line-height:43px ;padding-left:210px;overflow:hidden;}
.nav li{ background:url("images/line.png") no-repeat 0 center;}
.nav .last{ background:none;}
.nav .first{background:none;}

.nav li a{font-weight:bold;width:108px;text-align:center; height:43px;}

.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;background:#393939;border-bottom:1px #fff solid; display:none; }
.navlist ul li a{font-weight:bold;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat 0 top;   }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#ffffff;}
.nav a:hover,
.nav a.active{color:#2c2c2c;font-weight:bold;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#2c2c2c; }
.nav li.active ul a:hover{background:none;}

#banner{ border:1px solid #d7d7d7;  padding-top:5px;padding-bottom:5px;}


/*content*/

.col-main .mbox{ background:url("images/contentTop_bg.png") no-repeat top; padding-top:10px; }
.main-wrap .mbox{padding:2px 0px 1px;}
.mhd{ background:url("images/mhd_bg.png") repeat-x center;  }
.col-sub .mhd{background:url("images/mhdbg.png")  no-repeat bottom; height:28px; line-height:28px; }

.col-main .mbox .contact_con{ background:url("images/contentBottom_bg.png") no-repeat bottom; padding-bottom:10px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 20px center;padding-left:35px; color:#9e895f; }
.down_list .mhd h3 ,.job .mhd h3,.contact .mhd h3, .tlinks .mhd h3,.kfonline .mhd h3,.cate_list .mhd h3,.login .mhd h3{color:#9e895f;padding-left:45px; line-height:28px; background:url("images/sico01.png") no-repeat  20px  center;   }
.col-sub .mbd span a{ color:#bfb39c;}

.plinks .mhd,.news .mhd,.profile .mhd,.prodt .mhd,.profile_con .mhd,.seabox .mhd,.prodt_list .mhd, .feedback_con .mhd,.job_con .mhd,.prodt_con .mhd,.minHeight .mhd,.culture_con .mhd,.notice_con .mhd{background:url("images/mhd_bg.png") no-repeat center;height:30px;}
.col-main .mhd h3,.plinks .mhd h3,.news .mhd h3,.profile .mhd h3,.prodt .mhd h3{width:200px; color:#9e895f; line-height:30px; padding-left:45px;background:url("images/sico01.png") 15px no-repeat ;  }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:5px;}

.feedback a{width:236px;background:url("images/feedback.png") no-repeat;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #ccc dotted;}
.news li span,.seabox li span{color:#5b5b5b;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #cbc1a6 solid;}
.notice_con p.active{background:#f6f4ed;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px ##A63030 dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#2b2b2b;}
.down_list .mbd li h2{border-bottom:1px #dfd9c8 dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px; color:#fff;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/col-sub_mbd_bg.png") no-repeat; color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #cbc1a6 solid;}
.title h2{color:#676767;}
.title p{color:#676767;}
/*g_page*/
.g_page .page{ color:#f7e7c5;}
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#99b17d;color:#fff;border:1px #c9d1b7 solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;height:30px;}
.item span{color:#676767;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#000;width:58px;height:23px;}
.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#2c2c2c;}
.fwrap{background:url("images/layout_xbottom_bg.png") repeat-x; height:95px;}
#footer {color: #2c2c2c; background:url("images/footer.png") no-repeat;}
#footer p{ padding-top:15px;}
#footer a:link, #footer a:visited {color: #2c2c2c;}
#footer a:hover {color: #2c2c2c;}
#footer .support a:link, #footer .support a:visited{color: #2c2c2c;}
