*{padding:0; margin:0}
html, body{width:100%; height:100%}
body{height:100%; font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif; overflow:hidden; z-index:1}
body.showmenu{background: url(../images/left_bg.png) 0 0 repeat-y}
body.hidemenu{background:none}
ul{list-style:none}

body{
scrollbar-arrow-color: #9ce1f5; /*上下按钮上三角箭头的颜色*/
scrollbar-face-color: #9ce1f5; /*滚动条凸出部分的颜色*/
scrollbar-3dlight-color: #ffffff; /*滚动条亮边的颜色*/
scrollbar-highlight-color:  #ffffff; /*滚动条空白部分的颜色*/
scrollbar-shadow-color:  #ffffff; /*滚动条阴影的颜色*/
scrollbar-darkshadow-color:  #ffffff; /*滚动条强阴影的颜色*/
scrollbar-track-color:  #ffffff; /*滚动条背景颜色*/
scrollbar-base-color:  #ffffff; /*滚动条的基本颜色*/
}

/*---滚动条默认显示样式--*/  
::-webkit-scrollbar-thumb{background-color:#9ce1f5;   height:50px; outline-offset:0px; outline:0px solid #fff;  border: 2px solid #fff;  
}  
/*---鼠标点击滚动条显示样式--*/  
::-webkit-scrollbar-thumb:hover{background-color:#9ce1f5; height:50px; }  
/*---滚动条大小--*/  
::-webkit-scrollbar{width:17px;height:8px; }  
/*---滚动框背景样式--*/  
::-webkit-scrollbar-track-piece{background-color:#fff; }
.head{width:100%; height:50px; overflow:hidden; z-index:8; position:relative; background:#101010; border-bottom:3px solid #358020;}
.head .top_logo{float:left; width:180px; height:50px; padding-top:0px; text-align:left;background:url(../images/logo.png) no-repeat;}
.head .top_link{ height:30px; line-height:30px;float:right; padding:14px 10px 0 0; color:#ffffff; overflow:hidden; margin-right:10px;}
.head .top_link ul{float:left; padding:0px; line-height:32px; overflow:hidden}
.head .top_link ul li{float:left; color:#ffffff;background:url(../images/main_link_ico.png) no-repeat; text-indent:20px; text-align:left; font-weight:bold;}
.head .top_link ul li#i_self{background-position:0 7px;}
.head .top_link ul li#i_hide_menu{width:80px;background-position:0 -143px;}
.head .top_link ul li#i_home{width:50px; background-position:0 -43px;}
.head .top_link ul li#i_exit{width:50px; background-position:0 -93px;}
.head .top_link ul li#i_help{width:50px;background-position:0 -183px;}
.head .top_link ul li a{color:#ffffff; text-decoration:none;font-weight:bold;}

.nav{float:left; text-align:center; margin:0 auto;}
.nav ul li{float:left; display:block;font-weight:bold; font-size:12px; padding-left:16px;}
/*只针对单图png,不支持背景定准
.nav ul li a{float:left; background:#22b7eb url(../images/main/ico_bg.png) no-repeat center 5px; width:70px; height:57px; line-height:57px; color:#ffffff; text-decoration:none; text-align:center;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop,src='http://yang.com/ico_bg.png');_ background-image: none;}
*/
.nav ul li a{float:left;width:85px; height:50px; line-height:50px; color:#ffffff; text-decoration:none; text-align:center;}
.nav ul li a b{ display:block;padding-top:20px; line-height:20px; font-weight:normal;font-size: 16px;font-weight: bold;}
.nav ul li a:hover{ background-color:#358020;}
.nav ul li a.thisclass, .nav ul li a.thisclass:hover{ width:120px; background-color:#4BB22D; color:#fff}
.nav ul li#menu_order a{background-position: center -95px;}
.nav ul li#menu_search a{background-position: center -195px;}
.nav ul li#menu_count a{background-position: center -293px;}
.nav ul li#menu_banner a{background-position: center -365px;}

body.showmenu .left{display:block}
body.hidemenu .left{display:none}
body.showmenu .right{left:195px}
body.hidemenu .right{left:0px}

.left{position:absolute;top:52px;width:187px;left:0px;bottom:0px;z-index:7;overflow-x:hidden;overflow-y:auto; }
.left{*height:100%;*top:-10px;*bottom:0;*border-top:63px solid #FFF;*border-bottom:0px solid #FFF;*z-index:1;}
.right{position:absolute;right:0;top:53px;bottom:0px;z-index:7;}
.right{*height:100%;*top:-10px;*bottom:0;*border-top:63px solid #FFF;*border-bottom:0px solid #FFF;*z-index:1;}
.rightContent{height:100%;}
.rightContent iframe{height:100%;width:99.99%;z-index:20;}
.left .span{background:#ffffff; height:5px; width:100%; overflow:hidden;}

.menu div{display:none}
.menu dl{float:right; width:187px; margin-top:0px;margin-bottom:5px; display:inline; font-size:14px}
.menu dl dt{float:right; width:187px; height:30px;  text-indent:45px; line-height:30px; font-weight:bold; color:#fff; display:block; background:#5dc041 url(../images/ico_small.png) no-repeat right 10px; overflow:hidden; cursor:pointer; clear:both}
.menu dl dd{clear:both; padding-top:5px}
.menu dl dd ul li{float:right; width:170px; text-indent:30px; height:26px; line-height:26px; *margin-right:-4px; overflow:hidden; display:block; font-size:12px}
.menu dl dd ul li a{overflow:hidden; display:block; color:#333; text-decoration:none}
.menu dl dd ul li a:hover{color:#004b8d; background-color:#eef5ff; border:1px solid #acbbc5; border-right-width:0px; height:24px;}
.menu dl dd ul li a.thisclass, .menu dl dd ul li a.thisclass:hover{color:#333; font-weight:bold; background:#ffffff url(../images/ico_small.png) no-repeat right -90px; border:1px solid #acbbc5; border-right-width:0px; height:24px;}

.qucikmenu{position:absolute; right:10px; top:50px; z-index:9; display:none}
.qucikmenu ul{width:110px; list-style:none; border:1px solid #E7E7E7; background:#FFF}
.qucikmenu ul li{display:block; text-align:left}
.qucikmenu ul li a{height:29px; line-height:29px; display:block; color:#666; padding-left:10px; padding-right:10px; text-decoration:none}
.qucikmenu ul li a:hover{text-decoration:none; background:#F7F7F7}
.pagemask{width:100%; height:100%; background:#000; position:absolute; z-index:100; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; display:none}
.iframemask{position:absolute; z-index:80; top:0; left:0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; height:100%; width:100%; display:none}

