* {
	PaDDING-BOTTOM: 0px; MaRGIN: 0px; PaDDING-LEFT: 0px; PaDDING-RIGHT: 0px; PaDDING-TOP: 0px
}
html {
	WIdth: 100%; HEIGHT: 100%
}
body {
	PaDDING-BOTTOM: 0px; MaRGIN: 0px; PaDDING-LEFT: 0px; PaDDING-RIGHT: 0px; FONT-FaMILY: arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #333; FONT-SIZE: 10pt; PaDDING-TOP: 0px; background:#101010;
}
html {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
body {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
.dis {
	DISPLaY: none
}
.block {
	DISPLaY: block
}
img {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}

body#index {
	BORDER-LEFT: #0065af 200px solid
}
body#page {
	HEIGHT: auto; BORDER-TOP: #0065af 60px solid
}
a {
	COLOR: #0d324f
}
#loginForm input {
	BORDER-BOTTOM: #ECECEC 1px solid; BORDER-LEFT: #ECECEC 1px solid;  HEIGHT: 30px; FONT-SIZE: 16px; font-family: arial,Helvetica,sans-serif;color: rgb(51, 51, 51); OVERFLOW: hidden; BORDER-TOP: #ECECEC 1px solid; BORDER-RIGHT: #ECECEC 1px solid
}
.action {
	COLOR: #ff0000
}
#loginForm input.checkbox {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; HEIGHT: auto; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#loginForm textarea {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; BaCKGROUND: #f4f4f4; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
select {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; BaCKGROUND: #f4f4f4; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
table {
	MaRGIN: 8px auto; BORDER-COLLaPSE: collapse
}
th {
	BORDER-BOTTOM: #ddd 1px dotted; BORDER-LEFT: #ddd 1px dotted; PaDDING-BOTTOM: 6px; PaDDING-LEFT: 6px; PaDDING-RIGHT: 6px; BORDER-COLLaPSE: collapse; VERTICaL-aliGN: middle; BORDER-TOP: #ddd 1px dotted; BORDER-RIGHT: #ddd 1px dotted; PaDDING-TOP: 6px
}
td {
	BORDER-BOTTOM: #ddd 1px dotted; BORDER-LEFT: #ddd 1px dotted; PaDDING-BOTTOM: 6px; PaDDING-LEFT: 6px; PaDDING-RIGHT: 6px; BORDER-COLLaPSE: collapse; VERTICaL-aliGN: middle; BORDER-TOP: #ddd 1px dotted; BORDER-RIGHT: #ddd 1px dotted; PaDDING-TOP: 6px
}
th {
	BaCKGROUND: #dfdfdf
}
td {
	BaCKGROUND: #f1f1f1
}
table td span {
	COLOR: #999999
}
H1 {
	BORDER-BOTTOM: #fff 3px solid; POSITION: absolute; PaDDING-BOTTOM: 16px; PaDDING-LEFT: 20px; WIdth: 1000%; PaDDING-RIGHT: 0px; BaCKGROUND: #0065af; COLOR: #fff; FONT-SIZE: 12pt; TOP: 0px; PaDDING-TOP: 23px; LEFT: 0px
}
.title {
	BORDER-BOTTOM: #d0d0d0 3px solid; liNE-HEIGHT: 36px; PaDDING-LEFT: 20px; BaCKGROUND: url(h2Bg.gif) repeat-x left top; COLOR: #333; FONT-SIZE: 12px
}
#loginForm {
	BORDER: #CCCCCC 3px solid; POSITION: absolute; MaRGIN: -150px 0px 0px -200px; WIdth: 400px; background-color: #FFFFFF; HEIGHT: 380px; TOP: 40%; LEFT: 50%
}
#loginForm H3 {
	MaRGIN: 0px 0px 30px;color:#FFFFFF; padding: 7px 0px 8px 18px; background:#44B549;
}
#loginForm label {
	PaDDING-BOTTOM: 8px; PaDDING-LEFT: 40px; PaDDING-RIGHT: 40px; DISPLaY: block; PaDDING-TOP: 8px
}
#loginForm label span {
	POSITION: absolute; PaDDING-BOTTOM: 0px; PaDDING-LEFT: 0px; PaDDING-RIGHT: 0px; DISPLaY: block; PaDDING-TOP: 8px
}
#loginForm label .input {
	MaRGIN: 0px 0px 0px 70px; WIdth: 200px;
}
#loginForm label .input:focus {
    border: 1px solid  #B3E1a5;
}
#loginForm label .input2 {
	MaRGIN: 0px 0px 0px 70px; WIdth: 120px
}
#loginForm #submit {
	MaRGIN-TOP: 20px; PaDDING-LEFT: 110px
}
#loginForm .bt {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIdth: 87px; HEIGHT: 35px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
#registerForm {
	MaRGIN: 0px auto; WIdth: 800px
}
#siteCopyRight {
	POSITION: absolute; TEXT-aliGN: center; MaRGIN: 160px 0px 0px -100px; WIdth: 200px; DISPLaY: block;TOP: 43%; LEFT: 50.6%;
}
#nav {
	POSITION: absolute; TOP: 60px; LEFT: 0px
}
#nav li a {
	BORDER-BOTTOM: #d0d0d0 3px solid; PaDDING-BOTTOM: 10px; PaDDING-LEFT: 10px; WIdth: 180px; PaDDING-RIGHT: 10px; DISPLaY: block; BaCKGROUND: #dfdfdf; COLOR: #333; FONT-WEIGHT: bold; TEXT-DECORaTION: none; PaDDING-TOP: 10px
}
#nav li a:hover {
	BaCKGROUND: #ff9834; COLOR: #fff; BORDER-RIGHT: #e87200 3px solid
}
#nav li dl dt a {
	BaCKGROUND: #585858; COLOR: #ffffff
}
#nav li dl dt a:hover {
	BaCKGROUND: #666; COLOR: #e87200
}
#nav H2 {
	BORDER-BOTTOM: #d0d0d0 3px solid; PaDDING-BOTTOM: 8px; PaDDING-LEFT: 20px; WIdth: 180px; PaDDING-RIGHT: 0px; BaCKGROUND: url(h2Bg.gif) repeat-x left top; COLOR: #333333; FONT-SIZE: 12pt; PaDDING-TOP: 10px; LEFT: 0px
}
#userInfo {
	POSITION: absolute; TEXT-aliGN: right; WIdth: 100%; COLOR: #fff; TOP: 38px; RIGHT: 20px
}
#userInfo a {
	COLOR: #ffffff; TEXT-DECORaTION: none
}
#userInfo a:visited {
	COLOR: #ffffff; TEXT-DECORaTION: none
}
#fr {
	BORDER-LEFT: #dfdfdf 3px solid; PaDDING-BOTTOM: 0px; MaRGIN: 0px; PaDDING-LEFT: 0px; PaDDING-RIGHT: 0px; PaDDING-TOP: 0px
}
#pageFlip {
	TEXT-aliGN: center; PaDDING-BOTTOM: 6px; MaRGIN: 3px auto; PaDDING-LEFT: 6px; PaDDING-RIGHT: 6px; BaCKGROUND: #efefef; FLOaT: none; CLEaR: both; FONT-WEIGHT: bold; PaDDING-TOP: 6px
}
.blocklist li {
	liST-STYLE-TYPE: none; DISPLaY: inline; liST-STYLE-IMaGE: none
}
.blocklist li a {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-aliGN: center; BORDER-LEFT: #ccc 1px solid; PaDDING-BOTTOM: 18px; MaRGIN: 10px; PaDDING-LEFT: 18px; WIdth: 200px; PaDDING-RIGHT: 18px; DISPLaY: block; BaCKGROUND: #efefef; FLOaT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PaDDING-TOP: 18px
}
.blocklist li a:hover {
	BaCKGROUND: #ccc
}
.counts span {
	FONT-WEIGHT: bold
}
.skin {
	PaDDING-LEFT: 50px
}
.skin ul li {
	liNE-HEIGHT: 30px; liST-STYLE-TYPE: none
}

.submit{ width:200px;  height:35px; line-height:30px; background:#44B549;border-radius: 5px 5px 5px 5px; color:#FFFFFF; font-weight:bold;}