@charset "utf-8";
/* 前台 */
html{overflow-y:hidden; overflow-x:hidden; font:12px "Microsoft Yahei", Arial,'宋体', Helvetica,sans-serif;}
body{line-height:165%; margin:0; padding:0; color:#666; font:12px "Microsoft Yahei", Arial,'宋体',Helvetica,sans-serif;}
form,ul,ol,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; border:none; list-style-type:none; font-size:24px;}
img{border:none;}
a:link, a:visited{text-decoration:none;color:#2c619e;}
a:hover{color:#0487bb; text-decoration:none;}
select,button,input{font:12px "Microsoft Yahei",  Arial,'宋体', Helvetica,sans-serif;}
table{empty-cells:show; border-collapse:collapse;}
.c{clear:both; padding:0;margin:0;height:0; overflow:hidden;}
.left{float:left;}
.right{float:right;}
/*
.loginHeader{position:absolute; top:15px; left:30px; height:100px; overflow:hidden;}
*/

.login{width:400px; margin:0 auto; background:#fff; box-shadow:0 0 10px 8px rgba(0,0,0,0.25);}
.login h1{text-align:center; height:80px; background:#fff url(../images/c_c_logo.png) center -75px no-repeat;}
.login h1 cite{width:0;height:0; display:block; overflow:hidden;}
.login ul{margin:5px 20px;}
.login ul p{margin:5px 0; padding:5px;  height:42px; line-height:42px; }
.login ul label{display:block; height:42px; line-height:42px; position:absolute;}
.login ul label .codeimg{float:left; margin:3px 0 0 5px;} /* 验证码图片 */

.login ul label input:hover{border:1px solid #b4d0e5; box-shadow:0 0 6px 2px rgba(0,150,200,0.25);}
.login ul label input#name{background-position:0 0;}
.login ul label input#phone{background-position:0 -240px;}
.login ul label input#password{background-position:0 -40px;}
.login ul label input#code{background-position:0 -80px; width:250px;}
.login ul label input::-webkit-input-placeholder{color:#999; font-size:16px; font-weight:normal;}/* webkit 浏览器*/
.login ul label input::-moz-placeholder {color:#999; font-size:16px; font-weight:normal;}	/* 火狐浏览器 */


.login ul label input:hover#name{background-position:0 -120px;}
.login ul label input:hover#password{background-position:0 -160px;}
.login ul label input:hover#phone{background-position:0 -280px;}
.login ul label input:hover#code{background-position:0 -200px; width:250px;}

.login ol{background:#f6f6f6;margin:10px 0 0 0; padding:10px; text-align:center;}
.login ol p{margin:10px 0;}
.login ol p a{font-size:14px; margin:10px;}
.login ol p button{line-height:36px; height:36px; display:inline-block; border:none; padding:0 20px; background:#333; color:#fff; font-size:18px; text-align:center; cursor:pointer; overflow:hidden;}
.login ol p button:hover{background:#f20;}

.footer{margin:50px 0 0 0;  width:100%; height:30px; line-height:30px; margin:0; position:fixed; _position:absolute; left:0; bottom:0; overflow:hidden;opacity:0.80;-moz-opacity: 0.80;filter:alpha(opacity=80);background:#222;}
.footer ul{text-align:center;}
.footer ul span{margin:0 10px; color:#fff;}
.footer ul span strong{margin:0 5px; font-weight:normal;}
.footer ul a:link, .footer ul a:visited{text-decoration:underline;color:#fff;}
.footer ul a:hover{color:#333; text-decoration:none;}

/* IE6提示 */
.ie6{width:420px; background:#fff; padding:10px 20px; font-size:16px; line-height:155%; border:5px solid #ccc;}
.ie6 h3{height:50px; line-height:50px; padding:0 10px; font-size:18px; overflow:hidden; border-bottom:1px solid #ccc;}
.ie6 ul{margin:30px 10px;}
.ie6 ul li{margin:15px 0;}
.ie6 ul li.liRight{text-align:right;}
.ie6 ul li  a:link, .ie6 ul li  a:visited{text-decoration:underline;color:#04729d; margin:0 5px; font-weight:bold;}
.ie6 ul li  a:hover{color:#f60; text-decoration:underline;}