body{padding: 0;margin: 0;}
body, td {font: 12px "Lucida Grande",Verdana,Lucida,Helvetica,Arial,'Simsun',sans-serif;}
div, form, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,  fieldset, input, textarea, p, blockquote, th, td {
padding: 0;margin: 0;}
input,select{
vertical-align: middle;
}
ol, ul, li{list-style: none; margin: 0; padding: 0;}
a.textline {text-decoration: underline;}
textarea{
border: 1px solid #D4D4D4;
padding-left: 3px;
padding-top:5px;
}
.main{ margin-top:-12px; margin-left:10px; margin-right:10px; border:1px solid #CCCCCC}
.left{float:left;}
.right{float:right;}
.left_pad{float:left; padding-left:20px;}
/***字体颜色***/
.disable{color:#a7a7a7;}

.btn_blue, .btn_orange, .btn_green,.btn_blue_b, .btn_green_b{background:#68ce4a;
height:26px;line-height:1.8em;
padding:0px 15px; margin:2px;
border:0px;/*border-radius: 5px;*/
color:#fff;font-size:14px; cursor: pointer; 
}
.btn_blue, .btn_orange, .btn_gr,.btn_blue_b, .btn_gr_b{background:#68ce4a;
height:26px;line-height:1.8em;
padding:0px 15px; margin:2px;
border:0px;/*border-radius: 5px;*/
color:#fff;font-size:14px; cursor: pointer; 
}
.btn_blue:hover, .btn_blue_b:hover {background-color: #0084c9;}
.btn_orange {background-color: #e4570d;}
.btn_orange:hover {background-color: #c13b00;}

.btn_green,.btn_green_b {background-color: #5bcf60;}
.btn_green:hover, .btn_green_b:hover {background-color: #079b04;}

.btn_gr,.btn_gr_b {background-color: #079b04;}
.btn_gr:hover, .btn_gr_b:hover {background-color: #5bcf60;}

.btn_blue_b,.btn_green_b{ height: 30px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

/***输入框***/
.inp_default {width: 245px;height:24px; line-height:24px;border: 1px solid #dcdcdc;margin:2px;}
.inp_one, .inp_small, .inp_large, .inp_w250{width:200px;height:28px; line-height:28px; padding:0px 3px; border:solid 1px #CCCCCC; background:#fff; vertical-align: middle;}
.inp_one.readonly ,.inp_large.readonly {background: #F3F3F3; color:cccccc;}
.inp_w250{width: 250px;}
.inp_small{width:100px;}
.inp_large{width:390px;}
.tarea_default{width:600px; height:90px; font:14px/1.5 "sans serif",tahoma,verdana,helvetica;}
/***错误信息***/
.error{font-size: 12px; color: red;}
/***位置***/
.pos{ height:35px; line-height:35px; background: url("../images/ico/home.png") no-repeat left center; 
font-size:14px; font-weight:bold; color:#0084c9; border-bottom:1px solid #cccccc; margin:5px; text-indent:20px;}
.h3{padding:5px; margin-top: 10px; border-left:5px #4CB32E solid; border-bottom:1px dotted #ccc; font-size:14px; font-weight:bold; color:#666;}
/**子栏目**/
.sub{line-height: 180%; border: 1px solid #ccc; margin: 5px; font-size: 13px;}
.sub a{padding: 0px 0px 0px 10px;}
.sub span{padding: 0px 0px 0px 5px; color: #999;}
/***********操作****************/
.operate{ float:left;padding: 10px; display: block; clear:both;}

/***********列表****************/
.list{margin:10px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;clear: both;}
.list table{border-collapse: collapse; border-spacing: 0;}
.list tr.currow{background-color:#e9fbe1;}

.list th,.list .th{height: 32px;
border:1px solid #cccccc; border-width:1px 0px; font-weight: bold; background:#eeeeee; padding:0px 10px; font-size:12px;}
.list .th{border-top: none; text-align: right; line-height: 32px; padding:0px 10px; background: none;}
.list td {height: 32px;border:1px solid #cccccc; border-width:1px 0px; text-align: center;padding:0px 10px; color:#000000;}
.list .aleft{text-align: left;}
.list .aleft a{font:13px "Lucida Grande",Verdana,Lucida,Helvetica,Arial,'Simsun',sans-serif;}
.list td a{ margin:0px 5px;}

/**Guestbook**/
.guestbook th{ text-align: left; line-height: 160%;}
.guestbook td{ text-align: left; line-height: 160%; border-left: 1px dashed #ccc;}
.guestbook .reply{color: red;}


/**************from表单**********************/
.form{ padding:10px; margin-left:6px;}
.listtop,.listbottom{   margin-left: 10px; }
.listtop{margin-top: 10px;border:1px  solid #CCCCCC;border-bottom: none;padding-left: 10px; padding-bottom: 15px;width: 710px;background: #F5F5F5;}
.con_edit{margin: 10px;}
.form_top{padding-left: 10px; padding-bottom: 15px;}
.form dl {overflow: hidden;zoom: 1;padding-top: 15px;}
.form dt {float: left;width: 12%;font-size: 12px;padding: 3px 0 0 0;color: #666; height:22px; line-height:22px;}


.form dd select, .form dd input {vertical-align: middle;}
.form dd .logo{border: 1px solid #D4D4D4;}
.form dd .wxqrcode{width: 80px;height: 80px;border: 1px solid #D4D4D4;}
.form dd p {clear: both;color: #A0A0A0;padding: 4px 0 0 0;line-height: 16px;}
.form dd .tip{ display:inline-block; height:26px; line-height:26px; padding:0px 3px 0px 5px;}
.form_b {text-align: left;padding: 20px 0 45px 165px;}
.form .btn7 {margin-left: 10px;}


/***********权限组*************************/

#wrap{ width: 94%;height: auto; overflow: hidden; margin: 20px auto; padding: 10px 20px;}

#wrap .app{padding: 10px; margin-top: 0px; border: 1px solid #f6f6f6;  border-radius:4px;}

#wrap .app p{height: 30px; line-height: 30px;}
#wrap .app p strong{font-size: 20px; color: #0b99d8;}
#wrap .app dl{margin:10px 0; border: 1px solid #dcdcdc; height: auto;  overflow: hidden;}
#wrap .app dl dt {display: block; height: 30px; line-height: 30px;  background: #e7e7e7; padding:0px 5px;}
#wrap .app dl dt strong{font-size:16px;color:#0b99d8; }
#wrap .app dl dd{height: 30px; line-height: 30px; padding:0px 5px; float: left;}

#wrap .app input{line-height: 30px;}
#wrap .app .disable{ border: 1px dashed #666666;}


/*图片上传*/
.litpic_show, .file_show{margin:5px 5px 5px 0px;}
.litpic_btn, .file_btn, .btn_up{width:80px; height:30px;  font-size: 14px;
position: relative;overflow: hidden;line-height:30px;color:#fff;
text-align:center;vertical-align:middle;cursor:pointer;
background-color:#2ca22c;border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;
border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; margin: 5px;}
.litpic_btn input, .file_btn input, .btn_up input{position: absolute;top: 0; right: 0; margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); 
cursor: pointer;}

.litpic_tip, .picture_tip, .file_tip{line-height:22px; margin:10px 0; padding:0px 5px; font-size:12px;background-color: #b1ebb1;}
.picture_item{width:120px; height:120px; border: 1px solid #cccccc; padding: 5px; float: left; position: relative; overflow: hidden; }
.picture_item img{position: relative; z-index: 1;}
.picture_item .picture_del{width:43px; height: 20px; text-align: center; font-size: 12px; color:#ffff66; cursor:pointer;  background-color: #ff6600; position:absolute; z-index: 2; right: 5px; bottom: 5px;display: none;}
.picture_item .picture_go_up{width:40px; height: 20px; font-size: 12px; cursor:pointer; background-color: #fff; position:absolute; z-index: 2; left: 5px; top: 50%; display: none;}

/*browse file*/
.bf_picture_preview{max-width: 80%; display: none; overflow: hidden;position:fixed;left:0;top:0; z-index:10;} 
/* IE6浏览器的特有方法 */
*html .bf_picture_preview{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}



/*后台首页*/
.column {width: 49%;float: left;margin-right:12px;}
.column_right {width: 49%;float: left;margin-right:10px;}
.right_style{ margin-top:-4px;}
.dbox {
border: 1px solid #eee;
width: 98%;
margin-left: 1%;
margin-top: 8px;




}
.dbox a{color: #fff;}
.winbg1{background-color:#EDFBFF; border-top:3px solid #B8C8D2;}
.winbg2{background-color:#EDFBFF; border-top:3px solid #B8C8D2;}
.winbg3{background-color: #da532d; border-top:3px solid #B8C8D2;}
.winbg4{background-color: #5838b2;
background-image: -webkit-gradient(linear, left top, left bottom, from(#5838b2), to(#8154ff)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #5838b2, #8154ff); /* Chrome 10+, Saf5.1+ */
background-image: -moz-linear-gradient(top, #5838b2, #8154ff); /* FF3.6 */}
.winbg5{background-color:#EDFBFF; border-top:3px solid #B8C8D2;}
.winbg7{background-color:#EDFBFF; border-top:3px solid #B8C8D2;}
.winbg6{background-color: #b61b44;}


.dbox dt.lside {
font-size: 14px; font-weight:bold;/*color:#0084c9*/;
border-bottom: 0px solid #ccc;
}
.dbox dt {
height: 28px;
line-height: 28px;
font-weight: bold;
color: #4D6C2F;
cursor: move;
}
.dbox dt .l {
float: left;
padding-left: 8px;
}
.dbox dt .r {
float: right;
padding-right: 8px;
font-weight: normal;
}
.dbox dt .r a{padding: 0px 5px;}
.dbox dd .content{padding: 7px; line-height: 160%; margin-top:-10px;}
.dbox dd #quickmenu{padding: 7px; line-height: 160%;}
.dbox dd #quickmenu li{float: left; text-indent: 30px;}
.dbox dd .content a:hover{color:#FFFF00;}
/***debug***/
.clear{clear: both;}
.red {color: #D90000;}
.white{color: #FFF;}
.readonly{background: #F3F3F3;}

.thumb {
width: 245px;
height: 24px;
line-height: 24px;
border: 1px solid #CCCCCC;
background: #FFF;
padding-left: 3px;

}
select{
vertical-align: middle;
background: none repeat scroll 0 0 #F9F9F9;
border-color: #666 #CCC #CCC #666;
border-style: solid;
border-width: 1px;
color: #333;
padding: 2px;
}

.page{height:30px; overflow:hidden; text-align:center; padding-top:5px; line-height:21px; border-bottom: 1px solid #ccc; font-weight: normal;}
.page a{BORDER:#999 1px solid; PADDING:2px 5px; MARGIN-RIGHT: 5px;  TEXT-DECORATION: none; background:#fff; color: #333; font-weight: normal;}
.page a:hover{border:1px solid #0d9ae4; text-decoration:none; BACKGROUND-COLOR:#0d9ae4; color:#FFF;}
.page a:active{border:1px solid #0d9ae4; text-decoration:none; BACKGROUND-COLOR:#0d9ae4;}
.page span.current{BORDER: #237ac7 1px solid; PADDING:1px 5px;  FONT-WEIGHT: bold;  COLOR: #fff; MARGIN-RIGHT: 2px; BACKGROUND-COLOR: #0d9ae4;MARGIN-RIGHT: 5px;}
.page span.disabled{BORDER:#237ac7 1px solid; PADDING:2px 5px; COLOR:#237ac7; MARGIN-RIGHT: 5px; background:#d8f1ff;}

/***右侧内容标题样式***/
.left_topbg {background-repeat: repeat-x;}

.titlebt {margin:4px 10px 10px 10px;font-size: 12px;height:31px;line-height:25px;font-weight: bold;background:#68ce4a;display: block;text-indent: 15px;padding-top: 5px;}

/***右侧链接文字样式***/
a:link {font:12px/1.5 "sans serif",tahoma,verdana,helvetica;line-height: 25px;color:#000000;text-decoration: none;}
a:hover {font-size: 12px;line-height: 25px;color: #666666;text-decoration: underline;}
a:visited {font-size: 12px;line-height: 25px;color:#000000;text-decoration: none;}

/***分页显示样式***/
div.green-black{text-align:center;}
div.green-black a{border:#2c2c2c 1px solid;padding:2px 5px;background: #2c2c2c;color:#fff;margin:0 2px 0 0;text-decoration:none;}
div.green-black a:hover{border:#6FB737 1px solid;background: #6FB737;color:#fff;}
div.green-black a:active{border:#aad83e 1px solid;background:#aad83e;color:#fff;}
div.green-black span.current{border:#04BE00 1px solid;padding:2px 5px;font-weight:bold;background: #6FB737;color:#fff;margin:0 2px 0 0;}
div.green-black span.disabled{border:#f3f3f3 1px solid;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}


/***后台欢迎页显示系统信息样式***/
.table{border-radius: 4px 4px 4px 4px;margin-top:0px;width: 100%;margin-bottom: 20px;border-collapse: collapse;}
.table td{border:1px solid #ADD2DA;height:30px;}
.td_left{width:28%;}

/***底部版权样式***/
.cont-ft {border-top: 1px solid rgb(204, 204, 204);padding: 0px 15px; background-color: rgb(246, 246, 246); margin-left:6px; margin-right:10px;position:fixed!important; position:absolute; left:5px; bottom:0px!important; bottom:auto;}
.copyright {height: 39px;line-height: 39px;text-align: center;}
.copyright a {margin: 0px 4px;}
.fl {float: left !important;}
.fr {float: right !important;}


