h3.text-center.text-thin Settings

.p
  h4.text-muted.text-thin Themes

  .table-grid.mb
    .col.mb
      .setting-color
        label(data-load-css="css/theme-a.css")
          input(type="radio", name="setting-theme", checked="checked")
          span.icon-check
          span.split
            span.color.bg-info
            span.color.bg-info-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(data-load-css="css/theme-b.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-green
            span.color.bg-green-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(data-load-css="css/theme-c.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-purple
            span.color.bg-purple-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(data-load-css="css/theme-d.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-danger
            span.color.bg-danger-light
          span.color.bg-white
  .table-grid.mb
    .col.mb
      .setting-color
        label(data-load-css="css/theme-e.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-info-dark
            span.color.bg-info
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(data-load-css="css/theme-f.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-green-dark
            span.color.bg-green
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(data-load-css="css/theme-g.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-purple-dark
            span.color.bg-purple
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(data-load-css="css/theme-h.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-danger-dark
            span.color.bg-danger
          span.color.bg-gray-dark

.p
  h4.text-muted.text-thin Layout

  .clearfix
    p.pull-left Fixed
    .pull-right
      label.switch
        input#chk-fixed(type='checkbox', data-toggle-state="layout-fixed")
        span
  .clearfix
    p.pull-left Boxed
    .pull-right
      label.switch
        input#chk-boxed(type='checkbox', data-toggle-state="layout-boxed")
        span
  .clearfix
    p.pull-left RTL
    .pull-right
      label.switch
        input#chk-rtl(type='checkbox')
        span
.p
  h4.text-muted.text-thin Aside
  .clearfix
    p.pull-left Collapsed
    .pull-right
      label.switch
        input#chk-collapsed(type='checkbox', data-toggle-state="aside-collapsed")
        span
  .clearfix
    p.pull-left Float
    .pull-right
      label.switch
        input#chk-float(type='checkbox', data-toggle-state="aside-float")
        span
  .clearfix
    p.pull-left Hover
    .pull-right
      label.switch
        input#chk-hover(type='checkbox', data-toggle-state="aside-hover")
        span
  .clearfix
    p.pull-left Show Scrollbar
    .pull-right
      label.switch
        input#chk-hover(type='checkbox', data-toggle-state="show-scrollbar", data-target=".sidebar")
        span
