{extend name="common/base"/}

{block name="header"}
    <li class="active"><span>1</span>{:lang('Protocols')}</li>
    <li class="active"><span>2</span>{:lang('Detection')}</li>
    <li class="active"><span>3</span>{:lang('Database')}</li>
    <li class="active"><span>4</span>{:lang('Install')}</li>
    <li><span>5</span>{:lang('Complete')}</li>
{/block}

{block name="body"}
    <h1>{:lang('Install')}</h1>
    <div id="show-list" class="install-database">
    </div>
    <script type="text/javascript">
        var list   = document.getElementById('show-list');
        function showmsg(msg, classname){
            var li = document.createElement('p'); 
            li.innerHTML = msg;
            classname && li.setAttribute('class', classname);
            list.appendChild(li);
            document.scrollTop += 30;
        }
    </script>
{/block}

{block name="footer"}
    <button id="obtn" class="btn btn-warning btn-large btn-block disabled">{:lang('It is in installation. Just a moment, please...')}</button>
    <script type="text/javascript">
        var obtn   = document.getElementById('obtn');

        function error_btn(msg,classname){
            obtn.innerHTML = msg;
            obtn.setAttribute("class", classname); 
        }
    </script>
{/block}