body{
	font: normal 13px/2em Verdana;
}
#gotoTop{
        background:url(../images/gTopa.png);
        display:none;
        width:64px;
        height:64px;
        position:fixed;
        bottom:50px;
        right:20px;
        text-indent:100px;
        cursor:pointer
}
.title_h2{
	font-weight: bold;
	font-size: 1.1em;
	color: #b92c28;
}
.title_h3{
	font-weight: bold;
	font-size: 1.0em;
	color: #204d74;
}
.text_strong{
	font-weight: bold;
	font-size: 1.0em;
	color:red;
}