<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>kuaiqian</name>
            <displayName><![CDATA[快钱人民币网关]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[快钱是国内领先的独立第三方支付企业，旨在为各类企业及个人提供安全、便捷和保密的支付清算与账务服务，其推出的支付产品包括但不限于人民币支付，外卡支付，神州行卡支付，联通充值卡支付，VPOS支付等众多支付产品, 支持互联网、手机、电话和POS等多种终端, 以满足各类企业和个人的不同支付需求。截至2009年6月30日，快钱已拥有4100万注册用户和逾31万商业合作伙伴，并荣获中国信息安全产品测评认证中心颁发的&ldquo;支付清算系统安全技术保障级一级&rdquo;认证证书和国际PCI安全认证。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>