<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>carriercompare</name>
            <displayName><![CDATA[运费估算]]></displayName>
            <version><![CDATA[1.2]]></version>
            <description><![CDATA[模块在结帐过程前比较可用的配送]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>