.cs_Content {

}
.cs_ContentTable{
	
}
.cs_SelectorDiv {
	border:1px solid gray;
	overflow:hidden;
	position:relative;
	width:256px;
	height:256px;
}

.cs_SelectorDiv_Mini {
	border:1px solid gray;
	overflow:hidden;
	position:relative;
	width:210px;
	height:120px;
}
.cs_SelectorVer{
	position:absolute;
	width:1px;
	height:100%;
	background-color:white;
	overflow:hidden;
}
.cs_SelectorHor{
	position:absolute;
	width:100%;
	height:1px;
	background-color:white;
	overflow:hidden;
}
.cs_LumSelect {
	border:1px solid gray;
	margin-left:13px;
	margin-right:10px;
	position:relative;
	width:15px;	
}

.cs_LumSelect_Mini {
	border:1px solid gray;
	margin-left:6px;
	position:relative;
	width:12px;	
}

.cs_LumSelectLine{
	position:absolute;
	width:100%;
	height:1px;
	overflow:hidden;
	background-color:white;
}
.cs_LumSelectArrow {
	position:absolute;
	background:url('img/slide.gif') no-repeat;
	width:13px;
	height:9px;
	overflow:hidden;
}
.cs_LumElement {
	width:100%;
	height:4px;
	border:0px;
	overflow:hidden;
}

.cs_ColorArea {
	font-family:Arial;
	font-size:12px;  
	width:100%;	
}

.cs_ColorArea_Mini {
	font-family:Arial;
	font-size:12px;  
	width:100%;
}

.cs_ColorArea TD {
	text-align:right;
	height:25px;

}

.cs_ColorArea_Mini TD {
	text-align:right;
	height:18px;	
}

.cs_EndColor {
	width:72px;
	height:69px;
	border:1px solid gray;
}

.cs_EndColor_Mini {
  	width:100px;
  	height:30px;
	border:1px solid gray;  	
	
}

.cs_Hex {
	font-family:Arial;  
	Font-size: 12px;  
  	width:55px;
}

.cs_Hex_Mini,.cs_Hex_MiniX {
	font-family:Arial;  
	Font-size: 10px;  
	height:15px;	
  	width:45px;
	margin:0px;
	padding:0px;  	
}

.cs_Hex_MiniX {
	height:11px;
}

.cs_Input {
	width:26px;
    font-family:Arial;
	Font-size: 12px;
	text-align:right;
}

.cs_Input_Mini, .cs_Input_MiniX {
	width:22px;
	height:15px;
    font-family:Arial;
	Font-size: 10px;
	margin:0px;
	padding:0px;
	text-align:right;
}

.cs_Input_MiniX {
	height:11px;
}

.commonInputStyle,.cs_CustomColorAdd,.cs_ButtonOk,.cs_ButtonCancel,.cs_CustomColorAdd_Mini{
  	border:1px outset white;
  	background:#d4cfc9;
  	height:22px;
}

.cs_CustomColorAdd{
	width:145px;
    font-family:Arial;
	Font-size: 12px;
	margin-top:8px;
}

.cs_CustomColorAdd_Mini{
	width:100%;
    font-family:Arial;
	Font-size: 12px;
	margin-top:6px;
}

.cs_CustomColors{
  	margin-top:8px;
	width:76px;
	height:38px;
}

.cs_CustomColors_Mini{
	width:100%;
	height:18px;
	margin-top:6px;
}

.cs_CustomColor{
	float:left;
	width:14px;
	height:14px;
	border:1px solid gray;
	overflow:hidden;
	cursor:pointer;
	
	margin-bottom:3px;
	margin-right:3px;
}

.cs_CustomColor_Mini{
	float:left;
	width:18px;
	height:18px;
	border:1px solid gray;
	overflow:hidden;
	cursor:pointer;
	
	margin-bottom:3px;
	margin-right:3px;
}

.cs_ButtonOk{
  	margin-top:3px;
  	margin-right:6px;  	
  	float:right;
	width:70px;
    font-family:Arial;
	Font-size: 12px;
}
.cs_ButtonCancel{
  	margin-top:3px;
  	margin-right:7px; 	    
	width:70px;
	float:right;
    font-family:Arial;
	Font-size: 12px;
}
.cs_colorInput{
	position:absolute;
	top:0px;
	left:0px;
}
.cs_colorBox{
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid black;
}