/*input[type=checkbox].normal{position: relative;opacity: initial;left: 0;margin: 0;}*/
.error{color:red;}
.clear{clear: both;}

/*前台列表样式*/
.activity-list{float: left;width: 100%;/*border-bottom: 1px solid #e9e9e9;*/padding-bottom: 10px;margin-bottom: 15px;}
.activity-list .activity-border{border:1px solid #eaeef1;border-radius: 5px;;overflow: hidden;}
.activity-list .activity-border img{width: 100%;height: auto;transition: all 0.7s ease-in-out;}
.activity-list .activity-name{padding: 8px 0;}
.activity-list .activity-name a{font-size: 18px;font-weight: bold;}
.activity-list .activity-border .activity-img{;overflow: hidden;}
.activity-list .activity-border .activity-img:hover img{transform: scale(1.5);transition: all 0.7s ease-in-out;}
.activity-list .activity-content{position: relative;min-height: 140px;}
.activity-list .activity-content .activity-introduce{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.liner{border-bottom: 1px solid #e9e9e9;padding-bottom: 10px;margin-bottom: 15px;}
@media(min-width: 768px){
	.activity-list .activity-content .activity-date{position: absolute;bottom: 0px;}
	.activity-list .activity-content .btn{position: absolute;right: 0;bottom: 0;}
}
@media(max-width:767px){
	.activity-list .activity-content .activity-date{margin-top: 10px;margin-bottom: 10px;}
}
/*前台详情页样式*/
.activity-detail .activity-title{font-size: 28px;margin-bottom: 30px;color: #3f444a;font-weight: 600;}
.activity-detail .activity-desc{color: #3f444a;font-weight: 300;margin: 0px 0 30px 0;}
.activity-detail .activity-desc .activity-introduce{margin-bottom: 20px;}
.activity-detail .activity-panel{padding: 5px 10px;border: 1px solid #eeeeee;line-height: 30px;margin-bottom: 20px;}
.activity-detail .activity-panel span{font-size: 14px;color: #5c6873;font-weight: 400;margin-left: 15px;}
.activity-detail .activity-desc .activity-cont div{color: #5c6873;font-size: 14px;margin-bottom: 8px;}
.activity-detail .activity-desc .activity-btn{margin-bottom: 30px;margin-top: 30px;}
.signupmodal{margin-top: 10%;}
@media(min-width: 768px){
	.pad-left-0{padding-left: 0}
	.pad-right-0{padding-right: 0}
}
@media(max-width: 500px){ 
	.activity-detail .activity-panel .pull-right,.activity-detail .activity-panel .pull-left{float: unset !important;}
	.activity-detail .activity-panel span:first-child{margin-left: unset;}
}