/* 
    Document   : 1
    Created on : 2012-2-10, 12:46:29
    Author     : alan QQ:8510001
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.fakesay.com
*/

/*---背景图背景色---*/
body{background: url(body-bg.jpg) repeat top center;width:100%;}