
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">菜单管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:url('/admin/shop/product/category/add')}" class="btn btn-danger ">
                                新增菜单
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover col-md-9">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>编号</th>
                                <th>名称</th>
                                <th>排序</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>

                            {volist name="menulist" id="menu"}
                                <tr>
                                    <td class="hidden-xs">
                                        <label><input name="checkbox" class="check" type="checkbox" value="{$menu.id}"></label>
                                    </td>
                                    <td>{$menu.id}</td>
                                    <td>
                                        {empty name="menu.file_id"}
                                            <img style="width: 60px;" src="__PUBLIC__/static/dist/img/noimage.gif">
                                        {else /}
                                            <img style="width: 60px;"
                                            src="__PUBLIC__/uploads/{$menu['file']['savepath']}{$menu['file']['savename']}">
                                        {/empty}
                                        <span>{$menu.name}</span>
                                    </td>
                                    <td>{$menu.rank}</td>
                                    <td>{$menu.remark}</td>
                                    <td class="table-action">
                                        <a href="{:url('/admin/shop/product/category/add',array('id'=>$menu['id']))}">修改</a>
                                        <a href="{:url('/admin/shop/product/category/del',array('id'=>$menu['id']))}">删除</a>
                                    </td>
                                </tr>
                                {volist name="menu.sub" id="menu1"}
                                    <tr>
                                        <td class="hidden-xs">
                                            <label><input name="checkbox" class="check" type="checkbox" value="{$menu1.id}"></label>
                                        </td>
                                        <td>{$menu1.id}</td>
                                        <td>
                                            {empty name="menu1.file_id"}
                                                <img style="width: 60px;" src="__PUBLIC__/static/dist/img/noimage.gif">
                                            {else /}
                                                <img style="width: 60px;"
                                                src="__PUBLIC__/uploads/{$menu1['file']['savepath']}{$menu1['file']['savename']}">
                                            {/empty}
                                            <span>|─{$menu1.name}</span>
                                        </td>
                                        <td>{$menu1.rank}</td>
                                        <td>{$menu1.remark}</td>
                                        <td class="table-action">
                                            <a href="{:url('/admin/shop/product/category/add',array('id'=>$menu1['id']))}">修改</a>
                                            <a href="{:url('/admin/shop/product/category/del',array('id'=>$menu1['id']))}">删除</a>
                                        </td>
                                    </tr>
                                {/volist}
                            {/volist}
                            </tbody>
                        </table>
                        
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger "
                                            onclick="batchUrl('{:url(\'/admin/shop/product/category/del\')}')">全部删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<script type="text/javascript">

</script>