<extend name="Public:base" />
<block name="main">
<div class="widget-container fluid-height clearfix">
	<div class="heading">新增模块</div>
	<div class="widget-content padded">
		<div class="col-lg-8">
		<form method="post" valid action="{:U('Mod/insert')}" class="form-horizontal">
		<input type="hidden" name="ap" value="{$ap}">
			{:ipt('入口文件','index_file','','例如 user.php，为空则不生成')}
			{:iptValid('模块名称','name','','请使用英文字母例如 Admin')}
			{:iptValid('控制器列表','con_list','','请使用英文字母例如 User，逗号隔开')}
			{:iptValid('模型列表','mod_list','','请使用英文字母例如 User，逗号隔开')}
			{:iptValid('生成视图文件夹','view_dir','','默认生成的视图文件夹')}

			<div class="form-actions col-lg-offset-2 col-lg-9">
				<button class="btn btn-primary" type="submit">保存</button>
				<button class="btn btn-default-outline">取消</button>
			</div>
		</form>
		</div>
	</div>
</div>



</block>
