@charset "utf-8";
/* 主题 */
.button {background: #006093 url('../images/bg-button-blue.gif') top left repeat-x !important; border: 1px solid #006093 !important; }
#sidebar #main-nav li a.nav-top-item { background: transparent url('../images/bg-menu-item-blue.gif') right center no-repeat; }
a { color: #006093; text-decoration: none; }
.pagination a.current { background: #006093 url('../images/bg-button-blue.gif') top left repeat-x !important; border-color: #006093 !important; color: #fff !important; }

