<!--{include(file='head.html')}-->
<div id="wrap">
	<!--{include('left.html')}-->
	<div id="maincont">
		<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
		<form action="<!--{url('admin','basicset','share')}-->" method="post" name="submitform" id="submitform">
		<div id="main_c">
			<ul class="bk">
				<li>
					<label>常用标签：</label>
					<p>
						商品名=>{itemname} ，商品价格=>{itemprice}，商品链接地址=>{itemurl}，商城名称=>{mallname}
					</p>
				</li>
				<li>
					<label><em>*</em>商品分享：</label>
					<p>
						<textarea name="sharecontent" id="sharecontent" class="text_tx"><!--{def($shareset.share)}--></textarea>
					</p>
				</li>
			</ul>
			<div class="bt_bk2">
					<a href="javascript:void(0);" class="btn" onclick="jssubmit('shareset');return false;"><span>保存</span></a>
			</div>
		</div>
		</form>
		<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
	</div>
</div>
<!--{include(file='foot.html')}-->
