<!--{include(file='head.html')}-->
<div id="wrap">
	<!--{include('left.html')}-->
	<div id="maincont">
		<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
		<div id="main_c">
			<form name="seaform" id="seaform" action="" method="post">
				<div class="bt_bk">
					<span class="btn">
						<a href="javascript:void(0);" onclick="$.oper.refresh();return false;">刷新</a>
						<a href="javascript:void(0);" onclick="$.oper.remove();return false;">移除</a>
						<a href="<!--{url('admin','brand','brandadd')}-->">添加</a>
					</span>
					<span class="state_tip"></span>
				</div>
			</form>
			<form name="submitform" id="submitform" action="<!--{url('admin','brand','brandsave')}-->" method="post">
			<table class="tableStyle" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr align="center">
						<th width="5%">
							<input type="checkbox" value="1" name="allselect" id="allselect" autocomplete="off" onclick="$.oper.selectall()"/>
						</th>
						<th width="10%">操作</th>
						<th width="10%">名称</th>
						<th width="30%">网址</th>
					</tr>
				</thead>
				<tbody id="listtbody">
					<!--{foreach $brandlist brand}-->
					<tr align="center" id="tr_<!--{$brand.brandid}-->">
						<td><input type="checkbox" value="<!--{$brand.brandid}-->" name="singleselect" autocomplete="off"/></td>
						<td>
							<input type="hidden" value="<!--{$brand.brandid}-->" name="brandid[]" />
							<a href="<!--{url('admin','brand','brandedit','brandid=$brand.brandid')}-->" class="edit" title="编辑"></a>
							<a href="javascript:void(0);" onclick="$.oper.remove(<!--{$brand.brandid}-->);return false;" class="remove" title="移除"></a>
							<a href="javascript:void(0);" class="up"	onclick="$.oper.up(this);return false;"	title="上移"></a>
							<a href="javascript:void(0);" class="down"  onclick="$.oper.down(this);return false;" title="下移"></a>
						</td>
						<td>
							<span onclick="$.oper.edit(this,'brandname','<!--{$brand.brandid}-->')" 
								title="点击修改品牌名称" onmouseover="$.oper.bgcolor(this,'on')" onmouseout="$.oper.bgcolor(this,'off')"><!--{$brand.brandname}--></span>
						</td>
						<td>
							<span onclick="$.oper.edit(this,'brandurl','<!--{$brand.brandid}-->')" 
								title="点击修改网址" onmouseover="$.oper.bgcolor(this,'on')" onmouseout="$.oper.bgcolor(this,'off')"><!--{$brand.brandurl}--></span>
						</td>
					</tr>
					<!--{/foreach}-->
				</tbody>
			</table>
			<!--{if $brandlist}-->
			<div class="bt_bk2">
				<input type="hidden" value="save"	name="opertype" />
				<a href="javascript:void(0);" class="btn" onclick="$.oper.submit();return false;"><span>保存</span></a>
			</div>
			<!--{/if}-->
			</form>
		</div>
		<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
	</div>
</div>
<!--{include(file='foot.html')}-->
<script type="text/javascript">
$(function(){
	$.oper.init("<!--{url('admin','brand','brandsave','',false)}-->");
});
</script>