<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="IE=7" http-equiv="X-UA-Compatible" />
	<title>管理员找回密码</title>
	<script type="text/javascript" src="template/jslib/jquery.js"></script>
	<link href="template/admin/css/back.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body class="loginbg">
	<form method="post" name="theform" id="theform" action="<!--{url('admin','login','getpwd')}-->" onsubmit="return checkform();">
		<div class="loginbk">
			<h1>找回密码</h1>
			<ul>
				<li><label>用户名：</label><input type="text" value="" class="input_tx" id="uname" name="uname"/></li>
				<li><label>邮箱：</label><input type="text" value="" class="input_tx" id="email" name="email"/></li>
				<li>
					<span class="nolabel">
						<input type="submit" value="确定" class="bt_style3"/>
						<a href="<!--{url('admin','login')}-->">返回</a>
					</span>
					<!--{if $error}--><span class="red"><!--{$error}--></span><!--{/if}-->
					<!--{if $hint}--><span class="htmlhints"><!--{$hint}--></span><!--{/if}-->
				</li>
			</ul>
	</div>
	</form>
</body>
</html>
<script type="text/javascript">
function checkform() {
	if($.trim($("#uname").val()) == "" ) {
		return false;
	}
	if($.trim($("#email").val()) == "") {
		return false;
	}
	return true;
}	
</script>
