<!--{include(file='head.html')}-->
<script src="template/jslib/xheditor/xheditor.js" type="text/javascript"></script>
<div id="wrap">
	<!--{include('left.html')}-->
	<div id="maincont">
		<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
		<form action="<!--{url('admin','pic','set')}-->" method="post" name="submitform" id="submitform">
		<div id="main_c">
			
			<ul class="bk">
				<li>
					<div class="dashmsg">
						<p>原图路径：http://www.youdomain.com/xxx.jpg，则</p>
						<p>缩略图路径：http://www.youdomain.com/xxx.jpg_尺寸x尺寸.jpg</p>
					</div>
				</li>
				<li>
					<label><em>*</em>小图：</label>
					<p>
						<input type="text" value="<!--{def($picset.spic,50)}-->" name="spic" id="spic"/>
					</p>
				</li>
				<li>
					<label><em>*</em>中图：</label>
					<p>
						<input type="text" value="<!--{def($picset.mpic,160)}-->" name="mpic" id="mpic"/>
					</p>
				</li>
				<li>
					<label><em>*</em>大图：</label>
					<p>
						<input type="text" value="<!--{def($picset.bpic,310)}-->" name="bpic" id="bpic"/>
					</p>
				</li>
			</ul>
			<div class="bt_bk2">
					<a href="javascript:void(0);" class="btn" onclick="jssubmit('pic');return false;"><span>保存</span></a>
			</div>
		</div>
		</form>
		<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
	</div>
</div>
<!--{include(file='foot.html')}-->
<script type="text/javascript">
function chg() {
	var func = $("#adminlog_status").prop("checked") ? "show" : "hide";
	$("#loginfo")[func]();
}
</script>