<table class="tableStyle"  border="0" cellspacing="0" cellpadding="0">
	<thead>
		<tr align="center">
			<th width="10%">编号</th>
			<th colspan="2">商品</th>
			<th width="20%">价格(￥)</th>
			<th width="10%">库存</th>
			<th width="10%">选择</th>
		</tr>
	</thead>
	<tbody id="listtbody">
		<!--{if $items}-->
			<!--{foreach $items item}-->
				<tr align="center"  id="tr_<!--{$item.itemid}-->">
					<td><!--{$item.itemid}--></td>
					<td id="img_<!--{$item.itemid}-->">
						<a href="<!--{url('index','item','index','itemid=$item.itemid')}-->" target="_blank">
						<img src="<!--{$item.itemimg}-->_50x50.jpg" width="50" height="50" onerror="this.onerror='',this.src='images/nopicture.jpg'"  class="mid"/>
						</a>
					</td>
					<td align="left" id="item_<!--{$item.itemid}-->">
						<a href="<!--{url('index','item','index','itemid=$item.itemid')}-->" target="_blank"><!--{$item.itemname}--></a>
					</td>
					<td id="price_<!--{$item.itemid}-->"><!--{getPrice($item.price)}--></td>
					<td><!--{$item.inventory}--></td>
					<td id='oper_<!--{$item.itemid}-->'>
						<a href="javascript:void(0);" onclick="ItemSelect.selectitem('<!--{$item.itemid}-->');return false;" class="select"></a>
					</td>
				</tr>
			<!--{/foreach}-->
		<!--{else}-->
			<tr align="center">
				<td colspan="6">暂无商品</td>
			</tr>
		<!--{/if}-->
	</tbody>
</table>
<!--{include_page("page.html","select")}-->
				
<div class="bt_bk5">
	<a href="javascript:void(0);" class="btn" onclick="$.tbox.close();return false;"><span>关闭</span></a>
</div>