<!--{include(file='head.html')}-->

<div id="wrap">
	<!--{include('left.html')}-->
	<div id="maincont">
		<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
		<div id="main_c">
			<form name="seaform" id="seaform" action="" method="post">
			<div class="bt_bk">
				<span class="btn">
					<a href="javascript:void(0);" onclick="$.oper.refresh();return false;">刷新</a>
					<a href="<!--{url('admin','tag','tagadd')}-->">添加</a>
				</span>
				<span class="state_tip"></span>
			</div>
			</form>
			<form name="submitform" id="submitform" action="<!--{url('admin','tag','tagsave')}-->" method="post">
			<table class="tableStyle" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr align="center">
						<th width="20%">操作</th>
						<th width="80%">标签</th>
					</tr>
				</thead>
				<tbody id="listtbody">
					<!--{foreach $taglist tag}-->
					<tr align="center" id="tr_<!--{$tag.tagid}-->">
						<td align="right">
							<input type="hidden" value="<!--{$tag.tagid}-->" name="tagid[]"/>
							<!--{if $tag.ismore}-->
								<a href="<!--{$tag.link}-->" class="link" target="_blank" title="访问"></a>
							<!--{/if}-->
							<a href="javascript:void(0);" onclick="$.oper.cdelete('<!--{$tag.tagid}-->');return false;" class="del" title="删除"></a>
							<a href="<!--{url('admin','tag','tagedit','tagid=$tag.tagid')}-->" class="edit"	title="编辑"></a>
							<a href="javascript:void(0);" onclick="$.oper.up(this);return false;"		class="up"	 title="上移"></a>
							<a href="javascript:void(0);" onclick="$.oper.down(this);return false;"	class="down" title="下移"></a>
						</td>
						<td>
							<span onclick="$.oper.edit(this,'tagname','<!--{$tag.tagid}-->')" title="点击修改分类名称" onmouseover="$.oper.bgcolor(this,'on')" onmouseout="$.oper.bgcolor(this,'off')"><!--{$tag.tagname}--></span>
						</td>
					</tr>
					<!--{/foreach}-->
				</tbody>
			</table>
			<!--{if $taglist}-->
			<div class="bt_bk2">
				<input type="hidden" value="save"	name="opertype" />
				<a href="javascript:void(0);" class="btn" onclick="$.oper.submit();return false;"><span>保存</span></a>
			</div>
			<!--{/if}-->
			</form>
		</div>
		<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
	</div>
</div>
<!--{include(file='foot.html')}-->
<script type="text/javascript">
$(function(){
	$.oper.init("<!--{url('admin','tag','tagsave')}-->");
});
</script>