<!--{include(file='selhead.html')}-->
<script type="text/javascript" src="template/jslib/print/jquery.PrintArea.js"></script>
    <div class="content_main">
        <div class="datalist"  id="datalist">
            <div class="data"  id="data" style="overflow:auto;overflow-x:hidden;*+height:780px;height:730px;width:100%">
                <div id="myPrintArea">
					<table  class="table_frame" width="90%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td class="td_frame" height="100"></td>
                        </tr>
						<tr>
                            <td class="td_frame">
								<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
									  <tbody><tr>
										<td><h2>订单号：<!--{$trade.tradeid}--></h2></td>
										<td align="left" width="30%"><h2>订购日期：<!--{date('Y-m-d',$trade['addtime'])}--></h2></td>
									  </tr>
									</tbody>
								</table>
							</td>
                        </tr>
                        <tr>
                            <td class="td_frame">
							<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
								  <tbody>
									  <tr class="table_data_title" height="30">
										<td width="10%" nowrap>No</td>
										<td width="10%" nowrap>货号</td>
										<td width="50%">商品名称</td>
										<td width="10%" nowrap>单价(￥)</td>
										<td width="10%" nowrap>数量</td>
										<td width="10%" nowrap>小计(￥)</td>
									  </tr>
									  <!--{foreach $orders order}-->
										<tr height="30">
											<td nowrap><!--{$.foreach.default.index + 1}--></td>
											<td nowrap><!--{$order.ibn}--></td>
											<td ><!--{$order.itemname}-->
												<!--{if $order.mealtitle}-->
													套餐：<!--{$order.mealtitle}-->
												<!--{/if}-->
												<!--{if $gifts[$order[orderid]]}-->
													<!--{$tmpgifts = unserialize($gifts[$order[orderid]][gift]);}-->
													<!--{foreach $tmpgifts gift}-->
														<div>
															[赠品] <!--{$gift.gitemname}--> x <!--{$gift.num}-->
														</div>
													<!--{/foreach}-->
												<!--{/if}-->
											</td>
											<td nowrap>
												商品：<!--{getPrice($order.price)}-->
												<!--{if $order.discount}-->
												<br />限折优惠：<!--{getPrice($order.discount * $order.num)}-->
												<!--{elseif $order.tuan}-->
												<br />团购优惠：<!--{getPrice($order.tuan * $order.num)}-->
												<!--{/if}-->
											</td>
											<td nowrap><!--{$order.num}--></td>
											<td nowrap><!--{getPrice($order.price * $order.num)}--></td>
									   </tr>
									  <!--{/foreach}-->
								</tbody>
                            </table>
							</td>
                        </tr>
                        
                        <tr>
                            <td class="td_frame">
							<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                              <tbody>
								<tr height="30">
									<td width="70%" valign="top" rowspan="4">备注：<!--{$trade.memo}--></td>
									 <td>商品费用：￥<!--{getPrice($trade.itemfee)}--></td>
								</tr>
								<tr height="30"><td>配送费用：￥<!--{getPrice($trade.postfee)}--></td></tr>
								<tr height="30">
									<td>优惠：
										<!--{if $trade.man || $trade.coupon}-->
											<!--{if $trade.man}-->满减优惠：<!--{$trade.man}--><!--{/if}-->
											<!--{if $trade.coupon}-->优惠券：<!--{$trade.coupon}-->元面额<!--{/if}-->
										<!--{else}-->￥0.00<!--{/if}-->
									</td>
								</tr>
								<tr height="30">
									<td><font style="font-weight:bold">总计：￥<!--{getPrice($trade.totalfee)}--></span></td>
								</tr>
							</tbody></table></td>
                        </tr>
                        
                        <tr height="50">
                            <td align="right" style="padding-right:230px;">
								Powered by Yuncart
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="data_bottom" id="data_bottom">
            <div class="btn_print">
                <a href="javascript:void(0);" id="btnPrint"><img src="template/admin/images/btn_print.gif" /></a>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
 $(function(){  
		$("#btnPrint").bind("click",function(){  
			$("#myPrintArea").printArea(); 
		});  
 });  
</script>