{extend name="public/base"/}
{block name="body"}
<h1 class="text-center">قاچىلاش مۇۋاپىقيەتلىك بولدى !</h1>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.qeyser.net/" target="_blank">قەيسەر تورى ئورگان باش بېتى</a></li>
			<li class="list-group-item"><a href="http://git.oschina.net/qeyser" target="_blank">QeyserBlog 1.0 ئامبىرى</a></li>
			<li class="list-group-item"><a href="http://wpa.qq.com/msgrd?v=3&uin=125790757&site=qq&menu=yes" target="_blank">سېستىما ياساش مۇلازىمىتى</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://doc.qeyser.net" target="_blank">QeyserBlog ئېچىش قوللانمىسى</a></li>
			<li class="list-group-item"><a href="http://www.qeyser.net/template.html" target="_blank">يېڭى ئۇسلۇب ۋە ماتېرىيال</a></li>
			<li class="list-group-item"><a href="https://jq.qq.com/?_wv=1027&k=4AQ1N9G" target="_blank">پىروگىرامما ئاچقۇچىلار مۇنازىرە توپى</a></li>
		</ul>
	</div>
</div>
{/block}
{block name="footer"}
<div class="text-center">
    <a class="btn btn-primary" target="_blank" href="{:url('admin/login/login')}">باشقۇرۇشقا كىرىش</a>
    <a class="btn btn-success" target="_blank" href="/">باش بەتكە كىرىش</a>
</div>
{/block}