/*
This css file is only used for the ACP. See "templates/GuildWarsAlliance/GuildWarsAlliance.css" for comments on code.
*/

body { background-color: #79A397; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #E9E9E9; }

.generaltext		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #D7DAD8; letter-spacing: -1px;}
a.generaltextt		{ color: #F0EFEF; text-decoration: none;}
a.generaltext:hover { color: #0E6342; text-decoration: none;}

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #F0EFEF; }
a:hover		{ text-decoration: none; color : #0B3F21; }
hr	{ height: 0px; border: solid #256551 0px; border-top-width: 1px;}

.bodyline	{ background-color: #274035; }

.forumline	{ background-color: #2A5844; border: 2px #1C3D2E solid; }

td.row1	{ background-color: #53826E; font-size : 10px; }
td.row2	{ background-color: #437760; font-size : 10px; }
td.row3	{ background-color: #316D53; font-size : 10px; }

th	{
	color: #D7DAD8; font-size: 11px; font-weight : bold;
	background-color: #265845; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-color:#285C45; height: 28px;
}

td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #3A6C56; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }

.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}

.gen { font-size : 10px; }
.genmed { font-size : 10px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #D7DAD8; }
a.gen,a.genmed,a.gensmall { color: #F0EFEF; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #BCDBCE; text-decoration: underline; }

.mainmenu		{ font-size : 11px; color : #D7DAD8 }
a.mainmenu		{ text-decoration: none; color : #F0EFEF;  }
a.mainmenu:hover{ text-decoration: underline; color : #688A7F; }

.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #F0EFEF}
a.cattitle		{ text-decoration: none; color : #688A7F; }
a.cattitle:hover{ text-decoration: underline; }

.forumlink		{ font-weight: bold; font-size: 12px; color : #F0EFEF; }
a.forumlink 	{ text-decoration: none; color : #F0EFEF; }
a.forumlink:hover{ text-decoration: underline; color : #688A7F; }

.nav			{ font-weight: bold; font-size: 11px; color : #D7DAD8;}
a.nav			{ text-decoration: none; color : #688A7F; }
a.nav:hover		{ text-decoration: underline; }

.postdetails		{ font-size : 10px; color : #000000; }

.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}

input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

.helpline { background-color: #DEE3E7; border-style: none; }

@import url("formIE_admin.css");
