{extend name="base" /}
{block name="body"}

    <!--tab标签-->
    <div class="layui-tab-brief">
    
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" data-url="{:url('authgroupAdd')}"  localtion-url="{:url('authgroupList')}" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" value="" required  lay-verify="required" placeholder="请输入权限组名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-inline">
                        <textarea name="describe" placeholder="请输入权限组描述信息" class="layui-textarea"></textarea>
                           
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="status" value="1" title="启用" checked="checked">
                            <input type="radio" name="status" value="0" title="禁用">
                        </div>
                    </div>
                 
                    <div class="btable-paged" >
				<div class="layui-main">
                    <div class="formbtngroup">
<button class="layui-btn layui-btn-small" lay-submit="" lay-filter="formadd">添加</button>
<a href="javascript:;"  class="layui-btn layui-btn-primary layui-btn-small closebtn">返回</a>
</div>
</div>
        </div>
                </form>
            </div>
        </div>
    </div>

{/block}
