{extend name="base" /}
{block name="body"}
<blockquote class="layui-elem-quote news_search">
{gt name="pid" value="0"}
<div class="layui-inline">

<button onclick="history.go(-1);" class="layui-btn layui-btn-primary layui-btn-small">返回上一级</button>

</div>
{/gt}
<div class="layui-inline">
		
<ob_link><a class="layui-btn layui-btn-normal Add_btn" data-title="添加菜单" data-url="{:url('menuAdd',array('pid' => $pid))}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
			
</div>

<div class="layui-inline">
			<ob_link><a class="layui-btn layui-btn-danger batchDel" data-url="{:url('menuAlldel')}">批量删除</a></ob_link>
		</div>
</blockquote>
<div class="layui-form users_list">
	  	<table class="layui-table">

		    <thead>
				<tr>
				 {notempty name='list'}
					<th width="5%" style="text-align:center"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					 {/notempty}
				 <th>名称</th>
          <th>排序</th>
          <th>url</th>
          <th>图标</th>
          <th>隐藏</th>
          <th>状态</th>
          <th>操作</th>
				</tr> 
		    </thead>
		      {notempty name='list'}
       <tbody class="users_content">
            {volist name='list' id='vo'}
                <tr>
                <td width="5%" style="text-align:center"><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose" value="{$vo.id}"></td>
                 <td>
                     <a class="btn-frameless" href="{:url('menuList', array('pid' => $vo['id']))}">{$vo.name}</a>
                  </td>
                  <td>{$vo.sort}</td>
                  <td>{$vo.url}</td>
                  <td>{$vo.icon}</td>
                  <td>{$vo.is_hide_text}</td>
                  <td>{$vo.status_text}</td>
                  <td class="col-md-2 text-center">
                     <a href="{:url('menuList', array('pid' => $vo['id']))}" class="layui-btn layui-btn-mini "><i class="fa fa-reorder"></i> 子菜单</a>
                      <ob_link><a data-title="编辑菜单[{$vo.name}]"  data-url="{:url('menuEdit',['id'=>$vo['id']])}" class="layui-btn layui-btn-mini users_edit"><i class="fa fa-edit"></i>编辑</a></ob_link>
                     
                      <ob_link><a class="layui-btn layui-btn-danger layui-btn-mini users_del" href="javascript:;"  data-url="{:url('menuDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
       <tbody class="users_content">
       <tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr>
       </tbody>
      {/notempty}
		
		</table>
	</div>			
{/block}
  {block name="page"}
<div class="btable-paged" >
<div class="layui-main">
{$list->render()}
</div>
</div>
   {/block}