{extend name="base" /}
{block name="body"}
    <?php $msg=strip_tags($msg);?>
     
{/block}
{block name="js"}
<script type="text/javascript">
layui.use(['layer', 'jquery'],function(){
var   jq = layui.jquery;

var time="{$wait}";
time=time*1000;
var code="{$code}";
var msg="{$msg}";
var url="{$url}";

loading = layer.load(2, {
    shade: [0.2,'#000']
  });
if(code == 1){
    layer.close(loading);
   
    layer.msg(msg, {icon: 1, time:1000}, function(){
    	location.href = url;
    });
  }else{
    layer.close(loading);
    layer.msg(msg, {icon: 2, anim: 6, time: 1000});
  }

});
</script>
{/block}