<div id="msgModal" class="modal modal-for-page fade" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">消息</h4>
            </div>

            <div class="modal-body row">
                <div class="col-md-2">
                    <div id="message-type-box" class="message-type-box">
                        <div class="message-type-list"><!--类型列表--></div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="message-info-list"></div>
                    <div class="loadmore-type-messages">加载更多</div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- 对话框HTML -->

<script>
    $(function () {
        $.muu.init_message();
        $.muu.list_message_load_more();
    });
</script>