@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-09-25 15:27:20
// @modified         2017-12-11 16:45:47
//

* {
  outline: none !important;
}

body {
  &.body-overflow {
    overflow: hidden;
    cursor: pointer;

    &:before {
      opacity: 1;
      z-index: 999999;
    }
  }

  @media (max-width: 992px) {
    &:before {
      content: '';
      background: rgba(41,45,53,.5);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      transition: .3s opacity;
    }
  }
}

body.checkout-cart {
  table {
    td {
      vertical-align: middle;
    }
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.breadcrumb {
  margin-bottom: 10px;

  a {
    color: #222;
  }
}

.breadcrumb>li:last-child a {
  color: $brand-secondary;
}

.form-control {
  box-shadow: none !important;
}

div.required .control-label:before {
  content: '* ';
  color: #f00;
  font-weight: bold;
}

.checkbox-plus {
  input {
    display: none;
    + label {
      min-width: 14px;
      cursor: pointer;
      margin-bottom: 0;
      font-weight: 500;
      &:before {
        color: #888;
        content: "\f096";
        font-size: 14px;
        font-family: fontawesome;
      }
    }
    &:checked +label:before {
      /* content: "\f046"; */
      content: "\f14a";
      color: $brand-primary;
    }
  }
}

.row.filter-wrapper {
  button {
    outline: 0;
  }

  .btn-group {
    .active {
      background-color: #fff;
      box-shadow: none;
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }
}

.well {
  box-shadow: none;
}

.no-items {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  img {
    margin: 20px auto 14px auto;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 26px - ($i *2);
    margin: 0 0 17px - ($i *2);
  }
}

.zoomContainer {
  z-index: 999;
}

.btn {
  outline: none !important;
}

.success-items {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  color: #333;
  line-height: 26px;

  .title {
    margin-top: 20px;
    font-weight: bold;
  }

  .icon-wrapper {
    font-size: 66px;
    color: #00d025;
  }

  .btns {
    margin-top: 20px;
  }
}

#category-module {
  margin-bottom: 30px;
}

.footer-info {

}