@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-08-28 18:32:15
// @modified         2018-07-25 17:48:29
//

@mixin side-auto($left: left, $width: 80%) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
  z-index: 9999999;
  background: rgba(0,0,0,.4);

  .side-inner {
    position: absolute;
    top: 0;
    height: 100%;
    width: $width;
    text-align: left;
    overflow-y: auto;
    padding: 14px 10px;
    @if $left == left {
      @include transform(-100%);
    } @else {
      @include transform(100%);
    }
    background-color: #fff;
    @include transition(all .3s ease-out);

    &.active {
      box-shadow: rgba(0,0,0,.1) 0 0 100px 0;
      @include transform(0);
    }

    @if $left == left {
      left: 0;
    } @else {
      right: 0;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($param) {
  -webkit-transition: $param;
  -moz-transition: $param;
  -o-transition: $param;
  transition: $param;
}

@mixin transform($value) {
  -ms-transform: translateX($value);
  -webkit-transform: translateX($value);
  transform: translateX($value);
}

@mixin display-flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@mixin align-items($position) {
  -ms-align-items: $position;
  align-items: $position;
}

@mixin default-transform($value){
  -ms-transform: ($value);
  -webkit-transform: ($value);
  -o-transform: ($value);
  transform: ($value);
}