@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-08-28 18:32:15
// @modified         2017-12-06 10:41:53
//


//========== default border ==========
$default-border: 1px solid #d4d4d4;

//========== TOP ==========
$page_top_height: 38px;
$page_top_color: #222;
$page_top_border: 1px solid #e8e8e8;
$page_top_bg_color_hover: $brand-primary;
$page_top_bg_color: #f6f6f6;;

//========== HEADER ==========
$header_padding: 25px 0;
$header_button_height: 38px;
$header_search_input_border: 1px solid #ddd;
$header_cart_icon_i_bg_color: $brand-secondary;
$header_cart_content_border: 1px solid #f1f1f1;

//========== MENU ==========
$main_menu_height: 40px;
$main_menu_margin_bottom: 12px;
$main_menu_wrapper_bg_color: $brand-primary;
$main_menu_border: 1px solid #e4e4e4;
$main_menu_bg_color_mobile: #eee;
$menu_item_color: #222;
$menu_item_color_hover: $brand-primary;
$menu_item_padding_left_right: 0 15px;;
$menu_dropdown_bg_color: #fff;
$menu_dropdown_border: 1px solid #f1f1f1;
$menu_dropdown_item_color: #555;
$menu_dropdown_item_color_hover: $menu_item_color_hover;
$menu_dropdown_item_bg_color_hover: #f1f1f1;
$menu_dropdown_item_border: 1px solid #f1f1f1;
$main_menu_mobile_toggle_height: 43px;
$vertical_menu_title_bg_color: $brand-primary - 20;

//========== FOOTER ==========
$footer_bg_color: #f1f2f4;
$footer_bottom_border: 1px solid #e4e4e4;
$footer_title_color: #333;
$footer_link_color: #777;
$footer_link_color_hover: $brand-secondary;
$footer_bottom_inner_bg: $footer_bg_color;


//========== PAGINATION ==========
$page_item_color: #333;
$page_item_bg_color: #fff;
$page_item_border: 1px solid #eee;
$page_item_color_active: #fff;
$page_item_bg_color_active: $brand-secondary;
$page_item_border_color_active: $brand-secondary;

//========== MODULE ==========
$module_widget_title_border_bottom: 3px solid #e5e5e5;
$module_widget_title_span_bg_color: $brand-secondary;
$module_widget_title_span_border_bottom: 3px solid $module_widget_title_span_bg_color - 20;

//========== SIDEBAR ==========
$sidebar_bg_color: #000;
$sidebar_bg_hover_color: $brand-primary;
