<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="footer" style="text-align: center;display: block; width: 100%; height: 50px; line-height: 50px;font-size: 13px;color: #8c8c8c;">
    <span>&copy;GaoAPI</span>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011802001978" style="text-decoration:none;display: inline-block;color:#939393;">
        <img src="{{ asset('images/beian.png') }}" style="width: 13px; display: inline-block;margin-right: 5px;"/>浙公网安备 33011802001978号
    </a>
    <a href="http://www.beian.miit.gov.cn/" target="_blank" style="text-decoration: none; color: #8c8c8c;display: inline-block">皖ICP备20004670号</a>
</div>
</body>
</html>
