.img-list{padding: 10px 0; display: flex; justify-content: start; flex-wrap: wrap;}
.img-list .item{width: 20%;}
.img-list .item .thumb{margin: 10px 10px 0 0 ; border: 1px solid #efefef; height: 120px; border-radius: 4px; position: relative; overflow: hidden;}
.img-list .item .thumb img{width: 100%;}
.img-list .item .thumb .close{position: absolute; right: 5px; top: 5px; opacity: 1; width: 20px; height: 20px; font-size: 10px; text-align: center; line-height: 20px; color: #ffffff; border-radius: 50%; background: #333333;}
.file-list{padding: 10px 0; display: flex; flex-direction: column;}
.file-list .attach{line-height: 35px; border-bottom: 1px dotted #333333; cursor: pointer; display: flex; justify-content: flex-start;}
.file-list .attach .close{line-height: 35px; margin-right: 10px;}