html {
    background-color: #fff;
}

.layui-body-header {
    padding: 13px 20px;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
}

.layui-body-header-title {
    border-left: 4px solid #009688;
    padding-left: 6px;
}

.pull-right {
    float: right;
}

.layui-body-header + div {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.layui-fluid {
    padding: 15px;
}

.layui-form.toolbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.layui-form.toolbar .layui-form-item {
    margin-bottom: 0;
}

.layui-form.info-form {
    padding: 10px 10px;
}

.text-center {
    text-align: center;
}

.date-icon {
    background-image: url(../images/icon_date.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.layui-form-label{
	float:left;display:block;
	padding:9px 15px;
	width:100px;
	font-weight:400;
	line-height:20px;
	text-align:right
}
.layui-input-block{
	margin-left:130px;
	min-height:36px
}

/* 输入框添加蓝色边框效果，阴影边框效果  */
.layui-input:focus,
.layui-textarea:focus {
	border-color: rgba(29, 210, 175, 0.8) !important;
	-webkit-box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	-moz-box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	border: 2px solid #dce4ec;
}

.layui-input:hover,
.layui-textarea:hover {
	border-color: rgba(29, 210, 175, 0.8) !important;
	-webkit-box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	-moz-box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	box-shadow: 0 0 5px rgba(29, 210, 175, .5);
	border: 2px solid #dce4ec;
}

/* 表单验证失败红色边框效果，阴影效果 */
.layui-form-danger, .layui-form-danger:focus, .layui-form-danger:hover{
	border-color: rgba(255,87,34, .8) !important;
	-webkit-box-shadow: 0 0 5px rgba(255,87,34, .5);
	-moz-box-shadow: 0 0 5px rgba(255,87,34, .5);
	box-shadow: 0 0 5px rgba(255,87,34, .5);
	border: 2px solid #ff5722;
}

.value_col{
	text-align:center !important;
}

.value_col2{
	text-align:left !important;
}