@charset "utf-8";
/* -----------H-ui前端框架-----------------------
H-ui.docs.css v2.0.102
Copyright H-ui Inc.
http://www.H-ui.net
date:2016.03.14
Created & Modified by guojunhui.
----------------------------------------------*/
.bg-1{ background-color:#f5fafe}
/**/
#Hui-navbar{border-bottom:#080808 1px solid;-moz-box-shadow: 0 0 4px #333333;-webkit-box-shadow: 0 0 4px #333333;box-shadow: 0 0 4px #333333}
.Hui-wraper{ padding:20px}
.navbar-userbar{ padding-top: 8px}
.Hui-article{ top:40px}
.breadcrumb{ position:relative; z-index:98}
.navbar-userbar{ position:absolute; top:0; right:15px}
@media (max-width:767px) {
    #Hui-nav{display: block; top: 0; left: 65px; right: 65px; position:absolute;}
    #Hui-nav > ul { width: 100%}
    #Hui-nav > ul > li{ width: 20%;text-align:center;}
    #Hui-nav > ul > li a{ text-align: center; padding: 0}
}
/*侧边导航*/
.Hui-aside{background-color:#333;border-right: 1px solid #222}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#fff;border-bottom: 1px solid #222;font-weight:normal}/*左侧二级导航菜单*/
.Hui-aside .menu_dropdown li a{color:#fff;border-bottom: 1px solid #222}
.Hui-aside .menu_dropdown li a:hover{color:#fff;background-color:#777}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{ color:#fff;background:#777}

.dislpayArrow a{background:url(../images/icon_arrow.png) no-repeat 0 0;outline:none}
.Hui-tabNav{background: #a2bed5 url(../images/acrossTab-bg.png) repeat-x 0 bottom}
.btn-codeShare{ position:absolute;top:8px; right:15px}
@media (max-width:767px) {
    .Hui-article{ top:84px}
}
/*页面相关*/
.page_title{border-bottom:solid 1px #ddd; padding-bottom:10px; margin-bottom:15px}
.codeView{height:auto}
.btn_newView{ display:none}
.codeView.hover .btn_newView{ position:absolute; display:block; right:0px; top:-20px; text-align:center}
#btn_down{position:fixed;z-index:1;right:20px;top:165px;visibility:visible;_position:absolute;_top:expression(documentElement.scrollTop)+165px}
.hero-unit {background-color: #eee;border-radius: 6px;color: inherit;font-size: 18px;font-weight: 200;line-height: 30px;margin-bottom: 30px;padding: 60px}
a.juanzeng span{ display: none;}
a.juanzeng:hover span{ display: block; position: absolute; top: 100%; right: 0;}

/*首页banner*/
.index-banner {padding:40px 0;color: #fff; text-align: center; background:url(../images/bg1800.jpg) no-repeat center 0; background-size:100% auto;}
.index-banner h1 {font-size: 80px;font-weight: bold;letter-spacing: -1px;line-height: 1; padding:10px}
.index-banner p{ margin-bottom:0;}
@media (max-width:767px) {
    .index-banner {background:#284681}
    .index-banner h1{font-size:40px}
    .index-banner p{ font-size:18px;line-height:1.6}
    .index-banner a{ float:none; display:block}
    .index-banner .btn.ml-10{ margin-left:0}
}
/*相关推荐*/
.product-list-index .item{text-align:center; padding:5px; border:solid 1px #eee; margin-top:30px}
.product-list-index .item img{width:100%}
.product-list-index .item h3{ padding:10px 0; font-size:30px}
.product-list-index .item a{ text-decoration:none}
.product-list-index .item a:hover{ text-decoration:none}
.product-list-index .item2{ padding:4px;border:solid 1px #ddd;margin-top:20px;}

@media (max-width: 767px) {
  .product-list-index h1{font-size:30px;margin:40px 0 20px}
  .product-list-index .item h3{ font-size:22px}
  .product-list-index .item{ float:none;width:auto;margin-left:auto; margin-right:auto}
  .product-list-index .item2{ height:auto;padding:4px;margin-left:auto;margin-right:auto; margin-top:10px}
}
@media (min-width: 768px) {
    .product-list-index .item{height:320px;}
}

/*友情链接*/
.flink-text a{ padding-right:15px}
/**/
.js_subnav{ display:none; position:absolute;top:47px; right:40px; left:20px; background-color:#fff; z-index:999}
.js_subnav a{display:inline-block;padding:0px 10px; margin-top:5px; margin-right:5px; background-color:#F5F5F5; border:solid 1px #ddd;-khtml-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.js_subnav a small{ font-size:11px; color:#9DA0A4}
/*网址导航站*/
.sitelist_1{font-size:14px; line-height:24px; padding:10px 0;border-bottom:solid 1px #E1E1E1; margin-bottom:0}
.sitelist_1 dt{ width:65px;font-weight:bold; text-align:center;background-color:#222; color:#fff}
.sitelist_1 dd{ margin-left:75px}
.sitelist_1 a{ display:block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap}
.sitelist_1 dd ul li{position:relative; display:block;float: left;width:140px}
.qrcodeCanvas{ display:none; position:absolute; z-index:1; left:0; top:100%;}
.sitelist_1 dd ul li:hover .qrcodeCanvas{ display:inline-block; border:solid 1px #ddd; padding:4px 4px 0 4px; background-color:#fff}
@media (max-width: 767px) {
  .sitelist_1{ border-bottom:none}
  .sitelist_1 dt{ width:auto; float:none;height:40px; line-height:40px; font-size:16px}
  .sitelist_1 dt.l{ float:none!important}
  .sitelist_1 dd{ margin-left:0; height:34px; line-height:34px; margin-top:5px}
  .sitelist_1 dd ul li{ width:25%}
}
@media (max-width: 480px) {
  .sitelist_1 dd ul li{ width:50%}
}
.list-icon{background:url(../images/sprite_list_icon.png) 9999px 9999px no-repeat}

@media (max-width: 767px) {
  .hero-unit{ background-color:inherit; padding:10px}
  .hero-unit h1{ font-size:40px}
}
@media (max-width: 480px) {
  .history{margin-top:20px; font-size:18px; margin-left:0}
  .hero-unit{ background-color:inherit; padding:10px}
  .hero-unit h1{ font-size:30px}
}
.mainWP{width:980px;margin:auto; overflow:hidden; background:url(static/h-ui/images/grid.png) repeat}
.row-980-20 [class^="span-"],.row-980-20 [class*=" span-"]{ background-color:#c00; padding:10px 0; color:#fff}

.index-question dt{ font-size:16px; font-weight:normal; line-height:33px}
.index-question dd{color: #808080;font-size: 14px;line-height: 27px;margin-bottom: 25px; margin-left:17px}

/*图标列表*/
.iconsList li{border-radius: 6px;cursor: pointer;height: 32px;line-height: 32px;padding-left: 12px; width:23%; float:left}
.iconsList li:hover{ background-color:#fbf4f4}
@media (max-width: 767px) {
  .iconsList li{ width:48%}
}
@media (max-width: 480px) {
  .iconsList li{ float: none;width:98%}
}
/*3.7 iconfont*/
.helps { margin-top: 40px}
.helps pre{padding: 20px;margin: 10px 0;border: solid 1px #e7e1cd;background-color: #fffdef;overflow: auto}
.icon_lists li{float: left;width: 100px;height: 180px;text-align: center}
.icon_lists .iconfont{font-size: 42px;line-height: 100px;margin: 10px 0;color: #333;-webkit-transition: font-size 0.25s ease-out 0s;-moz-transition: font-size 0.25s ease-out 0s;transition: font-size 0.25s ease-out 0s}
.icon_lists .iconfont:hover { font-size: 100px}
@media (max-width: 980px) {
  .wp{ width:100%; box-sizing:border-box; padding:0 10px}
}

/*客户*/
.kehu-list{ margin-right:-15px}
.kehu-list li{ width:150px; margin-right:15px; float:left; background-color:#fff; border:solid 1px #eee; margin-bottom:15px}
.kehu-list li img{ width:100%;}
.kehu-text-list li{ display:inline-block; white-space:nowrap; margin-right:15px; margin-bottom:15px; font-size:14px; color:#666}
@media (max-width: 480px) {
    .kehu-list li{ width:45%}
}