@charset "utf-8";
* {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
body {
	font-family: verdana, arial, helvetica, sans-serif; color: #333; background:#fff; font-size: 12px
}
input {
	font-size: 12px
}
button {
	font-size: 12px
}
select {
	background: #fff; font-size: 12px
}
textarea {
	background: #fff; font-size: 12px
}
th {
	white-space: nowrap
}
img {
	border-bottom: medium none; border-left: medium none; display: block; border-top: medium none; border-right: medium none;border-radius: 16px;
}
input {
	vertical-align: middle
}
select {
	vertical-align: middle
}
li {
	list-style-type: none; list-style-image: none
}
a {
	color: #16387c; text-decoration: none
}
a:hover {
	text-decoration: underline
}
.clear {
	clear: both
}

/*头部菜单*/
.header {
	background: #3071bf; padding-bottom: 0px; margin: 0px auto; padding-left: 10px; padding-right: 10px; height: 40px; padding-top: 0px
}
.header .logo {
	/*width: 200px;*/float: left; height: 40px; font:19px georgia, arial, sans-serif; line-height:40px; color:#fff; font-weight:700
}
.header .right_menu {
	display: block; float: right;padding-top: 6px
}
.right_menu span a {
	text-align: center; line-height: 28px; border-right-width: 1px; padding-left: 10px; padding-right: 10px; display: block; background: #368ddd no-repeat 5px 5px; float: left; border-top-width: 1px; border-bottom-width: 1px; color: #fff; margin-left: 8px; font-size: 12px; border-left-width: 1px; font-weight: bold; text-decoration: none;height: 28px;
}
.right_menu span a:hover {
	background-color: #1071bf; color: #fff
}
/*左侧菜单*/
#menu {text-align: left; margin-top: 10px; width: 150px; float: left; font: 12px arial, helvetica, sans-serif;}
#menu ul{ padding:5px;}
#menu ul li a {padding-left: 20px; display: block; line-height: 26px; height: 26px; color:#0071bf; text-decoration: none}
#menu ul li a:hover {background-color: #3071bf; color: #fff}
.none {display: none; padding:0px; margin:0px;}
.menubg_1 {
	cursor: pointer;text-align: left; line-height: 28px; margin-top: 1px; text-indent: 25px; width: 150px; background: url(../images/menubg.png) repeat-x; height: 30px; color: #777; font-size: 14px; font-weight: 700
}
.menubg_2 {
	cursor: pointer; text-align: left; line-height: 28px; margin-top: 1px; text-indent: 25px; width: 150px; background: url(../images/menubg.png) left -31px; height: 30px; color: #0061bf; font-size: 14px; font-weight: 700
}

/*ul框架风格设置，一般不用去修改*/
.ui-layout-pane {
	border-bottom: #c6d6e7 0px solid; border-left: #c6d6e7 0px solid; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; border-top: #c6d6e7 0px solid; border-right: #c6d6e7 0px solid; padding-top: 0px
}
.ui-layout-pane-north {
	border-bottom: #c6d6e7 0px solid; border-left: #c6d6e7 0px solid; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; border-top: #c6d6e7 0px solid; border-right: #c6d6e7 0px solid; padding-top: 0px
}
.ui-layout-pane-south {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; background: #f4f6fa; border-top: #c6d6e7 0px solid; padding-top: 0px
}
.ui-layout-pane-west {
	padding-bottom: 0px; padding-left: 13px; padding-right: 0px; background: #f7f7f7; overflow: hidden; padding-top: 3px; border-right: #c6d6e7 0px solid;
}
.ui-layout-center .ui-layout-content {
	border-left: #c6d6e7 0px solid; border-top: #c6d6e7 0px solid
}
.ui-layout-pane-center {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; overflow: hidden; padding-top: 0px
}
.ui-layout-content {
	padding-bottom: px; padding-left: 0px; padding-right: 0px; overflow: hidden; padding-top: px
}
.ui-layout-resizer {
	background: #f3f3f3
}
.ui-layout-toggler {
	background: #bcd
}
.ui-layout-resizer-dragging {
	background: #e2ecef
}
.ui-layout-resizer:hover .ui-layout-toggler {
	background: #bcd
}
.ui-layout-resizer:hover .ui-layout-toggler:hover {
	background: #fc0
}
.ui-layout-resizer-dragging-limit {
	background: #bcd
}

.login_body{background-color:#3d4351; margin: 0px}
.login_title {
	margin: 0px auto;font:50px georgia, arial, sans-serif; font-weight:700; margin-top:200px;/* width:350px; */text-align:center; color:#00bb55 ;
}
.login_main {
	 margin: 30px auto;padding:6px;
}
.login_box {
	margin: 0px auto; width: 340px; padding:5px;
}
.login_do{padding:8px; color:#f30; text-align:center; font-weight:700;}
.login_box table th {
	text-align: left; line-height: 50px; font-size: 14px; width:70px; font-weight: bold;color: #9a9a9a;
}
.login_box table td {
	padding-bottom: 0px; line-height: 50px; padding-right: 0px; padding-top: 0px
}
.login_box table td input {
	margin: -4px 2px 0px 0px
}
.login_box table td .login_input {
	border-bottom: #ddd 1px solid; border-left: #ddd 1px solid; padding-bottom: 0px; line-height: 30px; margin: 0px; padding-left: 5px; width: 210px; padding-right: 5px; background: #fff; height: 30px; color: #000; font-size: 14px; border-top: #ddd 1px solid; font-weight: bold; border-right: #ddd 1px solid; padding-top: 0px;border-radius: 16px;
}
.login_box table td .login_yz {
	 border-bottom: #ddd 1px solid; border-left: #ddd 1px solid; padding-bottom: 0px; line-height: 30px; margin: 0px; padding-left: 5px; width: 100px; padding-right: 5px; background: #fff; height: 30px; color: #000; font-size: 14px; border-top: #ddd 1px solid; font-weight: bold; border-right: #ddd 1px solid; padding-top: 0px;border-radius: 16px;
}
.login_box .button {
	text-align: center; border-left: medium none; line-height: 33px; width: 86px; display: block; height: 33px; color: #1664ac; font-size: 14px; font-weight: bold; background-color: #abcdef;border-radius: 4px;
}
.login_box .button:hover {
	background-color: #abedef;color: #1664ac; text-decoration: none
}
.login_footer {
	padding-bottom: 0px; margin: 0px auto; padding-left: 25px; width: 400px; text-align:center; padding-right: 0px; height: 33px;
}
.login_footer p {
	line-height: 20px; color: #666
}