<div>
    <div class="dux-box">
        <div class="box-side">
            <div class="uk-card uk-card-default uk-card-small dux-panel">
                <ul class="dux-menu">
                    <li class="active"><a href="{url('index')}">会员信息</a></li>
                    <li><a href="{url('reg')}">注册设置</a></li>
                    <li><a href="{url('verify')}">验证设置</a></li>
                    <li><a href="{url('pay')}">财务设置</a></li>
                    <li><a href="{url('notice')}">通知设置</a></li>
                </ul>
            </div>
        </div>
        <div class="box-body">
            <div class="uk-card uk-card-default uk-card-small dux-panel">
                <div class="uk-card-header">会员信息</div>
                <div class="uk-card-body">
                    <form class="dux-form uk-form   uk-form-horizontal " method="post" action="{url()}" data-dux="form-bind">
                        <fieldset>
                            <!--loop{$fieldList as $vo}-->
                            <div class="uk-form-group">
                                <label class=" uk-form-label">{$vo.name}</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="{$vo.key}" placeholder="{$vo.description}" value="{$vo.value}" required>
                                </div>
                            </div>
                            <!--{/loop}-->
                            <div class="uk-form-group">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>