<div>
    <div class="dux-box">
        <div class="box-side">
            <div class="uk-card uk-card-default uk-card-small dux-panel">
                <ul class="dux-menu">
                    <li><a href="{url('index')}">会员信息</a></li>
                    <li><a href="{url('reg')}">注册设置</a></li>
                    <li class="active"><a href="{url('verify')}">验证设置</a></li>
                    <li><a href="{url('pay')}">财务设置</a></li>
                    <li><a href="{url('notice')}">通知设置</a></li>
                </ul>
            </div>
        </div>
        <div class="box-body">
            <div class="uk-card uk-card-default uk-card-small dux-panel">
                <div class="uk-card-header">验证设置</div>
                <div class="uk-card-body">
                    <form class="dux-form uk-form   uk-form-horizontal " method="post" action="{url()}" data-dux="form-bind">
                        <fieldset>
                            <div class="uk-form-group">
                                <label class=" uk-form-label">图形验证码</label>
                                <div class="uk-form-controls uk-form-controls-text">
                                    <div class="uk-grid">
                                        <label>
                                            <!--if{$info.verify_image}-->
                                            <input name="verify_image" value="1" checked="checked" type="radio">
                                            <!--{else}-->
                                            <input name="verify_image" value="1" type="radio">
                                            <!--{/if}-->
                                            开启
                                        </label>
                                        <label>
                                            <!--if{!$info.verify_image}-->
                                            <input name="verify_image" checked="checked" value="0" type="radio">
                                            <!--{else}-->
                                            <input name="verify_image" value="0" type="radio">
                                            <!--{/if}-->
                                            关闭
                                        </label>
                                    </div>
                                    <div class="uk-form-help">注册、找回密码等操作时需要填写图形验证码，开启验证状态时强制启用验证码</div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <label class=" uk-form-label">验证状态</label>
                                <div class="uk-form-controls uk-form-controls-text">
                                    <div class="uk-grid">
                                        <label>
                                            <!--if{$info.verify_status}-->
                                            <input name="verify_status" value="1" checked="checked" type="radio">
                                            <!--{else}-->
                                            <input name="verify_status" value="1" type="radio">
                                            <!--{/if}-->
                                            开启
                                        </label>
                                        <label>
                                            <!--if{!$info.verify_status}-->
                                            <input name="verify_status" checked="checked" value="0" type="radio">
                                            <!--{else}-->
                                            <input name="verify_status" value="0" type="radio">
                                            <!--{/if}-->
                                            关闭
                                        </label>
                                    </div>
                                    <div class="uk-form-help">需要同时设置发送方式,针对注册修改密码等</div>
                                </div>
                            </div>



                            <div class="uk-form-group">
                                <label class=" uk-form-label">短信验证码模板</label>
                                <div class="uk-form-controls">
                                    <textarea name="verify_sms_tpl" placeholder="请输入模块短信消息模板">{$info.verify_sms_tpl}</textarea>
                                    <div class="uk-form-help">消息模板值，有效期(分钟) <a href="javascript:;" data-dux="app-copy" data-clipboard-text="[验证码]">[验证码]</a> <a href="javascript:;" data-dux="app-copy" data-clipboard-text="[有效期]">[有效期]</a></div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <label class=" uk-form-label">邮件验证码模板</label>
                                <div class="uk-form-controls">
                                    <textarea name="verify_mail_tpl" placeholder="请输入模块短信消息模板" data-dux="form-editor" rows="20">{$info.verify_mail_tpl}</textarea>
                                    <div class="uk-form-help">消息模板值，有效期(分钟) <a href="javascript:;" data-dux="app-copy" data-clipboard-text="[验证码]">[验证码]</a> <a href="javascript:;" data-dux="app-copy" data-clipboard-text="[有效期]">[有效期]</a></div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <label class=" uk-form-label">发送间隔</label>
                                <div class="uk-form-controls">
                                    <input type="number" name="verify_second" placeholder="请设置发送间隔" value="{$info.verify_second}" required>
                                    <div class="uk-form-help">单位:秒</div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <label class=" uk-form-label">发送限制</label>
                                <div class="uk-form-controls dux-form uk-form  uk-form-inline">
                                    每过
                                    <input type="number" name="verify_minute" value="{$info.verify_minute}" class="dux-field-inline dux-field-md" required>
                                    分钟可以发送
                                    <input type="number" name="verify_minute_num" value="{$info.verify_minute_num}" class="dux-field-inline dux-field-md" required>
                                    条验证码
                                    <div class="uk-form-help">指定分钟内发送条数限制,针对单个接收帐号</div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <label class=" uk-form-label">有效期</label>
                                <div class="uk-form-controls">
                                    <input type="number" name="verify_expire" placeholder="设置验证码有效期" value="{$info.verify_expire}" required>
                                    <div class="uk-form-help">单位:秒</div>
                                </div>
                            </div>

                            <div class="uk-form-group">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>