#m #setmod{ margin-left:500px;}
#header,#footer{width:1000px;}
#content{width: 988px;}
#banner .manage{ color:#FFF;}
/*body*/
body{color:#555;background:url("images/bg.png");}
.tbbd{background:url("images/bg.png");}
.bwrap{background:#4c4a7b url("images/bwrap.png") no-repeat center top;width:988px;margin:0px auto 10px;}
#banner{background:url("images/bannerbg.png") no-repeat center bottom;padding-bottom:13px;padding-top:13px;}
.singpic,.slider{border:#fff 6px solid;}
#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{width:260px;margin-left:-260px;}

.cwrap{background:#fff url(images/cwrap.png) center bottom no-repeat;width:988px;margin:0px auto;padding:12px 6px 10px;}
.content{ background:url(images/contentbg.png) repeat-y center center;}
.content .xtop{ background:url(images/xtop.png) center center no-repeat; height:8px;}
.content .xbottom{ background:url(images/xbottom.png) center center no-repeat; height:8px;}
#index .content{ background:url(images/icontentbg.png) repeat-y center center;}
#index .content .xtop{ background:url(images/ixtop.png) center center no-repeat; height:8px;}
#index .content .xbottom{ background:url(images/ixbottom.png) center center no-repeat; height:8px;}
#contact .content .xtop{ background:none; height:0px;}
#contact .content .xbottom{ background:none; height:0px;}

#contact .col-main{background:url("images/colmaintop-c.png") no-repeat 0 top;padding-top:4px;}
#contact #content{background:#fdf2f8 url("images/colmainbottom-c.png") no-repeat 0 bottom;}
.col-extra{background:#eff6fe url("images/colextratop.png") no-repeat 0 top;}
.col-extra .mbox{padding-left:10px;padding-right:10px;background:url("images/colextrabottom.png") no-repeat 0 bottom;padding-bottom:8px;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f79220;}
.mhd span a{color:#999;}

input,textarea{border-top:1px #abadb3 solid;border-left:1px #e1e7ef solid;border-right:1px #e1e7ef solid;border-bottom:1px #e1e7ef solid;}
.job_con table,.guest table {border-top:1px solid #ebc0da;border-left:1px solid #ebc0da;border-right:1px solid #ebc0da;}
.job_con td,.guest td {background:#f8f0f7;border-bottom:1px solid #ebc0da;}
.job_con th,.guest th {background:#f9e5f1;border-bottom: 1px solid #ebc0da;}
/*header*/
#header {background:url("images/wrap.png") no-repeat top;height:202px;}
#header h1,#header p{float:left;display:block;}
#header h1{padding-top:8px;}

#header p {color: #4c4a7b;position:absolute;top:90px;left:72px;}
.menu{position:absolute;top:33px;right:108px;}
.menu a{color:#fff;}
.menu a.topico01{background:url("images/topico01.png") no-repeat 0 4px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 5px;}

.nav{position:absolute;top:172px;background:#fff;width:1000px;}
.nav ul{margin-left:20px;}
.nav li{background:url("images/li.png") no-repeat right center;font-weight:bold;}
.nav li a{width:91px;margin-left:10px;}
.nav li span{padding-top:2px;padding-bottom:10px;}
.navlist ul{top:29px;}
.navlist ul li{margin-top:1px;line-height:26px;height:26px;width:91px;background:url("images/sublibg.png") no-repeat;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;font-weight:normal;margin-left:0;}

.nav li.last{background:none;}
/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#666;}
.nav a:hover,
.nav a.active,.nav a.active:visited{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#4c4a7b;}
.nav li.active a{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#f79220;background:none;}
/*content*/
.mbox{margin-top:10px;}
.col-main .mbox{margin-top:0;padding-top:10px;}
.col-sub .mhd{margin:0 10px;}

.mhd h3{color:#4c4a7b;padding-left:10px;}
.col-sub .mhd h3{border-bottom:1px #dccd9c solid;color:#f79220;}
.col-extra .mhd h3{border-bottom:1px #d0dff5 solid;}
.col-main .mhd{background:url("images/col-main-mhd.png") no-repeat 10px bottom;height:20px;line-height:20px;}
.col-main .mhd span {padding-right: 20px;}
#contact .col-main .mhd{margin-left:10px;background:url("images/col-main-mhd-c.png") no-repeat 0 center;height:20px;line-height:20px;}
.col-main .mhd h3{padding-left:28px;}

.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:20px;}

.col-main .seabox .mhd{background:url("images/col-main-mhd.png") no-repeat 10px bottom;height:48px;}
.seabox .mhd h3{padding-top:27px;}
.seabox .mhd .r{margin-right:10px;_margin-top:-5px;}

.mhd button{background:url("images/sbtn2.png") no-repeat;color:#fff;}
.mbd{padding-left:20px;padding-right:20px;}
#contact .col-main .mbd{padding-left:10px;padding-right:10px;}
/*feedback*/
.feedback a{background:url("images/feedback3.png") no-repeat;width:240px;margin-top:6px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #a18dac dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #ebc0da solid;}
.notice_con p.active{background:#f9e5f1;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#f79220;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd li {line-height:28px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}
.title{border-bottom:1px #ddd solid;}
.title h2{color:#4c4a7b;}
.title p{color:#a18dac;}
.prodt .mbd{padding-left:5px;}
.prodt .mbd li {margin: 20px 27px 0 22px;}
.plinks .mbd li {margin: 14px 10px 0 13px;}
.quaon_pic .mbd li{margin:26px 33px 0px 28px;}
.prodt_list .mbd li {margin: 26px 26px 0 25px;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.prodt_con .mbd{margin-left:20px;} 
.prodt_con h4{color:#4c4a7b;}
.map{background:#9a82a8;border:1px #4b3259 solid;}
.contact_con dt{color:#4c4a7b;}
/*.contact dd{background:url("images/contact_line.png") no-repeat 0 bottom;}*/
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;line-height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;color:#eae7ee;}

.pipe {color:#fff;}
.fwrap{padding-bottom:10px;}
#footer {color: #fff;background:#4c4a7b url("images/fwrap.png") no-repeat center top;margin:10px auto 0;}
#footer span.xbottom{display:block;height:10px;background:url("images/fxbottom.png") no-repeat;}
#footer p{padding-top: 6px;}
#footer a:link, #footer a:visited {color: #fff;}
#footer a:hover {color: #fff;}
#footer .support a:link, #footer .support a:visited{color: #fff;}
