.content {
	width: 100%;
	margin: 0 auto
}

@media(min-width:768px){
	.container{width:1320px !important;}
}

.content .rec_con ul li {
	float: left;
	width: 290px;
	padding: 5px;
	margin: 0 8px;
	height: 200px;
	background: #e8e8e8;
	border-radius: 3px;
	position: relative;
	-webkit-transition: all .45s ease-in-out;
	-moz-transition: all .45s ease-in-out;
	-ms-transition: all .45s ease-in-out;
	-o-transition: all .45s ease-in-out;
	transition: all .45s ease-in-out
}

.content .rec_con ul li.bd-1 {
	border: solid 1px #98d3e8
}

.content .rec_con ul li.bd-1:hover {
	background: #98d3e8
}

.content .rec_con ul li.bd-2 {
	border: solid 1px #ffcb76
}

.content .rec_con ul li.bd-2:hover {
	background: #ffcb76
}

.content .rec_con ul li.bd-3 {
	border: solid 1px #ff525a
}

.content .rec_con ul li.bd-3:hover {
	background: #ff525a
}

.content .rec_con ul li.bd-4 {
	border: solid 1px #71c46f
}

.content .rec_con ul li.bd-4:hover {
	background: #71c46f
}

.content .rec_con ul li img {
	width: 290px;
	height: 200px;
	display: block
}

.content .rec_con ul li .a-index {
	position: absolute;
	width: 290px;
	height: 200px;
	top: 5px;
	left: 5px;
	line-height: 20px;
	text-align: center;
	background: rgba(0,0,0,.5);
	color: #fff
}

.content .rec_con ul li .a-index h2 {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	font-size: 2em;
	line-height: 28px;
	text-align: center;
	text-shadow: 0 0 2px rgba(255,255,255,.7);
	text-align: center;
	margin-top: 0;
	width: 98%;
	height: 200px;
	margin-bottom: 0;
	display: table;
	padding: 0 1%;
	letter-spacing: 2px
}

.content .rec_con ul li .a-index h2.fc-1 {
	color: #98d3e8
}

.content .rec_con ul li .a-index h2.fc-2 {
	color: #ffcb76
}

.content .rec_con ul li .a-index h2.fc-3 {
	color: #ff525a
}

.content .rec_con ul li .a-index h2.fc-4 {
	color: #71c46f
}

.content .rec_con ul li .a-index h2 span {
	display: table-cell;
	vertical-align: middle
}

@media screen and (max-width:1024px) {
	.content {
		width: 97%;
		margin: 0 auto
	}

	.content .rec_con ul li {
		width: 225px;
		padding: 2px;
		margin: 0 6px;
		height: 150px
	}

	.content .rec_con ul li img {
		width: 225px;
		height: 150px
	}

	.content .rec_con ul li .a-index {
		width: 225px;
		height: 150px;
		top: 2px;
		left: 2px;
		line-height: 20px
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.7em;
		line-height: 24px;
		width: 98%;
		height: 150px
	}
}

@media screen and (max-width:980px) {
	.content {
		width: 95%;
		margin: 0 auto
	}

	.content .rec_con ul li {
		width: 160px;
		padding: 2px;
		margin: 0 6px;
		height: 140px
	}

	.content .rec_con ul li img {
		width: 160px;
		height: 140px
	}

	.content .rec_con ul li .a-index {
		width: 160px;
		height: 140px;
		top: 2px;
		left: 2px;
		line-height: 20px
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.6em;
		line-height: 24px;
		width: 98%;
		height: 140px
	}
}

@media screen and (max-width:720px) {
	.content {
		width: 94%;
		margin: 0 auto
	}

	.content .rec_con ul li {
		width: 255px;
		height: 180px;
		margin-top: 10px
	}

	.content .rec_con ul li img {
		width: 255px;
		height: 180px
	}

	.content .rec_con ul li .a-index {
		width: 255px;
		height: 180px;
		line-height: 20px
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 180px
	}
}

@media only screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.0) and (orientation:landscape) {
	.content .rec_con ul li {
		width: 240px;
		height: 180px;
		margin-top: 10px
	}

	.content .rec_con ul li img {
		width: 240px;
		height: 180px
	}

	.content .rec_con ul li .a-index {
		width: 240px;
		height: 180px;
		line-height: 20px
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 180px
	}
}

@media screen and (max-width:480px) {
	.content {
		width: 100%
	}

	.content .rec_con ul li {
		width: 45%;
		height: 150px;
		padding: 1%;
		margin: 10px 1% 5px
	}

	.content .rec_con ul li img {
		width: 100%;
		height: 150px
	}

	.content .rec_con ul li .a-index {
		width: 98%;
		left: 1%;
		top: 2%;
		height: 150px;
		line-height: 20px
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 150px
	}
}

@media screen and (max-width:380px) {
	.content {
		width: 240px
	}

	.content .rec_con ul li {
		width: 98%;
		height: 160px;
		padding: 1%;
		margin-top: 10px
	}

	.content .rec_con ul li img {
		width: 100%;
		height: 160px
	}

	.content .rec_con ul li .a-index {
		width: 98%;
		height: 160px;
		line-height: 20px;
		top: 1.5%;
		left: 1.5%
	}

	.content .rec_con ul li .a-index h2 {
		top: 0;
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 160px
	}
}

.progress_bar {
	width: 98%;
	border-radius: 4px;
	background-color: #c6cbcb;
	box-shadow: inset 0 1px 1px #c9c9c9,inset -1px 0 2px #b8b8b8;
	display: block;
	position: relative;
	height: 5px;
	padding: 0;
	margin: 10px auto
}

.progress_bar .progress_bar_x {
	display: block;
	width: 100%;
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 1px;
	opacity: .9;
	background-color: #5ab4f7;
	border-radius: 8px 4px 4px 8px
}

.waterfull {
	margin: 0 auto
}

.waterfull ul li {
	float: left;
	width: 284px;
	padding: 8px;
	margin: 0 6px 10px;
	background: #fff;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	border: solid 1px #bcbcbc;
	box-shadow: 0 0 10px #bcbcbc
}

.waterfull ul li .a-img {
/*width:284px;*/
	display: block;
	position: relative
}

.waterfull ul li .a-img img {
/*width:284px;*/
	display: block
}

.waterfull ul li .li-title {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 16px;
	padding: 5px 0;
	max-height: 48px;
	overflow: hidden;
	line-height: 24px;
	color: #898686;
	background: #fff;
	border-bottom: solid 1px #dbdbdb
}

.waterfull ul li .li-title:before {
	border-color: transparent transparent #eee;
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	position: absolute;
	margin: -24px 0 0 10px;
	width: 0
}

.waterfull ul li .description {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: 0 !important;
	padding: 5px 0;
	max-height: 66px;
	overflow: hidden;
	line-height: 20px;
	color: #898686;
	font-size: 12px;
	/*text-indent: 2em;*/
	background: #fff;
	border-bottom: solid 1px #dbdbdb
}

.waterfull ul li .qianm {
	font-size: 12px;
	background: #fff
}

.waterfull ul li .qianm .sp1 {
	float: left;
	height: 30px;
	line-height: 36px;
	color: #898686
}

.waterfull ul li .qianm .sp1 b {
	color: #5daa21;
	font-weight: 700;
	padding: 0 5px;
	font-size: 1.3em
}

.waterfull ul li .qianm .sp2 {
	float: right;
	height: 30px;
	padding: 0 5px;
	line-height: 36px;
	color: #898686
}

.waterfull ul li .qianm .sp3 {
	float: right;
	height: 30px;
	line-height: 36px;
	color: #898686
}
@media(max-width: 500px){
	.waterfull ul li{width: 100%;margin-right: 0;margin-left: 0;}
	.masonry,.waterfull,.content{width: 100% !important;}
}