li{ list-style:none;}
ul{ padding:0; margin:0;}

.img-hide{ overflow:hidden; }
.img-hide img{ transition: 0.5s all; }
.img-hide:hover img{ transform: scale(1.1,1.1); }

.case-back{ background: #f5f5f5; padding:60px 80px; /* margin-top: 75px;  */}
.case-tabs li{ float: left; padding:0 20px; position: relative; }
.case-tabs{ margin:40px 0 30px -20px; }
.case-back .title{margin-top: 0;font-size: 24px;font-weight: bolder;}
.case-tabs li a{ color: #999; }
.case-tabs li:before{ display: block; content: ""; position: absolute; right: 0; top: 50%; height: 12px; border-right: solid 1px #ccc; margin-top: -6px; }
.case-tabs li:last-child:before{ display: none; }
.case-tabs li.active a,.case-tabs li a:hover{ color: #333; }
.case-img img{ width: 100%;height: auto;}
.case-list li{ float: left; width: 25%; background: #fff; border-right: solid 1px #f5f5f5; margin-bottom: 10px;}
.case-bottom{ padding:20px; }
.case-tt a{ font-size: 18px; color: #333;font-weight: bolder;}
.case-txt{ overflow: hidden;text-overflow: ellipsis;/*display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;*/padding-bottom: 8px;/*line-height: 1.8em;*/font-size: 12px; color: #999; margin-top: 3px; border-bottom: solid 1px #eee; margin-bottom: 15px;white-space: nowrap; }
.case-date{ font-size: 12px; color: #999; line-height: 14px; }
.case-date a{ float: right; }

@media(min-width: 768px){
    .case-img img{height: auto; }
}
