@charset "utf-8";
body{
	background: url('./body_bg.gif') repeat left bottom;
}
a:hover{
	text-decoration: underline;
}

/*头部样式-开始*/
.head .top{
	color: #ccc;
	padding: 5px 0;
	background: #040404;
	border-bottom: 1px solid #4B4B48;
	height: 20px;
	line-height: 20px;
}
.head .top a{
	color: inherit;
}
.head .top a:hover{
	color: #fff;
}
.head .top a{
	margin: 0px 10px;
}

.head .mid{
	background: url('./head_mid_bg.gif') repeat-x left bottom;
	background-color: #333333;
	height: 50px;
	padding: 15px 0;
}
.head .mid a{
	color: inherit;
}
.head .mid a:hover{
	text-decoration: none;
}
.head .mid .logo h1{
	color: #fff;
	font-size: 28px;
	line-height: 28px;
	font-weight: normal;
	margin-bottom: 10px;
}
.head .mid .logo h2{
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}
.head .mid .search{
	margin-top: 25px;
}
.head .mid .search a:active{
	top:0;
}
.head .bot{
	background: url('./head_bot_bg.gif') repeat-x left bottom;
	border-bottom: 1px solid #B4B4B4;
	padding-top: 5px;
}
.head .bot .nav > ul > li{
	position: relative;
	background-image: url('./head_bot_line.gif');
	background-repeat: no-repeat;
	background-position: 100% 12px;
}
.head .bot .nav ul li a{
	display: inline-block;
	min-width: 60px;
	text-align: center;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	color: #333;
}
.head .bot .nav > ul > li >a.current,
.head .bot .nav > ul > li >a:hover{
	background-color: #1e1e1e;
	color: #fff;
	text-decoration: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
.head .bot .nav ul.item{
	position: absolute;
	left: 0;
	top: 35px;
	z-index: 9;
	padding-bottom: 5px;
	background-color: #1e1e1e;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.head .bot .nav ul.item a{
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 10px 30px 10px 20px;
	color: #fff;
}
.head .bot .nav ul.item a:hover{
	background-color: #333;
}
/*头部样式-结束*/



.main{
	min-height: 700px;
}
.main a{
	color: #046380;
}

/*首页*/
.index-focus{
	padding: 5px;
	border-radius: 5px;
	height: 310px;
	overflow: hidden;
	background-color: #fff;
}
.index-focus img{
    display: block;
    width: 100%;
	height: 310px;
}
.tag-list a{
	display: inline-block;
	background-color: #EEE;
	border-color: #CCC;
	border-style: solid;
	border-width: 0 1px 1px 0;
	color: #888;
	height: 17px;
	line-height: 17px;
	padding: 0 5px;
	margin-right: 5px;
}
.tag-list a:hover{
	color: #046380;
}

/*列表页*/
.list-news li{
	line-height: 35px;
	border-bottom: 1px dotted #ccc;
}
.list-news li:last-child{
	border-bottom: none;
}

.list-article .img{
	padding: 1px;
	width: 160px;
	height: 120px;
	border-radius: 5px;
	text-align: center;
	line-height: 120px;
	margin-right: 20px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.list-article .img:hover{
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);	
}


/*详情页*/
.show-article img{
	display: block;
	max-width: 700px;
	height: auto;
	margin:5px auto;
}
.show-article .con{
	font-size: 14px;
	overflow: hidden;
}



/*脚部样式-开始*/
.foot a:hover{
	color: #fff;
}
.foot .mid{
	background: url('foot_mid_bg.gif') repeat-x left top #333333;
	color: #ccc;
	border-bottom: 1px solid #040404;
	overflow: hidden;
	padding: 10px 0 20px 0;
}
.foot .fot-list p.tit{
	border-bottom: 1px dashed #4B4B4B;
	margin-bottom: 5px;
}
.foot .fot-list ul.con{
	padding-left: 20px;
	list-style-type: decimal;
}

.foot .bot{
	color: #ccc;
	padding: 5px 0;
	clear: both;
	background: #040404;
	border-top: 1px solid #4B4B48;
	height: 20px;
}
/*脚部样式-结束*/

/*留言板样式*/
.guestbook-box{
	background-color: #FFF;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #DDD;
}
.guestbook-box > .tit{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ccc;
}
.guestbook-box .msg-box{
	margin-bottom: 10px;
	border: 1px solid #BCE8F1;
}
.guestbook-box .msg-box > .tit{
	padding: 5px 10px;
	color: #31708F;
	background-color: #D9EDF7;
}
.guestbook-box .msg-box > .con{
	padding: 10px 20px;
}
.guestbook-box .msg-box > .fot{
	border-top: 1px dashed #ccc;
	padding: 10px 20px;
}
.guestbook-box .code-img{
	cursor: pointer;
}