
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>/index.phpOneThink管理平台</title>
    <link href="./favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/Admin/css/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Admin/css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Admin/css/module.css">
    <link rel="stylesheet" type="text/css" href="/Admin/css/style.css" media="all">
	<!-- <link rel="stylesheet" type="text/css" href="/Admin/css/.css" media="all"> -->
     <!--[if lt IE 9]>
    <script type="text/javascript" src="./static/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <!--<![endif]-->


</head>
<body>

	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="./index.php/admin/User/add.html">新 增</a>
            <button class="btn ajax-post" url="/index.php/admin/User/changeStatus/method/resumeUser.html" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="/index.php/admin/User/changeStatus/method/forbidUser.html" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="/index.php/admin/User/changeStatus/method/deleteUser.html" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="/index.php/admin/User/index.html"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
		<th class="">昵称</th>
		<th class="">email</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="1" /></td>
			<td>1 </td>
			<td>adggrty</td>
			<td>287303540@qq.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/1.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/1.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="2" /></td>
			<td>2 </td>
			<td></td>
			<td>mcback@qq.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/2.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/2.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="3" /></td>
			<td>3 </td>
			<td></td>
			<td>jennyjiang_01@163.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/3.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/3.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="4" /></td>
			<td>4 </td>
			<td></td>
			<td>jesse_108@163.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/4.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/4.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="5" /></td>
			<td>5 </td>
			<td></td>
			<td>wenpeng</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/5.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/5.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="7" /></td>
			<td>7 </td>
			<td></td>
			<td>xiaowuc@126.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/7.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/7.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="8" /></td>
			<td>8 </td>
			<td></td>
			<td>xiaowu@126.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/8.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/8.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="9" /></td>
			<td>9 </td>
			<td></td>
			<td>q@163.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/9.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/9.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="10" /></td>
			<td>10 </td>
			<td></td>
			<td>jennyjiang_03@163.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/10.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/10.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="11" /></td>
			<td>11 </td>
			<td></td>
			<td>510243060@qq.com</td>

			<td>1</td>
			<td>				<a href="./index.php/admin/User/changeStatus/method/forbidRow/target/user/id/11.html" class="ajax-get">禁用</a>
								<a href="./index.php/admin/AuthManager/group/uid/11.html" class="confirm ajax-get">删除</a>
                </td>
		</tr>
				<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
			</tbody>
    </table>
	</div>
    <div class="page">
        <ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="./index.php/admin/User/index.html?page=2">2</a></li><li><a href="/admin/User/index.html?page=3">3</a></li> <li><a href="./index.php/admin/User/index.html?page=2">&raquo;</a></li></ul>    </div>

        </div>
        <div class="cont-ft">
            <div class="copyright">
                <div class="fl"><a href="#" target="_blank">小白权限系统</a></div>
                <div class="fr"></div>
            </div>
        </div>



	<script type="text/javascript">
	</script>


</body>
</html>
