html,body,h1,h2,h3{font-family:"Microsoft YaHei UI", "微软雅黑", "宋体";}
.ng-cloak{display:none;}

.wander .wander-header{height:10em;}

.box-top{margin-top:0;}
.file-preview{margin:5px 0;}
.form-control-static-list{line-height:1.8em;margin-top:-.2em;}

.form-horizontal .note-modal-form .form-group{margin:0;}

.modal-dialog .file-browser{min-height:480px;line-height:0;color:#428bca;}
.modal-dialog .file-browser .thumbnail{display:block;float:left;width:100px;height:130px;margin-right:25px;cursor:pointer;}
.modal-dialog .file-browser .thumbnail:hover{border-color:#428bca;}
.modal-dialog .file-browser .thumbnail.active{border-color:#ffa500;}
.modal-dialog .file-browser span{display:block;height:2.5em;overflow:hidden;}
.modal-dialog .file-browser em.close{position:relative;left:20px;top:-140px;}
.modal-dialog .file-browser img{height:98px;}
.modal-dialog .file-browser i{display:block;font-size:6em;padding:5px;}
.modal-dialog .file-browser em{display:table-cell;vertical-align:middle;height:98px;}
