<!DOCTYPE html>
<html lang="zh-cn">

	<head>
        {include file="default/resource" /}
	</head>

	<body>
    {include file="default/header" /}
		<div class="container" style="margin-top: 125px;">
            {include file='default/crumb'}
		</div>
		<div class="container">
			<div class="line">
				<div class="xm12">
					<div class="bg-white">
						<strong class="padding bg-blue text-white">{$category_info.name}</strong>
						<div class="padding margin-top">
							<div class="alert padding-big radius-none">
								<h1 class="text-center">
                                {$content_info.title}
                            </h1>
								<p>{$content_info.content}</p>
							</div>
							<div class="ds-thread" >
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
    {include file='default/footer'}
	</body>
	<script src="__PUBLIC__/home/js/pintuer.js"></script>
	<script>
		$(function() {
			$(window).scroll(function() {
				if($(window).scrollTop() > 60) {
					$(".logo").addClass("hideout").hide();
					$(".text3D").hide();
				} else {
					$(".logo").removeClass("hideout").show();
					$(".text3D").show();
				}
			});
		});
	</script>

</html>