
#content{width: 950px;}
#banner{width: 950px;}

#header{ width:950px; height:136px; background:url("images/header_bg.png") no-repeat top;   }

#footer{ width:950px; }
.menu{  padding-right:40px; }

.prodt .mbd li{ margin-left:20px; margin-right:15px;}
.plinks .mbd li{ margin-left:13px; margin-right:0px;border:1px solid #dbd8d5;}

.col-extra{ display:none;}
.mhd button{ color:#fff; line-height:15px;}
.contact_con dt{color:#505050;}

.grid .main-wrap{ margin-left:270px; }


.mbd{ color:#545454; background:url("images/mbd_bg.png") #fff repeat-x top;}
.mhd span a:link, .mhd span a:visited{ color:#505050;}





.map{ background:#fff; border:1px solid #dbd8d5;}

/*body*/
body{color:#2e84d9; background:#fff;}
.tbbd{color:#2e84d9;}
.hwrap{background:url("images/hwrap_bg.png") repeat-x top;}
#banner {  margin-top:2px;}
#banner .xbottom{ background:url("images/xbottom_bg.png") no-repeat top; height:25px;}

.pic_list img{ background:#fff; border:1px solid #dbd8d5;}





.col-sub a:link,.col-sub a:visited,.col-sub .mbd {color:#505050;}
.col-main a:link,.col-main a:visited,.col-main .mbd {color:#3b3a39 ;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #aaabad  solid;border-left:1px #e4e5e9 solid;border-right:1px #e4e5e9 solid;border-bottom:1px #e4e5e9 solid; background:#fff;}
.job_con table,.guest table {border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
.job_con td,.guest td{border-bottom:1px solid #dbdbdb;}
.job_con th,.guest th{background:#fff;border-bottom: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;border-left: 1px solid #dbdbdb;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;color:#0a1318; height:95px; line-height:95px; }
#header h1 img{ padding-top:20px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a{ color:#6b6b6b; }

.nav{ height:41px; line-height:41px;overflow:hidden; padding-left:10px;}

.nav li{ padding-left:8px; padding-right:17px;}

.nav li a{font-weight:normal;width:90px;text-align:center;  }

.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;border-bottom:1px #fff solid; display:none; }
.navlist ul li a{font-weight: normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{ }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff; }
.nav li.active ul a:hover{}


/*content*/
.sinner{ border-bottom:1px solid #dfdede; border-left:1px solid #dfdede; border-right:1px solid #dfdede;}
.minHeight{ height:auto !important; min-height:1px;}
.mhd{height:32px; color:#4d4d4d; line-height:32px; border-bottom:1px solid #dfdede;}

.col-sub .mhd{ background:url("images/col-sub_mhd_bg.png") no-repeat bottom; height:40px; line-height:35px; border:none;}
.col-sub .mbd{ background:none;}
#content{  margin-top:16px;}
.layout{  padding-bottom:10px; }

.col-sub .mhd h3{ padding-left:50px; background:url("images/sico01.png") no-repeat 15px center;}
.n_ico .mhd h3{ padding-left:45px; background:url("images/n_ico.png") no-repeat 15px center;}




.col-sub .mbd span a{ color:#505050;}


.col-main .mhd h3,.plinks .mhd h3,.news .mhd h3,.profile .mhd h3,.prodt .mhd h3{width:auto; color:#262524;  background:url("images/sico02.png") no-repeat 15px center;padding-left:45px; border-bottom:1px solid #dd2702; }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:15px;}

.feedback a{width:243px;background:url("images/feedback.png") no-repeat; padding-bottom:10px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #bababa dotted;}
.news li span,.seabox li span{color:#3b3a39;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #dbdbdb dashed;}
.notice_con p.active{background:#f2f2f2; color:#000;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #e6e6e5 dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#ca2301;}
.down_list .mbd li h2{border-bottom:1px #e6e6e5 dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px; color:#505050;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#ebebeb; color:#505050;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #505050 solid;}
.title h2{color:#3a1c18;}
.title p{color:#505050;}
/*g_page*/
.g_page .page,.g_page .page:hover{ color:#794a2e;}
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page a:visited,.g_page .front{border:1px #ccc solid;color:#3b3a39;}
.g_page .current,.g_page a:hover{background:#505050;color:#fff;border:1px #ccc solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#ebebeb;  color:#505050;}
.item span{color:#3b3a39;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#fff;width:58px;height:23px;}
.inputSubmit_reset{color:#505050;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png")  no-repeat;}

.pipe {color:#3b3a39;}


#footer {color: #3b3a39; height:60px; background:url("images/footer_bg.png") repeat-x top;padding-top:5px;}

#footer a:link, #footer a:visited {color: #3b3a39;}
#footer a:hover {color: #3b3a39;}
#footer .support a:link, #footer .support a:visited{color: #3b3a39;}
