.fmBox {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.fmBox .fmTit {
  font-size: 16px;
  color: #666;
  padding: 0 10px;
}
.noMore {
  text-align: center;
  font-size: 3em;
  color: #999;
}
.fmPage {
  padding: 0;
  display: flex;
  justify-content: center;
}
.fmPage .pager {
  margin: 0;
  padding-top: 10px;
}
.fmPage .pager #navigation {
  margin-bottom: 0;
}
.fmWrap {
  display: flex;
  justify-content: space-between;
}
.fmWrap .fmLeft {
  flex: 1;
}
.fmWrap .fmLeft .advTop {
  height: 220px;
  width: 100%;
}
.fmWrap .fmLeft .invitation {
  list-style: none;
}
.fmWrap .fmRight {
  width: 300px;
  margin-left: 20px;
}
.fmNum {
  display: flex;
}
.fmNum span {
  padding: 0 30px;
  border-right: 1px dashed #ddd;
  color: #999;
}
.fmNum span b {
  color: #666;
}
.fmNum span a {
  color: #0082df;
}
.fmNum span:last-of-type {
  border: none;
}
.fmList {
  display: flex;
  height: 160px;
}
.fmList .cover {
  width: 200px;
  height: 160px;
  overflow: hidden;
  margin-right: 15px;
}
.fmList .fmInfo {
  flex: 1;
}
.fmList .fmInfo h3 {
  margin: 0;
  padding-top: 5px;
  font-weight: 600;
}
.fmList .fmInfo .author {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  color: #999;
  font-size: 13px;
}
.fmList .fmInfo .author .fmAvt {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.fmList .fmInfo .author .name {
  padding: 0 15px 0 10px;
}
.fmList .fmInfo .cont {
  /*overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;*/
  color: #666;
}
.fmList .fmInfo .last {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 13px;
}
.fmList .fmInfo .last .readAll {
  color: #0082df;
}
.fmCard {
  padding: 20px 0 0;
}
.fmCard .rtAvt {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 10px auto 10px;
}
.fmCard p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
.fmCard .myNum {
  background-color: #f8f8f8;
  display: flex;
  padding: 10px 0;
}
.fmCard .myNum .one {
  flex: 1;
  text-align: center;
}
.fmCard .myNum .one span {
  color: #acbbc6;
  display: block;
  font-size: 12px;
}
.fmCard .myNum .one b {
  font-size: 16px;
  color: #34495e;
}
.fmCard .myNum .one:first-child {
  border-right: 1px solid #eff3f5;
}
.fmSend {
  text-align: center;
}
.fmSend .sendBtn {
  display: inline-block;
  background-color: #0082df;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0082df;
}
.fmSend .sendBtn:hover {
  background-color: transparent;
  color: #0082df;
}
.fmSend .antBtn {
  margin-top: 15px;
  background-color: transparent;
  color: #0082df;
}
.fmPlate {
  padding: 10px 0 0;
}
.fmPlate .plate {
  display: flex;
  flex-wrap: wrap;
}
.fmPlate .plate a {
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ededed;
  border-top: 1px solid #ededed;
}
.fmPlate .plate a:nth-of-type(even) {
  border-right: none;
}
.fmPlate .plate a:hover {
  background-color: #fbfbfb;
  color: #0082df;
}
.fmPlate .toAll {
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: #f8f8f8;
  color: #acbbc6;
}
.fmPlate .toAll:hover {
  color: #0082df;
}
.hotList {
  padding: 10px 0 0;
}
.hotList .fmTit {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin: 0;
}
.hotList ul {
  padding: 10px 0;
  margin: 0;
}
.hotList ul li {
  list-style: none;
}
.hotList ul li a {
  max-width: 280px;
  padding: 0 10px;
  line-height: 30px;
  color: #666;
}
.hotList ul li a:hover {
  color: #0082df;
  transform: translateX(10px);
}
.user {
  display: flex;
  flex-wrap: wrap;
}
.user .actWrap {
  display: inline-block;
  padding: 10px;
  width: 100px;
}
.user .actWrap a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
.fmBlock {
  padding: 0;
}
.fmBlock .bkTit {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  margin: 0;
  background-color: #fdfdfd;
}
.fmBlock .bkWrap {
  padding: 30px 12px;
  display: flex;
  flex-wrap: wrap;
}
.fmBlock .bkWrap .block {
  width: 372px;
  height: 122px;
  border-radius: 3px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fmBlock .bkWrap .block:hover {
  background-color: #fbfbfb;
  border-color: #ededed;
}
.fmBlock .bkWrap .block:hover .bkName {
  color: #0082df !important;
}
.fmBlock .bkWrap .block .bkCover {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 10px;
}
.fmBlock .bkWrap .block .bkInfo .bkName {
  font-size: 20px;
  line-height: 22px;
  color: #4d4d4d;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  margin: 0;
}
.fmBlock .bkWrap .block .bkInfo .desc {
  line-height: 15px;
  color: #999;
  margin: 7px 0 0;
  width: 200px;
  max-width: 200px;
}
.fmBlock .bkWrap .block .bkInfo .num {
  line-height: 15px;
  color: #999;
  margin: 7px 0 0;
}
.filter {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.coverHeader {
  width: 100%;
  height: 190px;
  position: relative;
  overflow: hidden;
}
.coverHeader .cover {
  width: 100%;
  height: 150px;
}
.coverHeader .summary {
  position: absolute;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 40px;
  left: 90px;
  width: 100%;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.coverHeader .hdInfo {
  height: 40px;
  padding-left: 100px;
  line-height: 40px;
}
.coverHeader .hdInfo .name {
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}
.coverHeader .hdInfo sub {
  margin-left: 15px;
  color: #999;
}
.coverHeader .hdInfo sub span:nth-child(2) {
  padding: 0 10px;
}
.coverHeader .hdLogo {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: 10px;
  bottom: 0;
}
.inList .noMore {
  padding: 20px 0;
}
.inList .listOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.inList .listOne:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.inList .listOne:hover .oneTit {
  color: #0082df !important;
}
.inList .listOne .left {
  display: flex;
  align-items: center;
}
.inList .listOne .left .oneAvt {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  margin-right: 10px;
}
.inList .listOne .left .oneInfo {
  padding-top: 3px;
}
.inList .listOne .left .oneInfo .oneTit {
  color: #4d4d4d;
  font-size: 15px;
}
.inList .listOne .left .oneInfo .oneTit:hover {
  color: #0082df;
}
.inList .listOne .left .oneInfo .oneMore {
  margin: 0;
  font-size: 13px;
  color: #999;
}
.inList .listOne .left .oneInfo .oneMore span {
  margin-right: 15px;
}
.inList .listOne .left .oneInfo .oneMore i {
  font-size: 14px;
  margin-right: 5px;
}
.inList .listOne .left .oneInfo .oneMore a {
  color: #999;
}
.inList .listOne .left .oneInfo .oneMore a:hover {
  color: #0082df;
}
.inList .listOne .time {
  color: #999;
}
.bkFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noFocus {
  text-align: center;
  padding: 10px 0;
  color: #666;
  width: 100%;
}
.dtWrap {
  display: flex;
  position: relative;
  padding: 0;
}
.dtWrap .people {
  width: 300px;
  border-right: 1px solid #ededed;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}
.dtWrap .people .avt {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px auto 10px;
}
.dtWrap .forum {
  flex: 1;
  padding: 20px;
}
.dtWrap .forum .fmInfo {
  border-bottom: 1px solid #ededed;
}
.dtWrap .forum .fmInfo .tit {
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin: 0;
}
.dtWrap .forum .fmNumber {
  padding: 10px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.dtWrap .forum .fmNumber a,
.dtWrap .forum .fmNumber span {
  color: #999;
}
.dtWrap .forum .fmNumber a {
  padding: 0 15px;
  border-right: 1px solid #ededed;
}
.dtWrap .forum .fmNumber a:last-of-type {
  border: none;
}
.dtWrap .forum .fmNumber .lab {
  display: inline-block;
  background-color: #0082df;
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 2px;
}
.inLink {
  margin: 10px 0;
  color: #999;
}
.inLink a {
  color: #999;
}
.inLink i {
  padding: 0 5px;
}
.share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rpList .forum .fmNumber {
  padding-top: 0;
  border-bottom: 1px solid #ededed;
}
.rpList .forum .fmOpt {
  margin-bottom: 10px;
}
.rpList .forum .fmOpt a {
  color: #999;
  padding: 0 8px;
}
.sedBox .tips {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.sedBox .tips a {
  color: #0082df;
  padding: 0 5px;
}
.look {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ededed;
}
.forum_left_operation {
  position: absolute;
  right: -46px;
  background-color: #fff;
}
.forum_left_operation .edBtn {
  display: block;
  padding: 15px;
  color: #999;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.forum_left_operation .edBtn:hover {
  background-color: #0082df;
  color: #fff;
}
.sendBox {
  width: 900px;
  margin: 0 auto;
}
.sendTit {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  font-size: 16px;
}
.sendTit sub {
  color: #999;
  margin-left: 15px;
}
#sub_nav {
  background-color: #f3f6f8;
  box-shadow: 0 4px 4px -3px #d1d1d1;
}
#sub_nav .active {
  border-bottom: 2px solid #0082df;
}
#sub_nav .active a {
  color: #0082df;
}
.sedNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shWrap {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #0082df;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
.shWrap input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 30px;
  width: 250px;
}
.shWrap a {
  padding-left: 10px;
}
