<if condition="!empty($rec_event)">

    <div class="common_block_border event_right">
        <div class="common_block_title_right"> 推荐活动</div>

        <div style="padding:0 10px">
            <volist name="rec_event" id="vo">
                <div style="">
                    <a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}"> <img style="margin-bottom: 10px;width: 100%"
                                               src="{$vo.cover_id|getThumbImageById=345,233}"/></a>
    <span><strong><a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}"
                     class="text-more" style="width: 100%">{$vo.title}</a></strong><div class="font_grey"
                                                                    style="font-size: 12px;margin-top: -5px;margin-bottom: 10px;">
        {:date('Y-m-d',$vo['sTime'])}--{:date('Y-m-d',$vo['eTime'])}
    </div><span
            class="font_grey" style="font-size: 14px;"> </span></span>
                </div>
            </volist>
        </div>

    </div>
</if>