{extend name="Public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<div class="main-box no-header clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>广告管理</h2>
		</div>
		<div class="pull-right">
			<a class="btn btn-primary" href="{:U('add')}"><i class="fa fa-plus-circle fa-lg"></i> 新 增</a>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<!-- 表格列表 -->
		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="30"><input class="checkbox check-all" type="checkbox"></th>
						<th width="60">ID</th>
						<th width="280">标题</th>
						<th width="280">创建时间</th>
						<th width="280">更新时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="data" id="list"}
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$list.id}"></td>
						<td>{$list['id']}</td>
						<td>{$list['title']}</td>
						<td>{$list['create_time']|date='Y-m-d H:i',###}</td>
						<td>{$list['update_time']|date='Y-m-d H:i',###}</td>
						<td>
							<a title="移动" href="{:U('edit?id='.$list['id'])}">编辑</a>
							<a title="删除" href="{:U('remove?id='.$list['id'])}" class="confirm ajax-get">删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<!-- /表格列表 -->
	</div>
</div>
{/block}