#gdetial img{
    max-width:100%;
}
.line{
    background-color:#f2f2f2;
    height:0.5rem;
    margin-left:-0.5rem;
    margin-right:-0.5rem;
}
.price-info > .price > .price{
    padding:1rem;
    font-size:1.6rem;
    color:#FF517D;
}
.price-info .price,.price-info .volume{
    position: relative;
    height: 13px;
    line-height: 13px;
    padding: 0.8rem 0.5rem;
    font-size: 13px;
    color: #666;
    border-top: 1px solid #eee;
    display:block;
}
.price-info .price span{
    font-size:0.8rem;
    color:#FD6363;
}
.price-info .title{
    padding:10px 0px;
    font-size: 18px;
    line-height: 26px;
    color: #444;
    text-align: center;
}
.content .content-title{
    padding:0.8rem;
    font-size:0.8rem;
    text-align:center;
    width:100%;
    border-bottom:1px solid #f2f2f2;
}
.buy:hover {
    background: #FF517D none repeat scroll 0% 0%;
}
.buy {
    background: #F36 none repeat scroll 0% 0%;
}
.price-info .go_btn {
    border-radius: 5px;
    line-height: 3.5rem;
    color: #FFF;
    text-align: center;
    width: 150px;
    height: 3.5rem;
    margin-right: 20px;
}
.content h3{
    border-top:2px solid #FF517D;
    border-bottom:2px solid #FF517D;
    padding:0.5rem;
}
.show_big img{
    margin:auto;
}
.goods-bar{
    position:fixed;
    bottom:0px;
    width:100%;
    background-color:#fff;
    border-top:1px solid #f2f2f2;
}
.goods-bar > div{
    width:33.33%;
    float:left;
    padding:15px;
    font-size:14px;
    text-align:center;
}
.goods-bar .goods-buy{
    background-color:#FD6363;
    color:#fff;
}
#tpwd-box{
    position:fixed;
    bottom:100px;
    z-index:999;
    width:90%;
    left:5%;
    padding:1rem 0.5rem;
    background-color:#fff;
    height:8rem;
    display:none;
    z-index:2000;
}
.bjw{
    position:fixed;
    z-index:2000;
    top:0;
}