header{
    position:relative;
    height: 45px;
    z-index:1030;
    display:block;
}
header nav.navbar {
    border: 0px none;
    margin: 0px auto;
    min-height: 45px !important;    
}

header nav.navbar-white {
    position:fixed;
    width:100%;
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.15) inset, 0px 3px 5px rgba(5, 5, 5, 0.075);
    background: #fff none repeat scroll 0% 0%;
}
header nav.navbar-white .navbar-toggle .icon-bar {
    background-color: #888;
}
header nav.navbar-white .navbar-toggle {
    border-color: #DDD;  
    padding:6px; 
    float:left;
}
header .dropdown-menu{
    background-color: #393939;
}
header .navbar-white .dropdown-menu{
    background-color: #fff;
    left: -20px;
    top:110%;
    border: 0;
   
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.176);
}
header nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color:#fff;
   
}
header .navbar-header #header_logo{
 float:left;
 height:44px;
 
 text-align:center; 
}
header .navbar-header #header_logo span{
  height:44px;
  width:120px;
  display:inline-block;
}
header .navbar-header #header-search{
  float:left;
  color:#000;
  height:36px;
  line-height:36px;
  padding:10px 10px;
}
header .navbar-header #header-search .glyphicon{
  color:#848484;
  font-size:2.4rem;
}
header .navbar-header #header_logo img{
  width: 100%;
}
header .navbar-search{
  display:inline-block;
  float:left;
  width:55%;
  padding:0.1rem;
}
.navbar-search input{
  height:36px;
  display:inline-block;
  margin:1% 1.5%;
  width:98%;
  background-image: none;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(146, 143, 233, 0.55) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.navbar-search .submit{
  display:inline-block;
  background:transparent;
  border:0;
  color:#848484;
  height:2rem;
  font-size:1.4rem;
  line-height:2rem;
}
header #navbar ul > li {
    line-height: 36px;
    border-bottom:1px solid #ccc;
    margin-right:10px;
    margin-left:10px;
    position: relative;
    display: block;
}
header #navbar ul.nav > li.divider-vertical {
    border-style: solid;
    border-width: 1px;
    opacity: 0.5;
    height: 58px;
    border-left: 1px solid #111415;
    border-right: 1px solid #646668;
}
header #navbar ul > li > a {
    line-height: 35px;
    height: 35px;
    padding: 0px 20px;
    margin-top: 12px;
    border-radius: 3px;
    color: #AAA;
    text-shadow: none;
}
header .navbar-white #navbar ul > li > a {
    line-height: 35px;
    height: 35px;
    padding: 0px 20px;
    margin-top: 12px;
    border-radius: 3px;
    color: #555;
    text-shadow: none;
    background: #fff;
}
header #navbar ul li >a:hover{
    color: #fff;
    background: #393939;
}
header .navbar-white #navbar ul li >a:hover{
    color: #FF5E52;
    background: #fff;
}
header #navbar ul > li.active > a {
    color: #FFF;
    background: #555 none repeat scroll 0% 0%;
    box-shadow: none;
}
header .navbar-white #navbar ul >li.active >a {
    color: #FFF;
    background: #FF5E52 none repeat scroll 0% 0%;
    box-shadow: none;
}
header .navbar-white .navbar-collapse{
    position:fixed;
    top:0;
    background-color:#fff;
    width:75%;
    height:100%;
    z-index:1030;

}
.navbar-search{
  width:100%;
  height:45px;
  background-color:#fff;
  display:;
  z-index:1030;
  position:fixed;
  display:none;
}
header .navbar-form{
    /* margin-top: 12px; */
}

.btn-blue{
    background: #00A0DC;
    border-radius: 0;
    padding: 6px 15px;
    color: #fff!important;
}
.bottom-menu {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  color: #848484;
  margin: 0px;
  z-index:1030;
}
.bottom-menu .active .glyphicon,.bottom-menu .active a{
  color:#FF5E52;
}
.bottom-menu div{
  padding:0;
}
.bottom-menu .glyphicon {
  color:#848484;
} 
.big-bg{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  background-color:rgba(132,132,132,0.5);
  display:none;
  z-index:1020;
}