
.topic-box{
	border-top:1px solid #ccc;
	margin-top:2rem;
	margin-bottom:2rem;
	position:relative;
	border-radius:0.8rem;
	overflow:hidden;
}

.topic-box .info{
	position:absolute;
	top:0;
	background-color:rgba(66,66,66,0.5);
	height:100%;
	width:100%;
	color:#eee;
	text-align:center;
}
.topic-box .info h4{
	border-bottom:1px solid #fff;
	padding:0.5rem 1rem;
	display:inline-block;
}
.jumbotron{
	margin: 0;
	padding: 0 !important;;
}
.goods-list{
	
}
.goods-list ul{
	padding:0;
	height:100%
}
.goods-list ul li{
	
	background: #FFF none repeat scroll 0% 0%;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #FFF;
	padding: 1%;
	margin-right: 1%;
	overflow: hidden;
	width: 100%;
	display:block;
}
.goods-list ul .item{
	position: relative;
}
.goods-list ul .item .goods-pic{
	
}
.goods-list ul .item .goods-price .price-current{
	border: 1px solid #FE0000;
	color: #FE0000;
	padding: 0.1rem;
	font-size: 1rem;
}
.goods-list ul li .item .title{
	font-size: 18px;
	line-height: 22px;
	padding: 5px 8px;
}
.goods-list ul li .item .title a:hover{
	color:#C61414;
}
.goods-list ul li .item .title a:link{
	color: #000;
}
.goods-list ul li .item .goods-price{
	padding-left: 5px;
	margin-top: 20px;
}
.goods-list ul li .item .goods-price .des-other{
	font-size: 12px;
	margin-left: 10px;
}
.goods-list ul li .item .goods-price .des-other .discount{
	display: none;
}