/*地址*/
 .user-center .user-district select{
	display: inline-block;
}
.goods-list li .goods-price .price-current{
	font-size: 16px;
}
.user-center .user-address div{
	padding:0;
}
.user-center .user-address .item{
	border-bottom:1px solid #ccc;
	padding:0.5rem;
}
.user-center .user-address .item div{
	padding:0;
}
.user-center .user-address .item div h4{
	padding:0;
}
.order div{
	padding:0;
}
.order h6{
	
}
.order .box-title{
	border:1px solid #FF5E52;

}
.order .contents{
	border-left:1px solid #FF5E52;
	border-right:1px solid #FF5E52;
	border-bottom:1px solid #FF5E52;
	margin-bottom:0.5rem;

}
.order .contents .item{
	background-color:#eee;
	border-bottom:1px solid #FF5E52;
}
.order .contents div{
	
	padding:0.5rem;
}