.nav-func {
    height:auto;

    .nav-title {
      font-size: 16px;
      color: #29312e;
      padding-left: 12px;
      margin: 10px 0 10px 12px;
      border-left: 1px solid #e9eaea;
      height:50px;
      line-height: 50px;
  }
}
.can_step_skip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
/**/
.center_line {
  margin-top: 0px;
  margin-right: 0px;
  border-top: 1px dashed #ccc;
}
.position select {
  width: auto;
  float: left;
  max-width: 120px;
  margin-right: 10px;
}
.center_arrow_right,
.center_arrow_bottom {
  padding-left: 5px;
  padding-top: 3px;
  vertical-align: middle;
  background: url('../images/info_arrow.png');
  display: inline-block;
  width: 16px;
  height: 16px;
}
.center_arrow_bottom {
  background-position: 18px 0px;
}
.center_info input[type=text],
#center_password input[type=text],
.center_info input[type=email],
#center_password input[type=email],
.center_info [type=password],
#center_password [type=password] {
  max-width: 250px;
}
.usercenter-verify-icon-list {
  img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }
}
.expandinfo-noticeinfo {
  margin-left: 30px;
  color: #A59F9F;
}
.expandinfo-dt {
  float: left;
  width: 16.6666666%;
  margin-right: 10px;
  text-align: right;
}
.expandinfo-dd {
  float: left;
  width: 50%;
}
.expandinfo-sumbit {
  margin-left: 20%;
}
.expandinfo-ul {
  list-style-type: none;
}
.expandinfo-li {
  float: left;
  margin-right: 10px;
}
.expandinfo-list {
  margin: 20px 5px 20px 5px;
  padding: 0;
}
.expandinfo-list {

  .alert {
    display: none;
    padding: 3px 8px;
    text-align: center;
  }
}
.input-tips {
  color: #BBB3B5;
  font-weight: 200;
  margin-left: 10px;
}
.lh32 {
  line-height: 32px;
  height: 32px;
}
.config_header {
  padding:20px 0;
}
.user-info-panel {
  padding: 20px;
}
.user-info-panel {

  .nickname {
    font-size: 16px;
    margin-top: 10px;
    display: block;
  }
}
.user-config {

  .side-menu {
    background: white;
  }
}

/*tag 用到的css*/
.tag-select-block {
  margin-bottom: 10px;
  .select-cate {
    width: 100px;
    float: left;
    text-align: right;
    padding-right: 5px;
    font-size: 15px;
    line-height: 26px;
  }

  .select-option {
    margin-left: 100px;

    .one_tag {
      float: left;
      margin: 0 10px 5px 0;
    }

    .one_tag {
      .btn {
        padding: 2px 10px;
      }
    }
  }

  .my-tag-block {
    border: #dcdcdc solid 1px;
    border-top-color: #b5b5b5;
    padding: 5px;
    padding-bottom: 10px;
    background: #fff;
    max-width: 500px;

    .one_tag {
      .btn {
        padding-right: 5px;
      }
    }
  }
}
/*tag 用到的css end*/
.config-content {
	background:#fff;
	min-height: 523px;
}
/*用户中心css*/
