.usercenter {
  margin:0 auto;

  .uc_fl_right {
    float: right;
  }

  .uc {
    border-radius: 0.2em;
    margin-bottom: 1em;
  }

  .uc_top_bg {
    height: 280px;
    position: relative;
    background:#999;
    width: 100%;

    .top_bg_box {

      overflow:hidden;
      height:280px;
      z-index:-10;
      zoom: 1;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
    }

    .change_cover {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }

  .uc_info {

      width:100%;
      position:absolute;
      z-index: 1;
      top:0;
      left:0;

    .avatar-box {
      background:#fff;
      background: rgba(255,255,255,0.3);
      border-radius: 50%;
      padding:5px;
      width:74px;
      margin:38px auto 0 auto;
    }

    .user_info_photo {
      display:block;
      width:64px;
      height:64px;
    }

    .avatar-img {
      border:5px;
      background: rgba(255,255,255,0.3);
    }

    .uc_main_info {
      padding:10px;

      .uc_info_box {
        margin:5px auto;
        color:#fff;

        a {
          color:#fff;
        }
      }

      .followers_btn a {
        display:inline-block;
        padding:10px;
        color:#fff;

        span{
          display:block;
        }
      }
    }

    @media (min-width: 992px) {
      .uc_follow {
      }
    }
    @media (max-width: 992px) {
      .uc_follow {
        margin: 0 0 10px 0;
      }
    }
  }

  .iMessageInput {
    margin:6px auto;
  }

  .uc_navbar {
    border-radius: 0;
    border-left: none;
    border-right: none;
    background: #F1F1F1;

    .navbar-collapse {
      padding-left: 0;

      ul {
        li {
          a {
            color: #848484;
            font-size: 16px;
            padding: 13px 25px;
          }

          &:hover {
            background: white;
            color: #333333;
          }

          .uc_current {
            background: white;
            color: #333333;
          }
        }
      }
    }
  }

  .uc_content {
    background:#fff;
    padding:10px 0;
    border-radius: 0.2em;
    margin-bottom: 1em;

    .uc_other_link {
      margin-bottom: 20px;
    }

    .uc_other_link > div {
      margin: 10px;
      border-radius: 3px;

      .uc_link_info {
        margin-top: 15px;

        dt img {
          margin: 0 auto;
          max-width: 100%;
        }
        dd {
          color:#333;
          text-align: center;
        }
      }

      .uc_link_block {
        display: block;

        .uc_link_top {
          border-bottom: 1px solid #ddd;
          font-size: 16px;

          .uc_title {
            margin: 12px 15px 12px 0;
            float: left;
          }

          .uc_more_link {
            font-size: 14px;
            margin: 14px 10px 0 0;
          }
        }
      }
    }
  }

  .base_info {
    dl dt {
      width: 99px;
    }

    dl dd {
      margin-left: 115px;
    }
  }

  .expand_info {
    dl dt {
      width: 99px;
    }

    dl dd {
      margin-left: 115px;
    }
  }

}


.pnav-box {
	margin:15px 0;
	background:#fff;

  .pnav-list li a{
    font-size:18px;
    border-bottom: 2px solid #fff;

    &:hover {
      border-bottom: 2px solid #f1f1f1;
    }
  }
}





