<extend name="Common/list-base" />
<block name="search">
    <div class="input-group">
        <span class="text-icon">搜索</span><input type="text" name="realname|username[like]" >
    </div>
</block>

<block name="list">
<tr>
    <th width="100">姓名</th>
    <th>账号</th>
    <th>手机</th>
    <th>邮箱</th>
    <th>生日</th>
    <th width="50" class="tc">状态</th>
    <th width="300">操作</th>
</tr>
<foreach name="list" item="v">
<tr>
    <td>{$v.realname}</td>
    <td>{$v.username}</td>
    <td>{$v.mobile}</td>
    <td>{$v.email}</td>
    <td>{$v.birthday}</td>
    <td class="tc">{:int_str($v['status'],'0:false,1:true')}</td>
    <td>
        <a class="AjaxHtml btn btn-blue mrt10" data-url="{:U('group?uid='.$v['id'])}" href="javascript:;">授予分组</a>
        <a class="AjaxHtml btn btn-blue mrt10" data-url="{:U('edit?id='.$v['id'])}" href="javascript:;">编辑成员</a>
        <a class="AjaxConfirm btn btn-red mrt10" data-url="{:U('del?id='.$v['id'])}" href="javascript:;">删除成员</a>
    </td>
</tr>
</foreach>
</block>

