@charset "UTF-8";

.login-logo h2 {color: #888;}

.x-navigation > li.xn-logo > a:first-child {font-size: 25px;text-indent: 0;line-height: 50px;text-align: center;font-weight: bolder;font-family: "楷体";color: #ddd;overflow: hidden;}

.table-tools {box-shadow: 1px 1px 5px 1px #eee;padding: 4px 5px;margin-bottom: 30px;clear: both;}
.table-tools p {font-size: 26px;float: right;line-height: 32px;}

.questionnaire-info {padding: 10px 5px 20px;margin-bottom: 30px;box-shadow: 1px 1px 5px 1px #ddd;position: relative;}
.questionnaire-info h2 {display: inline;position: relative;top: 5px;}
.questionnaire-info blockquote {padding-right: 260px !important;}
.questionnaire-info blockquote p {line-height: 1.5;font-family: "楷体";font-size: 15px;}
.questionnaire-title {margin: 0 260px 20px 0;}
.questionnaire-title span {display: inline-block;margin-right: 8px;}

#questionnaire-table td.questionnaire_name {font-family: "华文新魏";font-size: 13px;}
#questionnaire-table td.questionnaire_desc {font-family: "仿宋";}

.widget-item-icon {width: 250px;height:100%;margin: 0;position: absolute;top: 0px;right: 0px;}

#question-form {position: relative;}
#question-form .tip {color: red;position: relative;right: -40px;font-weight: bold;}
#question-form .option-list {padding: 10px;border: 3px dashed #eee;min-height: 100px;}
#question-form .option-item {margin-bottom: 10px;}
#question-form .option-item > input {display: inline-block;margin-right:-145px;position: relative;z-index: 9;}
#question-form .option-item > div {display: inline-block;width:100%;padding-left:150px;box-sizing:border-box;position: relative;}
#question-form .option-item > div > input {display: inline-block;}
#question-form .option-item .option-del {position: absolute;top: 7px;right: -30px;cursor: pointer;}
#question-form .option-item.radio_othertext_option .option-del,
#question-form .option-item.checkbox_othertext_option .option-del {right: -65px;}
#question-form .option-item.text_option {margin-right: 30px;}
#question-form .option-item.text_option .option-del {top: 23px;right: 10px;}
#question-form .alter-option-list li a {font-family: "微软雅黑";}
#question-form #add-tip {font-size: 14px;font-family: "楷体";line-height: 30px;color: #ff9933;}
#question-form #question-extendinfo {position: absolute;top:80px;right: 100px;}
#question-form #question-extendinfo .extend-row {width:150px;height:39px;margin-bottom: 15px;padding-top:4px;background: url(../Images/niuzai.jpg) no-repeat;} 
#question-form #question-extendinfo .extend-row label {margin:0 0 0 8px;font-size:14px;color:#663300;} 
#question-form #question-extendinfo .extend-row input {width:100px;display:inline-block;padding: 2px 12px;font-size: 18px;}
#question-form input.question-name {font-family: "华文新魏";font-size: 15px;}
#question-form .option-item input {font-family: "华文行楷";font-size: 13px;color:#666;}

#questions-table .sort-input {width: 35px;line-height: 22px;font-size: 14px;text-align: center;}
#questions-table td.question-name {text-overflow:ellipsis;font-family: "华文新魏";font-size: 14px;}

#upload-form {min-height: 200px;width: 800px;margin-right: -810px;margin-bottom: 30px;display: inline-block;}
#upload-form #uploadBtn {position: absolute;top: 2px;right: -294px;font-family: "方正舒体";font-size: 40px;width: 276px;height: 80px;cursor: pointer;}
#upload-form .dz-default.dz-message {background-image: inherit;}
#upload-form .dz-default.dz-message span {display: block;font-size: 25px;font-style: italic;font-family: "方正舒体";font-weight: bolder;line-height: 45px;margin-top: 15px;letter-spacing: 10px;}
#signimage-info {width: 100%;height: 200px;padding-left: 820px;box-sizing:border-box;display: inline-block;vertical-align: top;padding-top: 125px;font-size: 18px;font-family: "华文楷体";}
#signimage-info > div {background: #ccc;border-radius: 5px;padding: 3px 1px;}
#signimage-info strong {color: #cc0033;font-size: 25px;line-height: 0.8;}
#signimage-table {margin-top: 40px;}
#signimage-table td.signimage-thumb img {max-width: 200px;max-height: 100px;}


#reply-statistic {}
#reply-statistic .extend-info {float: right;}
#reply-statistic .question {background: #eee;border-radius: 5px;padding: 10px;margin-bottom: 20px;position: relative;}
#reply-statistic .question textarea {vertical-align: top;}
#reply-statistic .question .extend-info {float: right;width: 300px;height:100%;background: #99cccc;border-radius: 3px;padding: 5px; position: absolute;top: 0px;right: 0px;}
#reply-statistic .question .extend-info > div { float: left;height: 100%;}
#reply-statistic .question .extend-info .rate {border-right: 1px solid #15a1d3;margin-right:10px;padding-right: 10px;}
#reply-statistic .question .extend-info .extend-detail {width:165px;}
#reply-statistic .question .extend-info .rate > p {text-align: center;font-size: 24px;font-family: 华文隶书;}
#reply-statistic .question .extend-info .rate > div {display: block !important;}
#reply-statistic .question .extend-info .standard > p {margin:0;}
#reply-statistic .question .extend-info .standard-highlight {background: #00cc99;border-radius: 5px;padding: 3px 5px;}
#reply-statistic .question p.name {font-family: 华文行楷;font-size: 16px;}
#reply-statistic .question ul {padding: 0;}
#reply-statistic .question li {list-style: none;display: table;width: 100%;margin-bottom: 12px;}
#reply-statistic .question li > div {float: left;}
#reply-statistic .question .detail > * { float: left;margin-right: 10px;}
#reply-statistic .question .detail > div {display: inline-block;vertical-align: top;}
#reply-statistic .question .reply-list {margin-top: 5px;}
#reply-statistic .question .option-statistic {margin: 0px 20px;background: #ffcc99;padding: 2px;}



#wechat-distribute {margin-top:24px;}
#wechat-distribute .bottom-wrap {width: 100%;margin-top: 50px;padding: 20px 0;background: #ddd;position: relative;bottom: -15px;clear:both;}
#wechat-distribute #submit {display: block;margin:auto;width:290px;}
#wechat-distribute .nav-tabs {padding:0}
#wechat-distribute .nav-tabs li.middle {border-left: 2px solid #eeeeee;border-right: 2px solid #eeeeee;}
#wechat-distribute .dataTables_wrapper {padding: 20px 10px;}
#wechat-distribute .loading-spinner {display: block;margin: auto;}
#wechat-distribute #tab-news .news-items {width: 500px;margin: 20px auto;}
#wechat-distribute #tab-news .news-item {margin-bottom: 25px;}
#wechat-distribute #tab-news label {display: inline-block;width: 100px;color:#222;vertical-align: top;font-size:14px;font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 黑体, Arial, sans-serif;}
#wechat-distribute #tab-news textarea {display: inline-block;width: 380px;height: 150px;}
#wechat-distribute #tab-news input[type=file] {display: inline-block;}
#wechat-distribute #tab-news input[type=text] {display: inline-block;width: 380px;height: 20px; margin: 4px 0;padding: 15px 10px;border: 1px solid #ccc;}

#sysConfig-form {}
#sysConfig-form blockquote {padding: 3px 20px;}
