<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">活动设置</h3>
                </div>
                <form class="form-horizontal layui-form" action="{:addon_url('common://coupon/Active/config')}" method="post">
                    <div class='step1'>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动标题<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="title" lay-verify="required" placeholder="填写投票标题" value="{$config.title|default=''}" type="text">
                                    <input type="hidden" name="id" value="{$config.id|default=''}">
                                </div>
                            </div>
                            <!-- 截止时间 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">起止时间<span class="red">*</span></label>
                                <div class="col-sm-10" style="width:30%;">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" lay-verify="required" name="start_time" id="start_time" value="{$config.start_time|default=''}">
                                    </div>
                                </div>
                                <div class="col-sm-10" style="width:30%;">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" lay-verify="required" name="last_time" id="last_time" value="{$config.last_time|default=''}">
                                    </div>
                                </div>
                            </div>
                            <!-- 活动中奖概率 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">中奖概率<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="probability" lay-verify="number" placeholder="填写中奖概率(0-100之间的数字)" value="{$config.probability|default=''}" type="text">
                                </div>
                            </div>
                            <!-- 活动中奖概率 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">每人抽奖总次数<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="total_times" lay-verify="number" placeholder="填写中奖概率(0-100之间的数字)" value="{$config.total_times|default=''}" type="text">
                                </div>
                            </div>
                            <!-- 活动中奖概率 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">每人每天抽奖次数<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="day_times" lay-verify="number" placeholder="填写中奖概率(0-100之间的数字)" value="{$config.day_times|default=''}" type="text">
                                </div>
                            </div>
                            <!-- 奖品图片 -->
                            <div class="form-group" style="margin-bottom:5px;">
                                <label class="col-sm-2 control-label">活动首页图片</label>
                                <div class="col-sm-10">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new img-thumbnail">
                                            <img style="height:120px; width:240px;" src="__PUBLIC__/uploads/{$config.file.savepath|default='img/'}{$config.file.savename|default='noimage.gif'}">
                                            <input class="form-control" name="header_img" id="file_id" placeholder="" value="{$config.header_img|default=''}" type="hidden">
                                            <div class="edit_pic_mask">
                                                <i class="fa fa-plus-circle" onclick="imageUploader(this,false)"></i>
                                                <i class="fa fa-minus-circle" onclick="removeImage(this,false)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <p class="col-sm-2" style="color:#a3a3a3;">建议尺寸640*320</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">使用说明<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" lay-verify="required" name="use_desc">{$config.use_desc|default=''}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动说明<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" lay-verify="required" name="active_desc">{$config.active_desc|default=''}</textarea>
                                </div>
                            </div>
                            <!-- 活动链接 -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动链接<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" disabled="disabled" name="day_times" value="{$config.id?$putOn_url.'/addons/common/coupon/index.html':''}" type="text">
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-block btn-danger">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $('#last_time').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd hh:ii'
    });
    $('#start_time').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd hh:ii'
    });
})
layui.use('form', function() {
    var form = layui.form();
    form.render();
})

// 下一步
function next(n) {
    $('.step' + (n - 1)).addClass('hide');
    $('.step' + n).removeClass('hide');
}
// 上一步
function last(n) {
    $('.step' + n).removeClass('hide');
    $('.step' + (n + 1)).addClass('hide');
}
</script>
