<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Filetypes</h1>

		<f:flashMessages />

		<table  class="tx_filemanage" >
			<tr>
				<th><f:translate key="tx_filemanage_domain_model_filetypes.name" /></th>
				<th><f:translate key="tx_filemanage_domain_model_filetypes.discript" /></th>
				<th><f:translate key="tx_filemanage_domain_model_filetypes.spare1" /></th>
				<th><f:translate key="tx_filemanage_domain_model_filetypes.spare2" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{filetypess}" as="filetypes">
				<tr>
					<td><f:link.action action="show" arguments="{filetypes : filetypes}"> {filetypes.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{filetypes : filetypes}"> {filetypes.discript}</f:link.action></td>
					<td><f:link.action action="show" arguments="{filetypes : filetypes}"> {filetypes.spare1}</f:link.action></td>
					<td><f:link.action action="show" arguments="{filetypes : filetypes}"> {filetypes.spare2}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{filetypes : filetypes}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{filetypes : filetypes}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Filetypes</f:link.action>
	</f:section>
</html>