.grid .main-wrap { margin-left: 290px; margin-right:14px;} 
.grid .col-sub { width: 260px; margin-left: -98.7%; }

/*body*/
#header,#content,#footer,#banner{width: 978px; border-left:5px solid #fff;border-right:5px solid #fff;}
body{color:#3b3a39; background:#e6e6e6;}
.tbbd{background:#e6e6e6;}
a:link,a:visited{color:#3b3a39;}
a:hover,a:focus{color:#a9041b;}
.col-main .mhd span a:link,.col-main .mhd span a:visited{ color:#fff;}
.col-main .mhd span a:hover,.col-main .mhd span a:active{ color:#a9041b;}
.col-sub .mhd span a:link,.col-sub .mhd span a:visited{ color:#fff;}
.col-sub .mhd span a:hover,.col-sub .mhd span a:focus{ color:#a9041b;}

input,textarea{border:1px #dbdbdb solid;}
.job_con table,.guest table{border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
.job_con td,.guest td{border:1px solid #dbdbdb;}
.job_con th,.guest th{background:#fbfbfb;border-bottom: 1px solid #dbdbdb;}
.tblist{width:100%;}
/*header*/
.bwrap{ border-bottom:2px solid #fff;}
.hwrap,.bwrap{ background:#5b5b5b;}
#banner{ background:#e2e2e2; padding-bottom:14px;}
#banner .xtop{ height:30px; background:url(images/btop.png) center center no-repeat;}
.slider,.singPic{ border:1px solid #fff;}
#header{ background:url(images/header.png) no-repeat;}
#header h1,#header p{float:left;}
#header p {margin-left:20px;color:#000; display:block; height:106px; line-height:106px; }
#header h1{ margin-top:18px;display:inline; margin-left:14px;}
.menu{ position:relative; top:10px; right:40px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 3px;}
.menu a:link,.menu a:visited,.menu .pipe,.menu{color:#6c6c6c;}
.nav{height:34px; line-height:34px;background:url("images/navbg.png") repeat-x; font-size:14px;}
.nav li a{width:122px;text-align:center;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center center;}
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#fff; font-weight:bold;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#fff;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}
.nav li.active ul a:hover{background:none;}

/*content*/
.col-sub .fm .mhd{ background:url(images/fm.png) no-repeat center center;}
.content{ background:#fff; padding-top:15px;padding-bottom:20px;}
.mhd{height:31px; line-height:31px; background:url(images/mhd01.png) repeat-x; }
.mhd h3{ padding-left:30px; color:#fff;}
.col-sub .mbox{ padding-bottom:10px; background:#f4f4f4;}
.col-main .mbox{ background:url(images/mbox.png) center top repeat-x;}
.col-main .mhd{ background:url(images/mhd02.png) right center no-repeat}
.col-main .mhd h3{padding-left:45px;background:url(images/h3_01.png) left center no-repeat;}
.r{ padding-right:15px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 10px center;padding-left:40px;}
.mhd button{background:url("images/sbtn2.png") no-repeat; color:#FFF;line-height:10px;}
.feedback a{width:240px;background:url("images/feedback.png") no-repeat center center; padding-bottom:10px; padding-top:10px;}
.quaon_pic .mbd li{margin:26px 24px 0px 22px;}
.prodt .mbd li{margin: 20px 22px 0 18px;}
.plinks .mbd li{margin:12px 0 0 14px;}			
.prodt_list .mbd li{margin: 26px 21px 0 19px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #a6a6a6 dotted;}
.news li span,.seabox li span{color:#3b3a39;}
.title{border-bottom:1px #dbdbdb solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*notice*/
.notice_con p{border-bottom:1px #dbdbdb dashed;}
.notice_con p.active{background:#f2f2f2; color:#000;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #cececd dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#a9041b;}
.down_list .mbd li h2{border-bottom:1px #cececd dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background: url(images/down_list_hover.png) center center repeat-x;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #cececd dashed;}	

/*g_page*/
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#df5815;color:#e5ebb9;border:1px #ddd solid;}
/*pics*/
.news .mbd{padding-right:20px;}
.item_intro h4{background:#ebebeb;}
.culture_con .mbd,.orgza_con .mbd,.notice_con .mbd,.profile_con .mbd{padding-top:8px;}
.item {padding: 15px 0;}
.item span{color:#3b3a39;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat; color:#FFF;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat; color:#4e4e4e;}

.pipe {color:#3b3a39;}
#footer {color: #3b3a39; background:url(images/footer.png) center top repeat-x;}
#footer a:link, #footer a:visited {color: #3b3a39;}
#footer a:hover {color: #a9041b;}
#footer .support a:link, #footer .support a:visited{color: #3b3a39;}