<div class="layui-tab-item layui-form">
    <table class='wst-form wst-box-top'>
        <tr>
            <th width='150'>app图标：</th>
            <td>
                <input type="text" readonly="readonly" id='appLogo' class='ipt' value='{$object["appLogo"]?:""}' style="float: left;width: 355px;" />
                <div id='appLogoPicker'>上传</div><span id='appLogoMsg'></span>
                <img src='__RESOURCE_PATH__/{$object["appLogo"]?:""}' height="30" id='appLogoPrevw' style="margin-left: 5px;" />
            </td>
        </tr>
        <tr>
            <th>app名称：</th>
            <td><input type="text" id='appName' class='ipt' value="{$object['appName']?:''}"
                    maxLength='100' /></td>
        </tr>
        <tr>
            <th>app描述：</th>
            <td><input type="text" id='appDesc' class='ipt' value="{$object['appDesc']?:''}"
                    maxLength='100' /></td>
        </tr>
        <tr>
            <th>android下载地址：</th>
            <td><input type="text" id='apkUrl' class='ipt' value="{$object['apkUrl']?:''}" /></td>
        </tr>
        <tr>
            <th>ios端下载地址：</th>
            <td><input type="text" id='ipaUrl' class='ipt' value="{$object['ipaUrl']?:''}" /></td>
        </tr>
        <tr>
            {if ($grant)}
            <td colspan='2' align='center'>
                <button type="button" class="btn btn-primary btn-mright" onclick='javascript:edit()'><i class="fa fa-check"></i>保存</button>
                <button type="reset" class="btn" onclick='javascript:resetForm()'><i class="fa fa-refresh"></i>重置</button>
            </td>
            {/if}
        </tr>
    </table>
</div>