<footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>
{{ helper.debug_bar.render }}
<script type="text/javascript" src="view/javascript/tinymce/opencart.js"></script>
<script type="text/javascript" src="view/javascript/ckfinder/ckfinder.js"></script>
</body></html>
