<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>SentCMS网站管理系统后台</title>
<link rel="stylesheet" type="text/css" href="__css__/login.css?time={:time()}">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="__static__/common/js/html5shiv.js"></script>
<script src="__static__/common/js/respond.min.js"></script>
<![endif]-->
</head>
<body id="login-page-full">
<div class="login-container">

	<!-- 动态云层动画 开始 -->
	<div class="clouds-container">
		<div class="clouds clouds-footer"></div>
		<div class="clouds"></div>
		<div class="clouds clouds-fast"></div>
	</div>
	<!-- 动态云层动画 结束 -->

	<!-- 顶部导航条 开始 -->
	<div class="header notselect">
		<span class="title notselect">SentCMS <sup>v{$version}</sup></span>
		<ul>
			<li><a href="javascript:void(0)" target="_blank">帮助</a></li>
			<li>
				<a href="https://www.google.cn/intl/zh-CN/chrome/">推荐使用谷歌浏览器</a>
			</li>
		</ul>
	</div>
	<!-- 顶部导航条 结束 -->

	<!-- 页面表单主体 开始 -->
	<div class="container">
		<form method="post" class="content animated fadeInDown">
			<div class="people">
				<div class="tou"></div>
				<div id="left-hander" class="initial_left_hand transition"></div>
				<div id="right-hander" class="initial_right_hand transition"></div>
			</div>
			<ul>
				<li class="username">
					<i class="fa fa-user"></i>
					<input required pattern="^\S{4,}$" name="username" value="" type="text" autofocus="autofocus" autocomplete="off" title="请输入4位及以上的字符" placeholder="请输入用户名/手机号码">
				</li>
				<li class="password">
					<i class="fa fa-shield"></i>
					<input required pattern="^\S{4,}$" name="password" value="" type="password" autocomplete="off" title="请输入4位及以上的字符" placeholder="请输入密码">
				</li>
				<li class="verify">
					<i class="fa fa-qrcode"></i>
					<input required pattern="^\S{3,}$" name="verify" value="" type="text" autocomplete="off" title="请输入3位及以上的字符" placeholder="请输入验证码">
					<span class="reloadverify"><img src="{:captcha_src()}" alt="验证码" height="38" class="verifyimg"></span>
				</li>
				<li class="text-center">
					<button type="submit" class="btn btn-primary btn-block">登录</button>
				</li>
			</ul>
		</form>
	</div>
	<!-- 页面表单主体 结束 -->

	<!-- 底部版权信息 开始 -->
	<div class="footer notselect">
		腾速科技 &copy; TenSent.Icn
	</div>
	<!-- 底部版本信息 结束 -->

</div>
<script type="text/javascript">
var require = {
	config: {"site": {$config|json_encode|raw}, 'version':"{$version}", 'module': 'admin', 'jsname': "{$require['jsname']|default=''}", 'actionname': "{$require['actionname']|default=''}", }
}
</script>
<script src="__plugins__/require/require.js" data-main="__js__/login.js"></script>
</body>
</html>