body{margin:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:14px;font-family:"微软雅黑",Arial,Helvetica,sans-serif}
#logo{position:absolute;top:5px;left:5px;text-align:center}
.login_logo{margin-left: 23px;width:70px;height:70px;float:left;}
.login_logo img{width:100%;height: 100%;}
#loginFrame{background:url(../img/bg3.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover}


/* 图标替换 */
.layui-layer-icowst1,.layui-layer-icowst2,.layui-layer-icowst3{background-image:url(../../../../static/images/wst_icon.png)!important;background-repeat:no-repeat!important;background-size:cover!important}
.layui-layer-icowst2{background-position:-40px 0!important}
.layui-layer-icowst3{background-position:-80px -1px!important}
.layui-layer-icowstloading{background-image:url(../../../../static/images/loading.gif)!important;background-repeat:no-repeat!important;background-size:206% auto!important;background-position:-16px -16px!important}

.wst-clear{clear: both;}
.wst-lo{  position: absolute;left: 50%;margin-left: -350px;top: 35%;margin-top: -140px;width: 700px;}
.wst-lo .head{position:absolute;top:-80px;left:27%;width:252px;height:110px;line-height:55px;font-size:20px;color:#fff;font-family:"microsoft yahei";text-shadow:#717070 1px 1px 1px;text-align:center;background:url(../img/logo.png) 0 0 no-repeat;background-size:100%}
.wst-lo-left{float:left;width:235px;height:256px;background-size:cover}
.wst-lo-left img{margin-left:45px}
#verifyImg{  cursor: pointer;width: 108px;border-top-right-radius: 6px;border-bottom-right-radius: 6px;height: 29px;position: absolute;z-index: 100;top:0px;right: 18px;}

.login_title{float:right;width:340px;text-align:left;margin-top:4px;color:#fff;}
.login_title .title_cn{font-size:30px;position: relative;}
.login_title .title_en{position: relative;}
.login-wrapper {text-align: center;position:relative; }
.login-wrapper .frame{padding-right:0px;position:relative;}
.login-wrapper .text2{margin-bottom:0;width:240px;}
.login-wrapper .logo {margin-bottom: 45px;position: relative;left: -2px; }
.login-wrapper .boxbg{opacity:0.3;margin: 0 auto;padding: 35px 0 30px;float: none;width: 500px;box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff; height:300px;}
.login-wrapper .boxbg2{position:relative;opacity:0.16;margin: 0 auto;padding: 35px 0 30px;float: none;width: 400px;box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff; height:240px;margin-left:150px;filter:alpha(opacity=16)}
.login-wrapper .box {position:absolute;top:17px;left:162px; margin: 0 auto;padding: 35px 0 30px;float: none;width: 380px; }
.login-wrapper .box .content-wrap {width: 82%;margin: 0 auto; }
.login-wrapper .box h6 {text-transform: uppercase;margin: 0 0 12px 0;font-size: 18px;font-weight: 600; }
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {  border-radius: 0;font-size: 15px;height:30px;margin-bottom: 10px;border:0;padding-left: 12px;border-bottom:1px solid #e2e2e2;}
.login-wrapper .box input[type="password"] {margin-bottom: 10px; }
.login-wrapper .box input:-moz-placeholder {color: #9ba8b6;font-size: 15px;letter-spacing: 0px;font-style: italic; }
.login-wrapper .box input:-ms-input-placeholder {color: #9ba8b6;font-style: italic;letter-spacing: 0px;font-size: 15px; }
.login-wrapper .box input::-webkit-input-placeholder {color: #9ba8b6;font-style: italic;letter-spacing: 0px;font-size: 15px; }
.login-wrapper .box .login {text-transform: uppercase;font-size: 13px;padding: 8px 30px; }
.login-wrapper .no-account {margin: 0 auto;float: none;text-align: center;font-size: 14px;margin-top: 25px; }
.login-wrapper .no-account p {display: inline-block;color: #eee; }
.login-wrapper .login-box{background: rgba(255,255,255,0.6);padding: 17px;border-radius: 3px;  margin-bottom: 15px;  padding-left: 55px;}
.login-head{width:90px;height:90px;background-size:contain;position: absolute;top: 56px; right: 0; }
.login-head img{width:100%;height: 100%;}
.login-icon1,.login-icon2,.login-icon3{width:25px;height:25px;background:url(../img/login_icon2.png) no-repeat;position:absolute;}
.login-icon1{top:55px;left:50px;background-position: 0 0;}
.login-icon2{top:95px;left:50px;background-position: 0 -30px;}
.login-icon3{top:136px;left:50px;background-position: 0 -61px;}
.login-header{width:445px;margin:0 auto;margin-bottom:20px;}
.login-footer{color:#fff;width:360px;margin:0 auto;margin-top:30px;position:relative;text-align:center;}
.login-footer .line1{position:absolute;width:95px;font-size:0;line-height:1px;border-bottom:1px solid #fff;top: 10px;left:0; }
.login-footer .line2{position:absolute;width:95px;font-size:0;line-height:1px;border-bottom:1px solid #fff;top: 10px;right:0; }
#loginbtn{background-color: #facd00;border-radius: 3px;height: 36px;line-height: 36px;}