.websocket {
	margin-bottom: -50px;
}
.websocket input.form-control {
	width:50%;
	display:inline;
	vertical-align: middle;
}
.websocket .col-md-4 {
	margin-bottom: 20px;
}
.c_cont {
	overflow-x: hidden;
	overflow-y: scroll;
	height:470px;
	margin-bottom:20px;
}
.c_cont #log {
	line-height:26px;
}
.websocket ul.dropdown-menu {
	max-height:550px;
	overflow-y: scroll;
}
.websocket ul.dropdown-menu li a img {
	display:block;
	width:200px;
	border-radius: 4px;
}
.websocket video#hiici_s {
	margin-bottom:-4px;
	width:100%;
	height:610px;
}
@media (max-width: 970px) {
	.websocket video#hiici_s {
		height:auto;
}
.websocket .col-md-8 {
	padding:0;
}
.websocket .col-md-4 {
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
	position:fixed;
	padding-bottom:15px;
	margin-bottom:0;
}
.c_cont {
	height:120px;
}
}

/* jsqrcode.phtml */
.nav.nav-tabs.affix {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
}
.nav-tabs>li>a {
	color: #050505;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #0a9572;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom: 2px solid #0a9572;
}
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
	color: #0a9572;
	background-color: transparent;
	border-bottom: 2px solid #0a9572;
}
.qr-d {
	margin-top:40px;
	border-top: 1px solid #eee;
}
.qr-d p {
	margin:30px 20px;
}
