@charset "utf-8";
header { background: !important;width: 100%;z-index: 3}
.c-breadcrumbs-wrapper { background: !important;}
.news .news-list-view .article a:hover{ color: !important;}


.imagecontour {
    padding: 10px;
    border: solid 1px #EFEFEF;
    background-color: #FFFFFF;
}

.effect2 {
    position: relative;
}
.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.effect2:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.videobox .c-grid {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgb(255, 255, 255,0)); 
}

.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-size: 14px; font-style: normal;}
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { font-size: 14px;}
.tx-indexedsearch .tx-indexedsearch-whatis { display: none;}

.c-content-blog-post-1 { margin-bottom: 80px;}

/*百度map*/
#baidumap { width: 100%; min-height: 450px;}

/*News*/
.news img { max-width: 100%; height: auto!important;}
.news .news-list-view .news-img-wrap { display: none;}
.news .news-list-view .article { /*border-bottom: 1px solid #e8e8e8;*/ padding-bottom: 0px; margin-bottom: 0px;}
.news .news-list-view .article:last-child { border: none;}
.news .news-list-view .article h3 { font-size: 18px; margin-bottom: 5px; padding: 0;}
.news .news-list-view .article h4 { font-size: 14px; margin-bottom: 5px; color: #8c8c8c;}
.news .news-list-view .article p { font-size: 14px; margin-bottom: 0;}
.news .news-list-view .article .col-xs-3 { padding-left: 0; padding-top: 5px;}
/*top news*/
.news .news-list-view .article.topnews a { color: red;}
.news-single .c-title { margin-top: 0;}

/*sticky-bar*/
.sticky-bar { position: fixed; right: 10px; top: 80%; z-index: 9999;}
.sticky-bar ul { margin: 0; padding: 0;}
.sticky-bar ul li{ list-style: none; width: 40px; height: 40px; background-color: #8b8c8e; margin-bottom: 5px; border-radius: 3px;}
.sticky-bar ul li>a { color: #FFFFFF; text-decoration: none; font-size: 30px; padding-top: 5px; text-align: center; display: block;}
.sticky-bar ul li.go-to-top>a { padding: 0; font-size: 38px;}
.sticky-bar ul li.qrcode{ position: relative;}
.sticky-bar ul li.qrcode .qrcode-box{ display: none; position: absolute; top: -20px; right: 48px; border: 1px solid #ccc; padding: 5px;}
.sticky-bar ul li.qrcode:hover .qrcode-box{ display: block;}

.jiathis_style *{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

/*Powermail*/
.tx-powermail .powermail_fieldset .parsley-errors-list { display:none;}
.tx-powermail .powermail_fieldset .parsley-error{ border: 1px solid red;}
.xdsoft_datetimepicker { display: none;}

.c-layout-footer.c-layout-footer-7 .c-prefooter .c-container .c-links > li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #394047;
}
.c-layout-footer.c-layout-footer-7 .c-prefooter .c-container .c-links > li:last-child {
    border-bottom: none;
}
.itemlist .c-content-blog-post-1 { /*margin-bottom: 80px;*/margin-bottom: 10px;}
.itemlist .c-content-blog-post-1 .c-font-bold{
    text-align: left;
}
.itemlist .c-content-blog-post-1 img:hover{
    opacity: 0.7;
}
.itemlist img{
    vertical-align:middle; float:left;margin:5px 15px 30px 0; width:188px; height: 104px !important;border-radius: 8px;
}
@media(max-width: 768px){
    .itemlist .c-content-blog-post-1 .c-font-bold a{
        font-size:18px;
    }
    .itemlist img{
        width: 100px !important;
        height: 66px !important;
    }
    .itemlist .c-content-blog-post-1 .c-desc{
        font-size:13px !important;
    }
    .news .news-list-view .article{margin-top: -10px;} 
    ul.news-list-view.list-unstyled{margin-top: -20px;} 
}

/*@media (max-width: 768px) {
    .news .news-list-view .article a, .news .news-list-view .article span { font-size: 14px;}
    .news .news-list-view .article h3 { font-size: 16px;}
    .news .news-list-view .article h4 { font-size: 12px;}
    .news .news-list-view .article p { font-size: 12px;}
}*/