.reg-box, .log-box,.foret-box{margin-top: 30px; padding: 10px; height: 460px; background: #ffffff; border-radius: 4px;}
.reg-box .title, .log-box .title{font-size: 16px; margin: 15px auto; font-weight: bold; border-bottom: 1px solid #dedede; line-height: 35px; padding: 0 10px;}
.foret-box .body-content{width: 480px; margin: 40px auto;}