RewriteEngine On

#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]

# 如果没有安装mod_rewrite模块，所有的404页面都将被 # 发送到index.php，此时，程序会像没有设置隐藏时一样运行

ErrorDocument 404 index.php

php_value post_max_size 1024M
php_value upload_max_filesize 1024M