<div class="well well-sm formElement-group">
    <h5 class="formElement-group-title"><label>{{ label }}</label></h5>
    <div class="formElement-group-body">
        {% for key,value in element.getGroup() %} {% if value['widget'] is defined %} {{ view.r(data.renderElement(key,value)) }} {% endif %} {% endfor %}
    </div>
</div>
