<div class="form-group">
<div class="input-group">
	<div class="input-group-addon">
		{{ element }}
	</div>
	<p class="form-control" placeholder="Amount">{{ label }}{% if layout != 'inline' %}<small class="help-block col-sm-reset inline">&nbsp;&nbsp;<i
            class="fa fa-fw fa-hand-o-right"></i>&nbsp;&nbsp;{{ description }}
        </small>{% endif %}</p>
</div>
</div>