# phpstorm project files
.idea
# netbeans project files
nbproject
# zend studio for eclipse project files
.buildpath
.project
.settings
# windows thumbnail cache
Thumbs.db
# composer vendor dir
/vendor
# composer itself is not needed
composer.phar
# Mac DS_Store Files
.DS_Store

node_modules

data/aes.key
data/update/patch/
data/licence.key
data/install.lock
data/avatar/
data/org/*
data/avatar/*
data/runtime/
data/editor/
data/backup/
data/attachment/*
data/avatar/*
!data/attachment/article/201406/
!data/attachment/article/index.html
!data/attachment/vote/201406/
!data/attachment/vote/index.html
!data/org/data.js
static/*
!static/css/
!static/font/
!static/image/
!static/js/
!static/login/
!static/office/
system/config/config.php
system/defines.php
saas_config.php
mobile