
.layadmin-message-fluid .layui-col-md12 {
    background: #f2f2f2;
    height: auto;
    padding-bottom: 50px
}

.layadmin-message-fluid .layui-input-block {
    margin-left: 0
}

.layadmin-message-fluid .layui-form {
    padding: 45px 40px 0
}
.message-title{
    margin-bottom: 15px;
}


.layadmin-message-fluid .layui-textarea {
    min-height: 100px;
    font-size: 16px
}

.layadmin-message-fluid .layui-input-right {
    float: right
}

.layadmin-messag-icon {
    overflow: hidden;
    float: left;
    margin-top: 4px
}

.layadmin-messag-icon .layui-icon {
    font-size: 24px;
    line-height: 30px;
    margin-right: 15px;
    color: #C4CBCF
}

.message-content {
    padding: 0 40px
}

.message-content .media-body {
    margin-bottom: 60px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #e7ecf3;
    padding: 15px 20px 25px;
    overflow: hidden;
    margin-bottom: 15px;
}

.message-content .media-body .pad-btm {
    padding-bottom: 0
}

.message-content .media-left {
    float: left;
    margin-right: 10px
}

.message-content .media-left img {
    border-radius: 50%
}

.message-text {
    padding: 10px 0;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

}

#del_rep{ margin-top: 10px; }
.layui-flow-more {
    text-align: center
}

.message-content .lay-submit {
    height: auto;
    line-height: 26px;
    padding: 5px 30px;
    font-size: 16px
}
.layui-flow-more a cite{
    padding:0px;
    background-color: #009688;
    color: #fff;

}
.message-text i.fa{
    color: #1d9d74;
    margin: 15px;
}
.message-title h2{ margin-bottom: 15px; }