.HyContainer{
	max-width: 640px;
	margin: auto;
	background: #F5F5F5;
	padding-bottom: 10px;
}
.s-skin{margin-bottom:15px; background:#fff;}
.m-nav{padding:10px 0 5px 0;}
.m-nav ul{overflow:hidden;}
.m-nav ul li{float:left; width:25%; text-align:center; padding-bottom:15px;}
.m-nav ul li span{display:block;}
.m-nav ul li span:first-child{width:60px; height:60px; overflow:hidden; border-radius:50%; margin:0 auto; background:#3399FF;}
.m-nav ul li span:last-child{padding-top:5px; height:25px; line-height:25px; color:#666; font-size:14px;}
.m-nav ul li span i{font-size:30px;color:#FFF;padding-top:15px;}
.m-NavMore{width:150px; height:35px; line-height:35px; margin:10px auto; text-align:center; border:1px solid #d7d7d7; border-radius:8px; font-size:16px; color:#666; cursor:pointer;}

.m-nav ul li.li2 span:first-child{
	background: #FF9933;
}
.m-nav ul li.li3 span:first-child{
	background: #FF6666;
}
.m-nav ul li.li4 span:first-child{
	background: #66CCCC;
}
.m-nav ul li.li5 span:first-child{
	background: #66CC66;
}
.m-nav ul li.li6 span:first-child{
	background: #FF6666;
}
.m-nav ul li.li7 span:first-child{
	background: #6666CC;
}
.m-nav ul li.li8 span:first-child{
	background: #66CC66;
}

/* m-News */
.m-News{overflow:hidden;}
.m-News .NewsCont{padding-bottom:10px;}
.NewsCont h2{height:25px; line-height:25px; padding:10px; border-bottom:1px solid #e5e5e5;}
.ListArticles{
	padding: 0 10px;
}
.ListArticles dl{
	display: table;
	width:100%;
	border-bottom: 1px solid #e5e5e5;;
}
.ListArticles dl dt,.ListArticles dl dd{
	display: table-cell;
	vertical-align: middle;
	padding: 15px 0;
}
.ListArticles dl dt{
	width:120px;
	padding-right: 10px;
}
.ListArticles dl dt a{
	display: block;
	width:120px;
	height: 80px;
	position: relative;
	background: #F5F5F5;
}
.ListArticles dl dt a img{
	position:absolute;
	max-width:100%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.NewsCont dl dd h3{font-weight:400; overflow:hidden;}
.NewsCont dl dd h3 a{display:block; line-height:16px; max-height:32px; color:#666; font-size:14px;}
.NewsCont dl dd p{overflow:hidden; font-size:.9rem;}
.NewsCont dl dd p a{color:#999; font-size:.9rem;}
.NewsCont dl dd .m-sortname{display:block; width:100%;}
.NewsCont dl dd p span{height:20px; line-height:20px; font-size:.8rem; color:#999;}
/**.NewsCont dl{overflow:hidden; padding:10px 0; margin:0 10px; border-bottom:1px solid #e5e5e5;}
.NewsCont dl dt{width:40%; max-width:120px; position:relative;}
.NewsCont dl dt:before{content:''; display:block; padding-top:75%;}
.NewsCont dl dt p{position:absolute; width:100%; height:100%; top:0; left:0; overflow:hidden;}
.NewsCont dl dt p span{display:table; width:100%; height:100%;}
.NewsCont dl dt p span a{display:table-cell; text-align:center; vertical-align:middle;}
.NewsCont dl dt p span a img{max-width:100%; max-height:100%;}
.NewsCont dl dd{width:calc(100% - 130px); position:relative;}
.NewsCont dl dd h3{font-weight:400; overflow:hidden;}
.NewsCont dl dd h3 a{display:block; line-height:16px; max-height:32px; color:#666; font-size:14px;}
.NewsCont dl dd p{overflow:hidden; font-size:.9rem;}
.NewsCont dl dd p a{color:#999; font-size:.9rem;}
.NewsCont dl dd .m-sortname{display:block; width:100%;}
.NewsCont dl dd p span{height:20px; line-height:20px; font-size:.8rem; color:#999;}
**/

.fullbg { background-color:#000;  opacity:0;  top:0;  left:0;  width:100%;  height:100%;  z-index:1001;  position:absolute; display:none;}
.navbox {position:absolute;  top:0;   right:-1px;  z-index:1002;  width:1px; overflow:hidden; background-color:#eee;  font-family:Arial, Helvetica, sans-serif;}
.navbox:after{content: '';  display: block; width: 100%;	 height: 80px; clear:both;}
.navbox a{font-family:Arial, Helvetica, sans-serif; color:#333;}
.navbox dl{border-bottom:1px solid #d6d6d6;}
.navbox dl dt{height:35px; line-height:35px; padding-left:10px; border-bottom:1px solid #FFF; border-top:1px solid #FFF; overflow:hidden; position:relative;}
.navbox dl dt:after{content: ''; width: 14px; height: 14px; display: block; position: absolute; top: 12px; right: 10px; width:0; height:0; border:8px solid transparent; border-left: 8px solid rgba(0,0,0,0.8); border-right:0; cursor:pointer;}
.navbox dl.ck dt:after{border:8px solid transparent; border-top: 8px solid rgba(0,0,0,0.8); border-bottom:0;}
.navbox dl.ck dt a{color:red;}
.navbox dl dd{padding:10px; background:#FFF; border-top:1px solid #d6d6d6; display:none;}
.navbox dl.ck dd{display:block;}
.navbox dl dd div a{display:block; height:30px; line-height:30px; overflow:hidden;}
.navbox dl dd div a.ck{color:red;}

.ShowMoreShop{text-align:center; margin:10px auto; width:80%; border:#d5d5d5 solid 1px; background:#fff; border-radius:5px; cursor: pointer;}
.ShowMoreShop span{display:inline-block; color:#666;padding:8px 15px;}
