<script type="text/javascript" src="//cdn.tryyun.net/js/??jquery.min.js,jquery.pjax.js,jquery.form.js,jquery.cookie.js"></script>
<link rel="stylesheet" href="/public/layui/css/layui.css" />
<script type="text/javascript" src="/public/layui/layui.js"></script>
<script type="text/javascript" src="/public/js/autoComplete.js"></script>
<link rel="stylesheet" href="/public/system/admin.css?v=1.0.0" />
<script type="text/javascript" src="/public/system/admin.js?v=1.0.0"></script>
<script type="text/javascript" src="/public/system/verify.js?v=1.0.0"></script>
