<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="myModalLabel">评论<p><a data-target="#myModal" href="{{ url(['for':'node','id':node.id]) }}">{{ node.title }}</a></p></h4>
        </div>
        <div class="modal-body">
            {{ content() }}
            <div class="form-one login-body">
                {{ view.r(commentForm) }}
            </div>
        </div>
    </div>
</div>
