<div id="comments" class="post_comment comment">
    {{ view.r(commentForm) }}
    <div class="clear"></div>
    {{ view.r(data) }}
</div>
{% do assets.addCss('comment','http://cdn.itdashu.com/modules/comment/css/style.css','footer').addJs('comment','http://cdn.itdashu.com/modules/comment/js/comment.js','footer') %}