{{ data.start() }}
    {% for key,value in data.formEntity %}{% if value['widget'] is defined %}{{ view.r(data.renderElement(key)) }} {% endif %} {% endfor %}
<button type="submit" class="ds-post-button pull-right">发布</button>
<div class="clear"></div>
</form>