{extend name="admin@public/base_content" /}
<!--头部描述信息开始<div class="container-fluid am-cf">-->
{block name="content_header">}{include file="admin@public/common" /}{/block}
<!--头部描述信息结束-->
<!-- 内容区域开始 <div class="row-content am-cf">-->
{block name="body">}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-body am-fr">
                    <form class="m-form tpl-form-border-form tpl-form-border-br" role="form" action="{:url('')}" method="post" id="ajax_form"  >
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label" > 用户组名称 </label>
                            <div class="am-u-sm-3">
                                <input type="text" name="name" value="{$info.name}" id="name" placeholder=" 请输入用户组名称" class="tpl-form-input" />
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label" > 用户状态 </label>
                            <div class="am-u-sm-3">
                                <label>
                                    <input name="status" value="1" {eq name="info.status" value="1"}checked{/eq} class="tpl-form-input" type="radio">
                                    <span class="lbl"> 正常</span>
                                </label>
                                <label>
                                    <input name="status" value="0" {eq name="info.status" value="0"}checked{/eq} class="tpl-form-input" type="radio">
                                    <span class="lbl"> 禁用</span>
                                </label>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="hidden" name="group_id" type="hidden" value="{$info.group_id}">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success" id="btn">保存</button>
                                <button type="reset" class="am-btn am-btn-default">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
<!-- 内容区域结束 -->