.zdyform {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #6691B9;
	left: 0;
	padding: 30px 35px 20px 0;
	position: absolute;
	top: 0;
	width: 630px;
}
.zdyform-tbl {
}
.zdyform-tbl td {
	padding:6px 0
}
.zdyform-tbl .paratit {
	width:110px;
	padding-right:10px;
	text-align:right;
	color:#565656
}
.zdyform-tbl .inputelem {
	height:17px;
	padding:6px 3px;
	background:#fafafa;
	border:1px solid #e5e5e5;
	width:165px
}
.zdyform-tbl .areaform {
	background:#fafafa;
	border:1px solid #e5e5e5;
	width:465px;
	height:125px;
	padding:3px
}
.zdyform-subtn {
	background: url("../images/zdy_form_subtn.png") no-repeat scroll left center transparent;
	border: medium none;
	cursor: pointer;
	display: block;
	height: 43px;
	margin-top: 30px;
	width: 153px;
	font-size:16px;
	text-align:center;
	color:#fff
}
.maskstyle {
	margin: 0px;
	padding: 0px;
	border: medium none;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% #e5e5e5;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 1900;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
}
.easyDialogBox {
	margin: -100px 0px 0px -251px;
	padding: 0px;
	border: medium none;
	z-index: 1950;
	position: absolute;
	left: 45%;
	display: none;
}
.ct-diabox {
	border:1px solid #d5d5d5;
	background:#fff;
	width:380px;
}
.ct-diatit {
	height:48px;
	line-height:48px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding:0 20px;
	border-bottom:1px solid #e8e8e8
}
.ct-diaitem {
	padding:8px 0
}
.ct-diabd {
	padding:15px 0 25px
}
.ct-diaitem .paraitem {
	float:left
}
.ct-diaitem .paratit {
	float:left;
	width:90px;
	padding-right:5px;
	line-height:30px;
	text-align:right;
	color:#4c4c4c
}
.ct-diaitem .dia-input {
	height:16px;
	padding:7px 3px;
	border:1px solid #d1d1d1;
}
.dia-username, .dia-pwd {
	width:190px;
}
.dia-yzminput {
	width:63px;
	float:left
}
.dia-yzmpic {
	float:left;
	margin:0 10px;
	height:32px;
	overflow:hidden;
	display:inline
}
.dia-gbyzm {
	width:37px;
	float:left;
	line-height:16px;
	color:#7d7d7d;
	cursor:pointer
}
.dia-loginbtn {
	width:213px;
	height:36px;
	background:url("../images/dialogin_btn.png") no-repeat left top;
	border:none;
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	color:#fff;
	cursor:pointer
}
.dia-loginbtn:hover {
	background:url("../images/dialogin_btnhover.png") no-repeat left top;
}
.ct-dialoginHand {
	width:213px;
}
.ct-dialoginHand a {
	color:#6682b9
}
.ct-diaErrorTip {
	height:30px;
	line-height:30px;
	width:200px;
	margin:0 auto;
	text-align:center;
	color:#f60
}
.loginerror {
	background: none repeat scroll 0 0 #FFFBFC;
	border-color: #FF0000 !important;
}
.ctDia-buyTxtTit {
	font-size:16px;
	color:#565656;
	font-weight:bold;
	line-height:28px;
}
.ctDia-buyTxtIntro {
	font-size:14px;
	color:#737373
}
.ctDia-buyTxtIntro span {
	color:#ff8948;
	font-weight:bold;
	padding:0 2px
}
.ctDia-buyTxtHand {
	margin-top:15px
}
.ctDia-buyTipBox {
	border:2px solid #b3b3b3;
	position:absolute;
	padding:15px 15px 28px 18px;
	background-color: #FFFFFF;
	z-index:9999;
}
#cart_info .ctDia-closeBtn {
	width:21px;
	height:21px;
	position:absolute;
	right:3px;
	top:3px;
	background:url("../images/pro_purchase_icon.png") no-repeat 0 -135px;
	cursor:pointer;
	margin:0;
}
#cart_info .ctDia-closeBtn:hover {
	background-position:0 -156px
}
.ctDia-buyIconStatu {
	background:url("../images/pro_purchase_icon.png") no-repeat left top;
	display:block;
	width:46px;
	height:45px;
	float:left;
	margin-right:15px
}
.ctDia-buyIconSuccess {
	background-position:0 0
}
.ctDia-buyTxtBox {
	float:left;
	width:250px
}
.ctDia-buyTxtHand a {
	float:left;
	margin-right:15px
}
#cart_info .goto-accountBtn {
	width:110px;
	height:29px;
	background:url("../images/pro_purchase_icon.png") no-repeat 0 -177px;
}
#cart_info .goto-accountBtn:hover {
	background-position:0 -206px
}
#cart_info .goto-stroll {
	color:#1052a4;
	line-height:29px;
	text-decoration:underline;
	background:url()
}
.ctDia-buyIconFail {
	background-position:0 -45px
}
.ctDia-buyIconWarm {
	background-position:0 -90px
}
a.PopDiaClose {
	background:url("../images/memberIcon.png") no-repeat 0 -477px;
	width:21px;
	height:21px;
	overflow:hidden;
	position:absolute;
	right:5px;
	top:5px;
	margin-right:5px;
}
a.PopDiaClose:hover {
	background-position:0 -498px;
}
