<?xml version="1.0" encoding="utf-8"?>
<webSite>
	<skins description="模板标识[注：标识一定要和模板目录名保持统一]" options="必填" maxSize="50">
		doccms_model_1
	</skins>
	<title description="模板主题[即：模板名称]" options="必填" maxSize="30">
		DocCms X1.0蓝色经典演示模板
	</title>
	<description description="模板描述[即：模板简介]" options="必填" maxSize="100">
	 	DocCms X1.0蓝色经典演示模板1,适用于DocCms 2013正式版 X1.0
	</description>
	<smallPic description="模版首页缩略图[大小：320*240px]" options="必填" size="320x240">
	 	preview/index_s.jpg
	</smallPic>
	<author description="作者[即：制作人]" options="必填">
	 	shuanger
	</author>
	<pubDate description="发布日期" options="必填">
	 	2012-11-11
	</pubDate>
	 
	<help><!-- ///////以下在 help 与  helpover 中间的选项内容是为doooc.com[稻壳网]平台开发者人员发布稻壳CMS模板提供，普通单版本模板用户可不填/////// --></help>		  
	<version description="模版适用版本[即：适用的doccms版本]" options="稻壳网必填">
	 	DocCms 2013正式版 X1.0
	</version>
	<keywords description="模版关键字[注：用作稻壳网平台搜索，10个汉字以内]" options="稻壳网必填" maxSize="30">
	 	模板 doccms 蓝色 官方 演示 
	</keywords>	 
	<content description="模板详述[注：用于稻壳网和官方论坛推荐您的模板时向用户展示，方便用户了解选择、购买您的模板。注意格式，否则报错！" options="稻壳网必填" maxSize="1000">
	 	<![CDATA[
	 	此模板制作发布于2012.11.11日稻壳Cms体验版正式发布之日，为doccms x1.0蓝色经典演示模板，适用于DocCms 2013正式版 X1.0，制作来源于DocCms官方团队，为官方默认免费模板；
	 	]]>
	</content>
	<originalPic description="模板首页效果图[注：用于稻壳网平台向购买用户演示预览所用，建议大小：800*600px]" options="稻壳网必填" size="800x600">
	 	preview/index.jpg
	</originalPic>
	<pictures description="模版效果展示图[注：用于稻壳网平台向购买用户演示预览所用，建议大小：800*600px]" options="稻壳网必填">
	 	<item>preview/xiaoguotu1.jpg</item>
	 	<item>preview/xiaoguotu2.jpg</item>
	</pictures>
	<dataSources description="模板演示数据来源 ，Doooc.com(稻壳网)会员账号[即：自己 或 客户 在稻壳网注册的账号]" options="稻壳网必填">
	 	module
	</dataSources>
	<helpover><!-- ///////以上在 help 与  helpover 中间的选项内容是为doooc.com[稻壳网]平台开发者人员发布稻壳CMS模板提供，普通单版本模板用户可不填/////// --></helpover>	
</webSite>