extends ../_layout

block active
  - sidebar_active = 'blog-articles.html'

block content
  .content-heading Articles

  // Zero Configuration
  .panel.panel-default
    .panel-heading Blog articles manager
    .panel-body
      .table-responsive.b0
        table.table.table-striped.table-hover#datatable1
          thead
            tr
              th.wd-md Post title
              th Author
              th Categories
              th Tags
              th Created
              th Updated
              th Comments
              th Status
          tbody
            tr 
              td: a(href="") AngularJS
              td: a(href="") Keith Gutierrez
              td
                a(href="").mr HTML5
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary angularjs
                a(href="").mr-sm.label.label-primary mvc
              td 10/05/2015
              td 10/05/2015
              td 1251
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") MeteorJs and Angularjs
              td: a(href="") Carlos Wilson
              td
                a(href="").mr WEB
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary angularjs
                a(href="").mr-sm.label.label-primary node
                a(href="").mr-sm.label.label-primary meteor
              td 10/05/2015
              td 10/05/2015
              td 1361
              td
                a(href="").mr-sm.label.label-warning Pending
            tr 
              td: a(href="") Working with ExpressJS 
              td: a(href="") Carlos Wilson
              td
                a(href="").mr SERVER
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary expressJS
                a(href="").mr-sm.label.label-primary node
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") Abstract object styles
              td: a(href="") Carlos Wilson
              td
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary node
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") Animating progress bars
              td: a(href="") Clyde Bailey
              td
                a(href="").mr BOOTSTRAP
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary css
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-danger Deleted
            tr 
              td: a(href="") Contextual alternatives
              td: a(href="") Tracy Black
              td
                a(href="").mr BOOTSTRAP
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary less
                a(href="").mr-sm.label.label-primary sass
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-warning Pending
            tr 
              td: a(href="") Responsive embed
              td: a(href="") Brittany Harrison
              td
                a(href="").mr FOUNDATION
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary techniques
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-default Draft
            tr 
              td: a(href="") Digging into AngularJS
              td: a(href="") Keith Gutierrez
              td
                a(href="").mr HTML5
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary angularjs
                a(href="").mr-sm.label.label-primary mvc
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") Application with MeteorJs and Angularjs
              td: a(href="") Nevaeh Hunter
              td
                a(href="").mr WEB
                a(href="") SERVER
              td 
                a(href="").mr-sm.label.label-primary angularjs
                a(href="").mr-sm.label.label-primary node
                a(href="").mr-sm.label.label-primary meteor
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-warning Pending
            tr 
              td: a(href="") Introduction to ExpressJS 
              td: a(href="") Carlos Wilson
              td
                a(href="").mr SERVER
                a(href="") JAVASCRIPT
              td 
                a(href="").mr-sm.label.label-primary expressJS
                a(href="").mr-sm.label.label-primary node
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") Optional classes
              td: a(href="") Peter Lucas
              td
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary node
              td 10/05/2015
              td 10/05/2015
              td 125
              td
                a(href="").mr-sm.label.label-success Public
            tr 
              td: a(href="") Typical user actions
              td: a(href="") Clyde Bailey
              td
                a(href="").mr BOOTSTRAP
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary css
              td 10/05/2015
              td 10/05/2015
              td 1471
              td
                a(href="").mr-sm.label.label-danger Deleted
            tr 
              td: a(href="") A lightweight, flexible component
              td: a(href="") Brittany Harrison
              td
                a(href="").mr BOOTSTRAP
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary less
                a(href="").mr-sm.label.label-primary sass
              td 10/05/2015
              td 10/05/2015
              td 1581
              td
                a(href="").mr-sm.label.label-warning Pending
            tr 
              td: a(href="") Highlight new or unread items 
              td: a(href="") Abigail Phillips
              td
                a(href="").mr FOUNDATION
                a(href="") WEB
              td 
                a(href="").mr-sm.label.label-primary coding
                a(href="").mr-sm.label.label-primary techniques
              td 10/05/2015
              td 10/05/2015
              td 1691
              td
                a(href="").mr-sm.label.label-default Draft

block vendor_css
  // DATATABLES
  link(rel='stylesheet', href='../vendor/datatables-colvis/css/dataTables.colVis.css')
  link(rel='stylesheet', href='vendor/datatable-bootstrap/css/dataTables.bootstrap.css')

block vendor_js
  // DATATABLES
  script(src='../vendor/datatables/media/js/jquery.dataTables.min.js')
  script(src='../vendor/datatables-colvis/js/dataTables.colVis.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrap.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js')
  script(src='js/demo/demo-datatable.js')
