extends ../_layout

block active
  - sidebar_active = 'blog.html'

block content

  .row
    // Blog Content
    .col-lg-9
      .row
        // Posts column 1
        .col-lg-4
          .panel
            a(href="")
              img.img-responsive(src="img/bg1.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Erica Castro
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 56
                    span Comments
              h4 
                a(href="") Trip down the river
              p Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit. 

          .panel
            .panel-body.bg-primary
              h3.mv-lg Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Erica Castro
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 56
                    span Comments
          .panel
            a(href="")
              img.img-responsive(src="img/bg10.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Erin Clark
                  small.mr-sm Apr 13, 2015
                span.pull-right
                  small 
                    strong 1000
                    span Comments
              h4 
                a(href="") New camera
              p Nullam posuere euismod volutpat. Quisque in ligula eget libero tristique varius sed euismod dolor. Sed ultrices, diam varius pellentesque porta, nulla neque auctor elit, quis tempus orci massa eget odio. Duis eleifend elementum commodo. Donec volutpat tristique laoreet. Cras vitae turpis enim, eget malesuada erat. Suspendisse quam leo, gravida a ullamcorper a, interdum id odio. Nullam eu lacus in nibh rutrum ornare at eget tellus. 
        // Posts column 2
        .col-lg-4
          .panel
            a(href="")
              img.img-responsive(src="img/bg2.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Erica Castro
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 56
                    span Comments
              h4 
                a(href="") Reviewing latests phones
              p Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit. 
          .panel
            a(href="")
              img.img-responsive(src="img/bg8.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Allen Stephens
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 5600
                    span Comments
              h4 
                a(href="") Workspace showcase
              p Aenean iaculis diam lectus. Morbi quis purus velit. Maecenas tincidunt tempus sapien id ultrices. Vivamus fermentum libero vel felis aliquet interdum. 
        // Posts column 3
        .col-lg-4
          .panel
            a(href="")
              img.img-responsive(src="img/bg3.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Erica Castro
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 56
                    span Comments
              h4 
                a(href="") Incredible panoramic
              p Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit. 
          .panel
            .panel-body.bg-purple
              h3.mv-lg Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Ava Chavez
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 999
                    span Comments
          .panel
            a(href="")
              img.img-responsive(src="img/bg4.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Danny Ford
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 1000
                    span Comments
              h4 
                a(href="") Sunset in the forest
          .panel
            a(href="")
              img.img-responsive(src="img/bg5.jpg")
            .panel-body
              p.clearfix
                span.pull-left
                  small.mr-sm By 
                    a(href="") Danny Ford
                  small.mr-sm May 03, 2015
                span.pull-right
                  small 
                    strong 1000
                    span Comments
              h4 
                a(href="") Tech review
    // Blog Sidebar
    .col-lg-3
      // Search
      .panel.panel-default
        .panel-heading Search
        .panel-body
          form.form-horizontal
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  em.fa.fa-search
      // Categories
      .panel.panel-default
        .panel-heading Categories
        .panel-body
          ul.list-unstyled
            li
              a(href="") 
                em.fa.fa-angle-right.fa-fw
                | Smartphones
            li
              a(href="") 
                em.fa.fa-angle-right.fa-fw
                | Mobiles
            li
              a(href="") 
                em.fa.fa-angle-right.fa-fw
                | Tech
            li
              a(href="") 
                em.fa.fa-angle-right.fa-fw
                | Inpiration
            li
              a(href="") 
                em.fa.fa-angle-right.fa-fw
                | Workspace
      // Tag Cloud
      .panel.panel-default
        .panel-heading Tag Cloud
        .panel-body
          #jqcloud.center-block
      // Ads
      .panel.panel-default
        .panel-heading Ads
        .panel-body
          a(href="")
            img.img-responsive.img-thumbnail(src="img/mockup.png")  

block vendor_css
  // JQCLOUD
  link(rel='stylesheet', href='../vendor/jqcloud2/dist/jqcloud.css')

block vendor_js
  // JQCLOUD
  script(src='../vendor/jqcloud2/dist/jqcloud.js')
  // Demo
  script(src='js/demo/demo-jqcloud.js')
