extends ../_layout

block active
  - sidebar_active = 'carousel.html'

block content
  h3 Carousel

  // START carousel
  #carousel-example-captions.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carousel-example-captions', data-slide-to='0')
      li(data-target='#carousel-example-captions', data-slide-to='1')
      li(data-target='#carousel-example-captions', data-slide-to='2')
    .carousel-inner(role='listbox')
      .item.active
        img(src='//placekitten.com/1920/600', alt='First slide image')
        .carousel-caption
          h3 First slide label
          p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .item
        img(src='//placekitten.com/1920/600', alt='Second slide image')
        .carousel-caption
          h3 Second slide label
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .item
        img(src='//placekitten.com/1920/600', alt='Third slide image')
        .carousel-caption
          h3 Third slide label
          p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    a.left.carousel-control(href='#carousel-example-captions', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel-example-captions', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  // END carousel

