extends ../_layout

block active
  - sidebar_active = 'chart-rickshaw.html'

block content
  h3 Rickshaw

  .container-fluid
    .panel.panel-default
      .panel-heading Rickshaw graph 
      .panel-body
        #rickshaw1
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading Stacked Area
          .panel-body
            #rickshaw2
      .col-md-4
        .panel.panel-default
          .panel-heading Line
          .panel-body
            #rickshaw3
      .col-md-4
        .panel.panel-default
          .panel-heading Stacked Bars
          .panel-body
            #rickshaw4


block vendor_css
  // RICKSHAW
  link(rel='stylesheet', href='../vendor/rickshaw/rickshaw.min.css')
block vendor_js
  // D3
  script(src='../vendor/d3/d3.min.js')
  // RICKSHAW
  script(src='../vendor/rickshaw/rickshaw.js')