extends ../_layout

block active
  - sidebar_active = 'chart-chartist.html'

block content
  h3 Chartist

  .container-fluid
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading Bar bipolar
          .panel-body
            #ct-bar1.ct-chart
      .col-md-4
        .panel.panel-default
          .panel-heading Bar Horizontal
          .panel-body
            #ct-bar2.ct-chart
      .col-md-4
        .panel.panel-default
          .panel-heading Line
          .panel-body
            #ct-line1.ct-chart
    .row
      .col-md-6  
        .panel.panel-default
          .panel-heading Smil Animations
          .panel-body
            #ct-line2.ct-chart
      .col-md-6  
        .panel.panel-default
          .panel-heading SVG Path Animations
          .panel-body
            #ct-line3.ct-chart


block vendor_css
  // CHARTIST
  link(rel='stylesheet', href='../vendor/chartist/dist/chartist.min.css')
block vendor_js
  // CHARTIST
  script(src='../vendor/chartist/dist/chartist.js')