extends ../_layout

block active
  - sidebar_active = 'chart-js.html'

block content
  h3 Chart JS

  .container-fluid
    .row.mb-lg
      .col-lg-6
        h4 Line Chart 
        div
          canvas#chartjs-linechart
      .col-lg-6
        h4 Bar Chart
        div
          canvas#chartjs-barchart
    .row.mb-lg
      .col-lg-6
        h4 Polar Area Chart
        div
          canvas#chartjs-polarchart
      .col-lg-6
        h4 Radar Chart
        div
          canvas#chartjs-radarchart
    .row.mb-lg
      .col-lg-6
        h4 Pie Chart
        div
          canvas#chartjs-piechart
      .col-lg-6
        h4 Doughnut Chart
        div
          canvas#chartjs-doughnutchart

block vendor_js
  // CLASSY LOADER
  script(src='../vendor/Chart.js/Chart.js')
