extends ../_layout

block active
  - sidebar_active = 'chart-morris.html'

block content
  h3 Morris JS

  .container-fluid
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading Line
          .panel-body
            #morris-line
      .col-md-6
        .panel.panel-default
          .panel-heading Area
          .panel-body
            #morris-area
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading Bar
          .panel-body
            #morris-bar
      .col-md-6
        .panel.panel-default
          .panel-heading Donut
          .panel-body
            #morris-donut

block vendor_css
  // MORRIS
  link(rel='stylesheet', href='../vendor/morris.js/morris.css')
block vendor_js
  // RAPHAEL
  script(src="../vendor/raphael/raphael.js")
  // MORRIS
  script(src="../vendor/morris.js/morris.js")
