extends ../_layout

block active
  - sidebar_active = 'chart-flot.html'

block content
  .content-heading
    .pull-right.text-center
      div(data-sparkline="", data-bar-color="#cfdbe2", data-height="20", data-bar-width="3", data-bar-spacing="2", data-values="1,0,4,9,5,7,8,9,5,7,8,4,7")
    | Flot charts

  .container-fluid
    // START row
    .row
      .col-lg-6
        #panelChart1.panel.panel-default
          .panel-heading
            .panel-title Area
          .panel-body
            .chart-area.flot-chart
      .col-lg-6
        #panelChart9.panel.panel-default
          .panel-heading
            .panel-title Area Spline
          .panel-body
            .chart-spline.flot-chart
    // END row
    // START row
    .row
      .col-lg-6
        #panelChart2.panel.panel-default
          .panel-heading
            .panel-title Bar
          .panel-body
            .chart-bar.flot-chart
      .col-lg-6
        #panelChart3.panel.panel-default
          .panel-heading
            .panel-title Bar - Stacked
          .panel-body
            .indicator.show
              span.spinner
            .chart-bar-stacked.flot-chart
    // END row
    // START row
    .row
      .col-lg-12
        #panelChart4.panel.panel-default
          .panel-heading
            .panel-title Line
          .panel-body
            .chart-line.flot-chart
    // END row
    // START row
    .row
      .col-md-6
        #panelChart5.panel.panel-default
          .panel-heading
            .panel-title Pie
          .panel-body
            .chart-pie.flot-chart
      .col-md-6
        #panelChart6.panel.panel-default
          .panel-heading
            .panel-title Donut 
              small (loaded from json)
          .panel-body
            .chart-donut.flot-chart
    // END row

block vendor_js
  // SPARKLINE
  script(src='../vendor/sparkline/index.js')
  // FLOT CHART
  script(src='../vendor/Flot/jquery.flot.js')
  script(src='../vendor/flot.tooltip/js/jquery.flot.tooltip.min.js')
  script(src='../vendor/Flot/jquery.flot.resize.js')
  script(src='../vendor/Flot/jquery.flot.pie.js')
  script(src='../vendor/Flot/jquery.flot.time.js')
  script(src='../vendor/Flot/jquery.flot.categories.js')
  script(src='../vendor/flot-spline/js/jquery.flot.spline.min.js')
  script(src='js/demo/demo-flot.js')

