extends ../_layout

block active
  - sidebar_active = 'documentation.html'

block content

  .flatdoc-wrapper
    .flatdoc
      .flatdoc-menu
      .flatdoc-content

block vendor_js
  // FLATDOC
  script(src='../vendor/flatdoc/flatdoc.js')
