extends ../_layout

block active
  - sidebar_active = 'ecommerce-orders.html'

block content
  .content-heading Orders
  
  .table-responsive.b0

    table.table.table-striped.table-hover#datatable1
      thead
        tr
          th(style='width:80px')
            strong ORDER ID
          th
            strong PURCHASED ON
          th
            strong CLIENT NAME
          th
            strong AMOUNT
          th
            strong QUANTITY
          th
            strong SHIPMENT
          th.text-center
            strong STATUS
          th.text-center
            strong VIEW
      tbody
        tr
          td 0001
          td 03/11/2015
          td Addison Nichols
          td $ 515.20
          td 547
          td 04/10/2015
          td.text-center
            span.label.label-info Standby
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0002
          td 05/11/2015
          td Albert Watkins
          td $ 22.30
          td 122
          td 06/10/2015
          td.text-center
            span.label.label-success Paid
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0003
          td 07/09/2015
          td Johnny Fernandez
          td $ 31.4
          td 68
          td 28/09/2015
          td.text-center
            span.label.label-info Standby
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00011
          td 19/08/2015
          td Gilbert Edwards
          td $ 5115.12
          td 51
          td -
          td.text-center
            span.label.label-inverse Canceled
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00012
          td 20/07/2015
          td Norman Hill
          td $ 5124.13
          td 41
          td -
          td.text-center
            span.label.label-purple Shipped
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00013
          td 22/07/2015
          td Samantha Murphy
          td $ 513.214      
          td 54
          td -
          td.text-center
            span.label.label-inverse Canceled
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00014
          td 30/07/2015
          td Nora Lambert
          td $ 147.15
          td 65
          td 023/11/2015
          td.text-center
            span.label.label-success Paid
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00015
          td 29/07/2015
          td Shelly Robertson
          td $ 15.016      
          td 12
          td -
          td.text-center
            span.label.label-inverse Canceled
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00016
          td 15/12/2015
          td Carrie Cruz
          td $ 164.17
          td 123
          td -
          td.text-center
            span.label.label-info Standby
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00017
          td 16/07/2015
          td Kyle Fleming
          td $ 174.18
          td 1
          td 027/03/2015
          td.text-center
            span.label.label-purple Shipped
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00018
          td 12/07/2015
          td Everett Garcia
          td $ 188.19
          td 65
          td 029/11/2015
          td.text-center
            span.label.label-success Paid
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00019
          td 10/07/2015
          td Mae Harper
          td $ 195.20
          td 45
          td -
          td.text-center
            span.label.label-success Paid
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0004
          td 09/09/2015
          td Chloe Rodriquez
          td $ 4.55
          td 21
          td 10/10/2015
          td.text-center
            span.label.label-purple Shipped
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0005
          td 01/09/2015
          td Stanley Austin
          td $ 55.6
          td 57
          td -
          td.text-center
            span.label.label-purple Shipped
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0006
          td 212/08/2015
          td Ethel Torres
          td $ 62.7
          td 115
          td 13/11/2015
          td.text-center
            span.label.label-success Paid
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0007
          td 24/08/2015
          td Ronnie Nelson
          td $ 78.8
          td 154
          td -
          td.text-center
            span.label.label-danger Rejected
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0008
          td 25/08/2015
          td Stanley Olson
          td $ 85.9
          td 74
          td -
          td.text-center
            span.label.label-info Standby
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0009
          td 16/08/2015
          td Jennie Cooper
          td $ 97.10
          td 332
          td 017/03/2015
          td.text-center
            span.label.label-purple Shipped
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00010
          td 18/03/2015
          td Fernando Morrison
          td $ 5108.11
          td 123
          td -
          td.text-center
            span.label.label-inverse Canceled
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search

block vendor_css
  // DATATABLES
  link(rel='stylesheet', href='../vendor/datatables-colvis/css/dataTables.colVis.css')
  link(rel='stylesheet', href='vendor/datatable-bootstrap/css/dataTables.bootstrap.css')

block vendor_js
  // DATATABLES
  script(src='../vendor/datatables/media/js/jquery.dataTables.min.js')
  script(src='../vendor/datatables-colvis/js/dataTables.colVis.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrap.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js')
  script(src='js/demo/demo-datatable.js')
