extends ../_layout

block active
  - sidebar_active = 'ecommerce-order-view.html'

block content
  .content-heading Order #987654

  .panel.panel-default
    .panel-heading Order Information
    .panel-body
      .row
        .col-md-6
          p.lead.bb Details
          form.form-horizontal.p-20
            .form-group
              .col-sm-4 Order ID:
              .col-sm-8
                strong 987654
            .form-group
              .col-sm-4 Purchased On:
              .col-sm-8
                strong 03/11/2015 10:10
            .form-group
              .col-sm-4 Client Name:
              .col-sm-8
                strong Addison Nichols
            .form-group
              .col-sm-4 Items:
              .col-sm-8
                strong 547
            .form-group
              .col-sm-4 Amount:
              .col-sm-8
                strong $515.20
            .form-group
              .col-sm-4 Shipment:
              .col-sm-8
                strong 04/10/2015
            .form-group
              .col-sm-4 Status
              .col-sm-8
                .label.label-info Shipped

        .col-md-6
          p.lead.bb Client
          form.form-horizontal.p-20
            .form-group
              .col-sm-4 Client ID:
              .col-sm-8
                strong #32654
            .form-group
              .col-sm-4 Name:
              .col-sm-8
                strong Addison Nichols
            .form-group
              .col-sm-4 Email:
              .col-sm-8
                strong addisong@mail.com
            .form-group
              .col-sm-4 Company:
              .col-sm-8
                strong Addison co.
            .form-group
              .col-sm-4 Phone:
              .col-sm-8
                strong (123) 123 456465
            .form-group
              .col-sm-4 Status
              .col-sm-8
                .label.label-success Active
      .row
        .col-md-6
          p.lead.bb Billing Address
          form.form-horizontal.p-20
            .form-group
              .col-sm-4 First Name
              .col-sm-8
                strong John
            .form-group
              .col-sm-4 Last Name:
              .col-sm-8
                strong Johnson
            .form-group
              .col-sm-4 Company:
              .col-sm-8
                strong John co.
            .form-group
              .col-sm-4 Address:
              .col-sm-8
                strong 2125 Chesterfield
            .form-group
              .col-sm-4 City:
              .col-sm-8
                strong San Francisco
            .form-group
              .col-sm-4 State
              .col-sm-8
                strong N/a
            .form-group
              .col-sm-4 ZIP/Post Code
              .col-sm-8
                strong 1324
            .form-group
              .col-sm-4 Country
              .col-sm-8
                strong Neverland
            .form-group
              .col-sm-4 Phone
              .col-sm-8
                strong (123) 132 456789
        .col-md-6
          p.lead.bb Shipping Address
          form.form-horizontal.p-20
            .form-group
              .col-sm-4 First Name
              .col-sm-8
                strong John
            .form-group
              .col-sm-4 Last Name:
              .col-sm-8
                strong Johnson
            .form-group
              .col-sm-4 Company:
              .col-sm-8
                strong John co.
            .form-group
              .col-sm-4 Address:
              .col-sm-8
                strong 2125 Chesterfield
            .form-group
              .col-sm-4 City:
              .col-sm-8
                strong San Francisco
            .form-group
              .col-sm-4 State
              .col-sm-8
                strong N/a
            .form-group
              .col-sm-4 ZIP/Post Code
              .col-sm-8
                strong 1324
            .form-group
              .col-sm-4 Country
              .col-sm-8
                strong Neverland
            .form-group
              .col-sm-4 Phone
              .col-sm-8
                strong (123) 132 456789
      
      .alert.alert-warning 
        em.fa.fa-exclamation-circle.fa-lg.fa-fw
        | Shipping address is different than billing address

  .panel
    .panel-heading Products in order 
    .table-responsive
      table.table.table-hover.table-bordered.table-striped
        thead
          tr
            th Product ID
            th Price
            th Quantity
            th Tax
            th.text-center Status
            th Total
        tbody
          tr
            td
              a(href='') Product #123
            td $ 100.00
            td 5
            td 21%
            td.text-center
              span.label.label-success In Stock
            td $ 605.00
          tr
            td
              a(href='') Product #123
            td $ 100.00
            td 5
            td 21%
            td.text-center
              span.label.label-success In Stock
            td $ 605.00
          tr
            td
              a(href='') Product #123
            td $ 100.00
            td 5
            td 21%
            td.text-center
              span.label.label-warning N/A
            td $ 605.00
          tr
            td
              a(href='') Product #123
            td $ 100.00
            td 5
            td 21%
            td.text-center
              span.label.label-danger Out Stock
            td $ 605.00
          tr
            td
              a(href='') Product #123
            td $ 100.00
            td 5
            td 21%
            td.text-center
              span.label.label-success In Stock
            td $ 605.00
