extends ../_layout

block active
  - sidebar_active = 'ecommerce-products.html'

block content
  .content-heading Products

  .table-responsive.b0
    table.table.table-striped.table-hover#datatable1
      thead
        tr
          th(style='width:80px')
            strong ID
          th
            strong NAME
          th
            strong DESCRIPTION
          th
            strong PRICE
          th(style='width:80px')
            strong QUANTITY
          th.text-center
            strong STATUS
          th
            strong ADDED
          th.text-center
            strong VIEW
      tbody
        tr
          td 0001
          td Product 1
          td Description for Product
          td $ 12.20
          td 233
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0002
          td Product 2
          td Description for Product
          td $ 13.20
          td 243
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0003
          td Product 3
          td Description for Product
          td $ 14.20
          td 253
          td.text-center
            span.label.label-danger Removed
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0004
          td Product 4
          td Description for Product
          td $ 15.20
          td 263
          td.text-center
            span.label.label-warning Out of Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0005
          td Product 5
          td Description for Product
          td $ 16.20
          td 273
          td.text-center
            span.label.label-danger Removed
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0006
          td Product 6
          td Description for Product
          td $ 17.20
          td 283
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0007
          td Product 7
          td Description for Product
          td $ 18.20
          td 293
          td.text-center
            span.label.label-danger Removed
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0008
          td Product 8
          td Description for Product
          td $ 19.20
          td 2103
          td.text-center
            span.label.label-warning Out of Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 0009
          td Product 9
          td Description for Product
          td $ 110.20
          td 2113
          td.text-center
            span.label.label-danger Removed
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00010
          td Product 10
          td Description for Product
          td $ 111.20
          td 2123
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00011
          td Product 11
          td Description for Product
          td $ 112.20
          td 2133
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00012
          td Product 12
          td Description for Product
          td $ 113.20
          td 2143
          td.text-center
            span.label.label-warning Out of Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00013
          td Product 13
          td Description for Product
          td $ 114.20
          td 2153
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00014
          td Product 14
          td Description for Product
          td $ 115.20
          td 2163
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search
        tr
          td 00015
          td Product 15
          td Description for Product
          td $ 116.20
          td 2173
          td.text-center
            span.label.label-success Stock
          td 04/10/2015
          td.text-center
            button.btn.btn-sm.btn-default(type="button")
              em.fa.fa-search

block vendor_css
  // DATATABLES
  link(rel='stylesheet', href='../vendor/datatables-colvis/css/dataTables.colVis.css')
  link(rel='stylesheet', href='vendor/datatable-bootstrap/css/dataTables.bootstrap.css')

block vendor_js
  // DATATABLES
  script(src='../vendor/datatables/media/js/jquery.dataTables.min.js')
  script(src='../vendor/datatables-colvis/js/dataTables.colVis.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrap.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js')
  script(src='js/demo/demo-datatable.js')
