extends ../_layout

block active
  - sidebar_active = 'forum-discussion.html'

block content
  .content-heading 
    .pull-right
      a.btn.btn-sm.btn-default.text-sm(href="") &lt; back
    | Forum - Discussion
    small Topic ID: 999

  .panel.panel-default
    table.table.table-striped
      thead
        tr
          th.h4(colspan='2')
            | Powered by AngularJS
            span.mh - 
            small
              | by 
              a(href='')
                strong Glen Dunn
              |  on 
              em March 10, 2015
      tbody
        tr
          td.text-center
            a(href='')
              strong Leslie Stewart
          td.text-right
            | on 
            em March 10, 2015 at 12:00
        tr
          td.text-center(style='width: 15%;')
            .mt
              a(href='')
                img.img-circle.thumb64(src='img/user/01.jpg', alt='avatar')
            small 98 Posts
            br
            small Since 10/01/2010
          td
            p Duis ut urna diam, ac sagittis neque. Nunc vitae ipsum elit, non lacinia dui. Curabitur porttitor fermentum dapibus. Vivamus feugiat faucibus enim. Quisque vehicula rutrum justo, sed aliquam sem fringilla nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .text-right: em I am me
        tr
          td.text-center
            a(href='')
              strong Terrence Moreno
          td.text-right
            | on 
            em March 25, 2015 at 19:30
        tr
          td.text-center
            .mt
              a(href='')
                img.img-circle.thumb64(src='img/user/02.jpg', alt='avatar')
            small 87 Posts
            br
            small Since 10/01/2010
          td
            p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed elementum lorem dolor, id fermentum metus. In massa justo, pellentesque a porttitor sit amet, imperdiet sed nisl. 
            p Praesent a rhoncus magna. Integer ligula mauris, iaculis pellentesque consequat non, semper sit amet velit. 
            .text-right: em Signed by some user
        tr
          td.text-center
            a(href='')
              strong Robin Richardson
          td.text-right
            | on 
            em May 11, 2015 at 15:00
        tr
          td.text-center
            .mt
              a(href='')
                img.img-circle.thumb64(src='img/user/03.jpg', alt='avatar')
            small 333 Posts
            br
            small Since 10/01/2010
          td
            p Suspendisse risus nisl, iaculis at rhoncus sed, ultrices sed lacus. Nullam rutrum convallis lacus non mattis.  Fusce at enim eget nibh convallis elementum. Fusce quis nibh id elit pharetra ultricies eget auctor nibh. Nunc posuere eleifend lobortis. Aenean risus nulla, aliquam sed aliquam vitae, ultricies non elit. Cras aliquam mauris massa. Duis eleifend rutrum purus, sit amet rutrum lacus facilisis id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et lacus velit. Nullam lobortis consectetur hendrerit. 
            p Mauris id augue id elit convallis accumsan. Ut tempus libero vel metus pellentesque commodo. Cras lorem magna, viverra ac facilisis vitae, porttitor sed massa. Fusce quis nibh id elit pharetra ultricies eget auctor nibh. Aenean fringilla porttitor elit, sit amet vestibulum magna viverra a. Curabitur imperdiet consequat hendrerit. Cras aliquam mauris massa.         
            .text-right: em Signed by some user
        tr
          td.text-center
            a(href='')
              strong Salvador Stone
          td.text-right
            | on 
            em Apr 13, 2015 at 10:10
        tr
          td.text-center
            .mt
              a(href='')
                img.img-circle.thumb64(src='img/user/04.jpg', alt='avatar')
            small 123 Posts
            br
            small Since 10/01/2010
          td
            p Praesent lacus nisi, hendrerit ac dignissim a, accumsan at purus. Maecenas neque eros, viverra vitae cursus sit amet, varius ut ante. Nam eget risus tellus. Sed ac nulla risus, nec tempus massa. 
            .text-right: em Signed by some user
        tr
          td.text-center
            a(href='')
              strong Alicia Garrett
          td.text-right
            | on 
            em Apr 13, 2015 at 10:10
        tr
          td.text-center
            .mt
              a(href='')
                img.img-circle.thumb64(src='img/user/05.jpg', alt='avatar')
            small 6588 Posts
            br
            small Since 10/01/2010
          td
            p Suspendisse velit erat, vulputate sit amet feugiat a, lobortis nec felis. Cras et dui non erat ornare ornare eget non sapien. Curabitur ipsum arcu, molestie a adipiscing consequat, cursus in leo.  Nam in purus in lacus dictum pharetra sit amet ac arcu. Vestibulum rutrum venenatis pretium. Sed accumsan adipiscing enim. Quisque sed tortor at ligula pharetra pulvinar. Donec gravida metus dictum sapien auctor eu egestas mauris hendrerit. Duis nec leo ipsum, a dignissim libero. Nam blandit fringilla faucibus. 
            .text-right: em Signed by some user


  .text-center.mb-lg
    button.btn.btn-primary(data-toggle="collapse", data-target="#topic-reply") Reply to this topic
  #topic-reply.collapse
    .text-center
      small Make sure you have read the 
        a(href="") forum rules 
        | before posting
    .row
      .col-md-8.col-md-offset-2
        form.form-horizontal(action='/', method='post')
          .form-group
            .col-md-12
              textarea#reply-message.form-control(name='reply-message', rows='5', placeholder="Type your answer...")
          .form-group
            .col-md-12.text-center
              button.btn.btn-sm.btn-primary(type='button') Post Answer

