extends ../_layout

block active
  - sidebar_active = 'forum-topics.html'

block content
  .content-heading 
    .pull-right
      a.btn.btn-sm.btn-default.text-sm(href="") &lt; back
    | Forum - Topics
    small Category ID: 1324

  .panel.panel-default
    table.table.table-striped
      thead
        tr
          th.h4(style="width: 50%") Welcome
      tbody
        tr
          td
            h4
              a(href="")
                strong Powered by AngularJS
            .text-muted.text-sm
              span
                strong.mr-sm 17
                | views
              span.mh-sm
              span
                strong.mr-sm 19
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Victoria West
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong How to create an AngularJS admin GUI?
            .text-muted.text-sm
              span
                strong.mr-sm 7
                | views
              span.mh-sm
              span
                strong.mr-sm 13
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Olivia Reynolds
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Issue found..
            .text-muted.text-sm
              span
                strong.mr-sm 13
                | views
              span.mh-sm
              span
                strong.mr-sm 500
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Michelle Lane
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Share your application
            .text-muted.text-sm
              span
                strong.mr-sm 98
                | views
              span.mh-sm
              span
                strong.mr-sm 1900
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Derek Jensen
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Angle - Angular Admin Template
            .text-muted.text-sm
              span
                strong.mr-sm 17
                | views
              span.mh-sm
              span
                strong.mr-sm 19
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Colleen Cole
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Take a breakfast and happy coding
            .text-muted.text-sm
              span
                strong.mr-sm 31
                | view
              span.mh-sm
              span
                strong.mr-sm 190
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Charlene Barrett
              small on March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Sed vitae nisi eget metus semper congue. 
            .text-muted.text-sm
              span
                strong.mr-sm 27
                | views
              span.mh-sm
              span
                strong.mr-sm 419
                | comments
          td.text-right.hidden-xs.hidden-sm
            .text-muted         
              small.mr-sm Started by 
              a.mr-sm(href='') Austin Montgomery
              small on March 10, 2015