extends ../_layout

block active
  - sidebar_active = 'forum-categories.html'

block content
  .content-heading Forum - Categories

  // First category table
  .panel.panel-default
    table.table.table-striped
      thead
        tr
          th.h4(style="width: 50%") Starting
          th.h4.text-center.hidden-xs.hidden-sm Topics
          th.h4.text-center.hidden-xs.hidden-sm Posts
          th.h4.hidden-xs.hidden-sm Updated
      tbody
        tr
          td
            h4
              a(href="")
                strong Welcome
            .text-muted Feel free to come inside and introduce yourself!
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 789
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 254
          td.hidden-xs.hidden-sm
            a(href='') Arnold Gray
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Forum Rules
            .text-muted Please read the rules before post
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 15
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 28
          td.hidden-xs.hidden-sm
            a(href="") Erika Mckinney
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Announcements
            .text-muted Latest udpates and news about this forum
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Annette Ruiz
            br
            small March 10, 2015

  // Second category table
  .panel.panel-default
    table.table.table-striped
      thead
        tr
          th.h4(style="width: 50%") Application
          th.h4.text-center.hidden-xs.hidden-sm Topics
          th.h4.text-center.hidden-xs.hidden-sm Posts
          th.h4.hidden-xs.hidden-sm Updated
      tbody
        tr
          td
            h4
              a(href="")
                strong Getting Started
            .text-muted Donec id lectus tortor. 
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 789
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 254
          td.hidden-xs.hidden-sm
            a(href='') Arnold Gray
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong API
            .text-muted Etiam pharetra, orci sit amet lobortis malesuada.
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 15
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 28
          td.hidden-xs.hidden-sm
            a(href="") Erika Mckinney
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Updates
            .text-muted Etiam porttitor consectetur lectus, in adipiscing nisi bibendum eu. 
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Annette Ruiz
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Modules
            .text-muted Sed viverra rutrum hendrerit. 
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Floyd Porter
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Migration
            .text-muted Cum sociis natoque penatibus. 
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Pedro Fox
            br
            small March 10, 2015

  // Third category table
  .panel.panel-default
    table.table.table-striped
      thead
        tr
          th.h4(style="width: 50%") Support
          th.h4.text-center.hidden-xs.hidden-sm Topics
          th.h4.text-center.hidden-xs.hidden-sm Posts
          th.h4.hidden-xs.hidden-sm Updated
      tbody
        tr
          td
            h4
              a(href="")
                strong F.A.Q.'s
            .text-muted Frequently asked questions here
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 789
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 254
          td.hidden-xs.hidden-sm
            a(href='') Arnold Gray
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Guides
            .text-muted How to guides here
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 15
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 28
          td.hidden-xs.hidden-sm
            a(href="") Erika Mckinney
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Updates
            .text-muted Latest news about latests updates
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Annette Ruiz
            br
            small March 10, 2015
        tr
          td
            h4
              a(href="")
                strong Questions
            .text-muted Ask for help here
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 300
          td.text-muted.text-center.hidden-xs.hidden-sm
            strong 561
          td.hidden-xs.hidden-sm
            a(href="") Floyd Porter
            br
            small March 10, 2015
