extends ../_layout

block active
  - sidebar_active = 'icons-font.html'

block content
  h3 Icons
    small Font Awesome gives you scalable vector icons that can instantly be customized

  h4.page-header.mt0 Simple Line icons
  .row.list-icon
    .col-md-3.col-sm-4
      em.icon-user
      | .icon-user
    .col-md-3.col-sm-4
      em.icon-people
      | .icon-people
    .col-md-3.col-sm-4
      em.icon-user-female
      | .icon-user-female
    .col-md-3.col-sm-4
      em.icon-user-follow
      | .icon-user-follow
    .col-md-3.col-sm-4
      em.icon-user-following
      | .icon-user-following
    .col-md-3.col-sm-4
      em.icon-user-unfollow
      | .icon-user-unfollow
    .col-md-3.col-sm-4
      em.icon-login
      | .icon-login
    .col-md-3.col-sm-4
      em.icon-logout
      | .icon-logout
    .col-md-3.col-sm-4
      em.icon-emotsmile
      | .icon-emotsmile
    .col-md-3.col-sm-4
      em.icon-phone
      | .icon-phone
    .col-md-3.col-sm-4
      em.icon-call-end
      | .icon-call-end
    .col-md-3.col-sm-4
      em.icon-call-in
      | .icon-call-in
    .col-md-3.col-sm-4
      em.icon-call-out
      | .icon-call-out
    .col-md-3.col-sm-4
      em.icon-map
      | .icon-map
    .col-md-3.col-sm-4
      em.icon-location-pin
      | .icon-location-pin
    .col-md-3.col-sm-4
      em.icon-direction
      | .icon-direction
    .col-md-3.col-sm-4
      em.icon-directions
      | .icon-directions
    .col-md-3.col-sm-4
      em.icon-compass
      | .icon-compass
    .col-md-3.col-sm-4
      em.icon-layers
      | .icon-layers
    .col-md-3.col-sm-4
      em.icon-menu
      | .icon-menu
    .col-md-3.col-sm-4
      em.icon-list
      | .icon-list
    .col-md-3.col-sm-4
      em.icon-options-vertical
      | .icon-options-vertical
    .col-md-3.col-sm-4
      em.icon-options
      | .icon-options
    .col-md-3.col-sm-4
      em.icon-arrow-down
      | .icon-arrow-down
    .col-md-3.col-sm-4
      em.icon-arrow-left
      | .icon-arrow-left
    .col-md-3.col-sm-4
      em.icon-arrow-right
      | .icon-arrow-right
    .col-md-3.col-sm-4
      em.icon-arrow-up
      | .icon-arrow-up
    .col-md-3.col-sm-4
      em.icon-arrow-up-circle
      | .icon-arrow-up-circle
    .col-md-3.col-sm-4
      em.icon-arrow-left-circle
      | .icon-arrow-left-circle
    .col-md-3.col-sm-4
      em.icon-arrow-right-circle
      | .icon-arrow-right-circle
    .col-md-3.col-sm-4
      em.icon-arrow-down-circle
      | .icon-arrow-down-circle
    .col-md-3.col-sm-4
      em.icon-check
      | .icon-check
    .col-md-3.col-sm-4
      em.icon-clock
      | .icon-clock
    .col-md-3.col-sm-4
      em.icon-plus
      | .icon-plus
    .col-md-3.col-sm-4
      em.icon-close
      | .icon-close
    .col-md-3.col-sm-4
      em.icon-trophy
      | .icon-trophy
    .col-md-3.col-sm-4
      em.icon-screen-smartphone
      | .icon-screen-smartphone
    .col-md-3.col-sm-4
      em.icon-screen-desktop
      | .icon-screen-desktop
    .col-md-3.col-sm-4
      em.icon-plane
      | .icon-plane
    .col-md-3.col-sm-4
      em.icon-notebook
      | .icon-notebook
    .col-md-3.col-sm-4
      em.icon-mustache
      | .icon-mustache
    .col-md-3.col-sm-4
      em.icon-mouse
      | .icon-mouse
    .col-md-3.col-sm-4
      em.icon-magnet
      | .icon-magnet
    .col-md-3.col-sm-4
      em.icon-energy
      | .icon-energy
    .col-md-3.col-sm-4
      em.icon-disc
      | .icon-disc
    .col-md-3.col-sm-4
      em.icon-cursor
      | .icon-cursor
    .col-md-3.col-sm-4
      em.icon-cursor-move
      | .icon-cursor-move
    .col-md-3.col-sm-4
      em.icon-crop
      | .icon-crop
    .col-md-3.col-sm-4
      em.icon-chemistry
      | .icon-chemistry
    .col-md-3.col-sm-4
      em.icon-speedometer
      | .icon-speedometer
    .col-md-3.col-sm-4
      em.icon-shield
      | .icon-shield
    .col-md-3.col-sm-4
      em.icon-screen-tablet
      | .icon-screen-tablet
    .col-md-3.col-sm-4
      em.icon-magic-wand
      | .icon-magic-wand
    .col-md-3.col-sm-4
      em.icon-hourglass
      | .icon-hourglass
    .col-md-3.col-sm-4
      em.icon-graduation
      | .icon-graduation
    .col-md-3.col-sm-4
      em.icon-ghost
      | .icon-ghost
    .col-md-3.col-sm-4
      em.icon-game-controller
      | .icon-game-controller
    .col-md-3.col-sm-4
      em.icon-fire
      | .icon-fire
    .col-md-3.col-sm-4
      em.icon-eyeglass
      | .icon-eyeglass
    .col-md-3.col-sm-4
      em.icon-envelope-open
      | .icon-envelope-open
    .col-md-3.col-sm-4
      em.icon-envelope-letter
      | .icon-envelope-letter
    .col-md-3.col-sm-4
      em.icon-bell
      | .icon-bell
    .col-md-3.col-sm-4
      em.icon-badge
      | .icon-badge
    .col-md-3.col-sm-4
      em.icon-anchor
      | .icon-anchor
    .col-md-3.col-sm-4
      em.icon-wallet
      | .icon-wallet
    .col-md-3.col-sm-4
      em.icon-vector
      | .icon-vector
    .col-md-3.col-sm-4
      em.icon-speech
      | .icon-speech
    .col-md-3.col-sm-4
      em.icon-puzzle
      | .icon-puzzle
    .col-md-3.col-sm-4
      em.icon-printer
      | .icon-printer
    .col-md-3.col-sm-4
      em.icon-present
      | .icon-present
    .col-md-3.col-sm-4
      em.icon-playlist
      | .icon-playlist
    .col-md-3.col-sm-4
      em.icon-pin
      | .icon-pin
    .col-md-3.col-sm-4
      em.icon-picture
      | .icon-picture
    .col-md-3.col-sm-4
      em.icon-handbag
      | .icon-handbag
    .col-md-3.col-sm-4
      em.icon-globe-alt
      | .icon-globe-alt
    .col-md-3.col-sm-4
      em.icon-globe
      | .icon-globe
    .col-md-3.col-sm-4
      em.icon-folder-alt
      | .icon-folder-alt
    .col-md-3.col-sm-4
      em.icon-folder
      | .icon-folder
    .col-md-3.col-sm-4
      em.icon-film
      | .icon-film
    .col-md-3.col-sm-4
      em.icon-feed
      | .icon-feed
    .col-md-3.col-sm-4
      em.icon-drop
      | .icon-drop
    .col-md-3.col-sm-4
      em.icon-drawar
      | .icon-drawar
    .col-md-3.col-sm-4
      em.icon-docs
      | .icon-docs
    .col-md-3.col-sm-4
      em.icon-doc
      | .icon-doc
    .col-md-3.col-sm-4
      em.icon-diamond
      | .icon-diamond
    .col-md-3.col-sm-4
      em.icon-cup
      | .icon-cup
    .col-md-3.col-sm-4
      em.icon-calculator
      | .icon-calculator
    .col-md-3.col-sm-4
      em.icon-bubbles
      | .icon-bubbles
    .col-md-3.col-sm-4
      em.icon-briefcase
      | .icon-briefcase
    .col-md-3.col-sm-4
      em.icon-book-open
      | .icon-book-open
    .col-md-3.col-sm-4
      em.icon-basket-loaded
      | .icon-basket-loaded
    .col-md-3.col-sm-4
      em.icon-basket
      | .icon-basket
    .col-md-3.col-sm-4
      em.icon-bag
      | .icon-bag
    .col-md-3.col-sm-4
      em.icon-action-undo
      | .icon-action-undo
    .col-md-3.col-sm-4
      em.icon-action-redo
      | .icon-action-redo
    .col-md-3.col-sm-4
      em.icon-wrench
      | .icon-wrench
    .col-md-3.col-sm-4
      em.icon-umbrella
      | .icon-umbrella
    .col-md-3.col-sm-4
      em.icon-trash
      | .icon-trash
    .col-md-3.col-sm-4
      em.icon-tag
      | .icon-tag
    .col-md-3.col-sm-4
      em.icon-support
      | .icon-support
    .col-md-3.col-sm-4
      em.icon-frame
      | .icon-frame
    .col-md-3.col-sm-4
      em.icon-size-fullscreen
      | .icon-size-fullscreen
    .col-md-3.col-sm-4
      em.icon-size-actual
      | .icon-size-actual
    .col-md-3.col-sm-4
      em.icon-shuffle
      | .icon-shuffle
    .col-md-3.col-sm-4
      em.icon-share-alt
      | .icon-share-alt
    .col-md-3.col-sm-4
      em.icon-share
      | .icon-share
    .col-md-3.col-sm-4
      em.icon-rocket
      | .icon-rocket
    .col-md-3.col-sm-4
      em.icon-question
      | .icon-question
    .col-md-3.col-sm-4
      em.icon-pie-chart
      | .icon-pie-chart
    .col-md-3.col-sm-4
      em.icon-pencil
      | .icon-pencil
    .col-md-3.col-sm-4
      em.icon-note
      | .icon-note
    .col-md-3.col-sm-4
      em.icon-loop
      | .icon-loop
    .col-md-3.col-sm-4
      em.icon-home
      | .icon-home
    .col-md-3.col-sm-4
      em.icon-grid
      | .icon-grid
    .col-md-3.col-sm-4
      em.icon-graph
      | .icon-graph
    .col-md-3.col-sm-4
      em.icon-microphone
      | .icon-microphone
    .col-md-3.col-sm-4
      em.icon-music-tone-alt
      | .icon-music-tone-alt
    .col-md-3.col-sm-4
      em.icon-music-tone
      | .icon-music-tone
    .col-md-3.col-sm-4
      em.icon-earphones-alt
      | .icon-earphones-alt
    .col-md-3.col-sm-4
      em.icon-earphones
      | .icon-earphones
    .col-md-3.col-sm-4
      em.icon-equalizer
      | .icon-equalizer
    .col-md-3.col-sm-4
      em.icon-like
      | .icon-like
    .col-md-3.col-sm-4
      em.icon-dislike
      | .icon-dislike
    .col-md-3.col-sm-4
      em.icon-control-start
      | .icon-control-start
    .col-md-3.col-sm-4
      em.icon-control-rewind
      | .icon-control-rewind
    .col-md-3.col-sm-4
      em.icon-control-play
      | .icon-control-play
    .col-md-3.col-sm-4
      em.icon-control-pause
      | .icon-control-pause
    .col-md-3.col-sm-4
      em.icon-control-forward
      | .icon-control-forward
    .col-md-3.col-sm-4
      em.icon-control-end
      | .icon-control-end
    .col-md-3.col-sm-4
      em.icon-volume-1
      | .icon-volume-1
    .col-md-3.col-sm-4
      em.icon-volume-2
      | .icon-volume-2
    .col-md-3.col-sm-4
      em.icon-volume-off
      | .icon-volume-off
    .col-md-3.col-sm-4
      em.icon-calendar
      | .icon-calendar
    .col-md-3.col-sm-4
      em.icon-bulb
      | .icon-bulb
    .col-md-3.col-sm-4
      em.icon-chart
      | .icon-chart
    .col-md-3.col-sm-4
      em.icon-ban
      | .icon-ban
    .col-md-3.col-sm-4
      em.icon-bubble
      | .icon-bubble
    .col-md-3.col-sm-4
      em.icon-camrecorder
      | .icon-camrecorder
    .col-md-3.col-sm-4
      em.icon-camera
      | .icon-camera
    .col-md-3.col-sm-4
      em.icon-cloud-download
      | .icon-cloud-download
    .col-md-3.col-sm-4
      em.icon-cloud-upload
      | .icon-cloud-upload
    .col-md-3.col-sm-4
      em.icon-envelope
      | .icon-envelope
    .col-md-3.col-sm-4
      em.icon-eye
      | .icon-eye
    .col-md-3.col-sm-4
      em.icon-flag
      | .icon-flag
    .col-md-3.col-sm-4
      em.icon-heart
      | .icon-heart
    .col-md-3.col-sm-4
      em.icon-info
      | .icon-info
    .col-md-3.col-sm-4
      em.icon-key
      | .icon-key
    .col-md-3.col-sm-4
      em.icon-link
      | .icon-link
    .col-md-3.col-sm-4
      em.icon-lock
      | .icon-lock
    .col-md-3.col-sm-4
      em.icon-lock-open
      | .icon-lock-open
    .col-md-3.col-sm-4
      em.icon-magnifier
      | .icon-magnifier
    .col-md-3.col-sm-4
      em.icon-magnifier-add
      | .icon-magnifier-add
    .col-md-3.col-sm-4
      em.icon-magnifier-remove
      | .icon-magnifier-remove
    .col-md-3.col-sm-4
      em.icon-paper-clip
      | .icon-paper-clip
    .col-md-3.col-sm-4
      em.icon-paper-plane
      | .icon-paper-plane
    .col-md-3.col-sm-4
      em.icon-power
      | .icon-power
    .col-md-3.col-sm-4
      em.icon-refresh
      | .icon-refresh
    .col-md-3.col-sm-4
      em.icon-reload
      | .icon-reload
    .col-md-3.col-sm-4
      em.icon-settings
      | .icon-settings
    .col-md-3.col-sm-4
      em.icon-star
      | .icon-star
    .col-md-3.col-sm-4
      em.icon-symble-female
      | .icon-symble-female
    .col-md-3.col-sm-4
      em.icon-symbol-male
      | .icon-symbol-male
    .col-md-3.col-sm-4
      em.icon-target
      | .icon-target
    .col-md-3.col-sm-4
      em.icon-credit-card
      | .icon-credit-card
    .col-md-3.col-sm-4
      em.icon-paypal
      | .icon-paypal
    .col-md-3.col-sm-4
      em.icon-social-tumblr
      | .icon-social-tumblr
    .col-md-3.col-sm-4
      em.icon-social-twitter
      | .icon-social-twitter
    .col-md-3.col-sm-4
      em.icon-social-facebook
      | .icon-social-facebook
    .col-md-3.col-sm-4
      em.icon-social-instagram
      | .icon-social-instagram
    .col-md-3.col-sm-4
      em.icon-social-linkedin
      | .icon-social-linkedin
    .col-md-3.col-sm-4
      em.icon-social-pinterest
      | .icon-social-pinterest
    .col-md-3.col-sm-4
      em.icon-social-github
      | .icon-social-github
    .col-md-3.col-sm-4
      em.icon-social-gplus
      | .icon-social-gplus
    .col-md-3.col-sm-4
      em.icon-social-reddit
      | .icon-social-reddit
    .col-md-3.col-sm-4
      em.icon-social-skype
      | .icon-social-skype
    .col-md-3.col-sm-4
      em.icon-social-dribbble
      | .icon-social-dribbble
    .col-md-3.col-sm-4
      em.icon-social-behance
      | .icon-social-behance
    .col-md-3.col-sm-4
      em.icon-social-foursqare
      | .icon-social-foursqare
    .col-md-3.col-sm-4
      em.icon-social-soundcloud
      | .icon-social-soundcloud
    .col-md-3.col-sm-4
      em.icon-social-spotify
      | .icon-social-spotify
    .col-md-3.col-sm-4
      em.icon-social-stumbleupon
      | .icon-social-stumbleupon
    .col-md-3.col-sm-4
      em.icon-social-youtube
      | .icon-social-youtube
    .col-md-3.col-sm-4
      em.icon-social-dropbox
      | .icon-social-dropbox


  #demo-icons
    section#web-application
      h4.page-header Web Application Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-adjust
            | fa-adjust
        .col-md-3.col-sm-4
            em.fa.fa-anchor
            | fa-anchor
        .col-md-3.col-sm-4
            em.fa.fa-archive
            | fa-archive
        .col-md-3.col-sm-4
            em.fa.fa-area-chart
            | fa-area-chart
        .col-md-3.col-sm-4
            em.fa.fa-arrows
            | fa-arrows
        .col-md-3.col-sm-4
            em.fa.fa-arrows-h
            | fa-arrows-h
        .col-md-3.col-sm-4
            em.fa.fa-arrows-v
            | fa-arrows-v
        .col-md-3.col-sm-4
            em.fa.fa-asterisk
            | fa-asterisk
        .col-md-3.col-sm-4
            em.fa.fa-at
            | fa-at
        .col-md-3.col-sm-4
            em.fa.fa-automobile
            | fa-automobile
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-ban
            | fa-ban
        .col-md-3.col-sm-4
            em.fa.fa-bank
            | fa-bank
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-bar-chart
            | fa-bar-chart
        .col-md-3.col-sm-4
            em.fa.fa-bar-chart-o
            | fa-bar-chart-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-barcode
            | fa-barcode
        .col-md-3.col-sm-4
            em.fa.fa-bars
            | fa-bars
        .col-md-3.col-sm-4
            em.fa.fa-beer
            | fa-beer
        .col-md-3.col-sm-4
            em.fa.fa-bell
            | fa-bell
        .col-md-3.col-sm-4
            em.fa.fa-bell-o
            | fa-bell-o
        .col-md-3.col-sm-4
            em.fa.fa-bell-slash
            | fa-bell-slash
        .col-md-3.col-sm-4
            em.fa.fa-bell-slash-o
            | fa-bell-slash-o
        .col-md-3.col-sm-4
            em.fa.fa-bicycle
            | fa-bicycle
        .col-md-3.col-sm-4
            em.fa.fa-binoculars
            | fa-binoculars
        .col-md-3.col-sm-4
            em.fa.fa-birthday-cake
            | fa-birthday-cake
        .col-md-3.col-sm-4
            em.fa.fa-bolt
            | fa-bolt
        .col-md-3.col-sm-4
            em.fa.fa-bomb
            | fa-bomb
        .col-md-3.col-sm-4
            em.fa.fa-book
            | fa-book
        .col-md-3.col-sm-4
            em.fa.fa-bookmark
            | fa-bookmark
        .col-md-3.col-sm-4
            em.fa.fa-bookmark-o
            | fa-bookmark-o
        .col-md-3.col-sm-4
            em.fa.fa-briefcase
            | fa-briefcase
        .col-md-3.col-sm-4
            em.fa.fa-bug
            | fa-bug
        .col-md-3.col-sm-4
            em.fa.fa-building
            | fa-building
        .col-md-3.col-sm-4
            em.fa.fa-building-o
            | fa-building-o
        .col-md-3.col-sm-4
            em.fa.fa-bullhorn
            | fa-bullhorn
        .col-md-3.col-sm-4
            em.fa.fa-bullseye
            | fa-bullseye
        .col-md-3.col-sm-4
            em.fa.fa-bus
            | fa-bus
        .col-md-3.col-sm-4
            em.fa.fa-cab
            | fa-cab
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-calculator
            | fa-calculator
        .col-md-3.col-sm-4
            em.fa.fa-calendar
            | fa-calendar
        .col-md-3.col-sm-4
            em.fa.fa-calendar-o
            | fa-calendar-o
        .col-md-3.col-sm-4
            em.fa.fa-camera
            | fa-camera
        .col-md-3.col-sm-4
            em.fa.fa-camera-retro
            | fa-camera-retro
        .col-md-3.col-sm-4
            em.fa.fa-car
            | fa-car
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-down
            | fa-caret-square-o-down
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-left
            | fa-caret-square-o-left
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-right
            | fa-caret-square-o-right
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-up
            | fa-caret-square-o-up
        .col-md-3.col-sm-4
            em.fa.fa-cc
            | fa-cc
        .col-md-3.col-sm-4
            em.fa.fa-certificate
            | fa-certificate
        .col-md-3.col-sm-4
            em.fa.fa-check
            | fa-check
        .col-md-3.col-sm-4
            em.fa.fa-check-circle
            | fa-check-circle
        .col-md-3.col-sm-4
            em.fa.fa-check-circle-o
            | fa-check-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-check-square
            | fa-check-square
        .col-md-3.col-sm-4
            em.fa.fa-check-square-o
            | fa-check-square-o
        .col-md-3.col-sm-4
            em.fa.fa-child
            | fa-child
        .col-md-3.col-sm-4
            em.fa.fa-circle
            | fa-circle
        .col-md-3.col-sm-4
            em.fa.fa-circle-o
            | fa-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-circle-o-notch
            | fa-circle-o-notch
        .col-md-3.col-sm-4
            em.fa.fa-circle-thin
            | fa-circle-thin
        .col-md-3.col-sm-4
            em.fa.fa-clock-o
            | fa-clock-o
        .col-md-3.col-sm-4
            em.fa.fa-close
            | fa-close
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-cloud
            | fa-cloud
        .col-md-3.col-sm-4
            em.fa.fa-cloud-download
            | fa-cloud-download
        .col-md-3.col-sm-4
            em.fa.fa-cloud-upload
            | fa-cloud-upload
        .col-md-3.col-sm-4
            em.fa.fa-code
            | fa-code
        .col-md-3.col-sm-4
            em.fa.fa-code-fork
            | fa-code-fork
        .col-md-3.col-sm-4
            em.fa.fa-coffee
            | fa-coffee
        .col-md-3.col-sm-4
            em.fa.fa-cog
            | fa-cog
        .col-md-3.col-sm-4
            em.fa.fa-cogs
            | fa-cogs
        .col-md-3.col-sm-4
            em.fa.fa-comment
            | fa-comment
        .col-md-3.col-sm-4
            em.fa.fa-comment-o
            | fa-comment-o
        .col-md-3.col-sm-4
            em.fa.fa-comments
            | fa-comments
        .col-md-3.col-sm-4
            em.fa.fa-comments-o
            | fa-comments-o
        .col-md-3.col-sm-4
            em.fa.fa-compass
            | fa-compass
        .col-md-3.col-sm-4
            em.fa.fa-copyright
            | fa-copyright
        .col-md-3.col-sm-4
            em.fa.fa-credit-card
            | fa-credit-card
        .col-md-3.col-sm-4
            em.fa.fa-crop
            | fa-crop
        .col-md-3.col-sm-4
            em.fa.fa-crosshairs
            | fa-crosshairs
        .col-md-3.col-sm-4
            em.fa.fa-cube
            | fa-cube
        .col-md-3.col-sm-4
            em.fa.fa-cubes
            | fa-cubes
        .col-md-3.col-sm-4
            em.fa.fa-cutlery
            | fa-cutlery
        .col-md-3.col-sm-4
            em.fa.fa-dashboard
            | fa-dashboard
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-database
            | fa-database
        .col-md-3.col-sm-4
            em.fa.fa-desktop
            | fa-desktop
        .col-md-3.col-sm-4
            em.fa.fa-dot-circle-o
            | fa-dot-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-download
            | fa-download
        .col-md-3.col-sm-4
            em.fa.fa-edit
            | fa-edit
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-ellipsis-h
            | fa-ellipsis-h
        .col-md-3.col-sm-4
            em.fa.fa-ellipsis-v
            | fa-ellipsis-v
        .col-md-3.col-sm-4
            em.fa.fa-envelope
            | fa-envelope
        .col-md-3.col-sm-4
            em.fa.fa-envelope-o
            | fa-envelope-o
        .col-md-3.col-sm-4
            em.fa.fa-envelope-square
            | fa-envelope-square
        .col-md-3.col-sm-4
            em.fa.fa-eraser
            | fa-eraser
        .col-md-3.col-sm-4
            em.fa.fa-exchange
            | fa-exchange
        .col-md-3.col-sm-4
            em.fa.fa-exclamation
            | fa-exclamation
        .col-md-3.col-sm-4
            em.fa.fa-exclamation-circle
            | fa-exclamation-circle
        .col-md-3.col-sm-4
            em.fa.fa-exclamation-triangle
            | fa-exclamation-triangle
        .col-md-3.col-sm-4
            em.fa.fa-external-link
            | fa-external-link
        .col-md-3.col-sm-4
            em.fa.fa-external-link-square
            | fa-external-link-square
        .col-md-3.col-sm-4
            em.fa.fa-eye
            | fa-eye
        .col-md-3.col-sm-4
            em.fa.fa-eye-slash
            | fa-eye-slash
        .col-md-3.col-sm-4
            em.fa.fa-eyedropper
            | fa-eyedropper
        .col-md-3.col-sm-4
            em.fa.fa-fax
            | fa-fax
        .col-md-3.col-sm-4
            em.fa.fa-female
            | fa-female
        .col-md-3.col-sm-4
            em.fa.fa-fighter-jet
            | fa-fighter-jet
        .col-md-3.col-sm-4
            em.fa.fa-file-archive-o
            | fa-file-archive-o
        .col-md-3.col-sm-4
            em.fa.fa-file-audio-o
            | fa-file-audio-o
        .col-md-3.col-sm-4
            em.fa.fa-file-code-o
            | fa-file-code-o
        .col-md-3.col-sm-4
            em.fa.fa-file-excel-o
            | fa-file-excel-o
        .col-md-3.col-sm-4
            em.fa.fa-file-image-o
            | fa-file-image-o
        .col-md-3.col-sm-4
            em.fa.fa-file-movie-o
            | fa-file-movie-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-pdf-o
            | fa-file-pdf-o
        .col-md-3.col-sm-4
            em.fa.fa-file-photo-o
            | fa-file-photo-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-picture-o
            | fa-file-picture-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-powerpoint-o
            | fa-file-powerpoint-o
        .col-md-3.col-sm-4
            em.fa.fa-file-sound-o
            | fa-file-sound-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-video-o
            | fa-file-video-o
        .col-md-3.col-sm-4
            em.fa.fa-file-word-o
            | fa-file-word-o
        .col-md-3.col-sm-4
            em.fa.fa-file-zip-o
            | fa-file-zip-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-film
            | fa-film
        .col-md-3.col-sm-4
            em.fa.fa-filter
            | fa-filter
        .col-md-3.col-sm-4
            em.fa.fa-fire
            | fa-fire
        .col-md-3.col-sm-4
            em.fa.fa-fire-extinguisher
            | fa-fire-extinguisher
        .col-md-3.col-sm-4
            em.fa.fa-flag
            | fa-flag
        .col-md-3.col-sm-4
            em.fa.fa-flag-checkered
            | fa-flag-checkered
        .col-md-3.col-sm-4
            em.fa.fa-flag-o
            | fa-flag-o
        .col-md-3.col-sm-4
            em.fa.fa-flash
            | fa-flash
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-flask
            | fa-flask
        .col-md-3.col-sm-4
            em.fa.fa-folder
            | fa-folder
        .col-md-3.col-sm-4
            em.fa.fa-folder-o
            | fa-folder-o
        .col-md-3.col-sm-4
            em.fa.fa-folder-open
            | fa-folder-open
        .col-md-3.col-sm-4
            em.fa.fa-folder-open-o
            | fa-folder-open-o
        .col-md-3.col-sm-4
            em.fa.fa-frown-o
            | fa-frown-o
        .col-md-3.col-sm-4
            em.fa.fa-futbol-o
            | fa-futbol-o
        .col-md-3.col-sm-4
            em.fa.fa-gamepad
            | fa-gamepad
        .col-md-3.col-sm-4
            em.fa.fa-gavel
            | fa-gavel
        .col-md-3.col-sm-4
            em.fa.fa-gear
            | fa-gear
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-gears
            | fa-gears
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-gift
            | fa-gift
        .col-md-3.col-sm-4
            em.fa.fa-glass
            | fa-glass
        .col-md-3.col-sm-4
            em.fa.fa-globe
            | fa-globe
        .col-md-3.col-sm-4
            em.fa.fa-graduation-cap
            | fa-graduation-cap
        .col-md-3.col-sm-4
            em.fa.fa-group
            | fa-group
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-hdd-o
            | fa-hdd-o
        .col-md-3.col-sm-4
            em.fa.fa-headphones
            | fa-headphones
        .col-md-3.col-sm-4
            em.fa.fa-heart
            | fa-heart
        .col-md-3.col-sm-4
            em.fa.fa-heart-o
            | fa-heart-o
        .col-md-3.col-sm-4
            em.fa.fa-history
            | fa-history
        .col-md-3.col-sm-4
            em.fa.fa-home
            | fa-home
        .col-md-3.col-sm-4
            em.fa.fa-image
            | fa-image
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-inbox
            | fa-inbox
        .col-md-3.col-sm-4
            em.fa.fa-info
            | fa-info
        .col-md-3.col-sm-4
            em.fa.fa-info-circle
            | fa-info-circle
        .col-md-3.col-sm-4
            em.fa.fa-institution
            | fa-institution
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-key
            | fa-key
        .col-md-3.col-sm-4
            em.fa.fa-keyboard-o
            | fa-keyboard-o
        .col-md-3.col-sm-4
            em.fa.fa-language
            | fa-language
        .col-md-3.col-sm-4
            em.fa.fa-laptop
            | fa-laptop
        .col-md-3.col-sm-4
            em.fa.fa-leaf
            | fa-leaf
        .col-md-3.col-sm-4
            em.fa.fa-legal
            | fa-legal
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-lemon-o
            | fa-lemon-o
        .col-md-3.col-sm-4
            em.fa.fa-level-down
            | fa-level-down
        .col-md-3.col-sm-4
            em.fa.fa-level-up
            | fa-level-up
        .col-md-3.col-sm-4
            em.fa.fa-life-bouy
            | fa-life-bouy
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-life-buoy
            | fa-life-buoy
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-life-ring
            | fa-life-ring
        .col-md-3.col-sm-4
            em.fa.fa-life-saver
            | fa-life-saver
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-lightbulb-o
            | fa-lightbulb-o
        .col-md-3.col-sm-4
            em.fa.fa-line-chart
            | fa-line-chart
        .col-md-3.col-sm-4
            em.fa.fa-location-arrow
            | fa-location-arrow
        .col-md-3.col-sm-4
            em.fa.fa-lock
            | fa-lock
        .col-md-3.col-sm-4
            em.fa.fa-magic
            | fa-magic
        .col-md-3.col-sm-4
            em.fa.fa-magnet
            | fa-magnet
        .col-md-3.col-sm-4
            em.fa.fa-mail-forward
            | fa-mail-forward
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-mail-reply
            | fa-mail-reply
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-mail-reply-all
            | fa-mail-reply-all
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-male
            | fa-male
        .col-md-3.col-sm-4
            em.fa.fa-map-marker
            | fa-map-marker
        .col-md-3.col-sm-4
            em.fa.fa-meh-o
            | fa-meh-o
        .col-md-3.col-sm-4
            em.fa.fa-microphone
            | fa-microphone
        .col-md-3.col-sm-4
            em.fa.fa-microphone-slash
            | fa-microphone-slash
        .col-md-3.col-sm-4
            em.fa.fa-minus
            | fa-minus
        .col-md-3.col-sm-4
            em.fa.fa-minus-circle
            | fa-minus-circle
        .col-md-3.col-sm-4
            em.fa.fa-minus-square
            | fa-minus-square
        .col-md-3.col-sm-4
            em.fa.fa-minus-square-o
            | fa-minus-square-o
        .col-md-3.col-sm-4
            em.fa.fa-mobile
            | fa-mobile
        .col-md-3.col-sm-4
            em.fa.fa-mobile-phone
            | fa-mobile-phone
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-money
            | fa-money
        .col-md-3.col-sm-4
            em.fa.fa-moon-o
            | fa-moon-o
        .col-md-3.col-sm-4
            em.fa.fa-mortar-board
            | fa-mortar-board
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-music
            | fa-music
        .col-md-3.col-sm-4
            em.fa.fa-navicon
            | fa-navicon
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-newspaper-o
            | fa-newspaper-o
        .col-md-3.col-sm-4
            em.fa.fa-paint-brush
            | fa-paint-brush
        .col-md-3.col-sm-4
            em.fa.fa-paper-plane
            | fa-paper-plane
        .col-md-3.col-sm-4
            em.fa.fa-paper-plane-o
            | fa-paper-plane-o
        .col-md-3.col-sm-4
            em.fa.fa-paw
            | fa-paw
        .col-md-3.col-sm-4
            em.fa.fa-pencil
            | fa-pencil
        .col-md-3.col-sm-4
            em.fa.fa-pencil-square
            | fa-pencil-square
        .col-md-3.col-sm-4
            em.fa.fa-pencil-square-o
            | fa-pencil-square-o
        .col-md-3.col-sm-4
            em.fa.fa-phone
            | fa-phone
        .col-md-3.col-sm-4
            em.fa.fa-phone-square
            | fa-phone-square
        .col-md-3.col-sm-4
            em.fa.fa-photo
            | fa-photo
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-picture-o
            | fa-picture-o
        .col-md-3.col-sm-4
            em.fa.fa-pie-chart
            | fa-pie-chart
        .col-md-3.col-sm-4
            em.fa.fa-plane
            | fa-plane
        .col-md-3.col-sm-4
            em.fa.fa-plug
            | fa-plug
        .col-md-3.col-sm-4
            em.fa.fa-plus
            | fa-plus
        .col-md-3.col-sm-4
            em.fa.fa-plus-circle
            | fa-plus-circle
        .col-md-3.col-sm-4
            em.fa.fa-plus-square
            | fa-plus-square
        .col-md-3.col-sm-4
            em.fa.fa-plus-square-o
            | fa-plus-square-o
        .col-md-3.col-sm-4
            em.fa.fa-power-off
            | fa-power-off
        .col-md-3.col-sm-4
            em.fa.fa-print
            | fa-print
        .col-md-3.col-sm-4
            em.fa.fa-puzzle-piece
            | fa-puzzle-piece
        .col-md-3.col-sm-4
            em.fa.fa-qrcode
            | fa-qrcode
        .col-md-3.col-sm-4
            em.fa.fa-question
            | fa-question
        .col-md-3.col-sm-4
            em.fa.fa-question-circle
            | fa-question-circle
        .col-md-3.col-sm-4
            em.fa.fa-quote-left
            | fa-quote-left
        .col-md-3.col-sm-4
            em.fa.fa-quote-right
            | fa-quote-right
        .col-md-3.col-sm-4
            em.fa.fa-random
            | fa-random
        .col-md-3.col-sm-4
            em.fa.fa-recycle
            | fa-recycle
        .col-md-3.col-sm-4
            em.fa.fa-refresh
            | fa-refresh
        .col-md-3.col-sm-4
            em.fa.fa-remove
            | fa-remove
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-reorder
            | fa-reorder
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-reply
            | fa-reply
        .col-md-3.col-sm-4
            em.fa.fa-reply-all
            | fa-reply-all
        .col-md-3.col-sm-4
            em.fa.fa-retweet
            | fa-retweet
        .col-md-3.col-sm-4
            em.fa.fa-road
            | fa-road
        .col-md-3.col-sm-4
            em.fa.fa-rocket
            | fa-rocket
        .col-md-3.col-sm-4
            em.fa.fa-rss
            | fa-rss
        .col-md-3.col-sm-4
            em.fa.fa-rss-square
            | fa-rss-square
        .col-md-3.col-sm-4
            em.fa.fa-search
            | fa-search
        .col-md-3.col-sm-4
            em.fa.fa-search-minus
            | fa-search-minus
        .col-md-3.col-sm-4
            em.fa.fa-search-plus
            | fa-search-plus
        .col-md-3.col-sm-4
            em.fa.fa-send
            | fa-send
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-send-o
            | fa-send-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-share
            | fa-share
        .col-md-3.col-sm-4
            em.fa.fa-share-alt
            | fa-share-alt
        .col-md-3.col-sm-4
            em.fa.fa-share-alt-square
            | fa-share-alt-square
        .col-md-3.col-sm-4
            em.fa.fa-share-square
            | fa-share-square
        .col-md-3.col-sm-4
            em.fa.fa-share-square-o
            | fa-share-square-o
        .col-md-3.col-sm-4
            em.fa.fa-shield
            | fa-shield
        .col-md-3.col-sm-4
            em.fa.fa-shopping-cart
            | fa-shopping-cart
        .col-md-3.col-sm-4
            em.fa.fa-sign-in
            | fa-sign-in
        .col-md-3.col-sm-4
            em.fa.fa-sign-out
            | fa-sign-out
        .col-md-3.col-sm-4
            em.fa.fa-signal
            | fa-signal
        .col-md-3.col-sm-4
            em.fa.fa-sitemap
            | fa-sitemap
        .col-md-3.col-sm-4
            em.fa.fa-sliders
            | fa-sliders
        .col-md-3.col-sm-4
            em.fa.fa-smile-o
            | fa-smile-o
        .col-md-3.col-sm-4
            em.fa.fa-soccer-ball-o
            | fa-soccer-ball-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-sort
            | fa-sort
        .col-md-3.col-sm-4
            em.fa.fa-sort-alpha-asc
            | fa-sort-alpha-asc
        .col-md-3.col-sm-4
            em.fa.fa-sort-alpha-desc
            | fa-sort-alpha-desc
        .col-md-3.col-sm-4
            em.fa.fa-sort-amount-asc
            | fa-sort-amount-asc
        .col-md-3.col-sm-4
            em.fa.fa-sort-amount-desc
            | fa-sort-amount-desc
        .col-md-3.col-sm-4
            em.fa.fa-sort-asc
            | fa-sort-asc
        .col-md-3.col-sm-4
            em.fa.fa-sort-desc
            | fa-sort-desc
        .col-md-3.col-sm-4
            em.fa.fa-sort-down
            | fa-sort-down
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-sort-numeric-asc
            | fa-sort-numeric-asc
        .col-md-3.col-sm-4
            em.fa.fa-sort-numeric-desc
            | fa-sort-numeric-desc
        .col-md-3.col-sm-4
            em.fa.fa-sort-up
            | fa-sort-up
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-space-shuttle
            | fa-space-shuttle
        .col-md-3.col-sm-4
            em.fa.fa-spinner
            | fa-spinner
        .col-md-3.col-sm-4
            em.fa.fa-spoon
            | fa-spoon
        .col-md-3.col-sm-4
            em.fa.fa-square
            | fa-square
        .col-md-3.col-sm-4
            em.fa.fa-square-o
            | fa-square-o
        .col-md-3.col-sm-4
            em.fa.fa-star
            | fa-star
        .col-md-3.col-sm-4
            em.fa.fa-star-half
            | fa-star-half
        .col-md-3.col-sm-4
            em.fa.fa-star-half-empty
            | fa-star-half-empty
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-star-half-full
            | fa-star-half-full
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-star-half-o
            | fa-star-half-o
        .col-md-3.col-sm-4
            em.fa.fa-star-o
            | fa-star-o
        .col-md-3.col-sm-4
            em.fa.fa-suitcase
            | fa-suitcase
        .col-md-3.col-sm-4
            em.fa.fa-sun-o
            | fa-sun-o
        .col-md-3.col-sm-4
            em.fa.fa-support
            | fa-support
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-tablet
            | fa-tablet
        .col-md-3.col-sm-4
            em.fa.fa-tachometer
            | fa-tachometer
        .col-md-3.col-sm-4
            em.fa.fa-tag
            | fa-tag
        .col-md-3.col-sm-4
            em.fa.fa-tags
            | fa-tags
        .col-md-3.col-sm-4
            em.fa.fa-tasks
            | fa-tasks
        .col-md-3.col-sm-4
            em.fa.fa-taxi
            | fa-taxi
        .col-md-3.col-sm-4
            em.fa.fa-terminal
            | fa-terminal
        .col-md-3.col-sm-4
            em.fa.fa-thumb-tack
            | fa-thumb-tack
        .col-md-3.col-sm-4
            em.fa.fa-thumbs-down
            | fa-thumbs-down
        .col-md-3.col-sm-4
            em.fa.fa-thumbs-o-down
            | fa-thumbs-o-down
        .col-md-3.col-sm-4
            em.fa.fa-thumbs-o-up
            | fa-thumbs-o-up
        .col-md-3.col-sm-4
            em.fa.fa-thumbs-up
            | fa-thumbs-up
        .col-md-3.col-sm-4
            em.fa.fa-ticket
            | fa-ticket
        .col-md-3.col-sm-4
            em.fa.fa-times
            | fa-times
        .col-md-3.col-sm-4
            em.fa.fa-times-circle
            | fa-times-circle
        .col-md-3.col-sm-4
            em.fa.fa-times-circle-o
            | fa-times-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-tint
            | fa-tint
        .col-md-3.col-sm-4
            em.fa.fa-toggle-down
            | fa-toggle-down
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-left
            | fa-toggle-left
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-off
            | fa-toggle-off
        .col-md-3.col-sm-4
            em.fa.fa-toggle-on
            | fa-toggle-on
        .col-md-3.col-sm-4
            em.fa.fa-toggle-right
            | fa-toggle-right
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-up
            | fa-toggle-up
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-trash
            | fa-trash
        .col-md-3.col-sm-4
            em.fa.fa-trash-o
            | fa-trash-o
        .col-md-3.col-sm-4
            em.fa.fa-tree
            | fa-tree
        .col-md-3.col-sm-4
            em.fa.fa-trophy
            | fa-trophy
        .col-md-3.col-sm-4
            em.fa.fa-truck
            | fa-truck
        .col-md-3.col-sm-4
            em.fa.fa-tty
            | fa-tty
        .col-md-3.col-sm-4
            em.fa.fa-umbrella
            | fa-umbrella
        .col-md-3.col-sm-4
            em.fa.fa-university
            | fa-university
        .col-md-3.col-sm-4
            em.fa.fa-unlock
            | fa-unlock
        .col-md-3.col-sm-4
            em.fa.fa-unlock-alt
            | fa-unlock-alt
        .col-md-3.col-sm-4
            em.fa.fa-unsorted
            | fa-unsorted
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-upload
            | fa-upload
        .col-md-3.col-sm-4
            em.fa.fa-user
            | fa-user
        .col-md-3.col-sm-4
            em.fa.fa-users
            | fa-users
        .col-md-3.col-sm-4
            em.fa.fa-video-camera
            | fa-video-camera
        .col-md-3.col-sm-4
            em.fa.fa-volume-down
            | fa-volume-down
        .col-md-3.col-sm-4
            em.fa.fa-volume-off
            | fa-volume-off
        .col-md-3.col-sm-4
            em.fa.fa-volume-up
            | fa-volume-up
        .col-md-3.col-sm-4
            em.fa.fa-warning
            | fa-warning
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-wheelchair
            | fa-wheelchair
        .col-md-3.col-sm-4
            em.fa.fa-wifi
            | fa-wifi
        .col-md-3.col-sm-4
            em.fa.fa-wrench
            | fa-wrench
    section#file-type
      h4.page-header File Type Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-file
            | fa-file
        .col-md-3.col-sm-4
            em.fa.fa-file-archive-o
            | fa-file-archive-o
        .col-md-3.col-sm-4
            em.fa.fa-file-audio-o
            | fa-file-audio-o
        .col-md-3.col-sm-4
            em.fa.fa-file-code-o
            | fa-file-code-o
        .col-md-3.col-sm-4
            em.fa.fa-file-excel-o
            | fa-file-excel-o
        .col-md-3.col-sm-4
            em.fa.fa-file-image-o
            | fa-file-image-o
        .col-md-3.col-sm-4
            em.fa.fa-file-movie-o
            | fa-file-movie-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-o
            | fa-file-o
        .col-md-3.col-sm-4
            em.fa.fa-file-pdf-o
            | fa-file-pdf-o
        .col-md-3.col-sm-4
            em.fa.fa-file-photo-o
            | fa-file-photo-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-picture-o
            | fa-file-picture-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-powerpoint-o
            | fa-file-powerpoint-o
        .col-md-3.col-sm-4
            em.fa.fa-file-sound-o
            | fa-file-sound-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-file-text
            | fa-file-text
        .col-md-3.col-sm-4
            em.fa.fa-file-text-o
            | fa-file-text-o
        .col-md-3.col-sm-4
            em.fa.fa-file-video-o
            | fa-file-video-o
        .col-md-3.col-sm-4
            em.fa.fa-file-word-o
            | fa-file-word-o
        .col-md-3.col-sm-4
            em.fa.fa-file-zip-o
            | fa-file-zip-o
            span.text-muted (alias)
    section#spinner
      h4.page-header Spinner Icons
      .alert.alert-success
        ul.fa-ul
          li
            em.fa.fa-info-circle.fa-lg.fa-li
            | These icons work great with the
            code fa-spin
            | class. Check out the
            a.alert-link(href='../examples/#spinning') spinning icons example
            | .
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-circle-o-notch
            | fa-circle-o-notch
        .col-md-3.col-sm-4
            em.fa.fa-cog
            | fa-cog
        .col-md-3.col-sm-4
            em.fa.fa-gear
            | fa-gear
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-refresh
            | fa-refresh
        .col-md-3.col-sm-4
            em.fa.fa-spinner
            | fa-spinner
    section#form-control
      h4.page-header Form Control Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-check-square
            | fa-check-square
        .col-md-3.col-sm-4
            em.fa.fa-check-square-o
            | fa-check-square-o
        .col-md-3.col-sm-4
            em.fa.fa-circle
            | fa-circle
        .col-md-3.col-sm-4
            em.fa.fa-circle-o
            | fa-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-dot-circle-o
            | fa-dot-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-minus-square
            | fa-minus-square
        .col-md-3.col-sm-4
            em.fa.fa-minus-square-o
            | fa-minus-square-o
        .col-md-3.col-sm-4
            em.fa.fa-plus-square
            | fa-plus-square
        .col-md-3.col-sm-4
            em.fa.fa-plus-square-o
            | fa-plus-square-o
        .col-md-3.col-sm-4
            em.fa.fa-square
            | fa-square
        .col-md-3.col-sm-4
            em.fa.fa-square-o
            | fa-square-o
    section#payment
      h4.page-header Payment Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-cc-amex
            | fa-cc-amex
        .col-md-3.col-sm-4
            em.fa.fa-cc-discover
            | fa-cc-discover
        .col-md-3.col-sm-4
            em.fa.fa-cc-mastercard
            | fa-cc-mastercard
        .col-md-3.col-sm-4
            em.fa.fa-cc-paypal
            | fa-cc-paypal
        .col-md-3.col-sm-4
            em.fa.fa-cc-stripe
            | fa-cc-stripe
        .col-md-3.col-sm-4
            em.fa.fa-cc-visa
            | fa-cc-visa
        .col-md-3.col-sm-4
            em.fa.fa-credit-card
            | fa-credit-card
        .col-md-3.col-sm-4
            em.fa.fa-google-wallet
            | fa-google-wallet
        .col-md-3.col-sm-4
            em.fa.fa-paypal
            | fa-paypal
    section#chart
      h4.page-header Chart Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-area-chart
            | fa-area-chart
        .col-md-3.col-sm-4
            em.fa.fa-bar-chart
            | fa-bar-chart
        .col-md-3.col-sm-4
            em.fa.fa-bar-chart-o
            | fa-bar-chart-o
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-line-chart
            | fa-line-chart
        .col-md-3.col-sm-4
            em.fa.fa-pie-chart
            | fa-pie-chart
    section#currency
      h4.page-header Currency Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-bitcoin
            | fa-bitcoin
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-btc
            | fa-btc
        .col-md-3.col-sm-4
            em.fa.fa-cny
            | fa-cny
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-dollar
            | fa-dollar
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-eur
            | fa-eur
        .col-md-3.col-sm-4
            em.fa.fa-euro
            | fa-euro
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-gbp
            | fa-gbp
        .col-md-3.col-sm-4
            em.fa.fa-ils
            | fa-ils
        .col-md-3.col-sm-4
            em.fa.fa-inr
            | fa-inr
        .col-md-3.col-sm-4
            em.fa.fa-jpy
            | fa-jpy
        .col-md-3.col-sm-4
            em.fa.fa-krw
            | fa-krw
        .col-md-3.col-sm-4
            em.fa.fa-money
            | fa-money
        .col-md-3.col-sm-4
            em.fa.fa-rmb
            | fa-rmb
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-rouble
            | fa-rouble
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-rub
            | fa-rub
        .col-md-3.col-sm-4
            em.fa.fa-ruble
            | fa-ruble
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-rupee
            | fa-rupee
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-shekel
            | fa-shekel
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-sheqel
            | fa-sheqel
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-try
            | fa-try
        .col-md-3.col-sm-4
            em.fa.fa-turkish-lira
            | fa-turkish-lira
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-usd
            | fa-usd
        .col-md-3.col-sm-4
            em.fa.fa-won
            | fa-won
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-yen
            | fa-yen
            span.text-muted (alias)
    section#text-editor
      h4.page-header Text Editor Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-align-center
            | fa-align-center
        .col-md-3.col-sm-4
            em.fa.fa-align-justify
            | fa-align-justify
        .col-md-3.col-sm-4
            em.fa.fa-align-left
            | fa-align-left
        .col-md-3.col-sm-4
            em.fa.fa-align-right
            | fa-align-right
        .col-md-3.col-sm-4
            em.fa.fa-bold
            | fa-bold
        .col-md-3.col-sm-4
            em.fa.fa-chain
            | fa-chain
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-chain-broken
            | fa-chain-broken
        .col-md-3.col-sm-4
            em.fa.fa-clipboard
            | fa-clipboard
        .col-md-3.col-sm-4
            em.fa.fa-columns
            | fa-columns
        .col-md-3.col-sm-4
            em.fa.fa-copy
            | fa-copy
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-cut
            | fa-cut
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-dedent
            | fa-dedent
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-eraser
            | fa-eraser
        .col-md-3.col-sm-4
            em.fa.fa-file
            | fa-file
        .col-md-3.col-sm-4
            em.fa.fa-file-o
            | fa-file-o
        .col-md-3.col-sm-4
            em.fa.fa-file-text
            | fa-file-text
        .col-md-3.col-sm-4
            em.fa.fa-file-text-o
            | fa-file-text-o
        .col-md-3.col-sm-4
            em.fa.fa-files-o
            | fa-files-o
        .col-md-3.col-sm-4
            em.fa.fa-floppy-o
            | fa-floppy-o
        .col-md-3.col-sm-4
            em.fa.fa-font
            | fa-font
        .col-md-3.col-sm-4
            em.fa.fa-header
            | fa-header
        .col-md-3.col-sm-4
            em.fa.fa-indent
            | fa-indent
        .col-md-3.col-sm-4
            em.fa.fa-italic
            | fa-italic
        .col-md-3.col-sm-4
            em.fa.fa-link
            | fa-link
        .col-md-3.col-sm-4
            em.fa.fa-list
            | fa-list
        .col-md-3.col-sm-4
            em.fa.fa-list-alt
            | fa-list-alt
        .col-md-3.col-sm-4
            em.fa.fa-list-ol
            | fa-list-ol
        .col-md-3.col-sm-4
            em.fa.fa-list-ul
            | fa-list-ul
        .col-md-3.col-sm-4
            em.fa.fa-outdent
            | fa-outdent
        .col-md-3.col-sm-4
            em.fa.fa-paperclip
            | fa-paperclip
        .col-md-3.col-sm-4
            em.fa.fa-paragraph
            | fa-paragraph
        .col-md-3.col-sm-4
            em.fa.fa-paste
            | fa-paste
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-repeat
            | fa-repeat
        .col-md-3.col-sm-4
            em.fa.fa-rotate-left
            | fa-rotate-left
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-rotate-right
            | fa-rotate-right
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-save
            | fa-save
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-scissors
            | fa-scissors
        .col-md-3.col-sm-4
            em.fa.fa-strikethrough
            | fa-strikethrough
        .col-md-3.col-sm-4
            em.fa.fa-subscript
            | fa-subscript
        .col-md-3.col-sm-4
            em.fa.fa-superscript
            | fa-superscript
        .col-md-3.col-sm-4
            em.fa.fa-table
            | fa-table
        .col-md-3.col-sm-4
            em.fa.fa-text-height
            | fa-text-height
        .col-md-3.col-sm-4
            em.fa.fa-text-width
            | fa-text-width
        .col-md-3.col-sm-4
            em.fa.fa-th
            | fa-th
        .col-md-3.col-sm-4
            em.fa.fa-th-large
            | fa-th-large
        .col-md-3.col-sm-4
            em.fa.fa-th-list
            | fa-th-list
        .col-md-3.col-sm-4
            em.fa.fa-underline
            | fa-underline
        .col-md-3.col-sm-4
            em.fa.fa-undo
            | fa-undo
        .col-md-3.col-sm-4
            em.fa.fa-unlink
            | fa-unlink
            span.text-muted (alias)
    section#directional
      h4.page-header Directional Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-angle-double-down
            | fa-angle-double-down
        .col-md-3.col-sm-4
            em.fa.fa-angle-double-left
            | fa-angle-double-left
        .col-md-3.col-sm-4
            em.fa.fa-angle-double-right
            | fa-angle-double-right
        .col-md-3.col-sm-4
            em.fa.fa-angle-double-up
            | fa-angle-double-up
        .col-md-3.col-sm-4
            em.fa.fa-angle-down
            | fa-angle-down
        .col-md-3.col-sm-4
            em.fa.fa-angle-left
            | fa-angle-left
        .col-md-3.col-sm-4
            em.fa.fa-angle-right
            | fa-angle-right
        .col-md-3.col-sm-4
            em.fa.fa-angle-up
            | fa-angle-up
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-down
            | fa-arrow-circle-down
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-left
            | fa-arrow-circle-left
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-o-down
            | fa-arrow-circle-o-down
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-o-left
            | fa-arrow-circle-o-left
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-o-right
            | fa-arrow-circle-o-right
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-o-up
            | fa-arrow-circle-o-up
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-right
            | fa-arrow-circle-right
        .col-md-3.col-sm-4
            em.fa.fa-arrow-circle-up
            | fa-arrow-circle-up
        .col-md-3.col-sm-4
            em.fa.fa-arrow-down
            | fa-arrow-down
        .col-md-3.col-sm-4
            em.fa.fa-arrow-left
            | fa-arrow-left
        .col-md-3.col-sm-4
            em.fa.fa-arrow-right
            | fa-arrow-right
        .col-md-3.col-sm-4
            em.fa.fa-arrow-up
            | fa-arrow-up
        .col-md-3.col-sm-4
            em.fa.fa-arrows
            | fa-arrows
        .col-md-3.col-sm-4
            em.fa.fa-arrows-alt
            | fa-arrows-alt
        .col-md-3.col-sm-4
            em.fa.fa-arrows-h
            | fa-arrows-h
        .col-md-3.col-sm-4
            em.fa.fa-arrows-v
            | fa-arrows-v
        .col-md-3.col-sm-4
            em.fa.fa-caret-down
            | fa-caret-down
        .col-md-3.col-sm-4
            em.fa.fa-caret-left
            | fa-caret-left
        .col-md-3.col-sm-4
            em.fa.fa-caret-right
            | fa-caret-right
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-down
            | fa-caret-square-o-down
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-left
            | fa-caret-square-o-left
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-right
            | fa-caret-square-o-right
        .col-md-3.col-sm-4
            em.fa.fa-caret-square-o-up
            | fa-caret-square-o-up
        .col-md-3.col-sm-4
            em.fa.fa-caret-up
            | fa-caret-up
        .col-md-3.col-sm-4
            em.fa.fa-chevron-circle-down
            | fa-chevron-circle-down
        .col-md-3.col-sm-4
            em.fa.fa-chevron-circle-left
            | fa-chevron-circle-left
        .col-md-3.col-sm-4
            em.fa.fa-chevron-circle-right
            | fa-chevron-circle-right
        .col-md-3.col-sm-4
            em.fa.fa-chevron-circle-up
            | fa-chevron-circle-up
        .col-md-3.col-sm-4
            em.fa.fa-chevron-down
            | fa-chevron-down
        .col-md-3.col-sm-4
            em.fa.fa-chevron-left
            | fa-chevron-left
        .col-md-3.col-sm-4
            em.fa.fa-chevron-right
            | fa-chevron-right
        .col-md-3.col-sm-4
            em.fa.fa-chevron-up
            | fa-chevron-up
        .col-md-3.col-sm-4
            em.fa.fa-hand-o-down
            | fa-hand-o-down
        .col-md-3.col-sm-4
            em.fa.fa-hand-o-left
            | fa-hand-o-left
        .col-md-3.col-sm-4
            em.fa.fa-hand-o-right
            | fa-hand-o-right
        .col-md-3.col-sm-4
            em.fa.fa-hand-o-up
            | fa-hand-o-up
        .col-md-3.col-sm-4
            em.fa.fa-long-arrow-down
            | fa-long-arrow-down
        .col-md-3.col-sm-4
            em.fa.fa-long-arrow-left
            | fa-long-arrow-left
        .col-md-3.col-sm-4
            em.fa.fa-long-arrow-right
            | fa-long-arrow-right
        .col-md-3.col-sm-4
            em.fa.fa-long-arrow-up
            | fa-long-arrow-up
        .col-md-3.col-sm-4
            em.fa.fa-toggle-down
            | fa-toggle-down
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-left
            | fa-toggle-left
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-right
            | fa-toggle-right
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-toggle-up
            | fa-toggle-up
            span.text-muted (alias)
    section#video-player
      h4.page-header Video Player Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-arrows-alt
            | fa-arrows-alt
        .col-md-3.col-sm-4
            em.fa.fa-backward
            | fa-backward
        .col-md-3.col-sm-4
            em.fa.fa-compress
            | fa-compress
        .col-md-3.col-sm-4
            em.fa.fa-eject
            | fa-eject
        .col-md-3.col-sm-4
            em.fa.fa-expand
            | fa-expand
        .col-md-3.col-sm-4
            em.fa.fa-fast-backward
            | fa-fast-backward
        .col-md-3.col-sm-4
            em.fa.fa-fast-forward
            | fa-fast-forward
        .col-md-3.col-sm-4
            em.fa.fa-forward
            | fa-forward
        .col-md-3.col-sm-4
            em.fa.fa-pause
            | fa-pause
        .col-md-3.col-sm-4
            em.fa.fa-play
            | fa-play
        .col-md-3.col-sm-4
            em.fa.fa-play-circle
            | fa-play-circle
        .col-md-3.col-sm-4
            em.fa.fa-play-circle-o
            | fa-play-circle-o
        .col-md-3.col-sm-4
            em.fa.fa-step-backward
            | fa-step-backward
        .col-md-3.col-sm-4
            em.fa.fa-step-forward
            | fa-step-forward
        .col-md-3.col-sm-4
            em.fa.fa-stop
            | fa-stop
        .col-md-3.col-sm-4
            em.fa.fa-youtube-play
            | fa-youtube-play
    section#brand
      h4.page-header Brand Icons
      .alert.alert-success
        ul.margin-bottom-none.padding-left-lg
          li All brand icons are trademarks of their respective owners.
          li
            | The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.
      .alert.alert-warning
        h4
          em.fa.fa-warning.fa-fw
          | Warning!
        | Apparently, Adblock Plus can remove Font Awesome brand icons with their "Remove Social
        | Media Buttons" setting. We will not use hacks to force them to display. Please
        a.alert-link(href='https://adblockplus.org/en/bugs') report an issue with Adblock Plus
        | if you believe this to be
        | an error. To work around this, you'll need to modify the social icon class names.
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-adn
            | fa-adn
        .col-md-3.col-sm-4
            em.fa.fa-android
            | fa-android
        .col-md-3.col-sm-4
            em.fa.fa-angellist
            | fa-angellist
        .col-md-3.col-sm-4
            em.fa.fa-apple
            | fa-apple
        .col-md-3.col-sm-4
            em.fa.fa-behance
            | fa-behance
        .col-md-3.col-sm-4
            em.fa.fa-behance-square
            | fa-behance-square
        .col-md-3.col-sm-4
            em.fa.fa-bitbucket
            | fa-bitbucket
        .col-md-3.col-sm-4
            em.fa.fa-bitbucket-square
            | fa-bitbucket-square
        .col-md-3.col-sm-4
            em.fa.fa-bitcoin
            | fa-bitcoin
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-btc
            | fa-btc
        .col-md-3.col-sm-4
            em.fa.fa-cc-amex
            | fa-cc-amex
        .col-md-3.col-sm-4
            em.fa.fa-cc-discover
            | fa-cc-discover
        .col-md-3.col-sm-4
            em.fa.fa-cc-mastercard
            | fa-cc-mastercard
        .col-md-3.col-sm-4
            em.fa.fa-cc-paypal
            | fa-cc-paypal
        .col-md-3.col-sm-4
            em.fa.fa-cc-stripe
            | fa-cc-stripe
        .col-md-3.col-sm-4
            em.fa.fa-cc-visa
            | fa-cc-visa
        .col-md-3.col-sm-4
            em.fa.fa-codepen
            | fa-codepen
        .col-md-3.col-sm-4
            em.fa.fa-css3
            | fa-css3
        .col-md-3.col-sm-4
            em.fa.fa-delicious
            | fa-delicious
        .col-md-3.col-sm-4
            em.fa.fa-deviantart
            | fa-deviantart
        .col-md-3.col-sm-4
            em.fa.fa-digg
            | fa-digg
        .col-md-3.col-sm-4
            em.fa.fa-dribbble
            | fa-dribbble
        .col-md-3.col-sm-4
            em.fa.fa-dropbox
            | fa-dropbox
        .col-md-3.col-sm-4
            em.fa.fa-drupal
            | fa-drupal
        .col-md-3.col-sm-4
            em.fa.fa-empire
            | fa-empire
        .col-md-3.col-sm-4
            em.fa.fa-facebook
            | fa-facebook
        .col-md-3.col-sm-4
            em.fa.fa-facebook-square
            | fa-facebook-square
        .col-md-3.col-sm-4
            em.fa.fa-flickr
            | fa-flickr
        .col-md-3.col-sm-4
            em.fa.fa-foursquare
            | fa-foursquare
        .col-md-3.col-sm-4
            em.fa.fa-ge
            | fa-ge
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-git
            | fa-git
        .col-md-3.col-sm-4
            em.fa.fa-git-square
            | fa-git-square
        .col-md-3.col-sm-4
            em.fa.fa-github
            | fa-github
        .col-md-3.col-sm-4
            em.fa.fa-github-alt
            | fa-github-alt
        .col-md-3.col-sm-4
            em.fa.fa-github-square
            | fa-github-square
        .col-md-3.col-sm-4
            em.fa.fa-gittip
            | fa-gittip
        .col-md-3.col-sm-4
            em.fa.fa-google
            | fa-google
        .col-md-3.col-sm-4
            em.fa.fa-google-plus
            | fa-google-plus
        .col-md-3.col-sm-4
            em.fa.fa-google-plus-square
            | fa-google-plus-square
        .col-md-3.col-sm-4
            em.fa.fa-google-wallet
            | fa-google-wallet
        .col-md-3.col-sm-4
            em.fa.fa-hacker-news
            | fa-hacker-news
        .col-md-3.col-sm-4
            em.fa.fa-html5
            | fa-html5
        .col-md-3.col-sm-4
            em.fa.fa-instagram
            | fa-instagram
        .col-md-3.col-sm-4
            em.fa.fa-ioxhost
            | fa-ioxhost
        .col-md-3.col-sm-4
            em.fa.fa-joomla
            | fa-joomla
        .col-md-3.col-sm-4
            em.fa.fa-jsfiddle
            | fa-jsfiddle
        .col-md-3.col-sm-4
            em.fa.fa-lastfm
            | fa-lastfm
        .col-md-3.col-sm-4
            em.fa.fa-lastfm-square
            | fa-lastfm-square
        .col-md-3.col-sm-4
            em.fa.fa-linkedin
            | fa-linkedin
        .col-md-3.col-sm-4
            em.fa.fa-linkedin-square
            | fa-linkedin-square
        .col-md-3.col-sm-4
            em.fa.fa-linux
            | fa-linux
        .col-md-3.col-sm-4
            em.fa.fa-maxcdn
            | fa-maxcdn
        .col-md-3.col-sm-4
            em.fa.fa-meanpath
            | fa-meanpath
        .col-md-3.col-sm-4
            em.fa.fa-openid
            | fa-openid
        .col-md-3.col-sm-4
            em.fa.fa-pagelines
            | fa-pagelines
        .col-md-3.col-sm-4
            em.fa.fa-paypal
            | fa-paypal
        .col-md-3.col-sm-4
            em.fa.fa-pied-piper
            | fa-pied-piper
        .col-md-3.col-sm-4
            em.fa.fa-pied-piper-alt
            | fa-pied-piper-alt
        .col-md-3.col-sm-4
            em.fa.fa-pinterest
            | fa-pinterest
        .col-md-3.col-sm-4
            em.fa.fa-pinterest-square
            | fa-pinterest-square
        .col-md-3.col-sm-4
            em.fa.fa-qq
            | fa-qq
        .col-md-3.col-sm-4
            em.fa.fa-ra
            | fa-ra
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-rebel
            | fa-rebel
        .col-md-3.col-sm-4
            em.fa.fa-reddit
            | fa-reddit
        .col-md-3.col-sm-4
            em.fa.fa-reddit-square
            | fa-reddit-square
        .col-md-3.col-sm-4
            em.fa.fa-renren
            | fa-renren
        .col-md-3.col-sm-4
            em.fa.fa-share-alt
            | fa-share-alt
        .col-md-3.col-sm-4
            em.fa.fa-share-alt-square
            | fa-share-alt-square
        .col-md-3.col-sm-4
            em.fa.fa-skype
            | fa-skype
        .col-md-3.col-sm-4
            em.fa.fa-slack
            | fa-slack
        .col-md-3.col-sm-4
            em.fa.fa-slideshare
            | fa-slideshare
        .col-md-3.col-sm-4
            em.fa.fa-soundcloud
            | fa-soundcloud
        .col-md-3.col-sm-4
            em.fa.fa-spotify
            | fa-spotify
        .col-md-3.col-sm-4
            em.fa.fa-stack-exchange
            | fa-stack-exchange
        .col-md-3.col-sm-4
            em.fa.fa-stack-overflow
            | fa-stack-overflow
        .col-md-3.col-sm-4
            em.fa.fa-steam
            | fa-steam/a
        .col-md-3.col-sm-4
            em.fa.fa-steam-square
            | fa-steam-square
        .col-md-3.col-sm-4
            em.fa.fa-stumbleupon
            | fa-stumbleupon
        .col-md-3.col-sm-4
            em.fa.fa-stumbleupon-circle
            | fa-stumbleupon-circle
        .col-md-3.col-sm-4
            em.fa.fa-tencent-weibo
            | fa-tencent-weibo
        .col-md-3.col-sm-4
            em.fa.fa-trello
            | fa-trello
        .col-md-3.col-sm-4
            em.fa.fa-tumblr
            | fa-tumblr
        .col-md-3.col-sm-4
            em.fa.fa-tumblr-square
            | fa-tumblr-square
        .col-md-3.col-sm-4
            em.fa.fa-twitch
            | fa-twitch
        .col-md-3.col-sm-4
            em.fa.fa-twitter
            | fa-twitter
        .col-md-3.col-sm-4
            em.fa.fa-twitter-square
            | fa-twitter-square
        .col-md-3.col-sm-4
            em.fa.fa-vimeo-square
            | fa-vimeo-square
        .col-md-3.col-sm-4
            em.fa.fa-vine
            | fa-vine
        .col-md-3.col-sm-4
            em.fa.fa-vk
            | fa-vk
        .col-md-3.col-sm-4
            em.fa.fa-wechat
            | fa-wechat
            span.text-muted (alias)
        .col-md-3.col-sm-4
            em.fa.fa-weibo
            | fa-weibo
        .col-md-3.col-sm-4
            em.fa.fa-weixin
            | fa-weixin
        .col-md-3.col-sm-4
            em.fa.fa-windows
            | fa-windows
        .col-md-3.col-sm-4
            em.fa.fa-wordpress
            | fa-wordpress
        .col-md-3.col-sm-4
            em.fa.fa-xing
            | fa-xing
        .col-md-3.col-sm-4
            em.fa.fa-xing-square
            | fa-xing-square
        .col-md-3.col-sm-4
            em.fa.fa-yahoo
            | fa-yahoo
        .col-md-3.col-sm-4
            em.fa.fa-yelp
            | fa-yelp
        .col-md-3.col-sm-4
            em.fa.fa-youtube
            | fa-youtube
        .col-md-3.col-sm-4
            em.fa.fa-youtube-play
            | fa-youtube-play
        .col-md-3.col-sm-4
            em.fa.fa-youtube-square
            | fa-youtube-square
    section#medical
      h4.page-header Medical Icons
      .row.list-icon
        .col-md-3.col-sm-4
            em.fa.fa-ambulance
            | fa-ambulance
        .col-md-3.col-sm-4
            em.fa.fa-h-square
            | fa-h-square
        .col-md-3.col-sm-4
            em.fa.fa-hospital-o
            | fa-hospital-o
        .col-md-3.col-sm-4
            em.fa.fa-medkit
            | fa-medkit
        .col-md-3.col-sm-4
            em.fa.fa-plus-square
            | fa-plus-square
        .col-md-3.col-sm-4
            em.fa.fa-stethoscope
            | fa-stethoscope
        .col-md-3.col-sm-4
            em.fa.fa-user-md
            | fa-user-md
        .col-md-3.col-sm-4
            em.fa.fa-wheelchair
            | fa-wheelchair
