extends ../_layout

block active
  - sidebar_active = 'sortable.html'

block content
  h3 Sortable
    small Lightweight jQuery plugin to create sortable lists and grids using native HTML5 drag and drop API.

  ul.list-group.sortable
    li.list-group-item
      em.fa.fa-reorder.fa-fw.text-muted.mr-lg
      | Donald Hoffman 
    li.list-group-item
      em.fa.fa-reorder.fa-fw.text-muted.mr-lg
      | Wallace Barrett
    li.list-group-item
      em.fa.fa-reorder.fa-fw.text-muted.mr-lg
      | Marsha Hicks
    li.list-group-item
      em.fa.fa-reorder.fa-fw.text-muted.mr-lg
      | Roland Brown

block vendor_js
  script(src='../vendor/html.sortable/dist/html.sortable.js')
  script(src='js/demo/demo-sortable.js')
