extends ../_layout

block active
  - sidebar_active = 'sweetalert.html'

block content
  h3 SweetAlert
    small A Beautiful Replacement For Javascript's "alert"

  .container-fluid
    h4.page-header.mt0 Usage examples
    .row
      .col-sm-9.col-lg-6
        p A basic message
      .col-sm-3.col-lg-6
        p
          a.btn.btn-primary#swal-demo1(href='') Try me!
    .row
      .col-sm-9.col-lg-6
        p A title with a text under
      .col-sm-3.col-lg-6
        p
          a.btn.btn-primary#swal-demo2(href='') Try me!
    .row
      .col-sm-9.col-lg-6
        p A success message!
      .col-sm-3.col-lg-6
        p
          a.btn.btn-primary#swal-demo3(href='') Try me!
    .row
      .col-sm-9.col-lg-6
        p A warning message, with a function attached to the &quot;Confirm&quot;-button
      .col-sm-3.col-lg-6
        p
          a.btn.btn-primary#swal-demo4(href='') Try me!
    .row
      .col-sm-9.col-lg-6
        p ... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.
      .col-sm-3.col-lg-6
        p
          a.btn.btn-primary#swal-demo5(href='') Try me!

block vendor_css
  // SWEET ALERT
  link(rel='stylesheet', href='../vendor/sweetalert/dist/sweetalert.css')
block vendor_js
  // SWEET ALERT
  script(src='../vendor/sweetalert/dist/sweetalert.min.js')
