extends ../_layout

block active
  - sidebar_active = 'table-jqgrid.html'

block content
  h3 jqGrid
    small Grid plugin

  // JSON
  .jqgrid-responsive.mb-lg 
    table#jqGridJSON
    #jqGridJSONPager

  // NESTED
  .jqgrid-responsive.mb-lg 
    table#jqGridTree
    #jqGridTreePager


block vendor_css
  // JQGRID
  link(rel='stylesheet', href='../vendor/jqgrid/css/ui.jqgrid.css')
  link(rel='stylesheet', href='../vendor/jquery-ui/themes/smoothness/jquery-ui.css')
block vendor_js
  // JQGRID
  script(src="../vendor/jqgrid/js/jquery.jqGrid.js")
  script(src="../vendor/jqgrid/js/i18n/grid.locale-en.js")
  script(src='js/demo/demo-jqgrid.js')
