extends ../_layout

block active
  - sidebar_active = 'table-datatable.html'

block content
    h3 Data Tables
      small Tables, one step forward.

    .container-fluid
      // START DATATABLE 1 
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading 
              | Data Tables | 
              small Zero Configuration
            .panel-body
              table#datatable1.table.table-striped.table-hover
                thead
                  tr
                    th Rendering engine
                    th Browser
                    th Platform(s)
                    th.sort-numeric Engine version
                    th.sort-alpha CSS grade
                tbody
                  tr.gradeX
                    td Trident
                    td Internet Explorer 4.0
                    td Win 95+
                    td 4
                    td X
                  tr.gradeC
                    td Trident
                    td Internet Explorer 5.0
                    td Win 95+
                    td 5
                    td C
                  tr.gradeA
                    td Trident
                    td Internet Explorer 5.5
                    td Win 95+
                    td 5.5
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 6
                    td Win 98+
                    td 6
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 7
                    td Win XP SP2+
                    td 7
                    td A
                  tr.gradeA
                    td Trident
                    td AOL browser (AOL desktop)
                    td Win XP
                    td 6
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.0
                    td Win 98+ / OSX.2+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.5
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 2.0
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 3.0
                    td Win 2k+ / OSX.3+
                    td 1.9
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.0
                    td OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.5
                    td OSX.3+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape 7.2
                    td Win 95+ / Mac OS 8.6-9.2
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Browser 8
                    td Win 98SE+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Navigator 9
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.0
                    td Win 95+ / OSX.1+
                    td 1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.1
                    td Win 95+ / OSX.1+
                    td 1.1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.2
                    td Win 95+ / OSX.1+
                    td 1.2
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.3
                    td Win 95+ / OSX.1+
                    td 1.3
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.4
                    td Win 95+ / OSX.1+
                    td 1.4
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.5
                    td Win 95+ / OSX.1+
                    td 1.5
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.6
                    td Win 95+ / OSX.1+
                    td 1.6
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.7
                    td Win 98+ / OSX.1+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.8
                    td Win 98+ / OSX.1+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Seamonkey 1.1
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Epiphany 2.20
                    td Gnome
                    td 1.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.2
                    td OSX.3
                    td 125.5
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.3
                    td OSX.3
                    td 312.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 2.0
                    td OSX.4+
                    td 419.3
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 3.0
                    td OSX.4+
                    td 522.1
                    td A
                  tr.gradeA
                    td Webkit
                    td OmniWeb 5.5
                    td OSX.4+
                    td 420
                    td A
                  tr.gradeA
                    td Webkit
                    td iPod Touch / iPhone
                    td iPod
                    td 420.1
                    td A
                  tr.gradeA
                    td Webkit
                    td S60
                    td S60
                    td 413
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.0
                    td Win 95+ / OSX.1+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.0
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.0
                    td Win 95+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.2
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.5
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera for Wii
                    td Wii
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nokia N800
                    td N800
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nintendo DS browser
                    td Nintendo DS
                    td 8.5
                    td
                      | C/A
                      sup 1
                  tr.gradeC
                    td KHTML
                    td Konqureror 3.1
                    td KDE 3.1
                    td 3.1
                    td C
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.3
                    td KDE 3.3
                    td 3.3
                    td A
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.5
                    td KDE 3.5
                    td 3.5
                    td A
                  tr.gradeX
                    td Tasman
                    td Internet Explorer 4.5
                    td Mac OS 8-9
                    td -
                    td X
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.1
                    td Mac OS 7.6-9
                    td 1
                    td C
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.2
                    td Mac OS 8-X
                    td 1
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.1
                    td Embedded devices
                    td -
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.4
                    td Embedded devices
                    td -
                    td A
                  tr.gradeX
                    td Misc
                    td Dillo 0.8
                    td Embedded devices
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Links
                    td Text only
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Lynx
                    td Text only
                    td -
                    td X
                  tr.gradeC
                    td Misc
                    td IE Mobile
                    td Windows Mobile 6
                    td -
                    td C
                  tr.gradeC
                    td Misc
                    td PSP browser
                    td PSP
                    td -
                    td C
                  tr.gradeU
                    td Other browsers
                    td All others
                    td -
                    td -
                    td U
      // END DATATABLE 1 

      // START DATATABLE 2 
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading 
              | Data Tables | 
              small Column Ordering
            .panel-body
              table#datatable2.table.table-striped.table-hover
                thead
                  tr
                    th Rendering engine
                    th Browser
                    th Platform
                    th.sort-numeric Engine version
                    th.sort-alpha CSS grade
                tbody
                  tr.gradeX
                    td Trident
                    td Internet Explorer 4.0
                    td Win 95+
                    td 4
                    td X
                  tr.gradeC
                    td Trident
                    td Internet Explorer 5.0
                    td Win 95+
                    td 5
                    td C
                  tr.gradeA
                    td Trident
                    td Internet Explorer 5.5
                    td Win 95+
                    td 5.5
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 6
                    td Win 98+
                    td 6
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 7
                    td Win XP SP2+
                    td 7
                    td A
                  tr.gradeA
                    td Trident
                    td AOL browser (AOL desktop)
                    td Win XP
                    td 6
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.0
                    td Win 98+ / OSX.2+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.5
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 2.0
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 3.0
                    td Win 2k+ / OSX.3+
                    td 1.9
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.0
                    td OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.5
                    td OSX.3+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape 7.2
                    td Win 95+ / Mac OS 8.6-9.2
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Browser 8
                    td Win 98SE+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Navigator 9
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.0
                    td Win 95+ / OSX.1+
                    td 1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.1
                    td Win 95+ / OSX.1+
                    td 1.1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.2
                    td Win 95+ / OSX.1+
                    td 1.2
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.3
                    td Win 95+ / OSX.1+
                    td 1.3
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.4
                    td Win 95+ / OSX.1+
                    td 1.4
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.5
                    td Win 95+ / OSX.1+
                    td 1.5
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.6
                    td Win 95+ / OSX.1+
                    td 1.6
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.7
                    td Win 98+ / OSX.1+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.8
                    td Win 98+ / OSX.1+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Seamonkey 1.1
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Epiphany 2.20
                    td Gnome
                    td 1.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.2
                    td OSX.3
                    td 125.5
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.3
                    td OSX.3
                    td 312.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 2.0
                    td OSX.4+
                    td 419.3
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 3.0
                    td OSX.4+
                    td 522.1
                    td A
                  tr.gradeA
                    td Webkit
                    td OmniWeb 5.5
                    td OSX.4+
                    td 420
                    td A
                  tr.gradeA
                    td Webkit
                    td iPod Touch / iPhone
                    td iPod
                    td 420.1
                    td A
                  tr.gradeA
                    td Webkit
                    td S60
                    td S60
                    td 413
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.0
                    td Win 95+ / OSX.1+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.0
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.0
                    td Win 95+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.2
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.5
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera for Wii
                    td Wii
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nokia N800
                    td N800
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nintendo DS browser
                    td Nintendo DS
                    td 8.5
                    td
                      | C/A
                      sup 1
                  tr.gradeC
                    td KHTML
                    td Konqureror 3.1
                    td KDE 3.1
                    td 3.1
                    td C
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.3
                    td KDE 3.3
                    td 3.3
                    td A
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.5
                    td KDE 3.5
                    td 3.5
                    td A
                  tr.gradeX
                    td Tasman
                    td Internet Explorer 4.5
                    td Mac OS 8-9
                    td -
                    td X
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.1
                    td Mac OS 7.6-9
                    td 1
                    td C
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.2
                    td Mac OS 8-X
                    td 1
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.1
                    td Embedded devices
                    td -
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.4
                    td Embedded devices
                    td -
                    td A
                  tr.gradeX
                    td Misc
                    td Dillo 0.8
                    td Embedded devices
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Links
                    td Text only
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Lynx
                    td Text only
                    td -
                    td X
                  tr.gradeC
                    td Misc
                    td IE Mobile
                    td Windows Mobile 6
                    td -
                    td C
                  tr.gradeC
                    td Misc
                    td PSP browser
                    td PSP
                    td -
                    td C
                  tr.gradeU
                    td Other browsers
                    td All others
                    td -
                    td -
                    td U
                tfoot
                  tr
                    th
                      input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Filter Rendering engine')
                    th
                      input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_browser', placeholder='Filter Browser')
                    th
                      input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_platform', placeholder='Filter Platform')
                    th
                      input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_engine_version', placeholder='Filter Engine version')
                    th
                      input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_css_grade', placeholder='Filter CSS grade')
      // END DATATABLE 2 

      // START DATATABLE 3
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading 
              | Data Tables | 
              small Column Visibility
            .panel-body
              table#datatable3.table.table-striped.table-hover
                thead
                  tr
                    th Rendering engine
                    th Browser
                    th Platform
                    th.sort-numeric Engine version
                    th.sort-alpha CSS grade
                tbody
                  tr.gradeX
                    td Trident
                    td Internet Explorer 4.0
                    td Win 95+
                    td 4
                    td X
                  tr.gradeC
                    td Trident
                    td Internet Explorer 5.0
                    td Win 95+
                    td 5
                    td C
                  tr.gradeA
                    td Trident
                    td Internet Explorer 5.5
                    td Win 95+
                    td 5.5
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 6
                    td Win 98+
                    td 6
                    td A
                  tr.gradeA
                    td Trident
                    td Internet Explorer 7
                    td Win XP SP2+
                    td 7
                    td A
                  tr.gradeA
                    td Trident
                    td AOL browser (AOL desktop)
                    td Win XP
                    td 6
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.0
                    td Win 98+ / OSX.2+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 1.5
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 2.0
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Firefox 3.0
                    td Win 2k+ / OSX.3+
                    td 1.9
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.0
                    td OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Camino 1.5
                    td OSX.3+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape 7.2
                    td Win 95+ / Mac OS 8.6-9.2
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Browser 8
                    td Win 98SE+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Netscape Navigator 9
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.0
                    td Win 95+ / OSX.1+
                    td 1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.1
                    td Win 95+ / OSX.1+
                    td 1.1
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.2
                    td Win 95+ / OSX.1+
                    td 1.2
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.3
                    td Win 95+ / OSX.1+
                    td 1.3
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.4
                    td Win 95+ / OSX.1+
                    td 1.4
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.5
                    td Win 95+ / OSX.1+
                    td 1.5
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.6
                    td Win 95+ / OSX.1+
                    td 1.6
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.7
                    td Win 98+ / OSX.1+
                    td 1.7
                    td A
                  tr.gradeA
                    td Gecko
                    td Mozilla 1.8
                    td Win 98+ / OSX.1+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Seamonkey 1.1
                    td Win 98+ / OSX.2+
                    td 1.8
                    td A
                  tr.gradeA
                    td Gecko
                    td Epiphany 2.20
                    td Gnome
                    td 1.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.2
                    td OSX.3
                    td 125.5
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 1.3
                    td OSX.3
                    td 312.8
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 2.0
                    td OSX.4+
                    td 419.3
                    td A
                  tr.gradeA
                    td Webkit
                    td Safari 3.0
                    td OSX.4+
                    td 522.1
                    td A
                  tr.gradeA
                    td Webkit
                    td OmniWeb 5.5
                    td OSX.4+
                    td 420
                    td A
                  tr.gradeA
                    td Webkit
                    td iPod Touch / iPhone
                    td iPod
                    td 420.1
                    td A
                  tr.gradeA
                    td Webkit
                    td S60
                    td S60
                    td 413
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.0
                    td Win 95+ / OSX.1+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 7.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.0
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 8.5
                    td Win 95+ / OSX.2+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.0
                    td Win 95+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.2
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera 9.5
                    td Win 88+ / OSX.3+
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Opera for Wii
                    td Wii
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nokia N800
                    td N800
                    td -
                    td A
                  tr.gradeA
                    td Presto
                    td Nintendo DS browser
                    td Nintendo DS
                    td 8.5
                    td
                      | C/A
                      sup 1
                  tr.gradeC
                    td KHTML
                    td Konqureror 3.1
                    td KDE 3.1
                    td 3.1
                    td C
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.3
                    td KDE 3.3
                    td 3.3
                    td A
                  tr.gradeA
                    td KHTML
                    td Konqureror 3.5
                    td KDE 3.5
                    td 3.5
                    td A
                  tr.gradeX
                    td Tasman
                    td Internet Explorer 4.5
                    td Mac OS 8-9
                    td -
                    td X
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.1
                    td Mac OS 7.6-9
                    td 1
                    td C
                  tr.gradeC
                    td Tasman
                    td Internet Explorer 5.2
                    td Mac OS 8-X
                    td 1
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.1
                    td Embedded devices
                    td -
                    td C
                  tr.gradeA
                    td Misc
                    td NetFront 3.4
                    td Embedded devices
                    td -
                    td A
                  tr.gradeX
                    td Misc
                    td Dillo 0.8
                    td Embedded devices
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Links
                    td Text only
                    td -
                    td X
                  tr.gradeX
                    td Misc
                    td Lynx
                    td Text only
                    td -
                    td X
                  tr.gradeC
                    td Misc
                    td IE Mobile
                    td Windows Mobile 6
                    td -
                    td C
                  tr.gradeC
                    td Misc
                    td PSP browser
                    td PSP
                    td -
                    td C
                  tr.gradeU
                    td Other browsers
                    td All others
                    td -
                    td -
                    td U
                tfoot
                  tr
                    th Rendering engine
                    th Browser
                    th Platform
                    th Engine version
                    th CSS grade
      // END DATATABLE 3
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading 
              | Data Tables | 
              small Ajax Content
            .table-responsive
              table#datatable4.table.table-striped
                thead
                  tr
                    th(style='width:20%') Rendering engine
                    th(style='width:25%') Browser
                    th(style='width:25%') Platform(s)
                    th(style='width:15%') Engine version
                    th(style='width:15%') CSS grade
                tbody

block vendor_css
  // DATATABLES
  link(rel='stylesheet', href='../vendor/datatables-colvis/css/dataTables.colVis.css')
  link(rel='stylesheet', href='vendor/datatable-bootstrap/css/dataTables.bootstrap.css')

block vendor_js
  // DATATABLES
  script(src='../vendor/datatables/media/js/jquery.dataTables.min.js')
  script(src='../vendor/datatables-colvis/js/dataTables.colVis.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrap.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js')
  script(src='js/demo/demo-datatable.js')
