extends ../_layout

block active
  - sidebar_active = 'table-standard.html'

block content
  h3 Tables
    small Bootstrap Responsive tables

  // START row
  .row
    .col-lg-6
      // START panel
      .panel.panel-default
        .panel-heading
          | Kitchen Sink
        .panel-body
          // START table-responsive
          .table-responsive
            table.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
          // END table-responsive
      // END panel
    .col-lg-6
      // START panel
      .panel.panel-default
        .panel-heading
          | Basic Table
        .panel-body
          // START table-responsive
          .table-responsive
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
          // END table-responsive
      // END panel
  // END row
  // START row
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
          | Striped Rows
        .panel-body
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
    .col-lg-6
      .panel.panel-default
        .panel-heading
          | Bordered Table
        .panel-body
          .table-responsive.table-bordered
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
  // END row
  // START row
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
          | Hover Rows
        .panel-body
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
    .col-lg-6
      .panel.panel-default
        .panel-heading
          | Context Classes
        .panel-body
          .table-responsive
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr.success
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr.info
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr.warning
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
                tr.danger
                  td 4
                  td John
                  td Smith
                  td @jsmith
  // END row
