body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/26px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
/*
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
*/
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
/****/
body{
	max-width:640px;
	margin:auto;
	background:#f0f2f5;
}
.wrapp{
	overflow:hidden;
	margin-top:39px
}
.header{
	height:68px;
	line-height:68px;
	background:#27a0f5;
	overflow:hidden;
	padding:0 12px;
	position:relative;
	}

.header a{
	color:#fff;
	font:18px/68px 'Microsoft Yahei','Simsun';
	}
.header .shouye{
	float:left;
	padding-left:30px;
	background:url(fh_top.png) no-repeat center left;
	}
.header h3{
	display:block;
	height:68px;
	font:18px/68px 'Microsoft Yahei','Simsun';
	position:absolute;
	top:0;
	left:38%;
	color:#fff;}
.header .ziliao{
	float:right;
	padding-right:32px;
	background:url(bj_top.png) no-repeat center right;
	}
	
	/*------------------------*/
.banner{
   width:100%;
   overflow:hidden;
	}
.banner .bannerBox{
	width:100%;
	max-height:240px;
	height:auto;
	overflow:hidden;
	position:relative;}
	
.banner .bannerBox img{
	max-width: 100%;
    max-height: 240px;
    vertical-align: middle;}
	
.xinxi{
	width:90%;
	position:absolute;
	bottom:0px;
	left:5%;
	overflow:hidden;
	}
.touxian{
	float:left;	
	width:39%;
	}
.touxian dt .tx{
	width:59%;
	max-height:106px;
	height:auto;
	margin:0 auto;
	}
.touxian dt .tx img{
	max-width:100%;
	max-height:106px;
	vertical-align:middle;
	border: solid #fff 2px;
	border-radius:58px;
	display:block;
	}
.touxian dd {
	height:30px;
	overflow:hidden;
	margin:8px auto;
	}
.touxian dd span{
	float:left;
	display:block;
	width:24px;
	height:30px;
	margin-left:5px;
	}
.touxian dd .pc01{background:url(qiye.png) no-repeat center center;}
.touxian dd .pc02{background:url(01.png) no-repeat center center;}
.touxian dd .pc03{background:url(02.png) no-repeat center center;}
.touxian dd .pc04{background:url(03.png) no-repeat center center;}
.name{
	width:60%;
	height:32px;
	line-height:32px;
	float:left;
	margin-top:22px;
	overflow:hidden;}	
	
.name span{
	float:left;
	color:#fff;
	font-size:18px;}
.name span.ne{
	width: 34%;
	overflow: hidden;
}
.name .admin{
	padding:0 16px;
	font-size:15px;
	background-color:#ff8d13;
	border-radius:6px;
	margin-left:4%;
	}
	
/*000000000000000000000000000000*/

.column{
	overflow:hidden;
	padding:0 12px;
	background:#fff;
	height:70px;
	}
.column .columnBox{
	overflow:hidden;
	}
.columnBox li{
	width:33%;
	float:left;
	text-align:center;
	}
.columnBox li div{
	height:33px;
	line-height:33px;}
.columnBox .jifen{
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;}
.columnBox li .jf{
	background:url(jifeng.png) no-repeat 12px 2px;
	color:#ff8d13;
	text-indent:2em;}
.columnBox li .kj{
	color:#ff8d13;
	}
.columnBox li .kj em{
	color:#666}
.columnBox li .xx{
	background:url(zhuanfa.png) no-repeat center center;
	}
/*000000000000000*/
.list{
	width:100%;
	overflow:hidden;
	margin-top:20px;
	background:#fff;
	}
.list ul li{
	height:48px;
	line-height:48px;
	border-bottom:1px solid #ccc;
	padding:0 12px;
	}
.list ul .jb,.dt,.sm{
	text-align:center;
	text-indent:2em;
	}
.list ul .jb{
	background:url(gr_ziliao.png) no-repeat 35% 50%;		
	}
.list ul .dt{
	background:url(gr_dongtai.png) no-repeat 35% 50%;		
	}
.list ul .sm{
	background:url(gr_baomi.png) no-repeat 35% 50%;		
	}
.list ul li .left{
	float:left;}
.list ul li .right{
	float:right;}
.list ul .shuoming{
	height:64px;
	line-height:32px;
	color:#ff8d13;}
.more{
	height:48px;
	line-height:48px;
	text-align:center;
	background:#fff;
	margin-top:20px;}
	
@media only screen and (min-width:641px) {
	.header h3{
		left: 45%;}
	.xinxi{bottom: 20px;}
	.touxian dd{
		padding-left:26px;}
	.columnBox li .jf{
		background: url(jifeng.png) no-repeat 50px 2px;}
	.list ul .jb{
		background-position:41% 50%;}
	.list ul .dt{
		background-position:41% 50%;}
	.list ul .sm{
		background-position:41% 50%;}
	.list ul .shuoming{
		line-height:64px;}
	
}
@media only screen and (max-width:321px) {
	.header h3{
		left:36%;}
	
	.touxian dd span{
		width:21px;
		height:30px;
		}
	.columnBox li .jf{
		background-size:28px auto;
		background-position:12px 7px;}
	.columnBox li .kj{
		font-size:13px;}
	.columnBox li .xx{
		background-size:28px auto;}
		.list ul .jb{
		background-position:32% 50%;}
	.list ul .dt{
		background-position:32% 50%;}
	.list ul .sm{
		background-position:32% 50%;}
	}