@charset "utf-8";

/*登录和注册*/
.cms_user{ padding: 50px 0 30px;}
.cms_user .layui-input-inline{ min-width: 300px;}
.cms_user .layui-input-inline.captcha{ position: relative;padding-right: 100px;min-width: 200px;}
.cms_user .layui-input-inline.captcha .vimg{ position: absolute;top: 0;right: 0;width: 100px;height: 100%;}
.cms_user .layui-input-inline.captcha .vimg img{ width: 100%;height: 36px;border: 1px solid #ddd;cursor: pointer;border-left: 0;}
.cms_user .error{ padding-bottom: 12px;color: #ff0000;}

.cms_manage_base{ padding-top: 20px;}
.cms_manage_left{ width:18%;float:left;}
.cms_manage_menu{ }
.cms_manage_menu li{ }
.cms_manage_menu li .cms_top_nav{ height: 36px;line-height: 36px;padding:0 10px 0 15px;overflow: hidden;background: teal;}
.cms_manage_menu li .cms_top_nav span{ float: right;cursor: pointer;}
.cms_manage_menu li .cms_top_nav span i{ font-size: 16px;}
.cms_manage_menu li .cms_top_nav a{ color: #ffffff;}
.cms_manage_menu dl{ }
.cms_manage_menu dd{ height: 34px;line-height: 34px;padding: 0 10px;overflow: hidden;border-bottom: 1px solid #ddd;padding-left: 25px;}
.cms_manage_menu dd.current{ background: #E3E3E3;}
.cms_manage_menu li i.fa{ min-width: 20px;color: teal;}
.cms_manage_menu li .cms_top_nav i.fa{ color: #ffffff;}
.cms_manage_menu li a{ display: block;}

.cms_manage_rght{ width: 80%;float:right;min-height:300px;}
.cms_manage_rght .location{ height: 36px;line-height: 36px;text-align: right;border-bottom: 1px solid #ddd;}
.cms_manage_rght .location .path_current{ color: teal;}
.cms_insider{ padding-top: 20px;}




/*表单相关css*/
.box_form{ position: relative;}
.box_form .form_warning{ position: relative;max-width: 514px;overflow: hidden;padding: 10px 28px 10px 12px; }
.box_form .form_warning strong{ color: #333333;}
.box_form .form_warning a.close { position: absolute;right: 10px;top: 50%;margin-top: -12px;}
.box_form .form_warning a.close i{ color: #ff0000;}

.box_form .layui-input-inline{ width: auto;min-width: 450px;min-height: 30px;max-width: 100%;}
.box_form .form-item-keyvalue .layui-input-inline
,.box_form .form-item-image .layui-input-inline
,.box_form .form-item-file .layui-input-inline
,.box_form .form-item-checker .layui-input-inline
{ min-width: inherit;}
.box_form  .layui-form-checkbox{ margin: 3px 0 3px 10px;}
.box_form .form-item-checkbox .layui-input-inline label{ margin-left: 5px;position: relative;top: 5px;}
.box_form .form-item-radio .layui-input-inline,.box_form .form-item-checkbox .layui-input-inline{ border:1px solid #E6E6E6;min-height: 36px;}
.box_form .form-item-checker .layui-input-inline{ border-left:1px solid #E6E6E6;min-height: 36px;text-align: center;background: none;}
.box_form .form-item-radio .layui-input-inline .layui-form-radio{ padding-right: 0;}
.box_form .form-item-format .layui-input-inline{ padding: 3px 10px;line-height: 30px;border:1px solid #E6E6E6;min-width: 428px;background:  #F3F3F3;}
.box_form .quick_row .layui-input.form_item{ float: left;width: 60%;}
.box_form .quick_row .layui-form-select{ float: right;width: 38%;}
.box_form .quick_row .layui-btn{ margin-left: 2%;}
.box_form .form-item-radio .layui-input-inline .layui-form-radio span{ font-size: 12px;position: relative;top: -2px;}
.box_form .form-item-editor .layui-input-inline{ padding: 0 0 0 0;}
.box_form .form-item-date .layui-input-inline,.box_form .form-item-datetime .layui-input-inline{ min-width: 274px;}
.box_form .form-item-date .layui-input-inline .form_item,.box_form .form-item-datetime .layui-input-inline .form_item{ background:#fff url(../../images/admin/datePicker.gif) 250px center no-repeat;}
.box_form .form-item-btns{ margin-bottom:10px;}
.box_form .form-item-btns button{ box-shadow: 2px 2px 2px rgba(0,0,0,0.2);} 
.box_form .layui-input-error{ display: none; float: left;height: 34px;line-height: 34px;overflow: hidden;background: #FF8080;border: 1px solid #FF5722;padding: 0 8px;color:#fff;min-width: 120px;border-radius: 2px;box-shadow: 2px 2px 2px rgba(0,0,0,0.2);-webkit-animation-duration: 0.6s;  animation-duration: 0.6s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.box_form .layui-input-error:hover{ background: #FF6060;}
.box_form .layui-input-error i{ margin-right: 5px;color: rgba(255,0,0,0.7);cursor: pointer;}
.box_form .readonly{ background: rgba(0,0,0,0.1);}
.box_form .icon_select{ padding-right: 79px;position: relative;z-index: 9;}
.box_form .icon_select .icon_select_action{ position: absolute; right: 0; top: 0;width: 80px;border-radius: 0 2px 2px 0;padding: 0 ;text-align: center;}
.box_form .icon_select .icon_select_options{ display: none;position: absolute;left: 0;top: 37px;width: 100%;background: #fff;border: 1px solid #D2D2D2;border-radius: 0 0 2px 2px;box-shadow: 1px 1px 2px rgba(0,0,0,0.1);height: 246px;overflow: auto;}
.box_form .icon_select .loading{ padding-left: 50px;background: url(../../images/admin/login_loader.gif) left center  no-repeat;background-size: 40px 40px;width: 180px;margin: 0 auto;margin-top: 120px;color: #333;}
.box_form .icon_select .loading a{ color: #1E9FFF;}
.box_form .icon_select .icon_select_options ul{ padding: 4px;}
.box_form .icon_select .icon_select_options ul li{ width: 28px;height: 28px; line-height: 28px;cursor: pointer; border: 1px solid #e6e6e6;margin: 4px;text-align: center;border-radius: 1px;-webkit-transition: all .4s ease;transition: all .4s ease;}
.box_form .icon_select .icon_select_options ul li:hover{  background: #1E9FFF;color: #fff;border-color:#1E9FFF;}
.box_form .icon_select .icon_select_options .icon_search{ margin: 8px 8px 0;}


.box_form .layui-item-info{ float: left;height: 20px;line-height: 20px;cursor: pointer;padding-top: 9px;margin-right: 10px;}
.box_form .layui-item-info i{ color: #FF5722; -webkit-transition: all 0.5s ease;transition: all 0.5s ease; -webkit-transform:scale(0.9);transform:scale(0.9);}
.box_form .layui-item-info:hover i{ -webkit-transform:scale(1.1);transform:scale(1.1);}
.edit_array table td{ vertical-align: middle;}
.edit_array a{ cursor: pointer;text-decoration: none;}
.edit_array .add-item{ color: #0080FF;text-decoration: underline;display: inline-block;height: 34px;line-height: 34px;padding-left: 3px;padding-bottom: 2px;}
.edit_array td{ padding: 0 2px 2px 0;}
.edit_array .form_key{ width: 178px;}
.edit_array .form_value{  width: 178px;}
.edit_array td a{ display: inline-block;height: 24px;line-height: 24px;color: #0080FF;text-decoration: underline;margin-left: 5px;font-size: 12px;}

.box_form .upload_elem_box{ display: inline-block; height: 36px;line-height: 36px;border: 1px solid #e6e6e6;padding: 0 12px;position: relative;border-radius: 0 2px 2px 0;float: left;text-align: center;min-width: 78px;}
.box_form .upload_elem_box input{ position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;z-index: 2;cursor: pointer;}
.box_form .upload_elem_box i{ margin-right: 6px;color: #009688;}
.box_form .upload_elem_box:hover{ border-color: #D2D2D2;}
.box_form .upload_elem_box:hover i { opacity: 0.8;}
.box_form span.upload_elem_info{ background: #F2F2F2; float: left; display: inline-block;height: 36px;line-height: 36px;border: 1px solid #e6e6e6;padding: 0 10px;margin-left: 10px;display: none;border-radius: 2px;max-width: 120px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.box_form .img_show{ margin-top: 10px;  box-shadow: 0 0 2px rgba(0,0,0,0.2); border: 1px solid #e6e6e6;border-radius: 2px;padding: 1px;display: inline-block;width: 100px;position: relative;}
.box_form .img_show img{ display: block;}

.box_form .img_show .btn,.box_form .file_show .btn{ position: absolute;right: 0;bottom: 0;width: 20px;height: 20px;text-align: center;}
.box_form .img_show .btn i,.box_form .file_show .btn i{ color: #009688;}
.box_form .img_show:hover .btn i,.box_form .file_show:hover .btn i{ -webkit-transform: scale(1.1);transform: scale(1.1);}

.box_form .file_show{ color:#009688 ; background: #F2F2F2; position: relative;height: 36px;line-height: 36px;margin-top: 10px;  border: 1px solid #D2D2D2;border-radius: 2px;display: inline-block;width: 102px;position: relative;text-align: center;}
.box_form .file_show>i{ margin-right: 5px;}
.box_form .file_show span i{ position: absolute;bottom: 3px;right: 3px;}
 
.box_form .colorBox{ }
.box_form .colorBox .color{ width: 36px;height: 36px;border: 1px solid #E6E6E6;border-radius: 0 2px 2px 0;cursor: pointer;} 
 
.box_form .multi_select .layui-form-select{ float: left;margin-right: 10px;}
.box_form .form-item-multi_select .layui-input-inline{ min-width: 180px;margin-right: 0;}
.box_form .form-item-assoc_select .layui-input-inline{ min-width: inherit;}

#prompt_form.box_form{ padding: 20px 5px 20px 20px;} 
#prompt_form.box_form .layui-input-inline{ width: auto;min-width: 338px;max-width: 338px;margin-right: 0;}

.box_form .assoc_select_value{ display: inline-block; height: 36px;line-height: 36px;border: 1px solid #e6e6e6;padding: 0 15px;float: left;border-radius: 0 2px 2px 0;margin-right: 10px; }
 
.box_form .form_selector{ position: fixed;z-index: 999;right: 0;top: 45%;background: rgba(0,0,0,0.1);box-shadow: -3px 3px 3px rgba(0,0,0,0.3);}
.box_form .form_selector ul li{ color: #FF5722; height: 34px;line-height: 34px;border: 1px solid #FF5722;margin-top: -1px;padding: 0 10px;min-width: 70px;text-align: center;cursor: pointer;} 
.box_form .form_selector ul li.current{ background: #FF5722;color: #fff;text-shadow: -2px 2px 2px rgba(0,0,0,0.3);}

.box_form .form_selector ul li:first-child{ border-radius: 3px 0 0 0;}
/*
.box_form .form_selector ul li:last-child{ border-radius: 0 0 0 3px;}
*/
.box_form .form-error-tip{ display: inline-block;height: 38px;line-height: 38px;color: #9E9E9E;padding-left: 15px;}

.box_form .layui-input-inline.captcha{ position: relative;padding-right: 100px;max-width: 200px;min-width: inherit;}
.box_form .layui-input-inline.captcha .vimg{ position: absolute;top: 0;right: 0;width: 100px;height: 100%;}
.box_form .layui-input-inline.captcha .vimg img{ width: 100%;height: 36px;border: 1px solid #ddd;cursor: pointer;border-left: 0;}
.box_form .error{ padding-bottom: 12px;color: #ff0000;}

 
.menu_select{ position: relative;padding-right: 80px;z-index: 9;}
.menu_select .menu_select_show{ height: 36px;line-height: 36px;border: 1px solid #e6e6e6;padding: 0 10px;background: #fff;}
.menu_select .menu_select_show i{ font-style: normal;margin: 0 2px 0 4px;}
.menu_select .menu_select_action{ position: absolute; width: 80px;height: 100%;right: 0;top: 0;padding: 0;text-align: center;border-radius: 0 2px 2px 0;} 
.menu_select .menu_select_options{ display: none; position: absolute;left: 0;top: 37px;width: 100%;background: #fff;border: 1px solid #D2D2D2;border-radius: 0 0 2px 2px;box-shadow: 1px 1px 2px rgba(0,0,0,0.1);height: auto;} 
.menu_select .menu_select_options .menu_option{ margin:  10px 10px;border: 1px solid #1E9FFF;padding: 4px 4px;border-radius: 2px;} 
.menu_select .menu_select_options .menu_option a{ margin: 4px 4px;display: inline-block;height: 26px;line-height: 26px;padding:0 8px;border-radius: 2px;border: 1px solid #ddd;background-color: rgba(0,0,0,0.01); -webkit-transition: .3s all ease;transition: .3s all ease;}
.menu_select .menu_select_options .menu_option a.same,.menu_select .menu_select_options .menu_option a:hover{ background: #FF5722;color: #fff;border-color:#FF5722;}


.form_tag_container { border: 1px solid #e6e6e6;height: 36px;background: #fff;cursor: pointer;}
.form_tag_container:hover{ border-color: #D2D2D2 ;}
.form_tag_container .tag_write{  height: 20px;line-height: 18px;padding: 8px 5px;margin: 0;margin-left: 5px;border: 0;background: transparent;max-width: 100%;width: 60px;font-size: 12px;}
.tag_each{ color: rgba(0,0,0,0.7); display: inline-block;height: 20px;line-height: 20px;background: rgba(0,0,0,0.1);background-color: #e6e6e6;border: 1px solid #e0e0e0;padding: 2px 6px;margin-left: 8px;border-radius: 2px;}
.tag_each:hover{ border-color: #D2D2D2;color: rgba(0,0,0,0.9);}
.tag_each i{ margin-left: 5px;}






@media screen and (max-width: 768px) {
    .cms_user .layui-input-inline,.cms_user .layui-input-inline.captcha{ min-width: inherit;} 
    .cms_manage_base{ padding-top: 4%;} 
    .cms_manage_left{ width: 100%;}  
    .cms_manage_rght{ width: 100%;margin-top: 4%;}
    .cms_insider{ padding-top: 4%;}
    .box_form .layui-input-inline{ min-width: inherit;}
    
    
}
