html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #fff;
	padding: 5px 15px;
	color: #333;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	border:1px solid  #ccc;
}
.webuploader-pick-hover {
	background: #FFFFCC;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
/**
 * 文件删除按钮的样式
 */
.webuploader-pick-file-close {
	color: #000;
    font-size: 17px;
	height:20px;
    font-weight: 700;
    line-height: 1;
    /*opacity: 0.2;*/
    text-shadow: 0 1px 0 #fff;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
	float:left;
}
.webuploader-pick-file-close .loading,.webuploader-pick-file-close .close{
	display:inline-block;
	width:17px;
	height:17px;
}
.webuploader-pick-file-close .loading{
	background:url(loading_close.gif) no-repeat 0 0;
}
.webuploader-pick-file-close .close{
	background:url(loading_close.gif) no-repeat -23px 0;
}
/**
 * 上传完成后的文件列表样式
 */
.upload-file-list-info {
	list-style: outside none none;
} 
.upload-file-list-info li{
	margin:5px 0px;
	padding:5px;
	border:1px solid #ccc;
} 
.upload-file-list-info .upload-file-info .fname{
	display:inline-block;
	width:40%;
	text-indent:5px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.upload-file-list-info .upload-file-info .fsize{
	display:inline-block;
	float:right;
}
.upload-file-list-info .file-progress {
	margin-bottom: 0px !important;
}
.upload-file-list-info .filebox{
	display: block;
	max-height: 120px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}
.upload-file-list-info .progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.upload-file-list-info .progress-striped .progress-bar, .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.upload-file-list-info .progress-bar {
    background-color: #5bc0de;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
