<extend name="Public/common"/>
<block name="content">
<section class="breadcrumbs">
	<div class="container">
		<ul class="horizontal_list clearfix bc_list f_size_medium">
			<li class="m_right_10"><a href="<{:U('Index/index')}>" class="default_t_color">首页<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
			<li class="current"><a href="javascript:;" class="default_t_color"><{$category['title']}></a></li>
		</ul>
	</div>
</section>
<!--内容-->
<div class="page_content_offset">
	<div class="container">
		<div class="row clearfix">
			<section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
				<!--详细-->
				<article class="m_bottom_15">
					<div class="row clearfix m_bottom_15">
						<div class="col-lg-9 col-md-9 col-sm-8">
							<h2 class="m_bottom_5 color_dark fw_medium m_xs_bottom_10"><{$info['title']}></h2>
							<p class="f_size_medium"><i class="fa fa-clock-o"></i> <{$info.create_time|date='Y-m-d',###}> <span class="color_dark m_left_5"><i class="fa fa-eye"></i><{$info.view}> </span><span class="m_left_5"><i class="fa fa-edit"></i> <{$info.uid|get_nickname}></span></p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4 t_align_r t_xs_align_l">
							<p class="f_size_medium d_xs_inline_middle">分类</p>
							<a href="<{:U('Article/lists?category='.$category['name'])}>" class="d_inline_middle f_size_medium default_t_color m_left_5"><{$category['title']}></a>
						</div>
					</div>
					<hr class="divider_type_3 m_bottom_20">
					<!--文章-->
					<div class="widget_content m_bottom_15">
						<{$info.content}>
					</div>					
				</article>
				<div class="m_bottom_30">
					<p class="d_inline_middle">分享这个:</p>
					<div class="d_inline_middle m_left_5 addthis_widget_container">
						这里是分享代码！
					</div>
				</div>
				<hr class="divider_type_3 m_bottom_10">
					<p class="m_bottom_10">					
						<article:prev name="prev" info="info">
                        <a href="<{:U('?id='.$prev['id'])}>" class="m_right_30">上一篇:<{$prev['title']}></a>
                    	</article:prev>
                    	<article:next name="next" info="info">
                        	<a href="<{:U('?id='.$next['id'])}>">下一篇:<{$next['title']}></a>
                    	</article:next>
                    </p>
				<hr class="divider_type_3 m_bottom_20">
				<!--评论-->
				<h2 class="tt_uppercase color_dark m_bottom_20"><i class="fa fa-comments"></i> 发表你的看法</h2>
				<div class="m_bottom_45">
					<{:hook('documentDetailAfter',$info)}>
				</div>			
			</section>
			<aside class="col-lg-3 col-md-3 col-sm-3">
				<figure class="widget shadow r_corners wrapper m_bottom_30">
					<figcaption>
						<h3 class="color_light">热门文章</h3>
					</figcaption>
					<div class="widget_content">
						<!--Categories list-->
						<ul class="vertical_list_type_8 d_inline_b">
							<Gq:music name="Document" id="vo" order="view" limit="10">
							<li class="m_bottom_15 f_size_medium ">
								<a class="color_dark d_block" href="<{:U('Article/detail?id='.$vo['id'])}>">
									<{$vo.title}>
								</a>
							</li>
							</Gq:music>
						</ul>
					</div>
				</figure>
			</aside>
		</div>
	</div>
</div>
</block>
<block name="script">	
<script type="text/javascript">
(function($){
	var page = $('#list_page');
	page.hide();
	page.find('a.prev').addClass('button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none').html('<i class="fa fa-angle-left"></i>');
	page.find('a.next').addClass('button_type_10 color_dark d_inline_middle bg_cs_hover bg_light_color_1 t_align_c tr_delay_hover r_corners box_s_none').html('<i class="fa fa-angle-right"></i>');	
	page.find('.num, .current').addClass('m_right_10');
	page.show();
})(jQuery);
</script>
</block>