@charset "utf-8";
/* CSS Document */

#side_left{
width:180px;
background:#f8fbfe;
float:left;
border-right:1px solid #bccee8;
border-left:1px solid #bccee8;
border-bottom:1px solid #bccee8;
height:750px;
}

#side_left h2{
width:150px;
background:url(../images/nav_bj.jpg) repeat-x;
color:#fff;
font-size:12px;
font-weight:700;
height:23px;
line-height:23px;
text-align:center;
border:1px solid #bccee8;
border-bottom:none;
margin-top:20px;
}

#side_left ul{
border:1px solid #bccee8;
border-bottom:none;
width:150px;
margin-bottom:20px;
}
#side_left ul li{
list-style:none;
border-bottom:1px solid #bccee8;
width:150px;
}
#side_left ul li a{
color:#000;
font-size:12px;
text-decoration:none;
text-align:center;
display:block;
padding:5px 0;
}
#side_left ul li a:hover{
color:#fff;
background:#3399FF;
}