
@charset "utf-8";
/* CSS Document */
#side_right{
width:900px;
float:right;
margin-top:20px;
margin-left:10px;
}
#side_right h2{
background:url(../images/R_h2_bj.jpg) repeat-x;
width:900px;
height:33px;
}
#side_right h2 strong{
font-size:14px;
background:url(../images/R_h2_bjf.jpg) no-repeat;
width:100px;
height:27px;
line-height:27px;
text-align:center;
display:block;
float:left;
margin-left:20px;
margin-top:6px;
}
#side_right h3{
background:#dbebfa;
height:35px;
color:#247daf;
font-size:12px;
line-height:35px;
padding-left:25px;
}
#side_right h3 strong{
color: #FC5813;
}
/**h3*/
#side_right h3 .manage{
float:right;
padding-top:5px;
}
#side_right h3 .manage a{
padding-right:10px;
}
#side_right h3 .manage img{
border:none;
}
/**********************h3 end***********************************/

/***********************table************************************/
#side_right table,.main table{
text-align:center;
font-size:12px;
border:1px solid #cad9ea;
}
#side_right table thead{
background:url(../images/th_bj.jpg) repeat-x;
height:30px;
font-size:12px;
border-left:1px solid #cad9ea;
border-right:1px solid #cad9ea;
}
#side_right table tbody,.main table tbody{
border:1px solid  #cad9ea;
}
#side_right table tr,.main table tr{
height:30px;
}
#side_right table .ood,.main table .ood{
background:#e0f0fd;
}
#side_right table .ever,#side_right table .find,.main table .ever{
background:#b6dcfa;
}
#side_right table .find p a{
font-weight:700;
}
#side_right table .ood:hover,#side_right table .ever:hover{
background:#66CC99;
}
#side_right table .text,#side_right table .select,#side_right table .file,#side_right table .textarea{
border-top:1px solid #abadb3;
border-right:1px solid #cdd1d6;
border-bottom:1px solid #cdd1d6;
border-left:1px solid #abadb3;
padding:5px;
font-size:12px;
color:#666;
}
#side_right table .select{
padding:0 0 0 5px;
height:25px;
line-height:25px;
}
#side_right table .select option{
padding:0 0 0 5px;
height:20px;
padding-top:5px;
}
#side_right table .botton{
padding:0 8px;
}
#side_right table p{
padding-top:8px;
}
#side_right table p a{
color:#349ed8;
}
#side_right table p img{
border:10px solid #fff;
filter:progid:DXImageTransform.Microsoft.Shadow(color="#ececec",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #ececec;
    -webkit-box-shadow:3px 3px 10px #ececec;
    box-shadow:3px 3px 10px #ececec;
	margin-right:5px;
	margin-bottom:8px;
}
#side_right table .textarea{
height:100px;
width:500px;

}


/***********************table************************************/
#side_right .grid-view{
	width:100%;
}

#side_right .grid-view .filters,#side_right .grid-view .even{
	background:#b6dcfa;
}
#side_right .grid-view .odd{
background:#e0f0fd;
}

#side_right .grid-view .odd:hover,#side_right .grid-view .even:hover{
background:#66CC99;
}

#side_right .grid-view thead tr a{
	color:#000;
	text-decoration: none;
}
#side_right .grid-view table{
	width:100%;
}

/**table 边框**/
#side_right .table_b tbody tr td{
border-bottom:1px solid #cdd1d6;
padding:10px 0 10px 5px;
}
#side_right .table_b tr th{
border-right:1px solid #cdd1d6;
border-bottom:1px solid #cdd1d6;
background:#f7f7f7;
padding:10px 0;
}
#side_right .table_b th{
word-wrap:break-word;
width:100px;
}
#side_right .table_b .update{
display:block;
}
#side_right .table_b .update a{
padding-right:18px;
color:#349ed8;
}
#side_right .table_b .update a img {
border:none;
}


/***********************table end************************************/
#side_right .page{
height:30px;
line-height:30px;
font-size:12px;
border:1px solid #cad9ea;
border-top:none;
padding-left:10px;
}

#side_right .pagination{
width:438px;
display:inline-block;
background:url(../images/page_bj.jpg) repeat-x;
height:30px;
line-height:30px;
border:1px solid #cad9ea;
border-top:none;
border-left:none;
float: left;
}

.yiiPager{
background:url(../images/page_bj.jpg) repeat-x;
height:30px;
line-height:30px;
font-size:12px;
border:1px solid #cad9ea;
border-top:none;
padding-left:10px;
}

.yiiPager li{
float:left;
list-style:none;
padding-right:10px;	
}

.yiiPager li a{
text-decoration:none;
color:#3e9a6c;
}
.yiiPager li a:hover{
text-decoration:underline;
}
#side_right .page  .active_page a{
border-bottom:1px solid #3e9a6c;
}
#side_right .page .page_left{
float:left;
padding-left:10px;
}
#side_right .page .page_right{
float:right;
padding-right:10px;
}
#side_right .page .page_right a{
padding-right:10px;
padding-left:10px;
}

/*****user_manage******/
#side_right table tr td a{
padding-right:5px;
}
#side_right table tr td a img{
border:none;
}

/*****user_create******/
.create table th{
text-align:right;
color:#044a72;
}
.create table td{
text-align:left;
}
/*******Error********/
#error{
width:600px;
text-align:center;
margin-bottom:50px;
margin-top:50px;
padding-top:150px;
height:400px;
}
#error .error_img{
float:left;
width:249px;
height:249px;
}
#error .error_right{
float:left;
padding-left:30px;
padding-top:60px;
}
#error h2{
color:#006699;
}
#error p{
padding-top:20px;
font:16px Tahoma, Verdana, "微软雅黑";
font-weight:700;
color:#353636;
}
#error p a{
font-weight:normal;
text-decoration:none;
color:#83af03;
}
#error p a:hover{
text-decoration:underline;
}
/*****删除按钮 ******/
#side_right table a.delete_server{
	margin-left:10px;
	display:inline-block;
	width:25px;
	height:19px;
	background:url(../images/cuo.png) no-repeat;
}
/*****隐藏timepicker的边线******/
.ui-helper-clearfix{
	display:none;
}
/******main*******/
.main{
border:1px solid #BCCEE8;
font:12px Helvetica, Tahoma, Arial, sans-serif;
height:600px;
padding:30px 19px 0 19px;
width:100%;

}
.main h1{
font:24px Tahoma, Verdana, "微软雅黑";
}

.main  p{
padding-top:30px;
}
.main  p strong{
color:#fc5813;
}
.main table {
margin-top:50px;
color:#373737;
}
.main table caption{
font:20px Tahoma, Verdana, "微软雅黑";
padding-bottom:5px;
color:#2969eb;
}
.main table th{
font-weight:normal;

}
.main select{
/*border-top:1px solid #abadb3;
border-right:1px solid #cdd1d6;
border-bottom:1px solid #cdd1d6;
border-left:1px solid #abadb3;*/
font-size:12px;
background:#e0f0fd;
}
.main select option{
padding-left:5px;
}
.main table strong{
color:#739b00;
}
.main table .w250{
width:250px;
}
