<style>
    body {
        padding: 10px 0;
        background: #fff;
    }
    .uk-list li {
        border: none;
    }
    .uk-list>li>.uk-label {
        float: none;
    }
</style>
<div class="uk-grid">
    <div class="uk-width-1-3">
        <!--if{$info.avatar}-->
        <img src="{$info.avatar}" alt="" width="125" height="125">
        <!--{else}-->
        <img src="{$sysPublic}/system/images/nopic-150-150.png" alt="" width="125" height="125">
        <!--{/if}-->
    </div>
    <div class="uk-width-2-3">
        <ul class="uk-list ">
            <li>{$info.nickname} ({$info.role_name})</li>
            <li>{$info.tel} ({$info.email})</li>
            <li>
                <!--if{$info.status}-->
                <span class="uk-label uk-label-success">正常</span>
                <!--{else}-->
                <span class="uk-label uk-label-danger">禁用</span>
                <!--{/if}-->
                <span class="uk-label uk-label-warning">{$account.money}元</span>
            </li>
        </ul>
    </div>
</div>
<div class="dux-dialog-foot">

    <button type="button" class="uk-button uk-button-primary js-url" data-url="{url('member/MemberUser/index', ['keyword' => $info.tel])}">查看资料</button>

    <button type="button" class="uk-button uk-button-primary js-url" data-url="{url('member/PayAccount/index', ['keyword' => $info.tel])}">查看资金</button>
</div>
<script>
    Do.ready('base', function () {
        $('.js-url').click(function() {
            parent.location.href= $(this).data('url');
        });
    });
</script>