/*DataGrid*/
.table {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.datagrid {
    background-color: #ffffff;
}

.datagrid thead {
    background-color: #f9f9f9;
}

.datagrid thead .datagrid-header-title {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
}

.datagrid thead .datagrid-header-left {
    float: left;
}

.datagrid thead .datagrid-header-right {
    float: right;
}

.datagrid thead .sorted {
    padding-right: 30px;
    color: #333333;
    text-shadow: 'none';
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid thead .sorted i {
    float: right;
    margin-top: 2px;
    margin-right: -22px;
}

.datagrid thead .sortable {
    cursor: pointer;
}

.datagrid thead .sortable:hover {
    color: #333333;
    text-shadow: 'none';
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.datagrid tfoot {
    background-color: #f9f9f9;
}

.datagrid tfoot .datagrid-footer-left {
    float: left;
}

.datagrid tfoot .datagrid-footer-left .grid-controls {
    margin-top: 7px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls select {
    width: 60px;
    margin: 0 5px 1px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.datagrid tfoot .datagrid-footer-left .grid-controls .grid-pagesize .dropdown-menu {
    top: auto;
    left: auto;
    min-width: 40px;
}

.datagrid tfoot .datagrid-footer-left .grid-controls span {
    font-weight: normal;
}

.datagrid tfoot .datagrid-footer-right {
    float: right;
}

.datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
    min-width: 80px;
    *min-width: 60px;
}

.datagrid tfoot .datagrid-footer-right .grid-pager span {
    font-weight: normal;
}

.icon-chevron-left {
    background-position: -432px -72px;
}

.icon-chevron-right {
    background-position: -456px -72px;
}