#RewriteEngine on
#RewriteBase /
#RewriteCond $1 !^(test\.php|test\.htm|index\.php|resource|search.*|robots\.txt|api|uc_client|.*\.html|sitemap\.xml|googlecc54683ec0f9b6ae\.html)
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*)$ /$1/ [L,R=301]
#RewriteRule ^([a-zA-Z0-9_\-\+\.]+)\.html$ /index.php?mod=index&act=$1&%{QUERY_STRING} [L]
#RewriteRule ^page/([a-zA-Z0-9_\-\+]+)\.html$ /index.php?mod=page&act=index&page=$1 [L]
#RewriteRule ^tags/$ /index.php?mod=index&act=tags [L]
#RewriteRule ^tags/(.*)$ /index.php?mod=index&act=tagsDetail&name=$1 [L]
#RewriteRule ^search$ /index.php?mod=index&act=search&%{QUERY_STRING} [L]
#RewriteRule ^([a-zA-Z0-9_\-\+\.]+)/$ /index.php?mod=category&act=index&name=$1&%{QUERY_STRING} [L]
#RewriteRule ^article/([a-zA-Z0-9_\-\+\.]+)\.html$ /index.php?mod=category&act=categoryDetail&aid=$1 [L]
#errorDocument 404 /error.html
