/*
*初始化样式
*/
body, form, ul,ol, li, p, dl, dd, dt ,h,td,th,h3,input,span{
	margin: 0;
	padding: 0;
	font-family:"Microsoft Yahei";
}
body{
	font-size:12px;
	background:#4e8ac2 url(bg.gif) center 0px no-repeat;
	text-align:center;
}
ol,li,ul{
	list-style: none;
} 
TD {
	color: #333333;
	VERTICAL-ALIGN: top;
} 
input,textarea{
	border:1px solid #ccc;
}
a {
	color:#333;
}
a:link {
	color:#333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #4E667B;
}
a:active {
	text-decoration: none;
}
/*
*登录框
*/
.LoginBox{
	width: 570px;
	margin:160px auto 20px auto ;
	background: rgba(255,255,255,0.3);
	border-radius:3px; 
	box-shadow:0px 0px 8px #fff;
	padding: 30px 0;
}
.LoginBox dl{
	display: table;
	width: 100%;
	min-height: 280px;
}
.LoginBox dl dt,.LoginBox dl dd{
	display: table-cell;
	vertical-align: middle;
}
.LoginBox dl dt{
	width:220px;
	background:url("bg2.png") center no-repeat;
	border-right:2px solid #fff;
}
.LoginBox dl dd{
	padding: 0 40px;
}
.LoginBox dl dd ul{
	padding: 5px 0;
	text-align: left;
}
.LoginBox dl dd ul ol{
	font-size:16px; 
	color:#fff; 
	font-weight:600; 
	line-height:30px; 
	letter-spacing:10px;
}
.LoginBox dl dd ul li{
	position: relative;
}
.LoginBox dl dd ul li input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border:0;
	text-indent: 15px;
	font-size: 16px;
	background: #FFF;
}
.LoginBox dl dd ul li img{
	position: absolute;
	top:0px;
	right: 0px;
	height: 40px;
	width: 50%;
}
.LoginBox div{
	padding-top: 20px;
	height: 40px;
	overflow: hidden;
	text-align: left;
}
.LoginBox div button{
	display: inline-block;
	line-height: 40px;
	width: 46%;
	padding: 0 40px;
	font-size:16px;
	border: 0;
	background:#00c6ff;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}
.LoginBox div button[type=submit]{
	float: right;
	background: #F60;
}
.LoginBox div button:hover{
	background: #F90;
}

*:focus{outline:none; }
.login-section{width:570px; height:340px;  margin:160px auto 0 auto; background:rgba(255,255,255,.3) !important; background:#6fa4d1; border-radius:3px; box-shadow:0px 0px 8px #fff; }
.sectionR{float:left; height:270px; width:220px;margin-top:40px; background:url("bg2.png") center no-repeat; border-right:2px solid #fff;}
.sectionL{float:right; margin-top:80px; padding-right:40px; width:262px;}
.sectionL span{display:block; height:30px; font-size:16px; color:#fff; font-weight:600; text-align:left; line-height:30px; letter-spacing:10px;}
.sectionL .sectionL-name{margin-bottom:16px;}
.sectionL .sectionL-pw{margin-bottom:20px;}
.sectionL .lInput input{width:258px; height:40px; padding-left:15px; border:1px solid #fff; background:0;}
.sectionL  .sectionL-bt{width:262px;}
.sectionL  .sectionL-bt .login-cancle{margin-right:18px;}
.sectionL  .sectionL-bt span{display:inline-block; width:120px; height:40px; background:#00c6ff; border-radius:3px; box-shadow:0px 0 2px #029ac6; border:1px solid #029ac6;}
.sectionL  .sectionL-bt input{border:0; background:none; width:120px; height:40px; font-size:16px; color:#fff; font-weight:600; letter-spacing:5px;}


.LoginCont{
	width:430px;
	height:320px;
	background:url(management.gif) center top no-repeat;
	margin:205px auto 0 auto;
}
.LoginCont .left{
	padding-top:130px;
	width:300px;
	vertical-align:middle;
}
.LoginCont .left .input,.LoginCont .left .yzm{
	height:24px;
	width:165px;
	border:0;
	background:url(input.gif) no-repeat;
	margin-top:4px;
	padding-left:3px;
	line-height:24px;
}
.LoginCont .left .yzm{
	width:80px;
	background:url(yzm.gif) no-repeat;
}
.LoginCont .left img{
	margin:6px 0 0 10px;
}
.LoginCont .left div{
	height:35px;
	overflow:hidden;
}
.LoginCont .left div span{
	display:block;
	float:left;
	line-height:35px;
}
.LoginCont .left div span.word{
	width:120px;
	text-align:right;
	padding-right:5px;
	font-size:12px;
	color:#FFF;
}
.LoginCont .right{
	padding-top:135px;
}
.LoginCont .right .submit{
	border:0;
}