
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	
	
	background-color:#fff;	
	cursor:move;	
		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
	left:0;
}

/* This is the zoom window. */
.cloud-zoom-big {
	overflow:hidden;	
}
#colorbox{overflow:visible!important}
/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}
/* For opencart */
.bosszoomtoolbox .image{position:relative; z-index: 10;padding-left:1px;padding-right:1px;font-size:12px;color:#969696}
.bosszoomtoolbox .image a{font-size:12px;color:#969696}
.bosszoomtoolbox .image a:hover{color:#ff007d}

