	
	<!-- 操作功能区一 -->
	<blockquote class="layui-elem-quote layui-form-item">
		<div class="layui-inline">
			<form class="layui-form" style="float:left;">
				<div class="layui-input-inline">
					<input type="text" name="keywords" placeholder="请输入会员11位手机号" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn" lay-submit="" lay-filter="searchForm"><i class="layui-icon">&#xe615;</i>查询</button>
			</form>
		</div>
		<div class="layui-inline">
		{:W('funcNode/btnDAll',array(批量删除))}
		</div>
	</blockquote>
	
	<!-- TABLE渲染区 -->
	<table class="layui-hide" id="tableList" lay-filter="tableList"></table>
	
	<!-- 状态 -->
	<script type="text/html" id="statusTpl">
	  	<input type="checkbox" name="status" value="{{ d.id }}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }} >
	</script>
	
	<!-- 操作功能区二 -->
	<script type="text/html" id="toolBar">
		{:W('funcNode/btnDetail',array(详情))}
		{:W('funcNode/btnDel',array(删除))}
	</script>
 
