<extend name="myNote" />
    <block name="userHomeRight">
      <div class="panel panel-default panel-share">
        <div class="panel-heading panel-share-heading">
            <span>我分享的</span><font color="#888">  •   <{$myNoteCount}> 条</font>
        </div>

        <if condition="$myNoteFlag eq 1">
<!--         <div class="panel-heading panel-share-heading nav-bottom navbar-form">
            <form action="__CONTROLLER__/mySearch/" method="get" accept-charset="utf-8" class="form-inline">
                  <div class="form-group">
                      <input id="searchInput"name="selectName" type="text" class="form-control navbar-form navbar-form-left " placeholder="搜索...">
                      <input name="searchType" type="hidden" value="share">
                  <button type="submit" class="btn btn-default navbar-form search-button"><i class="fa fa-search"></i></button>
                  <div class="radio-group">
                      <label><input type="radio" name="selectType" value="address" class="form-control form-radio" checked>地址</label>
                      <label><input type="radio" name="selectType" value="name" class="form-control form-radio">名称</label>
                  </div>
                  </div>

            </form>
        </div> -->
            <div class=" list-group  share-list">
                <volist name="myNoteRows" id="vo">
                    <li id="#<{$vo.noteid}>" class="list-group-item <{$vo.noteid}>" onmouseover="shareListHover('.<{$vo.noteid}>');" onmouseout="shareListHoverOut('.<{$vo.noteid}>');">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>/">
                                    <img src="__PUBLIC__/uploads/markerimage/src/<{$vo.imgsrc}>" class="media-object img-circle" alt="<{$vo.notename}>" width="50px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>" class="media-heading"><font><{$vo.notename}></font></a>
                                
                                <div class="media-meta">
                                  <i class="fa fa-clock-o"></i>&nbsp;&nbsp;分享时间  •   <{$vo.sharetime}> 
                                  &nbsp;&nbsp<i class="fa fa-comment-o"></i>  •   <{$vo.notediscusscount}> 讨论
                                  &nbsp;&nbsp<i class="fa fa-heart-o"></i>  •   <{$vo.notecollectcount}> 收藏
                                </div>
                            </div>
                            <div class="media-right media-middle ">
                               <a href="__CONTROLLER__/myNoteShareDelete/id/<{$vo.noteid}>" onclick="javascript:return myNoteShareConfirm();"><i title="取消分享"class="fa fa-trash"></i></a>
                            </div>
                        </div>
                       
                    </li>
                </volist>
            </div>
            <div class="panel-footer">
                <ul class="pagination">
                  <li> <{$show}></li>
               </ul>
            </div>
            <else />
            <div class="panel-body">
                <div >
                    <h2 class="text-center"><i class="fa fa-warning"></i></h2>
                  <h2 class="text-center">暂无任何记录</h2>
                </div>
            </div>
            </if>
        </div>
  </block>