<extend name="userHome" />
<block name="userHomeRight">
    <div class="panel panel-default panel-share">
        <div class="panel-heading panel-share-heading">
            <{$userHomeRow[0]['username']}> 的所有收藏
        </div>
        <if condition="$userHomeShareFlag eq 1">
            <div class=" list-group  share-list">
                <volist name="userHomeShareRows" id="vo">
                    <li id="#<{$vo.noteid}>" class="list-group-item <{$vo.noteid}>" onmouseover="shareListHover('.<{$vo.noteid}>');" onmouseout="shareListHoverOut('.<{$vo.noteid}>');">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>/">
                                    <img src="__PUBLIC__/uploads/markerimage/src/<{$vo.imgsrc}>" class="media-object img-circle" alt="<{$vo.notename}>" width="50px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>" class="media-heading"><font><{$vo.notename}></font></a>
                                
                                <div class="media-meta">
                                <i class="fa fa-copy"></i> •   于 <{$vo.collecttime}> 收藏
                                </div>
                            </div>
                            <div class="media-right media-middle">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>"><span class="badge" ><{$vo.notediscusscount}></span></a>
                            </div>
                        </div>
                       
                    </li>
                </volist>
            </div>

        <div class="panel-footer">
            <ul class="pagination">
              <li> <{$show}></li>
           </ul>
        </div>
        <else />
        <div class="panel-body">
            <div >
                <h2 class="text-center"><i class="fa fa-warning"></i></h2>
              <h2 class="text-center">暂无收藏</h2>
            </div>
        </div>
        </if>
    </div>
</block>