<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

  RewriteCond %{http_host} ^tuzicms.cn [NC]
  RewriteRule ^(.*)$ http://www.tuzicms.cn/$1 [R=301,L]

</IfModule>