/*公共样式*/
body{font-family: 'Microsoft YaHei';}
.trans_3{transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari 和 Chrome */
-o-transition: all 0.3s; /* Opera */}
.layui-main{width:auto;margin:15px;}
.hide{display: none;} 
.fill_5{clear:both;height: 5px;}
.fill_10{clear:both;height: 10px;}
.fill_20{clear:both;height: 20px;}
.fill_50{clear:both;height: 50px;}
.fill_100{clear:both;height: 100px;}
.clear{clear:both;}

/* 弹出框 */
body .layui-layer-btn .layui-layer-btn0{background-color:#009688;border-color: #009688}
body .layui-layer-msg{box-shadow: 0px 0px 10px -5px #000;}
.layui-layer-tips{width:auto!important;}
/* 登陆页面 */
.login_page{font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;height:100%;text-align: center;padding-top: 40px}
.login_page .logo-login{display: inline-block;width:250px;margin:0 auto;}
.login_page h1{font-weight: 600;font-size: 16px;color: #676a6c;margin-bottom:20px;}
.login_page .layui-form{width:300px;display: inline-block;margin:0 auto;}
.layui-form-item .captcha{position: absolute;right:1px;top:1px;border-left: 1px solid #e6e6e6 }
.layui-form-item .captcha img{height: 36px;cursor:pointer;}

/* 树形菜单白色风格 */
.layui-tree-skin-white li i{color:#fff;}

/* 头部 */
.layui-layout-admin{min-width: 1200px;}
.layui-layout-admin .header{height: 65px;background-color: #393D49; color: #fff;border-bottom: 5px solid #009688;}
.layui-layout-admin .logo{position: absolute; left: 60px; top: 0px;}
.layui-layout-admin .logo img{width: 65px; height: 65px;}

.layui-layout-admin .header .layui-nav{position: absolute; left: 200px; top: 0px; padding: 0; background: none;}
.layui-layout-admin .header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 70px;}
.layui-layout-admin .header .layui-nav .layui-nav-item a{padding:0 30px;}
.layui-layout-admin .header .layui-nav .layui-this{background: #4E5465;}
.layui-layout-admin .header .layui-nav .layui-nav-bar{background: #393D49;}
.layui-layout-admin .header .layui-nav .layui-this:after{background: #4E5465;}

.layui-layout-admin .top_admin_user{float: right;color: #c2c2c2;line-height: 85px;margin-right: 30px}
.layui-layout-admin .top_admin_user a{color: #c2c2c2;padding:0 15px;}
.layui-layout-admin .top_admin_user a:hover{color: #fff;}

/* 左边导航 */
.layui-layout-admin .layui-side{top:70px;position: absolute;}
.layui-layout-admin .layui-nav-item .layui-icon{font-size: 18px;top:3px;}
.layui-layout-admin .layui-nav-item .layui-icon{padding:0 10px;}

/* 左边内容管理树 */
.content_manage_container{} 
.content_manage_title{display: block;padding: 0 20px;color: #c2c2c2;transition: all .3s;-webkit-transition: all .3s;background-color: #2B2E37;color: #fff;line-height: 46px;height: 46px;cursor:pointer;}
.content_manage_title:hover{background-color: #393D49;}
#content_manage_tree{padding:10px;background-color: #4E5465;border-left:5px solid #5FB878;}

 
/* 底部 */
.layui-layout-admin .footer{height: auto; padding: 15px 0; line-height: 26px;text-align: center; background-color: #eee; color: #666; font-weight: 300;min-width: 1000px;position: absolute;}
.layui-layout-admin .footer a{padding: 0 5px;}

/*iframe*/
.layui-layout-admin .iframe-container{bottom:56px;min-width:1000px;}
.layui-layout-admin .iframe-container .iframe-mask{position: absolute;border:0;width: 100%;height: 100%;background-color:#ccc;z-index: 10;display: none;background-image: url('../layui/css/modules/layer/default/loading-2.gif');background-position: center;background-repeat: no-repeat;} 
.layui-layout-admin .admin-iframe{position: absolute;border:0;width: 100%;height: 100%}

/*main页面头部tab标签*/
.main-tab-title{padding-left: 160px;}
.main-tab-title li{font-size: 12px;height: 40px;overflow:hidden;}
.main-tab-title li .layui-upload-button{border:none;cursor: pointer;} 
.main-tab-title li .layui-upload-button .layui-upload-icon .layui-icon{display: none;}
.main-tab-title .main-tab-item{display: inline-block;vertical-align: middle;font-size: 14px;transition: all .3s;-webkit-transition: all .3s;position: absolute;line-height: 40px;min-width: 100px;padding: 0 10px;text-align: center;left: 10px;background: #009688;color:#fff;}

/*main页面内容*/
.main-tab-container{position: relative;text-align: left;margin: 10px 0px;overflow: hidden;}

/*表单*/
.layui-form-item .input-custom-width{width:300px; }
.layui-form-label{width: 100px}
.layui-input-block{margin-left: 130px}
.layui-form-mid{margin-left:130px;}
.layui-form-mid:hover{color:#009688;}
.layui-form-checkbox{margin-top: 0;margin-bottom: 10px;margin-right: 10px;}
.layui-upload-button{position: absolute;right: 0;top:0;height: 38px;line-height: 38px;cursor: pointer;}
.layui-upload-button .layui-upload-icon{cursor: pointer;}
.layui-form-item .input-img-show{position: absolute;left:0;z-index: 10;max-height:200px;max-width: 300px; border:1px solid #009688;background-image: url(../images/touming_bg.png);}
.images-block-container{background: #f5f5f5;padding: 10px;border:1px solid #e6e6e6;}
.images-block-container .image-block{float: left;position: relative;margin: 10px;width: 122px;height: 122px;border: 1px solid #ddd;overflow: hidden;background: url(../images/touming_bg.png);line-height: 122px;}
.images-block-container .image-block:hover{border-color:#009688;}
.images-block-container .image-block:hover .image-block-mask{display: block;}
.images-block-container .image-block img{max-height: 122px;max-width: 122px;vertical-align: middle;}
.images-block-container .image-block .image-block-mask{width:122px;height: 122px;position: absolute;left:0;top:0;z-index: 100;display: none;}
.images-block-container .image-block .image-block-mask .del_btn{position: absolute;left:0;top:0;z-index: 101;width:20px;height: 20px;line-height: 20px;cursor: pointer;background: #fff;border-right:1px solid #009688;border-bottom: 1px solid #009688;text-align: center;}
.images-block-container .image-block .image-block-mask .layui-btn{width:100%;position: absolute;left:0;bottom:0;border-radius: 0;height: 30px;line-height: 30px;font-size: 12px;}
.images-block-container .layui-upload-button{position: relative;margin: 10px;width: 124px;height: 124px;}
.images-block-container .layui-upload-button .layui-upload-icon{height: 122px;line-height: 122px}
/*列表上搜索*/
.search-form{}
.search-form .layui-form-item{margin-bottom: 5px;display: inline-block;}
.search-form .layui-input-inline{margin-right:1px;}
.search-form .layui-input-inline .layui-input{border-radius: 0;}
.search-form .layui-btn{border-radius: 0 2px 2px 0;}
.search-form .page-size{float: right;}
.search-form .page-size .layui-form-label{border-radius: 0;}
.search-form .page-size .total{margin-right: -1px;border-radius: 2px 0 0 2px;}
.search-form .page-size .layui-input-inline{width:50px;}
/*列表table*/
.list-table{width: 100%; margin: 10px 0;}
.list-table thead{background-color:#f2f2f2; }
.list-table tr{transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari 和 Chrome */ 
-o-transition: all 0.3s; /* Opera */}
.list-table tr:nth-child(even){background: #fbfbfb;}
.list-table tr:hover{background-color:#f8f8f8;}
.list-table th{height: 24px}
.list-table .can_click a{text-decoration: underline;}
.list-table .can_click a:hover{color:#009688;}
.list-table th, 
.list-table td{padding: 6px 15px; line-height: 20px; border:1px solid #ddd; font-size: 14px; font-weight: 400;}
.list-table td .layui-input{height: 30px;line-height: 30px}
.list-table td .thumb{cursor:pointer;position: relative;width:16px;height: 16px;}
.list-table td .thumb .thumb-show{position: absolute;left:30px;bottom:-13px;z-index: 10;max-height:150px;max-width: 300px; border:1px solid #009688;background-image: url(../images/touming_bg.png);}
.list-table td .link{cursor:pointer;}
.list-table td .list-title:hover{color:#009688;}
.list-table td .list-switch{font-size: 24px;font-weight: bold;color:#009688;}
.list-table td .list-switch-off{font-size: 24px;font-weight: bold;color:#f00;}

/* 全选 */
.list-table .layui-form-checkbox span{padding:0;}
/* 分页 */
.list-table #page{}
.list-table #page .layui-laypage{float: right;margin:0;}
.list-table #page .layui-laypage a, .list-table #page .layui-laypage span{margin: 0 -1px 0px 0; border: 1px solid #009688;text-decoration: none;}
.list-table #page .layui-laypage .layui-laypage-total{margin-left: 1px;background: none;border:none;}
.list-table #page .layui-laypage button{border-color:#009688;background-color: #009688;color:#fff;opacity: 0.9;    filter: alpha(opacity=90);}
.list-table #page .layui-laypage button:hover{opacity: 0.8; filter: alpha(opacity=80);    color: #fff;}
.list-table #page .layui-laypage input{border-color:#009688;}

/*数据移动*/
.move-form{padding:20px;padding-right:40px;min-width: 330px;}
.move-form .layui-form-label{width:50px;}
.move-form .layui-input-block{margin-left:80px;}
.move-form .layui-elem-field{margin-top: 30px;margin-left: 20px;margin-right: 0}
.move-form .layui-elem-field legend{font-size: 16px;}

/* 内容管理搜索 */
#search_content{padding:30px 70px;}
#search_content .layui-input-block{margin-left: 0}
#search_content .layui-input{cursor: auto;}

/*首页面板*/
.index_panel_container{padding-top: 25px}
.index_panel_container .layui-elem-quote{display: inline-block;box-sizing: border-box;width:100%;margin-bottom: 25px}
.index_panel_container .left{float: left;width:48%;margin:0 1%;}
.index_panel_container .right{float: right;width:48%;margin:0 1%;}
.index_panel_container .update_log{line-height: 28px;}