@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border-style: soild;
}
a {
	text-decoration: none;
}
font {
	font-size: 12px;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
	background-position: 0px 150px;
	background: url(../images/bady-img.png) repeat;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol li,
ul li,
dl dt dd {
	list-style-type: none;
	vertical-align: middle;
}
img {
	border: none;
	vertical-align: middle;
}
input {
	vertical-align: middle;
	width: auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: normal;
}
input,
button,
select,
textarea {
	outline: none;
}
.hidden {
	display: none;
}
.show {
	display: block;
}
/*全局图片*/
.bg-img{
	background-image: url(../images/install-bg.png);
}
/*安装页面*/
.content{
	margin: 100px auto 20px;
	width: 750px;
	border-radius: 3px;
	-webkit-box-shadow:0 0 10px #a6a6a6;  
	-moz-box-shadow:0 0 10px #a6a6a6;  
	box-shadow:0 0 10px #a6a6a6;  
	background-color: #ffffff;
	
}
.con-body{
	min-height: 450px;
}
.con-head{
	width: 750px;
	height: 80px;
	background-color: #0f89a9;
	background: url(../images/install-bg.png);
}
.update{
	display:block;
	min-width: 60px;
	height: 15px;
	font-size: 12px;
	color: #fefefe;
	margin-top: 50px;
	margin-right: 10px;
}
.con-word{
	width: 670px;
	height: 350px;
	border: 1px solid #bdbcbc;
	margin: 35px auto 0;
	overflow-y: auto;
	padding: 10px;

}
.con-word li{
	height: 20px;
	list-style: none;
}

.con-word h4{
	text-align: center;
	font-size: 16px;
}
.con-word p {
	line-height: 18px;
	color: #0a0a0a;
	background-color: #fffff;
}
/*按钮*/
.btn{
	height: 70px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.btn input.agree-btn{height: 32px;}
.mt85{margin-top: 85px;}
.agree-btn,.agree-btn2,.agree-btn3{
	width: 150px;
	border: 1px solid #009688;
	color: #FEFEFE;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background:#009688;
	cursor: pointer;
	border-radius: 3px;
	display: inline-block;
}
.btn .m195{margin-left: 195px;}
.agree-btn{margin: 22px 63px 0px 0px;}
.agree-btn2{margin:5px 0 15px 132px;}
.agree-btn3{margin: 22px auto;}
.agree-btn:hover,.agree-btn2:hover,.agree-btn3:hover{
	background:#009688;
}
.agree-btn.disabled{
	display: inline-block;
	width: 150px;
	height: 30px;
	border: 1px solid #d9d9d9;
	line-height: 30px;
	text-align: center;
	cursor: default;
	margin: 22px auto 0;
	border-radius: 3px;
	color: #999999;
	background-color: #f5f5f5;
}

/**
 * 第一步奏页面 
 */
.step-con{
	height: 82px;
	border-bottom: 1px solid #417b9d;
}
.step-box{
	margin-left:41px;
	background-position: 0px -100px;
}
.step-num{
	width: 204px;
	height: 42px;
	display: block;
	border-radius: 3px;
	margin-top: 20px;
	margin-right: 19px;
}
/*检测状态on.未检测状态off*/
.s1_on{background-position: 0 -100px;}
.s2_on{background-position: -300px -100px;}
.s2_off{background-position: -300px -150px;}
.s3_on{background-position: -549px -100px;}
.s3_off{background-position: -549px -150px;}

/*检测*/
.ok{
	background-position: 0px -200px;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin:auto 5px;
}
li .ok,li .no{
	vertical-align: middle;
}
.no{
	background-position: 0px -150px;
	width: 14px;
	height: 14px;
	margin:auto 5px;
	display: inline-block;
}
.Test{
	min-height: 400px;
	width: 656px;
	margin-top: 13px;
	margin-left: 55px;
}

.Test tr {
	height: 30x;
	width: 166px;
	line-height: 30px;
	text-align: left;
}
.Test tr th {
	width: 166px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: #2d689f;
}
.Test tr td {
	color: #545454;
	width: 160px;
	height: 30px;
}
/**
 * 数据库信息 
 */
div .bline{border-bottom: none;}
.Test2{
	min-height: 400px;
	border-bottom: 1px dashed #0F88A7;
	margin: 13px auto 0;
}
.admin_block{min-height: 320px}
.Test2 input {
	border: 1px solid #cccccc;
	width: 275px;
	height: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	line-height: 16px;
	font-size: 14px;
	text-indent: 10px;
	margin-right: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 8px;
}
.Test2 input:focus,.Test2 input:hover{
	border: 1px solid #0F88A7;
}
.Test2 tr {
	line-height: 30px;
}
.Test2 tr th {
	width: 125px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #2d689f;
	text-indent: 30px;
}
.Test2 tr td {
	color: #545454;
}
.Test2 .text2-td1{
	width: 115px;
	text-align: right;
}

/**
 *完成安装 
 */
.State{
	height: 160px;
	border-bottom: 1px dashed #417b9d;
}
.State h2{
	margin-top: 25px;
	color: #417b9d;
	font-weight: bold;
	margin-left: 40px;
}
.State h4{
	margin: 25px 0;
	margin-left: 40px;
	color: #ff0202;
}
.State li{
	margin-left: 40px;
	list-style: none;
	height: 15px;
	line-height: 15px;
}
.state-bg{
	background-position: 0 -250px;
	width: 358px;
	height: 176px;
	margin-top: -48px;
}
.Test2 .notic-red.ture{
	color: #009688;
	border: 1px dashed #FFFFFF;
	background: #FFFFFF;
}
.notic-red{
	display: none;
	margin-top: 5px;
	margin-left: 140px;
	text-align: center;
	min-width: 150px;
	height: 30px;
	line-height: 30px;
	color: #FF0000;
	border: 1px dashed #e9bb89;
	background: #fffbea;
	padding: 0px 10px;
}
.notic-green{
	display: none;
	margin-top: 5px;
	margin-left: 140px;
	text-align: center;
	min-width: 150px;
	height: 30px;
	line-height: 30px;
	color: #009688;
	border: 1px dashed #009688;
	background: #FFFFFF;
}
.copy{
	margin-bottom: 30px;
	text-align: center;
}
.db_disabled{
	margin: 5px 0 15px 132px;
	cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 150px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	color: #999999;
	background-color: #f5f5f5;
}
