html,body{padding:0;margin:0;background:#fff;outline:none; font:normal 16px/1.5 helvetica, verdana, san-serif;color:#333;}
/*Download by http://www.codefans.net*/
a{text-decoration:none;color:#545454;}
#page{background:#f4f4f4;}
#page nav{display:none;}
header{background:#ab1324;color:#fff;text-align:center;line-height:40px;height:40px;position:relative;}
header .l_tbn{position:absolute;left:0;top:0;width:40px;height:40px;border-right:1px #c30 solid;text-align:left;}
header .l_tbn a{position: absolute;left: 12px;color:#fff;text-decoration:none;}
header .l_tbn a:hover{color:#fff;}
#menu dl{margin:0;padding:0;}
#menu dd{padding:10px 0;}
.content{padding:10px;}
.content .title{height:30px;line-height:30px;background:#e0e0e0;font-size:16px;padding-left:10px;}
.content .editor{text-indent: 4px;margin-top:4px;font-size:13px;line-height: 2;background:#fff;margin-bottom:10px;display:table;}
.ol{margin:0;padding:0;list-style-type:none;background:#fff;margin-bottom:10px;}
.ol li.list{height: 40px; line-height:40px;overflow:hidden;zoom:1;border-bottom: 1px dashed #ddd;}
.ol li.list a{ padding:0px 10px;color:#545454; height:40px;line-height: 40px;width:100%;text-decoration:none;}
.table_contact{background:#fff;margin-bottom:10px;}
.list-group-item.top {background: url(../../resource/left_side_top_bg.png);color: #333;font-weight:bold;overflow:hidden;padding-left:10px; }
.list-group-item {position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: white;border: 1px solid #DDD;}
.glyphicon-chevron-right::before {content: "\e080";}
.glyphicon {position: relative;top: 1px;z-index:10;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: 400;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.pull-right {float: right!important;}
a.list-group-item {color: #555;text-decoration:none;}
#main{float: left;width:100%;overflow: hidden;zoom:1}
#main_content {position: relative;padding:0 10px;display: block;background-color: white;border: 1px solid #DDD;}
.breadcrumb {padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: whiteSmoke;border-radius: 4px;}
.breadcrumb > li {display: inline-block;}
#main_content  img {text-align:left;max-width:100%;}
.breadcrumb a{text-decoration:none;}
.breadcrumb > li + li::before {content: "/\00a0";padding: 0 5px;color: #CCC;}
textarea{width:100%;}
footer{clear: both;color: #ddd;text-shadow: 0 -1px 0 #333333;position: relative;z-index: 1;text-align: left;}
.footer-inner {padding: 10px 0px 10px 10px;color: #aaa;text-shadow: 0 -1px 0 #333333;background-color: #414141;font-size:12px;}
.contact_td{width:100px}
.news_ul li:nth-child(odd){background:#f2f2f2;display:table;}
.news_ul{font-size:14px;}
.news_ul div:nth-child(2){font-size:12px;}