#admin_user_avatar_file .sonata-ba-field .cropper .row .col-md-12 .icheckbox_square-blue {
    float: left;
    margin-top: 10px;
}
#admin_user_avatar_file .sonata-ba-field .cropper .row .col-md-12 label {
    margin-top: 11px;
    margin-left: 5px;
}