<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>返修/退换货--<!--{$mallname}--></title>
<!--{include(file='static.html')}-->
</head>
<body>
<!--{include(file='head.html')}-->
   <!--主体内容-->
	<div class="container">
    <!--左侧菜单-->
		<div class="per_left">
            <!--{include(file='userleft.html')}-->
        </div>
        <!--左侧菜单end-->
        <div class="per_right">
        	<div class="per_right_cont2">
            	<h3>返修/退换货</h3>
				<div class="order_list">
					<div>
						<p class="sn3">
							显示：<select name="ordertime" id="ordertime" onchange="window.location.href='<!--{url('index','aftersale','trade')}-->&ordertime='+this.value">
								<option value="30" <!--{if $ordertime == 30}-->selected<!--{/if}--> >30天以内的订单</option>
								<option value="40" <!--{if $ordertime == 40}-->selected<!--{/if}-->>更早的订单</option>
							</select>
						</p>
						<p class="sn2">
							<a href="<!--{url('index','aftersale','trade')}-->" class="on">申请</a>
							<a href="<!--{url('index','aftersale','my')}-->">查看记录</a>
						</p>
					</div>
					<div>
						<!--{include_page("page.html","top")}-->
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbborder">
							  <thead>
								  <tr>
									<th width="10%">订单号</th>
									<th width="70%">商品</th>
									<th width="20%">下单日期</th>
								  </tr>
							  </thead>
							  <tbody>
							  <!--{if $trades}-->
								  <!--{foreach $trades trade}-->
								  <tr id="tr_<!--{$trade.tradeid}-->"> 
									<td class="memberoper">
										<a href="<!--{url('index','mytrade','view','tradeid=$trade[tradeid]')}-->"><!--{$trade.tradeid}--></a>
									</td>
									<td class="mid">
										<div class="listnv">
											<ul>
												<!--{foreach $trade['order'] order}-->
												<li>
													<div class="img">
									<a href="<!--{url('index','item','index','itemid=$order[itemid]')}-->" class="tradeimg" target="_blank">
										<img src="<!--{$order['itemimg']}-->_50x50.jpg" width="50" height="50"/>
									</a>
													</div>
													<div class="btn">
														<!--{if $order['applied']}-->
															已经申请
														<!--{else}-->
															<a href="<!--{url('index','aftersale','apply','orderid=$order[orderid]')}-->">申请</a>
														<!--{/if}-->
													</div>
												</li>
												<!--{/foreach}-->
											</ul>
										</div>
									</td>
									<td><!--{date("m月d日 H:i",$trade[addtime])}--></td>
								  </tr>
								  <!--{/foreach}-->
							<!--{else}-->
								<tr>
									<td colspan="3">没有找到相应信息的订单</td>
								</tr>
							<!--{/if}-->
							</tbody>
						</table>
						<!--{include_page("page.html","foot")}-->
					</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
	</div>
<!--主体内容 end-->
<!--{include(file='foot.html')}-->
</body>
</html>