<!--{if $opertype == "input"}-->
<div class="login_one_tc">
	<div class="login_close" title="关闭" onclick="$.tbox.close();return false;"><a href="javascript:void(0)"></a></div>
	<div class="login_twobox">
			<!--{if !$item}-->
			<p class="loginhint">商品不存在</p>
            <!--{else}-->
			
			<li>价格举报：<!--{$item.itemname}--></li>
			<li>商品价格：<!--{getPrice($item.price)}-->元</li>
			
			<li>
				<div class="login_left">商品价格：</div>
				<input name="comprice" id="comprice" type="text" class="login_butt" onfocus="Item.removeborder(this)"/>
				如99.99
			</li>
			<li>
				<div class="login_left">销售网址：</div>
				<input name="comweburl" id="comweburl" type="text" class="login_butt" value="http://" onfocus="Item.removeborder(this)"/> 
			</li>
			<li>
				<div class="login_left">说明：</div>
				<input name="comcont" id="comcont" type="text" class="login_butt" /> 
			</li>
			<p class="loginhint"></p>
            <div class="clear"></div>
            <div class="login_but">
				<input type="submit" class="o_button" value="确 定" id="login_btn" onclick="checkcom();return false;"/>
			</div>
			<!--{/if}-->
	</div>
</div>
<script type="text/javascript">
	$("#email,#mobile").keydown(function(event){
		if(event.keyCode == 13) {
			checknotify();
		}
	});
    function checkcom() {
        var $comprice   = $('#comprice'),
			$comweburl  = $('#comweburl'),
			$comcont	= $("#comcont"),
			comprice	= parseFloat($comprice.val()) || 0,
			comweburl	= $.trim($comweburl.val()),
			comcont		= $.trim($comcont.val()),
			can			= true;
		if(!comprice) {
			$comprice.addClass('hintborder');
			can = false;
		}
		if(!comweburl || comweburl=='http://') {
			$comweburl.addClass('hintborder');
			can  = false;
		}
		if(!can) return false;
        var postdata = {comprice:comprice,
						comweburl:comweburl,
						comcont:comcont,
						itemid:'<!--{$itemid}-->',
						productid:'<!--{$productid}-->'};
        $.tbox.popup("<!--{url('index','item','comprice')}-->","post",postdata);
    }
</script>
<!--{elseif $opertype == "save"}-->
<div class="tc2">
    <div class="tc3">
        <h1>
            <a class="closeimg" onclick="$.tbox.close()"></a>
        </h1>
        <div>
			<div class="forimg">
				<img src="template/front/<!--{$tpl}-->/images/mynotify.gif" width="59" height="39"/>
			</div>
			<div class="frotet">
				<p>
					 <!--{$info}-->
				</p>
			</div>
        </div>
    </div>
</div>
<!--{/if}-->
