<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>找回密码--<!--{$mallname}--></title>
<!--{include(file='static.html')}-->
</head>
<body>
<!--{include(file='head.html')}-->
	<div class="container" style="padding:50px 0 30px;">
	<div class="reg_box">
    	<h1><span>找回密码</span></h1>
		<!--{if $hint}-->
			<p class="userhint<!--{$hint.type}-->">
				<!--{$hint.hint}-->
			</p>
		<!--{/if}-->
        <!--注册-->
    	<div class="login_twobox">
			<form name="theform" id="theform" action="<!--{url('index','user','forgetpwd')}-->" method="post" onsubmit="return check()">
        	<ul>
				<li>
					<div class="login_left"><span class="text_red">*</span>Email：</div>
					<input name="email" id="email" type="text" class="login_butt"	/> 
					<span class="text_red"></span>
				</li>
				<li style="margin-top:20px;">
					<div class="login_but">
						<input type="submit" class="o_button" value="找回密码"/>
					</div>
				</li>
			</ul>
			</form>
          
        </div>
        <!--注册 end-->
    </div>
</div>
<!--{include(file='foot.html')}-->
</body>
</html>
<script type="text/javascript">
function check() {
	var $email		= $("#email"),
		email		= $email.val();
	canpost = true;
	if(email == "" || !$.util.isemail(email)) {
		$email.next().text(email == '' ? "请填写":"格式错误");
		canpost = false;
		$email.addClass('hintborder');
	}
	return canpost;
}
$(function() {
	$("#email").focus(function(){
		$(this).removeClass("hintborder").next().text('');
	});
});
</script>

