<!--{include_page('page.html','foot')}-->
<div class="pinglun_content">
	<!--{foreach $commentlist comment}-->
	<dl>
		<dt><span><!--{$comment.uname}--></span> (<!--{$comment.score}-->分 <!--{date('m月d日',$comment['addtime'])}-->)</dt>
		<dd class="dd_one"><!--{$comment.content}--></dd>
		<dd class="dd_two"><!--{$comment.replycontent}--></dd>
	</dl>
	<!--{/foreach}-->
</div>
<script type="text/javascript">
$("#forcomment .page").find("a").click(function(){
	var $this = $(this),href = $this.attr('href');
	if(href) {
		$.get(href,{},function(data){
			$("#forcomment").html(data);
		});
	}
	return false;
});
</script>