<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>我的关注--<!--{$mallname}--></title>
<!--{include(file='static.html')}-->
</head>
<body>
<!--{include(file='head.html')}-->
<!--主体内容-->
	<div class="container">
    <!--左侧菜单-->
		<div class="per_left">
            <!--{include(file='userleft.html')}-->
        </div>
        <!--左侧菜单end-->
        <div class="per_right">
        	<div class="per_right_cont">
				<h3>我的关注</h3>
				<div class="add_list">
                	<!--{include_page("page.html","top")}-->
            		<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <th width="10%">操作</th>
						<th width="60%" colspan="2">商品</th>
                        <th width="20%">关注时间</th>
                        <th width="10%">单价</th>
                      </tr>
					  <tbody>
					  <!--{if $items}-->
						  <!--{foreach $items item}-->
							  <tr id="tr_<!--{$item.itemid}-->">
								<td class="memberoper">
									<a href="<!--{url('index','item','index','itemid=$item[itemid]')}-->" target="_blank">购买</a> <br />
									<a href="javascript:void(0)" onclick="jsdel('<!--{$item['itemid']}-->');return false;">删除</a>
								</td>
								<td width="5%" align="left">
									<a href="<!--{url('index','item','index','itemid=$item[itemid]')}-->" target="_blank">
										<img src="<!--{$item.itemimg}-->_50x50.jpg" width="50" height="50"/>
									</a>
								</td>
								<td width="55%" align="left">
									<a href="<!--{url('index','item','index','itemid=$item[itemid]')}-->" target="_blank"><!--{$item.itemname}--></a>
								</td>
								<td>
									<!--{date("m月d日",$item.addtime)}-->
								</td>
								<td>￥<!--{getPrice($item.price)}--></td>
							  </tr>
							  <!--{/foreach}-->
						<!--{else}-->
							<tr>
								<td colspan="5">
									暂无关注
								</td>
							</tr>
						<!--{/if}-->
					  </tbody>
                    </table>
				 <!--{include_page("page.html","foot")}-->
				 </div>
			</div>
        </div>
        <div class="clear"></div>
	</div>
    <!--主体内容 end-->
<!--{include(file='foot.html')}-->
</body>
</html>
<script type="text/javascript">
function jsdel(itemid) {
	$.post("<!--{url('index','favor','del')}-->",{itemid:itemid},function(data){
		if(data == "success") {
			$("#tr_"+itemid).remove();
		} else {
			jAlert("删除错误，请刷新后重新执行","删除错误");
		}
	});
}
</script>
