<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>我的<!--{if $type == 'downprice'}-->降价通知<!--{else}-->到货通知<!--{/if}-->--<!--{$mallname}--></title>
<!--{include(file='static.html')}-->
</head>
<body>
<!--{include(file='head.html')}-->
    <!--主体内容-->
	<div class="container">
    <!--左侧菜单-->
		<div class="per_left">
            <!--{include(file='userleft.html')}-->
        </div>
        <!--左侧菜单end-->
        <div class="per_right">
        	<div class="per_right_cont">
				<h3>我的<!--{if $type == 'downprice'}-->降价通知<!--{else}-->到货通知<!--{/if}--></h3>
				<div class="add_list">
                	<!--{include_page("page.html","top")}-->
            		<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <th width="50%" colspan="2">商品</th>
						<th>登记时间</th>
                        <th>通知时间</th>
                      </tr>
					  <tbody>
					  <!--{if $notifylist}-->
						  <!--{foreach $notifylist notify}-->
							  <tr>
								<td align="left" width="5%">
									<a href="<!--{url('index','item','index','itemid=$notify[itemid]')}-->" target="_blank">
										<img src="<!--{$notify.itemimg}-->_50x50.jpg" width="50" height="50" onerror="this.onerror='',this.src='images/nopicture.jpg'" class="mid"/>
									</a>
								</td>
								<td style="text-align:left" width="45%">
									<a href="<!--{url('index','item','index','itemid=$notify[itemid]')}-->" target="_blank">
										<!--{$notify.itemname}-->
									</a>
								</td>
								<td>
									<!--{date("m月d日",$notify.addtime)}-->
								</td>
								<td>
									<!--{if $notify.notifytime}--><!--{date("m月d日",$notify.notifytime)}--><!--{else}-->--<!--{/if}-->
								</td>
							  </tr>
							  <!--{/foreach}-->
						<!--{else}-->
							<tr>
								<td colspan="5">
									暂无商品到货通知
								</td>
							</tr>
						<!--{/if}-->
					  </tbody>
                    </table>
				 <!--{include_page("page.html","foot")}-->
				 </div>
			</div>
        </div>
        <div class="clear"></div>
	</div>
    <!--主体内容 end-->
<!--{include(file='foot.html')}-->
</body>
</html>
