<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>订单提交成功--<!--{$mallname}--></title>
<!--{include(file='static.html')}-->
</head>
<body>
<!--{include(file='head.html')}-->

    <!--主体内容-->
	<div class="container">
		<div class="per_right">
        	<div class="per_right_cont2">
            	<div><img src="template/front/<!--{$tpl}-->/images/pay_pic.gif" /></div>
                <div class="pay_content">
                	<p>订单<!--{$tradeid}-->已经成功提交，您需要支付<!--{getPrice($total,0)}-->元。</p>
					<p>支付方式：<!--{getCommonCache($paymentcode,"payment")}--></p>
                </div>
				<!--{if $paymentcode != "cod"}-->
				 <div class="p_button">
					<!--{if $paymentcode == 'alipay'}-->
					<a href="<!--{url('index','payment','index','tradeid=$tradeid&code=$paymentcode')}-->" target="_blank">
						<img src="template/front/<!--{$tpl}-->/images/alipay.png" width="260" height="45" />
					</a>
					<!--{elseif $paymentcode == 'tenpay' || $paymentcode == 'tenpay2'}-->
					<a href="<!--{url('index','payment','index','tradeid=$tradeid&code=$paymentcode')}-->" target="_blank">
						<img src="template/front/<!--{$tpl}-->/images/tenpay.gif" width="140" height="30" />
					</a>
					<!--{/if}-->
				</div>
				<!--{/if}-->
            </div>    
        </div>
        <div class="clear"></div>
	</div>
<!--{include(file='foot.html')}-->
</body>
</html>
