<!DOCTYPE html>
<html>
<head>
    {include file="default/resource" /}
</head>
<body>
{include file="default/header" /}
<div class="main layui-clear">
  <div class="wrap">
    <div class="detail">
      <div class="fly-panel detail-box">
        <h1>{$category_info.name}</h1>
        <div class="detail-body photos" style="margin-bottom: 20px;margin-top: 40px;">
            {$category_info.content}
        </div>
      </div>
    </div>
  </div>
</div>
{include file="default/footer" /}
</body>
</html>