<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockwishlist</name>
            <displayName><![CDATA[愿望清单区域]]></displayName>
            <version><![CDATA[0.2]]></version>
            <description><![CDATA[添加一个块包含的客户小号心愿的模块。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>