#{include file="wxapp/head.html"}# 
<!-- page 容器 -->
<div class="page"> 
  <!-- 标题栏 -->
  <header class="bar bar-nav">
    <h1 class="title">客户添加</h1>
  </header>
  <!-- 这里是页面内容区 -->
  <div class="content">
    <form name="myform" method="post" action="#{$smarty.const.ACT}#/wxapp/WxCustomer/customer_add/" external>
      <div class="list-block">
        <ul>
          <!-- Text inputs -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">沟通主题</div>
                <div class="item-input">
                  <input type="text" name="title" id="title" placeholder="输入沟通主题">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">联系人</div>
                <div class="item-input"> #{$linkman}# </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">当前阶段</div>
                <div class="item-input"> #{$salestage}# </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">发现时间</div>
                <div class="item-input">
                  <input type="text" name="finddt" data-toggle='date'>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">预计签单时间</div>
                <div class="item-input">
                  <input type="text" name="billdt" data-toggle='date'>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">预计签订金额</div>
                <div class="item-input">
                  <input type="text" name="title" id="title" placeholder="输入金额">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">可能性</div>
                <div class="item-input">
                  <input type="text" name="chance" id="chance" placeholder="输入数字">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">当前状态</div>
                <div class="item-input"> #{$status}# </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <div class="row">
          <div class="col-50">
            <input type="submit" class="button button-big button-fill button-success" value="保存">
          </div>
          <div class="col-50"><a href="#" class="button button-big button-fill button-danger">重置</a></div>
        </div>
      </div>
    </form>
  </div>
</div>
#{include file="wxapp/foot.html"}#