<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>零起飞客户关系管理系统</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="#{$smarty.const.APP}#/View/templates/wxapp/dist/css/light7.min.css">
<link rel="stylesheet" href="#{$smarty.const.APP}#/View/templates/wxapp/dist/css/light7-swiper.min.css">
<link rel="stylesheet" href="#{$smarty.const.APP}#/View/templates/wxapp/dist/css/my.css">
</head>
<body>