body{
	font-size:12px;
	margin:20px;
	font-family:"Microsoft Yahei";
}
a{
	text-decoration:none;
	color:#000000;
}

 
.phpshop123_title{
	font-size:30px;
	
}

.phpshop123_search_box{
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	width:100%;
	margin-bottom:20px;
	min-height:20px;
 	padding:10px;
}

.phpshop123_form_box{
	width:100%;
	border:1px solid #e8e8e8;
	
}

.phpshop123_form_box tr{
	height:35px;
	
}

.phpshop123_form_box th{
 	text-align:right;
	padding-right:15px;
	width:270px;
}

.phpshop123_form_box td{
 	text-align:left;
	padding-left:15px;
	padding-top:5px;
	
	/* height:35px; */
}

.phpshop123_list_box{
	border:1px solid #dddddd;
	border-top:2px solid #dddddd;
	border-collapse:collapse;
}

.phpshop123_list_box tr:hover{
	background-color:#f5f5f5;
}

.phpshop123_list_box th{
	height:38px;
	color:#1e91cf;
	text-decoration:none;
	border:1px solid #e8e8e8;
}
 
.phpshop123_list_box td{
	padding:8px;
	height:35px;
	border:1px solid #e8e8e8;
}
.phpshop123_infobox{
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	width:50%;
	font-size:12px;
	margin-bottom:20px;
	min-height:20px;
 	padding:10px;
}

.phpshop123_warnbox{

}

.phpshop123_paging{
	padding:10px;
	border:1px solid #e3e3e3;
	 
}