<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">财务管理</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:url('/admin/shop/trade/export',array('type'=>1))}" target="_blank" class="btn btn-danger ">
                                导出全部交易
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th>
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>编号</th>
                                <th>用户</th>
                                <th>交易号</th>
                                <th>交易方式</th>
                                <th>交易类型</th>
                                <th>交易金额</th>
                                <th>交易状态</th>
                                <th>时间</th>
                            </tr>
                            {volist name="rechargelist" id="trade"}
                            <tr>
                                <td>
                                    <label><input name="checkbox" class="check" type="checkbox"
                                                  value="{$trade.id}"></label>
                                </td>
                                <td>
                                    {$trade.id}
                                </td>
                                <td>
                                	<a href="{:url('/admin/user/index/index',array('id'=>$trade['user_id']))}">{$trade.user.username}</a>
                                </td>
                                <td>
                                	{$trade.tradeid}
                                </td>
                                <td>
                                    {$trade.payment}
                                </td>
                                <td>
                                    {eq name="trade.type" value="1"}充值{/eq}
                                    {eq name="trade.type" value="0"}消费{/eq}
                                </td>
                                <td>
                                    {$trade.money}
                                </td>
                                <td>
                                    {eq name="trade.status" value="1"}
                                        <span class="label label-success">交易成功</span> 
                                    {else/}
                                        <span class="label label-default">交易失败</span>
                                    {/eq}
                                </td>
                                <td>
                                    {$trade.created_at}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger "
                                            onclick="batchUrl('{:url(\'/admin/shop/trade/export\',array(\'type\'=>1))}', false)">
                                        导出
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                                <div class="pull-right">
                                    {$rechargelist->render()}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>