body{
	background: #c5ccd4 url(../images/bg.gif);
}
#topbar {
	background: #6d84a2 url(../images/topbar.gif) repeat-x top;
}
input[type="checkbox"] {
	background: none;
}

#rightnav {
	background: url("../images/navright.gif") left no-repeat;
}
#rightnav a:first-child {
	background: url("../images/navrightlink.gif") right no-repeat;
	padding: 0 12px 0 6px;
	white-space: nowrap;
}

#leftnav {
	background: url("../images/navleft.gif") right no-repeat;
}
#leftnav a {
	background: url("../images/navleftlink2.gif") left no-repeat;
	padding: 0 6px 0 12px;
	white-space: nowrap;
}
#leftnav a:first-child {
	background: url("../images/navleftlink.gif") left no-repeat;
}
#leftnav img, #rightnav img {
	height: 14px;
	margin-top: 0;
}
.list .title {
	background: #91a0ab url(../images/title.gif) repeat-x top;
}