<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>Mydidai后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../templates/js/jquery.js"></script>
<script type="text/javascript" src="../templates/js/admin.js"></script>
<link rel="stylesheet" type="text/css" href="../templates/style/admin.css" />
<link rel="stylesheet" type="text/css" href="../templates/admin/default/css/config.css" />
</head>
<body id="column">
<div class="admin_position">
    <h1>Mydidai后台管理-网站信息</h1><span><a href="system.php?action=site">添加栏目</a></span>
</div> 
<div class="admin_body">
<?php if($site){?>
<form action="./system.php?action=site" method="post">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>站点标题</th>
			<td><input type="text" name="site_title" value=""/></td>
		</tr>
		<tr>
			<th>站点域名</th>
			<td><input type="text" name="site_domain" value=""/></td>
		</tr>
		<tr>
			<th>LOGO图片</th>
			<td>
				<p style="height:50px;padding-bottom:5px;"><img src="http://mingtian.d.ubn.cn/web/views/jiaju01/img/logo.png" alt="" height="50"/></p>
				<input type="file" name="site_logo"/>
			</td>
		</tr>
		<tr>
			<th>站点关键字</th>
			<td><input type="text" name="site_keywords" value=""/></td>
		</tr>
		<tr>
			<th>站点描述</th>
			<td><textarea name="site_description"></textarea></td>
		</tr>
		<tr>
			<th>分享代码</th>
			<td><textarea name="site_share"></textarea></td>
		</tr>
		<tr>
			<th>统计代码</th>
			<td><textarea name="site_count"></textarea></td>
		</tr>
		<tr>
			<th>是否开启网站</th>
			<td><input type="radio" checked="checked" name="site_status"/>是&nbsp;&nbsp;<input name="sitestatus" type="radio" />否</td>
		</tr>
		<tr>
			<th><input type="hidden" name="action" value="1" /></th>
			<td><input type="submit" value="保存"/></td>
		</tr>
	</table>
</form>
</div>
<?php }?>
<div class="admin_bottom_nav">COPYRIGHT © NOW.CN ALL RIGHTS RESERVED. </div>
</body>
</html>