    /*Common*/
    .animate-box {
        opacity: 0;
    }
    .btn-primary {
        background: #ef6249;
        color: #fff;
        border: 2px solid #ef6249;
    }
    .btn {
        margin-right: 4px;
        margin-bottom: 4px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        padding: 8px 20px;
    }
    .btn.btn-lg {
        padding: 18px 36px !important;
    }
    .main-wrapper {
        padding-top: 0;
    }
    .descBox {
        padding:60px 0;
    }
    .descBox h2 {
        font-size:2em;
    }

    .descBox .light {
        width:60px;
    }
    .descBox .cont {
        padding:30px;
        font-size:18px;
        max-width:880px;
        margin:0 auto;
    }
    /*Common*/
    @media (min-width: 992px){
        nav.bootsnav {
        transition: background 1s;
        -moz-transition: background 1s; /* Firefox 4 */
        -webkit-transition: background 1s;  /* Safari 和 Chrome */
        -o-transition: background 1s;   /* Opera */
        }
        nav.bootsnav {
            background: rgba(0,0,0,0.0)!important;
        }
        nav.bootsnav li a{
            color:#fff!important;
        }
        nav.bootsnav li.active a{
            color:#fff!important;
            background:none!important;
        }
        nav.bootsnav li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #ff9900!important;
            background: none!important;
        }
        nav.bootsnav li.dropdown ul.dropdown-menu {
            background: #000!important;
        }

        nav.bootsnav li.dropdown ul.dropdown-menu > li > a {
            border-bottom: solid 1px #333!important;
            color:#fff!important;
        }

        nav.white_nav {
            background: #ffffff!important;
        }
        nav.white_nav li a{
            color:#333!important;
        }
        nav.white_nav li.active a{
            color:#f90!important;
            background:none!important;
        }
        nav.white_nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #ff9900;
            background-color: none;
        }
        nav.white_nav li.dropdown ul.dropdown-menu {
            background: #f6f6f6!important;
        }
        nav.white_nav li.dropdown ul.dropdown-menu > li > a {
            border-bottom: solid 1px #fff!important;
            color:#333!important;
        }
        /*黑背景导航*/
        nav.black_nav {
            background: rgba(0,0,0,0.6)!important;
        }
        nav.black_nav .nav li a{
            color:#fff!important;
        }
        nav.black_nav .nav li.active a{
            color:#fff!important;
            background:none!important;
        }
    }
    @media (max-width: 992px){
        .white_nav .icon {
            font-size: 14px;
            color:#000;
        }
    }

    /*nav*/
    @media (min-width: 992px){
        nav.bootsnav {
        transition: background 1s;
        -moz-transition: background 1s; /* Firefox 4 */
        -webkit-transition: background 1s;  /* Safari 和 Chrome */
        -o-transition: background 1s;   /* Opera */
        }
        nav.bootsnav {
            background: rgba(0,0,0,0.0)!important;
        }
        nav.bootsnav li a{
            color:#fff!important;
        }
        nav.bootsnav li.active a{
            color:#fff!important;
            background:none!important;
        }
        nav.bootsnav li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #ff9900!important;
            background: none!important;
        }
        nav.bootsnav li.dropdown ul.dropdown-menu {
            background: #000!important;
        }

        nav.bootsnav li.dropdown ul.dropdown-menu > li > a {
            border-bottom: solid 1px #333!important;
            color:#fff!important;
        }

        nav.white_nav {
            background: #ffffff!important;
        }
        nav.white_nav li a{
            color:#333!important;
        }
        nav.white_nav li.active a{
            color:#f90!important;
            background:none!important;
        }
        nav.white_nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #ff9900;
            background-color: none;
        }
        nav.white_nav li.dropdown ul.dropdown-menu {
            background: #f6f6f6!important;
        }
        nav.white_nav li.dropdown ul.dropdown-menu > li > a {
            border-bottom: solid 1px #fff!important;
            color:#333!important;
        }
        /*黑背景导航*/
        nav.black_nav {
            background: rgba(0,0,0,0.6)!important;
        }
        nav.black_nav .nav li a{
            color:#fff!important;
        }
        nav.black_nav .nav li.active a{
            color:#fff!important;
            background:none!important;
        }
    }
    @media (max-width: 992px){
        .white_nav .icon {
            font-size: 14px;
            color:#000;
        }
    }

    #section1 {
        background-color:#262b2e;
        background-position: 50%;
        background-size: cover;
        position: relative;
        transform-style: preserve-3d;
        overflow: hidden;

        .muucmfHead{
            min-height:720px;
            
            position:relative;
            width:100%;

            canvas {
                position: absolute;
                top: 0;
                left: 0;
                width: 1950px;
                height: auto;
                z-index: 1;
            }

            .headInfo {
                position:relative;
                margin:220px auto 30px auto;
                text-align:center;
                z-index: 100;

                h2{
                    color: #fff;
                    font-size: 48px;
                    margin-bottom: 10px;
                    font-weight: 600 !important;

                    span {
                        color:#fff;
                    }
                }

                h3{
                    color: #fff;
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-weight: 300 !important;
                    span {
                        color:#03b8cf;
                    }
                }

                .downBtn{
                    margin-top:80px;

                    .cum-btn {
                        margin:0 50px;
                        font-size:26px;
                        border:0;
                    }
                }

                @media(max-width:768px){
                    .downBtn{
                        padding:0 15px;
                    }
                }
            }
        }
    }

    #section2 {
        background:#2EA9D3;
        .descBox{
            .descBox h2 {
                color:#fff;
            }

            .light {
                width:60px;
                border-top:5px solid #fff;
            }
                h3{
                color:#fff;
            }
        }
        
    }

    #section3 {
        background-image: url(../images/section3.png);
        background-color: #F4F5F8;
        background-position: 50%;
        background-size: cover;
        position: relative;
        min-height: 400px;

    }
    #section3 .descBox hr {
        width:60px;
        border-top:5px solid #f1c40f;
    }
    #section3 .descBox .col-md-6 {
        padding-right:0;
    }
    #section3 .descBox .cont {
        padding:30px;
        font-size:18px;
        color:#999;
    }
    #section3 .descBox .class {
        min-height:120px;
        text-align: center;
        margin:10px auto;
        padding:5px;
        font-size:28px;
        border-radius:2px;
        background:#fff;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
        animation-fill-mode:none;
        transition: all 1s;
        -moz-transition: all 1s;  /* Firefox 4 */
        -webkit-transition: all 1s;   /* Safari 和 Chrome */
        -o-transition: all 1s;    /* Opera */
    }
    #section3 .descBox .class.iconbox1 .icon{
        border:2px solid #EA644A;
    }
    #section3 .descBox .class.iconbox1 i {
        color:#EA644A;
    }

    #section3 .descBox .class.iconbox2 .icon{
        border:2px solid #f1c40f;
    }
    #section3 .descBox .class.iconbox2 i {
        color:#f1c40f;
    }
    #section3 .descBox .class.iconbox3 .icon{
        border:2px solid #38B03F;
    }
    #section3 .descBox .class.iconbox3 i {
        color:#38B03F;
    }
    #section3 .descBox .class.iconbox4 .icon{
        border:2px solid #03B8CF;
    }
    #section3 .descBox .class.iconbox4 i {
        color:#03B8CF;
    }
    #section3 .descBox .class.iconbox5 .icon{
        border:2px solid #BD7B46;
    }
    #section3 .descBox .class.iconbox5 i {
        color:#BD7B46;
    }
    #section3 .descBox .class.iconbox6 .icon{
        border:2px solid #8666B8;
    }
    #section3 .descBox .class.iconbox6 i {
        color:#8666B8;
    }

    #section3 .descBox .class .icon {
        margin:10px auto 10px auto;
        width:100px;
        height:100px;
        line-height: 100px;
        border-radius:50%;
        border:2px solid #f1c40f;
        font-size:28px;
        color:#f1c40f;
    }
    #section3 .descBox .class i {
        font-size:36px;
        color:#f1c40f;
    }
    #section3 .descBox .class p {
        font-size:14px;
        width:100%;
        color:#999;
        text-align:center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #section_ecology {
        min-height: 400px;
        background: url(../images/bg-top.jpg) top center no-repeat;
        background-size: cover;
        /*background: linear-gradient(to right, #f1c40f, #3498db);*/
        background-color:#11b3ff;
        .descBox {
            padding-bottom:0;

            hr {
                width:60px;
                border-top:5px solid #fff;
            }

            h2 {
                color:#fff;
            }

            p {
                color:#fff;
                font-size:1em;
            }

            .cont {
                padding:30px;
                font-size:18px;
                color:#999;
            }

            .ecology {

                text-align:center;

                .item {
                    display:inline-block;
                    min-width:120px;
                    line-height:36px;
                    padding:20px;
                    background:rgba(0,0,0,0.2);
                    border-radius:10px;
                    color:#fff;
                    font-size:22px;
                }
                .add {
                    display:inline-block;
                    margin:0 30px;
                    color:#fff;
                    font-size:22px;
                }
            }
        }

        @media screen and (max-width:992px){

            .descBox{

                .ecology {

                    .item {
                        display:block;
                        margin:10px auto;
                    }

                    .add {
                        display:blokc;
                    }
                }
            }
            
        }

    }


    #section4 {
        min-height: 400px;

        .descBox {

            h2 {

            }

            hr {
                width:60px;
                border-top:5px solid #f1c40f;
            }

            .cont {
                padding:30px;
                font-size:18px;
                color:#999;
            }

            .lists-box {
                margin-bottom:10px;

                .portfolio-filter {
                    list-style: none;
                    padding: 0;
                    margin: 0 0 50px;
                    display: inline-block;
                }

                .portfolio-filter > li {
                    float: left;
                    display: block;
                }

                .portfolio-filter > li:first-child a {
                    border-radius: 4px 0 0 4px;
                }
                .portfolio-filter > li a {
                    display: block;
                    padding: 7px 15px;
                    background: #e5e5e5;
                    color: #64686d;
                    position: relative;
                }

                .portfolio-filter > li a.active:after {
                    content: " ";
                    position: absolute;
                    bottom: -17px;
                    left: 50%;
                    margin-left: -10px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: #318daf transparent transparent transparent;
                }

                .portfolio-filter > li a:hover, .portfolio-filter > li a.active {
                    background: #45aed6;
                    color: #fff;
                    box-shadow: 0 -3px 0 0 #318daf inset;
                    -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
                }
            }
        }
        
    }


    #section5 {
        background: #fff;


        .descBox {

            hr {
                width:60px;
                border-top:5px solid #f1c40f;
            }

            .cont {
                padding:30px;
                font-size:18px;
                color:#999;
            }

            .service-box {

                margin:10px auto;
            }
            .single-service {

                padding: 30px 25px;
                margin:10px auto;
                min-height:202px;
                background:#eee;
                border-radius:10px;

                .service-title {
                    color: #fff;
                    width:65px;

                    i {
                        font-size:36px;
                    }
                }

                .service-content {
                    margin-left: 65px;

                    h3 {
                    font-size: 1.4em;
                    font-weight: 300;
                    margin-top:0;
                    margin-bottom: 20px;
                    color: #fff;
                    }

                    p {
                        font-size: 14px;
                        color: #fff;
                        line-height: 1.5em;
                        font-weight: 400;
                    }
                    p {
                        margin: 0 0 10px;
                        position:relative;
                        line-height:1.4em;
                        /* 4 times the line-height to show 3 lines */
                        height:5.6em;
                        overflow:hidden;
                    }
                    p::after {
                        content:"..."; 
                        padding:0 20px 1px 5px;
                    }
                }

            }
            .s1 {
                background-color: rgb(26, 188, 156);
            }
            .s2 {
                background-color: #ff9900;
            }
            .s3 {
                background-color:  rgb(53, 173, 245);
            }
            .s4 {
                background-color: rgb(255, 80, 62);
            }
            .s5 {
                background-color: #38b03f;
            }
            .s6 {
                background-color: #8666b8;
            }

            @media screen and (max-width:992px) {
                .single-service {
                    height:202px;
                    overflow:hidden;
                }
            }

        }
    }

    #section7 {
        position: relative;
        background-image: url(../images/cta2-bg.jpg);
        background-color: rgba(0,0,0,.5);
        background-position: 50%;
        background-size: cover;
        width: 100%;
        
        .filter {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .5;
            border: 0 none;
            background-color: #000;
        }

        .descBox {
            position: relative;
            z-index: 3;
            padding-top: 60px;
            text-align: center;
            color: white;

            .logo {
                display:block;
                margin:10px auto;
                width:88px;
                border-radius:10px;
            }
            
            h2 {
                color:#fff;
                font-weight:400;
            }

            hr {
                width:60px;
                border-top:5px solid #f1c40f;
            }
            .title{
                margin-top:30px;
                text-align:center;
                font-size:38px;
                color:#fff;
            }
            .botton {
                margin-top:30px;
            }

            .simply-icon {

                margin:60px auto;

                .simply-section {
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    background: rgba(0, 0, 0, 0.2);
                    margin: 5px;
                    position: relative;
                    border: 2px solid #fff;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;

                    div {
                        padding-top:40px;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        i {
                            font-size:36px;
                        }
                    }
                }

            }
            
        }

        @media screen and (max-width:1190px) {
            .simply-icon {
                display:none;
            }
        }

        @media screen and (max-width:992px){

            .descBox {
                display:block;

                .simply-icon {
                    margin:10px auto;
                }
            }
        }
    }
    
    /*页脚*/
    .footer-bar {
        margin-top:-10px;
        background: #252c34;
    }