<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=1.0">
	<meta name="format-detection" content="telephone=no">
	<title><<{$title}>>- <<{$admin_module_name}>></title>
	<link rel="shortcut icon" href="__IMG__/favicon.ico" />

	<link rel="stylesheet" href="__CIGO_ADMIN__/select2-4.0.3/css/select2.min.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/layui-v2.3.0/layui/css/layui.css"/>
	<link rel="stylesheet" href="<<{:C('ICON_CONFIG')}>>.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/cigoos/top-menu.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/cigoos/left-menu.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/cigoos/cigoos.css"/>
	<link rel="stylesheet" href="__CIGO_ADMIN__/common/css/base.css"/>

	<script type="text/javascript" src="__CIGO_ADMIN__/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript"
	        src="__CIGO_ADMIN__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"
	        src="__CIGO_ADMIN__/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"
	        charset="UTF-8"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/select2-4.0.3/js/select2.full.min.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/layui-v2.3.0/layui/layui.all.js"></script>
	<script type="text/javascript" src="<<{:C('ICON_CONFIG')}>>.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/cigoos/cigoos.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/cigoos/top-menu.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/cigoos/left-menu.js"></script>
	<script type="text/javascript" src="__CIGO_ADMIN__/common/js/base.js"></script>
</head>
<body style="padding: 0px;">
<div id="page_top_bar">
	<div id="logo">
		<img style="width: 100px;" src="__IMG__/logo-land-with-title.jpg"/>
	</div>
	<div id="top_menu_container" url="<<{:U('getTopMenuData')}>>"></div>
	<div id="loginfo_container">
		<span><<{$nickName}>></span>
		<i class="cigo-iconfont cigo-icon-xiajiantou" style="margin-left: 5px;"></i>
		<ul>
			<li>
				<a title="修改昵称" href="<<{:U('Manager/modifyNickName')}>>" target="page_content">
					<i class="cigo-iconfont cigo-icon-nicheng"></i>
					<span>修改昵称</span>
					<span class="label pull-right label-default"></span>
				</a>
			</li>
			<li>
				<a title="修改密码" href="<<{:U('Manager/modifyPwd')}>>" target="page_content">
					<i class="cigo-iconfont cigo-icon-mima"></i>
					<span>修改密码</span>
					<span class="label pull-right label-default"></span>
				</a>
			</li>
			<span class="hr"></span>
			<li class="ajax-get confirm" url="<<{:U('logout')}>>">
				<a title="修改密码" onclick="return false;">
					<i class="cigo-iconfont cigo-icon-tuichu"></i>
					<span>
						退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="page_main">
	<div id="page_left_slider">
		<div id="left_menu_container" url="<<{:U('getLeftMenuData')}>>" class="count-opt-rate"
		     url-add-opt-rate="<<{:U('addOptRate')}>>">
		</div>

		<div id="left_slider_shrink">
			<span class="tab">>></span>
		</div>
	</div>
	<div id="page_content">
		<iframe name="page_content" width="100%" height="100%" frameborder="0" src="<<{:U('EditDemo/index')}>>">
			<p>您的浏览器不支持Iframe。</p>
		</iframe>
	</div>
</div>
</body>
</html>