.beg-layout-container{
	/*min-width: 1024px;*/
}
.beg-layout-container .beg-layout-main{
	position: absolute;
}
.beg-layout-container .beg-layout-header{
	background-color: #FFFFFF;
	height: 55px;
	position: fixed;
	width: 100%;
	min-width: 800px;
}
.beg-layout-container .beg-layout-header .beg-layout-logo{
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.beg-layout-container .beg-layout-header .beg-layout-side-toggle{
	position: absolute;
    cursor: pointer;
    z-index: 19940201;
    left: 200px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1AA094;
    line-height: 30px;
    top: 25%;
}
.beg-layout-container .beg-layout-header .beg-layout-side-toggle:hover{
	background-color: #5FB878;
}
.beg-layout-container .beg-layout-header .beg-layout-menu{
	top: 0;
	left:230px;
}
.beg-layout-header .beg-layout-menu .beg-layout-nav{
	background: none;
}
.beg-layout-header .beg-layout-menu .beg-layout-nav .layui-nav-item{
	line-height: 60px;
}
.beg-layout-header .beg-layout-menu .beg-layout-nav .layui-nav-item .layui-nav-more{
	top:27px
}
.beg-layout-header .beg-layout-menu .beg-layout-nav .layui-nav-item .layui-nav-mored{
	top:20px
}

.beg-layout-header .beg-layout-panel{
	right: 10px;
}
.beg-layout-header .beg-layout-panel .beg-layout-nav{
	background: none;
}
.beg-layout-header .beg-layout-panel .beg-layout-nav a{
	color: #393D49;
}
.beg-layout-header .beg-layou-head{

}
.beg-layout-header .beg-layou-head img{
	width: 40px; height: 40px; border-radius: 100%;
}

.beg-layout-container .beg-layout-side{
	background-color: #393D49;
	color: #FFFFFF;
	top: 60px;
}
.beg-layout-container .beg-layout-body{
	top: 60px;
	height: auto;
}
.beg-layout-container .beg-layout-body .layout-nav-card cite{
	font-style: normal;
    padding-left: 5px;	
}
.beg-layout-body iframe{
	width: 100%;
	border: 0;
	height: 99.5%;
}
.beg-layout-container .beg-layout-footer{
	line-height: 44px;
	text-align: center;
}
.nav-current{
	/*border-left: 5px solid #009E94;*/
	background: #fff;
}
.nav-current  a{
	color:#000!important;
}
.layout-tab-contextmenu {width: 135px; background-color: #CCCCCC;position: absolute; z-index: 19940201;display: none;}
.layout-tab-contextmenu .layui-nav{
	padding: 5px 3px;
}
.layout-tab-contextmenu .layui-nav .layui-nav-item{
	line-height: 27px;width: 100%;
}
.layout-tab-contextmenu .layui-nav .layui-nav-item:hover{
	background-color: #5FB878;
}
.layout-tab-contextmenu .layui-nav .layui-nav-item a{
	text-align: left;
}

.layout-tab-contextmenu .layui-nav .layui-this:after, .layout-tab-contextmenu  .layui-nav-bar { 
	transition: none; -webkit-transition:none; background: none; 
	}

@media screen and (max-width: 1024px) {
	.beg-layout-menu cite{
		display: none;
	}
}


.layui-nav .layui-nav-item {
	line-height: 57px;
}
.layui-nav-tree .layui-nav-item{
	line-height: 45px;
}
.layui-nav .layui-nav-more {
	top:25px;
}
.layui-nav-tree .layui-nav-more, .layui-nav-itemed >.layui-nav-more{
	top:20px;
}
.layui-nav .layui-nav-mored{
	top:18px;
}

.layui-nav * {
	font-size: 12px;
}

.layui-layout-admin .layui-side, .layui-nav-tree {
	width:180px;
}

.layui-layout-admin .layui-header {
	border-bottom:2px solid #1AA094;
}
.beg-layout-container .beg-layout-side {
	top:57px;
}
.beg-layout-container .beg-layout-header .beg-layout-logo {
	height:57px;
	line-height: 57px;
}

.beg-layout-header .beg-layout-menu .beg-layout-nav .layui-nav-item {
	line-height:57px;
}
.layui-tab {
	overflow: auto;
}
.layui-layout-admin .layui-body {
	bottom:0;
}
.layui-table td, .layui-table th {
	font-size:12px;
}
.table-top-button-box {
	margin-top: 5px;
	text-align: right;
}
/*分页样式*/
.admin-page {
	right:50px;
	position: relative;
}
.pagination {
	height: 31px;
	margin: 20px 0 50px 0;
	float: right;

}
.pagination ul {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}
.pagination li {
	display: inline;
}
.pagination a, .pagination span {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	float: left;
	line-height: 35px;
	padding: 0 18px;
	text-decoration: none;
}
.pagination a:hover, .pagination .active a, .pagination .active span {
	color: #fff;
	background-color: #009688;
}
.pagination .active a, .pagination .active span {
	color: #ffffff;
	cursor: default;
}
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
	background-color: transparent;
	color: #999999;
	cursor: default;
}
.pagination li:first-child a, .pagination li:first-child span {
	border-left-width: 1px;
	border-radius: 3px 0 0 3px;
}
.pagination li:last-child a, .pagination li:last-child span {
	border-radius: 0 3px 3px 0;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}