<div class="row">
    <div class="col-xs-12">
        <div class="row-fluid">
            <div class="alert alert-block alert-success">
                <i class="fa fa-fw fa-file-image-o green"></i>
                点击图片，添加到文章
            </div>
            {{ content() }}
            <ul class="list">
                {% for item in data.items %}
                    <li class="{{ item.content_type }}">
                        <img src="{{ filePath(item) }}">
                    </li>
                {% else %}
                    <li>图库为空</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ partial("Themes/AdminLTE/templates/paginator") }}
    </div>
</div>