
				
<volist name="_list" id="list">					
		<div class="item">
								<a href="{:U('/article/'.$list['id'])}">
									
									<img class="lazy img-responsive "alt="{$list.title}" src="{$list.cover_id|get_cover=path}">
								</a>
								<div class="info">
									<a href="{:U('/article/'.$list['id'])}">
										<h5 class="title">
										{$list.title}
										</h5>
									</a>
								</div>
								<div class="view">
									<i class="glyphicon glyphicon-eye-open"></i>
											{$list.view}
								</div>								
						
						</div>
</volist>
				
			