<!DOCTYPE HTML>
<html>
<head>
<include file="head" />
</head>
<body>
<!--main-->
<div class="midder">
<h2><span><a href="{:U('group/admin/addcate',array('ik'=>'parent'))}">添加分类</a></span>{$title}</h2>
<table  cellpadding="0" cellspacing="0">
<tr class="old">
<td>ID</td>
<td>分类名称</td>
<td>查看</td>
<td width="200">操作</td>
</tr>
<foreach name="list" item="item">
<tr class="odd">
<td>{$item[cateid]}</td>
<td>{$item[catename]}</td>
<td><a href="{:U('group/admin/catelist',array('referid'=>$item[cateid]))}">[查看子类]</a></td>
<td>
<a href="{:U('group/admin/addcate',array('ik'=>'child','id'=>$item[cateid]))}">[添加子类]</a> &nbsp;&nbsp;
<a href="{:U('group/admin/editcate',array('id'=>$item[cateid]))}">[编辑]</a> &nbsp;&nbsp;
</td>
</tr>
</foreach>
</table>
</div>
</body>
</html>