.dux-class {
  .class-son,.class-first {
    position: fixed;
    top: 49px;
    bottom: 49px;
    overflow-y: auto;
  }

  .class-first {
    background: #fafafa;
    min-width: 90px;
    width: 90px;

    li {
      text-align: center;
      height: 4.8rem;
      line-height: 4.8rem;
      overflow: hidden;
      font-size: 1.4rem;
      border-bottom:1px solid #ededed;
      &.active {
        background: #fff;
        color: $color-main;
      }
    }
  }
  .class-son {
    left: 90px;
    right: 0;
    padding: 1rem;
    background: #fff;
    .son-item {
      display: none;
      &.active {
        display: block;
      }
      h3 {
        text-align: center;
        font-size: 1.4rem;
        height: 2.8rem;
        line-height: 2.8rem;
        background: #f9f9f9;
        margin-bottom: 1rem;
      }
      dt {
        font-size: 1.4rem;
        font-weight: bold;
        a {
          position: relative;
          display: block;
          &:after {
            @include arrow(.8rem, 5px, 5px);
          }
        }
      }
      dd {
        margin-top:10px;
        font-size:1rem;
        a {
          display: inline-block;
          margin-bottom:10px;
          width: 32%;
          text-align: center;
          &:nth-child(3n+1) {
            text-align: left;
          }
          &:nth-child(3n) {
            text-align: right;
          }
        }
      }
      ul {
        li {
          a {
            background: #fff;

            display: block;
            padding: 15px 10px;
          }
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

}