.dux-coupon-list {
  li {
    margin-top:10px;
    padding: 10px;
  }
}

.dux-coupon-box {
  display: flex;
  height: 105px;
  overflow: hidden;
  background: #fff;
  font-size: 1.2rem;
  .box-image {
    padding: 10px;
    padding-right: 0;
    img {
      width: 80px;
      height: 80px;
      border: 1px solid #eee;

    }
  }
  .box-receive {
    border-left: 1px dashed #ddd;
  }
  .box-info {
    flex: 1;
    padding: 5px 10px;

    position: relative;
    .line {
      position: absolute;
      width: 26px;
      height: 26px;
      left: -13px;
      top: 80px;
      background: #fff;
      border-radius: 50%;
    }
    .name {
      padding-top: 5px;
      font-size:1.4rem;
      height: 35px;
      overflow: hidden;
      margin-bottom:10px;
    }
    .subname {
      height: 40px;
      overflow: hidden;
      margin-bottom:10px;
    }
    .money {
      color: $color-main;
      font-size:1.6rem;
      font-weight: bold;
      margin-bottom:5px;
      small {
        font-size:1.4rem;
        font-weight: normal;
      }
      span {
        font-weight: normal;
        font-size: 1.2rem;
        color: $color-main;
        border: 1px solid $color-main;
        padding: 1px 2px;
      }

    }

    .progress {
      display: flex;
      .uk-progress {
        margin: 0;
        margin-top:5px;
        background-color: rgba(0,0,0,.1);
        height: 10px;
        flex: 1;
      }
      .tip {
        width: 60px;
        padding-left:10px;
        font-size:1.2rem;
      }



    }



  }
  .box-receive {
    width: 75px;
    .btn {
      margin-top: 35px;
      padding: 5px;
      text-align: center;
      a {
        padding: 5px 8px;
        background: $color-main;
        color: #fff;
        border-radius: 25px;
        font-size: 1.2rem;
        display: block;
      }
      .tip {
        img {
          display: none;
          width: 65px;

        }
      }

    }
    &.disable {
      .btn {
        margin-top: 0;
        a {
          margin-top: 5px;
          background: #ccc;
        }
        img {
          display: block;
        }
      }
    }
  }

  .box-price {
    width: 140px;
    border-right: 2px solid $color-main;
    background: #fff;
    text-align: center;
    .money {
      color: $color-main;
      font-size:3rem;
      font-weight: bold;
      small {
        font-size:1.4rem;
        font-weight: normal;
      }
    }
    .tip {
      color: #999;
    }
    .btn {
      margin-top:10px;
      padding:  0 20px;
      a {
        display: block;
        line-height: 25px;
        border: 2px solid $color-main;
        text-align: center;
        font-size: 1.4rem;
        color: $color-main;
        &.disable {
          background: rgba(255,255,255,.5);
        }
      }
      margin-bottom:10px;
    }

  }
}