.dux-search {
  background: $color-main;
  padding: 8px;
  display: flex;
  .seach-logo {
    vertical-align: middle;
    padding-right: 10px;
    img {
      height: 30px;
    }
  }
  .search-keyword {
    flex: 1;
    input {
      width: 100%;
      height: 30px;
      padding: 5px 20px;
      border: 1px solid #fff;
      background: #fff;
      border-radius: 20px;

    }
  }
  .search-class {
    width: 50px;
    padding-left: 10px;
    text-align: center;
    a {
      background: #fff;
      color: $color-main;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
    }

  }

}

.dux-search-fixed {
  height: 46px;
  .dux-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

}

.dux-slideshow {

  position: relative;
  .uk-slideshow-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }
}

.dux-index-menu {
  text-align: center;
  background: #fff;
  padding: 10px 0;
  > div {
    padding-top: 5px;
    padding-bottom: 5px;
    &:nth-child(1) {
      .icon i {
        background: #ec841e;
      }
    }
    &:nth-child(2) {
      .icon i {
        background: #dc3b1f;
      }
    }
    &:nth-child(3) {
      .icon i {
        background: #3073d6;
      }
    }
    &:nth-child(4) {
      .icon i {
        background: #09a61f;
      }
    }
    &:nth-child(5) {
      .icon i {
        background: #7420be;
      }
    }
  }
  a {
    display: block;

    .icon {
      font-size: 14px;
      i {
        display: inline-block;
        text-align: center;
        background: $color-main;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        border-radius: 50%;
        &:before {
        }
      }

    }
    .title {
      margin-top: 5px;

    }

  }

}

.dux-index-title {
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}

.dux-index-list {
  background: #fff;
  overflow: hidden;
  li {
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin-top: -1px;
    position: relative;
    padding: 10px;
    .info {
      margin-right:90px;
    }
    .img {
      float: right;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .title {
      line-height:16px;
      padding-top: 10px;
      height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      color: $color-main;
    }
  }
}