
.dux-main {
  margin-bottom:1.6rem;
}


.dux-footer-nav-fixed {
  height: 50px;
  .dux-footer-nav {
    position: fixed;
    bottom: 0;
  }

}
.dux-footer-nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  span {
    display: block;
    font-size: 1.2rem;
  }
  .icon {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 1.8rem;
  }

  a {
    color: #666;
  }


  .active {
    span {
      color: $color-main;

    }

  }

}

.dux-totop {
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: 70px;
  background: $color-main;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  opacity: .5;
}
