.dux-pro-item {
  background: #fff;
  padding: 10px;
  display: flex;
  .item-img {
    width: 90px;
    text-align: center;
    img {
      width: 65px;
      height: 65px;
    }
  }
  .item-info {
    flex: 1;
    .title {
      font-size:1.4rem;
      color: #000;
      max-height: 45px;
      overflow: hidden;
    }
    .price {
      font-size:1.6rem;
      color: $color-main;
      small {
        font-size:1.4rem;
        color: #999;
        text-decoration: line-through;
      }
    }
    p {
      padding: 0;
      margin: 0;
      color: #999;
    }
  }
}

.dux-pro-filter-fixed {
  height: 50px;
  .dux-pro-filter {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;

  }
}

.dux-pro-filter {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;

  a {
    padding: 10px 0;
    display: block;
  }
  .icon-arrow {
    margin-left: 3px;
    width: 10px;
    height: 10px;
    position: relative;
    top: 3px;
    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      border: 2px solid #b2b2b2;
      border-top: 0;
      border-right: 0;
    }
    &:before {
      top: 1px;
      left: 1px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
    }
    &:after {
      top: 5px;
      left: 1px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }
    &.up {
      &:before {
        border-color: $color-main;
      }

    }
    &.down {
      &:after {
        border-color: $color-main;
      }
    }
  }
}

.uk-offcanvas-bar {
  
}

.dux-filter-side {
  width: 340px;
  .side-title {
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 10px;
    h3 {
      margin: 0;
      font-weight: normal;
      font-size: 1.6rem;
      color: $color-text;
    }
  }
  .side-list {
    padding: 5px;
    li {
      label {
        display: block;
      }
      .title {
        border: 1px solid #efefef;
        background: #efefef;
        font-size: 1.4rem;
        padding: 5px;
        margin: 5px;
        color: #666;
        text-align: center;
        input {
          display: none;
        }
      }
      input[type=radio] {
        display: none;
        &:checked + .title {
          background: #fff;
          border-color: $color-main;
          color: $color-main;
        }
      }
    }
  }
  .side-limit {
    background: #efefef;
    display: flex;
    vertical-align: middle;
    margin: 5px;
    .num {
      flex: 1;
      display: block;
      padding: 5px 10px;
    }
    .split {
      display: block;
      line-height: 30px;
    }
    input {
      border: 0;
      background: #fff;
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      text-align: center;
      height: 25px;
      line-height: 25px;
    }
  }

  .side-action {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    > * {
      flex: 1;
    }
  }
}


.dux-pro-list {
  .dux-pro-item {
    border-bottom:1px solid #ddd
  }

}