ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dux-box {
  background: #fff;
  margin-bottom:10px;
  .box-header {
    position: relative;
    padding: 10px;
    border-bottom:1px solid #ddd;
    color: #333;
    font-size:1.4rem;
    .more {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #999;
      font-size:1.4rem;
    }
    a {
      display: block;
    }
  }
}

.dux-br {
  display: block;
  height: 10px;
}

.dux-padding {
  padding: 10px;
}

.dux-pages {
  margin-top:1rem;
  padding: 12px 0;
  background-color: #FFF;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #e6e6e6;
  .prev,.number,.next {
    width: 32%;
    float: left;
    text-align: center;
    color: $color-main;
    margin: 0;
    padding: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    a {
      display: block;
      &:hover,&:focus,&:active {
        color: $color-main;
      }
    }
  }
  .prev {

  }
  .number {
    position: relative;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    select {
      margin: 0;
      line-height: 1.4;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      text-align: center;

    }

  }
  .next {

  }
}


.shop-count {
  display: flex;
  span,input {
    border: 1px solid #ccc;
    color: #232326;
    text-align: center;
    font-size:1.4rem;
    line-height: 27px;
    height: 27px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }
  span {
    width: 24px;
    overflow: hidden;
    line-height:24px;

  }
  input {
    font-family: arial;
    color: #333;
    border: solid #ccc;
    border-width: 1px 0 1px 0;
    width: 50px;
    &:focus,&:active {
      outline: none;
    }
  }
}

.dux-page-select {
  li {
    margin: 5px 0;
    &.active {
      border: 1px solid #ffdb86;
      background: #fff0e3;
      label {

        padding: 5px 10px;
      }
    }
    label {
      padding: 6px 11px;
      margin: 0;
    }
    input[type="radio"] {
      display: none;
    }
  }
}

article {
  table {
    font-size:1.1rem;
    border: 1px solid #ccc;
    th,td {
      border: 1px solid #ccc;
      padding: 10px 5px;
    }
  }
}


