/*********** 【心中有你】添加  **************/

/*vue  css*/

[v-cloak] {
	display: none;
}
/*角标*/
.x-jb {
	position: absolute;
	background: #dd4b39;
	/* z-index:999; */
	color: #fff;
	/*font-size: 12px;*/
	width: 80px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	top: 10px;
	left: -19px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*分割线*/
hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    background-color: #e2e2e2;
    clear: both;
}
/*定位*/
.x-dwr {position: relative;overflow: hidden;}
.x-dwa-lt {position:absolute; top: 0; left:0; z-index: 999;}
.x-dwa-rt {position:absolute; top: 0; right:0; z-index: 999;}
.x-dwa-lb {position:absolute; bottom: 0; left:0; z-index: 999;}
.x-dwa-rb {position:absolute; bottom: 0; right:0; z-index: 999;}
/*定位*/
/*显示隐藏*/
.x-yc{display:none;}
.x-xs{display:block;}
/*字体颜色*/
.x-tc-bai {color: #fff }
.x-tc-hui {color: #B5BBC8 }
.x-tc-hong {color: #D33724 }
.x-tc-heis {color: #1c2438 }
.x-tc-hei {color: #000 }
.x-tc-lan {color: #357CA5 }
.x-tc-qlan {color: #00A7D0 }
.x-tc-lv {color: #008D4C }
.x-tc-huang {color: #DB8B0B }
.x-tc-cheng {color: #FF7701 }
.x-tc-fen {color: #FF6086 }
.x-tc-taoh {color: #CA195A }
.x-tc-shenl {color: #001F3F }
.x-tc-zi {color: #555299 }
/*透明*/
.x-tm0 { filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0;}
.x-tm10 { filter:alpha(opacity=10); -moz-opacity:0.1; -khtml-opacity: 0.1; opacity: 0.1;}
.x-tm20 { filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; opacity: 0.2;}
.x-tm30 { filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.x-tm40 { filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4;}
.x-tm50 { filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.x-tm60 { filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.x-tm70 { filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.x-tm80 { filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.x-tm90 { filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;}
.x-tm100 { filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;}
/*透明*/
/*背景透明*/
[class^="x-bgc-"].x-tm1{opacity: 0.1;	filter: alpha(opacity=10);}
[class^="x-bgc-"].x-tm2{opacity: 0.2;	filter: alpha(opacity=20);}
[class^="x-bgc-"].x-tm3{opacity: 0.3;	filter: alpha(opacity=30);}
[class^="x-bgc-"].x-tm4{opacity: 0.4;	filter: alpha(opacity=40);}
[class^="x-bgc-"].x-tm5{opacity: 0.5;	filter: alpha(opacity=50);}
[class^="x-bgc-"].x-tm6{opacity: 0.6;	filter: alpha(opacity=60);}
[class^="x-bgc-"].x-tm7{opacity: 0.7;	filter: alpha(opacity=70);}
[class^="x-bgc-"].x-tm8{opacity: 0.8;	filter: alpha(opacity=80);}
[class^="x-bgc-"].x-tm9{opacity: 0.9;	filter: alpha(opacity=90);}
/*背景颜色*/
.x-bgc-bai {background-color: #fff ;	color: #333;}
.x-bgc-hui {background-color: #B5BBC8 ;	color: #fff;}
.x-bgc-hong {background-color: #D33724 ;	color: #fff;}
.x-bgc-heis {background-color: #1c2438 ;	color: #fff;}
.x-bgc-hei {background-color: #000 ;	color: #fff;}
.x-bgc-lan{background-color: #357CA5 ;	color: #fff;}
.x-bgc-qlan {background-color: #00A7D0 ;	color: #fff;}
.x-bgc-lv {background-color: #008D4C ;	color: #fff;}
.x-bgc-huang {background-color: #DB8B0B ;	color: #fff;}
.x-bgc-cheng {background-color: #FF7701 ;	color: #fff;}
.x-bgc-fen {background-color: #FF6086 ;	color: #fff;}
.x-bgc-taoh {background-color: #CA195A ;	color: #fff;}
.x-bgc-shenl {background-color: #001F3F ;	color: #fff;}
.x-bgc-zi {background-color: #555299 ;	color: #fff;}
.x-bgc-taoh a:link,.x-bgc-shenl a:link,.x-bgc-zi a:link,.x-bgc-lan a:link,.x-bgc-fen a:link,.x-bgc-cheng a:link,.x-bgc-huang a:link,.x-bgc-lv a:link,.x-bgc-hei a:link,.x-bgc-hong a:link,.x-bgc-hui a:link,.x-bgc-qlan a:link,.x-bgc-heis a:link {
	color: #fff ;
}
.x-bgc-bai a:link{color: #333 ;}
/*浮动*/
.x-fr {float: right ;}
.x-fl {float: left ;}
.x-cf {float: none ;}
.x-fi {float: inherit ;}
.x-fd-b {position: fixed;	bottom: 0;	z-index: 9999;}
.x-fd-t {position: fixed;	top: 0;	z-index: 9999;}
/*行间距*/
.x-lh-12 {line-height: 12px }
.x-lh-14 {line-height: 14px }
.x-lh-16 {line-height: 16px }
.x-lh-18 {line-height: 18px }
.x-lh-20 {line-height: 20px }
.x-lh-22 {line-height: 22px }
.x-lh-24 {line-height: 24px }
.x-lh-26 {line-height: 26px }
.x-lh-28 {line-height: 28px }
.x-lh-30 {line-height: 30px }
.x-lh-32 {line-height: 32px }
.x-lh-34 {line-height: 34px }
.x-lh-36 {line-height: 36px }
.x-lh-38 {line-height: 38px }
.x-lh-40 {line-height: 40px }
.x-lh-42 {line-height: 42px }
.x-lh-44 {line-height: 44px }
.x-lh-46 {line-height: 46px }
.x-lh-48 {line-height: 48px }
.x-lh-50 {line-height: 50px }
/*禁止换行*/
.x-t-no {	overflow: hidden;	white-space: nowrap;}
.x-t-no1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	/* 这里修改为要显示的行数*/
	-webkit-box-orient: vertical;
}
.x-t-no2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* 这里修改为要显示的行数*/
	-webkit-box-orient: vertical;
}
.x-t-no3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* 这里修改为要显示的行数*/
	-webkit-box-orient: vertical;
}
.x-t-no4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	/* 这里修改为要显示的行数*/
	-webkit-box-orient: vertical;
}
/*横向滚动*/
.x-gd-x {
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}
.x-gd-y {
	height: 250px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	resize: vertical;
}
/*文字左中右对齐*/
.x-tl {	text-align: left;}
.x-tc {	text-align: center;}
.x-tr {	text-align: right;}
/*边框线*/
.x-x-b:after{
	content: '';
	position: relative;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: #EDEDEE;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.x-x-t:before{
	content: '';
	position: relative;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: #EDEDEE;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.x-b-t {border-top: 1px solid #E4E3E6;}
.x-b-b {border-bottom: 1px solid #E4E3E6;}
.x-b-tb {border-top: #E4E3E6 1px solid;	border-bottom: #E4E3E6 1px solid;	background-image: none;}
.x-b-l {border-left: 1px solid #E4E3E6;}
.x-b-r {border-right: 1px solid #E4E3E6;}
.x-b-lr {border-right: 1px solid #E4E3E6;	border-left: 1px solid #E4E3E6;}
.x-b {border: 1px solid #E4E3E6;}
/*圆角*/
.x-b-yj {border: 1px solid #E4E3E6;	border-radius: 4px;}
.x-yj-0 {border-radius: 0px ;}
.x-yj-2 {border-radius: 2px ;}
.x-yj-4 {border-radius: 4px ;}
.x-yj-6 {border-radius: 6px ;}
.x-yj-8 {border-radius: 8px ;}
.x-yj-10 {border-radius: 10px ;}
/*圆形*/
.x-yuan {border-radius: 50% ;overflow: hidden;}
/*内边距  padding*/
.x-p-0 {padding: 0px ;}
.x-p-5 {padding: 5px ;}
.x-p-10 {padding: 10px ;}
.x-p-15 {padding: 15px ;}
.x-p-20 {padding: 20px ;}
.x-p-25 {padding: 25px ;}
.x-p-30 {padding: 30px ;}
.x-p-35 {padding: 35px ;}
.x-p-40 {padding: 40px ;}
.x-p-45 {padding: 45px ;}
.x-p-50 {padding: 50px ;}
.x-pt-0 {padding-top: 0px ;}
.x-pt-5 {padding-top: 5px ;}
.x-pt-10 {padding-top: 10px ;}
.x-pt-15 {padding-top: 15px ;}
.x-pt-20 {padding-top: 20px ;}
.x-pt-25 {padding-top: 25px ;}
.x-pt-30 {padding-top: 30px ;}
.x-pt-35 {padding-top: 35px ;}
.x-pt-40 {padding-top: 40px ;}
.x-pt-45 {padding-top: 45px ;}
.x-pt-50 {padding-top: 50px ;}
.x-pl-0 {padding-left: 0px ;}
.x-pl-5 {padding-left: 5px ;}
.x-pl-10 {padding-left: 10px ;}
.x-pl-15 {padding-left: 15px ;}
.x-pl-20 {padding-left: 20px ;}
.x-pl-25 {padding-left: 25px ;}
.x-pl-30 {padding-left: 30px ;}
.x-pl-35 {padding-left: 35px ;}
.x-pl-40 {padding-left: 40px ;}
.x-pl-45 {padding-left: 45px ;}
.x-pl-50 {padding-left: 50px ;}
.x-pr-0 {padding-right: 0px ;}
.x-pr-5 {padding-right: 5px ;}
.x-pr-10 {padding-right: 10px ;}
.x-pr-15 {padding-right: 15px ;}
.x-pr-20 {padding-right: 20px ;}
.x-pr-25 {padding-right: 25px ;}
.x-pr-30 {padding-right: 30px ;}
.x-pr-35 {padding-right: 35px ;}
.x-pr-40 {padding-right: 40px ;}
.x-pr-45 {padding-right: 45px ;}
.x-pr-50 {padding-right: 50px ;}
.x-pb-0 {padding-bottom: 0 ;}
.x-pb-5 {padding-bottom: 5px ;}
.x-pb-10 {padding-bottom: 10px ;}
.x-pb-15 {padding-bottom: 15px ;}
.x-pb-20 {padding-bottom: 20px ;}
.x-pb-25 {padding-bottom: 25px ;}
.x-pb-30 {padding-bottom: 30px ;}
.x-pb-35 {padding-bottom: 35px ;}
.x-pb-40 {padding-bottom: 40px ;}
.x-pb-45 {padding-bottom: 45px ;}
.x-pb-50 {padding-bottom: 50px ;}
.x-ptb-0 {padding-top: 0px ;	padding-bottom: 0px ;}
.x-ptb-5 {padding-top: 5px ;	padding-bottom: 5px ;}
.x-ptb-10 {padding-top: 10px ;	padding-bottom: 10px ;}
.x-ptb-15 {padding-top: 15px ;	padding-bottom: 15px ;}
.x-ptb-20 {padding-top: 20px ;	padding-bottom: 20px ;}
.x-ptb-25 {padding-top: 25px ;	padding-bottom: 25px ;}
.x-ptb-30 {padding-top: 30px ;	padding-bottom: 30px ;}
.x-ptb-35 {padding-top: 35px ;	padding-bottom: 35px ;}
.x-ptb-40 {padding-top: 40px ;	padding-bottom: 40px ;}
.x-ptb-45 {padding-top: 45px ;	padding-bottom: 45px ;}
.x-ptb-50 {padding-top: 50px ;	padding-bottom: 50px ;}
.x-plr-0 {padding-left: 0px ;	padding-right: 0px ;}
.x-plr-5 {padding-left: 5px ;	padding-right: 5px ;}
.x-plr-10 {padding-left: 10px ;	padding-right: 10px ;}
.x-plr-15 {padding-left: 15px ;	padding-right: 15px ;}
.x-plr-20 {padding-left: 20px ;	padding-right: 20px ;}
.x-plr-25 {padding-left: 25px ;	padding-right: 25px ;}
.x-plr-30 {padding-left: 30px ;	padding-right: 30px ;}
.x-plr-35 {padding-left: 35px ;	padding-right: 35px ;}
.x-plr-40 {padding-left: 40px ;	padding-right: 40px ;}
.x-plr-45 {padding-left: 45px ;	padding-right: 45px ;}
.x-plr-50 {padding-left: 50px ;	padding-right: 50px ;}
/*外边距  margin*/
.x-m-0 {margin: 0px ;}
.x-m-5 {margin: 5px ;}
.x-m-10 {margin: 10px ;}
.x-m-15 {margin: 15px ;}
.x-m-20 {margin: 20px ;}
.x-m-25 {margin: 25px ;}
.x-m-30 {margin: 30px ;}
.x-m-35 {margin: 35px ;}
.x-m-40 {margin: 40px ;}
.x-m-45 {margin: 45px ;}
.x-m-50 {margin: 50px ;}
.x-mt-0 {margin-top: 0px ;}
.x-mt-5 {margin-top: 5px ;}
.x-mt-10 {margin-top: 10px ;}
.x-mt-15 {margin-top: 15px ;}
.x-mt-20 {margin-top: 20px ;}
.x-mt-25 {margin-top: 25px ;}
.x-mt-30 {margin-top: 30px ;}
.x-mt-35 {margin-top: 35px ;}
.x-mt-40 {margin-top: 40px ;}
.x-mt-45 {margin-top: 45px ;}
.x-mt-50 {margin-top: 50px ;}
.x-ml-0 {margin-left: 0px ;}
.x-ml-5 {margin-left: 5px ;}
.x-ml-10 {margin-left: 10px ;}
.x-ml-15 {margin-left: 15px ;}
.x-ml-20 {margin-left: 20px ;}
.x-ml-25 {margin-left: 25px ;}
.x-ml-30 {margin-left: 30px ;}
.x-ml-35 {margin-left: 35px ;}
.x-ml-40 {margin-left: 40px ;}
.x-ml-45 {margin-left: 45px ;}
.x-ml-50 {margin-left: 50px ;}
.x-mr-0 {margin-right: 0px ;}
.x-mr-5 {margin-right: 5px ;}
.x-mr-10 {margin-right: 10px ;}
.x-mr-15 {margin-right: 15px ;}
.x-mr-20 {margin-right: 20px ;}
.x-mr-25 {margin-right: 25px ;}
.x-mr-30 {margin-right: 30px ;}
.x-mr-35 {margin-right: 35px ;}
.x-mr-40 {margin-right: 40px ;}
.x-mr-45 {margin-right: 45px ;}
.x-mr-50 {margin-right: 50px ;}
.x-mb-0 {margin-bottom: 0px ;}
.x-mb-5 {margin-bottom: 5px ;}
.x-mb-10 {margin-bottom: 10px ;}
.x-mb-15 {margin-bottom: 15px ;}
.x-mb-20 {margin-bottom: 20px ;}
.x-mb-25 {margin-bottom: 25px ;}
.x-mb-30 {margin-bottom: 30px ;}
.x-mb-35 {margin-bottom: 35px ;}
.x-mb-40 {margin-bottom: 40px ;}
.x-mb-45 {margin-bottom: 45px ;}
.x-mb-50 {margin-bottom: 50px ;}
.x-mtb-0 {margin-top: 0px ;	margin-bottom: 0px ;}
.x-mtb-5 {margin-top: 5px ;	margin-bottom: 5px ;}
.x-mtb-10 {margin-top: 10px ;	margin-bottom: 10px ;}
.x-mtb-15 {margin-top: 15px ;	margin-bottom: 15px ;}
.x-mtb-20 {margin-top: 20px ;	margin-bottom: 20px ;}
.x-mtb-25 {margin-top: 25px ;	margin-bottom: 25px ;}
.x-mtb-30 {margin-top: 30px ;	margin-bottom: 30px ;}
.x-mtb-35 {margin-top: 35px ;	margin-bottom: 35px ;}
.x-mtb-40 {margin-top: 40px ;	margin-bottom: 40px ;}
.x-mtb-45 {margin-top: 45px ;	margin-bottom: 45px ;}
.x-mtb-50 {margin-top: 50px ;	margin-bottom: 50px ;}
.x-mlr-0 {margin-left: 0px ;	margin-right: 0px ;}
.x-mlr-5 {margin-left: 5px ;	margin-right: 5px ;}
.x-mlr-10 {margin-left: 10px ;	margin-right: 10px ;}
.x-mlr-15 {margin-left: 15px ;	margin-right: 15px ;}
.x-mlr-20 {margin-left: 20px ;	margin-right: 20px ;}
.x-mlr-25 {margin-left: 25px ;	margin-right: 25px ;}
.x-mlr-30 {margin-left: 30px ;	margin-right: 30px ;}
.x-mlr-35 {margin-left: 35px ;	margin-right: 35px ;}
.x-mlr-40 {margin-left: 40px ;	margin-right: 40px ;}
.x-mlr-45 {margin-left: 45px ;	margin-right: 45px ;}
.x-mlr-50 {margin-left: 50px ;	margin-right: 50px ;}
/*字体大小*/
.x-f8 {	font-size: 8px ;}
.x-f10 {font-size: 10px ;}
.x-f12 {font-size: 12px ;}
.x-f14 {font-size: 14px ;}
.x-f16 {font-size: 16px ;}
.x-f18 {font-size: 18px ;}
.x-f20 {font-size: 20px ;}
.x-f22 {font-size: 22px ;}
.x-f24 {font-size: 24px ;}
.x-f26 {font-size: 26px ;}
.x-f28 {font-size: 28px ;}
.x-f30 {font-size: 30px ;}
.x-f32 {font-size: 32px ;}
.x-f34 {font-size: 34px ;}
.x-f36 {font-size: 36px ;}
.x-f38 {font-size: 38px ;}
.x-f40 {font-size: 40px ;}
/* 响应式图片和视频 */
.x-img-auto, .x-sp-auto {	display: block;	max-width: 100%;	height: auto;}
/*嵌入式视频的父元素上添加类*/
.x-qr-sp {	position: relative;	height: 0;	padding-bottom: 56.25%;	overflow: hidden;}
.x-qr-sp iframe, .x-qr-sp object, .x-qr-sp embed {	position: absolute;	top: 0;	left: 0;width: 100%;height: 100%;}

/**
 * =============================================================================
 * ************   Shadow 阴影   ************
 * =============================================================================
 */

.x-yy-0 {
	box-shadow: none ;
}
.x-yy-1 {
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}
.x-yy-2 {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.x-yy-3 {
	box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.x-yy-4 {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.x-yy-5 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}
.x-yy-6 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.x-yy-7 {
	box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
}
.x-yy-8 {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}
.x-yy-9 {
	box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12);
}
.x-yy-10 {
	box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
}
.x-yy-11 {
	box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12);
}
.x-yy-12 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
}
.x-yy-13 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
}
.x-yy-14 {
	box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12);
}
.x-yy-15 {
	box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12);
}
.x-yy-16 {
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
}
.x-yy-17 {
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12);
}
.x-yy-18 {
	box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
}
.x-yy-19 {
	box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12);
}
.x-yy-20 {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12);
}
.x-yy-21 {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12);
}
.x-yy-22 {
	box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12);
}
.x-yy-23 {
	box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12);
}
.x-yy-24 {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}
/* 鼠标悬浮时加深阴影 */
.x-sb-yy {
	transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1);
	will-change: box-shadow;
}
.x-sb-yy:hover, .x-sb-yy:focus {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

/*兼容手机端样式*/
@media (max-width: 767px) {
	/*角标*/
	.x-jb {height: 18px; line-height: 18px;	top: 12px;left: -20px;}

}


