{extend name="config/base"/}

{block name="body"}

    <div id="center">
        <div id="center_base">


            <ul class="nav nav-secondary">
                <li class="active"><a href="#base" data-toggle="tab">{:lang('_SCORE_MY_')}</a></li>
                <li>
                    <a href="#level" data-toggle="tab">{:lang('_GRADE_EXPERIENCE_')}</a>
                </li>
                <li>
                    <a href="#rule" data-toggle="tab">{:lang('_SCORE_RULE_')}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="base">
                    <div class="with-padding" style="padding: 20px">
                        <div class="col-xs-8">
                            <div class="panel">
                                <div class="panel-heading">{:lang('_SCORE_NOW_')}</div>
                                <ul class="list-group">
                                    {volist name="scores" id="vo"}
                                        <li class="list-group-item">{$vo.title}：{$vo.value} {$vo.unit}</li>
                                    {/volist}
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="level">
                    <div class="with-padding" style="padding: 20px">
                        <div class="col-xs-8">
                            <div class="panel">
                                <div class="panel-heading">{:lang('_EXPERIENCE_UPGRADE_')}</div>
                                <ul class="list-group">
                                    <li class="list-group-item">{$level}</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div>
                                {:lang('_EXPERIENCE_NOW_')}{:lang('_COLON_')}{$self.score}
                            </div>
                            <div>{:lang('_GRADE_NOW_')}{:lang('_COLON_')}{$self.title}</div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane" id="rule">
                    <div class="with-padding" style="padding: 20px">
                        {volist name="action_module" id="m"}
                            <div class="panel">
                                <div class="panel-heading">{$m.module.alias|default=lang('_SYSTEM_')}</div>
                                <div class="list-group">
                                    {volist name="m.action" id="vo"}
                                        <if condition="$vo['rule_array'] neq false">
                                            <a class="list-group-item"><h4 class="list-group-item-heading"><strong>{$vo.title}
                                                ：</strong></h4>
                                                {volist name="vo.rule_array" id="r"}
                                                    <p class="list-group-item-text">
                                                        {:lang('_PER_TIMES_')}{:lang('_BRACKETS_LEFT_')}{$r.score.title}{:lang('_BRACKETS_RIGHT_')}{:lang('_BRACKETS_LEFT_')}{$r.rule}{:lang('_BRACKETS_RIGHT_')}{$r.score.unit}
                                                        {:lang('_COMMA_')}{:lang('_PER_')}{:lang('_BRACKETS_LEFT_')}{$r.cycle}{:lang('_BRACKETS_RIGHT_')}{:lang('__HOUR_MOST_')}{:lang('_BRACKETS_LEFT_')}{$r.max}{:lang('_BRACKETS_RIGHT_')}{:lang('_TIMES_')}</p>
                                                {/volist}
                                            </a>
                                        </if>
                                    {/volist}
                                </div>
                            </div>
                        {/volist}

                    </div>
                </div>
            </div>
            <div class="row">

            </div>


        </div>
    </div>

{/block}