
<div class="page-header">
  <h1> 系统配置 <small> <i class="icon-double-angle-right"> &nbsp;</i> <a data-title="系统" data-url="/Admin/<{$controller}>/save" data-type="form" href="javascript:void(0)" class="open_dialog">添加</a> </small> </h1>
</div>
<!-- /.page-header -->
<div class="row">
  <div class="col-xs-12"> 
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="30">ID</th>
                <th width="200">名称</th>
                <th width="200">KEY</th>
                <th width="200">VAL</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            <{foreach from=$data item=item}>
            <tr>
              <td><{$item->id}></td>
              <td><{$item->name}></td>
              <td><{$item->key}></td>
              <td><{$item->value}></td>
              <td><a href="javascript:void(0)" class="open_dialog"  data-type="form" data-url="/Admin/<{$controller}>/save/id/<{$item->id}>" data-title="编辑配置">编辑</a> <a href="javascript:void(0)" class="delete" data-url="/Admin/<{$controller}>/del/id/<{$item->id}>" data-message="您确定要删除吗?">删除</a></td>
            </tr>
            <{/foreach}>
              </tbody>
            
          </table>
        </div>
        <!-- /.table-responsive --> 
      </div>
      <!-- /span --> 
    </div>
    <!-- /row --> 
    <{include file="elements/page.html"}> 
    <!-- PAGE CONTENT ENDS --> 
  </div>
  <!-- /.col --> 
</div>
<!-- /.row --> 
