<style>
/*添加*/
table {
	font-size:12px;
	color:#333333;
	font-family:"微软雅黑";
}
.col-sm-9 div {
	margin:2px auto
}
</style>
<div class="row">
  <div class="col-xs-12">
    <form method="post" class="form-horizontal" name="<{$controller}>_<{$action}>_form"
			id="<{$controller}>_<{$action}>_form"
			action="/Admin/<{$controller}>/save/id/<{if isset($data)}><{$data->id}><{/if}>">
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"
					for="form-field-1">配置名称</label>
        <div class="col-sm-9">
          <input type="text" value="<{if isset($data)}><{$data->name}><{/if}>" id="form-field-2"
						 name="name" class="col-xs-10 col-sm-5" />
          <span class="help-inline col-xs-12 col-sm-7"> </span> </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"
					for="form-field-1">KEY</label>
        <div class="col-sm-9">
          <input type="text" value="<{if isset($data)}><{$data->key}><{/if}>" id="form-field-2"
						 name="key" class="col-xs-10 col-sm-5" />
          <span class="help-inline col-xs-12 col-sm-7"> </span> </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"
					for="form-field-1">VALUE</label>
        <div class="col-sm-9">
          <input type="text" value="<{if isset($data)}><{$data->value}><{/if}>" id="form-field-2"
						 name="value" class="col-xs-10 col-sm-5" />
          <span class="help-inline col-xs-12 col-sm-7"> </span> </div>
      </div>
    </form>
  </div>
</div>
