/*-------------------------------成员管理--------------------------------------*/
/*-----------------------标题栏-------------------------*/

/*项目拥有者名字盒子*/
#left-memberInfo img {
  margin-right: 0.2em;
}

/*项目拥有者的姓名*/
#owner-name {
  color: #3c3c3c;
  position: relative;
  top: 0.5em;
  font-size: 1.75em;

}

/*‘项目拥有者’这几个字*/
#owner-flag {
  color: #3c3c3c;
  position: relative;
  font-size: 0.2em;
  left: 0.2em;
  top: 1.2em;
}

/*切换选择盒子*/
#right-switch {
  float: right;
  position: relative;
  top: -1em;
}

/*装‘成员列表’和‘添加成员’几个字的盒子*/
#right-switch div {
  font-size: 1.4em;
  position: relative;
  top: -0.5em;
}

/*‘成员列表’和‘添加成员’几个字的样式*/
#right-switch a {
  cursor: pointer;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/*‘or’字的样式*/
#right-switch span {
  color: #0000ff;
}

/*‘成员列表’这几个字的默认样式，通过点击会有变化*/
#member-list-switch {
  color: #000000;
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 0.15em solid #cc0000;
}

/*‘添加成员’这几个字的默认样式，通过点击会有变化*/
#member-add-switch {
  color: #888888;
  text-decoration: none;
}
/*----------------------成员面板------------------------*/
.member-setting-panel {

}

.member-setting-panel .panel-heading {
  color: white;
}

/*------------------成员列表--------------------*/
.member-setting-list {

}

/*------------单成员列--------------*/
.member-setting-list li {
}

/*成员头像*/
.member-setting-list li img.member-head {
  height: 2em;
  width: 2em;
}

#owner-head {
  height: 3em;
  width: 3em;
}

/*成员名*/
.member-setting-list li .member-name {

}


/*-----列右边部分-----*/
.member-setting-list li .right-box {
  margin-right: 1.2em;
  float: right;

}

/*权限设置*/
.member-setting-list li .right-box #role-selection {
  display: inline-block;
  width: 8em;
  margin-right: .8em;

}

/*删除键*/
.member-setting-list li .right-box .member-cancel {

}

/*确认添加按钮*/
#bug-fix-by-btn {
  clear: both;
}

/*---------------没有权限时的提示----------------*/
/*‘只有创建者或管理员有修改权’几个字的样式*/
#unModify {
  text-align: right;
  padding-right: 0.6em;
}

/*没有权限添加的提示盒子*/
#unAdd {
  padding: 2.5em;
  background-color: #f6f6f6;
  border-radius: 1em;
  text-align: center;
}

/*提示信息*/
#unAdd .unAdd-hint {
  font-size: larger;
  color: #428bca;
}


/*---------------装饰----------------*/
#member-decoration {
  position: relative;
  text-align: left;
  padding-left: 50px;
  background-size: 28px 17px;
  background-position: 4% 0%;
  background: url(../image/member-dec.png) no-repeat;
}