


/*-----------------------project------------------------*/

#project-content h1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

/*---------------单个项目项--------------*/
.project-item{
  text-align: center;
  width: 90%;
}

.project-item:hover {
  background-color: #f2f5e9;
}

.project-item i.project-image{
  font-size: 4.5em;
  color: #99cccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item h4 {
  padding-bottom: 15px;
  color: #999999;
}

#project-list a:hover {
  text-decoration: none;
  cursor: pointer;
}