#project-desktop hr {
  margin-top: .5em;
  margin-bottom: .7em;
}

#project-desktop h3 {
  display: inline;
}

#project-desktop .desktop-breadcrumb {
  display: inline;

  background-color: white;
  margin: 0 0 0 .5em;
  padding: 0;
}

#project-desktop .desktop-breadcrumb .main-crumb {
  font-weight: bolder;
}