
div#task-content {
  /*workaround:用具体值设置其高度*/
  /*min-height: 1280px;*/
}
/*---------------------任务信息框---------------------*/

div.infoView {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 100;
  height: 100%;


}




/*------------任务信息弹出动画--------------*/
/*定义CSS动画*/



/*弹出效果*/
@keyframes popout-enter {
  from {right: -500px;}
  to {right: 0;}
}

@-webkit-keyframes popout-enter {  /* Safari and Chrome */
  from {right: -500px;}
  to {right: 0}
 }

@-moz-keyframes popout-enter {   /* Firefox */
  from {right: -500px;}
  to {right: 0}
 }

@-o-keyframes popout-enter {    /* Opera*/
  from {right: -500px;}
  to {right: 0}
 }

/*弹入效果*/
@keyframes popout-leave {
  from {right: 0;}
  to {right: -500px; }
}

@-webkit-keyframes popout-leave {
  from {right: 0;}
  to {right: -500px;}
 }

@-moz-keyframes popout-leave {
  from {right: -500px;}
  to {right: 0}
}

@-o-keyframes popout-leave {
  from {right: -500px;}
  to {right: 0}

 }

div.infoView.ng-enter  {
  animation: 0.5s popout-enter;
  -webkit-animation: 0.5s popout-enter;
  -moz-animation: 0.5s popout-enter;
  -o-animation: 0.5s popout-enter;
}

div.infoView.ng-leave {
  animation: 0.5s popout-leave;
  -webkit-animation: 0.5s popout-leave;
  -moz-animation: 0.5s popout-leave;
  -o-animation: 0.5s popout-leave;
}


/*------------------------任务列表----------------------*/
#all-task div.panel-body {
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
  margin: -1;
}

#all-task .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#all-task ul.list-group {
  margin-bottom: 0
}

#all-task li.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

#all-task ul.list-group li.list-group-item {
  margin: 0;
}


/*-----------任务列表下拉动画-------------*/

@keyframes dropout {
  from {opacity: 0.7;}
  to {opacity: 1;}
}

@-webkit-keyframes dropout {
  from {opacity: 0.7;}
  to {opacity: 1;}
 }

@-moz-keyframes dropout {
   from {opacity: 0.7;}
   to {opacity: 1;}

 }
@-o-keyframes dropout {
   from {opacity: 0.7;}
   to {opacity: 1;}

 }


/*

@keyframes dropin {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-webkit-keyframes dropin {
  from {opacity: 1;}
  to {opacity: 0;}
}*/

.task-list .task-body.ng-hide-remove {
  animation: 2s dropout;
  -webkit-animation: 2s dropout;
  -moz-animation: 2s dropout;
  -o-animation: 2s dropuout;
}

/*
.task-list .task-body.ng-hide-add {
  animation: 2s dropin;
  -webkit-animation: 2s dropin;
}


*/

/*------------------------任务信息框-----------------*/
div.task-more {
}

div.task-more hr {
  margin-top: 10px;
  margin-bottom: 15px;
}


div.task-more .sub-task ul {
  list-style: none;
}

div.task-more h5 {
  color: #8d8d8d;
}

/*------------任务激活时的样式-----------------------*/
.task-list .taskOpen {
  background-color: #428bca;
  color: white;
}