/*-------------------------------------任务详细信息样式--------------------------------*/

.task-info-box {
  height: 90%;
  width: 580px;
  background-color: #fafafa;
  overflow: scroll;
  padding: 20px 10px 20px 40px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/*
.task-info-box hr{
  border-top-color: #8d8d8d;
  max-width: 28em;
  position: relative;
  left: -1.7em;
}*/

/*----------------------------------任务内容---------------------------------*/
.task-info-item-content{
  margin-left: 1em;
}
#task-info-content {

}

#task-info-content h1 {
  font-size: 1.2em;

}

/*任务项通用*/
#task-info-content .task-info-item {

}

#task-info-content .task-info-item h2 {
  font-size: 1em;
  color: #8d8d8d;
  font-weight: bold;
}

#task-info-content .task-info-item .task-label {
  font-size: 1em;
  color: #8d8d8d;
  font-weight: bold;
  margin-right: 10px;
}

/*----------------------任务描述-------------------------*/
#task-description .task-description {
  cursor: pointer;
}


/*-----------------------参与者----------------------------*/
#task-member {
  height: 2em;
  clear: both;
}

/*-----------------------子任务---------------------------*/
#task-children {

}

#task-children ul {
  list-style: none;
  padding-left: 0;
}

#task-children a {
  color: black;
}

/*-----------------------任务截止时间----------------------*/
#task-deadline {

}


/*-----------------------任务状态------------------------*/
#task-status {

}

.task-info-item select {
  display: inline-block;
  width: 50%;
}

