<div class="footer-bar">
    <div class="container">
        <div class="col-md-8">
            <div class="common-aboutus">
                {:modC('ABOUT_US',L('_NOT_SET_NOW_'),'Config')}
            </div>
        </div>
        <div class="col-md-4">
            <div class="common-followus">
                {:modC('SUBSCRIB_US',L('_NOT_SET_NOW_'),'Config')}
            </div>
        </div>

        <div class="col-md-12">
        <div class="text-center">
                <h4> {:modC('COPY_RIGHT',L('_NOT_SET_NOW_'),'Config')}</h4>
                <div class="col-xs-12">{:L('_RECORD_N_')}<a href="http://www.miitbeian.gov.cn/" target="_blank">
                    {:modC('ICP',L('_NOT_SET_NOW_'),'Config')} </a>
                </div>
        </div>
        </div>
    </div>
</div>
<!-- 页面footer钩子 -->
{:hook('pageFooter', 'widget')}
<!-- 调用全站公告部件-->
{:W('Common/Announce/render')}
<!-- 调用消息部件-->
{:W('Common/Message/render')}
<!-- 用于加载统计代码等隐藏元素 -->
<div class="hidden">
    <block name="hidden"></block>
    {:C('COUNT_CODE')}
</div>

