#menu-wrapper {
	position:relative !important;
}
.wrapper {
margin-top: 80px !important;
}
#content{
	margin-top:40px !important;
}
#slideshow{
	padding-top:-5px !important;
}
#slideshow-shadow{display:none !important;}
#copyright-text{margin-top:30px !important}
#header-container {background-image: none !important}
#country select{width:128px;}
#email input{width:321px;}
.backtop{display:none;}
.lang_sel_listt{
	position:static !important;
}