<div class="col-xs-12">
	{% for key,value in themes %}
	<div class="profile-activity clearfix">
		<div>
			<i class="pull-left thumbicon icon-picture btn-info no-hover"></i> <a
				href="#" class="user"> Alex Doe </a> uploaded a new photo. <a
				href="#">Take a look</a>

			<div class="time">
				<i class="icon-time bigger-110"></i> 5 hours ago
			</div>
		</div>

		<div class="tools action-buttons">
			<a class="blue" href="#"> <i class="icon-pencil bigger-125"></i>
			</a> <a class="red" href="#"> <i class="icon-remove bigger-125"></i>
			</a>
		</div>
	</div>
	{% endfor %}
</div>