<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dicts" >
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.name" />
		</td>
		<td>
		{area.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.shortname" />
		</td>
		<td>
		{area.shortname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.code" />
		</td>
		<td>
		{area.code}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.sort" />
		</td>
		<td>
		{area.sort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.image" />
		</td>
		<td>
		{area.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.remarks" />
		</td>
		<td>
		{area.remarks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dicts_domain_model_area.spare1" />
		</td>
		<td>
		{area.spare1}
		</td>
	</tr>
</table>
</html>