/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'open_sansregular';
      src:url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}
body {
	font-family: 'open_sansregular';
	background:#ffffff;
	font-size: 100%;
	min-width:1000px;
}
/* start header */
.header_bg{
	border-top:8px groove #3b3b3b;
	background: #ffffff;
}
.header_bg1 {
	border-top:8px groove #3b3b3b;
	background: url('../images/slider_bg.jpg') no-repeat  left;
	background-size: 100%;
}
.header{
	padding: 2% 0;
}
.logo h1 a{
	font-size: 1em;
	text-transform: uppercase;
	color: #3B3B3B;
	text-decoration: none;
	font-family: 'texgyreadventorregular';
}
/* search */
.h_search{
	width: 30%;
	position: relative;
	margin-top: 2%;
}
.h_search form{
	width: 100%;
}
.h_search form input[type="text"]{
	font-family: 'open_sansregular';
	padding: 10px 16px;
	outline: none;
	color: #c6c6c6;
	font-size: 13px;
	border: 1px solid rgb(236, 236, 236);
	background: #FFFFFF;
	width: 73.333%;
	line-height: 22px;
	position: relative;
	-webkit-appearance: none;
}
.h_search form input[type="submit"]{
	font-family: 'open_sansregular';
	background: #3B3B3B;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 26.333%;
	position: absolute;
	line-height: 1.5em;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-appearance: none;
}
.h_search form input[type="submit"]:hover {
	background: #FF5454;
}
/* menu */
.h_menu{
	padding: 0;
	background: #3B3B3B;
}
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0px;
	border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #3B3B3B;
	color: #ffffff;
	padding: 0;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
	background: #FF5454;
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav > li {
	border-right: 1px solid rgb(39, 37, 37);
}
.nav > li > a {
	font-size: 13px;
	padding: 20px 30px;
	text-transform: uppercase;
}
/* start soc_icons */
.soc_icons {

}
.soc_icons ul{
	margin-bottom: 0;
}
.soc_icons ul li{
	display:inline-block;
	border-left: 1px solid rgb(39, 37, 37);
	margin-left: -3px;
}
.soc_icons ul li a{
	color:#ffffff;
	font-size: 13px;
	display: block;
	line-height: 60px;
	width: 80px;
	height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.soc_icons ul li a:hover{
	background: #FF5454;
}
/* start slider */
.slider_bg{
	background: url('../images/slider_bg.jpg') no-repeat;
	background-size: 100%;
}
.slider{
	padding: 4%;
}
/* start main */
.main_bg{
	background: #ffffff;
}
.main{
	padding: 5% 0;
}
.images_1_of_4 img{
	display: inline-block;
}
.images_1_of_4 h4 {
	margin: 30px 0 15px;
}
.images_1_of_4 h4 a{
	display:inline-block;
	color: #353535;
	font-size: 1.5em;
	font-family: 'texgyreadventorregular';
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.images_1_of_4 h4 a:hover{
	text-decoration:none;
	color: #ff5454;
}
.images_1_of_4  span{
	width: 120px;
	height: 120px;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.bg{
	background: #3b3b3b;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	-o-border-radius: 75px;
}
.images_1_of_4  span i{
	font-size: 6em;
	color: #e0e0e0;
	line-height: 2em;
	text-shadow: 1px 1px 0px #3b3b3b;
	-webkit-text-shadow: 1px 1px 0px #3b3b3b;
	-moz-text-shadow: 1px 1px 0px #3b3b3b;
	-o-text-shadow: 1px 1px 0px #3b3b3b;
	-ms-text-shadow: 1px 1px 0px #3b3b3b;
}
.para{
	font-size: 14px;
	line-height: 1.8em;
	color: #868686;
}
.images_1_of_4 a{
	position: relative;
	z-index: 1;
}
/* Button 1 */
.fa-btn {
	font-size: 14px;
	background: none;
	cursor: pointer;
	padding: 12px 40px;
	display: inline-block;
	margin: 10px 0px;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.fa-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	border: 2px solid #ff5454;
	color: #3b3b3b;
}
/* Button 1e */
.btn-1e {
	overflow: hidden;
}
.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #ff5454;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover,.btn-1e:active {
	color: #ffffff;
	text-decoration:none;
}
.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}
.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}
/* start main_btm */
.main_btm{
	background: #FFFFFF;
	border-top: 1px solid rgb(233, 233, 233);
}
.content_right h4{
	color: #353535;
	font-size: 2.5em;
	font-family: 'texgyreadventorregular';
	line-height: 1.5em;
}
.content_right h4 span{
	color: #ff5454;
}
.content_right a{
	position: relative;
	z-index: 1;
}
/* start footer */
.footer_bg{
	background: #f6f6f6;
}
.footer{
	padding: 4%;
}
.copy p{
	color: #3b3b3b;
	font-size: 14px;
	line-height: 1.8em;
}
.copy p a{
	color:#ff5454;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.copy p a:hover{
	color: #3b3b3b;
	text-decoration: none;
}
/* start about */
.about{
	padding: 4% 0;
}
.about h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color:#3b3b3b;
	font-family: 'texgyreadventorregular';
}
.about a{
	position: relative;
	z-index: 1;
}
/* start  technology */
.technology{
	padding: 4% 0;
}
.technology h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color: #3b3b3b;
	font-family: 'texgyreadventorregular';
}
.technology h4{
	font-size: 22px;
	color: #5b5b5b;
	font-weight: 100;
	text-transform: capitalize;
	display: block;
	margin:10px 0 8px;
}
.tech_para{
	padding-left: 0;
	padding-right: 0;
}
.technology_list1{
	margin-top: 30px;	
}
.pagination > li > a, .pagination > li > span {
	font-size: 16px;
	padding: 10px 16px;
	color: #BDBDBD;
	background-color: #3b3b3b;
	border: 1px solid #2C2929;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #FFFFFF;
	background-color: #ff5454;
	border-color: #DA4A4A;
}
.alert {
	font-size: 13px;
}
.alert-warning {
	color: #3b3b3b;
	background-color: #F3F3F3;
	border-color: #E2E2E2;
}
/* start blog */
.blog_left{
	display: block;
}
.blog_img{
	margin: 4% 0 2%;
}
.blog_left img{
	width:100%;
}
.blog_left h4 a{
	margin:0 0 20px;
	
	display: block;
	text-transform: capitalize;
	font-size: 1.5em;
	color: #3b3b3b;
	font-family: 'texgyreadventorregular';
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog_left h4 a:hover{
	text-decoration: none;
	color: #ff5454;
}
.blog_list{

}
.blog_list ul li{
	display:inline-block;
	margin-left: 10px;
}
.blog_list ul li:first-child{
	margin-left: 0;
}
.blog_list li a{
	display: block;
	padding: 4px 8px;
	color: #b6b6b6;
	text-transform: capitalize;
}
.blog_list ul li i{
	font-size: 15px;
	color: #b6b6b6;
}
.blog_list li span{
	padding-left:10px;
	font-size: 14px;
	color: #b6b6b6;
}
.blog_list li span:hover,.blog_list li a:hover{
	color: #ff5454;
	text-decoration: none;
}

.read_more a{
	position: relative;
	z-index: 1;
}
.blog_right h4{
	text-transform: capitalize;
	font-size: 2em;
	color: #3b3b3b;
	font-family: 'texgyreadventorregular';
	margin-bottom: 15px;
}
/* start Social Likes */
.social_network_likes {
	text-align: center;
}
.social_network_likes li{
	width: 35%;
	display: inline-block;
	margin-left: -4px;
}
.social_network_likes li:first-child{
	margin-left: 0;
}
.social_network_likes li a{
	display:block;
	color:#FFF;
	font-size: 1.5em;
	text-transform:capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.social_network_likes li a p{
	padding: 25px 0px 15px 0;
	font-size: 14px;
}
.social_network_likes li a span{
	display:block;
	font-size: 24px;
}
.social_network_likes li a div.followers{
	border-bottom:1px solid #FFFFFF;
}
.social_network_likes li a:hover{
	text-decoration: none;
}
.social_network_likes li:first-child a {
	border-left:none;
}
.social_network_likes li a.tweets{
	background:#34CCFF;
}
.social_network_likes li a.tweets:hover{
  background:#2DC0F1;
}
.social_network_likes li a.facebook-followers{
	background:#3B5A99;
}
.social_network_likes li a.facebook-followers:hover{
	background:#33518D;
}
.social_network_likes li a.email{
	background:#27c1b9;
}
.social_network_likes li a.email:hover{
  background:#0BB1A8;
}
.social_network_likes li a.dribble{
	background:#EB4D89;
}
.social_network_likes li a.dribble:hover{
  background:#E04580;
}
.social_network_likes li a div.social_network{
	padding:15px 0 10px;
}
.social_network i{
	width:45px;
	height:45px;
	display:block;
	background:url(../images/social-icons.png) no-repeat;	
	margin:0 auto;
}
.social_network i.twitter-icon{
	background-position: 0px 0px;
}
.social_network i.facebook-icon{
	background-position: -47px 0px;
}
.social_network i.email-icon{
	background-position: -104px 0px;
}
.social_network i.dribble-icon{
	background-position: -156px 0px;
}
/* start ads_nav */
.ads_nav{
	margin-top: 30px;
}
.ads_nav li{
	float: left;
	width: 60%;
	margin:0 0 15px 15px;
}
.ads_nav li:nth-child(2),.ads_nav li:nth-child(4){
	margin-left: 0;
}
.ads_nav li a{
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ads_nav li a img{
	width: 100%;
}
.ads_nav li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
/* start tag_nav */
.tag_nav {
	margin: 8% 0;
}
.tag_nav li{
	margin:10px 5px 0 0;
	display: inline-block;
}
.tag_nav li a{
	display: block;
	text-transform: capitalize;
	background: #3b3b3b;
	color: #ffffff;
	font-size: 13px;
	padding: 8px 14px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tag_nav li.active a,.tag_nav li a:hover{
	background: #ff5454;
	color: #ffffff;
	text-decoration:none;
}
/* start news_letter */
.news_letter{
	margin: 8% 0;
}
.news_letter form input[type="text"]{
	font-family: 'open_sansregular';
	font-weight:100;
	padding: 10px;
	display: block;
	width: 100%;
	background: #ffffff;
	outline: none;
	color: #555555;
	font-size: 13px;
	border: 1px solid #DADADA;
	-webkit-appearance: none;
}
.news_letter form span{
	position: relative;
	z-index: 1;
}
.news_letter form input[type="submit"]{
	-webkit-appearance: none;
	cursor:pointer;
	border:none;
	outline:none;
	background: none;
}
/* start contact */
.company_ad h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color:#3b3b3b;
	font-family: 'texgyreadventorregular';
}
.company_ad p{
	font-size: 14px;
	color: #3b3b3b;
}
.company_ad p a {
	color: #ff5454;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.company_ad p a:hover{
	text-decoration:none;
	color: #3b3b3b;
}
.contact-form h2{
	margin: 0 0 20px;
	text-transform: capitalize;
	font-size: 3em;
	color:#3b3b3b;
	font-family: 'texgyreadventorregular';
}
.contact-form span{
	display:block;
	text-transform: capitalize;
	font-size: 14px;
	color: #5b5b5b;
	font-weight: normal;
	margin-bottom: 10px;
}
.contact-form textarea {
	font-family: 'Open Sans', 'sans-serif';
	padding: 10px;
	display: block;
	width: 99.3333%;
	background: #ffffff;
	outline: none;
	color: #c0c0c0;
	font-size: 0.8725em;
	border: 1px solid #ECECEC;
	-webkit-appearance: none;
	resize: none;
	height: 120px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-form textarea:focus{
	border:1px solid #ff5454;
}
.form-control{
	box-shadow: none;
	border: 1px solid #ECECEC;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-control:focus {
	box-shadow: none;
}
.contact-form input[type="submit"] {
	font-family: 'open_sansregular';
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-transform: uppercase;
	font-weight: 100;
}
.contact-form label{
	position: relative;
	z-index: 1;
}
.form-control:focus {
	border-color: #ff5454;
}
/* start details */
.details img{
	margin-bottom: 20px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1440px) and (min-width: 240px)  {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {
	.images_1_of_4 h4 a {
		font-size: 1.2em;
	}
	.para {
		font-size: 13px;
	}
	.content_right h4 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 768px) {
	.logo{
		text-align:center;
	}
	.h_search {
		width: 98%;
		padding: 20px;
	}
	.h_menu {
		position: relative;
	}	
	.soc_icons {
		position: absolute;
		top: 0px;
		background: #3b3b3b;
	}
	.navbar-default .navbar-toggle {
		border-color: #FFF;
	}
	.navbar {
		min-height: 51px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #3b3b3b;
	}
	.navbar-default {
		background-color: #3b3b3b;
		border:none;
	}
	.navbar-nav {
		margin: 0px 0px;
	}
	.nav > li > a {
		padding: 20px 15px;
	}
	.soc_icons ul li a {
		font-size: 13px;
		line-height: 50px;
		width: 70px;
		height: 51px;
	}
	.slider_bg {
		background-size: 100% 100%;
	}
	.main {
		padding: 4% 0;
	}
	.images_1_of_4{
		margin-bottom: 4%;
	}
	.main{
		padding: 2%;
	}
	.technology {
		padding: 4%;
	}
	.about {
		padding: 4%;
	}
	.social_network_likes li {
		width: 40%;
	}
	.tag_nav {
		margin: 4% 0;
	}
	.news_letter {
		margin: 4% 0;
	}
	.technology h4 {
		font-size: 20px;
	}
}
@media only screen and (max-width: 640px){
	.company_ad{
		margin-left: 0;
	}
	.blog_left h4 a {
		font-size: 1.2em;
	}
	.technology h4 {
		font-size: 17px;
	}
}
@media only screen and (max-width: 480px) {
	.images_1_of_4 h4 {
		margin: 20px 0 10px;
	}
	.technology h2 {
		font-size: 2em;
	}
	.about h2 {
		font-size: 2em;
	}
	.company_ad h2 {
		font-size: 2em;
	}
	.contact-form h2 {
		font-size: 2.5em;
	}
	.blog_left h4 a {
		font-size: 1em;
	}
	.blog_list ul li {
		margin-left: 5px;
	}
	.blog_list li a {
		padding: 4px 4px;
	}
	.detail h2{
		font-size: 2em;	
	}
}
@media only screen and (max-width: 320px) {
	.main {
		padding: 8% 2%;
	}
	.soc_icons ul li a {
		font-size: 13px;
		width: 46px;
	}
	.images_1_of_4 h4 {
		margin: 15px 0 10px;
	}
	.social_network_likes li a p {
		font-size: 12px;
	}
	.images_1_of_4 span {
		width: 88px;
		height: 88px;
	}
	.images_1_of_4 span i {
		font-size: 5em;
		line-height: 1.8em;
	}
	.images_1_of_4 h4 a {
		font-size: 1em;
	}
	.technology h4 {
		font-size: 14px;
		line-height: 1.5em;
	}
	.blog_list ul li:nth-child(3){
		margin-left: 0;
	}
}






/*--liu13--*/
ul.blog-list {
	width: 50%;
	float: left;
}
.project-list li, .project-list1 li {
	margin-bottom: 20px;
}
.project-list li img, .project-list1 li img {
	float: left;
	margin-right: 20px;
}
ul.blog-list li {
	list-style-image: url(../images/arrow.png);
	margin: 0 35px 10px;
}
ul.blog-list li a {
	font-size:0.9em;
	color:#555;
	vertical-align: super;
}
ul.blog-list li a:hover {
	color:#000;
}
/*--blog--*/
.col_1_of_b{
	margin-left: 0;
}
.col_1_of_b {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
	position:relative;
}
.col_1_of_b img{
	display:block;
}
.span_1_of_b {
	width: 48.2%;
}
.span_1_of_b h3 {
	margin-bottom: 2%;
}
.span_1_of_b h3 a {
	color: red;
    font-size: 23px;
	line-height: 1.2;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 宋体;
}
.span_1_of_b h3 a :hover{
	color:#555;
}
.span_1_of_b a {
	color: #555;
font-size: 13px;
	margin-top:3%;
}
.button {
	margin-top: 20px;
}
.button a {
	color:#FF5454;
	font-size: 13px;
	text-transform: uppercase;
}
.button a:hover {
	color:#555;
}
.blog-poast-admin {
	position: absolute;
	bottom:7.6em;
	left: 1.2em;
}
.blog-poast-admin img {
	border-radius: 30em;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	-o-border-radius: 30em;
	border: 4px solid #FFF;
}
.blog-poast-info {
	background:#FF5454;
	padding: 0.8em 1em;
	text-align: center;
}
.blog-poast-info ul li {
	display:inline-table;
	margin-right: 1em;
}
.blog-poast-info ul li a {
	color: #FFF;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blog-poast-info ul li a:hover {
	text-decoration:underline;
}
i.admin {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -380px -111px;
	float: left;
}
i.date {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -408px -111px;
	float: left;
}
i.comment {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -440px -111px;
	float: left;
}
.blog-top{
	padding-bottom:2%;
}
	ul.blog-list {
		width: 100%;
		float: none;
	}
		.blog-poast-admin {
		bottom: 8.6em;
	}
		ul.blog-list {
		width:50%;
		float:left;
	}
		.blog-poast-admin {
		bottom: 9.6em;
		left: 0.5em;
	}
		ul.blog-list {
		width:50%;
		float:left;
	}
		.blog-poast-admin {
		bottom:7em;
		left: 1em;
	}
		.blog-poast-admin {
		bottom: 9em;
		left: 0.2em;
	}
		.blog-poast-info ul li a {
		font-size: 15px;
	}
	.webitems {
    width:1270px;
	margin: 0 auto;
}


img {
    max-width: 100%;
}
.blog-top {
    padding-bottom: 2%;
    width: 80%;
    margin: 0 auto;
}
@media (max-width:640px){
	.col_1_of_b {
		float:none;
		margin: 1% 0 5% 0%;
	}
	.span_1_of_b {
    width: 100%;
	}
	.blog-top {
    padding-bottom: 2%;
    width: 90%;
    margin: 0 auto;
	}
	.webitems {
    width: 100%;
    margin: 0 auto;
}
}
.blog-poast-info ul{
	margin-bottom:0px;
}
.clear{clear:both;}
.col_1_of_b h3{text-align:center;}
.technology_list{width:90%;margin: 0 auto;}
.technology_list1{width:90%;margin: 0 auto;}
.pagination {
    display: inline-block;
padding-left: 5%;}









/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #6a8db3;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #90acc7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  color: #c25b4e;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

.wybm{
	position: fixed;
	z-index: 999999;
	left: 32.5%;
	bottom: 0;
	background:red;
	color:white;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
  .wybm{
	  left:40%
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  

  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
    .wybm{
	  left:32.5%;
  }
}
.input-text-user.error {
    background: #FFD2D2 url(../images/img.png) no-repeat 0px top;
    border-width: 3px;
}
.registbox .reg-content .row label.error {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 5px;
}
.error {
    color: red;
    font-size: 12px;
}

