<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockspecials</name>
            <displayName><![CDATA[特价商品区域]]></displayName>
            <version><![CDATA[0.8]]></version>
            <description><![CDATA[添加一个物价商品区域]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[pricing_promotion]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>