#m #setmod{ margin-left:480px;}
#header,#content,#footer{width: 960px;}
.hwrap{background:url("images/wrap.png") no-repeat top;}
#header{background:url("images/header.png") repeat-x bottom;padding-bottom:22px;}
#banner{width:950px;border:1px #e1e1e1 solid;background:#fff;padding:4px;}

.content{background:url("images/colmainbg.png") repeat-y left 0;}
.content .xtop{background:url("images/content.png"); height:34px;}
.content .xbottom{background:url("images/col-sub.png") no-repeat left; height:2px;}
#contact .content{background:none;}
#contact .content .xbottom{background:none; height:0px;}

/*body*/
body{color:#555;background:#fff;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f10000;}
.mhd span a {color: #c0c0c0;}
input,textarea{border-top:1px #abadb3 solid;border-left:1px #e0e0e0 solid;border-right:1px #e0e0e0 solid;border-bottom:1px #e0e0e0 solid;}
.job_con table,.guest table {border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td {background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th {background:#eee;border-bottom: 1px solid #e0e0e0;}
/*header*/
#header h1{padding-top:10px;}
#header h1,#header p{float:left;}
#header p {margin-left:20px;height:90px;line-height:90px;color: #393939;}
.menu a{padding-right:12px;}
.menu a.topico01{background:url("images/topico01.png") no-repeat 0 4px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}

.nav{height:39px;background:url("images/navbg.png") repeat-x;line-height:39px;position:relative;}

.nav li a{width:91px;background:url("images/li.png") no-repeat right center;}

.navlist ul{background:#d31738;top:40px;padding-top:1px;}
.navlist ul li{line-height:31px;height:31px;border-top:1px #fff solid;width:91px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat;font-weight:bold;}
.nav li.active li a{background:none;font-weight:normal;}


/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#fff;}
.nav li.active a{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}

#banner{margin-top:1px;}
/*content*/
.mhd{border-bottom:1px #999 solid;margin:0 0 0 10px;}
#contact .mhd{margin:0;}
.mhd h3{color:#000;padding-left:25px;background:url("images/sico01.png") no-repeat 0 10px;}
.col-main .mhd{border-bottom:1px #f2f2f2 solid;}

.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:20px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.mbd{padding-left:10px;padding-right:20px;}
/*feedback*/
.feedback a{width:236px;background:url("images/feedback.png") no-repeat center top;padding-bottom:10px;}
/*news*/
.news li,.seabox li{background:url("images/cate_list_ico.png") no-repeat 6px center;padding-left:21px;border-bottom:1px #eee dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 9px;padding-left:12px;}
.notice_con p{border-bottom:1px #eee solid;}
.notice_con p.active{background:#f7f7f7;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#d31738;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}	
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.quaon_pic .mbd li{margin:26px 26px 0px 26px;}
.prodt .mbd li{margin: 20px 22px 0 22px;}
.plinks .mbd li{margin:12px 4px 0 15px;}
.prodt_list .mbd li{margin: 26px 22px 0 22px;}
.prodt_con .mbd{margin-left:18px;}	
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#666;}
#footer {color: #999;}
#footer p{border-top: 1px solid #e1e7ef;padding-top: 13px;}
#footer a:link, #footer a:visited {color: #666;}
#footer a:hover {color: #c70906;}
#footer .support a:link, #footer .support a:visited{color: #999;}
