.reply-footer{
  width:100%;
  padding:0 15px 0 15px;
}
.reply-box{
  width:100%;
}
.reply-box a {
  color:#aaa;
}
.reply-box a:hover {
  color:#666;
}
.reply-box a span.reply-icon,.reply-box a span.ok-icon,.reply-box a span.cancel-icon{
  padding: 0 0 0 1.5em;
  background: url(../images/icons.png) no-repeat left -99px;
  font-size: 13px;
  display: block;
  margin-bottom: 0.5em;
}
.reply-content{
  display:none;
}
.dialog{
  width: 100%;
  padding: 5.5em 0;
  background: #efefef;
  border: 1px solid #eee;
  text-align: left;
  text-align:center;
}
.dialog p {
  margin:0;
}
article{
  margin-bottom:1em;
}
article a img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-color: #fff;
  float:left;
}
.list-group,.list-group-first{
  width:100%;
  list-style: none;
  padding:0px;
}
.list-item
{
  width: 100%;
  /*padding: 1.3em 0.6em;*/
  /*height: 3.8em;*/
  height: auto;
  border-left: 1px solid #ccc;
  border-width: 3px;
  margin-bottom: 0.3em;
  background:#efefef;
  padding: 0 0 0.2em 0;
}
.list-left{
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.6em 0 0 0.3em;
}
.list-left img {
  border-radius: 50%;
  max-width: none;
  width: 30px;
  height: 30px;
}
.list-right {
  margin:0.3em 0 0.3em 0.3em;
  color:#666;
  width: 90%;
}
.list-right h2 {
  padding-bottom: 0px;
  margin: 0px;
  padding: 0px;
  font-size:100%;
}
.list-right h2 small {
  font-weight: normal;
  margin: 0 0 0 0.5em;
}
.list-right h3{
  padding: 0px;
  margin: 0px;
  font-size:85%;
  font-weight:normal;
  word-break: break-all;
}
.list-right h3 p{
  padding:0px;
  margin:0px;
} 
.content{
  width: 100%;
  height: 100px;
  border: 1px solid #cfcfcf;
  resize: none;
  font-size: 80%;
}
/* ==========================================================================
   Component: Comment
 ============================================================================ */
.am-comment:before,
.am-comment:after {
  content: " ";
  display: table;
}
.am-comment:after {
  clear: both;
}
.am-comment-avatar {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
}
@media only screen and (min-width:641px) {
  .am-comment-avatar {
    width: 48px;
    height: 48px;
  }
}
.am-comment-main {
  position: relative;
  margin-left: 42px;
  border: 1px solid #dedede;
  border-radius: 0;
}
.am-comment-main:before,
.am-comment-main:after {
  position: absolute;
  top: 10px;
  left: -8px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  border-width: 8px 8px 8px 0;
  pointer-events: none;
}
.am-comment-main:before {
  border-right-color: #dedede;
  z-index: 1;
}
.am-comment-main:after {
  border-right-color: #f8f8f8;
  margin-left: 1px;
  z-index: 2;
}
@media only screen and (min-width:641px) {
  .am-comment-main {
    margin-left: 63px;
  }
}
.am-comment-hd {
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.am-comment-title {
  margin: 0 0 8px 0;
  font-size: 1.6rem;
  line-height: 1.2;
}
.am-comment-meta {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 15px;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.am-comment-meta a {
  color: #999999;
}
.am-comment-author {
  font-weight: bold;
  color: #999999;
}
.am-comment-bd {
  padding: 15px;
  overflow: hidden;
}
.am-comment-bd > :last-child {
  margin-bottom: 0;
}
.am-comment-footer {
  padding: 0 15px 5px;
}
.am-comment-footer .am-comment-actions a + a {
  margin-left: 5px;
}
.am-comment-actions {
  font-size: 13px;
  color: #999999;
}
.am-comment-actions a {
  display: inline-block;
  padding: 10px 5px;
  line-height: 1;
  color: #999999;
  opacity: .7;
}
.am-comment-actions a:hover {
  color: #0e90d2;
  opacity: 1;
}
.am-comment-hd .am-comment-actions {
  padding-right: .5rem;
}
.am-comment-flip .am-comment-avatar {
  float: right;
}
.am-comment-flip .am-comment-main {
  margin-left: auto;
  margin-right: 42px;
}
@media only screen and (min-width:641px) {
  .am-comment-flip .am-comment-main {
    margin-right: 63px;
  }
}
.am-comment-flip .am-comment-main:before,
.am-comment-flip .am-comment-main:after {
  left: auto;
  right: -8px;
  border-width: 8px 0 8px 8px;
}
.am-comment-flip .am-comment-main:before {
  border-left-color: #dedede;
}
.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
  margin-right: 1px;
  margin-left: auto;
}
.am-comment-primary .am-comment-avatar {
  border-color: #0e90d2;
}
.am-comment-primary .am-comment-main {
  border-color: #0e90d2;
}
.am-comment-primary .am-comment-main:before {
  border-right-color: #0e90d2;
}
.am-comment-primary.am-comment-flip .am-comment-main:before {
  border-left-color: #0e90d2;
  border-right-color: transparent;
}
.am-comment-primary.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
}
.am-comment-secondary .am-comment-avatar,
.am-comment-highlight .am-comment-avatar {
  border-color: #3bb4f2;
}
.am-comment-secondary .am-comment-main,
.am-comment-highlight .am-comment-main {
  border-color: #3bb4f2;
}
.am-comment-secondary .am-comment-main:before,
.am-comment-highlight .am-comment-main:before {
  border-right-color: #3bb4f2;
}
.am-comment-secondary.am-comment-flip .am-comment-main:before,
.am-comment-highlight.am-comment-flip .am-comment-main:before {
  border-left-color: #3bb4f2;
  border-right-color: transparent;
}
.am-comment-secondary.am-comment-flip .am-comment-main:after,
.am-comment-highlight.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
}
.am-comment-success .am-comment-avatar {
  border-color: #5eb95e;
}
.am-comment-success .am-comment-main {
  border-color: #5eb95e;
}
.am-comment-success .am-comment-main:before {
  border-right-color: #5eb95e;
}
.am-comment-success.am-comment-flip .am-comment-main:before {
  border-left-color: #5eb95e;
  border-right-color: transparent;
}
.am-comment-success.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
}
.am-comment-warning .am-comment-avatar {
  border-color: #F37B1D;
}
.am-comment-warning .am-comment-main {
  border-color: #F37B1D;
}
.am-comment-warning .am-comment-main:before {
  border-right-color: #F37B1D;
}
.am-comment-warning.am-comment-flip .am-comment-main:before {
  border-left-color: #F37B1D;
  border-right-color: transparent;
}
.am-comment-warning.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
}
.am-comment-danger .am-comment-avatar {
  border-color: #dd514c;
}
.am-comment-danger .am-comment-main {
  border-color: #dd514c;
}
.am-comment-danger .am-comment-main:before {
  border-right-color: #dd514c;
}
.am-comment-danger.am-comment-flip .am-comment-main:before {
  border-left-color: #dd514c;
  border-right-color: transparent;
}
.am-comment-danger.am-comment-flip .am-comment-main:after {
  border-left-color: #f8f8f8;
}
.am-comments-list {
  padding: 0;
  list-style: none;
}
.am-comments-list .am-comment {
  margin: 1.6rem 0 0 0;
  list-style: none;
}
@media only screen and (min-width:641px) {
  .am-comments-list-flip .am-comment-main {
    margin-right: 64px;
  }
  .am-comments-list-flip .am-comment-flip .am-comment-main {
    margin-left: 64px;
  }
}