<ul class="dux-tab uk-clearfix">
    <li>
        <a href="{url('')}">基本资料</a>
    </li>
    <li class="active">
        <a href="{url('member/Real/index')}">实名制认证</a>
    </li>
</ul>
<div class="dux-tab-body uk-padding">
    <form class="dux-form uk-form  uk-form-horizontal" action="{url()}" method="post" data-dux="form-bind">
        <div class="uk-form-group">
            <label class="uk-form-label">姓名</label>
            <div class="uk-form-controls">
                <input type="text" class="uk-form-field" placeholder="身份证姓名" name="name">
            </div>
        </div>
        <div class="uk-form-group">
            <label class="uk-form-label">身份证号码</label>
            <div class="uk-form-controls">
                <input type="text" class="uk-form-field" placeholder="身份证号码" name="idcard">
            </div>
        </div>
        <div class="uk-form-group">
            <label class="uk-form-label">身份证正面</label>
            <div class="uk-form-controls uk-form-controls-text">
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="{$info.image ? $info.image : '/public/member/images/card-a.png'}" width="150" height="110" id="card-image-pic" class="uk-image-thumbnail" >
                    <div class="uk-position-center">
                        <a href="javascript:;" ><span data-dux="form-upload" data-target="#card_image" data-type="jpg,png,bmp" data-preview="#card-image-pic" data-url="{url('member/Upload/index')}" class="uk-transition-fade" uk-marker></span></a>
                    </div>
                </div>
                <input type="hidden"  name="card_image" id="card_image" value="{$info.card_image}">
            </div>
        </div>
        <div class="uk-form-group">
            <label class="uk-form-label">身份证反面</label>
            <div class="uk-form-controls uk-form-controls-text">
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="{$info.image ? $info.image : '/public/member/images/card-b.png'}" width="150" height="110" id="card-image-back-pic" class="uk-image-thumbnail" >
                    <div class="uk-position-center">
                        <a href="javascript:;" ><span data-dux="form-upload" data-target="#card_image_back" data-type="jpg,png,bmp" data-preview="#card-image-back-pic" data-url="{url('member/Upload/index')}" class="uk-transition-fade" uk-marker></span></a>
                    </div>
                </div>
                <input type="hidden"  name="card_image_back" id="card_image_back" value="{$info.card_image_back}">
            </div>
        </div>
        <div class="uk-form-group">
            <label class="uk-form-label">手持身份证照片</label>
            <div class="uk-form-controls uk-form-controls-text">
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="{$info.image ? $info.image : '/public/member/images/card-h.png'}" width="150" height="110" id="card-image-hand-pic" class="uk-image-thumbnail" >
                    <div class="uk-position-center">
                        <a href="javascript:;" ><span data-dux="form-upload" data-target="#card_image_hand" data-type="jpg,png,bmp" data-preview="#card-image-hand-pic" data-url="{url('member/Upload/index')}" class="uk-transition-fade" uk-marker></span></a>
                    </div>
                </div>
                <input type="hidden"  name="card_image_hand" id="card_image_hand" value="{$info.card_image_hand}">
            </div>
        </div>

        <div class="uk-form-group">
            <label class="uk-form-label">验证方式</label>
            <div class="uk-form-controls">
                <div class="uk-input-group">
                    <select name="valtype" id="valtype" class="uk-form-field">
                        <!--if{$userInfo.tel}-->
                        <option value="0">手机验证</option>
                        <!--{/if}-->
                        <!--if{$userInfo.email}-->
                        <option value="1">邮箱验证</option>
                        <!--{/if}-->
                    </select>
                </div>
            </div>
        </div>

        <div class="uk-form-group">
            <label class="uk-form-label">验证码</label>
            <div class="uk-form-controls">
                <div class="uk-input-group">
                    <input type="text" class="uk-form-field" placeholder="请输入验证码" name="val_code">

                    <span class="uk-input-group-btn">
                                            <button href="javascript:;" class="uk-button uk-button-small uk-button-primary" data-dux="page-getCode"
                                                    data-url="{url('member/Real/getCode')}" data-field="valtype"
                                                    type="button">获取验证码</button>
                                        </span>
                </div>
            </div>
        </div>

        <div class="uk-form-group">
            <div class="uk-form-controls">
                <button type="submit" class="uk-button uk-button-primary">保存资料</button>
            </div>
        </div>


    </form>
</div>