{extend name="common@base/common" /}

{block name="style"}
<link href="__CSS__/main.min.css" rel="stylesheet" type="text/css"/>
{/block}

{block name="body"}
<div class="container">
  <ol class="breadcrumb">
      <li><a href="{:url('index/index')}">演示首页</a></li>
      <li>面包屑</li>
  </ol>
<section class="demo-section">
<div id="pageContent">



<section><header><h3>示例</h3></header><article><div class="example">
  <ol class="breadcrumb">
    <li><i class="icon icon-home"></i> 首页</li>
  </ol>
  <ol class="breadcrumb">
    <li><a href="#"><i class="icon icon-home"></i> 首页</a></li>
    <li><a href="#">目录</a></li>
  </ol>
  <ol class="breadcrumb">
    <li><a href="#"><i class="icon icon-home"></i> 首页</a></li>
    <li><a href="#">目录</a></li>
    <li class="active">存档</li>
  </ol>
</div><pre class="prettyprint prettyprinted" style=""><code class="lang-html"><span class="tag">&lt;ol</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"breadcrumb"</span><span class="tag">&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"your/url/"</span><span class="tag">&gt;</span><span class="pln">Home</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;&lt;a</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"your/url/"</span><span class="tag">&gt;</span><span class="pln">Library</span><span class="tag">&lt;/a&gt;&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;li</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"active"</span><span class="tag">&gt;</span><span class="pln">Data</span><span class="tag">&lt;/li&gt;</span><span class="pln">
</span><span class="tag">&lt;/ol&gt;</span></code></pre></article></section></div>
</section>
{/block}