body {
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:"微软雅黑";
}
a {
	text-decoration:none;
	color:#0099cc;
}
a:hover {
	color:#ff9933;
	text-decoration:underline;
}
#seo {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	/* border:1px solid red; */
	margin-top:2%;
	
}
#seo table {
	width:540px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:40px;
}
#seo .input {
	width:420px;
	border-radius:5px;
	border:1px solid #919191;
	height:24px;
	padding-left:5px;
	padding-right:5px;
}
#seo textarea {
	width:420px;
	border-radius:5px;
	border:1px solid #919191;
	height:80px;
	padding:5px;
	line-height:20px;
}
#seo .sub {
		width:70px;
		font-family:"微软雅黑";
		font-size:14px;
		line-height:14px;
		height:28px;
		padding:5px;
		color:#242424;
		background-color:#ffffff;
		margin-bottom:20px; 
		border-radius:5px;
		border:1px solid #919191;
}
#seo .sub:hover {	color:#ffffff;
		background-color:#0099ff;
		cursor:pointer;/*鼠标移动到上面时变成小手哦*/ 	
}

#list {
	width:620px;
	/*border:1px solid red;*/
	margin-left:auto;
	margin-right:auto;
}
#list table {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:36px;
	margin-bottom:36px;
}

#publish {
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
#publish input {
	width:670px;
	height:18px;
	border-radius:4px;
	border:1px solid #999999;
	font-family:"微软雅黑";
	font-size:14px;
	padding:5px;
	color:#242424;
}

#publish .btn {
	width:70px;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:14px;
	height:28px;
	padding:5px;
	color:#242424;
	background-color:#ffffff;
	margin-bottom:20px;
	text-align:center;
}

#publish .btn:hover {
	color:#ffffff;
	background-color:#0099ff;
	cursor:pointer;/*鼠标移动到上面时变成小手哦*/
}

/*404*/
.demo p:first-child {
  text-align: center;
  font-family: cursive;
  font-size: 150px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  color: #fff;
}

.demo p:first-child span {
  cursor: pointer;
  text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #ddd,
    0px 2px 1px #d6d6d6,
    0px 3px 1px #ccc,
    0px 4px 1px #c5c5c5,
    0px 5px 1px #c1c1c1,
    0px 6px 1px #bbb,
    0px 7px 1px #777,
    0px 8px 3px rgba(100, 100, 100, 0.4),
    0px 9px 5px rgba(100, 100, 100, 0.1),
    0px 10px 7px rgba(100, 100, 100, 0.15),
    0px 11px 9px rgba(100, 100, 100, 0.2),
    0px 12px 11px rgba(100, 100, 100, 0.25),
    0px 13px 15px rgba(100, 100, 100, 0.3);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.demo p:first-child span:hover {
  text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #fff,
    0px 2px 1px #fff,
    0px 3px 1px #fff,
    0px 4px 1px #fff,
    0px 5px 1px #fff,
    0px 6px 1px #fff,
    0px 7px 1px #777,
    0px 8px 3px #fff,
    0px 9px 5px #fff,
    0px 10px 7px #fff,
    0px 11px 9px #fff,
    0px 12px 11px #fff,
    0px 13px 15px #fff;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.demo p:not(:first-child) {
  text-align: center;
  color: #666;
  font-family: cursive;
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: 1px;
  line-height: 2em;
  margin-top: -50px;
}

#change {
	width:600px;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	/* border:1px solid red; */
}

#change table {
	width:520px;
	margin-left:auto;
	margin-right:auto;
}
#change .input {
	width:200px;
	height:18px;
	border-radius:5px;
	border:1px solid #999999;
	font-family:"微软雅黑";
	font-size:14px;
	padding:5px;
	color:#242424;
}
#change .btn {
	width:70px;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:14px;
	height:28px;
	padding:5px;
	color:#242424;
	background-color:#ffffff;
	margin-bottom:20px;
	text-align:center;
	border-radius:5px;
	border:1px solid #999999;
}
#change .btn:hover {
	color:#ffffff;
	background-color:#0099ff;
	cursor:pointer;
}
#change tr {
	height:46px;
}
