/* CSS Document  */
body{font-family:"Î¢ÈíÑÅºÚ", Arial,Verdana, sans-serif, Helvetica;font-size:12px;margin:0;background:#f4f5eb;color:#000;}
dl,ul,li{list-style:none;}
a img{border:0;}
a{color:#000;}
a:link,a:visited,a:active,a:hover{text-decoration:none;}
.clearboth {clear:both;font-size:0px;}
input {vertical-align:middle;}
body,html{height:100%;}
.noneBox {display:none;}
/*----Í·---------------------------*/
.header{width:100%;height:53px;background:url(../images/header_bei.gif);}
.header01{float:left;height:53px;width:45px;margin-left:15px;background:url(../images/header01.gif) no-repeat;}
.header02{float:left;height:28px;width:auto;margin-left:10px;padding-top:25px;font-size:20px;font-family:"ºÚÌå";}
.header03{float:right;height:53px;width:67px;margin-right:15px;background:url(../images/logo.gif);}
/*----left---------------------------*/
.left{float:left;width:214px;height:auto;margin:8px 0 8px 8px!important;margin:8px 0 4px 4px;}
.left01{width:214px;height:33px;background:url(../images/left01_bei.gif) repeat-x;margin-bottom:8px;}
.left01_left{float:left;height:33px;width:3px;background:url(../images/left01_left.gif);}
.left01_right{float:right;height:33px;width:3px;background:url(../images/left01_right.gif);}
.left01_c{float:left;height:33px;line-height:33px;width:198px;padding-left:10px;color:#002f76;}
.left01_c img{height:17px;width:17px;margin:3px 10px 0 0;}
.left02{width:214px;height:auto;margin-bottom:8px;}
.left02top{width:214px;height:36px;background:url(../images/left02_bei.gif) repeat-x;}
.left02top_left{float:left;height:36px;width:3px;background:url(../images/left02_left.gif);}
.left02top_right{float:right;height:36px;width:3px;background:url(../images/left02_right.gif);}
.left02top_c{float:left;height:36px;line-height:33px;width:198px;padding-left:10px;font-weight:bold;}
.left02down{width:212px;height:auto;border:1px solid #b4b4b4;border-top:0;background:#fff;}
.left02down01{width:202px;height:27px;line-height:27px;padding-left:10px;}
.left02down01_img{float:left;width:7px;height:27px;margin-right:5px;background:url(../images/01.gif) no-repeat;}
.left02down01_xia ul{margin:0;padding:0 5px 0 19px;}
.left02down01_xia li{width:auto;height:20px;line-height:20px;margin:3px 0;padding-left:2px;}
.left02down01_xia_li{background:#eff6ff;} 
.left03_right{float:right;height:33px;width:30px;background:url(../images/03.gif);}
.left03_c{float:left;height:33px;line-height:33px;width:171px;padding-left:10px;color:#002f76;}
/*----rrcc-------------*/
.rrcc{width:auto;height:90%;margin:8px 8px 8px 232px;background-color:#ffffff;}
/*----center---------------------------*/
.center{float:left;height:200px;width:8px;margin-left:8px!important;margin-left:4px; background:url(../images/center0.gif) no-repeat;cursor:pointer;}


/*----right---------------------------*/
.right{width:auto;height:90%;margin-left:20px!important;margin-left:10px;border:1px solid #b4b4b4;background:#fff;}
.right span{color:#666;}
.right01{padding-left:10px;margin:9px 0;} 
