<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>chinabank</name>
            <displayName><![CDATA[网银在线]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[网银在线与中国工商银行、招商银行、中国建设银行、农业银行、民生银行等数十家金融机构达成协议。全面支持全国19家银行的信用卡及借记卡实现网上支付。（网址：http://www.chinabank.com.cn）]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>