
bin/lesscreator*
*~

static/lesscreator/img/*
static/lesscreator/img/3d/*
static/lesscreator/js/pyte/
static/lesscreator/js/angular*
static/codemirror
static/jquery
static/twitter-bootstrap
static/lesscreator/js/eventproxy.js

src/gokeeper.go
deps/fsnotify

