[submodule "deps/go.net"]
	path = deps/go.net
	url = git@github.com:eryx/go.net.git
[submodule "deps/lessgo"]
	path = deps/lessgo
	url = git@github.com:eryx/lessgo.git
[submodule "deps/pty"]
	path = deps/pty
	url = https://github.com/kr/pty.git
[submodule "static/lessui"]
	path = static/lessui
	url = git@github.com:eryx/lessui.git
