<div class="pageContent">
<form method="post" action="#{$smarty.const.ACT}#/CstWebsite/cst_website_add/" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">
			<fieldset>
				<legend>基础信息：</legend>
			<p>
				<label>客户名称：</label>
				<input name="org.id" value="#{$cusID}#" type="hidden"/>
				<input name="org.name" value="#{$cus_name}#" type="text" class="required"/>
				<a class="btnLook" href="#{$smarty.const.ACT}#/Customer/lookup_search/" lookupGroup="org">选择客户名称</a>	
			</p>
			<p>
				<label>网站名称：</label>
				<input type="text" value="" name="name" class="required">
			</p>
			<p>
				<label>网站地址：</label>
				<input type="text" value="" name="url" class="required">
			</p>
            <p>
				<label>开始时间：</label>
				<input type="text" name="bdt" class="date required" readonly="true"/>
				<a class="inputDateButton" href="javascript:;">选择</a>
            </p> 
            <p>
				<label>结束时间：</label>
				<input type="text" name="edt" class="date required" readonly="true"/>
				<a class="inputDateButton" href="javascript:;">选择</a>
            </p> 
			<p>
				<label>FTP地址：</label>
				<input type="text" value="" name="ftp_ip" class="required">
			</p>
			<p>
				<label>ICP帐号：</label>
					<input type="text" value="" name="icp_account" class="required">
			</p>

			<p>
				<label>FTP帐号：</label>
				<input type="text" value="" name="ftp_account" class="">
			</p>	
			<p>
				<label>ICP密码：</label>
				<input type="text" value="" name="icp_pwd">
			</p>	
			<p>
				<label>FTP密码：</label>
				<input type="text" value="" name="ftp_pwd" class="">
			</p>	
			<p>
				<label>ICP备案号：</label>
				<input type="text" value="" name="icp_num">
			</p>	
			<div class="divider"></div>
			<fieldset>
				<legend>介绍：</legend>
					<dl class="nowrap">
						<textarea name="intro" cols="80" rows="5">#{$one.intro}#</textarea>
					</dl>	
			</fieldset>	
			</fieldset>	
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
