<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="#{$smarty.const.ACT}#/CstWebsite/cst_website_show/" method="post">
    <div class="searchBar">
      <table class="searchContent">
        <tr>
          <td><select class="combox" name="searchKeyword">
              <option value="name"  #{if $searchKeyword eq 'name'}# selected="selected" #{/if}#>站名</option>
              <option value="url"  #{if $searchKeyword eq 'url'}# selected="selected" #{/if}#>网址</option>
              <option value="intro"  #{if $searchKeyword eq 'intro'}# selected="selected" #{/if}#>介绍</option>
            </select></td>
          <td><input type="text" name="searchValue" value="#{$searchValue}#" /></td>
          <td> 开始时间：
            <input type="text" name="bdt" class="date" minDate="2010" size="10" readonly value="#{$bdt}#" />
            至
            <input type="text" name="edt" class="date" minDate="2010" readonly  size="10" value="#{$edt}#"/></td>
          <td> 到期时间：
            <input type="text" name="bdt1" class="date" minDate="2010" size="10" readonly value="#{$bdt1}#" />
            至
            <input type="text" name="edt1" class="date" minDate="2010" readonly  size="10" value="#{$edt1}#"/></td>
			<td align="right">状态：</td>
				<td>	
					<select class="combox" name="status">
              <option value="0" #{if $status eq '0'}# selected="selected" #{/if}#>所有</option>
              <option value="1" #{if $status eq '1'}# selected="selected" #{/if}#>有效</option>
              <option value="2" #{if $status eq '2'}# selected="selected" #{/if}#>续约</option>
              <option value="3" #{if $status eq '3'}# selected="selected" #{/if}#>流失</option>
            </select>

				</td>
          <td><ul>
              <li>
                <div class="buttonActive">
                  <div class="buttonContent">
                    <button type="submit">检索</button>
                  </div>
                </div>
              </li>
            </ul></td>
        </tr>
      </table>
      <div class="subBar"> </div>
    </div>
  </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="#{$smarty.const.ACT}#/CstWebsite/cst_website_add/cusID/#{$cusID}#/" target="dialog" rel="cst_website_add" width="850" height="450" title="添加#{$cus_name}#联系人"><span>添加</span></a></li>
      <li class="line">line</li>
      <li><a class="delete" href="#{$smarty.const.ACT}#/CstWebsite/cst_website_del/" postType="string" title="确实要删除选择这些记录吗?" target="selectedTodo" rel="ids" ><span>删除</span></a></li>
      <li class="line">line</li>
      <li><a class="edit" href="#{$smarty.const.ACT}#/CstWebsite/cst_website_modify/id/{sid_user}/" target="dialog" rel="cst_website_modify" width="850" height="450"><span>修改</span></a></li>
      <li class="line">line</li>
      <li><a class="edit" href="#{$smarty.const.ACT}#/CstWebsite/cst_website_add_renew/id/{sid_user}/" target="dialog" rel="sal_contract_add_website" width="850" height="450" title="网站合同续费"><span>续费</span></a></li>
      <li class="line">line</li>
    </ul>
  </div>
  <table class="table" width="100%" layoutH="138">
    <thead>
      <tr>
        <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
        <th width="120">网站名称</th>
        <th width="150">客户名称</th>
        <th width="120">网址</th>
        <th width="100">开始时间</th>
        <th width="100">到期时间</th>
        <th width="120">FTP地址</th>
        <th width="100">FTP帐号</th>
        <th width="100">FTP密码</th>
        <th width="100">ICP帐号</th>
        <th width="100">ICP密码</th>
        <th width="100">ICP编号</th>
        <th width="50">状态</th>
      </tr>
    </thead>
    <tbody>
    
    #{foreach from=$list key=k item=v}#
    <tr target="sid_user" rel="#{$v.id}#">
      <td><input name="ids" value="#{$v.id}#" type="checkbox"></td>
      <td>#{$v.name}#</a></td>
      <td><a target="dialog"  href="#{$smarty.const.ACT}#/Customer/customer_show_one/cusID/#{$v.cusID}#/" rel="customer_show_one_#{$v.id}#" title="#{$v.cst_name}#" width="880" height="480">#{$v.cst_name}#</a></td>
      <td>#{$v.url}#</td>
      <td>#{$v.bdt}#</td>
      <td>#{$v.edt}#</td>
      <td>#{$v.ftp_ip}#</td>
      <td>#{$v.ftp_account}#</td>
      <td>#{$v.ftp_pwd}#</td>
      <td>#{$v.icp_account}#</td>
      <td>#{$v.icp_pwd}#</td>
      <td>#{$v.icp_num}#</td>
      <td>#{$status_arr[$v.status]}#</td>
    </tr>
    #{/foreach}#
      </tbody>
    
  </table>
  <div class="panelBar">
    <form id="pagerForm" method="post" action="#{$smarty.const.ACT}#/CstWebsite/cst_website_show/">
      <input type="hidden" name="pageNum" value="1" />
      <input type="hidden" name="numPerPage" value="#{$numPerPage}#" />
      <input type="hidden" name="orderField" value="${param.orderField}" />
    </form>
    <div class="pages"> <span>显示</span>
      <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20" #{if $numPerPage eq '20'}# selected="selected" #{/if}#>20</option>
        <option value="50" #{if $numPerPage eq '50'}# selected="selected" #{/if}#>50</option>
        <option value="100" #{if $numPerPage eq '100'}# selected="selected" #{/if}#>100</option>
        <option value="200" #{if $numPerPage eq '200'}# selected="selected" #{/if}#>200</option>
        <option value="500" #{if $numPerPage eq '500'}# selected="selected" #{/if}#>500</option>
      </select>
      <span>条，共#{$totalCount}#条</span> </div>
    <div class="pagination" targetType="navTab" totalCount="#{$totalCount}#" numPerPage="#{$numPerPage}#" pageNumShown="10" currentPage="#{$currentPage}#"></div>
  </div>
</div>
