#header,#content,#footer{width: 970px;}
#content{ border:1px #eceed8 solid; margin-top:5px;}
.layout{padding-top:10px;}
/*body*/
body{color:#555;;background:url("images/bg.png") repeat-x;}
.tbbd{color:#555;;background:url("images/bg.png") repeat-x;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f10000;}
.col-main .mhd span a:link,.col-main .mhd span a:visited{ color:#736d4d;}
.col-main .mhd span a:hover,.col-main .mhd span a:active{ color:#f10000;}
.col-sub .mhd span a:link,.col-extra .mhd span a:link,.col-sub .mhd span a:visited,.col-extra .mhd span a:visited{ color:#e7e0c4;}
.col-sub .mhd span a:hover,.col-extra .mhd span a:hover,.col-sub .mhd span a:focus,.col-extra .mhd span a:focus{ color:#f10000;}
input,textarea{border:1px #afa98d solid;}
.job_con table,.guest table {border-top:1px solid #afa98d;border-left:1px solid #afa98d;border-right:1px solid #afa98d;}
.job_con td,.guest td{background:#f5f3e7;border-bottom:1px solid #afa98d;}
.job_con th,.guest th{background:#e1d9b7;border-bottom: 1px solid #afa98d;}
/*header*/
.hwrap{height:457px;}
#header h1,#header p{float:left;}
#header h1{ margin-top:10px;}
#header p {color: #e4dfc1; margin-left:20px; height:90px; line-height:90px; display:block;}
#banner{margin-top:-318px; width:978px;}
#slider{ margin:0 auto;}
.slidernav {right:45px;}
#banner .xbottom{ background:url(images/banner_xbottom_bg.png) no-repeat center center; display: block; height:13px;}
#banner .xtop{ background:url(images/banner_xtop_bg.png) no-repeat center center; display: block; height:13px;}
#banner .slider,#banner .singPic{ background:url(images/banner_slider_bg.png) no-repeat center top; width:978px;}
#banner .slider img,#banner .singPic img{ margin:0 auto;} 
.menu{ background:#000; width:105px; height:35px; line-height:30px;}
.menu a{color:#e4dfc1;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 3px;}

.nav{position:absolute;top:90px; height:47px; background:#250f04; line-height:47px;}
.navlist {height:46px;overflow:hidden;}
.nav li{background:url("images/navli.png") no-repeat right center; padding-right:1px;}
.nav li a{width:136px;text-align:center; padding-right:1px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") repeat-x; font-weight:bold; padding-right:1px; }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#e7e0c4;}
.nav a:hover,
.nav a.active{color:#3f1b01;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#3f1b01;}
.nav li.active ul a:hover{background:none;}

/*content*/
.content{ background:#FFF;}
.n_ico .inner ul{ width:100%;}
.main-wrap{ margin-top:5px;}
.mbox{padding-top:10px;}
.mhd{ background:#4a1c05; height:28px; line-height:28px;}
.mhd h3{color:#e7e0c4; padding-left:12px; background:url(images/col_sub_mhd.png) left center no-repeat;}
.col-sub,.col-extra {padding-left:10px;}
.col-sub .bg,.col-extra .bg{ background:#f5f3e7; width:260px; margin-bottom:10px; }
.col-sub .sinner,.col-extra .sinner{ width:240px; padding-left:10px;margin-right:-10px; }

.col-main .mhd{ background:#e2dbbb url(images/col_main_bg.png) center bottom  no-repeat; height:34px; line-height:29px; }
.col-main .mhd h3{ background:none; color:#4a1c05;}

.main-wrap{ width:680px; margin:0 auto; padding-left:10px;}

#contact .mhd{ width:950px; margin:0 auto;}

.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat left center;padding-left:40px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat; color:#FFF; margin-right:15px;}
.seabox .r{_padding:2px;}
.quaon_pic .mbd li{margin:26px 22px 0px 26px;}
.prodt .mbd li{margin: 20px 20px 0 21px;}
.prodt_list .mbd li{margin: 26px 17px 0 24px;}


/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #eee dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #dfd8b4 solid;}
.notice_con p.active{background:#f5f3e7;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#555;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{ background:#dfd8b4;color:#555;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#676767;}
.g_page .current,.g_page a:hover{background:#ff6600;color:#fff;border:1px #ddd solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
.contact_con dt{ color:#4a1c05; font-size:14px;}
/*feedback*/
.feedback{padding-bottom:10px;}
.feedback a{width:240px;background:url("images/feedback.png") no-repeat; }
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat; color:#e7e0c4;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat; color:#999999;}

.pipe {color:#a58669;}
.fwrap{ background: url(images/fwrap_bg.png) repeat-x; height:66px; margin-top:10px;}
#footer {color: #a58669;}
#footer a:link, #footer a:visited {color: #a58669;}
#footer a:hover {color: #f10000;}
#footer .support a:link, #footer .support a:visited{color: #a58669;}
