<?php

$___conf_arr=array();

$___conf_arr['your_site']=array('__source'=>'oschina', //No use on verson 1.0.3 
                                '__order'=>'ls', //Your order. such as cd /git-project-dir ;/usr/bin/git pull -v --progress
                                '__title'=>'Git Pull',
                                '__manual_execute_pwd'=>'111111', 
                                'password'=>'Hook-password if has.',
                                'repository-name'=>'Your repository name such as jk-webhook-control',);

return $___conf_arr;