
/* 右侧 */
.box .media-left .media-object {width: 85px;height: 85px;}
/* 右侧 */
.archive-content-img img {max-height:300px;max-width:100%;}	/*文章内容图片*/
.box-body .carousel-inner .x-gd-y{overflow-y:hidden; -moz-overflow-y:hidden; -ms-overflow-y:hidden;-webkit-overflow-y:hidden;height:350px;} /*幻灯片*/

/*音乐播放器*/
#skPlayer {
	width: 200px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0);
	padding: 5px;
}

#skPlayer .skPlayer-tip-loading {
	font-size: 24px;
	line-height: 40px;
}
#skPlayer .skPlayer-picture {
	width: 40px;
	height: 40px;
}
#skPlayer .skPlayer-picture img{
	width: 40px;
	height: 40px;
}
#skPlayer .skPlayer-play-btn {
	width: 28px;
	height: 28px;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause .skPlayer-left {
	border: 7px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 2px solid #FFF;
}
#skPlayer .skPlayer-play-btn span.skPlayer-left {
	border-left: 24px solid #FFF;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	left: 18px;
	top: 7px;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause .skPlayer-right {
	top: 7px;
}
#skPlayer .skPlayer-play-btn span.skPlayer-right {
	border: 7px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 2px solid #FFF;
}
#skPlayer .skPlayer-play-btn span.skPlayer-left {
	border-left: 12px solid #FFF;
	border-top: 6px solid transparent;
	border-bottom: 8px solid transparent;
	left: 10px;
}
#skPlayer .skPlayer-play-btn span.skPlayer-right {
	right: 10px;
}

#skPlayer .skPlayer-control {
	width: 140px;
	height: 40px;
	padding: 0px;
}
#skPlayer .skPlayer-control p.skPlayer-name {
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}
#skPlayer .skPlayer-control > .skPlayer-percent { /*进度条*/
	width: 104px;
	margin: 2px 0;
}
#skPlayer .skPlayer-control p.skPlayer-author { /*歌手名*/
	display: none;
}
#skPlayer .skPlayer-control .skPlayer-time { 	/*时间*/
	font-size: 12px;
	color: #ffffff;
	margin-top: 1px;
}
#skPlayer .skPlayer-control .btnall {
	margin-top:-2px;
	margin-left: 70px;
}
#skPlayer .skPlayer-control .btnall a {
	padding: 0 6px;
	color:#fff;
}
#skPlayer .skPlayer-control .skPlayer-volume { 	/*声音控制*/
	display: none;
	width: 140px;
	height: 10px;
	margin: 1px 2px 0 0;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon {
	height: 5px;
	top: 2px;
	left: 8px;
	background-color: #ffffff;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon::after {
	height: 5px;
	border-color: transparent #ffffff transparent transparent;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon::before {
	height: 18px;
	background-color: #ffffff;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-percent {
	width: 85px;
	height: 9px;
	left: 26px;
}
#skPlayer .skPlayer-control .skPlayer-list-switch {
	right: 5px;
	bottom: 12px;
	height: 20px;
	width: 20px;
}
#skPlayer .skPlayer-control .skPlayer-list-switch span{
	position:absolute;
	top:-7px;
	right:-8px;
	z-index: 120;
	padding: 3px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon {
	background-color: #ffffff;
	width: 20px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::before {
	background-color: #ffffff;
	width: 20px;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::after {
	background-color: #ffffff;
	width: 20px;
}


#skPlayer .skPlayer-control .skPlayer-mode {
	display: none;
	/*right: 5px;*/
	/*bottom: 31px;*/
}
#skPlayer .skPlayer-list {
	top: 50px;
	padding-top: 0px;
	max-height: 230px;
	width: 115%;
}
#skPlayer .skPlayer-list li{
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
}
#skPlayer .skPlayer-list .skPlayer-list-index{
	left: 10px;
	font-weight:bold;
}
#skPlayer .skPlayer-list .skPlayer-list-name{
	margin-left: 17px;
}
#skPlayer .skPlayer-list .skPlayer-list-author{

}
#skPlayer .skPlayer-list .skPlayer-list-sign{
	top: 8px;
}
#skPlayer .skPlayer-list li.skPlayer-curMusic {
	background-color: #ffffff;
}
/*音乐播放器*/
/*返回顶部*/
#goTop {right:10px;bottom:10px; width:40px;height:40px;}
/*个人主页头部样式*/
.box .userinfo-top{height: 180px;}
.userinfo .widget-user-image{top:110px;}

/*兼容手机端样式*/
@media (max-width: 767px) {
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 50px !important;
	}
	.archive-content-img img {max-height:none;max-width:100%;}	/*文章内容图片*/
	.login_btn_arr .btn-info .fa-qq{color:#00acd6;}  /*QQ/微博/微信登录按钮*/
	.login_btn_arr .btn-warning .fa-weibo{color:#e08e0b;}  /*QQ/微博/微信登录按钮*/
	.login_btn_arr .btn-danger .fa-weixin{color:#d73925;}  /*QQ/微博/微信登录按钮*/
	.main-sidebar {	padding-top: 50px;}
	.box .media-left .media-object {width: 60px;height: 60px;}
	.x-t-no3 {-webkit-line-clamp: 2 !important; }
	.control-sidebar {padding-top: 50px !important; }
	/*左侧用户信息*/
	.widget-user .widget-user-image>img {width: 70px;height: auto;border: 3px solid #fff;}
	.widget-user .widget-user-image {position: absolute;top: 35px;left: 50%;margin-left: -35px;}
	.widget-user .widget-user-header {padding: 20px;height: 80px;border-top-right-radius: 3px;border-top-left-radius: 3px;}
	/*.widget-user .box-footer {padding-top: 25px;}*/
	.description-block {display: block;	margin: 0 0;	text-align: center;}
	/*左侧用户信息*/
	.box-body .carousel-inner .x-gd-y{height:200px;} /*幻灯片*/
	/*返回顶部*/
	#goTop {right:50%; bottom:5px; width:60px;height:25px; margin-right:-30px; border-radius:4px;line-height:17px;}
	/*个人主页头部样式*/
	.box .userinfo-top{height: 140px;}
	.userinfo .widget-user-image{top:88px;}
}
/*兼容手机端样式*/