
/* Login page
--------------------------*/

body { 
	background-color:#65b0c3;
}


.box-holder{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin-top: -185px;
	margin-left: -205px;
	width: 420px;
	height: auto;
	background: white;
	text-align: center;
	padding:30px;
	color:#000;
}
