<div class="pageHeader">
  <form onsubmit="return validateCallback(this, dialogAjaxDone);" action="#{$smarty.const.ACT}#/CstTalk/cst_talk_add/" method="post">
    <input type="hidden" name="cusID" value="#{$cusID}#" />
    <div class="searchBar">
      <table class="searchContent">
        <tr>
          <td>沟通结果：</td>
          <td><input name="talk.id" value="" type="hidden"/>
            <input class="required" name="talk.name" type="text" size="40" postField="keyword" suggestFields="name" 
                suggestUrl="#{$smarty.const.ACT}#/CstDict/cst_dict_select/type/talk/" lookupGroup="talk"/></td>
          <td><ul>
              <li>
                <div class="buttonActive">
                  <div class="buttonContent">
                    <button type="submit">添加</button>
                  </div>
                </div>
              </li>
            </ul></td>
        </tr>
      </table>
    </div>
  </form>
</div>
<div class="pageContent">
  
  <table class="table" width="100%" layoutH="97">
    <thead>
      <tr>
        <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
        <th width="120">沟通时间</th>
        <th width="180">沟通记录</th>
        <th width="120">沟通人员</th>
      </tr>
    </thead>
    <tbody>
    
    #{foreach from=$list key=k item=v}#
    <tr target="sid_user" rel="#{$v.id}#">
      <td><input name="ids" value="#{$v.id}#" type="checkbox"></td>
      <td>#{$v.adt}#</td>
      <td>#{$v.name}#</a></td>
      <td>#{$v.user_name}#</td>
      
    </tr>
    #{/foreach}#
      </tbody>
    
  </table>
  <div class="panelBar">
    <form id="pagerForm" method="post" action="#{$smarty.const.ACT}#/CstLinkman/cst_linkman_show/">
      <input type="hidden" name="pageNum" value="1" />
      <input type="hidden" name="numPerPage" value="#{$numPerPage}#" />
      <input type="hidden" name="orderField" value="${param.orderField}" />
    </form>
    <div class="pages"> <span>显示</span>
      <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20" #{if $numPerPage eq '20'}# selected="selected" #{/if}#>20</option>
        <option value="50" #{if $numPerPage eq '50'}# selected="selected" #{/if}#>50</option>
        <option value="100" #{if $numPerPage eq '100'}# selected="selected" #{/if}#>100</option>
        <option value="200" #{if $numPerPage eq '200'}# selected="selected" #{/if}#>200</option>
        <option value="500" #{if $numPerPage eq '500'}# selected="selected" #{/if}#>500</option>
      </select>
      <span>条，共#{$totalCount}#条</span> </div>
    <div class="pagination" targetType="navTab" totalCount="#{$totalCount}#" numPerPage="#{$numPerPage}#" pageNumShown="10" currentPage="#{$currentPage}#"></div>
  </div>
</div>
