<extend name="Common/list-base" />

<block name="list">
    <tr>
        <th>菜单</th>
        <th>名称</th>
        <th>规则</th>
        <th width="200">操作</th>
    </tr>
    <foreach name="list" item="v">
    <tr>
        <td>{$v.title}</td>
        <td>{$v.title_menu}</td>
        <td>{$v.name}</td>
        <td>
            <a class="AjaxHtml btn btn-blue mrt10" data-url="{:U('edit?rid='.$v['rid'])}" href="javascript:;">编辑菜单</a>
            <a class="AjaxConfirm btn btn-red mrt10" data-url="{:U('del?rid='.$v['rid'])}" href="javascript:;">删除菜单</a>
        </td>
    </tr>
    </foreach>
</block>