@charset "utf-8"; 
@import url(../base/base.css);
@import url(../base/iconfont.css);
@import url(../base/ui.css);
/*公用*/
html,body{background: #FBFBFD;font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;font-size: 14px;line-height: 1.42858; color:#4c5161}
a{color:#4c5161}
a:hover{color:#2486ff}
i{margin-right: 5px}
/*标题*/
#infobar{display: inline-table;width: 100%;height:40px;line-height:40px;font-size: 14px;margin: 5px 0px;padding-left:10px;}
#infobar li {float:left;display:block;padding-right: 5px;}
#infobar li a {color:#4c5161;} 
#actionbar{display: inline-table;width: 100%;margin-bottom: 5px}
.titlebar{display: inline-table;width: 100%;margin-bottom: 5px;border-bottom: 1px solid #EEF0F6;padding: 5px 0px;}
/*布局*/
#wrapper,#main{background: #FFF;border: 1px #EEF0F6 solid;border-radius: 3px;padding:10px;overflow-y: auto;overflow-x:auto;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);box-shadow: 0 5px 8px rgba(0,0,0,0.04);}
#wrapper{position: absolute;bottom:10px;top:50px;right: 10px;left: 10px;}
#main{position: absolute;bottom:10px;top:10px;right: 10px;left: 10px;}
#wrapper::-webkit-scrollbar,#main::-webkit-scrollbar {width: 10px;height: 10px;}
#wrapper::-webkit-scrollbar-thumb,#main::-webkit-scrollbar{border-radius: 5px;background: rgba(0,0,0,0.2);}
#wrapper::-webkit-scrollbar-track,#main::-webkit-scrollbar{border-radius: 0;background: rgba(0,0,0,0.1);}
.url{border:1px #bfcbd9 solid;padding: 5px;}
