<div class='invoice_box'>
  <div class="invoice_item">
      <div class="invoice_left">
        发票抬头：
      </div>
      <div class="invoice_right">
        <ul class="inv_ul">
          <li class='inv_li {if($invoiceId==0)}inv_li_curr{/if}' onClick="changeInvoiceItem('0',this)">个人<i></i></li>
          {volist name='data' id="inv"}
          <li class='inv_li {if($invoiceId==$inv["id"])}inv_li_curr{/if}' onClick="changeInvoiceItem('{$inv.id}',this)">
            <input type="text" value="{$inv.invoiceHead}" readonly="readonly" class="invoice_input" id="invoiceHead_{$inv.id}" />
            <input type="hidden" id="invoiceCode_{$inv.id}" value="{$inv.invoiceCode}"} />
            <i></i>
            <div class="inv_opabox">
              <a href='javascript:void(0)' onClick="invEdit('{$inv.id}',this)" class="edit_btn">编辑</a>
              <a href='javascript:void(0)' onClick="editInvoice('{$inv.id}',this)" style="display:none;" class="save_btn">保存</a>
              <a href='javascript:void(0)' onClick="delInvoice('{$inv.id}',this)">删除</a>
            </div>
          </li>
          {/volist}        
        </ul>
      </div>
       <div class="wst-clear"></div>
  </div>
  <div class="invoice_item">
    <div class="invoice_left">
         
    </div>
    <div class="invoice_right">
      <a class="inv_add" onClick="invAdd()">新增发票单位</a>
    </div>
  </div>


  <div class="invoice_item inv_codebox">
    <div class="invoice_left">
        纳税人识别号：
    </div>
    <div class="invoice_right">
      <input type="text" id="invoice_num" />
    </div>
  </div>

  <div class="invoice_item">
    <div class="invoice_left">
        发票内容：
    </div>
    <div class="invoice_right">
      <ul class="inv_ul1">
        <li class='inv_li1 {if($isInvoice==0)}inv_li_curr{/if}' onClick="changeInvoiceItem1('0',this)">不开发票<i></i></li>
        <li class='inv_li1 {if($isInvoice==1)}inv_li_curr{/if}' onClick="changeInvoiceItem1('1',this)">明细<i></i></li>
        <div calss="wst-clear"></div>
      </ul>
    </div>
  </div>
  <div class="invoice_item tc">
    <a href="javascript:void(0)" class="inv_btn" onClick="saveInvoice()">保存</a>
    <a href="javascript:void(0)" class="inv_btn inv_cancel" onclick='layerclose()'>取消</a>
  </div>

  <div class="wst-clear"></div>
</div>