.my-account {
    .saases-title {
        border-bottom: 1px solid #e5e5e5;
        font-size: 18px;
        font-weight: 500;
        height: 77px;
        padding-top: 20px;
        text-align: center;
        span {
            color: #444;
            float: left;
            height: 58px;
            line-height: 57px;
            width: 144px;
        }
        .selected {
            border-bottom: 2px solid #de2634;
            color: #de2634;
        }
    }
    .box {
        .first-group {
            height: 30px !important;
        }
        .ivu-form {
            margin-top: 30px;
        }
        .ivu-form-item {
            clear: both;
            margin-top: 20px;
            padding-left: 32px;
            &.input-item {
                .ivu-form-item-label {
                    line-height: 40px
                }
            }
            .clearfix();
            .ivu-form-item-label {
                color: #444;
                float: left;
                font-size: 12px;
                margin-right: 20px;
                text-align: right;
                width: 50px;
            }
            .ivu-form-item-content {
                float: left;
                line-height: 1;
                input[type="text"] {
                    border: 1px solid #e5e5e5;
                    border-radius: 0;
                    display: block;
                    font-size: 12px;
                    padding-left: 13px;
                    width: 180px;
                }
                .submit {
                    background: #de2634;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 300;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 70px;
                    margin-top: 10px;
                    text-align: center;
                    width: 140px;
                }
                .modify {
                    color: #62bdff;
                    padding-left: 10px;
                }
            }
            .head-img {
                background: #f7f7f7;
                border: 1px solid #e5e5e5;
                height: 120px;
                width: 120px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .ivu-upload-list {
                display: none;
            }
        }
        .head-img-form {
            margin-top: 0;
            .prompt {
                color: #d0d0d0;
                font-size: 12px;
                margin-top: 5px;
            }
        }
        .account-bind {
            margin-top: 30px;
            .bind {
                background: #f7f7f7;
                border: 1px solid #e5e5e5;
                color: #444;
                height: 40px;
                line-height: 40px;
                margin-bottom: 20px;
                padding-left: 20px;
                .wechat-bind {
                    padding-left: 30px;
                }
                .bind-cancel {
                    color: #62bdff;
                    float: right;
                    margin-right: 30px;
                }
            }
        }
    }
    .ivu-upload {
        margin-top: 20px;
    }
    .ivu-upload-select {
        border: 1px solid #e5e5e5;
        margin-top: 0;
    }
    .ivu-upload {
        font-size: 12px;
        line-height: 24px;
        position: relative;
        text-align: center;
        width: 64px;
        input {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
        }
    }
    .ivu-date-picker {
        .ivu-date-picker-prev-btn-arrow-double .ivu-icon-ios-arrow-left:before,
        .ivu-date-picker-prev-btn-arrow-double .ivu-icon-ios-arrow-left:after {
            content: "\e600";
        }
        .ivu-icon-ios-arrow-left:after {
            content: "\e600";
            margin-left: -7px;
        }
        .ivu-icon-ios-arrow-right:before,
        .ivu-icon-ios-arrow-right:after {
            content: "\e601";
            margin-right: -7px;
        }
    }
}