.shipping-address {
    color: #444;
    .address-title {
        height: 79px;
        overflow-y: hidden;
        border-bottom: 1px solid #e5e5e5;
        h4 {
            color: #444;
            float: left;
            font-size: 18px;
            font-weight: 500;
            line-height: 90px;
        }
        .add-address {
            background-color: #fff;
            border: 1px solid #de2634;
            color: #de2634;
            float: right;
            height: 36px;
            margin-top: 33px;
            outline: none;
            width: 120px;
        }
    }
    table {
        margin-top: 20px;
        tbody tr {
            border: solid 1px #e5e5e5;
            height: 94px;
            line-height: 94px;
            text-align: center;
            td {
                &.td-edit {
                    color: #55b7ea;
                    cursor: pointer;
                    .line {
                        padding: 0 8px
                    }
                }
                &.td-address {
                    color: #999;
                }
                &.address {
                    color: #55b7ea;
                    cursor: pointer;
                }
            }
        }
    }
    .background-darken {
        background: rgba(0, 0, 0, 0.3);
    }
    .address-modal {
        .modal-dialog {
            background-color: #ffffff;
            height: 568px;
            left: 50%;
            margin-left: -394px;
            margin-top: -284px;
            padding: 20px 60px;
            padding-right: 0 !important;
            position: fixed;
            top: 50%;
            width: 788px;
            z-index: 1050;
            .address-content {
                .modal-title {
                    font-size: 18px;
                    height: 94px;
                    line-height: 94px;
                }
                .signup-form {
                    padding-left: 54px;
                    .signup-form-group {
                        margin-bottom: 20px;
                        &:before {
                            content: " ";
                            display: table;
                        }
                        &:after {
                            content: '';
                            clear: both;
                        }
                        .signup-form-control {
                            float: left;
                            width: 484px;
                            &:focus {
                                outline: none;
                            }
                        }
                        .ivu-form-item-label {
                            float: left;
                            font-weight: 500;
                            height: 40px;
                            line-height: 40px;
                            margin-bottom: 0;
                            margin-right: 20px;
                            text-align: right;
                            width: 70px;
                        }

                    }
                    .group-address {
                        height: 94px;
                        margin-bottom: 10px;
                    }
                    .default-address {
                        display: inline-flex;
                        margin-top: -10px;
                        .default {
                            margin-left: 10px;
                            margin-top: -1px;
                        }
                    }
                    .ivu-form-item-error-tip {
                        left: 110px;
                    }
                }
                .default-edit {
                    margin-left: 88px;
                    margin-bottom: 20px;
                }
                .select-province {
                    padding-left: 0;
                    .ivu-select-single {
                        float: left;
                        margin-right: 17px;
                        .ivu-select-selection {
                            border-radius: 0;
                            height: 40px;
                            span {
                                margin-left: 12px;
                                line-height: 40px;
                            }
                        }
                    }
                }
                .details-address-box {
                    min-height: 60px;
                    .ivu-form-item-content {
                        min-height: 70px;
                    }
                }
                .details-address {
                    height: 94px;
                    resize: none;
                }
                .close-btn {
                    border: 0 none;
                    background: #fff;
                    margin-left: 10px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .address-footer {
            .signup-form-group {
                padding-left: 142px;
            }
        }
    }
    .ivu-select-dropdown {
        position: absolute !important;
    }
    .ivu-form-item-content {
        min-height: 40px;
        &:before {
            content: " ";
            display: table;
        }
        &:after {
            content: '';
            clear: both;
        }
    }
    .order-btn {
        background: #de2634;
        border: none;
        color: #ffffff;
        font-size: 14px;
        height: 40px;
        width: 140px;
    }
}