<extend name="Public/Base"/>


<block name="content">   
	<!-- 标题栏 -->
         <ul class="nav nav-tabs">
           <li class="active"><a href="{:U('Student/index')}"><i class="glyphicon glyphicon-th-list"> </i>学生选课</a></li>  
           <li><a href="{:U('Student/classscore')}"><i class="glyphicon glyphicon-calendar"> </i>学生成绩</a></li>           
           <li><a href="{:U('Student/outstand')}"><i class="glyphicon glyphicon-calendar"> </i>优秀学员</a></li>
           <li><a href="{:U('Student/updateScoredata')}"><i class="glyphicon glyphicon-th-large"> </i>学期成绩汇总</a></li>
       </ul>
		<h3>学生列表 :  </h3>
	        <div class="col-md-2">
               <form method='post' id="form1" name="form1" action="{:U('Student/index')}"  >
                <select class="form-control form-horizontal" name="class" id="class" onChange="this.form.submit()">
                     <option >{$_sclass}</option>
                       <volist name="_class" id="vo">                       
                        <option>{$vo.class}</option>
                        </volist>
                 </select>
                </form>
            </div>
           
		<div class="col-md-8">
            <a class="btn btn-danger" href="{:U('Student/add')}">新 增</a>
            <button class="btn btn-primary ajax-post" url="{:U('Student/searchStudent')}" >学生查询</button>            
            <button class="btn btn-primary ajax-post" url="{:U('excelclass')}" >导出Excel</button>
        </div>
    <!-- 数据列表 -->
        <div class="col-md-10 data-table">
	     <table class="table data-table table-striped table-bordered" >
             <thead>
            <tr class="info">
        		<th class="row-selected "><input class="check-all" type="checkbox"/></th>
        		<th class="">班级</th>
                <th class="">班内编号</th>
        		<th class="">姓名</th>		
        		<th class="">性别</th>
                <th class="">选报课程</th>
                <th class="">选报时间</th>
        		<th class="">操作</th>
    		</tr>
            </thead>
            <tbody>
        	<notempty name="_list">
        		<volist name="_list" id="vo">
        		<tr>
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
        			<td>{$vo.class} </td>
        			<td>{$vo.code}</td>
        			<td>{$vo.name}</td>
                    <td>{$vo.sex}</td>
                    <td>{$vo.cname}</td>		
                    <td><span><if condition="($vo.update_time eq 0)"> &nbsp <else/>
                  {$vo.update_time|date='Y-m-d',###}</if></span></td>	        			
        			<td>
        				<a href="{:U('Student/selectCurriculum','sid='.$vo['sid'])}" >选课</a> |
        				
        				<a href="{:U('student/truncate?sid='.$vo['sid'])}" class="authorize">清除选课</a>
                        
                        </td>
        		</tr>
        		</volist>
        		<else/>
        		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
        		</notempty>
        	</tbody>
            </table>
            </div>

    <div class="page">
        {$_page}
     </div>

</block>

