.usercenter {
  margin:0 auto;
}
.usercenter .uc_fl_right {
  float: right;
}
.usercenter .uc {
  border-radius: 0.2em;
  margin-bottom: 1em;
}
.usercenter .uc_top_bg {
  height: 280px;
  position: relative;
  background:#999;
  width: 100%;
}
.usercenter .uc_top_bg .top_bg_box {

  overflow:hidden;
  height:280px;
  z-index:-10;
  zoom: 1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.usercenter .uc_top_bg .change_cover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.usercenter .uc_info .avatar-box {
  background:#fff;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  padding:5px;
  width:74px;
  margin:38px auto 0 auto;
}
.usercenter .uc_info .user_info_photo {
  display:block;
  width:64px;
  height:64px;
}
.usercenter .uc_info .avatar-img {
  border:5px;
  background: rgba(255,255,255,0.3);
}
.usercenter .uc_info {
  width:100%;
  position:absolute;
  z-index: 1;
  top:0;
  left:0;
}
.usercenter .uc_info .uc_main_info {
  padding:10px;
}
.usercenter .uc_info .uc_main_info .uc_info_box {
  margin:5px auto;
  color:#fff;
}
.usercenter .uc_info .uc_main_info .uc_info_box a {
  color:#fff;
}

.usercenter .uc_info .uc_main_info .followers_btn a{
  display:inline-block;
  padding:10px;
  color:#fff;
}
.usercenter .uc_info .uc_main_info .followers_btn a span{
  display:block;
}
@media (min-width: 992px) {
  .usercenter .uc_info .uc_follow {
  }
}
@media (max-width: 992px) {
  .usercenter .uc_info .uc_follow {
    margin: 0 0 10px 0;
  }
}
.usercenter .iMessageInput {margin:6px auto;}
.usercenter .uc_navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  background: #F1F1F1;
}
.usercenter .uc_navbar .navbar-collapse {
  padding-left: 0;
}
.usercenter .uc_navbar .navbar-collapse ul li a {
  color: #848484;
  font-size: 16px;
  padding: 13px 25px;
}
.usercenter .uc_navbar .navbar-collapse ul li a:hover {
  background: white;
  color: #333333;
}
.usercenter .uc_navbar .navbar-collapse ul li .uc_current {
  background: white;
  color: #333333;
}
.usercenter .uc_content .uc_other_link {
  margin-bottom: 20px;
}
.usercenter .uc_content .uc_other_link > div {
  margin: 10px;
  border-radius: 3px;
}
.usercenter .uc_content .uc_other_link > div .uc_link_info {
  margin-top: 15px;
}
.usercenter .uc_content .uc_other_link > div .uc_link_info dt img {
  margin: 0 auto;
  max-width: 100%;
}
.usercenter .uc_content .uc_other_link > div .uc_link_info dd {
  color:#333;
  text-align: center;
}
.usercenter .uc_content .uc_other_link > div .uc_link_block {
  display: block;
}
.usercenter .uc_content .uc_other_link > div .uc_link_block .uc_link_top {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
.usercenter .uc_content .uc_other_link > div .uc_link_block .uc_link_top .uc_title {
  margin: 12px 15px 12px 0;
  float: left;
}
.usercenter .uc_content .uc_other_link > div .uc_link_block .uc_link_top .uc_more_link {
  font-size: 14px;
  margin: 14px 10px 0 0;
}
.usercenter .base_info dl dt,
.usercenter .expand_info dl dt {
  width: 99px;
}
.usercenter .base_info dl dd,
.usercenter .expand_info dl dd {
  margin-left: 115px;
}

.pnav-box {
	margin:15px 0;
	background:#fff;
}
.pnav-list li a{
	font-size:18px;
}
.pnav-list > li > a {
  border-bottom: 2px solid #fff;
}
.pnav-list > li > a:hover{
  border-bottom: 2px solid #f1f1f1;
}

.uc_content {
	background:#fff;
	padding:10px 0;
	border-radius: 0.2em;
	margin-bottom: 1em;
}

.news-list-box {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
