
.weui_tabbar_item {
  .iconfont {
    font-size: 20px;
    color: #000;
    font-weight: 100;
    padding-left: 2px;
  }

  padding: -4px 0 0;
}

.todo_item {
  .icon-selected {
    margin-right: 10px;
  }

  .icon-selected {
    color: #999;
    border: 1px solid #999;
  }

  .finished {
    text-decoration: line-through;
    color: #666;
  }

  .finished .icon-selected {
    color: darkgreen;
    border: 1px solid darkgreen;
  }
}

.no_margin_top .weui_cells {
  margin-top: 0 !important;
}

.tabbar_margin {
  height: 55px;
  clear: both;
  overflow: hidden;
}

.tabbar {
  position: fixed;
}

.weui_cell_primary {
  overflow: hidden;
}