@font-face {font-family: 'iconfont';
    src: url('v1/iconfont.eot'); /* IE9*/
    src: url('v1/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('v1/iconfont.woff') format('woff'), /* chrome、firefox */
    url('v1/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('v1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-onepage48:before { content: "\e75a"; }
.icon-trade:before { content: "\e758"; }
.icon-data:before { content: "\e757"; }
.icon-hot:before { content: "\e756"; }
.icon-bussinesscard:before { content: "\e753"; }
.icon-ship:before { content: "\e74f"; }
.icon-survey:before { content: "\e74e"; }
.icon-libra:before { content: "\e74c"; }
.icon-templatedefault:before { content: "\e74a"; }
.icon-inquirytemplate:before { content: "\e749"; }
.icon-save:before { content: "\e747"; }
.icon-copy:before { content: "\e744"; }
.icon-sorting:before { content: "\e743"; }
.icon-exl:before { content: "\e73f"; }
.icon-pdf:before { content: "\e740"; }
.icon-zip:before { content: "\e741"; }
.icon-card012:before { content: "\e737"; }
.icon-creditlevelfilling:before { content: "\e736"; }
.icon-creditlevel:before { content: "\e735"; }
.icon-accountfilling:before { content: "\e732"; }
.icon-favoritesfilling:before { content: "\e730"; }
.icon-emailfilling:before { content: "\e72d"; }
.icon-mobilephone:before { content: "\e72a"; }
.icon-shoes:before { content: "\e728"; }
.icon-store:before { content: "\e722"; }
.icon-manageorder:before { content: "\e723"; }
.icon-rejectedorder:before { content: "\e724"; }
.icon-phone:before { content: "\e725"; }
.icon-bussinessman:before { content: "\e726"; }
.icon-share:before { content: "\e71d"; }
.icon-compass:before { content: "\e71b"; }
.icon-security:before { content: "\e71c"; }
.icon-iconfontstop:before { content: "\e71a"; }
.icon-iconfontplay2:before { content: "\e719"; }
.icon-skip:before { content: "\e718"; }
.icon-bad:before { content: "\e716"; }
.icon-good:before { content: "\e717"; }
.icon-productfeatures:before { content: "\e6f4"; }
.icon-supplierfeatures:before { content: "\e6f5"; }
.icon-similarproduct:before { content: "\e6f6"; }
.icon-link:before { content: "\e6f7"; }
.icon-cut:before { content: "\e6f8"; }
.icon-table:before { content: "\e6f9"; }
.icon-navlist:before { content: "\e6fa"; }
.icon-imagetext:before { content: "\e6fb"; }
.icon-text:before { content: "\e6fc"; }
.icon-move:before { content: "\e6fd"; }
.icon-subtract:before { content: "\e6fe"; }
.icon-dollar:before { content: "\e702"; }
.icon-raw:before { content: "\e704"; }
.icon-office:before { content: "\e705"; }
.icon-agriculture:before { content: "\e707"; }
.icon-machinery:before { content: "\e709"; }
.icon-assessedbadge:before { content: "\e70a"; }
.icon-gerenzhongxin:before { content: "\e70b"; }
.icon-jifen:before { content: "\e70c"; }
.icon-renwuguanli:before { content: "\e70d"; }
.icon-operation:before { content: "\e70e"; }
.icon-remind:before { content: "\e713"; }
.icon-icondownload:before { content: "\e714"; }
.icon-map:before { content: "\e715"; }
.icon-all:before { content: "\e696"; }
.icon-back:before { content: "\e697"; }
.icon-cart:before { content: "\e698"; }
.icon-category:before { content: "\e699"; }
.icon-close:before { content: "\e69a"; }
.icon-comments:before { content: "\e69b"; }
.icon-cry:before { content: "\e69c"; }
.icon-delete:before { content: "\e69d"; }
.icon-edit:before { content: "\e69e"; }
.icon-email:before { content: "\e69f"; }
.icon-favorite:before { content: "\e6a0"; }
.icon-folder:before { content: "\e6a1"; }
.icon-form:before { content: "\e6a2"; }
.icon-help:before { content: "\e6a3"; }
.icon-information:before { content: "\e6a4"; }
.icon-less:before { content: "\e6a5"; }
.icon-moreunfold:before { content: "\e6a6"; }
.icon-more:before { content: "\e6a7"; }
.icon-pic:before { content: "\e6a8"; }
.icon-qrcode:before { content: "\e6a9"; }
.icon-refresh:before { content: "\e6aa"; }
.icon-rfq:before { content: "\e6ab"; }
.icon-search:before { content: "\e6ac"; }
.icon-selected:before { content: "\e6ad"; }
.icon-set:before { content: "\e6ae"; }
.icon-smile:before { content: "\e6af"; }
.icon-success:before { content: "\e6b1"; }
.icon-survey1:before { content: "\e6b2"; }
.icon-training:before { content: "\e6b3"; }
.icon-viewgallery:before { content: "\e6b4"; }
.icon-viewlist:before { content: "\e6b5"; }
.icon-warning:before { content: "\e6b6"; }
.icon-wrong:before { content: "\e6b7"; }
.icon-account:before { content: "\e6b8"; }
.icon-add:before { content: "\e6b9"; }
.icon-atm:before { content: "\e6ba"; }
.icon-clock:before { content: "\e6bb"; }
.icon-remind1:before { content: "\e6bc"; }
.icon-calendar:before { content: "\e6bf"; }
.icon-attachment:before { content: "\e6c0"; }
.icon-3column:before { content: "\e6c3"; }
.icon-4column:before { content: "\e6c4"; }
.icon-discount:before { content: "\e6c5"; }
.icon-service:before { content: "\e6c7"; }
.icon-print:before { content: "\e6c9"; }
.icon-box:before { content: "\e6cb"; }
.icon-process:before { content: "\e6ce"; }
.icon-bags:before { content: "\e6d1"; }
.icon-beauty:before { content: "\e6d2"; }
.icon-electrical:before { content: "\e6d4"; }
.icon-home:before { content: "\e6d7"; }
.icon-electronics:before { content: "\e6da"; }
.icon-gifts:before { content: "\e6db"; }
.icon-apparel:before { content: "\e6dc"; }
.icon-lights:before { content: "\e6de"; }
.icon-sports:before { content: "\e6e0"; }
.icon-toys:before { content: "\e6e1"; }
.icon-auto:before { content: "\e6e3"; }
.icon-jewelry:before { content: "\e6e4"; }
.icon-trade-assurance:before { content: "\e6e5"; }
.icon-browse:before { content: "\e6e6"; }
.icon-rfqqm:before { content: "\e6e7"; }
.icon-rfqquantity:before { content: "\e6e8"; }
.icon-atmaway:before { content: "\e6e9"; }
.icon-rfq1:before { content: "\e6eb"; }
.icon-scanning:before { content: "\e6ec"; }
.icon-compare:before { content: "\e6ee"; }
.icon-filter:before { content: "\e6f1"; }
.icon-pin:before { content: "\e6f2"; }
.icon-history:before { content: "\e6f3"; }
