<extend name="Public/base"/>
<block name="content">	
<div class="panel panel-default">
	<div class="panel-heading">JYmusic音乐管理系统在线升级</div>
	<if condition="IS_GET">
 	<div class="panel-body">
		<present name="info">
 		<div class="alert alert-warning text-center col-md-6 col-md-offset-3">
		
		友情提示：感谢你使用JYmusic音乐管理系统，在升级前请务必做好备份工作，以避免数据丢失！！
		
		</div>
		<div class="box-placeholder col-md-6 col-md-offset-3">
		    <form method="post" action="<{:U()}>" class="form-horizontal" style="text-align:center;margin:50px;">
		        <div class="form-group">
		            <label class="ontrol-label col-sm-12 ">是否需要备份重要文件<span class="check-tips"></span></label>
		            <div class="col-sm-12">
		                <label class="checkbox-inline"><input type="radio" name="backupfile" value="1">是</label>
		                <label class="checkbox-inline"><input type="radio" name="backupfile" value="0" checked="checked">否</label>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="ontrol-label">如需备份数据库，请&nbsp;&nbsp;<a href="<{:U('/Database/index/type/export')}>" class="btn  btn-square btn-default btn-xs" target="_blank">点击备份</a></label>
		        </div>
			    <div class="form-group" style="margin-top:30px;">
			        <button class="btn submit-btn" type="submit">开始更新</button>
			    </div>
		    </form>
		</div>
		<else /> 
		<div class="alert alert-warning text-center col-md-6 col-md-offset-3">友情提示：未检测到有更新！</div>
		
		</present> 
		
		<div id="show-list" class="box-placeholder col-md-6 col-md-offset-3">
			<{$info}>
        </div>
	</div>
	
	<else />
	<div class="panel-body"><div id="show-list" class="box-placeholder col-md-6 col-md-offset-3"></div></div>
	</if>
</div>
</block>

<block name="script">
<script type="text/javascript">
var list   = document.getElementById('show-list');
function showmsg(msg, classname){
    var li = document.createElement('p');
    li.innerHTML = msg;
    classname && li.setAttribute('class', classname);
    list.appendChild(li);
    document.scrollTop += 30;
}
var html = '<volist name="__MENU__.main" id="menu"><li><a href="<{$menu.url|U}>" title="<{$menu.title}>" class="has-submenu"><em class="fa fa-<{$menu.style|default='th-list'}>""></em><span class="item-text"><{$menu.title}></span></a></li></volist>'
$('body').addClass('aside-toggled');
//$('.sidebar ul').append(html);


</script>
</block>
