#main { margin: 10px 0;}
#main .input-group { margin-top: 15px;}
#main .input-group.checkbox .input-group-addon { border-right: 1px solid #ccc;}
#main .input-group.checkbox .bootstrap-switch { margin-left: 15px;}
#main .input-group .btn.btn-primary { color: #fff;}
#main .input-group .btn.btn-danger { color: #fff;}
#main .table th.operation { width: 80px;}
#main .table td .glyphicon-edit { color: #265a88;}
#main .table td .glyphicon-trash { color: #f00;}
#main .panel-body { padding-top: 0;}
#main .alert-dismissible { margin-top: 20px;}

#person_clear { cursor: pointer;}

#friendLink .table td { vertical-align: middle;}
#friendLink .table td img { height: 40px;}