body { font-family: 'Microsoft YaHei', '微软雅黑';}
a { color: #333;}
a:hover { text-decoration: none;}
.bg-danger { color: #f00; padding: 4px 6px;}

/*页头*/
.navbar-brand { font-weight: bold;}
.navbar-header .navbar-toggle .icon-bar { background-color: #666;}
.navbar-brand img { height: 25px; display: inline;}

/*页脚*/
footer { color: #666; margin-top: 15px; border-top: 2px solid #eee; padding-top: 15px;}
footer a { color: #666;}
.bs-docs-footer-links { padding-left: 0; margin-top: 20px; }
.bs-docs-footer-links li { display: inline; padding: 0 2px; }
.bs-docs-footer-links li:first-child { padding-left: 0; }

/*提示*/
#message a { margin: 0 4px;}

/*验证码*/
.captcha { cursor: pointer;}
.captcha:hover { color: #a94442;}
.captcha:hover .glyphicon-refresh {
    animation:rotate 2s infinite;
    -moz-animation:rotate 2s infinite;
    -webkit-animation:rotate 2s infinite;
    -o-animation:rotate 21s infinite;
}
@keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-moz-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-webkit-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-o-keyframes rotate
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}

/*验证码*/
#captcha { ime-mode:disabled}

/*分页*/
.pagination { margin: 0;}
.panel-heading a { color: #fff;}
.panel-body p.info { text-indent: 2em;}

/*正文*/
.page-body { padding: 15px; margin-bottom: 15px; box-shadow: 0 6px 12px rgba(0,0,0,.175); width: 100%; overflow: hidden;}
.page-body img { max-width: 100%;}
.page-footer { padding: 15px;}
.page-footer a { display: block; margin-bottom: 6px;}
#article .page-header span { color: #999;}
#article .page-body p { text-indent: 2em;}
#article .page-body p img { margin-left: -2em;}

/*广告*/
.ads { width: 100%; height: auto; overflow: hidden; margin-bottom: 20px; border-radius: 4px;}
.ads img { width: 100%; height: auto;}

/*幻灯*/
.carousel-control { background-image: none !important;}
.carousel-indicators { bottom: -25px;}
.carousel-indicators li { background-color: #333;}
.carousel-indicators .active { background-color: #333;}

/*人物*/
#persons h3 { margin:6px 6px 10px;}
#persons .pic { height: 240px; overflow: hidden; position: relative; background: #eee; border-radius: 50%;}
#persons .pic p{ height:240px; line-height:240px; text-align: center;}
#persons .pic p img{ *margin-top:expression((240 - this.height )/2); display: inline;}
#persons .pic span { position: absolute; top: 44%; left: 0; width: 100%;}
#persons .pic span s { background: #000; width: 100%; height: 30px; position: absolute; top: 0; left: 0; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
#persons .pic span div { width: 100%; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 24px; font-weight: bold; position: absolute; top: 0; left: 0;}
#persons .page-body .info { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; color: #666; font-size: 16px;}
#persons .page-body .info div.btn { margin: 4px !important;}

#person { background-color: #f6f6f6;}
#person .left { background-color: #f6f6f6; text-align: center;}
#person .left .head { width: 100px; height: 100px; border-radius: 50px; margin-top: 20px;}
#person .left h2 { margin: 6px 0;}
#person .left h3 { margin: 6px 0; color: #666;}
#person .left .info { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 12px 0; padding: 6px 0;}
#person .left .info div { border-left: 1px solid #ddd;}
#person .left .info div:first-child { border-left: none;}
#person .left .info span { display: block; font-size: 16px; font-weight: bold;}
#person .left .tag { margin-bottom: 20px;}
#person .left .tag div { display: block; padding: 6px; border-bottom: 1px solid #ddd; text-align: left}
#person .left .tag div i { color: #ff0000; margin: 0 12px;}
#person .right { background-color: #ffffff; padding: 15px;}
#person .right img { max-width: 98%;}
#person .right h2 { margin-bottom: 20px;}
#person .right h2 i { color:#ccc; margin-right: 12px;}

/*项目*/
#projects .pic { height: 240px; overflow: hidden; position: relative; background: #eee; border-radius: 8px;}
#projects .pic p{ height:240px; line-height:240px; text-align: center;}
#projects .pic p img{ *margin-top:expression((240 - this.height )/2); display: inline;}
#projects .info { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; color: #666; font-size: 16px;}
#projects .info div.btn { margin: 4px !important;}

#project .left { background-color: #f6f6f6; text-align: center; overflow: hidden;}
#project .left h2 { margin: 24px 0; font-size: 18px; font-weight: bold;}
#project .left .info { margin: 12px 0; text-align: left;}
#project .left .info div { display: block; border-top: 1px solid #ddd; padding: 6px 0 6px 12px; color: #666;}
#project .left .info span { color: #000; font-weight: bold;}
#project .left .person .pic { width: 40px; height: 40px; border-radius: 20px; display: inline;}
#project .left .tag { margin-bottom: 20px;}
#project .left .tag div { display: block; padding: 6px; border-bottom: 1px solid #ddd; text-align: left}
#project .left .tag div i { color: #ff0000; margin: 0 12px;}
#project .left .speed p { text-align: left;}
#project .left .speed span { margin: 0 10px; color: #ccc;}
#project .right { background-color: #ffffff; padding: 15px;}
#project .right img { max-width: 98%;}
#project .right h2 { margin-bottom: 20px;}
#project .right h2 i { color:#ccc; margin-right: 12px;}
#project .right .page-footer { margin-top: 12px; padding-top: 12px; border-top: 1px solid #ddd;}
#project .cover { margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px solid #ddd;}

#wechatcode-box img { max-width: 100%;}
