html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
strong,
big,
small,
img,
form,
input,
label,
textarea,
button,
ul,
ol,
li,
dl,
dt,
dd,
table,
tbody,
tr,
th,
td {
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  height: 100%;
  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei", "SimSun";
  font-size: 14px;
  
}

#bgimg img {
position: absolute;
width: 100%;
height: 100%;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: outside none none;
}
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
big,
small {
  font-size: 14px;
}
.clears {
  height: 0;
  clear: both;
  overflow: hidden;
}
.clearsH {
  clear: both;
  height: 10px;
  overflow: hidden;
}
#top {
  top:-80px;
  width: 100%;
  position: absolute;
  z-index: 100;
  padding: 5px 0px;
  color: #FFF;
  font-size: 26px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
#top img{ width: 60px;}
#top a {
  color: #fff;
}
#main {
  position: fixed;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 110px;
  font-size: 12px;
  z-index: 100;


  border: 1px solid rgba(0,0,0,.1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.4);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
#main a:hover {
  color: #FFF;
}
#verify_hread{
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width:100%; 
  height:50px;
  border: 1px solid rgba(0,0,0,.2);
  line-height: 50px;
  color: #FFF;
  font-size: 14px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.4);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.4); 
}

#merchant_title{
  float: right;
  width: 100px;
  margin-right: 80px;
  color: #FFF;
}
#main h2 {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
#main dl {
  height: 120px;
  margin: 10px 5px;
}
#main dl dt {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
  overflow: hidden;
}
#main dl dd {
  float: left;
  width: 80px;
  margin: 4px;
  border: 1px solid #fff;
  border-radius: 6px;
}
#main dl dd a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
#main dl.little dd {
  width: 170px;
}
#main form {
  display: block;
  padding: 16px 0;
  border-top: 1px dotted #fff;
}
#main form input {
  display: block;
  width: 220px;
  height: 36px;
  line-height: 36px;
  color: #0a99d5;
  font-size: 14px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0 -2px 0 #ffffff;
  background-image: linear-gradient(to bottom, #dde0d5, #eef0eb, #fefff7);
}
#main form input#btnSub {
  width: 130px;
  height: 36px;
  margin: 0 auto;
  border: 0;
  box-shadow: none;
  background: url("../images/btn01.jpg") no-repeat 0 0;
  cursor: pointer;
}
#main form span {
  display: block;
  width: 220px;
  height: 36px;
  line-height: 36px;
  color: #0a99d5;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0 -2px 0 #ffffff;
  background-image: linear-gradient(to bottom, #dde0d5, #eef0eb, #fefff7);
  cursor: pointer;
}
.input-group {
position: relative;
display: table;
border-collapse: separate;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
display: table-cell;
}
.input-group .form-control {
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}
input {
line-height: normal;
}
button, input, optgroup, select, textarea {
margin: 0;
font: inherit;
color: inherit;
}
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}
.input-group-addon, .input-group-btn {
width: 1%;
white-space: nowrap;
vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
display: table-cell;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
margin-left: -1px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.input-group-btn>.btn {
position: relative;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-wrapper img{
        width:100%;
    }

@media (min-width: 768px) {
  .swiper-wrapper img{
        max-width:768px;
  }
}
@media (min-width: 992px) {
  .swiper-wrapper img{
        max-width:768px;
  }
}