
/* ========================================================
*
* Amsterdam - premium admin template
*
* ========================================================
*
* File: ie.css;
* Description: Correction classes for Internet Explorer
* Version: 1.0
*
* ======================================================== */


input[type="file"] { background-color: white; border: 1px solid #DADADA; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02), 0 1px 0 white; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02), 0 1px 0 white; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02), 0 1px 0 white; padding: 8px 7px; font-size: 11px; color: #5F5F5F; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; height: 30px;}
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{ line-height: 12px; height: 30px; }
.ui-spinner > input[type="text"] { line-height: 14px; }
div.selector span { line-height: 26px; }
select { height: auto; line-height: auto; }
.navigation > li > a, .navigation.condensed > li:first-child > a, .navigation.condensed > li:last-child > a { border-radius: 0; }