<div class="checkout-section" id="agree-section">
  {% if text_payment_method %}
    <label>
      <span class="checkbox-plus">
        <input type="checkbox" name="terms" id="agree-section-input" value="1" {{ terms ? 'checked' }} />
        <label for="agree-section-input"></label>
        {{ text_payment_method }}
      </span>
    </label>
  {% endif %}
</div>
