<style>
	@font-face {
		font-family:'UKIJ Ekran'; src:url('/UKIJEkran.eot'); src:local('☺'), local("UKIJ Ekran"), url('/UKIJEkran.eot?#iefix') format('embedded-opentype'),  url('/UKIJEkran.woff') format('woff'), url('/UKIJEkran.ttf')  format('truetype');  font-weight: normal;  font-style: normal;}
	html {
		direction: rtl;
	}
	.image-circular {
		-webkit-border-radius: 50% !important;
		-webkit-background-clip: padding-box !important;
		-moz-border-radius: 50% !important;
		-moz-background-clip: padding !important;
		border-radius: 50% !important;
		background-clip: padding-box !important;
		background-clip: padding-box;
		border: 5px solid #f5f5f5;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
		box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	}
</style>
<div style="margin: 50px auto; text-align: center;font-family: 'UKIJ Ekran','Microsoft YaHei','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;font-size: 18px;">بۇ ئىقتىدار يېزىلىۋاتىدۇ، دېققىتىڭىز بىزدە بولسۇن !<br /><p style="color:#080;">QeyserBlog مۇنازىرە توپى ：6364475</p><br /><img src="__ADMIN__/images/coding.png" class="image-circular bordered-3 bordered-palegreen" /></div>