<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-09-06 14:24:55
 * @LastEditTime: 2019-09-12 11:53:52
 * @LastEditors: Please set LastEditors
 -->
 <html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/style.css')}" />
		<div class="activity-list">
			<f:for each="{activities}" as="activity">
			<div class="liner">
				<div class="col-md-4 pad-left-0">
					<div class="activity-border">
						<div class="activity-img">
							<f:if condition="{activity.pictures}">
								<f:then>
									<f:link.action action="qtshow" arguments="{activity : activity}"><f:image src="uploads/tx_activity/images/{activity.pictures}" alt="" width="800c" height="450c"/></f:link.action>
								</f:then>
								<f:else>
									<f:link.action action="qtshow" arguments="{activity : activity}"><f:image src="uploads/tx_activity/images/default.png" alt="" width="800c" height="450c"/></f:link.action>
								</f:else>
							</f:if>
						</div>
					</div>
				</div>
				<div class="col-md-8 pad-right-0">
					<div class="activity-content">
						<div class="activity-name">
							<f:link.action action="qtshow" arguments="{activity : activity}">{activity.name}</f:link.action>
						</div>
						<div class="activity-introduce">
							{activity.introduce}
						</div>
						<div class="activity-date">活动开始时间：{activity.sttime-> f:format.date(format:'Y-m-d H:i')}</div>
						<f:if condition="{activity.sendstat}==1">
							<f:then>
								<f:link.action action="qtshow" pageUid="{settings.detailpage}" arguments="{activity : activity}" class="btn btn-success">查看详情</f:link.action>
							</f:then>
							<f:else>
								<f:link.action action="qtshow" arguments="{activity : activity}" class="btn btn-default">活动已结束</f:link.action>
							</f:else>
						</f:if>
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
			</f:for>
		</div>
	</f:section>
</html>
