<footer class="nav-footer display-table">
	<ul>
		<li class="vertical-box " onclick="window.location.href='{:U('shop/index/index')}'">
			<div class="footer-group">
				<span class="footer-icon-home"></span>
				<p style="left: 1px" class="icon-title">首页</p>
			</div>
		</li>
		<!--<li class="vertical-box" onclick="window.location.href='{:U('shop/index/index')}'">
			<div class="footer-group">
				<span class="footer-icon-list"></span>
				<p style="left: 1px" class="icon-title">分类</p>
			</div>
		</li>-->
		<li class="vertical-box" onclick="window.location.href='{:U('shop/index/cart')}'">
			<div class="footer-group">
				<span class="footer-icon-cart"></span>
				<p style="left: -3px" class="icon-title">购物车</p>
			</div>
		</li>
		<li class="vertical-box" onclick="window.location.href='{:U('shop/index/user')}'">
			<div class="footer-group">
				<span class="footer-icon-user"></span>
				<p style="left: 2px" class="icon-title">我的</p>
			</div>
		</li>
	</ul>
</footer>