/*
全局样式
*/
.fl{ float: left;}
.fr{float: right;}
.tc{text-align: center;}


.font-h1{ font-size: 24px;font-weight: 400 }


.mt2{margin-top: 2%}
.mb2{margin-bottom: 2%}

.wid50{ width: 50% }
/*color*/
.clb{color: blue}
.cldark{color: darkgray;}

legend a{ font-style: 24px; }