{include file="./app/admin/view/public/header.html" /}
<!--form styles-->
{block name="styles"}{/block}
<!--form styles-->
<style>
    #think_page_trace_open, #think_page_trace {display: none;}
</style>
<!-- 整个页面内容开始 -->
<div class="main-container" id="main-container">
    <!-- 主要内容开始 -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- 右侧下主要内容开始 -->
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        {block name="main-content"}{/block}
                    </div>
                </div>
            </div>
            <!-- 右侧下主要内容结束 -->
        </div>
    </div><!-- 主要内容结束 -->
    {notempty name="attr_data.has_icon"}
    {include file="./app/admin/view/public/icon.html" /}
    {/notempty}
</div><!-- 整个页面内结束 -->
<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{$static_path}/jquery/dist/jquery.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="{$static_path}/jquery.1x/dist/jquery.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='{$static_path}/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="{$static_path}/bootstrap/dist/js/bootstrap.js"></script>
<!-- 此页相关插件js -->
{block name="scripts"}{/block}
<!-- 与此页相关的js -->
<!-- ace scripts -->
<script src="{$static_path}/ace/js/src/elements.scroller.js"></script>
<script src="{$static_path}/ace/js/src/elements.colorpicker.js"></script>
<script src="{$static_path}/ace/js/src/elements.fileinput.js"></script>
<script src="{$static_path}/ace/js/src/elements.typeahead.js"></script>
<script src="{$static_path}/ace/js/src/elements.wysiwyg.js"></script>
<script src="{$static_path}/ace/js/src/elements.spinner.js"></script>
<script src="{$static_path}/ace/js/src/elements.treeview.js"></script>
<script src="{$static_path}/ace/js/src/elements.wizard.js"></script>
<script src="{$static_path}/ace/js/src/elements.aside.js"></script>
<script src="{$static_path}/ace/js/src/ace.js"></script>
<script src="{$static_path}/ace/js/src/ace.basics.js"></script>
<script src="{$static_path}/ace/js/src/ace.scrolltop.js"></script>
<script src="{$static_path}/ace/js/src/ace.ajax-content.js"></script>
<script src="{$static_path}/ace/js/src/ace.touch-drag.js"></script>
<script src="{$static_path}/ace/js/src/ace.sidebar.js"></script>
<script src="{$static_path}/ace/js/src/ace.sidebar-scroll-1.js"></script>
<script src="{$static_path}/ace/js/src/ace.submenu-hover.js"></script>
<script src="{$static_path}/ace/js/src/ace.widget-box.js"></script>
<script src="{$static_path}/ace/js/src/ace.settings.js"></script>
<script src="{$static_path}/ace/js/src/ace.settings-rtl.js"></script>
<script src="{$static_path}/ace/js/src/ace.settings-skin.js"></script>
<script src="{$static_path}/ace/js/src/ace.widget-on-reload.js"></script>
<script src="{$static_path}/ace/js/src/ace.searchbox-autocomplete.js"></script>
<!-- jquery.form、layer、yfcmf的js -->
<script src="{$static_path}/others/jquery.form.js"></script>
<script src="{$static_path}/others/maxlength.js"></script>
<script src="{$static_path}/layer/layer_zh-cn.js"></script>
<script src="{$static_path}/yfcmf/tab.js?{php}echo time();{/php}"></script>
<script src="{$static_path}/yfcmf/yfcmf.js?{php}echo time();{/php}"></script>
<!--<script src="{$static_path}/yfcmf/sidebar-menu.js?{php}echo time();{/php}"></script>-->

</body>
</html>
