<style>
html {
    background-color: #F1F2F7;
}

.layui-col-md3 {
    width: 30%;
}

</style>

<!-- 主体部分开始 -->
<div class="layui-fluid">
    <div class="layui-card">
    	<div class="layui-card-header">基本信息</div>
        <div class="layui-card-body">
            <div class="layui-form-item layui-row">
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家姓名：</label>
					<div class="layui-form-mid">
						{$info.realname}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家手机号：</label>
					<div class="layui-form-mid">
						{$info.mobile}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家昵称：</label>
					<div class="layui-form-mid">
						{$info.nickname}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家性别：</label>
					<div class="layui-form-mid">
						{$info.gender_name}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家职位：</label>
					<div class="layui-form-mid">
						{$info.position}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">公司名称：</label>
					<div class="layui-form-mid">
						{$info.company_name}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家身份证号：</label>
					<div class="layui-form-mid">
						{$info.identity_num}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">纳税人识别号：</label>
					<div class="layui-form-mid">
						{$info.taxpayer_number}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家所在城市：</label>
					<div class="layui-form-mid">
						{$info.city_name}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家地址：</label>
					<div class="layui-form-mid">
						{$info.address}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">备注信息：</label>
					<div class="layui-form-mid">
						{$info.remark}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">审核状态：</label>
					<div class="layui-form-mid">
						<if condition="$info.check_status eq 2">
						<span style="color: #009688;">【{$info.check_status_name}】</span>
						<elseif condition="$info.check_status eq 3"/>
						<span style="color: #F581B1;">【{$info.check_status_name}】</span>
						<else/>
						【{$info.check_status_name}】
						</if>
						
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">审核备注：</label>
					<div class="layui-form-mid">
						{$info.check_note}
					</div>
	           </div>
	       </div>
        </div>
    </div>
</div>
<!-- 主体部分结束 -->

<!-- 主体部分开始 -->
<div class="layui-fluid">
    <div class="layui-card">
    	<div class="layui-card-header">证件信息</div>
        <div class="layui-card-body">
            <div class="layui-form-item layui-row">
            	<div class="layui-inline layui-col-md3">
					<label class="layui-form-label">商家LOGO：</label>
					<div class="layui-form-mid">
						<a href="{$info.logo_url}" target="black">
					 		<img src="{$info.logo_url}" alt="商家LOGO" title="商家LOGO" width="200" height="200">
					 	</a>
					</div>
				</div>
				<div class="layui-inline layui-col-md3">
					<label class="layui-form-label">营业执照：</label>
					<div class="layui-form-mid">
						<a href="{$info.business_img_url}" target="black">
					 		<img src="{$info.business_img_url}" alt="营业执照" title="营业执照" width="200" height="200">
					 	</a>
					</div>
				</div>
				<div class="layui-inline layui-col-md3">
					<label class="layui-form-label">开户许可证：</label>
					<div class="layui-form-mid">
						<a href="{$info.account_img_url}" target="black">
					 		<img src="{$info.account_img_url}" alt="开户许可证" title="开户许可证" width="200" height="200">
					 	</a>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<!-- 主体部分结束 -->

<!-- 主体部分开始 -->
<div class="layui-fluid">
    <div class="layui-card">
    	<div class="layui-card-header">账户信息</div>
        <div class="layui-card-body">
            <div class="layui-form-item layui-row">
            	<div class="layui-inline layui-col-md3">
					<label class="layui-form-label">注册地址：</label>
					<div class="layui-form-mid">
						{$info.invoice_address}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">注册电话：</label>
					<div class="layui-form-mid">
						{$info.invoice_tel}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">开户银行：</label>
					<div class="layui-form-mid">
						{$info.invoice_bank}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">开户账号：</label>
					<div class="layui-form-mid">
						{$info.invoice_bank_account}
					</div>
	           </div>
	           <div class="layui-inline layui-col-md3">
					<label class="layui-form-label">待结余额：</label>
					<div class="layui-form-mid">
						{$info.balance}【元】
					</div>
	           </div>
            </div>
        </div>
    </div>
</div>
<!-- 主体部分结束 -->
