/*
*css reset
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
	padding: 0; 
	margin: 0; 
} 
body, button, input, select, textarea {
    font: 12px 'Microsoft Yahei','Simsun';
    color: #333;
}
table{ 
	border-collapse: collapse; 
	border-spacing: 0; 
} 
fieldset,img { 
	border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
	font-weight: normal; 
	font-style: normal; 
} 
ol,ul { 
	list-style: none; 
} 
caption,th { 
	text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
	font-weight: normal;
	font-size: 100%; 
} 
q:before,q:after { 
	content:”; 
} 
abbr,acronym { 
	border: 0; 
}
body{
	font-size:12px;
}
td{
	vertical-align:top;
}
a,a:link,a:visited{
	text-decoration:none;
	color: #2d374b;
}
a:hover{
	text-decoration:underline;
}
img {
    vertical-align: middle;
}
/*
*Toper
*/
.Toper{
	height:27px;
	overflow:hidden;
	background:url(toper.gif) repeat-x;
}
.Toper .Infos{
	width:980px;
	margin:auto;
	line-height:27px;
}
/*
*Navers
*/
.Navers{
	width:980px;
	height:50px;
	margin:auto;
	position:relative;
	z-index:100000;
}
.Navers .Logo{
	float:left;
	padding-top:2px;		
}
.Navers .Search{
	width:540px;
	height:40px;
	position:relative;
	float:right;
	padding-top:8px;
	background:url(searchbg.gif) left 8px no-repeat;
}
.Navers .Search .showtype{
	width:55px;
	height:32px;
	line-height:32px;
	padding:4px 0 0 15px;
	float:left;
	cursor:pointer;
}
.Navers .Search .listtype{
	width:70px;
	position:absolute;
	left:0;
	top:40px;
	padding-bottom:5px;
	background:url(showselect.gif) left bottom no-repeat;
	display:none;
}
.Navers .Search .listtype span{
	display:block;
	padding-left:15px;
	height:25px;
	line-height:25px;
	background:url(showselect.gif) left -30px no-repeat;
	font-size:14px;
}
.Navers .Search .listtype span.on{
	background:url(showselect.gif) left -85px no-repeat;
	color:#FFF;
}
.Navers .Search .listtype span.ck{
	background:url(showselect.gif) left -57px no-repeat;
	color:#F00;
}
.Navers .Search .showselect{
	display:block;
}
.Navers .Search .onselect{
	background:url(showselect.gif) no-repeat;
}
.Navers .Search .keywords{
	float:left;
	padding:5px 0 0 5px;
}
.Navers .Search .keywords input{
	width:375px;
	border:0;
	height:25px;
	line-height:25px;
}
.Navers .Search .subbutter{
	float:left;
	padding:8px 0 0 5px;
}
.Navers .Search .subbutter input{
	border:0;
	background:none;
	font-size:14px;
	font-weight:bold;
	width:75px;
	cursor:pointer;
}
/*
*MainMenu
*/
.MainMenu{
	height:35px;
	background:url(menubg.gif) repeat-x;
	overflow:hidden;
}
.MainMenu ul{
	width:980px;
	height:35px;
	margin:auto;
}
.MainMenu ul li{
	float:left;
	padding-left:15px;
	background:url(mspc.gif) no-repeat;
}
.MainMenu ul li span{
	display:block;
	padding:5px 15px 0 0;
	line-height:30px;
}
.MainMenu ul li span a{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
}
.MainMenu ul li.first{
	background:url(mck.gif) no-repeat;
}
.MainMenu ul li.first span{
	background:url(mck.gif) right top no-repeat;
}
.MainMenu ul li.first span a{
	color:#1372A6;
}
.MainMenu ul li.second,.MainMenu ul li.next{
	background:none;
}
.MainMenu ul li.over{
	background:url(mover.gif) no-repeat;
}
.MainMenu ul li.over span{
	background:url(mover.gif) right top no-repeat;
}
.MainMenu ul li.over span a{
	color:#FFF;
	text-decoration:none;
}
/*
*MainContainer
*/
.MainContainer{
	width:990px;
	margin:10px auto;
}
.MainContainer .Side{
	width:220px;
	border:#E3E3E3 solid 1px;
	background:#F7F7F7;
}
.MainContainer .Main{
	padding-left:10px;
}
.memberinfo{
	border-bottom:#E3E3E3 solid 1px;
	height:70px;
	overflow:hidden;
}
.memberinfo dt{
	float:left;
	padding:15px 0 0 15px;
}
.memberinfo dt a{
	display:block;
	width:40px;
	height:40px;
	overflow:hidden;
}
.memberinfo dd{
	float:left;
	width:130px;
	padding:10px 0 0 15px;
}
.memberinfo dd div{
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.memberinfo dd div a{
	float:left;
	color:#29607B;
}
.memberinfo dd div span{
	float:right;
}
.MenuAct{
	border-bottom:#E3E3E3 dotted 1px;
	padding:10px;
}
.MenuAct div{
	background:#DDECF1;
	line-height:25px;
	text-align:center;
	word-spacing:15px;
}
.ShowMenu{
	padding:10px 10px 10px 15px;
}
.ShowMenu dl dt{
	line-height:30px;
	padding-left:18px;
	background:url(icon.gif) left 9px no-repeat;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.ShowMenu dl dd{
	height:20px;
	overflow:hidden;
	line-height:20px;
	padding:0 5px 0 18px;
	display:none;
}
.ShowMenu dl dd a{
	color:#29607B;
}
.ShowMenu dl.show dt{
	background:url(icon.gif) left -21px no-repeat;
}
.ShowMenu dl.show dd{
	display:block;
}
/*
*CopyRight
*/
.CopyRight{
	width:1200px;
	margin:10px auto;
	border-top:#DDD solid 1px;
	padding:10px 0 20px 0;
	text-align:center;
	line-height:20px;
	color:#666;
}
.CopyRight a{
	color:#325E7F;
}