/****************************兼容旧模块********************************/
.dragTable{
	border:#ccc solid 1px;
}
.dragTable .head{
	padding:3px 0 0 12px;
	line-height:23px;
	background:#eee;
	color:#666;
	font-weight:bold;
}
.dragTable .middle{
	padding:5px;
	line-height:21px;
}

/*发表页*/
#post_top{
	padding:0px;
	padding-top:9px;
	height:22px;
	border-bottom:#99D3FB solid 2px;
}
#post_top span{
	width:75px;
	padding-top:2px;
	height:20px;
	display:block;
	float:left;
	margin-right:3px;
	text-align:center;
	line-height:20px;
	background:url(../../../images/default/button_b.gif);
	cursor:hand;
}
#post_top .choosebutton{
	color:#fff;
	font-weight:bold;
	background:url(../../../images/default/button_a.gif);
}
/***********************兼容旧模块************************************/




/*
*css reset
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
	padding: 0; 
	margin: 0; 
} 
table,td{ 
	border-collapse: collapse; 
	border-spacing:0; 
} 
fieldset,img { 
	border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
	font-weight: normal; 
	font-style: normal; 
} 
ol,ul { 
	list-style: none; 
} 
caption,th { 
	text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
	font-weight: normal;
	font-size: 100%; 
} 
q:before,q:after { 
	content:”; 
} 
abbr,acronym { 
	border: 0; 
}
body{
	font-size:12px;
}
td{
	vertical-align:top;
}
a,a:link,a:visited{
	text-decoration:none;
	color:#29607B;
}
a:hover{
	text-decoration:underline;
	color:#29607B;
}
/*
*
*/
.submits,.resets{
	color:#1688C6;
	height:22px;
	overflow:hidden;
	border:#2F88BD solid 1px;
	background:#FFF url(submit.gif) left bottom repeat;
	line-height:20px;
	padding:0 5px 0 5px;
}
.resets{
	border:#DDD solid 1px;
	color:#888;
	ound:#FFF url(reset.gif) left bottom repeat;
}
.b{
	font-weight:bold;
}
.red{
	color:red;
}
.green{
	color:green;
}
.blue{
	color:blue;
}
.guide{
	border:#DDD solid 1px;
	padding:5px;
	color:#888;
}
.mtop10{
	margin-top:10px;
}
.MainCont{
	border:#D0D0D0 solid 1px;
}
.MainCont .head{
	height:35px;
	border:#FFF solid 1px;
	background:url(head.gif) repeat-x;
}
.MainCont .head .tag{
	float:left;
	padding:3px 0 0 15px;
	line-height:32px;
	font-size:14px;
	font-weight:bold;
}
.MainCont .cont{
	padding:10px;
}
/*
*
*/
.FormTable th{
	height:28px;
	border-bottom:#DDD solid 1px;
	padding-left:15px;
	vertical-align:middle;
	font-weight:bold;
}
.FormTable .tdL{
	width:80px;
	padding:7px;
	text-align:right;
	line-height:20px;
}
.FormTable .tdR{
	padding-top:7px;
	line-height:20px;
}
.FormTable .over td{
	background:#FCFCFC;
}
/*
*
*/
.ListTable th,.ListTable td{
	vertical-align:top;
	padding:7px 5px 3px 5px;
	line-height:20px;
	text-align:center;
}
.ListTable .tL{
	text-align:left;
}
.ListTable th{
	background:url(head1.gif) repeat-x;
	border-right:#FFF solid 1px;
	font-weight:bold;
}
.ListTable td{
	border-bottom:#DDD dotted 1px;
}
.ListTable .over td{
	background:#FCFCFC;
}
.Showpage{
	padding:15px 0 5px 0;
	text-align:center;
}
.Showpage a{
	border:#DDD solid 1px;
	padding:3px;
}

/*
*
*/
.aboutnote{
	padding-left:5px;
	line-height:20px;
}
.aboutnote li{
	padding-bottom:5px;
}
/*
*
*/
.ShowSortTable td{
	width:25%;
}
.ShowSortTable .listshorts{
	padding:5px;
}
.listshorts ul{
	height:400px;
	margin:auto;
	overflow:auto;
	overflow-x:hidden;
	border:#BACED7 solid 1px;
	padding:5px 3px 0 3px;
}
.listshorts li{
	height:25px;
	overflow:hidden;
	padding:0;
	margin:0;
}
.listshorts li div{
	padding:3px 15px 0 15px;
	line-height:22px;
}
.listshorts li div.more{
	background:url(more.gif) right 9px no-repeat;
	cursor:pointer;
}
.listshorts li.ck{
	border:#BACED9 solid 1px;
	background:#DBF3FD;
}
/*********************************************************************
**********************************************************************
AJAX在线编辑DIV容器
**********************************************************************
*********************************************************************/
.AjaxEditTable{
	border:4px solid #F8F6F6;
	border-left:0;
	border-top:0;
}
.AjaxEditTable div{
	padding:8px 10px 10px 10px;
	line-height:20px;
	background:#fff;
	border:1px solid #E7E5E5;
}


