body{margin:0px;padding:0px;color:#333333;font-size:12px;font-family:"微软雅黑";background-color:#F1F1F1;}
a{text-decoration:none;color:#004276;}
a:hover{color:#CC0000;text-decoration:underline;}
img{border:none;vertical-align:text-bottom}
div,h1,h2,h3,h4,p,form,ul,label,input,textarea,img,span,dl,dt,dd{margin:0px;padding:0;}
.clear{clear:both;}
li{list-style-type:none;}
#lieb .pagebar{padding-top:15px;padding-right:0px;padding-bottom:15px;padding-left:0px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;}
.pagebar a,.pagebar a{padding-top:3px;padding-right:7px;padding-bottom:3px;padding-left:7px;margin-right:2px;border:1px solid #ddd;color:#333333;}
.pagebar span{padding:3px 8px;}
.pagebar a:hover,.pagebar a:hover{background-color:#0099CC;border:1px solid #006699;color:#FFFFFF;}
.pagebar .now-page,.pagebar .now-page{background-color:#006699;padding-top:3px;padding-right:7px;padding-bottom:3px;padding-left:7px;margin-right:3px;border:1px solid #003399;color:#FFFFFF;}
#comments{padding:0px;margin-top:10px;}
#comments h3,#comments h4{font-size:14px;line-height:30px;font-weight:700;padding-left:9px;border-left-width:4px;border-left-style:solid;border-left-color:#235D8D;margin-bottom:10px;background-color:#f1f1f1;}
#comments h4{margin-top:15px;}
#frmSumbit #inpName,#frmSumbit #inpEmail,#frmSumbit #inpHomePage{padding-left:10px;border:1px solid #ddd;height:15px;width:200px;padding-top:6px;padding-right:10px;padding-bottom:6px;line-height:15px;float:left;margin-right:10px;}
.commentpost label{height:15px;overflow:hidden;clear:left;float:left;line-height:15px;border-color:#CCC;border-style:solid;border-width:1px 0 1px 1px;margin:0;padding:6px 10px;}
#txaArticle{width:98%;height:120px;border:1px solid #ddd;padding:5px;background-image:url(img/pl-bg.png);background-repeat:no-repeat;background-position:center center;}
#frmSumbit p{padding:0px;margin-top:0px;margin-right:0px;margin-bottom:5px;margin-left:0px;line-height:30px;}
#frmSumbit .button{color:#FFFFFF;background-color:#235D8D;height:30px;width:100px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;margin-right:15px;}
.msgname .dot{font-size:30px;color:#f4f4f4;float:right;margin-left:15px;font-weight:700;}
.msg .msgimg{clear:left;float:left;margin-right:15px;padding:2px;height:32px;width:32px;border:1px solid #ddd;background-color:#f1f1f1;}
.msgtxt .msgarticle{line-height:16px;padding-top:4px;padding-bottom:4px;}
#comments .msg{font-size:12px;border:1px solid #eee;padding-top:9px;padding-right:9px;padding-bottom:1px;padding-left:9px;margin-top:15px;}
.msg .commentname{font-size:14px;font-family:"微软雅黑";font-weight:700;}
.msg .msgarticle{line-height:20px;color:#666666;}
.msg .msgarticle .msg{background-color:#f4f4f4;}
#w980{width:984px;margin:0px auto;padding:0px 10px;background:none repeat scroll 0% 0% #FFF;box-shadow:0px 0px 8px 0px rgba(0,0,0,0.15);}
#top span{float:right;}
#w980 #top{padding:5px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#f1f1f1;}
#top a{color:#333333;}
#head h2 a{background-image:url(img/logo.png);background-repeat:no-repeat;background-position:0px 0px;display:block;float:left;height:60px;width:200px;}
#head #ad{height:60px;width:468px;overflow:hidden;float:left;margin-left:10px;}
#head #ad1{float:right;height:60px;width:288px;overflow:hidden;}
#w980 #head{margin-top:10px;margin-bottom:10px;}
#w980 #nav{font-size:14px;line-height:40px;background-color:#1A5F97;height:40px;overflow:hidden;margin-bottom:10px;}
#nav ul li{float:left;background-image:url(img/nav-li.png);background-repeat:no-repeat;background-position:right 4px;}
#nav ul li a{color:#FFFFFF;padding-top:0px;padding-right:22px;padding-bottom:0px;padding-left:22px;display:block;height:40px;}
#nav ul li a:hover{color:#FFFFFF;padding-top:0px;padding-right:22px;padding-bottom:0px;padding-left:22px;background-color:#1E3E74;text-decoration:none;}
#nav ul li a.on{background:#1E3E74;color:#fff;}
#w980 #rigth{float:right;width:300px;overflow:hidden;}
#w980 #left{float:left;width:674px;overflow:hidden;}
#left #place{font-size:14px;line-height:28px;height:28px;overflow:hidden;margin-bottom:10px;}
#rigth dl{margin-bottom:10px;}
#ss #search-keyword{line-height:26px;float:left;height:26px;width:220px;padding-left:10px;border:1px solid #ddd;}
#ss .search-submit{cursor:pointer;color:#FFFFFF;background-color:#278ddc;float:right;height:28px;width:60px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-radius:3px;}
#left #lieb{border-top-width:3px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#235D8D;border-right-color:#ddd;border-bottom-color:#ddd;border-left-color:#ddd;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:15px;}
#lieb dl dt span{font-size:12px;background-color:#235D8D;float:left;padding-top:0px;padding-right:7px;padding-bottom:0px;padding-left:7px;line-height:30px;height:30px;}
#lieb dl dt span a{color:#FFFFFF;text-decoration:none;}
#lieb dl dt h2{font-size:16px;float:left;line-height:30px;height:30px;overflow:hidden;}
#lieb dl dt h2 a{color:#333333;line-height:30px;height:30px;display:block;padding-top:0px;padding-right:6px;padding-bottom:0px;}
#lieb dl dt h2 a:hover{color:#FFFFFF;color:#C00;text-decoration:none;}
#lieb dl dd img{height:90px;width:130px;margin-right:15px;float:left;}
#lieb dl dt{float:left;width:652px;margin-bottom:15px;}
#lieb dl{padding-top:15px;padding-bottom:15px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;}
#lieb dl dd p{line-height:25px;color:#666666;}
#lieb dl dd .tags{margin-top:8px;text-decoration:none;line-height:25px;height:25px;overflow:hidden;color:#999999;}
.tags a{color:#999999;margin-right:7px;padding-top:1px;padding-right:3px;padding-bottom:1px;padding-left:3px;}
.tags a:hover{color:#FFFFFF;background-color:#1d95d9;text-decoration:none;}
#rigth dt{font-size:14px;line-height:32px;font-weight:700;color:#FFFFFF;background-color:#235D8D;height:32px;overflow:hidden;padding-right:9px;padding-left:9px;}
.function_c ul{padding-top:7px;padding-right:0px;padding-bottom:7px;padding-left:0px;}
.function_c li{padding-left:12px;background-image:url(img/li.png);background-repeat:no-repeat;background-position:2px 12px;padding-top:5px;padding-right:5px;padding-bottom:5px;font-size:14px;}
#w980 #links{padding:9px;border:1px solid #ddd;margin-top:10px;}
#links ul li{float:left;margin-right:10px;padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;}
#w980 #footer{line-height:26px;text-align:center;margin-top:10px;padding-top:8px;border-top-width:1px;border-top-style:solid;border-top-color:#ddd;padding-bottom:8px;}
#left #info{padding:10px;border-top-width:3px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#235D8D;border-right-color:#ddd;border-bottom-color:#ddd;border-left-color:#ddd;background-color:#F5FAFF;}
#info #title{line-height:26px;color:#9EA1A5;padding-top:10px;padding-right:5px;padding-bottom:10px;padding-left:5px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;}
#title h1{font-size:22px;line-height:35px;color:#000000;font-weight:normal;text-align:center;padding-bottom:10px;}
#info #zi{font-size:14px;color:#000000;}
#info #zi img{display:block;margin:0 auto;max-width:600px;}
#zi p{margin-top:0.8em;margin-bottom:0.8em;}
#left #ad2{width:674px;margin-top:15px;overflow:hidden;margin-right:0px;margin-bottom:15px;margin-left:0px;}
#title p span{float:right;}
#place a{color:#333333;}
#rigth #divCalendar #tbCalendar{width:100%;background-color:#f9f9f9;padding:0px;line-height:25px;margin:0px;}
#tbCalendar td{background-color:#f1f1f1;text-align:center;}
#tbCalendar caption{line-height:32px;background-color:#235D8D;font-size:14px;}
#tbCalendar caption a{color:#FFFFFF;}
#rigth #ss{height:28px;overflow:hidden;}
#comments h5{font-size:14px;font-weight:normal;}
#tbCalendar td a{color:#FFFFFF;background-color:#a1d0f6;display:block;}
#guan h2{font-size:16px;line-height:35px;}
#guan li{line-height:28px;text-align:right;padding-right:5px;padding-left:5px;color:#999999;}
#guan li a{float:left;}
#left #guan{border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;margin-bottom:9px;padding-bottom:5px;}
.pln{color:#000}
@media screen{.str{color:#080}
.kwd{color:#008}
.com{color:#800}
.typ{color:#606}
.lit{color:#066}
.pun,.opn,.clo{color:#660}
.tag{color:#008}
.atn{color:#606}
.atv{color:#080}
.dec,.var{color:#606}
.fun{color:red}
}
@media print,projection{.str{color:#060}
.kwd{color:#006;font-weight:bold}
.com{color:#600;font-style:italic}
.typ{color:#404;font-weight:bold}
.lit{color:#044}
.pun,.opn,.clo{color:#440}
.tag{color:#006;font-weight:bold}
.atn{color:#404}
.atv{color:#060}
}
.prettyprint{padding:8px;background-color:#f7f7f9;border:1px solid #e1e1e8;white-space:pre;white-space:pre-wrap;word-break:break-all;word-wrap:break-word;}
ol.linenums{margin-top:0;margin-bottom:0}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
pre.prettyprint{margin-left:2em;padding:0.5em;display:block;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace;margin:1em 0px;white-space:pre;}
pre.prettyprint{margin:1em auto;padding:1em;white-space:pre-wrap;}
i{font-style:normal;}
.icon{margin-top:5px;width:20px;height:20px;vertical-align:middle;display:inline-block;font-size:14px;text-align:center;color:#FFF;font-weight:bold;}
.flag_top{background:#fd9c47;}
.flag_c{background:#44ac57;}
.flag_z{background:#799acc;}

.divScroll{
scrollbar-face-color: #FFFFFF;
scrollbar-shadow-color: #D2E5F4;
scrollbar-highlight-color: #D2E5F4;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF; 
scrollbar-arrow-color: #D2E5F4";
}
.cmt{background: #f8f8f8;overflow-y:auto; overflow-x:auto;height:300px;}
.cmt ul li{margin:0 0 5px 0;padding:0 0 8px 3px;border-bottom:1px dashed #ddd;background-image:none;}
.cmt ul li .body{float:left;overflow:hidden;font-size:9pt;}
.cmt ul li .user{color:#6cabe1;}
.cmt ul li .msg a{color:#666;word-break:break-all;}
.cmt ul li .time{display:block;color:#9A9A9A;margin:5px 0 0 0;}
.cmt ul li .time a{color:#9A9A9A;text-decoration:none;}
.cmt ul li a:hover{text-decoration:none;color:#CC0000;}