<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cashondelivery</name>
            <displayName><![CDATA[货到付款]]></displayName>
            <version><![CDATA[0.4]]></version>
            <description><![CDATA[收到货时再付款]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>