<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  Options -Indexes
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
#PHP7、Apache 2.4.23环境可用，环境相关请自行配置URL简化
#  RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
#PHP5.4、Apache 2.4.4环境可用，环境相关请自行配置URL简化
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
#用于'域名/模块'格式路径自动跳转到默认方法
  RedirectMatch 301 ^/(.*)/$ /$1/Index/index
</IfModule>
