@charset "utf-8";
BODY {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(topbg.gif) #fff repeat-x; COLOR: #333; FONT-SIZE: 12px}
/*替换默认配置*/
.btn{background:none; padding:7px; *padding:8px 5px;}
.install_title {MARGIN: 0px auto; margin-top:60px; margin-bottom:30px; margin-left:175px; text-align:left; font-size:22px; color:#3071bf}
.install_left{float:left; width:155px;}
.install_left ul li{ float:left; width:135px; background:#f7f7fa; color:#777; padding:15px 10px; margin-bottom:5px; font-size:16px; font-weight:700}
.install_left ul li.on{ background:#3071bf; color:#FFF;  width:145px;}
.install_right{float: right;WIDTH: 720px;BACKGROUND: #f7f7fa; padding:6px;}
.install_box {BORDER: #c2d5df 1px solid; PADDING: 10px; MARGIN: 0px auto; WIDTH: 698px; BACKGROUND: #fff;}
.install_box P{line-height:26px; font-size:12px; color:#666}
.install_box h2{line-height:24px; height:24px; font-size:14px; padding:6px 20px; margin-bottom:10px; font-weight:700; background:#f7f7fa}


