<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mailalerts</name>
            <displayName><![CDATA[邮件提醒]]></displayName>
            <version><![CDATA[2.4]]></version>
            <description><![CDATA[发送电子邮件通知给客户和商家。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>你确定要删除所有客户通知吗？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>