<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>zto</name>
            <displayName><![CDATA[中通速递]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[中通快递的相关说明。保价费按照申报价值的2％交纳，但是，保价费不低于100元，保价金额不得高于10000元，保价金额超过10000元的，超过的部分无效]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>你确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>cn</limited_countries>
        </module>