body {
  width:100%;
  overflow-y:hidden;
  overflow-x:hidden;
}
.content-wrapper {
  background-color: #f2f2f2;
  padding:50px 0 0 0;
}
@media screen and(max-width:768px) {
  .content-wrapper {
    padding-top:100px;
  }
}

.skin-blue-light, 
.skin-black-light, 
.skin-green-light, 
.skin-red-light, 
.skin-yellow-light, 
.skin-purple-light {
  .main-sidebar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .main-sidebar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    
    background: rgba(0,0,0,0.1);
  }
  .main-sidebar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    
    background: #fff;
  }

  .main-sidebar {
    background-color: #fff;
    z-index:860;
    overflow-y:auto; 

    .sidebar-menu {
      .treeview-menu {
        background:#fff;

        li.active {
          a {
            font-weight:600;
            color:#000;
            i {
              color:#f90;
            }
          }
        }
        
        li {
          a {
            padding: 10px 5px 10px 20px;
            color:#666;

            &:hover,&:active {
              color:#000;
              i {
                color:#f90;
              }
            }
          }
        }
        
        .child-header {
          margin-left:-5px;
          margin-top:1px;
          background: #f1f1f1;
          color:#333; 
          padding: 5px 5px 5px 15px;
          display: block;
          font-size: 14px;

          .fa {
            width:20px;
          } 
        }
      }
    }
  }
}

.skin-blue, 
.skin-black, 
.skin-green, 
.skin-red, 
.skin-yellow, 
.skin-purple {
  .main-sidebar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .main-sidebar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background: rgba(0,0,0,0.5);
  }
  .main-sidebar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background: #1A2429;
  }
  .main-sidebar {
    background-color: #1A2429;
    z-index:860;
    overflow-y:auto; 

    .sidebar-menu {
      .treeview-menu {
        background:#232F37;

        li.active {
          a {
            font-weight:600;
            color:#fff;
            i {
              color:#f90;
            }
          }
        }
        
        li {
          a {
            padding: 10px 5px 10px 20px;
            color:#BEC3C7;

            &:hover,&:active {
              color:#fff;
              i {
                color:#f90;
              }
            }
          }
        }
        
        .child-header {
          margin-left:-5px;
          margin-top:1px;
          background: #1A2429;
          color:#ddd; 
          padding: 5px 5px 5px 15px;
          display: block;
          font-size: 14px;

          .fa {
            width:20px;
          } 
        }
      }
    }
  }
}

/*
.skin-black-light, 
.skin-green-light, 
.skin-red-light, 
.skin-yellow-light, 
.skin-purple-light
 */
.skin-blue, 
.skin-blue-light {

  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #09c;
      i {
        color:#09c;
      }
    }
  }
}
.skin-black, 
.skin-black-light {
  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #ddd;
      i {
        color:#ddd;
      }
    }
  }
}
.skin-green, 
.skin-green-light {
  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #00a65a;
      i {
        color:#00a65a;
      }
    }
  }
}

.skin-red, 
.skin-red-light {
  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #dd4b39;
      i {
        color:#dd4b39;
      }
    }
  }
}

.skin-yellow, 
.skin-yellow-light {
  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #f39c12;
      i {
        color:#f39c12;
      }
    }
  }
}

.skin-purple, 
.skin-purple-light {
  .sidebar-menu {
    li:hover > a,
    li.active > a,
    li.menu-open > a {
      border-left-color: #605ca8;
      i {
        color:#605ca8;
      }
    }
  }
}


.control-sidebar-dark::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.control-sidebar-dark::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: rgba(0,0,0,0.5);
}
.control-sidebar-dark::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #222d32;
}

.control-sidebar-light::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.control-sidebar-light::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: rgba(0,0,0,0.2);
}
.control-sidebar-light::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #fff;
}
//ZUI中独立提出的漂浮消息框样式
/// ========================================================================
/// ZUI: messager.less
/// http://zui.sexy
/// ========================================================================
/// Copyright 2014-2016 cnezsoft.com; Licensed MIT
/// ========================================================================


// Messager style for module messager.js

.messager {
  display: table;
  margin: 10px;
  overflow: hidden;
  color: #fff;
  pointer-events: auto;
  background-color: #353535;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 20px;
  }
.messager-content {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: top;
  }
.messager-content > [class^='icon-'] {
  display: inline-block;
  margin-right: 8px;
  }
.messager-actions {
  display: table-cell;
  vertical-align: top;
  }
.messager-actions > .action {
  min-width: 40px;
  height: 40px;
  padding: 0 12px;
  color: #fafafa;
  color: rgba(255, 255, 255, .6);
  text-align: center;
  text-shadow: none;
  background: none;
  border: none;
  }
.messager-actions > .action.close {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  opacity: 1;
  }
.messager-actions > .action:hover {
  color: #fff;
  background: rgba(0, 0, 0, .1);
  }
.messager-actions .action-icon + .action-text {
  margin-left: 8px;
  }
.messagers-holder {
  position: fixed;
  z-index: 99999;
  padding: 10px;
  pointer-events: none;
  -webkit-transition: top .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: top .2s cubic-bezier(.175, .885, .32, 1);
          transition: top .2s cubic-bezier(.175, .885, .32, 1);
  }
.messagers-holder.top {
  top: 0;
  }
.messagers-holder.top-left {
  top: 0;
  left: 0;
  }
.messagers-holder.top-right {
  top: 0;
  right: 0;
  }
.messagers-holder.bottom {
  bottom: 0;
  }
.messagers-holder.bottom-left {
  bottom: 0;
  left: 0;
  }
.messagers-holder.bottom-right {
  right: 0;
  bottom: 0;
  }
.messagers-holder.top-right .messager,
.messagers-holder.bottom-right .messager {
  margin-left: auto;
  }
.messagers-holder.center {
  top: 0;
  }
.messagers-holder.top,
.messagers-holder.bottom,
.messagers-holder.center {
  right: 0;
  left: 0;
  }
.messagers-holder.top .messager,
.messagers-holder.bottom .messager,
.messagers-holder.center .messager {
  margin: 10px auto;
  }
.messager-primary {
  background-color: #3280fc;
  }
.messager-success {
  background-color: #38b03f;
  }
.messager-info {
  background-color: #03b8cf;
  }
.messager-warning {
  background-color: #f1a325;
  }
.messager-danger {
  background-color: #ea644a;
  }
.messager-important {
  background-color: #bd7b46;
  }
.messager-special {
  background-color: #8666b8;
  }



/*弹出消息列表按钮*/
#messages_btn span {
  display:inline-block;
}
/**
 * 弹出消息模态框消息列表
 */
#msgModal {
  .box {
    height:100%;
    overflow-y:auto;
  }

  .message-info-list {
    height:450px;
    overflow-y:auto;

    .loading {
      display:block;
      text-align:center;
      padding:30px;
    }

    .common {
      list-style: none;
      padding:15px 0;
      border-bottom:1px solid #f2f2f2;

      .avatar-box {
        margin:10px 10px 0 0;
        position: relative;
        float:left;
        width:64px;
        height:64px;
        overflow:hidden;
      }

      .common_con{
          margin-left:74px;
          margin-top:10px;
      }

      .comment_con .from{
          background:#f2f2f2;
          border-radius:5px;
          padding:5px;

          .from_con{
              margin-left:130px;
          }
      }
    }
  }
  .loadmore-type-messages {
    color:#666;
    background:#ddd;
    padding:10px;
    width:200px;
    margin:5px auto;
    border-radius:5px;
    text-align:center;
    cursor:pointer;
  }

  .message-type-box {
    height:450px;
    overflow-y:auto;

    .message-type-list li {
      position: relative;
    }
  }

  @media screen and (max-width:768px){
    .box {
      height:500px;
      overflow-y:auto;
    }
    .message-info-list{
      height:auto;
    }
    .message-type-box {
      height:auto;
    }
  }
}

/**
 *session1 样式
 */
#msgModal .message-type-list li.session1 {
  display:block;
}
#msgModal .message-type-list li.session1 a {
  margin: 5px;
  display:block;
}
#msgModal .message-type-list li.session1 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-type-list li.session1 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-type-list li.session1 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-type-list li.session1 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-type-list li.session1 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-type-list li.session1 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}
/**
 *session2 样式
 */
#msgModal .message-type-list li.session2 {
  display:block;
}
#msgModal .message-type-list li.session2 a {
  margin: 5px;
  display:block;
}
#msgModal .message-type-list li.session2 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-type-list li.session2 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-type-list li.session2 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-type-list li.session2 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-type-list li.session2 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-type-list li.session2 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}
/**
 *session3 样式
 */
#msgModal .message-type-list li.session3 {
  display:block;
}
#msgModal .message-type-list li.session3 a {
  margin: 5px;
  display:block;
}
#msgModal .message-type-list li.session3 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-type-list li.session3 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-type-list li.session3 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-type-list li.session3 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-type-list li.session3 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-type-list li.session3 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}

/**
 *session4 样式
 */
#msgModal .message-type-list li.session4 {
  display:block;
}
#msgModal .message-type-list li.session4 a {
  margin: 5px;
  display:block;
}
#msgModal .message-type-list li.session4 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-type-list li.session4 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-type-list li.session4 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-type-list li.session4 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-type-list li.session4 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-type-list li.session4 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}
/*弹出消息列表end*/