a,a:link,a:visited{
	text-decoration:none;
	color:#29607B;
}
a:hover{
	text-decoration:underline;
	color:#29607B;
}

.Notes{
	border:#DDD solid 1px;
	margin:0 10px 15px 0;
}
.Notes div{
	padding-left:20px;
	line-height:35px;
	font-size:14px;
	color:#F90;
}
.MainCont .head .tag1{
	padding-left:70px;
	background:url(tag1.gif) 5px 5px no-repeat;
}
.MyInfo{
	padding:15px 10px 10px 15px;
	height:80px;
}
.MyInfo .img{
	float:left;
	border:#C3D4DE solid 1px;
	padding:3px;
	margin-top:10px;
}
.MyInfo .img a{
	display:block;
	height:50px;
	width:50px;
	overflow:hidden;
}
.MyInfo .info{
	width:450px;
	float:left;
	padding-left:15px;
	line-height:25px;
}
.MyInfo .info div{
	height:25px;
	overflow:hidden;
}
.MyInfo .info div.base div{
	float:left;
}
.MyInfo .info div.base div.name{
	color:#999;
}
.MyInfo .info div.base div.name a{
	font-size:16px;
	font-weight:bold;
	color:#333;
	padding-right:10px;
}
.MyInfo .info div.base div.yzmob{
	float:left;
	padding-left:80px;
	background:url(nomob.gif) 60px 3px no-repeat;
}
.MyInfo .info div.list1,.MyInfo .info div.list2{
	word-spacing:15px;
}
.MyInfo .info div.list2{
	color:#888;
}
.MyInfo .adds{
	width:200px;
	height:70px;
	float:right;
	padding-top:5px;
}
.MyInfo .adds div{
	width:100px;
	height:70px;
	float:left;
	background:url(but1.gif) center top no-repeat;
}
.MyInfo .adds div a{
	display:block;
	text-align:center;
	padding-top:35px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.MyInfo .adds div.rmb a{
	background:url(rmb.gif) center 7px no-repeat;	
}
.MyInfo .adds div.rmb a:link,.MyInfo .adds div.rmb a:hover,.MyInfo .adds div.rmb a:visited{
	color:#629C00;
	text-decoration:none;
}
.MyInfo .adds div.zf a{
	background:url(zf.gif) center 7px no-repeat;	
}
.MyInfo .adds div.zf a:link,.MyInfo .adds div.zf a:hover,.MyInfo .adds div.zf a:visited{
	color:#EA6622;
	text-decoration:none;
}
/*
*
*/
.MainCont .head .tag2{
	width:230px;
}
.shopinfo{
	height:90px;
	overflow:hidden;
	padding:20px 10px 20px 10px;
}
.shopinfo ul{
	width:240px;
	height:90px;
	float:left;
}
.shopinfo ul li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding-left:8px;
	font-size:14px;
}
.shopinfo ul li span{
	color:#F30;
	font-weight:bold;
	padding:0 3px 0 3px;
}
.shopinfo ul li.m{
	color:#29607B;
}
.shopinfo ul.list3{
	width:200px;
	float:right;
}
.shopinfo ul.list3 li{
	height:39px;
	overflow:hidden;
	background:url(but2.gif) no-repeat;
}
.shopinfo ul.list3 li a{
	display:block;
	height:35px;
	line-height:35px;
	float:left;
	padding-left:30px;
	font-size:14px;
	background:url(icon1.gif) 5px 10px no-repeat;
}
.shopinfo ul.list3 li.but2 a{
	background:url(icon2.gif) 5px 10px no-repeat;
}
.rmbinfo{
	padding:20px 10px 20px 15px;
}
.rmbinfo li{
	height:35px;
	overflow:hidden;
	line-height:35px;
	font-size:14px;
	padding-left:5px;
}
.rmbinfo li div{
	float:left;
}
.rmbinfo li div span{
	color:#f50;
	font-weight:bold;
	padding:0 5px 0 5px;
}
.rmbinfo li div.tg{
	padding-right:15px;
}
.rmbinfo li div.rmb{
	padding-left:50px;
	background:url(icon4.gif) 25px 5px no-repeat;
}
.rmbinfo li div.add,.rmbinfo li div.free{
	padding-left:40px;
	background:url(icon3.gif) 20px 5px no-repeat;
}
.rmbinfo li div.add{
	background:url(icon5.gif) 20px 5px no-repeat;
}