

<!--
<div class="sub_nav">
    <nav class="navbar  navbar-default"  role="navigation">
        <div class="container">
            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a  href="{:U('blog/index/index')}">资讯首页</a>
                    </li>

                    <volist name="categories" id="cat">
                        <if condition="$cat['status'] eq 1">
                            <li>
                                <a href="{:U('blog/article/lists',array('category'=>$cat['id']))}" >{$cat.title}</a>
                            </li>
                        </if>
                    </volist>
                </ul>
            </div>
            &lt;!&ndash; /.navbar-collapse &ndash;&gt;
            <div class="hr_3d"></div>
        </div>

    </nav>
</div>
-->
