.license{ 
	padding: 15px 20px; 
	border: 2px solid #E7EDF5;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	font-size: 16px;
	width: 600px;
}

.licensed{ cursor: pointer; }
.licensed:hover{ border-color: #3497DB; }
.license .b-anchor,
.license .o-anchor{ text-decoration: underline; }
.license .b-anchor{ color: #3497DB; }
.license .o-anchor{ color: #EE8C0C; }
.license strong { color: #58585C; }
.license em { color: #3497DB; font-style: normal; font-weight: 700;}
.license-cert{
	display: none;
	width: 621px;
	height: 431px;
	background: #FFFEF9 url(../image/bg_cert.jpg) no-repeat center;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -340px;
	z-index: 100;
}
.license-cert table{ position: absolute; top: 170px; left: 85px; width: 400px;}
.license-cert table th{ color: #C18657; font-weight: 400; width: 90px; height: 28px; }
.license-cert table td{ height: 28px; color: #58585C; word-break: break-all;}
.license-cert table td a{ color: #3497DB; }
.license-cert table td a:hover{ text-decoration: underline; }
.license-cert-close{
	position: absolute;
	width: 32px;
	height: 32px;
	top: -15px;
	right: -15px;
	background: url(../image/cert_close.png) no-repeat;
}
.license-cert-close:hover{ background-position: -32px 0; }

.o-bind-step-one,
.o-bind-step-two,
.o-bind-step-three,
.o-step-link{
	background-image: url(../image/dashboard_bind.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.o-bind-step-two,
.o-bind-step-one,
.o-bind-step-three{
	width: 172px;
	height: 172px;
}
.o-bind-step-one{
	background-position: 0 0;
}
.o-bind-step-two{
	background-position: -180px 0;
}
.o-bind-step-three{
	background-position: -360px 0;
}
.o-step-link{
	width: 335px;
	height: 5px;
	background-position: 0 -194px;
	position: absolute;
	top: 88px;
	left: 323px;
	z-index: 1;
}

.bind-step-tip{
	width: 720px;
	height: 770px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #EBEFF6;
	border: 0 solid rgba(0, 0, 0, 0);
	background-color: #FFF;
}
.step-tip-top{
	border-bottom: 1px #ebeff6 solid;
}
.step-tip-wrap{
	margin: 0 auto;
	text-align: center;
}
.bind-step-list{
	position: relative;
	z-index: 2;
}
.bind-step-list li{
	text-align: center;
	margin-right: 40px;
}
.bind-step-list li:last-child{
	margin-right: 0;
}
.step-tip-footer{
	text-align: center;
	margin-bottom: 20px;
}
.bind-btn{
	padding: 14px 64px;
}
.bind-info-dialog{
	padding: 20px 20px 0 0;
}
.form-samll-narrow .control-group>.controls{
	margin-left: 114px;
}
.form-samll-narrow .control-group>.control-label{
	width: 98px;
}

.index-bind-iframe{
	width: 720px;
	height: 722px;
	border: 0;
}

/*------------ saas version by csh ---------------*/
.o-card-version,
.o-tip-alert {
	position: relative;
	display: inline-block;
	top: -15px;
	width: 75px;
	height: 79px;
	vertical-align: middle;
	background-image: url(../image/version_icon.png);
	background-position: 0 0;
}
.o-tip-alert {
	top: -1px;
	width: 12px;
	height: 16px;
	margin: 0 10px;
	background-position: -155px -5px;
}
.card-pay .o-card-version {
	background-position: -75px 0;
}
.w160 {
	width: 160px;
}
.w146 {
	width: 146px;
}
.w390 {
	width: 390px;
}
.w420 {
	width: 420px;
}
.fso {
	font-size: 14px;
}
.btn-middle {
	padding: 9px 30px;
	font-size: 14px;
	-moz-border-radius: 4px;
	     border-radius: 4px;
}
.info-space {
	position: relative;
	display: block;
	height: 18px;
}
.hover-pointer:hover {
	cursor: pointer;
}
.top-left {
	position: absolute;
	top: 0;
	left: 0;
}
.top-right {
	position: absolute;
	top: 0;
	right: 0;
}
.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}
.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.card-box {
	position: relative;
	width: 660px;
	font-size: 14px;
	font-family: "微软雅黑" serial;
	border: 1px solid #eef0f2;
	-webkit-box-shadow: 0 1px 3px #e7e9ea;
	   -moz-box-shadow: 0 1px 3px #e7e9ea;
	        box-shadow: 0 1px 3px #e7e9ea;
}
.card-box-title {
	position: relative;
	height: 80px;
	color: #fff;
}
.card-free .card-box-title {
	background: #556570;
}
.card-pay .card-box-title {
	background: #2da0f0;
}
.card-box-content {
	position: relative;
	height: 120px;
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background: #fff;
}
.card-info-box {
	position: relative;
	display: inline-block;
	width: 216px;
	padding: 10px 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-left: 1px solid #ebedf0;
}
.card-info-box:first-child {
	border-left: none;
}
.card-info-alert {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 2px 6px;
	font-size: 12px;
	color: #ee8c0c;
	background-color: #fdf0de;
	-moz-border-radius: 2px;
	     border-radius: 2px;
}
.upgrade-content {
	padding: 0 20px;
}
.upgrade-footer {
	position: relative;
	padding: 20px 0 20px 20px;
	border-top: 1px solid #ebeff6;
}
.upgrade-box {
	position: relative;
	display: block;
	height: 100px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebeff6;
	min-height: 100px;
}
.upgrade-box:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
.upgrade-box-title {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #82939e;
	line-height: 50px;
}
.upgrade-box-alert {
	display: inline-block;
	padding: 8px 10px;
	color: #ee8c0c;
	background-color: #fdf0de;
	-moz-border-radius: 4px;
	     border-radius: 4px;
}
.upgrade-box .btn-group {
	margin: 0px;
}
.upgrade-box .btn {
	padding: 9px 0;
	width: 48px;
}
.btn-group .btn.active {
	color: #3497db;
	background-color: #f9fbff;
}
.upgrade-discount {
	position: absolute;
	top: -12px;
	right: 0;
	display: inline-block;
	padding: 0 7px;
	font-size: 12px;
	color: #fff;
	background-color: #ee8c0c;
	-moz-border-radius: 2px;
	     border-radius: 2px;
}
.card-box-tip {
	font-size: 12px;
	line-height: 40px;
	color: #b77e1c;
	background-color: #fffbe5;
}
.upgrade-no-discount .card-box-tip {
	display: none;
}
.upgrade-no-discount .upgrade-box .upgrade-discount {
	display: none;
}


/**
 * SaaS首页
 */
.sasa-ctb {
  margin-bottom: 100px;
}

.basic-info section {
  height: 50px;
  margin-bottom: 20px;
}

.basic-info h4 {
  float: left;

}

.basic-info h4,
.basic-info .content,
.basic-info .logo .no-logo {
  font-size: 14px;
  margin: 0;
  line-height: 50px;
  vertical-align: middle;
}

.basic-info .content {
  margin-left: 160px;
}

.basic-info .logo .no-logo {
  width: 160px;
  height: 100%;
  background: white;
  border: 1px solid #c5cdd2;
  text-align: center;
}

.saas-ctb .card-list li {
  width: 200px;
  padding-right: 20px;
  border-right: 1px solid #E5E9EE;
}

.saas-ctb .card-list a {
  color: #3797db;
  float: right;
}

.saas-ctb .card-list h3 {
  font-size: 14px;
  margin: 10px 0;
}

.col {
  height: 28px;
}

.account-edition .name {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.account-space .used-num,
.account-time .days {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.account-space .used-unit {
  color: black;
}

.account-progress-bar {
  display: inline-block;
  width: 130px;
  background: #3797db;
  height: 70%;
  overflow: hidden;
}

.block {
  background: #a8d9fb;
  height: 100%;
}

.account-time .expireDate {
  display: inline-block;
  background: #fff1de;
  color: #ffa72e;
  padding: 0 10px;
}

#securityTips {
  font-size: 14px;
}
.account-user .used-num{
	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

.account-user .desc {
	display: inline-block;
	background: #fff1de;
	color: #ffa72e;
}

.dashboard-update-tip {
	display: inline-block;
	background: #fff1de;
	color: #ffa72e;
	padding: 0 15px;
	margin-bottom: 15px;
}

.local-use-user-num {
	width: 350px;
	border-right: 1px solid #E5E9EE;
}

.local-use-user-desc {
	display: inline-block;
	background: #fff1de;
	color: #ffa72e;
}
.local-use-user-num .used-num {
	font-size: 18px;
}

.local-use-user-num .total-num {
	font-size: 16px;
}
