.dux-page-crumb {
  padding: 20px 0;
  >*>* {
    font-size: 1.4rem;
  }
}

.dux-page-head {
  background: #fff;
  padding: 10px 20px;
}

.dux-page-attr {
  dl {
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
  }
  dt {
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    color: #000;
    margin-top:6px;
  }
  dd {
    margin-left:120px;
    min-height: 35px;
    overflow: hidden;
    a {
      margin-top: 10px;
      margin-right: 10px;
      line-height:35px;
      color: #666;
      padding-right: 15px;
      white-space: nowrap;
      &.active {
        color: $color-main;
      }
      i {
        font-style: normal;
        font-weight: bold;
        font-family: consolas;
      }
      i.up {
        &:before {
          content: "\2191";
        }
      }
      i.down {
        &:before {
          content: "\2193";
        }
      }

    }


  }

}


.dux-page-pager {
  text-align: center;
  a, span {
    background: #fff;
    display: inline-block;
    margin-left: 6px;
    border: 1px solid #ddd;
    color: #666;
    padding: 6px 12px;
  }
  span {
    color: #ddd;
  }
  .current {
    border-color: $color-main;
    color: #fff;
    background:  $color-main;
  }
  a:hover {

    border-color: $color-main;
    color: $color-main;
    background:  #fff;
  }

}

.dux-page-count {
  text-align: center;
  display: flex;
  a,input {
    height: 30px;
    line-height: 26px;
    vertical-align: middle;

  }
  input {
    background: #FFF;
    border: 1px #CCC solid;
    color: #000;
    font-family: arial;
    font-size: 1.4rem;
    padding: 0;
    text-align: center;
    width: 40px;
    border-left: none;
    border-right: none;
  }
  a {
    border: 1px solid #CCC;
    font-family: simsun;
    font-size: 16px;
    overflow: hidden;
    width: 30px;
    display: block;
  }


}

.dux-page-box {
  background: #fff;
  .box-title {
    font-size:1.6rem;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    .more {
      float: right;
      font-size:1.4rem;
      margin-top:5px;
      color: #999;
      font-weight: normal;
    }
  }
  .box-title-b {
    font-weight: bold;
    border-bottom:1px solid #ddd;
  }
  .box-head {
    background: #eee;
    padding: 10px 10px;
    color: #333;
    border-top:2px solid $color-main;
  }
  .box-info {
    margin-top:5px;
  }
}

.dux-page-goods {
  .img {
    width: 70px;
    float: left;
    img {
      border: 1px solid #ddd;
      width:64px;
      height: 64px;
      padding: 5px;
    }
  }
  .body {
    margin-left:70px;
    .title {
      line-height:22px;
    }
    .info {
      font-size:1.2rem;
      color: #666;
    }
  }

}

.dux-page-banner {
   > div {
     height: 200px;
   }
  .banner-main {
    padding: 10px;
    background: rgba(#fff, .95);
    width: 400px;

  }
  .banner-info {
    height: 120px;
    border: 1px solid rgba(#000, .1);
    padding: 20px;
    text-align: center;

    .title {
      font-size: 2.4rem;
      font-weight: bold;

    }
    p {
      font-size: 1.6rem;
      color: #999;

    }

  }

}
