.dux-shop-info {
  padding-top: 20px;
  padding-bottom: 20px;
  .show {
    width: 50%;
    float: left;
    padding-right: 30px;
    .preview {
      img {
        width: 480px;
        height: 480px;
        border: 1px solid #ddd;
      }
    }
    .items {
      width: 480px;
      margin-top: 20px;
      height: 65px;
      overflow: hidden;
      li {
        float: left;
        margin: 0 15px;
        &.active {
          img {
          border: 1px solid #ddd;
          }
        }
        img {
          width: 64px;
          height: 64px;
          border: 1px solid #fff;
        }
      }
    }
  }
  .info {
    float: right;
    width: 50%;
    .title {
      font-size: 3rem;
    }
    .subtitle {
      line-height: 25px;
      padding: 10px 0;
      color: #666;
    }
    .price {
      margin-top: 20px;
      background: #F8F8F8;
      font-size: 3rem;
      color: $color-main;
      line-height: 60px;
      padding: 0 10px;
      margin-bottom: 20px;
      small {
        color: #999;
        font-size: 1.4rem;
        text-decoration: line-through;
      }
      .store {
        float: right;
        font-size: 1.4rem;
        line-height: 60px;
        color: #999;
      }
    }
    .data {
      border-top: 1px dotted #ddd;
      border-bottom: 1px dotted #ddd;
      line-height: 20px;
      padding: 10px 0;
      span {
        color: $color-main;
      }
      margin-bottom: 20px;
      li {
        text-align: center;
        border-right: 1px solid #ddd;
        &:last-child {
          border-right: none;
        }
      }
    }
    .filter {
      color: #848484;
      dl {
        margin-bottom: 10px;
      }
      dt {
        float: left;
        width: 60px;
        font-size: 14px;
        overflow: hidden;
        margin-top: 10px;
        line-height: 25px;
      }
      dd {
        margin-top: 5px;
        margin-left: 70px;
        min-height: 30px;

        &.items {
          a {
            background: #fff;
            border: 1px #ccc solid;
            color: #333;
            font-size: 1.2rem;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            text-decoration: none;
            &.active {
              border-color: $color-main;
              color: $color-main;
            }
          }
        }

      }
    }
    .func {
      margin-top: 20px;
      .fa-heart {
        color: $color-main;
      }
    }
  }

}



.dux-shop-layout {
  .layout-sidebar {

  }
  .layout-body {
    background: #fff;
    padding: 20px;
  }

}

.dux-shop-text {
  line-height: 35px;
  color: #666;
  p {
    margin: 0;
  }
  img {
    max-width: 95%;
  }
}

.dux-shop-tabs {
  .am-tabs-nav {
    height: 35px;
  }

  .am-tabs-bd {
    border: none;
  }
  .am-tabs-nav {
    border: none;
    li {
      a {
        display: block;
        background: #eee;
        font-size: 1.6rem;
        padding: 6px 20px;
        &, &:hover, &:focus {
          border: none;
        }

        &:hover {
          color: $color-main;
        }

      }
      &.am-active {
        a {
          color: #000;
          background: #fff;
          border: none;

        }
      }
    }
  }

}

.dux-comment-info {
  padding: 10px;
  height: 90px;
  color: #666;
  background: #f5f5f5;
  p {
    margin: 0;
    padding: 0;
  }
  .rate {
    float: left;
    width: 130px;
    text-align: center;
    strong {
      color: $color-main;
      font-size: 4rem;
      line-height: 3.5rem;
      small {
        font-size: 1.6rem;
      }
    }

  }
  .percent {
    float: left;
    width: 200px;
    margin-left: 20px;
    .uk-progress {
      margin: 0;
      background: #fff;
      &::-webkit-progress-bar
      {
        background-color:#ddd;
      }
      &::-webkit-progress-value
      {
        background-color:$color-main;
      }
    }
    dl {
      padding: 0;
      margin: 0;
      dt {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 80px;
        font-weight: normal;
        height: 25px;
        line-height: 25px;

      }
      dd {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 110px;

      }
    }

  }
  .info {
    float: right;
    width: 160px;
    text-align: center;
    border-left: 1px solid #ddd;
    padding-bottom: 10px;
    p {
      line-height: 30px;
    }

  }
}

.dux-comment-list {
  margin-top:20px;
  .list-type {
    margin-top:10px;
    li {
      float: left;
      margin-right:5px;
      a {
        padding: 5px 10px;
        background: #f5f5f5;
      }
      &.active {
        a {
          background: $color-main;
          color: #fff;
        }
      }
    }
  }
  .list-items {
    margin-top:10px;
    border-top: none;
    padding: 10px;
    p {
      margin: 0;
    }
    > li {
      border-bottom: 1px solid #eee;
      padding: 20px 0;
      &:last-child {
        border-bottom: none;
      }
      .info {
        .stars {
          color: $color-main;
        }
        .time {
          float: right;
          color: #999;
        }
        height: 30px;
      }

      .user {
        float: left;
        width: 110px;
        text-align: center;
        padding: 0 10px;
        line-height: 23px;
        img {
          border-radius: 50%;
          width: 48px;
          height: 48px;
        }
      }
      .body {
        margin-left:120px;
        .content {
          line-height:22px;
          .images {
            margin-top: 10px;
            li {
              float: left;
              margin-right:10px;
              img {
                background: #fff;
                padding: 2px;
                border: 1px solid #ddd;
                width: 65px;
                height: 65px;
              }
            }
          }
        }
        .spec {
          margin-top:10px;
          color: #999;
          font-size:1.2rem;
        }

      }

    }
  }
}

.dux-ask-info {
  padding: 10px;
  color: #666;
  background: #f5f5f5;
  .info {
    margin-right:180px;
    padding: 10px 0;
  }
  .btn {
    padding-top:10px;
    float: right;
    width: 160px;
    text-align: center;
    border-left: 1px solid #ddd;
    padding-bottom: 10px;
    p {
      line-height: 30px;
    }
  }
}

.dux-ask-list {
  .time {
    color: #999;
  }
  .content {
    padding: 10px 0;
  }
  .reply {
    background: #f5f5f5;
    padding: 10px;
  }
}

.dux-ask-form {
  padding: 10px;
  background: #f5f5f5;
}