.dux-shop-list {
  min-height: 350px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
  li {
    padding: 5px;
    position: relative;
    &:hover {
      .dux-shop-item {
        height: auto;
        position: absolute;
        z-index: 2;
        left: 5px;
        right: 5px;
        box-shadow: 0 0 5px #ccc;
      }
    }
  }
  .dux-shop-item {
    height: 310px;
    overflow: hidden;
  }

}

.dux-shop-item {
  font-size:1.4rem;
  text-align: center;
  background: #fff;
  padding: 10px;
  position: relative;
  .img {
    padding:30px 0 ;

  }
  img {
    width: 180px;
    height: 180px;
  }
  .title {
    color: #000;
    font-size:1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 25px;
  }
  .price {
    color: $color-main;
    height: 25px;
    small {
      color: #999;
      text-decoration: line-through;
    }
  }
  .info {
    margin-top:20px;
    i {
      margin-right:5px;
    }
  }

}


.dux-shop-sidebar {
  padding: 10px 20px;
  li {
    border-bottom:1px dotted #ddd;
    &:last-child {
      border-bottom:none;
    }
  }
}
