{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
        </div>
</div>
