body {
    padding: 0;
    margin: 0;
}

#xEditingArea {
    border: #bbb 1px solid;
    border-top: none;
}

.SourceField {
    padding: 5px;
    margin: 0;
    font-size: 12px;
    font-family: 'Courier New', Monospace;
}

.TB_ToolbarSet {
    cursor: default;
    background: #f5fbff;
    border: 1px solid #bbb;
    padding: 2px;
}

.TB_ToolbarSet TD {
    font: 12px Tahoma, Verdana;
}

.TB_Toolbar {
    display: inline-table;
    background: #f5fbff;
}

.TB_Separator {
    width: 1px;
    height: 16px;
    margin: 2px;
    background: #bbb;
}

.TB_Start {
    margin: 0;
    width: 5px;
    height: 24px;
    background: url(images/toolbar.start.gif) no-repeat center center;
}

.TB_End {
    height: 24px;
    width: 4px;
}

.TB_Break {
    height: 24px;
}

.TB_Button_On, .TB_Button_Off, .TB_Button_On_Over, .TB_Button_Off_Over, .TB_Button_Disabled {
    height: 22px;
    border: #f5fbff 1px solid; /* This is the default border */
}

.TB_Button_On {
    margin: 0;
    border: #316ac5 1px solid;
    background: #c1d2ee;
}

.TB_Button_On_Over, .TB_Button_Off_Over {
    margin: 0;
    border: #316ac5 1px solid;
    background: #dff1ff;
}

.TB_Button_Off {
    filter: alpha(opacity=70);
    opacity: 0.70;
}

.TB_Button_Disabled {
    filter: gray() alpha(opacity=30);
    opacity: 0.30;
}

.TB_Button_Padding {
    visibility: hidden;
    width: 3px;
    height: 22px;
}

.TB_Button_Image {
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 3px;
    background-repeat: no-repeat;
}

.TB_Button_Image img {
    position: relative;
}

.TB_Button_Off .TB_Button_Text {
    background: #f5fbff; /* Needed because of a bug on Clear Type */
}

.TB_ConnectionLine {
    background: #fff;
    height: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.TB_Button_Off .TB_Text {
    background: #f5fbff; /* Needed because of a bug on ClearType */
}

.TB_Button_On_Over .TB_Text {
    background: #dff1ff;
}

.Menu .TB_Button_On, .Menu .TB_Button_On_Over {
    border: #8f8f73 1px solid;
    background: #fff;
}

.FCK_Panel {
    border: #8f8f73 1px solid;
    padding: 2px;
    background: #fff;
}

.FCK_Panel, .FCK_Panel TD {
    font: 12px Tahoma, Verdana;
}

.SC_Panel {
    overflow: auto;
    white-space: nowrap;
    cursor: default;
    border: 1px solid #8f8f73;
    padding-left: 2px;
    padding-right: 2px;
    background: #fff;
}

.SC_Panel, .SC_Panel TD {
    font: 12px Tahoma, Verdana;
}

.SC_Item, .SC_ItemSelected {
    margin-top: 2px;
    margin-bottom: 2px;
    background-position: left center;
    text-overflow: ellipsis;
    overflow: hidden;
    background-repeat: no-repeat;
    border: #ddd 1px solid;
    padding: 2px 3px 2px 11px;
}

.SC_Item *, .SC_ItemSelected * {
    margin-top: 0;
    margin-bottom: 0;
}

.SC_ItemSelected {
    border: #9a9afb 1px solid;
}

.SC_ItemOver {
    border: #316ac5 1px solid;
}

.SC_Field {
    margin-top: 2px;
    border: #b7b7a6 1px solid;
    cursor: default;
}

.SC_FieldCaption {
    overflow: visible;
    padding-right: 5px;
    padding-left: 5px;
    opacity: 0.75;
    filter: alpha(opacity=70);
    height: 23px;
    background: #f5fbff;
}

.SC_FieldLabel {
    white-space: nowrap;
    padding: 2px;
    width: 100%;
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #fff;
}

.SC_FieldButton {
    border-left: #b7b7a6 1px solid;
    width: 14px;
    background: url(images/toolbar.buttonarrow.gif) no-repeat center center;
}

.SC_FieldDisabled .SC_FieldButton, .SC_FieldDisabled .SC_FieldCaption {
    opacity: 0.30;
    filter: gray() alpha(opacity=30);
}

.SC_FieldOver {
    border: #316ac5 1px solid;
}

.SC_FieldOver .SC_FieldButton {
    border-left: #316ac5 1px solid;
}

.ColorBoxBorder {
    border: #808080 1px solid;
    position: static;
}

.ColorBox {
    font-size: 1px;
    width: 10px;
    position: static;
    height: 10px;
}

.ColorDeselected, .ColorSelected {
    cursor: default;
}

.ColorDeselected {
    border: #fff 1px solid;
    padding: 2px;
    float: left;
}

.ColorSelected {
    border: #306 1px solid;
    padding: 2px;
    float: left;
    background: #c4cdd6;
}