body {
    margin: 0;
    padding: 10px;
}

body, td, input, select, textarea {
    font: 12px Tahoma, Verdana;
}

body, .BackColor {
    background: #f1f1e3;
}

.PopupBody {
    margin: 0;
    padding: 0;
}

.PopupTitle {
    font-weight: bold;
    font-size: 16px;
    color: #737357;
    padding: 3px 10px;
    background: #e3e3c7;
}

.PopupButtons {
    border-top: #d5d59d 1px solid;
    padding: 7px 10px;
    background: #e3e3c7;
}

.Button {
    border: #737357 1px solid;
    color: #3b3b1f;
    background: #c7c78f;
}

#btnOk {
    width: 100px;
}

.PopupTitleBorder {
    border-bottom: #d5d59d 1px solid;
}