.HeaerBox{
	max-width: 640px;
	margin: auto;
	background: #4793E1;
	position: relative;
}
.HeaerBox .insaideBox{
	display: table;
	width: 100%;
}
.HeaerBox .insaideBox .sons{
	display: table-cell;
	vertical-align: middle;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}
.HeaerBox .insaideBox .logo{
	width:50px;
	padding: 5px 10px;
	text-align: center;
}
.HeaerBox .insaideBox .logo .img{
	width:50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 0px 2px #000;
}
.HeaerBox .insaideBox .member{
	width:50px;
}
.HeaerBox .insaideBox .member .fa{
	font-size:22px;
	color: #FFF;
}
.HeaerBox .insaideBox .sitename{
	font-size:16px;
	line-height: 20px;
}
@media (max-width: 400px) {
	.HeaerBox .insaideBox .logo{
		width:40px;
	}
	.HeaerBox .insaideBox .logo .img{
		width:40px;
		height: 40px;
	}
}