.MainmuneBox{
	max-width: 620px;
	margin: auto;
	padding: 15px 10px 10px 10px;
	background: #FFF;
}
.MainmuneBox:after{
	content: '';
	display: block;
	clear: both;
}
.MainmuneBox .menus{
	width:25%;
	float: left;
	overflow: hidden;
}
.MainmuneBox .menus .inBox{
	width:60%;
	margin: auto;
	position: relative;
	background: #379DD3;
	border-radius: 50%;
}
.MainmuneBox .menus .inBox2{
	background: #E87461;
}
.MainmuneBox .menus .inBox3{
	background: #1DBB68;
}
.MainmuneBox .menus .inBox4{
	background: #D87BE9;
}
.MainmuneBox .menus .inBox:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.MainmuneBox .menus .inBox .icon{
	position: absolute;
	color: #FFF;
	font-size:30px;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.MainmuneBox .menus .text{
	text-align: center;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size:16px;
	overflow: hidden;
}
@media (max-width: 400px){
	.MainmuneBox .menus .inBox{
		width:70%;
	}
	.MainmuneBox .menus .inBox .icon{
		font-size:26px;
	}
	.MainmuneBox .menus .text{
		padding: 0 5px;
		font-size:14px;
	}
}
.MainContainerBox{
	max-width: 640px;
	margin: auto;
	background: #F5F5F5;
	overflow: hidden;
}
.ListShopBox{
	padding: 5px;
}
.ListShopBox:after{
	content: '';
	display: block;
	clear: both;
}
.ListShopBox .lists{
	width:50%;
	overflow: hidden;
	float: left;
}
.ListShopBox .lists .imgbox{
	margin: 5px 5px 0 5px;
	position: relative;
	background: #FFF;
	overflow: hidden;
}
.ListShopBox .lists .imgbox:before{
	content: '';
	display: block;
	padding-top: 70%;
}
.ListShopBox .lists .imgbox .img{
	position: absolute;
	max-height: 100%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.ListShopBox .lists .infos{
	margin: 0 5px 5px 5px;
	background: #FFF;
	padding: 5px 10px;
}
.ListShopBox .lists .infos .title{
	font-size:14px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.ListShopBox .lists .infos .price{
	padding-top: 8px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size:14px;
	color: #F90;
}
.ListShopBox .lists .infos .fa-yen{
	float: left;
}
.ListShopBox .lists .infos .yen0{
	float: right;
	color: #999;
	text-decoration:line-through;
}
.ListArticleBox{
	background: #FFF;
}
.ListArticleBox .head{
	height:45px;
	overflow: hidden;
	border-bottom: #EEE solid 1px;
	line-height: 45px;
}
.ListArticleBox .head .tag{
	float: left;
	padding-left: 10px;
}
.ListArticleBox .head .tag .si-bar-chart{
	float: left;
}
.ListArticleBox .head .tag .si-bar-chart:before{
	line-height: 45px;
	margin-right: 5px;
	font-size:20px;
	color: #F60;
}
.ListArticleBox .head .more{
	float: right;
	padding-right: 10px;
}
.ListArticle .lists{
	display: table;
	width: 100%;
	border-bottom: #EEE solid 1px;
}
.ListArticle .lists .left,.ListArticle .lists .right{
	display: table-cell;
	vertical-align: top;
	padding: 15px 10px;
}
.ListArticle .lists .left{
	width:110px;
	padding-right: 0px;
}
.ListArticle .lists .left .imgbox{
	position: relative;
	box-shadow: 0px 0px 1px #000;
	overflow: hidden;
}
.ListArticle .lists .left .imgbox:before{
	content: '';
	display: block;
	padding-top: 70%;	
}
.ListArticle .lists .left .imgbox .img{
	position: absolute;
	max-height: 100%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.ListArticle .lists .right .title{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-bottom: 5px;
}
.ListArticle .lists .right .title1{
	height:50px;
	line-height: 25px;
}
.ListArticle .lists .right .time{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size:14px;
	color: #999;
}
.ListArticle .lists .right .imgs:after{
	content: '';
	display: block;
	clear: both;
}
.ListArticle .lists .right .imgs .li{
	width:33.33%;
	overflow: hidden;
	float: left;
}
.ListArticle .lists .right .imgs .li .imgbox{
	margin: 0 5px;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 1px #000;
}
.ListArticle .lists .right .imgs .li .imgbox:before{
	content: '';
	display: block;
	padding-top: 70%;	
}
.ListArticle .lists .right .imgs .li .imgbox .img{
	position: absolute;
	max-height: 100%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.aboutUs{
	width:100%;
	overflow: hidden;
	background: #FFF;
	margin-bottom: 10px;
}
.aboutUs .showimg{
	text-align: center;
}
.aboutUs .showimg .img{
	width:100%;
}
.aboutUs .h{
	text-align: center;
	line-height: 25px;
	padding-top: 8px;
	font-size:20px;
}
.aboutUs .cnt{
	padding: 10px;
	color: #666;
	line-height: 25px;
	text-indent: 30px;
}
