<extend name="Public/base"/>

<block name="body">
    <div class="cf">
		<div class="fl">
            
            <button class="btn ajax-post confirm" url="{:U('promotion/delApply')}" target-form="ids">删 除</button>
        </div>
    </div>
        
        
    <div class="data-table table-striped">
           
            <table class="">
                <thead>
                    <tr >
                       <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                        <th>联系人</th>
                        <th>联系方式</th>  
                        <th>申请时间</th> 
                        <th>店铺地址</th>
                        <th>商家简介</th> 
                        <th>报名的活动</th>                 
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <notempty name="_list">
                <volist name="_list" id="data">
                    <tr class="pointer even" title="">
                        <td><input class="ids" type="checkbox" name="id[]" value="{$data.id}" /></td>
                        <td>{$data['contact']}</td>
                        <td>{$data['contact_info']}</td>
                        <td>{$data['create_time']|time_format}</td>
                        <td>{$data['shop_url']}</td>
                        <td>{$data['brief_description']}</td>
                        <td><a href="{:U('Promotion/edit',array('id'=>$data['p_id']))}">{$data['promotion_name']}</a></td>
                        <td>            
                            <a class="confirm ajax-get" href="{:U('promotion/delApply?id='.$data['id'])}" title="删除">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table></div>
    <div class="page">
        {$_page}
    </div>
</block>
     

