html,body,#edit-editormd{
    height: 100%;
    margin:0;
    border: 0;
}

.preview-editormd-container{
    margin:0;
    border: 0;
}

button.goEditor{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
}

#test-editormd,.editormd-container-mask{
    background: #2C2827;
}

*{
    box-sizing:border-box;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

@media screen {
  .code-preview-theme-dark {
    /* string content */
    /* a keyword */
    /* a comment */
    /* a type name */
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    /* a markup tag name */
    /* a markup attribute name */
    /* a markup attribute value */
    /* a declaration; a variable name */
    /* a function name */
  }
  .code-preview-theme-dark .str {
    color: #080;
  }
  .code-preview-theme-dark .kwd {
    color: #ff9900;
  }
  .code-preview-theme-dark .com {
    color: #696;
  }
  .code-preview-theme-dark .typ {
    color: #c33ac3;
  }
  .code-preview-theme-dark .lit {
    color: #077;
  }
  .code-preview-theme-dark .pun, .code-preview-theme-dark .opn, .code-preview-theme-dark .clo {
    color: #770;
  }
  .code-preview-theme-dark .tag {
    color: #ff9900;
  }
  .code-preview-theme-dark .atn {
    color: #6C95F5;
  }
  .code-preview-theme-dark .atv {
    color: #080;
  }
  .code-preview-theme-dark .dec, .code-preview-theme-dark .var {
    color: #008BA7;
  }
  .code-preview-theme-dark .fun {
    color: red;
  }

  .code-preview-theme-dark pre.prettyprint.linenums.prettyprinted{
    background: #2c2827;
  }

  .code-preview-theme-dark li.L1,.code-preview-theme-dark li.L3,.code-preview-theme-dark li.L5,
  .code-preview-theme-dark li.L7,.code-preview-theme-dark li.L9 {
    background: #2c2827;
  }

    .code-preview-theme-dark pre.linenums .pln {
      color: #aaa;
    }
}