.hui-header-icon{width:44px; height:44px; line-height:44px; font-family:"hui-font"; text-align:center; font-size:18px; flex-shrink:0;color:#FFFFFF;}
.hui-header-home:before{content:"\e611";}
.hui-header-menu:before{content:"\e634";} .hui-header-toast:before{content:"\e689";} .hui-header-img:before{content:"\e620";}
.hui-header-left:before{content:"\e6a5";} .hui-header-right:before{content:"\e608";} .hui-header-number:before{content:"\e604";}
.hui-header-up:before{content:"\e649";}  .hui-header-up2:before{content:"\e655";} .hui-header-down:before{content:"\e744";} 
.hui-header-down2:before{content:"\e609";} .hui-header-progress:before{content:"\e615";}
.hui-header-success:bef\e6a5ore{content:"\e632";} .hui-header-error:before{content:"\e638";} .hui-header-range:before{content:"\e613";}
.hui-header-warn:before{content:"\e603";} .hui-header-click:before{content:"\e75b";} .hui-header-tab:before{content:"\e667";}
.hui-header-loading:before{content:"\e647";} .hui-header-form:before{content:"\e62c";} .hui-header-picker:before{content:"\e923";}
.hui-header-eyes:before{content:"\e63d";} .hui-header-clear:before{content:"\e6a0";} .hui-header-home:before{content:"\e611";}
.hui-header-switch:before{content:"\e679";} .hui-header-action-sheet:before{content:"\e605";} .hui-header-news:before{content:"\e62e";}
.hui-header-swipe:before{content:"\e699";} .hui-header-media-list:before{content:"\e62d";} .hui-header-my:before{content:"\e618";}
.hui-header-forum:before{content:"\e602";} .hui-header-shop:before{content:"\e67f";} .hui-header-nav:before{content:"\e606";}
.hui-header-menu-point:before{content:"\e60e";} .hui-header-menu-point2:before{content:"\e625";} .hui-header-star:before{content:"\e661";}
.hui-header-msg:before{content:"\e60b";} .hui-header-help:before{content:"\e652";} .hui-header-water-fall:before{content:"\e60c";} 
.hui-header-search:before{content:'\e714';} .hui-header-img-cut:before{content:'\e612';} .hui-header-register:before{content:'\e677';} 
.hui-header-write:before{content:'\e646';} .hui-header-logoff:before{content:'\e610';} .hui-header-check:before{content:'\e866';} 
.hui-header-loading2:before{content:"\e61e";} .hui-header-insert:before{content:"\e6ee";} .hui-header-clone:before{content:"\e6dc";} 
.hui-header-remove:before{content:"\e656";} .hui-header-edit:before{content:"\e600";} .hui-header-like:before{content:"\e64a";} 
.hui-header-pause:before{content:"\e96b";} .hui-header-play:before{content:"\e6b1";} .hui-header-stop:before{content:"\e61b";} 
.hui-header-shopping-cart:before{content:"\e633";} .hui-header-close:before{content:"\e617";}

.content-goods img{width:100%;}
.goods_buy_card{margin:0 10px;height: 20px;border:solid 1px #ccc;padding:5px 10px;width: 50px;}
.goods_shop_title{background:url(../img/list/4.png);background-size: 100% 100%;width: 100%;text-align: center;margin-right: 10px;line-height: 40px;height:40px;}

.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	display: block;
}


.hui-tl{text-align:left !important}/* 左浮动 */
.hui-tr{text-align:right !important;}/* 右浮动 */
.hui-tc{text-align:center!important;}/* 居中 */



.hui-row{
	box-sizing: border-box;
}
.hui-row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="hui-col-"] {
	box-sizing: border-box;
	float: left;
	padding: 5px 5px;
}
.hui-col-1 {width: 8.33%;}
.hui-col-2 {width: 16.66%;}
.hui-col-3 {width: 25%;}
.hui-col-4 {width: 33.33%;}
.hui-col-5 {width: 41.66%;}
.hui-col-6 {width: 50%;}
.hui-col-7 {width: 58.33%;}
.hui-col-8 {width: 66.66%;}
.hui-col-9 {width: 75%;}
.hui-col-10 {width: 83.33%;}
.hui-col-11 {width: 91.66%;}
.hui-col-12 {width: 100%;}

.hui-list-diy{padding:0px; border:1px solid #E4E3E6; border-left:0; border-right:0; background:#FFFFFF;line-height: 22px;}

.hui-font-gray{color:#666;}
.hui-font-red{color:#ff0000;}
.hui-font-white{color:#ffffff;}
.hui-font-s12{font-size:12px;}

.hui-mt-10{margin-top:10px;}
.hui-mt-15{margin-top:15px;}
.hui-mt-20{margin-top:20px;}

#hui-footer .hui-row{width: 100%;}
#hui-footer [class*="hui-col-"] {padding:0px;}

.goods-list{background:#fff;margin-top: 5px;}
.goods-list li{width:50%; float:left;}
.goods-list .img{height: 150px;overflow: hidden;}
.goods-list .txt{height:80px;overflow:hidden;}
.goods-list .tit{height:50px;line-height: 25px; overflow:hidden;}
.goods-list .pri{color:#f00;font-size: 16px;padding: 3px; overflow:hidden;float: left}
.goods-list .buy{background:#f00;color:#fff;font-size: 12px; padding:3px 8px;overflow:hidden;float: right}
.goods-list img{height: 150px;}

.goods-order-list li{padding:0px 10px;margin-top: 10px;border-top:solid 5px #F0F0F0;list-style: none;}
.goods-order-list .ord{line-height: 35px;border-bottom: solid 1px #eee;}
.goods-order-list .txt{line-height: 25px;border-bottom: solid 1px #eee;padding-bottom:15px;}
.goods-order-list .sta{float: right;}
.goods-order-list .tot{height: 30px;line-height: 30px;border-bottom: solid 1px #eee;}
.goods-order-list .opr{height: 30px;line-height: 30px;}
.goods-order-list .img{height:80px;padding-top: 10px;}
.goods-order-list .img img{height:80px;width: 80px;}
.goods-order-none{text-align:center;padding:180px 0px;line-height: 50px;}
.goods-order-none .icon-shangpinkuozhan{font-size: 50px;}

.goods-cart-list .cartBtn{background:#ccc;}
.goods-cart-list .cartInput{margin:0 5px;height: 20px;border:solid 1px #ccc;width: 50px;}

.my-btn-black{border:solid 1px #333;border-radius: 3px;padding:1px 8px;}
.my-btn-red{background: #f00;color:#fff;border-radius: 3px;padding:1px 8px;}



.dist-order-list{}
.dist-order-list li{padding:5px 10px;margin-top: 5px;list-style: none;background:#fff;}
.dist-order-list .ord{line-height: 35px;border-bottom: solid 1px #eee;}
.dist-order-list .txt{line-height: 25px;border-bottom: solid 1px #eee;padding-bottom:5px;}
.dist-order-list .sta{float: right;}
.dist-order-list .tot{height: 30px;line-height: 30px;border-bottom: solid 1px #eee;}
.dist-order-list .opr{height: 30px;line-height: 30px;}
.dist-order-list .img{height:50px;padding-top: 10px;}
.dist-order-list .img img{height:50px;width: 50px;}

.dist-team-order-list li{padding:5px 10px;margin-top: 5px;list-style: none;background:#fff;}
.dist-team-order-list .txt{line-height: 25px;border-bottom: solid 1px #eee;padding-bottom:5px;}
.dist-team-order-list .sta{float: right;}
.dist-team-order-list .tot{height: 30px;line-height: 30px;border-bottom: solid 1px #eee;}
.dist-team-order-list .opr{height: 30px;line-height: 30px;}
.dist-team-order-list .img{height:50px;padding-top: 10px;}
.dist-team-order-list .img img{height:50px;width: 50px;}

.hui-list-rank{padding:5px;}
.hui-list-rank .item{padding:5px;border-top:solid 1px #eee;line-height: 40px;}
