{layout name="layout" /}
<div class="tipbox tipbox-message mb10">
    友情提示:<br />
    1、若商品已产生过交易,没有特殊情况建议不要做回收站清空操作.因为会影响到当前寄卖产品。<br />
    2、如果确认当前商品或客户寄卖商品已完全交易完成,建议仅作下架或删除到回收站。
</div>
<div id="actionbar" class="fn-clear">
    <div class="fn-left">
        <a href="{:url('fastshop/item/add')}" class="button button-blue"><i class="iconfont icon-add_icon"></i>增加</a>
        {if empty($status)}
        <button class="button bar" msg="【下架】选择商品" issale="0"><i class="iconfont icon-arrowdown"></i>下架</button>
        <button class="button bar" msg="【上架】选择商品" issale="2"><i class="iconfont icon-arrowup"></i>上架</button>
        <button class="button bar" url="{:url("fastshop/item/delete")}" msg="【删除】选择商品? 可恢复" issale="1"><i class="iconfont icon-lajixiang"></i>删除</button>
        {else /}
        {if $status == 'trash'}
        <button class="button bar" msg="【恢复】选择商品" issale="0"><i class="iconfont icon-skip"></i>恢复</button>
        <button class="button bar" url="{:url("fastshop/item/delete")}" msg="【彻底删除】选择的商品吗?建议不要删除" issale="1"><i class="iconfont icon-lajixiang"></i>清空</button>
        {else /}
        {if $status == 'off_sale' /}
        <button class="button bar" msg="【下架】选择商品" issale="0"><i class="iconfont icon-arrowdown"></i>下架</button>
        {elseif $status == 'on_sale' /}
        <button class="button bar" msg="【下架】选择商品" issale="2"><i class="iconfont icon-arrowup"></i>上架</button>
        {/if}
        <button class="button bar" url="{:url("fastshop/item/delete")}" msg="【删除】选择商品? 可恢复" issale="0"><i class="iconfont icon-lajixiang"></i>删除</button>
        {/if}
        {/if}
    </div>
    <div class="fn-right">
        <form id="form" action="{:url('fastshop/item/index')}" method="get">
            <input type="hidden" name="status" value="{$status}" />
            &nbsp;<input placeholder="请输入商品关键字" class="input w200" type="text" name="keyword" value="{$keyword}" />
            <input type="submit" value="搜索" class="button button-blue" />
        </form>
    </div>
    <div class="fn-right">
        <a href="{:url('fastshop/item/index')}" class="button {if $status == '0'} button-green{/if}">全部商品</a>
        <a href="{:url('fastshop/item/index',['status' =>'off_sale'])}" class="button {if $status == 'off_sale' && $status != '0'} button-green{/if}">在售</a>
        <a href="{:url('fastshop/item/index',['status' =>'on_sale'])}" class="button {if $status == 'on_sale' && $status != '0'} button-green{/if}">下架</a>
        <a href="{:url('fastshop/item/index',['status' =>'trash'])}" class="button {if $status == 'trash' && $status != '0'} button-green{/if}">回收站</a>
    </div>
</div>
<table class="table table-border">
    <thead>
        <tr>
            <th class="fn-tac w80">#</th>
            <th class="fn-tac w40"><input type="checkbox" onclick="CheckAll(this)"></th>
            <th class="fn-tac w80">商品名称</th>
            <th></th>
            <th class="w80 fn-tac">商品属性</th>
            <th class="w100 fn-tar">成本价</th>
            <th class="w100 fn-tar">市场/销售价</th>
            <th class="w140">更新时间</th>
            <th class="fn-tac w90">操作</th>
        </tr>
    </thead>
    <tbody>
        {foreach $lists as $vo}
        <tr>
            <td class="fn-tac">{$vo.id}</td>
            <td class="fn-tac"><input name="ids[]" type="checkbox" value="{$vo.id}"></td>
            <td class="fn-tac"><img src="{$vo.img}?x-oss-process=style/80" class="w60" /></td>
            <td>
                {if $vo.is_sale == 1}<span class="badge bg-red">回收站</span>
                {elseif $vo.is_sale == 2}<span class="badge bg-green">在售</span>
                {else}<span class="badge bg-yellow">下架</span>{/if}
                <a href="{:url('fastshop/item/edit',['id'=>$vo.id,'keyword'=>$keyword,'status' => $status,'page' => $page])}">{$vo.name}</a>
            </td>
            <td class="fn-tac">
                {if $vo.types == 1}<span class="badge bg-green">首页</span>
                {elseif $vo.types == 2}<span class="badge bg-blue">搜索页</span>
                {elseif $vo.types == 3}<span class="badge bg-yellow">购物车</span>
                {else}<span class="badge">默认</span>
                {/if}</td>
            <td class="fn-tar">￥{$vo.price/100|money}</td>
            <td class="fn-tar"><span class="gray"><del>￥{$vo.market_price|money}</del></span><br ><span class="red">￥{$vo.sell_price|money}</span></span></td>
            <td>{$vo.update_time|date='Y-m-d H:i'}</td>
            <td class="fn-tac">
                <a class="button isDel" url="{:url('fastshop/item/delete',['id'=>$vo.id])}" href="javascript:;" title="删除"><i class="iconfont icon-lajixiang"></i>删除</a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
{$lists|raw}
<script type="text/javascript">
    Do('base', 'layer', 'tip', 'ztree', function () {
        $('.isDel').isDel();
        sort("{:url('shop/admin.spec/sort')}");
        $(".bar").click(function () {
            var url = $(this).attr('url');
            var issale = $(this).attr('issale');
            if (typeof (url) == 'undefined') {
                url = '{:url("fastshop/item/ids_action")}?issale=' + issale;
            }
            var msg = $(this).attr('msg');
            tools_submit({ action: url, msg: msg })
        })
    })
</script>