$color-main: #E31436;
$color-secondary: #333;
$color-text: #363636;


@import "model/_fix";
@import "model/_layout";
@import "model/_head";
@import "model/_index";
@import "model/_foot";

@import "model/_page";

@import "model/_coupon";


@import "model/_shop_list";
@import "model/_shop_content";


@import "model/_news_list";


@import "model/_common";
@import "model/_site";
@import "model/_member";

