body {
  background-color: #eee;
}
.container{
    background-image: url("/conero/public/img/Elle-Fanning-1.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 98%;
}
.container form{
    padding-left: 200px;
    padding-right: 600px;
    margin: 0px;
    height: 100%;
}
.container form h1{
    font-size: 1.3em;
    color: springgreen;
}
.container form label{
    padding-left: 5px;
}