/* 账号解锁 */
body{background: black;}
div.user_to_lock{margin: 12% 40% 5% 30%;padding:0px;}
div.user_to_lock form{margin: 0px;background: lightblue;padding:10%;}
div.user_to_lock p.tip_text{padding:0px;font-size: 0.87em;}
div.user_to_lock p.tip_text:hover{color:red;}