<ul class="uk-grid uk-grid-collapse uk-child-width-expand dux-tabs">
    <li class="active">
        <a href="{url('index')}">账户提现</a>
    </li>
    <li class="">
        <a href="{url('log')}">提现记录</a>
    </li>
</ul>

<form class="dux-form uk-form  " action="{url('')}" method="post" data-dux="form-bind" data-advanced="false">
    <div class="uk-form-title">提现信息</div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">提现银行卡</span>
        <!--if{empty($cardList)}-->
        <a href="{url('member/Card/add')}" class="uk-form-controls-text "><span class="uk-text-primary">暂未绑定银行卡，点击添加</span></a>
        <!--{else}-->
        <a href="javascript:;" data-dux="show-popupOpen" data-el="#card-modal" class="uk-form-controls uk-form-controls-text" id="card-info"><img src="__PUBLIC__/member/images/blank/{$cardList[0]['label']}.png" width="16" height="16px"> {$cardList[0]['bank']} (尾号{substr($cardList[0]['account'], -4)})</a>
        <a href="javascript:;" data-dux="show-popupOpen" data-el="#card-modal" class="uk-input-group-label"><i class="fa fa-angle-right"></i></a>
        <input type="hidden" name="card_id" id="card_id" value="{$cardList[0]['card_id']}">
        <!--{/if}-->
    </div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">可用金额</span>
        <div class="uk-form-controls uk-form-controls-text">{$userInfo.money}元</div>
    </div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">提现金额</span>
        <input type="tel" class="uk-form-field" placeholder="请输入提现金额" name="money" value="">
        <span class="uk-input-group-label"><a href="javascript:;" data-dux="show-popupOpen" data-el="#help-modal"><i class="fa fa-info-circle uk-text-primary"></i></a></span>
    </div>
    <div class="uk-form-title">用户验证信息</div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">验证方式</span>
        <select name="val_type" class="uk-form-field">
            <option value="0">手机验证</option>
            <option value="1">邮箱验证</option>
        </select>
    </div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">账号验证</span>
        <input type="text" class="uk-form-field" placeholder="请输入验证码" name="val_code">
        <span class="uk-input-group-btn">
                                            <button href="javascript:;" class="uk-button uk-button-small uk-button-primary" data-dux="page-getCode"
                                                    data-url="{url('member/Real/getCode')}" data-field="val_type"
                                                    type="button">获取验证码</button>
                                        </span>
    </div>
    <div class="uk-padding-small">
        <button class="uk-button uk-button-primary uk-button-block" type="submit">提交申请</button>
    </div>
</form>
<div class="dux-popup-fixed" id="card-modal">
    <div class="dux-popup ">
        <div class="popup-title">
            <h4 class="title">选择银行卡</h4>
            <span class="close" data-close>&times;</span>
        </div>
        <div class=" popup-body">
            <ul class="dux-menu">
                <!--loop{$cardList as $vo}-->
                <li>
                    <a href="javascript:;" data-id="{$vo.card_id}">
                        <span class="title"><img src="__PUBLIC__/member/images/blank/{$vo['label']}.png" width="16" height="16px"> {$vo['bank']} (尾号{substr($vo['account'], -4)})</span>
                        <span class="more"><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <!--{/loop}-->
            </ul>
            <div class="uk-padding-small">
                <a href="{url('member/Card/index')}" class="uk-button uk-button-primary uk-button-block">管理银行卡</a>
            </div>
        </div>
    </div>
</div>
<script>
    Do('base', function () {
        $('.dux-menu').on('click', 'a', function () {
            $title = $(this).find('.title').html();
            $('#card_id').val($(this).data('id'));
            $('#card-info').html($title);
            $('#card-modal').modal('close');
        });
    });
</script>

<div class="dux-popup-fixed" id="help-modal">
    <div class="dux-popup ">
        <div class="popup-title">
            <h4 class="title">提现说明</h4>
            <span class="close" data-close>&times;</span>
        </div>
        <div class=" popup-body uk-padding">
            <p>办理时间：每日9:00-18:00</p>
            <div class="dux-br"></div>
            <p>提现额度：每次提现最多提现额度为{$cashConfig.clear_withdraw}元，最高提现以银行限额为准。</p>
            <div class="dux-br"></div>
            <p>提现手续费：每次提现将收取提现金额{$cashConfig.clear_tax}%作为手续费，最高手续手续费50元。</p>
            <div class="dux-br"></div>
            <p>提现次数：每月限制{$cashConfig.clear_num}次提现次数，超出请于下月继续提现。</p>
            <div class="dux-br"></div>
            <p>提现到账时间：提现成功后一般将在1-3个工作日到账，周末顺延。如逾期未到账，请查询银行卡出入账明细和个人中心余额是否有退回。</p>
            <div class="dux-br"></div>
            <p>为保障您的财产安全只能使用本人绑定银行卡。</p>
            <div class="dux-br"></div>
            <p>如在提现过程中有任何疑问，请联系服务商为您解答。</p>
        </div>
    </div>
</div>