body,html{height:100%;overflow:hidden;}
.layout-boxed body,.layout-boxed html{height:100%}
body{font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;font-size:12px;}
.wrapper{height:100%;position:relative;overflow-x:hidden;overflow-y:auto}
.wrapper:after,.wrapper:before{content:" ";display:table}
.wrapper:after{clear:both}
.wrapper:after,.wrapper:before{content:" ";display:table}
.wrapper:after{clear:both}
.layout-boxed .wrapper{max-width:1250px;margin:0 auto;min-height:100%;box-shadow:0 0 8px rgba(0,0,0,.5);position:relative}
.layout-boxed{background:url(../img/boxed-bg.jpg) repeat fixed}
.content-wrapper,.main-footer{-webkit-transition:-webkit-transform .3s ease-in-out,margin .3s ease-in-out;-moz-transition:-moz-transform .3s ease-in-out,margin .3s ease-in-out;-o-transition:-o-transform .3s ease-in-out,margin .3s ease-in-out;transition:transform .3s ease-in-out,margin .3s ease-in-out;margin-left:190px;z-index:820}
.layout-top-nav .content-wrapper,.layout-top-nav .main-footer{margin-left:0}
@media (max-width:767px){.content-wrapper,.main-footer{margin-left:0}
}
@media (min-width:768px){.sidebar-collapse .content-wrapper,.sidebar-collapse .main-footer{margin-left:0}
}
@media (max-width:767px){.sidebar-open .content-wrapper,.sidebar-open .main-footer{-webkit-transform:translate(190px,0);-ms-transform:translate(190px,0);-o-transform:translate(190px,0);transform:translate(190px,0)}
}
.content-wrapper{min-height:100%;background-color: #f5f5f5;z-index: 800; overflow: hidden;}
.main-footer{background:#fff;padding:15px;color:#444;border-top:1px solid #d2d6de}
.fixed .left-side,.fixed .main-header,.fixed .main-sidebar{position:fixed}
.fixed .main-header{top:0;right:0;left:0}
.fixed .content-wrapper,.fixed .right-side{padding-top:50px}
@media (max-width:767px){.fixed .content-wrapper,.fixed .right-side{padding-top:100px}
}
.fixed.layout-boxed .wrapper{max-width:100%}
.fixed .wrapper{overflow:hidden}
.hold-transition .content-wrapper,.hold-transition .left-side,.hold-transition .main-footer,.hold-transition .main-header .logo,.hold-transition .main-header .navbar,.hold-transition .main-sidebar,.hold-transition .menu-open .fa-angle-left,.hold-transition .right-side{-webkit-transition:none;-o-transition:none;transition:none}
.content{height:100%;margin:0 auto;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:'Source Sans Pro',sans-serif}
a{color:#1890ff}
a:active,a:focus,a:hover{outline:0;text-decoration:none;color:#000}
.page-header{margin:10px 0 20px 0;font-size:22px}
.page-header>small{color:#666;display:block;margin-top:5px}
.main-header{position:relative;max-height:50px;z-index:1030;background: #1890ff;box-shadow: 0 1px 4px rgba(0,21,41,.08);}
.main-header .navbar{-webkit-transition:margin-left .3s ease-in-out;-o-transition:margin-left .3s ease-in-out;transition:margin-left .3s ease-in-out;margin-bottom:0;margin-left:190px;border:none;min-height:30px;border-radius:0}
.layout-top-nav .main-header .navbar{margin-left:0}
.main-header #navbar-search-input.form-control{background:rgba(255,255,255,.2);border-color:transparent}
.main-header #navbar-search-input.form-control:active,.main-header #navbar-search-input.form-control:focus{border-color:rgba(0,0,0,.1);background:rgba(255,255,255,.9)}
.main-header #navbar-search-input.form-control::-moz-placeholder{color:#f1f1f1;opacity:1}
.main-header #navbar-search-input.form-control:-ms-input-placeholder{color:#f1f1f1}
.main-header #navbar-search-input.form-control::-webkit-input-placeholder{color:#f1f1f1}
.main-header .navbar-custom-menu,.main-header .navbar-right{float:right;}
@media (max-width:991px){.main-header .navbar-custom-menu a,.main-header .navbar-right a{color:inherit;background:0 0}
}
@media (max-width:767px){.main-header .navbar-right{float:none}
.navbar-collapse .main-header .navbar-right{margin:7.5px -15px}
.main-header .navbar-right>li{color:inherit;border:0}
}
.main-header .sidebar-toggle{float:left;background-color:transparent;background-image:none;font-family:fontAwesome}
.main-header .sidebar-toggle:before{content:"\f0c9"}
.main-header .sidebar-toggle:hover{color:#000}
.main-header .sidebar-toggle:active,.main-header .sidebar-toggle:focus{background:0 0}
.main-header .sidebar-toggle .icon-bar{display:none}
.main-header .navbar .nav>li.user>a>.fa,.main-header .navbar .nav>li.user>a>.glyphicon,.main-header .navbar .nav>li.user>a>.ion{margin-right:5px}
.main-header .navbar .nav>li>a>.label{position:absolute;top:9px;right:7px;text-align:center;font-size:9px;padding:2px 3px;line-height:.9}
.main-header .logo{-webkit-transition:width .3s ease-in-out;-o-transition:width .3s ease-in-out;transition:width .3s ease-in-out;display:block;float:left;height:50px;font-size:20px;line-height:50px;text-align:center;width:190px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;padding:0 15px;font-weight:300;overflow:hidden}
.main-header .logo .logo-lg{display:block;font-size: 25px;}
.main-header .logo .logo-lg .logo-txt{font-size:20px;margin-left:2px;height:50px;line-height:50px}
.main-header .logo .logo-mini{display:none;}
.main-header .navbar-brand{color:#fff}
.skin-blue .content-header{position:relative; background: #ffffff; margin-left: 10px;margin-top: 5px;}
.content-header>h1{margin:0;font-size:24px}
.content-header>h1>small{font-size:15px;display:inline-block;padding-left:4px;font-weight:300}
.content-header>.breadcrumb{height: 40px;line-height: 40px;margin-top: 0;margin-bottom: 0px;font-size: 12px; padding: 0px 15px;border-radius: 2px;padding-left:5px;}
.content-header>.breadcrumb>li>a{color:#444;text-decoration:none;display:inline-block}
.content-header>.breadcrumb>li>a>.fa,.content-header>.breadcrumb>li>a>.glyphicon,.content-header>.breadcrumb>li>a>.ion{margin-right:5px}
.content-header>.breadcrumb>li+li:before{content:'>';color: #666;}
@media (max-width:991px){.content-header>.breadcrumb{position:relative;top:0;right:0;float:none;padding-left:10px}
.content-header>.breadcrumb li:before{color:#97a0b3}
}
.navbar-toggle{color:#fff;border:0;margin:0;padding:15px 15px}
@media (max-width:991px){.navbar-custom-menu .navbar-nav>li{float:left;height: 50px;line-height: 50px}
.navbar-custom-menu .navbar-nav{margin:0;float:left}
.navbar-custom-menu .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:30px}
}
@media (max-width:767px){.main-header{position:relative}
.main-header .logo,.main-header .navbar{width:100%;float:none}
.main-header .navbar{margin:0}
.main-header .navbar-custom-menu{float:right}
.navbar .nav-top .top-menu span{display:none;}
}
@media (max-width:991px){.navbar-collapse.pull-left{float:none!important}
.navbar-collapse.pull-left+.navbar-custom-menu{display:block;position:absolute;top:0;right:40px}
}
.main-sidebar{position:absolute;top:50px;left:0;min-height:100%;width:190px;background-color: #fff !important;border-right: 2px solid #f5f5f5;z-index:810;-webkit-transition:-webkit-transform .3s ease-in-out,width .3s ease-in-out;-moz-transition:-moz-transform .3s ease-in-out,width .3s ease-in-out;-o-transition:-o-transform .3s ease-in-out,width .3s ease-in-out;transition:transform .3s ease-in-out,width .3s ease-in-out}
.navbar-nav > .user-menu .user-image {float: left;width: 25px;height: 25px;border-radius: 50%;margin-right: 10px;margin-top: -2px;}
@media (max-width: 767px) {
.main-sidebar{padding-top:100px;width:0px;-webkit-transform:translate(-190px,0);-ms-transform:translate(-190px,0);-o-transform:translate(-190px,0);transform:translate(-190px,0);}
.navbar .nav-top .top-menu span{display:none;}
.sidebar-open .main-sidebar{width:190px;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.navbar-nav > .user-menu .user-image {float: none;margin-right: 0;margin-top: -8px;line-height: 10px;}}
.sidebar{padding-bottom:10px}
.sidebar-form input:focus{border-color:transparent}
.user-panel{position:relative;width:100%;padding:20px 10px 10px 10px;overflow:hidden;margin-top:-50px;}
.user-panel:after,.user-panel:before{content:" ";display:table}
.user-panel:after{clear:both}
.user-panel:after,.user-panel:before{content:" ";display:table}
.user-panel:after{clear:both}
.user-panel>.image{text-align: center;width:100%;}
.user-panel>.image>img{width:70%;}
.user-panel>.info{width:100%;padding:5px 5px 5px 5px;line-height:1;text-align: center;margin-bottom:5px;}
.user-panel>.info>p{font-weight:600;font-size:16px;line-height: 22px}
.user-panel>.info>a{text-decoration:none;padding-right:5px;margin-top:3px;font-size:11px}
.user-panel>.info>a>.fa,.user-panel>.info>a>.glyphicon,.user-panel>.info>a>.ion{margin-right:3px}
.user-panel>.button{padding-left: 10px;}
.sidebar-menu{list-style:none;margin:0;padding:0}
.sidebar-menu>li{position:relative;margin:0;padding:0;border-top: 1px solid #fff;}
.sidebar-menu>li>a{padding:12px 5px 12px 15px;display:block;}
.sidebar-menu>li>a>.fa,.sidebar-menu>li>a>.glyphicon,.sidebar-menu>li>a>.ion{width:20px}
.sidebar-menu>li .badge,.sidebar-menu>li .label{margin-right:5px}
.sidebar-menu>li .badge{margin-top:3px}
.sidebar-menu li.header{padding:10px 25px 10px 15px;}
.sidebar-menu li>a>.fa-angle-left,.sidebar-menu li>a>.pull-right-container>.fa-angle-left{width:auto;height:auto;padding:0;margin-right:10px;-webkit-transition:transform .5s ease;-o-transition:transform .5s ease;transition:transform .5s ease}
.sidebar-menu li>a>.fa-angle-left{position:absolute;top:50%;right:10px;margin-top:-8px}
.sidebar-menu .menu-open>a>.fa-angle-left,.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}
.sidebar-menu .active>.treeview-menu{display:block;}
@media (min-width:768px){
.sidebar-mini.sidebar-collapse .content-wrapper,.sidebar-mini.sidebar-collapse .main-footer,.sidebar-mini.sidebar-collapse .right-side{margin-left:50px!important;z-index:840}
.sidebar-mini.sidebar-collapse .main-sidebar{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);width:50px!important;z-index:850}
.sidebar-mini.sidebar-collapse .sidebar-menu>li{position:relative}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a{margin-right:0}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span{border-top-right-radius:4px}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span{border-bottom-right-radius:4px}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu{padding-top:5px;padding-bottom:5px;border-bottom-right-radius:4px}
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.button,.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.button,.sidebar-mini.sidebar-collapse .sidebar-form,.sidebar-mini.sidebar-collapse .sidebar-menu li.header,.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span{display:none!important;-webkit-transform:translateZ(0)}
.sidebar-mini.sidebar-collapse .main-header .logo{width:50px}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{display:block;margin-left:-15px;margin-right:-15px;font-size:18px}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg{display:none}
.sidebar-mini.sidebar-collapse .main-header .navbar{margin-left:50px}
.sidebar-collapse .main-sidebar{-webkit-transform:translate(-190px,0);-ms-transform:translate(-190px,0);-o-transform:translate(-190px,0);transform:translate(-190px,0)}
.sidebar-mini.sidebar-collapse .user-panel>.image>img{width:100%}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar .shop{display:none;}
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu,.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right){display:block!important;position:absolute;width:190px;left:50px;top:3px;}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span{top:0;margin-left:-3px;padding:12px 5px 10px 20px;background-color:inherit}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container{position:relative!important;float:right;width:auto!important;left:190px!important;top:-23px!important;z-index:900}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container>.label:not(:first-of-type){display:none}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{top:40px;margin-left:0}
.sidebar-expanded-on-hover .content-wrapper,.sidebar-expanded-on-hover .main-footer{margin-left:50px}
.sidebar-expanded-on-hover .main-sidebar{box-shadow:3px 0 8px rgba(0,0,0,.125)}
.main-sidebar .user-panel,.sidebar-menu,.sidebar-menu>li.header{white-space:nowrap;overflow:hidden}
.sidebar-menu:hover{overflow:visible}
.sidebar-form,.sidebar-menu>li.header{overflow:hidden;text-overflow:clip}
.sidebar-menu li>a{position:relative}
.sidebar-menu li>a>.pull-right-container{position:absolute;right:10px;top:50%;margin-top:-6px}
.treeview-menu{display:none;list-style:none;padding:0;margin:0 !important;padding-left:5px}
.treeview-menu .treeview-menu{padding-left:20px}
.treeview-menu>li{margin:0;line-height: 26px;border-bottom: 1px solid #fff;}
.treeview-menu>li>a{padding:5px 5px 5px 36px;display:block;color:#b8c7ce;}
.treeview-menu>li>a>.fa,.treeview-menu>li>a>.glyphicon,.treeview-menu>li>a>.ion{width:20px}
.treeview-menu>li>a>.fa-angle-down,.treeview-menu>li>a>.fa-angle-left,.treeview-menu>li>a>.pull-right-container>.fa-angle-down,.treeview-menu>li>a>.pull-right-container>.fa-angle-left{width:auto}
.main-header>.navbar .nav-top{display:inline;margin-bottom:0px;margin-top:0px;}
.main-header>.navbar .nav-top li{line-height:50px;height:37px;overflow:hidden;list-style:none;display:inline-block;color:#fff;margin-right:20px;}
.main-header>.navbar .nav-top li a{color:#fff;}
.main-header>.navbar .nav-top>li>a>.fa{width:15px;}
.navbar-nav>li>a{padding-top:15px;padding-bottom:15px;font-size: 14px;}
.content-wrapper .content-header button{padding: 0px; position: absolute;right: 0px;top: 0px;background: #f5f5f5;border: 0; height: 40px;line-height: 40px; width: 40px;outline: 0;}
.content-wrapper .content-header button:hover{background:#fafafa}
.content-wrapper .content-header button i{color: #999;}
.dropdown-menu{min-width:120px;box-shadow:#eee;border-color:#eee;}
.dropdown-menu>li>a{font-size:12px;}
.dropdown-menu>li>a>.fa{margin-right:10px;}
/***风格覆盖***/
.skin-blue .main-header .navbar{background: linear-gradient(180deg,rgb(145, 161, 254),rgba(121,216,245,1));color:#fff;height: 50px;}
.skin-blue .main-header .logo{ background: linear-gradient(180deg,rgb(145, 161, 254),rgba(121,216,245,1)); height: 50px;font-family: '汉仪菱心体简0';}
.skin-blue .main-header .navbar .nav>li>a{color:#fff;font-size:14px;padding: 0px 15px;height: 50px;line-height: 50px;}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{color: #fff; background: rgba(0,0,0,0.2);}
.skin-blue .main-header .navbar .nav .wst-focus a{background: rgba(0,0,0,0.2);color: #fff;}
#toUser .j-dorpdown-layer .button .logout{background: #f5f5f5;}
#toUser .j-dorpdown-layer .button i{margin-right:5px;}
#toUser .j-dorpdown-layer .button a span{font-size:12px;}
#toUser .j-dorpdown-layer .button .logout i{line-height: 40px;}
.msg-num{position: relative;left: -12px;top: -6px;color: #fff;font-weight: bold;background: #f16609;padding: 2px 6px;border-radius: 30%;font-size: 11px;animation: change 1s  ease-in  infinite}
#toMsg, #toUser{position:relative;border:0px;}
#toMsg:hover, #toUser:hover{background: rgba(0,0,0,0.1);z-index:10000}
#toMsg .j-dorpdown-layer, #toUser .j-dorpdown-layer{padding-top:5px;padding-bottom:5px;position: absolute;z-index: 1000;margin-top: -1px;background: #fff;cursor: pointer;left: -1px;border: 1px solid #ddd;border-top: 0;width: 130px;top: 51px;display:none}
#toMsg .j-dorpdown-layer a{line-height: 20px;padding: 5px;display: inline-block;font-size:13px;}
#toMsg .j-dorpdown-layer a:link,#toMsg .j-dorpdown-layer a:hover,.j-dorpdown-layer a:active,.j-dorpdown-layer a:visited{color:#666;}
#toMsg .j-dorpdown-layer div{height:30px;line-height: 30px}
#toMsg .j-dorpdown-layer div span{margin-left: 5px;color: #fff;font-weight: bold;background: #f16609;padding: 2px 6px;height: 20px;line-height: 12px;border-radius: 30%;}
.j-messsage-box{padding:10px 5px;color:red;}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{color: #666;background: #fff;}
.skin-blue .sidebar a{color: #666;}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {color: #1890ff;}
.skin-blue .sidebar-menu>li>.treeview-menu{background: #fff;}
.skin-blue .sidebar-menu .treeview-menu>li>a{color: #666}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a{color: #666;}
.skin-blue .main-header .logo:hover{background: #1890ff;}
#toUser{padding: 0px 10px;cursor: pointer;}
#toUser .image{width: 30px;height: 30px;background: rgba(255,255,255,0.5);border-radius: 50%;text-align: center;margin-top: 10px;float: left; overflow:hidden;}
#toUser .image img{width: 100%;margin-top: -22px;}
#toUser .j-dorpdown-layer{left: -40px; width: 180px;padding-bottom: 0px;}
#toUser .j-dorpdown-layer .button{clear: both;margin: 0px auto;}
#toUser .j-dorpdown-layer .button a{padding-left: 20px;display: block;margin-right:5px;color: #666;width: 100%;height: 40px;line-height: 40px; border-bottom: 1px solid #ddd;}
#toUser .j-dorpdown-layer .button a:last-child{border-bottom: 0px;}
#toUser .j-dorpdown-layer .button a:hover{background: #1890ff; color: #fff;}
input[type=password]{width: 200px !important;}
.j-im>p{float: right;width: 80px; margin-left: 5px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}