html{background:rgba(121,216,245,1)}
body{background:linear-gradient(180deg,rgba(45,71,227,1),rgba(121,216,245,1));margin:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:14px;font-family:"微软雅黑",Arial,Helvetica,sans-serif;;}
#logo{position:absolute;top:5px;left:5px;text-align:center}
.login_logo{;height:80px;margin: 10px 0px;}
.login_logo img{height:100%;}
#loginFrame{}
.wst-lo-top{width: 1200px;margin: 0px auto;overflow: hidden;}
.wst-lo-center{margin:0 auto;width:100%;background-size:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;overflow: hidden;}

/* 图标替换 */
.layui-layer-icowst1,.layui-layer-icowst2,.layui-layer-icowst3{background-image:url(../../../../../static/images/wst_icon.png)!important;background-repeat:no-repeat!important;background-size:cover!important}
.layui-layer-icowst2{background-position:-40px 0!important}
.layui-layer-icowst3{background-position:-80px -1px!important}
.layui-layer-icowstloading{background-image:url(../../../../../static/images/loading.gif)!important;background-repeat:no-repeat!important;background-size:206% auto!important;background-position:-16px -16px!important}

.wst-clear{clear: both;}
.wst-lo{width: 1200px; margin: 0px auto;overflow: hidden;}
.wst-lo .head{position:absolute;top:-80px;left:27%;width:252px;height:110px;line-height:55px;font-size:20px;color:#fff;font-family:"microsoft yahei";text-shadow:#717070 1px 1px 1px;text-align:center;background:url(../img/logo.png) 0 0 no-repeat;background-size:100%}
.wst-lo-left{float:left;width:235px;height:256px;background-size:cover}
.wst-lo-left img{margin-left:45px}
#verifyImg{cursor: pointer;width: 108px;border-top-right-radius: 6px;border-bottom-right-radius: 6px;height: 32px;position: absolute;z-index: 100;top:-7px;right: 18px;}
.login-wrapper {margin: 53px 0px; position: relative; }
.login-wrapper .frame{}
.login-wrapper .text2{margin-bottom:0;width:222px;}
.login-wrapper .logo {margin-bottom: 45px;position: relative;left: -2px; }
.login-wrapper .boxbg{margin: 0 auto;padding: 35px 0 30px;float: none;width: 500px;box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff; height:300px;}
.login-wrapper .boxbg2{position:relative;margin: 0 auto;padding: 35px 0 30px;float: none;width: 420px;box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);border-radius: 5px;background: #fff; height:270px;}
.login-wrapper .box {position:absolute;top:17px;left:405px; margin: 0 auto;padding: 0px 0 30px;float: none;width: 380px; }
.login-wrapper .box .content-wrap {width: 82%;margin: 0 auto; }
.login-wrapper .box h6 {text-transform: uppercase;margin: 0 0 12px 0;font-size: 18px;font-weight: 600; }
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {border-radius: 0px 5px 5px 0px;font-size: 15px;height:40px;margin-bottom: 10px;border:0;padding-left: 12px;border:1px solid #ddd;}
.login-wrapper .box input[type="password"] {margin-bottom: 10px; }
.login-wrapper .box input:-moz-placeholder {color: #9ba8b6;font-size: 15px;letter-spacing: 0px;font-style: italic; }
.login-wrapper .box input:-ms-input-placeholder {color: #9ba8b6;font-style: italic;letter-spacing: 0px;font-size: 15px; }
.login-wrapper .box input::-webkit-input-placeholder {color: #9ba8b6;font-style: italic;letter-spacing: 0px;font-size: 15px; }
.login-wrapper .box .login {text-transform: uppercase;font-size: 13px;padding: 8px 30px; }
.login-wrapper .no-account {margin: 0 auto;float: none;text-align: center;font-size: 14px;margin-top: 25px; }
.login-wrapper .no-account p {display: inline-block;color: #eee; }
.login-wrapper .login-box{height: 155px;background-color: #fff;padding: 17px;border-radius: 3px;  margin-bottom: 15px;  padding-left: 55px;}
.login-wrapper .login-title{font-weight: bold;color:#1E9FFF;height: 35px;line-height: 35px;font-size: 20px;text-align: left;}
.login-icon1{width:40px;height:40px;background:url(../img/icon_1.png) no-repeat #1E9FFF;position:absolute;top:55px;left:40px;background-position: center;background-size: 60%;border-radius: 5px 0px 0px 5px;}
.login-icon2{width:40px;height:40px;background:url(../img/icon_2.png) no-repeat #1E9FFF;position:absolute;top:110px;left:40px;background-position: center;background-size: 60%;border-radius: 5px 0px 0px 5px;}
.login-icon3{width:40px;height:40px;background:url(../img/icon_3.png) no-repeat #1E9FFF;position:absolute;top:166px;left:40px;background-position: center;background-size: 60%;border-radius: 5px 0px 0px 5px;}
#loginName{position: absolute;left: 80px;width: 270px;top: 55px;}
#loginPwd{position: absolute;left: 80px;width: 270px;top: 110px;}
#verifyCode{position: absolute;left: 80px;width: 270px;top: 166px;}
#verifyImg{position: absolute;right: 32px;top: 167px;height: 38px;}
#loginbtn{background-position: -1px -2px;margin-left: 5px;font-size:18px;}
.login-footer{padding-top: 20px;color:#666;width:100%;margin:0 auto;text-align:center;font: 13px/150% "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;}
.login-footer .wst-footer{width: 1200px;margin: 10px auto;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.login-footer .wst-footer .flink-hover{padding-right: 12px;color: #888;}
