<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{echo admin_title()}</title>
	{template _header}
</head>
<body>
	<div class="weui-tab">
		<div class="weui-tab__panel">
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd"><p>门店名称</p></div>
					<div class="weui-cell__ft">{$value[store_name]}</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd"><p>所属商户</p></div>
					<div class="weui-cell__ft">{$value[merchant_name]}</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd"><p>负责人姓名</p></div>
					<div class="weui-cell__ft">{$value[per_name]}</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd"><p>负责人电话</p></div>
					<div class="weui-cell__ft">{$value[per_phone]}</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd"><p>状态</p></div>
					<div class="weui-cell__ft"<!--{if $value['store_status'] == '正常'}--> style="color:#06AE56"<!--{/if}-->>{$value[store_status]}</div>
				</div>
			</div>
		</div>
		{template _main_nav}
	</div>
</body>
</html>