<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  
  RewriteRule ^list/(\d+)/nd/(\d+)/sid/(\d+)  list.php?id=$1&nd=$2&sid=$3 [N,L]
  RewriteRule ^list/(\d+)/cat/(\d+)/sid/(\d+)  list.php?id=$1&cat=$2&sid=$3 [N,L]
  RewriteRule ^list/(\d+)/cat/(\d+)/page/(\d+)  list.php?id=$1&cat=$2&page=$3 [N,L]
  RewriteRule ^list/(\d+)/page/(\d+)  list.php?id=$1&page=$2 [N,L]
  RewriteRule ^list/(\d+)/nd/(\d+)  list.php?id=$1&nd=$2 [N,L]
  RewriteRule ^list/(\d+)/cat/(\d+)  list.php?id=$1&cat=$2 [N,L]
  RewriteRule ^list/(\d+)/ncat/(\d+)/page/(\d+)  list.php?id=$1&ncat=$2&page=$3 [N,L]
  RewriteRule ^list/(\d+)/ncat/(\d+)/nid/(\d+)  list.php?id=$1&ncat=$2&nid=$3 [N,L]
  RewriteRule ^list/(\d+)/ncat/(\d+)  list.php?id=$1&ncat=$2 [N,L]
  RewriteRule ^list/(\d+)/nid/(\d+)  list.php?id=$1&nid=$2 [N,L]
  RewriteRule ^list/(\d+)/sid/(\d+)  list.php?id=$1&sid=$2 [N,L]
  RewriteRule ^list/(\d+)  list.php?id=$1 [N,L]
  
  RewriteRule ^m/list/(\d+)/nd/(\d+)/sid/(\d+)  m/list.php?id=$1&nd=$2&sid=$3 [N,L]
  RewriteRule ^m/list/(\d+)/cat/(\d+)/sid/(\d+)  m/list.php?id=$1&cat=$2&sid=$3 [N,L]
  RewriteRule ^m/list/(\d+)/cat/(\d+)/page/(\d+)  m/list.php?id=$1&cat=$2&page=$3 [N,L]
  RewriteRule ^m/list/(\d+)/page/(\d+)  m/list.php?id=$1&page=$2 [N,L]
  RewriteRule ^m/list/(\d+)/nd/(\d+)  m/list.php?id=$1&nd=$2 [N,L]
  RewriteRule ^m/list/(\d+)/cat/(\d+)  m/list.php?id=$1&cat=$2 [N,L]
  RewriteRule ^m/list/(\d+)/ncat/(\d+)/page/(\d+)  m/list.php?id=$1&ncat=$2&page=$3 [N,L]
  RewriteRule ^m/list/(\d+)/ncat/(\d+)/nid/(\d+)  m/list.php?id=$1&ncat=$2&nid=$3 [N,L]
  RewriteRule ^m/list/(\d+)/ncat/(\d+)  m/list.php?id=$1&ncat=$2 [N,L]
  RewriteRule ^m/list/(\d+)/nid/(\d+)  m/list.php?id=$1&nid=$2 [N,L]
  RewriteRule ^m/list/(\d+)/sid/(\d+)  m/list.php?id=$1&sid=$2 [N,L]
  RewriteRule ^m/list/(\d+)  m/list.php?id=$1 [N,L]
</IfModule>