{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/chargeitems/chargeitems.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<form id="adPositionsForm">
<table class='wst-form wst-box-top'>
  <tr>
     
       <tr>
          <th width='150'>充值金额<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="chargeMoney" name="chargeMoney" value='{$data['chargeMoney']}' class="ipt" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/>
          </td>
       </tr>
       <tr>
          <th>赠送金额<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="giveMoney" name="giveMoney" value='{$data['giveMoney']}' class="ipt" onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/>
          </td>
       </tr>
       <tr>
          <th>排序号<font color='red'> </font>：</th>
          <td>
            <input type='text' id='itemSort' name="itemSort" value='{$data['itemSort']}' class='ipt' maxLength='10' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)"/>
          </td>
       </tr>
  
  <tr>
     <td colspan='2' align='center' class='wst-bottombar'>
       <input type="hidden" name="id" id="id" class="ipt" value="{$data['id']+0}" />
       <button type="submit" class="btn btn-primary btn-mright" ><i class="fa fa-check"></i>提交</button> 
        <button type="button" class="btn" onclick="javascript:location.href='{:Url(\'admin/chargeitems/index\',\'p=\'.$p)}'"><i class="fa fa-angle-double-left"></i>返回</button>
     </td>
  </tr>
</table>
</form>
<script>
$(function(){editInit({$p})});
</script>
{/block}

