
/*
*css reset begin
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
/*
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
*/
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
.b{font-weight:bold;}
.red{color:red;}
.blue{color:blue;}
.color8{color:#888;}
.guide{
	margin:0 10px 10px 0;
	border:#e1dfdc solid 1px;
	padding:10px;
	color:#888;
	line-height:25px;
	font-size:14px;
	word-spacing:10px;
}
.MainCont{
	clear:both;
	margin:10px 5px 10px 8px;
	border:#e1dfdc solid 1px;
}
.MainCont .head{
	height:60px;
	background:url(head.png) repeat-x;
	overflow:hidden;
	border:0;
}
.MainCont .head .tag{
	display:block;
	float:left;
	line-height:60px;
	padding-left:50px;
	font-size:18px;
	color:#666;
	background:url(tag.png) 10px 16px no-repeat;
}
.MainCont .head .user{
	background:url(usertag.png) 10px 10px no-repeat;
}
.MainCont .head .fa,.MainCont .head .glyphicon,.MainCont .head .si{
	background:none;
	padding-left:15px;	
}
.MainCont .head .fa:before,.MainCont .head .glyphicon:before,.MainCont .head .si:before{
	padding-right: 5px;
	color: #F90;
	font-size:22px;
}
.MainCont .cont{	
	border-top:0;
	padding:5px;
}
table.ListTable{
	font-size:14px;
}
table.ListTable th{
	height:50px;
	vertical-align:middle;
	background:#F7F7F7;
	border-right:#FFF solid 1px;
}
table.ListTable td{
	padding:10px;
	line-height:25px;
	border-bottom:#DDD dotted 1px;
	text-align:center;
	vertical-align:middle;
}
table.ListTable td.tL{
	text-align:left;
}
table.ListTable td .onelist{
	height:30px;
	width:100%;
	line-height:30px;
	overflow:hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
table.ListTable td input[type=text]{
	border:#EEE solid 1px;
	height:28px;
	border-radius:3px;
	text-indent:5px;
}
a.del,a.see,a.set,a.edit,a.post,a.editsort{
	display:inline-block;
	width:20px;
	height:20px;
	overflow:hidden;
	line-height:60px;
	margin:0 5px;
}
a.del{
	width:15px;
	height:15px;
	background:url(del.png) center top no-repeat;
}
a.see{
	background:url(see.png) center 2px no-repeat;
	padding-top:2px;
}
a.set{
	background:url(set.png) center top no-repeat;
}
a.edit{
	background:url(content.png) center 5px no-repeat;
}
a.post{
	background:url(add.png) center 3px no-repeat;
}
a.editsort{
	background:url(set.png) center 2px no-repeat;
	background-size:18px 18px;
}
table.FormTable{
	width:100%;
	font-size:16px;
}
table.FormTable th{
	height:50px;
	vertical-align:middle;
	border-bottom:#F5F5F5 solid 1px;
	text-align:left;
	text-indent:25px;
	color:#666;
	font-weight:normal;
	background:url(th.png) 12px 15px no-repeat;
}
table.FormTable td{
	padding:10px;
	line-height:30px;
}
table.FormTable td.tdL{
	width:120px;
	text-align:right; 
	vertical-align:top;
}
table.FormTable td.tdR{
	color:#666;
}
table.FormTable td.tdR .FL{
	float:left;
	padding-right:5px;
	font-size:14px;
	color:#888;
}
input[type=text]{
	border:#ccc solid 1px;
	line-height:25px;
	text-indent:5px;	
}
input[type=submit]{
	line-height:25px;
	padding:0 10px;
	border:#F60 solid 1px;
	background: #F90;
	color: #FFF;
	border-radius:5px;
	cursor: pointer;
}
input[type=submit]:hover{
	border:#F30 solid 1px;
	background: #F60;
}
table.FormTable td.tdR input[type=text],table.FormTable td.tdR input[type=number],table.FormTable td.tdR input[type=password]{
	border:#DDD solid 1px;
	height:28px;
	line-height:28px;
	text-indent:5px;
	border-radius:3px;
}
table.FormTable td.tdR textarea{
	border:#DDD solid 1px;
	border-radius:3px;
	padding:5px;
}
table.ListTable tr:hover td,table.FormTable tr:hover td{
	background:#FBFBFB;
}
.SubMits{
	text-align:center;
	padding:15px;
	font-size:16px;
	word-spacing:10px;
}
table.FormTable td.tdR input[type=submit],table.FormTable td.tdR input[type=butter],.SubMits input{
	border:#F60 solid 1px;
	background:#F90;
	height:40px;
	line-height:40px;
	padding:0 20px;
	color:#FFF;
	font-size:18px;
	border-radius:5px;
}
table.FormTable td.tdR input[type=submit]:hover,table.FormTable td.tdR input[type=butter]:hover,.SubMits input:hover{
	border:#F30 solid 1px;
	background:#F60;
}
.MainCont .cont .aboutnote{
	padding:15px;
	font-size:14px;
	color:#666;
	line-height:30px;
}
.Showpage{
	clear:both;
	padding:15px;
	text-align:center;
	font-size:14px;
}
.Showpage a{
	display:inline-block;
	border:#DDD solid 1px;
	padding:5px;
	color:#888;
	border-radius:3px;
}
.Showpage a.ck{
	border:#F30 solid 1px;
	background:#F60;
}
.Showpage a.ck font{
	color:#FFF;
}
.Showpage a:hover{
	border:#047FA0 solid 1px;
	background:#249FC0;
	color:#FFF;
}
/*
*
*/
.ShowSortTable td{
	width:25%;
}
.ShowSortTable .listshorts{
	padding:5px;
}
.listshorts ul{
	height:500px;
	margin:auto;
	overflow:auto;
	overflow-x:hidden;
	border:#EEE solid 1px;
}
.listshorts li{
	height:40px;
	line-height:40px;
	font-size:14px;
	overflow:hidden;
	border-bottom:#EEE solid 1px;
	color:#999;
}
.listshorts li div{
	padding-left:20px;
}
.listshorts li div a{
	color:#369;
}
.listshorts li div.more{
	cursor:pointer;
	position:relative;
}
.listshorts li div.more:after{
	content:'';
	display:block;
	width:0;
	height:0;
	border:8px solid transparent;
	border-left: 8px solid #EEE;
	border-right:0;
	position:absolute;
	top:12px;
	right:10px;
}
.listshorts li.ck{
	background:#EFEFEF;
}