<style type="text/css">
	.layui-form-mid {
	    float: left;
	    display: block;
	    padding: 0 !important;
	    line-height: 40px;
	    margin-right: 10px;
	    width: 200px;
	}
</style>
<form class="layui-form info-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">发票类型：</label>
			<div class="layui-form-mid">
				{$info.invoice_type_name}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开票手机：</label>
			<div class="layui-form-mid">
				{$info.invoice_tel}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">发票抬头：</label>
			<div class="layui-form-mid">
				{$info.invoice_head}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">纳税编码：</label>
			<div class="layui-form-mid">
				{$info.taxpayer_number}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">注册地址：</label>
			<div class="layui-form-mid">
				{$info.invoice_address}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开户银行：</label>
			<div class="layui-form-mid">
				{$info.invoice_bank}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">银行账户：</label>
			<div class="layui-form-mid">
				{$info.invoice_bank_account}
			</div>
		</div>
	</div>
</form>