.event_detail_box {

	

	.event_desc {
		background:#fff;
		padding:10px 0;
	}

	.event_desc_info {

		.item {
			margin:10px auto;
			padding:5px 0;
		}
		.type {
			color:#03b8cf;
		}
	}

	.event_explain {

		margin-top:10px;
		.event_module {
			padding:10px;
			background:#fff;
		}
		.event_take {
			margin-top:10px;
			padding:10px;
			background:#fff;

			h3 {

				a {
					font-size:14px;
				}
			}
			
			.attend_lists {
				position:relative;
				margin:10px auto;
				

				.load {
					position:absolute;
					width:100%;
					height:100%;
					background:rgba(255,255,255,.8);
					display: flex;
            		justify-content: center;/*实现水平居中*/
            		align-items:center; /*实现垂直居中*/
					color:#666;
					font-size:16px;
					z-index:9;

				}
				.no_attend {
					text-align:center;
					display:block;
					padding:20px 0;
					color:#666;
					font-size:16px;
				}

				.user_item {
					margin:10px auto;
					text-align:center;
				}
			}

			.tcdPageCode {
				padding: 15px 5px;
				text-align: left;
				color: #ccc;
				text-align: center;
			}
			.tcdPageCode a {
				display: inline-block;
				color: #428bca;
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 5px;
				border: 1px solid #ddd;
				margin: 0 2px;
				border-radius: 4px;
				vertical-align: middle;
			}
			.tcdPageCode a:hover {
				text-decoration: none;
				border: 1px solid #428bca;
			}
			.tcdPageCode span.current {
				font-size: 12px;
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 5px;
				margin: 0 2px;
				color: #fff;
				background-color: #428bca;
				border: 1px solid #428bca;
				border-radius: 4px;
				vertical-align: middle;
			}
			.tcdPageCode span.disabled {
				font-size: 12px;
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 5px;
				margin: 0 2px;
				color: #bfbfbf;
				background: #f2f2f2;
				border: 1px solid #bfbfbf;
				border-radius: 4px;
				vertical-align: middle;
			}
		}
		.event_map {
			padding:10px;
			background:#fff;
			.this_event_map {	
				min-height:300px;
			}
		}
		
	}
}

.sign_form_box {
	margin:10px auto;

	.info_title {
		padding-top: 6px;
	}
}
