.event_module {

	.filter { 
		padding-top: 0; 
		margin-bottom: 15px; 
		background: #f9fbfe; 

		.box { 
			padding: 10px;
			background-color: #fff; 
		}

		.title-h { 
			font-size: 16px; 
			border-bottom: 1px solid #dcdcdc; 
			padding-bottom: 10px; 
			font-weight: 700;
		}

		dl { 
			position: relative; 
			margin-bottom: 10px;

			&:after { 
				content: ""; 
				display: block; 
				clear: both; 
			}

			dt { 
				position: absolute; 
				top: 0; 
				left: 0; 
				font-size:16px;
			}
			dd { 
				padding-left: 80px; 

				a {
					font-size:14px;
					margin-right: 20px; 
					margin-bottom: 10px; 
					display: inline-block; 
					border-radius: 2px;
    				padding: 0 5px;
    				color:#666;
				}
				a.on {
					color: #fff;
					border: 1px solid #03b8cf;
    				background: #03b8cf;
				}
			}
		}
	}
	
}

.event_list_box {

	.event_item {
		position:relative;
		background:#fff;
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    border: 1px solid #E0DEDE;
	    margin-bottom: 20px;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;

	    &:hover {
	    	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
		    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
		    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
		    -webkit-transform: translate3d(0, -2px, 0);
		    -moz-transform: translate3d(0, -2px, 0);
		    transform: translate3d(0, -2px, 0);
	    }

	    .img {

	    	img {
	    		width:100%;
	    		height:auto;
	    	}
	    }

	    .event_state {
	    	position:absolute;
	    	top:0;
	    	left:0;
	    	width:100%;
	    	background:rgba(0,0,0,0.5);
	    	color:#fff;
	    }
	    .content {
	    	padding:5px;

	    	.start_time {
	    		color:#666;
	    		padding:5px 0;
	    	}

	    	.title {
	    		min-height:34px;
	    	}

	    	.address {
	    		color:#666;
	    		padding:5px 0;
	    	}
	    }
	}
}