.my_event_main {

	.my_nav {
		margin:20px auto;
		text-align:center;

		ul {
			display:inline-block;
			margin:0 auto;
		}
		li {
			background:#fff;
		}
		li.active a {
			background:#03b8cf;
			border-color:#03b8cf;
		}
	}
}

.event_member_list {

	margin:0 auto 10px auto;

	.item {
		background:#fff;
		margin:10px auto;
		padding:10px;
		color:#666;

		.event_see_info {
			display:block;
		}

		.event_member_info {
			text-align:left;
			margin-top:20px;

		}
	}

	.no_data {
		text-align:center;
		min-height:120px;
		color:#666;
		line-height:120px;
	}
}