.navbar-inverse {
	background-color: #03b8cf;
    border-color: #03b8cf;
    margin-bottom:0;
    .event_nav {

        text-align:center;

    	li {

            display:inline-block;

    		a {
    			font-size:16px;
    			color:#fff;

    			&:hover {
    				background:#069CAF;
    				color:#fff;
    			}

    		}
    	}
    }
}
.search_box {

    text-align:center;
    margin:20px auto 30px auto;

    .search_form_box {
        display:inline-block;
        max-width:468px;
        height:53px;
        overflow:hidden;

        .input-group {

            padding:5px;
            background:#ddd;

            input {

                border-right:0;

                &:focus {
                    border-color: #f1a325;
                    box-shadow: none;
                }
            }
            .btn-search {
                padding:0 30px;
                height:43px;
            }
        }
    }

    .event_public_btn {

        margin:0;
        padding:0;
        display:inline-block;
        height:53px;
        overflow:hidden;

        li {
            padding:5px 0;
            margin:0 10px;
            display:inline-block;
            
            a {
                display:block;
                line-height:43px;
                padding:0 20px;
                background:#03b8cf;
                border-radius:10px;
                color:#fff;
            }
        }

        li:nth-child(2) {

            a {
                display:block;
                line-height:43px;
                padding:0 20px;
                background:#ff9900;
                border-radius:10px;
                color:#fff;
            }

        }
    }

    @media screen and (max-width:768px) {
        .event_public_btn {

            display:block;
            margin:10px auto;
            height:auto;

            li {
                padding:5px 0;
                margin:0 10px;
                display:block;
                
                a {
                    display:block;
                    line-height:43px;
                    padding:0 20px;
                    background:#03b8cf;
                    border-radius:10px;
                    color:#fff;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .search_box {
        margin:10px auto;
    }
}