<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>graphvisifire</name>
            <displayName><![CDATA[Visifire]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Visifire是一套开放源码的数据可视化组件-采用微软Silverlight2 beta 2。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>