# for IDE
.DS_Store
.idea/

# for CodeIngiter
# application/config/database.php

# for bower
# public/packages/bower/

# for captcha
public/captcha/*.jpg

# for vim extra file 
.gitignore.swp

# for composer
/vendor/

# for tests
application/tests/build/logs/junit.xml

# for npm
node_modules/

# for private doc
README_private.md