<!-- Scripts -->
<script src="/static/mobile/js/vendor/jquery-2.1.0.min.js"></script>
<script src="/static/mobile/js/helper.js"></script>
<script src="/static/mobile/js/vendor/HeadsUp.js"></script>
<script src="/static/mobile/js/vendor/jquery.smoothState.js"></script>
<script src="/static/mobile/js/vendor/chart.min.js"></script>
<script src="/static/mobile/js/vendor/jquery.mixitup.min.js"></script>
<script src="/static/mobile/js/vendor/jquery.swipebox.min.js"></script>
<script src="/static/mobile/js/vendor/masonry.min.js"></script>
<script src="/static/mobile/js/vendor/swiper.min.js"></script>
<script src="/static/mobile/js/vendor/materialize.min.js"></script>
<script src="/static/mobile/js/main.js"></script>
</body>
</html>