<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  #  本地调试重定向URL地址
     RewriteRule ^(.*)$ index.php [L,E=PATH_INFO:$1]
    #部署环境重定向URL设置
  #  RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
</IfModule>
