{include file="common/head"/}
<body>
<!-- Main Container -->
<div id="main" class="main">

    <div id="toolbar" class="nav-material">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
        </div>
        <h1 class="title none truncate">{$title}</h1>
    </div>
    <!-- End of Toolbar -->

    <!-- Page Contents -->
    <!-- Page Contents -->
    <div class="animated fadeinup">
        <div class="hero-material animated fadeindown">
            <div class="parallax primary-color">
                <div class="banner-title">{$title}</div>
            </div>
        </div>
        <!-- Testimonials Slider -->
        <!-- Slider -->
        <div class="swiper-container testimonials">
            <div class="swiper-wrapper">
                {volist name="$list" id="vo"}
                <div class="swiper-slide center">
                    <div class="testimonial">{$vo.info|raw}</div>
                    <img src="{$vo.title_thumb}" alt="" class="avatar">
                    <h6 class="m-0">{$vo.title}</h6>
                    <p class="small">{:toDate($vo['createtime'])}</p>
                </div>
                {/volist}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- End of Slider -->
        <!-- Footer -->
        <footer class="page-footer primary-color">
            <div class="section center">
                <h2 class="heading white-text">{$sys.title}</h2>
                <p class="center-align grey-text text-lighten-4"> &copy;{$sys.copyright} <a href="http://www.miitbeian.gov.cn/" style="color: #fff;" target="_blank" rel="nofollow">{$sys.bah}</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    <span>Made with <i class="ion-ios-heart"></i> by cltphp</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- End of Page Contents -->
    {include file="common/nav"/}

</div>
{include file="common/foot"/}
</body>
</html>
