.assign-mainer {
    position: relative;
    padding: 20px;
    height: 468px;
}
.assign-footer a:hover .o-assign-link {
    background-position: -16px -16px;
}
.assign-list{
    max-height: 320px;
    overflow-y: auto;
}
.assign-list li {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dadfe6;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.assign-mainer--add{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dadfe6;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 380px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.o-assign-persion,
.o-assign-label,
.o-assign-delete,
.o-assign-link {
    display: inline-block;
    background-image: url('assignment-icon.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.o-assign-label {
    background-position: 0 0;
}
.o-assign-persion {
    background-position: -16px 0;
}
.o-assign-link {
    background-position: -0px -16px;
}
.assign-footer {
    padding-right: 20px;
    text-align: right;
}
.assign-list li:hover {
    background-color: #fffdfa;
}
.assign-list--wrap {
    position: relative;
}
.assign-list--content {
    width: 70%;
}
.assign-p--botton {
    margin-bottom: 5px;
}
/*.assign-list--bnt {*/
    /*display: none;*/
    /*position: absolute;*/
    /*right: 8px;*/
    /*bottom: 0;*/
/*}*/

.assign-mainer--list {
    padding: 8px;
}
.o-assign-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    background-position: 0 -32px;
}
.o-assign-delete:hover {
    background-position: -16px -32px;
}

.assign-list li:hover .o-assign-delete {
    display: block;
}

.assign-list li:hover .om-am-finished,
.assign-list li:hover .om-am-cancelled {
    display: none;
}

.assign-list li:hover .assign-btn-position{
    display: block;
}