<extend name="myNote" />
    <block name="userHomeRight">
      <div class="panel panel-default panel-share">
        <div class="panel-heading panel-share-heading">
            <span>我收藏的</span><font color="#888">  •   <{$myNoteCount}> 条</font>
        </div>
        <if condition="$myNoteFlag eq 1">
            <div class=" list-group  share-list">
                <volist name="myNoteRows" id="vo">
                    <li id="#<{$vo.noteid}>" class="list-group-item <{$vo.noteid}>" onmouseover="shareListHover('.<{$vo.noteid}>');" onmouseout="shareListHoverOut('.<{$vo.noteid}>');">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>/">
                                    <img src="__PUBLIC__/uploads/markerimage/src/<{$vo.imgsrc}>" class="img-rounded" alt="<{$vo.notename}>" width="50px;">
                                </a>
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>" class="media-heading"><font><{$vo.notename}></font></a>
                                <hr>
                                  <h4><small><i class="fa fa-clock-o"></i>;收藏时间：<{$vo.collecttime}> </small></h4>
                                  <h4><small><i class="fa fa-comment-o"></i>参与讨论：<{$vo.notediscusscount}>
                                  <h4><small><i class="fa fa-heart-o"></i>共同喜欢：<{$vo.notecollectcount}>
                            <div class="media-right media-middle ">
                                <a href="__CONTROLLER__/myNoteCollectDelete/id/<{$vo.noteid}>" onclick="javascript:return myNoteShareConfirm();"><i  class="fa fa-trash"></i></a>
                                <a href="javascript:">&nbsp;</a>
                            </div>
                    </li>
                </volist>
            </div>
            <div class="panel-footer">
                <ul class="pagination">
                  <li> <{$show}></li>
               </ul>
            </div>
            <else />
            <div class="panel-body">
                <div >
                    <h2 class="text-center"><i class="fa fa-warning"></i></h2>
                  <h2 class="text-center">暂无任何记录</h2>
                </div>
            </div>
            </if>
        </div>
  </block>
  