<include file="Public/header" />
<div data-role="page" >
    <div data-role="header" data-position="fixed" data-tap-toggle="false"data-theme="f">
          <a href="#sharePanel" style="display:inline-block;margin-top:10px;"><i class="fa fa-list"></i></a>
          <h1>用户详情</h1>
    </div>
    <div data-role="panel" id="sharePanel"> 
      <h4><small><strong>查看选项</strong></small></h4>
          <a class="list-group-item text-center" href="__APP__/Home/Index/myNote/" data-ajax="false">我的记录<i class="pull-right fa fa-user"></i></a>
          <a class="list-group-item text-center" href="__APP__/Home/Index/myShare/" data-ajax="false">我的分享<i class="pull-right fa fa-share-alt"></i></a>
          <a class="list-group-item text-center" href="__APP__/Home/Index/myCollect/" data-ajax="false">我的收藏<i class="pull-right fa fa-heart"></i></a>
        <if condition="$myErrorFlag eq 1">
          <div class="alert alert-danger text-center">Error:  <{$myErrorInfo}></div>
        <elseif condition="$myErrorFlag eq 2"/>
          <div class="alert alert-success text-center">Success:  <{$myErrorInfo}></div>
        <elseif condition="$myErrorFlag eq 3"/>
          <div class="alert alert-warning text-center">Warning:  <{$myErrorInfo}></div>
          <else/>
      </if>
    </div>
 <div class="ui-content" data-role="main">
    <if condition="$userHomeFlag eq 1">
    <block name="userHomeRight">
      <div class="panel panel-default panel-share">
        <div class="panel-heading panel-share-heading">
            <span>我记录的</span><font color="#888">  •   <{$myNoteCount}> 条</font>
            <a href="__CONTROLLER__/newNote/" class="btn btn-warning btn-xs pull-right" data-ajax="false"><font class="color-fff">添加新的</font></a>
        </div>
        <if condition="$myNoteFlag eq 1">
            <div class=" list-group  share-list">
                <volist name="myNoteRows" id="vo">
                    <li id="#<{$vo.noteid}>" class="list-group-item <{$vo.noteid}>" onmouseover="shareListHover('.<{$vo.noteid}>');" onmouseout="shareListHoverOut('.<{$vo.noteid}>');">
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>/" data-ajax="false">
                                    <img src="__PUBLIC__/uploads/markerimage/src/<{$vo.imgsrc}>" alt="<{$vo.notename}>" width="50px;">
                                </a>
                                <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>" class="media-heading"><font><{$vo.notename}></font></a>
                                <hr>
                                  <h4><small><i class="fa fa-clock-o"></i> 时间：<{$vo.notetime}><font class="pull-right">
                                      <if condition="$vo.isshare eq 1">
                                        <i class="fa fa-share"></i>&nbsp;&nbsp;已分享
                                      <else/>
                                          <a href="__CONTROLLER__/myNoteShareAdd/id/<{$vo.noteid}>" data-ajax="false"><i class="fa fa-share-alt"></i> 点击分享</a>
                                      </if></font></small>
                                  </h4>
                                  <h4>
                                      <small><i class="fa fa-comment-o"></i> 讨论：<{$vo.notediscusscount}><font class="pull-right"><i class="fa fa-heart-o"></i> 收藏：<{$vo.notecollectcount}></font></small>
                                  </h4>
                            <div class="media-right media-middle ">
                                <a href="__CONTROLLER__/myNoteDelete/id/<{$vo.noteid}>" data-ajax="false" onclick="javascript:return myNoteDeleteConfirm();"><i title="删除"class="fa fa-trash"></i></a>
                                <a href="javascript:">&nbsp;</a>
                                <a href="__CONTROLLER__/editNote/id/<{$vo.noteid}>" ><i title="修改"class="fa fa-edit"></i> </a>
                            </div>
                    </li>
                </volist>
            </div>
        <else />
                <div class="panel-body">
                    <div >
                        <h2 class="text-center"><i class="fa fa-warning"></i></h2>
                      <h2 class="text-center">暂无任何记录</h2>
                    </div>
                </div>
        </if>
       </div>
    </block>
    <else />
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="text-center"><i class="fa fa-warning"></i></h2>
              <h2 class="text-center">用户不存在</h2>
            </div>
        </div>
    </if>
</div><!--content end-->
<include file="Public/footer"/>