<include file="Public/header" />
<div data-role="page" id="pageAll">
  <div data-role="panel" id="sharePanel"> 
      <h4><small><strong>找我所需</strong></small></h4>
      <a class="list-group-item text-center" href="__CONTROLLER__/markerShare/sid/all" data-ajax="false">全部</a>
      <div class="list-group-item text-center">
          <h4>城市</h4>
          <a class="list-group-item text-left" href="__CONTROLLER__/markerShare/shareType/address/selectName/上海/cid/c1/sid/address" data-ajax="false"><img src="__PUBLIC__/images/city/shanghai.png" alt="上海" class="ui-li-icon"><font class="pull-right-font  pull-right">上海</font></a>
          <a class="list-group-item text-left " href="__CONTROLLER__/markerShare/shareType/address/selectName/杭州/cid/c2/sid/address"data-ajax="false"><img src="__PUBLIC__/images/city/hangzhou.jpg" alt="杭州" class="ui-li-icon"><font class=" pull-right-font pull-right">杭州</font></a>
          <a class="list-group-item text-left" href="__CONTROLLER__/markerShare/shareType/address/selectName/苏州/cid/c3/sid/address" data-ajax="false"><img src="__PUBLIC__/images/city/suzhou.png" alt="苏州" class="ui-li-icon "><font class=" pull-right-font pull-right">苏州</font></a>
      </div>
      <a class="list-group-item text-center" href="__CONTROLLER__/markerShare/sid/search" data-ajax="false">搜索</a>
  </div> 
    <div data-role="header" data-position="fixed" data-tap-toggle="false"data-theme="f">
      <a href="#sharePanel" style="display:inline-block;margin-top:10px;"><i class="fa fa-list"></i></a>
      <h1>吃喝玩乐</h1>
    </div>
   <div data-role="main" class="ui-content">
        <div class="nav nav-pills nav-top">
            <ul id="all-div" class="nav nav-pills nav-bottom ">
                <li id="all" role="presentation"><a>全部</a></li>
                <li class="pull-right"><a>共分享 •  <font color="red"><{$count}></font></a></li> 
            </ul>
              <ul id="address-div" class="nav nav-pills nav-bottom ">
                <li id="c1" role="presentation" class="hidden"><a href="#"
                 data-ajax="false">上海</a></li>
                <li id="c2" role="presentation" class="hidden"><a href="#" data-ajax="false">杭州</a></li>
                <li id="c3" role="presentation" class="hidden"><a href="#" data-ajax="false">苏州</a></li>
                 <li class="pull-right"><a>共分享 •  <font color="red"><{$count}></font></a></li> 
              </ul>
              <ul id="search-div" class="nav nav-pills nav-bottom  ">
                <li class="width100">
                  <form action="__CONTROLLER__/markerShare/sid/search/" data-ajax="false"method="get" class="" autocomplete="on" role="search">
                      <div class="ui-field-contain">
                          <input type="search" name="selectName" id="search" placeholder="搜索内容..." class="form-control">
                           <fieldset data-role="controlgroup" data-type="horizontal">
                                <label for="address">地址</label>
                                  <input type="radio" name="shareType" id="address" value="address" checked>
                                <label for="name">名称</label>
                                  <input type="radio" name="shareType" id="name" value="name"> 
                            </fieldset>
                          <button type="submit" class="btn btn-xs width100 color-fff"><i class="fa fa-search"></i>  搜索</button>
                    </div> 
                  </form>
                </li>
              </ul>
        </div>
        <if condition="$count gt 0">
          <volist name="noteShare" id="vo">
              <li id="#<{$vo.noteid}>" class="list-group-item <{$vo.noteid}> " style="width:100%;"onmouseover="shareListHover('.<{$vo.noteid}>');" onmouseout="shareListHoverOut('.<{$vo.noteid}>');">
                  <div class="media">
                      <div class="media-left">
                          <a href="__CONTROLLER__/userHome/user/<{$vo.usernickname}>/" data-ajax="false" style="color:#333;" data-ajax="false">
                              <img src="__PUBLIC__/uploads/user/<{$vo.userlogo}>" class="img-circle" alt="<{$vo.usernickname}>">
                              <font><strong><{$vo.usernickname}></strong></font>
                          </a>
                      </div>
                      <hr>
                      <div class="media-body">
                          <a href="__CONTROLLER__/noteShareInfo/id/<{$vo.noteid}>" data-ajax="false"  class="media-heading  text-center"><font><{$vo.notename}></font></a>
                          <h5><small>时间：<{$vo.sharetime}></small></h5>
                          <h5><small>讨论：<{$vo.notediscusscount}></small></h5>
                          <hr>
                          <img src="__PUBLIC__/uploads/markerimage/<{$vo.imagesrc}>" style="width:100%;" alt="<{$vo.notename}>">
                      </div>
                  </div>
              </li>
          </volist>
        <else />
        <div class="text-center">
            <i class="fa fa-warning fa-2x"></i><font>无内容</font>
        </div>
        </if>
    </div>
<script>
changeNavBottomColor();
</script>
<include file="Public/footer" />