{namespace lfe=SGalinski\Lfeditor\ViewHelpers}

<f:if condition="{extensionSelection} && {languageFileSelection} && {referenceLanguageOptions}">
	<div class="col col-md-3 col-sm-6">
		<label><f:translate key="select.languageAndPattern" /></label>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<f:form.select name="languageSelection"
					               class="form-control"
					               value="{languageSelection}"
					               options="{languageOptions}"
					               additionalAttributes="{onchange: 'TYPO3.lfEditor.changeForm(\'mainMenuForm\')'}" />
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="form-group">
					<f:form.select name="referenceLanguageSelection"
					               value="{referenceLanguageSelection}"
					               class="form-control"
					               options="{referenceLanguageOptions}"
					               additionalAttributes="{onchange: 'TYPO3.lfEditor.changeForm(\'mainMenuForm\')'}" />
				</div>
			</div>
		</div>
	</div>
</f:if>
