<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cncard</name>
            <displayName><![CDATA[云网支付]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[作为国内B2C电子商务网站中最早、最专业、最具规模的公司之一，云网目前拥有国内极其完善的银行卡在线实时支付平台和5年的数字商品电子商务运营经验。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>