<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>登录 - <{$setting.title}></title>
		<meta content="<{$setting.keywords}>"  name="keywords"/>
		<meta content="<{$setting.description}>" name="description"/>
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/user.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/Validform_v5.3.2_min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			//表单验证
			$(".loginform").Validform({
				tiptype:3
			});
		});
		</script>
	</head>
	<body>
		<!--内容-->
		<{include file="default/`$setting.templates`/head.html"}>
		<div class="login_main mt10 clearfix">
			<div class="login_left">
				<div class="title">登录</div>
				<form name="loginform" class="loginform" method="post" action="index.php?m=login">
					<table class="logintable mt20">
						<tr>
							<th>会员名：</th>
							<td><input type="text" name="username" class="inp01" ajaxurl="index.php?m=login&ajax=1" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"/></td>
						</tr>
						<tr>
							<th>密&nbsp;&nbsp;&nbsp;码：</th>
							<td><input type="password" name="password" class="inp01"/></td>
						</tr>
						<tr>
							<th></th>
							<td><input type="submit" class="login_but" value="登录"><a href="index.php?mod=register"></a> <input type="hidden" name="action" value="login"></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="login_right">
				<p class="f14 mt20">还不是<{$setting.sitename}>会员？</p>
				<p class="mt20"><a href="<{$weburl}>/index.php?m=register" class="register_but">我要注册</a></p>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>