<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$shop.company}> - <{$setting.title}></title>
		<meta content="<{$setting.keywords}>"  name="keywords"/>
		<meta content="<{$setting.description}>" name="description"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/shop.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<{include file="default/`$setting.templates`/shop_head.html"}>
		<!--内容-->
		<div class="main mt10 clearfix">
			<div class="shop_left">
				<{include file="default/`$setting.templates`/shop_left.html"}>
			</div>
			<div class="shop_right">
				<div class="shopbox">
					<h3>促销信息</h3>
					<div class="box2">
						<ul class="shopnewslist">
							<{foreach from=$newslist item=news}>
							<li><span class="fr gray"><{$news.addtime}></span><a href="<{$weburl}>/index.php?m=shop&id=<{$shopid}>&a=news&nid=<{$news.n_id}>" target="_blank"><{$news.n_title}></a></li>
							<{/foreach}>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>
