<script language="JavaScript">
$(function(){
	$("#login").load("<{$weburl}>/index.php?m=ajax&ajax=1&login=1");
})
</script>
<!--头部 -->
<div class="top">
	<div class="top_main clearfix">
		<div class="top_left">
			欢迎来到<{$setting.sitename}>！<span id="login"></span>
		</div>
		<div class="top_right">
			客服热线：<span class="orange01 fb"><{$setting.tel}></span>
		</div>
	</div>
</div>
<div class="shop_head mt10">
	<p class="shop_name"><{$shop.company}></p>
	<p class="shop_tel">联系人：<{$shop.nicname}>&nbsp;&nbsp;&nbsp; 咨询电话：<{$shop.mobilephone}></p>
</div>
<!--导航-->
<div class="shopnav_list">
	<ul class="clearfix">
		<li><a href="<{$weburl}>/index.php?m=shop&id=<{$shopid}>" <{if $smstate==1}>class="here"<{/if}>>首页</a></li>
		<li><a href="<{$weburl}>/index.php?m=shop&a=cars&id=<{$shopid}>" <{if $smstate==2}>class="here"<{/if}>>二手车</a></li>
		<li><a href="<{$weburl}>/index.php?m=shop&a=about&id=<{$shopid}>" <{if $smstate==3}>class="here"<{/if}>>公司介绍</a></li>
		<li><a href="<{$weburl}>/index.php?m=shop&a=news&id=<{$shopid}>" <{if $smstate==4}>class="here"<{/if}>>促销信息</a></li>
		<li><a href="<{$weburl}>/index.php?m=shop&a=ask&id=<{$shopid}>" <{if $smstate==5}>class="here"<{/if}>>购车问答</a></li>
	</ul>
</div>
<!--导航-->