<div class="userrightmenu">
	<a href="<{$weburl}>/index.php?m=user&a=adddealer">+添加销售代表</a>
</div>
<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
	<tr>
		<th width="100">照片</th>
        <th>姓名</th>
        <th>电话</th>
		<th width="80">操作</th>
    </tr>
    <{foreach from=$dealerlist item=dealer}>
    <tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#f5f5f5'"  onmouseout="style.backgroundColor='#ffffff'">
		<td align="center"><img src="<{$dealer.pic}>" width="80"></td>
        <td align="center"><{$dealer.name}></td>
        <td align="center"><{$dealer.tel}></td>
		<td align="center" class="acmenu"><a href="index.php?m=user&a=editdealer&id=<{$dealer.id}>">编辑</a> | <a href="javascript:if(confirm('确实要删除吗?'))location='index.php?m=user&a=deldealer&id=<{$dealer.id}>'">删除</a></td>
    </tr>
	<{/foreach}>
 </table>
<div class="page_list">
	<{$button_basic}>
</div>