<!DOCTYPE html PUBLIC "-//W3C//Dtd class="td1" XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/Dtd class="td1"/xhtml1-strict.dtd class="td1"">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员中心 - <{$setting.title}></title>
<meta content="<{$setting.keywords}>"  name="keywords"/>
<meta content="<{$setting.description}>" name="description"/>
<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/user.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="admin/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="admin/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="static/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    //品牌选择
	$("#brand").click(function(){
		$.get("index.php?m=ajax&ajax=1", { 
			brandid :  $("#brand").val() 
		}, function (data, textStatus){
               $("#subbrand").html(data); // 把返回的数据添加到页面上
			}
		);
	});

	//表单验证
	$(".carform").Validform({
		tiptype:3
	});
});
</script>
</head>
<body>
<!--头部--> 
<div class="userhead">
	<div class="usertop">
		<div class="usertop_left">
			会员中心
		</div>
		<div class="usertop_right">
		<{if $smarty.session.USER_NAME<>''}>欢迎你，<{$smarty.session.USER_NAME}>。| <a href='<{$weburl}>/index.php?m=user'>会员中心</a> |  <a href="<{$weburl}>/index.php?m=shop&id=<{$user.id}>" target="_blank">我的店铺</a> | <a href='<{$weburl}>/index.php?m=user&a=logout'>退出</a> | <a href='<{$weburl}>/'>返回首页</a> <{/if}>
		</div>
	</div>
</div>
<!--头部结束--> 
<!--主体-->
<div class="usermain clearfix mt10">
    <div class="userleft">
       <{include file="default/`$setting.templates`/user_left.html"}>
    </div>
    <div class="userright">
		<h2 class="usernav"><{$ac_arr.$ac}></h2>
		<div class="box"> 
		<{if $ac == "index"}>
			<{include file="default/`$setting.templates`/user_index.html"}>
		<{elseif $ac == "carlist"}>
            <{include file="default/`$setting.templates`/user_carlist.html"}>
        <{elseif $ac=="addcar" or $ac=="editcar"}>
            <{include file="default/`$setting.templates`/user_addcar.html"}>
        <{elseif $ac == "subscribelist"}>
            <{include file="default/`$setting.templates`/user_subscribelist.html"}>
		<{elseif $ac=="inquirylist"}>
            <{include file="default/`$setting.templates`/user_inquirylist.html"}>
		<{elseif $ac=="upinfo"}>
            <{include file="default/`$setting.templates`/user_upinfo.html"}>
        <{elseif $ac=="editshop"}>
            <{include file="default/`$setting.templates`/user_openshop.html"}>
        <{elseif $ac=="uppwd"}>
            <{include file="default/`$setting.templates`/user_uppwd.html"}>
		<{elseif $ac=="addlogo"}>
            <{include file="default/`$setting.templates`/user_addlogo.html"}>
		<{elseif $ac=="asklist"}>
            <{include file="default/`$setting.templates`/user_asklist.html"}>
		<{elseif $ac=="replyask"}>
            <{include file="default/`$setting.templates`/user_replyask.html"}>
		<{elseif $ac=="newslist"}>
            <{include file="default/`$setting.templates`/user_newslist.html"}>
		<{elseif $ac=="addnews" or $ac=="editnews"}>
            <{include file="default/`$setting.templates`/user_addnews.html"}>
		<{elseif $ac=="dealerlist"}>
            <{include file="default/`$setting.templates`/user_dealerlist.html"}>
		<{elseif $ac=="adddealer" or $ac=="editdealer"}>
            <{include file="default/`$setting.templates`/user_adddealer.html"}>
		<{/if}>
		</div>
    </div>
</div>
<!--主体结束--> 
<!--底部--> 
<{include file="default/`$setting.templates`/foot.html"}> 
<!--底部结束-->
</body>
</html>
