body{
	margin:0;
	padding:0;
}
.desk-bg{
	background:#12428A
}
.contextmenu-product{
	background:url(../images/contextmenu-product.png) no-repeat center center;
}
.contextmenu-article{
	background:url(../images/contextmenu-article.png) no-repeat center center;
}
.contextmenu-comment{
	background:url(../images/contextmenu-comment.png) no-repeat center center;
}
.contextmenu-link{
	background:url(../images/contextmenu-link.png) no-repeat center center;
}
.desktop-icon{
	width:60px;
	height:100px;
	background:none;
	cursor:pointer;
}
.icon-product{
	background:url(../images/product.png) no-repeat center top;
	_background-image:url(../images/product.gif);
}
.icon-aticle{
	background:url(../images/article.png) no-repeat 2px top;
	_background-image:url(../images/article.gif);
}
.icon-comment{
	background:url(../images/comment.png) no-repeat center top;
	_background-image:url(../images/comment.gif);
}
.icon-links{
	background:url(../images/links.png) no-repeat center top;
	_background-image:url(../images/links.gif);
}
.icon-user{
	background:url(../images/user.png) no-repeat center top;
	_background-image:url(../images/user.gif);
}
.icon-nav{
	background:url(../images/nav.png) no-repeat center top;
	_background-image:url(../images/nav.gif);
}
.icon-banner{
	background:url(../images/banner.png) no-repeat center top;
	_background-image:url(../images/banner.gif);
}
.icon-web{
	background:url(../images/web.png) no-repeat center top;
	_background-image:url(../images/web.gif);
}
.icon-nav-top{
	background:url(../images/arrow_up.png) no-repeat center 0;
}
.icon-nav-bottom{
	background:url(../images/arrow_down.png) no-repeat center 0;
}
.list-search{
	background:url(../images/list-search.png) no-repeat center center;
}
.menu-ico-1{
	background:url(../images/menu-ico-1.png) no-repeat;
}
.desktop-icon .icon-name{
	padding-top:50px;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:13px;
}
.icon-hover .icon-name{
	text-decoration:underline;
}
.icon-style{
	padding:5px;
	margin:5px
}
.taskbar{
	background:#fff;
}
.x-btn-default-toolbar-small-icon-text-left .start-btn-img{
	width:30px;
	background:url(../images/home.png) no-repeat 5px center;
}
.start-btn .x-btn-inner{
	text-indent:15px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	color:#666;
}
.x-start-btn-hover{
	background-color:#eee;
}
.x-start-btn-hover .x-btn-inner{
	color:#333;
}
.taskbar-separator{
	width:1px;
	height:30px;
	background:#ccc;
}
.menu-head .x-panel-header{
	text-indent:30px;
	background-image:url(../images/admin.png);
	background-repeat:no-repeat;
	background-position:3px center;
}
.menu-system{
	background-image:url(../images/settings.png);
	background-repeat:no-repeat;
	background-position:3px center;
}
.menu-exit{
	background-image:url(../images/logout.png);
	background-repeat:no-repeat;
	background-position:3px center;
}
.menu-system .x-btn-inner-center,
.menu-exit .x-btn-inner-center{
	text-align:left;
	text-indent:25px;
}
.list-icon{
	background-image:url(../images/list-icon.png);
	background-repeat:no-repeat;
}
.list-add{
	background-image:url(../images/add.png);
	background-repeat:no-repeat;
}
.list-edit{
	background-image:url(../images/edit.png);
	background-repeat:no-repeat;
}
.list-del{
	background-image:url(../images/del.png);
	background-repeat:no-repeat;
}
.list-add{
	background-image:url(../images/add.png);
	background-repeat:no-repeat;
}
.list-store{
	background-image:url(../images/base.png);
	background-repeat:no-repeat;
}
.list-chart{
	background-image:url(../images/chart.png);
	background-repeat:no-repeat;
}
.list-col-view{
	background-image:url(../images/list-view.png);
	background-repeat:no-repeat;
}
.list-col-optimize{
	margin:0 5px;
	background-image:url(../images/optimize.png);
	background-repeat:no-repeat;
}
.list-col-repair{
	margin:0 5px;
	background-image:url(../images/repair.png);
	background-repeat:no-repeat;
}
.list-col-restore{
	margin:0 5px;
	background-image:url(../images/restore.png);
	background-repeat:no-repeat;
}
.cat-manage{
	background-image:url(../images/cat-manage.png);
	background-repeat:no-repeat;
}
.win-add-icon{
	background-image:url(../images/win-add.png);
	background-repeat:no-repeat;
}
.win-edit-icon{
	background-image:url(../images/win-edit.png);
	background-repeat:no-repeat;
}
.win-login-icon{
	background-image:url(../images/win-login.png);
	background-repeat:no-repeat;
}
.add-sure,.edit-sure,.button-active{
	background:url(../images/btn-1.gif);
}
.add-sure .x-btn-inner,
.edit-sure .x-btn-inner,
.button-active .x-btn-inner{
	color:#fff;
	color:#fff\8;
}
.x-btn-add-sure-hover,
.x-btn-edit-sure-hover,
.x-btn-login-sure-hover{
	background:url(../images/btn-1-h.gif)
}
.kepanel .ke-container{
	margin-left:75px;
}
.kepanel .ke-statusbar{
	display:none;
}
.edit-label{
	position:relative;
	top:20px;
}
#product_thumb_img,
#product_img,
#article_thumb_img,
#article_img,
#banner_img,
#img_btn{
	display:none;
}
.product-up-panel .swfupload,
.article-up-panel .swfupload,
.banner-up-panel .swfupload,
.img-up-panel .swfupload{
	position:absolute;
	left:75px;
	top:0;
	z-index:2;
	background:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.product-up-panel .swfupload + a,
.article-up-panel .swfupload + a,
.banner-up-panel .swfupload + a,
.img-up-panel .swfupload + a{
	position:relative;
	z-index:1;
}
.product-img-panel,
.article-img-panel,
.banner-img-panel,
.img-panel{
	float:left;
	margin:0 5px 5px 0;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.product-img-panel .product-img-panel-body,
.article-img-panel .article-img-panel-body,
.banner-img-panel .banner-img-panel-body,
.img-panel .img-panel-body,{
	border-color:#ccc;
}
.product-img-panel.loading .product-img-panel-body,
.article-img-panel.loading .article-img-panel-body,
.banner-img-panel.loading .banner-img-panel-body,
.img-panel.loading .img-panel-body{
	background:url(../images/load-1.jpg) no-repeat center center;
}
.product-img-remove,
.article-img-remove,
.banner-img-remove,
.img-remove{
	z-index:4;
	background:url(../images/del.png) no-repeat;
}
.product-img-progressbar .x-progress-bar,
.article-img-progressbar .x-progress-bar,
.banner-img-progressbar .x-progress-bar,
.img-progressbar .x-progress-bar{
	background:#3892D3;
	z-index:2;
}
.product-img-panel .x-img,
.article-img-panel .x-img,
.banner-img-panel .x-img,
.img-panel .x-img{
	z-index:3;
}
.list-col-add{
	background-image:url(../images/add.png);
	background-repeat:no-repeat;
}
.list-col-edit{
	margin:0 5px;
	background:url(../images/edit.png) no-repeat
}
.list-col-del{
	margin:0 5px;
	background:url(../images/del.png) no-repeat;
}
.pro-radio-cls div,
.cat-radio-cls div,
.art-radio-cls div{
	width:120px;
}
.pro-radio-cls .x-form-cb-wrap *,
.cat-radio-cls .x-form-cb-wrap *,
.art-radio-cls .x-form-cb-wrap *{
	cursor:pointer;
}
.desktop-upload .swfupload{
	position:absolute;
	left:30px;
	top:0;
	z-index:2;
}