/* 初始化一些元素 */
body, form, p, h1, h2, h3,ul, img, li { padding:0;margin:0; }
ul,li{ list-style:none;}
a:link { color: #6C6C6C;text-decoration:none; }
a:visited { color:#669;text-decoration:none; }
a:hover { color:#fff;text-decoration:none;background:#693; }
a:active { color:#fff;text-decoration:none;background:#f93; }
img{ border: none; }
h1, h2, h3 {color:#666;font-weight:bold;}
h1 {font-size:18px;}
h2 {font-size: 17px;margin-left: 20px;}
ul, dl{overflow: hidden;}

/* 浮动 */
.left { float: left; }
.right { float: right;}
.clear { clear: both; }

/* 文本控制 */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center;}

/* 文本颜色控制 */
.text-muted {color: #777777;}
.text-primary {color: #428BCA;}
.text-success {color: #3C763D;}
.text-info {color: #31708F;}
.text-warning {color: #8A6D3B;}
.text-danger {color: #a94442;}

/* 文本大小 */
.text-xx-small { font-size: xx-small;}
.text-x-small {font-size: x-small;}
.text-small {font-size: small;}
.text-large {font-size: large;}
.text-x-large {font-size: x-large;}
.text-xx-large {font-size: xx-large;}

/* 字体粗细 */
.text-bold {font-weight: bold;}
.text-bolder {font-weight: bolder;}
.text-lighter {font-weight: lighter;}

/* 背景控制 */
.bg-primary { color: #fff; background-color: #428bca; }
.bg-success { background-color: #dff0d8; }
.bg-info { background-color: #d9edf7; }
.bg-warning { background-color: #fcf8e3; }
.bg-danger { background-color: #f2dede; }

/*  */
.block {display: block;}
.bd-b-line {border-top:solid 1px #ccc;}

/* 按钮 */
.btn {margin-top: 5px;margin-bottom: 5px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.btn-default {color: #333;background-color: #fff;border-color: #ccc;}
.btn-primary {color: #fff;background-color: #337ab7;border-color: #2e6da4;}
.btn-success {color: #fff;background-color: #5cb85c;border-color: #4cae4c;}
.btn-info {color: #fff;background-color: #5bc0de;border-color: #46b8da;}
.btn-warning {color: #fff;background-color: #f0ad4e;border-color: #eea236;}
.btn-danger {color: #fff;background-color: #d9534f;border-color: #d43f3a;}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {color: #fff;background-color: #286090;border-color: #204d74;}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover {color: #fff;background-color: #449d44;border-color: #398439;}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover {color: #fff;background-color: #31b0d5;border-color: #269abc;}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover {color: #fff;background-color: #ec971f;border-color: #d58512;}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover {color: #fff;background-color: #c9302c;border-color: #ac2925;}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {margin-left: 4px;}

/* 输入框控制 */
.form-control {display: block; width: 100%; padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
/* 布局 */
body { margin:0 auto; max-width:640px; font-family: "Microsoft YaHei","微软雅黑"; font-size: 16px; background-color: #9999CC;}
.header{margin: 10px;padding: 10px;}
.header a:hover{ background:none;}
.main {}
.nav, .row { background-color: #FFFFFF; color: #444; border: 1px solid #eee; border-right-color: #ddd; border-bottom-color: #ddd; margin: 10px; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.nav a {width: 19%; display: inline-block; font-size: 110%; padding: 0; text-align: center;}
.row ul h1 {font-size: 18px;margin: 5px 0 10px;color: #693;}
.row li{ line-height:35px;background: url(theme/images/list.gif) no-repeat right 8px;}
.row li:first-child{border-top:none;}
.row li:hover{ background-color:#f5f5f5; padding:0 2px;}

.lr {display: block; clear: both;}
.lr dd {width: 40%;margin-left: 10px;margin-top: 5px;}
.lr dt {width: 50%;}
.footer{text-align: center;border-radius: 5px;margin: 10px;padding: 10px;background-color: #FFFFFF;}