.skin-blue .main-header .navbar{
  background-color: #0082df !important;
}
.sidebar{
  .dropdown-menu>li>a{
    color: #333;
  }
}
.sidebar>.nav-tabs>li>a{
  display: block;
}
.sidebar-tab{
  margin-bottom: 0px;
  padding-left: 15px;
  li{
    list-style: none;
    color: #c4c4c4;
    float: left;
    width:45px;
    line-height: 28px;
  }
  li:last-child{

  }
  clear:both;
}
.sidebar-head{
  padding-left: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #666666;
  li{
    color: #c6c6c6;
    list-style: none;
    padding: 5px;

  }
}

.oc-fa{
  background: #6eff00;

  color: white;
  display: inline-block;
  text-align: center;
  width: 32px;
  line-height: 32px;
  font-size: 16px;
  text-shadow: 1px 2px 2px #666;
  margin-right:10px !important;
}