/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar {
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content {
	padding: 0;
}
/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description {
	margin: .5em 0;
}
.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.mui-loading {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	margin-top: 45%;
}
.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	display: block;
}

#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}
.mui-popover .mui-table-view-cell.on {
	color: #007aff;
}
.font-danger{color:#F05050;}
.font-info{color:#23B7E5;}
.font-sucess{color:#27C24C;}
.font-warning{color:#FAD733;}
.font-primary{color:#7266BA;}