<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	<div class="portlet light">
		<div class="portlet-body">
	        <f:form action="update" name="config" object="{config}" enctype="multipart/form-data">
	            <fieldset>
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs">
	                    <li class="active"><a href="#basic" aria-controls="basic" data-toggle="tab">基本信息</a></li>
	                    <li><a href="#seo" aria-controls="seo" data-toggle="tab">SEO</a></li>
	                    <li><a href="#mail" aria-controls="mail" data-toggle="tab">邮件</a></li>
	                    <li><a href="#certificate" aria-controls="certificate" data-toggle="tab">电子证书</a></li>
	                    <li><a href="#wechat" aria-controls="wechat" data-toggle="tab">微信</a></li>
	                    <li><a href="#alipay" aria-controls="alipay" data-toggle="tab">支付宝</a></li>
	                </ul>
	
	                <!-- Tab panes -->
	                <div class="tab-content">
	                    <div class="tab-pane active" id="basic">
	                    	
	                        <div class="form-group">
	                            <label for="logo">首页Logo（.svg格式）</label>
	                            <pre><img src="typo3conf/ext/website/Resources/Public/Images/logo.svg?hash={hash}" class="img-responsive" alt="" /></pre>
	                            <input id="logo" type="file" name="logo" data-classbutton="btn btn-default" data-classinput="form-control inline" class="filestyle form-control" />
	                        </div>
	                        
							<div class="form-group">
	                            <label for="logo">内页Logo（.svg格式）</label>
	                            <pre><img src="typo3conf/ext/website/Resources/Public/Images/logo_inner.svg?hash={hash}" class="img-responsive" alt="" /></pre>
	                            <input id="logoinner" type="file" name="logoinner" data-classbutton="btn btn-default" data-classinput="form-control inline" class="filestyle form-control" />
	                        </div>
	                        
	                        <div class="form-group">
	                            <label for="banner">内页默认Banner（.jpg格式）</label>
	                            <pre><img src="typo3conf/ext/website/Resources/Public/Images/banner.jpg?hash={hash}" class="img-responsive" alt="" /></pre>
	                            <input id="banner" type="file" name="banner" data-classbutton="btn btn-default" data-classinput="form-control inline" class="filestyle form-control" />
	                        </div>
	                        
	                        <div class="form-group">
	                            <label for="sitetitle">网站标题</label>
	                            <input type="text" id="sitetitle" name="sitetitle" value="{sitetitle}" class="form-control" />
	                        </div>
	
	                        <div class="form-group">
	                            <label for="baseURL">网站域名</label>
	                            <input type="text" id="baseURL" name="TYPO3_CONF_VARS[FE][baseURL]" value="{TYPO3_CONF_VARS.FE.baseURL}" class="form-control" />
	                            <span class="help-block m-b-none">比如：http://www.yourdomain.org/ 以/结尾</span>
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="seo">
	                        <div class="form-group">
	                            <label for="keywords">关键字(keywords)<font style="margin-left: 15px;font-size: 13px;color: red">注：每个关键字之间用空格隔开</font></label>
	                            <input type="text" id="keywords" name="TYPO3_CONF_VARS[SEO][keywords]" value="{TYPO3_CONF_VARS.SEO.keywords}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="description">描述(description)</label>
	                            <textarea type="text" id="description" name="TYPO3_CONF_VARS[SEO][description]" class="form-control">{TYPO3_CONF_VARS.SEO.description}</textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="author">作者(author)</label>
	                            <input type="text" id="author" name="TYPO3_CONF_VARS[SEO][author]" value="{TYPO3_CONF_VARS.SEO.author}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="baidukey">百度统计KEY</label>
	                            <input type="text" id="baidukey" name="TYPO3_CONF_VARS[SEO][baidukey]" value="{TYPO3_CONF_VARS.SEO.baidukey}" class="form-control" />
	                        </div>
	                        <div class="well">
	                            	这是全局SEO设置，如果需要设置指定页面的SEO信息，请<a href="typo3/" title="登录">登录</a>总后台编辑页面属性SEO。
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="mail">
	                        <div class="form-group">
	                            <label for="transport">邮件引擎</label>
	                            <select name="TYPO3_CONF_VARS[MAIL][transport]" id="transport" class="form-control">
	                                <option value="mail" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport} == 'mail'">selected="selected"</f:if>>mail</option>
	                                <option value="smtp" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport} == 'smtp'">selected="selected"</f:if>>smtp</option>
	                                <option value="sendmail" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport} == 'sendmail'">selected="selected"</f:if>>sendmail</option>
	                            </select>
	                        </div>
	                        <div class="form-group">
	                            <label for="defaultMailFromAddress">发件人邮箱</label>
	                            <input type="text" id="defaultMailFromAddress" name="TYPO3_CONF_VARS[MAIL][defaultMailFromAddress]" value="{TYPO3_CONF_VARS.MAIL.defaultMailFromAddress}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="defaultMailFromName">发件人姓名</label>
	                            <input type="text" id="defaultMailFromName" name="TYPO3_CONF_VARS[MAIL][defaultMailFromName]" value="{TYPO3_CONF_VARS.MAIL.defaultMailFromName}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="transport_smtp_server">SMTP Server</label>
	                            <input type="text" id="transport_smtp_server" name="TYPO3_CONF_VARS[MAIL][transport_smtp_server]" value="{TYPO3_CONF_VARS.MAIL.transport_smtp_server}" class="form-control" />
	                            <span class="help-block m-b-none">邮件引擎为smtp有效，格式：server:port</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="transport_smtp_encrypt">SMTP加密</label>
	                            <select name="TYPO3_CONF_VARS[MAIL][transport_smtp_encrypt]" id="transport_smtp_encrypt" class="form-control">
	                                <option value="">无</option>
	                                <option value="ssl" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport_smtp_encrypt} == 'ssl'">selected="selected"</f:if>>ssl</option>
	                                <option value="sslv2" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport_smtp_encrypt} == 'sslv2'">selected="selected"</f:if>>sslv2</option>
	                                <option value="sslv3" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport_smtp_encrypt} == 'sslv3'">selected="selected"</f:if>>sslv3</option>
	                                <option value="tls" <f:if condition="{TYPO3_CONF_VARS.MAIL.transport_smtp_encrypt} == 'tls'">selected="selected"</f:if>>tls</option>
	                            </select>
	                        </div>
	                        <div class="form-group">
	                            <label for="transport_smtp_username">SMTP用户名</label>
	                            <input type="text" id="transport_smtp_username" name="TYPO3_CONF_VARS[MAIL][transport_smtp_username]" value="{TYPO3_CONF_VARS.MAIL.transport_smtp_username}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="transport_smtp_password">SMTP密码</label>
	                            <input type="text" id="transport_smtp_password" name="TYPO3_CONF_VARS[MAIL][transport_smtp_password]" value="{TYPO3_CONF_VARS.MAIL.transport_smtp_password}" class="form-control" />
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="wechat">
	                        <div class="form-group">
	                            <label for="wx_appid">AppID</label>
	                            <input type="text" id="wx_appid" name="TYPO3_CONF_VARS[WECHAT][appid]" value="{TYPO3_CONF_VARS.WECHAT.appid}" class="form-control" />
	                            <span class="help-block m-b-none">微信公众号身份的唯一标识。审核通过后，在微信发送的邮件中查看</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="wx_appsecret">AppSecret</label>
	                            <input type="text" id="wx_appsecret" name="TYPO3_CONF_VARS[WECHAT][appsecret]" value="{TYPO3_CONF_VARS.WECHAT.appsecret}" class="form-control" />
	                            <span class="help-block m-b-none">审核后在公众平台开启开发模式后可查看</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="wx_mchid">MchID</label>
	                            <input type="text" id="wx_mchid" name="TYPO3_CONF_VARS[WECHAT][mchid]" value="{TYPO3_CONF_VARS.WECHAT.mchid}" class="form-control" />
	                            <span class="help-block m-b-none">微信支付分配的商户号</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="wx_key">Key</label>
	                            <input type="text" id="wx_key" name="TYPO3_CONF_VARS[WECHAT][key]" value="{TYPO3_CONF_VARS.WECHAT.key}" class="form-control" />
	                            <span class="help-block m-b-none">商户支付密钥Key。审核通过后，在微信发送的邮件中查看</span>
	                        </div>
	                        <div class="well">
	                           	 这里设置微信收款相关账号信息，详情请点击 <a href="http://kf.qq.com/product/wechatpaymentmerchant.html" target="_blank">微信支付</a>
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="alipay">
	                        <div class="form-group">
	                            <label for="alipay_service">接口类型</label>
	                            <select name="TYPO3_CONF_VARS[ALIPAY][service]" id="alipay_service" class="form-control">
	                                <option value="create_direct_pay_by_user" <f:if condition="{TYPO3_CONF_VARS.ALIPAY.service} == 'create_direct_pay_by_user'">selected="selected"</f:if>>即时到账收款</option>
	                                <option value="create_donate_trade_p" <f:if condition="{TYPO3_CONF_VARS.ALIPAY.service} == 'create_donate_trade_p'">selected="selected"</f:if>>公募组织接口</option>
	                            </select>
	                        </div>
	                        <div class="form-group">
	                            <label for="alipay_account">支付宝账号</label>
	                            <input type="text" id="alipay_account" name="TYPO3_CONF_VARS[ALIPAY][account]" value="{TYPO3_CONF_VARS.ALIPAY.account}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="alipay_partner">合作者身份</label>
	                            <input type="text" id="alipay_partner" name="TYPO3_CONF_VARS[ALIPAY][partner]" value="{TYPO3_CONF_VARS.ALIPAY.partner}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="alipay_key">安全校验码</label>
	                            <input type="text" id="alipay_key" name="TYPO3_CONF_VARS[ALIPAY][key]" value="{TYPO3_CONF_VARS.ALIPAY.key}" class="form-control" />
	                        </div>
	                        <div class="well">
	                           	 这里设置支付宝收款相关账号信息，详情请点击 <a href="https://app.alipay.com/market/productIndex.htm" target="_blank">即时到账收款</a>
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="certificate">
	                        <div class="well">
	                            <h5><b>证书模板尺寸(像素/px)</b></h5>
	                            <span>横向：{width}px * {height}px  纵向：{height}px * {width}px</span><br/>
	                            <small style="color:red">注：若要更换证书模板，请以此尺寸为标准，证书可自行换成竖版，需要自行调整文字坐标适配。</small>
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_file">证书模板</label>
	                            <br/>
	                            <input id="certificate_file" type="file" name="certificate_file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="filestyle form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_prefix">编号前辍</label>
	                            <input type="text" id="certificate_prefix" name="TYPO3_CONF_VARS[CERTIFICATE][prefix]" value="{TYPO3_CONF_VARS.CERTIFICATE.prefix}" class="form-control" />
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_header_name">抬头位置</label>
	                            <input type="text" id="certificate_header_name" name="TYPO3_CONF_VARS[CERTIFICATE][header]" value="{TYPO3_CONF_VARS.CERTIFICATE.header}" class="form-control" />
	                            <span class="help-block m-b-none">格式: 横坐标,纵坐标</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_money">金额位置</label>
	                            <input type="text" id="certificate_money" name="TYPO3_CONF_VARS[CERTIFICATE][money]" value="{TYPO3_CONF_VARS.CERTIFICATE.money}" class="form-control" />
	                            <span class="help-block m-b-none">格式: 横坐标,纵坐标</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_number">编号位置</label>
	                            <input type="text" id="certificate_number" name="TYPO3_CONF_VARS[CERTIFICATE][number]" value="{TYPO3_CONF_VARS.CERTIFICATE.number}" class="form-control" />
	                            <span class="help-block m-b-none">格式: 横坐标,纵坐标</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_date">日期位置</label>
	                            <input type="text" id="certificate_date" name="TYPO3_CONF_VARS[CERTIFICATE][date]" value="{TYPO3_CONF_VARS.CERTIFICATE.date}" class="form-control" />
	                            <span class="help-block m-b-none">格式: 横坐标,纵坐标</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="certificate_number">证书预览</label>
	                            <img src="uploads/certificate/CERT-DEMO.jpg?hash={hash}" class="img-responsive" />
	                        </div> 
	                    </div>
	                </div>
	            </fieldset>
	            <div class="form-buttons">
	                <f:form.submit value="保存" class="btn btn-success"/>
	            </div>
	        </f:form>
	        <f:flashMessages  />
	    </div>
	</div>
	</f:section>
</html>