/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
/lu/config/env.js
/lu/config/url.js
lu/vue.config.js
