/**
*顶部
**/
.page-content{
    margin-top:10px;
}


/**
*底部
**/
.footer p {
    color: #7f8c8d;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: #2d3e50;
}
/**
*返回顶部
**/
.amz-toolbar {
position: fixed;
right: 10px;
bottom: 70px;
z-index: 999;
}
.amz-toolbar {
bottom: 10px;
}
.amz-toolbar a {

}