@CHARSET "UTF-8";
/* KLUDGE */
.vtabs-content .list {
	clear: none; 
}
.scrollbox{ position:relative;}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: arial,sans-serif;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-size: 13px;
	color: #000000;
}
textarea{
	  height: auto;;
	}
input[type="text"],input[type="password"],textarea,select
{
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
a, a:visited {
	color: #003366;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #CC0033;
	cursor: pointer;
}

a img {
	border: 0;
}

label {
	cursor: pointer;
}
#menu {
    background-color: #464646;
    clear: both;
    height: 30px;
    width: 100%;
   	position: fixed;
    z-index: 1001;
}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}

#menu > ul .sfHover .top { color:#000; }

#menu > ul a:hover {
	color: #000; 
}

#menu > ul .top{
	padding: 10px;
	font-size: 13px;
	text-align: center;
}
#menu > ul li li.sfhover {
	padding: 10px;
	font-size: 13px;
	text-align: center;
	color: #000; 
}

#menu > ul ul li {
	padding: 2px;
}

#menu > ul li:hover {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000;
}
#menu > ul .sfhover a.top {
	color: #000;
}

#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
	color: #000;
}
#menu > ul .parent {
	background: url('../image/arrow-right.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	border-bottom: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
	margin-top: -4px;
    position: absolute;
}

#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	height: 15px;
	width: 145px;
	font-size: 13px;
	color: #000;
	line-height: 17px;
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
	
}


#menu > ul li li:hover, #menu > ul li li.sfhover {
    background: none repeat scroll 0 0 #4D90FE;
    color: #FFF;
}
#menu > ul li li a:hover, #menu > ul li li a.sfhover {
    color: #FFF;
    font-weight: bold;
}

#container {
	height: 100%;
}

body > #container {
	height: auto;
	min-height: 100%;
}
#content {

	/*
	padding-bottom: 128px;*/
}
#footer {
	 border-top: 1px dotted #B5B5B5;
    clear: both;
    color: #333;
    font-size: 12px;
    height: 90px;
    
   
    padding-top: 10px;
    /*
     margin-top: -128px;
	position: relative;*/
	
    text-align: center;
}
#footer a {
	color:  #12C;
	text-decoration: underline;
}


#jieshou {
    height: 495px;
    width: 100%;
	overflow:hidden;
}

.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	margin-top:10px;
	margin-right:10px;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #555555;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	margin-top:10px;
	margin-right:10px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	margin-right:10px;
	margin-top:10px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	cursor: pointer;
}
.box {
padding-top:20px;
}
.box > .heading {
	padding: 0px 20px;
	height:45px;
	
	
	/*border: 1px solid #DBDBDB;
	background: none repeat scroll 0 0 #F2F2F2;
	*/

}
.box > .heading h2 {
	margin: 0px;
	
	color: #464646;

	float: left;
}
.box > .heading h1 img {
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 5px;
}
.box > .content {
padding: 0px 20px;
margin-top: 10px;
}

#login {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.key-search{
	width:20em;
}

.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	margin-bottom: 20px;
	clear: both;
	margin-top: 10px;
}
.list th {
	padding-right:20px !important;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list td {
	border-bottom: 1px solid #F8F8F8;
}
.list thead td {
	padding: 0px 10px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: none;
}

.list tbody tr:hover {
	background-color: #FFC !important;
}



.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
.list tbody tr{
	height:40px;}
.list tbody tr:nth-child(odd) {
	background: #FFFFFF;
}
.list tbody tr:nth-child(even) {
	/*background: #E4EEF7;
	background: #F4F4F8;*/
}

.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}


.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list .filter td {
	padding: 5px;
	background: #E7EFEF;
}

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
}
.htabs{
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;

}


.htabs a {
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #EFEFEF;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color: #666;
	margin-left: 0px;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFF;
	border-right: 1px solid #DDDDDD;
	
	font-weight: bold;
	color: #000;
}

.htabs a.first {
	border-left: 1px solid #DDDDDD;	
}

.vtabs {
    border-right: 1px solid #DDDDDD;
    display: block;
    float: left;
    min-height: 300px;
    padding: 10px 0;
}

.vtabs a, .vtabs span {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    clear: both;
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 6px 14px 7px 15px;
    text-align: right;
    text-decoration: none;
    width: 160px;
}
.vtabs a.selected {
	background: #FFF;
	padding-right: 15px;
	color: #000;
	margin-right:-2px;
	border-bottom: 1px solid #DDDDDD;
}

.vtabs a.first {
border-left: 1px solid #DDD;
}

.vtabs a img, .htabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}

.overview {
	float: left;
	width: 48%;
	margin-bottom: 10px;	
}
.overview table {
	width: 60%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 50%;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;	
}
.latest {
	clear: both;	
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	color: #C03; 
	padding: 5px; 
	font-size: 14px; 
	font-weight: bold;	
}
.dashboard-content {
	background: #FCFCFC; 
	border: 1px solid #8EAEC3; 
	padding: 10px; 

}

/* Plugin */


.mesbox{
	margin-top:5px;
	height: 20px;
	float:right;
	background-color:#FFC; border:1px solid #F90;
	padding: 5px; 
}

.mesbox ul{
	margin: 3px 5px;
	padding-left: 10px;
}
.mesbox ul li{
	list-style:none;
}

.inner-list{
	width: 87% !important;
	float:right !important;
	clear:none !important;
}


.inner-success,.inner-attention{
	width: 83% !important;
	float:right !important;
	clear:none !important;
}

.selected .arrow {
	border-color: #000 transparent transparent transparent;
}

.arrow {
	display: inline-block;
	margin-left:2px;
	border-width: 4px;
	border-color: #FFF transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}


#login-header{
	background-color: #2D2D2D;
    clear: both;
    height: 35px;
    min-width: 900px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}


#login{
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}

.product-info {
    margin: 0 385px 0 0;
}
.product-info h3 {
    font-size: 1.23em;
    font-weight: normal;
}
.product-info a:visited {
    color: #6611CC;
}
.product-info .g-button:visited {
    color: #666666;
}
.sign-in {
    float: right;
    width: 335px;
}
.signin-box, .accountchooser-box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}
.product-headers {
    margin: 0 0 1.5em;
}
.product-headers h1 {
    color: #DD4B39;
    font-size: 25px;
    margin: 0 !important;
}
.product-headers h2 {
    font-size: 16px;
    margin: 0.4em 0 0;
}
.features {
    margin: 2em 0 0;
    overflow: hidden;
    list-style: none outside none;
    padding-left: 0;
}
.features li {
    margin: 3px 0 2em;
}
.features img {
    float: left;
    margin: -3px 0 0;
}
.features p {
    margin: 0 0 0 28px;
}
.features .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.features.no-icon p {
    margin: 0;
}
.features .small-title {
    font-size: 1em;
    font-weight: bold;
}

#logged ul{
	width :200px;
}

#module select {
	width:120px;
}


#module input[type="text"] {
	width:90px;
}

.list select {
	width:90px;
}

.list input[type="text"] {
	width:120px 
}


.container, .navbar-fixed-top .container{
	 margin:0 10px; min-width:1000px;
	 width:-moz-calc(100% - 20px);
	 width:-webkit-calc(100% - 20px);
	 width:-o-calc(100% - 20px);
	 width:calc(100% - 20px);
}
.btn-toolbar{ height:20px;}

.report select {
	width:100px;
	margin-left:10px;
	margin-right:10px;
}

.report input[type="text"] {
	margin-left:5px;
}

#login{ min-height:400px; overflow: hidden;width:400px;margin:0 auto;  }
#login h1{ margin-bottom:1em; color:#DD4B39;  }

.dashboard-content dl {
	margin-bottom: 1em;
	line-height: 1.5em;
}

.dashboard-content dt {
	width: 100px;
	float: left;
}

.dashboard-content  dd {
	display: inline-block;
	margin-right: 10px;
}