
{include file="common/top" /}
{include file="common/foot" /}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hotels				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="hotels.html"> Hotels</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d1.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d2.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d3.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d4.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d5.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="/static/hotel/img/hotels/d6.jpg" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Swimming pool</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Gymnesium</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Wi-fi</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Room Service</span>
											<span>No</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Air Condition</span>
											<span>Yes</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Restaurant</span>
											<span>Yes</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">$250</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>																														
					</div>
				</div>	
			</section>
			<!-- End destinations Area -->


		</body>
	</html>