<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>严谨 好学 求实 创新 </h2>           
        </div>
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->

       <include file="Curriculum/curside" />

</block>

<block name="body">
    <div class="span9">
        <h3><a href="__SELF__">优秀学员上报</a></h3>
        <h3>{$_cur["cname"]}--{$_cur.teacher}</h3>
        
        <table class="hovertable">
        <tr>
            <th>序号</th><th>班级</th><th>原班级学号</th><th>姓名</th><th>性别</th><th>是否优秀</th><th>更新日期</th>
       <form method="post" action="" onsubmit="return confirm('你确定要修改这些学生的密码吗?')">
		
       
		</tr>
        <volist name="student" id="st" >
        <tr style="text-align:center;">{$i}
            <input type="hidden" name="sid[{$i}]" value="{$st.sid}"><td>{$i}</td><td>{$st.class}</td><td >{$st.code}</td><td>{$st.name}</td><td>{$st.sex}</td>
			<td><input type="checkbox" name="out2[{$i}]" value="1" >
			是<input id="id_type_{$i}" name="out[{$i}]" value="1" type="radio" checked/>否<input id="id_type_{$i}" name="out[{$i}]" value="0" type="radio" /></td>
			<td>{$st.update_time|time_format}</td>
        </volist>
		<tr>
        <td colspan="7"><input type="submit" class="btn btn-primary"></td></tr>
		</form>
        </table>

    </div>
</block>