<extend name="Public/base"/>

<block name="style">
<link href="__CSS__/xbkc.css" rel="stylesheet" type="text/css"/>
</block>


<block name="content">
          <!-- Contents================= -->
        <h3><a href="__SELF__">课程一览</a>   </h3>
        为了上传数据安全性，请先登录后上传，上传时请先找到相对应的课程，再点击对应课程后的上传资料。          
                 
        
        </div>

    <!-- 数据列表 -->
     
        <table class="table data-table table-striped table-bordered" >
        <thead>
        <tr>
            <th>序号</th><th>类别</th><th>名称</th><th>任课教师</th><th>实报人数</th><th>操作</th>
        </tr>
        </thead>
        <volist name="_curriculum" id="cur" >
        <tr>
            <td>{$i}</td>
            <td>{$cur.category}</td>
            <td>{$cur.cname}</td>
            <td>{$cur.teacher}</td>            
            <td>{$cur.count}</td>
            <td>
            
            <a href= "{:U('Curriculum/upload?cid='.$cur['cid'])}" >上传资料</a>｜
            <a href= "{:U('Curriculum/showUpload?cid='.$cur['cid'])}" >查看</a></td>

            </tr>
        </volist>
        </table>
            

</block>