<div class="top2">
    <div class="news_menu">
        <div class="news_n"><a href="{:U('Lzz/category',array('id'=>12))}"><img src="__PUBLIC__/theme/images/news_n01.png" width="97" height="87" border="0" /></a></div>
        <div class="news_e"><a href="#"><img src="__PUBLIC__/theme/images/news_e02.png" width="97" height="87" border="0" /></a></div>
       <!-- <div class="news_p"><a href="{:U('Lzz/category',array('id'=>14))}"><img src="__PUBLIC__/theme/images/news_p01.png" width="97" height="87" border="0" /></a></div>-->
        <div class="clear"></div>
    </div>
</div>
<div class="news_main">
    <div class="news_mm">
        <div class="news_mt">
            <div class="title03"><img src="__PUBLIC__/theme/images/industry_t.png" width="213" height="21" /></div>
            <include file="Default/breadcrumbs"/>
            <div class="clear"></div>
        </div>
        <div class="news_mcon">
            <volist name="result" id="article" key="i">
                <if condition="($i==0 or $i==1) and $article['has_img']==1 ">
                    <div class="news_list01">
                        <div class="nl_pic"><MyTag:articleImg id="article['id']"><img src="{$imgUrl}" width="271" height="206"/></MyTag:articleImg>
                            <div class="news_icon01">
                                <table width="70" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="news_td01">{:date('d', $article['public_time'])}</td>
                                    </tr>
                                    <tr>
                                        <td class="news_td02">{:date('Y-m', $article['public_time'])}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="nl_main">
                            <div class="nl_title">{:simple_substr($article['title'],35,105)}</div>
                            <div class="nl_content">
                                <a href="{:U('Lzz/article_detail',array('id'=>$article['id']))}">&nbsp;&nbsp;&nbsp;&nbsp;{:simple_substr($article['content'],150,405,true)}</a>
                            </div>
                            <div class="nl_but">
                                <a href="{:U('Lzz/article_detail',array('id'=>$article['id']))}"><input class="input_button_more" name="" type="button" value="查看更多" /></a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <else/>
                    <div class="news_list01">
                        <div class="nl_pic2">
                            <table width="78" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="news_td03">{:date('d', $article['public_time'])}</td>
                                </tr>
                                <tr>
                                    <td class="news_td04">{:date('Y-m', $article['public_time'])}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="nl_main2">
                            <div class="nl_title2"><a href="{:U('Lzz/article_detail',array('id'=>$article['id']))}" style="color: #1b73b4;">{:simple_substr($article['title'],45,135)}</a></div>
                            <div class="nl_content2">
                                <a href="{:U('Lzz/article_detail',array('id'=>$article['id']))}">&nbsp;&nbsp;&nbsp;&nbsp;{:simple_substr($article['content'],95,276,true)}</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </if>
            </volist>

            <div class="kkpage" id="kkpager" style="text-align: right;">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //init
    $(function(){

        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        kkpager.generPageHtml({
            mode : 'click', //设置为click模式
            pno : "{$pager['page_no']}",
            //总页码
            total :"{$pager['total_pages']}",
            //总数据条数
            totalRecords :"{$pager['total']}",
            //isShowTotalPage:false,
            isShowTotalRecords :false,
            isShowFirstPageBtn :false,
            isShowLastPageBtn  :false,
            //isGoPage:false,
            //链接前部
            click : function(n){
                location.href="__ROOT__/index.php/Lzz/category/id/{$category['id']}/p/"+n+".html";
            },
            lang : {
                gopageButtonOkText:'GO',
                gopageBeforeText:'到第',
                prePageText : '<<上一页',
                nextPageText : '下一页>>'
            }
        });
    });
</script>
