{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% from 'BluehouseappWebBundle:Macros:actions.html.twig' import create %}
{% block title %}
    添加节点
{% endblock %}
{% block body -%}
    <h1>添加节点</h1>


    {{ form_errors(form) }}

    <form action="{{ path('bluehouseapp_node_create')}}" method="post" class="form-horizontal"  enctype="multipart/form-data">
        <input type="hidden" name="_method" value="POST">
        {{ form_rest(form) }}
        {{ create(path('bluehouseapp_node_index')) }}
    </form>
{% endblock %}
