{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% from 'BluehouseappWebBundle:Macros:actions.html.twig' import update %}
{% block title %}
    修改节点
{% endblock %}
{% block body -%}
    {%  set entity=node %}
    <h1>修改节点</h1>


    {{ form_errors(form) }}
    <form action="{{ path('bluehouseapp_node_update', {'id': entity.id}) }}" method="post" class="form-horizontal"  role="form" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">
        {{ form_rest(form) }}

        {{ update(path('bluehouseapp_node_index')) }}
    </form>


{% endblock %}
