<layout name="layout" />
                <div class="page-header"><!-- Page header -->
                    <h5><i class="font-home"></i>添加模板样式</h5>
                </div><!-- /page header -->
                <div class="body">                
                    <!-- Content container -->
                    <div class="container"> 
                	
                        <!-- Site Summary -->
                        <div class="block well">
    	
<div class="table-overflow">
<FORM METHOD=POST id="form1" action="{:U('Admin/Template/insert')}">	
<TABLE class="table table-bordered table-block tableform">
<TR>  
	<TH width="20%">名　称：</TH> 
	<TD><INPUT TYPE="text" class="input-xxlarge input-require" NAME="title" value=""></TD>
</TR>
<TR>
	<TH>样式目录：</TH>
	<TD><INPUT TYPE="text" class="input-xxlarge input-require"  NAME="styledir" value=""> (区分大小写)</TD>
</TR>
<TR>
	<TH>所属模板：</TH>
	<TD><select id="fpattern" name="tpls" class="input-xxlarge input-require">
		<volist name="tpllist" id="tpl">
		<option <?php if ($vo['tplid']==$tpl[id]){ ?>selected<?php };?> value="{$tpl[id]},{$tpl[tpldir]}"> {$tpl[title]} </option>
		</volist>
		</select></TD>
</TR>
<TR>
	<TH>默认样式：</TH>
	<TD><SELECT class="input-xxlarge" NAME="isdefault">
	<option value="1">启用</option>
	<option selected value="0">禁用</option>
	</SELECT></TD>
</TR>
<TR>
	<TH>描　述：</TH>
	<TD><textarea name="remark" rows="5" class="input-xxlarge"></textarea></TD>
</TR>
<TR>
	<TH></TH>
	<TD class="center">
	<input type="hidden" name="status" value="1">
	<input type="hidden" name="insert_model" value="Tplstyle">
	<button type="submit" class="btn btn-primary">保 存</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button type="reset" onclick="window.location.href='{:U('Admin/Template/index')}'" class="btn btn-danger">取 消</button>		
	</TD>
</TR>
</TABLE>
</div>
</div>
</div>
</div>
</FORM>