@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body {
	line-height:1.5em;
	font-family:"Microsoft YaHei";
	margin:0 auto;
	max-width:640px;
	font-size:15px;
	background:url(../images/beijing.jpg);
}
p {
	font-size:14px;
}
a:link,a:visited,a:hover,a:active {
	text-decoration:none;
}
.indent p {
	text-indent:2em;
}
.jump {
	background-color:#b8eac2;
	padding:8px;
}
.jump ul {
	width:100%;
}
.jump ul li {
	list-style-type:none;
	display:inline;
	width:25%;
}
.button {
	background-color:#d0d0d0;
	border-style:solid;
	border-color:#220807;
	border-width:1px;
	border-radius:5px;
	margin:0 auto;
	padding:3px;
	width:100px;
	height:30px;
	font-size:18px;
	font-family:Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
}
.small-button {
	}.line {
	padding:12px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.center {
	text-align:center;
}
.error {
	border:1px solid #ff0000;
	padding:5px;
	color:#ff0000;
}
.bm-gray {
	border-bottom:1px solid #cdcdcd;
}
.small {
	font-size:small;
}
.medium {
	font-size:medium;
}
.big {
	font-size:large;
}
#wrap {
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
}
.bold {
	font-weight:bold;
}
header {
	text-align:center;
	height:128px;
	width:100%;
	background-color:#FFF;
}

.index_top {
	background-color:#554C51;
	text-align:center;
	line-height:33px;
	font-size:16px;
	padding:10px;
	font-weight:bold;
	border-radius:8px;
}
.index_top a {
	padding-left:10px;
	padding-right:10px;
}
.index_top a:link,.index_top a:visited {
	color:#FFFFFF;
}
.index_top a:hover,.index_top a:active {
	color:red;
}
.index-cat {
	background-color:#FBFBFB;
	padding:5px 5px 5px 15px;
	font-size:16px;
	font-weight:bold;
	border:1px solid #D4D4D4;
	margin-top:2px;
	margin-bottom:2px;
	border-radius:6px;
}
.index-row {
	padding:5px;
	line-height:2em;
}
.index-topic a {
	width:97%;
	border-bottom:solid 1px #F3F3F3;
	display:block;
	float:left;
	padding:5px 5px 5px 0px;
}
.index_bottom {}
footer {
	background-color:#9F9FAB;
	padding:20px;
	text-align:center;
}
#logo {
	width:39%;
	height:80px;
	overflow:hidden;
}
#top-word {
	margin-top:10px;
	width:59%;
}
#sitename {
	font-weight:bold;
	font-size:23px;
}
#desc {
	font-size:14px;
}
#main {
	padding-left:5px;
	padding-right:5px;
}
.forum-list {
	margin-left:2px;
	width:42%;
	border:1px solid #eeeeee;
	padding:10px;
	float:left;
	vertical-align:bottom;
}
.forum-icon {
	float:left;
}
.forum-list dl {
	margin-left:40%;
	line-height:1.5em;
}
.forum-list dl dt {
	font-size:15px;
	color:#027DA4;
	font-weight:bold;
}
.forum-list dl dd {
	color:#8f9091;
	font-size:12px;
}
.ucp-box {
	padding:10px;
	background-color:#E1E1E1;
}
.ucp-main-box {
	border-radius:5px;
	border:1px solid #B8B8B8;
	background-color:#FFFFFF;
}
.ucp-box-line {
	border-top:1px solid #B8B8B8;
	line-height:50px;
	padding-left:5px;
	clear:both;
}
.ucp-left-line {
	width:20%;
}
.ucp-nav-title {
	background-color:#FBFBFB;
	height:44px;
	font-size:15px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #D4D4D4;
	margin-top:2px;
	margin-bottom:2px;
	border-radius:6px;
}
.ucp-min-title {
	min-width:50px;
	line-height:44px;
	width:25%;
}
.ucp-min-title a {
	display:block;
}
.ucp-manage {
	padding-left:2%;
}
.ucp-manage-thread {
	border-top:1px solid #ccc;
}
.ucp-manage div {
	line-height:50px;
}
.ucp-manage a {
	width:97%;
	display:block;
}
.chat-box {
	margin-top:20px;
}
.friends {
	list-style:none;
	padding:10px;
	clear:both;
}
.friends a {
	display:block;
	width:100%;
	height:48px;
}
.friends .friend-avatar {
	width:48px;
	height:48px;
}
.friends .friend-name {
	margin-left:10px;
	line-height:24px;
	font-size:16px;
	font-weight:bold;
}
.nav {
	background-color:#FBFBFB;
	padding:3px;
	border:1px solid #D4D4D4;
	margin-top:2px;
	margin-bottom:2px;
	border-radius:6px;
}
.nav-post {
	padding:3px;
	border-bottom:1px dashed #D4D4D4;
}
.nav-post .avatar {
	width:48px;
	height:48px;
}
.nav-post:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:auto;
}
.topic-manage {
	border-bottom:1px dashed #D4D4D4;
}
.box {
	border:1px solid #D4D4D4;
	margin-top:2px;
	margin-bottom:2px;
	border-radius:6px;
}
.title {
	padding:5px;
	padding-left:30px;
	background-color:#FBFBFB;
	border:1px solid #D4D4D4;
	margin-top:2px;
	margin-bottom:2px;
	border-radius:6px;
	font-size:15px;
}
.article p {
	text-indent:2em;
	line-height:25px;
	letter-spacing:2px;
	font-size:14px;
	font-family:"Microsoft YaHei";
}
.nav-title {
	padding:10px;
	width:97%;
	background:url(../images/arrow.png) no-repeat 97% 50%;
	display:block;
	padding-left:3%;
}
.nav-row {
	padding:5px;
	border-bottom:solid 1px #D6D6D6;
	padding-left:5%;
}
.print {
	background-color:#FFFFFF;
	margin-bottom:1px;
	border-radius:6px;
	padding:5px;
	word-break:break-all;
}
.module {
	padding:4px;
	color:#060101;
}
.module p {
	line-height:24px;
}
.module img {
	margin-right:3px;
}
.module a {
	color:#0051a4;
}
.module a.ft-cl {
	color:#ff6600;
}
.row1 {
	background-color:#f8f8f8;
	color:#000000;
	margin-bottom:1px;
	word-break:break-all;
}
.row-padding {
	padding:5px;
}
.row2 {
	background-color:#f1f1f1;
	color:#000000;
	margin-bottom:1px;
	word-break:break-all;
}
.row_text {
	letter-spacing:2px;
	line-height:25px;
}
.input {
	width:60%;
	padding:5px;
	font-size:20px;
}
.textarea {
	width:98%;
	font-size:12px;
	height:100px;
}
.format {
	}.format a {
	text-decoration:none;
}
#box {
	border:1px solid #b8b8b8;
	padding:10px;
}
#box label {
	font-size:21px;
}
#box .input {
	width:60%;
	padding:5px;
	font-size:20px;
}
#index-ban {
	border:1px solid #FF0000;
}
#foot {
	background-color:#dca66a;
	text-align:center;
	padding:10px;
}
#copy {
	color:#555555;
	font-size:12px;
}
#beian {
	color:#555555;
	font-size:12px;
}
#runtime {
	color:#555555;
	font-size:12px;
}
#version {
	color:#555555;
	font-size:12px;
}
dl.codebox {
	display:block;
	overflow-x:auto;
	background:#f4f4f4;
	padding:5px 5px;
	border:1px solid #eee;
}
dl.codebox dd {
	padding-left:5px;
	border:1px solid #000;
	background:#272822;
	margin:0;
}
dl.codebox code {
	color:#65b93e;
	display:block;
	height:auto;
	white-space:normal;
	padding-top:5px;
	font-size:13px;
	font-family:Consolas,Monaco,'Andale Mono',monospace;
	line-height:1.3em;
	margin:2px 0;
}
.red {
	color:red;
}
.pagination {
	padding:5px;
}
.pagination a {
	display:inline-block;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	font:14px/100% Arial,Helvetica,sans-serif;
	padding:.5em 0.5em .55em;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
	border:solid 1px #C2D5E3;
	margin-left:3px;
}
.pagination span {
	display:inline-block;
	outline:none;
	cursor:pointer;
	text-align:center;
	padding:.5em 0.5em .55em;
	font:14px/100% Arial,Helvetica,sans-serif;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
	border:solid 1px #C2D5E3;
	margin-left:3px;
}
.pagination a:hover {
	text-decoration:none;
	background:#f1f1f1;
	background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f1f1f1));
	background:-moz-linear-gradient(top,#f1f1f1,#f1f1f1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#f1f1f1');
}
.pagination a:active {
	position:relative;
	top:1px;
}
.article p {
	text-indent:2em;
	font-size:13px;
}
