.page .content,
.page .page-edit,
.page .page-nav {
	max-width: 1200px;
	padding-left: 3em;
	padding-right: 3em;
}

@media (max-width: 959px) {
	.page .content,
	.page .page-edit,
	.page .page-nav {
		padding-left: 2em;
		padding-right: 2em;
	}
}