<script type="text/javascript">
    {include file="../application/common/view/template/pc/user/adm.js" /}
</script>

<div class="easyui-layout" data-options="fit:true">
    <!-- 顶部 -->
    <div data-options="region:'north'">
        <!-- 如果没有定义功能下拉菜单，会导致 easyui 解析 buttons 失败报错 -->
        {block name="popup_menu"} W {/block}

        {block name="buttons"}
            {:widget('common/EasyUi/buttons')}
        {/block}
    </div>

    <!-- 左部 -->
    <div data-options="region:'west',split:true,collapsed:false,title:'{:lang(\'左侧目录\')} '" style="width:280px ">
        {block name="tree_para"}
            W
        {/block}

        <div id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}_left" class="easyui-accordion" data-options="fit:true">
            <!-- 左侧树 -->
            {block name="left_tree"}
                {:widget('common/EasyUi/tree', ['title'=>$data['Tree_View']['title']])} {/block}
            <!-- 系统筛选 -->
            {block name="system_filter"}
                {:widget('common/EasyUi/left_lmt', [$data['Lmt_Switch']['title']])}
            {/block}
        </div>
        <!-- 左侧目录右键菜单 暂时先不做 -->
        {block name="left_right_menu"}

        {/block}
    </div>

    <!-- 中间 -->
    <div id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}_body" data-options="region:'center'">
        {block name="search"} search_block {/block}

        {block name="datagrid"} datagrid {/block}

        <!-- 如有需要,可以扩展中间的内容-->
        {block name="body_ext"}{/block}
    </div>
</div>

<!-- fun_menu 窗口 -->
<!-- record 窗口-->
{block name="fun_win"}
    <div id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}_Fun_Win"> </div>
    <div id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}_Record_Win"> </div>
{/block}

<!-- def_function 自定义程序方法 -->
<!-- 例如 客户端脚本执行方法 表格重载 新增按钮获取界面默认值 -->
{block name="def_function"} def_function {/block}

<!--注册主页上的热键-->
{:widget('common/EasyUi/index_hot_key')}

<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
