.mall-wrap {
    .configuration-search-editor {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .range {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
    }
}