.mall-wrap {
    > .mall-configuration {
        > .ivu-tabs {
            > .ivu-tabs-bar {
                background: #fff;
                border-bottom: none;
                padding-left: 20px;
            }
            > .ivu-tabs-content {
                > .ivu-tabs-tabpane {
                    > .ivu-card {
                        > .ivu-card-body {
                            > .ivu-form {
                                > .ivu-row {
                                    > .ivu-col {
                                        > .ivu-form-item {
                                            > .ivu-form-item-content {
                                                &:after {
                                                    clear: both;
                                                    content: " ";
                                                    display: table;
                                                    font-size: 0;
                                                    height: 0;
                                                }
                                                > .image-preview {
                                                    border: 2px solid #ccc;
                                                    position: relative;
                                                    width: 204px;
                                                    > i {
                                                        bottom: 0;
                                                        font-size: 30px;
                                                        position: absolute;
                                                        right: 0;
                                                    }
                                                    > img {
                                                        display: block;
                                                        max-width: 200px;
                                                    }
                                                }
                                                > .ivu-upload {
                                                    background: #f5f7f9;
                                                    height: 90px;
                                                    width: 90px;
                                                    > .ivu-upload-select {
                                                        background: url("../images/plus.svg") center no-repeat;
                                                        width: 90px;
                                                        height: 90px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .add-data {
            margin-bottom: 10px;
        }
        .goods-table {
            border: 0 none;
            .ivu-table:after,
            .ivu-table:before {
                background-color: inherit;
            }
            .ivu-btn-small {
                padding: 3px 19px;
                border-radius: 4px;
            }
            tr {
                td {
                    .ivu-input {
                        text-align: center;
                    }
                }
            }
        }
        .tip {
            color: #657180;
            opacity: 0.5;
            line-height: 18px;
        }
    }
}