.mall-wrap {
    .configuration-message {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding-left: 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
        }
        .ivu-switch .ivu-switch-small {
            width: 48px;
            height: 20px;
        }
        .editor-btn {
            padding: 3px 19px;
        }
        .ivu-btn-small {
            padding: 3px 19px;
            border-radius: 4px;
        }
        .store-body {
            margin-top: 20px;
            .ivu-table-wrapper {
                border: 0 none;
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
                .ivu-table-fixed-body {
                    overflow: inherit;
                }
                .ivu-table-fixed-right:before,
                .ivu-table-fixed:before {
                    height: 0;
                }
            }
        }
    }
}