.mall-wrap {
    .configuration-message-editor {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .storeBox {
            height: 100%;
            padding: 20px 20px 0 20px;
            background-color: #fff;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .ivu-card-body {
            margin: 0;
        }
        h5 {
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            background-color: #f5f7f9;
        }
        .ivu-form-item {
            margin-bottom: 6px;
        }
        .refund-module {
            padding-top: 8px;
            padding-bottom: 12px;
        }
        .review-content {
            padding-top: 20px;
            span.tip {
                color: rgba(101, 113, 128, 0.5);
            }
            button {
                margin-top: 20px;
            }
        }
        .ivu-card-body {
            padding: 0;
        }
    }
}