.mall-wrap {
    .configuration-image {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding-left: 20px;
        }
        .prompt {
            color: rgba(101, 113, 128, 0.5);;
        }
        .image-preview {
            border: 2px solid #ccc;
            position: relative;
            width: 204px;
            > i {
                bottom: 0;
                font-size: 30px;
                position: absolute;
                right: 0;
            }
            > img {
                display: block;
                max-width: 200px;
            }
        }
        .ivu-upload {
            background: #f5f7f9;
            height: 90px;
            width: 90px;
            > .ivu-upload-select {
                background: url("../images/plus.svg") center no-repeat;
                height: 90px;
            }
        }
        .ivu-radio-wrapper {
            width: 100%;
        }
    }
}