.mall-wrap {
    .goods-category-look-under-edit {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .ivu-card {
            .ivu-form-item {
                .input-address {
                    margin-top: 16px;
                }
            }
            .ivu-form {
                .form-item-attribute {
                    margin-bottom: 0;
                    .ivu-row {
                        &.row-attributes {
                            margin-bottom: 16px;
                            .ivu-col {
                                margin-right: 15px;
                            }
                            .ivu-col-span-4 {
                                text-align: center;
                            }
                        }
                        .ivu-btn-error {
                            background-color: inherit;
                            color: #f30;
                            &:hover {
                                background-color: inherit;
                                color: #ff5c33;
                            }
                        }
                    }
                }
                .quike-position {
                    .ivu-form-item-content {
                        .flex-position {
                            display: inline-flex;
                            .ivu-cascader {
                                width: 240px;
                            }
                        }
                        span.title {
                            width: 60px;
                        }
                        span.intro {
                            width: 130px;
                            margin-left: 10px;
                        }
                    }
                }
                .position-module {
                    width: 54px;
                }
                .tip {
                    width: 500px;
                    color: rgba(101, 113, 128, 0.5);
                    line-height: 18px;
                }
                .tip-width {
                    color: rgba(101, 113, 128, 0.5);
                    p {
                        line-height: 18px;
                    }
                }
                .inline-symbol {
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                }
                .recommended-classification {
                    box-shadow: inset 2.1px 2.1px 5px 0 rgba(49, 53, 64, 0.1);
                    border: solid 1px #e3e8ee;
                    border-radius: 4px;
                    padding: 10px 20px;
                    max-height: 300px;
                    overflow-y: auto;
                    li {
                        border-bottom: 1px solid #e3e8ee;
                        .ivu-checkbox-group-item {
                            width: 15%;
                        }
                    }
                }
                .recommended-brand {
                    margin-top: 10px;
                    li:last-child {
                        border-bottom: 0;
                    }
                }
            }
            .shop-table {
                border: 0 none;
                border-top: 0 !important;
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
                .ivu-table td,
                .ivu-table th {
                    border: 0 none;
                    height: inherit;
                    padding-bottom: 10px;
                }
                .ivu-table-row.ivu-table-row-hover {
                    background-color: inherit;
                }
                .ivu-table-cell {
                    padding-left: 0;
                }
                .ivu-btn-small {
                    padding: 3px 19px;
                    border-radius: 4px;
                }
                .ivu-btn-error {
                    background-color: inherit;
                    color: #f30;
                    &:hover {
                        background-color: inherit;
                        color: #ff5c33;
                    }
                }
            }
        }
    }
}