.mall-wrap {
    .goods-wrap {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .goods-body-header {
            &:after {
                clear: both;
                content: " ";
                display: table;
                font-size: 0;
                height: 0;
            }
            .export-btn {
                float: left;
            }
            .goods-body-header-right {
                float: right;
                .ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
                    background-color: #39f;
                    color: #ffffff;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .ivu-input-group {
                    top: 0;
                    .ivu-input {
                        width: 203px;
                    }
                }
            }
        }
        .goods-table{
            margin-top: 14px;
            border: 0 none;
            .ivu-table:after,
            .ivu-table:before {
                background-color: inherit;
            }
            .ivu-table-fixed-body {
                overflow: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
            .ivu-btn-small {
                padding: 3px 19px;
                border-radius: 4px;
            }
            .ivu-dropdown {
                .ivu-btn-small {
                    padding: 3px 15px;
                    border-radius: 4px;
                }
            }
            .ivu-table-cell {
                padding-left: 0;
                padding-right: 0;
            }
            .delete-ad {
                margin-left: 6px;
            }
        }
    }
    .ivu-dropdown-item-focus,
    .ivu-dropdown-item:hover {
        color: #57a3f3;
    }
    .ivu-table-wrapper {
        border-top: 1px solid #e3e8ee !important;
        .ivu-tooltip-inner {
            padding: 4px 8px;
            img {
                max-width: 200px;
                max-height: 200px;
                margin-top: 4px;
            }
        }
    }
    .ivu-page-options-elevator input {
        text-align: center;
    }
}
.good-sku-modal {
    .ivu-modal {
        min-height: 376px;
        top: 50%;
        margin-top: -188px;
        width: 772px !important;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        .ivu-modal-content {
            width: 100%;
            height: 100%;
        }
        .ivu-modal-header {
            border: 0;
            padding-bottom: 0;
        }
        .ivu-modal-footer {
            display: none;
        }
        .ivu-table-wrapper {
            border: 0 none;
            .ivu-table:after {
                background-color: inherit;
            }
            .ivu-table-fixed-body {
                overflow: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
        }
    }
}
.ivu-table-body::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
}
.ivu-table-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #fff;
}
.ivu-table-body::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #f5f7f9;
}
.ivu-table:before {
    height: 0;
}