.mall-wrap {
    .operation-delivery-look {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .album-action {
            margin-bottom: 10px;
            button {
                .ivu-icon {
                    font-size: 16px;
                }
            }
            .goods-body-header-right {
                float: right;
                .ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
                    background-color: #39f;
                    color: #ffffff;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .ivu-input-group {
                    top: 0;
                    .ivu-input {
                        width: 203px;
                    }
                }
            }
        }
        .ivu-table-wrapper {
            border: 0 none;
            .ivu-table:after{
                background-color: inherit;
            }
        }
        .ivu-table {
            .ivu-table-fixed-body {
                overflow: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
            .delete-ad {
                margin-left: 8px;
            }
            .status-check {
                .ivu-icon {
                    color: #39f;
                }
            }
        }
    }
}