.mall-wrap {
    .store-level-add {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .tip {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
        .ivu-checkbox-group-item {
            display: block;
        }
        img {
            max-width: 268px;
            height: 144px;
        }
    }
}