# /storage/
!/storage/index.html
*/config/testing/*.php
*/config/production/*.php
*/*/config/testing/*.php
*/*/config/production/*.php
*/tmp/*
!*/tmp/index.html
*/logs/log-*.php
*/logs/!index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/application/vendor


# IDE
/.idea
