{% extends "BluehouseappWebBundle:Frontend/layout:layout.html.twig" %}

{% block title %}

{% if app.request.get('_route') == 'member_profile_email'%}
修改个人资料
{% endif %}

{% if app.request.get('_route') == 'member_profile_password' or
      app.request.get('_route') == 'member_profile_change_password'
 %}
修改密码
{% endif %}

{% if app.request.get('_route') == 'fos_user_registration_register' %}
加入蓝房子
{% endif %}

{% if app.request.get('_route') == 'fos_user_security_login' %}
登录
{% endif %}

{% endblock %}


{% block header %}
<style>
input[type='text'] {
    display:block;
    width:100%;
}
input[type='password'] {
    display:block;
    width:100%;
}

input[type='email']{
    display:block;
    width: 100%;
}

input[type='submit']{
    display:block;
    margin:10px 0px;
}
label{
display:inline-block;
}
{% if app.request.get('_route') == 'fos_user_change_password'%}

{% endif %}

{% if app.request.get('_route') == 'member_profile_change_password' or
      app.request.get('_route') == 'member_profile_password'
%}

{% endif %}

{% if app.request.get('_route') == 'fos_user_registration_register' %}

{% endif %}

{% if app.request.get('_route') == 'fos_user_security_login' %}

{% endif %}
</style>
{% endblock %}

{% block body %}

    <div class="h20"></div>

<div class="row-fluid">

  <div class="span9 offset1" style="border:2px solid #000000;padding:40px; background-color:#ffffff">
    {% if app.request.get('_route') == 'fos_user_change_password' %}
    <h2>修改密码</h2>
    {% endif %}

    {% if app.request.get('_route') == 'fos_user_registration_register' %}
    <h2>加入蓝房子</h2>
    {% endif %}

    {% if app.request.get('_route') == 'fos_user_security_login' %}
    <h2>登录蓝房子</h2>
    {% endif %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% if app.request.get('_route') == 'fos_user_security_login' %}
    <div class="clearfix">

      <div class="pull-right">
        <a href="{{path('fos_user_resetting_request')}}">忘记密码?</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
