<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>referralprogram</name>
            <displayName><![CDATA[客户推广计划]]></displayName>
            <version><![CDATA[1.5.1]]></version>
            <description><![CDATA[集成客户推广计划到商店。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall>所有赞助商和朋友都将被删除。你确定你要卸载这个模块吗？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>