<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="t3js-module-content" data-installer-default-configuration-execute-token="{executeDefaultConfigurationToken}">
	<div class="typo3-install-content-body">
		<h2>安装完成</h2>
		<p>安装向导可以在您的网站根目录创建一个空白页面，以帮助您入门。如果您想使用此选项，请选择“创建空白起始页”。</p>

		<div class="typo3-install-content-spacer"></div>
		<div class="t3js-installer-defaultConfiguration-output"></div>
		<div class="typo3-install-content-spacer"></div>

		<f:if condition="!{composerMode}">
			<div class="alert alert-notice">
				<h3>想要预先配置好的网站吗？</h3>
				<p>
					您目前有一个空的TYPO3安装如果要查看预配置的分​​发列表，请从下面的列表中选择“下载分发列表”。
					<strong>注意: 这可能需要一些时间来加载。</strong>
				</p>
			</div>
		</f:if>

		<form method="post">
			<div class="form-group">
				<f:if condition="!{composerMode}">
					<div class="radio">
						<label for="load-distributions">
							<input type="radio" id="load-distributions" name="install[values][sitesetup]" value="loaddistribution" />
							确定，下载分发列表
						</label>
					</div>
				</f:if>
				<div class="radio">
					<label for="create-site">
						<input type="radio" id="create-site" name="install[values][sitesetup]" value="createsite" />
						创建空的起始页面
					</label>
				</div>
				<div class="radio">
					<label for="do-nothing">
						<input type="radio" id="do-nothing" name="install[values][sitesetup]" value="donothing" checked="checked" />
						什么都不做，直接到后端
					</label>
				</div>
			</div>
			<div class="clearfix">
				<button class="btn btn-success pull-right t3js-installer-defaultConfiguration-execute">
					打开TYPO3后端
				</button>
			</div>
		</form>
	</div>
</div>
</html>
