<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="t3js-module-content" data-installer-database-data-execute-token="{executeDatabaseDataToken}">
	<div class="typo3-install-content-body">
		<h3>创建管理用户/指定站点名称</h3>

		<p>使用此帐户登录您网站的后端。</p>
		<p>您为此帐户提供的密码也用于访问<strong>安装工具</strong>.</p>
		<p>在此页面上，您还可以为新网站设置名称。</p>

		<div class="typo3-install-content-spacer"></div>
		<div class="t3js-installer-databaseData-output"></div>
		<div class="typo3-install-content-spacer"></div>

		<form method="post" id="stepInstaller-databaseData" class="t3-install-form-label-before form-horizontal">
			<input type="hidden" value="execute" name="install[set]" />
			<div class="form-group">
				<label for="password" class="control-label col-md-2">用户名</label>
				<div class="col-md-10">
					<input
						class="t3-install-form-input-text form-control"
						name="install[values][username]"
						id="username"
						placeholder="admin"
						autocomplete="off"
					/>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="control-label col-md-2">密码</label>
				<div class="col-md-10">
					<input
						class="t3-install-form-input-text t3-install-form-password-strength form-control"
						name="install[values][password]"
						id="password"
						type="password"
						autocomplete="off"
					/>
					<div class="checkbox">
						<label>
							<input
								type="checkbox"
								id="show-password"
								onchange="if (this.checked==true) { document.getElementById('password').type='text'; } else { document.getElementById('password').type='password'; }"
							/>
							显示密码
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<div class="alert alert-warning">
						如果受到攻击，此帐户将为攻击者提供对您的安装的完全访问权限。建议使用强密码。包括大写和小写字符，特殊字符和数字。您的密码长度必须至少为八个字符。
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="sitename" class="control-label col-md-2">网站名称</label>
				<div class="col-md-10">
					<input
						class="t3-install-form-input-text form-control"
						name="install[values][sitename]"
						id="sitename"
						type="text"
						value="{siteName}"
					/>
				</div>
			</div>
			<div class="clearfix">
				<button class="btn btn-success pull-right t3js-installer-databaseData-execute">
					继续
				</button>
			</div>
		</form>

	</div>
</div>

</html>
