/*@group note*/
.note {position:relative; min-height:30.5rem; overflow:hidden; background:#fff;}
.note .crumb {position:relative; padding-left:1rem; font-size:1.15rem; color:#F43A3F; line-height:2rem;}
.note .block {padding:2em 1em 1em 1rem;}
.note .block .label {margin:0; padding:0; border:0; width:3rem; font-weight:bold;}
.note .block .button {padding:1em 0;}