{extend name="public/base" /}

{block name="title"}<title>{if condition="$data['id']"}编辑{else /}新增{/if}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>新增应用</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 新增应用</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>
                        <li class="pull-right">
                        	<a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i>
                        		返回
                        	</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="id" value="{$data.id}" />

                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用名称</label>
                                <div class="col-sm-7">
                                	<input class="form-control" name="app_name" value="{$data.app_name?:''}" placeholder="应用名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">AppId</label>
                                <div class="col-sm-7">
                                	<input class="form-control" name="app_id" value="{$data.app_id}" placeholder="AppId" readonly="readonly">
                                </div>
                                <div class="col-sm-3 text-muted x-ptb-5">系统自动生成，不允许修改</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">AppSecret</label>
                                <div class="col-sm-7">
                                	<input class="form-control" name="app_secret" value="{$data.app_secret}" placeholder="AppSecret" readonly="readonly">
                                </div>
                                <div class="col-sm-3 text-muted x-ptb-5">系统自动生成，不允许修改</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Token有效时间</label>
                                <div class="col-sm-7">
                                	<span class="input-group">
                                		<input class="form-control" name="app_limitTime" value="{$data.app_limitTime?:7200}" placeholder="Token有效时间" >
                                		<span class="input-group-addon">秒</span>
                                	</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用描述</label>
                                <div class="col-sm-7">
                                	<textarea class="form-control" style="resize:none;height:155px;" name="app_info" placeholder="应用描述">{$data.app_info?:''}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">撤销</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });

    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});

    {if condition=" $rest_login == 1 "}
    restlogin('{$rest_login_info}');   //登录超时
    {/if}
})
</script>
{/block}