.boxShadow {
  border: 1px solid #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.boxShadowBorder {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
.issue_list img {
  max-width: 100%;
}
.issue_list .item_inner {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
/*index页面*/
.issue_list .item_inner {
  display: inline-block;
  width: 255px;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.issue_list h3 {
  font-size: 1em;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 5px;
}
.operation {
  padding-left: 20px;
}
.operation li {
  float: left;
  list-style: none;
  width: 33%;
  text-align: left;
}
.operation li i {
  margin-right: 5px;
  color: #999;
}
.issue_list .author img {
  width: 32px;
  margin-right: 10px;
}
.issue_list .ctime {
  color: #ccc;
  padding-right: 10px;
  padding-top: 5px;
}
.issue_list .author {
  margin-left: 20px;
}
.spliter {
  border-top: 1px solid #ddd;
  margin-bottom: 5px;
}
.btn-submit {
  margin-right: 10px;
  margin-top: 10px;
}
.item_core {
  position: relative;
}
.item_core .cover {
  width: 280px;
  height: 210px;
}
.item_type {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  padding: 3px 5px;
  left: 0;
  top: 0;
}
.upload-pre-item img {
  min-width: 250px;
  max-width: 250px;
  max-height: 300px;
  border: 1px solid #ccc;
  padding: 2px;
}
.uploadcover {
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.5);
  border-color: #2f7a51;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
/*index页面end*/
/*详情页面*/
.content-title {
  font-size: 2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 0 0;
  text-align: center;
}
.content-body {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
  background: white;
  padding: 15px 20px;
}
.content-body img {
  max-width: 100%;
}
.content-body h3 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 33px;
  text-transform: uppercase;
}
.content-body .signature {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f5f5f5;
  color: #666;
  padding: 20px;
  position: relative;
  min-height: 80px;
}
.content-body .signature .triangle_left {
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid #f5f5f5;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  /* float: right; */
  margin-left: -30px;
  margin-top: 0px;
  z-index: 2;
  display: inline-block;
  position: absolute;
}
.content-body .signature .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid #cccccc;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  margin-left: -41px;
  margin-top: 0px;
  z-index: 2;
  display: inline-block;
  position: absolute;
}
.content-body .cover {
  width: 350px;
  height: 252px;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  margin: 10px 0 10px 0;
}
/*详情页面END*/
/*应用公共css*/
.app_head {
  background: white;
  padding: 0;
  margin: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
  margin-bottom: 1em;
}
.app_title {
  padding: 0.3em .8em;
  font-size: 1.5em;
  line-height: 1.4em;
}
.app_title .app_ico_i {
  font-size: .8em;
  margin-right: .5em;
}
.sub_nav .nav_list {
  padding-left: 0em;
  margin-bottom: 0;
}
.sub_nav .nav_list li {
  list-style: none;
  float: left;
}
.sub_nav .nav_list li a {
  padding: 1.1em 1.3em;
  font-size: 1.1em;
  display: inline-block;
}
.sub_nav .nav_list li:hover {
  background: white;
}
.sub_nav .nav_list li .cur {
  background: white;
  color: #333;
}
.aline {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
}
.children_nav {
  display: none;
}
.children_nav .nav_list {
  background: white;
  padding-left: 0;
  margin: 0;
}
.children_nav .nav_list li {
  list-style: none;
  float: left;
}
.children_nav .nav_list li a {
  padding: 1.1em 1.3em;
  font-size: 1.1em;
  display: inline-block;
  color: #666;
}
.children_nav .nav_list li .cur {
  font-size: 1.0em;
}
