.center
{
  margin-top:250px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}
.selectType{
	height:70px;
	width:160px;
	font-size:24px;
}
.searchContent{
	height:70px;
	width:600px;
	font-size:24px;
}