#tree-root {
    float: left;
    margin-top: 40px;
    background-color: #fafafa;
}
.nav-item-left {
    float: left;
    font-size: 14px;
    padding: 8px;
    color: #999;
    font-weight: 200;
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
}
.nav-item-right {
    width: 50px;
    float: right;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 8px 10px 8px 0px;
    text-align: right;
    position: relative;
}
.nav-item-right>button {
    color: #999;
    cursor: pointer;
    padding: 0;
    background-color: #ffffff;
    border: 0;
}
