/*--------------------笔记本目录----------------------*/
div.view-full-box {
  height: 100%;
  float: left;
}

#notebook-catalogue {
  background-color: #eaedef;
  height: 100%;

  width: 215px;
  overflow-y: auto;
  border-right: #808080 solid 1px;
}


/*--------------笔记本目录title-------------*/
#notebook-catalogue .group-toggle-line {
  padding-top: 10px;
  padding-bottom: 12px;
}


#notebook-catalogue .toggle-title {
  color: #555e64;
  font-size: 17px;
  padding-left: 10px;
}

/*--------------目录内容------------------*/
#catalogue-content {

}

/*------单笔记本------*/
#catalogue-content div.root-group {

  margin-top: 12px;
}

#catalogue-content div.single-group .note-row {
  padding-left: 18px;
}



#catalogue-content .notebook-group {
  margin-top: 5px;
  color: #555e64;
  cursor: pointer;
}

#catalogue-content .notebook-group .open-expand-icon {
  display: none;
}

#catalogue-content .notebook-group .folder-icon {
  margin-left: 2px;
}

#catalogue-content .notebook-group .name {
  margin-left: 7px;
}


#notebook-catalogue #catalogue-content .note-row.active {
  background-color: #c2c9ce;
}

#catalogue-content .note-row:hover {
  background-color: #ddd;
}


#catalogue-content .note-row .menu-icon-box {
  float: right;
  display: inline-block;
}

#catalogue-content .note-row .menu-icon {
  font-size: 16px;
  position: relative;
  top: 4px;
  margin-right: 14px;
}



#catalogue-content span.glyphicon.defaultIcon {
  color: #428bca;
}



/*----笔记列表----*/
#catalogue-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}
#catalogue-content .group-list {
  /*display: none;*/
}

#catalogue-content .group-list>.notebook-item {
  padding-left: 40px;
  margin-top: 3px;
}

#catalogue-content .notebook-group .note-count {
  margin-left: 3px;
}
