/*--------------------笔记目录------------------------*/
#note-catalogue {
  float: left;
  width: 260px;
  background-color: #ececec;
  height: 100%;
  border-right: #808080 solid 1px;
}



#note-catalogue .note-add {

  padding-top: 6px;
  padding-bottom: 6px;
}
#note-catalogue .note-add button {
  margin-left: 25px;
  background-color: #359bdc;
  border-color: #428adf;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}


#note-catalogue div[ui-view='notes'] {
  height: 90%;
  overflow-y: auto;
}

#note-catalogue ul {
  list-style: none;
  padding-left: 0;
}

#note-catalogue ul>li:hover {
  cursor: pointer;
}

#note-catalogue .note-item {
  height: 72px;
  padding: 12px;
  border-bottom: #aaa solid 1px;
  cursor: pointer;
}

#note-catalogue .note-item:hover {
  background-color: #ddd;
}

#note-catalogue .note-item.active {
  background-color: #ccc;
}

#note-catalogue .note-item.active .time {
  color: #666;
}


#note-catalogue .item-title {
  margin-bottom: 8px;
}

#note-catalogue .note-icon {
  color: #808080;
}

#note-catalogue .note-title {
  margin-left: 3px;
}

#note-catalogue .note-item .time {

  color: #8c8c8c;
}

#note-catalogue .no-any-notes {
  text-align: center;
  color: #808080;
  margin-top: 100px;
}