/*--------------------笔记主内容------------------------*/
#note-content {
  background-color: #f2f2f2;
  height: 100%;
  overflow: hidden;
}

#note-content .note-operation {
  padding-top: 6px;
  padding-bottom: 6px;
}

#note-content .note-operation button:first-child {
  margin-left: 13px;
}

#note-content .note-edit {
  height: 100%;
}

#note-content .note-edit input.note-title {
  width: 100%;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
}

#note-content .note-edit textarea.note-text {
  width: 100%;
  height: 90%;
}


#note-content .note-edit .note-text-angular {
  width: 100%;
  height: 80%;
}

#note-content .note-text-angular div.ta-scroll-window.ta-text.ta-editor {
  height: 100%;
}

#note-content .note-text-angular div.ta-scroll-window.ta-text.ta-editor div.ng-pristine.ng-valid {
  min-height: 100%;

}




/*#note-content .note-info-text div[text-angular-toolbar]{*/
  /*display: none;*/
/*}*/
