.check_rank {
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  line-height: 42px;
  color: #03ae87;
}
.check_rank .check_rank_list {
  padding: 0 15px;
  display: block;
}
.check_rank .check_rank_list li {
  list-style: none;
}
.check_rank a {
  color: #03ae87;
}
.check_date {
  font-size: 12px;
}
