<!--{include header.htm}-->

<!--{hook index_index_start.htm}-->

<div class="width">

	<!--{hook index_index_nav_before.htm}-->
	
	<table id="nav" cellpadding="0" cellspacing="0" style="margin-bottom: 4px;">
		<tr>
			<td class="left"></td>
			<td class="center">
				<a class="icon icon-home" href="./"></a>
				<span class="sep"></span>
				<!--{hook common_nav_center.htm}-->
				<span>首页</span>
				<!--{hook index_index_nav_center_after.htm}-->
			</td>
			<td class="center2">
				<!--{include header_user.inc.htm}-->
				<!--{if $isNotHomePage}-->
				<a href="?post-thread-fid-$fid-ajax-1.htm" target="_blank" onclick="return false;" id="create_thread"  rel="nofollow"><span class="icon icon-post-newthread"></span> 发新帖</a>
				<!--{/if}-->
			</td>
			<td class="right"></td>
		</tr>
	</table>
	
	<!--{hook index_index_nav_after.htm}-->
	
	<div class="frame">
		<div class="top_left">
			<div class="container" id="idContainer2">
				<ul id="idSlider2">
					<!--{loop $top3ImgsArr $imgItem}-->
					<li><a href="?thread-index-fid-$imgItem[fid]-tid-$imgItem[tid].htm"> <img src="$imgItem[path]" alt="[$imgItem[fname]] $imgItem[subject]" /> </a></li>
					<!--{/loop}-->
				</ul>
				<ul class="num" id="idNum">
				</ul>
			</div>
			<div id="top10">
				<h3>
					<a href="./" target="_blank">
						<samp class="ico-pos-w-rss"></samp>
					</a>
				</h3>
				<ul>
					<!--{loop $top10Arr $top10Item}-->
					<li>
						<div>
							<a href="?forum-index-fid-$top10Item[fid]-typeid1-$top10Item[typeid1].htm" title="$top10Item[typename]">[$top10Item[typename]]</a>
							<a href="?thread-index-fid-$top10Item[fid]-tid-$top10Item[tid].htm" title="$top10Item[subject]">$top10Item[subject]</a>
						</div>
					</li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
		
		<div id="minsheng_focus">
			<div id="b_recommend">
				<h3>
					<a href="?thread-index-fid-$localHotArr[fid]-tid-$localHotArr[tid].htm" title="$localHotArr[subject]">$localHotArr[subject]</a>
				</h3>
				<p>
					<a href="?thread-index-fid-$localHotArr[fid]-tid-$localHotArr[tid].htm">
					$localHotArr[message]
					</a>
				</p>
				<span id="local_focus_more">
					<a href="?forum-index-fid-$localHotArr[fid]-typeid1-$localHotArr[typeid1].htm" style="color: rgb(51,102,153)">更多本地热点</a>
				</span>
			</div>
			<div id="b_recommend">
				<h3>
					<a href="?thread-index-fid-$peopleHotArr[fid]-tid-$peopleHotArr[tid].htm" title="$peopleHotArr[subject]">$peopleHotArr[subject]</a>
				</h3>
				<p>
					<a href="?thread-index-fid-$peopleHotArr[fid]-tid-$peopleHotArr[tid].htm">
					$peopleHotArr[message]
					</a>
				</p>
				<span id="local_focus_more">
					<a href="?forum-index-fid-$peopleHotArr[fid]-typeid1-$peopleHotArr[typeid1].htm" style="color: rgb(51,102,153)">更多民生热点</a>
				</span>
			</div>
		</div>
		<div class="yezhu_news">
			<div class="news_tit">
				<h2><a href="?forum-index-fid-6.htm">业主新闻</a></h2>
			</div>
			<div class="news_list">
				<ul class="newslist14px">
				<!--{loop $otherBlocksTopsArr[6] $ownersNewsItem}-->
				<li>
					<span>[<a href="?forum-index-fid-$ownersNewsItem[fid]-typeid1-$ownersNewsItem[typeid1].htm" title="$ownersNewsItem[typename]">$ownersNewsItem[typename]</a>]</span> 
					<a href="?thread-index-fid-$ownersNewsItem[fid]-tid-$ownersNewsItem[tid].htm" title="$ownersNewsItem[subject]" class="cGray">$ownersNewsItem[subject]</a>
				</li>
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		
		<div id="pictures" class="block_pic">
			<h3>精彩贴图</h3>
			<div>
				<ul style="padding: 0px;">
					<!--{loop $niceImgsArr $niceItem}-->
					<li>
						<a href="?thread-index-fid-$niceItem[fid]-tid-$niceItem[tid].htm">
							<img src="$niceItem[path]" title="点击查看原帖">
						</a>
						<br>
						<a class="board" href="?forum-index-fid-$niceItem[fid]-typeid1-$niceItem[typeid1].htm">[$niceItem[typename]]</a>
						<br>
						<a class="title" href="?thread-index-fid-$niceItem[fid]-tid-$niceItem[tid].htm" title="$niceItem[subject]">$niceItem[subject]</a>
					</li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
		
		<div class="w_section">
			<div class="b_section block mp_left" style="margin: 0px;width: 400px">
				<a _pos="T4" class="textad" href="javascript:void(0)" target="_blank"></a>
				<h3><a href="?forum-index-fid-1.htm">业主之家</a></h3>
				<div class="topics">
					<ul>
						<!--{loop $otherBlocksTopsArr[1] $ownersHomeItem}-->
						<li><a href="?forum-index-fid-$ownersHomeItem[fid]-typeid1-$ownersHomeItem[typeid1].htm">[$ownersHomeItem[typename]]</a>&nbsp;<a href="?thread-index-fid-$ownersHomeItem[fid]-tid-$ownersHomeItem[tid].htm" title="$ownersHomeItem[subject]">$ownersHomeItem[subject]</a></li>
						<!--{/loop}-->
					</ul>
				</div>
				<div class="boards">
					<ul>
						<!--{loop $blockBoardsArr[1] $boards}-->
						<li><a href="?forum-index-fid-$boards[fid]-typeid1-$boards[typeid].htm" title="$boards[typename]">[$boards[typename]]</a></li>
						<!--{/loop}-->
						<!--li class="more"><a href="http://www.newsmth.net/nForum/section/6" title="点击查看更多精彩版面">查看更多...</a></li-->
					</ul>
				</div>
			</div>
			<div class="b_section block mp_right" style="margin: 0px; width: 400px;">
				<a _pos="T5" class="textad" href="javascript:void(0)" target="_blank"></a>
				<h3><a href="?forum-index-fid-2.htm">娱乐健身</a></h3>
				<div class="topics">
					<ul>
						<!--{loop $otherBlocksTopsArr[2] $entHealthItem}-->
						<li><a href="?forum-index-fid-$entHealthItem[fid]-typeid1-$entHealthItem[typeid1].htm">[$entHealthItem[typename]]</a>&nbsp;<a href="?thread-index-fid-$entHealthItem[fid]-tid-$entHealthItem[tid].htm" title="$entHealthItem[subject]">$entHealthItem[subject]</a></li>
						<!--{/loop}-->
					</ul>
				</div>
				<div class="boards">
					<ul>
						<!--{loop $blockBoardsArr[2] $boards}-->
						<li><a href="?forum-index-fid-$boards[fid]-typeid1-$boards[typeid].htm" title="$boards[typename]">[$boards[typename]]</a></li>
						<!--{/loop}-->
						<!--li class="more"><a href="http://www.newsmth.net/nForum/section/2" title="点击查看更多精彩版面">查看更多...</a></li-->
					</ul>
				</div>
			</div>
			<div class="mp_clear"></div>
			<!--div class="bb mp_left"></div>
			<div class="bb mp_right"></div-->
		</div>
		
		<div class="w_section">
			<div class="b_section block mp_left" style="margin: 0px;width: 400px">
				<a _pos="T4" class="textad" href="javascript:void(0)" target="_blank"></a>
				<h3><a href="?forum-index-fid-3.htm">社会信息</a></h3>
				<div class="topics">
					<ul>
						<!--{loop $otherBlocksTopsArr[3] $comInfoItem}-->
						<!--{if $comInfoItem[fid] == 5}-->
						<li><a href="?forum-index-fid-$comInfoItem[fid].htm">[$comInfoItem[fname]]</a>&nbsp;<a href="?thread-index-fid-$comInfoItem[fid]-tid-$comInfoItem[tid].htm" title="$comInfoItem[subject]">$comInfoItem[subject]</a></li>
						<!--{else}-->
						<li><a href="?forum-index-fid-$comInfoItem[fid]-typeid1-$comInfoItem[typeid1].htm">[$comInfoItem[typename]]</a>&nbsp;<a href="?thread-index-fid-$comInfoItem[fid]-tid-$comInfoItem[tid].htm" title="$comInfoItem[subject]">$comInfoItem[subject]</a></li>
						<!--{/if}-->
						<!--{/loop}-->
					</ul>
				</div>
				<div class="boards">
					<ul>
						<!--{loop $blockBoardsArr[3] $boards}-->
						<!--{if $boards[fid] == 5}-->
						<li><a href="?forum-index-fid-$boards[fid].htm" title="$boards[fname]">[$boards[fname]]</a></li>
						<!--{else}-->
						<li><a href="?forum-index-fid-$boards[fid]-typeid1-$boards[typeid].htm" title="$boards[typename]">[$boards[typename]]</a></li>
						<!--{/if}-->
						<!--{/loop}-->
						<!--li class="more"><a href="http://www.newsmth.net/nForum/section/6" title="点击查看更多精彩版面">查看更多...</a></li-->
					</ul>
				</div>
			</div>
			<div class="b_section block mp_right" style="margin: 0px; width: 400px;">
				<a _pos="T5" class="textad" href="javascript:void(0)" target="_blank"></a>
				<h3><a href="?forum-index-fid-4.htm">系统与热点</a></h3>
				<div class="topics">
					<ul>
						<!--{loop $otherBlocksTopsArr[4] $sysHotItem}-->
						<li><a href="?forum-index-fid-$sysHotItem[fid]-typeid1-$sysHotItem[typeid1].htm">[$sysHotItem[typename]]</a>&nbsp;<a href="?thread-index-fid-$sysHotItem[fid]-tid-$sysHotItem[tid].htm" title="$sysHotItem[subject]">$sysHotItem[subject]</a></li>
						<!--{/loop}-->
					</ul>
				</div>
				<div class="boards">
					<ul>
						<!--{loop $blockBoardsArr[4] $boards}-->
						<li><a href="?forum-index-fid-$boards[fid]-typeid1-$boards[typeid].htm" title="$boards[typename]">[$boards[typename]]</a></li>
						<!--{/loop}-->
						<!--li class="more"><a href="http://www.newsmth.net/nForum/section/2" title="点击查看更多精彩版面">查看更多...</a></li-->
					</ul>
				</div>
			</div>
			<div class="mp_clear"></div>
			<!--div class="bb mp_left"></div>
			<div class="bb mp_right"></div-->
		</div>
		
		<div id="yezhu_map" class="block_yezhu">
			<h3><a href="?forum-index-fid-6.htm">业主地图</a></h3>
			<div>
				<ul class="newslist12px" style="padding: 5px 0px;">
					<!--{loop $blockBoardsArr[6] $boards}-->
					<li><a href="?forum-index-fid-$boards[fid]-typeid1-$boards[typeid].htm" title="$boards[typename]">[$boards[typename]]</a></li>
					<!--{/loop}-->
					<div style="clear:both;"></div>
				</ul>
			</div>
		</div>
	</div>
	
	<!--{hook index_thread_list_after.htm}-->
	
	<!--{hook index_index_stat_after.htm}-->
	
</div>

<!--{hook index_index_footer_before.htm}-->

<!--{include footer.htm}-->

<!--{require thread_list_js.inc.htm}-->

<script type="text/javascript">
$('#friendlink_img img').hover(function() {$(this).removeClass('xgrey')}, function() {$(this).addClass('xgrey')});
$('div.div div.body').find('div.hr:last').hide();// 隐藏最后一个 hr

// 鼠标背景变色
$('table.forum').bind('mouseover', function() {$('td:gt(0)', this).removeClass('bg1').addClass('bg2');});
$('table.forum').bind('mouseout', function() {$('td:gt(0)', this).removeClass('bg2').addClass('bg1');});

</script>

<script type="text/javascript">
var nums = [], timer, n = $$("idSlider2").getElementsByTagName("li").length,
st = new SlideTrans("idContainer2", "idSlider2", n, {
	onStart: function(){//设置按钮样式
		forEach(nums, function(o, i){ o.className = st.Index == i ? "on" : ""; })
	}
});
for(var i = 1; i <= n; AddNum(i++)){};
function AddNum(i){
var num = $$("idNum").appendChild(document.createElement("li"));
num.innerHTML = i--;
num.onmouseover = function(){
	timer = setTimeout(function(){ num.className = "on"; st.Auto = false; st.Run(i); }, 200);
}
num.onmouseout = function(){ clearTimeout(timer); num.className = ""; st.Auto = true; st.Run(); }
nums[i] = num;
}
st.Run();
</script>

<!--{hook index_index_end.htm}-->

</body>
</html>