	<table id="nav" cellpadding="0" cellspacing="0" style="margin-bottom: 4px; clear: both;">
		<tr>
			<td class="left"></td>
			<td class="center">
				<a href="./" class="icon icon-home"></a>
				<span class="sep"></span>
				<!--{hook common_nav_center.htm}-->
				<a href="?my-profile.htm">我的空间</a>
				<!--{loop $_nav $nav}-->
				<span class="sep"></span>
				<span>$nav</span>
				<!--{/loop}-->
			</td>
			<td class="center2"><!--{include header_user.inc.htm}--></td>
			<td class="right"></td>
		</tr>
	</table>
