<table cellpadding="0" cellspacing="4" width="96%" align="center">
	<tr valign="top">
		<td>
			<p style="line-height: 20px;"><span class="grey">　用户组：</span>$you[groupname]</p>
			<p style="line-height: 20px;"><span class="grey">注册时间：</span>$you[regdate_fmt]</p>
			<p style="line-height: 20px;"><span class="grey">最后活跃：</span>$you[lastactive_fmt]</p>
			<p style="line-height: 20px;"><span class="grey">在线状态：</span><!--{if $you[isonline]}--><b class="red">在线</b><!--{else}-->离线<!--{/if}--></p>
			<!--{hook you_info_td_1.htm}-->
		</td>
		<td width="30%">
			<p style="line-height: 20px;"><span class="grey">主题：</span><b style="font-size: 14px;">$you[threads]</b></p>
			<p style="line-height: 20px;"><span class="grey">帖子：</span><a href="?you-post-uid-$you[uid].htm" target="_blank"><b style="font-size: 14px;">$you[posts]</b></a></p>
			<p style="line-height: 20px;"><span class="grey">积分：</span><b style="font-size: 14px;">$you[credits]</b></p>
		<!--{if $_user[groupid] == 1 || $_user[uid] && $_user[uid] == $you[uid]}-->
			<p style="line-height: 20px;"><span class="grey">金币：</span><b style="font-size: 14px;">$you[golds]</b></p>
		<!--{/if}-->
			<!--{hook you_info_td_2.htm}-->
		</td>
		<td width="30%">
			<p style="line-height: 20px;"><span class="grey">精华：</span><b style="font-size: 14px;">$you[digests]</b></p>
			<p style="line-height: 20px;"><span class="grey">关注：</span><a href="?you-follow-uid-$you[uid].htm" target="_blank"><b style="font-size: 14px; text-decoration: underline;">$you[follows]</b></a></p>
			<p style="line-height: 20px;"><span class="grey">粉丝：</span><a href="?you-followed-uid-$you[uid].htm" target="_blank"><b style="font-size: 14px; text-decoration: underline;">$you[followeds]</b></a></p>
			<!--{hook you_info_td_3.htm}-->
		</td>
	</tr>
	
	<!--{hook you_info_tr_1_after.htm}-->
	
	<!--{if $_group[allowviewip] && $_group[groupid] < $you[groupid]}-->
	<tr>
		<td colspan="3" height="10"><hr /></td>
	</tr>
	<tr>
		<td>
			$you[email] 
		</td>
		<td colspan="2">
			<span class="grey">注册IP：</span>$you[regip] 
		</td>
	</tr>
	<!--{/if}-->
	
	<!--{hook you_info_tr_3_after.htm}-->
	
	<tr>
		<td colspan="3" height="10"><hr /></td>
	</tr>
	<tr>
		<td colspan="3" align="center">
			<!--{if $_user[uid] && $_user[uid] != $you[uid]}-->
			<input type="button" class="button smallblue ajaxdialog" href="?pm-ajaxlist-uid-$you[uid]-ajax-1.htm" ajaxdialog="{position: 'center', modal: false, cache: false}" value="短消息" />
			<!--{/if}-->
			<!--{if $_user[uid] && $_user[uid] != $you[uid]}-->
				<!--{if $you[followstatus] == 0}-->
					<input type="button" class="button smallblue ajaxtoggle" href="?follow-create-uid-$you[uid]-ajax-1.htm" value="加关注" href2="?follow-delete-uid-$you[uid]-ajax-1.htm" value2="取消关注" class2="button smallgrey ajaxtoggle" />
				<!--{elseif $you[followstatus] == 1}-->
					<input type="button" class="button smallgrey ajaxtoggle" href="?follow-delete-uid-$you[uid]-ajax-1.htm" value="取消关注" href2="?follow-delete-uid-$you[uid]-ajax-1.htm" value2="加关注" class2="button smallblue ajaxtoggle" />
				<!--{elseif $you[followstatus] == 2}-->
					<input type="button" class="button smallblue ajaxtoggle" href="?follow-create-uid-$you[uid]-ajax-1.htm" value="互相关注" href2="?follow-delete-uid-$you[uid]-ajax-1.htm" value2="取消互相关注" class2="button smallgrey ajaxtoggle" />
				<!--{elseif $you[followstatus] == 3}-->
					<input type="button" class="button smallgrey ajaxtoggle" href="?follow-delete-uid-$you[uid]-ajax-1.htm" value="取消互相关注" href2="?follow-delete-uid-$you[uid]-ajax-1.htm" value2="互相关注" class2="button smallblue ajaxtoggle" />
				<!--{/if}-->
			<!--{/if}-->
			
			<!--{hook you_info_follow_after.htm}-->
			
			<!--{if core::gpc('ajax')}-->
			<input type="button" class="button smallblue" value="关闭" id="user_profile_close_$you[uid]" />
			<!--{/if}-->
			
		</td>
	</tr>
	
	<!--{hook you_info_last_tr.htm}-->
	
</table>