<!--{include header.htm}-->

<link href="view/my.css" type="text/css" rel="stylesheet" />

<div class="width">

	<!--{include you_nav.inc.htm}-->

	<div class="left border shadow bg2">
		<!--{include you_menu.inc.htm}-->
	</div>
	
	<div class="right">
		<div class="div">
			<div class="header">他的关注</div>
			<div class="body">
				<!--{include my_follow.inc.htm}-->
			</div>
			<div class="footer"></div>
		</div>
		<div class="page" style="text-align: center;">$pages</div>
	</div>
</div>	

<!--{include footer.htm}-->

</body>
</html>