<style type="text/css">
#you_menu {padding: 0px; margin: 0px; margin-top: 8px; text-align: center;}
#you_menu li{list-style: none; margin-bottom: 8px;}
#you_menu li.checked{font-weight: 800;}
</style>
<div style="margin-top: 4px;  text-align: center;">
	<span class="avatar_big border" style="{if $you[avatar_big]}background-image: url($you[avatar_big]){/if}" id="avatar_menu"></span>
</div>
<div style="text-align: center; margin-bottom: 8px;" class="grey">
	$you[username]
</div>
<hr />
<ul id="you_menu">
	<!--{hook you_menu_start.htm}-->
	<li $_checked[you_index]><a href="?you-index-uid-$you[uid].htm">个人资料</a></li>
	<li $_checked[you_post]><a href="?you-post-uid-$you[uid].htm">参与主题</a></li>
	<li $_checked[you_follow]><a href="?you-follow-uid-$you[uid].htm">他的关注</a></li>
	<li $_checked[you_followed]><a href="?you-followed-uid-$you[uid].htm">他的粉丝</a></li>
	<!--{hook you_menu_end.htm}-->
</ul>