@CHARSET "UTF-8";
.ui-list-link > li:after{
	color:#848484;
}
.wst-se-address{
	margin:10px 0px;
}
.wst-se-address .infot{
	color:#59595c;
	font-size:0.165rem;
	height: 22px;
	line-height: 22px;
}
.wst-se-address .infob{
	font-size:0.158rem;
	position: relative;
	text-indent:1em;
	height: 23px;
	line-height: 23px;
}
.wst-se-address .infob i{
	position: absolute;
	left:-23px;
	top:-12px;
	color:#df0001;
}
.wst-se-address .infono{
	color:#f8a106;
	height: 36px;
	line-height: 36px;
}
.wst-se-sh{
	padding:0px 10px 6px 10px;
	margin:5px 0px;
	font-size: 0.158rem;
	background:#ffffff;
}
.wst-se-sh .shopn{
	padding:6px 0px 2px 0px;
}
.wst-se-sh .goods .img{
	float: left;
    width: 100%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: block;
}
.wst-se-sh .goods{
	padding:5px 0px;
	border-bottom: 1px solid #f1f1f1;
}
.wst-se-sh .goods .img a{
	width: 100%;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
.wst-se-sh .goods .img a img{
	max-width: 70px;
    max-height: 70px;
}
.wst-se-sh .name{
	padding:0px 5px;
}
.wst-se-sh .names{
	font-size: 0.16rem;
}
.wst-se-sh .spec{
	color: #a6a6a6;
}
.wst-se-sh .price,.wst-se-sh .number{
	text-align: right;
}
.wst-se-sh .remarks,.wst-se-sh .cost{
	padding:5px 0px;
}
.wst-se-sh .cost span{
	float: right;
	color: #de0202;
}
.wst-se-sh .remarks textarea{
	width:100%;
	height: 30px;
	padding: 5px;
}
.wst-se-sh .remarks textarea:focus{
	height:58px;
	border:1px solid #3bb4f2;
}
.wst-se-mode .mode{
	border-bottom: 1px solid #f1f1f1;
}
.ui-list li h4 {
    font-size: 15px;
}
.wst-se-mode{
	font-size: 0.158rem;
}
.wst-se-total{
	height: 38px;
    line-height: 38px;
    padding:0px 10px;
    font-weight: bold;
    font-size: 0.19rem;
}
.wst-se-total span{
	float: right;
	color: #de0202;
}
.wst-se-confirm .button{
	position: absolute;
	left:3%;
	bottom:2px;
	width: 93%;
	margin-bottom:6px;
	font-size: 0.185rem;
    height: 38px;
    line-height: 38px;
    color:#ffffff;
    background:#e00102;
    font-size: 0.18rem;
	border-radius:3px;
	border-bottom:1px solid #e00102;
}
.wst-se-confirm .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}
/*遮盖层*/
.wst-cover{
	position:fixed;
  	left:0px;top:0px;
 	background-color:#000;
  	width:100%;
  	height:100%;
  	filter:alpha(opacity=60);  /*设置透明度为60%*/
  	opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  	z-Index:9999;
  	display:none;
}
/*参数弹框*/
.wst-fr-box{
    position: fixed;
	z-index: 9999;
    left:0px;
	bottom: -226px;
	width:100%;
	min-height:40%;
    background-color: #f6f6f8;
	font-size: 0.15rem;
}
.wst-fr-box .title{
	position: relative;
	padding:6px 0px;
	background-color: #ffffff;
	border-bottom: 1px solid #f1f1f1;
}
.wst-fr-box .title span{
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 0.185rem;
}
.wst-fr-box .title i,.wst-cart-box .title i{
	position: absolute;
	right:5px;
	top:-2px;
	font-size: 27px;
}
.wst-fr-box .content{
	padding:8px 0px 50px 0px;
}
.wst-fr-box .button,.wst-cart-box .button{
	position: absolute;
	left:3%;
	bottom:4px;
	width: 93%;
	font-size: 0.185rem;
    height: 40px;
    line-height: 40px;
    color:#ffffff;
    background:#e00102;
	font-size: 0.18rem;
	border-radius:3px;
	border-bottom:1px solid #e00102;
}
.wst-fr-box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}
.wst-list-infose1{
	width:90%;
	padding-top: 8px;
    padding-bottom: 8px;
}
.wst-list-infose1 span{
	float:left;
	width:100%;
	font-size:0.18rem;
}
.ui-icon-push{
	float:right;
	width:32px;
	margin-top:-43px;
	font-size: 0.32rem;
}
.wst-se-line{
	padding:0px 10px;
}
.wst-se-line p{
	border-bottom:1px solid #EDEDED;
}
.wst-fr-invoice{
	padding:0px 10px;
	background: #ffffff;
	font-size:0.18rem;
}
.wst-fr-invoice textarea{
	width: 100%;
    height: 46px;
    padding: 2px;
}
.wst-fr-invoice textarea:focus{
	border:1px solid #3bb4f2;
}	
.wst-fr-score{
	padding-top:10px;
}
.wst-fr-score span{
	color:#e00102;
}
/* 发票信息层 */
.invoice_box{position: fixed;z-index: 9999;right:-999px;bottom: 0px;width:100%;min-height:40%;background:#f2f2f2;font-size: 0.15rem;top:0;}
.invoice_box .title,.wst-cart-box .title{position: relative;padding:6px 0px;border-bottom: 1px solid #f1f1f1;}
.invoice_box .title span{float: left;width: 100%;height: 26px;line-height: 26px;text-align: center;font-size: 0.185rem;}
.invoice_box .title i,.wst-cart-box .title i{position: absolute;right:5px;top:-2px;font-size: 27px;}
.invoice_box .content{background:#f2f2f2;overflow: scroll;min-height: 80%;}
.inv_ul{margin-right: 15px;padding: 0 15px;position: relative;width: inherit;float: left;}
.pdtb10{padding: 10px 0;}
.inv_chk{position: absolute;left: 0;}
.inv_item{padding: 15px 10px;background-color: #fff;}
.inv_tit{color: #232326;font-size: 14px;padding-left: 5px;}
.inv_hidebox{background-color: #fff;width: 100%;position: relative;display: none;}
.inv_head_input{border: 0;border-radius: 3px;padding: 8px 0 8px 10px;width: 100%;color: #232326;font-size: 13px;background: #f0f2f5;padding-right: 30px;}
#inv_headlist{display: none;position: absolute;z-index: 3;width: 100%;background-color: #fff;}
.inv_list_item{width: 100%;background-color: #f0f2f5;}
.inv_list_item li{padding-left: 10px;line-height: 35px;border-top: 1px solid #e0e0e0;-webkit-line-clamp: 1;}
.inv_code_input{border: 0;border-radius: 3px;padding: 8px 0 8px 10px;height: 35px;width: 100%;color: #232326;font-size: 13px;background: #f0f2f5;padding-right: 30px;display: -webkit-box;}
.inv_code_input::-webkit-input-placeholder{color:#f23030}
.inv_code_input::-moz-placeholder{color:#f23030}
.inv_code_input::-ms-input-placeholder{color:#f23030}
.inv_code_inputbox{margin-top:10px}
.inv_line{padding-bottom: 5px;border-bottom: 1px solid  #ccc;}
.none_float{float:inherit}
.inv_tip{padding: 15px 10px;}
.inv_tip li i{font-style: normal;font-size: 20px;font-weight: bold;margin-right: 5px;}
.invoice_box .button{position: absolute;left:3%;bottom:4px;width: 93%;font-size: 0.185rem;height: 40px;line-height: 40px;color:#ffffff;background:#e00102;font-size: 0.18rem;border-radius:3px;border-bottom:1px solid #e00102;}
.invoice_box .button:not(.disabled):not(:disabled):active,.wst-cart-box .button:not(.disabled):not(:disabled):active{color:#fff0f0;background:#f52f30;background-clip: padding-box;}