.boxShadow {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
}
.boxShadowBorder {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
.forum-first-block,
.forum-last-block,
.forum-middle-block {
  padding: 15px 15px;
  margin-left: -15px;
  word-break: break-all;
}
.fourm-top,
.fourm-posts {
  background-color: #ffffff;
  margin-bottom: 1em;
  border-radius: 0.2em;
}
.fourm-top h2,
.fourm-posts h2 {
  margin: 0 10px 10px 10px;
}
.fourm-top .author,
.fourm-posts .author {
  margin-bottom: 0;
}
.fourm-top hr,
.fourm-posts hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-first-block {
  margin-left: -15px;
}
.forum-last-block {
  margin-right: -30px;
}
.forum-list-title-link {
  font-size: 1.2em;
  color: #333333;
}
.forum-list-title-link:hover {
  text-decoration: none;
}
.forum-list-hr {
  margin-left: -15px;
  margin-right: -15px;
}
.forum-list-no-hr {
  padding: 10px;
}
/*通用类*/
.forum_bg {
  background: url('../images/bg.png');
}
.forum_block_border {
  border: #ddd 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
}
.forum_block_title {
  background: #F5F5F5;
  padding: 8px 5px;
  color: #7A7A7A;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.forum_order_select {
  border-radius: 4px;
  padding: 2px 2px;
  font-size: 14px;
}
/*通用类end*/
.forum_header {
  padding-bottom: 20px;
  vertical-align: middle;
  background: url(../images/line.png);
  font-size: 16px;
  position: relative;
  overflow: visible;
  min-height: 195px;
  margin-bottom: 10px;
}
.forum_header a {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: #eeeeee;
  border-radius: 3px;
}
.forum_header .forum_left_tip {
  position: absolute;
  left: -18px;
  background: #008CC9;
  top: 50%;
  color: white;
  width: 18px;
  font-size: 12px;
  margin-top: -18px;
  padding: 4px;
}
.forum_logo {
  margin-top: 75px;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 8px 15px !important;
}
.forum_logo_i {
  margin-top: 35px;
  background: url('../images/bg.png');
  display: inline-block;
  width: 250px;
  height: 50px;
}
.forum_post_btn {
  height: 38px;
  width: 100%;
  font-size: 18px;
}
.forum_list_forum {
  text-align: center;
}
.forum_list_forum a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 10px;
  width: 80%;
  background: white;
  margin-bottom: 10px;
}
.forum_list_forum a:hover {
  background: #3C9B67;
  color: white;
}
.forum_list_forum .active {
  background: #3C9B67;
  color: white;
}
.hot_post {
  background: white;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.hot_post dl {
  margin-bottom: 0;
}
.hot_post dt:last-child {
  border: none;
}
.hot_post dt {
  margin: 10px;
  font-weight: 1em;
  line-height: 1.7em;
  margin-bottom: .8em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.hot_post dt .hot_num {
  padding: 0 0.5em;
  font-style: normal;
  border-radius: 0.3em;
  font-size: 1em;
  display: inline-block;
  font-weight: normal;
}
.hot_post dt a {
  color: #333;
  font-weight: normal;
}
.hot_post dt a:hover {
  color: #999;
}
.forum_forum_name {
  font-size: 1.2em;
}
/*帖子详情页*/
.post_content .forum_block_border {
  border-top-left-radius: 0;
}
.post_content h2 {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}
.post_content .post_line {
  margin: 15px -15px;
}
.post_content .ribbion-green {
  position: absolute;
  right: 0px;
  background: #00ab84;
  width: 50px;
  top: 0;
  height: 25px;
  text-align: center;
  padding-left: 0;
  vertical-align: middle;
  color: white;
  font-size: 12px;
  line-height: 25px;
}
.post_content .post_title h2 {
  margin-bottom: 0;
}
.post_content .sub_title {
  color: #ccc;
  font-size: 14px;
}
.post_content .forum_left_operation {
  position: absolute;
  left: -43px;
  background: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  top: -16px;
}
.post_content .forum_left_operation .btn {
  padding: 10px;
  padding-bottom: 0;
}
.post_content .forum_left_operation .btn:active {
  box-shadow: none;
  background: transparent;
}
.post_content .forum_left_operation .btn:hover .forum_reply {
  background-position: 20px 0px !important;
}
.post_content .forum_left_operation .btn:hover .forum_edit {
  background-position: 18px 77px !important;
}
.post_content .forum_left_operation .btn i {
  background: url(../images/tiezi.png);
  display: inline-block;
  width: 19px;
  height: 19px;
}
.post_content .forum_left_operation .forum_uncollect {
  background-position: 20px 39px !important;
}
.post_content .forum_left_operation .forum_collect {
  background-position: 0px 39px !important;
}
.post_content .forum_left_operation .forum_reply {
  background-position: 0px 0px !important;
}
.post_content .forum_left_operation .forum_edit {
  background-position: -2px 77px !important;
}
.post_content .main_content {
  min-height: 250px;
  word-break: break-all;
  overflow: hidden;
}
/*帖子详情页*/
/*帖子列表*/
.forum_order .dropdown-menu {
  min-width: 94px !important;
}
.forum_order .dropdown-menu > li > a {
  padding: 3px 18px;
}
/*帖子列表end*/
.forum_type_title {
  border-left: 3px solid #03ae87;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  border-radius: 0;
  font-size: 16px;
}
.one_forum {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #eee;
  border-radius: 5px;
  background: #fff;
}
.one_forum .admin,
.one_forum .admin a {
  color: white;
  text-shadow: 2px 3px 3px #333333;
}
.one_forum .forum_bg {
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.one_forum .logo {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.one_forum h3 {
  margin-top: 8px;
  margin-bottom: 10px;
}
.one_forum h3 a {
  font-size: 16px;
  color: white;
  text-shadow: 2px 3px 3px #333333;
}
.one_forum .body {
  padding: 10px;
}
