.dux-card {
  margin: 10px;
  .card-icon {
    display: table-cell;
    width: 50px;
    text-align: center;
    background: #f5f5f5;
    font-size: 1.4rem;
    vertical-align: middle;
    color: #666;
  }
  .card-info {
    display: table-cell;
    padding: 10px;
    .more {
      float: right;
      color: $color-main;
    }
  }
  .card-btn {
    padding-top: 10px;
    text-align: right;
  }
}

.dux-box {
  background: #fff;
  margin-top: 10px;
  color: $color-text;
  .box-header {
    display: flex;
    padding: 0 10px;
    line-height: 40px;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    font-size: 1.6rem;
    .title {
      color: $color-text;
      vertical-align: middle;
      flex: 1;
      img {
        position: relative;
        top: -2px;
        height: 13px;
        margin-right: 5px;
      }
    }
    .more {
      font-size: 1.4rem;
      vertical-align: middle;
      a {
        display: block;
        color: $color-text-secondary;
        @include icon-arrow-right;
      }
    }
    &.a {
      cursor: pointer;
    }
  }
  .box-header-color {
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;

  }
  .box-content {
    padding: 10px;
    .title {
      font-size: 1.6rem;
    }
    p, small {
      color: #777;
      font-size: 1.4rem;
    }
  }
  .box-foot {
    display: block;
    padding: 10px 10px;
    border-top: 1px solid #eee;
  }
}

.dux-box-header {
  background: $color-main;
  color: #fff;
  padding: 10px 20px;
  h1 {
    font-size: 1.6rem;
    margin: 0;
    color: #fff;
  }
  i {
    margin-right: 5px;
    font-size: 1.4rem;
  }
  p {
    line-height: 25px;

  }
}
.dux-box-address {
  background: #fff;
  background-image: url("../images/address-border.png");
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 10px;
  i {
    color: $color-main;
  }
  p {
    color: $color-text-secondary;
  }
  > a{
    display: block;
    padding-right: 20px;
    @include icon-arrow-right;
  }
}

.dux-box-address-fixed {
  height: 65px;
  .dux-box-address {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;

  }
}

.dux-panel {
  color: #fff;
  text-align: center;
  .num {
    font-size: 3rem;
  }
  .panel-header {
    padding: 20px 10px;
    h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      color: #fff;
    }
  }
  .panel-action {
    display: flex;
    padding: 5px 10px;
    background: #ffffff;
    border-bottom:1px solid #ccc;
    li {
      flex: 1;
      padding: 5px 0;
      a {
        padding: 2px 0;
        display: block;
        border-right: 1px solid rgba(0, 0, 0, .2);
      }
      &:last-child {
        a {
          border-right: none;
        }
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

.dux-panel-primary {
  .panel-header {
    background: $color-main;
  }
  .panel-action {
    i {
      color: $color-main;
    }
  }
}

.dux-panel-warning {
  .panel-header {
    background: $color-warning;
  }
  .panel-action {
    i {
      color: $color-warning;
    }
  }
}

.dux-panel-danger {
  .panel-header {
    background: $color-danger;
  }
  .panel-action {
    i {
      color: $color-danger;
    }
  }
}

.dux-panel-success {
  .panel-header {
    background: $color-success;
  }
  .panel-action {
    i {
      color: $color-success;
    }
  }
}

.dux-box-action {
  height: 55px;
  .action {
    text-align: right;
    padding: 10px;
    background: #e5e5e5;
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    .dux-br {
      display: none;
    }
    .uk-button-default {
      background: #fff;
      border: 1px solid #ccc;

    }
  }
}

