
.dux-tabs-fixed {
  height: 40px;
  .dux-tabs {
    position: fixed;
    width: 100%;
  }
}
.dux-tabs {
  background: #fff;
  text-align: center;
  z-index: 1;
  li {
    background: #fff;
    &.active {
      a {
        color: $color-main;
        border-bottom:2px solid $color-main;
      }
    }
    a {
      border-bottom:1px solid #ddd;
      display: block;
      padding: 8px;
    }
  }
}
.dux-tabs-border {
  border-top:1px solid #ddd;
}

.dux-pages {
  padding: 8px 0;
  background-color: #FFF;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #e6e6e6;
  .prev,.number,.next {
    width: 32%;
    float: left;
    text-align: center;
    color: $color-main;
    margin: 0;
    padding: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    a {
      display: block;
      &:hover,&:focus,&:active {
        color: $color-main;
      }
    }
  }
  .number {
    position: relative;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    select {
      margin: 0;
      line-height: 1.2;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      text-align: center;
    }
  }
}



.dux-timeline {
  padding: 20px;
  font-size:1.4rem;
  dl, dt, dd {
    margin: 0;
    padding: 0;
  }

  dl {
    position: relative;
    border-left: 1px solid #ccc;
    min-height: 30px;
    padding-bottom: 15px;
    &:first-child {
      color: $color-main;
      &:before {
        border-color: $color-main;
      }
    }
  }

  dt {
    padding-left: 20px;
    position: relative;
    font-weight: normal;
    color: #777;
    font-size:1.2rem;
  }

  dl:before {
    position: absolute;
    content: '';
    border: 2px solid #ccc;
    background-color: #fff;
    display: inline-block;
    width: 13px;
    height: 13px;
    left: -7px;
    border-radius: 50%;
    top: 5px;
  }

  dd {
    padding-left:20px;
    line-height: 22px;
  }

}

.dux-select {
  label {
    margin: 0;
    padding: 0;
    font-weight: normal;
	border-bottom: none !important;
	background: #fff !important;
	padding: 0 !important;
	border: 0 !important;
    display: block;
  }
  a {
    margin-top: 5px;
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #ccc;
    color: #666;
    margin-right:5px;
    position: relative;
    &.active {
      border: 1px solid $color-main;
      color: $color-main;

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-top: 5px solid red;
        border-left: 5px solid transparent;
        position: absolute;
        right: 0;
        top:0;
      }
    }
  }
}


.dux-tip {
  margin: 10px 0;
  .tip-header {
    padding: 10px;
    background: #fff;
    h1 {
      margin: 0;
      font-size:1.7rem;
      font-weight: 500;
      i {
        color: #fff;
        font-size:1.4rem;
        border-radius: 50%;
        margin-top: 2px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        margin-right:5px;
        &.success {
          background: $color-success;
        }
        &.warning {
          background: $color-warning;
        }
        &.danger {
          background: $color-danger;
        }
      }
    }
    p {
      margin: 0;
      margin-top:10px;
      color: $color-text-secondary;
    }

  }
  .tip-action {
    padding: 10px;
    padding-top: 0;
    margin-top:10px;
    a {
      margin-top: 1rem;
    }
  }
}

.dux-tip-bg {
  
  .tip-header {
    &.success {
      background: $color-success;
    }
    &.warning {
      background: $color-warning;
    }
    &.danger {
      background: $color-danger;
    }
    h1 {
      i {
        background: #fff !important;
        &.success {
          color: $color-success;
        }
        &.warning {
          color: $color-warning;
        }
        &.danger {
          color: $color-danger;
        }
      }
    }
    p {
      color: #fff;
    }
  }

  color: #fff;
}

.dux-img-alert {
  text-align: center;
  display: block;
  margin-top: 30%;

  .image {
    padding: 15px;
    text-align: center;
    background: $color-main;
    border-radius: 50%;
    display: inline-block;
    img {
      width: 32px;
      height: 32px;
    }
  }

  p {
    margin-top: 20px;
    color: $color-text-secondary;
    font-size: 1.6rem;
  }
  .action {
    margin-top: 10px;
  }
}



.dux-icon-alert  {
  text-align: center;
  display: block;
  h1 {
    font-size:2rem;
    font-weight: 500;
    margin: 0;
    margin-top:20px;
    margin-bottom: 10px;
    color: $color-text;
  }
  p {
    color: $color-text-secondary;
  }
  i {
    font-size:6rem;
    background: #ddd;
    width: 100px;
    height: 100px;
    line-height:100px;
    border-radius: 50%;

  }
  form {
    margin-top: 2rem;
  }
}

.dux-icon-alert-success {
  i {
    background: $color-success;
    color: #fff;
  }
}

.dux-icon-alert-warning {
  i {
    background: $color-warning;
    color: #fff;
  }
}

.dux-icon-alert-danger {
  i {
    background: $color-danger;
    color: #fff;
  }
}

.dux-alert {
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px;
}

.dux-alert-success {
  background: $color-success;
  border-color: $color-success;
  color: #fff;
}
.dux-alert-warning {
  background: $color-warning;
  border-color: $color-warning;
  color: #fff;
}

.dux-alert-danger {
  background: $color-danger;
  border-color: $color-danger;
  color: #fff;
}


.dux-bank-card {
  border-radius: 5px;
  color: #fff;
  display: flex;
  padding: 10px 20px;
  margin-bottom:10px;
  .card-image {
    text-align: center;
    img {
      padding: 2px;
      border-radius: 50%;
      background: #fff;
      width: 40px;
      height: 40px;
    }
    
  }
  .card-info {
    flex: 1;
    padding-left:10px;
    .info-title {
      font-size:1.6rem;
    }
    .info-name {
      font-size:1.4rem;
    }
    .info-number {
      margin-top:10px;
      font-size:1.6rem;
    }
  }
  .card-action {
    padding-top:5px;
    a {
      padding: 2px 10px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 2px;

    }

  }
}


.dux-counter {
  display: inline-block;
  span, input {
    border: 1px solid #c7c6c6;
    color: #9d9d9d;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 1.4rem;
    line-height: 26px;
    height: 26px;
  }
  span {
    width: 24px;
    overflow: hidden;
    line-height: 20px;
    font-size: 20px;background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 10px;
    &:first-child {
      border-radius: 2px 0  0 2px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAATElEQVRYR+3VwQ0AIAhDUZiVuTqrLqCeiOXwGQDoCwkZ5krz/GABBBBAAAEE5gpIWp2fsqqOYa8C9gU60796zb0BBBBAAAEEEPglsAETzgghDk8+JQAAAABJRU5ErkJggg==");

    }
    &:last-child {
      border-radius: 0 2px 2px 0 ;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAoUlEQVRYR+2XsQ0CMQxF/WdhjmuQEEOgq+IprkcMgV0hMcRJdKzBLB+BrqCgSa4ISD91vv3zXHwH1vmgtX9mHkj6oj+7+7Wl1hoDk5kdX01JTu5+kgEREAEREIH/JRARI4BN5QsGM9suWXADcK/Rk3y4++UdRhExA9jVFPi8S9KA6lybSyn7nzHQdwQt6DNT+4AIiIAIiIAI9P2ctgTYN80TV/v6IUFgBjAAAAAASUVORK5CYII=");

    }

  }
  input {
    color: #9d9d9d;
    border: solid #c7c6c6;
    border-width: 1px 0 1px 0;
    width: 50px;
    border-radius: 0;
    &:focus, &:active {
      outline: none;
    }
  }
}
.dux-footer-action-fixed {
  height: 45px;
  .dux-footer-action {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

}
.dux-footer-action {
  display: flex;
  background: #fff;
  border-top: 1px solid #eee;
  .action-info {
    padding-left: 10px;
    flex: 1;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 50px;
    vertical-align: middle;
    img {
      vertical-align: middle;
    }
    small {
      color: $color-text-secondary;
    }
    input[type=checkbox] {
      margin-right: 10px;
    }
  }
  .action-btn {
    .uk-button {
      padding: 0 10px;
      line-height: 48px;
      width: 100px;
      border-radius: 0;
    }
  }
}

.dux-footer-action-border {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.dux-footer-action-sm {
  .action-info {
    line-height: 45px;
  }
  .action-btn {
    .uk-button {
      padding: 12px 10px;
    }
  }
}



.dux-image-upload {
  .prs {
    display: none;
  }
  .img {
    border-radius: 10px;
    border: 1px solid #ddd;
    max-width: 100%;
    height: 105px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      vertical-align: middle !important;
    }

  }
  .upload {
    display: block;
    position: relative;
    &.loading {
      .progress {
        display: block;
      }
      .icon {
        display: none;
      }

    }
  }
  .icon {
    background: rgba($color-main, .8);
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    font-weight: bold;

  }
  .info {
    color: #999;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 5px;
  }
  .progress {
    display: none;
    background: rgba(0,0,0, .5);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 105px;
  }
}
