.dux-coupon-list {
  li {
    padding: 10px;
  }
}

.dux-coupon-box {
  &:active, &:hover {
    color: inherit;
  }
  &.dux-coupon-failure {
    border-color: #ccc;
    .info {
      .price {
        color: #777;
      }
    }
    .date {
      .tip {
        color: #666;
      }
    }
  }
  border: 1px solid #ddd;
  border-bottom: 5px solid $color-main;
  display: flex;
  background: #fff;
  position: relative;
  color: #333;
  .info {
    flex: 1;
    padding: 10px;
    .price {
      font-size: 3rem;
      color: $color-main;
      border-bottom: 1px dotted #ccc;
      small {
        font-size: 1.4rem;
      }
    }
    .name {
      padding: 10px 0;
      padding-bottom: 0;
      height: 55px;
      overflow: hidden;
    }

  }
  .date {
    border-left: 1px solid #ddd;
    width: 130px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-top: 20px;
    padding-right: 20px;
    .tip {
      font-size: 1.4rem;
      color: $color-main;
      padding-bottom: 10px;
    }
    .failure {
      font-size:1.6rem;
      color: #777;
      padding-top:36px;
    }
  }
  .icon {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 3rem;
    color: #ccc;

  }
}
