.dux-menu {
  li {
    line-height: 45px;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    position: relative;
    a {
      padding: 0 10px;
      display: block;
      &:hover,&:active {
        background: #f5f5f5;
      }
      -webkit-tap-highlight-color: rgba($color-main,0.2);
      img {
        vertical-align: text-bottom;
      }

    }
    small {
      font-size:1.4rem;
      color: #777;
    }
    label {
      padding: 0 10px;
      &.am-radio {
        padding-left: 30px;

      }
    }
    &:nth-child(1) {
      .list-icon {
        color: #ec841e;
      }
    }
    &:nth-child(2) {
      .list-icon {
        color: #dc3b1f;
      }
    }
    &:nth-child(3) {
      .list-icon {
        color: #3073d6;
      }
    }
    &:nth-child(4) {
      .list-icon {
        color: #09a61f;
      }
    }
    &:nth-child(5) {
      .list-icon {
        color: #7420be;
      }
    }

    .list-icon {
      margin-right: 5px;
      font-size: 1.4rem;
      width: 20px;
      text-align: center;
    }
    .more {
      float: right;
      i {
        font-size: 2rem;
        color: #777;
      }
    }
  }
}

.dux-pro-list {
  .dux-pro-item {
    border-bottom: 1px solid #eee;
  }
}

.dux-pro-item {
  vertical-align: top;
  margin-bottom: 10px;
  background: #fff;
  > a {
    display: block;
  }
  display: flex;
  .item-radio {
    padding: 0 10px;
    padding-right: 0;
    height: 110px;
  }
  .item-img {
    vertical-align: top;
    padding: 10px;
    padding-right: 0;
    img {
      border: 1px solid #ddd;
      padding: 3px;
    }
    a {
      display: block;
      -webkit-tap-highlight-color: rgba($color-main,0.2);
    }

  }
  .item-info {
    flex: 1;
    padding: 10px;
    vertical-align: top;
    word-break: break-all;
    width: 100px;
    .title {
      color: #333;
      max-height: 45px;
      line-height: 20px;
      overflow: hidden;
      font-size: 1.6rem;
      a {
        display: block;
        -webkit-tap-highlight-color: rgba($color-main,0.2);
      }
    }
    p {
      color: #777;
    }
    .select {
      background: #f3f5f6;
      padding-left: 10px;
      padding-right: 20px;
      position: relative;
      display: block;

      &::after {
        content: ' ';
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAB1ElEQVRoQ+2WPU7DMBTH3/NFuAdSW9qqB0CiN4g7cQU2FiQGBiSC4+QY3ALEwgADEkMHEEeoYxQpkdIoIYmfnbSSO0b16+//8eIiHPkHj5wfvICxE/QJ+ASIDvgKEQ0kH/cJkC0kDvAJEA0kH99LgHP+pLW+klI+kyc7GLDZbNYAMBNCXBbj9wQEQXCBiI+IuBJCvDhgMB7JOT9HxFhrvYii6LVWQPbwEEXk8EJrvSrDZ7y1S3xIIkrwZ1EUvVUjbHwLHYKINvjGBAqVY4rI4AHgAQCWdc437kA1ojFEFPBKqVmSJO//bX6ni2xIEX3gWytUVj6EiBz+Xim1aHO+c4WGElGCnyRJ8tn1wuhUIdciTOF7VciViPxVebfb7eZ9nDeqkG0RBbxSahrH8VfX2pS/17tCtkTk8LfZwprCG1eIKqKAZ4xNwzDcmjhPrpCpCJvwVhLo87cjh79hjM2pzltNoIuIAj5N04mU8ptSG2tLXAdRd2O7grdaoaad0FqfIOJ1mqYLm847qVBVBGNMAMCWMbYMw/DHVm2cVqg8nHN+iogfQohfF/DOKuQKtm4u6SYeErTpt7yAsVPwCfgEiA74ChENJB/3CZAtJA7wCRANJB//A7uaAUCsZSMHAAAAAElFTkSuQmCC");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 5px;
        top: 3px;
        display: block;
        width: 16px;
        height: 16px;
      }

    }
  }
  .item-other {
    flex: 1;
    width: 90px;
    text-align: right;
    display: table-cell;
    padding: 10px;
    padding-left: 0;
    vertical-align: top;
    font-size: 1.4rem;
  }
}

.dux-order-list {
  .list-box {
    background: #fff;
    padding: 10px 15px;
    border-left:none;
    border-right:none;
  }
  .list-box-border {
    border: 1px solid #ddd;
  }
  .list-header {
    padding: 10px 15px;
    color: lighten($color-text-secondary, 20%);
    .header-name {
    }
    .header-info {
      i {
        margin-right:5px;

      }
    }

  }
  .list-body {
    .body-header {
      border-bottom:1px solid #ddd;
      padding-bottom:10px;
      .header-name {
        line-height:44px;

      }
      .header-info {
        text-align: right;
        line-height:22px;
        font-size: 1.6rem;
        p {
          color: lighten($color-text-secondary, 20%);
          font-size:1.4rem;

        }
      }
    }

    .body-images, .body-items {
      .item-img {
        background-image: url("data:application/octet-stream;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHtJREFUeNrk0z0OgDAIhuH+XMJw/7M1XsKgGG2qQgf4NllYyJMOfTMzJ21aa6tsIlrSZI677bqrsgsSU8EI9gGj2ANEYB1EYSeIxPoLUZjcZesfejDzH3oxuStIbFaKC7NKcWNaKSHsXUoYG0uBYHcpMGwspf6nlF2AAQDfXKiQ9cotVQAAAABJRU5ErkJggg==");
        position: relative;
        height: 75px;
        width: 75px;
        img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: auto;
          max-width: 75px;
          max-height: 75px;
        }
      }

    }
    .body-items {
      li {
        padding: 10px 0;
        display: flex;
        .item-img {
          margin-top:5px;
        }
        .item-info {
          flex: 1;
          width: 100px;
          padding-left:10px;
          .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1.6rem;
          }
          a {
            color:$color-text;
          }
          p {
            font-size:1.4rem;
            color: lighten($color-text-secondary, 20%);
          }
          .info {
            margin-top:5px;
            color: $color-text;
            font-size:1.6rem;
          }
        }
      }
      .item-action {
        text-align: right;
        margin-top:5px;
        font-size:1.4rem;
        .uk-button {
        }
      }
    }

    .body-images {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0;
      li {
        padding: 4px;
        .item-img {
        }
      }
    }
  }
  .list-footer {
    border-top:1px solid #ddd;
    padding: 10px 0;
    text-align: right;
    color: $color-text-secondary;

  }
  .list-action {
    border-top:1px solid #ddd;
    padding-top:10px;
    text-align: right;
    .dux-br {
      display: inline-block;
    }

    
  }

}

.dux-input-list {
  padding: 10px;
  padding-bottom: 0;
  a,input {
    display: block;
    height: 40px;
    padding: 0;
    border: 1px solid #eee;
    margin: 0 1.5%;
    margin-bottom:10px;
    width: 30%;
    float: left;
    text-align: center;
    line-height: 40px;
    background: #fff;
    border-radius: 0;
    &.active {
      border: 1px solid $color-main;
      color: $color-main;
    }
    &:active,&:focus {
      outline: none;
    }
  }
}

.dux-type-list {
  padding: 0 20px;
  li {
    border-bottom:1px solid #ddd;
    font-size: 1.6rem;
    &:last-child {
      border-bottom: none;
    }
    label {
      display: block;
      margin: 0;
      padding: 10px 0;
      input[type=checkbox], input[type=radio] {
        margin-left: 0;
      }
    }
    p {
      font-size: 1.2rem;
      color: $color-text-secondary;
    }
  }
}


.dux-images-list {
  margin-bottom:10px;
  column-count: 2;
  column-gap:10px;
  column-span:all;
  padding: 0 10px;
  li {
    background: #fff;
    margin-top:10px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    .img {
      img {
        width: 100%;
      }
    }
    .title {
      font-size:1.4rem;
    }
    .price {
      color: $color-main;
    }
  }
}

.dux-upload-list {
  flex-wrap: wrap;
  li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    a {
      padding: 2px;
      display: block;
      border: 1px solid #ddd;
      text-align: center;
      vertical-align: middle;
      .prs {
        vertical-align: middle;
      }
    }
    img {
      vertical-align: middle !important;
      width: 56px;
      height: 56px;
    }
    .close {
      position: absolute;
      display: block;
      z-index: 5;
      right: 0;
      top: 0;
      color: #fff;
      background: rgba(0, 0, 0, .5);
      width: 12px;
      height: 12px;
      line-height: 12px;
      font-style: normal;
      cursor: pointer;
    }
  }
  .add-img {
    background: #fff url(../images/ico_add.png) no-repeat center;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    .prs {
      color: #fff;
      background: rgba(0, 0, 0, .5);
      font-weight: normal;
      padding: 2px 5px;
      border-radius: 5px;

    }
  }
}


.dux-list {
  background: #fff;
  margin-bottom:10px;
  li {
    margin: 0 !important;
    &:first-child {
      border-top:none;
    }
    border-left: none;
    border-right: none;
    >.am-badge{
      margin-top:10px;
      margin-right:10px;
    }
    .title {
      font-size:1.6rem;
    }
    a {
      padding: 0;
    }
    & > a {
      display: block;
      padding: 10px;
      position: relative;
      -webkit-tap-highlight-color: rgba($color-main,0.2);
    }
  }
  p {
    color: #777;
    font-size:1.4rem;
  }
}


.dux-panel-list {
  background: #fff;
  margin-bottom:10px;
  dl {
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: table;
    padding: 10px;
    dt {
      display: table-cell;
      width: 100px;
      color: #777;
      font-weight: normal;

    }
    dd {
      display: table-cell;
      text-align: right;
      color: #000;
    }
  }
}

.dux-row-list {
  li {
    display: flex;
    padding: 2px 0;
    >* {
      flex: 1;
    }
    p  {
      color: $color-text-secondary;
    }
  }
}

.dux-menu-list {
  background: #fff;
  li {
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    a {
      padding: 10px 10px;
      display: flex;
      -webkit-tap-highlight-color: rgba($color-main,0.2);
      &.active {
        color: $color-main;
      }
    }
    .title {
      vertical-align: middle;
      flex: 1;
      width: 100px;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
      color: $color-text-secondary;
    }
    .more {
      vertical-align: middle;
      font-size: 1.4rem;
      line-height: 1.8;
    }
    .more-right {
      @include icon-arrow-right;
    }
    &.list-interval {
      background: #f4f4f4;
      padding: 5px 10px;
    }
  }
}

.dux-info-step {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  .step-item {
    background: #fff;
    border: 1px solid #eee;
    font-size:1.4rem;
    color: #333;
    text-align: center;
    padding: 10px;
    float: left;
    width: 120px;
    margin: 15px 15px;
    &.active {
      background: $color-main;
      color: #fff;
    }
  }
  em {
    position: absolute;
    font-style: normal;
    text-align: center;
    color: #ccc;
    &:nth-of-type(1) {
      left: 145px;
      top: 20px;
      &:before {
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        content: "\f178";
        position: absolute;
        bottom: -10px;
        left: -2px;
      }
    }
    &:nth-of-type(2) {
      left: 240px;
      top: 65px;
      &:before {
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        content: "\f175";
        position: absolute;
        right: -10px;
        top: 3px;
      }
    }
    &:nth-of-type(3) {
      left: 145px;
      top: 95px;
      &:before {
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        content: "\f177";
        position: absolute;
        bottom: -10px;
        left: -5px;
      }
    }
    &:nth-of-type(4) {
      left: 45px;
      top: 140px;
      &:before {
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        content: "\f175";
        position: absolute;
        right: -10px;
        top: 3px;
      }
    }
    &:nth-of-type(5) {
      left: 145px;
      top: 170px;
      &:before {
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        content: "\f178";
        position: absolute;
        bottom: -10px;
        left: -2px;
      }
    }


  }

}