.wst-container{width:1200px;margin:0 auto;}
input[type=text],input[type=password]{width:175px !important;}
.wst-fred {color: #df2003;}
/**支付方式**/
.pay-box{border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-top:1px solid #eeeeee;padding:5px 0px 10px 5px;}
.pay-boxs{padding:10px 0px 5px 5px;}
.pay-box ul{padding-left:15px;}
.pay-box ul li{width:1185px;}
.pay-box .label{width:200px;float:left;height:30px;line-height:30px;}
.pay-box .txt{height:auto;line-height:30px;width:985px;float:left;color:#999999;}
.pay-sbox{padding:5px 0px;}
.pay-sbox-head{border-bottom: 2px solid #ddd;line-height:35px;}
.pay-tip1{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -10px;background-size: cover; }
.pay-tip2{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -71px;background-size: cover; }
.pay-tip3{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -132px;background-size: cover; }
.pay-sbox .qrcode-box{min-height: 300px;height: auto;}
.pay-sbox .tips-box{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .qrcode-box .pbox{text-align: center;margin-top: 10px;font-weight: bold;}
.pay-sbox .wst-qrcode{width:260px;height:260px;text-align:center;margin:0 auto;}
.pay-sbox .wst-qrcode img{width:260px;height:260px;}
.pay-sbox .bnt-box{line-height:35px;font-weight: bold;line-height:50px; margin-left: 170px;}
.pay-sbox .pay-type{    text-align: right; float: left; width: 150px; height: 40px;line-height: 40px;}
.pay-sbox .pay-list{text-align: left;font-weight: bold;min-height: 30px; margin: 5px 0px;}
.pay-sbox .succ-box{text-align: center;padding: 50px;}
.wst-payCode-weixinpays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-weixinpays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.pay-sbox{border:1px solid #eeeeee;padding:5px 0px;}
.pay-sbox .balance-box{min-height: 300px;height: auto;}
.pay-sbox .balance-box .pbox{text-align: center;padding-top: 40px;font-weight: bold;}
.pay-sbox .balance-box .pbox2{text-align: center;padding-top: 10px;font-weight: bold;}
.pbox-tip{color:#0ae;margin-left:10px;}
.pay-btn{background: #eb5f43 none repeat scroll 0 0;border: 1px solid #d33110;border-radius: 3px;color: #ffffff;cursor: pointer;outline: medium none;}
.wst-wallet-box{border:1px solid #ddd;margin:10px;padding:5px;line-height: 35px;height:50px;}
.wst-wallet-box .wst-wallte-item{background:url("../img/icon_qianbaoyue.png") no-repeat;padding-left:30px;height:30px;margin-top:5px;float:left;}
.charge-money{font-size:18px;}
.charge-alone{height:30px; margin: 5px 0px;}
.charge-doub{padding-top: 8px;}
.charge-othermoney{width:80px;}
.j-charge-money{display: none;}
.j-show-box,.j-edit-box,.j-list-box,.wst-list-box{padding:0px;}
.j-list-box li{height:40px;line-height:40px;}
.j-edit-box .rows{width:auto;height:auto;}
.j-edit-box .label{float:left;width:120px;text-align:right;padding:2px 0px 2px 0px;}
.j-edit-box .field{float:left;padding:2px 0px 2px 0px;}
.field label{margin-right:20px;}
#saveAddressBtn{margin-left:120px;}
.j-show-box .address{line-height:36px;}
.j-show-box .address a{color: #1c9eff;}
.j-show-box .address a:hover{text-decoration:underline;}
.j-default{padding:5px;background:#f1f1f1;}
.wst-frame1{float: left;width:180px;margin: 2px 8px 2px 0px;background: #fff;border: 1px solid #ccc;padding:7px;cursor: pointer;text-align:center;overflow: hidden;position: relative;}
.wst-frame2{min-height:50px;float: left;min-width:120px;margin: 2px 20px 2px 0px;background: #fff;border: 1px solid #ccc;padding:7px;cursor: pointer;text-align:center;overflow: hidden;position: relative;}
.wst-frame1.j-selected i,.wst-frame2.j-selected i{font-size: 0;line-height: 0;background: url(../img/img_gd_sel.png) no-repeat 0 0;display: block; width: 11px;height: 11px;position: absolute;z-index: 1;right: -1px;bottom: -1px;}
.wst-frame1.j-selected,.wst-frame2.j-selected{border: 2px solid #FF4A4A;padding:6px;}
.wst-form input.charge-othermoney{padding: 0px 8px; height: 30px;line-height: 30px;width: 180px;border: 1px solid #f1f1f1;}