<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>loyalty</name>
            <displayName><![CDATA[客户的忠诚度和奖励]]></displayName>
            <version><![CDATA[1.8]]></version>
            <description><![CDATA[给您的客户提供忠诚度计划。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[pricing_promotion]]></tab>
	<confirmUninstall>你确定要删除忠诚点和客户历史吗？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>