/* ADMINPANEL */
@import url( "box.css" );

@import url("http://fonts.googleapis.com/css?family=Oswald&v1");
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1");

.admin-page{
    background:#FCFCFC !important;
}

.admin-body{
    width: 100%;
    min-height: 500px;
}

/* ADMIN HEADER */
.admin-menu{
    padding-top:0px;
    width:240px;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-right:1px solid #EDEDED;
}
.admin-menu ul{
    padding-top: 10px;
}
.admin-menu li{
    border-top:1px solid #F6f6f6;
    padding:8px 20px 8px 20px;
    margin: 0pc;
}
.admin-menu li.current{
    background: #FCFCFC;
    padding:7px 20px 7px 20px;
}
.admin-menu li.current a{
    color:#333333;
    text-transform:uppercase;
    text-decoration:none;
}
.admin-menu li.current a:hover{
    color:#465b6d;
}
.admin-menu li a{
    color:#999;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-size:14px;
}
.admin-menu li a:hover{
    color:#666666;
}

.admin-menu ul li ul li a{
    font-size:12px;
}
.mytheme-admin-header{
    color:#ededed;
    padding:15px 15px 0px 15px;
    height:59px;
    border-bottom: 10px solid #ededed;
    background: #fefefe;
}
.mytheme-admin-header p{
    color: #d2d2d2;
    margin:0px 0px 0px 11px;
}
.mytheme-admin-header p a{
    color: #adadad;
    text-decoration: none;
}
.mytheme-admin-header p a:hover{
    color: #999999;
}

.mytheme-admin-header span{
    color:#333333;
    font-size:11px;
    font-weight:normal;
    float: right;
}

.mytheme-admin-header img{
    margin:0px 0px 0px 10px;
}

/* MESSAGES */
.updated.settings-error.myTheme{
    margin-left: 0px;
}

span.message.logic-button.success{
    position:absolute;
    margin:-1px 0px 1px 20px;
    color:#4b681d;
    padding:7px 30px;
    background: #cded99;
    border:1px solid #a9cf6c;
    -moz-border-radius:3px;
    border-radius:3px;
}

span.message.logic-button.error{
    position:absolute;
    margin:-1px 0px 1px 20px;
    color:#6c2518;
    padding:7px 30px;
    background: #eaa99d;
    border:1px solid #dc735f;
    -moz-border-radius:3px;
    border-radius:3px;
}

span.message.logic-button.error a{
    color:#6c2518;
}

span.message.logic-button.error a:hover{
    color:#6c2518;
}

/* ADMIN PAGE */
.admin-page{
    margin-top:30px;
    background:#ffffff;
    border:1px solid #efefef;
    margin-right: 15px;
}

/* ADMIN CONTENT */
.admin-content{
    padding:20px;
    background:#fcfcfc;
    vertical-align: top;
}
.admin-content div.title{
    color:#455c64;
    text-transform: uppercase;
}

.admin-content img.contact-developer{
    margin-top: 8px;
    position: absolute;
    margin-left: 20px;
}
.admin-content label,
.inside .generic-label label{
    font:normal 18px "PT Sans Narrow",Arial,sans-serif;
}
.admin-content div.title h2 {
    padding-bottom:25px;
    border-bottom:1px dotted #dedede;
    font-family:"PT Sans Narrow",sans-serif;
    font-size:36px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 36px;
}

.admin-content h3.title {
    border-bottom:1px solid #e9e9e9;
    font-family:"PT Sans Narrow",sans-serif;
    font-weight: 400;
    font-size:24px;
    margin: 0px;
    padding: 75px 0px 25px 0px;
}
.admin-content div.code-type{
    border-bottom:1px solid #ffffff;
    margin-bottom: 25px;
}
.admin-content .top_delimiter{
    border-top:1px dotted #dedede;
    margin-top:25px;
    padding-top:25px;
}
.admin-content .bottom_delimiter{
    border-bottom:1px dotted #dedede;
    margin-bottom:25px;
    padding-bottom:25px;
}
.clear{
    width:100px;
    display:block;
    clear:both;
}

.not-upper{
    text-transform: none;
}

.my-logo{
    color:#3f3f3f;
    font:bold 38px "Trebuchet MS" , Arial,Verdana,sans-serif;
}

.my-logo span{
    color:#2a6fa9;
}    
.admin-content .my-submit,
.metabox-content .my-submit{
    font-weight: bolder;
    -moz-border-radius:3px;
    border-radius:3px;
    height: 30px;
}

/* COLOR PICKER */
.pickcolor{
    border: 1px solid #333333;
    margin: -31px 7px 31px 315px;
    padding: 13px;
    position: absolute;
    border-radius: 4px;
}

.colorPickerDiv{
    margin-left:290px;
    margin-top:20px;
}
.color-panel{
    display:none;
    position:absolute;
    background: #ffffff;
    border-left:1px solid #cdcdcd;
    border-right:1px solid #cdcdcd;
    border-bottom:1px solid #cdcdcd;
    z-index: 9999;
    margin: -3px 0px 3px 1px;
}

/* AUTO COMPLETE STYLE */
.autocomplete-w1 {
    position:absolute;
    top:0px;
    left:0px;
    margin:8px 0 0 6px;
    /* IE6 fix: */
    _background:none;
    _margin:0;
}
.autocomplete {
    border:1px solid #999;
    background:#FFF;
    cursor:default;
    text-align:left;
    max-height:350px;
    overflow:auto;
    margin:-6px 6px 6px -6px;
    /* IE6 specific: */
    _height:350px; 
    _margin:0;
    _overflow-x:hidden;
}
.autocomplete .selected {
    background:#F0F0F0;
}
.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
}
.autocomplete strong {
    font-weight:normal;
    color:#3399FF;
    color:#ff6600;
}

a#content_mytheme_sc_button img{
    height: 25px;
    margin: -2px 3px 2px -3px;
    position: absolute;
    width: 26px;
    cursor: pointer;
}

/* CREDITS */
td.mythemes-credits{
    vertical-align: top;
}

td.mythemes-credits div.title {
    color: #455c64;
    padding-top: 20px;
    text-transform: uppercase;
}

td.mythemes-credits div.title h3 {
    padding-bottom:25px;
    border-bottom:1px dotted #dedede;
    font-family:"PT Sans Narrow",sans-serif;
    font-size:30px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 36px;
}

td.mythemes-credits ul.with-border{
    border-top:1px dotted #dedede;
    padding-top: 20px;
    margin-top: 20px;
}