/* 
    Document    : box
    Created on  : 07.06.2012, 14:36:00
    Author      : myThemes
    Version     : 0.0.1
    Description : Purpose of the stylesheet follows.
    Author URI  : http://mythem.es
*/

/* SAMPLE BOX */
div.code-type.special-settings h3.title,
div.code-type.special-settings h4.title{
    text-transform: uppercase;
    border-bottom: 1px dotted #cdcdcd;
    margin-top:8px;
    background-image: none;
    padding:7px 0px 12px 0px !important;
}

div.code-type.special-settings{
    padding:10px;
    border: 1px solid #EDEDED;
    margin-top:20px;
    background: #FEFEFE;
    -moz-box-shadow:    0px 0px 10px 1px #dedede;
    -webkit-box-shadow: 0px 0px 10px 1px #dedeed;
    box-shadow:         0px 0px 10px 1px #dedede;
    
}

/* POPUP BOX */
div.popup-box-shadow{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
    background: #000000;
    z-index:99;
    opacity:0.8;
    -mox-opacity:0.8;
    filter: alpha(opacity=80);
}

div.special-settings.code-type.popup-box{
    background: #fcfcfc;
    position:fixed;
    width:100%;
    top: 30px;
    z-index:10000;
    display:none;
    -moz-box-shadow:    0px 0px 100px 10px #000000;
    -webkit-box-shadow: 0px 0px 100px 10px #000000;
    box-shadow:         0px 0px 100px 10px #000000;
}

div.special-settings.code-type.popup-box h3.title{
    background: transparent;
    font-size: 18px;
    color: #333333;
    margin: 0px;
}
div.special-settings.code-type.popup-box code{
    background: transparent;
}
div.special-settings.code-type.popup-box div.code-type h3.title{
    background: transparent;
    font-size: 18px;
    color: #333333;
    margin: 25px 0px 0px 0px;
}
div.special-settings.code-type.popup-box span.close-popup-box{
    float: right;
}
div.special-settings.code-type.popup-box span.close-popup-box a{
    background: url("../images/pop.box.close.png") no-repeat 0px 0px;
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    height:20px;
    width:20px;
}

div.special-settings.code-type.popup-box span.close-popup-box a:hover{
    background: url("../images/pop.box.close.png") no-repeat 0px -20px;
}

table.shortcode-panel{
    width: 100%;
}
table.shortcode-panel td{
    vertical-align: top;
}
table.shortcode-panel td.shortcode-list{
    width: 20%;
    border-right: 1px solid #f0f0f0;
    padding-right: 10px;
}
table.shortcode-panel td.shortcode-list div.inlist-type{
    margin-top: 10px;
}
table.shortcode-panel td.shortcode-list select{
    font-size: 16px;
}
div.mytheme_sc_settings{
    position: relative;
    height: 100%;
    padding:0px 15px;
    margin-right: 3px;
    overflow-y: scroll;
}
div.mytheme_sc_settings label{
    font-size: 13px;
}
div.mytheme_sc_settings div.hint small{
    font-size: 11px;
}
div.mytheme_sc_settings div.map-marker-lat,
div.mytheme_sc_settings div.map-marker-lng{
    width: 48%;
    margin-top: 0px;
}
div.mytheme_sc_settings div.map-marker-lat{
    margin-right: 3%;
}
div.mytheme_sc_settings textarea#my-field-mythemes-marker-description{
    height: 87px;
}
div.mytheme_sc_settings textarea{
    font-size: 12px;
}