/* 
    Document   : inline
    Created on : 21.04.2012, 15:30:50
    Author     : myThemes
    Description: For ahtml elements
*/

.inline-type{
    margin: 25px 12px 0px 0px;
}

div.code-type.special-settings .inline-type{
    margin: 15px 2px 0px 2px;
}

.inline-type div.label{
    display:inline-block;
    width:300px;
    padding-right: 30px;
    float:left;
}

.inline-type div.input{
    display:inline-block;
    width:320px;
    float:left;
}
.inlist-type div.hint,
.inline-type div.hint{
    color:#999999;
    margin-left: 0px;
}

div.inside div.hint.fl{
    width:160px;
}

/* POPUP AHTML ELEMENTS */
div.popup-box div.inline-type div.label{
    width: 180px;
}

div.popup-box div.inline-type div.input textarea{
    height:80px;
}

/* ADDITIONAL AHTML ELEMENTS */
.inline-type div.input input.button-upload{
    position:absolute;
    margin: -32px 0px 32px 315px;
    height:30px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.inline-type div.input input.my-multiple-submit{
    position:absolute;
    margin: -32px 0px 32px 315px;
    -moz-border-radius:3px;
    border-radius:3px;
    height: 30px;
}

.inline-type div.input a.search-clean{
    position:absolute;
    margin: -29px 0px 29px 254px !important;
    width:45px;
    height:26px;
    display: inline-block;
    font:normal 11px Verdana,"Trebuchet MS",Arial,sans-serif;
    background-image:url( '../images/clear.png' );
    
}
.inline-type div.input a.search-clean:hover{
    background-image:url( '../images/clear-hover.png' );
}

/* INPUTS */
.inline-type div.input input[type="text"],
.inline-type div.input select,
.inline-type div.input textarea{
    display: block;
    width:300px;
}

div.popup-box .inline-type div.input input[type="text"],
div.popup-box .inline-type div.input select,
div.popup-box .inline-type div.input textarea{
    width:230px;
}


.inline-type div.input input[type="text"],
.inline-type div.input select{
    height:30px;
    padding:3px;
}

.inline-type div.input select[multiple="multiple"],
.inline-type div.input textarea{
    height:200px;
}

.inline-type div.input input[type="checkbox"]{
    margin: 5px 0px 0px 0px;
}

.inlist-type{
    margin: 15px 0px 15px 0px;
}

.inlist-type div.input input[type="text"],
.inlist-type div.input select,
.inlist-type div.input textarea{
    width: 100%;
}

.inlist-type div.input input[type="text"],
.inlist-type div.input select{
    height:30px;
    padding:3px;
}

.inlist-type div.input select[multiple="multiple"],
.inlist-type div.input textarea{
    height:200px;
}

.view-list {
    padding:3px;
}

.view-list .item{
    padding:0px 5px;
    margin-bottom:3px;
    border:1px solid #f3f3f3;
    background: #f9f9f9;
}

.view-list .item p{
    padding: 3px;
    margin:0px;
}
.view-list .item span.item-label{
    float: left;
    padding:6px;
}

.view-list .item span.btn{
    float:right;
}

div.box-form-submit{
    margin-top:25px;
}

div.contact-large a{
    width: 310px;
    height: 70px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

div.contact-large a:first-child{
    margin-left: 0px;
}
a.facebook-large{
    background-image: url("../images/facebook.large.png");
}
a.twitter-large{
    background-image: url("../images/twitter.large.png");
}
a.rss-large{
    background-image: url("../images/rss.large.png");
}
a.support-large{
    background-image: url("../images/support.large.png");
}

#my-template-mythemes-links{
    border: 0px;
}


.fl { float:left; }
.fr { float:right; }

/* CUSTOM */
div.inline-type.feature-icon div.label{
    width:140px;
}
div.inline-type.feature-icon div.input{
    width: 70px;
    float: right;
}
