div.mythemes-widget{
    background: #ffffff;
    width: 243px;
    min-height: 150px;

    margin-top: 20px;

    -webkit-box-shadow: 0px 0px 1px #cecece;
    box-shadow: 0px 0px 1px #cecece;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
div.mythemes-widget.black{
    background: #232323;
}
div.mythemes-widget.mythemes-slideshow,
div.mythemes-widget.mythemes-slideshow .mythemes-container,
div.mythemes-widget.mythemes-slideshow .mythemes-container .mythemes-slideshow-item{
    height: 150px;
}

div.mythemes-widget hr.widget-delimiter{
    background: #f6f6f6;
    border: none;
    height: 1px;
    width: 170px;
    margin: 0px auto;
}


div.mythemes-widget p{
    font-family: Verdana,sans-serif;
    font-size: 11px;
    color: #919191;
    margin: 0px auto;
    padding: 20px 0px;
    width: 163px;
}
div.mythemes-widget p b{
    font-weight: bold;
}

div.mythemes-widget h3.widget-title{
    color: #282828;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    padding: 23px 0px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
/* WIDGET PAYPAL */
div.mythemes-widget.my-presentation{
    min-height: 128px;
    height: 128px;
}
div.mythemes-widget span.paypal-title{
    display: block;
    text-align: center;
    padding: 22px 0px 15px 0px;
}
div.mythemes-widget.widget-paypal form{

    margin: 0px auto;
    padding-bottom: 20px;
    text-align: center;
}

/* WIDGET SOCIAL */
div.mythemes-widget div.widget-social{
    padding: 19px 0px;
    margin: 0px auto;
    width: 163px;
    height: 45px;
}
div.mythemes-widget div.widget-social a{
    float: left;
    height: 45px;
    width: 45px;
    margin-left: 14px;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
div.mythemes-widget div.widget-social a:hover{
    opacity: 1.0;
    filter:alpha(opacity=100);  
}
div.mythemes-widget div.widget-social a.mythemes-facebook{
    background: url(../images/facebook.png);
    margin-left: 0px;
}
div.mythemes-widget div.widget-social a.mythemes-behance{
    background: url(../images/behance.png);
}
div.mythemes-widget div.widget-social a.mythemes-twitter{
    background: url(../images/twitter.png); 
}


/* SLIDESHOW */
.mythemes-slideshow-item{
    display: none;
    margin: 0px;
}
div.mythemes-widget.mythemes-slideshow{
    overflow: hidden;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.mythemes-slideshow-item a{
    margin: 0px;
}

.mythemes-slideshow-item.current{
    display: block;
}
.mythemes-slideshow .mythemes-slideshow-pagination{
    background-color: rgba( 0, 0, 0, 0.3 );
    position: absolute;
    display: block;
    text-align: center;
    width: 243px;
    padding: 10px 0px;
    height: 10px;
    line-height: 10px;
    margin: -30px 0px 30px 0px;

    -webkit-border-bottom-left-radius: 5px;
       -moz-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;

    -webkit-border-bottom-right-radius: 5px;
       -moz-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;

}
.mythemes-slideshow .mythemes-slideshow-pagination ul{
    display: inline-block;
    height: 10px;
    line-height: 10px;

    list-style: none;

    margin: 0px;
    padding: 0px;
}
.mythemes-slideshow .mythemes-slideshow-pagination ul li{
    display: inline-block;
    height: 10px;
    width: 10px;

    margin: 0px 2px;
}
.mythemes-slideshow .mythemes-slideshow-pagination ul li a{
    background-color: rgba( 255, 255, 255, 0.3 );
    display: block;
    width: 10px;
    height: 10px;
    line-height: 10px;

    opacity: 0.3;
    filter:alpha(opacity=30);

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.mythemes-slideshow .mythemes-slideshow-pagination ul li.current a{
    background-color: rgba( 255, 255, 255, 0.5 );

    opacity: 0.8;
    filter:alpha(opacity=80);
}

div.mythemes-multi-adds{
    margin-bottom: 20px;
    border: none;
    background: transparent;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
div.mythemes-multi-adds .mythemes-adds-item{
    margin-top: 20px;

    -webkit-box-shadow: 0px 0px 1px #cecece;
       -moz-box-shadow: 0px 0px 1px #cecece;
            box-shadow: 0px 0px 1px #cecece;
}
div.mythemes-multi-adds .mythemes-adds-item a{
    display: block;
}
div.mythemes-multi-adds .mythemes-adds-item a img{
    display: block;
}
div.mythemes-multi-adds .mythemes-adds-item:first-child{
    margin-top: 0px;
}