{/* 对话框 prompt */}
<div class="ui-dialog" id="wst-di-prompt">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div class="dialog-content wst-flex-column wst-jc wst-ac">
                <p id="wst-dialog-title" class="wst-dialog-t"></p>
                <p id="wst-dialog" class="wst-dialog-c">提示</p>
                <p class="wst-dialog-l"></p>
            </div>
            <div class="dialog-btn wst-flex-row">
                <button id="wst-event1" type="button" class="wst-dialog-b1" data-role="button">取消</button>
                <button id="wst-event2" type="button" class="wst-dialog-b2">确定</button>
            </div>
        </div>
    </div>      
</div>
{/* 提示分享对话框 share */}
<div class="ui-dialog" id="wst-di-share" onclick="WST.dialogHide('share');">
     <div class="wst-prompt"></div>
</div>