{extend name="default/base" /}
{block name="title"}{:isset($message)?$message:'系统出错啦~'} - {__block__}{/block}
{block name="header"}
    {php}$Title = "系统提示"{/php}
	{include file="default/header" /}
{/block}
{block name="main"}
<style>body{background:#fff;}</style>
<section class="ui-container" style="height:69%;position:relative;">
	<div class="ui-btn-wrap">
		<div id='errorBg'></div>
		<div id='errorBox'>
			<div id='errorTxt'>{:isset($message)?$message:'系统出错啦~'}</div>
			{if !isset($button)}
		    <button class="ui-btn-s" id="errorBtn" onclick="history.back()">
		        返回上一页
		    </button>
		    {else}
		    <button class="ui-btn-s" id="errorBtn" onclick="location.href='{$button['url']}'">
		        {$button['text']}
		    </button>
		    {/if}
	    </div>
	</div>
</section>
{/block}
{block name="js"}
<script>
$(function(){WST.initFooter();})
</script>
{/block}