{extend name="default/base" /}
{block name="title"}意见反馈 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/feedbacks.css?v={$v}">
{/block}
{block name="footer"}
{/block}
{block name="header"}
    <div id="useri_infos">
        <header style="background:#ffffff;" class="ui-header ui-header-positive ui-border-b wst-header">
            <a href="{:url('mobile/users/index')}"><i class="ui-icon-return"></i></a><h1 class="useri_info">意见反馈</h1>
        </header>
    </div>
{/block}

{block name="main"}
<input type="hidden" name="" value="" id="feedbackType" autocomplete="off">
<sction class="ui-container" id="upload_modal">
    <div class="upload-modal">
     <div id="clipArea" class="clipArea"></div>
     <input type="hidden" id="imgData" autocomplete="off">
  </div>
</sction>

<div onclick="dataShow(0)" class="data-item" style="margin-top:0.48rem">
    <label>反馈问题类型</label>
    <i class="edit list-i"></i>
    <div id="complainText" style="float: right;margin-right: 0.07rem"></div>
</div>

<div class="data-item" style="height: auto;padding-bottom: 0.12rem">
    <label>反馈内容</label>
    <textarea class="data-textarea" id="feedback" placeholder="请填写反馈内容"></textarea>
</div>
<div class="data-item">
    <label>联系方式</label>
    <input style="width: 2.5rem;border:none;margin-left: 0.05rem" type="text" id="contact" placeholder="手机/QQ/微信"/>
</div>

<div class="wst-ad-footer">
  <button class="button" onclick="save()">提交</button>
</div>


 {/* 遮盖层  */}
<div class="wst-cover" id="cover"></div>

{/* 反馈问题类型  */}
<div class="wst-cancel-box" id="frame">
    <input type="hidden" id="reason">
    <div class="title">反馈问题类型</div>
    <div class="content">
        {volist name=':WSTDatas("FEEDBACK_TYPE")' id='vo'}
        <div class="wst-flex-row wst-jsb wst-ac item">
            <div class="name">{$vo['dataName']}</div>
            <label class="ui-checkbox">
                <input class="active" type="radio" name="data" value="{$vo['dataVal']}">
            </label>
        </div>
        {/volist}
    </div>
    <div class="bottom-two-btn-box wst-flex-row wst-center">
        <button id="wst-event1" type="button" class="wst-dialog-b1" data-role="button" onclick="javascript:dataHide(0);" >取消</button>
        <button id="wst-event0" type="button" class="wst-dialog-b2" onclick="javascript:dataHide(1);">确定</button>
    </div>
</div>
</section>
{/block}
{block name="include"}
{include file="default/dialog" /}<!-- 对话框模板 -->
{/block}
{block name="js"}
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type='text/javascript' src='__MOBILE__/js/feedback.js?v={$v}'></script>
{/block}