{extend name="default/base" /}
{block name="title"}找回密码 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/user.css?v={$v}">
{/block}
{block name="header"}
       <header style="background:#ffffff;" class="ui-header ui-header-positive wst-header">
       	   <i id="return" class="ui-icon-return" onclick="history.go(-1)"></i><h1 id="login-w">找回方式</h1>
       </header>
{/block}
{block name="footer"}{/block}
{block name="main"}
      {/* 登录页面 */}
      <section class="ui-container" id="login1">
      	<input type="hidden" id="step" name="step" value="2" autocomplete="off">
        <input type="hidden" id="modes" name="modes" class="ipt" value="1" autocomplete="off">
      	 <ul class="ui-list ui-list-text ui-list-link wst-se-l">
      		{if ($forgetInfo['userPhone'] != '')}
            <li class="line" onclick="dataShow('phone')" >
                <span class='phone'></span><h5>通过手机找回</h5>
            </li>
            {/if}
            {if ($forgetInfo['userEmail'] != '' )}
            <li class="line" onclick="dataShow('email')">
                <span class='email'></span><h5>通过邮箱找回</h5>
            </li>
            {/if}
    	   </ul>

      </section>
      {/* 登录页面end */}
<style>

.content .ui-row li{
  font-size: 0.15rem;
  padding:5px 0;
  padding-left:10px;
}
</style>
{/* 遮盖层  */}
<div class="wst-cover" id="cover"></div>
{/* 分类层  */}
<div class="wst-fr-box" id="frame">
    <div class="title"><span id="contentTitle">通过邮箱找回密码</span><i class="ui-icon-close-page" onclick="javascript:dataHide();"></i><div class="wst-clear"></div></div>
    <div class="content" id="content">
          <div class="wst-lo-frame phoneBox">
            <div class="frame">
                <div>账号</div>{$forgetInfo.loginName}
            </div>
            <div class="frame">
                <div>手机号码</div>{$forgetInfo.userPhone}
            </div>
            {if(WSTConf('CONF.smsVerfy')==1)}
            {if (int)WSTConf('CONF.isAddonCaptcha')!=1}
            <div class="verify">
                <div>图形验证码</div>
                <input id="smsVerify" type="text" placeholder="输入验证码" maxlength="10">
                <img id='verifyImg2' src="{:url('mobile/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg2")'>
            </div>
            {/if}
            {/if}
      	    <div class="verify">
                <div>验证码</div>
      					<input id="checkCode" type="text" placeholder="输入短信验证码" maxlength="8">
                {if (int)WSTConf('CONF.isAddonCaptcha')!=1}
      					<a class="send" href="javascript:phoneVerify2()">获取验证码</a>
                {else}
                {:hook('mobileDocumentForgetSmsCaptcha')}
                {/if}
      			</div>
            <div class="wst-lo-button">
      				<button class="button" onclick="javascript:forgetPhone();" style="margin-top:20px;">下一步</button>
      			</div>
        </div>


     {/* 邮箱验证  */}
      <div class='emailBox wst-lo-frame'>
            <div class="frame">
                <div>账号</div>{$forgetInfo.loginName}
            </div>
            <div class="frame">
                <div>邮箱</div>
                {$forgetInfo.userEmail}
            </div>
            <div class="verify">
                <div>图形验证码</div>
                <input id="loginVerfy" type="text" placeholder="输入验证码" maxlength="10">
                <img id='verifyImg1' src="{:url('mobile/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg1")'>
            </div>
            <div class="verify">
                <div>验证码</div>
                <input id="emailCode" type="text" placeholder="邮箱校验码" maxlength="8">
                <a class="sendEmail" href="javascript:forgetEmail()">获取验证码</a>
            </div>

            <div class="wst-lo-button">
				    <button  class="button" onclick="javascript:resetByEmail();" style="margin-top:20px;">下一步</button>
			     </div>
      </div>
      {/* 邮箱验证end  */}
    </div>
</div>



{/block}
{block name="js"}
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type='text/javascript' src='__MOBILE__/js/forget_pass.js?v={$v}'></script>
{/block}