RewriteEngine on
RewriteBase /
RewriteRule ^resource/(.*)$ apps/www/resource/$1 [L]
RewriteRule ^manage/(.*)$ apps/www/manage/$1 [L]
RewriteRule ^page/(.*)\.html$ index.php?mod=page&act=index&page=$1&%{QUERY_STRING} [L]
RewriteRule ^user/(.*)\.html$ index.php?mod=user&act=$1&%{QUERY_STRING} [L]
RewriteRule ^news\.html$ /index.php?mod=category&act=index [L]
RewriteRule ^article/([a-zA-Z0-9_\-\+\.]+)\.html$ /index.php?mod=category&act=categoryDetail&aid=$1 [L]
RewriteRule ^form/([a-zA-Z0-9_\-\+\.]+)\.html$ /index.php?mod=extendForms&act=$1&%{QUERY_STRING} [L]
RewriteRule ^index/(.*)\.html$ index.php?mod=index&act=$1&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9_\-\+\.]+)\.html$ index.php?mod=index&act=$1&%{QUERY_STRING} [L]