<IFMODULE mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule category/(.*)/(.*).html$ category.php?id=$1&page=$2 
RewriteRule chapter/lst_(.*).html$ chapter_lst.php?id=$1
RewriteRule chapter/ctx_(.*).html$ chapter_ctx.php?id=$1
RewriteRule nav/(.*)/(.*)/(.*).html$ chapter_ctx_next.php?article_id=$1&chapter_id=$2&flag=$3
RewriteRule ^t_(.*).html$ test.php?id=$1 [L]
</IFMODULE>