<link href="__ROOT__/addons/kuaidi/view/shop/express.css" rel="stylesheet">

<div class='order-box'>
	<div class='box-head'>物流信息</div>
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            {volist name='expressLogs' id='vo' key='k'}
            <li {if $k == 1}class="layui-this"{/if}>包裹{$k}({$vo['expressNo']})</li>
            {/volist}
        </ul>
        <div class="layui-tab-content">
            {volist name='expressLogs' id='vo' key='k'}
                <?php if(isset($vo['log']['data'])){ ?>
                    <div class="layui-tab-item {if $k == 1}layui-show{/if}">
                        <table class='wst-form wst-box-top' id="wst-express">
                            <tr>
                                <th width='200' class="title">时间</th>
                                <th class="title">地点和跟踪进度</th>
                            </tr>
                            {volist name="vo['log']['data']" id="voo" key='kk'}
                                <tr>
                                    <th width='200'>{$voo['time']}  {:WSTgetWeek($voo['time'])}</th>
                                    <td>{$voo['context']}</td>
                                </tr>
                            {/volist}
                            {empty name="$vo['log']['data']"}
                                <tr>
                                    <th colspan="2">物流单暂无结果！</th>
                                </tr>
                            {/empty}
                        </table>
                    </div>
                <?php }else{ ?>
                    <div class="layui-tab-item {if $k == 1}layui-show{/if}">
                        <table class='wst-form wst-box-top' id="wst-express">
                            <tr>
                                <th colspan="2">物流单暂无结果！</th>
                            </tr>
                        </table>
                    </div>
                <?php } ?>
            {/volist}
        </div>
    </div>
</div>
