<div>
    <form id="migration" action="__SELF__" method="post" class="ajax-form">
        <input type="hidden" name="ids" value="{$ids}">
        <div style="width: 100%;text-align: center;">
            <a class="btn btn-primary" data-role="submit">确认</a>
            <a onclick="$('.close').click();" class="btn btn-default">取消</a>
        </div>
    </form>
</div>
<script>
    $(function(){
        $('[data-role="submit"]').click(function(){
            query=$('#migration').serialize();
            var url=$('#migration').attr('action');
            $.post(url,query,function(msg){
                if(msg.status){
                    toast.success('彻底删除数据成功！');
                    setTimeout(function(){
                        window.location.href=msg.url;
                    },1500);
                }else{
                    handleAjax(msg);
                }
            },'json');
        });
    });
</script>