.PSI-button-add {
    background-image:url(../Images/icons/add.png?v=2017061504) !important;
}

.PSI-button-edit {
    background-image:url(../Images/icons/edit.png?v=2017061504) !important;
}

.PSI-button-delete {
    background-image:url(../Images/icons/delete.png?v=2017061504) !important;
}

.PSI-button-add-detail {
    background-image:url(../Images/icons/add.png?v=2017061504) !important;
}

.PSI-button-edit-detail {
    background-image:url(../Images/icons/edit.png?v=2017061504) !important;
}

.PSI-button-delete-detail {
    background-image:url(../Images/icons/delete.png?v=2017061504) !important;
}

.PSI-button-add-user {
    background-image:url(../Images/icons/add.png?v=2017061504) !important;
}

.PSI-button-edit-user {
    background-image:url(../Images/icons/edit.png?v=2017061504) !important;
}

.PSI-button-delete-user {
    background-image:url(../Images/icons/delete.png?v=2017061504) !important;
}

.PSI-button-ok {
    background-image:url(../Images/icons/ok.png?v=2017061504) !important;
}

.PSI-button-cancel {
    background-image:url(../Images/icons/cancel.png?v=2017061504) !important;
}

.PSI-button-refresh {
    background-image:url(../Images/icons/refresh.png??v=2017061504) !important;
}

.PSI-button-exit {
    background-image:url(../Images/icons/exit.png?v=2017061504) !important;
}

.PSI-button-save {
    background-image:url(../Images/icons/save.png?v=2017061504) !important;
}

.PSI-button-commit {
    background-image:url(../Images/icons/commit.png?v=2017061504) !important;
}

.PSI-button-change-password {
    background-image:url(../Images/icons/change_password.png?v=2017061504) !important;
}

.PSI-button-view {
    background-image:url(../Images/icons/view.png?v=2017061504) !important;
}

.PSI-button-pdf {
    background-image:url(../Images/icons/pdf.png?v=2017061504) !important;
}

.PSI-button-word {
  background-image:url(../Images/icons/word.png?v=2020053001) !important;
}

.PSI-button-barcode {
    background-image:url(../Images/icons/barcode.png?v=2017061504) !important;
}

.PSI-button-toolbox {
    background-image:url(../Images/icons/toolbox.png?v=2017061504) !important;
}

.PSI-button-database {
    background-image:url(../Images/icons/database.png?v=2017061504) !important;
}

.PSI-button-cancelconfirm {
    background-image:url(../Images/icons/cancel_confirm.png?v=2017061504) !important;
}

.PSI-button-genbill {
    background-image:url(../Images/icons/gen_bill.png?v=2017061504) !important;
}

.PSI-button-excel {
    background-image:url(../Images/icons/excel01.png?v=2019040901) !important;
}

.PSI-button-excelimport {
    background-image:url(../Images/icons/excel.png?v=2017061504) !important;
}

.PSI-button-excelexport {
    background-image:url(../Images/icons/excel.png?v=2017061504) !important;
}

.PSI-button-import {
    background-image:url(../Images/icons/import.png?v=2017061504) !important;
}

.PSI-button-dataorg {
    background-image:url(../Images/icons/edit_dataorg.png?v=2017061504) !important;
}

.PSI-button-openmodule {
    background-image:url(../Images/icons/open_module.png?v=2017061504) !important;
}

.PSI-fid-7994 {
    background-image:url(../Images/fid/fid-7994.png) !important;
}

.PSI-fid-7995 {
    background-image:url(../Images/fid/fid-7995.png) !important;
}

.PSI-fid-7996 {
    background-image:url(../Images/fid/fid-7996.png) !important;
}

.PSI-fid-7997 {
    background-image:url(../Images/fid/fid-7997.png) !important;
}

.PSI-fid-7999 {
  background-image:url(../Images/fid/fid-7999.png) !important;
}

.PSI-fid-8993 {
    background-image:url(../Images/fid/fid-8993.png) !important;
}

.PSI-fid-8994 {
    background-image:url(../Images/fid/fid-8994.png) !important;
}

.PSI-fid-8995 {
    background-image:url(../Images/fid/fid-8995.png) !important;
}

.PSI-fid-8996 {
    background-image:url(../Images/fid/fid-8996.png) !important;
}

.PSI-fid-8997 {
    background-image:url(../Images/fid/fid-8997.png) !important;
}

.PSI-fid-8998 {
    background-image:url(../Images/fid/fid-8998.png) !important;
}

.PSI-fid-8999 {
    background-image:url(../Images/fid/fid-8999.png) !important;
}

.PSI-fid-9993 {
    background-image:url(../Images/fid/fid-9993.png) !important;
}

.PSI-fid-9994 {
    background-image:url(../Images/fid/fid-9994.png) !important;
}

.PSI-fid-9995 {
    background-image:url(../Images/fid/fid-9995.png) !important;
}

.PSI-fid-9996 {
    background-image:url(../Images/fid/fid-9996.png) !important;
}

.PSI-fid-9997 {
    background-image:url(../Images/fid/fid-9997.png) !important;
}

.PSI-fid-9999 {
    background-image:url(../Images/fid/fid-9999.png) !important;
}

.PSI-fid1001 {
    background-image:url(../Images/fid/fid1001.png) !important;
}

.PSI-fid1002 {
    background-image:url(../Images/fid/fid1002.png) !important;
}

.PSI-fid1003 {
    background-image:url(../Images/fid/fid1003.png) !important;
}

.PSI-fid1004 {
    background-image:url(../Images/fid/fid1004.png) !important;
}

.PSI-fid1007 {
    background-image:url(../Images/fid/fid1007.png) !important;
}

.PSI-fid2000 {
    background-image:url(../Images/fid/fid2000.png) !important;
}

.PSI-fid2001 {
    background-image:url(../Images/fid/fid2001.png) !important;
}

.PSI-fid2002 {
    background-image:url(../Images/fid/fid2002.png) !important;
}

.PSI-fid2003 {
    background-image:url(../Images/fid/fid2003.png) !important;
}

.PSI-fid2004 {
    background-image:url(../Images/fid/fid2004.png?v=20191008) !important;
}

.PSI-fid2005 {
    background-image:url(../Images/fid/fid2005.png?v=20191008) !important;
}

.PSI-fid2006 {
    background-image:url(../Images/fid/fid2006.png) !important;
}

.PSI-fid2007 {
    background-image:url(../Images/fid/fid2007.png) !important;
}

.PSI-fid2008 {
    background-image:url(../Images/fid/fid2008.png) !important;
}

.PSI-fid2009 {
    background-image:url(../Images/fid/fid2009.png) !important;
}

.PSI-fid2010 {
    background-image:url(../Images/fid/fid2010.png) !important;
}

.PSI-fid2012 {
    background-image:url(../Images/fid/fid2012.png) !important;
}

.PSI-fid2013 {
    background-image:url(../Images/fid/fid2013.png) !important;
}

.PSI-fid2014 {
    background-image:url(../Images/fid/fid2014.png) !important;
}

.PSI-fid2015 {
    background-image:url(../Images/fid/fid2015.png) !important;
}

.PSI-fid2016 {
    background-image:url(../Images/fid/fid2016.png) !important;
}

.PSI-fid2017 {
    background-image:url(../Images/fid/fid2017.png) !important;
}

.PSI-fid2018 {
    background-image:url(../Images/fid/fid2018.png) !important;
}

.PSI-fid2019 {
    background-image:url(../Images/fid/fid2019.png) !important;
}

.PSI-fid2020 {
    background-image:url(../Images/fid/fid2020.png) !important;
}

.PSI-fid2021 {
    background-image:url(../Images/fid/fid2021.png) !important;
}

.PSI-fid2022 {
    background-image:url(../Images/fid/fid2022.png) !important;
}

.PSI-fid2023 {
    background-image:url(../Images/fid/fid2023.png) !important;
}

.PSI-fid2024 {
    background-image:url(../Images/fid/fid2024.png) !important;
}

.PSI-fid2025 {
    background-image:url(../Images/fid/fid2025.png?v=20191008) !important;
}

.PSI-fid2026 {
    background-image:url(../Images/fid/fid2026.png?v=20191008) !important;
}

.PSI-fid2027 {
    background-image:url(../Images/fid/fid2027.png) !important;
}

.PSI-fid2028 {
    background-image:url(../Images/fid/fid2028.png) !important;
}

.PSI-fid2029 {
    background-image:url(../Images/fid/fid2029.png) !important;
}

.PSI-fid2031 {
    background-image:url(../Images/fid/fid2031.png) !important;
}

.PSI-fid2032 {
    background-image:url(../Images/fid/fid2032.png) !important;
}

.PSI-fid2033 {
    background-image:url(../Images/fid/fid2033.png) !important;
}

.PSI-fid2034 {
    background-image:url(../Images/fid/fid2034.png) !important;
}

.PSI-fid2035 {
    background-image:url(../Images/fid/fid2035.png) !important;
}

.PSI-fid2036 {
    background-image:url(../Images/fid/fid2036.png) !important;
}

.PSI-fid2037 {
  background-image:url(../Images/fid/fid2037.png) !important;
}

.PSI-fid2038 {
  background-image:url(../Images/fid/fid2038.png) !important;
}

.PSI-fid2101 {
    background-image:url(../Images/fid/fid2101.png) !important;
}

.PSI-fid2102 {
    background-image:url(../Images/fid/fid2102.png) !important;
}

.PSI-fid2103 {
    background-image:url(../Images/fid/fid2103.png) !important;
}

.PSI-fid3101 {
  background-image:url(../Images/fid/fid3101.png) !important;
}

.PSI-fid3102 {
  background-image:url(../Images/fid/fid3102.png) !important;
}

.PSI-login {
    background-image:url(../Images/login.png) !important;
}

.PSI-portal-money {
    background-image:url(../Images/portal_money.png) !important;
}

.PSI-portal-inventory {
    background-image:url(../Images/portal_inventory.png) !important;
}

.PSI-portal-purchase {
    background-image:url(../Images/portal_purchase.png) !important;
}

.PSI-portal-sale {
    background-image:url(../Images/portal_sale.png) !important;
}

.PSI-help {
    background-image:url(../Images/icons/help.png?v=2017061507) !important;
}

.PSI-org {
    background-image:url(../Images/icons/org.png) !important;
}

.PSI-org2 {
    background-image:url(../Images/icons/org2.png?v=2017062701) !important;
}

.PSI-MainMenuItemIconClass {
    background-image:url(../Images/icons/mainmenuitemiconclass.png) !important;
}

.PSI-GoodsCategory {
    background-image:url(../Images/icons/goodscategory.png) !important;
}

.PSI-GoodsBOM {
    background-image:url(../Images/icons/goodsbom.png) !important;
}

.PSI-GoodsBOMItem {
    background-image:url(../Images/icons/goodsbomitem.png) !important;
}

.PSI-GoodsBrand {
    background-image:url(../Images/icons/goodsbrand.png) !important;
}

.PSI-RawMaterialCategory {
  background-image:url(../Images/icons/raw_material_category.png) !important;
}

.PSI-button-hide {
    background-image:url(../Images/icons/hide.png?v=2018041801) !important;
}

.PSI-button-print {
    background-image:url(../Images/icons/print.png?v=2018041801) !important;
}

.PSI-button-print-preview {
    background-image:url(../Images/icons/print_preview.png?v=2018041801) !important;
}

.PSI-Subject {
    background-image:url(../Images/icons/gl_subject.png) !important;
}

.PSI-CodeTable-DataCategory {
  background-image:url(../Images/icons/codetable_datacategory.png) !important;
}

.PSI-FvCategory {
  background-image:url(../Images/icons/fvcategory.png) !important;
}

