h1, h2, h3, p {
	color: #262626;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.PSI-about p {
	font-size: 13px;
	color: #262626;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-panel-header-text-container-default {
	font-size: 12px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-btn-default-small .x-btn-inner {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-tree-node-text {
	font-size: 13px;
}

.x-mask-msg div {
	font-size: 12px;
}

.x-btn-default-toolbar-small .x-btn-inner {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-menu-item-text {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-toolbar .x-toolbar-text {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-grid-row .x-grid-cell {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-window-header-default {
	font-size: 11px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-window-header-text-default {
	font-size: 11px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-window-header-text-container-default {
	font-size: 11px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-column-header {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-tip-header, .x-tip-body, .x-form-invalid-tip-body {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-tab button {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

#msg-div {
	position: absolute;
	left: 50%;
	top: 10px;
	width: 400px;
	margin-left: -200px;
	z-index: 20000;
}

#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}

#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px;
}

#msg-div .msg p {
	margin: 0;
}

.x-panel-header-default {
	background-image: none;
	background-color: #DAE6F3;
}

.PSI .x-panel-header-default {
	background-image: none;
	background-color: #f5f5f5;
}

.x-toolbar-default {
	background-image: none;
	background-color: #DAE6F3;
}

.PSI .x-toolbar-default {
	background-image: none;
	background-color: #f5f5f5;
}

.PSI .x-btn-default-toolbar-small-disabled {
	border-color: transparent;
}

.x-tab-bar-default-top {
	background-image: none;
	background-color: #DAE6F3;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-panel-body-default {
	border-color: #c3cbcc
}

.x-btn-default-small-over {
	background-image: none;
	border-color: #f759ab;
	background-color: #ffadd2;
}

.x-btn-default-small {
	background-image: none;
	border-color: #1890ff;
}

.x-toolbar-separator-horizontal {
	border-left-color: #2c9ba0;
	border-right-color: #dcdada
}

.x-tab-bar .x-tab-bar-body {
	height: 34px !important;
}

.x-tab-bar .x-tab-bar-body .x-box-inner {
	height: 32px !important;
}

.x-tab-bar-strip {
	height: 32px !important;
}

.x-tab-bar .x-tab-bar-body {
	background-color: #f5f5f5;
}

.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
	height: 32px !important;
}

.x-tab-bar .x-tab-bar-body .x-box-inner .x-tab-button {
	height: 24px !important;
	line-height: 24px !important;
	margin-top: 5px;
}

.x-tab-default .x-tab-inner {
	font-weight: normal;
	font-size: 13px;
	color: #002766;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	color: #002766;
}

.x-tab-default-top {
	background-image: none;
	background-color: #f5f5f5;
}

.x-tab-default-top-active {
	background-image: none;
	background-color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.x-horizontal-box-overflow-body {
	background-color: #f5f5f5;
}

.x-splitter-horizontal {
	background-color: #efdbff;
}

.x-splitter-vertical {
	background-color: #f0f5ff;
}

.x-btn-default-small .x-btn-inner {
	color: #096dd9;
}

.x-panel-header-text-container-default {
	font-weight: normal;
	color: #196d6d;
}

.x-btn-default-toolbar-small .x-btn-inner {
	color: #196d6d;
}

.x-btn-default-toolbar-small-over {
	background-image: none;
}

.x-btn-default-toolbar-small-menu-active,
	.x-btn-default-toolbar-small-pressed {
	background-image: none;
}

.x-menu-item-text {
	color: #196d6d;
}

.x-menu-item-active {
	background-image: none;
}

.x-column-header-text {
	color: #196d6d;
}

.x-form-item-label {
	font-size: 13px;
	color: #196d6d;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-toolbar-item .x-form-display-field {
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-form-display-field {
	font-size: 13px;
	color: #196d6d;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-form-cb-label {
	color: #262626;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-form-date-trigger {
	background: url(../Images/form/trigger.gif);
}

.x-toolbar .x-toolbar-text {
	color: #196d6d;
}

.x-toolbar-text {
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-grid-header-ct {
	background-image: none;
	background-color: #f5f5f5;
}

.x-column-header {
	background-image: none;
	background-color: #f5f5f5;
	line-height: 18px;
}

.x-column-header-over {
	background-image: none;
	background-color: #d6e4ff;
}

.x-grid-cell-row-numberer {
	background-image: none;
}

.x-grid-cell-inner {
	color: #262626;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.PSI .x-grid-row td, .x-grid-summary-row td {
	line-height: 18px;
	vertical-align: top;
}

.PSI-recent-fid .x-grid-row td, .x-grid-summary-row td {
	line-height: 26px;
	vertical-align: top;
}

.x-grid-row-summary .x-grid-cell, .x-grid-row-summary .x-grid-rowwrap,
	.x-grid-row-summary .x-grid-cell-rowbody {
	font-size: 13px;
}

.x-form-text {
	color: #262626;
	font-size: 13px;
	background-image: none;
	border-color: transparent transparent #c5c5c59e transparent;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	background-image: none;
}

.PSI-SCBill .x-form-text {
	border-color: #adc6ff;
}

.PSI-toolbox .x-form-text {
	background-image: none;
	border-color: #adc6ff;
}

.x-form-type-text textarea.x-form-invalid-field, .x-form-type-text input.x-form-invalid-field,
	.x-form-type-password textarea.x-form-invalid-field,
	.x-form-type-password input.x-form-invalid-field, .x-form-type-number textarea.x-form-invalid-field,
	.x-form-type-number input.x-form-invalid-field, .x-form-type-email textarea.x-form-invalid-field,
	.x-form-type-email input.x-form-invalid-field, .x-form-type-search textarea.x-form-invalid-field,
	.x-form-type-search input.x-form-invalid-field, .x-form-type-tel textarea.x-form-invalid-field,
	.x-form-type-tel input.x-form-invalid-field {
	background-image: none;
	border-color: transparent transparent red transparent;
}

.x-form-trigger {
	border-width: 1px;
}

.x-list-plain {
	color: #262626;
	font-size: 13px;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}

.x-datepicker-header {
	background-color: white;
	background-image: none;
}

.x-datepicker-footer {
	background-image: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #b37feb;
}
