@CHARSET "UTF-8";
body{
    background:#fff;
}
.wst-users_info{
    background: #fd5757;
	padding:13px 0px;
    color: #fff;
    padding-bottom: 9px;
}
.wst-users_infol{
	padding-left:12px
}
.wst-users_infol img{
	width: 60px;
    border-radius:1000px;
}
.user-tool{
    margin-top:5px;
    padding:5px 10px;
    font-size: 0.18rem;
    border-bottom:1px solid #e7e7e7;
}

.wst-users_infor{
	float:left;
	font-size:0.15rem;
	margin-left:5px;
}
.wst-msg-icon{
    display: block;
    width: 35px;
    height:31px;
    background: url(../img/icon_indextop.png) no-repeat;
    background-position: -79px 0;
    background-size: cover;
    position: absolute;
    right:9px;
    top:11px;
}
.wst-users_infortop{
	margin-top:9px;
    font-weight: bold;
}
.pd10{
    padding-top:10px;
    padding-bottom:5px;
}
.wst-users_icon{
	background:#FFF;
}
.wst-users_icon span{
	font-size:0.15rem;
}
.wst-users_icon p{
  margin:0 auto;
  width:32px;
  height:36px;
}
.wst-users_icon p i{
  float:left;
  width:38px;
  height:36px;
}
/*用户资金*/
.user-fund-info{
    text-align: center;
    font-size: 0.15rem;
    min-height:40px;
    background: #e54848;
}
.user-fund-info a{
	color: #fff;
}
.user-fund-border{
    border-right:1px solid #fbaeae;
    padding: 3px 0px;
}
.user-fund-top-border{
    border-top:1px solid #fbaeae;
    padding: 3px 0px;
}
.user-fund-info span{
    color:gold;
}
.user-order{
    margin-top:5px;
    padding:5px 10px;
    font-size: 0.18rem;
    border-bottom:1px solid #e7e7e7;
}
.view-order{
    text-align: right;
    padding-right:5px;
    font-size: 0.15rem;
    color:#a2a0a0;
}


.pdl7{
    padding-left: 7px;
}
/*我的订单下5个图标*/
.wst-users_icon1,.wst-users_icon2,.wst-users_icon3,.wst-users_icon4,.wst-users_icon5{
	background:url(../img/users_icon.png) no-repeat;
    background-size: 963%;
}
.wst-users_icon1{
    background-position: -29px -7px;
}
.wst-users_icon2{
	 background-position: -94px -7px;
}
.wst-users_icon3{
	 background-position: -159px -7px
}
.wst-users_icon4{
	 background-position: -224px -7px;
}
.wst-users_icon5{
	 background-position: -289px -7px;
}


.wait-payment{
    height: 16px;
    line-height: 16px;
    font-size: 0.11rem!important;
    position: absolute;
    left: 24px;
    top: -3px;
    min-width: 16px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    background: #de0202;
    padding:0px;
    border-radius: 50%;
    right: 0;
}
.msg-red-icon{
    top: -53px;
    left: 57px;
}
.border-b{
    border-bottom: 1px solid #e7e7e7;
}

/* 10个图标 */
.user-icon-box{
    padding:5px 0;
    min-width:24%;
    min-height:85px;
    border-right:1px solid #eae1e1;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
}
.user-icon-box:active{
    background: #e7e7e7 !important;
}
.user-icon-box p{
    width: 39px!important;
    height: 48px!important;
}
.user-icon-box i{
    width: 41px!important;
    height: 45px!important;
}
.user-icon1,.user-icon2,.user-icon3,.user-icon4,.user-icon5,.user-icon6,.user-icon7,.user-icon8,.user-icon9,.user-icon10,.user-icon11{
    background:url(../img/img_users_icon.png) no-repeat;
    background-size: 1149%;
}
.user-icon1{background-position: -38px -21px;}
.user-icon2{background-position: -154px -20px}
.user-icon3{background-position: -274px -22px;}
.user-icon4{background-position: -390px -21px}

.user-icon5{background-position: -39px -139px}
.user-icon6{background-position: -156px -139px;}
.user-icon7{background-position: -210px -139px;}
.user-icon8{background-position: -300px -139px;}

.user-icon9{background-position: -39px -258px;}
.user-icon10{background-position: -119px -199px;}

.user-icon11{background-position: -274px -258px}

.user-rank-box{
    position:relative;
    display:inline-block;
}
.user-rank-box img{
    position:absolute;
    right:-19px;
    top:1px;
    width:15px;
    height:15px;
}





.wst-users_list{
	border-top:2px solid #ededed;
}
.wst-users_list1{
	border-top:2px solid #ededed;
	border-bottom:2px solid #ededed;
}
.wst-list-thumb-sus{
    width:50px;
    height:50px;
    position: relative;
}
.wst-list-thumb-sus > span{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}
.ui-list > li{
	margin-left:0px;
}
.wst-users_chart1{
	background:url(../img/mine-icon.png) 2px 0 no-repeat;
}
.wst-users_chart2{
	background:url(../img/mine-icon.png) -46px 0 no-repeat;
}
.wst-users_chart3{
	background:url(../img/mine-icon.png) -100px 0 no-repeat;
}
.wst-users_chart4{
	background:url(../img/mine-icon.png) -149px 0 no-repeat;
}
.wst-users_chart5{
	background:url(../img/mine-icon.png) -199px 0 no-repeat;
}
.wst-users_chart6{
	background:url(../img/mine-icon.png) -246px -1px no-repeat;
}
.wst-users_chart7{
	background:url(../img/mine-icon.png) -292px -1px no-repeat;
}
.ui-badge-corner{
	border:none;
}
.wst-message_icon{
	position: absolute;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    min-width: 19px;
    -webkit-border-radius: 10px;
    top: 17px;
    left: 110px;
    display: inline-block;
    text-align: center;
    background: #f74c31;
    color: #fff;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    -webkit-border-radius: 8px;
    padding: 0 6px;
    background-clip: padding-box;
}
/*用户登陆*/
.wst-lo-choice{
	margin:50px 20px 0px 20px;
	border-radius: 10px;
	padding-bottom:20px;
	font-size:0.158rem;
}
.wst-lo-choice .img{
	text-align: center;
}
.wst-lo-choice .img img{
	width: 65px;
	border: 2px solid #d4d3d3;
    border-radius: 1000px;
    padding:2px;
}
.wst-lo-choice .name{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bolder;
}
.wst-lo-choice .prompt{
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding-bottom:42px;
}
.wst-lo-choice .choice{
	text-align: center;
}
.wst-lo-choice .choice .button0{
	width: 100%;
	height: 38px;
	border-radius: 1000px;
	font-size:0.14rem;
	color:#ffffff;
	background: #04be02;
}
.wst-lo-choice .choice .button0:not(.disabled):not(:disabled):active{
	color:#f7fdf7;
	background: #06c804;
	background-clip: padding-box;
}
.wst-lo-choice .choice .button1{
	width: 100%;
	height: 38px;
	border-radius: 1000px;
	font-size:0.14rem;
	color:#59595c;
	background: #ffffff;
	border: 1px solid #d4d3d3;
	margin-top:10px;
}
.wst-lo-choice .choice .button1:not(.disabled):not(:disabled):active{
	color:#56565d;
	background:#f8f7f7;
	background-clip: padding-box;
}
.wst-lo-frame{
	font-size:0.18rem;
	margin-top:8px;
	padding:12px 10px 2px 10px;
	background:#ffffff;
}
.wst-lo-frame .frame{
	padding-bottom:10px;
}
.wst-lo-frame .frame input{
	width: 100%;
	padding:2px 2px 2px 5px;
	height: 36px;
    border-radius: 2px;
	border: 1px solid #a0a0a0;
}
.wst-lo-frame .verify{
	border-radius: 2px;
	margin-bottom:10px;
	border: 1px solid #a0a0a0;
}
.wst-lo-frame .verify input{
	width: 60%;
	padding:2px 2px 2px 5px;
	height: 36px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
	border:none;
}
.wst-lo-frame .verify button{
	float:right;
	height:36px;
	width:40%;
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.wst-lo-frame .verify img{
	float:right;
	height:36px;
	width:40%;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.wst-lo-button{
	padding:30px 10px 0px 10px;
}
.wst-lo-button .button{
	width:100%;
	bottom:10px;
	margin-bottom:6px;
	font-size: 0.185rem;
    height: 38px;
    line-height: 38px;
    color:#ffffff;
    background:#e00102;
    font-size: 0.18rem;
	border-radius:3px;
	border-bottom:1px solid #e00102;
}
.wst-lo-button .button:not(.disabled):not(:disabled):active{
	color:#fff0f0;
	background:#f52f30;
	background-clip: padding-box;
}