/*-----------------nav common---------------------*/
.navbar-header button {
  border-color: #333;
}
.navbar-header span.icon-bar {
  background-color: #ffffff;
  border-radius: 3px;
}
.navbar-header span.second-icon-bar {
  height: 3px;
}

@media screen and (max-width: 768px){
  #nav-user .divider-vertical {
    display: none;
  }
}

/*---------鼠标悬停时弹出菜单---start------*/
.navbar .nav > li .dropdown-menu {
  margin-right: -3em;
}
.navbar .nav > li:hover .dropdown-menu {
  display: block;
}
/*---------鼠标悬停时弹出菜单--end-------*/


#navigation {
  background-color: #3a4349;
  z-index: 1000;
}

#nav-function a, #nav-user li.common-li>a {
  background: #3a4349;
  color: #9da1a4;
}

#nav-function a:hover {
  /*color: #000011;*/
}

#nav-function li.active a, #nav-user li.common-li.active>a {
  color: white;
}

ul#nav-function li:hover a, #nav-user li.common-li:hover>a {
  /*color: black;*/
  background-color: #3a4349;
  color: white;
}

/*----------------------------------nav user ----------------------------*/
#nav-user {
  margin-right: 1em;

}
#nav-user a {
  color: #9da1a4;
}


/*---------------------登入注册--------------------------*/
#login-li a,#signin-li a {
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*hover状态下的背景色,设置为原来的颜色*/
#login-li a:hover {
  background-color: #428bca;
}

#signin-li a:hover {
  background-color: #5cb85c;
}



/*----------------------common-li----------------------*/
/*边界*/
#nav-user .divider-vertical {
  border: solid 1px;
  opacity: .5;
  border-left-color: #111415;
  border-right-color: #646668;
  height: 50px;

}


/*----------------------创建项目 ----------------------*/
#project-create-li {
}

/*----------------------消息提示-----------------------*/
#project-message-li {

}


#project-message-li .badge {
  margin-right: 10px;
  float: right;
}



/*---------------------------头像部分------------------------*/
/*--------------头像---------------*/
li#user-head-li>a {

  padding-top: 0.8em;
  padding-bottom: 0;
  margin: 0;

  background-color: #3a4349;
}
li#user-head-li>a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

/*头像hover变为背景色*/
li#user-head-li a:hover {
  background-color: #3a4349;
}

/*-----------通用下拉菜单---------------*/
/*下拉菜单有两级: li>a*/

#nav-user ul.common-dropdown {
  background-color: white;
}

/*下拉菜单第一级:li*/
#nav-user ul.common-dropdown li {
}

#nav-user ul.common-dropdown li:hover {
  /*hover状态时,下拉菜单项的背景色*/
  background-color: white;
}


/*下拉菜单第二级:a*/
#nav-user ul.common-dropdown li a {
  /*下拉菜单字体*/
  color: #777;
}

#nav-user ul.common-dropdown li a:hover {
  background-color: white;
  color: #000;
}

/*--------------------------------验证按钮--------------------------*/
#nav-user li.authority-li a {
  color: #eee;
}

#nav-user li.authority-li:hover a {
  color: white;
}







