.well {
	background-color:rgba(255, 255, 255, 0.95);
}
.nav-tabs>li>a {
	color: #050505;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #0a9572;
	background-color: transparent;
	border-bottom: 2px solid #0a9572;
}
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
	color: #0a9572;
	background-color: transparent;
	border-bottom: 2px solid #0a9572;
}
.index-userface {
	color:#fff;
	margin:50px 0 45px 0;
	padding-left:0;
}
.index-userface sup {
	font-size:14px;
	margin-left:50px;
}
.index-userface .pull-right{
	margin-top:25px;
}
.index-audio {
	width:100%;
}
.usernav {
	margin-bottom:10px;
}
.replyform {
	padding-bottom:3px;
}

.blog-item {
	font-size:15px;
	color:#222;
}

.msg-index-list-group-item {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	padding: 5px;
	background: #fff;
	opacity: .95;
}
.msg-index-list-group-item:hover {
	background: #f9f9f9;
}
.follow {
	padding:0 14px;
}
.follow .btn-block {
	opacity: .95;
	transition: all .3s ease-out;
}
.userR{
	float:left;
	width:21%;
	margin:10px 0;
	margin-right:4%;
}
.userR a{
	padding:8px;
}
.userR img {
	width:100%;
	margin-bottom:5px;
}
.userR h4 {
	color:#444;
	width:93%;
	font-size:100%;
}
.fans-intro{
	margin:3px 5px;
	overflow:hidden;
}

.index-panel{
	opacity: .95;
}
.index-panel .title{
	font-size:14px;
}
.index-panel .solid{
	margin-top:0;
	border-top:1px solid #555;
}
.index-panel .user-face{
	height:55px;
}
.index-panel a p {
	color: #444;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top:5px;
}
.index-panel .pull-right{
	color: #555;
	margin:14px 0 0 0;
}
.index-user-info h4 {
	height:24px;
	overflow:hidden;
}
.index-user-info p {
	height:100px;
	overflow:hidden;
}
.index-user-info img {
	margin:5px;
}
.index-side-col-3 {
	width:16%;
	float:left;
	margin:0 12px 5px 15px;
}
.index-side-col-4 {
	width:33%;
	float:left;
}
.index-side-col-6 {
	width:50%;
	float:left;
	padding:0 15px;
}
/* 评论和回复的用户头像 */
.userface {
	padding:10px 0 0 12px;
	margin-bottom:5px;
	width:12%;
}
.userface img {
	width:95%;
}
.reply {
	padding-right:13px;
	padding-bottom:10px;
}

.comment {
	opacity: .96;
}
.comment:hover {
	background:#fff;
	-webkit-box-shadow: 0 0 6px #38B938;
	box-shadow: 0 0 6px #38B938;
}

.shuo-content {
	float:right;
	width:80%;
	margin-right:4%;
}
.shuo-content h5 {
	color:#aaa;
}
.shuo-content a.pull-right {
	margin-left:12px;
	color:#333;
}
.shuo-content a.del {
	display:none;
}
.shuo-content:hover a.del {
	display:initial;
}
.center-well {
	background-color:rgba(255, 255, 255, 0.95);
}

/* msg */
.msg_index .row {
	padding-right:3%;
	padding-left:2%;
}
.msg_index .userface {
	width:13%;
}
.msg_index .content {
	float: right;
	width:80%;
	padding-right:2%;
}
.msg-item {
	padding-bottom:130px;
	padding-right:2%;
	padding-left:2%;
}
.msg-item .self {
	float: left;
	background:#f6f6f6;
	width:75%;
	padding:5px 1%;
}
.msg-item .time {
	color:#ccc;
}
.msg-item .self .userface {
	width:16%;
}
.msg-item .self .content {
	width:75%;
	float: right;
	margin-right:2%;
	overflow-x:auto;
	padding-bottom:10px;
}
.msg-index-list-group-item .close, 
.msg-item .self .close {
	margin-top:10px;
	visibility:hidden;
	padding-right:1%;
}
.msg-index-list-group-item:hover .close, 
.msg-item .self:hover .close {
	visibility:visible;
}
.msg-item .other {
	float: right;
	width:75%;
	padding:5px 0px 5px 2%;
}
.msg-item .other .userface {
	float: right;
	width:16%;
	margin-right:2%;
}
.msg-item .other .content {
	overflow-x:auto;
	width:80%;
	padding-bottom:10px;
}
.msg-form {
	padding-bottom:3px;
}
.msg-header {
	margin-top:-20px;
	margin-bottom:15px;
}
.msg-area {
	margin-right:-15px;
	margin-left:-15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	overflow-x:hidden;
}
.find-user {
	margin:50px 0 60px 0;
}
@media (max-width: 767px) {
	h3#msg_with,
	.msg-item .time {
		visibility:hidden;
	}
	li#msg_sys, li#archive, li#set,
	.msg-item .pull-right.time {
		display:none;
}
.msg-index-list-group-item h4.pull-right {
	color:#ccc;
}
}
