{include file="public/tpl/head.html" /}
<body>
    <nav class="main_nav">     
        {if condition="!isset($app_url)"}
            <a href="#about_app">概述</a>
        {else}
            <a href="javascript:void(0);" class="app_nav active" dataid="{$app_url}">首页</a>
        {/if}
        {$app_nav|default=""}
    </nav>
    {if condition="isset($app_actions)"}
        <nav class="action">
            {$app_actions}
        </nav>
    {/if}
    <nav class="action">
        {$app_actions|default=""}
    </nav>
    <div class="app_win" id="app_win">
        {if condition="isset($app_url)"}<iframe id="sh_index" class="pagedance show" src="{$app_url}">{/if}
    </div>
    <div id="about_app">
        {$about_app|default=""}
    </div>
</body>
</html>