.center_line {
  margin-top: 0px;
  margin-right: 0px;
  border-top: 1px dashed #ccc;
}
#center h4 {
  font-size: 16px;
  cursor: pointer;
}
#center h4 a {
  font-weight: normal;
}
.position select {
  width: auto;
  float: left;
  max-width: 120px;
  margin-right: 10px;
}
.center_arrow_right,
.center_arrow_bottom {
  padding-left: 5px;
  padding-top: 3px;
  vertical-align: middle;
  background: url('../images/info_arrow.png');
  display: inline-block;
  width: 16px;
  height: 16px;
}
.center_arrow_bottom {
  background-position: 18px 0px;
}
.center_info input[type=text],
#center_password input[type=text],
.center_info input[type=email],
#center_password input[type=email],
.center_info [type=password],
#center_password [type=password] {
  max-width: 200px;
}
.usercenter-verify-icon-list img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.ucenter_tab {
  padding-left: 20px;
}
.ucenter_tab li {
  float: left;
}
.ucenter_tab li a {
  background: none;
  font-size: 16px;
  margin-right: 1em;
}
.ucenter_tab li a:hover {
  border-bottom: 3px solid #03ae87;
}
.ucenter_tab .active a {
  color: #666 !important;
  border-bottom: 3px solid #03ae87;
}
.expandinfo-noticeinfo {
  margin-left: 30px;
  color: #A59F9F;
}
.expandinfo-dt {
  float: left;
  width: 16.6666666%;
  margin-right: 10px;
  text-align: right;
}
.expandinfo-dd {
  float: left;
  width: 50%;
}
.expandinfo-sumbit {
  margin-left: 20%;
}
.expandinfo-ul {
  list-style-type: none;
}
.expandinfo-li {
  float: left;
  margin-right: 10px;
}
.expandinfo-list {
  margin: 20px 5px 20px 5px;
  padding: 0;
}
.expandinfo-list .alert {
  display: none;
  padding: 3px 8px;
  text-align: center;
}
.input-tips {
  color: #BBB3B5;
  font-weight: 200;
  margin-left: 10px;
}
