<include file="Public:header" /> 
</head>
    <body>
                <div class='panel panel-success'>
                    <div class='panel-heading'>节点列表 <span class='text-danger'>此处二次开发才需要配置，非码农勿改！</span></div>
        <div class='panel-body'>
         <div id='wrap'>
			<a href="{:U('Admin/Rbac/addNode')}" class='add-app'>添加应用</a>
            <foreach name='res' item='res'>
			<div class='app'>
				  <p>
				 
				  <strong class="text-danger">{$res.name}{$res.title}</strong>
				  <a href="{:U('Admin/Rbac/addNode',array('pid' => $res['id'] , 'level' =>2))}">[添加控制器]</a>
				</p>
                  <foreach name="res.child" item='action'>
					<dl>
						<dt>
                   <strong>{$action.name} {$action.title}</strong>
				   <a href="{:U('Admin/Rbac/addNode',array('pid' => $action['id'] , 'level' =>3))}">[添加方法]</a>
						</dt>
				<foreach name="action.child" item='node'>
					<dd>
                   <span>{$node.name} {$node.title}</span>
					</dd>
				</foreach>
				</dl>
				</foreach>
				</div>
            </foreach>
	</div>
         
            
            
     
            
        </div>
      </div>
        
        
        
        
        
        
        
        
        
        
        
        
		
</body>
</html>
