<include file="Public:header" />
</head>
<body>
    <h3>角色列表</h3>
 <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>是否关闭</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <foreach name='res' item='res'>
                <tr>
                    <td>{$res.id}</td>
                    <td>{$res.name}</td>
                    <td>{$res.remark}</td>
					<td>{$res['status']==1?'开启':'关闭'}</td>
                    <td>
                        <a href="{:U('Admin/Rbac/access',array('rid' =>$res['id'],'remark'=>$res['remark']))}"><button class="btn btn-primary">配置权限</button></a>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
 
</body>
</html>
