.bbsContainer{
	max-width: 640px;
	overflow: hidden;
	margin: auto;
	background: #F5F5F5;
}
.bbsContainer .topBoxs{
	display: table;
	width: 100%;
	background: #FFF;
	border-bottom: #EEE solid 1px;
}
.bbsContainer .topBoxs li{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding: 15px 0;
}
.bbsContainer .topBoxs li.logo{
	width:60px;
	padding-left: 15px;
	padding-right: 15px;
}
.bbsContainer .topBoxs li.logo img{
	max-height: 60px;
	max-width: 60px;
	border-radius: 50%;
}
.bbsContainer .topBoxs li.info span,.bbsContainer .topBoxs li.info em{
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 16px;
	color: #888;
}
.bbsContainer .topBoxs li.info span{
	font-size: 20px;
	color: #333;
}
.bbsContainer .topBoxs li.atten{
	width:50px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size: 30px;
}
.bbsContainer .quideBox{
	height: 45px;
	line-height: 45px;
	border-top:#FFF solid 1px;
	border-bottom: #EEE solid 1px;
	padding-left: 15px;
}
.bbsContainer .PostBox{
	border-top:#FFF solid 1px;
	padding:10px;
}
.bbsContainer .PostBox ul ol{
	padding-bottom: 5px;
	color: #666;
}
.bbsContainer .PostBox ul li input[type=text]{
	width: 100%;
	border:0px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #000;
	text-indent: 10px;
	margin-bottom: 10px;
	outline: none;
}
.bbsContainer .PostBox .button{
	padding: 5px 0px;
}
.bbsContainer .PostBox .button button{
	display: block;
	width:100%;
	line-height: 50px;
	text-align: center;
	border: 0px;
	background: #23A3C9;
	color: #FFF;
	border-radius: 5px;
}
.bbsContainer .PostBox button[type=submit]{
	background: #FF802C;
}
.bbsContainer .PostBox .ListImgs:after{
	content: '';
	display: block;
	clear: both;
}
.bbsContainer .PostBox .ListImgs div{
	width:25%;
	overflow: hidden;
	float: left;
	position: relative;
}
.bbsContainer .PostBox .ListImgs div span{
	display: block;
	margin: 5px;
	position: relative;
	background: #FFF;
	box-shadow: 0px 0px 2px #CCC;
}
.bbsContainer .PostBox .ListImgs div span:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.bbsContainer .PostBox .ListImgs div span img{
	position:absolute;
	max-width:100%;
	max-height: 100%;
	left:50%;
	top: 50%;
	border:0;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
} 
.bbsContainer .PostBox .ListImgs div em{
	position: absolute;
	width:25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background:rgba(120,120,120,0.6);
	color: #FFF;
	right: 5px;
	top:5px;
	cursor: pointer;
}
.bbsContainer .PostBox .ListImgs div em:hover{
	background:rgba(255,60,0,0.6);
}
/***/
.uploadImg{
	padding: 0 5px 5px 5px;
}
.uploadImg li{
	width:80px;
	border:#DDD dotted 1px;
	text-align: center;
	padding: 15px 0;
	background: #FFF;
	font-size:32px;
	cursor: pointer;
	color: #999;
}
.uploadImg li:hover{
	border: #F60 dotted 1px;
	color: #F60;
}
