<extend name="Public/base"/>

<block name="header">
    <li class="active"><span>1</span>安装协议</li>
    <li class="active"><span>2</span>环境检测</li>
    <li class="active"><span>3</span>创建数据库</li>
    <li class="active"><span>4</span>安装</li>
    <li><span>5</span>完成</li>
</block>

<block name="body">
    <h1>安装</h1>
    <div id="show-list" class="install-database">
    </div>
    <script type="text/javascript">
        var list   = document.getElementById('show-list');
        function showmsg(msg, classname){
            var li = document.createElement('p'); 
            li.innerHTML = msg;
            classname && li.setAttribute('class', classname);
            list.appendChild(li);
            document.scrollTop += 30;
        }
    </script>
</block>

<block name="footer">
    <button id="obtn" class="btn btn-warning btn-large btn-block disabled">正在安装，请稍候...</button>
    <script type="text/javascript">
        var obtn   = document.getElementById('obtn');

        function error_btn(msg,classname){
            obtn.innerHTML = msg;
            obtn.setAttribute("class", classname); 
        }
    </script>
</block>