{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section class="panel panel-padding">
                <form id="form1" class="layui-form layui-form-pane" action="{:url('')}">

                    <div class="layui-form-item">
                        <label class="layui-form-label">站点标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_title" value="{$info.site_title|default=''}" jq-verify="" jq-error=" 请输入站点标题" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">站点副标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_subtitle" value="{$info.site_subtitle|default=''}" jq-verify="" jq-error=" 请输入站点副标题" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">站点关键词</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_keywords" value="{$info.site_keywords|default=''}" jq-verify="" jq-error=" 请输入站点关键词" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label">站点描述</label>
                        <div class="layui-input-block">
                            <textarea name="site_description" placeholder="请输入站点描述" class="layui-textarea">{$info.site_description|default=''}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">站点网址</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_url" value="{$info.site_url|default=''}" jq-verify="" jq-error=" 请输入站点网址" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">站长邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_email" value="{$info.site_email|default=''}" jq-verify="" jq-error=" 请输入站长邮箱" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">站点版权</label>
                        <div class="layui-input-block">
                            <input type="text" name="site_copyright" value="{$info.site_copyright|default=''}" jq-verify="" jq-error=" 请输入站点版权" placeholder="请输入站点标题" class="layui-input ">
                        </div>
                    </div>

                    <div class="layui-form-item ">
                        <label class="layui-form-label">站点统计</label>
                        <div class="layui-input-block">
                            <textarea name="site_statistics" placeholder="请输入站点统计" class="layui-textarea">{$info.site_statistics|default=''}</textarea>
                        </div>
                    </div>

                    <div class="layui-input-block">
                        <button class="layui-btn" jq-submit lay-filter="submit" jq-tab="true">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
{/block}
{block name="script"}
<script>
    layui.use('pageform');
</script>
{/block}