<extend name="Common/form-ajax-tab" />

<block name="tit">
    <li class="current"><a href="javascript:;">基本信息</a></li>
    <li><a href="javascript:;">综合设置</a></li>
    <li><a href="javascript:;">附加设置</a></li>
</block>

<block name="form">
<tbody>
    <tr>
        <td>栏目模型:</td>
        <td>
            <select name="mid">
            <foreach name="model" key="k" item="v">
                <option value="{$k}" <eq name="mid" value="$k">selected</eq> >{$v}</option>
            </foreach>
            </select>
        </td>
    </tr>
    <tr>
        <td>父级栏目:</td>
        <td>
            <select name="pid">
                <option value="0" <eq name="pid" value="0">selected</eq> >顶级栏目</option>
                <foreach name="cate" key="k" item="v">
                    <option value="{$k}" <eq name="pid" value="$k">selected</eq> >{$v}</option>
                </foreach>
            </select>
        </td>
    </tr>
    <tr><td>中文名称:</td><td><input type="text" name="title"></td></tr>
    <tr><td>英文名称:</td><td><input type="text" name="name"></td></tr>
    <tr><td>栏目备注:</td><td><textarea name="remark"></textarea></td></tr>
    <tr><td>栏目/目录:</td>
        <td>
            <input type="radio" name="is_menu" value="0" id="is_menu_0" checked>
            <label for="is_menu_0">栏目</label>
            <input type="radio" name="is_menu" value="1" id="is_menu_1">
            <label for="is_menu_1">目录</label>
        </td>
    </tr>
    <tr>
        <td>排序:</td>
        <td><input type="text" name="sort" value="0"></td>
    </tr>
</tbody>
<tbody class="hide">
    <tr>
        <td>SEO标题:</td>
        <td><input type="text" name="setting[meta_title]"></td>
    </tr>
    <tr>
        <td>SEO关键字:</td>
        <td><input type="text" name="setting[meta_keywords]"></td>
    </tr>
    <tr>
        <td>SEO描述:</td>
        <td><textarea name="setting[meta_description]"></textarea></td>
    </tr>
    <tr>
        <td>列表模版:</td>
        <td>
            <select name="setting[template_list]">
                <foreach name="tpl.list" item="v">
                    <option value="{$v}">{$v}</option>
                </foreach>
            </select>
        </td>
    </tr>
    <tr>
        <td>内容模版:</td>
        <td>
            <select name="setting[template_show]">
                <foreach name="tpl.show" item="v">
                    <option value="{$v}">{$v}</option>
                </foreach>
            </select>
        </td>
    </tr>
    <tr>
        <td>单页模版:</td>
        <td>
            <select name="setting[template_page]">
                <foreach name="tpl.page" item="v">
                    <option value="{$v}">{$v}</option>
                </foreach>
            </select>
        </td>
    </tr>
</tbody>
<tbody class="hide">
    <tr><td>栏目链接:</td>
        <td><input type="text" name="url"></td>
    </tr>
    <tr><td>显示状态:</td>
        <td>
            <input type="radio" name="status" value="1" id="status_1" checked>
            <label for="status_1">正常</label>
            <input type="radio" name="status" value="0" id="status_0">
            <label for="status_0">禁用</label>
        </td>
    </tr>
</tbody>
</block>
