<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="__HUI__/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/skin/blue/skin.css" id="blue" />
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/common.css" />
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HUI__/js/H-ui.min.js"></script>
<script type="text/javascript" src="__HUIADMIN__/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__HUIADMIN__/common.js"></script>
<title>SFDP-超级表单开发平台V3.0-dev</title>
</head>
<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="{:url('index')}"><b>SFDP</b> </a>
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">超级表单开发平台V3.0-dev</span> 
			<span class='logo navbar-slogan f-l mr-10 hidden-xs'>开源协议：MIT  </span>
			<span class='logo navbar-slogan f-l mr-10 hidden-xs'>作者：蝈蝈（1838188896） 交流群：855626871</span>
		</nav>
	</div>
</div>
</header>
<!--左侧菜单开始-->
<aside class="Hui-aside">
		<div class="menu_dropdown bk_2" >
			<dl>
				<dt><i class="Hui-iconfont"></i> 柔性开发平台<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;">
					<ul>
					<li><a data-href="{:url('sfdp/desc')}" data-title="表单设计" href="javascript:void(0)">表单设计</a></li>
					<li><a data-href="{:url('sfdp/sfdp_fun')}" data-title="函数定义" href="javascript:void(0)">函数定义</a></li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt><i class="Hui-iconfont"></i> 业务功能<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
					{:sfdp\\Api::sdfp_menu()}
				</dd>
				</dl>
		</div>	
</div>
</aside>
<!--左侧菜单结束-->
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
			<li class="active"><span title="作者官网">作者官网</span><em></em></li></ul>
	</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
		<body onload="prettyPrint()">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 欢迎使用，超级表单开发平台</nav>
<div class="page-container">
<h3>当前版本为：V3.0-开发版</h3>

<article class="f-14 l-30 mt-20 mr-50">
			<script type="text/javascript">
        /*sfdp*/
        var cpro_id = "u5949321";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
</article>

		
		</div>
	</div>
</div>
</section>
</body>
</html>