/*订单详情*/
.order-detail-box {
    
    .common_box {

        padding: 10px;
        background: #fff;
        border-radius: 2px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        margin-bottom: 10px;

        h3 {
            margin:5px auto 10px auto;
        }
    }

    .for-liucheng{
        height:80px;
        padding:20px 10px 0 10px; 
        position:relative;

            .liulist{
                float:left;
                width:20%; 
                height:7px; 
                background:#ccc;
            }
            .liulist.for-cur{ 
                background:#f90;
            }
            .liutextbox{ 
                position:absolute;
                width:100%;
                left:0;
                top:10px;

                .liutext{
                    float:left;
                    width:20%; 
                    text-align:center;

                    em{ 
                        display:inline-block;
                        width:24px; 
                        height:24px;
                        -moz-border-radius: 24px; 
                        -webkit-border-radius: 24px;
                        border-radius:24px; 
                        background:#ccc; 
                        text-align:center; 
                        font-size:14px; 
                        line-height:24px; 
                        font-style:normal; 
                        font-weight:bold;color:#fff;
                    }

                    strong{ 
                        display:inline-block;
                        height:26px; 
                        line-height:26px; 
                        font-weight:400;
                    }
                }

                .for-cur em{
                    background:#f90;
                }
                .for-cur strong{
                    color:#f90;
                }
            }
    }

    .order_pay {

        .box {

            .channel_str {
                margin-left:10px;
            }
        }
    }
}