.title_img_004{
	padding:5px;
}
.title_img_004:after{
	content:'';
	display:block;
	clear:both;
}
.title_img_004 div{
	float:left;
	overflow:hidden;
}
.title_img_004 div ul{
	margin:8px;
	border:#EEE solid 1px;
}
.title_img_004 div ul:hover{
	box-shadow: 3px 3px 3px #999;
}
.title_img_004 div ul ol{
	position:relative;
	overflow: hidden;
	border-bottom:#EEE solid 1px;
}
.title_img_004 div ul ol:before{
	content:'';
	display: block;
	padding-top: 70%;	
}
.title_img_004 div ul ol img{
	position:absolute;
	max-width:98%;
	max-height:98%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.title_img_004 div ul li{
	padding: 0 10px;
	font-size: 14px;
	line-height: 40px; 
	height: 40px;
	text-align: center;
	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显*/
}