{{ data.start() }}
<div class="col-sm-9">
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body">
            {% for key,value in data.formEntity %}{% if value['widget'] is defined AND value['left'] is defined AND value['left'] == true %} {{ view.r(data.renderElement(key)) }} {% endif %} {% endfor %}
        </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
    </div>
</div>
<div class="col-sm-3 no-left-padding">
        <!-- /.box-header -->
            {% for key,value in data.formEntity %}
                {% if value['widget'] is defined AND value['right'] is defined AND value['right'] == true %}
                    {{ view.r(data.renderElement(key)) }}
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <button class="save_sort btn btn-success btn-block" type="submit">提交
                </button>
            </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
</div>
</form>
<div class="overlay hidden">
    <i class="fa fa-refresh fa-spin"></i>
</div>
