<!doctype html>
<html>
<head>
<meta charset = "UTF-8" />
<link rel = "stylesheet" href = "../templates/css/new.css" />
<title>文章列表</title>
</head>
<body>
<div id = "list">
<table>
{section loop = $list name = value}
{section loop = $list[value] name = n max = 1}
	<tr>
		<td>
			<a href = "../article/?p={$list[value].id}" target = "_blank" style = "color:#282828;">{$list[value].title}</a> 
		</td>
		<td>
			[{$list[value].date}]
		</td>
		<td>
			<a href = "./edit.php?id={$list[value].id}" rel = "nofollow">编辑</a> 
			<a href = "?delete={$list[value].id}" rel = "nofollow">删除</a>
		</td>
	</tr>
{/section}
{/section}
</table>
</div>
</body>
</html>