<!doctype html>
<html>
<head>
<title>已报名用户</title>
<link rel = "stylesheet" href = "../css/style.css" type = "text/css" />
</head>
<body>
<div id = "show">
<table border = "1" align = "center" cellpadding = "3" cellspacing = "0">
	<caption style = "color:#ffffff;"><h3>当前已报名</h3></caption>
	<tr style = "background-color:#009999;color:#ffffff;">
	{foreach from = $m item = min}
		<th>{$min}</th>
	{/foreach}
	</tr>
	{foreach from = $arr item = value}
	<tr>	
		{foreach from = $value item = v}
		<td width = "120">
			{$v}
		</td>
		{/foreach}
	</tr>
	{/foreach}
</table>
</div>
</body>
</html>