<!DOCTYPE html>
<html>
#{include file="header.html"}#
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
  <h1><i class="fa fa-smile-o text-danger"></i></h1>
  <h3 class="font-bold">#{$message}#</h3>
  <div class="error-desc"> 
    <form class="form-inline m-t" role="form">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="请输入您需要查找的内容 …">
      </div>
      <button type="submit" class="btn btn-primary">搜索</button>
		 <button type="button" class="btn btn-primary btn-back-reply"><i class='fa fa-reply'></i> 返回</button>
    </form>
  </div>
</div>
</body>
</html>