<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>07FLY-CRM客户关系管理系统</title>
<meta name="keywords" content="零起飞,CRM,免费CRM,客户管理系统,客户管理软件,客户关系管理软件,客户关系管理系统,CRM软件,CRM系统">
<meta name="description" content="零起飞客户管理CRM系统针对企业不同阶段提供不同的客户管理CRM系统功能，以实现企业对客户管理的需要，网络中只需一台电脑安装本客户管理CRM系统，其它电脑均可通过浏览器使用。">
<link rel="shortcut icon" href="favicon.ico">
<link href="#{$smarty.const.APP}#/View/template/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/font-awesome.css?v=4.4.0" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/switchery/switchery.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/datapicker/datetimepicker.min.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/animate.css" rel="stylesheet">
<link href="#{$smarty.const.APP}#/View/template/css/style.css?v=4.1.0" rel="stylesheet">
<!-- 自定义CSS -->	
<link href="#{$smarty.const.APP}#/View/template/css/07fly.css" rel="stylesheet">

<!-- 全局js -->
<script src="#{$smarty.const.APP}#/View/template/js/jquery.min.js?v=2.1.4"></script>
<script src="#{$smarty.const.APP}#/View/template/js/bootstrap.min.js?v=3.3.6"></script>
<script src="#{$smarty.const.APP}#/View/template/js/plugins/jeditable/jquery.jeditable.js"></script>
<!-- Data Tables -->
<script src="#{$smarty.const.APP}#/View/template/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="#{$smarty.const.APP}#/View/template/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- layer javascript --> 
<script src="#{$smarty.const.APP}#/View/template/js/plugins/layer/layer.min.js"></script> 
<!-- iCheck --> 
<script src="#{$smarty.const.APP}#/View/template/js/plugins/iCheck/icheck.min.js"></script> 

<!-- Chosen --> 
<script src="#{$smarty.const.APP}#/View/template/js/plugins/chosen/chosen.jquery.js"></script> 

<!-- 百度JS模板 -->
<script src="#{$smarty.const.APP}#/View/template/js/baiduTemplate.js"></script> 
<!-- 百度J编辑器 -->
<script type="text/javascript" charset="utf-8" src="#{$smarty.const.APP}#/Extend/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="#{$smarty.const.APP}#/Extend/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="#{$smarty.const.APP}#/Extend/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- Data picker -->
<script src="#{$smarty.const.APP}#/View/template/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="#{$smarty.const.APP}#/View/template/js/plugins/datapicker/bootstrap-datetimepicker.js"></script>
<script src="#{$smarty.const.APP}#/View/template/js/plugins/datapicker/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6cbae336ef2e6fc07bbcab9a0872e082";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>