.builder {

	.main-title {
		margin-bottom:10px;

		h2 {
			margin:0;
			font-size:20px;
			font-weight: 500;

			span.suggest {
				color:#333;
				font-size:14px;
			}
		}
	}

    .button-box {

        margin-bottom: 10px;
    }

	.tab-wrap {
		margin-bottom:20px;
	}

	.builder_item {
		margin-bottom:10px;

		.item-label {
			color:#09c;
			font-size:15px;

			.check-tips {
				font-size:12px;
				color:#888;
				font-weight:500;
			}
		}

		.focus, &:focus {
		    border-color: #09c;
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(20,92,205,.6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(20,92,205,.6);
		}

		.controls {
			padding-bottom:5px;



			label {
				font-weight:500;
			}

			input {
				max-width:400px;
				color:#666;
			}

			textarea {
				width:100%;
				max-width:400px;
				color:#666;
			}

			select {
				max-width:400px;
				color:#666;
			}
			/*图标选择*/
			.icon-chose {
				max-width:400px;
			}
			/*chosen*/
			.chosen {
				max-width:400px;
			}

			/*图片上传部分*/
			.upload-img-box .upload-pre-item img {
			  width: 150px;
			}
			.upload-img-box .upload-pre-item .del_btn {
			  width: 150px;
			  position: absolute;
			  color: #fff;
			  margin-top: -30px;
			  height: 30px;
			  line-height: 30px;
			  cursor: pointer;
			}
			.upload-img-box .upload-pre-item .opacity {
			  filter: alpha(opacity=50);
			  -moz-opacity: 0.5;
			  -khtml-opacity: 0.5;
			  background: #000;
			  opacity: 0.5;
			}
			.multiImage .upload-img-box .upload-pre-item .each {
			  display: inline-block;
			  margin-right: 5px;
			  margin-bottom: 5px;
			}
			.multiImage .upload-img-box .upload-pre-item img {
			  width: 150px;
			  height: 150px;
			}
			.multiImage .upload-img-box .upload-pre-item .del_btn {
			  width: 150px;
			  position: absolute;
			  color: #fff;
			  margin-top: -30px;
			  height: 30px;
			  line-height: 30px;
			  cursor: pointer;
			}
			.multiImage .upload-img-box .upload-pre-item .opacity {
			  filter: alpha(opacity=50);
			  -moz-opacity: 0.5;
			  -khtml-opacity: 0.5;
			  background: #000;
			  opacity: 0.5;
			}

			/*文件上传*/
			.file-upload .file_item {
				padding:5px 0;
				margin:5px auto;
			}

		}
	}
	
}