.module-list .card {
  border: 1px solid #eee;
  background:#f7f7f7;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.module-list .card:hover {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.module-list .module-list-box .media-wrapper {
  background:#f7f7f7;
  margin-top: 15px;
}
.module-list .module-list-box .media-wrapper .cover-icon {
  text-align: center;
  border-radius:6px;
  width:105px;
  height:105px;
  margin:0 auto;
}
.module-list .module-list-box .media-wrapper .cover-icon img{
  border-radius:10%;
}
.module-list .module-list-box .media-wrapper .cover-icon i {
  font-size: 64px;
  line-height: 120px;
  color: #03b8cf;
}
.module-list .module-list-box .content-wrapper .title {
  margin-bottom: 6px;
  text-align: center;
  font-weight:600px;
}
.module-list .module-list-box .content-wrapper .title a {
  font-size: 16px;
  color: #333;
}