body {
	background:none;
	font-size:14px;
}

/*public*/

a {
	color:#09c;

	&:hover {
		color:#f90;
	}
}
.nav-primary>li>a {
    border: 1px solid #ddd;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
    color: #333;

    &:hover {
    	color:#09c;
    }
}

.nav-primary>li.active>a, .nav-primary>li.active>a:focus, .nav-primary>li.active>a:hover {
    color: #fff;
    background-color: #09c;
    border-color: #09c;
}

.table {

	td {
		color:#666;
	}
}

/*end public*/
.wrapper {

	padding-top:10px;
	


	.with-padding {
		padding:10px;
		position: relative;
	    border-radius: 3px;
	    background: #ffffff;
	    border-top: 3px solid #d2d6de;
	    margin-bottom: 10px;
	    width: 100%;
	    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
}

/**
 * 显示加载中样式
 */
.big_loading {
  background:rgba(0,0,0,0.2);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  text-align: center;
  img{
      vertical-align: middle;
  }
  img{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
}




