{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<div class="layui-form">
    <table class="layui-table lay-even">
        <thead>
        <tr>
            <th width="80">ID</th>
            <th>名称</th>
            <th>表名</th>
            <th>状态</th>
            <th width="240">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="list" item="vo"}
        <tr>
            <td>{$vo.fieldset_id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.table}</td>
            <td><input type="checkbox" name="field_value" lay-skin="switch" value="1" lay-text="正常|禁用" {eq name="vo.status" value="1"}checked{/eq}  lay-filter="ajax" data-params='{"url":"{:url("api/api/upField")}","confirm":"true","data":"table=fieldset_expand&id_name=fieldset_id&id_value={$vo.fieldset_id}&field=status","complete":"up"}'></td>
            <td>
                <a href="{:url('AdminExpandField/index',array('fieldset_id'=>$vo['fieldset_id']))}" class="layui-btn layui-btn-mini layui-btn-normal">
                    <i class="iconfont">&#xe649;</i>管理
                </a>
                <a href="{:url('info',array('fieldset_id'=>$vo['fieldset_id']))}" class="layui-btn layui-btn-mini modal-catch">
                    <i class="iconfont">&#xe653;</i>编辑
                </a>
                <a class="layui-btn layui-btn-mini layui-btn-danger ajax"
                   data-list='{"key":"id={$vo.fieldset_id}","msg":true,"render":"true","action":"del"}'
                   data-params='{"url": "{:url("del")}","confirm":"true","data":"id={$vo.fieldset_id}","complete":"del"}'>
                    <i class="iconfont">&#xe626;</i>删除
                </a>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
</body>
{/block}
{block name="script"}
<script>
    layui.use('default');
</script>
{/block}