.dux-coupon-list {
  margin-left: -20px;
  li {
    padding-left: 20px;
    padding-bottom:20px;
  }
}

.dux-coupon-box {
  border: 1px solid #ddd;
  border-top: 10px solid $color-main;
  position: relative;
  overflow: hidden;
  .bottom {
    left: 0;
    width: 100%;
    height: 4px;
    background: url("../images/coupon-bottom.png");
  }
  .price {
    padding: 20px;
    background: #fff;
    border-bottom: 1px dotted #ddd;
    text-align: center;
    h3 {
      margin: 0;
      padding: 0;
      color: $color-main;
      font-size: 4rem;
      small {
        font-size: 2rem;
      }
    }
    p {
      color: #999;
      padding-bottom:5px;
    }
    .tip {
      font-size:1.2rem;
    }
  }
  .info {
    background: #fff;
    padding: 20px;
    p {
      height: 45px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    a {
      display: block;
      line-height: 30px;
      margin: 0 auto;
      border: 1px solid $color-main;
      color: $color-main;
      border-radius: 25px;
      text-align: center;
      font-size: 14px;
    }
  }
  .linel, .liner {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f5f5f5;
    top: 140px;
  }
  .linel {
    left: -15px;
  }
  .liner {
    right: -15px;
  }

  .del {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size:1.5rem;
    text-align: center;
    right: 0;
  }

  &.dux-coupon-failure {
    border-color: #ddd;
    .price {
      h3 {
        color: #ccc;
      }
    }
    .info {
      a {
        border-color: #ccc;
        color: #ccc;
      }
    }
  }
}