

.dux-pro-item {
  text-align: center;
  padding: 10px;
  .img {
    padding: 10px 0;
    img {
      width: 120px;
      height: 120px;
    }
  }
  .title {
    padding-top: 5px;
    font-size: 1.4rem;
  }
  .desc {
    color: #666;
    font-size: 1.2rem;
    padding-top: 5px;
  }
  .price {
    padding-top: 5px;
    color: $color-main;
  }
}

.dux-pro-list {
  position: relative;
  overflow: hidden;
  ul {
    margin-bottom: -1px;
    margin-right: -1px;
  }
  li {
    float: left;
    width: 25%;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}



.dux-upload-list {
  li {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    a {
      display: block;
      height: 60px;
      border: 1px solid #ddd;
      text-align: center;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      width: 60px;
      height: 60px;
    }
    .close {
      position: absolute;
      display: block;
      z-index: 5;
      right: 0;
      top: 0;
      color: #fff;
      background: rgba(0, 0, 0, .5);
      width: 12px;
      height: 12px;
      line-height: 12px;
      font-style: normal;
      cursor: pointer;
      text-align: center;
    }
  }
  .add-img {
    background: #fff url(../images/ico_add.png) no-repeat center;
    text-align: center;
    .prs {
      color: #fff;
      background: rgba(0, 0, 0, .5);
      font-weight: normal;
      padding: 2px 5px;
      border-radius: 5px;

    }

  }

}

.dux-list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  li {
    padding: 10px 10px;
    border-bottom:1px solid #eee;
    .title {
      font-size:1.4rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .info {
      a {
        color: #999;
      }
      font-size:1.2rem;
      color: #999;

    }
    .desc {
      padding: 5px 0;
    }
  }
}

.dux-info-list {
  dl {
    display: flex;
    padding: 5px;
    font-weight: normal;
    dt {
      font-weight: normal;
      width: 110px;
    }
    dd {
      font-weight: normal;
      flex: 1;
      text-align: right;
    }
  }

}

.dux-type-list {
  li {
    margin: 5px 0;
  }
  label {
    display: block;
    font-weight: normal;
    display: flex;
    input {
      display: none;
    }
    border: 1px solid rgba($color-main, .2);
    background: rgba($color-main, .05);
  }
  .type-box {
    display: block;
    background: #fff;
    padding: 10px;
    border-right: 1px solid rgba($color-main, .2);
  }
  .type-info {
    flex: 1;
    padding: 10px 20px;
  }
}

.dux-select-list {
  li {
    padding: 5px 0;
    float: left;
    margin-right:10px;
    .title {
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 10px 20px;
      display: block;
      background: #fff;
      border-radius: 3px;
      width: 160px;
      height: 64px;
      text-align: center;
      vertical-align: middle;
    }
    .title-1 {
      padding-top: 20px;
    }
    .title-2 {
      padding: 15px 10px;
      height: auto;

    }
    input:checked + .title {
      border-color: $color-main;
      color: $color-main;
    }
  }
}