.dux-order-layout {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  .layout-l {
    border-right:1px solid #ddd;
    vertical-align: top;
  }
  .layout-r {
    vertical-align: top;
  }
}

.dux-order-info {
  padding: 10px;
  dl {
    padding: 5px 0;
    dt {
      color: #999;
      font-weight: normal;
      width: 70px;
      float: left;
    }
    dd {
      margin-left: 80px;

    }
  }
}

.dux-order-log {
  height: 350px;
  overflow-y: auto;
}


