.dux-other-header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  box-shadow: 0 2px 5px #ddd;
  .header-logo {
    float: left;
    img {
      height: 55px;
    }
  }
  .header-info {
    float: right;
    text-align: right;
    line-height: 30px;
    margin-top: 20px;
    a {
      color: $color-main;
    }
  }
  .header-name {
    float: left;
    border-left: 1px solid #ddd;
    height: 55px;
    line-height: 55px;
    margin-left: 5px;
    padding-left: 20px;
    font-size: 1.8rem;
    color: #666;
  }
  .header-user {
    float: right;
    height: 55px;
    line-height: 55px;
    a {
      margin-left: 20px;
      color: #666;
      border-left: 1px solid #ddd;
      padding-left: 20px;
      &:first-child {
        border-left: none;
      }
    }
  }
}

.dux-other-footer {
  font-size: 1.4rem;
  color: #999;
  text-align: center;
}




.dux-other-layout {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  .layout-form {

  }
  .layout-sidebar {

  }
}


.dux-login-main {
  min-height: calc(100% - 92px);
  padding-top: 80px;
}

.dux-login {
  width: 1200px;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 5px 50px 0 rgba(0,0,0,.15);

  .uk-slideshow {
    position: relative;

    .uk-slideshow-nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;

    }
    .uk-dotnav>*>* {
      border: none;
      background: rgba(255,255,255, .5);

    }
    .uk-dotnav>.uk-active>* {
      background: #fff;
    }
  }

  .login-body {
    .uk-logo {
      margin-top: 50px;
      img {
        height: 50px;
      }
    }
    h1 {
      color: #666;
    }
    h3 {
      color: #999;
    }
    .form {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 30px;
    }
    .uk-input {
    }
    .uk-button {
    }
  }




  .link {

    color: $color-main;
  }

  /*.login-show {
    img {
      max-width: 660px;
      max-height: 500px
    }
    text-align: center;
    float: left;
    width: 660px;
  }
  .login-form {
    border: 1px solid #ddd;
    background: #fff;
    float: right;
    width: 400px;
    margin-top: 50px;
    label {
      font-weight: normal;
    }
    .form-title {
      background: #f9f9f9;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      font-size: 1.6rem;
    }
    .form-body {
      background: #fff;
      padding: 20px;
      padding-bottom: 10px;
      .am-form-label {
        float: left;
        width: 80px;
      }
      .form-field {
        margin-left: 100px;
        color: #666;

      }
      .form-submit {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .form-foot {
      border-top: 1px solid #ddd;
      padding: 20px;
      text-align: center;
      color: #666;

    }
  }
*/
}