.dux-pay-header {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px #ddd;
  .header-logo {
    float: left;
    img {
      height: 55px;
    }
  }
  .header-name {
    float: left;
    border-left: 1px solid #ddd;
    height: 55px;
    line-height: 55px;
    margin-left: 5px;
    padding-left: 20px;
    font-size: 1.8rem;
    color: #666;
  }
  .header-user {
    float: right;
    height: 55px;
    line-height: 55px;
    a {
      margin-left: 20px;
      color: #666;
      border-left: 1px solid #ddd;
      padding-left: 20px;
      &:first-child {
        border-left: none;
      }
    }
  }

}

.dux-tip {
  background: #f1f6fe;
  border: 1px solid #d7e0ee;
  padding: 20px;
  .icon {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
    background: #7ac256;
    color: #fff;
    border-radius: 50%;
    font-size: 3rem;
  }
  .tip-body {
    margin-left: 80px;
    h1 {
      margin: 0;
      font-size: 2rem;
    }
    p {
      margin: 0;
      margin-top:10px;
    }

  }
}

.dux-pay-title {
  font-size: 1.6rem;
  border-left: 5px solid $color-main;
  font-weight: bold;
  padding-left: 10px;
  margin: 10px 0;
}

.dux-pay-table {
  .am-table > thead > tr > th {
    font-weight: normal;
    background: #fff;
    font-size: 1.2rem;
  }
}

.dux-pay-type {
  padding: 20px;

}


.dux-pay-foot {
  background: #f1f6fe;
  padding: 20px;
  text-align: right;
}

.dux-pay-body {
  border: 1px solid #d7e0ee;
}