.dux-table-header {
  padding: 10px 0;
  border-bottom: 0;
  margin-bottom: 0;
  .head-title {
    font-size: 1.6rem;
    padding: 5px 0;
    float: left;
  }
  .head-menu {
    float: right;
  }

}

.dux-table {
  margin: 0;
  th {
    font-size: 1.4rem;
  }
}