{# templates/CRUD/list__action_clone.html.twig #}

<a href="{{ admin.generateObjectUrl('log', object) }}" class="btn btn-sm btn-default log_link" title="{{ 'link_action_log'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-building-o" aria-hidden="true"></i>
    {{ 'link_action_log'|trans({}, 'SonataAdminBundle') }}
</a>