{% if admin.canAccessObject('log', object) and admin.hasRoute('log') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('log', object) }}">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            {{ 'link_action_log'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}