<form id="form" action="{:url('config/index')}">
<div class="titlebar"><i class="iconfont icon-service_icon"></i>客服电话</div>
<table class="formtable">
    <tr><th>客服电话:</th><td><input class="input w500" datatype="*" type="text" name="service_telephone" value="{$info.service_telephone ?? ''}" /></td></tr>
</table> 
<div class="titlebar"><i class="iconfont icon-text_icon"></i>全局文案</div> 
<table class="formtable">
    <tr><th>分享文字:</th><td><input class="input w500" datatype="*" type="text" name="shore_text" value="{$config.shore_text ?? ''}" /></td></tr>
    <tr><th>分享图片:</th><td><input readonly class="input w500 selectid" url="{:url('system/passport.common/upload')}" id="shore_img" name="shore_img" value="{$config.shore_img ?? ''}" /></td></tr>
</table>
<div class="titlebar"><i class="iconfont icon-renminbi1688"></i>结算权限</div>
<table class="formtable">
        <tr>
            <th>付款权限:</th>
            <td>
                <select class="select w180" datatype="*" name="is_wechat_touser" class="select">
                    <option value="0" {$info.is_wechat_touser == 0 ? 'selected' :''}>关闭</option>
                    <option value="1" {$info.is_wechat_touser == 1 ? 'selected' :''}>开启</option>
                </select>
                <span class="gray">付款到零钱,请先确认您的微信商户支持<span class="red">付款权限</span></span>
            </td>
        </tr>
    <tr><th></th><td><input type="submit" value="确定" class="button button-blue submit" /><input type="reset" value="重置" class="button button-blank" /></td></tr>
</table>
</form>
<script type="text/javascript">
Do('base', 'layer', 'form', function () {
    $('#form').isForm();
    $(".selectid").win();
})
function shore_img(show_src){$("#shore_img").val(show_src);}
</script>