/* 通用样式*/
body {
	background-color:#f1f1f1;
	font-size:16px;
}
body.md::before {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    margin-left:75%;
    top: 0;
    width: 25%;
    z-index: 0;
}
a, .pagination li a{
	color:rgba(51, 51, 51, 0.7);
}
a:hover, .pagination li a:hover {
	color:#333
}
.container-fluid {
	padding:0;
}
.pagination {
	margin-top:0
}
/* 主体内容 */
#content {
	margin-top:20px;
	overflow:hidden;
}
#content img {
	max-width:100%;
}

/* 侧导栏 */
#sidebar {
	padding:25px 25px;
	background:#fff;
}
#sidebar h2 {
	padding:0 0 10px 0;
	margin:0;
}
#sidebar .avatar {
	text-align:center;
}
#sidebar .avatar img{
	width:80%;
}
#sidebar aside{
	padding:10px 0;
	border-top:1px solid #ddd;
}
#sidebar aside ul {
	list-style:none;
	padding-left:0;
	line-height:30px;
}

#sidebar .collapsed-sides {
	float:right;
	clear:right;
	padding:auto auto;
	text-align:center;
	padding-top:4px;
	margin-top:10px;
	font-size:24px;
	width:40px;
	height:40px;
	border:1px solid #ddd;
}

/* 索引文章、评论 */
.panel-article, .comment-content {
	border-radius:0;
}

.panel-article .comment {
	display:inline-block;
	float:right;
}

.panel-article .ds-share {
	float:right;
}
.panel-article .ds-share li {
	padding-top:3px !important;
}

/* 评论 */
.comment-content {

}

/* 第三方样式 */
.syntaxhighlighter td.code .container::before, .syntaxhighlighter td.code .container::after {display: none;}
