/* 
    Document   : 1
    Created on : 2012-2-10, 12:46:29
    Author     : alan QQ:8510001
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.fakesay.com
*/
/*---导航菜单样式---*/
body{background:#f5eed3 url(body_bg1.jpg) no-repeat center 0;width:100%;}