
.container{
	padding:30px;
	border:1px solid #DDD;
	border-radius:5px;
	box-shadow:0px 0px 5px #ddd;
	margin:60px auto;
}
.green{
	color:green;
}
.red{
	color:#c00;
}
.container a{
	float: left;
	margin-right: 50px;
}
input[type="radio"],input[type="checkbox"]{
	margin-top: 2px
}
