<extend name="Public:common" />

<block name="main">
    <form action="{:U('Article/insert')}"  id="j_custom_form" class="form-validate col-md-12" method="post" url="{:U('Article/index')}" callback="TabAjaxDone" noEnter>
    
     <div class="form-row">
	 <div class="form-label col-md-2 text-right">
                    <label>文章标题：</label> </div>
	
	 <div class="form-input col-md-5">
        <input type="text" class="validate[required] required" name="title" id="j_title" value=""  >
        
        <div class="font-yellow mrg10T">标题必须填写</div>
        </div>
        </div>
         <div class="form-row">
	 <div class="form-label col-md-2 text-right"><label>内容：</label> </div>
	
	 <div class="form-input col-md-7">
         <textarea name="description" id="j_description"  class="j-content validate[required] required"" uploadJson="{:U('File/ke_upimg')}" fileManagerJson="{:U('File/editorfilemanager')}"  minheight="200"></textarea>
		<div class="font-yellow mrg10T">内容必须填写</div>
         </div>
        </div>
                    
                    
         
         <div class="form-row">
	 <div class="form-label col-md-2 text-right"><label>分类：</label></div>
	
	 <div class="form-input col-md-5">
         <select name="cid"  data-container="body"  id="j_cid" class="selectpicker show-tick validate[required]" data-style="btn medium bg-green" data-width="auto">
               <volist name="clist" id="cate">
						<option value="{$cate.id}">{$cate.name}</option>
					</volist>
         </select>
          <div class="font-yellow mrg10T">类型必选</div>
         </div>
         </div>    
 
	  <div class="actionBar">
		<div class="form-input mrg20B text-right">
           <button type="submit" class="btn medium bg-blue">保存</button>
           <button type="button" url="{:U('Article/index')}" class="btn-close btn medium bg-red mrg15L">取消</button>
       </div>    
		</div>
    </form>
</block>