.personnal-center {
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    .container {
        padding-left: 0;
        padding-right: 0;
        .dashboard-sidebar {
            color: #444;
            float: left;
            margin-right: 40px;
            width: 144px;
            .dashboard-brand {
                border-bottom: 1px solid #e5e5e5;
                font-size: 18px;
                font-weight: 500;
                padding: 35px 0 18px;
            }
            .dashboard-sidebar-nav {
                li {
                    padding-top: 22px;
                    a {
                        color: #444;
                        font-size: 14px;
                        padding-left: 18px;
                        position: relative;
                        &.active {
                            color: #de2634;
                        }
                        &.active:before {
                            background-color: #de2634;
                            content: '';
                            display: inline-block;
                            height: 18px;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 2px;
                        }
                    }
                    &:nth-child(3n) {
                        border-bottom: 1px solid #e5e5e5;
                        padding-bottom: 24px;
                    }
                }
            }
        }
        .dashboard-view {
            float: left;
            width: 1006px;
        }
    }
}