.refund {
    background-color: #fff;
    .refund-page {
        //公共类
        background-color: #ffffff;
        .price {
            color: #de2634;
            font-size: 12px;
        }
        .top {
            border: 1px solid #e5e5e5;
            height: 178px;
            color: #fff;
            margin-bottom: 20px;
            margin-top: 40px;
            width: 100%;
            .tuikuanliucheng {
                color: #000000;
            }
            .bar {
                background: #d0d0d0;
                border-radius: 32px;
                font-size: 18px;
                font-weight: bold;
                height: 32px;
                line-height: 32px;
                position: relative;
                text-align: center;
                width: 32px;
            }
            .bar-main {
                margin: 58px auto 15px;
                &:before {
                    background: #d0d0d0;
                    content: '';
                    height: 2px;
                    left: 40px;
                    position: absolute;
                    top: 15px;
                    width: 200px;
                }
                &::after {
                    background: #d0d0d0;
                    content: '';
                    height: 2px;
                    left: -215px;
                    position: absolute;
                    top: 15px;
                    width: 200px;
                }
            }
            .bar-left {
                margin: 58px 112px 15px 212px;
                &::after {
                    background: #d0d0d0;
                    content: '';
                    height: 2px;
                    left: -210px;
                    position: absolute;
                    top: 15px;
                    width: 200px;
                }
            }
            .bar-right {
                margin: 58px 0px 15px 112px;
                &:before {
                    background: #de2634;
                    content: '';
                    height: 2px;
                    left: 40px;
                    position: absolute;
                    top: 15px;
                    width: 200px;
                }
            }
            .activeBar {
                background: #de2634;
                &:before {
                    background: #de2634 !important;
                }
                &:after {
                    background: #de2634 !important;
                }
            }
            .progress {
                background-color: white;
                box-shadow: none;
                color: #999;
                font-size: 14px;
                margin-left: 85px;
                text-align: left;
            }
            .deal {
                margin-left: 125px;
            }
            .over {
                margin-left: 165px;
            }
            .activeProgress {
                color: #444;
                font-weight: bold;
            }
        }
        .bottom {
            .applay-goods {
                border: 1px solid #e5e5e5;
                float: left;
                height: 255px;
                width: 240px;
                .goods-box {
                    padding: 0 20px;
                    .goods-main {
                        border-bottom: 1px solid #e5e5e5;
                        color: #444;
                        font-size: 12px;
                        height: 72px;
                        line-height: 1.5;
                        text-align: left;
                        .goods-img {
                            border: 1px solid #e5e5e5;
                            float: left;
                            height: 48px;
                            width: 48px;
                            img {
                                max-width: 100%;
                            }
                        }
                        .goods-msg {
                            float: left;
                            height: 31px;
                            margin-left: 11px;
                            width: 136px;
                            .goods-type {
                                color: #999;
                            }
                        }
                    }
                }
                .refund-main {
                    color: #444;
                    font-size: 12px;
                    line-height: 21px;
                    padding: 20px;
                }
            }
            .border-none {
                border: none !important;
            }
            .ivu-form {
                .ivu-form-item {
                    margin-bottom: 20px;
                    .ivu-input {
                        padding: 0 10px;
                    }
                    .input-tip {
                        color: #d0d0d0;
                        line-height: 18px;
                    }
                    .btn-submit {
                        background: #de2634;
                        border: 0 none;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 300;
                        height: 42px;
                        line-height: 42px;
                        text-align: center;
                        width: 140px;
                    }
                }
                .form-item-input {
                    .ivu-input-wrapper {
                        width: 140px;
                        margin-right: 10px;
                        .ivu-input {
                            width: 140px;
                            height: 24px;
                        }
                    }
                }
                .form-item-textarea {
                    .ivu-input-wrapper {
                        width: 512px;
                        height: 84px;
                        .ivu-input {
                            width: 512px;
                            height: 84px;
                            resize: none;
                        }
                    }
                }
                .ivu-form-item-label {
                    text-align: right;
                    vertical-align: middle;
                    float: left;
                    font-size: 12px;
                    line-height: 1;
                    padding: 7px 20px 7px 0;
                    box-sizing: border-box;
                    font-weight: 500;
                }
                .ivu-form-item-content {
                    font-size: 12px;
                    line-height: 24px;
                    position: relative;
                    .ivu-select {
                        .ivu-select-selection {
                            border-radius: 0;
                            padding-left: 10px;
                        }
                        .ivu-select-dropdown-list {
                            .ivu-select-item-disabled,
                            .ivu-select-item-disabled:hover {
                                color: #bbbec4;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
                .real-imgs {
                    margin-top: 0;
                    > li {
                        height: 80px;
                    }
                    .diamond-upload-file {
                        position: relative;
                        .icon-tupian {
                            align-items: center;
                            -webkit-align-items: center;
                            background-color: #f7f7f7;
                            color: #b0b0b0;
                            display: flex;
                            display: -webkit-flex;
                            font-size: 40px;
                            height: 100%;
                            justify-content: center;
                            -webkit-justify-content: center;
                            width: 100%;
                        }
                    }
                    .ivu-upload {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        .ivu-upload-input {
                            visibility: hidden;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .applay-buyer {
                border: 1px solid #e5e5e5;
                float: right;
                height: 468px;
                margin-bottom: 60px;
                width: 930px;
                .title {
                    padding-left: 20px;
                }
                .title-buy {
                    padding-left: 20px;
                }
                .buyer-box {
                    font-size: 12px;
                    .buyer-main {
                        border-bottom: 1px solid #e5e5e5;
                        color: #444;
                        & > p {
                            padding-left: 32px;
                            clear: both;
                            height: 13px;
                            margin-bottom: 20px;
                            .msg-title {
                                float: left;
                                margin-right: 20px;
                                width: 48px;
                            }
                            .msg-main {
                                color: #444;
                                float: left;
                                font-size: 12px;
                            }
                        }
                    }
                    .trader-deal {
                        padding-left: 12px;
                        .title-caveat {
                            height: 30px;
                            margin-top: 30px;
                            margin-bottom: 14px;
                            .caveat {
                                border-radius: 30px;
                                border: 2px solid #de2634;
                                color: #de2634;
                                float: left;
                                font-size: 20px;
                                font-weight: bold;
                                height: 30px;
                                line-height: 25px;
                                margin-left: 18px;
                                text-align: center;
                                width: 30px;
                            }
                            .caveat-msg {
                                color: #444;
                                float: left;
                                font-weight: bold;
                                font-size: 18px;
                                height: 30px;
                                line-height: 30px;
                                margin-left: 20px;
                            }
                        }
                        .msg-main {
                            color: #444;
                            font-weight: 300;
                            padding-left: 70px;
                            margin-bottom: 8px;
                            height: 13px;
                            .price {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .title {
                border-bottom: 1px solid #e5e5e5;
                color: #444;
                font-size: 14px;
                font-weight: bold;
                height: 40px;
                line-height: 40px;
                margin-bottom: 19px;
                padding-left: 21px;
                text-align: left;
                width: 100%;
            }
        }
    }
}