.scan-pay {
    background: #ffffff url(../images/item-point.png) repeat-x;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-bottom: 118px;
    padding-top: 40px;
    padding-left: 40px;
    .scan-pay-title {
        color: #666;
        font-size: 14px;
        span {
            font-size: 24px;
            font-weight: 500;
        }
    }
    .scan {
        margin-top: 80px;
        .scan-left {
            float: left;
            margin-left: 140px;
            .two-bar-codes {
                border: 2px solid #e5e5e5;
                float: left;
                height: 282px;
                margin-bottom: 20px;
                width: 282px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            & > p {
                color: #666;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
            }
        }
        .scan-right {
            float: left;
            height: 335px;
            margin-left: 220px;
            width: 313px;
        }
    }
    .chose-pay {
        color: #62bdff;
        margin-top: 40px;
        i {
            float: left;
            font-size: 25px;
        }
        span {
            float: left;
            font-size: 14px;
            margin-top: 6px;
            margin-left: 10px;
        }
    }
}