.signup {
    background-color: #f7f7f7;
    .signup-content {
        background-color: #fff;
        border-top: 2px solid #ff2342;
        height: 782px;
        margin: 80px auto;
        padding: 0 40px;
        width: 786px;
        .signup-title {
            padding-top: 24px;
            padding-bottom: 60px;
            span {
                float: left;
                font-size: 20px;
            }
            a {
                float: right;
                &:hover {
                    color: #ff2342;
                }
            }
        }
    }
    .signup-form {
        margin: 0 auto;
        width: 404px;
    }
    .ivu-form-item {
        margin-top: 30px;
    }
    .ivu-form-item-label {
        float: left;
        height: 42px;
        line-height: 42px;
        margin-bottom: 0;
        margin-right: 20px;
        text-align: right;
        width: 60px;
    }
    .signup-form-group {
        height: 42px;
    }
    .protocol-content {
        color: #4290e8;
    }
    .register {
        background-color: #ff2342;
        border: 0 none;
        color: #fff;
        font-size: 18px;
        height: 42px;
        line-height: 42px;
        margin-left: 80px;
        margin-top: 15px;
        text-align: center;
        width: 324px;
    }
    .agreement-clause {
        .signup-form-protocol {
            float: left;
            margin-right: 10px;
            margin-top: 12px;
            margin-left: 4px;
            width: 20px;
        }
        .form-title {
            float: left;
        }
        .tip {
            display: inline-block;
            margin-top: 10px;
            line-height: 42px;
        }
    }
    .ivu-checkbox-group-item,
    .ivu-switch {
        line-height: 42px;
    }
    .signup-form-control {
        height: 42px;
        width: 324px;
        &:focus {
            outline: none;
        }
    }
    .signup-form-code {
        width: 174px;
    }
    .signup-form-obtain-code {
        background-color: #fff;
        border: solid 1px #de2634;
        color: #de2634;
        cursor: pointer;
        display: inline-block;
        float: right;
        height: 42px;
        line-height: 42px;
        margin-left: 5px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 140px;
    }
    .ivu-form-item-error-tip {
        left: 80px;
    }
    .modal {
        background: rgba(0, 0, 0, 0.6);
    }
    .modal-dialog {
        background: #ffffff;
        height: 680px;
        width: 786px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -340px;
        margin-left: -393px;
        .address-header {
            > div {
                height: 80px;
                border-bottom: 1px solid #d0d0d0;
                padding: 0 40px;
                a {
                    font-size: 30px;
                    line-height: 80px;
                }
            }
        }
        .modal-title {
            line-height: 80px;
        }
        .signup-form-group {
            text-align: center;
        }
        .close-btn {
            display: none;
        }
        .address-body {
            margin-top: 30px;
            padding: 0 40px;
            .content {
                color: #444;
                height: 446px;
                line-height: 1.71;
                overflow-y: auto;
            }
        }
        .order-btn {
            margin-top: 25px !important;
            margin: 0 auto;
        }
    }
}
.header-bar-logo {
    background-color: #fff;
    height: 100px;
    line-height: 100px;
}
.header-bar-line {
    border-bottom: 2px solid #ff2342;
}