{extend name="common/main"/}

{block name="body"}
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{:lang("_HOOK_LIST_")}</h2>
	</div>
	<div class="button-box">

			<a class="btn btn-info" href="{:Url('addhook')}">{:lang("_NEW_GROWTH_WITH_SPACE_")}</a>

	</div>

	<!-- 数据列表 -->
	<div class="with-padding">
		<div class="data-table">
		<table class="table table-bordered table-striped ">
			<thead>
				<tr>
					<th>ID</th>
					<th>{:lang("_NAME_")}</th>
					<th>{:lang("_DESCRIPTION_")}</th>
					<th>{:lang("_TYPE_")}</th>
					<th>{:lang("_OPERATION_")}</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="vo"}
					<tr>
						<td>{$vo.id}</td>
						<td><a href="{:Url('edithook?id='.$vo['id'])}">{$vo.name}</a></td>
						<td>{$vo.description}</td>
						<td>{$vo.type_text}</td>
						<td>
							<a title={:lang("_EDIT_WITH_DOUBLE_")} href="{:Url('edithook?id='.$vo['id'])}">{:lang("_EDIT_")}</a>
							<a class="confirm ajax-get" title={:lang("_DELETE_WITH_DOUBLE_")} href="{:Url('delhook?id='.$vo['id'])}">{:lang("_DELETE_")}</a>
						</td>
					</tr>
				{/volist}
			</tbody>
		</table> 
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$page}
	    </div>       
	</div>

{/block}

{block name="script"}
	<script type="text/javascript">
		$(function(){

		})
	</script>
{/block}