@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Style Switcher
/* ---------------------------------------------------------------------- */

#style-switcher {
	font-size: 12px;
	color: #383838;
	background-color: #f7f7f7;
	width: 195px;
	position: fixed;
	left: 0;
	top: 50px;
	z-index: 600;
	display: block !important; /* mobile devices */
}

#style-switcher h2 {
	font-size: 16px;
	color: #fff;
	background-color: #383838;
	padding: 9px 10px;
	margin: 0;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

#style-switcher h3 {
	font-size: 13px;
	margin-bottom: 10px;
}

#options {
	padding: 15px 10px;
	border-right: 1px solid #e5e5e5;
}

#reset {
	padding: 0 10px 15px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

#style-switcher h2 a {
	display: block;
	background: #383838 url(style-switcher.png) no-repeat center center;
	width: 39px;
	height: 39px;
	position: absolute;
	top: 0;
	right: -39px;
	text-indent: -9999px;
}

.thumbs { 
	list-style: none; 
	margin-bottom: 15px; 
}

.thumbs, #layout-switcher {
	border-bottom: 1px solid #d9d9d9; 
	padding-bottom: 15px; 
}

.thumbs:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;	
}

.thumbs li { 
	float: left; 
	margin: 0 5px 5px 0; 
}

.thumbs li a { 
	display: block; 
	width: 15px; 
	height: 15px; 
	cursor: pointer; 
	box-shadow: 0 0 0 1px #383838 inset; 
}

.thumbs.mobile li a {
	width: 30px;
	height: 30px;
}

.thumbs li a.active { 
	box-shadow: 0 0 0 2px #383838 inset; 
}

#layout-switcher a {
	background-color: #fff;
	border: 2px solid #bfbfbf;
	padding: 5px 13px;
	color: #383838 !important;
	margin-bottom: 0;
}

#layout-switcher a:hover, #layout-switcher a.active {
	border-color: #383838;
}

#reset a { 
	margin: 0;
}

/* Predefined Colors */

.orange, .orange-bg { background-color: #f25824; }
.green, .green-bg { background-color: #7eb01a; }
.blue, .blue-bg { background-color: #4396bf; }
.light-orange, .light-orange-bg { background-color: #eb7f00; }
.red, .red-bg { background-color: #e53c3c; }
.purple, .purple-bg { background-color: #b28eb4; }
.pink, .pink-bg { background-color: #ce5c76; }
.teal, .teal-bg { background-color: #1693a5; }

/* Background Patterns */

.bg-patterns li a {
	background-color: #fff;		
}

.wide-bg-1 { background-image: url(../Images/background-patterns/wide/subtle-dots.png); }
.wide-bg-2 { background-image: url(../Images/background-patterns/wide/swirl.png); }
.wide-bg-3 { background-image: url(../Images/background-patterns/wide/brilliant.png); }
.wide-bg-4 { background-image: url(../Images/background-patterns/wide/dots.png); }
.wide-bg-5 { background-image: url(../Images/background-patterns/wide/squares-and-crosses.png); }
.wide-bg-6 { background-image: url(../Images/background-patterns/wide/bricks.png); }
.wide-bg-7 { background-image: url(../Images/background-patterns/wide/squares.png); }

.boxed-bg-1 { background-image: url(../Images/background-patterns/boxed/grid.png); }
.boxed-bg-2 { background-image: url(../Images/background-patterns/boxed/first_aid_kit.png); }
.boxed-bg-3 { background-image: url(../Images/background-patterns/boxed/graphy.png); }
.boxed-bg-4 { background-image: url(../Images/background-patterns/boxed/kuji.png); }
.boxed-bg-5 { background-image: url(../Images/background-patterns/boxed/norwegian_rose.png); }
.boxed-bg-6 { background-image: url(../Images/background-patterns/boxed/office.png); }
.boxed-bg-7 { background-image: url(../Images/background-patterns/boxed/px_by_Gre3g.png); }
.boxed-bg-8 { background-image: url(../Images/background-patterns/boxed/squares.png); }
.boxed-bg-9 { background-image: url(../Images/background-patterns/boxed/vichy.png); }
.boxed-bg-10 { background-image: url(../Images/background-patterns/boxed/washi.png); }
.boxed-bg-11 { background-image: url(../Images/background-patterns/boxed/classy_fabric.png); }
.boxed-bg-12 { background-image: url(../Images/background-patterns/boxed/farmer.png); }
.boxed-bg-13 { background-image: url(../Images/background-patterns/boxed/low_contrast_linen.png); }
.boxed-bg-14 { background-image: url(../Images/background-patterns/boxed/mirrored_squares.png); }
.boxed-bg-15 { background-image: url(../Images/background-patterns/boxed/nasty_fabric.png); }
.boxed-bg-16 { background-image: url(../Images/background-patterns/boxed/otis_redding.png); }
.boxed-bg-17 { background-image: url(../Images/background-patterns/boxed/ravenna.png); }
.boxed-bg-18 { background-image: url(../Images/background-patterns/boxed/soft_wallpaper.png); }
.boxed-bg-19 { background-image: url(../Images/background-patterns/boxed/tiny_grid.png); }
.boxed-bg-20 { background-image: url(../Images/background-patterns/boxed/wavecut.png); }
.boxed-bg-21 { background-image: url(../Images/background-patterns/boxed/whitey.png); }

/* Background Colors */

.grey-bg { background-color: #d9d9d9; }
.dark-grey-bg { background-color: #262626; }

@media only screen and (max-width: 1029px) {#style-switcher {display: none;}}