{extend name="common@base/common" /}
{block name="style"}
	<style>
	.adv_section {
		background:#fff;
		margin:10px auto;
		padding:10px;
	}
	</style>
{/block}
{block name="body"}
<div class="container">
	<div class="adv_section siglepic">
	<h2>单图广告</h2>
	{:widget('common/Adv/render',[
		'param' => ['name' => 'siglepic'],
	])}
	</div>

	<div class="adv_section slider">
	<h2>轮播广告</h2>
	{:widget('common/Adv/render',[
		'param' => ['name' => 'slider'],
	])}
	</div>

	<div class="adv_section text">
	<h2>文字广告</h2>
	{:widget('common/Adv/render',[
		'param' => ['name' => 'text'],
	])}
	</div>

	<div class="adv_section code">
	<h2>代码块</h2>
	{:widget('common/Adv/render',[
		'param' => ['name' => 'code'],
	])}
	</div>
</div>
{/block}