body {background-color:#21598A;}
div.header {height:70px;}
div.content {float: none; margin:0 auto; border-left:none;}
#blog-posts div.row {padding-top: 10px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;}
#blog-posts h3.h_h3 a {color:#555;}
p.p_h_summary {color:#999;}
#blog-posts .span_h_info {color:#5bc0de;}
#blog-posts .p_h_info {color:#999;}
.h-detail-summary {border: 1px dashed #E0E0E0; padding: 20px; background: #FCFCFC; margin-bottom: 20px; margin-top: 20px; color: #999;}

/** 回到顶部*/
#scrolltop {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    bottom: 50px;
    color: #080;
    cursor: pointer;
    display: none;
    font-size: 14px;
    left: 54%;
    margin-left: 501px;
    padding: 2px;
    position: fixed;
    text-align: center;
    width: 20px;
}

/** 评论*/
div.comment {background: #FCFCFC;border: 1px solid #E0E0E0;padding: 5px;}
.comment-nickname {color:#21598A;}
.comment-date {color:#999;}
div.comment-content {padding-top:5px;padding-left: 5px;}
.color-hui {color:#999;}
div.comment-main .main {padding-top: 10px;}
div.comment-main {border: 1px solid #E0E0E0; padding: 5px;margin-top:10px; background: #F5F4F9;}
div.write-comment-main {border-top: 1px solid #E0E0E0; margin-top: 50px;}
.list-toolbar {margin-top: 10px;}
.delete-reply-comment {color: #999;text-decoration:line-through;}

div#detail-comment {margin-bottom: 20px;}
/** 评论end*/

.label { font-weight: normal;}