<div class="Item hr">
    <span class="fr">现有简历<b>{$rows_count}</b>个</span>
    <div class="current">简历列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td>姓名</td>
                <td>性别</td>
                <td>出生日期</td>
                <td>婚姻状况</td>
                <td>学历</td>
                <td>专业</td>
                <td>毕业院校</td>
                <td>应聘岗位</td>
                <td>联系电话</td>
                <td>QQ/E-mail</td>
                <td>状态</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <volist name="resumes" id="resume">
            <tr align="center">
                <td>{$resume['name']}</td>
                <td>
                    {$resume['sex']}
                </td>
                <td>
                    {$resume['borth_year']}-{$resume['borth_month']}-{$resume['borth_day']}
                </td>
                <td>
                    {$resume['marry']}
                </td>
                <td>
                    {$resume['education']}
                </td>
                <td>
                    {$resume['profession']}
                </td>
                <td>
                    {$resume['school']}
                </td>
                <td>
                    {$resume['job_name']}
                </td>
                <td>
                    {$resume['tel']}
                </td>
                <td>
                    {$resume['qq_email']}
                </td>
                <td>
                    {$resume['read_tag']}
                </td>
                <td>
                    {$resume['remark']}
                </td>
                <td>
                    [ <a href="{:U('Resume/look', array('id' => $resume['id']))}">查看</a> ]
                    <if condition="$cate['static_type'] neq 1">
                    [ <a href="javascript:void(0);" value="{:U('Resume/delete', array('id' => $resume['id']))}"  class="del">删除</a> ]
                    </if>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>
<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var del_link = $(this).attr("value");
            popup.confirm('确定删除？','温馨提示',function(action){
                if(action == 'ok'){
                    $.getJSON(del_link, function(json){
                        if (json.status) {
                            popup.success(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_success");
                            },2000);
                        } else {
                            popup.error(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_error");
                            },2000);
                        }

                        setTimeout(function(){
                            top.window.location.reload();
                        },1000);
                    });
                }
            });

            return false;
        });

        $(".add_oper").click(function(){
            location.href="{:U('Category/add')}"
        });
    });
</script>