/*通用*/
html {
  background: #252c34;
}
body {
  background:#f2f2f2;
  font-family:-apple-system-font, "Helvetica Neue",Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
#main-content {
  background:#fff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  background-color: #F6F6F6;
  border-bottom: 1px solid #ddd;
}
/*通用END*/
.btn {
  border-radius: 0;
}
.module-list .card {
  border: 1px solid #eee;
  background:#f7f7f7;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.module-list .card:hover {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.module-list .module-list-box .media-wrapper {
  background:#f7f7f7;
  margin-top: 15px;
}
.module-list .module-list-box .media-wrapper .cover-icon {
  text-align: center;
  border-radius:6px;
  width:105px;
  height:105px;
  margin:0 auto;
}
.module-list .module-list-box .media-wrapper .cover-icon img{
  border-radius:10%;
}
.module-list .module-list-box .media-wrapper .cover-icon i {
  font-size: 64px;
  line-height: 120px;
  color: #03b8cf;
}
.module-list .module-list-box .content-wrapper .title {
  margin-bottom: 6px;
  text-align: center;
  font-weight:600px;
}
.module-list .module-list-box .content-wrapper .title a {
  font-size: 16px;
  color: #333;
}

.admin-bar {
  border-radius: 0;
}
.pager span {
  padding: 5px 12px;
  display: inline-block;
}
.form-input-width {
  width: 400px;
}
.form-text-area-size {
  width: 400px;
  height: 400px;
}
.form-select-size {
  width: auto;
}
.panel-main {
  position: absolute;
  top: 50px;
  left: 180px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background:#f2f2f2;
}
.panel-main .nav-parent > a {
  font-size: 17px;
}
.panel-main .admin-content {
  padding:10px;
  padding-left:0;
  padding-bottom:10px;
  left: 180px;
  position:absolute;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto
}
.panel-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 180px;
  bottom: 0;
  overflow:auto;
  background: #293038;
  z-index: 13;
}
.panel-menu .sidebar-closebtn {
  color: #fff;
  background:#394555;
  line-height: 30px;
}
.panel-menu .sidebar-closebtn a{
  padding-left:15px;
  color:#fff;
  text-decoration: none;
  display:block;
}
.panel-menu .sidebar-title {
	
}
.panel-menu .sidebar-title .sidebar-title-inner {
	color:#fff;
	background:#22282e;
}
.panel-menu .sidebar-title .sidebar-title-inner:hover {
  background:#ff9900;
}
.panel-menu .sidebar-title .sidebar-title-inner:hover i {
  color:#fff;
}
.panel-menu .sidebar-title .sidebar-title-inner a {
  color:#fff;
  display:block;
  padding: 15px;
}
.panel-menu .sidebar-title .sidebar-title-inner a:hover i{
  color:#fff;
}
.panel-menu .sidebar-title .sidebar-title-inner a:hover {
  text-decoration:none;
}
.panel-menu .nav-stacked.nav-primary > li:last-child > a {
  border-radius: 0;
}
.panel-menu .nav-stacked.nav-primary > li {
  border-bottom:1px solid #333;
  border-radius: 0;
}
.panel-menu .nav-stacked.nav-primary > li > a {
  border-radius: 0;
  padding:10px 15px;
  color:#fff;
}
.panel-menu .nav-primary > li.active > a {
	border: none;
  background: #37424f;
}
.panel-menu .nav-primary > li.active > a:hover,
.panel-menu .nav-primary > li.active > a:focus {
  border: none;
  color: #fff;
}
.panel-menu .nav-primary > li > a:hover,
.panel-menu .nav-primary > li > a:focus {
  color:#fff;
  background:#37424f;
}
.panel-menu .nav-primary > li > a {
  border: none;
}
.panel-menu .nav-icon {
  display:inline-block;
  width:20px;
  margin:0 10px 0 0;
  vertical-align: middle;
  text-align: center;
}
.panel-menu i {
  font-size: 18px;
  color:#aeb9c2;
}
.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 14;
  min-width: 1024px;
}
.panel-header .navbar-header {
  width:52.55px;
  background: #F1A325;
  height: 50px;
}
.panel-header .navbar-brand {
  color: white;
  line-height:50px;
  padding:0 10px;
}
.panel-header .navbar-inverse {
  background: #09c;
  height: 50px;
  border:none;
}
.panel-header .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.panel-header .navbar-inverse .navbar-nav > .active > a,
.panel-header .navbar-inverse .navbar-nav > .active > a:hover,
.panel-header .navbar-inverse .navbar-nav > .active > a:focus,
.panel-header .navbar-inverse .navbar-nav > li > a:hover,
.panel-header .navbar-inverse .navbar-nav > li > a:focus {
  background: rgb(0, 142, 183);
}
.panel-header .logo {
  width: 32px;
  float: left;
  margin-top: -10px;
  margin-left: 0;
  margin-right: 10px;
}
.panel-header .admin-title {
  color: white;
  margin-left: 10px;
  font-size: 16px;
}
.panel-header .admin-title a {
  color: white;
  text-decoration: none;
}
.sub_menu_wrapper {
  background:#f2f2f2;
  bottom: -10px;
  top: 0;
  position: absolute;
  width: 180px;
  overflow: auto
}
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading {
  border-top: none;
}
.sub_menu_wrapper .menu > .nav > li.show > a,
.sub_menu_wrapper .menu > .nav > li.show > a:hover,
.sub_menu_wrapper .menu > .nav > li.show > a:focus,
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading,
.sub_menu_wrapper .nav-primary > li > a,
.sub_menu_wrapper .menu > .nav > li:last-child > a {
  border:none;
  border-radius: 0;
  background:#f2f2f2;
}
.sub_menu_wrapper .menu > .nav > li.show:last-child > .nav > li:last-child > a {
  border: none;
  border-radius: 0;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border: none;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li> a:hover,
.sub_menu_wrapper .menu > .nav > li > .nav > li> a:focus {
  background: #f90;
  color: #fff;
}
.sub_menu_wrapper .menu > .nav > li > .nav {
  background: white;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:hover,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:focus {
  background: #fff;
  color: #333;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border: none;
  background:#f2f2f2;
}

.count > div > a {
  display: block;
  color: white;
}
.count a,
.count i {
  font-size: 18px;
  text-decoration: none;
}
.node-list label[class=checkbox] {
  padding-top: 0;
  display: inline-block;
}
.node-list input[type=checkbox] {
  margin-top: 8px;
}
.item-label {
  margin:10px auto;
  font-weight: bold;
}
.upload-img-box .upload-pre-item img {
  width: 150px;
}
.upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.multiImage .upload-img-box .upload-pre-item .each {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.multiImage .upload-img-box .upload-pre-item img {
  width: 150px;
  height: 150px;
}
.multiImage .upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.multiImage .upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.report_feedback {
  cursor: pointer;
}
.report_feedback .report_icon {
  background: url("../images/report_icon.png");
  width: 100px;
  height: 100px;
  position: absolute;
  right: 35px;
  bottom: 35px;
  z-index: 998;
}
.report_feedback .report_point {
  position: absolute;
  right: 45px;
  bottom: 120px;
  z-index: 999;
}
/*后台导航修改*/
.channel-ul .target_input {
  display: none;
}
.channel-ul > li {
  background: #fff;
}
.channel-ul li {
  border-left: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  padding: 10px 30px;
  list-style: none;
}
.channel-ul li.dragging {
  background-color: #fff4e5;
  opacity: 0.35;
}
.channel-ul li select,
.channel-ul li input {
  display: inline-block;
}
.channel-ul .new-blank {
  margin-top: 7px;
  margin-left: 10px;
}
.channel-ul .i-list {
  margin-top: 7px;
}
.channel-ul .i-list a {
  margin-left: 10px;
}
.channel-ul .icon-chose {
  margin-left: 20px;
}
.channel-ul .band-text {
  margin-left: 20px;
}
.channel-ul .color-chose {
  margin-top: 10px;
  margin-left: 20px;
}
.oneselect {
  display: inline-block;
  margin-left: 10px;
}
.oneselect .title {
  float: left;
  line-height: 32px;
}
.oneselect .select_box {
  float: left;
  line-height: 32px;
}
.oneselect .select_box select {
  min-width: 200px;
}
