# Ignore generated/stylesheet files
/adminer/adminer.css
/ixlab_adminer/adminer*.php
/ixlab_adminer/editor*.php
/ixlab_adminer/ixlab_adminer.php
/ixlab_adminer/ixlab_adminer_desc.php
/output/*
!/output/.gitkeep

# Ignore composer libraries
/vendor/

# Ignore IntelliJ Idea's files
/.idea/