<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--{template /_install/view/meta}-->
</head>
<body>
	<!--{template /_install/view/head}-->

	<div class="install">
		<div class="box-mini input">
			<div class="left left-max">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<div class="tpls">
								<!--{loop $tpls $loop $tpl}-->
								<div class="tpl {echo $loop == 0 ? 'tpl-active' : '';}"
									rel="{$tpl[rel]}">
									<p class="thumb">
										<!--{if $tpl['thumb']}-->
										<img src="../{$tpl[thumb]}" border="0" />
										<!--{else}-->
										<img src="static/images/no-picture.jpg" border="0" />
										<!--{/if}-->
									</p>

									<p class="name">{$tpl[name]} {$tpl[version]}</p>

									<p class="author">作者：{$tpl[author]}</p>

									<!--{if $tpl['site']}-->
									<p class="site">{$tpl[site]}</p>
									<!--{/if}-->
								</div>
								<!--{/loop}-->

								<br class="clear" />
							</div>
						</td>
						<td valign="top" class="admin">
							<form action="install.php?ac=step3" method="post"
								onsubmit="javascript:return check_form(this);">
								<input type="hidden" name="formsubmit" value="yes" /> <input
									type="hidden" name="tpl" value="{$tpls[0][rel]}" />

								<p class="head">注意：</p>
								<p class="text">1、请自行删除_install安装目录。</p>
								<p class="text">2、设置默认系统管理员administrator和站长admin登录密码：</p>

								<div class="txt">
									<input type="text" name="txtPasswd" value="admin123456" />
									<p class="tips">6位以上数字、字母、符号自由组合。</p>
								</div>

								<p class="button">
									<button type="submit">下一步：进入后台管理</button>
								</p>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<script type="text/javascript">
		function check_form(frm){
			if(frm.txtPasswd.value.trim().length < 6){
				$('.tips', $(frm.txtPasswd).parent()).css('color', 'red');
				frm.txtPasswd.focus();
				return false;
			}
			
			frm.tpl.value = $('.tpl-active').attr('rel');
			
			return true;
		}
		
		$(function(){
			$("input[name='txtPasswd']").blur(function(){
				$('.tips', $(this).parent()).css('color', '#999');
				
				var val = $(this).val();
				var tips = $('.tips', $(this).parent());
				
				if(val.length < 6) $(tips).css('color', 'red');
			});
			
			$('.tpls .tpl').click(function(){
				$('.tpls .tpl').removeClass('tpl-active');
				$(this).addClass('tpl-active');
			});
		});
		</script>
	</div>
</body>
</html>