h2{ margin-bottom:12px}
/**相册页面**/
.albumlst{margin:9px 0 10px 0;padding:0 0 10px 0;line-height:1.65em;float:left;width:49%}
.albumlst_r{overflow:hidden;word-wrap:break-word;color:#777;float:left;width:240px;padding-top:4px}
.albumlst_descri{color:#333;margin-bottom:10px}
.album{ width:170px; height:170px;}
.album_photo{display:block;background:url('../images/albumback.gif') 1px 1px no-repeat;padding:4px 7px 7px 4px; width:180px; }
.album_photo:link{display:block;color:#777;font-style:italic}
.album_photo:visited{color:#777;font-style:italic}
.album_photo:hover{background:url('../images/albumback.gif') 1px 1px no-repeat;color:#777}

.photocom{ overflow:hidden;}
.photocom li{ height:75px;}
.photocom .pic{ width:50px;  height:50px; float:left;}
.photocom .piccomment{ margin-left:60px;}
.hidden{ display:none}
/**创建页**/
.album-name .field, .album-intro .field {font-size:14px}
.album-reply .field, .album-privacy .field, .album-order .field {margin-right:11px}
.album-privacy label {margin-right:60px}
.album-order label {margin-right:24px}
.album-footer {margin-top:45px}
.row {margin-bottom:20px;display:block}
.btn {
	padding:5px 16px;
*padding:4px 8px;
	height:27px;
	cursor:pointer;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
	background-color:#3fa156;
	border:1px solid #528641;
	display:inline
}
.btn:hover {
	background-color:#4fca6c;
	border-color:#6aad54
}
.btn:active {
	background-color:#3fa156;
	border-color:#528641
}
.cancel-album {
	float:right;
	display:inline
}
#album_name, #album_intro {
	margin-top:5px;
	padding:3px;
	border:1px solid #ccc;
	line-height:1.62
}
#album_name {
	font-size:14px;
	width:400px
}
#album_intro {height:242px;resize:vertial;font-size:13px;width:582px}
#album_name:focus, #album_intro:focus {border-color:gray}

/**上传**/
.uploadtype{ margin-top:15px}

.photo-complete {
	margin-bottom:15px;
	padding:15px 20px 1px;
	background:#f8f8f8
}
.photo-item {
	margin-bottom:15px
}
.photo-item .cover, .photo-item .intro {
	display:inline-block;
*display:inline;
	zoom:1
}
.photo-item .cover {
	margin-right:10px;
	vertical-align:top
}
.photo-item .cover a {
	text-align:center;
	width:100px;
	display:block;
	overflow:hidden
}
.photo-item .cover img{ height:100px;}
.photo-item .cover a:hover {
	background:0
}
.photo-item .choose-cover {
	text-align:center
}
.photo-item .intro p {
	text-align:right;
	margin:0
}
.photo-item .intro textarea {
	color:#666;
	width:450px;
	margin-bottom:3px\9;
	padding:5px;
	height:90px;
	border:1px solid #ddd
}
.submit-area {
	text-align:center
}
/**相册列表**/
.wall_item {float:left;margin:0 10px 15px 10px;overflow:hidden;}
.wall_item .pic{padding:8px 0; background-color: #FFFFFF;}
.wall_item .pic li{text-align:center;position:relative;overflow:hidden;}
.wall_item .pic li img{vertical-align:top;width:140px;}
.wall_item .pic li .p {background-color:rgba(0, 0, 0, 0.2);border-radius:3px 3px 3px 3px;bottom:8px;right:16px;color:#FFFFFF;display:block;height:16px;line-height:16px;padding:0 2px;position:absolute;}
.wall_item .favorite {border-bottom:1px solid #EEEEEE;background-color: #FFFFFF;height:23px;padding:0 13px 11px 12px;position:relative;}
.wall_item .favorite .like {background: url(../images/item_like.png) no-repeat scroll 0 0 transparent;display: block;float:left;height:26px;overflow: hidden;text-indent: -9999em;width: 62px;}
.wall_item .favorite .like_n a{background: url(../images/item_like.png) no-repeat scroll -64px 0 transparent;color: #878787;display: block;float: left;font-size: 12px;font-weight: bold;height: 26px;line-height: 26px;margin-left: 2px;padding-left: 8px;width: auto;}
.wall_item .favorite .like_n i {background: url(../images/item_like.png) no-repeat scroll right 0 transparent;display: block;float: left;height: 26px;width: 5px;}
.wall_item .favorite .creply_n {color: #888888;float: right;line-height:23px;}
.wall_item .favorite .creply_n a {color: #888888;text-decoration: underline;}
.wall_item .favorite .creply {color:#888888;float:right;line-height:23px;margin-right:2px;}
.wall_item .author {padding:7px 13px 5px 12px;}
.wall_item .author .avt {margin:3px 7px 0 0; width:48px; height:48px}
.wall_item .author .user_info {float: right; margin: 0px;overflow: hidden;width: 145px; padding-top:4px}
.wall_item .author .share_info {clear: both;color: #999999; margin-top:5px}
.wall_item .author .name {color:#666666;font-weight:bold;}
.wall_item .intro {padding:0 13px 10px 12px;}
.wall_item .rep_list {background:none repeat scroll 0 0 #F7F7F7;border-top:1px solid #F0F0F0;padding:7px 13px;}
.wall_item .rep_list .rep_f {margin:0 0 4px;overflow:hidden;padding-bottom:0;}
.wall_item .rep_list .avt {height:20px;width:20px;margin-right:3px;}
.wall_item .rep_list .rep_content {color:#AAAAAA;line-height:20px;max-height:40px;overflow:hidden;width:175px;}
.wall_item .del_item { background: url(../images/del_icon.png) no-repeat scroll 0 0 transparent; display: none; position: absolute; height: 19px; width: 19px; left: 15px; top: 15px; z-index: 9999;}
.wall_container {min-height:500px;position:relative; }
.wall_loading {background: black;opacity:0.5;filter:alpha(opacity=50);color: white;border-radius: 16px 16px 16px 16px;text-align: center; width: 100px; display: none; bottom: 0px; position: absolute; left: 50%; margin-left: -50px;}
.wall_loading span { background: url(../images/loading.gif) no-repeat scroll 0 center transparent; padding-left: 24px; color: white; height: 30px; line-height: 30px;}

/**相册展示**/
.photitle {border-bottom: 1px solid #DDDDDD;margin-bottom: 10px;text-align:center; display:block; height:22px; line-height:22px;}
.photo_descri{ margin:10px 0px; border-top:#ddd solid 1px; padding:10px}
.mainphoto:hover{background:0}

.album-list  { margin-top:-13px; }
.album-list li { overflow:hidden;zoom:1;margin-top:25px; }
.album-list .pic { float:left;margin-right:10px; }
.album-list .pic img { padding:3px 7px 7px 3px;background:url(../images/albumback_s.png) no-repeat 0 0; }
.album-list .info { overflow:hidden;zoom:1;color:#999; }
.album-list .info .num { display:block;margin-bottom:8px; }
.album-list .info p { margin:0; word-wrap: break-word; }

