textarea {
    resize: none;
}
#mod-status-cate {
	position:relative
}
.status-cate {
	position:absolute;
	top:-30px;
	right:0
}
.status-cate .bn-status-more:active, .status-cate .bn-status-more:hover, .status-cate .bn-status-more:link, .status-cate .bn-status-more:visited {
	color:#666;
	background-color:transparent
}
.status-cate .bn-status-more i {
	position:relative;
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:baseline;
	top:-2px;
	left:2px;
	border-width:3px 3px 0;
	border-color:#666 transparent transparent transparent;
	border-style:solid dashed dashed dashed;
	width:0;
	height:0;
	font-size:0;
	line-height:0
}
.status-cate .bn-status-more span {
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:baseline
}
.more-status-items {
	display:none;
	border:1px solid #ccc;
	background:#fff
}
.status-more-active {
	z-index:10
}
.status-more-active .more-status-items {
	position:absolute;
	display:block;
	right:0;
	top:20px;
	_width:0;
	z-index:100;
}
.status-more-active .more-status-items table, .status-more-active .more-status-items td {
	width:100%;
	white-space:nowrap;
	border-collapse:collapse
}
.status-more-active .more-status-items .cate-list-title, .status-more-active .more-status-items a {
	display:block;
	padding:3px 10px
}
.status-more-active .more-status-items .cate-list-title {
	margin:0 2px;
	padding:3px 8px;
	color:#ccc;
	border-bottom:1px dashed #ccc
}
/****/
#db-isay {
	position:relative;
	padding:0;
	margin:-5px 0 2em;
*zoom:1;
	z-index:1
}
#db-isay .item {
	position:relative;
	z-index:0;
	margin-bottom:0;
	overflow:hidden
}
#submit_error {
	margin-top:10px
}
#db-isay .drag-tips {
	display:none;
	position:absolute;
	top:0;
	z-index:2;
	background:#fff;
	width:582px;
	height:78px;
	line-height:78px;
	font-size:16px;
	text-align:center;
	border:4px dashed #ccc;
	color:#999
}
#db-isay.drag label, #db-isay.drag p, #db-isay.drag textarea {
	visibility:hidden
}
#db-isay.drag .drag-tips {
	display:block
}
#db-isay.drag .drag-tips.over {
	background:#eee;
	color:#666
}
#db-isay:after {
	content:\0020;
	clear:both;
	display:block
}
#db-isay label {
	position:absolute;
	margin:4px 0 0 6px;
	font-size:14px;
	color:#aaa;
	pointer-events:none;
	cursor:text
}
#db-isay #isay-label {
	margin:6px 0 0 9px
}
#db-isay textarea {
	background:transparent;
	width:606px;
	padding:7px 25px 7px 7px;
	_margin-top:-1px;
	overflow:hidden;
	vertical-align:bottom;
	border:1px solid #d7d7d7;
	border-radius:1px;
	-moz-border-radius:1px;
	font-family:tahoma;
	line-height:1.6;
	position:relative;
	z-index:1;
	-webkit-transition:all .1s
}
#db-isay textarea.abs-out {
	position:absolute
}
#db-isay.active textarea {
	border-color:#ccc;
	height:50px
}
#db-isay .btn {
	float:none;
	width:auto;
	margin-right:0;
	text-align:right;
	background:#f4f4f4;
	padding:8px;
	border:1px solid #ccc;
	border-top:0;
	position:relative
}
#db-isay .bn-flat {
	vertical-align:middle
}
#db-isay .bn-flat input {
	font-size:14px;
	overflow:visible;
	line-height:2.2;
	height:2.1em;
	_line-height:1;
	_height:1em;
	_padding-top:.6em;
	_padding-bottom:.3em
}
#db-isay .bn-flat input:focus {
	background:#e0e0e0
}
#db-isay.isay-disable .btn .bn-flat input {
	border-color:#b9b9b9!important;
	background:#f0f0f0!important;
	color:#999!important;
	cursor:text
}
#db-isay.isay-disable .btn .bn-flat:hover {
	border-color:#bbb #bbb #999;
	text-shadow:none
}
#db-isay .bd {
	color:#999
}
#db-isay .msg {
	float:right;
	position:relative;
	line-height:2
}
#db-isay .field .error, #db-isay .waiting {
	line-height:27px
}
#isay-counter {
	display:inline-block;
*display:inline;
	zoom:1;
	padding-right:10px;
	vertical-align:middle;
	color:#666;
	font-weight:600;
	font-size:16px
}
#isay-counter strong {
	color:#f92d09
}
#db-isay .field {
	display:none;
	position:relative;
	background:#fff;
	margin-top:-5px;
	_margin-top:-7px;
	z-index:1;
	padding:8px;
	padding:5px 8px;
	border:1px solid #ccc;
	border-top-color:#e6e6e6
}
#db-isay .field label {
	font-size:12px
}
#db-isay .inp-text {
	width:450px;
	margin-right:5px;
	height:12px;
	padding:7px 4px 6px;
	line-height:12px;
*padding:7px 4px 5px;
*zoom:1;
	border:1px solid #ccc;
	color:#999;
	border-radius:1px;
	-moz-border-radius:1px
}
#db-isay .field .bn-flat {
	border-color:#ccc;
	-moz-border-radius:2px;
	border-radius:2px
}
#db-isay .field .bn-flat input {
	font-size:12px;
	overflow:visible
}
#db-isay .field .hd {
	height:22px;
	margin:0
}
#db-isay .field .hd input {
	height:12px;
	line-height:12px;
	outline:0;
	padding:3px 3px;
*padding:4px 3px 2px;
	border:1px solid #ccc
}
#db-isay .field .hd .field-title {
	background:transparent;
	width:553px;
	height:16px;
	line-height:16px;
	padding:2px 0;
	border:0;
	color:#666
}
#db-isay .editable {
	color:#333;
	cursor:pointer
}
#db-isay .field .hd input.editable-over {
	background-color:#feff9f
}
#db-isay .field .active .inp-text {
	border-color:#9cf;
	color:#333;
	box-shadow:0 0 2px rgba(20, 180, 255, 0.7)
}
#db-isay .field .active .bn-flat {
	border-color:#ccc
}
#db-isay .bn-x {
	border:0;
	background:0;
	cursor:pointer;
	color:#ccc;
	font:400 15.556px tahoma;
	line-height:.9;
	position:absolute;
	right:8px;
	top:5px
}
#db-isay .bn-x:active, #db-isay .bn-x:hover, #db-isay .bn-x:visited {
	color:#bec3c3;
	background:transparent
}
#db-isay .isay-close {
	_top:7px
}
#db-isay .ico {
	background:url(../images/isay_icons.3.png) no-repeat;
	display:inline-block;
	height:20px;
	width:18px;
	margin-right:12px;
	text-indent:999em;
	overflow:hidden;
	line-height:20px;
	color:#888;
	font-family:stheiti, tahoma, simsun, sans-serif
}
#db-isay .ico-link {
	background-position:0 -5px
}
#db-isay .ico-pic {
	background-position:0 -35px
}
#db-isay .ico-topic {
	background-position:-1px -65px
}
#db-isay .btn {
	display:none
}
#db-isay.acting .field, #db-isay.active .btn {
	display:block
}
#db-isay .bn-submit, #db-isay .isay-close, #db-isay .tipmsg {
	display:none
}
#db-isay.active .bn-submit, #db-isay.active .isay-close, #db-isay.active .tipmsg {
	display:inline-block
}
#db-isay .btn-group {
	position:absolute;
	top:36px;
	right:0;
	white-spacing:nowrap;
	font-size:0;
	z-index:1
}
#db-isay .btn-group * {
	font-size:12px
}
#db-isay.active .btn-group {
	position:relative;
	float:left;
	margin-top:-70px;
	margin-bottom:10px;
	margin-left:8px
}
#db-isay.active .btn-group .ico {
	width:auto;
	text-indent:0;
	padding-left:20px;
	margin-right:15px
}
#db-isay.active .btn-group .ico-pic {
	padding-left:21px
}
#db-isay.active .btn-group .ico-topic {
	padding-left:16px;
	margin-left:-5px
}
#db-isay .isay-links {
	font-size:0;
	height:30px;
	line-height:30px
}
#db-isay .isay-links li {
	font-size:13px;
	display:inline-block;
*display:inline;
*zoom:1;
	padding-left:22px;
	margin-right:18px;
	background:url(../images/isay_icons.3.png) no-repeat
}
#db-isay .isay-links .isay-main {
	background-position:0 -90px
}
#db-isay .isay-links .notes-link {
	background-position:0 -121px
}
#db-isay .isay-links .commodity-link {
	background-position:0 -151px
}
#db-isay .isay-links .active a, #db-isay .isay-links .active a:active, #db-isay .isay-links .active a:hover, #db-isay .isay-links .active a:link, #db-isay .isay-links .active a:visited {
	color:#111;
	background:0;
	cursor:default
}
#db-isay .isay-act {
	word-break:break-all
}
#db-isay .commodity-link {
	position:relative
}
#db-isay .commodity-link .publish-ways {
	display:none;
	font-size:0;
	position:absolute;
	top:30px;
	left:-50px;
	width:173px;
	background:#fff;
	border:1px solid #ccc;
	padding:10px 0;
	z-index:5
}
#db-isay .commodity-link .publish-ways .review, #db-isay .commodity-link .publish-ways .share {
	display:inline-block;
*display:inline;
*zoom:1;
	vertical-align:top;
	font-size:12px;
	padding:0 18px;
	line-height:1.62;
	width:50px;
	text-align:center
}
#db-isay .commodity-link .publish-ways .review a, #db-isay .commodity-link .publish-ways .share a {
	display:block;
	padding-top:50px
}
#db-isay .commodity-link .publish-ways .review a:active, #db-isay .commodity-link .publish-ways .review a:hover, #db-isay .commodity-link .publish-ways .review a:link, #db-isay .commodity-link .publish-ways .review a:visited, #db-isay .commodity-link .publish-ways .share a:active, #db-isay .commodity-link .publish-ways .share a:hover, #db-isay .commodity-link .publish-ways .share a:link, #db-isay .commodity-link .publish-ways .share a:visited {
	color:#111;
	background:url(../images/icons_publish.1.png) no-repeat 0 0
}
#db-isay .commodity-link .publish-ways .share {
	border:1px solid #e6e6e6;
	border-width:0 1px 0 0;
	-webkit-border-image:-webkit-linear-gradient(bottom, #fff 0, #e6e6e6 40%, #e6e6e6 60%, #fff) 1 100%;
	-moz-border-image:-moz-linear-gradient(to bottom, #fff 0, #e6e6e6 40%, #e6e6e6 60%, #fff) 1 100%;
	border-image:linear-gradient(0deg, #fff 0, #e6e6e6 40%, #e6e6e6 60%, #fff) 1 100%
}
#db-isay .commodity-link .publish-ways .share a:active, #db-isay .commodity-link .publish-ways .share a:hover, #db-isay .commodity-link .publish-ways .share a:link, #db-isay .commodity-link .publish-ways .share a:visited {
	background-position:14px -74px
}
#db-isay .commodity-link .publish-ways .review a:active, #db-isay .commodity-link .publish-ways .review a:hover, #db-isay .commodity-link .publish-ways .review a:link, #db-isay .commodity-link .publish-ways .review a:visited {
	background-position:12px 9px
}
#db-isay .commodity-link .publish-ways .arr, #db-isay .commodity-link .publish-ways .arr-inner {
	width:0;
	height:0;
	overflow:hidden;
	position:absolute;
	border:8px dashed transparent;
	border-bottom:8px solid #ccc;
	top:-16px;
	left:78px
}
#db-isay .commodity-link .publish-ways .arr-inner {
	border:7px dashed transparent;
	border-bottom:7px solid #fff;
	top:-14px;
	left:79px
}
.act-share .bn-x {
	display:none
}
#db-isay.act-share .inp-text {
	width:520px
}
#db-isay.field-up .field {
	border-bottom:0;
	margin-top:0;
	border-top-color:#ccc
}
.field-up .btn-group {
	visibility:hidden
}
#db-isay .waiting {
	color:#999
}
#db-isay .waiting {
	background:url(../images/loading2.gif) no-repeat 0 5px;
	padding-left:22px
}
#db-isay .waiting img{ width:140px}
/*************************/
.abs-out {
	position:absolute;
	left:-9999px;
	top:-9999px
}
.msg-wait {
	background:url(../images/loading2.gif) no-repeat 0 5px;
	padding-left:22px
}
#isay-upload {
	position:absolute;
	width:21px;
	height:22px;
	padding:0;
	overflow:hidden;
	right:38px;
	top:-1px;
	opacity:0
}
#isay-upload input {
	cursor:pointer;
	position:absolute;
	height:22px;
	right:0;
	margin:0;
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0)
}
#db-isay.active #isay-upload {
	right:64px;
	width:48px
}
.highlighter {
	margin:0;
	position:absolute;
	z-index:0;
	top:1px;
	left:1px;
	overflow:hidden;
	background:#fff;
	white-space:pre-wrap;
	word-wrap:break-word;
	color:#fff;
	color:rgba(0, 0, 0, 0);
	width:556px;
	padding:7px 25px 0 7px;
	height:16px;
	overflow:hidden;
	vertical-align:bottom;
	font-family:tahoma;
	line-height:1.3;
	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0
}
.active .highlighter {
	height:auto
}
.highlighter code {
	font-family:tahoma;
	line-height:1.3;
	background-color:#d2e1f3;
	color:#d2e1f3;
	display:inline;
	padding:1px;
	margin:0 -1px -2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}
.ua-ie8 .highlighter code {
	padding:0;
	margin:0
}
.error-highlighter {
	background:transparent
}
.error-highlighter code {
	background-color:#fcc;
	color:#fcc
}
a.usr-btn {
	display:inline-block;
*display:inline;
	zoom:1;
	width:58px;
	padding:5px 0;
	line-height:1.2;
	text-align:center;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px
}
a.usr-btn:link, a.usr-btn:visited {
	color:#ca6445;
	background:#fae9da
}
a.usr-btn:active, a.usr-btn:hover {
	color:#d9896a;
	background:#fcefe3
}
a.usr-btn.selected:link, a.usr-btn.selected:visited {
	color:#fae7d6;
	background:#d9896a
}

/**列表**/
.status-item {
	color:#333
}
.status-item .mod {
	margin:0;
	padding-bottom:12px;
	position:relative
}
.status-item .hd {
	float:left;
	margin:3px 20px 0 0;
	width:48px;
	height:48px
}
.status-item .bd {
	border-bottom:1px solid #eee;
	overflow:hidden;
	padding-bottom:14px;
	zoom:1;
	_width:517px;
	min-height:48px
}
.status-item .bd .text {
	margin:0 0 5px 0;
	font-size:13px;
	word-wrap:break-word
}
.status-item blockquote {
	margin:5px 0 5px 25px;
	padding:0 0 0 15px;
	background:url(../images/quotel.gif) no-repeat left 4px;
	width:auto;
}
.status-item blockquote p {
	display:inline;
	background:url(../images/quoter.gif) no-repeat right bottom;
	padding:0 15px 0 0;
	word-wrap:break-word;
*zoom:1
}
.status-item blockquote p img {
	vertical-align:bottom
}
.status-item .attachments {
	position:relative;
	overflow:hidden;
	zoom:1;
	_line-height:0;
	color:#999
}
.status-item .photo-set {
	max-width:128px;
	max-height:128px
}
.status-item .attachments div, .status-item .attachments h6, .status-item .attachments p {
	line-height:1.62
}
.status-item .description {
	margin:0;
	color:#aaa
}
.status-item .actions {
	margin:5px 0;
	color:#aaa
}
.status-item .actions a.btn {
	color:#7094b7
}
.status-item .actions a.btn:hover {
	background:#7094b7;
	color:#fff
}
.status-item .actions a.btn-unlike, .status-item .actions a.btn-unreshare {
	color:#999
}
.status-item .actions a.btn-unlike:hover, .status-item .actions a.btn-unreshare:hover {
	background:#999;
	color:#fff
}
.status-item .description, .status-item .attachments, .status-item .actions, .status-item .others {
	padding-left:24px
}
.status-item .attachments .description {
	padding-left:0;
	word-wrap:break-word
}
.status-item .big:hover {
	cursor:url(../images/big.png), url(../images/big.cur), auto
}
.status-item .small:hover {
	cursor:url(../images/small.png), url(../images/small.cur), auto
}
.status-item .upload-pic-wrapper:hover {
	background:0
}
.status-item .others {
	display:none
}
.status-item .comments {
	position:relative;
	left:0;
	top:0;
	overflow:hidden;
	*zoom:1
}
.status-item .comments-items {
	_line-height:0
}
.status-item .comments-items p {
	margin:3px 0;
	color:#666;
	overflow:hidden;
	zoom:1;
	word-wrap:break-word;
	line-height:1.62
}
.status-item .comments-items .mover {
	background:#f2f2f2
}
.status-item .comments-items p em {
	float:left;
	width:80%;
	font-style:normal
}
.status-item .comments .comment-text {
	width:330px
}
.status-item .comments .add-more-comments, .comment-posted input {
	display:none
}
.status-item .comment-posted .add-more-comments {
	display:inline
}
.status-item .comments-items .btn-del {
	float:right;
	color:#aaa
}
.status-item .comments-items .btn-del:hover {
	color:#bbb;
	background:0
}
.status-item .likers {
	padding:0;
	color:#aaa
}
.status-item .likers em {
	max-width:300px;
	float:left;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	zoom:1;
	font-style:normal;
	_width:expression((documentElement.clientWidth>300) ? "300px":"auto")
}
.status-item .created_at a {
	color:#999
}
.status-item .created_at a:hover {
	background:#999;
	color:#fff
}
.status-item .reshared_by {
	background:url(../images/reshared-icon.gif) no-repeat left center;
	padding:0 0 0 18px;
	color:#66a366
}
.status-current .bd {
	border-color:#bfddb7
}