<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{:C('SITE_TITLE')}</title>
	<meta name="description" content="{:C('SITE_KEYWORDS')}" />
	<meta name="keywords" content="{:C('SITE_DESCRIPTION')}" />
	<link  type="text/css"  rel="stylesheet"  href="__THEME__/css/probuy.css">
	<link  type="text/css"  rel="stylesheet"  href="__THEME__/css/style.css">
	<link  type="text/css"  rel="stylesheet"  href="__THEME__/css/easyDialog.css">
	<script  type="text/javascript"  src="__THEME__/js/jquery-1.8.3.min.js"></script>
	<script  type="text/javascript"  src="__THEME__/js/template-global.js"></script>
	<script  type="text/javascript"  src="__THEME__/js/ShoppingCart.js"></script>
</head>
<body  id="body">

<include file="Public/head" />

<!-- 轮播图 -->
<div  class="banner-pannel">
	<div  style="margin: 10px auto; width: 1000px; height: 396px; position: relative; overflow: hidden;">
		<ul  id="J_bslist"  class="bs_list"  style="width: 1000px; height: 396px; position: relative;">
			<!-- 轮播图数据 -->
			<nav groups="1" limit="6">
				<li  style="z-index: 10; position: absolute; opacity: 0.09319577524960648;">
					<a href="{$v.url}"><img  src="{$v.image}"  alt="{$v.title}"   style="width: 1000px; height: 396px; padding: 0px;"></a>
				</li> 
			</nav>
			<!-- 轮播图数据 -->
		</ul>
	</div>
</div>
<script  type="text/javascript">
	$(function(){$("#J_bslist").bannerSlider({width:1000,height:396,Time:1000,effect:"fade",pagination:{show:true},auto:true,dirBtn:{show:true,active:true}})})
</script> 

<div  class="content-container clearfix wrap">
	<!-- 热门产品 -->
	<div  id="Panel_818"  class="panel-box"  style="margin-top:15px;margin-right:15px;width:230px;float:left;overflow:hidden;">
		<div  class="h-titType1">
			<category cid="78">
			<h3  class="tit">热门产品</h3>
			<a  href="{$v.url}"  class="more"></a>
			</category>
		</div>
		<div  class="panel-bdbox">
			<div  class="h-listType1Wrap">
				<ul  class="h-listType1">
					<!-- 热门产品数据 -->
					<artlist cid="78" limit="8" order="view desc">
					<li><a  href="{$v.url}">{$v.title}</a></li>
					</artlist>
					<!-- 热门产品数据 -->
				</ul>
			</div>
		</div>
	</div>

	<!-- 最新产品 -->
	<div  id="Panel_858"  class="panel-box"  style="margin-top:15px;width:755px;float:left;overflow:hidden;">
		<div  class="h-panelItem1-box">
			<div  class="h-titType2">

				<!-- 产品中心栏目 -->
				<category cid="78">
				<h3  class="tit">{$v.title}</h3>
				<a  href="{$v.url}"  class="more"></a>
				</category>
				<!-- 产品中心栏目 -->

			</div>
			<div  class="panel-bdbox">
				<div  class="h-listType2Wrap">
					<ul  class="h-listType2 clearfix">

						<!-- 产品中心数据 -->
						<artlist cid="78" limit="3" order="id desc">
							<li>
								<a  href="{$v.url}" >
									<div  class="pic"><img  src="{$v.thumb}"   style="width: 200px; height: 150px; padding: 17px 7px;"></div>
									<div  class="name">{$v.title}</div>
								</a>
							</li>
						</artlist>
						<!-- 产品中心数据 -->

					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 最新案例 -->
	<div  id="Panel_194"  class="panel-box"  style="margin-top:15px;width:100%;float:left;overflow:hidden;">
		<div  class="h-panelItem1-box">
			<div  class="h-titType2">

				<!-- 工程案例栏目 -->
				<category cid="82">
				<h3  class="tit">{$v.title}</h3>
				<a  href="{$v.url}"  class="more"></a>
				</category>
				<!-- 工程案例栏目 -->

			</div>
			<div  class="panel-bdbox">
				<div  class="h-listType2Wrap">
					<ul  class="h-listType2 clearfix">

						<!-- 工程案例数据 -->
						<artlist cid="82" limit="4" order="id desc">
							<li><a  href="{$v.url}" >
								<div  class="pic"><img  src="{$v.thumb}"   style="width: 200px; height: 150px; padding: 17px 7px;"></div>
								<div  class="name">{$v.title}</div>
							</a></li>
						</artlist>
						<!-- 工程案例数据 -->

					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 公司简介 -->
	<div  id="Panel_166"  class="panel-box"  style="margin-top:15px;margin-right:15px;width:543px;float:left;overflow:hidden;">
		<div  class="h-panelItem1-box">
			<div  class="h-titType2">

				<!-- 公司简介栏目 -->
				<category cid="62">
				<h3  class="tit">{$v.title}</h3>
				<a  href="{$v.url}"  class="more"></a>
				</category>
				<!-- 公司简介栏目 -->

			</div>
			<div  class="panel-bdbox">
				<div  class="h-contactIntrobox">

					<!-- 公司简介数据块 -->
					<data name="about_company" />
					<!-- 公司简介数据块 -->

				</div>
			</div>
		</div>
	</div>

	<!-- 新闻资讯 -->
	<div  id="Panel_746"  class="panel-box"  style="margin-top:15px;width:442px;float:left;overflow:hidden;">
		<div  class="h-panelItem1-box">
			<div  class="h-titType2">

				<!-- 新闻资讯栏目 -->
				<category cid="29">
				<h3  class="tit">{$v.title}</h3>
				<a  href="{$v.url}"  class="more"></a>
				</category>
				<!-- 新闻资讯栏目 -->

			</div>
			<div  class="panel-bdbox">
				<div  class="h-listType1Wrap">
					<ul  class="h-listType1">

						<!-- 新闻资讯数据 -->
						<artlist cid="29" limit="8" order="id desc">
							<li><a  href="{$v.url}" >{$v.title}</a></li>
						</artlist>
						<!-- 新闻资讯数据 -->

					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- 友情链接 -->
<div  class="friendlink-wrap clearfix">
	<div  id="Panel_86"  class=""  style="clear:both;overflow:hidden;">
		<div  class="friendlink"> 
			<span  class="tit">友情链接：</span>
			<div  class="frinedlink-list">

				<!-- 友情链接数据 -->
				<nav groups="5" limit="8">
					<a href="{$v.url}" target="_blank" rel="nofollow">{$v.title}</a> 
				</nav>
				<!-- 友情链接数据 -->

			</div>
		</div>
	</div>
</div>

<include file="Public/foot" />
</body>
</html>