<div  class="header clearfix">
  <h1  class="logo">
    <a  href="/"><img  id="logo"  src="__THEME__/images/6352383893382975293322.png"></a>
  </h1>
  <div  class="header-rt">
    <div  class="header-bar">
      <div  class="item"> </div>
      <div  class="item"> 
        <script  type="text/javascript">
          $(function(){
            $("#J_header-cart").hover(function(){
              $(this).addClass("header-cartHover");
            },function(){
              $(this).removeClass("header-cartHover");
            })
          })
        </script>
      </div>

    </div>
    <div  class="h-contactIntrobox" style="float:right">
      <p>
        <img  src="__THEME__/images/header_phone.png">
        全国统一服务热线: <data name="hot_phone" />
      </p>
      <p>
        <img  src="__THEME__/images/header_kf.png">
        客服咨询：<data name="service_phone" />
      </p>
    </div>
  </div>
</div>
<div  class="nav-wrapbox">
  <div  class="nav-wrap"  id="J_nav-wrap"  style="z-index: 990;">
    <div  class="nav">
      <ul  class="nav-list"  id="J_navlist">
        <li <notpresent name="CID">class="oncurr"</notpresent> >
          <a href="{:U('/','','html',true)}">首页</a>
        </li>
        <!-- 栏目导航数据 -->
        <channel cid="0">
          <li  <eq name="CID" value="$v['id']">class="oncurr"</eq> >
            <a  href="{$v.url}">{$v.title}</a>
            <present name="v._child">
              <ul  class="nav-sub clearfix center">
                <foreach name="v._child" item="vv">
                  <li class="last"><a  href="{$vv.url}">{$vv.title}</a></li>
                </foreach>
              </ul>
            </present>
          </li>
        </channel>
        <!-- 栏目导航数据 -->
      </ul>
    </div>

  </div>
</div>
<script  type="text/javascript">
  $(function(){ $("#J_navlist").CSMenu({maxWidth:960,navWrapId:"J_nav-wrap",arrowW:0,pushMenuDownBy:50,align:"left"});})
</script> 