@charset "utf-8";
/* CSS Document */
body {
	font-size: 13px;
	color: #666;
}
a:visited {
	color: #666;
}
a:link {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #F00;
}
p{
	margin: 0px;
	padding: 0px;	
}
.main{
	border: 1px solid #b5cfd9;
	height: 550px;
	width: 700px;
	background-image: url(img/bg_repx.gif);
	background-repeat: repeat-x;
	}
.main .foot {
	height: 30px;
	width: 100%;
	font-size: 12px;
	color: #999;
}

.main .act {
	width: 100%;
	height: 60px;
	margin-top: 18px;
}
.main .act div img {
	margin-top: 8px;
}


.main .top {
	height: 70px;
	width: 100%;
	text-align: left;
}
.main .top img {
	padding-top: 14px;
	padding-left: 13px;
}
.main .top span {
	padding-left: 235px;
}
.main .content {
	width: 92%;
	height: 350px;
	margin-top: 17px;
	background-color: #FFF;
	overflow: auto;
	border: 1px solid #EEE;
	color: #666;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	padding-bottom: 10px;
}

.but {
	color: #ECF5F9;
	background-image: url(img/button.gif);
	background-repeat: repeat-x;
	background-position: 0 50%;
	outline: 1px solid #D3E0E7;
	border: 1px solid #FFF !important;
	height: 22px !important;
	border: 1px solid #D3E0E7;
	height: 21px;
	line-height: 19px;
	font-family: Tahoma, Verdana;
	font-size: 12px;
	width: 70px;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	background-color: #B5CFEC;
	cursor:pointer;
}
.top_txt {
	font-weight: bold;
	color: #003;
}
.top2_txt {
	font-weight: bold;
	color: #69A6DC;
}
.txt_wd {
	width: 90%;
}
#show{
	line-height:20px;
}