<aside class="control-sidebar control-sidebar-dark">
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
            <div><h4 class="control-sidebar-heading">布局选项</h4>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        <input type="checkbox" class="pull-right" data-layout="fixed">
                        冻结框架
                    </label>
                    <p>冻结表头始终在顶部、固定左侧边栏高度</p></div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        <input type="checkbox" class="pull-right" data-layout="layout-boxed">
                        窄屏
                    </label>
                    <p>切换到窄屏布局</p></div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        <input type="checkbox" class="pull-right" data-controlsidebar="control-sidebar-open">
                        冻结右边栏
                    </label>
                    <p>总是显示右侧设置边栏</p></div>
                <h4 class="control-sidebar-heading">皮肤</h4>
                <ul class="list-unstyled clearfix">
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-blue" href="javascript:void(0);">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-light-blue"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Blue</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-black" href="javascript:void(0);">
                            <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)">
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Black</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-purple" href="javascript:void(0);">
                            <div>
                                <span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-purple"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Purple</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-green" href="javascript:void(0);">
                            <div>
                                <span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-green"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Green</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-red" href="javascript:void(0);">
                            <div>
                                <span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-red"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Red</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-yellow" href="javascript:void(0);">
                            <div>
                                <span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-yellow"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Yellow</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-blue-light" href="javascript:void(0);">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-light-blue"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px" class="text-center no-margin">Blue Light</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-black-light" href="javascript:void(0);">
                            <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)">
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px" class="text-center no-margin">Black Light</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-purple-light" href="javascript:void(0);">
                            <div>
                                <span class="bg-purple-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-purple"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px" class="text-center no-margin">Purple Light</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-green-light" href="javascript:void(0);">
                            <div>
                                <span class="bg-green-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-green"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px" class="text-center no-margin">Green Light</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-red-light" href="javascript:void(0);">
                            <div>
                                <span class="bg-red-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-red"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px" class="text-center no-margin">Red Light</p></li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a class="clearfix full-opacity-hover" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" data-skin="skin-yellow-light" href="javascript:void(0);">
                            <div>
                                <span class="bg-yellow-active" style="display:block; width: 20%; float: left; height: 7px;"></span><span style="display:block; width: 80%; float: left; height: 7px;" class="bg-yellow"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p style="font-size: 12px;" class="text-center no-margin">Yellow Light</p></li>
                </ul>
            </div>
        </div>
    </div>
</aside>