{{ data.start() }}
{% if layout == 'inline' %}
    <label>{{ formName }}</label>
{% endif %}
{% for key,value in data.formEntity %}{% if value['widget'] is defined %} {{ view.r(data.getElement(key)) }} {% endif %} {% endfor %}
<button type="submit"></button>
</form>
<script type="text/javascript">
    $('#nodeAdd').validate({
        validClass: "has-success",
    });
</script>
