<div class="btn-group-vertical col-sm-{{ size }}" role="group" aria-label="...">
  <a class="disabled btn btn-primary" href="#" data-dt-idx="0" tabindex="0">{{ title }}</a>
  {% for key,value in data %}
    <a data-target="#main" class="btn btn-primary{% if value['active'] %} active{% endif %}" href="{{ value['href'] }}"
       type="button">{{ value['name'] }}</a>
  {% else %}
    <a class="btn btn-primary" href="#">啥都没有</a>
  {% endfor %}
</div>