<div class="col-xs-12 dataTables_wrapper">
    <div class="margin">
        <div aria-label="Basic example" role="group" class="btn-group">
            {% if title is defined %}
                <button data-target="#main" class="btn btn-primary">{{ title }}</button>
            {% endif %}
            {% for key,value in data %}
                <a class="btn btn-default {{ key }}" href="{{ url(value['href']) }}"
                   data-target="#main">{{ value['name'] }}</a>
            {% endfor %}
        </div>
    </div>
</div>