@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "compass";

// FontAwesome
@import "font-awesome/font-awesome.scss";

// Glyphicons
@import "glyphicons.scss";

// Colors
@import "colors.scss";

// Overwrite bootstrap styling
@import "bootstrap-override.scss";

// Media Query
@import "media-queries.scss";

// Page structure
@import "structure/content.scss";
@import "structure/footer.scss";
@import "structure/sidebar.scss";
@import "structure/topbar.scss";

// Page elements
@import "page-elements/accordion.scss";
@import "page-elements/address-book.scss";
@import "page-elements/blog.scss";
@import "page-elements/box.scss";
@import "page-elements/custom-checkbox.scss";
@import "page-elements/forms.scss";
@import "page-elements/gallery.scss";
@import "page-elements/messages.scss";
@import "page-elements/pagestats.scss";
@import "page-elements/pricing-tables.scss";
@import "page-elements/sidebar-widgets.scss";
@import "page-elements/tables.scss";
@import "page-elements/tabs.scss";
@import "page-elements/tasks.scss";
@import "page-elements/tiles.scss";
@import "page-elements/timeline.scss";


// Custom pages
@import "pages/error.scss";
@import "pages/grids.scss";
@import "pages/invoice.scss";
@import "pages/locked.scss";
@import "pages/login.scss";
@import "pages/search-results.scss";
@import "pages/shop.scss";

// Plugin styling
@import "plugins/calendar.scss";
@import "plugins/charts.scss";
@import "plugins/chosen.scss";
@import "plugins/ckeditor.scss";
@import "plugins/datatables.scss";
@import "plugins/datepicker.scss";
@import "plugins/daterangepicker.scss";
@import "plugins/elfinder.scss";
@import "plugins/filetree.scss";
@import "plugins/fileupload.scss";
@import "plugins/form-wizard.scss";
@import "plugins/gritter.scss";
@import "plugins/maps.scss";
@import "plugins/multiselect.scss";
@import "plugins/plupload.scss";
@import "plugins/resize.scss";
@import "plugins/scroll.scss";
@import "plugins/select2.scss";
@import "plugins/slider.scss";
@import "plugins/spinner.scss";
@import "plugins/tagsinput.scss";
@import "plugins/timepicker.scss";
@import "plugins/xeditable.scss";


html,body{
	height:100%;
}

label.inline{
	font-weight:normal;
}

// BS 3.x has no builtin dropdown-submenu anymore
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}

body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size:13px !important;
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans', sans-serif;
}

a{
	color:$blue;
	&:focus{
		outline:none;
		text-decoration:none;
	}
}

.ulreset{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nopadding{
	padding: 0 !important;
}

.row.margin-top{
	margin-top: 30px;
}

.visible-480{
	display: none;
}

.box-sortable{
	background: #eee;
	border:1px dotted #333;
}

.colors{
	@extend .ulreset;

	&.small{
		&>li{
			height: 20px;
			width: 20px;

			&>a,&>span{
				height:20px;
				width:20px;
			}
		}
	}

	&>li{
		height:40px;
		margin:0 5px 5px 0;
		width: 40px;
		float:left;

		&>a,&>span{
			width:40px;
			height:40px;
			display: block;
		}
	}
}

.basic-margin{
	&>li,  &>a{
		margin: 0 5px 5px 0;
	}
}