.main {
    margin-top: 65px;
    padding: 5px 0px 0px 5px;
    width: 99%;
}

.close-tab {
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-left: 25px;
    z-index: 100;
    cursor: hand;
    cursor: pointer;
    color: #94A6B0;
}

.modal-header {
    background-color: #0c84e4;
    color: #fff;
}

.iframe-main {
    margin-top: 15px;
}

.iframeClass {
    z-index: 1;
    visibility: inherit;
    width: 100%;
    frameborder: no;
    border: 0;
    marginwidth: 0;
    marginheight: 0;
    scrolling-x: no;
    scrolling-y: auto;
    allowtransparency: true;
}

.stories {
    margin: auto;
    max-width: 980px;
}

#story_list {
    max-width: 1280px;
}

.log-content {
    height: 300px;
    overflow: auto;

}

.box {
    margin: 5px;
    width: 180px;
    border: 1px #ddd solid;
    padding: 5px;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */
}

#menu {
    position: fixed;
    top: 80px;
    left: 10px;
    min-width: 180px;
    z-index: 9999;
}

.boxmsg {
    position: fixed;
    top: 80px;
    right: 0px;
    min-height: 50px;
    z-index: 9999;
}

.chapter-list {
    margin-left: 10px;
    margin-right: 10px;
}

.chapter-list li {
    width: 235px;
    text-align: left;
    padding-left: 5px;
    line-height: 35px;
    border-bottom: dotted 1px;
    word-wrap: normal;
    overflow-x: hidden;
}

.chapter-list li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content {
    font-size: 20px;
}

.collect {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
}

.breadcrumb {
    margin-bottom: 8px;
}


.maskLayer {
    position: absolute;
    width: 100%;
    height: 980px;
    background-color: #000000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    z-index: 9999;
    text-align: center;

    filter: alpha(opacity=50);
}

.maskLayer img {
    position: absolute;
    left: 50%;
    top: 40%
}

.fleft {
    float: left
}

.avatar-small {
    width: 18px;
    height: 18px;
}

.slideshow ul {
    list-style: none;
}

.slideshow {
    height: 340px;
    position: relative
}

.slideshow .slide-con {
    height: 340px;
    overflow: hidden;
    margin: 0 0 0 50px;
    padding-left: 0px;
}

.slideshow .slide-con li {
    height: 340px;
    display: none
}

.slideshow .slide-con .pic {
    display: block;
    width: 240px;
    height: 340px;
    float: left
}

.slideshow .slide-con h3 {
    text-align: center;
    overflow: hidden;
    margin: 0px;
}

.slideshow .slide-con .desc {
    height: 306px;
    margin-left: 250px;
    line-height: 22px;
    text-indent: 2em;
    overflow: hidden
}

.slideshow .slide-tab {
    position: absolute;
    left: 0px;
    top: -5px;
    margin-left: 0px;
    padding-left: 0px;
}

.slideshow .slide-tab li {
    width: 45px;
    height: 64px;
    margin-top: 5px;
    position: relative
}

.slideshow .slide-tab li img {
    width: 45px;
    height: 64px
}

.slideshow .slide-tab li span {
    width: 45px;
    height: 65px;
    border: 2px solid #E7C08B;
    position: absolute;
    left: 0;
    top: 0;
    display: none
}

.slideshow .slide-tab li.on span {
    display: inline-block
}

.tab-pane {
    padding-top: 10px;
}

.bookmark .list-group-item {
    min-height: 130px;
}

.bookmark .list-group-item img {
    margin-right: 15px;
}

form > .nav-tabs {
    width: 80%;
}