/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-8-28, 17:38:48
    Author     : joe
*/

body {    
    margin: 0 auto; 
    font-family: "宋体";
}