
.panel {
    margin-bottom: 0;
}

.chapter-list {
    width: 240px;
    position: absolute;
    top: 60px;
    left: -240px;
    overflow-y: auto;
    z-index: 101;
}

.chapter {
    margin: 0 auto;
}

.mycontent {
    position: relative;
    overflow: hidden;
    word-break: break-all;
    font-family: "宋体";
    column-gap: 50px;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
}

.mycontent p {
    text-indent: 2em;
}

.pagination {
    position: absolute;
    height: 80%;
    top: 160px;
    margin: 0 auto;
    z-index: 100;
}

#prev, #cent, #next {
    width: 32%;
    height: 100%;
    float: left;
}

.maskLayer {
    position: absolute;
    width: 100%;
    height: 980px;
    background-color: #000000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    z-index: 9999;
    text-align: center;

    filter: alpha(opacity=50);
}

.maskLayer img {
    position: absolute;
    left: 50%;
    top: 40%
}

#prev {
    cursor: url("../images/cur1.cur"), auto;
}

#next {
    cursor: url("../images/cur2.cur"), auto;
}