@charset "utf-8"; 
@import url(../base/base.css);
@import url(../base/iconfont.css);
@import url(../base/ui.css);
@import url(../base/grid.css);
/*公用*/
html,body{background: #f0f2f5;font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;font-size: 14px;line-height: 1.42858; color:#323130}
body{padding: 10px;}
a{color:#323130}
a:hover{color:#2486ff}
i{margin-right: 5px}
/*布局*/
#wrapper,#main{background: #FFF;border-radius: 2px;padding:10px;overflow-y: auto;overflow-x:hidden;}
#main{position: absolute;bottom:10px;top:10px;right: 10px;left: 10px;}
.url{border:1px #bfcbd9 solid;padding: 5px;}
/*标题*/
#actionbar,.titlebar{display: inline-block;width: 100%;margin-bottom: 10px}
.titlebar{border-bottom: 1px solid #edebe9;padding: 5px 0px 10px 10px;position: relative;}
.titlebar::before {content: '';position: absolute;width: 2px;height: 14px;background: #edebe9;top: 10px;left:0px;}