.menu-list-left-sider a {
    text-decoration: none;
}

.menu-list-left-sider > li > a {
    font-size: 16px;
}

.menu-list-left-sider li > ul > li > a {
    font-size: 14px;
}

.menu-list-left-sider .group {
    background-color: #1a2419;
    color: #dae9e0;
    font-size: 12px;
    padding: 3px 3px 3px 6px;
}

.menu-list-left-sider > .group {
    padding-left: 18px;
}

.menu-list-left-sider li > a > .label {
    display: none;
}

.menu-list-left-sider > li > ul > .group {
    display: none;
}

.menu-list-left-sider ul {
    display: none;
}

.menu-list-left-sider li > ul > li {
    position: relative;
}

.menu-list-left-sider li > ul > li:hover > ul {
    display: block;
}

.menu-list-left-sider li > ul > li > ul {
    position: absolute;
    top: 0px;
    right: -195px;
    width: 200px;
}

.menu-list-left-sider li > a {
    display: block;
    color: #b8c7ce;
    padding: 5px 5px 5px 6px;
    border-left: 3px solid transparent;
}

.menu-list-left-sider li > ul > li > ul > li > a {
    background-color: #5c6e74;
}

.menu-list-left-sider > li > a {
    padding: 12px 5px 12px 15px;
    background-color: #2c363a;
}

.menu-list-left-sider li:hover > a,
.menu-list-left-sider li.active > a {
    border-left-color: #3c8dbc;
    color: #fff;
    background-color: #1d272b;
}

.menu-list-left-sider > li.active > a > .more {
    transform: rotate(-90deg);
}

.menu-list-left-sider > li > ul {
    padding-left: 5px;
}

.menu-list-left-sider > li > ul > li {
    position: inherit;
}

.menu-list-left-sider > li.active > ul.open {
    display: block;
}

.menu-list-left-sider > li > ul > li > a {
    padding: 5px 5px 5px 15px;
}

.menu-list-left-sider > li > ul > li:hover > a,
.menu-list-left-sider > li > ul > li.active > a {
    border-left-color: transparent;
}

.closed .menu-list-left-sider > li > a {
    padding: 12px 5px 12px 5px;
    text-align: center;
}

.closed .menu-list-left-sider > li > a > span,
.closed .menu-list-left-sider > li > a > .pull-right,
.closed .menu-list-left-sider > li > ul {
    display: none;
}

.closed .menu-list-left-sider > li:hover > ul {
    position: absolute;
    width: 200px;
    display: block;
    padding-left: 0px;
}

.closed .menu-list-left-sider > li:hover > ul > li {
    position: relative;
}

.closed .menu-list-left-sider > li:hover > ul > li > a {
    background-color: #5c6e74;
    padding: 5px 5px 5px 6px;
}

.closed .menu-list-left-sider > li:hover > ul > li:hover > a {
    border-left-color: #3c8dbc;
    background-color: #1d272b;
}

.closed .menu-list-left-sider > .group {
    display: none;
}

.closed .menu-list-left-sider > li:hover > ul > .group {
    display: block;
}
