.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
a:focus {
  text-decoration: none;
}
.nav_scroll {
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}
#main-container {
  margin-top: 15px;
  min-height: 570px;
}
.common_1 {
  width: 100%;
  height: 100%;
}
.common_a {
  padding: 0 20px!important;
  color: #444!important;
  line-height: 30px!important;
  height: auto!important;
  width: 100%;
}
.common_a:hover {
  background-color: #0082df;
  color: #ffffff !important;
}
.topp-box {
  background: #0082df;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1002;
  width: 100%;
}
.topp-box .box {
  height: 100%;
  position: relative;
  text-align: center;
}
.topp-box .box .img-wrap {
  width: 100%;
  height: 100%;
}
.topp-box .box .img-wrap img {
  height: 50px;
  margin-top: 2px;
}
.topp-box .box .img-wrap .logo {
  padding: 0!important;
}
.topp-box .box .top-btn {
  line-height: 50px;
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}
.topp-box .box .top-btn:hover {
  color: #ffffff;
}
.topp-box .box .li-hover {
  display: inline-block !important;
  position: relative;
}
.topp-box .box .li-hover .nav-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.topp-box .box .li-hover > a {
  color: #ffffff;
  line-height: 50px;
  padding: 0 15px;
  display: inline-block;
  height: 50px;
}
.topp-box .box .li-hover > a:hover {
  background-color: #0082df;
  color: #ffffff;
}
.topp-box .box .li-hover > a .message-num {
  position: absolute;
  left: 22px;
  top: 12px;
  width: 10px;
  height: 10px;
  background-color: #d45d51;
  border-radius: 100%;
  text-align: center;
}
.search-box {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  margin-top: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
.search-box .text-wrap {
  height: 180px;
  width: 100%;
  position: absolute;
  top: 0;
}
.search-box .text-wrap .close-box {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.search-box .text-wrap .text-box {
  height: 100%;
  padding: 20px 0;
  text-align: center;
}
.search-box .text-wrap .text-box h1 {
  color: #333;
  font-size: 35px;
  font-weight: 500;
}
.search-box .text-wrap .text-box .search {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin: 30px auto 0;
  color: #000;
  padding: 10px 20px;
}
.search-box .text-wrap .text-box .search:hover {
  border-color: #000;
}
.search-box .text-wrap .text-box .search:hover span,
.search-box .text-wrap .text-box .search:hover i {
  opacity: 1;
}
.search-box .text-wrap .text-box .search span,
.search-box .text-wrap .text-box .search i {
  opacity: .8;
}
.search-box .text-wrap .text-box .search .input {
  height: 28px;
  margin-top: -4px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #000;
  width: 430px;
}
.search-box .text-wrap .text-box .search .input:focus {
  outline: none;
}
.nav_bar .sat-nav .first-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_bar .sat-nav .first-ul > li {
  display: inline-block;
}
.nav_bar .sat-nav .first-ul .active > a,
.nav_bar .sat-nav .first-ul .active > a:hover,
.nav_bar .sat-nav .first-ul .active > a:focus {
  background-color: #0079d0;
}
.nav_bar .sat-nav .dropdown-menu {
  margin: 0;
}
.nav_bar .first-a {
  line-height: 50px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
}
.nav-menu {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px!important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  text-align: left;
}
.nav-menu:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 32px;
  z-index: 9;
}
.nav-menu li a {
  padding: 0 20px;
  color: #999!important;
  line-height: 30px!important;
  font-size: 14px;
}
.nav-menu li a:hover {
  color: #0082df;
  background-color: transparent;
}
.nav-menu li:last-of-type .drop-a {
  border-bottom: none;
}
.footer-bar {
  padding: 40px 0 0;
  background-color: #333;
}
.footer-bar .fot-box {
  color: #ffffff;
}
.footer-bar .fot-box p {
  margin: 25px 0 10px;
}
.footer-bar .fot-box .p2 {
  font-size: 18px;
}
.footer-bar .fot-box .p3 {
  color: #777;
  padding: 0 20px;
}
.footer-bar .fot-box .p4 {
  color: #0082df;
  margin-bottom: 30px;
}
.footer-bar .close-more {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 30px;
  text-align: center;
}
.add-more {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 50px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.add-more:hover {
  color: #ffffff;
}
.next-box {
  background-color: #2f2f2f;
  padding: 10px 0 0;
}
.next-box p {
  font-size: 14px;
  color: #777;
}
.next-box .p-head {
  color: #ffffff;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
}
.next-box .p-head:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #0082df;
  bottom: -10px;
}
.next-box .about-us {
  padding-right: 20px;
}
.next-box .comp {
  padding-left: 20px;
}
.next-box .comp i {
  margin-right: 10px;
}
.next-box .friend {
  padding-left: 20px;
}
.next-box .friend li {
  list-style: none;
  margin-bottom: 10px;
}
.next-box .friend li a {
  color: #777;
}
.next-box .last-box {
  margin-top: 15px;
  border-top: 1px solid #777;
  padding-top: 20px;
}
.next-box .last-box a {
  color: #777;
}
.next-box a:hover {
  color: #0082df !important;
}
.next-box a:hover p {
  color: #0082df !important;
}
.fot-box .p1 {
  background: url("../images/foot.png") no-repeat;
  width: 75px;
  height: 75px;
  margin: 25px auto 0!important;
}
.fot-box .logo_1 {
  background-position: 0 -20px;
}
.fot-box .logo_2 {
  background-position: 0 -165px;
}
.fot-box .logo_3 {
  background-position: 0 -310px;
}
.fot-box .logo_4 {
  background-position: 0 -455px;
}
#sub_nav .logo {
  padding-left: 0;
}
#sub_nav .navbar-default {
  background-color: #f3f6f8;
  border: none!important;
  box-shadow: 0 4px 4px -3px #d1d1d1;
  margin-top: 50px;
}
#sub_nav .new-search-group {
  position: relative;
}
#sub_nav .new-search-group .input-btn {
  border-color: transparent;
  background: transparent;
  padding: 0 10px;
  height: 33px;
  position: absolute;
  right: 0;
}
#sub_nav .new-search-group .input-btn i {
  color: #0082df;
}
#sub_nav .new-search-group .new-search {
  height: 33px;
  border-radius: 16px;
  box-shadow: none;
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  transition: all .2s ;
}
#sub_nav .new-search-group .new-search:focus {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #0082df;
}
#sub_nav .dropdown-menu {
  padding: 0;
}
#sub_nav .dropdown-menu > li > a:hover,
#sub_nav .dropdown-menu > li > a:focus {
  background-color: #0082df !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0082df;
  border-bottom: 3px solid #0082df;
  background-color: transparent;
  outline: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #222;
  background-color: transparent;
}
.self-info:hover .user-card {
  display: block;
}
.show-hide-ul:hover > .nav-menu {
  display: block;
}
.c-b-right .drop-self {
  right: -15px;
  left: auto;
  padding: 0;
  margin: 0;
  min-width: 120px;
}
.c-b-right .nav-menu:before {
  left: auto;
  right: 30px!important;
}
.drop-a {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 15px!important;
  outline: none!important;
}
.drop-a:focus {
  background-color: transparent!important;
}
.drop-a p {
  margin: 0;
  line-height: 25px;
}
.drop-a p:first-child {
  color: #6a6a6a;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.drop-a p:first-child span {
  margin-left: 5px;
}
.drop-a p:first-child:hover {
  color: #0082df !important;
}
.drop-a p:last-child {
  margin-left: 40px;
  font-size: 12px;
  line-height: 20px;
}
.footer {
  background-color: #1f1f1f;
  padding: 30px 0 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
}
.footer a:hover {
  color: #0082df;
}
.footer .ftTop {
  display: flex;
}
.footer .ftTop .ftBox {
  flex: 1;
}
.footer .ftTop .ftBox:first-child {
  padding-right: 20px;
}
.footer .ftTop .ftBox:nth-child(2) {
  border-right: 1px solid #4b4949;
  border-left: 1px solid #4b4949;
  padding: 0 20px;
}
.footer .ftTop .ftBox:last-child {
  padding-left: 20px;
}
.footer .ftTop .ftBox .ftTit {
  margin-bottom: 15px;
}
.footer .ftTop .ftBox .ftLink {
  display: flex;
  flex-wrap: wrap;
}
.footer .ftTop .ftBox .ftLink li {
  list-style: none;
}
.footer .ftTop .ftBox .ftLink li a {
  padding-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
}
.footer .ftTop .codeBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .ftTop .codeBox .code {
  position: relative;
  width: 82px;
  height: 80px;
  text-align: center;
}
.footer .ftTop .codeBox .code:hover .imgWrap {
  opacity: 1;
  visibility: visible;
}
.footer .ftTop .codeBox .code .imgWrap {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #fff;
  top: -140px;
  left: 50%;
  margin-left: -65px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .ftTop .codeBox .code .imgWrap:after {
  content: '';
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: none;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}
.footer .ftTop .codeBox .code p {
  margin-bottom: 0;
  margin-top: 8px;
}
.footer .ftTop .codeBox .code .ftCircle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #585e68;
  margin-left: 10px;
  color: #fff;
}
.footer .ftTop .codeBox .code .ftCircle i {
  font-size: 30px;
}
.footer .ftOther {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .ftOther p {
  padding: 0 20px;
}
.footer .ftOther p .icon {
  margin-right: 5px;
}
.topp-box {
  background-color: #fff;
}
.topp-box .img-wrap {
  margin-left: 70px;
}
.topp-box .img-wrap img {
  width: 194px;
  height: 34px !important;
  margin-top: 8px !important;
}
.topp-box .sat-nav .first-ul li a {
  color: #333;
}
.topp-box .sat-nav .first-ul li.active a {
  color: #0082df;
  background-color: #fff;
}
.topp-box .sat-nav .first-ul li a:hover,
.topp-box .sat-nav .first-ul li.active a:hover {
  color: #0082df;
  background-color: #fff;
}
.topp-box .box li.li-hover a:hover {
  background-color: #fff;
}
.topp-box .box li.li-hover a span.user-name {
  color: #999;
}
.topp-box .box .from .form-group {
  float: left;
  margin-top: 10px;
}
.topp-box .box .from .form-group .search {
  width: 300px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #0ca6f2;
}
.topp-box .box .from .form-group .search:focus {
  outline: none;
}
.topp-box .box .from .form-group .search-btn {
  border: 0;
  background-color: transparent;
}
.topp-box .box .from .a-div {
  margin-top: 15px;
  float: left;
}
.topp-box .box .from .a-div a {
  height: 20px;
  font-family: "微软雅黑";
  line-height: 20px;
  font-size: 16px;
  color: #000;
  float: left;
}
.topp-box .box .from .a-div a:hover {
  color: #0082df;
}
.topp-box .box .from .a-div a[data-login="do_login"] {
  border-right: 1px solid #000;
}
.navbar {
  margin-bottom: 0 !important;
}
