<!-- 应用后台左侧导航 每个APP必须有的文件 不能删除 否则后台找不到管理菜单 -->
<li class="treemenu_on">
    <a style="outline:none;" hidefocus="true" href="javascript:void(0)" class="actuator">文章管理</a>
    <ul class="submenu" style="display: block;">
    <li><a style="outline:none;" hidefocus="true" class="submenuB" href="{:U('article/admin/channel')}" target="MainIframe">文章频道</a></li>
    <li><a style="outline:none;" hidefocus="true" class="submenuA" href="{:U('article/admin/index')}" target="MainIframe">文章管理</a></li>
    <li><a style="outline:none;" hidefocus="true" class="submenuA" href="{:U('article/admin/cate')}" target="MainIframe">文章分类</a></li>
    </ul>
</li> 
<li class="treemenu_on">
<a style="outline:none;" hidefocus="true" href="javascript:void(0)" class="actuator">采集管理</a>
<ul class="submenu" style="display: block;">
<li><a style="outline:none;" hidefocus="true" class="submenuA" href="javascript:alert('下版本开发，估计要收费了')" target="MainIframe">添加新机器人</a></li>
<li><a style="outline:none;" hidefocus="true" class="submenuA" href="javascript:alert('下版本开发，估计要收费了')" target="MainIframe">采集器</a></li>
</ul>
</li> 