.boxShadow {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
}
.boxShadowBorder {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
.issue_list img {
  max-width: 100%;
}
.issue_list .item_inner {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
.detail img {
  max-width: 95%;
}
/*index页面*/
.issue_list .item_inner {
  width: 1180px;
  float: left;
  margin-right: 20px;
  border: none;
  background: white;
  margin-bottom: 20px;
}
.issue_list h3 {
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 5px;
}
.operation {
  padding-left: 20px;
}
.operation li {
  float: left;
  list-style: none;
  width: 8%;
  text-align: left;
}
.item_inner p {
  margin: 0 0 1px;
}
.operation li i {
  margin-right: 5px;
  color: #999;
}
.issue_list .author img {
  width: 32px;
  margin-right: 10px;
}
.issue_list .ctime {
  color: #ccc;
  padding-right: 10px;
}
.issue_list .author {
  margin-left: 20px;
}
.app_head {
  width: 1180px;
}
.spliter {
  border-top: 1px solid #ddd;
  margin-bottom: 5px;
}
.btn-submit {
  margin-right: 10px;
  margin-top: 10px;
}
.item_core {
  position: relative;
}
.item_core .cover {
  width: 150px;
  height: 150px;
}
.item_type {
  background: rgba(72, 184, 122, 0.8);
  color: white;
  position: absolute;
  padding: 3px 5px;
  left: 0;
  top: 0;
}
.upload-pre-item img {
  min-width: 350px;
  max-width: 250px;
  max-height: 300px;
  border: 1px solid #ccc;
  padding: 2px;
}
.uploadcover {
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.5);
  border-color: #2f7a51;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
/*index页面end*/
/*详情页面*/
.content-title {
  font-size: 2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 0 0;
  text-align: center;
}
.content-body {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
  margin-left: -15px;
  margin-right: 5px;
  background: white;
  padding: 15px 20px;
}
.content-body h3 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.content-body .signature {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f5f5f5;
  color: #666;
  padding: 20px;
  position: relative;
  min-height: 80px;
}
.content-body .cover {
  width: 350px;
  height: 252px;
}
.content-body .triangle_left {
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid #f5f5f5;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  /* float: right; */
  margin-left: -30px;
  margin-top: 0px;
  z-index: 2;
  display: inline-block;
  position: absolute;
}
.content-body .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid #cccccc;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  margin-left: -41px;
  margin-top: 0px;
  z-index: 2;
  display: inline-block;
  position: absolute;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  margin: 10px 0 10px 0;
}
/*详情页面END*/
/*应用公共css*/
.app_head {
  background: #f8f8f8;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
  margin-bottom: 1em;
}
.app_title {
  padding: 0.3em .8em;
  font-size: 1.5em;
  line-height: 2em;
}
.app_title .app_ico_i {
  font-size: .8em;
  margin-right: .5em;
}
.sub_nav .nav_list {
  padding-left: 0em;
  margin-bottom: 0;
}
.sub_nav .nav_list li {
  list-style: none;
  float: left;
}
.sub_nav .nav_list li a {
  padding: 1.1em 1.3em;
  font-size: 1.1em;
  display: inline-block;
}
.sub_nav .nav_list li:hover {
  background: white;
}
.sub_nav .nav_list li .cur {
  background: white;
  color: #333;
}
.aline {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
}
.children_nav {
  display: none;
}
.children_nav .nav_list {
  background: white;
  padding-left: 0;
  margin: 0;
}
.children_nav .nav_list li {
  list-style: none;
  float: left;
}
.children_nav .nav_list li a {
  padding: 1.1em 1.3em;
  font-size: 1.1em;
  display: inline-block;
  color: #666;
}
.children_nav .nav_list li .cur {
  background: white;
  font-size: 1.0em;
}
.info_title {
  width: 100px;
  text-align: right;
  float: left;
}
.forum_module {
  width: 233px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 12px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ddd;
}
.container_nav {
  width: 100%;
  height: 40px;
  font-size: 14px;
}
.container_nav_tab {
  margin-left: -70px;
}
.container_nav li {
  float: left;
  list-style: none;
}
.container_nav .container_nav_tab_li a {
  color: #848484;
  padding-bottom: 8px;
}
.container_nav .container_nav_tab_li a:hover,
.container_nav_tab .active a {
  color: #333333;
  border: 3px solid transparent;
  border-width: 3px 0;
  border-bottom-color: #03ae87;
  opacity: 1;
  filter: alpha(opacity=100);
}
.event_btn {
  height: 38px;
  width: 100%;
  font-size: 18px;
}
.event_logo {
  width: 17px;
  height: 12px;
  background-image: url("../image/logo.png");
  margin-top: 5px;
  float: left;
}
.event_count {
  font-size: 14px;
}
.wd60 {
  width: 60px;
}
.event_fq_count a,
.event_count,
.event_fq_count {
  color: #848484;
}
.mgl20 {
  margin-left: 20px;
}
.mgl15 {
  margin-left: 15px;
}
.event_title a {
  color: #393939;
  font-size: 22px;
}
.mgt10 {
  margin-top: 10px;
}
.mgb10 {
  margin-bottom: 10px;
}
.event_type a {
  font-size: 14px;
  color: #bbbbbb;
  padding: 5px 10px;
}
.event_type .cur {
  background: #03ae87;
  color: #fff;
  border-radius: 3px;
}
.event_type_name {
  font-size: 16px;
}
.event_short_explain {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.event_list {
  border-bottom: 1px solid #E9E9D6;
  padding: 10px;
}
.event_state {
  width: 106px;
  height: 32px;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin: 5px 0 0 -5px;
}
.event_detail_type {
  position: absolute;
  margin-top: -30px;
  background: #000;
  opacity: 0.6;
  width: 345px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  -moz-opacity: 0.6;
  filter: alpha(opacity=40);
  _visibility: visible;
}
.event_navbar {
  min-height: 45px;
  background-color: #fff;
  border-color: #ddd;
}
.event_header_title {
  height: 20px;
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  color: #333333;
  padding: 0 0 0 5px;
}
.event_right {
  width: 100%;
  float: left;
}
.white-popup1 {
  background: #fff;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .event_btn_tog {
    display: none;
  }
}
@media (max-width: 768px) {
  .event_li_show_xs {
    padding: 10px;
  }
  .event_li_show_xs a {
    padding: 0!important;
  }
}
/*form_check.js 所用到的css*/
.show_info {
  position: absolute;
  z-index: 1000;
}
.send {
  z-index: 99;
  position: relative;
  padding: 0px 10px;
  height: 25px;
  background: #da203a;
  border-radius: 5px;
  /* 圆角 */
  margin: 6px auto 0;
  color: #fff;
  line-height: 25px;
  text-align: center;
}
.send .arrow {
  z-index: 99;
  position: absolute;
  top: -6px;
  left: 16px;
  /* 圆角的位置需要细心调试哦 */
  width: 0;
  height: 0;
  font-size: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #da203a;
}
/*form_check.js 所用到的css end */
.btn-info {
  color: #fff;
  background-color: #008CC9;
  border-color: #008CC9;
}
