{% if (omni_auth_status and omni_auth_socials) %}
  <div class="omni-auth-wrapper">
    <p><span>{{ text_other_login }}</span></p>
    <div class="icons">
      {% for item in omni_auth_socials %}
      <a onclick="window.open('index.php?route=account/social/redirect&amp;provider={{ item.provider }}', 'newwindow', 'width=700,height=500,top=200,left=600,menubar=0, scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1'); return false;" href="javascript:void(0);">
        <i class="fa fa-{{ item.provider }}" aria-hidden="true"></i>
      </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
