<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="uploader" class="wu-example">
    <div id="icon" class="btn waves-effect waves-light btn-primary" >上传头像</div>

</div>
<div id="tt"></div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<link href="__JS__/webuploader/webuploader.css" rel="stylesheet" type="text/css"></link>
<script src="__JS__/webuploader/webuploader.js"></script>
<script>

    jQuery(function() {
        var $ = jQuery,
               // $list = $('#fileList'),
        // 优化retina, 在retina下这个值是2
                ratio = window.devicePixelRatio || 1,

        // 缩略图大小
                thumbnailWidth = 100 * ratio,
                thumbnailHeight = 100 * ratio,

        // Web Uploader实例
                uploader;

        // 初始化Web Uploader
        uploader = WebUploader.create({

            // 自动上传。
            auto: true,

            // swf文件路径
            swf: '/static/admins/js/webuploader/Uploader.swf',
            // server: 'http://webuploader.duapp.com/server/fileupload.php',
            // 文件接收服务端。
            server: "{:url('upload/upload')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#icon',

            // 只允许选择文件，可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            formData: {
                face:'userface',
                w:100,
                h:100
            }
        });


        uploader.on('uploadAccept', function (fieldata, ret) {
            $('#tt').text(ret._raw);
            console.log(fieldata);
            console.log(ret);

            if (ret.code == 1) {
                console.log("执行了！");
               // addFile(ret);
            }else{

            }
        });








        // 完成上传完了，成功或者失败，先删除进度条。




    });

//    function create(){
//        uploader.addButton({
//            id: '#icon',
//            innerHTML: '上传头像'
//        });
//    }

</script>
</body>
</html>