#wst-express td,#wst-express th{text-align: left;}
#wst-express .title{font-weight: bold;}
.wst-tab-nav li{background:#fff;border:0px;}
.wst-tab-nav .on{background:#fff;border-bottom: 2px solid #31c15a;color: #009688;font-weight:normal;}
.wst-tab-content{border:0px;border-top: 1px solid #ddd;}