<!--{subtemplate index/common_header}-->
<!--{if $sql_info_result}-->
	<ul data-role="listview" data-inset="true">
	<li data-role="list-divider" data-swatch="a" data-theme="a" data-form="ui-bar-a">{$cate_title}信息分类列表</li>
	<!--{loop $sql_info_result $key $value}-->
		<li data-form="ui-btn-up-a"><a href="{eval echo site_rewrite_url('','index','info','detail',$value[info_id]);}" target="_self">{$value[title]}</a></li>
	<!--{/loop}-->
	</ul>
<!--{/if}-->
<div class="pg">{$multipage}</div>
<!--{subtemplate index/common_footer}-->