<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>tenpay</name>
            <displayName><![CDATA[财付通]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[财付通（www.tenpay.com） - 腾讯旗下在线支付平台，通过国家权威安全认证，支持各大银行网上支付，免支付手续费。立即免费申请：单笔费率1%立即购买包量套餐：折算后单笔费率0.6-1%]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>