<form method="post" class="form-x dux-form form-auto" id="form" action="{url('mobile')}">
    <div class="panel dux-box  active">
        <div class="panel-head">
            <strong>手机版设置</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="label">
                    <label for="sitename">开启手机版</label>
                </div>
                <div class="field">
                        <div class="button-group button-group-small radio">
                            <!--if{$info['mobile_status']}-->
                            <label class="button active"><input name="mobile_status" value="1" checked="checked" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="mobile_status" value="1" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-check"></span> 开启</label>
                            <!--if{!$info['mobile_status']}-->
                            <label class="button active"><input name="mobile_status" checked="checked" value="0" type="radio">
                            <!--{else}-->
                            <label class="button"><input name="mobile_status" value="0" type="radio">
                            <!--{/if}-->
                            <span class="icon icon-times"></span> 关闭</label>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">手机模板</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mobile_tpl" name="mobile_tpl" size="40" value="{$info.mobile_tpl}">
                    <select class="input js-assign" target="#mobile_tpl">
                       <option value="">请选择</option>
                       <!--loop{$themesList as $vo}-->
                        <option value="{$vo.file}">{$vo.name}</option>
                        <!--{/loop}-->
                      </select>                    
                    <div class="input-note">手机版所使用的主题</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">绑定域名</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="mobile_domain" name="mobile_domain" size="60" value="{$info.mobile_domain}">
                    <div class="input-note">绑定域名后可通过域名访问手机版，如：m.baidu.com</div>
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
                <button class="button bg-main" type="submit">保存</button>
                <button class="button bg" type="reset">重置</button>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        $('#form').duxForm();
    });
</script>