
{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/navs/navs.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<form id="navForm">
<table class='wst-form wst-box-top'>
       <tr>
          <th width='120'>导航位置<font color='red'>  </font>：</th>
          <td>
            <select id="navType" class='ipt' maxLength='20'>
              <option value="0">顶部</option>
              <option value="1">底部</option>
            </select>
          </td>
       </tr>
       <tr>
          <th>导航名称<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="navTitle" name="navTitle" class="ipt" maxLength='50'/>
          </td>
       </tr>
       <tr>
          <th>导航链接<font color='red'>*</font>：</th>
          <td>
            <input type='text' id='navUrl' name="navUrl"  class='ipt'/>
          </td>
       </tr>
       <tr>
          <th>是否显示<font color='red'>  </font>：</th>
          <td class='layui-form'>
           <input type="checkbox" {if $data['isShow']==1}checked{/if} class="ipt" id="isShow" name="isShow" lay-skin="switch" lay-filter="isShow" value='1' lay-text="显示|隐藏">
          </td>
       </tr>
       <tr>
          <th>打开方式<font color='red'>*</font>：</th>
          <td class='layui-form'>

            <lable>
              <input type="radio" name="isOpen" value="1" id="isOpen" class="ipt" <?=($data['isOpen']!==0)?'checked="checked"':'';?> title='新窗口打开'/>
            </lable>
            <lable>
              <input type="radio" name="isOpen" value="0" id="isOpen" class="ipt" <?=($data['isOpen']===0)?'checked="checked"':'';?> title='页面跳转'/>
            </lable>
          </td>
       </tr>
       <tr>
          <th>导航排序号<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="navSort" class="ipt" maxLength="20"  />
          </td>
       </tr>
       
    <tr>
     <td colspan='2' align='center' class='wst-bottombar' style="padding-left: 125px;">
       <input type="hidden" id="id" value="{$data['id']+0}" />
       <button type="submit" class="btn btn-primary btn-mright"><i class="fa fa-check"></i>提交</button> 
        <button type="button" class="btn" onclick="javascript:location.href='{:Url(\'admin/navs/index\',\'p=\'.$p)}'"><i class="fa fa-angle-double-left"></i>返回</button>
     </td>
  </tr>
</table>
</form>


<script>
$(function(){
    WST.setValues(<?=json_encode($data)?>);
    /*表单验证*/
    $('#navForm').validator({
        fields:{
            navTitle:{rule:'required',msg:{required:"请输入导航名称"},tip:"请输入导航名称",ok:"",},
            navUrl: {rule:"required;",msg:{required:"请输入导航链接"},tip:"请输入导航链接",ok:"",},
        },
        valid:function(form){
            edit($('#id').val(),{$p});
        }
    });
});
</script>
{/block}

