/*@name TAG样式表*/

/*@group 导航*/
.ilinei-nav-multi a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.ilinei-nav-multi a:hover {
    color: #cc0000;
    text-decoration: none;
}

.ilinei-nav-multi .nav {
    float:left;
    position:relative;
    width:80px;
    height:30px;
    line-height:30px;
    text-align:center;
    z-index:998;
    cursor:pointer;
}

.ilinei-nav-multi .nav .item {
    display:block;
    margin:0 auto;
    height:28px;
    line-height:28px;
}

.ilinei-nav-multi .nav .float {
    position:absolute;
    top:30px;
    left:-20px;
    width:120px;
    z-index:999;
    cursor:pointer;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
}

.ilinei-nav-multi .nav .float ul li {
    width:100%;
    height:30px;
    text-align:center;
    border-bottom:1px solid #f8f8f8;
    background:#fff;
    *float:left;
}

.ilinei-nav-multi .nav .float ul li a {
    display:block;
    line-height:30px;
    *line-height:28px;
    color:#333;
}

.ilinei-nav-multi .nav .float ul li:last-child {
    border-bottom:0;
}

.ilinei-nav-multi .nav .float ul li.hover a {
    color:#fff;
    background:#00af4f;
}

.ilinei-nav-multi .nav-hover {
    background:#fff;
}

.ilinei-nav-multi .nav-hover .item {
    color:#fff;
    background:#00af4f;
}

.ilinei-nav-multi .nav-active {
    background:#fff;
}

.ilinei-nav-multi .nav-active .item {
    color:#fff;
    background:#00af4f;
}

/*@group 导航面包屑*/
.ilinei-nav-crumbs {

}

/*@group 文章多条*/
.ilinei-article-multi .row-1 td {
    padding:4px 0;
}

.ilinei-article-multi .row-1 td .summary {
    width:80%;
    font-size:80%;
    line-height:150%;
    color:#999;
}

.ilinei-article-multi .row-2 td {
    padding:4px 0;
}

.ilinei-article-multi .row-2 td .pubdate {
    padding:2px 0;
    font-size:85%;
    color:#666;
}

.ilinei-article-multi .row-2 td .summary {
    width:80%;
    font-size:80%;
    line-height:150%;
    color:#999;
}

/*@group 文章搜索*/
.ilinei-article-search .row-1 td {
    padding:4px 0;
}

.ilinei-article-search .row-1 td .summary {
    width:80%;
    font-size:85%;
    line-height:150%;
    color:#999;
}

/*@group 文章单条*/
.ilinei-article-one .title {
    padding:10px 0;
    font-size:24px;
}