{template nheader.html}
<div class="page-bar">
	<ul class="page-breadcrumb mylink">
		{$menu.link}

	</ul>
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="mytopsearch">
	<form method="post" action="" name="searchform" id="searchform">
		<input name="search" id="search" type="hidden" value="1" />
		<label style="margin-right:20px">{fc_lang('管理员 (%s)', $auser.realname)}</label>
		<label>{fc_lang('登录时间')} ：</label>
		<label>{dr_field_input('start', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>'100')), (int)$param.start)}</label>
		<label><i class="fa fa-minus"></i></label>
		<label style="margin-right:10px">{dr_field_input('end', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>'100')), (int)$param.end)}</label>
		<label><button type="submit" class="btn green btn-sm" name="submit" > <i class="fa fa-search"></i> {fc_lang('搜索')}</button></label>
	</form>
</div>


<div class="portlet mylistbody">
	<div class="portlet-body">
		<div class="table-scrollable">

			<table class="mytable table table-striped table-bordered table-hover table-checkable dataTable">

			<thead>
				<tr>
					<th align="left">{fc_lang('登录时间')}</th>
					<th align="left">{fc_lang('登录IP')}</th>
					<th align="left">{fc_lang('客户端详情')}</th>
				</tr>
				</thead>
				<tbody>
				{loop $list $t}
				<tr>
					<td align="left">{dr_date($t.logintime, NULL, 'red')}</td>
					<td align="left"><a href="http://www.baidu.com/baidu?wd={$t.loginip}" target="_blank">{$ci->dip->address($t.loginip)}</a></td>
					<td align="left">{$t.useragent}</td>
				</tr>
				{/loop}
				</tbody>
			</table>

		</div>
	</div>
</div>
	<div id="pages"><a>{fc_lang('共%s条', $total)}</a>{$pages}</div>

{template nfooter.html}