{template header.html}
<script language="javascript">
function dr_select_all(id) {
    $("#"+id).find("option").attr("selected", "selected");
}
</script>
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">{fc_lang('如果内容URL地址与实际设定的规则不一致，那您可以尝试一下更新URL操作')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list col-tab">
		<form action="" method="post" name="myform" id="myform" target="result">
			<input type="hidden" name="extend" value="0">
		<div class="contentList pad-10">
			<table width="100%" class="table_form">
			<tr>
				<th width="200">&nbsp;{fc_lang('选择栏目')}： </th>
				<td>
                    {$select}
                    <input value="{fc_lang('全选')}" type="button" onclick="dr_select_all('dr_synid')" name="button" class="button" />
                </td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td><input class="button noloading" type="submit" name="submit" value="{fc_lang('更新内容')}" /></td>
			</tr>
			<tr height="80">
				<th style="border-bottom:none">&nbsp;</th>
				<td style="padding-left:2px;border-bottom:none"><iframe name="result" frameborder="0" id="result" width="100%" height="80"></iframe></td>
			</tr>
			</table>
		</div>
		</form>
	</div>
	{if $is_extend}
	<div class="bk10"></div>
	<div class="table-list col-tab">
		<form action="" method="post" name="myform" id="myform2" target="result2">
			<input type="hidden" name="extend" value="1">
		<div class="contentList pad-10">
			<table width="100%" class="table_form">
			<tr>
				<th width="200">&nbsp;{fc_lang('选择栏目')}： </th>
				<td>
                    {$select2}
                    <input value="{fc_lang('全选')}" type="button" onclick="dr_select_all('dr_synid2')" name="button" class="button" />
                </td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td><input class="button noloading" type="submit" name="submit" value="{fc_lang('更新扩展')}" /></td>
			</tr>
			<tr height="80">
				<th style="border-bottom:none">&nbsp;</th>
				<td style="padding-left:2px;border-bottom:none"><iframe name="result2" frameborder="0" id="result2" width="100%" height="80"></iframe></td>
			</tr>
			</table>
		</div>
		</form>
	</div>
	{/if}
</div>
{template footer.html}