{template nheader.html}
<script type="text/javascript">

</script>
<div class="page-bar">
	<ul class="page-breadcrumb mylink">
		{$menu.link}
	</ul>
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title">
	<small> </small>
</h3>

{if $share || $page}
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-green"><i class="fa fa-file-o"></i> {fc_lang('共享模块')}</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			{if $share}
			<form action="index.php?c=category&m=html" method="post">
			<input type="hidden" name="type" value="html" id="category_share">
			<div class="col-sm-4">
				<p class="text-center">{$share}</p>
				<p class="text-center">
					<button type="submit" onclick="$('#category_share').val('html')" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成共享栏目')} </button>
					<button type="submit" onclick="$('#category_share').val('clear')" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			</form>
			<form action="index.php?c=show&m=html" method="post">
				<input type="hidden" name="type" value="html" id="show_share">
			<div class="col-sm-4">
				<p class="text-center">{$share}</p>
				<p class="text-center">
					<button type="submit" onclick="$('#show_share').val('html')" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成共享内容')} </button>
					<button type="submit" onclick="$('#show_share').val('clear')" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			</form>
			{/if}
			{if $page}
			<div class="col-sm-4">
				<p class="text-center">{$page}</p>
				<p class="text-center">
					<button type="button" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成网站单页')} </button>
					<button type="button" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			{/if}
		</div>
	</div>
</div>
{/if}

{loop $module $t}
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-green"><i class="fa {$t.icon}"></i> {fc_lang($t.name)}</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			{if !$t.share}
			<form action="index.php?s={$t.dirname}&c=category&m=html" method="post">
			<input type="hidden" name="type" value="html" id="category_{$t.dirname}">
			<div class="col-sm-4">
				<p class="text-center">{$t.select}</p>
				<p class="text-center">
					<button type="submit" onclick="$('#category_{$t.dirname}').val('html')" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成模块栏目')} </button>
					<button type="submit" onclick="$('#category_{$t.dirname}').val('clear')" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			</form>
			{/if}
			<form action="index.php?s={$t.dirname}&c=show&m=html" method="post">
			<input type="hidden" name="type" value="html" id="show_{$t.dirname}">
			<div class="col-sm-4">
				<p class="text-center">{$t.select}</p>
				<p class="text-center">
					<button type="submit" onclick="$('#show_{$t.dirname}').val('html')" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成模块内容')} </button>
					<button type="submit" onclick="$('#show_{$t.dirname}').val('clear')" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			</form>
			{if $page_select}
			<div class="col-sm-4">
				<p class="text-center">{$t.page_select}</p>
				<p class="text-center">
					<button type="button" class="btn green noloading"><i class="fa fa-refresh"></i> {fc_lang('生成模块单页')} </button>
					<button type="button" class="btn red noloading"><i class="fa fa-trash"></i> {fc_lang('删除静态文件')} </button>
				</p>
			</div>
			{/if}
		</div>
	</div>
</div>
{/loop}
{template nfooter.html}