{template "install_header.html", "admin"}
<section class="section">
	<div class="">
		<div class="success_tip cc">
			<span class="f16 b">安装完成，点击进入</span>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="index.php" class="f16 b">前台</a>&nbsp;&nbsp;&nbsp;
            <a href="admin.php" class="f16 b">后台</a>
            </p>
			<p>账号密码都是admin
            </p>
		</div>
		<div class=""> </div>
	</div>
</section>
{template "install_footer.html", "admin"}