{template nheader.html}
<div class="page-bar">
	<ul class="page-breadcrumb mylink">
		{$menu.link}

		<li> <a href="{dr_help_url(8)}" target="_blank"><i class="fa fa-book"></i> 在线帮助</a> </li>
	</ul>
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title">
	<small>{fc_lang('您可以在这里对后台管理账号进行分组，划分不同的管理权限')}</small>
</h3>

<form action="" method="post" name="myform" id="myform">
	<div class="portlet mylistbody">
		<div class="portlet-body">
			<div class="table-scrollable">

				<table class="mytable table table-striped table-bordered table-hover table-checkable dataTable">

		<thead>
		<tr>
			<th width="20" align="right"></th>
			<th width="40" align="left">Id</th>
			<th width="200" align="left">{fc_lang('角色组')}</th>
			<th width="80" align="">{fc_lang('站点数')}</th>
			<th align="left" class="dr_option">{fc_lang('操作')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr id="dr_row_{$t.id}">
			<td align="right"><input name="ids[]" type="checkbox" class="dr_select toggle md-check" value="{$t.id}" {if $t.id==1}disabled{/if} /></td>
			<td align="left">{$t.id}</td>
			<td align="left">{$t.name}</td>
			<td align="">{if $t.id>1}{count(dr_string2array($t.site))}{else}All{/if}</td>
			<td align="left" class="dr_option">
			{if $this->ci->is_auth('admin/role/auth')}<a class="aadd" {if $t.id==1}href="javascript:;"{else}href="{dr_url('role/auth',array('id' => $t.id))}"{/if}> <i class="fa fa-cogs"></i> {fc_lang('系统权限')}</a>{/if}
			{if $this->ci->is_auth('admin/root/index')}<a class="alist" href="{dr_url('root/index',array('roleid' => $t.id))}"> <i class="fa fa-users"></i> {fc_lang('成员管理')}</a>{/if}
			{if $this->ci->is_auth('admin/role/edit')}<a class="aedit" href="{dr_dialog_url(dr_url('role/edit',array('id' => $t.id)), 'edit')}"> <i class="fa fa-edit"></i> {fc_lang('修改')}</a>{/if}
			{if $this->ci->is_auth('admin/role/del')}<a class="adel" href="javascript:;" {if $t.id==1} style="color:#999"{else}onClick="return dr_dialog_del('{fc_lang('您确定要这样操作吗？')}','{dr_url('role/del',array('id' => $t.id))}');"{/if}> <i class="fa fa-trash"></i> {fc_lang('删除')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr class="mtable_bottom">
        	<th align="right" ><input class="toggle md-check" name="dr_select" type="checkbox" onClick="dr_selected()" /></th>
			<td colspan="33" align="left" >
			{if $this->ci->is_auth('admin/role/del')}<button type="button" class="btn red btn-sm" name="option" onClick="dr_confirm_del_all()"> <i class="fa fa-trash"></i> {fc_lang('删除')}</button>
				&nbsp;<div class="onShow">{fc_lang('操作完成之后请更新缓存，否则不会生效')}</div>{/if}
			</td>
		</tr>
		</tbody>
		</table>
		</div>
	</div>
</div>
</form>
{template nfooter.html}