$color-main: #db3652;
$color-text: #666;
$color-a: #0e90d2;

@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-1() {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@mixin arrow($size: 12px, $top:20px, $right:0) {
  content: " ";
  display: inline-block;
  width: $size;
  height: $size;
  border: solid #BBB;
  background: none;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: $right;
  top: $top;
}

@import "model/_fix";
@import "model/_layout";
@import "model/_page";
@import "model/_index";
@import "model/_class";
@import "model/_list";
@import "model/_article";
@import "model/_content";
@import "model/_site";
@import "model/_coupon";

