/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/app/SymfonyRequirements.php
/app/config/parameters.yml~
/app/data/
composer.lock
/iOS/post/post.xcodeproj/project.xcworkspace/xcuserdata/
/iOS/post/post.xcodeproj/xcuserdata/wangzhenhua.xcuserdatad/
