<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcategories</name>
            <displayName><![CDATA[分类区域]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[添加一个商品分类区域]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>