#loginform input.inputText, #loginform input.inputPassword{ width:140px;}
#header,#content,#banner,#footer{width: 950px;}
/*body*/
body{color:#555;background:#edf3bc;}
.hwrap{background:#321c11 url("images/navbg.png") repeat-x bottom;}
.bwrap{background:#23201c url("images/bwrap.png") repeat-x top;margin-bottom:22px;}
.col-sub{background:url("images/colsubtop.png") no-repeat top;padding-top:9px;}
.col-sub .bg{background:url("images/colsubbottom.png") no-repeat bottom;padding-bottom:60px;}
.col-sub .bg .sinner{width:230px;background:url("images/colsubbg.png") repeat-y;padding:0px 15px 10px 15px;}
.fwrap{background:#211c1a;margin-top:10px;}
.col-main .mbox .mhd{background:url("images/mainboxtop.png") no-repeat top;margin:0 auto;padding:13px 16px 0px 16px;}
.col-main .mbox{background:url("images/mainboxbottom.png") no-repeat bottom;padding-bottom:17px;}
.col-main .mbox .mbg{background:url("images/mainboxbg.png") repeat-y center 1px;}
.item_intro .consul .mhd{background:none;}
#contact .col-main .mbox .mhd{background:url("images/mainboxtop-c.png") no-repeat top;width:918px;margin:0 auto;padding:13px 16px 0px 16px;}
#contact .col-main .mbox{background:url("images/mainboxbottom-c.png") no-repeat bottom;padding-bottom:14px;}
#contact .col-main .mbox .mbg{background:url("images/mainboxbg-c.png") repeat-y center 1px;}

a:link,a:visited{color:#555;}
a:hover,a:focus{color:#83af30;}

input,textarea{border-top:1px #abadb3 solid;border-left:1px #e1e7ef solid;border-right:1px #e1e7ef solid;border-bottom:1px #e1e7ef solid;}
.job_con table,.guest table {border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td {background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th {background:#eee;border-bottom: 1px solid #e0e0e0;}
/*header*/
#header{height:152px;background:url("images/headerbg.png") no-repeat top right;}
#header h1,#header p{float:left;}
#header h1{padding-top:19px;}
#header p {margin-left:20px;height:108px;line-height:108px;color: #fff;}
.menu a,.menu a:link,.menu a:visited{color:#5fa255;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 5px;}

.nav{height:43px;line-height:43px;}
.nav ul{background:url("images/li.png") no-repeat right 5px;}
.nav li a{width:118px;background:url("images/li.png") no-repeat 0 5px;}
.nav li.first a{background:none;}

.navlist ul{top:44px;background:#f5f0d2;}
.navlist ul li{margin-top:1px;background:url("images/sublibg.png") no-repeat;line-height:30px;height:30px;width:125px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{font-weight:bold;}
.nav li.active li a{background:none;font-weight:normal;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#edf2b5;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#eeb500;}
.nav li.active a{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#de741e;background:none;}

/*content*/
.mbox{margin-bottom:10px;}
.col-sub .mhd{border-bottom:1px #eee solid;}
.mhd h3{background:url("images/sico01.png") no-repeat 0 center;padding-left:25px;color:#000;}
.col-main .mhd h3{border-bottom:1px #eee solid;}
#contact .col-main .mhd{margin:0 20px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:20px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.col-sub .mbd{padding-left:10px;padding-right:10px;}
.col-main .mbd{padding-left:20px;padding-right:20px;}
/*feedback*/
.feedback a{background:url("images/feedback.png") no-repeat;width:230px;margin-bottom:10px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #eee dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#f9f9f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #eee dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#4f7605;}
.down_list .mbd li h2{border-bottom:1px #eee dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:17px center;padding-left:32px;}
.down_list .mbd li {line-height:28px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 5px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 17px center;border-bottom:1px #eee dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
.col-main .plinks .mbd{padding-left:12px;padding-right:0;}
.mhd button{color:#fff;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.pic_list img{border:1px #eee solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#f2f2f2;}
.quaon_pic .mbd li{margin:26px 20px 0px 15px;}
.plinks .mbd li {margin: 15px 10px 0 5px;}
.prodt .mbd li {margin: 26px 17px 0 14px;}
.prodt_list .mbd li{margin: 26px 18px 0 14px;}
.contact_con dt{color:#67330c;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}

/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#746d5b;}
#footer {color: #746d5b;padding-bottom:10px;}
#footer p{padding-top: 10px;}
#footer a:link, #footer a:visited {color: #746d5b;}
#footer a:hover {color: #c70906;}
#footer .support a:link, #footer .support a:visited{color: #746d5b;}
