@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
}

a{
    text-decoration:none; 
    color:#333;
}

a:hover{
    text-decoration:underline;
}

body{
    font-size:12px;
    background:#fff;
}

li{
    list-style-type:none;
}

img{
    border:none;
}

h2{
    height:30px;
    background:url(../images/title_bg.jpg);
    padding:0 10px;
    line-height:30px;
    color:#00A4DE;
    font-size:14px;
}

h2 span{
    float:right;
    font-size:13px;
}

h2 span a{
    color:#00A0DA;
}


#head{
    margin:0 0 10px 0;
    height:210px;
}

#head #top{
    margin:0 auto;
    height:30px;
    background:url(../images/top_bg.jpg);
    font-size:13px;
}

#head #top p{
    height:30px;
    line-height:30px;
    width:960px;
    margin:0 auto;
}

#head #top p span.left{
    float:left;
}

#head #top p span.left b{
    color:blue;
}

#head #top p span.right{
    float:right;
}

#head #top p span.right marquee{
    width:400px;
}

#head #top p span.right marquee a{
    color:red;
    font-size:14px;
}

#logo{
    width:960px;
    height:90px;
    margin:5px auto;
}

#logo h1{
    width:240px;
    height:90px;
    display:block;
    text-indent:-10000px;
    cursor:pointer;
    background:url(../images/logo.png);
    float:left;

}

#logo img{
    display:block;
    height:80px;
    width:500px;
    float:right;
    padding:5px 0;
}

#nav{
    width:960px;
    height:40px;
    background:url(../images/nav_bg.jpg);
    margin:0 auto;
}

#nav ul{
    height:40px;
    width:960px;
    padding:0 10px;
}

#nav ul li{
    height:40px;
    float:left;
    line-height:40px;
    margin:0 5px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

#nav ul li a{
    margin-top:1px;
    color:#fff;
    display:block;
    height:38px;
    padding:0 10px;
}

#nav ul li a:hover{
    background:#000;
    color:#fff;
    text-decoration:none;
}

#search{
    width:953px;
    height:40px;
    border-left:1px solid #abcdef;
    border-right:1px solid #abcdef;
    border-bottom:1px solid #abcdef;
    background:#E9F7FE;
    margin:0 auto;
    line-height:40px;
    text-align:center;
    padding:0 0 0 5px;
}

#search #s_form{
    float:left;
    
}

#search #s_form span{
    border:2px solid #abcdef;
    height:25px;
    width:260px;
    display:block;
    position:relative;
    top:5px;
}
#search #s_form span input{
    float:left;
}
#search #s_form #s_text{
    height:25px;
    width:200px;
    border:none;
    background:#fff;
    position:relative;
    left:-1;
}

#s_submit{
    height:25px;
    width:60px;
    border:none;
    background:#abcdef;
    cursor:pointer;
    position:relative;
    font-size:14px;
    font-weight:bold;
}

#search ul{
    float:left;
    padding:0 10px;
}

#search ul li{
    padding:0 10px;
    float:left;
    color:red;
    font-size:14px;
    font-weight:bold;
}

#search #q_form{
    float:right;
    margin-right:10px;
    padding:8px;
}

#search #q_form select{
    width:120px;
    height:25px;
    background:#fff;
    border:1px solid #FF9900;
}

#main{
    width:960px;
    margin:0 auto;
}

#main #news{
    height:400px;
    width:960px;
    margin:0 0 10px 0;
}

#main #news #new{
    width:376px;
    margin:0 10px;
    height:376px;
    border:2px solid #78CBED;
    float:left;
    padding:10px;    
}

#main #news #new h1{
    font-size:14px;
    text-align:center;
    color:red;
}

#main #news #new h1 a{
    color:#F30000;
}

#main #news #new p{
    height:80px;
    padding:10px 0;
    text-indent:3em;
    line-height:180%;
    border-bottom:2px dashed #78CBED;
}

#main #news #new ul{
    padding:10px 0;
    font-size:14px;
}

#main #news #new ul li{
    height:25px;
    line-height:25px;
}

#main #news #new ul li em{
    font-style:normal;
    float:right;
}

#main #news #hot{
    float:left;
}

#main #news #hot #pic_hot{ 
    height:248px;
    width:268px;
    border:1px solid #78CBED;
}

#main #news #hot #tag_hot{
    margin-top:10px;
    width:268px;
    float:left;
    height:138px;
    border:1px solid #78CBED;
    overflow:hidden;
}

#main #news #hot #tag_hot ul{
    padding:5px;
}

#main #news #hot #tag_hot ul li{
    float:left;
    padding:4px;
}

#main #news #hot #tag_hot ul li a{
    font-weight:bold;
    text-align:center;
}


#main #news #rec{
    width:268px;
    float:left;
    height:398px;
    border:1px solid #78CBED;
}

#main #news #rec ul{
    padding:10px;    
}

#main #news #rec ul li{
    height:60px;
    padding-bottom:11px;
}

#main #news #rec ul li img{
    width:80px;
    height:60px;
    border:1px solid #ccc;
    float:left;
}

#main #news #rec ul li h3{
    width:154px;
    height:60px;
    float:left;
    padding-left:10px;
    overflow:hidden;
    line-height:150%;
    font-size:14px;
    font-weight:normal;
}

#main #adv ul{
    height:80px;
    width:960px;
}

#main #adv ul li{
    width:232px;
    height:80px;
    float:left;
}

#main #adv ul span{
    width:10px;
    height:80px;
    float:left;
}

#main #left{
    height:700px;
    width:680px;
    float:left;
    margin:10px 10px 10px 0;
}

#main #left div.top{
    height:298px;
    border:1px solid #78CBED;
}

#main #left div.top h2 ul{
    float:right;
    width:500px;
}

#main #left div.top h2 ul li{
    float:left;
    padding:0 10px;
    cursor:pointer;
}

.select{
    background:#fff;
    color:#104A68;
    border-top:3px solid #104A68;
}

#main #left div.top ul.ul_content{
    height:260px;
    width:670px;
}

#main #left div.top ul.ul_content li div.ul_content_top img{
    border:1px solid #ccc;
    width:200px;
    height:120px;
    margin:10px;
    float:left;
}

#main #left div.top ul.ul_content li div.ul_content_top h1{
    float:left;
    font-size:14px;
    height:35px;
    line-height:35px;
    text-align:center;
    width:445px;
}

#main #left div.top ul.ul_content li div.ul_content_top p{
    float:left;
    width:445px;
    line-height:160%;
    height:90px;
    text-indent:2em;
}

#main #left div.top ul.ul_content li div.ul_content_bottom{
    clear:both;
}

#main #left div.top ul.ul_content li div.ul_content_bottom ul{
    padding:5px 10px;
}

#main #left div.top ul.ul_content li div.ul_content_bottom ul li{
    float:left;
    width:310px;
    line-height:180%;
    margin-right:10px;
    overflow:hidden;
}

#main #left div.center{
    height:78px;
    width:680px;
    overflow:hidden;
    margin:10px 0;
}

#main #left div.buttom{
    height:298px;
    border:1px solid #78CBED;
}

#main #left div.buttom h2 ul{
    float:right;
    width:500px;
}

#main #left div.buttom h2 ul li{
    float:left;
    padding:0 10px;
}

#main #left div.buttom #buttom_content li #web_ul ul{
    padding:20px 0 0 24px;
}

#main #left div.buttom #buttom_content li #web_ul ul>li{
    float:left;
}

#main #left div.buttom #buttom_content li #web_ul .web_ul_pic li{
    width:88px;
    height:31px;
    float:left;
    border:1px solid #ccc;
    margin-right:18px;
    text-align:center;
    margin-bottom:18px;
}

#main #left div.buttom #buttom_content li #web_ul .web_ul_text li{
    width:90px;
    height:30px;
    float:left;
    margin-right:18px;
    text-align:center;
    font-size:14px;
}

#main #left div.buttom #buttom_content li #buttom_content_title ul{
    padding:10px 20px;
}

#main #left div.buttom #buttom_content li #buttom_content_title ul li{
    float:left;
    width:280px;
    height:25px;
    line-height:20px;
    padding-right:35px;
}

#main #left div.buttom #buttom_content li #buttom_content_title ul li span{
    float:right;
}

#main #right{
    height:700px;
    width:270px;
    float:right;
    margin:10px 0;
}

#main #right div.download{
    height:273px;
    border:1px solid #78CBED;
    font-size:14px;
}

#main #right div.download ul{
    padding:10px;
}

#main #right div.download ul li{
    height:25px;
    line-height:25px;
}

#main #right div.download ul li em{
    font-style:normal;
    float:right;
}

#main #right div.tab{
    height:228px;
    border:1px solid #78CBED;
    margin:10px 0;
}

#main #scroll{
    width:960px;
    height:160px;
    border:1px solid #78CBED;
    clear:both;
}

#main #scroll ul{
    height:90px;
    margin:10px;
}

#main #scroll ul li{
    float:left;
    width:300px;
    height:110px;
    overflow:hidden;
    margin-right:10px;
}

#main #scroll ul li img{
    float:left;
    width:90px;
    height:110px;
    border:1px solid #ccc;
    margin-right:10px;
}

#main #scroll ul li h3{
    float:left;
    height:30px;
    line-height:30px;
}

#main #scroll ul li p{
    text-indent:2em;
    float:left;
    width:180px;
    line-height:20px;
    height:20px;
}

#main #friendlink{
    height:110px;
    width:960px;
    border:1px solid #78CBED;
    clear:both;
    margin:10px 0;
}

#main #friendlink #text_link{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed #666;
    width:98%;
    margin:0 auto;
}


#main #friendlink #text_link ol li{
    float:left;
    padding:0 20px 0 0;   
}

#main #friendlink #text_link ol li a{
    font-size:14px;
}

#main #friendlink #pic_link{
    height:50px;
    line-height:50px;
    padding:8px;
}

#main #friendlink #pic_link ol li{
    float:left;
    padding:0 14px 0 0;
}

#main #friendlink #pic_link ol li img{ border:1px solid #ccc;
}

#footer{
    clear:both;
    border-top:2px solid #eee;
    height:90px;
    background:url(../images/footer_bg.jpg);
    margin:0 auto;
}

#footer .content{
    width:960px;
    padding-top:10px;
    height:80px;
    margin:0 auto;
}

#footer .content p{
    height:25px;
    line-height:25px;
    width:960px;
    text-align:center;
}

#pop_login{
    display:none;
    width:400px;
    height:300px;
    border:2px solid #abcdef;
    position:absolute;
    background:#fff;
    z-index:3;
    box-shadow:0px 0px 10px 10px rgba(0,0,0,.4);
}

#pop_login h3{
    background:#abcdef;
    height:30px;
    line-height:30px;
    padding:0 10px;
}

#pop_login h3 span{
    float:right;
}

#mask{
    background:#abcdef;
    opacity:.2;
    z-index:2;
    display:none;
    position:absolute;
    left:0;
    top:0;
}
