<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页模板</title>
    <link href="/static/weadmin/favicon_white.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/static/weadmin/css/plugins/bootstrap/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/weadmin/css/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="/static/weadmin/css/font-awesome.css?v=4.7.0" rel="stylesheet">
    <link href="/static/weadmin/css/style.min.css?v=4.1.0" rel="stylesheet">

</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" width="70px" height="70px" src="" onerror="this.src='/static/weadmin/images/head_default.png'"/></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">超级管理员</strong></span>
                                <span class="text-muted text-xs block">haigle<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="J_menuItem" href="">修改密码</a></li>
                            <li><a href="javascript:;" id="cache">清除缓存</a></li>
                            <li><a href="">安全退出</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">VE
                    </div>
                </li>
                <!--左侧菜单开始-->
                <li>
                    <a class="J_menuItem" href="/admin/index/dashboard" data-index="0">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">仪表盘</span>
                    </a>
                </li>
                {{if !empty($nav_menu) }}
                    {{foreach name="nav_menu" item="vo"}}
                        {{if !empty($vo['child']) }}
                            <li>
                                <a href="#">
                                    <i class="fa {{$vo['icon']}}"></i>
                                    <span class="nav-label">{{$vo.name}}</span>
                                    <span class="fa arrow"></span>
                                </a>
                                {{foreach name="$vo['child']" item="v"}}
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a class="J_menuItem" href="{{$v.href}}">{{$v.name}}</a>
                                        </li>
                                    </ul>
                                {{/foreach}}
                            </li>
                        {{else /}}
                            <li>
                                <a class="J_menuItem" href="{{$vo['href']}}">
                                    <i class="fa {{$vo['icon']}}"></i>
                                    <span class="nav-label">{{$vo['name']}}</span>
                                </a>
                            </li>
                        {{/if}}
                    {{/foreach}}
                {{/if}}
                <!--左侧菜单结束-->
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                        <i class="fa fa-bars"></i> 
                    </a>
                     <div id="tp-weather-widget" style="margin-top:15px"></div>
                    <script>
                        (function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))
                    </script>
                    <script>
                        tpwidget("init", {
                            "flavor": "slim",
                            "location": "WX4FBXXFKE4F",
                            "geolocation": "enabled",
                            "language": "zh-chs",
                            "unit": "c",
                            "theme": "chameleon",
                            "container": "tp-weather-widget",
                            "bubble": "enabled",
                            "alarmType": "badge",
                            "uid": "UC5B40554B",
                            "hash": "6a7be3e614a8c5ecd4cb946b8e1bfb78"
                        });
                        tpwidget("show");
                    </script>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <i class="fa fa-tasks"></i> 主题
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="/admin/index/dashboard">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">常用操作<span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabGo"><a>前进</a></li>
                    <li class="J_tabBack"><a>后退</a></li>
                    <li class="J_tabFresh"><a>刷新</a></li>
                    <li class="divider"></li>
                    <li class="J_tabShowActive"><a>定位当前选项卡</a></li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a></li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a></li>
                </ul>
            </div>
            <a href="/admin/login/logout" id="logout" class="roll-nav roll-right J_tabExit">
                <i class="fa fa fa-sign-out"></i>退出
            </a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/admin/index/dashboard" frameborder="0" data-id="/admin/index/dashboard" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">powered by weadmin</div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <div id="right-sidebar">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1">
                        <i class="fa fa-gear"></i> 主题
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                        <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                    </div>
                    <div class="skin-setttings">
                        <div class="title">主题设置</div>
                        <div class="setings-item">
                            <span>收起左侧菜单</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                    <label class="onoffswitch-label" for="collapsemenu">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定顶部</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                    <label class="onoffswitch-label" for="fixednavbar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定宽度</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                    <label class="onoffswitch-label" for="boxedlayout">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="title">皮肤选择</div>
                        <div class="setings-item default-skin nb">
                            <span class="skin-name ">
                                 <a href="#" class="s-skin-0">
                                     默认皮肤
                                 </a>
                            </span>
                        </div>
                        <div class="setings-item blue-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-1">
                                    蓝色主题
                                </a>
                            </span>
                        </div>
                        <div class="setings-item yellow-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-3">
                                    黄色/紫色主题
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右侧边栏结束-->
  
</div>
<script src="/static/weadmin/js/plugins/jquery/jquery.min.js?v=2.1.4"></script>
<script src="/static/weadmin/js/plugins/bootstrap/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/weadmin/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="/static/weadmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/weadmin/js/plugins/pace/pace.min.js"></script>
<script src="/static/weadmin/js/content.min.js?v=1.0.0"></script>
<script src="/static/weadmin/js/wenav.min.js?v=4.1.0"></script>
<script src="/static/weadmin/js/contabs.js"></script>
<script>
//    parent.location.reload();
//    如果登录超时或者退出登录，则刷新页面
if(self!=top){
    parent.window.location.replace(window.location.href);
}
</script>
</body>
</html>
