html {
  font-family:sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body {
  background:#f2f2f2;
  font-family:-apple-system-font, "Helvetica Neue",Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
a {
  color:#000;
  text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor: pointer !important;
    }

}
ul {
  padding-left: 0;
  margin-left: 0;
}
/*ZUI修复*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
/*布局通用样式*/
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.main-wrapper {
  padding-top:58px;
}
#main-container {
  margin-top:10px;
}
.adv-wrap {
  position: relative;
  overflow: visible;

  .adv-content {
    line-height: 18px;
    text-align: center;
    padding-top: 5px;
    background: url(/Public/images/adv_line.jpg);
    padding-left: 10px;

    .text {
      background: white;
      padding: 5px 10px;
    }
  }

  .adv-tool {
    display: none;
    position: absolute;
    width: 165px;
    right: 0;
    top: -24px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    box-shadow: 2px 2px #eee;
    line-height: 12px;
    z-index: 999999;

    a {
      line-height: 24px !important;
      padding: 10px 5px;
    }
  }

  .adv-size {
    display: none;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    position: absolute;
    z-index: 999;
    background: #fcfcfc;
    border: 1px solid #ddd;
    box-shadow: 2px 2px #eee;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tool {
  position: fixed;
  bottom: 60px;
  right: 50px;
  width: 46px;
  z-index: 999;
}
.tool > a {
  display: block;
  width: 48px;
  height: 46px;
  margin-bottom: 10px;
  background-image: url(../images/tools.png);
  border: 1px solid #dddddd;
}
.tool a:last-child {
  margin-bottom: 0;
}
.tool .go-top {
  background-position: 0 0;
  display: none;
}
.tool .go-top:hover {
  background-position: 0 -46px;
}
.tool .admin-view {
  background-position: 0 -92px;
}
.tool .admin-view:hover {
  background-position: 0 -137px;
}
/*用户注册*/
.register_header {
  border-radius: 8px 8px 0 0;
}
.register {
  position:relative;
  margin:20px auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  .register_body {
    padding:20px;
    max-width:468px;
    margin:0 auto;

    #reg_nav li a{
      font-size:18px;
    }
    .tab-content {
      background:#fff;
      padding:20px;
      border:1px solid #ddd;
      border-top:0;

      input{
        border:1px solid #ddd;
      }
    }
  }

  .form-group {
    position:relative;
    margin-bottom:5px;
  }

  .new-input {
    display: inline-block;
  }

  .existing-account {
    text-align:center;
    line-height: 36px;
    margin-top:60px;
    border-top:1px solid #f6f6f6;
  }

  .register-finish {
    display: flex;
    padding-left: calc(100vw - 100%);
    min-height: calc(100vh - 140px); 
    margin:0 auto;
    padding:20px;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .avatar {
        text-align:center;
        padding:15px 0;

        span{
          display:block;
          text-align:center;
        }
      }
    }

    .font{
      font-size:14px;
      text-align:center;
      padding:15px 0;
      color:#666;
    }
  }
} 
/*用户登录*/
.login{
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  height: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  max-width:468px;
  .login-tit {
    text-align:center;
    font-size:22px;
    margin:10px auto;
  }
  .lg_lf_top {
      letter-spacing:10px;
      color:#333;
      font-weight: 300;
    }
}
@media screen and (max-width:768px){
  .login{
    position:relative;
    width:100%;
    left:0;
    top:0;
    -webkit-transform: translateX(0) translateY(0);
  }
}
/*找回密码*/
.mi_form_box #mi_tab li a {
    font-size: 18px;
}
/*悬浮样式end*/
.user-card {
  height: 230px;
  background: white;
  margin-bottom: 15px;

  .user_info {
    margin-bottom: 20px;
    position: relative;
  }
  .user-data > div {
    padding-bottom: 10px;
  }
  .headpic {
    padding: 0;
    border-radius: 50%;
    text-align: center;
    margin-top: -40px;
  }
  .cover {
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nickname {
    padding-top: 10px;
  }
}
/*头衔*/
.rank-icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.rank-label {
  display: inline-block;
  padding: 3px 7px;
  margin-right: 3px;
}
.tb_rank {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
.tb_rank td,
.tb_rank th {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  color: #555;
}
/*头衔end*/
/*编辑器修复*/
.edui-btn-toolbar {
  background: white;
}
/*编辑器修复end*/
/*弹出消息列表按钮*/
#messages_btn span {
  display:inline-block;
}
/**
 * 弹出消息模态框消息列表
 */
/*common*/
.message-info-list .common {
  list-style: none;
  padding:15px 0;
  border-bottom:1px solid #f2f2f2;
}
.message-info-list .common .avatar-box {
  margin:10px 10px 0 0;
  position: relative;
  float:left;
  width:64px;
  height:64px;
  overflow:hidden;
}
.message-info-list .common .common_con{
    margin-left:74px;
    margin-top:10px;
}
.message-info-list .comment .comment_con .from{
    background:#f2f2f2;
    border-radius:5px;
    padding:5px;
}
.message-info-list .comment .comment_con .from .from_con{
    margin-left:130px;
}
/*comment end*/
#msgModal .message-type-box {
  overflow-y:auto;
}
#msgModal .message-info-list {
  overflow-y:auto;
}
#msgModal .message-type-box .message-type-list li {
  position: relative;
}
#msgModal .loadmore-type-messages {
  text-align: center;
  line-height: 32px;
  padding:5px;
  font-size:14px;
  cursor:pointer;
  background:#ddd;
  max-width:200px;
  margin:0 auto;
}
/**
 *session1 样式
 */
#msgModal .message-content .content-list .message-type-list li.session1 {
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session1 a {
  margin: 5px;
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-content .content-list .message-type-list li.session1 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}
/**
 *session2 样式
 */
#msgModal .message-content .content-list .message-type-list li.session2 {
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session2 a {
  margin: 5px;
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-content .content-list .message-type-list li.session2 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}
/**
 *session3 样式
 */
#msgModal .message-type-list li.session3 {
  display:block;
}
#msgModal .message-type-list li.session3 a {
  margin: 5px;
  display:block;
}
#msgModal .message-type-list li.session3 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-type-list li.session3 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-type-list li.session3 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-type-list li.session3 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-type-list li.session3 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-type-list li.session3 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}

/**
 *session4 样式
 */
#msgModal .message-content .content-list .message-type-list li.session4 {
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session4 a {
  margin: 5px;
  display:block;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s .pic {
  height:50px;
  width:50px;
  float:left;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s .info {
  height:50px;
  line-height: 50px;
  margin-left:60px;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s .title {
  display: inline-block;
  font-size: 14px;
  color:#666;
}
#msgModal .message-content .content-list .message-type-list li.session4 a .message-s .title .unread-num{
  font-size:12px;
  display: table-cell;
  vertical-align:middle;
}

/*弹出消息列表end*/
/*提示信息颜色*/
.tooltip.green .tooltip-inner {
  background-color: #2ac25f;
}
.tooltip.green.top .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-left .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-right .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.right .tooltip-arrow {
  border-right-color: #2ac25f;
}
.tooltip.green.left .tooltip-arrow {
  border-left-color: #2ac25f;
}
.tooltip.green.bottom .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-left .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-right .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.red .tooltip-inner {
  background-color: #ee4e2f;
}
.tooltip.red.top .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-left .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-right .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.right .tooltip-arrow {
  border-right-color: #ee4e2f;
}
.tooltip.red.left .tooltip-arrow {
  border-left-color: #ee4e2f;
}
.tooltip.red.bottom .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-left .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-right .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
/*提示信息颜色end*/
/*ucard 样式*/
.qtip {
  max-width: 352px !important;
  border: 1px solid #eee!important;
}
.qtip-bootstrap .qtip-content {
  width: 346px !important;
  padding: 0 !important;
}
/**
 * 显示加载中样式
 */
.big_loading {
  text-align: center;
}
/*通用顶部导航*/
nav.navbar.bootsnav {
  margin-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background-color: #fff;
  border: none;
  z-index: 10002;
}
nav.navbar.bootsnav.navbar-fixed {
  position: fixed;
  display: block;
  width: 100%;
}
nav.navbar.bootsnav.no-background {
  background-color: transparent;
  border: none;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-right: 30px;
  }
}
nav.navbar.bootsnav .navbar-brand {
    float: left;
    padding:0;
    height:58px;
}
nav.navbar.bootsnav .navbar-brand img{
    width:auto;
    display: inline-block;
  }
@media (max-width: 992px){
  nav.navbar.bootsnav .navbar-brand {
    display: inline-block;
    line-height: 58px;
    float: none!important;
    margin: 0!important;
  }

  nav.navbar.bootsnav .navbar-brand img{
    width:120px;
    display: inline-block;
  }
}
nav.navbar.bootsnav .navbar-toggle {
    background: rgba(0,0,0,0.0)!important;
    top: 0; 
}
nav.navbar.bootsnav .navbar-toggle i {
    font-size:22px;
    color:#666;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: left;
    margin-right: -200px;
    margin-top: 15px;
  }
}
nav.bootsnav li.dropdown ul.dropdown-menu {
    border:0!important;
    border-top:5px solid #03B8CF!important;
}
@media (max-width: 992px){
  nav.bootsnav li.dropdown ul.dropdown-menu {
      border:0!important;
  }
 nav.bootsnav .navbar-collapse li.dropdown a i{
      float:right;
  }
}
@media (max-width: 992px){
  nav.navbar.bootsnav .navbar-nav {
      float: none !important;
      margin: 0px -10px;
  }
}

@media (max-width: 992px) {
  .navbar-nav > li {
     float: none;
  }
}

.navbar-toggle {
  position: relative;
  float: left;
  background-color: transparent;
  border: 0;
}
@media (min-width: 992px) {
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 56px;
    color:#666;
  }
}
nav.navbar.bootsnav .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ff9900;
  background-color: #fff;
}
nav.navbar.bootsnav .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ff9900;
  background-color: #fff;
}

@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse.collapse.in {
  display: block !important;
}
}
@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse.collapse {
  display: none !important;
}
}
@media (max-width: 992px) {
  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
    overflow-x:hidden;
  }
}
@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse {
  border: none;
  margin-bottom: 0;
}
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .attr-nav {
    right: 30px;
  }
}
@media (max-width: 992px) {
  .attr-nav {
    position: absolute;
    top:0;
    right: 15px;
  }
}
.attr-nav {
  float: right;
  display: inline-block;
  margin-left: 13px;
}
.attr-nav > ul {
  padding: 0;
  margin: 0 0 -7px 0;
  list-style: none;
  display: inline-block;
}
.attr-nav > ul > li {
  float: left;
  display: block;
}
.attr-nav > ul > li > a {
  color: #6f6f6f;
  display: block;
  padding: 0px 10px;
  position: relative;
  line-height: 58px;
}
/*通用顶部导航end*/
.modal {
  z-index:10050;
}
.modal-backdrop {
  z-index:10040;
}
/*通用footer*/
.footer-bar {
  background:#252c34;
  margin-top:20px;
  padding-top:30px;
}
.footer-bar div {
  color:#fff;
}
.footer-bar a {
  color:#999;
}
.footer-bar .power-by {
  margin-top:10px;
  padding:8px 0;
  border-top:1px solid #2E343B;
}


