<!--文章模块内容展示区-->
<div class="articles">
	<h3>{$category.title}</h3>
	<div class="row">
		{volist name="list" id="vo"}
		<div class="col-xs-3">
			<div class="articles-item">
				<a href="{:url('articles/Index/detail',['id'=>$vo.id])}" target="_blank" class="theme-item">
					<img alt="{$vo.title|text}" src="{$vo.cover|getThumbImageById=314,177}" class="theme-img  img-responsive">
					<div class="theme-title">
						{$vo.title|text}
					</div>
					<div class="theme-tips"> 
						{$vo.description|text}
					</div>
				</a>
			</div>
		</div>
		{/volist}
	</div>
</div>