<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/style.css')}" />
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/bootbox.min.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/jquery.validate.min.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/messages_zh.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/common.js')}"></script>
	<div class="tx-donation">
		<f:render section="content" />
	</div>

</html>