/*分页*/
.sabrosus { text-align:center; font-size:12px; 
/*background:#fcfcfc; background-color:#eee; border-top:1px solid #ccc; */

padding:10px;}
.sabrosus A { border:#bbb solid 1px; padding:5px; margin-right:5px;COLOR: #aaa; background-color:#fff}
.sabrosus A:hover,.sabrosus SPAN.disabled_1:hover { border:#bbb solid 1px; background-color:#fff;}
.pagination A:active { background-color:#fff }
.sabrosus SPAN { padding:5px;}
.sabrosus SPAN.current { margin-right:5px; padding:5px; color:#ff0000; border:#bbb solid 1px;background-color:#eee}
.sabrosus SPAN.disabled { padding: 5px;COLOR: #aaa; margin-right:5px;border:#bbb solid 1px;background-color:#fff}
.sabrosus SPAN.disabled_1 { padding: 5px;COLOR: #aaa; margin-right:5px;border:#bbb solid 1px; cursor:pointer;background-color:#fff}
.sabrosus .sa_txt{ width:40px; padding:2px; border:#bbb solid 1px; text-align:center; margin-right:5px;background-color:#fff }
.sabrosus .sa_btn{ width:40px; height:22px; border:#bbb solid 1px; cursor:pointer;background:url(../images/se_btn_bj.gif) repeat-x top;background-color:#fff}
.sabrosus .sa_btn:hover{ background-color:#fff}

.txt_center { text-align:center;}

.list-search dt{ float:left; margin-right:5px; display:inline;}

.w300 { width:300px;}
.w400 { width:400px;}


.container-fluid{	
	margin-left:20px;
	margin-right:20px;
}