.upfile_div { margin:0px; float:left; padding:0}
.upfile_div ul { width:100%; float:left;}
.upfile_div li{ list-style:none; float:left; margin-right:10px;}
.upfile_div p { line-height:30px;}
.upfile_div img { width:50px; border:1px solid;}
.upfile_div span{ display:block; width:50px; height:30px; line-height:30px; background-color:#ddd; text-align:center; cursor:hand;}


.field_div { margin:0px; float:left; padding:0}
.field_div ul { width:100%; float:left;}
.field_div li{ list-style:none; float:left; margin-right:10px; width:100%}
.field_div p { line-height:30px;}
.field_div img { width:50px; border:1px solid;}
.field_div span{ display:block; width:50px; height:30px; line-height:30px; background-color:#ddd; text-align:center; cursor:hand; margin-top:5px}