{:dump($list)}

%table
  %thead
    %tr
      %th 序号
      %th UID
      %th 路径
      %th 图像
      %th 创建时间
  %tbody
    %volist(name="_list" id="e")
      %tr
        %td {$e.id}
        %td {$e.uid}
        %td {$e.path}
        %td
        %td {$e.create_time|friendlydate}