body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dt, dl, input, textarea {
	font-family: Microsoft YaHei,simsun,Arial, sans-serif ;
}
body{
	background-color:#fff;
}
#dialog{
	-webkit-overflow-scrolling:touch;
	-webkit-overflow:auto;
}
input[type=checkbox].ace,input[type=radio].ace{
	height:0px;
	position: relative;
	margin-left:-20px;
}
.operate .btn,.operate .btn-group{
	margin-left:4px;margin-right:4px;
}
.input-daterange input.input-sm{
	font-size:14px;
}
.well {
	box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px 0px 
}
.form-inline{
	padding-top:3px;padding-bottom:3px;
}
.form-inline label{
	padding-right:20px;
}
.Role .level0{
	padding-left:0px;
}
.Role .level1{
	padding-left:30px;
}
.Role .level2{
	padding-left:60px;
}
.Role .level3{
	padding-left:90px;
}
select{
	height:34px;line-height:34px;
}
.btn-group > .btn-sm.btn > .icon-caret-down {
	margin-top: 0;
}
.btn-group > .btn-sm, .btn-group + .btn-sm {
	border-width: 4px;
}
#nav_head{
	cursor:pointer;padding-top:7px;font-size:18px;height:41px;border-bottom:1px solid	#e5e5e5;
}
#user_info{
	padding-top:7px;font-size:16px;height:41px;border-bottom:1px solid #e5e5e5;
}
#left_menu_icon{
	padding-top:3px;padding-right:12px;
}

.app-nav{
	margin-top:15px;margin-bottom:20px;margin-left:6px;
}
.btn-app.app-nav,
.btn-app.app-nav.no-hover:hover,
.btn-app.app-nav.disabled:hover {
  background-color: #3498db !important;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3498db), to(#3498db)) !important;
  background-image: -webkit-linear-gradient(top, #3498db, 0%, #3498db, 100%) !important;
  background-image: -moz-linear-gradient(top, #3498db 0%, #3498db 100%) !important;
  background-image: linear-gradient(to bottom, #3498db 0%, #3498db 100%) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-app.app-nav:hover {
  background: #2980b9 !important;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2980b9), to(#2980b9)) !important;
  background-image: -webkit-linear-gradient(top, #2980b9, 0%, #2980b9, 100%) !important;
  background-image: -moz-linear-gradient(top, #2980b9 0%, #2980b9 100%) !important;
  background-image: linear-gradient(to bottom, #2980b9 0%, #2980b9 100%) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-app.app-nav.active {
  background: #2980b9 !important;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2980b9), to(#2980b9)) !important;
  background-image: -webkit-linear-gradient(top, #2980b9, 0%, #2980b9, 100%) !important;
  background-image: -moz-linear-gradient(top, #2980b9 0%, #2980b9 100%) !important;
  background-image: linear-gradient(to bottom, #2980b9 0%, #2980b9 100%) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.is_del{
	text-decoration:line-through;
}
.work_log_box {
	border: 1px solid #ccc;
	margin: 0 auto;
	overflow: hidden;
}
.itemdiv .tools{
	display:block;
}
.work_log_head div {
	line-height: 32px;
	background: #E8E8E8;
	border-bottom: 1px solid #ccc;
}
.work_log_box .title {
	line-height: 32px;
	background: #E8E8E8;
	border-bottom: 1px solid #ccc;
}
.work_log_box .content {
	padding-top: 7px;
	padding-bottom: 7px;
}
.work_log_box .content_box {
	word-break: break-all;
	float: left;
	background: #FFF;
	text-align: left;
}
@media (min-width: 750px) {
	.work_log_box .content_box {
		border-right:1px solid #ccc;
	}
}
@media (max-width: 750px) {
	.work_log_box .plan_box {
		border-top: 1px solid #ccc;
	}
}

border-right:1px solid #ccc;
.plan_box {
	word-break: break-all;
	float: left;
	background: #FFF;
	text-align: left;
}
.work_log_box:after {
	content: '[DO NOT LEAVE IT IS NOT REAL]';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.work_log_box {
	display: inline-block;
}
.work_log_box {
	display: block;
}
.content_box, .plan_box {
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
}

#footer {
	background: #E8E8E8;
	width: 100%;
	float: left;
}

.post_right {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	vertical-align: top;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	word-break: break-all;
}
.post_content {
	line-height: 1.8em;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 20px;
	padding-left: 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	word-break: break-all;
}
.slider_box {
	height: 17px;
	width: 250px;
}
.slider_box .ui-slider{
	border:1px solid #ccc;
}
.ui-slider {
	float: left;
	margin-top: 5px;
	width: 140px;
	padding-top: 10px;
}
.slider_box .left {
	float: left;
	width: 22px;
}
.slider_box .right {
	padding-left: 12px;
	float: left;
	width: 22px;
}

select.form-control {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 31px;
}
.normal {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
#push {
	display: none;
}

#push_msg {
	width: 100%;
	bottom: 0px;
	position: fixed;
	z-index: 50;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#push_msg .alert {
	min-width: 300px;
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}

.popup {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	width: 700px;
}

.popup .panel {
	margin-bottom: 15px;
}

.popup .popup_tree_menu div {
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

.popup select {
	border: 1px solid #ccc;
}

.popup #addr_list, .popup #position {
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

.popup #addr_list .checkbox {
	margin-top: 2px;
}
.popup span.lbl {
	padding-right: 10px;
}
.popup #addr_list label {
	padding-left: 6px;
	font-weight: normal;
	display: block;
	height: 28px;
	margin-bottom: 0px;
}
.popup #addr_list label .lbl {
	padding-left: 6px;
}
.user-info {
	padding-top: 7px;
}

#content_iframe {
	width: 100%;
	height: 100%;
	border: 0;
	background: #fff;
}


#content_wrap {
	width: 100%;
	margin-top: 0px;
	border: 1px solid #ccc;
}

.content_iframe {
	width: 100%;
	height: 100%;
	border: 0;
	background: #fff;
}
.content_wrap {
	width: 100%;
	margin-top: 0px;
	border: 1px solid #ccc;
}

#progress_iframe {
	width: 100%;
	height: 100%;
	border: 0;
	background: #fff;
}

#progress_wrap {
	width: 100%;
	margin-top: 0px;
	border: 1px solid #ccc;
}
/*----shade-------------------------------------------------*/
.shade {
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 1999;
	position: absolute;
	top: 0;
	width: 2000px;
	height: 2000px;
	display: none;
}

ul.tree_menu {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

ul.tree_menu a {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
}

ul.tree_menu a:hover {
	background: #eee;
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
}

ul.tree_menu a.active {
	background: #ccc;
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	z-index: 2;
	background-color: #5dade2;
}
ul.tree_menu a.active i {
	color: #fff;
}

ul.tree_menu i {
	cursor: pointer;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #0099ff;
	font-family: FontAwesome;
	font-size: 16px;
	height: 20px;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 10px;
	width: 10px;
}

.tree_menu .level1 {
	margin-left: 12px;
}

.tree_menu .level2 {
	margin-left: 36px;
}

.tree_menu .level3 {
	margin-left: 52px;
}
.tree_menu .level4 {
	margin-left: 76px;
}
.inputbox {
	color: #555;
	line-height: 1;
	padding: 0;
	font-family: inherit;
	font-size: 14px;
	border-top-color: #d5d5d5;
	border-right-color: #d5d5d5;
	border-bottom-color: #d5d5d5;
	border-left-color: #d5d5d5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	box-shadow: none !important;
	transition-duration: 0.1s;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}
.inputbox:focus {
	border-top-color: #66afe9;
	border-right-color: #66afe9;
	border-bottom-color: #66afe9;
	border-left-color: #66afe9;
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}
.inputbox .wrap {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}
.inputbox.form-control {
	border: 0px;
}
.inputbox span.text {
	height: 26px;
	line-height: 26px;
	width: auto;
}
.inputbox .text input {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;
}
.inputbox .address_list span {
	padding-left: 3px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	background-color: rgb(204, 227, 244);
	margin-right: 8px;
}
.inputbox .address_list b {
	padding-left: 3px;
}
.inputbox .address_list .del {
	cursor: pointer;
	color: #aaa;
	padding-left: 3px;
	padding-right: 3px;
}
.inputbox .address_list .del:hover {
	color: #dd5a43;
	padding-left: 3px;
	padding-right: 3px;
}

.inputbox .letter {
	border: 0;
	display: inline-block;
	width: auto;
}

.autocut {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.display-none {
	display: none;
}
.page-header {
	padding-bottom: 9px;
}
.page-header h1, .page-header .dropdown {
	font-size: 24px;
	margin: 0px;
	padding-left: 8px;
	padding-bottom: 8px;
}
.page-header .dropdown-toggle {
	display: inline-block;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}
.input-date {
	width: 100px;
	display: inline-block;
}
.ul_table {
	position: relative;
	margin-bottom: 15px;
}

.ul_table ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ul_table.border-bottom ul {
	border-bottom: 1px solid #eaedf1;
}

.ul_table.border-top ul {
	border-top: 1px solid #eaedf1;
}

.ul_table li.no-data {
	border: 1px solid #eaedf1;
	border-top: 0px;
	line-height: 120px;
	text-align: center;
	font-size: 24px;
}
.ul_table li.thead {
	font-weight: bold;
	line-height: 18px;
	padding: 10px 12px;
	border: 1px solid #d6e1ea;
	border-color: #d6e1ea;
	background-color: #f1f5fa;
	position: relative
}
.ul_table .th {
	height: 100%;
	background-color: #f1f5fa;
}
.ul_table ul li.tbody {
	border: 1px solid #eaedf1;
	border-bottom-width: 0;
	padding: 10px 12px;
	line-height: 18px;
	background-color: #FFF position :relative;
}
.ul_table ul li.tbody:first-child {
	border-top-width: 0
}
.ul_table ul li.tbody:last {
	border-top-width: 1
}

.ul_table ul .tbody:hover {
	border-color: #e2eaf2;
	background-color: #f2f6f9
}
.ul_table .tbody:hover+ .tbody {
	border-top-color: #e2eaf2
}
.ul_table .tbody:hover+ .tbody.selected {
	border-top-color: #FFF
}

.ul_table .tbody.selected {
	background-color: #eff4f7;
	border-color: #FFF #e2eaf2
}

.ul_table .tbody.selected+ .tbody {
	border-top-color: #FFF
}

.ul_table .tbody.selected+ .tbody:hover+ .tbody {
	border-top-color: #FFF
}
.ul_table li.data_total {
	font-weight: bold;
	float: none;
	line-height: 32px;
	background-color: rgb(238, 245, 250);
}
.ul_table li span {
	display: block;
	float: left;
}
.ul_table li::after {
	clear: both;
}
.ul_table li:before, .ul_table li::after {
	display: table;
	content: " ";
}

.ul_table .auto {
	display: display;
	overflow: hidden;
	width: auto;
	float: none;
	min-width: 120px;
}
@media only screen and (max-width: 720px) {
	.ul_table .auto {
		margin: 0px;
		min-width: 120px;
		display: block
	}
	.ul_table .mobile-right{
		float:left!important;
	}
}
.ul_table .pagination {
	display: block;
	margin-top: 0px;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	border-top-color: #e4e9ee;
	border-right-color: #e6e6e6;
	border-bottom-color: #e6e6e6;
	border-left-color: #e6e6e6;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: rgb(241, 241, 241);
}

.pagination {
	margin-bottom: 20px;
	margin-top: 10px;
}
.pagination input {
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.1) color : #3498db;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	text-decoration: none;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.pagination input:hover {
	BORDER-RIGHT: #3498db 1px solid;
	BORDER-TOP: rgb(16, 152, 242) 1px solid;
	BORDER-LEFT: rgb(16, 152, 242) 1px solid;
	COLOR: #666;
	BORDER-BOTTOM: rgb(16, 152, 242) 1px solid
}
.pagination input.current {
	cursor: default;
	color: #fff;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-weight: bold;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	border-top-color: #3498db;
	border-right-color: #3498db;
	border-bottom-color: #3498db;
	border-left-color: #3498db;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #3498db;
}
.col-1 {
	width: 10px;
}
.col-2 {
	width: 20px;
}
.col-3 {
	width: 30px;
}
.col-4 {
	width: 40px;
}
.col-5 {
	width: 50px;
}
.col-6 {
	width: 60px;
}
.col-7 {
	width: 70px;
}
.col-8 {
	width: 80px;
}
.col-9 {
	width: 90px;
}
.col-10 {
	width: 100px;
}
.col-11 {
	width: 110px;
}
.col-12 {
	width: 120px;
}
.col-13 {
	width: 130px;
}
.col-14 {
	width: 140px;
}
.col-15 {
	width: 150px;
}
.col-16 {
	width: 160px;
}
.col-17 {
	width: 170px;
}
.col-18 {
	width: 180px;
}
.col-19 {
	width: 190px;
}
.col-20 {
	width: 200px;
}
.col-21 {
	width: 210px;
}
.col-22 {
	width: 220px;
}
.col-23 {
	width: 230px;
}
.col-24 {
	width: 240px;
}
.col-25 {
	width: 250px;
}
.col-26 {
	width: 260px;
}
.col-27 {
	width: 270px;
}
.col-28 {
	width: 280px;
}
.col-29 {
	width: 290px;
}
.col-30 {
	width: 300px;
}
.col-31 {
	width: 310px;
}
.col-32 {
	width: 320px;
}
.col-33 {
	width: 330px;
}
.col-34 {
	width: 340px;
}
.col-35 {
	width: 350px;
}
.col-36 {
	width: 360px;
}
.col-37 {
	width: 370px;
}
.col-38 {
	width: 380px;
}
.col-39 {
	width: 390px;
}
.col-40 {
	width: 400px;
}

.ace-settings-container {
	top: 0px;
}

.Home .widget-box {
	height: 200px;
	margin-bottom: 20px;
}
.Home .widget-body {
	height: 160px;
}
.Home .widget-main, .Home .tab-content {
	padding: 0;
}
.Home .widget-main, .Home .tab-content a{
	cursor:pointer;
}
.Home .ul_table {
	padding-top: 6px;
	margin-right: 8px;
}
.Home .ul_table li {
	line-height: 24px;
}
.Home .ul_table li a {
	padding-left:8px;
}

/* Contact */

.Contact .tag_list label {
	width: 100%;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 0px;
}

.Contact .dropdown-menu .apply, .Contact .dropdown-menu .cmd, .Contact .dropdown-menu .new_tag {
	margin-left: 20px;
	margin-right: 20px;
}
.Contact .dropdown-menu span.checkbox {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
}

.Contact .new_tag {
	margin-right: 40px;
	display: none;
}
.Contact .apply {
	display: none;
}

.Customer .tag_list label {
	width: 100%;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 0px;
}

.Customer .dropdown-menu .apply, .Customer .dropdown-menu .cmd, .Customer .dropdown-menu .new_tag {
	margin-left: 20px;
	margin-right: 20px;
}
.Customer .dropdown-menu span.checkbox {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
}

.Customer .new_tag {
	margin-right: 40px;
	display: none;
}
.Customer .apply {
	display: none;
}

.Supplier .tag_list label {
	width: 100%;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 0px;
}

.Supplier .dropdown-menu .apply, .Supplier .dropdown-menu .cmd, .Supplier .dropdown-menu .new_tag {
	margin-left: 20px;
	margin-right: 20px;
}
.Supplier .dropdown-menu span.checkbox {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
}

.Supplier .new_tag {
	margin-right: 40px;
	display: none;
}
.Supplier .apply {
	display: none;
}

.Staff .user_list {
	height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}
.Staff .user_info th {
	background: rgb(241, 245, 250);
}

.Forum	 div.read_info {
	position: relative;
	display: none;
}
.Forum div.read_info div.wrap {
	margin-top: -1px;
	margin-left: -1px;
	border: 1px solid #ccc;
	width: 485px;
	position: absolute;
	background: #fff;
}
.Forum div.read_info table {
	margin-top: 15px;
	margin-right: 15px;
	width: 320px;
	float: right;
	margin-bottom: 20px;
}
.Forum div.read_info table th, .Forum div.read_info table td {
	line-height: 21px;
	height: 21px;
}
.Forum div.face {
	width: 140px;
	min-height: 215px;
	margin-top: 15px;
}
.Forum	 div.face img {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: solid 1px #b9b9b9;
	margin: 0;
}




.uploader .file_list{
	border:0;	
	margin:0;
	list-style:none;
}
.uploader span.size {
	float: right;
	width: 90px;
	text-align:right;
	padding-right: 5px;
}
.uploader span.del {
	cursor:default;
	float: right;
	width: 50px;
}
.uploader .tbody {
	border:1px solid #ccc;
	padding:0;
	line-height:36px;
	height: 36px;
	margin-top:-1px;
	position: relative;	
}
.uploader .loading{	
	position: absolute;
	z-index: 2;
	height: 35px;	
	background: rgb(241, 245, 250);
	border-bottom:1px solid #ccc;
}
.uploader .data {
	position: absolute;
	padding-left:10px;
	z-index: 3;
	width: 100%;
	background: transparent;
}









#uploader #file_list{
	border:0;	
	margin:0;
	list-style:none;
}
#uploader span.size {
	float: right;
	width: 90px;
	text-align:right;
	padding-right: 5px;
}
#uploader span.del {
	cursor:default;
	float: right;
	width: 50px;
}
#uploader .tbody {
	border:1px solid #ccc;
	padding:0;
	line-height:36px;
	height: 36px;
	margin-top:-1px;
	position: relative;	
}
#uploader .loading{	
	position: absolute;
	z-index: 2;
	height: 35px;	
	background: rgb(241, 245, 250);
	border-bottom:1px solid #ccc;
}
#uploader .data {
	position: absolute;
	padding-left:10px;
	z-index: 3;
	width: 100%;
	background: transparent;
}


.Login input.form-control {
	padding-left: 12px;
}
.Login .img {
	height: 480px;
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
}
.Login .well{
	height:462px;
}
.Login span.checkbox{
	padding-left: 0px;
	margin-left:0px;
}

.Schedule table th, .Schedule table td {
	background: #fff;
}

.Schedule ul {
	list-style: none;
}
.Schedule #panel {
	width: 100px;
	text-align: center;
}

.Schedule #dialog2 {
	width: 240px;
	margin: 0;
	background: #fff;
	position: absolute;
}
.Schedule #dialog2 ol, .Schedule #dialog2 li, .Schedule #dialog2 p {
	cursor: pointer;
	line-height: 20px;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.Schedule #start_date, .Schedule #end_date {
	margin-right: 0px;
}
.Schedule #start_time, .Schedule #end_time {
	display: inline-block;
	width: 90px;
}
.Schedule .rb-n {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom: 1px solid #fff;
	white-space: nowrap;
}
.Schedule .rb-ni {
	overflow: hidden;
}
.Schedule.rb-ro-15 {
	background-repeat: repeat;
}
.Schedule .st-bg-table {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	table-layout: fixed;
}
.Schedule .st-bg {
	border-left-color: #ddd;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-color: #ddd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right: none;
	background: #fff;
	border-bottom: }

	.Schedule .st-grid
	{
	width: 100%;
	position: relative;
	table-layout: fixed;
}

.Schedule  a {
	color: #222;
}

.Schedule td.st-c {
	border-left-color: #ddd;
	border-left-width: 1px;
	border-left-style: solid;
	border-right: none;
	line-height: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom: none;
	border-top: none;
	background: none;
}

.Schedule td.st-c ul, .Schedule td.st-c li, .Schedule td.st-c p {
	cursor: pointer;
	line-height: 20px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.Schedule #dialog2 {
	width: 200px;
	margin: 0;
	background: #fff;
	position: absolute;
}
.Schedule #dialog2 ol, .Schedule #dialog2 li, .Schedule #dialog2 p {
	cursor: pointer;
	line-height: 20px;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.Schedule .event_list {
	padding-left: 0px;
	margin-left: 0px;
}
.Schedule .event_list li {
	width: 100%;
	float: left;
	padding-left: 0px;
	margin-left: 0px;
	border-bottom: 2px solid #fff;
}
.Schedule .event_list .event_time {
	padding-left: 10px;
	line-height: 32px;
	display: block;
	float: left;
	width: 100px;
}
.Schedule .event_list .event_msg {
	cursor: pointer;
	margin: 0;
	padding: 0;
	line-height: 32px;
	display: block;
	float: left;
}

.Schedule .st-dtitle {
	line-height: 14px;
	color: #222;
	overflow: hidden;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom: none;
	border-right: none;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}
.Schedule .day .st-dtitle {
	text-align: center;
	line-height: 28px;
}
.Schedule .day .st-dtitle .right {
	display: none;
}
.Schedule .st-dtitle.todayColor {
	background: #eee;
}

.Schedule .st-c .te, .Schedule  .st-c .rb-n {
	height: 16px;
	line-height: 1;
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	cursor: pointer;
	background-color: #ff99ff;
}

.Schedule .st-c-pos {
	position: relative;
}
.Schedule .mv-container {
	height: 100%;
	min-height: 617px;
	white-space: nowrap;
	position: relative;
}
.Schedule .mv-container {
	margin-right: 1px;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}
.Schedule .st-contents, .mv-container {
	line-height: 14px;
}
.Schedule .mv-daynames-table {
	width: 100%;
	color: #555;
	table-layout: fixed;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}
.Schedule .mv-dayname {
	background: #fff;
	height: 24px;
	line-height: 24px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-weight: normal;
}

.Schedule .mv-event-container {
	left: 0px;
	top: 24px;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	position: absolute;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: white;
}
.Schedule .mv-event-container {
	border-right-color: #ddd;
	border-right-width: 1px;
	border-right-style: solid;
}
.Schedule .month-row {
	left: 0px;
	width: 100%;
	overflow: hidden;
	position: absolute;
}

.Todo  a {
	color: #555;
}

.Todo #slider-range-priority {
	float: left;
	margin-top: 8px;
	width: 140px;
}

.Todo .auto {
	padding-left: 10px;
}

.Todo .status, .Todo .up, .Todo .down,.Todo .del {
	cursor: pointer;
}

.Todo li.tbody {
	border-bottom: 1px solid #fff;
}

.Todo #dialog2 ul.dropdown-menu {
	width: 100px;
	min-width: 100px;
	display: block;
	margin: 0;
	padding: 0;
}

.Todo #dialog2.dropdown {
	display: none;
	text-align: center;
	width: 100px;
	margin: 0;
	background: #fff;
	position: absolute;
}

.Todo #dialog2 li {
	line-height: 32px;
	cursor: pointer;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.Mail textarea {
	height: 250px;
}
.Mail span.auto a{
	padding-left:5px;
}

.WorkLog .sub_left_menu .well {
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.WorkLog .user_list {
	height: 250px;
}

.WorkLog textarea {
	height: 350px;
}
.Flow .dropdown-menu {
	width: 60px;
	min-width: 76px;
}
.Product .product-wrap{
	background:#eee;
	padding:4px 2px 5px;
	border:1px solid #e0e2e5;
	margin-bottom:20px;
}
.product-wrap ul{
	margin-left:0px;
}
.product-wrap li{
	list-style-type:none;
}
.p-scroll-wrap li{
	display:list-item;
	float:left;
	margin-left:5px;
}
.Product .p-img{
	height:282px;
	text-align:center;
	overflow:hidden;
	margin-bottom:10px;
}
.Product .p-img img{
	max-height:282px;
}
.Product .p-scroll-btn {
	width: 16px;
	height: 45px;
	text-indent: -9999px;
	float: left;
	display: none;
}
.Product .p-scroll-prev {
	background-position: 0px -126px;
	margin-right: 2px;
}
.Product .p-scroll-wrap {
	width: 186px;
	height: 50px;
	overflow: hidden;
	float: left;
}
.Product .p-scroll-wrap img{
	width:45px;
	height:45px;
}
.p-scroll-next {
	background-position: -17px -126px;
}
@media print {
	.navbar{
		display:none;
	}
	.main-content {
		margin: 0;
	}
	#sidebar {
		display: none;
	}
	.btn {
		border: 0;
	}
	#breadcrumbs{
		display:none;
	}
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11{float:left}.col-sm-1{width:8.33333%}.col-sm-2{width:16.6666%}.col-sm-3{width:25%}.col-sm-4{width:33.3333%}.col-sm-5{width:41.6666%}.col-sm-6{width:50%}.col-sm-7{width:58.3333%}.col-sm-8{width:66.6666%}.col-sm-9{width:75%}.col-sm-10{width:83.3333%}.col-sm-11{width:91.6666%}.col-sm-12{width:100%}
}