<div class="divider"></div>
<div class="pageContent">
	<form method="post" action="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_modify/id/#{$one.id}#" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		
		<div class="pageFormContent" layoutH="56">
			<fieldset>
			<legend>基础信息：</legend>
			<p>
				<label>客户名称：</label>
				<input id="cusID" name="org.id" value="#{$one.cusID}#" type="hidden"/>
				<input name="org.name" value="#{$customer[$one.cusID]}#" type="text" class="required"/>
				<a class="btnLook" href="#{$smarty.const.ACT}#/Supplier/lookup_search/" lookupGroup="org">选择供应商</a>	
			</p>
			
			<p>
				<label>联系人：</label>
				<input name="linkman.id" value="#{$one.linkmanID}#" type="hidden"/>
				<input class="required" value="#{$linkman[$one.linkmanID]}#" name="linkman.name" type="text" postField="keyword" suggestFields="name" 
					suggestUrl="#{$smarty.const.ACT}#/SupLinkman/cst_linkman_select/cusID/{cusID}/" warn="请选择客户名称" lookupGroup="linkman"/>
			</p>
			<p>
				<label>销售机会：</label>
				<input name="chance.id" value="#{$one.chanceID}#" type="hidden"/>
				<input class="required" value="#{$chance[$one.chanceID]}#" name="chance.title" type="text" postField="keyword" suggestFields="title" 
					suggestUrl="#{$smarty.const.ACT}#/CstChance/cst_chance_select/cusID/{cusID}/" warn="请选择客户名称" lookupGroup="chance"/>
			</p>
			</fieldset>
			<div class="divider"></div>			
			
			<fieldset>
				<legend>主题：</legend>
					<dl class="nowrap">
						<input name="title" class="required" type="text" size="50" value="#{$one.title}#" alt="请输联系主题内容"/>
					</dl>	
				<legend>交付说明：</legend>
					<dl class="nowrap">
						<textarea name="delivery_intro" cols="80" rows="5">#{$one.delivery_intro}#</textarea>
					</dl>	
				<legend>付款说明：</legend>
					<dl class="nowrap">
						<textarea name="payment_intro" cols="80" rows="5">#{$one.payment_intro}#</textarea>
					</dl>	
				<legend>运输说明：</legend>
					<dl class="nowrap">
						<textarea name="transport_intro" cols="80" rows="5">#{$one.transport_intro}#</textarea>
					</dl>	
				<legend>备注：</legend>
					<dl class="nowrap">
						<textarea name="intro" cols="80" rows="5">#{$one.intro}#</textarea>
					</dl>	
			</fieldset>				
			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
