# Backup Files
/backup/*
!/backup/index.html

# System Cache Files
/cache/*
!/cache/index.html

# Download Files
/download/*
!/download/index.html

# Log Files
/logs/*
!/logs/index.html

# Marketing Files
/marketing/*
!/marketing/index.html

# Modification Files
/modification/*
!/modification/index.html

# Session Files
/session/*
!/session/index.html

# Upload Files
/upload/*
!/upload/index.html

# Vendor Files
/vendor/*
!/vendor/index.html
