<extend name="Public:common" />

<block name="breadcrumb">
 


                        <div id="page-breadcrumb">
                            <a href="javascript:;" id="parentname" title="扩展管理">
                                <i class="glyph-icon icon-dashboard"></i>
                                扩展管理
                            </a>
                           
                            <span class="current" id="activeaname">
                                {$title}管理
                            </span>
                        </div>
                        
                        
                    

</block>

<block name="main">
<form  id="formsearch" action="{:cookie('_currentUrl_')}" method="post">
   <div class="example-code">    
       
                <present name="custom_searchbar">
				{$custom_searchbar}
			    </present> 
          
   </div>    
       <div class="divider"></div>  
</form>



<empty name="custom_adminlist">
<table class="table text-left"  id="zstable">
     	<thead>
					<tr>
						<th>
						 	序号
	                    </th>
						<volist name="listKey" id="vo">
							<th>{$vo}</th>
						</volist>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="lv" key="vo">
					<tr>
						
						<volist name="listKey" id="lk">
							<td>{$lv.$key}</td>
						</volist>
					</tr>
					</volist>
				</tbody>
    </table>
    <else />
			<present name="custom_adminlist">
				{$custom_adminlist}
			</present>
		</empty>

</block>