/*Elements Developed by Ben Henschel*/
/*Typography.css*/

body,ul,ol,dl,td,th,caption,pre,p,blockquote,input,textarea
{
    font-family:"Lucida Grande",Arial,"Lucida Sans Unicode",Verdana,sans-serif,Tahoma;
    line-height:1.6; 
    font-size:12px;
    color:#000000;
    vertical-align: baseline;
}

html{
    /* background: #63bad8; */
}
body{
   /* width: 920px;*/ 
}

table{
    text-align:left;
    background:white;
}
td{
    text-align:left;
}

ul {list-style-type:square;}
ol {list-style-type:decimal;}

h1 {font-size:34px; margin-bottom:12px; font-weight:bold; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}
h2 {font-size:26px; margin-bottom:10px; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}
h3 {font-size:18px; margin-bottom:8px; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}
h4 {font-size:16px; margin-bottom:5px; font-weight:bold; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}
h5 {font-size:14px; margin-bottom:5px; font-weight:bold; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}
h6 {font-size:14px; margin-bottom:5px; font-family: Arial, "Lucida Grande", Verdana, sans-serif;}

blockquote  { margin: 0 0 18px 18px; color: #666; font-style: italic; }
strong {font-weight: bold;}
em     {font-style:italic;}

button:hover{
        
        /* background-color:#e8f7df;
        border:1px solid #92c97c;
        color:#31940c; */
           font-weight:bold;
        color:blue; 
}

/* !! ADDED on Fri Jan 27 02:50:51 GMT 2012 */

.wideinput{size:180px; width:180px; }
.extrainput{ 
    border:1px solid;
           border-radius:25px; 
           border-color:silver; 
    display:none; 
            box-shadow:10px 10px 5px #888888;
    background:silver;
           z-index:21;
}

fieldset {
    background-color: #fff;
    width:96%;
    text-align:center;
}
fieldset legend {
    font-weight: bold;
}

.noneinput{
     /*
     border-right: #ffffff 0px solid;
     border-top: #ffffff 0px solid;
     font-size: 15px;
     border-left: #ffffff 0px solid;
     border-bottom: #c0c0c0 1px solid;
     background-color: #ffffff
     */
}

.whitelink{
    color:#fff;
}

img{
    border:0px;
    vertical-align:bottom;
	border-radius:10px;
}

hr{
    border: 1px dotted #cccccc ;
}

/* datepicker bgn */
.date-picker-wp {
    display: none;
    position: absolute;
    background: #f1f1f1;
    left: 40px;
    top: 40px;
    border-top: 4px solid #3879d9;
}
.date-picker-wp table {
    border: 1px solid #ddd;
}
.date-picker-wp td {
    background: #fafafa;
    width: 22px;
    height: 18px;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
}
.date-picker-wp td.noborder {
    border: none;
    background: none;
}
.date-picker-wp td a {
    color: #1c93c4;
    text-decoration: none;
}
/* datepicker end */

table.mainlist {
    background:#E8EEF7;
               border-color:#5f8ac5;
    border: 1px solid #5f8ac5; 
            padding-right:2px; 
            padding-left:2px;
}
table.mainlist th {

}
table.mainlist td {
    vertical-align:middle;
    border-bottom: 1px dotted green;
    /* border-right: 1px dotted green; */
          /* margin:0;
                  padding: 1px; */
}

table.printtbl{

    border:1px solid #5f8ac5;
}

table.printtbl td{
    padding:5px;
            vertical-align:middle;
            border-bottom:1px dotted green;
            border-right:1px dotted green;
			border-left:1px dotted silver;
            border-top:1px dotted silver;
            /*
            border-left:1px dotted green;
            border-top:1px dotted green;
            border-right:1px dotted green;
            border-bottom:1px dotted green;
            */
} 

.field-groupa{
    color:#008000;
    font-size:12px;
    font-weight:bold;
}

select {
	width: auto;
	max-width: 96px;
}
.selectauto{
    width: auto;
	max-width: 90%;
}
.selectsmall{
    width: 48px;
}

.field-groupred{
    color:#ff0000;
    font-size:12px;
    font-weight:bold;
}

.field-groupblue{
    color:#0000ff;
    font-size:12px;
    font-weight:bold;
}

.f17px{ font-size:15px; font-weight:bold; }

.tdiviewfixedwidth {
    word-wrap:break-word;
    white-space:normal;
    word-break:break-all;
    width:22%;
}

.tdprintfixedwidth {
    word-wrap:break-word;
    white-space:normal;
    word-break:break-all;
    width:32%;
}
