{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/shops/shops.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="wst-toolbar">
店铺名称：<input type="text" name="shopName"  placeholder='店铺名称' id="shopName" class='j-ipt'/>
是否招商推广：
<select id="isInvestment" class='ipt'>
   <option value="">-请选择-</option>
   <option value="1">是</option>
   <option value="0">否</option>
</select>
<button class="btn btn-primary" onclick='javascript:loadApplyGrid(0)'><i class='fa fa-search'></i>查询</button>
<div style='clear:both'></div>
</div>
<div id="maingrid"></div>
<script>
$(function(){initApplyGrid();})
</script>
{/block}