* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 1.7;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#weadmin {
    width: 100%;
    height: 100%;
    background-color: #F7FAFC;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.centent {
    width: 300px;
    height: 440px;
    vertical-align: middle;
    white-space: normal;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 38.2%;
    margin-left: -150px;
    margin-top: -220px;
}

.centent-header {
    text-align: center;
}

.centent-header .header-title {
    width: 160px;
    height: 74px;
    margin: 0 auto;
    background: url('/static/weadmin/images/login-logo.png') no-repeat;
    background-size: contain;
}

.centent-header .header-sub-title {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}

.slide-tab {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-tab .slide-tab-nav {
    display: inline-block;
    position: relative;
}

.slide-tab .slide-tab-nav a {
    float: left;
    width: 4em;
    line-height: 35px;
    opacity: 0.7;
    -webkit-transition: opacity .15s, color .15s;
    transition: opacity .15s, color .15s;
    color: #555;
}

.slide-tab .slide-tab-nav a:hover {
    color: #0f88eb;
    opacity: 1;
}

.slide-tab .slide-tab-nav a.active {
    opacity: 1;
    color: #0f88eb;
}

.slide-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 .8em;
    width: 2.4em;
    height: 2px;
    background: #0f88eb;
}

.form-login {
    float: none;
    margin: auto;
    text-align: left;
    width: 300px;
}

.layui-input-block {
    margin-left: 0;
}

.layui-btn {
    width: 300px;
    font-size: 15px;
    background-color: #0f88eb;
}

#password, #verify, #user {
    border-top: 1px solid #e8e8e8;
}

.imgcode {
    width: 95px;
    position: absolute;
    top: 2px;
    cursor: pointer;
    height: 35px;
}

.remember {
    margin-top: 10px;
    line-height: 30px;
}

.remember label {
    display: block;
}

/* 重写layui部分css ↓ */

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #0f88eb;
    color: #fff;
}

.layui-form-checked[lay-skin=primary] i {
    background-color: #0f88eb;
}

.layui-input:focus, .layui-textarea:focus {
    border-color: #0f88eb!important;
}

/* 重写layui部分css ↑ */

.forgot-password {
    float: right;
    font-size: 14px;
}

.forgot-password a {
    color: #555;
}

.forgot-password a:hover {
    /*text-decoration: underline;*/
    color: #0f88eb;
}

.footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #999;
    z-index: 2;
    padding-bottom: 10px;
    font-size: 13px;
}

.footer a {
    color: #666;
    text-decoration: underline;
}

/* 公共css */
.hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before {
    content: '';
    display: table;
}
