header{
    height: 58px;
}
header nav.navbar {
    border: 0px none;
    margin: 0px auto;
    height: 58px;
    
}
header nav .navbar-black{
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(57, 57, 57, 0.075);
    background: #393939 none repeat scroll 0% 0%;
}
header nav.navbar-white {
   
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.15) inset, 0px 3px 5px rgba(5, 5, 5, 0.075);
    background: #fff none repeat scroll 0% 0%;
}
header nav.navbar-white .navbar-toggle .icon-bar {
    background-color: #888;
}
header nav.navbar-white .navbar-toggle {
    border-color: #DDD;
}
header .dropdown-menu{
    background-color: #393939;
}
header .navbar-white .dropdown-menu{
    background-color: #fff;
    left: -20px;
    top:110%;
    border: 0;
   
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.176);
}
header nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color:#fff;
   
}
header .navbar-header #header_logo{
   
    left: 0px;
    bottom: 0px;
    border: 0px none;
    display: block;
    padding: 0px;
    width: 240px;
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    text-indent: -99999px;
    background-repeat: no-repeat;
   
}
header #navbar ul > li {
    margin-right: 5px;
    line-height: 58px;
    
    position: relative;
    display: block;
}
header #navbar ul.nav > li.divider-vertical {
    border-style: solid;
    border-width: 1px;
    opacity: 0.5;
    height: 58px;
    border-left: 1px solid #111415;
    border-right: 1px solid #646668;
}
header #navbar ul > li > a {
    line-height: 35px;
    height: 35px;
    padding: 0px 20px;
    margin-top: 12px;
    border-radius: 3px;
    color: #AAA;
    text-shadow: none;
}
header .navbar-white #navbar ul > li > a {
    line-height: 35px;
    height: 35px;
    padding: 0px 20px;
    margin-top: 12px;
    border-radius: 3px;
    color: #555;
    text-shadow: none;
    background: #fff;
}
header #navbar ul li >a:hover{
    color: #fff;
    background: #393939;
}
header .navbar-white #navbar ul li >a:hover{
    color: #FF5E52;
    background: #fff;
}
header #navbar ul > li.active > a {
    color: #FFF;
    background: #555 none repeat scroll 0% 0%;
    box-shadow: none;
}
header .navbar-white #navbar ul >li.active >a {
     color: #FFF;
    background: #FF5E52 none repeat scroll 0% 0%;
    box-shadow: none;
}
header .navbar-form{
    margin-top: 12px;
}

.btn-blue{
    background: #00A0DC;
   
    padding: 6px 15px;
    color: #fff;
} 
