/*common*/
.clear {clear: both;}
.fl{float: left;display:inline-block;}
.fr{float:right;display: inline-block;}
.pr{position: relative;}
a{color:#666}
.btn{border: 0;border:1px solid rgba(255,255,255,0.5);}
a:hover{color:#F85252;text-decoration: none;}
h3.normal{font-weight: normal;}
ul{
    padding: 0;
}
ul li{list-style: none;}
.avatar-img {
  border-radius: 100%;
  max-width: 100%;
}
.circle{
    border: 2px solid #AAB2BD;;
    color: #AAB2BD;;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 22px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
}
.circle-active{
    border:2px solid #f60;
    color: #f60;
}
#next{
	width: 100%;
text-align: center;
clear: both;
display: block;
height: 76px;
border-radius: 6px;
background: #FFF none repeat scroll 0% 0%;
border: 1px solid #DEDEDE;
line-height: 76px;
margin: 0px auto 30px;
}
/*header*/
header{
    height:88px;
}
header nav.navbar {
    border: 0px none;
    margin: 0px auto;
    height: 88px;
    
}
header nav .navbar-black{
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(57, 57, 57, 0.075);
    background: #393939 none repeat scroll 0% 0%;
}
header nav.navbar-white {
   
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15) inset, 0px 3px 5px rgba(57, 57, 57, 0.075);
    background: #fff none repeat scroll 0% 0%;
}
header nav.navbar-blue {
    box-shadow: 0px 3px 3px rgba(16, 168, 211, 0.3) inset, 0px 3px 5px rgba(5, 5, 5, 0.075);
    background: #00B5EC none repeat scroll 0% 0%;
}

header nav.navbar-white .navbar-toggle .icon-bar {
    background-color: #888;
}
header nav.navbar-white .navbar-toggle {
    border-color: #DDD;
}
header .dropdown-menu{
    background-image: url('../images/header_item_bg.png') ;
    border: 0;
    box-shadow: 0px 3px 5px rgba(255,255,255,0.7);
    padding:0px;
    border-radius: 4px!important;;
    overflow: hidden;
}
header .dropdown-menu li{
     background-color: rgba(0,0,0,0.5);
}
header .dropdown-menu li a{
   color: #fff;
}
header .navbar-white .dropdown-menu{
    background-color: #1E92CE;
    left: -20px;
    top:110%;
    border: 0;
   
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.176);
}
header nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color:#fff;
   
}
header .navbar-header #header_logo{
   
    left: 0px;
    bottom: 0px;
    border: 0px none;
    display: block;
    padding: 0px;
    width: 240px;
    height: 88px;
    overflow: hidden;
    line-height: 60px;
    text-indent: -99999px;
    background-repeat: no-repeat;
   
}
header #navbar .navbar-nav > li {
    margin-right: 5px;
    line-height: 58px;
    
    position: relative;
    display: block;
}
header #navbar ul.nav > li.divider-vertical {
    border-style: solid;
    border-width: 1px;
    opacity: 0.5;
    height: 58px;
    border-left: 1px solid #111415;
    border-right: 1px solid #646668;
}

header .navbar-blue #navbar ul > li > a {
    line-height: 35px;
    height: 57px;
    padding: 0px 20px;
    margin-top: 0px;
    border-radius: 3px;
    color: #fff;
    text-shadow: none;
    padding-top: 12px;
   
}
header #navbar ul li >a:hover{
    color: #fff;
    background: #32D1AC;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}
header .navbar-white #navbar ul li >a:hover{
    color: #04C0F4;
    background: #fff;
   
}
header #navbar .navbar-nav >li >a{
    margin-top: 10px;
    color:#fff;
    border:1px solid rgba(255,255,255,0);
}
header #navbar ul > li.active > a {
    color: #FFF;   
    border-radius: 4px;
    padding: 9px 16px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}
header #navbar .navbar-nav .open>a{
    background: none;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
}
header .navbar-white #navbar ul >li.active >a {
     color: #FFF;
    background: #FF5E52 none repeat scroll 0% 0%;
    box-shadow: none;
}
header .navbar-form{
    margin-top: 12px;
}
header #navbar .navbar-nav .dropdown-menu li a{
    width: 250px;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0);
    margin: 0
}
header #navbar .navbar-nav .dropdown-menu li a:hover,header #navbar .navbar-nav .dropdown-menu li a:active,header #navbar .navbar-nav .dropdown-menu li a:focus,header #navbar .navbar-nav .dropdown-menu li a:visited,header #navbar .navbar-nav .dropdown-menu li.active
a{
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0
}
.nav .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.breadcrumb{
    margin: 0;
}
.breadcrumb .active{
    color: #666;
}
/*footer*/
.footer .row{
    text-align: center;
}
.side_right {
    right:  1%;
    bottom: 50px;
  
    height: 90px;
    position: fixed;
    z-index: 102;
    border-radius: 4px;
    opacity: 0.6;
}
.side_right>div{
    background-color: #B9B9B9;
    border-bottom: 1px solid #fff;
}
.side_right>div a{
    padding: 15px 15px 5px 15px;
    display: inline-block;
}
.side_right >div .glyphicon{
    font-size: 26px;
    font-weight: normal;
}
.side_right .cart-number{
    position: absolute;
    left:-5px;
    top: -5px;
}

/*分享*/
.bdsharebuttonbox{
    margin-top: 20px;
    display: block;
    zoom:1;
    float: left;
    width: 100%;
}
.post-info {
    padding-top: 10px; 
}
.ke-shares span {
    height: 34px;
    line-height: 34px;
    float: left;
    padding: 5px 15px;
    font-size: 18px;
}
.share-icon {
    background-image: url('../images/share.png') !important;
    width: 34px!important;
    height: 34px !important;
    float: left;
    margin: 6px 6px 6px 0;
}
.share-icon-weixin {
    background-position: -131px -428px;
}
.share-icon-qzone {
    background-position: -131px -465px;
}
.share-icon-tsina {
    background-position: -131px -539px;
}
.share-icon-sqq {
    background-position: -131px -502px;
}
/*tags*/
.label-box{
    float:left;
}
/*分类导航*/
.category-box{
    margin-top: 10px;
	border-radius: 6px;
	border: 1px solid #E0E0E0;
	background-color: #fff;

}
.category-box .category-item a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0px 15px;
	
	color: #666;
}

.category-box .title{
    line-height: 35px;
    padding-left: 10px;
}
/*商品分类页*/
.recommend-goods{
    float: left;
}
.goods-list ul,.recommend-goods ul{
    padding-left:0px;
    padding-right:0px;
}
.goods-list li{  
    float:left;  
    overflow: hidden;
    border-radius: 8px;
    position:relative;
    width: 33.3%; 
    margin: 0;
    padding: 5px;
    background: #fff;
}
.recommend-goods{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.recommend-goods li{
    padding: 3px;
    width: 20%;
    border-radius: 0;
    background-color: #E6E6CE;
    border: 0;
    float: left;
}
.recommend-goods li .item{
    background: #fff;
}
.recommend-goods li .item .goods-pic{
    height: 229px;
    overflow: hidden;
}
.recommend-goods .item .title,.recommend-goods .item .goods-price{
    padding: 3px 10px;
    margin: 0;
}
.recommend-goods .item .goods-price .price-current{
    color: #FF3366;
}

.goods-list li.hover .my-like {
    display: block;
}
.goods-list li.hover1 .my-like {
    display: block;
}
.goods-list li .goods-price {
    width:100%;
    height:48px;
    line-height:40px;
    position: relative;
    padding:0 10px 0px 5px;   
    z-index:10;
}
.goods-list li .goods-price .price-current {
    font-size:26px;
    color: #FF3366;
}
.my-like {
    display: none;
    width:26px;
    height:26px;
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius:15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index:15;
}
.my-like i, .my-like .like-big, .unliked span {
    background: url(../images/my-like.png) no-repeat;
    _background: url(../images/my-like.gif) no-repeat
}
.my-like i {
    background-position: -26px 0;
    width:14px;
    height:11px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.my-like .like-ico {
    background-position: 0 0;
    margin-top: -5px;
    margin-left:-7px;
}
.my-like .del-ico {
    background-position: -26px 0;
    width: 14px;
    height: 15px;
    margin-top: -7px;
    margin-left:-7px;
}
.del-ico:hover {
    background-position: -26px 0;
}
.my-like:hover .like-ico {
    background-position:0 -72px;
}
.my-like:hover .like-ico.l-active {
    background-position:0 -89px;
}
.my-like .l-active {
    background-position:0 -20px;
}
.my-like .like-big {
    margin-top: -40px;
    margin-left: -8px;
    width: 45px;
    height: 37px;
    background-position:-55px 0;
}
/*商品详情*/
.goods-header{
    background: #fff;
}
.goods-img,.goods-info{
    width: 50%;
    padding: 5px 10px;
}
.goods-info .goods-price .now-price{
    font-size: 20px;
    font-weight: bold;
    color: #F69;
}
.goods-info .goods-price .now-price i{
    font-size: 36px;
    font-style: normal;
}
.goods-info .goods-price .market-price{
    margin-right: 10px;
    font-size: 12px;
    color: #999;
}
.goods-info .other-info{
    margin: 12px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6 transparent;
    overflow: hidden;
}
.goods-info .other-info li{
    display: inline-block;
    width: 156px;
    height: 33px;
    line-height: 33px;
    margin: 5px 0px;
    text-align: center;
}
.goods-info .other-info li.like{
    cursor: pointer;
}
.goods-info .other-info li.like i{
    margin-left: 5px;
    color: #F69;
}
.goods-info .other-info li .other-data{
    margin-left: 10px;
    color: #F69;
}
.goods-body-part{
    /* background: #fff; */
    width: 100%;
}
.goods-body-part .con{
	background-color:#fff;
}
.goods-body-part .con img{
    max-width: 100%;
    display: block;
    height: auto;
}
/*热销商品*/
.hot-goods{
    background-color: #f9f9f9;
    padding:5px;
}
.hot-goods .item{
    padding: 5px;
}

/*文章列表*/
.info-item {
    float: left;
    height: 17px;
    margin-right: 25px;
}
.icon-comment,.icon-eye-open,.icon-heart-empty,.icon-heart,.icon-share{color:#F85252}
/*user*/
.user-center{
    padding-top: 20px;
}
.user-avatar {
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
    
}
.user-nick{
    text-align: center;
}
.login-main { width: 980px; margin: 20px auto 0px; }
.login-content .title { width: 978px; padding: 20px 50px; border-bottom: 1px solid rgb(226, 226, 226); overflow: hidden; }
.login-content .title span.hd { color: rgb(255, 51, 102); font-size: 16px; font-family: "微软雅黑","宋体"; margin-right: 10px; background: url('../images/hd-bg.gif') no-repeat scroll right center transparent; padding-right: 20px; float: left; }
.login-content .title span.tips { color: rgb(102, 102, 102); float: left; margin-top: 3px; }
.login-main .other { float: right; font-size: 14px; color: rgb(153, 153, 153); }
.login-main .other a { color: rgb(2, 137, 205); }
.login-center .content-landing { width: 278px; padding-top: 60px;}
.login-l-img { margin:0; overflow: hidden; width: 600px ! important; text-align: right; }

.login-content { width: 978px; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; border: 1px solid rgb(226, 226, 226); padding-bottom: 50px; }
.login-center { padding: 30px 30px 0px 30px; width: 978px; height: auto; overflow: hidden; }
.third-login {
    border-top: 1px dotted #ccc;
    padding-top: 20px;
}
/*地址*/
 .user-center .user-district select{
	display: inline-block;
	width:20%;
}
.goods-list li .goods-price .price-current{
	font-size: 16px;
}
/*忘记密码*/

.forget-pwd {
    
    line-height: 25px;
    margin-right: auto; margin-left: auto;
    padding-bottom:20px;
    margin-top:20px;
    text-align: center;
    width: 1210px;
}
.forget-pwd h5{font-size:25px;margin-top:60px;}
.stepflex {
  border-top: 5px solid #ccc;
  text-align: center;
  width: 640px;
  margin: 30px auto 50px;
}
.forget-pwd .text {
    border: 1px solid #cccccc;
    font-family: arial,"宋体";
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 4px 20px 4px 3px;
    width: 282px;
}
.stepflex dl {
    border-top: 5px solid #ccc;
    float: left;
    position: relative;
    top: -5px;
    width: 160px;
}
dl.doing {
    border-top-color: #7abd54;
}
.doing .s-num {
    background-position: -23px 0;
}
.s-num {
    background-image: url("../images/step2013.png");
    color: #fff;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: -15px auto 0;
    position: relative;
    width: 23px;
}
.doing .s-text {
    color: #7abd54;
}
b, strong {
    font-weight: bold;
}
.forgettbl2 th{
   text-align:right;
}
.forgettbl2 td{
   text-align:left;
}
.btn-red{
   background:#E23C3D;margin: 5px 0 0 8px;text-decoration: none;border: 0 none;color:#ffffff;font-weight:bold; cursor:pointer;padding: 8px 25px;
}
.email-verify{display:none;}
/*PointsMall*/
}
.pointsmall-goods-list li .item {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}
.pointsmall-goods-list li .goods-pic {
    width: 95%;
    margin: auto;
    position: relative;
    overflow-y: hidden;
}
.pointsmall-goods-list li .item h5 {
    width: 95%;
    padding: 0px;
}
.pointsmall-goods-list li .item h5 a{
    display:block;
   
    line-height: 22px;
    text-overflow:ellipsis;
}
.pointsmall-goods-list li .goods-price .price-current em {
    font-size: 14px;
    vertical-align: 1px;
    margin-left: 1px;
}
.pointsmall-goods-list .price-info p{
	line-height: 40px;
	display: block;
	height: 100px;
}
.pointsmall-goods-list li{
	width:32%;
  float: left;
}
.pointsmall-goods-list li .item h5 {
    width: 95%;
    padding: 0;
}
.pointsmall-goods-list li .goods-price {
    width:100%;
    height:48px;
    line-height:40px;
    position: relative;
    padding:0 10px 0px 5px;   
    z-index:10;
}
.pointsmall-goods-list li .goods-price .price-current {
    font-size:18px;
    color: #FF3366;
}
/*文章列表*/
.article-list >ul{
	padding-left: 0px;
	padding-right: 0px;
}
.article-list >ul>li{
	float: left;
	width: 390px;
    margin-right: 10px;
	height: 300px;
	position: relative;
	background: #fff;
    margin-bottom: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
.article-list ul li .cover{
	height: 300px;	
}
.article-list ul li .cover img{
	height: 300px;	
}
.article-list ul li .title{
    font-size: 16px;
    padding: 70px 15px 0 15px;;
    color: #333;
    line-height: 25px;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 98%, rgba(0, 0, 0, 0.9) 100%);
    bottom: 0;
    color: #fff;
    height: 100px;
}
.article-list ul li .disc{
    font-size: 14px;
    color: #fff;
    height: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    line-height: 22px;
    overflow: hidden;
    display: block;
    position: absolute;
    top:35px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.1) 80%,rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.0) 100%);
  
}
.article-list ul li .view-info{
  	position: absolute;
	  top: 0px;
    height: 35px;
    background-color: rgba(239,16,99,0.5);
    width: 100%;
}
.article-list ul li span.view{
	padding: 5px;
	height: 30px;
	line-height:30px;
	margin-left: 15px;
}
/*文章*/
.main-title{
	border-bottom: 1px dashed #888;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom: 20px;
}
.article-title{
	color: #2F323B;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 26px;
	line-height: 40px;
}
#contents{
	word-wrap: break-word;
	font-size: 18px;
	color: #333;
	line-height: 31px;
}

#contents p{
	margin: 10px 5px;
}
.main-content img{
	border-radius: 6px;
}
#contents .goods-extend .goods-title{
	color: #F96E57;
}
.content_tag,.content_tag:link,.content_tag:hover{
	color: #00A0DC;
}
#contents .goods-extend div{
	border-left: 3px solid #F84E4E;
	padding-left: 5px;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
}
#contents .goods-extend .price{
	color: #F84E4E;
	
}
#contents .goods-extend .btn-circle{
	color: #F84E4E;
	border:1px solid #F84E4E;
	display: inline-block;
	border-radius: 15px;
	margin-left: 50px;
}
.article-right ul li{
	padding: 5px;
}
.article-right ul li a:hover{
	color: #f60;
}
.article .list .cover{
	height: 100%;
	
 }
.article .list .item{
	padding-left: 0;
	padding-right: 20px;
	height: 200px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	overflow: hidden;
}
.article .list .item .title{
	font-weight: bold;
	margin-top: 20px;
}
.article .list .item a:hover{
	background-color: #F72C55
}

.article .list .item .info{
	padding-left: 15px;
}
.article .list .item .info .disc{
	color:#888
}
.article .list .item .read{
	float: right;
	background-color: #25B6C6;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 5px;
}
.comments-box{
    position: relative;
    padding: 20px;
    margin: 0px 0px 15px;
    border: 1px solid #DDD;
    outline: 0px none;
    transition: all 0.3s ease 0s;
    float: left;
    width: 100%;
}
/*专题*/

.topic-box{
	
	padding: 0 15px 15px;
}
.topic-box .item {
	position: relative;
	margin-top:30px;
}
.topic-box .item .info{
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	text-align: center;
	color: #fff;
	display: none;
}
.topic-box .discription{
	font-size: 16px;
	padding: 15px 15px;
}
.hot-topic >li{
	margin-top: 15px;
	padding: 0 0 5px 0;
}
.hot-topic >li h5{
	color: #FF5E52;
	padding:0 8px;
}
.hot-topic .active{
	box-shadow: 0px 1px 4px #aaaaaa;
}
.jumbotron{
	margin: 0;
	padding: 0 !important;;
}
.topic-goods-list{
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-top: 20px;
	margin-top: 10px;
}
.topic-goods-list ul li{
	width: 32%;
	background: #FFF none repeat scroll 0% 0%;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #FFF;
	padding: 1%;
	margin-right: 1%;
	overflow: hidden;
}
.topic-goods-listul .item{
	position: relative;
}

.topic-goods-list ul .item .goods-price .price-current{
	border: 1px solid #FE0000;
	color: #FE0000;
	padding: 5px;
	font-size: 16px;
}
.topic-goods-list ul li .item .title{
	font-size: 18px;
	line-height: 22px;
	padding: 5px 8px;
}
.topic-goods-list ul li .item .title a:hover{
	color:#C61414;
}
.topic-goods-list ul li .item .title a:link{
	color: #000;
}
.topic-goods-listul li .item .goods-price{
	padding-left: 5px;
	margin-top: 20px;
}
.topic-goods-list ul li .item .goods-price .des-other{
	font-size: 12px;
	margin-left: 10px;
}
.topic-goods-list ul li .item .goods-price .des-other .discount{
	display: none;
}
/*商家报名*/
.pagination div{
    background: #e8ae49;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#artlist dl dt{float:right;width:710px;}
#artlist dl dt span{color:#aaa;margin-right:20px;}
#artlist dl dt p{margin-bottom:5px;font-size: 14px;}
#artlist dl dd img{width:100px;height:100px;}
#artlist .btn{margin-left:10px;width:100px;}
#baoming dl{margin:20px;}
#baoming dd input{width:775px;}
#baoming dd textarea{width:785px;height:300px;}

#baoming dd select{width:790px;height:34px;}
.article-box #baoming dl dt{font-size: 17px;color:#aaa;margin-bottom:10px;font-weight:100;}
.pagination div{
    background: #e8ae49;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#artlist dl dt{float:right;width:700px;}
#artlist dl dt span{color:#aaa;margin-right:20px;}
#artlist dl dt p{margin-bottom:5px;font-size: 14px;line-height:22px;}
#artlist dl dd img{width:100px;height:100px;}
#intro img{width:870px;height:150px;margin-bottom:20px;}
#artlist .btn{margin-left:10px;width:100px;}
.list-boxes {
    overflow: hidden;
    padding: 15px 20px;
    margin-bottom: 25px;
    background: #FFF none repeat scroll 0% 0%;
    transition: all 0.3s ease-in-out 0s;
    border-top: 2px solid #FFF;
}  