.goods-list li{
	width: 33.3%;
	border: 0;
	margin: 0;
	padding: 5px;

	border-radius: 0;
	background: #fff;
}
.goods-list li:hover{
	border: 0;
	border-radius: 0;
}
.goods-list li .item{
	position: relative;
	padding: 0;
	
}
.goods-list li .item .goods-price{
	position: absolute;
	bottom: 0px;
	height: 60px;
	padding-top: 15px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%,rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.3) 30%,rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 98%, rgba(0, 0, 0, 0.9) 100%); 
}
.goods-list li .item .goods-price .price-current{
	font-size: 26px;
	color: #fff;
	
}
.goods-list li .item .title{
	display:block ;
	height: 0px;
	overflow: hidden;
	position: absolute;
	top:0px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 26px;
	background: #FF8C31;
	z-index: 999;
	width: 100%;
	margin: 0;
}
.goods-list li .item .title a{
	color: #fff;
}
.goods-list li.hover .title{
	display: block;
	color: #fff;
}
.goods-list li.hover .title a{
	color: #fff;
}