<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{block name="title"}{/block}</title>
    <!-- <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/default/easyui.css"> -->
    <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__EASYUI__/themes/mobile.css">

    <script type="text/javascript" src="__EASYUI__/jquery.min.js"></script>
    <script type="text/javascript" src="__EASYUI__/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__EASYUI__/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" src="__EASYUI__/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="__STATIC__/js/page.js"></script>
    <script src="__STATIC__/js/tool.js"></script>

    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
</head>
<body>
{block name="content"}
content
{/block}
</body>
<script>
    wx.config({
        beta: true,
        debug: false,
        appId: "{$jsapi['appId']}",
        timestamp: "{$jsapi['timestamp']}",
        nonceStr: "{$jsapi['nonceStr']}",
        signature: "{$jsapi['signature']}",
        jsApiList: [
            'checkJsApi',
            'onMenuShareAppMessage',
            'onMenuShareWechat',
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'closeWindow',
            'scanQRCode',
            'previewFile',
            'openEnterpriseChat',
            'selectEnterpriseContact',
            'onHistoryBack'
        ]
    });
</script>
</html>