<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{block name="title"}title{/block}</title>
    <link rel="stylesheet" href="__STATIC__/vendor/weui/css/weui.css"/>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.min.css"/>
    <link rel="stylesheet" href="__STATIC__/vendor/weui/css/example.css"/>
    <script src="__STATIC__/vendor/weui/js/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
    <script src="__STATIC__/vendor/vue/vue.js"></script>
    <script src="__STATIC__/js/tool.js"></script>
</head>
<body>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container"></div>
{block name="content"}
    content
{/block}
</body>
<script>
    wx.config({
        beta: true,
        debug: false,
        appId: "{$jsapi['appId']}",
        timestamp: "{$jsapi['timestamp']}",
        nonceStr: "{$jsapi['nonceStr']}",
        signature: "{$jsapi['signature']}",
        jsApiList: [
            'checkJsApi',
            'onMenuShareAppMessage',
            'onMenuShareWechat',
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'closeWindow',
            'scanQRCode',
            'previewFile',
            'openEnterpriseChat',
            'selectEnterpriseContact',
            'onHistoryBack'
        ]
    });
</script>
<script src="__STATIC__/vendor/weui/js/example.js"></script>

</html>
