/*mdwiki样式自定义*/
#md-main-navbar {margin: 0 auto; }
#md-all .md-copyright-footer {text-align: center;}

@media (min-width: 768px) {
	#md-main-navbar {max-width: 750px; }
}

@media (min-width: 992px) {
	#md-main-navbar {max-width: 970px; }
}

@media (min-width: 1200px) {
	#md-main-navbar {max-width: 1170px; }
}
