body{
    background-color: #fff;
}
.bag-tool { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 3px rgb(217, 217, 217); display: none; padding: 10px 20px; position: absolute; right: 0px; top: 36px; width: 293px; z-index: 11; }
.bag-tool #loadingimg { background: url('../images/loading.gif') no-repeat scroll 0% 0% transparent; height: 30px; width: 30px; margin: 0px auto; }
.bag-tool.bag-tool-empty { width: 158px; padding-bottom: 5px; }
.main { width: 980px; margin: 0px auto; }
.normal-side-box { position: absolute; top: 22px; right: 48px; width: 180px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(248, 40, 92); text-align: center; color: rgb(102, 102, 102); display: none; }
.normal-side-box .cur-img { display: block; background: url('../images/cur-side.gif') no-repeat scroll 0% 0% transparent; height: 15px; width: 8px; position: absolute; top: 77px; right: -8px; }
.normal-side-box p { margin: 10px; line-height: 24px; }
.normal-side-box p a { color: rgb(51, 153, 204); }
.normal-side-box p b { color: rgb(255, 56, 56); }
.normal-side-box p.other { background: none repeat scroll 0% 0% rgb(249, 249, 249); margin: 0px; padding: 10px 0px; }
.app-side-box { top: -22px; width: 164px; text-align: center; }
.app-side-box .app-show { background: url('../images/jp-app-128.png') no-repeat scroll 0% 0% transparent; height: 128px; width: 128px; margin: 17px auto 0px; }
.app-side-box .app-txt { font-size: 14px; color: rgb(248, 40, 92); }
.tag-side-box { top: auto; bottom: 110px; width: 333px; text-align: left; min-height: 100px; }
.tag-side-box.empty { width: 198px; top: -3px; bottom: auto; min-height: 0px; }
.tag-side-box.empty .cur-img { bottom: auto; top: 2px; }
.tag-side-box .bag-tool { display: block; position: static; box-shadow: none; }
.tag-side-box .cur-img { top: auto; bottom: 65px; right: -15px; height: 40px; width: 15px; background-position: 0px 12px; }
.side_right .trigger { background: url('../images/btn_side.png') no-repeat scroll 0% 0% transparent; display: block; height: 40px; width: 40px; margin: 0px 0px 4px; color: rgb(255, 255, 255); text-align: center; position: relative; }
.side_right .trigger:hover { color: rgb(255, 255, 255); }
.side_right .trigger .icon { display: block; background: url('../images/icon-right.gif') no-repeat scroll 0% 0% transparent; height: 40px; width: 40px; }
.side_right .trigger .icon-01 { background-position: 10px -36px; }
.side_right .trigger .icon-02 { background-position: 10px -80px; }
.side_right .trigger .icon-03 { background-position: 10px -122px; }
.side_right .trigger .icon-05 { background-position: 10px 6px; }
.side_right .trigger .icon-06 { background-position: 10px -162px; }
.side_right .trigger .icon-07 { background-position: 10px -208px; }
.side_right .trigger p { display: none; padding-top: 3px; line-height: 16px; }
.side_right .trigger:hover { background-position: right top; text-decoration: none; }
.side_right .trigger:hover p { display: block; }
.side_right .trigger:hover span { display: none; }
.side_right .trigger.tag em.num { width: auto; height: 12px; line-height: 12px; padding: 0px 4px; display: block; position: absolute; top: 5px; right: -2px; background: none repeat scroll 0% 0% rgb(248, 40, 92); color: rgb(246, 246, 246); text-align: center; border-radius: 15px; font-family: "宋体"; }
.side_right .trigger.tag em.time { position: absolute; top: -55px; left: 0px; width: 36px; height: 66px; line-height: 36px; color: rgb(255, 255, 255); font-family: "arial"; background: url('../images/tag-time.png') no-repeat scroll 0% 0% transparent; font-size: 12px; }
.tag_remind { position: fixed; bottom: 10px; left: 50%; margin-left: 385px; border: 1px solid rgb(248, 40, 92); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 20px 0px; width: 214px; height: 86px; z-index: 100; text-align: center; }
.tag_remind .tips { color: rgb(51, 51, 51); font-weight: bold; font-size: 14px; }
.tag_remind .txt { color: rgb(153, 153, 153); margin: 10px 0px; }
.tag_remind .btn_all a { color: rgb(255, 255, 255); width: 78px; height: 24px; line-height: 24px; border: 1px solid rgb(220, 1, 56); background: none repeat scroll 0% 0% rgb(255, 45, 94); display: inline-block; text-align: center; border-radius: 3px; }
.tag_remind .btn_all a:hover { background: none repeat scroll 0% 0% rgb(255, 81, 125); text-decoration: none; }
.tag_remind .del { display: block; position: absolute; top: 5px; right: 5px; font-size: 16px; color: rgb(204, 204, 204); width: 10px; height: 10px; line-height: 10px; }
.tag_remind .del:hover { color: rgb(255, 45, 94); text-decoration: none; }
.con-box-n { padding-top: 25px; margin: 0px auto; }
.con-left-info { padding-left: 65px; width: auto; overflow: hidden; }
.con-left-info dl { float: left; display: inline; width: 150px; }
.con-left-info dt { font-size: 14px; color: rgb(51, 51, 51); font-weight: bold; margin-bottom: 10px; padding-left: 7px; }
.con-left-info dd { margin-bottom: 5px; color: rgb(102, 102, 102); }
.con-left-info dl a { color: rgb(102, 102, 102); }
.con-left-info dl .revEmail { padding-left: 10px; line-height: 28px; }
.con-left-info dd i { width: 4px; height: 4px; overflow: hidden; border-radius: 50%; background: none repeat scroll 0% 0% rgb(198, 198, 198); display: inline-block; margin-right: 5px; float: left; margin-top: 8px; }
.con-left-info .help-info { width: 100px; }
.con-menu { margin-top: 35px; }
.con-menu a { display: block; width: 86px; height: 35px; background: url('../images/service_add.gif') no-repeat scroll 0% 0% transparent; }
.con-menu .service-add { background-position: 0px -5px; }
.con-menu .service-add:hover { background-position: 0px -52px; }
.con-menu .service-time { padding-left: 10px; width: 65px; }
.con-menu .service-time p { color: rgb(145, 145, 145); line-height: 18px; }
.foot-con .ft-company { text-align: center; padding-top: 20px; color: rgb(198, 198, 198); }
.foot-con .app-side-box { width: 90px; }
.foot-con .app-side-box .app-show { background: url('../images/jp-app-90.png') no-repeat scroll 0% 0% transparent; height: 90px; width: 90px; margin-top: 5px; }
.foot-con .app-side-box .app-txt { font-size: 12px; margin: 10px 0px; }
.con-left-info .school { position: relative; }
.con-left-info .school em { position: absolute; left: 63px; top: 3px; display: block; width: 14px; height: 14px; background: url('../images/school-ico.png') no-repeat scroll 0% 0% transparent; }

.alert_bg { position: absolute; top: 400px; left: -1000000px; padding: 6px; height: auto; overflow: hidden; background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.1) ! important; z-index: 100009; }
.alert_bg .alert_box { border: 1px solid rgb(147, 147, 147); height: auto; overflow: hidden; }
.alert_bg .alert_box .alert_top { height: 36px; width: 480px; background: none repeat scroll 0% 0% rgb(240, 241, 242); text-indent: 15px; font-size: 14px; color: rgb(76, 141, 68); line-height: 36px; font-weight: bold; position: relative; }
.alert_bg .alert_box .alert_top span { float: left; color: rgb(121, 125, 132); }
.alert_bg .alert_box .alert_top a, .alert_bg .alert_box .close { height: 24px; width: 24px; background: url('../images/total_alert.gif') no-repeat scroll -173px -722px transparent; display: block; float: right; margin-top: 6px; margin-right: 6px; }
.alert_bg .alert_box .alert_top a:hover, .alert_bg .alert_box a.close:hover { background-position: -202px -722px; }
.alert_content { background-color: rgb(255, 255, 255); font-size: 12px; width: 480px; height: auto; overflow: hidden; }
.alert_content .smt { background: url('../images/btn_total.gif') no-repeat scroll 0% 0% transparent; width: 104px; height: 30px; line-height: 30px; text-align: center; font-weight: bold; float: left; display: inline; border: medium none; color: rgb(255, 255, 255); cursor: pointer; }
#alert_confirm .alert_content ul li::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }

#alert_report .alert_box { border: 1px solid rgb(230, 230, 230); }
#alert_report .alert_top { width: 525px; }
#alert_report .alert_content { font-size: 12px; line-height: 35px; padding: 20px; width: 485px; }
#alert_report .alert_content .text { border: 1px solid rgb(204, 204, 204); clear: both; color: rgb(102, 102, 102); font-size: 12px; height: 16px; line-height: 16px; margin-top: 0px; padding: 4px; width: 120px; }
#alert_report .selectClass { width: 300px; color: rgb(153, 153, 153); padding: 4px; }
#alert_report .alert_content .smt { background: url('../images/alert_total.gif') no-repeat scroll 0px -30px transparent; border: medium none; color: rgb(255, 255, 255); cursor: pointer; float: left; font-size: 14px; font-weight: bold; margin: 15px 0px 5px 160px; width: 140px; }
#alert_report .bottom { text-align: center; background-color: rgb(247, 247, 247); height: 25px; font-size: 12px; color: rgb(255, 0, 0); padding-top: 10px; margin-top: -15px; width: 525px; clear: both; }
.my-like { display: none; width: 26px; height: 26px; border: 1px solid rgb(244, 244, 244); background: none repeat scroll 0% 0% rgb(244, 244, 244); border-radius: 15px; position: absolute; top: 10px; right: 10px; cursor: pointer; z-index: 15; }
.place-show { width: auto; height: auto; overflow: hidden; margin: 0px 0px 10px; }
.place-show .place-explain { padding-top: 20px; }
.place-show .place-explain a { margin: 0px 5px; }
.place-show .place-explain a:hover { color: rgb(94, 94, 94); text-decoration: underline; }
.hot_goods h3 { margin-bottom: 30px; position: relative; }
.hot_goods h3 .line { border-bottom: 1px solid rgb(255, 255, 255); margin: 0px auto; border-top: 1px solid rgb(42, 20, 43); height: 0px; overflow: hidden; }
.hot_goods h3 .line-txt { position: absolute; top: -12px; left: 50%; margin-left: -65px; width: 130px; height: 30px; line-height: 30px; text-align: center; background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(42, 20, 43); font-size: 18px; font-family: "微软雅黑"; }
.xiaobao { padding: 30px 38px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 2px 2px medium; border-style: solid solid none; border-color: rgb(246, 246, 246) rgb(246, 246, 246) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.xiaobao a { width: 71px; height: 94px; position: absolute; text-indent: -999999px; top: -1px; }
.xiaobao .xb_icon { position: relative; height: 94px; background: url('../images/xiaobao.gif') no-repeat scroll 0% 0% transparent; }
.xiaobao .xb_s { height: 94px; }
.xiaobao .xb_s1 { left: 0px; }
.xiaobao .xb_s2 { left: 111px; }
.xiaobao .xb_s3 { left: 222px; }
.xiaobao .xb_s4 { left: 332px; }
.xiaobao .xb_s5 { left: 442px; }
.xiaobao .xb_s6 { left: 665px; }
.xiaobao .xb_s7 { left: 553px; }
.xiaobao .xb_s1:hover, .xiaobao .xb_s2:hover, .xiaobao .xb_s3:hover, .xiaobao .xb_s4:hover, .xiaobao .xb_s5:hover, .xiaobao .xb_s6:hover, .xiaobao .xb_s7:hover { background: url('../images/item.gif') no-repeat scroll 0% 0% transparent; }
.xiaobao .xb_s1:hover { background-position: 0px -76px; }
.xiaobao .xb_s2:hover { background-position: 0px -227px; }
.xiaobao .xb_s3:hover { background-position: 0px -325px; }
.xiaobao .xb_s4:hover { background-position: -87px -76px; }
.xiaobao .xb_s5:hover { background-position: -88px -222px; }
.xiaobao .xb_s6:hover { background-position: -89px -320px; }
.xiaobao .xb_s7:hover { background-position: -169px -76px; }
.xb_js { padding: 25px 30px; background: none repeat scroll 0% 0% rgb(246, 246, 246); position: relative; }
.xb_js .steup { width: 628px; height: 137px; margin: 0px auto; display: none; }
.xb_js .steup_01 { background: url('../images/steup1.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_02 { background: url('../images/steup2.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_03 { background: url('../images/steup3.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_04 { background: url('../images/steup4.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_05 { background: url('../images/steup5.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_06 { background: url('../images/steup6.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .steup_07 { background: url('../images/steup7.gif') no-repeat scroll 0% 0% transparent; }
.xb_js .jiao { position: absolute; right: 0px; bottom: 0px; background: url('../images/jiao.gif') no-repeat scroll 0% 0% transparent; width: 21px; height: 21px; }

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('../images/icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }

.show_box { width: 980px; }
.show_body { padding: 20px; width: 940px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.show_body .show_img { width: 310px; height: 310px; position: relative; }
.show_body .show_img a { display: block; }
.show_body .show_img span { position: absolute; top: 10px; left: 10px; background: url('../images/zijian.png') no-repeat scroll 0% 0% transparent; width: 29px; height: 36px; text-indent: -9999px; }
.show_body .price-info { margin: 0px 0px 0px 20px; width: 480px; }
.show_body .price-info h3 { font-family: "微软雅黑"; color: rgb(51, 51, 51); }
.show_body .price-info .title { font-size: 18px; font-weight: normal; margin-bottom: 20px; }
.show_body .price-info .body_price { margin-top: -5px; height: 65px;}
.show_body .price-info .price_f { height: 65px; }
.show_body .price-info .price_f.buy { color: rgb(255, 51, 102); }
.price-info .old_price .buy_time em { color: rgb(255, 51, 102); }
.price-info .body_price .price-ico { font-size: 16px; font-family: "微软雅黑"; }
.price-info .body_price .price { font-size: 50px; font-family: "Arial"; }
.price-info .old_price { font-size: 14px; font-family: "宋体"; color: rgb(187, 187, 187); margin-bottom: 35px; }
.price-info .old_price .price { text-decoration: line-through; font-family: "Arial"; font-size: 16px; }
.price-info .old_price .buy_time { padding-left: 10px; font-size: 12px; }
.price-info .old_price .buy_time em { font-family: "Arial"; padding: 0px 3px; }
.price-info .btn { height: 50px; padding-bottom: 28px; border-bottom: 1px dotted rgb(226, 226, 226); margin-bottom: 25px;background: none;}
.price-info .btn a { display: block; font-size: 16px; font-family: "宋体"; text-decoration: none; }
.price-info .btn .go_btn { border-radius: 5px; line-height: 60px; color: rgb(255, 255, 255); text-align: center; width: 150px; height: 60px; margin-right: 20px; }
.price-info .btn .buy { background: none repeat scroll 0% 0% rgb(255, 51, 102); }
.price-info .btn .buy:hover { background: none repeat scroll 0% 0% rgb(255, 81, 125); }
.btn:active, .btn.active{background: none;box-shadow: none;}
.price-info .btn .my-like { padding: 0px 14px; height: 48px; border: 1px solid rgb(226, 226, 226); border-radius: 50px; background: none repeat scroll 0% 0% rgb(249, 249, 249); line-height: 48px; color: rgb(103, 103, 103); position: static; width: auto; }
.price-info .btn .my-like:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.price-info .btn .my-like .icon { background: url('../images/item.gif') no-repeat scroll right 0px transparent; width: 28px; height: 28px; float: left; margin: 10px 10px 0px 0px; display: inline; }
.price-info .btn .my-like:hover, .price-info .btn .my-like.active { color: rgb(255, 51, 102); }
.price-info .btn .my-like:hover .icon, .price-info .btn .my-like.active .icon { background: url('../images/item.gif') no-repeat scroll right -28px transparent; }
.price-info .other_info { height: 25px; }
.price-info .other_info a { height: 25px; float: left; padding: 0px 15px; text-align: center; line-height: 25px; font-family: "宋体"; border-radius: 20px; text-decoration: none; margin-right: 10px; display: inline; }
.price-info .keyword { width: 260px; overflow: hidden; height: 25px; }
.price-info .other_info .report { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0px; }
.price-info .share_box .l-num { font-size: 14px; font-family: "Arial"; }
.price-info .share_box .l-num:hover em { background-position: right -60px; }
.price-info .share_box em { background: url('../images/item.gif') no-repeat scroll 0% 0% transparent; display: inline-block; margin-right: 5px; vertical-align: -1px; }
.price-info .share_box .nl-num-icon { width: 14px; height: 11px; background-position: -269px -60px; }
.price-info .share_box .share-icon { width: 10px; height: 10px; background-position: right -76px; }
.price-info .share_box .report-icon { width: 15px; height: 14px; background-position: right -89px; vertical-align: -3px; }
.price-info .share_people { padding: 4px 6px 9px 9px; background: none repeat scroll 0% 0% rgb(249, 249, 249); position: absolute; top: -105px; left: 10px; width: 240px; border: 1px solid rgb(241, 241, 241); border-radius: 10px; max-height: 80px; }
.price-info .share_people ul { width: 240px; height: 80px; overflow: hidden; }
.price-info .share_people ul li { float: left; }
.price-info .share_people ul li a img:hover { opacity: 0.8; }
.price-info .share_people a { padding: 0px; width: 35px; height: 35px; margin: 5px 5px 0px 0px; border: medium none; }
.price-info .share_people .user_cur { width: 12px; height: 7px; background: url('../images/user_cur.gif') no-repeat scroll 0% 0% transparent; position: absolute; left: 45px; bottom: -7px; }
.price-info .other_info .share { display: block; height: 26px; left: 118px; padding: 5px; position: absolute; top: -45px; width: auto; }
.price-info .other_info .share a { border-radius: 0px; height: 16px; width: 16px; }
.price-info .other_info .share .user_cur { left: 30px; }
.quality { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 20px; height: 71px; width: 940px; }
.quality_bg { background: url('../images/zijian.gif') no-repeat scroll 0% 0% transparent; width: 859px; height: 71px; }

.bady-part .bady-tab {  z-index: 9999; }
.bady-part .bady_bg { background: none repeat scroll 0% 0% rgb(241, 241, 241); }
.bady-part .bady-tab ul li { float: left; }
.bady-part .bady-tab ul li a { padding: 0px 40px; font-size: 14px; color: rgb(102, 102, 102); line-height: 48px; text-decoration: none; background: none repeat scroll 0% 0% rgb(241, 241, 241); display: block; border-top: 2px solid rgb(241, 241, 241); }
.bady-part .bady-tab ul li a:hover { color: rgb(255, 51, 102); }
.bady-part .bady-tab ul li a.active { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 2px solid rgb(255, 51, 102); color: rgb(255, 51, 102); font-weight: 700; }
.gobuy .price { color: rgb(153, 153, 153); height: 50px; line-height: 50px; margin-right: 10px; }
.gobuy .price em { font-family: "微软雅黑"; font-size: 14px; }
.gobuy .price .jd-current { font-size: 32px; font-family: Arial; vertical-align: -2px; }
.gobuy .btn { width: 160px; height: 50px; line-height: 50px; text-align: center; display: block; color: rgb(255, 255, 255); font-size: 16px; background: url('../images/item.gif') no-repeat scroll 0% 0% transparent; font-weight: bold; text-decoration: none; font-family: "宋体";padding: 0; }
.gobuy .btn:hover { text-decoration: none; }
.gobuy.buy .btn { background-position: 0px -452px; }
.gobuy.buy .btn:hover { background-position: 0px -513px; color: rgb(255, 255, 255); }
.gobuy.buy .price em, .gobuy.buy .price .jd-current { color: rgb(255, 51, 102); }
.information, .size_info { background: none repeat scroll 0% 0% rgb(255, 255, 255);}
.size_info a { border-radius: 20px; height: 30px; line-height: 28px; width: 100px; color: rgb(51, 51, 51); text-align: center; float: left; background: none repeat scroll 0% 0% rgb(246, 246, 246); text-decoration: none; display: inline; margin-right: 30px; }
.size_info a:hover, .size_info a.active { color: rgb(255, 51, 102); font-weight: 700; }
.bady_info { margin-bottom: 35px; }
.bady_info h3 { position: relative; margin-bottom: 30px; }
.bady_info h3 .line, .hot_goods h3 .line { border-bottom: 1px solid rgb(255, 255, 255); margin: 0px auto; border-top: 1px solid rgb(42, 20, 43); height: 0px; overflow: hidden; }
.bady_info h3 .line-txt { width: 125px; font-size: 18px; font-family: "微软雅黑"; color: rgb(42, 20, 43); position: absolute; left: 50%; top: -9px; margin-left: -76px; text-align: center; background: url('../images/info_bg.gif') no-repeat scroll 0% 0% transparent; height: 18px; line-height: 18px; font-weight: normal; }
.bady_info .info_s1 { width: 815px; margin: 0px auto; color: rgb(102, 102, 102); }
.bady_info .info_s2 ul li { display: inline; float: left; width: 250px; height: 18px; overflow: hidden; margin: 0px 15px 10px 0px; line-height: 18px; vertical-align: top; white-space: nowrap; text-overflow: ellipsis; color: rgb(102, 102, 102); }
.bady_info .info_s1 img { display: inherit ! important; margin: 0px auto; }
.information .com_box, .information .xiaobao, .information .xb_js { margin: 0px 20px; }
.hot_box { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 243px; padding: 20px; display: none; }
.hot_goods h3 { margin-bottom: 25px; position: relative; }
.hot_goods h3 .line-txt { position: absolute; top: 50%; left: 50%; margin-top: -11px; margin-left: -57px; width: 115px; height: 18px; text-align: center; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(42, 20, 43); font-size: 14px; font-family: "微软雅黑"; }
.hot_goods ul {padding-left: 0;}
.hot_goods ul li { position: relative; margin-bottom: 20px; width: 100%; }
.hot_goods ul li a { color: rgb(102, 102, 102); display: block; width: 243px; }
.hot_goods ul li a:hover { text-decoration: none; }
.hot_goods ul li .hot_price { position: absolute; top: 204px; right: 6px; padding: 0px 15px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 20px; opacity: 0.8; }
.hot_goods ul li .hot_price .hot_yang { font-size: 14px; font-family: "微软雅黑"; }
.hot_goods ul li .hot_price .hot_num { font-family: "Arial"; color: rgb(102, 102, 102); line-height: 30px; font-size: 20px; }
.hot_goods ul li img { border: 1px solid rgb(226, 226, 226); }
.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('../images/icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.mb20 {
    margin-bottom: 20px !important;
}
.sticky #bady-tab{position:fixed; _position:relative; top:0; border-bottom: solid 1px #D8D8D8; box-shadow: 0 2px 2px rgba(0,0,0,0.2); z-index:999;}
@media (min-width: 1240px) {
    .main .show_box, .main .bady-part, .main .bady-part .bady-tab { width: 895px; }
    .main .show_body, .main .quality { width: 855px; }
    .main .hot_box { display: block; }
    #toolbar .bar-con .topNav li a { padding: 0px 25px; }
    .header .protection { right: 290px; }
    .header .area { width: 1200px; }
    .header .mainNav .nav { width: 1200px; }
    #toolbar .bar-con { width: 1200px; }
    .main { width: 1200px; }
    .foot-con { width: 1100px; }
    .con-left-info dl { width: 200px; }
    .con-left-info .help-info { width: 100px; }
    body { min-width: 1240px; }
    }