html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; }

address, cite, dfn, em, var, i { font-style: normal; }
ul, ol, dl, li { list-style: outside none none; }
fieldset, img { border: 0px none; }
button, input, select, textarea { font-size: 100%; }
a { color: rgb(94, 94, 94); text-decoration: none; }
a:hover {  text-decoration: underline; }
:focus { outline: 0px none; }
body { background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(102, 102, 102); height: 100%; min-width: 1000px; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
input:-moz-placeholder { color: rgb(153, 153, 153); }
input::-moz-placeholder { color: rgb(153, 153, 153); }
textarea::-moz-placeholder { color: rgb(153, 153, 153); }
.clearfix::after { clear: both; display: block; height: 0px; overflow: hidden; visibility: hidden; width: 0px; }
.clear::after, .clear::before { content: ""; display: table; }
.clear::after { clear: both; overflow: hidden; }
.header { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.header .area { position: relative; height: 85px; margin: 0px auto; }
.header .logo, .header .search .smt, .header .protection, .new-users ul li i { display: block;}
.header .logo, .header .search, .header .protection { position: absolute; }
.header .logo { top: 17px; left: 0px; width: 160px; height: 52px; background-position: -78px -52px; }
.header .logo .juan-logo { height: 0px; overflow: hidden; padding-top: 46px; width: 88px; }
.header .protection { background-position: 0px 0px; height: 33px; width: 465px; top: 28px; right: 270px; }
.header .protection a { display: block; float: left; height: 16px; width: 98px; margin: 0px 0px 0px 34px; }
.header .protection a.lowest { margin-left: 75px; width: 85px; }
.header .protection a.check { margin-left: 75px; width: 85px; }
.header-login { border-bottom: 4px solid rgb(42, 20, 43); }
.header-login .area { height: 76px; }
.header-login .logo { top: 15px; }
.header-login .protection { right: 10px; top: 24px; }
.main { width: 980px; margin: 0px auto; }
#alert_confirm .alert_content ul li::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
body { background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.login-main { width: 980px; margin: 20px auto 0px; }
.login-main .other { float: right; font-size: 14px; color: rgb(153, 153, 153); }
.login-main .other a { color: rgb(2, 137, 205); }
.login-content { width: 978px; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; border: 1px solid rgb(226, 226, 226); padding-bottom: 50px; }
.login-content .title { width: 878px; padding: 20px 50px; border-bottom: 1px solid rgb(226, 226, 226); overflow: hidden; }
.login-content .title span.hd { color: rgb(255, 51, 102); font-size: 16px; font-family: "微软雅黑","宋体"; margin-right: 10px; background: url('../images/hd-bg.gif') no-repeat scroll right center transparent; padding-right: 20px; float: left; }
.login-content .title span.tips { color: rgb(102, 102, 102); float: left; margin-top: 3px; }
.login-l-img { margin: 20px 0px 0px; overflow: hidden; width: 368px ! important; text-align: right; }
.login-center { padding: 30px 30px 0px 30px; width: 900px; height: auto; overflow: hidden; }
.login-center .content-landing { width: 390px; }
.login-center .content-landing ul { clear: both; }
.login-center .content-landing li { padding-bottom: 25px; overflow: visible; height: auto; position: relative; clear: both; }
.login-center .content-landing li::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.login-center .content-landing li label.normal { width: 80px; text-align: right; float: left; display: inline; height: 20px; margin-top: 8px; font-size: 14px; }
.login-center .content-landing li.active .normal-input { border: 1px solid rgb(255, 51, 102); }
.login-center .content-landing li .msg_error { width: 330px; overflow: hidden; position: absolute; top: 42px; left: 90px; color: rgb(255, 56, 56); }
.login-center .content-landing li .error-box { margin-left: 10px; width: 16px; height: 16px; margin-top: 10px; color: rgb(102, 102, 102); float: left; overflow: hidden; }
.login-center .content-landing li strong { width: 16px; height: 16px; background: url('../images/login.gif') no-repeat scroll 0% 0% transparent; display: inline-block; margin-right: 3px; }
.login-center .content-landing li .error { background-position: 0px -19px; }
.login-center .content-landing li input { border: medium none; }
.login-center .content-landing li .normal-input { color: rgb(102, 102, 102); padding: 12px 0px 12px 10px; border: 1px solid rgb(198, 198, 198);  line-height: 14px; width: 250px; float: left; }
.login-center .content-landing li .code-input { width: 130px; }
.login-center .content-landing li .verification-code { width: 110px; float: left; margin-left: 10px; height: 40px; }
.login-center .content-landing li .phone-verify { display: block; background: url('../images/phone-verify.gif') no-repeat scroll 0% 0% transparent; width: 100px; height: 27px; margin-top: 8px; text-align: center; line-height: 26px; color: rgb(83, 83, 83); cursor: pointer; }
.login-center .content-landing li .chex { width: 280px; float: left; }
.login-center .content-landing li .chex span { color: rgb(94, 94, 94); float: left; }
.login-center .content-landing .chex-d { padding-bottom: 8px; }
.login-center .content-landing li .chex .ck { vertical-align: -2px; margin-right: 5px; }
.login-center .content-landing li .chex .forget { float: right; color: rgb(153, 153, 153); }
.login-center .content-landing li .btn { float: left; width: 260px; }
.login-center .content-landing li .btn .sub { width: 260px; height: 40px; cursor: pointer; font-size: 16px; background: url('../images/new-login.gif') no-repeat scroll 0% 0% transparent; }
.login-center .content-landing li .btn .smt-o { background-position: 0px 0px; color: rgb(255, 255, 255); }
.login-center .content-landing li .btn .smt-o:hover { background-position: 0px -45px; }
.login-center .third-login { text-align: left; }
.login-center .third-login .union-login { float: left; width: 260px; }
.login-center .third-login .union-login .union-title { height: 16px; line-height: 16px; position: relative; }
.login-center .third-login .union-login .union-title span { color: rgb(51, 51, 51); }
.login-center .third-login .union-login .union-title .line { width: 140px; height: 1px; overflow: hidden; position: absolute; top: 10px; right: 0px; background: none repeat scroll 0% 0% rgb(226, 226, 226); }
.login-center .third-login .third-box { margin-top: 10px; }
.login-center .third-box a { float: left; width: 24px; height: 24px; background: url('../images/new-login.gif') no-repeat scroll 0% 0% transparent; margin-right: 10px; display: inline; }
.login-center .third-box .weixin { background-position: -210px -194px; }
.login-center .third-box .weixin:hover { background-position: -236px -194px; }
.login-center .third-box .taobao { background-position: 0px -140px; }
.login-center .third-box .sina { background-position: 0px -169px; }
.login-center .third-box .qq { width: 72px; height: 24px; background-position: right -166px; }
.login-center .third-box .taobao:hover { background-position: -27px -140px; }
.login-center .third-box .sina:hover { background-position: -27px -169px; }
.login-center .third-box .qq:hover { background-position: right -140px; }
.login-center .third-box .more { color: rgb(153, 153, 153); font-size: 12px; background: none repeat scroll 0% 0% transparent; line-height: 24px; float: none; }
.user-center {margin-top: 20px;}
.user-center .tab-content{margin-top: 20px;}
.foot-tips { text-align: center; margin: 40px auto; width: 900px; }
