#main-container {
  margin-top:0;
}
.container {
  position:static;
}
.about-header {
  position:relative;
  display:table;
  width:100%;
  height: 400px;
  overflow:hidden;
}
@media (max-width: 768px){
  .about-header {
    height: 180px;
  }
}
.about-header .title {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color:#fff;
  background:rgba(0,0,0,0.5);
}
.about-header .title h2 {
  font-size:36px;
  color: #fefefe;
  text-shadow: 0 1px 1px #575757;
}
@media (max-width: 768px){
  .about-header .title h2 {
    color:#fff;
    font-size:24px;
  }
}
.about-header .cover {
  position:absolute;
  width:100%;
  top:0;
  height:400px;
  overflow:hidden;
  z-index: -1;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
@media (max-width: 768px){
  .about-header .cover {
    height:180px;
    width:100%;
    text-align: center;
  }
}
.about-header .cover img {
  width:100%;
  text-align: center;
  vertical-align: middle;
}
.about-nav-box {
  position:relative;
  width:688px;
  bottom:120px;
  margin:10px auto;
}
.nav-justified-cum>li {
  display:table-cell;
  width:1%;
}
.nav-justified-cum>li {
  float:none;
}
.nav-justified-cum>li>a {
  display:block;
  margin-bottom:0;
  border:1px solid #fff;
  background:rgba(0,0,0,0);
  margin:0 3px;
  padding:1.5em;
  color:#fff;
  box-shadow:0 7px 20px rgba(0,0,0,0.1);
}
@media (min-width:768px) {
  .nav-justified.nav-primary>li>a {
    border-left:1px solid #fff;
  }
}
.nav-justified-cum>li.active>a {
  background:#f90;
  border-color:#f90;
}
.nav-justified-cum>li>a span {
  display:block;
  color:#fff;
}
.nav-justified-cum>li>a:focus,.nav-justified-cum>li>a:hover {
  background-color:#f90;
  border:1px solid #f90;
  color:#fff;
}

.nav-justified-cum>li:first-child>a {
  margin-left:10px;
}

@media (max-width:768px) {

  .about-nav-box {
    position:fixed;
    width:100%;
    margin:0;
    left:0;
    bottom:0;
    z-index: 999;
  }
  .nav-justified-cum>li>a {
    padding:10px 0 5px 0;
    color:#000;
    background:#fff;
    margin:0;
    text-align:center;
  }
  .nav-justified-cum>li.active>a {
    background:#f90;
    border-color:#f90;
    color:#fff;
  }
  .nav-justified-cum>li.active>a span{
    color:#fff;
  }
  .nav-justified-cum>li:first-child>a {
    margin-left:0;
  }
  .nav-justified-cum>li>a span {
    display:block;
    color:#000;
  }
}

.btn-primary {
    background: #03B8CF;
    color: #fff;
    border: 2px solid #03B8CF;
}
.btn.btn-lg {
    padding: 18px 36px;
}
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}
@media (max-width: 768px){
  .btn{
    display:block;
  }
  .btn.btn-lg{
    padding:8px 15px;
  }
}

.category {
  text-align: center;
}
.category span{
  display:inline-block;
  text-align: center;
  font-size:24px;
  margin:10px;
}
@media (max-width:768px){
  .category span{
    display:block;
  }
}
.category-box {
  display:table;
  width:100%;
}
.category-topic {
  display:table-cell;
  background:#03b8cf;
  width:100%;
  height:300px;
  vertical-align: middle;
  text-align:center;
  color:#fff;
}
@media (max-width:768px) {
  .category-topic {
    height:200px;
  }
}
.common_block_border {
  margin-top:20px;
  font-size:1.4em;
  line-height: 1.8em;
  color:#666;
}
.common_block_border a {
  color:#145CCD;
}

.common_block_border .feedback {
  text-align:center;
  margin:15px auto;
}
.common_block_border .feedback img{
  cursor:pointer;
}
.feedback-modal p{
  font-size:1.2em;
  color:#666;
}
@media (max-width:768px){
  .common_content_box .col-md-6 {
    padding:0;
  }
}


/*分类列表 category*/
.list-box {
  position:relative;
  margin-bottom:15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
  animation-fill-mode: none;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.list-box a.pic {
  display:block;
  width:550px;
  height:250px;
  overflow:hidden;
}
.list-box a.pic img {
  width:100%;
  height:;
}
@media (max-width:1200px){
  .list-box a.pic {
    width:450px;
    height:204px;
    overflow:hidden;
  }
}
@media (max-width:992px) {
  .list-box a.pic {
    width:100%;
    height:auto;
  }
}
.list-box .info {
  padding:30px;
  padding-top:10px;
}
.list-box a {
  color:#333;
}
.list-box .info p {

}
.list-box .info p.time {
  color:#000;
  font-size:12px;
}
