[server]
;本机ip地址和端口
this_ip = 192.169.0.169
this_port = 80
;本机域名前缀
domain_this = epii.loc
;domain_other=other.jt
;web项目路径，此路径下每一个文件夹会当做一个应用，如果某一个项目不想放在此目录下，可以再app_dir中单独设置

;www_dir 为网站根目录，默认为web目录，如果设置请设置绝对路径
;www_dir = /Users/mrren/Documents/phpworkspace/EpiiWeb/web

;;default_app = web1
;本程序以php为脚本安装和启动服务，指定php命令地址，一般为php.exe的文件路径
php_cmd=php

[nginx]
;nginx 文件地址; linux or unix 请指定nginx文件地址即可
cmd = /usr/local/Cellar/nginx/1.15.0/bin/nginx
nginx_config_file = /usr/local/etc/nginx/nginx.conf
[php]
;window下 php-cgi.exe 的路径，linux 下 php-fpm 路径
php_cgi[0] = /usr/local/Cellar/php\@7.1/7.1.19/sbin/php-fpm
;如果使用php-cgi，设置的端口将被启用。如果是php-fpm 请确保此端口和php-fpm.conf中一致（php-fpm.conf 需手动修改，多个php版本一定要设置不同的端口）
port[0] = 9000 //如果是unix则使用   socket[0] = "unix:/var/run/php-fpm.sock"
php_cgi[1] = php-fpm
socket[1] = "unix:/var/run/php-fpm.sock"
[app_dir]
;如果你的应用不在www_dir下，请指定项目路径（必须为绝对路径）
;app1 = /Users/mrren/Documents/phpworkspace/jianguan
epiiadmin=/Users/mrren/Documents/phpworkspace/WsAdmin
ziyuan=/Users/mrren/Documents/webstrom_workspace/ziyuan/epiiadmin-js

[app_php_select]
;默认所有的php版本自动为php_cgi[0] 的版本，如果有特殊需求请在这里设置
epiiadmin = 1

[php_env]
epiiadmin[db_hostname] = zhengxin

[domain_app]
ziyuan.loc=ziyuan
ziyuan1.loc=ziyuan