# for developer
.idea
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php

# for Composer Pacakge
vendor

#for laravel 
bootstrap/compiled.php

#for bower
public/packages/bower

#for npm 
node_modules

#for head_image
public/image/header
#for route-note image
public/image/routeNote/

#for fonts
public/fonts/

#for grunt built
public/route-app-ng.min.js
public/css/app.min.css
