
.cart-main {
    .fix-btn-group{
        position: fixed;
        left: 0;bottom: 4.5rem;
        z-index: 50;
        width: 100%;
        color: white;

        .group-left{
            width: 65%;
            float: left;
            padding: 1.2rem;
            background: rgba(0,0,0,.8);
        }

        .group-right{
            width: 35%;
            float: right;
            text-align: center;
            padding: 1.2rem 0;
        }
    }

    .cart-thead {
        display: inline-block;
        display: block;
        line-height: 32px;
        margin: 0 0 10px;
        padding: 5px 0;
        background: #fff;
        border: 1px solid #e9e9e9;
        border-top: 0;

        .column {
            float: left;
        }

        .t-checkbox {
            width: 60px;
            height: 32px;
            padding: 0 20px;
            padding-left: 11px;
            cursor:pointer;
        }

        .t-goods {
            width: 408px;
            height: 32px;
            padding: 0 20px;
        }

        .t-props {
            width: 140px;
            height: 32px;
            padding: 0 20px;
        }

        .t-price {
            width: 120px;
            padding-right: 40px;
            text-align: right;
            height: 32px;
            padding: 0 20px;
        }

        .t-quantity {
            width: 150px;
            text-align: center;
            height: 32px;
            padding: 0 20px;
        }

        .t-sum {
            width: 120px;
            padding-right: 40px;
            text-align: right;
            height: 32px;
            padding: 0 20px;
        }

        .t-action {
            width: 75px;
            height: 32px;
            padding: 0 20px;
        }
    }

    .cart-tbody {

        .good-section {
            border:1px solid #eee;
            border-top:3px solid #eee;
            margin-bottom:10px;
            padding: 15px 0 10px;
            background:#fff;

            .good-left-check {
                position:relative;
                float:left;
                width:60px;
                height: 100px;
                text-align:center;

                .circle-checkbox{
                    position:absolute;
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    left:50%;
                    top:50%;
                    margin-left:-11px;
                    margin-top:-11px;
                }

                .circle-checkbox>img{
                    margin: 0;
                    vertical-align: middle;
                    width: 0.8rem;
                }

                .empty-cart-p{
                    text-align: center;
                    padding: 4rem 0 2rem;
                }
            }

            .good-info {
                margin-left:60px;

                a {

                    &:hover {
                        color:#f60;
                    }
                }

                .good-section-pic {
                    float:left;
                    width:100px;
                    height:100px;

                    img{
                        border:1px solid #eee;
                    }
                }

                .good-section-title {
                    float: left;
                    width: 308px;
                    padding: 0 20px;
                }

                .good-section-option {
                    float: left;
                    width: 140px;
                    height:100px;
                    padding: 0 20px;
                }

                .good-section-tprice {
                    float: left;
                    width: 120px;
                    padding: 0 20px;
                }

                .good-section-quantity {
                    float: left;
                    width: 150px;
                    padding: 0 20px;
                }

                .good-section-tsum {
                    float: left;
                    width: 120px;
                    padding: 0 20px;
                }

                .good-section-action {
                    float: left;
                    width: 75px;
                    padding: 0 20px;
                }

                .good-section-action .del-good{
                    cursor:pointer;
                }
            }
        }
        .good-section:last-child{
            border-bottom: thin solid #e2e2e2 ;
        }
    }
}



/*active*/
.cart-main .good-section:not(.checked-section) .circle-checkbox.active-bg{
    border: thin solid #eee;
    background: #eee;
}
.cart-main .good-section.checked-section .circle-checkbox.active-bg{
    border: thin solid #ff6600;
    background: #ff6600;
}

/*去结算盒子*/
.buy-confirm-box {
    border:1px solid #eee;

    .editing-cart {
        float:left;
        line-height: 50px;
        padding:0 20px;
    }
    .total-price {
        float:right;
        line-height: 50px;
        padding:0 20px;
        color:#f60;
        font-size:16px;
    }
    .buyImmediately {
        float:right;
        background:#f60;
        color:#fff;
        padding:0 20px;
        height:50px;
        text-align:center;
        line-height: 50px;
        font-size:18px;
        cursor:pointer;
    }
    .buyImmediately .normal-text {
        font-size:14px;
    }
}
