/**MUUSHOP**/
/**通用字体颜色**/
$fontSize: 14px;
$fontMainColor:#ff6600;
$fontTitleColor:#333333;
$fontHoverColor:#ff6600;


/**通用背景色**/
$blockBackgroundColor:#ffffff;
$blockBackgroundHoverColor:#ff6600;

@import "public";
@import "recommend";
@import "cats";
@import "list";
@import "product";
@import "count-box";
@import "repertory";
@import "cart";
@import "makeorder";
@import "coupon";
@import "user";
@import "search";
@import "comment";
