body{color:#333; font-size:12px;font-family:"微软雅黑";background:#2e363f;padding:0;margin:0;}
a{ color:#666666; text-decoration:none;}
a:hover{ text-decoration:none;} 

/*整体框架*/
.top{padding-left:170px;height:37px;background:url(../../img/admin/adminlogo.gif) no-repeat 10px 9px;}
.top .timebox{float:right;color:#fff;height:37px;line-height:37px;padding-right:10px;}

#warp{margin:150px auto 0 auto;width:300px;border-top:1px solid #3f4954;border-bottom:1px solid #3f4954;}
#login{margin:0 auto;width:240px;padding:30px}
#right{margin:0 auto;width:240px;text-align:left;}
#right p{height:55px;width:240px;}
.input1{padding:10px;width:237px;border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;padding-left:45px;font-family:"微软雅黑";font-size:18px}
.username{background:#fff url(../../img/admin/login.gif) no-repeat 0 -3px;}
.password{background:#fff url(../../img/admin/login.gif) no-repeat 0 -60px;}

/*按钮*/
.btn{border-radius:2px 2px 2px 2px;color:#FFFFFF;display:inline-block;font-family:"微软雅黑";font-size:18px;height:45px;line-height:26px;width:237px;padding:0 12px;text-align:center}
.btn{background-color:#49afcd;}
.btn:hover{color:#FFFFFF;}
input.btn,button.btn{border:none;cursor:pointer}