@import url(base.css);
@charset "utf-8";
/*全站链接样式*/
body{color:#333; font-size:12px;font-family:"微软雅黑";background:#eeeeee url(../../img/admin/left.jpg) repeat-y;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
.blank{ height:10px;}


/*整体框架*/
.top{height:45px;position:relative;background:#1f262d;}
.top .topbox{height:45px;padding-left:160px;background:url(../../img/admin/adminlogo.gif) no-repeat 20px 8px;}
.top .topbox .topmenu{float:left;}
.top .topbox .topmenu li{float:left;padding:0 25px;height:35px;line-height:35px;overflow:hidden;text-align:center;font-size:14px;font-weight:bold;color:#ccc;background:url(../../img/admin/topmenuline.gif) no-repeat right 0;cursor:pointer;}
.top .topbox .topmenu li.here{background:#333;color:#fff;}
.quickmenu ul{border-left:1px solid #333;}
.quickmenu li{float:left;border-right:1px solid #333;}
.quickmenu li a{display:block;color:#ccc;height:45px;line-height:45px;padding:0 20px;}
.quickmenu li a:hover{background:#666;color:#ccc;}


/*主体*/
.mainw{padding:0;}
.main .mainleft{float:left;width:160px;}
.main .mainright{margin-left:160px;_float:right;_margin-left:0;background:#e9e9e9}

/*左侧菜单*/
.sidebar h3{background:url(../../img/admin/sidebar_h3.jpg) no-repeat;height:35px;line-height:35px;font-size:14px;color:#d1d1d1;font-weight:bold;padding:0 30px;border-top:1px solid #37414b;border-bottom:1px solid #1f262d;cursor:pointer;}
.sidebar .selected{background:url(../../img/admin/sidebar_h3_selected.jpg) no-repeat;color:#fff;}
.sidebar ul{background:#1f262d;}
.sidebar li{color:#d1d1d1;}
.sidebar li a{display:block;color:#d1d1d1;padding:0 30px;height:30px;line-height:30px;border-bottom:1px solid #333}
.sidebar li a.selected,.sidebar li a:hover{background:#333;color:#fff;}

/*通用*/
.hide{display:none;}