@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-12-08 15:07:18
// @modified         2017-12-11 15:17:20
//

body.account-login, body.account-register {
  .login-bg-wrapper {
    max-height: 252px;
    margin: -15px 0 -20px;
    display: table;
    width: 100%;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    label.col-sm-2.control-label {
      display: none;
    }

    .col-sm-10 {
      width: 100%;
    }

    @media (min-width: 992px) {
      min-height: 600px;
    }

    .title-link {
      margin-bottom: 30px;
      > a {
        font-size: 18px;
        transition: color .3s ease;
        display: inline-block;
        height: 34px;
        line-height: 34px;
        font-weight: bold;
        position: relative;
        color: #bababa;
        margin-right: 36px;

        html[dir="rtl"] & {
          font-size: 16px;
          margin: 0 0 0 36px;

          &:last-of-type {
            margin: 0;
          }
        }
        &:hover {
          color: #000;
        }
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -6px;
          content: "";
          width: 0;
          height: 4px;
          background-color: $brand-primary;
        }
        &.active {
          color: #000;
          cursor: default;
          &:after {
            width: 100%;
          }
        }
      }
    }

    .breadcrumb {
      display: none;
    }

    .alert {
      margin-top: $gutter;
    }

    .login-wrapper {
      @media (min-width: 768px) {
        width: 420px;
      }
      padding: 34px 30px 48px;
      margin: 78px auto;
      background-color: #fff;
      margin-right: 0;
      -webkit-box-shadow: 0 1px 14px 0 rgba(0,0,0,.2);
      box-shadow: 0 1px 14px 0 rgba(0,0,0,.2);
      border: none;
      border-radius: 2px;

      @media (max-width: 768px) {
        margin: 30px auto;
        padding: 10px;
      }

      h2 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 24px;
        margin-bottom: 22px;
        border-bottom: 1px solid #eee;
      }

      label {
        // font-size: 16px;
        font-weight: 500;
      }

      input {
        height: 48px;
        @media (max-width: 768px) {
          height: 40px;
        }
      }

      .register-box {
        overflow: hidden;
      }

      input[type='submit'] {
        margin-top: 14px;
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

.omni-auth-wrapper {
  margin-top: 24px;
  p {
    color: #7d8092;
    position: relative;
    text-align: center;
    margin-bottom: 10px;

    span {
      background-color: #fff;
      position: relative;
      padding: 0 10px;
    }

    &:before {
      background-image: linear-gradient(to right, #ffffff 0%, #7b8090 53%, #ffffff 100%);
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
    }
  }

  .icons {
    text-align: center;

    a {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      background-color: #a7afb9;
      margin: 0 12px;
      color: #fff;
      &:hover {
        background-color: $brand-primary;
      }

      i {
        font-size: 17px;
      }
    }
  }
}

// #account-register {
//   margin: -15px 0 -20px;
//   background-color: #f9f9f9;

//   h1 {
//     text-align: center;
//     padding-bottom: 20px;
//     border-bottom: 1px solid #eee;
//   }

//   .breadcrumb {
//     display: none;
//   }

//   label {
//     font-size: 16px;
//     font-weight: 500;
//     margin-bottom: 2px;
//   }

//   .register-wrapper {
//     -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
//     box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
//     max-width: 900px;
//     margin: 50px auto;
//     border-radius: 2px;
//     background-color: #fff;
//     overflow: hidden;
//     padding: 30px;

//     form {
//       @media (min-width: 768px) {
//         width: 460px;
//       }
//       margin: 0 auto;
//     }

//     .buttons {
//       input[type="submit"] {
//         margin: 10px 0 10px;
//         height: 48px;
//         width: 100%;
//         font-size: 16px;
//       }
//     }
//   }

//   .form-group {
//     .col-sm-2, .col-sm-10 {
//       text-align: left;
//       width: 100%;
//     }
//   }
// }
