body.account-bind {
  // background-color: #f4f4f4;
  label.col-sm-2.control-label {
    display: none;
  }

  input.form-control, #input-pre-telephone,#login-input-pre-telephone {
    height: 50px;
  }

  form {
    .nav-tabs {
      margin-bottom: 20px;
    }
  }

  .bind-nav-tabs {
    margin-bottom: 40px;
    li {
      width: 50%;
      margin-bottom: 0;
      > div, > a {
        cursor: pointer;
        border: none !important;
        position: relative;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;

        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          bottom: 0;
          left: 0;
          display: none;
          background: $brand-primary;
        }
      }
      &.active {
        > a, > div {
          font-weight: bold;
          color: $brand-primary;

          &:after {
            display: block;
          }
        }
      }
    }
  }

  .bind-tab-content {
    max-width: 500px;
    margin: auto;
  }

  .alert-dismissible {
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 0;
    margin-bottom: 0px;
  }

  .has-error {
    border-color: #e3503e;
  }

  #new-telephone-wrapper {
    .alert-dismissible {
      padding-left: 0;
    }
  }
}