@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-12-05 17:11:30
// @modified         2019-06-28 11:52:17
//

$control_height: 34px;

body.checkout-cart {
  background: #f2f2f2;

  .breadcrumb {
    background: transparent;
  }
}

.cart-well {
  background: #fff;
  padding: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #eee;
}

.quick-checkout-wrapper {
  margin-bottom: 20px;

  .checkout-section {
    margin-bottom: $gutter * 2;
    padding: 8px;
    position: relative;
    border: 1px solid #d8d8d8;

    h2 {
      padding: 10px 5px;
      margin: 0 0 10px 0;
      font-size: 14px;
      font-weight: bold;
      background-color: #eee;
      color: #333;
    }

    legend {
      font-size: 14px;
    }
  }

  #login-section, #payment-address-section, #shipping-address-section {
    .form-group {
      overflow: hidden;
      display: block;
      clear: both;

      label.control-label {
        display: block;
        float: left;
        width: 35%;
        padding: 0;
        margin-bottom: 0;
        min-height: $control_height;
        line-height: $control_height;
      }
    }

    .title-wrapper {
      overflow: hidden;

      h2 {
        margin-bottom: 20px;

        .btn-new-address {
          float: right;
          color: #666;
          border-bottom: 1px solid #666;
          font-weight: 500;
          cursor: pointer;

          html[dir="rtl"] & {
            float: left;
          }

          &:hover {
            color: red;
            border-color: red;
          }
        }
      }

      .title-radio {
        float: right;
        margin-top: 0;
        cursor: pointer;
        color: #005ea7 !important;
        font-weight: 500 !important;
        &:hover {
          color: red !important;
        }

        label {
          padding-left: 0;
        }

        input {
          display: none;
        }
      }
    }

    #payment-existing, #shipping-existing {
      ul {
        padding: 0;
        list-style: none;

        li {
          position: relative;
          padding: 0 10px 0 0;
          margin-bottom: 5px;
          cursor: pointer;
          overflow: hidden;
          display: none;
          border: 1px solid transparent;

          .item {
            float: left;
            width: 92%;
            padding: 7px;
            html[dir="rtl"] & {
              float: right;
            }
          }

          .address-action {
            float: right;
            width: 7%;
            padding: 7px 0;
            text-align: right;
            html[dir="rtl"] & {
              float: left;
            }
            @media (min-width: 768px) {
              display: none;
            }

            @media (max-width: 768px) {
              position: absolute;
              width: 32px;
              right: 0;
              top: 1px;
            }

            span {
              color: #005ea7;
              margin-left: 6px;

              &:hover {
                color: red;
              }
            }
          }

          .name {
            display: inline-block;
            margin: -7px 0;
            padding: 7px;
            position: relative;
            border: 2px solid transparent;
            @media (max-width: 768px) {
              margin: -7px 0 0;
            }

            &:after {
              display: none;
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              width: 12px;
              height: 12px;
              overflow: hidden;
              background: url('../image/selected-icon.png') no-repeat;
            }
          }

          &.active {
            display: block;
            background-color: #fff3f3;
            border-color: #ffe5e5;

            i {
              margin: 0 10px;
              font-size: 18px;
              color: $brand-primary;
            }
          }

          &.block {
            display: block;
          }

          &:hover {
            background-color: #fff3f3;
            border-color: #ffe5e5;

            .address-action {
              display: block;
            }
          }
        }

        .show-more {
          margin-top: 5px;
          cursor: pointer;
          display: inline-block;

          &.active i:before {
            content: "\f102";
          }

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  #payment-confirm-wrapper {
    // padding: $gutter;
    // background-color: #fff;

    .buttons, #button-confirm {
      display: none !important;
      // cursor: not-allowed !important;
    }
  }

  .loading-mask {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.1;
  }

  @media (min-width: 992px) {
    .left-section-wrapper {
      #shipping-new {
        .form-group {
          margin-bottom: 10px;
          label {
            min-height: 24px;
            line-height: 24px;
            width: 100%;
            font-weight: bold;
            padding-top: 0 !important;
            margin-bottom: 5px !important;
            text-align: left !important;
          }
          .col-sm-10 {
            width: 100%;
          }
        }
      }
    }
  }

  .left-section-wrapper, .right-section-wrapper {
    & > .loading-mask {
      left: $gutter;
      right: $gutter;
    }
  }

  .text-danger {
    padding: 0 5px;
    margin-left: 5px;
    background: #a94442;
    color: #fff;
    display: inline-block;
  }

  #button-submit {
    padding: 10px 12px;
    font-size: 16px;
  }
}

#quick-checkout-connect {
  .quick-checkout-connect-wrapper {
    margin-top: $gutter * 2;

    .order-info {
      text-align: center;

      i {
        font-size: 120px;
        color: #dedede;
      }

    }

    #payment-confirm-wrapper {
      margin-top: $gutter * 2;
      .buttons {
        margin-top: $gutter;
        margin-bottom: $gutter;

        .pull-right {
          float: none !important;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #checkout-cart .product-name {
    white-space: inherit;

    a.name {
      width: 150px;
      display: block;
    }
  }
}


#quick-checkout-connect {
  .quick-checkout-connect-wrapper {
    // background-color: #f3fcee;
    background-color: #fff;
    border-bottom: 2px solid #4cb64c;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;

    .order-info {
      overflow: hidden;
      margin: 0 auto;
      @media (min-width: 992px) {
        max-width: 800px;
      }

      .row {
        margin-bottom: 6px;
      }

      .icon-wrapper {
        // float: left;
        margin-right: 15px;
        html[dir="rtl"] & {
          // float: right;
        }
        i {
          font-size: 66px;
          color: $brand-success;
          @media (min-width: 992px) {
            margin-top: 8px;
          }
        }
      }

      .inner-wrapper {
        position: relative;

        h2.title {
          color: #219a21;
        }

        .view-order {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      .color-red {
        color: #d20505;
      }
    }

    #payment-confirm-wrapper {
      margin-top: $gutter * 1.5;

      hr {
        border-color: lighten($brand-success, 10%);
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
