@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-10-23 11:41:25
// @modified         2018-07-02 10:27:34
//

#bsBox {
  @media (max-width: 768px) {
    width: 90% !important;
    left: 5% !important;
    margin-left: 0 !important;

    .bsTop, #bsMorePanel {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  .fancybox-nav span {
    visibility: visible !important;
  }
}

#product-product {
  .elevate-zoom-preview {
    margin-bottom: 14px;
  }


  #product-thumbnail-gallery {
    a.thumbnail {
      padding: 0;
      margin-bottom: 10px;

      &.active {
        border-color: $brand-primary;
      }

      &:hover {
        border-color: $brand-primary;
        cursor: pointer;
      }
    }
  }

  h1 {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 16px;
  }

  .product-description {
    @media (min-width: 768px) {
      padding-left: 30px;
    }

    .form-group {
      label {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  #product {
    .radio, .checkbox {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        span {
          border: 2px solid #333;
          padding: 5px 4px;
        }
      }

      img {
        padding: 0;
      }

      input {
        display: none;
        &:checked + span {
          border: 2px solid #333;
          padding: 5px 4px;
        }
      }

      span {
        display: block;
        position: relative;
        padding: 6px 5px;
        margin-bottom: 4px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
      }
    }
  }

  .product-attribute {
    li {
      padding: 3px 0;

      .title {
        color: #777;
        display: inline-block;
        width: 100px;
      }
      span {
        color: #000;
      }
    }
  }

  .tax-discounts-box {
    color: #777;
    list-style: none;
    padding-left: 0;
    margin-bottom: 14px;
  }

  .product-price-wrapper {
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin: 10px 0 17px;
    padding-bottom: 14px;

    .price-new {
      font-weight: bold;
      color: $brand-secondary;
    }

    .price-old {
      color: #888;
      font-size: 18px;
      margin-left: 4px;
    }

    .points {
      // margin-left: 20px;
      font-size: 16px;
    }
  }

  .product-cart-action {
    overflow: hidden;
    margin: 24px 0 30px;

    .form-control, button {
      height: 46px;
    }

    .quantity-input-wrapper {
      float: left;
      width: 110px;
      margin-right: 20px;
      position: relative;

      a {
        right: 1px;
        position: absolute;
        background: #e5e5e5;
        width: 23px;
        height: 23px;
        font-size: 16px;
        text-align: center;
        line-height: 23px;

        &.quantity-up {
          top: 1px;
        }

        &.quantity-down {
          bottom: 1px;
        }
      }
    }

    #button-cart {
      float: left;
      margin-right: 20px;
      padding: 8px 34px 8px 53px;
      position: relative;
      font-size: 16px;
      background: $brand-secondary;
      border-color: $brand-secondary;
      color: #fff;

      &:before {
        content: "\f07a";
        font-family: 'FontAwesome';
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 18px;
      }
    }

    .wishlist-share {
      float: left;
      @media (max-width: 768px) {
        margin-top: 8px;
      }

      button {
        padding: 8px 16px;
        margin-right: 6px;
      }
    }
  }

  .stars-box {
    .rating {
      float: left;
      margin: -3px 20px 0 0;
      span {
        font-size: 16px;
      }
    }

    .more-review {
      a {
        color: #666;
      }
    }
  }

  .tab-content {
    padding: 20px;
    margin: 20px 0 20px;
    border: $default-border;

    img {
      max-width: 100%;
    }
  }
}
