
/**/
.center_line {
  margin-top: 0px;
  margin-right: 0px;
  border-top: 1px dashed #ccc;
}
.position select {
  width: auto;
  float: left;
  max-width: 120px;
  margin-right: 10px;
}
.center_arrow_right,
.center_arrow_bottom {
  padding-left: 5px;
  padding-top: 3px;
  vertical-align: middle;
  background: url('../images/info_arrow.png');
  display: inline-block;
  width: 16px;
  height: 16px;
}
.center_arrow_bottom {
  background-position: 18px 0px;
}
.center_info input[type=text],
#center_password input[type=text],
.center_info input[type=email],
#center_password input[type=email],
.center_info [type=password],
#center_password [type=password] {
  max-width: 250px;
}
.usercenter-verify-icon-list img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.expandinfo-noticeinfo {
  margin-left: 30px;
  color: #A59F9F;
}
.expandinfo-dt {
  float: left;
  width: 16.6666666%;
  margin-right: 10px;
  text-align: right;
}
.expandinfo-dd {
  float: left;
  width: 50%;
}
.expandinfo-sumbit {
  margin-left: 20%;
}
.expandinfo-ul {
  list-style-type: none;
}
.expandinfo-li {
  float: left;
  margin-right: 10px;
}
.expandinfo-list {
  margin: 20px 5px 20px 5px;
  padding: 0;
}
.expandinfo-list .alert {
  display: none;
  padding: 3px 8px;
  text-align: center;
}
.input-tips {
  color: #BBB3B5;
  font-weight: 200;
  margin-left: 10px;
}
.lh32 {
  line-height: 32px;
  height: 32px;
}
.config_header {
  padding:20px 0;
}
.user-info-panel {
  padding: 20px;
}
.user-info-panel .nickname {
  color: #fff !important;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}
.user-config .side-menu {
  background: white;
}
.uploader-avatar-war {
  display: flex;
  padding-left: calc(100vw - 100%);
  min-height: calc(100vh - 140px); 
  flex-direction: column;
  justify-content:center;
  margin: 0 auto;
  padding:20px;
  max-width:600px;
}

.uploader-demo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.can_step_skip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.avatar_upload_btn {

}
.avatar_upload_btn .webuploader-pick {
  display: block;
  font-size: 17px;
  line-height: 1.25;
  color:#fff;
  padding: 10px 16px;
  background:#ccc;
  background-color: #f1a325;
  border-color: #ed980f;
}
.avatar_preview {
  min-width:256px;
  margin:30px auto;
  text-align:center;
}
.avatar_preview .jcrop-holder > div > div {
  
}
.avatar_256 div {
  width: 256px;
  height: 256px;
  margin:0 auto;
  overflow: hidden;
}
.avatar_128 div {
  width: 128px;
  height: 128px;
  margin:0 auto;
  overflow: hidden;
}
.avatar_64 div {
  width: 64px;
  height: 64px;
  margin:0 auto;
  overflow: hidden;
}
.avatar_256 {
  display: block;
  padding: 6px;
  border-radius: 6px;
}
.avatar_128 {
  display: block;
  padding: 6px;
  border-radius: 6px;
}
.avatar_64 {
  display: block;
  padding: 6px;
  border-radius: 6px;
}
.avatar_btn {
  display: block;
}
.avatar_select {
  padding: 10px;
}
.avatar_select p {
  margin: 0;
}
.jcrop-holder .avatar-img {
  border-radius: 0;
  max-width: none;
}
.ucenter-avatar .avatar_256 {
  left: 300px;
}
.ucenter-avatar .avatar_128 {
  left: 600px;
}
.ucenter-avatar .avatar_64 {
  left: 600px;
}
.ucenter-avatar .avatar_btn {
  left: 460px;
}
/*form_check.js 所用到的css*/
.show_info {
  position: absolute;
  z-index: 1000;
  right: 9px;
}
.send {
  z-index: 99;
  position: relative;
  padding: 0px 10px;
  height: 25px;
  border-radius: 5px;
  /* 圆角 */
  margin: 6px auto 0;
  color: #fff;
  line-height: 25px;
  text-align: center;
}
.send.red {
  background: #da203a;
}
.send.green {
  background: #2ac25f;
}
.send .arrow {
  z-index: 99;
  position: absolute;
  top: -6px;
  left: 16px;
  /* 圆角的位置需要细心调试哦 */
  width: 0;
  height: 0;
  font-size: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.send.red .arrow {
  border-bottom: 6px solid #da203a;
}
.send.green .arrow {
  border-bottom: 6px solid #2ac25f;
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: auto;
}
/*form_check.js 所用到的css end */
/*tag 用到的css*/
.tag-select-block {
  margin-bottom: 10px;
}
.tag-select-block .select-cate {
  width: 100px;
  float: left;
  text-align: right;
  padding-right: 5px;
  font-size: 15px;
  line-height: 26px;
}
.tag-select-block .select-option {
  margin-left: 100px;
}
.tag-select-block .select-option .one_tag {
  float: left;
  margin: 0 10px 5px 0;
}
.tag-select-block .select-option .one_tag .btn {
  padding: 2px 10px;
}
.tag-select-block .select-option.my-tag-block {
  border: #dcdcdc solid 1px;
  border-top-color: #b5b5b5;
  padding: 5px;
  padding-bottom: 10px;
  background: #fff;
  max-width: 500px;
}
.tag-select-block .select-option.my-tag-block .one_tag .btn {
  padding-right: 5px;
}
/*tag 用到的css end*/
.config-content {
	background:#fff;
	min-height: 523px;
}
/*用户中心css*/
.message-body {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.message-body div {
  font-style: normal;
}
.message-body .message-ctime {
  font-weight: normal;
}
.message-body .message_icon {
  text-align: center;
}
.message-body .message_icon img {
  margin-bottom: 0.5em;
}

.message-body {
  margin-top: 2em;
  margin-bottom: 10px;
}