body {
  background-color: #f1f1f1;
}
.home_container h2 {
  line-height: 24px;
  padding-bottom: 0;
  font-size: 16px;
  border-left: 4px solid #03ae87;
  padding-left: 1em;
}
.home_container .flink_image li {
  float: left;
  margin: 10px;
}
.home_container .flink_image li img {
  width: 120px;
  height: 90px;
}
.home_container .flink_text a {
  margin: 10px;
}
/*广场部分样式*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hot_activity {
  margin-bottom: 10px;
}
.hot_activity > img {
  width: 240px;
  height: 180px;
}
.square_ad img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.plaza_ul li {
  line-height: 24px;
  overflow: hidden;
}
.plaza_ul li a {
  width: 100%;
}
.square_weibo {
  margin-bottom: 10px;
}
.square_sider_top {
  background-color: #efefef;
  margin-bottom: 15px;
  padding: 20px;
}
.square_sider_top img {
  margin-right: 20px;
}
.square_sider_top a {
  color: #f1870a;
  font-size: 22px;
  font-weight: 700;
}
.square_sider_top hr {
  margin: 10px;
  border-top: 1px solid #c5c5c5;
}
.square_sider_notice {
  padding: 10px;
  background-color: #efefef;
}
.square_sider_notice li {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.square_sider_notice li a {
  line-height: 27px;
}
/*广场部分样式*/
/*幻灯片部分*/
.picFocus {
  width: 760px;
  position: relative;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 30px;
}
.picFocus .hd {
  width: 760px;
  padding-top: 5px;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  margin-top: -84px;
  position: absolute;
  padding-left: 167px;
}
.picFocus .hd ul {
  overflow: hidden;
  zoom: 1;
}
.ds {
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.5;
  background-color: #000000;
  width: 775px;
  height: 84px;
  margin-top: -84px;
  position: absolute;
}
.picFocus .hd ul li {
  padding-top: 5px;
  float: left;
  text-align: center;
}
.picFocus .hd ul li img {
  width: 109px;
  height: 65px;
  border: 2px solid #ddd;
  cursor: pointer;
  margin-right: 5px;
}
.picFocus .hd ul li.on {
  background: url("../images/icoUp.gif") no-repeat center 0;
}
.picFocus .hd ul li.on img {
  border-color: #f60;
}
.picFocus .bd li {
  vertical-align: middle;
}
.picFocus .bd img {
  width: 760px;
  height: 420px;
  display: block;
}
.tempWrap li {
  float: left;
  width: 760px;
}
/*幻灯片部分*/
.hot_activity .cover {
  width: 230px;
}
