<!DOCTYPE html>
<html>
<head>
<title>ThinkPHP助手</title>

<load href="__PUBLIC__/tphelper/css/application.css"  />
<load href="__PUBLIC__/tphelper/css/isotope.css"  />
<load href="__PUBLIC__/tphelper/css/normalize.css"  />
<load href="__PUBLIC__/tphelper/css/fullcalendar.css"  />
<load href="__PUBLIC__/tphelper/css/datatables.css"  />
<load href="__PUBLIC__/tphelper/css/prettify.css"  />
<load href="__PUBLIC__/tphelper/css/classyscroll.css"  />
<load href="__PUBLIC__/tphelper/css/jquery.fancybox.css"  />
<load href="__PUBLIC__/tphelper/css/select2.css"  />
<load href="__PUBLIC__/tphelper/css/bootstrap.min.css"  />
<load href="__PUBLIC__/tphelper/css/fontawesome.css"  />
<load href="__PUBLIC__/tphelper/css/style.css"  />

<load href="__PUBLIC__/tphelper/js/modernizr.custom.js"/>
<load href="__PUBLIC__/tphelper/js/jquery-1.10.1.min.js"/>
<load href="__PUBLIC__/tphelper/js/jquery-ui.js"/>
<load href="__PUBLIC__/tphelper/js/bootstrap.min.js"/>
<load href="__PUBLIC__/tphelper/js/jquery.validVal.js"/>
<load href="__PUBLIC__/tphelper/js/app.js"/>

<meta content="width=device-width, initial-scale=1.0" charset="utf-8" name="viewport" />
</head>
<body>
<div class="container-fluid">
	<div class="login">
		<div class="login-container">
			<img height="30" src="__PUBLIC__/tphelper/images/logo-login%402x.png" width="100" />
			<form valid method="post" action="{:U('Public/ckLogin')}">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control required" name="account" placeholder="登录帐号" type="text" />
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control  required" name="password" placeholder="登录密码" type="password" />
					</div>
				</div>
				<button class="btn btn-lg btn-primary login-submit" type="submit">登录</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>