{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/settlements/shopsettlements.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<style type="text/css">
    #mmg td:nth-child(4){color: red;}
    #mmg td:nth-child(5){color: #31c15a;}
    #mmg td:nth-child(6){color: #1890ff;}
</style>
<div id='alertTips' class='alert alert-success alert-tips fade in'>
  <div id='headTip' class='head'><i class='fa fa-lightbulb-o'></i>操作说明</div>
  <ul class='body'>
    <li>本功能主要用于处理来自于商家订单的结算申请，结算时不管在线支付和货到付款都会先收取订单佣金，然后再返还在线支付的结算款。</li>
    <li>订单结算款会返还到商家在本系统中的商家钱包中</li>
  </ul>
</div>
<div class="wst-toolbar">
<input type="text" id="startDate" style='width:120px' name="startDate" class="laydate-icon j-ipt" maxLength="20" value='' placeholder='申请开始日期'/>
至
<input type="text" id="endDate" name="endDate" style='width:120px' class="laydate-icon j-ipt" maxLength="20" value='' placeholder='申请结束日期'/>
<input type="text" name="settlementNo"  placeholder='结算单号' id="settlementNo" class='j-ipt'/>
<input type="text" name="shopName"  placeholder='店铺名称/店铺编号' id="shopName" class='j-ipt'/>
<select id='settlementStatus' class='j-ipt'>
    <option value='-1'>全部</option>
    <option value='0'>未结算</option>
    <option value='1'>已结算</option>
</select>
<button class="btn btn-primary" onclick='javascript:loadGrid(0)'><i class='fa fa-search'></i>查询</button>
<button class="btn btn-primary f-right btn-fixtop" onclick='javascript:toExport(0)'><i class="fa fa-sign-in"></i>导出</button>
<div style='clear:both'></div>
</div>
<div class='wst-grid'>
<div id="mmg" class="mmg"></div>
<div id="pg" style="text-align: right;"></div>
</div>
<script>
$(function(){
	initGrid({$p});
    var laydate = layui.laydate;
    laydate.render({
        elem: '#startDate'
    });
    laydate.render({
        elem: '#endDate'
    });
})
</script>
{/block}