

<div class="uk-padding-small">
    <div class="uk-card uk-card-default uk-card-small uk-text-center">
        <div class=" uk-padding-small">
        <img src="{$sysPublic}/sale/images/banner.jpg" width="100%">
        </div>
    </div>
    <div class="uk-card uk-card-default uk-card-small uk-margin-small-top">
        <div class="uk-card-header">分享产品的佣金</div>
        <div class="uk-card-body">分成为推广商您可以通过链接或二维码分享给他人，卖出产品后，您可以获得佣金。</div>
    </div>
    <div class="uk-card uk-card-default uk-card-small uk-margin-small-top">
        <div class="uk-card-header">无需打理网店</div>
        <div class="uk-card-body">推广商的产品销售统一由商家直接收款、发货，并提供产品售后服务，无需由您进行管理。</div>
    </div>
    <div class="uk-card uk-card-default uk-card-small uk-margin-small-top">
        <div class="uk-card-header">三级推广佣金制度</div>
        <div class="uk-card-body">您的下级推广商成功出售获得佣金的同时您同样可以获得一定的佣金，让您的推广更简单。</div>
    </div>

    <!--if{empty($saleInfo) && empty($applyInfo)}-->
    <br>
    <p>
        <a href="{url('submit')}" class="uk-button uk-button-primary uk-button-block">申请成为推广商</a>
    </p>
    <!--{else}-->
    <div class="uk-card uk-card-primary uk-card-small uk-margin-small-top">
        <div class="uk-card-body">{$html}</div>
    </div>
    <!--{/if}-->
</div>

