@charset "utf-8";
/* CSS Document */
/* css for IE */

img, div, li, button, a, ul {
	behavior: url(/css/iepngfix.htc);
}

/* header */

#header li {
	color: #FFFFFF;
	filter: Shadow(Color=000000, Direction=150, Strength=2);
	height: 1em;
}

/* main */

#main {
	border: 12px solid #FFFFFF;
}

#jionNowButton a {
	color: #FFFFFF;
}

/* pages*/

#pages {
    background: #FFFFFF;
    border: 12px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 2px 3px 3C3C3C;
    margin-bottom: 50px;
    min-height: 500px;
	height: auto !important; 
    height: 500px;
	overflow: visible;
    position: relative;
}

#sideBar {
	float: left;
	min-height: 400px;
	width: 200px;
	background: #F2F2F2;
	border-radius: 8px;
	box-shadow: 0 3px 2px #3C3C3C;

}
