.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-trash{
	background:url('icons/trash.png') no-repeat center center;
}
.icon-insert{
	background:url('icons/qu.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-reset{
	background:url('icons/reset.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-pre{
	background:url('icons/preweek.png') no-repeat center center;
}
.icon-next{
	background:url('icons/nextweek.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-oked{
	background:url('icons/oked.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}
.icon-daily{
	background:url('icons/daily.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
.icon-task{
	background:url('icons/task.png') no-repeat center center;
}
.icon-file{
	background:url('icons/file.png') no-repeat center center;
}
.icon-talk{
	background:url('icons/talk.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-project{
	background:url('icons/project.png') no-repeat center center;
}
.icon-production{
	background:url('icons/production.png') no-repeat center center;
}
.icon-people{
	background:url('icons/people.png') no-repeat center center;
}
.icon-setting{
	background:url('icons/setting.png') no-repeat center center;
}
.icon-json{
	background:url('icons/page_go.png') no-repeat center center;
}
.icon-total{
	background:url('icons/data_total.png') no-repeat center center;
}
