<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>Yto</name>
            <displayName><![CDATA[圆通速递]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[上海圆通物流（速递）有限公司经过多年的网络快速发展，在中国速递行业中一直处于领先地位。为了能更好的发展国际快件市场，加快与国际市场的接轨，强化圆通的整体实力，圆通已在东南亚、欧美、中东、北美洲、非洲等许多城市运作国际快件业务]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>你确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>cn</limited_countries>
        </module>