@charset "utf-8";
/* CSS Document */
#main {
}
li {
	list-style:none;
}
#main h2 {
	font:14px 'Microsoft YaHei';
	margin-bottom:10px;
	margin-top:10px;
}
#main h2 a {
	color:#eb6001;
	text-decoration:none;
	font-weight:700;
}
#main #main_left {
	width:180px;
	background:#fe7801;
	height:785px;
	float:left;
}
#main #main_left ul {
	margin-top:50px;
}
#main #main_left ul li {
	padding-bottom:20px;
	list-style:none;
	width:180px;
}
#main #main_left ul .a_link01 a {
	text-decoration:none;
	color:#FFFFFF;
	font:14px Helvetica, Tahoma, Arial, sans-serif;
	background:#FFFFFF;
	color:#fe7801;
	display:block;
	height:40px;
	line-height:40px;
	text-align:center;
	font-weight:700;
filter:progid:DXImageTransform.Microsoft.Shadow(color="#984402", direction=120, strength=4);
	-moz-box-shadow:3px 3px 10px #984402;
	-webkit-box-shadow:3px 3px 10px #984402;
	box-shadow:3px 3px 10px #984402;
}
#main #main_left ul .a_link02 a {
	color:#fff;
	font:14px Helvetica, Tahoma, Arial, sans-serif;
	display:block;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
}
#main #main_left ul .a_link02 a:hover {
	font-weight:700;
}

#main #main_right {
	width:796px;
	background:#ffffff;
	float:left;
	height:785px;
	overflow:hidden;
	padding-top:50px;
}
#main #main_right select {
	border: 1px solid #CCCCCC;
	display: inline;
	height: 25px;
	font:14px 'Microsoft YaHei';
	color:#999999;
	width: 100px;
}
#main #main_right #right_01, #main #main_right #right_02 {
	overflow:hidden;
	width:796px;
}
#main #main_right h2 {
	padding:50px 0 10px 50px;
	color:#555555;
	font:16px 'Microsoft YaHei';
}
#main #main_right #right_01 ul {
	width:580px;
}
#main #main_right #right_01 ul li {
	padding-right:20px;
	display:inline;
	font:15px 'Microsoft YaHei';
	color:#999999;
	line-height:45px;
	height:45px;
}
#main #main_right #right_01 .radio {
	width:20px;
}
#main #main_right #right_02 {
	margin-top:30px;
}
#main #main_right #right_02 p {
	height:30px;
	background:#dad9d9;
	color:#999;
	font:12px 'Microsoft YaHei';
	line-height:30px;
	text-align:center;
	width:700px;
}
#main #main_right #right_02 ul {
	padding-top:10px;
	width:680px;
}
#main #main_right #right_02 ul li {
	line-height:50px;
	padding-right:20px;
}
#main #main_right #right_02 .radio {
	width:25px;
}
#main #main_right #right_02 .anniu {
	font:12px 'Microsoft YaHei';
	background:#eb6001;
	width:100px;
	height:40px;
	line-height:40px;
	margin-top:20px;
}
#main #main_right #right_02 .anniu a {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:700;
}
#fotter {
	width:980px;
}
#fotter_main {
	float:left;
}
/********pay*********/
#pay{
font:12px 'Microsoft YaHei';
padding:25px;
position:absolute;
background:#FDFEFE;
background:#fdfefe;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#b5b5b5",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #b5b5b5;
    -webkit-box-shadow:3px 3px 10px #b5b5b5;
    box-shadow:3px 3px 10px #b5b5b5;
height:254px;
width:350px;
}
#pay table tr{
height:40px;
}
#pay table th{
background: none repeat scroll 0 0 #BAE5FB;
    color: #656564;
    padding-right: 10px;
    text-align: right;
	}
	#pay table td {
    background: none repeat scroll 0 0 #BAE5FB;
    color: #525252;
    text-align: center;
}
#pay table .cl{
background:#6BCDFF;
padding-left:80px;
}
#pay table .cl a{
background: url("../images/qu_bj01.jpg") no-repeat scroll 0 0 transparent;
    color: #585902;
    display: block;
    height: 33px;
    line-height: 33px;
    padding-left: 1px;
    text-decoration: none;
    width: 85px;
	float:left;
	padding-right:10px;

}
