@charset "utf-8";
/* CSS Document */
* {
	margin:0 auto;
	padding:0;
}
body {
	background-color:#f2f2f2;
	font:12px Helvetica, Tahoma, Arial, sans-serif;
}
/*-------------------------------头部样式----------------------------------------*/
#main_header{
  	width:100%;
	background:url(../images/nav_bj.jpg) repeat-x;
	height:94px;
	position:fixed;
	overflow:hidden;
	z-index:9999;
}
#main_header #nav{
width:980px;
}
#main_header #nav ul li a img{
border:none;
}
h1{
	font-size:18px;
	padding:15px;
}
#header ul {
	padding-top:60px;
}
#header ul li {
	float:left;
	list-style:none;
	padding-left:25px;
}
#header ul li a {
	color:#000000;
	text-decoration:none;
}
#header ul li a:hover,#header ul li .home{
filter:progid:DXImageTransform.Microsoft.Shadow(color="#c2c2c2",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #c2c2c2;
    -webkit-box-shadow:3px 3px 10px #c2c2c2;
    box-shadow:3px 3px 10px #c2c2c2;
}

/*--------------------------------主要内容----------------------------------------*/
#container {
	display: block;
    padding-top:95px;
    width: 980px;
    z-index: 1;
}

/*-----------------------------------------未登陆--------------------------------------*/
#login {
	width:280px;
	height:253px;
	background:#f8f8f8;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#909090",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #909090;
    -webkit-box-shadow:3px 3px 10px #909090;
    box-shadow:3px 3px 10px #909090;	
	float:left;

}
#login table {
	padding-top:30px;
	padding-left:8px;
}
#login table tr {
	height:30px;
}



/*----------------------------------------已登陆-----------------------------------------------*/
#login_after{
	width:280px;
	height:253px;
	background:#f8f8f8;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#909090",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #909090;
    -webkit-box-shadow:3px 3px 10px #909090;
    box-shadow:3px 3px 10px #909090;	
	float:left;
		display:none;
	}
#login_after #login_after_self{
padding-left:10px;
padding-top:10px;
height:110px;
}
#login_after img{
float:left;
padding-right:10px;
}
#login_after #login_after_self .self{
float:left;
width:160px;
}
#login_after #login_after_self .self table tr{
height:25px;
}
#login_after #login_after_self .self .name{
color:#FC8D03;
font-weight:700;
}
#login_after #login_after_self .self a{
text-decoration:none;
color:#5f5f5e;
}
#login_after #login_after_game{
padding-top:20px;
padding-left:10px;
}
#login_after #login_after_game p{
padding-bottom:10px;
color:#686868;
}
#login_after #login_after_game ul{
padding-left:10px;
}
#login_after #login_after_game ul li{
float:left;
list-style:none;
}
#login_after #login_after_game ul li img{
width:52px;
height:52px;
}
/*--------------------------------------------------flash--------------------------------------------------------*/
#flash {
	clear:none;
	width:680px;
	float:left;
	display:inline;
	height:252px;
}
#flash.clssMainRoll {
 FILTER: progid:DXImageTransform.Microsoft.Slide(slidestyle=SWAP, Bands=1);
	CURSOR: pointer
}
#hot h1,#recommend h1{
background:url(../images/h1_bj.jpg) repeat-x;
height:51px;
}
#hot{
padding-bottom:20px;
}
#hot, #recommend {
	margin-top:50px;
	width:980px;
	display:block;
	background:#f8f8f8;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#909090",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #909090;
    -webkit-box-shadow:3px 3px 10px #909090;
    box-shadow:3px 3px 10px #909090;
	float:left;	

}
#hot #hot_main, #recommend #recommend_main{

}

#hot #hot_main {
	width:920px;
}
#recommend {
/*max-height:10000px;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<10000?"10000px":""); overflow:hidden;*/
min-height:285px;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)>285?"285px":""); overflow:hidden;
}
#recommend ul {
	padding-left:30px;
	background:#FFFFFF;
}
#recommend li {
	list-style:none;
	float:left;
	padding-right:20px;
	padding-bottom:30px;
}
#recommend li p {
	padding-top:10px;
	color:#3a3a3a;
}
#recommend li p a {
	color:#185ebd;
	font-size:14px;
	text-decoration:none;
	font-weight:700;
	padding-right:25px;
}
#recommend li p span {
	color:#6c6d6e;
}

#recommend #recommend_main  li img {
border:none;
}



#bottom {
	width:980px;
	margin-top:50px;
	padding-left:10px;
	float:left;
}
#bottom ul li{
list-style:none;
float:left;
}


/*---------------------------------------------------fotter-----------------------------------------------*/
#fotter {
width:980px;
padding-top:20px;

}


#fotter #fotter_main{
border-top:1px solid #333333;
width:980px;float:left;
}
#fotter #fotter_left {
float:left;
width:405px;
color:#929191;
line-height:30px;
}
#fotter #fotter_mid{
padding-left:20px;
line-height:30px;
width:380px;
float:left;
} 
#fotter #fotter_mid a{
padding-right:15px;
color:#929191;
text-decoration:none;
}
#fotter #fotter_mid a:hover{
text-decoration:underline;
}
#fotter #fotter_right{
float:right;
width:80px;
padding-top:3px;
}
#fotter #fotter_right a img {
border:0;
}


/**404**/


.404_BJ{

width:980px;
}
.cause{
display:block;
padding-top:10px;
width:450px;
}
.cause a{
text-decoration:none;
font:16px Tahoma, Verdana, "微软雅黑";
color:#d21f02;
font-weight:700;
text-align:center;
}
.cause a:hover {
color:#58b902;
}
.fan{
width:97px;
text-align:center;
padding-top:20px;
}
.fan a img{
border:0;}


/***错误提示***/
#tishi{
background:url(../images/ts_bj01.png) no-repeat;
filter:progid:DXImageTransform.Microsoft.Shadow(color="#e0e0e0",direction=120,strength=4);
    -moz-box-shadow:3px 3px 10px #e0e0e0;
    -webkit-box-shadow:3px 3px 10px #e0e0e0;
    box-shadow:3px 3px 10px #e0e0e0;	
position:absolute;
top:120px;
left:40%;
width:300px;
height:166px;
display:none;
}
#tishi h1 {
font:16px Tahoma, Verdana, "微软雅黑";
color:#db0404;
font-weight:700;
}
#tishi h1 span{
padding-left:65px;
}
#tishi h1 a{
background:url(../images/ts_close_01.png) no-repeat;
width:18px;
height:18px;
float:right;
}
#tishi h1 a:hover{
background:url(../images/ts_close_02.png) no-repeat;
}
#tishi p{
padding:20px 0 0 20px;
color:#032e4c;
}

/**错误padding-left:8px;**/

.cuowu{
margin-left:8px;
display:inline-block;
width:280px;
height:26px;
color:#ff3b3b;
text-indent:25px;
line-height:26px;
font-size:12px;
background:url(../images/cuo.png) no-repeat;
}
.dui{
color:#0ce002;
margin-left:8px;
display:inline-block;
width:280px;
height:26px;
text-indent:25px;
line-height:26px;
font-size:12px;
background:url(../images/dui.png) no-repeat;
}
#imagePlay{
	width:620px;
	height:252px;
	float:left;
}
#imagePlay ul li{
	list-style:none;
	float:left;
	position:absolute;
}
#imagePlay ul li a img{
	width:620px;
	height:252px;
	border:none;
}
#spanPlay span{
	display:inline-block;
	cursor: pointer;
}
#spanPlay span img{
	width:60px;
	height:63px;
	border:none;
}
#spanPlay .on{
	border:2px solid red;
	width:54px;
	height:59px;
}
#spanPlay .on img{
	width:54px;
	height:59px;
}