
#garagedoor {
	margin: 10px auto;
	list-style: none;
	background: url(../images/menu-bg.jpg) no-repeat;
	width: 920px;
	overflow: auto;	
}
#garagedoor li {
	width: 228px;
	height: 165px;
	display: block;
	float: left;
}

/* Modernizer Enabled */
.csstransitions #garagedoor li {
	-webkit-transition: background-position 0.6s ease;
	-moz-transition: background-position 0.6s ease;
	-o-transition-property: background-position 0.6s ease;
}
.csstransitions #garagedoor li:hover {
	background-position: 0 -200px !important;
}

#garagedoor li#shutter1 {
	background: url(../images/shutter-africanplains.jpg) 0 0 no-repeat; 
}
#garagedoor li#shutter2 {
	background: url(../images/shutter-reptiles.jpg) 0 0 no-repeat; 
}
#garagedoor li#shutter3 {
	background: url(../images/shutter-aviary.jpg) 0 0 no-repeat; 
}
#garagedoor li#shutter4 {
	background: url(../images/shutter-arcticzone.jpg) 0 0 no-repeat; 
}
#garagedoor a {
   width: 228px;
   height: 165px;
   display: block;
   background: url(../images/window.png) no-repeat bottom center;
   text-indent: -9999px;
}