<div id="anony-events" class="section">
	<div class="wrapper">
			<div class="sidenav">
			  <h2 class="section-title"><a href="{:U('location/index/index')}">同城</a></h2>
			  <div class="side-links nav-anon">
			      <ul>
				    <li>
				        <a href="{:U('location/event/lists')}">同城活动</a>
				    </li>
				    
				    <li>
				        <a href="{:U('location/hosts/explore')}">主办方</a>
				    </li>
                    
			      </ul>
			  </div>
			</div>
            <div class="side">

				<div class="mod">
				
				    <h2>
				        活动标签
				            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
				    </h2>
					<foreach name="arrEventCateList" item="item" key="key">
                    <div class="cate events-cate">
                      <ul>
                        
                        <li class="cate-label"><a href="{:U('location/event/lists',array('type'=>'week-'.$item['parentCate']['enname']))}">{$item['parentCate']['catename']}»</a></li>
                        <foreach name="item['childCate']" item="citem" key="ckey">
                        <li><a href="{:U('location/event/lists',array('type'=>'week-'.$citem['cateid']))}">{$citem['catename']}</a></li>
                        </foreach>
                      </ul>
                    </div>
				    </foreach>
				</div>
			</div>
            
            <div class="main">
            	<h2>
			        北京 · 本周热门活动
			            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
			            <span class="pl">&nbsp;(
			                    <a href="{:U('location/event/lists')}">更多</a>
			                ) </span>
    			</h2>
                <div class="events-list list">
                	<ul>
                    <foreach name="hotEvent" item="item">
                    	<li>
					      <div class="pic">
					        <a  href="{:U('location/event/show',array('id'=>$item['eventid']))}">
					            <img width="70" alt="{$item['title']}" src="{$item['midimg']}">
					        </a>
					      </div>
					      <div class="info">
					        <div class="title">
					          <a title="{$item['title']}"  href="{:U('location/event/show',array('id'=>$item['eventid']))}">
					            {$item['title']}
					          </a>
					        </div>
					        <div class="datetime">
					            <php>echo date('m月',$item['begin_date']);</php><php>echo date('d日',$item['begin_date']);</php> {$item['begin_week_day']} {$item['begin_time']} - {$item['end_time']}
					        </div>
					        <address title="朝阳北路101号楼朝阳大悦城4F-54 ">
					         {$item['street_address']}
					        </address>
					        <div class="follow">
					          10人关注
					        </div>
					      </div>
					    </li>
                       </foreach> 
                    	                                                                       
                    </ul>
                </div>
            </div>
            
    </div>
</div>