<div id="anony-sns" class="section">
	<div class="wrapper">
    	<div class="ik_ad" style="margin-bottom:10px"><a href="{:U('home/help/download')}"><img src="__PUBLIC__/Static/images/temp/down_ik.jpg"></a></div>
    	<div class="side">
        	<h2>
        	活跃用户
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
            <span class="pl">&nbsp;(
                    <a href="{:U('home/user/activeusers')}">更多</a>
                ) </span>
    		</h2>
			<div class="online">
				<foreach name="arrHotUser" item="item">
	            <dl class="obu">
	                <dt>
	                    <a href="{:U('space/index/index',array('id'=>$item['doname']))}">
	                    <img alt="{$item['username']}" title="{$item['username']}" class="m_sub_img" src="{$item['face']}" width="48" />
	                    </a>
	                    <if condition="$item['isonline'] eq 1">
	                    	<div class="border-arrow" title="在线用户"></div>
	                    </if>
	                </dt>
	                <dd>
	                    <div class="uname"><a href="{:U('space/index/index',array('id'=>$item['doname']))}">{$item['username']}</a></div>
                        <span class="follow">粉丝 {$item['count_followed']} 人</span>
	                </dd>
	            </dl>
	            </foreach>
                <br clear="all">
			</div>
            
        </div>
        <div class="main">
        	<div class="mod">
				<h2>
			        热点内容
			            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
			    </h2>
				<div class="albums">
				    <ul>
                      <foreach name="arrPhoto" item="item">
				      <li>
				      <div class="pic">
				          <a href="{:U('space/photos/album',array('id'=>$item['albumid']))}"><img alt="{$item['albumname']}" title="{$item['albumname']}" data-origin="#" src="{$item['simg']}" width="170" height="170"></a>
				      </div>
				      <div class="tit"><a href="{:U('space/photos/album',array('id'=>$item['albumid']))}">{$item['albumname']}</a></div>
				      <span class="num">{$item['count_photo']} 张照片</span>
				      </li>
				      </foreach>                                                                
				    </ul>
				</div>
  				<div class="notes">
					<ul>
                    <foreach name="arrNote" item="item">
                    
                     	<if condition="$key lt 2">
                        <li>
                        <div class="title">
                            <span class="author">
                            {$item['user']['username']}的日记
                            </span><a href="{:U('space/notes/show',array('id'=>$item['noteid']))}">{$item['title']}</a>
                        </div>
                        <p><php>echo sub_str($item['content'],50);</php>...</p>
                        </li>
                    	<else/>
						<li><a href="{:U('space/notes/show',array('id'=>$item['noteid']))}">{$item['title']}</a></li>
                        </if>
                    </foreach>
					</ul>
				</div>
  
                  
        	</div>
        </div>
    </div>
</div>