<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>{$pageInfo.title}</title>
    {load_js('jquery')}
    {load_ui($sysPublic)}
    <script type="text/javascript" src="{$sysPublic}/member/js/lib_mobile.js"></script>
    <!--loop{$userCss as $vo}-->
    <link rel="stylesheet" href="{$vo}">
    <!--{/loop}-->
    <!--loop{$userJs as $vo}-->
    <script type="text/javascript" src="{$vo}"></script>
    <!--{/loop}-->
</head>

<body>
<!--if{$header && !isApp()}-->
<div class="dux-header-fixed">
<header class="dux-header">
    <div class="header-left header-nav">
        <a href="{$tplInfo.back ? $tplInfo.back : 'javascript:history.go(-1);'}" class="">
            <img class="header-icon"
                 src='data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCI+PHBhdGggZD0iTTYyNC43ODg5OTIgMjA0LjA0Nzk3NCA1ODUuMjA1OTY1IDE2NC40NjQwMjYgMjE5LjU2MDAzOCA1MzAuMTg1MDExIDU4NS4yMDU5NjUgODk1Ljg2NDAxMyA2MjQuNzg4OTkyIDg1Ni4yODA5ODYgMjk4LjY2MzAxNCA1MzAuMTYxMDVaIiBmaWxsPSIjNjY2NjY2Ij48L3BhdGg+PC9zdmc+'
                 alt=""/>
        </a>
    </div>
    <h1 class="header-title">
        <a href="{url('index/Index/index')}">
        {$pageInfo.name}
        </a>
    </h1>

    <!--if{$tplInfo.nav}-->
    <div class="header-right header-nav" data-header-nav>
        <a href="{$tplInfo.nav.url}">
            {$tplInfo.nav.name}
        </a>
    </div>
    <!--{else}-->
    <div class="header-right header-nav">
        <a href="javascript:;" data-header-menu>
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!--{/if}-->
</header>

</div>
<!--{/if}-->
<div class="dux-header-nav">
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
                <p>首页</p>
            </a>
        </li>

        <li>
            <a href="{url('mall/Index/index')}">
                <i class="fa fa-search"></i>
                <p>搜索</p>
            </a>
        </li>
    </ul>
</div>
{$layout}

</body>
<script>
    Do('base_mobile', 'base', function () {
        base.frame();
        $('[data-header-menu]').on('click', function () {
            $('.dux-header-nav').toggle();
        });
    });
</script>
</html>