<!DOCTYPE HTML>
<html>
<head>
<include file="Public:head" />
<script>
$(document).ready(function() {
//选择一级区域
$('#oneid').change(function(){
	$("#stwoid").html('<img src="'+siteUrl+'Public/Static/images/loading.gif" />');
	var oneid = $(this).children('option:selected').val();  //弹出select的值
	
	if(oneid==0){
		$("#stwoid").html('');
	 }else{
		$.ajax({
			type: "POST",
			url:  "{:U('group/index/ajax_getcate')}",
			data: {oneid:oneid},
			success: function(msg){
				$("#stwoid").html(msg);				
			}
		});
	
	}
	
});

});
</script>
</head>

<body>
<include file="Public:header" />

<!--main-->
<div class="midder">

<div class="mc">
<include file="edit_xbar" />

<div class="cleft">

<form method="POST" action="{:U('group/index/update',array('d'=>'base'))}" onsubmit="return createGroup(this);">
<table align="center" style="width:100%;clear: both;" class="table_1">
	<tr><th>小组名称：</th>
    <td><input type="text" value="{$strGroup[groupname]}" maxlength="63" size="31" name="groupname" gtbfieldid="13" class="txt" placeholder="请填写小组名称"></td></tr>
   
            <tr>
                <th>小组分类：</th>
                <td>
<select id="oneid" name="oneid" class="txt">
<option value="0">请选择</option>
<volist name="arrOne" id="vo">
	<if condition="$vo[cateid] eq $strGroup[cateid]">
    	<option value="{$vo[cateid]}" selected>{$vo[catename]}</option>
    <else/>
   		 <option value="{$vo[cateid]}">{$vo[catename]}</option>
    </if>
</volist>
</select>&nbsp;
<span id="stwoid"></span>
	</td>
            </tr>     
    
    <tr><th>小组介绍：</th>
    	<td><textarea style="width:100%;height:300px;" name="groupdesc" id="editor_mini" class="txt"   placeholder="请填写小组介绍">{$strGroup[groupdesc]}</textarea></td>
    </tr>
    <tr>
        <th>小组标签：</th>
        <td>
            <input style="width:300px;" onKeyDown="checkTag(this)" onKeyUp="checkTag(this)"  onBlur="checkTag(this)" type="text" value="{$strGroup[tags]}"  name="tag" id="tag" tabindex="3" class="txt" placeholder="请填写小组标签"> <span class="tip">最多 5 个标签</span>
        </td>
    </tr> 
    <tr>
        <th>&nbsp;</th>
        <td style="padding-top:0px ">
            <p class="tips">标签作为关键词可以被用户搜索到，多个标签之间用空格分隔开。</p>
        </td>
    </tr>   
    <tr>
    	<th>&nbsp;</th>
        <td>
          <input type="hidden" name="groupid" value="{$strGroup[groupid]}" />
          <input class="submit" type="submit" tabinde="8" value="更新小组设置" >
        </td>
    </tr>
    
</table>
</form>


</div>

<div class="cright">

<p class="pl2">&gt; <a href="{:U('group/index/show',array('id'=>$strGroup[groupid]))}">返回{$strGroup[groupname]}</a></p>

</div>

</div>

</div>



<include file="Public:footer" />
</body>
</html>