<!-- 应用后台左侧导航 每个APP必须有的文件 不能删除 否则后台找不到管理菜单 -->
<li class="treemenu_on">
    <a style="outline:none;" hidefocus="true" href="javascript:void(0)" class="actuator">个人空间管理</a>
    <ul class="submenu" style="display: block;">
    <li><a style="outline:none;" hidefocus="true" class="submenuB" href="{:U('space/admin/setting')}" target="MainIframe">空间配置</a></li>
    <li><a style="outline:none;" hidefocus="true" class="submenuA" href="{:U('space/admin/notes')}" target="MainIframe">日记管理</a></li>
    <li><a style="outline:none;" hidefocus="true" class="submenuA" href="{:U('space/admin/albums')}" target="MainIframe">相册管理</a></li>
    </ul>
</li>  