<label>{lang book.module.view.timespan}</label>
<input type="text" class="input-medium input-time" name="txtBeginTime" maxlength="16" value="{$module_data[begintime]}"/> {lang book.module.view.timespan.to} 
<input type="text" class="input-medium input-time" name="txtEndTime" maxlength="16" value="{$module_data[endtime]}"/>
<br/><br/>

<script>
$(function(){
	$('#modal_dialog .btn-primary').unbind('click').click(function(){
		var begintime = $("#modal_dialog input[name='txtBeginTime']").val();
		var endtime = $("#modal_dialog input[name='txtEndTime']").val();
		
		var tips = '{lang book.module.view.tips}';
		if(begintime || endtime){
			if(begintime) tips += begintime + '{lang book.module.view.timespan.begin}';
			if(begintime && endtime) tips += ' {lang book.module.view.timespan.to} ';
			if(endtime) tips += endtime + '{lang book.module.view.timespan.end}';
		}else{
			tips += '{lang book.module.view.tips.open}';
		}
		
		hdnModule.value = 'book|' + begintime + '|' + endtime + '|' + tips;
		
		$('.module .tips').html(tips);
		$('#modal_dialog').modal('hide').remove();
	});
});
</script>