{% extends "BluehouseappWebBundle:Frontend/layout:layout.html.twig" %}

{% block title %}需要上传个人头像{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="h20"></div>
        <div  class= "box">
            <div class="box_cell" style="text-align: center;">
                <div style="width:50%;margin: 0 auto;">
                    <table style="width: 100%;">
                        <tbody>
                        <tr>
                            <td width="auto" style="text-align:center;font-size: 14px;">
                                需要上传个人头像，
                                <a href="{{path('member_edit')}}">
                                    点击设置头像
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}