<include file="Public/header" />
<include file="Public/accountfooter" />
<div data-role="page" >
    <div data-role="header" data-position="fixed"data-tap-toggle="false" data-theme="h">
      <a href="#sharePanel" style="display:inline-block;margin-top:10px;" ><i class="fa fa-list"></i></a>
      <h1>添加新账目</h1>
    </div>
<include file="Public/common" />
<div data-role="main" class="ui-content">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="__CONTROLLER__/addAccount/" data-ajax="false"method="post" accept-charset="utf-8">
        <div class="modal-body">
            <div class="form-group">
              <label for="accountname">※ 名称： </label>
              <input id="accountnameInput" type="text" name="accountname" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="accounttime">※ 选择时间 </label>
              <input id="accounttimeInput" type="text" name="accounttime" class="form-control" placeholder="点击选择..." required>
              <script>
                $('#accounttimeInput').datepicker({
                    format: "yyyy-mm-dd",
                    language: "cn",
                    orientation: "bottom auto",
                    autoclose: true,
                    todayHighlight: true
                });  
              </script>
            </div>
            <div class="form-group">
              <label for="accountmoney">※ 金额： </label>
              <input id="accountmoneyInput"type="number" name="accountmoney" class="form-control" placeholder="金额..."required>
            </div>
            <div class="form-group">
              <label for="accounttype">※ 类别：</label>
              <select id="accounttypeInput"type="text" name="accounttype" class="form-control" placeholder="..."required>
              <option value="1">一日三餐</option>
              </select>
              <script>
                  showTypeOption("#accounttypeInput");
              </script> 
            </div>
            <div class="form-group">
              <label for="accountother">备注： </label>
              <textarea id="accountotherInput"  name="accountother" class="form-control" placeholder="可以为空..." rows="3" wrap="hard"></textarea> 
            </div>
        </div>
        <div class="modal-footer">
          <button id="addAccountBtn" type="submit" class="btn btn-info ">添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>

</div>
