<include file="Public/header" />
<include file="Public/accountfooter" />
<div class="container marker-work">
    <div class="row" >
    <div class="col-md-9">
        <div class=" page-header   hover-to-small">
            <h1 class="weather-hour-div">每日开销 <small> 简洁-创造清新</small></h1>
        </div>
        <div class="text-center hover-to-large">
            <img src="__PUBLIC__/images/other/accountlist.png" class="xuanzhuan img-rounded " width="100%">
        </div>
        <div class=" page-header   hover-to-small">
            <h1 class="weather-hour-div">详细报表 <small> 丰富-拒绝简单</small></h1>
        </div>
        <div class="text-center">
            <canvas id="myChart1" width="300px"height="250px"></canvas>
            <script>
            var data = {
                    labels : ["January","February","March","April","May","June","July"],
                    datasets : [
                        {
                            fillColor : "rgba(220,220,220,0.5)",
                            strokeColor : "rgba(220,220,220,1)",
                            pointColor : "rgba(220,220,220,1)",
                            pointStrokeColor : "#fff",
                            data : [65,59,90,81,56,55,40]
                        },
                        {
                            fillColor : "rgba(151,187,205,0.5)",
                            strokeColor : "rgba(151,187,205,1)",
                            pointColor : "rgba(151,187,205,1)",
                            pointStrokeColor : "#fff",
                            data : [28,48,40,19,96,27,100]
                        }
                    ]
                }
                var ctx = document.getElementById("myChart1").getContext("2d");
                var myNewChart = new Chart(ctx).Line(data);
            </script>
        </div>
        <div class=" page-header   hover-to-small">
            <h1 class="weather-hour-div">柴米油盐 <small> 贴心-只为生活</small></h1>
        </div>
         <div class="text-center hover-to-large">
            <img src="__PUBLIC__/images/other/accountreport.png" class="xuanzhuan img-rounded " width="100%">
        </div>
    </div><!--col-md-9-->
        <div class="col-md-3" >
            <section class="side-div">
                <div class="panel">
                    <a href="__APP__/Home/User/" class="btn btn-warning btn-lg ">使用记账本</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        关注微信
                    </div>
                    <div class="panel-body">
                        <img src="__PUBLIC__/uploads/1.jpg" alt="" width="100%">
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        安卓客户端
                    </div>
                    <div class="panel-body">
                        <img src="__PUBLIC__/uploads/1.jpg" alt="" width="100%">
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        友情支持
                    </div>
                    <div class="panel-body">
                        <img src="__PUBLIC__/uploads/1.jpg" alt="" width="100%">
                    </div>
                    <div class="panel-body">
                        <img src="__PUBLIC__/uploads/1.jpg" alt="" width="100%">
                    </div>
                </div>
            </section>
        </div>
    </div><!--row end-->
</div><!--cintainer end-->

<include file="Public/footer"/>