<eq name="readonly" value="true">
	<div class="form-inline">
		<foreach name="data" item="udf_control_vo">
			<label>
				<input class="hidden" name="udf_field_{$id}[]" class="ace" type="checkbox" value="{$key}" <in name="key" value="$val">checked</in>> 
				<input disabled="disabled" name="disabled_udf_field_{$id}[]" class="ace" type="checkbox" value="{$key}" <in name="key" value="$val">checked</in>>
				<span class="lbl">&nbsp;{$udf_control_vo}</span> </label>&nbsp;&nbsp;&nbsp;&nbsp;
		</foreach>
	</div>
	<else/>
	<div class="form-inline">
		<foreach name="data" item="vo">
			<label>
				<input name="udf_field_{$id}[]" class="ace" type="checkbox" value="{$key}" <in name="key" value="$val">checked</in>>
				<span class="lbl">&nbsp;{$udf_control_vo}</span> </label>&nbsp;&nbsp;&nbsp;&nbsp;
		</foreach>
	</div>
</eq>