<eq name="readonly" value="true">
	<div class="link_select form-inline" data="{$data}" pid="{$config|default=0}">
		<select  class="main form-control" id="udf_field_{$id}" name="udf_field_{$id}" <notempty name="validate">check="{$validate}" msg="{$msg}"</notempty>></select>
		<select  class="sub form-control" id="udf_field_{$id}_sub" name="udf_field_{$id}_sub" <notempty name="validate">check="{$validate}" msg="{$msg}"</notempty>></select>
	</div>
	<else/>
	<div class="link_select form-inline" data="{$data}" pid="{$config|default=0}">
		<select class="main form-control" id="udf_field_{$id}" name="udf_field_{$id}" <notempty name="validate">check="{$validate}" msg="{$msg}"</notempty>></select>
		<select class="sub form-control" id="udf_field_{$id}sub" name="udf_field_{$id}sub" <notempty name="validate">check="{$validate}" msg="{$msg}"</notempty>></select>
	</div>
</eq>
