#m #setmod{ margin-left:480px;}
#header,#content,#footer{width: 960px;}
a:link,a:visited{color:#000;}
a:hover,a:active{color:#e65b0e;}

.grid .main-wrap{margin-left:275px;}
body{background:#fff url("images/cwrap.png");color:#000;}
.tbbd{background:#fff url("images/cwrap.png");}
.hwrap{background:url("images/bodybg.png") repeat-x;}
#header{background:url("images/header.png") no-repeat right 32px;height:156px;}
#banner{width:963px;}
#banner .manage{ color:#fff;}
.bwrap{background:#0d0d0d url("images/bwrap.png") repeat-x bottom;}
#banner{padding-top:10px;background:#0c0c0c url("images/banner.png") no-repeat right bottom;padding-bottom:7px;}
.singPic,.slider{border:5px #e6e3da solid;}
.fwrap{background:#1a0f05;}
.mhd span a:link, .mhd span a:visited {color: #5c5848;}

#header h1,#header p{float:left;}
#header h1{margin-top:20px;}
#header p {margin-left:20px;color: #3c4366;height:108px;line-height:108px;}
.menu{padding-top:0px;padding-left:10px; padding-right:20px; height:27px;background:url("images/menubg.png") no-repeat left bottom;}

.menu a:link,.menu a:visited{color: #d6b7a7;}
.menu a.topico02{background:url("images/collt.png") no-repeat 0 5px;}

.nav{height:45px;}
.nav li{}
.nav li a{font-weight:bold;width:108px;text-align:center;}
.nav li span{padding-top:18px;padding-bottom:10px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat top;}

.nav a:link,
.nav a:visited{color:#fff;}

.nav a:hover,.nav a:active,.nav a:focus,
.nav a.active{color:#fff;}

.mbox,.feedback{margin-top:10px;}
.col-sub .mbox{border:1px #c0bfb8 dashed;}
.col-sub .mbg{background:url(images/colsub.png);border:5px #eeeeed solid;}
.col-sub .mhd{border-bottom:1px #c1baa9 solid;width:225px;margin:0 auto;padding-left:15px;}
.col-main .mhd{border-bottom:1px #dfdcd5 solid;position:relative;}
.mhd h3{background:url("images/subh3.png") no-repeat 0 center;padding-left:15px;}
.col-main h3{background:url("images/mainh3.png") no-repeat 0 center;width:auto;border-bottom:1px #3a240c solid;margin-left:20px;position:absolute;bottom:-1px;}
.n_ico .mhd h3{background:url("images/nico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:22px;}	
.col-sub .mbd{padding-left:15px;padding-right:15px;}

.pic_list img{border:1px #dcdadb solid;}
.prodt .mbd li{margin: 20px 26px 0 16px;}
.plinks .mbd li{margin:12px 7px 0 10px;}

input,textarea {border-left:1px #e1e7ef solid;border-right:1px #e1e7ef solid;border-bottom:1px #e1e7ef solid;border-top:1px #abadb3 solid;}
.job_con table,.guest table {border-top:1px solid #d5d4d2;border-left:1px solid #d5d4d2;border-right:1px solid #d5d4d2;}
.job_con td,.guest td {background:none;border-bottom:1px solid #d5d4d2;border-left:1px solid #d5d4d2;}
.job_con th,.guest th {background:#f2efea;border-bottom:1px solid #d5d4d2;border-left:1px solid #d5d4d2;}

.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#000;}
.down_list .mbd li h2{border-bottom:1px #c0bfb8 dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:18px center;padding-left:32px;}
.down_list .mbd li {line-height:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#e65b0e;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 5px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 18px center;border-bottom:1px #c0bfb8 dashed;}

.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #cccacd solid;background:none;color:#666;}
.g_page .current,.g_page a:hover{background:#e75b01;color:#fff;border:1px #cccacd solid;}

.n_ico span a{color:#8a8a8a;}

.notice_con p{border-bottom:1px #e5e2db solid;}
.notice_con p.active{background:#f1efeb;}

.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 0 center;padding-left:15px;border-bottom:1px #ccc dotted;}
.news li span,.seabox li span{color:#999;}
.news .mhd .r{margin-right:20px;}

.feedback a{background:url("images/feedback.png") no-repeat;width:260px;}

.title{border-bottom:1px #dfdcd5 solid;}
.title h2{color:#000;}
.title p{color:#999;}

.item_intro h4{background:url("images/item_intro_h4.png") repeat-x;}
.mhd button{background:url("images/sbtn2.png") no-repeat;color:#fff;}

.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;line-height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;color:#999}

.contact_con dt{color:#000;}
.contact_con dd{ background: url("images/contact_line.png") no-repeat bottom;}
.mapbd{border:1px #fff solid;}
.map{border: 1px solid #c0bfb8;background:#fff;}

.pipe {color:#886d59;}
#footer {color:#886d59;padding-bottom:15px;background:url("images/fwrap.png") no-repeat center top;}
#footer p{margin-top:8px;}
#footer a:link, #footer a:visited {color: #886d59;}
#footer a:hover {color: #886d59;}
#footer .support a:link, #footer .support a:visited{color: #886d59;}