/*微博首页样式*/
.boxShadow {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
}
.weibo_type_icon {
  margin-right: 10px;
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  filter: gray;
}
.weibo_type_icon:hover {
  -webkit-filter: none;
  filter: none;
}
.weibo_main {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  background: white;
  border-radius: 0.2em;
}
.weibo_content {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  /*仅Firefox支持，实现圆角效果*/
  -webkit-border-radius: 3px;
  /*仅Safari,Chrome支持，实现圆角效果*/
  -khtml-border-radius: 3px;
  /*仅Safari,Chrome支持，实现圆角效果*/
  border-radius: 3px;
  /*仅Opera，Safari,Chrome支持，实现圆角效果*/
  margin-bottom: 12px;
  padding-bottom: 0;
}
.weibo_content_sj {
  width: 16px;
  height: 17px;
  margin-left: -31px;
  margin-top: 9px;
  background: url(../images/weibo_content_sj.png);
  position: absolute;
}
.weibo_content_p {
  font-size: 14px;
  color: #333333;
  line-height: 29px;
}
.weibo_content_bottom {
  z-index: 99;
  color: #8c8c8c;
  background: #f5f5f5;
  padding: 7px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}
.user_name {
  font-size: 16px;
  color: #8c8c8c;
}
.like {
  width: 20px;
  height: 30px;
  background: url(../images/nolike.png) no-repeat;
  display: block;
}
.mark_box {
  background-color: #f5f5f5;
  border: 1px #E6E6E6 solid;
  z-index: 99;
  clear: both;
  position: absolute;
  top: 37px;
  right: 51px;
}
.mark_aw > li > a {
  position: relative;
  display: block;
  padding: 6px 8px;
  text-align: center;
}
.name_touxian {
  margin-left: 10px;
  margin-top: 0px;
  display: inline-block;
  width: 101px;
  height: 60px;
}
.ribbion-green {
  z-index: 99;
  position: absolute;
  right: -18px;
  top: 0;
  background: url(../images/ribbion.png) no-repeat;
  width: 75px;
  height: 43px;
  text-align: center;
}
.ribbion-green a {
  color: white;
  line-height: 35px;
  padding-left: 20px;
}
.ribbion-green a:hover {
  text-decoration: none;
}
.weibo_avatar {
  position: relative;
  display: inline-block;
}
.weibo_avatar .weibo_change_avatar {
  display: none;
  color: white;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  line-height: 24px;
}
.weibo_avatar:hover .weibo_change_avatar {
  display: block;
}
