<div class="page-header">
    <h1 class="text-right text-info">站内邮箱 <a href=""><small>{$email.name}</small></a></h1>
</div>
<div class="row">
    <ul class="nav nav-tabs col-sm-12" id="email_nav_tabs">
        <li role="presentation" dataid="ebox"><a href="{:urlBuild('!center:','?email')}">收件箱{$email.eboxNewCtt|default=""}</a></li>
        <li role="presentation" dataid="send"><a href="{:urlBuild('!center:','?email&send=Y')}">已发送</a></li>
        <li role="presentation" dataid="write"><a href="{:urlBuild('!center:','?email&write=Y')}">写邮件</a></li>
        <li role="presentation" dataid="recycle"><a href="{:urlBuild('!center:','?email&recycle=Y')}">回收站</a></li>
        {$email.navLiPlus|default=""}
    <!--<li role="presentation"><a href="{:urlBuild('!.index/edit/email')}">写邮件</a></li>-->
    </ul>
    <div style="margin-top: 30px;clear: both;margin-left: 0px;padding:0px;" class=" col-sm-12">
    {if condition="$email.type eq 'ebox'"}
        {$email.rsvList|default=""}
    {elseif condition="$email.type eq 'send'"}
        {$email.sdList|default=""}
    {elseif condition="$email.type eq 'write'"}
    {// 写邮件}  
    <div class="col-sm-1" style="margin-left: 0px;padding:0px;">{$email.sbMateList}</div>
    <form class="form-horizontal col-sm-11" style="margin-left: 0px;padding:0px;" role="form" action="{:urlBuild('!.index/save/email')}" method="POST">
        <div class="form-group has-success">
            <label for="titleIpter" class="col-sm-2 control-label">主题</label>
            <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="titleIpter" value="{$data.title|default=""}" placeholder="主题" required>
            <input type="hidden" name="dataid" value="email_sd_data">
            <input type="hidden" name="sd_email" value="{$email.name}">
            </div>
        </div>
        <div class="form-group has-success">
            <label for="rcvemailIpter" class="col-sm-2 control-label">收件人</label>
            <div class="col-sm-10">
            <input type="text" name="rcv_email" class="form-control" id="rcvemailIpter" value="{$data.rcv_email|default=""}" placeholder="收件人" required>
            </div>
        </div>
        <div class="form-group has-success">
            <label for="contentlIpter" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
            <textarea name="content" class="form-control" id="contentlIpter" placeholder="内容" rows="15">{$data.content|default=""}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
    {elseif condition="$email.type eq 'recycle'"}
    {// 读取}         
       {$email.rycList|default=""}
    {elseif condition="$email.type eq 'read'"}
    {// 读取}         
        <p>主题： {$data.title}</p>
        <br> 内容：
        <div class="well">{$data.content|default=""}</div>
        <p>发送者： {$data.sd_email|default="匿名"}</p>
        <p>接收时间： {$data.rcv_time}</p>
    {/if}
    
    </div>
</div>