//uikit
$global-primary-background: #1e87f0 !default;
$global-success-background: #32d296 !default;
$global-warning-background: #faa05a !default;
$global-danger-background: #f0506e !default;


//dux
@import "var";


@import "package/color";
@import "package/layout";
@import "package/fix";
@import "package/header";
@import "package/aside";
@import "package/nav";
@import "package/main";
@import "package/table";
@import "package/button";
@import "package/form";
@import "package/list";
@import "package/mobile";


@import "component/notify";
