
<form id="form" action="{:url('news/add')}">
    <input type="hidden" name="img" value="" id="img" />
<table class="formtable">
    <tr><th>头条分类:</th><td>
        <select datatype="*" class="select w200" name="cate_id">
            <option value=" ">选择分类</option>
            {foreach $cate as $vo}<option value="{$vo.id}">{$vo.title}</option>{/foreach}
        </select>
    </td></tr>
    <tr><th>头条类型:</th><td>
        <select datatype="*" class="select w200" name="types">
            <option value="0">普通</option>
            <option value="1">置顶</option>
            <option value="2">推荐</option>
            <option value="3">热点</option>
            <option value="4">公告</option>
        </select>
    </td></tr>
    <tr><th class="Validform_label">标题:</th><td><input class="input w500" datatype="*" type="text" name="title" /></td></tr>  
    <tr><th>引导图</th><td><div url="{:url('system/passport.common/upload')}" class="img-review fn-cp"><img src="__PUBLIC__/admin/review.png"></div></td></tr>
    <tr><th>简述</th><td><input class="input w500" datatype="*" type="text" name="desc" /></td></tr>    
    <tr><th>内容</th><td><textarea class="textarea ui-editor" id="content" name="content"></textarea></td></tr>
    <tr><th></th><td><input type="submit" value="确定" class="button button-blue submit" /> <input type="reset" value="重置" class="button button-blank" /></td></tr>
</table>
</form>
<script type="text/javascript">
Do('base','layer','form','editor',function () {
    $('#form').isForm({'upload':'{:url("system/passport.common/upload")}'});
    $(".img-review").win(); 
})
//添加图片
function setImg(show_src){
    $("#img").val(show_src);
    $(".img-review").html('<img src="'+show_src+'">');  
}
</script>