<script type="text/javascript">
    $(function(){
        $(".goBack").click(function(){
            location.href="{:U('Category/index')}";
        });
        $("input[name='category[page_type]']").click(function(){
            var val = $(this).val();
            if(val==2){
                $("#page_size").show();
                $("#target_detail_tpl").show();
            }else{
                $("#page_size").hide();
                $("#target_detail_tpl").hide();
            }
        });
        $("#pid").change(function(e){
            var relation_model = $(this).find("option:selected").attr('relation_model');
            $("#relation_model").val(relation_model);
        });
    });
</script>