.panel-group.panel-widget{
	.panel-heading{
		background: #eee;
	}
	.panel{
		border:2px solid #eee;
		margin-bottom:2px;

		&:hover{
			border-color: darken(#f6f6f6, 10%) !important;
		}

		.panel-body{
			border-top:0 !important;
		}

		.panel-heading{
			padding:0;

			&:hover{
				text-decoration: none;
				background: darken(#f6f6f6, 10%) !important;
			}

			.panel-title{
				&>a{
					padding:10px 15px;
					font-size:18px;
					color:#333;
					display: block;
					position: relative;

					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}