[submodule "vendor/parsedown"]
	path = vendor/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "vendor/php-stream-wrapper-for-git"]
	path = vendor/php-stream-wrapper-for-git
	url = https://github.com/teqneers/PHP-Stream-Wrapper-for-Git.git
