{include file="public/tpl/head.html" /}
<body>    
    <ol class="breadcrumb">
        <li><a href="/conero/finance/flist.html" class="app_nav">财务清单</a></li>
        {if condition="$mode eq 'A'"}
        <li class="active">新增</li>
        {else}
        <li><a href="/conero/finance/flist/edit" class="app_nav">新增</a></li>
        <li class="active">数据修改</li>
        {/if}
    </ol>
    <div class="container">
        {eq name="mode" value="A"}
        <div class="row">
        <div class="col-lg-6 text-primary">
            从财务账单中选择已有的进行新增，如果您是手动输入的，输入完成后可<a href="javascript:void(0);" class="text-warning">设置</a>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" id="fset_porp_btn" type="button">选择</button>
            </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        {/eq}
        <form role="form" method="post" action="javascript:void(0);">
            <h1>清单概略<small>财务登账</small></h1>
            <table class="table form-inline" id="summary">
                <tr>
                    <th><label for="_key_use_date" class="control-label notnull">日期</label></th>
                    <th><label for="_key_name" class="control-label notnull">名称</label></th>
                    <th><label for="_key_master_id" class="control-label notnull">事务甲方</label></th>
                    <th><label for="_key_type" class="control-label notnull">类型</label></th>
                    <th><label for="_key_sider" class="control-label notnull">事务乙方</label></th>
                    <th><label for="_key_purpose" class="control-label notnull">用途</label></th>
                    <th><label for="_key_figure" class="control-label">金额</label></th>
                </tr>
                <tr>
                    <td><input type="text" name="use_date" id="_key_use_date" class="form-control input-sm" value="{$sumy.use_date}" required>{$sumy.finc_no|default=""}</td>
                    <td><input type="text" name="name" id="_key_name" class="form-control input-sm" value="{$sumy.name}" required></td>
                    <!--<td><input type="text" name="master_id" id="_key_master_id" class="form-control" value="{$sumy.master_id}" required></td>-->
                    <td>
                        {$sumy.master_id}
                        <input type="hidden" name="master" id="_key_master" value="{$sumy.master}" required>
                    </td>
                    <td>
                        <select name="type" id="_key_type" class="form-control input-sm" required>
                            <option value="OU">支出</option>
                            <option value="IN">收入</option>
                        </select>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon"><a href="javascript:void(0);" onClick="app.siderHelper()">I/S</a></div>
                            {if condition="isset($selfSider)"}
                                {$selfSider}
                            {else}
                                {$sumy.sider_id}
                                <input type="hidden" name="sider" id="_key_sider" value="{$sumy.sider}" required>
                            {/if}
                        </div>
                    </td>
                    <td>{$sumy.purpose}</td>
                    <td><div id="_key_figure_show" class="form-control input-sm">{$sumy.figure|default="自动生成"}</div><input type="hidden" id="_key_figure" name="figure" value="{$sumy.figure}"></td>
                </tr>
            </table>
            <h3>清单列表<small>设置</small></h3>
            <div class="form-group form-inline" id="detail">
                <table class="table" maxTr="1">
                    <tr>
                        <th>序号</th><th class="notnull">物件/事务名称</th><th>型号</th><th class="notnull">单价</th><th class="notnull">数量</th><th class="notnull">商店名称</th><th>备注</th>
                    </tr>
                    {if condition="isset($dtlList) && !empty($dtlList)"}
                        {$dtlList}
                    {else}
                    <tr dataid="1">
                        <td class="rIndex">1</td>
                        <td><input type="text" name="goods" class="form-control input-sm" required></td>
                        <td><input type="text" name="goodsModel" class="form-control input-sm"></td>
                        <td><input type="text" name="single" class="form-control input-sm" onBlur="app.singleCheck(this)" required></td>                        
                        <td><input type="text" name="amount" class="form-control input-sm" onBlur="app.amountCheck(this)" value="1" required></td>
                        <td><input type="text" name="store" class="form-control input-sm" required></td>
                        <td><input type="text" name="remark" class="form-control input-sm"></td>                        
                    </tr>
                    {/if}
                </table>
            </div>
           <button class="btn" type="button" id="addList_btn">+</button><button class="btn" type="button" id="delList_btn">-</button><button class="btn" id="saveList_btn">提交</button>
       </form>
    </div>
    <div class="hidden" id="cache_helper"></div>
</body>
</html>