<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>pagesnotfound</name>
            <displayName><![CDATA[找不到此页]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[你的访客请求的页面找不到]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[analytics_stats]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>