<extend name="Public/common"/>
<block name="style">
</block>
<block name="body">
<div id="main-container" class="container">
	<div class="col-md-2">
		<!--用户中心导航-->
		<include file="User/_nav"/>
	</div>

	<div class="col-md-10">

	<div class="common_box">
		<h3>优惠券</h3>
	</div>

	<div class="common_box margin-top-10 clearfix">
		<notempty name="coupon.list">
		<div class="row">
            <volist name="coupon.list" id="coupon">
            <div class="col-xs-4">
	            <div class="coupon-list-box" data-id="{$coupon.id}">
	                <div class="info">
	                    <h3 class="discount">￥ {$coupon.info.rule.discount}</h3>
	                    <p>【满{$coupon.info.rule.min_price}可用】</p>
	                    <p>有效期至{$coupon.expire_time|date='Y-m-d',###}</p>
	                </div>
	                <div class="title">
	                 <span>{$coupon.info.title}</span>
	                </div>
	            </div>
            </div>
            </volist>
        </div>
        <else />
            无可用优惠卷...
        </notempty>
    </div>

    <div class="text-right">
        {:getPagination($coupon.count,20)}
    </div>
	</div>
</div>
</block>