.float_ajax_box { border: 1px solid #ccc; background-color: #fff; }
.float_loading { width: 100px; height: 100px; }
.float_ajax_image { padding: 5px; }
.float_ajax_error { width: 200px; padding: 40px 0; text-align: center; }
.float_list_box { background-color: #fff;  border: 1px solid #c2c2c2; box-shadow: 0 5px 10px #ddd; }
.float_list_ul { margin: 0; padding: 1px; font-size: 12px; list-style-type: none; padding: 5px; }
.float_list_ul li { line-height: 20px; text-indent: 5px; }
.float_list_ul li:first-child { border-top: 0; }
.float_list_a { display: block; text-decoration: none; padding: 3px 8px 3px 8px; color: #333; }
.float_list_a:hover { background-color: #8b9daf; color: #fff; text-decoration: none; }
.float_list_null { padding: 40px 20px; text-align: center; }
.float_remind_box { border: 1px solid #F7CE39; background: #ffffe0; padding: 5px 10px; }
.float_tip_box { line-height: 18px; padding: 2px 5px; background-color: #ffffe0; -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4); box-shadow: 1px 1px 2px rgba(0, 0, 0, .4); border: 1px solid #CCC; position: absolute; }
.float_doing_box { border: 1px solid #F7CE39;padding: 5px 10px 5px 25px; font-size: 12px; position: absolute; }
.float_corner {font-size: 18px;position: absolute; left: -6000px;overflow: hidden; }
.float_corner .corner { position: absolute; }
.float_corner .corner_1 { color: #ccc; }
.float_corner .corner_2 { color: #fff; }
.float_corner_top, .float_corner_bottom { width: 16px; height: 8px; }
.float_corner_top { line-height: 14px; }
.float_corner_bottom { line-height: 17px; }
.float_corner_left, .float_corner_right { width: 8px; height: 16px; }
.float_corner_top .corner, .float_corner_bottom .corner { left: 0; }
.float_corner_right .corner, .float_corner_left .corner { top: -2px; }
.float_corner_bottom .corner_1 { }
.float_corner_bottom .corner_2 { top: 1px; }
.float_corner_left .corner_1 { right: 0; }
.float_corner_left .corner_2 { right: 1px; }
.float_corner_top .corner_1 { bottom: 0; }
.float_corner_top .corner_2 { bottom: 1px; }
.float_corner_right .corner_2 { left: 1px; }