{extend name="common@base/common" /}

{block name="style"}
<link href="__SWIPER__/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/articles.min.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="body"}
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="common_block_border">
                {include file="public/_nav"/}
                    <div class="common_content_box">
                        <section id="contents">
                            {notempty name="list"}
                                {volist name="list" id="data"}
                                    {include file="public/_default_list"/}
                                {/volist}
                            {else/}
                                <div style="font-size:1em;padding:2em 0;color: #ccc;text-align: center">
                                    该类型下没有内容~
                                </div>
                            {/notempty}
                        </section>
                        <div class="text-right">
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {if condition="is_login()"}
                <div class="right_block">
                <!--侧栏菜单-->
                {include file="public/_button"/}
                <!--end侧栏菜单-->
                </div>
                {/if}
                <div class="right_block">
                    <div class="right_block_item">
                        <div class="right_block_title">
                            <h3>最新更新</h3>
                        </div>
                        {:widget('News/lists',['map'=>['status'=>1],'limit'=>10])}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
<script src="__SWIPER__/js/swiper.jquery.min.js"></script>

<script>
$(function(){   
      var navSwiper = new Swiper ('.articles-nav-box', {
        freeMode : true,
        slidesPerView : 'auto',
        freeModeSticky : true ,
    
      });

      $('.articles-nav-box #tab_category_{$cid}').addClass('active');
})   
</script>
{/block}
