<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cac</name>
            <displayName><![CDATA[上门取货]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[买家自己到商家指定地点取货]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>你确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>cn</limited_countries>
        </module>