<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UMeditor demo</title>

  <!-- Bootstrap -->
  <link href="{:config('__public__')}/static/bootstrap-3.3.4/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="main-title">
    <h2>UMeditor demo</h2>
  </div>
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h4>需要引入</h4>
        </h3>
      </div>
      <div class="panel-body">
        <p>jquery.js</p>
        <p>umeditor.css</p>
        <p>umeditor.config.js</p>
        <p>umeditor.min.js</p>
        <p>zh-cn.js</p>
      </div>
      <hr />
      <h3>配置说明</h3>
        <p>window.UMEDITOR_HOME_URL:资源URL｜cdn,负载均衡静态代码域名，网站大了总不能都从一个地址加载，对吧<br/>
        说明：这个要在加载umeditor.config.js之前配置
        </p>
        <br/>
        <p>window.UMEDITOR_CONFIG.imageUrl:上传图片目标路径| 网站代码处理接收图片的地方</p>
        <p>window.UMEDITOR_CONFIG.imagePath: 上传成功后的图片所在路径</p>
        <p>window.UMEDITOR_CONFIG.imageFieldName</p>
    </div>

    <form action="#" enctype="application/x-www-form-urlencoded" method="POST"
            class="form-horizontal">

      <div class="form-group">
        <label for="content" class="col-sm-12">内容</label>
        <div class="col-lg-6">
          <textarea class="form-control" type="text" id="content" name="content" style="width:1000px;height:240px;"></textarea>
        </div>
      </div>

      <div class="form-group">
        <input type="hidden" name="id" value="" />
        <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
      </div>
    </form>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript">
  // window.UMEDITOR_HOME_URL = '/uploadFile/haha.html';
  </script>
  <link href="{:config('__public__')}/static/UMeditor-utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/static/UMeditor-utf8-php/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/UMeditor-utf8-php/umeditor.min.js"></script>
<script type="text/javascript" src="/static/UMeditor-utf8-php/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
        // window.UMEDITOR_CONFIG.imageUrl = '/index.php?s=/pub/fileUpload';
        // window.UMEDITOR_CONFIG.imagePath = 'php/';
        // window.UMEDITOR_CONFIG.imageFieldName = 'upfile';

        var um = UM.getEditor('content');
    </script>

</body>
</html>