<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/main.min.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">
<include file="_nav"/>
<div id="main-container" class="container">

<div class="row">
    <div class="scoreshop clearfix">
        <div class="common_block_border">
            <div class="clearfix">
                <h2 class="title_content">{:L('_PRODUCT_NEW_ADDED_')}</h2>
                <volist name="contents_new" id="vo">
                    <include file="_goods_li"/>
                </volist>
                <if condition="count($contents_new) eq 0">
                    <div class="data-none">
                      {:L('_TIP_NEW_PRODUCT_NONE_')}
                    </div>
                </if>
            </div>
            
          <div class="clearfix">
              <h2 class="title_content">{:L('_PRODUCT_HOTTEST_')}</h2>
              <volist name="contents_hot" id="vo">
                  <include file="_goods_li"/>
              </volist>
              <if condition="count($contents_hot) eq 0">
                  <div class="data-none">
                    {:L('_TIP_HOT_PRODUCT_NONE_')}
                  </div>
              </if>
          </div>
          </div>
        </div>
</div>
</div>
<input type="hidden" id="money_name" value="{$money_type.title}"/>
</block>

<block name="script">
    
    <script>
        
    </script>
</block>
