.bg-info.rk, .bg-info .rk {
    background-color: #e74c3c;
}

.u_setspace {
    background-image: url("../images/001.jpg");
    padding-top:240px;
    width: 100%;
    background-position: center center;
    background-size: cover !important;
}
.m-t-mx {
  margin-top: 100px;
}

.u_space_nav{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid #5a6a7a;
}

.user-con{
	position: relative;
	top:-80px;	
}
.user-space-nav{
	z-index:999;
	
}

@media (max-width: 767px){
	.m-t-mx {
  		margin-top: 10px;
	}
}

.user-space-nav .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
    color:#fff;
    font-weight:800;
}

.user-space-nav .nav > li.active > a,
.user-space-nav .nav > li > a:hover,
.user-space-nav .nav > li > a:focus {
  background-color: #5a6a7a;
}

.user-album {
	height:162px;
}
.jp-play-me.btn {
	padding: 5px 0px 5px 2px;
}