body,html,li,input,gloabl,h2,th,input,nav,td,h1,embed,blockquote,ol,xml,div,dl,dt,dd,ul,h3,h4,h5,h6,pre,form,fieldset,abbr,p,header,hgroup,Section,figure,section,nav,article,aside,canvas{margin:0;padding:0;}
img {border:0px;padding:0;margin:0px;}
a{font-size:100%; border:none;color:#333; text-decoration: none;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
.clear{ clear:both}
body{
	
	font-family:ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
	font-size:14px;
	line-height:1.6;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } 
button, input, select, textarea { font-size: 100%; } 
.fl{
float:left;
overflow:hidden;
*zoom:1;
}
.fr{
float:right;
overflow:hidden;
*zoom:1;
}
.clearfix:after{
    content:" ";
    display:block;
    height:0;
	clear:both;
    visibility:hidden;
}
* html .clearfix{
    height:1%;
}
*+html .clearfix{
    min-height:1px;
}

.color666,.color666 a{
color:#666;
}

.martop20{
margin-top:20px;
}
.martop15{
margin-top:15px;
}
.font_nor,.font_nor strong{
font-weight:normal;
}
.p_re{
position:relative;
}
.cursor{
cursor:pointer;
}
.width1000{
width:1000px;
margin:0 auto;
overflow:hidden;
*zoom:1;
}

i,.cardelete{
}
.Recordname a,.structure a{
}
.plustext{
padding:5px 0 0 5px;
}
.buyadd{
padding:15px 0 5px 0;
overflow:hidden;

}






#header{
position:fixed;
width:100%;
left:0;
bottom:0;
z-index:999;
height:45px;

background-color:#EAEAEA;
border-bottom:1px solid #ccc;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); 
  background-image: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:     -ms-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:      -o-linear-gradient(top, #FFFFFF, #EAEAEA); 
background:linear-gradient(to bottom, #FFFFFF, #EAEAEA);

box-shadow:-1px -1px 3px #ccc;
min-width:320px;
}

.narcar{
position:relative;
}
.narcar span{
position:absolute;
font-weight:bold;
color:#E82E05;
font-size:16px;
top:3px;
right:-20px;
}
.hewarp li{ 
float:left;padding:0 5px;
width:20%;
text-align:center;
margin:0 auto;
}
.hewarp li a,.hewarp li span{
display:block;
font-size:11px;
height:45px;
width:100%;


}

.hewarp li img{
width:25px;
display:block;
margin:0 auto;
 padding-top:2px;

}
.moveleft_p{
position:relative;
left:-120px; 
}
i.mlgomr{
width:24px;
height:20px;
background-position:-2px -35px;
display:block;
position:fixed;
left:145px;
top:45%;

}
.mlwarp{
z-index:999;
position:absolute;
left:0;
top:-15px;
display:none;

}

i.alltype,i.pageup{
width:23px;
height:21px;
display:block;
margin:7px 12px 0 12px;
}
i.pageup{
background-position:0 0;
}
i.alltype{
background-position:-23px 0;
}




.moveright{
display:none;
}
.moveright_p{
display:block;
position:absolute;
right:0;
top:0;
width:120px;
background:#3E3939;
height:100%;
color:#fff;
box-shadow:5px 5px 10px #000;
}
.moveright_p li a{
color:#fff;
display:block;
padding:10px 0;
}
.disnone{
display:block;
}
.moveright_p strong{
display:block;
text-align:center;
font-weight:bold;
font-size:16px;
padding:15px 0;
}

.moveright_p ul{
padding-left:10px;
}
.moveright_p li{
padding:0px 10px 0px 15px;
border-bottom:1px solid #908E8E;
border-top:1px solid #222;
}






.bgstyle{
margin:10px 5px 4px 5px;
background:#fff;
box-shadow:0px 0px 4px #eee;
border-radius:4px;
-webkit-border-radius:4px;
overflow:hidden;
padding:5px;
zoom:1;
border-bottom:1px solid #ddd;
}

.bgindex{
margin:10px 0px 4px 0px;
border-radius:4px;
-webkit-border-radius:4px;
overflow:hidden;
zoom:1;
}


.banner img {
width:100%;

}




.indexsub li{
 width:50%;
 float:left;
 
}
.indexsub .subtype{
height:50px;
color:#fff;
padding:10px ;
position:relative;
}
.indexsub .subtype em{
font-weight:bold;
display:block;
font-size:14px;
}

.indexsub .subtype span{
display:block;

font-size:14px;
}
.s1 .subtype{
background:#FB7251;
}

.s2 .subtype{
background:#7ED2EB;
}
.s3 .subtype {
background:#8FD4DB;
}
.s4 .subtype{
background:#FDC800;
}
.s5 .subtype{
background:rgba(153, 153, 153, 1);
}
.s6 .subtype{
background:#7ED2EB;
}
.s1 span{
color:#EAEAEA;
}
.s2 span{
color:#65B3CB;
}
.s3 span{
color:#71B8BF;
}
.s4 span{
color:#DBA707;
}
.s5 span{
color:rgba(104, 104, 104, 1);
}
.s6 span{
color:#65B3CB;
}
.indexsub .subtype s{
position:absolute;
height:53px;
right:15px;
top:3px;
display:block;
}

.bg1 s{
width:49px;
}

.bg2 s{
width:48px;
}
.bg3 s{
width:59px;
}
.bg4 s{
width:47px;
}
.bg5 s{
width:48px;
}
.bg6 s{
width:54px;
}




.titlestyle{
margin:10px 10px 0 10px;
box-shadow:0px 0px 4px #eee;
border-radius:4px;
-webkit-border-radius:4px;
overflow:hidden;
padding:5px;
border-bottom:2px solid #1ACBFC;
border-top:1px solid #EDEDED;
font-size:14px;
font-weight:bold;
zoom:1;
background:#f8f8f8;
}
.indexgoodslist ul{
margin-left:10px;
overflow:hidden;
padding:5px 0;

}
.hotswiper{
height:158px;
}
.indexgoodslist li{
width:120px;
float:left;
margin:0;
overflow:hidden;
}
.indexgoodslist li .bgstyle{
padding:5px;
margin:0 0 0 10px;
}
.indexgoodslist a{
padding:10px;
display:block;
}
.indexgoodslist .pic {
display:block;
overflow:hidden;
height:85px;
}
.indexgoodslist .name{
padding-top:5px;
height:40px;
overflow:hidden;
display:block;
}
.indexgoodslist img{
width:100%;
}



.indexnotice{
 background:#D9EDF7;
 border-bottom:2px solid #1ACBFC;
 border-top:1px solid #1ACBFC;
 color:#666;
 font-size:14px;
}













.bannerswiper{
  height:160px;
}
.swiper-container,.hotswiper {
  
  
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}


.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.pagination {
  position: absolute;
  z-index: 20;
  left: 40%;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 5px;
  border-radius: 2px;
  background: #08488B;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #ccc;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
  border: 1px solid #444;
}
















#footer{
clear:both;
overflow:hidden;
border-top:1px solid #fff;
background:#f8f8f8;
margin:20px 0px 50px 0px;

}
.footerwarp{
border-top:1px solid #ddd;
padding:10px 0;
}

.fttop li{
float:left;
width:30%;
text-align:center;
}
.fttop li a{
color:#666;
font-weight:bold;
}
.copy{
text-align:center;
color:#666;
margin-top:5px;
}











.tabsinfo{
padding:0;
}
.customer{
padding:5px;

}

.cartabs li.this{
background:#fff;
border-bottom:1px solid #fff;
}

.cartabs li span{
display:block;
border:solid #ccc;
border-width:1px 1px 0 1px;
}
.cartabs li.this span{
display:block;
font-weight:bold;
}
.cartabs li{
 height:36px;
   border-bottom:1px solid #ccc;
 overflow:hidden;
 text-align:center;
 width:50%;
 line-height:36px;
 float:left;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#E3E3E3)); 
  background-image: -webkit-linear-gradient(top, #F7F7F7, #E3E3E3); 
  background-image:    -moz-linear-gradient(top, #F7F7F7, #E3E3E3); 
  background-image:     -ms-linear-gradient(top, #F7F7F7, #E3E3E3); 
  background-image:      -o-linear-gradient(top, #F7F7F7, #E3E3E3); 
background:linear-gradient(to bottom, #F7F7F7, #E3E3E3);
}
.customerfont{
background:#F0F0FA;
margin:5px 0 ;
padding:5px 5px 5px 10px;
}




.moreshop .bgstyle{
margin-top:3px;

}
.merchantlogo img{
 -webkit-border-radius: 50px;  
border-radius: 50px;  
-moz-border-radius : 50px; 
box-shadow:0px 0px 6px #666;
width:65px;
height:65px;
margin-left:10px;

}
.merchantlogo{
margin-right:-100%;
overflow:visible;
}
.userinfo strong{
display:block;
color:#0579C6;
font-size:16px;
}
.userinfo em{
display:block;
margin-top:2px;
color:#666;
font-weight:normal;
}

.userinfo font{
color:#666;
font-weight:normal;
}

.userinfo{
margin-left:90px;
}










.mreinfo{
border-top:1px solid #ddd;
}
.moreclick{
padding:5px 0px;
display:block;
}
.moreindex {
padding:9px 0px;
}
.moreshow{ background-color:#FFF;
}

.moreindexmob span{
padding:0 5px;
}
.opentime{
font-size:12px;
}
.takeback{
text-align:center;
color:#666;
padding:3px 0;
}


i.takeback_1{
width:14px;
height:17px;
background-position:-76px 6px;
display:inline-block; 
margin:5px 0 0 10px;
}

.shopopen{
position:absolute;
right:5px;
top:-8px;
font-size:14px;
font-weight:bold;
color:#5EA823;
}
.moreindexmob{
margin-top:10px;
color:#666;

}
.mreinfo{
padding:1px 1px;
}
.mreinfo li{
padding:5px 10px;
font-size:12px;
}
.mreinfo li em{
color:#555;
}
.morelist .hover{
background:#f8f8f8;
}

.embox{
padding:0px 0;
}
.em_mobile{
position:absolute;
font-size:12px;
color:#666;
bottom:-21px;
z-index:10;
}
.em_mobile a{
font-size:12px;
color:#666;
margin-left:5px;
}




.inventory{
font-size:11px;
color:#666;
margin-right:5px;
height:19px;
line-height:25px;
display:block;
}

.nature{
	
	font-size:12px;
	padding:0px 10px;
	height:19px;
	line-height:19px;
	color:#fff;
	margin:2px 10px 0 0 ;
	text-shadow:1px 1px 1px #000;
	border-radius:50px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EB5C58), to(#BD362F)); 
  background-image: -webkit-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:    -moz-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:     -ms-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:      -o-linear-gradient(top, #EB5C58, #BD362F); 
   background-image:linear-gradient(to bottom, #EB5C58, #BD362F);
   
  }
  

  

.maxgoods{
position:fixed;
width:80%;
top:50%;
margin-top:-60px;
left:10%;
display:none;
background:#333;
border:1px solid #555555;
border-radius:5px;
z-index:666;
color:#fff;
padding:25px 0;
text-align:center;

box-shadow:0px 0px 3px #000;
}


.inblock{
display:block!important;
}








.mainmenu li{
float:left;
width:50%;
text-align:center;
font-size:18px;
height:65px;
overflow:hidden;
}
 .mainmenu li .menubtn {
	box-shadow: none;-moz-box-shadow:none;-webkit-box-shadow:none;
	display:block;
	height:65px;
	color:#fff;
	line-height:65px;
	font-weight:bold;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap; 
    border-radius:0;
    margin: 0;
}
 .mainmenu {
    padding: 0;
}
 .mainmenu li {
    margin-right:0;
} 
 .mainmenu li:nth-child(10n+1) .menubtn{
        background-color:#fd9e0c;
}
 .mainmenu li:nth-child(10n+2) .menubtn{
        background-color:#474548;
}
 .mainmenu li:nth-child(10n+3) .menubtn{
        background-color:#d43316;
}
 .mainmenu li:nth-child(10n+4) .menubtn{
        background-color:#034e78;
}
 .mainmenu li:nth-child(10n+5) .menubtn{
        background-color:#436773;
}
 .mainmenu li:nth-child(10n+6) .menubtn{
        background-color:#2cb9b3;
}
 .mainmenu li:nth-child(10n+7) .menubtn{
        background-color:#2bba67;
}
 .mainmenu li:nth-child(10n+8) .menubtn{
        background-color:#037863;
}
 .mainmenu li:nth-child(10n+9) .menubtn{
        background-color:#844F00;
}
 .mainmenu li:nth-child(10n+10) .menubtn{
        background-color:#B88E2C;
} 

.success,.warning,.attention,.information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}


