
.screen{
overflow:hidden;
}
.screen li{
float:left;
width:31%;
text-align:center;
font-weight:bold;
color:#444;
padding:2px 0;
}
.screen li.this{
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); 
  background-image: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:     -ms-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:      -o-linear-gradient(top, #FFFFFF, #EAEAEA); 
background-image:linear-gradient(to bottom, #FFFFFF, #EAEAEA);
border:1px solid #ddd;
color:#95830F; 
}
.screenli{
border-right:1px solid #ddd;
}

 

 .listgoods dl{
   overflow:hidden;
 }
 .listgoods dt{
   margin-right:-100%;
   float:left;
 }
  .listgoods dt img{
   width:100px;
   max-height:90px;
  }
  .listgoods dd{
  
   margin-left:110px;
   
  }
  .listgoods .pr{
   color:#DE6C12;
   font-weight:bold;
   display:block;
   font-size:16px;
  }
  .listgoodsinfo{
  padding:5px 0;
  }
  .listgoodsinfo font{
   font-size:14px;
   color:#666;
  }
  .addcar input{
   background-image: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351)); 
  background-image: -webkit-linear-gradient(top, #62C462, #51A351); 
  background-image:    -moz-linear-gradient(top, #62C462, #51A351); 
  background-image:     -ms-linear-gradient(top, #62C462, #51A351); 
  background-image:      -o-linear-gradient(top, #62C462, #51A351); 
   background-image:linear-gradient(to bottom, #62C462, #51A351);
  
   text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
   color:#fff;
   padding:0 5px;
   height:25px;
   line-height:25px;
   border:0;
  }
  .lgplus,.lgminus{
  text-shadow:0px 0px 6px #488148;
     width:28px ;
	 line-height:21px;
	 height:23px;
	 
	   background-image: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351)); 
  background-image: -webkit-linear-gradient(top, #62C462, #51A351); 
  background-image:    -moz-linear-gradient(top, #62C462, #51A351); 
  background-image:     -ms-linear-gradient(top, #62C462, #51A351); 
  background-image:      -o-linear-gradient(top, #62C462, #51A351); 
   background-image:linear-gradient(to bottom, #62C462, #51A351);
      
	 border:0;
	 -webkit-border-radius: 50px;  
	border-radius: 50px;  
	-moz-border-radius : 50px; 
	font-weight:bold;
	color:#fff;
	
  }
 
  .addtext{
    width:40px;
	height:22px;
	text-align:center;
	border:1px solid #7F9DB9;
	-webkit-border-radius: 5px;  
	border-radius: 5px;  
	-moz-border-radius : 5px; 
	
  }
  .page li{
   float:left;
   width:33%;
   font-weight:bold;
  }
  .page li a{
   font-weight:bold;
  }
  .page_up{
   border-right:1px solid #ddd;
   padding:0 15px;
   text-align:center;
  }
  .pagenext{
   border-left:1px solid #ddd;
   padding:0 15px;
   text-align:center;
  }
  .pnavselect{
   margin-left:30px;
   text-align:center;
   border:0;
  }
  




.goodspr{
padding:5px 0;
}
.goodspr em{
font-size:18px;
color:#DE6C12;
margin-right:15px;
padding-left:15px;
font-weight:bold;
}
.goodspr font{
font-weight:bold;
color:#666;
}
.gpicwarp img{
width:100%;
}
.buyadd span{
width:47%;
float:left;

}
.buyadd input,.account input{
 background-image: -webkit-gradient(linear, left top, left bottom, from(#EB5C58), to(#BD362F)); 
  background-image: -webkit-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:    -moz-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:     -ms-linear-gradient(top, #EB5C58, #BD362F); 
  background-image:      -o-linear-gradient(top, #EB5C58, #BD362F); 
   background-image:linear-gradient(to bottom, #EB5C58, #BD362F);
   border:0;
   height:35px;
   line-height:35px;
   
   color:#fff;
   text-shadow:0px 0px 3px #666;
   width:90%;
}


input.addbuying{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0084CC), to(#0045CC)); 
  background-image: -webkit-linear-gradient(top, #0084CC, #0045CC); 
  background-image:    -moz-linear-gradient(top, #0084CC, #0045CC); 
  background-image:     -ms-linear-gradient(top, #0084CC, #0045CC); 
  background-image:      -o-linear-gradient(top, #0084CC, #0045CC); 
   background-image:linear-gradient(to bottom, #0084CC, #0045CC);
}


.texttitle{
margin-top:10px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#D5E5F3)); 
  background-image: -webkit-linear-gradient(top, #FBFBFB, #D5E5F3); 
  background-image:    -moz-linear-gradient(top, #FBFBFB, #D5E5F3); 
  background-image:     -ms-linear-gradient(top, #FBFBFB, #D5E5F3); 
  background-image:      -o-linear-gradient(top, #FBFBFB, #D5E5F3); 
 background-image:linear-gradient(to bottom, #FBFBFB, #D5E5F3);
 height:29px;
 border:solid #ccc;
border-width:1px;
text-shadow:0px 0px 3px #ccc;
font-weight:bold;
margin:10px 10px 0 10px ;
-webkit-border-bottom-left-radius: 0px;  
-webkit-border-bottom-right-radius: 0px;  
border-bottom-right-radius: 0px;  
border-bottom-left-radius: 0px;  
}
.texttitle li{
float:left;
padding:0 15px;
line-height:29px;
text-align:center;
border-right:1px solid #ccc;
}
.texttitle li.this{
background:#fff;
height:30px;
}
.evalinput dt{
float:left;
width:60px;
height:25px;
line-height:25px;
}
.evalinput{
border-top:1px dotted #ddd;
}
.evalinput dl{
padding:7px 0;
}
.evalinput dd{
height:25px;
line-height:25px;
}
.evalinput .a1{
height:25px ;
width:70%;
border:1px solid #ddd;
box-shadow:0px 0px 3px #ddd inset;
text-indent:1em;
}
.textcontent{
margin-top:0px;
padding:10px;
}
.mtextarea textarea{
width:80%;
border:1px solid #ddd;
height:80px;
box-shadow:0px 0px 3px #ddd inset;
padding:5px;
}
 

.textcontent img{
max-width:300px;
}

.msubm{
 background-image: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351)); 
  background-image: -webkit-linear-gradient(top, #62C462, #51A351); 
  background-image:    -moz-linear-gradient(top, #62C462, #51A351); 
  background-image:     -ms-linear-gradient(top, #62C462, #51A351); 
  background-image:      -o-linear-gradient(top, #62C462, #51A351); 
   background-image:linear-gradient(to bottom, #62C462, #51A351);
  
   text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
   color:#fff;
   padding:0 15px;
   height:25px;
   line-height:25px;
   border:0;
}
.mdelete{
 padding:0 15px;
   height:25px;
   line-height:25px;
   border:0;
background-color:#EAEAEA;
border:1px solid #ccc;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); 
  background-image: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:     -ms-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:      -o-linear-gradient(top, #FFFFFF, #EAEAEA); 
background:linear-gradient(to bottom, #FFFFFF, #EAEAEA);
}
.imagetext .bgstyle{
-webkit-border-top-left-radius: 0px;  
-webkit-border-top-right-radius: 0px;  
border-top-right-radius: 0px;  
border-top-left-radius: 0px;  
}

.evalinput{
padding:5px 10px;
}
.ymessage dl{
overflow:hidden;
padding:10px 5px; 
}

.ymessage dt{
float:left;
margin-right:-100%;
width:40px;
text-align:center;
}
.ymessage dd{
margin-left:50px;
}
.color_1{
background:#f8f8f8;
border-top:1px dotted #ddd;
}
.ymname span{
 font-size:10px;
 color:#D94D48;
}
.evaluation{
padding:0;
}
.webcartop{
text-align:right;
}
.webcartop span{
display:block;
}
.webcartop em{
 color:red;
 font-weight:bold;
}






.webcar li{
margin-top:5px;
}
.webcar li strong{
display:block;

}
.webcar li em.pr{
color:#DE6C12;
font-size:16px;
font-weight:bold;
}
.webcar .ab{
color:#333;
}

.cardelete{
margin-left:25px;
width:15px;
height:19px;
background-position:-53px 0;
border:0;
}

.borderstyle{
height:30px ;
width:70%;
border:1px solid #ddd;
box-shadow:0px 0px 3px #ddd inset;
text-indent:1em;
}
.borderstyle1{
height:30px ;
width:15%;
border:1px solid #ddd;
box-shadow:0px 0px 3px #ddd inset;
text-indent:1em;
}
.borderstyle2{
height:30px ;
width:59%;
border:1px solid #ddd;
box-shadow:0px 0px 3px #ddd inset;
text-indent:1em;
}

.customer dl{
overflow:hidden;
padding:10px 0;

}
.customer dt{
margin-right:-100%;
float:left;
width:70px;
font-weight:bold;
text-align:right;
}
.customer .borderstyle{
width:90%;color:#666;
}


.customer textarea{
width:90%;
height:100px;
}
.customer dd{
margin-left:80px;
}

.account input{
margin-top:10px;
width:100%;
height:35px;
}









.Handler select{
border:1px solid #ddd;
padding:3px 0 0 5px;

}
.situation em{
padding:0 5px 0 2px;
}





.merchantlogo img{
 -webkit-border-radius: 50px;  
border-radius: 50px;  
-moz-border-radius : 50px; 
box-shadow:0px 0px 6px #666;
width:60px;
height:60px;
margin-left:13px;

}
.merchantlogo{
margin-right:-100%;
overflow:visible;
}
.merchant h1{
margin-left:90px;
line-height:50px;
}

.merchantcon p{
text-indent:2em;
margin-bottom:15px;
}

.merchantcon img{
max-width:320px;
}






input.loginsub,input.register{
width:45%;
}
input.register{
color:#333;
background-color:#EAEAEA;
border:1px solid #ccc;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); 
  background-image: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:     -ms-linear-gradient(top, #FFFFFF, #EAEAEA); 
  background-image:      -o-linear-gradient(top, #FFFFFF, #EAEAEA); 
background:linear-gradient(to bottom, #FFFFFF, #EAEAEA);
}




.moveleft{
overflow:hidden;
}

.car_item_piao{
width:120px;
height:120px;
line-height:50px;
font-size:50px;
position:absolute;
left:350px;
top:-80px;
display:none;
z-index:9999;
color:red;
text-align:center;
}
.listgoods dl{
position:relative;
}
.listgoods dl,.listgoods .bgstyle,.listgoods .fl{
overflow:visible;
}






.litypelf{
height:30px;
padding:10px 0 5px 0;
position:fixed;
top:0;
left:0;
z-index:10000;
box-shadow:1px 1px 3px #ddd;
border-bottom:1px solid #eee;
width:100%;
}


.onc{
background-color:#090;
color:#FFF;
}
.litypelf .bgstyle{
margin:0 0 0 10px;
padding:5px 10px;
}


.invennocon{
left:86px;
top:2px;

}



  .colordd{
  text-shadow:0px 0px 6px #DCDCDC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#CCCCCC)); 
  background-image: -webkit-linear-gradient(top, #DCDCDC, #CCCCCC); 
  background-image:    -moz-linear-gradient(top, #DCDCDC, #CCCCCC); 
  background-image:     -ms-linear-gradient(top, #DCDCDC, #CCCCCC); 
  background-image:      -o-linear-gradient(top, #DCDCDC, #CCCCCC); 
   background-image:linear-gradient(to bottom, #DCDCDC, #CCCCCC);
  
  }







