@charset "utf-8";
/*----------重置----------*/
/*全局*/
*{
	margin:0;
	padding:0;	
}
html{
	height: 100%;
}
body{
	height: 100%;
	font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,"WenQuanYi Micro Hei","\5B8B\4F53",sans-serif;
	font-size:12px;
	line-height:1.5;
	color: #333;
}
/*标题*/
h1,h2,h3,h4,h5,h6{line-height:2;}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:12px}
/*特殊*/
del{text-decoration:line-through;}
b{font-weight:bold;}
i,em{font-style: normal;}
sub,sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}
small{font-size: 85%}
/*链接*/
a{color:inherit;text-decoration:none;outline:none;background-color:transparent;cursor: pointer;}
a:hover{text-decoration:none;outline:none}
/*图片*/
img{border:0;vertical-align:bottom;}
/*列表*/
ul,ol,dl{list-style-type:none}
/*表格*/
table {width:100%;border-spacing: 0;border-collapse: collapse}
table th,table td{text-align:left;padding: 5px 10px}
/*表单*/
input,button,textarea,select,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;outline:none}
/*综合*/
hr{height:0;border:none; border-bottom:#ddd solid 1px;margin:5px 0 10px 0;clear:both; }
iframe{border: none;}
code{
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 1.2em;
}
pre,code{
	white-space: pre-wrap;
}
blockquote{
	margin: 10px 0;
	padding-left: 15px;
	border-left: 5px solid #ccc;
}



/*----------字体样式----------*/
/*字体库*/
.songti{font-family: "\5b8b\4f53"}
.heiti{font-family: "\9ED1\4F53"}
.yahei{font-family: "microsoft yahei"}
.impact{font-family: "impact"}
/*字体颜色*/
.gray{color: #808080}
.red{color:#FF3000}
.blue{color:#145CCD}



/*----------图片样式----------*/
img.auto{max-width:100%;height:auto;}



/*----------排版样式----------*/
/*浮动布局*/
.fl{float:left}.fr{float:right}
.cl:after,.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.cl,.clearfix{zoom:1}
.clear{clear:both; height: 0;}
/*文本对齐*/
.center{margin:0 auto;}
.tl{text-align: left;}.tr{text-align: right;}.tc{text-align: center;}.tj{text-align:justify;}
.ti{text-indent:24px;}
/*内距外距*/
.mar10{margin: 10px;}.mar20{margin: 20px;}
.pad10{padding: 10px;}.pad20{padding: 20px;}
.mtp10{margin-top: 10px;}.mbt10{margin-bottom: 10px;}.mlf10{margin-left: 10px;}.mrt10{margin-right: 10px;}
.mtp20{margin-top: 20px;}.mbt20{margin-bottom: 20px;}.mlf20{margin-left: 20px;}.mrt20{margin-right: 20px;}
.ptp10{padding-top: 10px;}.pbt10{padding-bottom: 10px;}.plf10{padding-left: 10px;}.prt10{padding-right: 10px;}
.ptp20{padding-top: 20px;}.pbt20{padding-bottom: 20px;}.plf20{padding-left: 20px;}.prt20{padding-right: 20px;}
/*行距*/
.blank10{height: 10px;clear: both;}
.blank20{height: 20px;clear: both;}
/*显示-隐藏*/
.hide{display: none;}.show{display:block; visibility:visible;}.invisible{visibility:hidden;}



/*----------列表样式----------*/
ul.float > li,
ul.line > li{float: left;}
ul.float:after,
ul.line:after{content:" ";display:block;height:0;clear:both;visibility:hidden;zoom:1}
ul.list > li{padding: 5px 10px;}
ul.dot{list-style-type: disc;padding-left: 20px;margin: 10px 0;}


/*----------表格样式----------*/
table.color,
table.bordered,
table.line{
	width: 100%;
}
/*表格-隔行变色(IE无效)*/
table.color tr:nth-child(n){background:#ffffff}
table.color tr:nth-child(2n){background:#fafafa}
table.color tr:hover{background:#f5f5f5}
/*表格-全边框*/
table.bordered {border:1px solid #ddd;border-left: none;}
table.bordered td,table.bordered th{border-top: 1px solid #ddd;border-left: 1px solid #ddd;}
/*表格-单底部横线*/
table.line tr{border-bottom:1px solid #ddd;}
table.line thead tr:first-child{border-bottom:2px solid #ddd;}
table.line tr:last-child{border-bottom:none;}
/*表格-居中对齐*/
table.tc th,table.tc td{text-align: center;}



/*----------表单样式----------*/
/*按钮-标准样式*/
.btn,
button,
input[type="submit"],input[type="reset"],input[type="button"]{
	display: inline-block;
	border-radius: 3px;
	color: #555;
	line-height:1.6;
	border: 1px solid #ccc;
	background: #f7f7f7;
	cursor: pointer;
}
.btn{
	padding: 2px 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

button,
input[type="submit"],input[type="reset"],input[type="button"]{
	padding: 2px 10px;
}
.btn:hover,
button:hover,
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
	text-decoration: none;
	background: #fafafa;
	border-color: #999;
	color: #222;
}
.btn:active,
button:active,
input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active{
	position: relative;
	top: 1px;
}
.disabled:active,
input[disabled]:active{
	top:0;
}
.btn-big,
input[type="submit"].btn-big,input[type="reset"].btn-big,input[type="button"].btn-big{
	padding-left:40px;
	padding-right: 40px;
}
.btn-all,
input[type="submit"].btn-all,input[type="reset"].btn-all,input[type="button"].btn-all{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	text-align: center;
}
/*表单-标准样式*/
input[type="password"],
input[type="text"]{
	color: inherit;
	padding: 3px 5px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select{
	padding: 2px 2px 2px 5px;
	border: 1px solid #ddd;
	outline: none;
}
textarea{
	padding: 3px 3px;
	border: 1px solid #ddd;
	vertical-align: middle;
	outline: none;
}
label{
	cursor: pointer;
}
select:hover,
textarea:hover,
input[type="password"]:hover,
input[type="text"]:hover{
	border-color: #3bb4f2;
}
select:focus,
textarea:focus,
input[type="password"]:focus,
input[type="text"]:focus{
	border-color: #3bb4f2;
	color: #000;
	box-shadow: 0 0 0 2px rgba(70,161,231,0.3),0 1px 2px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 0 0 2px rgba(70,161,231,0.3),0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 0 2px rgba(70,161,231,0.3),0 1px 2px rgba(0,0,0,0.2) inset;
}
input[type="radio"],
input[type="checkbox"]{
	cursor: pointer;
	vertical-align: middle;
}

.readonly,
.readonly:hover,
.disabled,
.disabled:hover,
input[readonly],
input[readonly]:hover,
input[disabled],
input[disabled]:hover{
	background-color: #f1f1f1;
	color: #999;
	border-color: #ccc;
	cursor: default;
}

/*彩色按钮*/
input.btn-red,
.btn-red{
	color: #FFF !important;
	background-color: #D9534F;
	border-color: #AC2925;
} 
input.btn-red:hover,
.btn-red:hover{ 
	background-color: #C9302C;
	border-color: #AC2925;
}
input.btn-deep,
.btn-deep{
	color: #FFF !important;
	background-color: #428BCA;
	border-color: #285E8E;
}
input.btn-deep:hover,
.btn-deep:hover{ 
	background-color: #3276B1;
	border-color: #285E8E;
}
input.btn-blue,
.btn-blue{
	color: #FFF !important;
	background-color: #5BC0DE;
	border-color: #269ABC;
} 
input.btn-blue:hover,
.btn-blue:hover{ 
	background-color: #31B0D5;
	border-color: #269ABC;
}
input.btn-green,
.btn-green{
	color:#fff !important;
	background-color: #5CB85C;
	border-color: #398439;
}
input.btn-green:hover,
.btn-green:hover{ 
	background-color: #449D44;
	border-color: #398439;
}
/*表单组合*/
.input-group{
	display: inline-block;
}
.input-group > .text-icon{
	color: #999;
	padding: 3px 10px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background-color: #eee;
}
.input-group > .text-icon:first-child{
	border-left: 1px solid #DDD;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.input-group > .text-icon:last-child{
	border-right: 1px solid #DDD;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*表单填写提示*/
.input-tip{
	display: inline-block;
	color:#999;
	line-height:20px;
	height:20px;
	vertical-align: text-bottom;
	font-size:80%;
	overflow:hidden;
}



/*----------综合附加样式----------*/
/*边框*/
.border{ border: 1px solid #ddd;}
.border:hover{border-color:#ccc;}
/*面板*/
.panel-box{
	border-radius: 5px;
	border:1px solid #ddd;
}
.panel-box > .tit{
	padding:7px 10px;
	background-color: #f5f5f5;
	border-bottom:1px solid #ccc;
}
.panel-box > .con{
	background-color: #fff;
	padding:10px;
}
.panel-box > .fot{
	padding:5px 10px;
	background-color: #f5f5f5;
	border-top:1px solid #ccc;
}
.panel-box > div:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.panel-box > div:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*消息提示*/
.alert-error,
.alert-success,
.alert{
	position: relative;
	padding: 8px 35px 8px 14px;
}
.alert-success{
	color: #468847;
	background-color: #dff0d8;
	border:1px solid #d6e9c6;
}
.alert-error{
	color: #b94a48;
	background-color: #f2dede;
	border:1px solid #eed3d7;
}
.alert{
	color: #31708f;
	background-color: #d9edf7;
	border:1px solid #bce8f1;
}
/*分页样式*/
.page span,
.page a{
	padding:2px 10px;
	line-height: 1.5;
	border: 1px solid #ddd;
	background-color:#f9f9f9;
	display: inline-block;
	margin-right: 5px;
    border-radius: 2px;
}
.page span,
.page a:hover{
	background-color:#fff;
	border-color:#ccc;
	color: #000;
	text-decoration: none;
}
/*进度条*/
.progress{ background-color: #F7F7F7; background-repeat: repeat-x; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; height: 10px; overflow: hidden;border: 1px solid #ccc; }
.progress-bar{  -moz-box-sizing: border-box; background-color: #399DD8; background-repeat: repeat-x; box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset; color: #FFFFFF; float: left; font-size: 12px; height: 100%; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); transition: width 0.6s ease 0s; width: 0; }
/*阴影*/
.shadow{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/*圆角*/
.radius { 
	border-radius: 5px;/*(IE>=7)*/
	-webkit-border-radius: 5px;/*webkit*/  
	-moz-border-radius : 5px; /*Mozilla*/ 
}


/*----------栅格系统----------*/
.wrapauto{width:100%;clear:both;}
.wrap{margin-left:auto;margin-right:auto;text-align:left;} 
.wrap,.row{*zoom: 1;}
.wrap:after,.row:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.row [class^="span-"],.row [class*=" span-"]{float: left;}

/*@media (max-width: 991px){*/
.wrap{width:950px;}
.row{margin-left: -10px;}
.span-12{width:950px;}.span-11{width:870px;}.span-10{width:790px;}.span-9{width:710px;}.span-8{width:630px;}.span-7{width:550px;}
.span-6{width:470px;}.span-5{width:390px;}.span-4{width:310px;}.span-3{width:230px;}.span-2{width:150px;}.span-1{width:70px;}
.row [class^="span-"],.row [class*=" span-"]{margin-left: 10px;}
/*}*/

@media (min-width:1200px){
.wrap{width:1180px;} 
.row{margin-left: -20px;}
.span-12{width:1180px;}.span-11{width:1080px;}.span-10{width:980px;}.span-9{width:880px;}.span-8{width:780px;}.span-7{width:680px;}
.span-6{width:580px;}.span-5{width:480px;}.span-4{width:380px;}.span-3{width:280px;}.span-2{width:180px;}.span-1{width:80px;}
.row [class^="span-"],.row [class*=" span-"]{margin-left: 20px;}
}



/*备用信息*/
/*
IE HACK
_          IE6
*          IE6/7
!important IE7/Firefox
*+         IE7
\9         IE6/7/8
\0         IE8
*/
/*
CSS 书写顺序
位置：position,left,right,float
盒模型属性：display,margin,padding,width,height
边框与背景：border,background
段落与文本：line-height,text-indent,font,color,text-decoration,...
其他属性：overflow,cursor,visibility,...
*/