/**
 * 描    述: oneThink后台主体样式
 * 作用范围：后台独有
 */

/* 头部Logo,主导航
--------------------------------------*/
html {
    height: 100%;
    overflow-y: scroll;
}
body{
    padding: 0 0 0 0px;
}
.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #383838;
}
.header .logo {
    float: left;
    margin-left: 16px;
    width: 184px;
    height: 49px;
    background: url(../images/logo.png) no-repeat 0 0px;
}

/* 主导航 */
.main-nav {
    float: left;
    overflow: hidden;
}
.main-nav li {
    float: left;
    width: 82px;
}
.main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #FFF;
    text-align: center; font-weight: bold;
}
.main-nav a:hover {
    text-decoration: none;
    background-color:#656565;
}
.main-nav .current{
    background-color: #656565;
}
.main-nav .current a {
    background-color: #86db00;
}

/* 用户 */
.header .user-bar {
    position: relative;
    float: right;
    margin-right: 20px;
}
.header .user-bar .user-entrance {
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/bg_icon.png) no-repeat -150px 0;
}
.header .user-bar .user-entrance:hover {
    border-bottom: 0 none;
    text-decoration: none;
}
.header .user-menu {
    position: absolute;
    top: 50px;
    right: -8px;
    width: 140px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.header .user-menu li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}
.header .user-menu a {
    padding: 0 15px;
}
.header .user-menu a:hover {
    color: #424242;
    background-color: #f5f5f5;
}
.header .user-menu .manager {
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 边栏导航样式
------------------------------------------ */
.sidebar {
    position: fixed;
    top:0;
    float: left;
    left: 0;
    padding-top: 50px;
    width: 10%;
    height: 100%;
	background: url("../images/bg.png") repeat #6b6b6b ;
    z-index:2;
}
.subnav {
    padding-left: 15px;
}

/* 子导航标题栏 */
.subnav h3 {
    margin-right: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.subnav h3 a {
	color:#fff;
	text-decoration: none;
}
.subnav h3 a:hover {
    text-decoration: none;
}
.subnav h3 .icon,
.subnav h3 .icon-fold,
.subnav h3 .recycle {
    float: left;
    margin: 10px 6px 0 0;
    width: 16px;
    height: 16px;
}
.subnav h3 .icon {
    background: url(../images/bg_icon.png) no-repeat -100px 0;
}
.subnav h3 .icon-fold {
    background-position: -75px 0;
}
.recycle {
    background: url(../images/bg_icon.png) no-repeat -125px 0;
}

/* 子导航 */
.side-sub-menu {
    margin: 5px 0;
}
.side-sub-menu > li {
    position: relative;
    margin: 2px -1px 2px 0;
}
.side-sub-menu > li > .item {
    padding:6px 0;
    line-height:20px;
    padding-left: 26px;
    display:block;
    color: #f1f1f1;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.side-sub-menu > li > .item:hover,
.side-sub-menu > li.hover > .item {
	color: #ffffff;
	text-decoration: none;
	background: #7c7c7c;
	margin-right:1px;
}
.side-sub-menu > .current > .item {
    color: #414141;
    text-decoration: none;
}
.side-sub-menu > .current > .item,
.side-sub-menu > .current > .item:hover,
.side-sub-menu > .current.hover > .item {
	color: #414141;
    background: url(../images/subnav_current.png) no-repeat 165px 12px #f6f6f6;
}

/* 子菜单 */
.side-sub-menu li .subitem {
    display: none;
    position: absolute;
    top: 0;
    left: 185px;
    z-index: 9;
    width: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.side-sub-menu .hover > .subitem {
    display:  block;
}
.side-sub-menu .subitem .subitem {
    margin-top: -1px;
    left: 150px;
}
.side-sub-menu .subitem .item {
    display: block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
.side-sub-menu .subitem .item:hover {
    text-decoration: none;
    border-bottom: 0 none;
    background: url(../images/subnav_current.png) no-repeat 130px 12px #f5f5f5;
}
.side-sub-menu .subitem > .item {
    border-radius: 0;
    border: 0 none;
    width: auto;
}
