<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/center.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/usercenter.css" rel="stylesheet" type="text/css"/>
</block>

<block name="body">
<div id="main-container" class="container">
    <div class="usercenter">
        <div class="uc">
            <include file="_top"/>
            <include file="_top_menu"/>

            <div class="uc_content clearfix">
                <div class="col-md-8">
                    {:W($module.'/UcenterBlock/render',array('uid'=>$user_info['uid'],'page'=>$page,'tab'=>$tab))}
                </div>
                <div class="col-md-4 uc_other_link">
                    <include file="_right_link"/>
                </div>
            </div>
        </div>
    </div>
</div>
</block>

