.ng-cloak{display:none;}

.row-group{margin-bottom:15px;}
.container-dock{padding-bottom:3.7em;}

.nav-bardown{position:fixed; bottom:0; left:0; height:3.7em; overflow:hidden; background:#f4f4f4; border-top:1px solid #d8d5d4;}
.nav-bardown li{display:table-cell;width:2000px;float:none;}
.nav-bardown li a{padding-top:.2em; text-align:center; color:#7a7f83; text-decoration:none;}
.nav-bardown li a:hover{background-color:#dddddd;}
.nav-bardown i{display:block; font-size:2em;}
.nav-bardown span{display:block;font-size:0.5em;}
.nav-bardown a.active, .nav-bardown a.active i{color:#5ac5d4;}

.map-container{position:fixed;left:0;right:0;top:0;bottom:0;z-index:20;}

.form-control-static-list{line-height:1.8em;}
