.no_results{font-size:15px;color:#aaa;padding:200px 0;text-align:center;}
.no_results:before{font:20px/1px iconfont;content: "\e719";color:#ff4040;padding-right:5px;}

.ui-state-highlight{background: #8eccf4;border:1px dashed #0579C6;height: 100px;line-height: 100px;width: 1200px;margin:0 auto;text-align: center}
.ui-state-highlight::after{content: '放到这里';color:#0579C6}
.editable-page-model select{color:#777;background-color:#FFF;height:30px;vertical-align:middle;*display:inline;padding:4px;border:solid 1px #CCC;*zoom:1;margin-right:5px;}
.editable-page-model select option{line-height:20px;display:block;height:20px;padding:4px;}
.editable-page-model input[type="file"]{line-height:20px;background-color:#FBFBFB;height:20px;border:solid 1px #D8D8D8;cursor:default;}
.editable-page-model input[type="text"], .editable-page-model input[type="password"], .editable-page-model input.text, .editable-page-model input.password{font:12px/20px Arial;color:#777;background-color:#FFF;vertical-align:top;display:inline-block;height:20px;padding:4px;border:solid 1px #CCC;outline:0 none;}


.editable-page-model .dssc-form-goods-pic{min-height:480px;overflow:hidden;}
.editable-page-model .dssc-form-goods-pic .container{width:708px;float:left;}
.editable-page-model .dssc-form-goods-pic .sidebar{width:228px;float:right;}
.editable-page-model .dssc-form-goods-pic .dssc-goodspic-list{margin-bottom:20px;border:solid 1px #E6E6E6;overflow:hidden;}
.editable-page-model .dssc-goodspic-upload .show-sort{line-height:20px;color:#999;width:55px;height:20px;padding:4px 0 4px 4px;border-style:solid;border-color:#E6E6E6;border-width:1px 0 1px 1px;position:absolute;z-index:2;left:10px;top:140px;}
.editable-page-model .dssc-goodspic-upload .show-sort .text{font-size:12px;font-weight:bold;line-height:20px;vertical-align:middle;width:10px;height:20px;padding:0;border:none 0;}
.editable-page-model .dssc-goodspic-upload .show-sort .text:focus{color:#28B779;text-decoration:underline;box-shadow:none;}
.editable-page-model .dssc-goodspic-upload .dssc-upload-btn{width:60px;height:30px;margin:0;position:absolute;z-index:1;left:70px;top:140px;}
.editable-page-model .dssc-goodspic-upload .dssc-upload-btn span{width:60px;height:30px;position:absolute;left:0;top:0;z-index:2;cursor:pointer;}
.editable-page-model .dssc-goodspic-upload .dssc-upload-btn .input-file{width:60px;height:30px;}
.editable-page-model .dssc-goodspic-upload .dssc-upload-btn p{width:58px;height:20px;}
.editable-page-model .dssc-upload-btn p{font-size:12px;line-height:20px;background-color:#F5F5F5;color:#999;text-align:center;color:#666;width:78px;height:20px;padding:4px 0;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;position:absolute;left:0;top:0;z-index:1;}
.editable-page-model .dssc-upload-btn p i{vertical-align:middle;margin-right:4px;display: inline-block}
.editable-page-model .dssc-upload-btn .input-file{width:80px;height:30px;padding:0;margin:0;border:none 0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
.editable-page-model .dssc-goodspic-list>ul{font-size:0;*word-spacing:-1px/*IE6ã€7*/;margin-left:-1px;}
.editable-page-model .dssc-goodspic-list>ul li{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;*display:inline/*IE6,7*/;width:140px;height:180px;border-left:solid 1px #E6E6E6;position:relative;z-index:1;zoom:1;}
.editable-page-model .dssc-goodspic-list>ul li .upload-thumb{line-height:120px;font-size:0;background-color:#FFF;text-align:center;vertical-align:middle;display:table-cell;*display:block;width:120px;height:120px;border:solid 1px #F5F5F5;position:absolute;z-index:1;top:10px;left:10px;overflow:hidden;}
.editable-page-model .dssc-goodspic-list>ul li .upload-thumb img{max-width:120px;max-height:120px;margin-top:expression(120-this.height/2);*margin-top:expression(60-this.height/2)/*IE6,7*/;}

.editable-page-model .dssc-goodspic-upload .image-btn-list{position: absolute;top:15px;right:15px;z-index: 2}
.editable-page-model .dssc-goodspic-upload .image-btn-list .image-btn{margin-left: 10px;font-size: 20px;}

.editable-page-model .dssc-upload-btn{vertical-align:top;display:inline-block;*display:inline/*IE7*/;width:80px;height:30px;*zoom:1;}
.editable-page-model .dssc-upload-btn a{display:block;position:relative;z-index:1;}
.editable-page-model .dssc-upload-btn span{width:80px;height:30px;position:absolute;left:0;top:0;z-index:2;cursor:pointer;}
.editable-page-model .dssc-upload-btn .input-file{width:80px;height:30px;padding:0;margin:0;border:none 0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
.editable-page-model .dssc-upload-btn p{font-size:12px;line-height:20px;background-color:#F5F5F5;color:#999;text-align:center;color:#666;width:78px;height:20px;padding:4px 0;border:solid 1px;border-color:#DCDCDC #DCDCDC #B3B3B3 #DCDCDC;position:absolute;left:0;top:0;z-index:1;}
.editable-page-model .dssc-upload-btn p i{vertical-align:middle;margin-right:4px;display: inline-block}



.editable-page-model .dssc-btn-mini{font:normal 12px/20px arial;color:#fff;background-color:#3480c1;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:0 10px;margin-right:2px;border-style:solid;border-width:1px;border-color:#3480c1;cursor:pointer;border-radius:2px; }
.editable-page-model .dssc-btn-mini:hover{text-decoration:none;color:#fff;background-color:#1e629c;border-color:#1e629c;}
.editable-page-model .dssc-btn{font:normal 12px/20px "microsoft yahei";text-decoration:none;color:#fff !important;background-color:#3480c1;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:4px 10px;border:solid 1px;border-color:#3480c1;cursor:pointer;border-radius:2px;}
.editable-page-model .dssc-btn:hover{text-decoration:none;color:#fff;background-color:#1e629c;border-color:#1e629c;}
.editable-page-model .dssc-btn-mini i, .editable-page-model .dssc-btn i{font-size:14px;vertical-align:middle;margin-right:4px;}
.editable-page-model .dssc-btn-blue, .editable-page-model .dssc-btn-acidblue, .editable-page-model .dssc-btn-green, .editable-page-model .dssc-btn-orange, .editable-page-model .dssc-btn-red, .editable-page-model .dssc-btn-black,
.editable-page-model .dssc-btn-blue:hover, .editable-page-model .dssc-btn-acidblue:hover, .editable-page-model .dssc-btn-green:hover, .editable-page-model .dssc-btn-orange:hover, .editable-page-model .dssc-btn-red:hover, .editable-page-model .dssc-btn-black:hover, .editable-page-model .dscs-table-handle .btn-orange-current{color:#FFF;}
.editable-page-model .dssc-btn-blue,
.editable-page-model .dscs-table-handle .btn-blue:hover {background-color:#006DCC;border-color:#006DCC;}
.editable-page-model .dssc-btn-acidblue,
.editable-page-model .dscs-table-handle .btn-acidblue:hover{background-color:#49AFCD;border-color:#49AFCD;}
.editable-page-model .dssc-btn-green,
.editable-page-model .dscs-table-handle .btn-green:hover{background-color:#0ecc6a;border-color:#0ecc6a;}
.editable-page-model .dssc-btn-orange,
.editable-page-model .dscs-table-handle .btn-orange:hover,
.editable-page-model .dscs-table-handle .btn-orange-current{background-color:#FAA732;margin:0;border-style:solid;border-width:1px;border-color:#FAA732 !important;}
.editable-page-model .dssc-btn-red,
.editable-page-model .dscs-table-handle .btn-red:hover{background-color:#DA4F49;border-color:#DA4F49;}
.editable-page-model .dssc-btn-black,
.editable-page-model .dscs-table-handle .btn-black:hover{background-color:#363636;border-color:#363636;}
.editable-page-model .dssc-btn-blue:hover{background-color:#0044CC;border-color:#0044CC;}
.editable-page-model .dssc-btn-acidblue:hover{background-color:#2F96B4;border-color:#2F96B4;}
.editable-page-model .dssc-btn-green:hover{background-color:#19ba62;border-color:#19ba62;}
.editable-page-model .dssc-btn-orange:hover{background-color:#F89406;border-color:#F89406;}
.editable-page-model .dssc-btn-red:hover{background-color:#BD362F;border-color:#BD362F;}
.editable-page-model .dssc-btn-black:hover{background-color:#222222;border-color:#222222;}



.editable-page-model .dssc-form-default{}
.editable-page-model .dssc-form-default h3{font-size:12px;font-weight:600;line-height:22px;color:#555;clear:both;background-color:#F5F5F5;padding:5px 0 5px 12px;border-bottom:solid 1px #E7E7E7;}
.editable-page-model .dssc-form-default dl{font-size:0;*word-spacing:-1px/*IE6、7*/;line-height:20px;clear:both;padding:0;margin:0;border-bottom:dotted 1px #E6E6E6;overflow:hidden;}
.editable-page-model .dssc-form-default dl:hover{background-color:#FCFCFC;}
.editable-page-model .dssc-form-default dl:hover .hint{color:#666;}
.editable-page-model .dssc-form-default dl.bottom{border-bottom-width:0px;}
.editable-page-model .dssc-form-default dl dt{font-size:13px;line-height:32px;vertical-align:top;letter-spacing:normal;word-spacing:normal;text-align:right;display:inline-block;width:19%;padding:10px 1% 10px 0;margin:0;}
.editable-page-model .dssc-form-default dl dt{*display:inline/*IE6,7*/;}
.editable-page-model .dssc-form-default dl dt i.required{font:12px/16px Tahoma;color:#F30;vertical-align:middle;margin-right:4px;}
.editable-page-model .dssc-form-default dl dd{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;width:79%;padding:16px 0 10px 0;}
.editable-page-model .dssc-form-default dl dd{*display:inline/*IE6,7*/;zoom:1;}
.editable-page-model .dssc-form-default dl dd span{*line-height:20px;*display:inline;*height:20px;*margin-top:6px;*zoom:1;}
.editable-page-model .dssc-form-default dl dd p{clear:both;}

.editable-page-model .dssc-default-table{line-height:20px;width:100%;border-spacing: 0;border-collapse:collapse;border: none;clear:both;margin-top:10px;}
.editable-page-model .dssc-default-table tbody tr.collapsed{display: none;}
.editable-page-model .dssc-default-table thead tr, .editable-page-model .dssc-default-table tbody tr{}
.editable-page-model .dssc-default-table thead th{line-height:25px;color:#333;background-color:#F5F5F5;text-align:center;height:25px;padding:10px 0;font-weight:600;font-size:13px;}
.editable-page-model .dssc-default-table thead td, .editable-page-model .dssc-default-table tfoot th{background-color:#FFF;height:22px;padding:5px 0;border-bottom:solid 1px #E6E6E6;}
.editable-page-model .dssc-default-table tfoot th{border-top:solid 1px #E6E6E6;}
.editable-page-model .dssc-default-table thead td label, .editable-page-model .dssc-default-table tfoot th label{color:#555;display:inline;float:left;margin-right:10px;cursor:pointer;}
.editable-page-model .dssc-default-table tbody th{background-color:#FAFAFA;border:solid #E6E6E6;border-width:1px 0;padding:4px 0;}
.editable-page-model .dssc-default-table tbody th span{display:inline-block;vertical-align:middle;margin-right:30px;}
.editable-page-model .dssc-default-table tbody th span.goods-name{text-overflow:ellipsis;white-space:nowrap;width:240px;height:20px;overflow:hidden;}
.editable-page-model .dssc-default-table tbody td{color:#999;background-color:#FFF;text-align:center;padding:10px 0;}
.editable-page-model .dssc-default-table tbody td strong{color:#666;}
.editable-page-model .dssc-default-table tfoot td{background-color:#FFF;text-align:center;padding:10px 0;}
.editable-page-model .dssc-default-table td .pic-thumb{line-height:0;background-color:#FFF;text-align:center;vertical-align:middle;display:table-cell;*display:block;width:40px;height:40px;border:solid 1px #F5F5F5;overflow:hidden;}
.editable-page-model .dssc-default-table td .pic-thumb img{max-width:40px;max-height:40px;margin-top:expression(32-this.height/2);*margin-top:expression(16-this.height/2)/*IE6,7*/;}
.editable-page-model .dssc-default-table td .goods-name{border:none;}
.editable-page-model .dssc-default-table td .goods-name dt{font-size:12px;color:#333;text-overflow:ellipsis;display:block;text-align:left;max-width:320px!important;max-height:36px;padding-bottom:4px;overflow:hidden;}
.editable-page-model .dssc-default-table td .goods-name dt span{line-height:16px;color:#FFF;background-color:#999;display:inline-block;*display:inline/*IE7*/;height:16px;padding:1px 4px;margin-right:2px;*zoom:1;box-shadow:inset 1px 1px 0 rgba(255,255,255,0.25);cursor:default;}
.editable-page-model .dssc-default-table td .goods-name dt span.type-virtual{background-color:#3598DC;}
.editable-page-model .dssc-default-table td .goods-name dt span.type-fcode{background-color:#9C59B8;}
.editable-page-model .dssc-default-table td .goods-name dt span.type-presell{background-color:#1ABC9D;}
.editable-page-model .dssc-default-table td .goods-name dt span.type-appoint{background-color:;}
.editable-page-model .dssc-default-table td .goods-name dt a{color:#005EA6;}
.editable-page-model .dssc-default-table td .goods-name dt a:hover{color:#DA542E;}
.editable-page-model .dssc-default-table td .goods-name dd{line-height:16px;display:block;height:16px;}
.editable-page-model .dssc-default-table td .goods-name .sale-type{background-color:#DA542E;padding:1px 4px;color:#FFFFFF}
.editable-page-model .dssc-default-table td .goods-name dd.serve{height:18px;padding-top:2px;}
.editable-page-model .dssc-default-table td .goods-name dd.serve span{color:#555;vertical-align:middle;display:inline-block;*display:inline/*IE7*/;margin-right:6px;position:relative;z-index:1;*zoom:1;cursor:default;}
.editable-page-model .dssc-default-table td .goods-name dd.serve i{font-size:18px;line-height:20px;}
.editable-page-model .dssc-default-table td .goods-name dd.serve i.commend{font-size:12px;background-color:#CCC;color:#FFF !important;line-height:16px;text-align:center;display:block;width:16px;height:16px;border-radius:2px;}
.editable-page-model .dssc-default-table td .goods-name dd.serve .open i{color:#3598DC;}
.editable-page-model .dssc-default-table td .goods-name dd.serve .open i.commend{background-color:#E84C3D;}
.editable-page-model .dssc-default-table td .goods-name dd.serve span .QRcode{background:#F5F5F5;display:none;width:160px;padding:5px;border:solid 1px #CCC;position:absolute;z-index:99;top:-90px;right:-170px;box-shadow:0 0 5px rgba(0,0,0,0.15);}
.editable-page-model .dssc-default-table td .goods-name dd.serve span .QRcode a{line-height:20px;display:block;text-align:right;}
.editable-page-model .dssc-default-table td .goods-name dd.serve span .QRcode p{line-height:0;background-color:#FFF;text-align:center;vertical-align:middle;display:table-cell;*display:block;width:160px;height:160px;overflow:hidden;}
.editable-page-model .dssc-default-table td .goods-name dd.serve span .QRcode img{max-width:160px;max-height:160px;margin-top:expression(160-this.height/2);}
.editable-page-model .dssc-default-table td .goods-name dd.serve span:hover .QRcode{display:block;}

.editable-page-model .div-goods-select-box{position:relative;z-index:1;zoom:1;}
.editable-page-model .div-goods-select{background-color:#FFF;margin-bottom:20px;border:solid 1px #E6E6E6;position:relative;z-index:1;zoom:1;}
.editable-page-model .div-goods-select .close,
.editable-page-model .div-goods-select-box .close{font:lighter 18px/18px Verdana;color:#E6E6E6;background-color:#FFF;text-align:center;display:block;width:20px;height:20px;border:1px solid #E6E6E6;border-radius:22px;position:absolute;z-index:1;top:-11px;right:-11px;cursor:pointer;}
.editable-page-model .div-goods-select .search-result{width:949px;margin:0 auto;overflow:hidden;}
.editable-page-model .div-goods-select .search-result .goods-list{font-size:0;*word-spacing:-1px/*IE6、7*/;width:950px;border:solid #E6E6E6;border-width:0 0 1px 0;margin-right:-1px;}
.editable-page-model .div-goods-select .search-result .goods-list li{font:12px/32px arial,"宋体";vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;*display:inline/*IE7*/;width:149px;padding:10px 20px;margin:0 0 -1px 0;border-style:solid;border-color:#E6E6E6;border-width:0 1px 1px 0;overflow:hidden;zoom:1;}
.editable-page-model .div-goods-select .search-result .goods-thumb{line-height:0;background-color:#FFF;text-align:center;vertical-align:middle;display:table-cell;*display:block;width:140px;height:140px;padding:4px;overflow:hidden;}
.editable-page-model .div-goods-select .search-result .goods-thumb img{max-width:140px;max-height:140px;margin-top:expression(140-this.height/2);*margin-top:expression(70-this.height/2)/*IE6,7*/;}
.editable-page-model .div-goods-select .search-result .goods-info{border:none;}
.editable-page-model .div-goods-select .search-result .goods-info dt{text-align:left;width:auto;display:block;line-height:16px;height:32px;padding:0;overflow:hidden;}
.editable-page-model .div-goods-select .search-result .goods-info dd{line-height:20px;height:auto !important;padding:5px 0;}
.editable-page-model .div-goods-select .norecord{font-size:12px;color:#AAA;text-align:center;display:block;padding:40px 0;}


.editable-page-model .search-form{color:#999;width:100%;border: 1px solid #e5e5e5;background: #f5f5f5;}
.editable-page-model .search-form th{font-size:12px;line-height:22px;text-align:right;width:50px;padding:8px 8px 8px 0;}
.editable-page-model .search-form th.w250{width:250px}
.editable-page-model .search-form td{text-align:left;padding:20px 10px;}
.editable-page-model .search-form input.text{vertical-align:middle;width:148px;}
.editable-page-model .search-form .add-on{vertical-align:top;}
.editable-page-model .search-form input[type="submit"],
.editable-page-model .search-form input.submit,
.editable-page-model .search-form a.submit{font:12px/30px "microsoft yahei";width:64px;height:30px;padding:0;cursor:pointer;border-radius:2px}
.editable-page-model .search-form input[type="submit"]:hover{}


.editable-page-model .dssc-form-goods-pic{min-height: auto !important}
.editable-page-model .dssc-goodspic-list, .editable-page-model .dssc-goodspic-list>ul li{border: 0 !important}
.editable-page-model .model-item-wrapper{float: left}
.editable-page-model .model-item-wrapper[data-show="0"]{display: none}
.model-btn{border:1px solid #e1e1e1;border-top: 0}
.model-btn{text-align: center;font-size:14px;padding-bottom: 10px;padding-top:10px;}
.model-btn a{font-size: 20px;margin:0 10px;color:#0D93BF}
.model-btn a.disable{color:#999}
.model-title{border:1px solid #e1e1e1;border-bottom: 0;padding-bottom: 10px;padding-top:10px;padding-left: 10px}
.model-title .title{font-size:15px;padding-right: 5px;font-weight: bold}
.model-title .desc{font-size: 12px;color:#999}
.model-list{width:210px;border:1px solid #e1e1e1;height: 690px}
.model-list{padding-left: 15px;position: relative;}
#model_list{padding-top:20px;padding-bottom:20px;}
.editable-page-model .model-item{text-align: center;border: 1px solid #d2d2d2;margin: 5px;}
.editable-page-model .model-item-wrapper input[type=radio]{opacity: 0;position: absolute}
.editable-page-model .model-item .model-image{line-height: 120px;width:180px;font-size: 0}
.editable-page-model .model-item img{max-width:180px;max-height: 120px;vertical-align: middle}
.editable-page-model .model-item .model-name{height: 30px;line-height: 30px;background: #f3f3f3;font-size: 14px;}
.editable-page-model .model-item-wrapper input[type=radio]:checked +.model-item{border-color:#3480c1}
#editable_model_form{max-height: 600px;overflow: hidden;overflow-y: auto}


.editable-page-handle,.editable_model_handle_list{position:absolute;top:0;bottom:0;left:0;right:0;}
.editable_model_handle_list{z-index: 2}
.editable-page-handle{z-index: 3;min-height: 30px;text-align: left}
.editable-page-handle > div{text-align: center;display:none;margin-left:5px;margin-top:5px;width:60px;height:30px;line-height:30px;color:#fff;font-size:12px;cursor: pointer}
.editable-page-handle > div:before{padding-right: 4px;font-family: 'iconfont'}
.editable-page-handle .handel-brand{background:#50b1ff}
.editable-page-handle .handel-brand:before{content:"\e624"}
.editable-page-handle .handel-cate{background:#50b1ff}
.editable-page-handle .handel-cate:before{content:"\e623"}
.editable-page-handle .handel-voucher{background:#50b1ff}
.editable-page-handle .handel-voucher:before{content:"\e727"}
.editable-page-handle .handel-text{background:#50b1ff}
.editable-page-handle .handel-text:before{content:"\e8ed"}
.editable-page-handle .handel-link{background:#50b1ff}
.editable-page-handle .handel-link:before{content:"\e67d"}
.editable-page-handle .handel-goods{background:#50b1ff}
.editable-page-handle .handel-goods:before{content:"\e732"}
.editable-page-handle .handel-store{background:#50b1ff}
.editable-page-handle .handel-store:before{content:"\e663"}
.editable-page-handle .handel-editor{background:#50b1ff}
.editable-page-handle .handel-editor:before{content:"\e672"}
.editable-page-handle .handel-image{background:#50b1ff}
.editable-page-handle .handel-image:before{content:"\e72a"}
.editable-page-handle:hover{border:1px dashed #0579C6;background:none}
.editable-page-handle:hover > div{display:inline-block;}

.editable-page-model *[data-type]{position: relative}
.editable-page-model:hover .editable_model_handle_list{border:1px dashed #0579C6;background:none}
.editable-page-model:hover .editable_model_handle_list > a{display:inline-block}
.editable_model_handle_list > a{display:none;text-align:center;margin-left:5px;position:relative;top:-30px;width:50px;height:30px;line-height:30px;color:#fff;}
.editable_model_handle_list .handle_add{background:#7559ca;}
.editable_model_handle_list .handle_edit{background:#288ee4;}
.editable_model_handle_list .handle_move_up{background:#00af26;}
.editable_model_handle_list .handle_move_down{background:#ffb64a;}
.editable_model_handle_list .handle_drop{background:#ea6060;}
.edit-mode{position:relative;z-index:100}

.edit-mode .editable-page-model-3{min-height: 300px;}
.dialog_wrapper{z-index: 1000 !important;}
.editable-page-model{position:relative;z-index: 2}
.editable-page-model .editable-page-content{margin:0 auto;position:relative}
.editable-page-model:first-child .editable_model_handle_list .handle_move_up{display:none}
.editable-page-model:last-child .editable_model_handle_list .handle_move_down{display:none}

.editable-page-model-1{width:100%;height:100%;}
.editable-page-model-1 .content-wrapper,.editable-page-model-1 .content-wrapper .bd,.editable-page-model-1 .content-wrapper .bd ul,.editable-page-model-1 .content-wrapper .bd ul li{position: relative;width:100%;height:100%;}
.editable-page-model-1 .content-wrapper .bd ul li{background-size:cover;background-position:center;background-repeat:no-repeat}
.editable-page-model-1 .content-wrapper .bd ul li a{display: block;width: 100%;height: 100%}

.editable-page-model-1 .ctrl {position: absolute;top: 50%;display: inline-block;vertical-align: middle;width: 41px;height: 54px;margin: -27px 0 0;background: #333;font-size: 24px;text-align: center;line-height: 54px;color: #fff;cursor: pointer;opacity: .75;filter: alpha(opacity=75);}
.editable-page-model-1 .ctrl.prev{left:20px}
.editable-page-model-1 .ctrl.next{right:20px}

.editable-page-model-1 .content-wrapper .hd {position: absolute;width: 100%;bottom: 18px;text-align: center;}
.editable-page-model-1 .content-wrapper .hd li {display: inline-block;width: 10px;height: 10px;margin: 0 8px;cursor: pointer;background: 0 0;border: 2px solid #fff;border-radius: 50%;}
.editable-page-model-1 .content-wrapper .hd li.on {background: #fff;box-shadow: 0 0 0 4px rgba(255, 255, 255, .5);}

.editable-page-model-2 .content-wrapper{position: relative;width:100%;height: 100%;}

.editable-page-model-3 .editable-page-content{width:1200px;}
.editable-page-model-3 .goods-list{overflow: hidden}
.editable-page-model-3 .goods-item{float: left;margin-left: 20px;margin-bottom: 20px;border-radius: 10px;overflow: hidden;width:386.66px;}
.editable-page-model-3 .goods-item:nth-child(3n+1){margin-left: 0}
.editable-page-model-3 .goods-item:nth-last-child(1),.editable-page-model-3 .goods-item:nth-last-child(2),.editable-page-model-3 .goods-item:nth-last-child(3){margin-bottom: 0}
.editable-page-model-3 .goods-item .goods-image{width:100%;height: 320px;background-size: 80%;background-repeat: no-repeat;background-position: center;background-color: #fff}
.editable-page-model-3 .goods-item .goods-info{background: #fff;padding:30px;background: #fff;overflow: hidden;}
.editable-page-model-3 .goods-item .goods-price{color:#333;margin-top: 10px;float: left;}
.editable-page-model-3 .goods-item .goods-price .strong{font-size: 24px;}
.editable-page-model-3 .goods-item .red-btn{float: right}
.editable-page-model .red-btn{background:#C73132;color: #fff;text-align: center;font-size: 15px;line-height: 40px;border-radius: 40px;width:120px;margin:0 auto;} 
.editable-page-model-3 .goods-item .goods-name{color:#7A7A7A;font-size: 18px;background: #fff;padding:10px;width: 100%;box-sizing: border-box;height: 93px;}
.editable-page-model-3 .goods-item .goods-name .p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:100%;line-height: 1.5}
.editable-page-model-3 .goods-item .goods-name .strong{font-size: 24px;color:#333;margin-bottom: 10px;}

.editable-page-model-4 .editable-page-content{width:1200px;}
.editable-page-model-4 .content-wrapper{border-radius: 10px;overflow: hidden;}
.editable-page-model-4 .image{height: 450px;width:100%;background-size: cover;background-position: center;position: relative}
.editable-page-model-4 .goods-item{position: relative}
.editable-page-model-4 .goods-wrapper{position: relative;width:100%;height: 195px;background: #fff;display: block}
.editable-page-model-4 .goods-wrapper .goods-image{width:185px;height: 185px;background-size:100%;background-position: center;background-repeat: no-repeat;position: absolute;top:-30px;left:40px;}
.editable-page-model-4 .goods-wrapper .goods-name{position: absolute;left:255px;top:45px;color:#7A7A7A;font-size: 18px;width: 720px;}
.editable-page-model-4 .goods-wrapper .goods-name .p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:100%;line-height: 1.5}
.editable-page-model-4 .goods-wrapper .goods-name .strong{font-size: 24px;color:#333;margin-bottom: 10px;}
.editable-page-model-4 .goods-wrapper .goods-info{position: absolute;right:60px;bottom:40px;}
.editable-page-model-4 .goods-wrapper .goods-price{text-align: center;color:#333;margin-bottom: 15px;}
.editable-page-model-4 .goods-wrapper .goods-price .strong{font-size: 24px;}


.editable-page-model-7 .editable-page-content{width:1200px;}
.editable-page-model-7 .content-wrapper{border-radius: 10px;overflow: hidden;}
.editable-page-model-7 .image{height: 450px;width:100%;background-size: cover;background-position: center;position: relative}
.editable-page-model-7 .goods-item{position: relative}
.editable-page-model-7 .goods-wrapper{position: relative;width:100%;height: 428px;background: #fff;display: block}
.editable-page-model-7 .goods-wrapper .goods-image{width:428px;height: 100%;background-size:100%;background-position: center;background-repeat: no-repeat;position: absolute;top:0;left:0;}
.editable-page-model-7 .goods-wrapper .goods-name{color:#7A7A7A;font-size: 18px;margin-top:120px;height: 73px;margin-bottom: 85px}
.editable-page-model-7 .goods-wrapper .goods-name .p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:100%;line-height: 1.5}
.editable-page-model-7 .goods-wrapper .goods-name .strong{font-size: 24px;color:#333;margin-bottom: 10px;}
.editable-page-model-7 .goods-wrapper .goods-info{}
.editable-page-model-7 .goods-wrapper .goods-price{text-align: center;color:#333;margin-bottom: 15px;}
.editable-page-model-7 .goods-wrapper .goods-price .strong{font-size: 24px;}
.editable-page-model-7 .goods-wrapper .goods-content{width:740px;height:100%;text-align: center;position: absolute;left:450px;top:0;}

.editable-page-model-5 .editable-page-content{width:1200px;}
.editable-page-model-5 .goods-list{overflow: hidden}
.editable-page-model-5 .goods-item{float: left;margin-left: 20px;margin-bottom: 20px;border-radius: 10px;overflow: hidden}
.editable-page-model-5 .goods-item:nth-child(2n+1){margin-left: 0}
.editable-page-model-5 .goods-item:nth-last-child(1),.editable-page-model-5 .goods-item:nth-last-child(2){margin-bottom: 0}
.editable-page-model-5 .goods-image{width:590px;height: 370px;background-size:65%;background-position: center;background-repeat: no-repeat;background-color:#fff }


.editable-page-model-5 .goods-wrapper{position: relative;width:100%;height: 160px;background: #fff;display: block}

.editable-page-model-5 .goods-wrapper .goods-name{position: absolute;left:40px;top:30px;color:#7A7A7A;font-size: 18px;width: 350px;}
.editable-page-model-5 .goods-wrapper .goods-name .p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width:100%;line-height: 1.5}
.editable-page-model-5 .goods-wrapper .goods-name .strong{font-size: 24px;color:#333;margin-bottom: 10px;}
.editable-page-model-5 .goods-wrapper .goods-info{position: absolute;right:40px;bottom:40px;}
.editable-page-model-5 .goods-wrapper .goods-price{text-align: center;color:#333;margin-bottom: 15px;}
.editable-page-model-5 .goods-wrapper .goods-price .strong{font-size: 24px;}






.editable-page-model-h5-1{width:100%;height:100%;}
.editable-page-model-h5-1 .content-wrapper,.editable-page-model-h5-1 .content-wrapper .bd,.editable-page-model-h5-1 .content-wrapper .bd ul,.editable-page-model-h5-1 .content-wrapper .bd ul li{position: relative;width:100%;height:100%;}
.editable-page-model-h5-1 .content-wrapper .bd ul li{background-size:cover;background-position:center;background-repeat:no-repeat}


.editable-page-model-h5-1 .content-wrapper .hd {position: absolute;width: 100%;bottom: 18px;text-align: center;}
.editable-page-model-h5-1 .content-wrapper .hd li {display: inline-block;width: 10px;height: 10px;margin: 0 8px;cursor: pointer;background: 0 0;border: 2px solid #fff;border-radius: 50%;}
.editable-page-model-h5-1 .content-wrapper .hd li.on {background: #fff;box-shadow: 0 0 0 4px rgba(255, 255, 255, .5);}

.editable-page-model-h5-2 .content-wrapper{position: relative;width:100%;height: 100%;}
.edit-mode .editable-page-model-h5-2 .html{min-height: 30px;}
.editable-page-model-h5-2 .html *{max-width: 100%}

.editable-page-model-8 .editable-page-content{width:1200px;}
.editable-page-model-8 .editable-page-content .content-wrapper{height: 400px;width: 100%;position: relative}
.editable-page-model-8 .editable-page-content .content-wrapper .fresh_fs_shadow {position: absolute;left: 0;bottom: -22px;width: 1200px;height: 24px;background: url(../images/fresh_fs_shadow.png) 0 0 no-repeat;}
.editable-page-model-8 .category-list{width:212px;height: 400px;background: #fff;position: relative;z-index: 4;float: left;background: hsla(0,0%,100%,.95);-moz-box-shadow: 0 1px 10px rgba(0,0,0,.14);box-shadow: 0 1px 10px rgba(0,0,0,.14);}
.editable-page-model-8 .category-list .tab_head_item {position: relative;height: 80px;border-left: 1px solid transparent;}
.editable-page-model-8 .category-list .tab_head_item_inner {position: relative;margin: 0 10px;padding: 18px 0 0 40px;width: 150px;height: 61px;border-top: 1px dotted #ddd;}

.editable-page-model-8 .category-list .category-item:first-child .tab_head_item .tab_head_item_inner{border-top-color:transparent}
.editable-page-model-8 .category-list .tab_head_item .item_icon {position: absolute;left: 0;top: 20px;width: 26px;height: 26px;}
.editable-page-model-8 .category-list .tab_head_item .item1 .item_icon {background-position: 0 0;background-repeat: no-repeat;width: 26px;height: 26px;}
.editable-page-model-8 .category-list .tab_head_item .item_title {display: block;position: relative;margin-bottom: 7px;height: 19px;font-size: 14px;color: #222;font-weight: 700;}
.editable-page-model-8 .category-list .tab_head_item .item_title:after {content: ">";position: absolute;right: 0;top: 0;height: 19px;line-height: 19px;font-family: simsun;}
.editable-page-model-8 .category-list .tab_head_item .item_children, .editable-page-model-8 .category-list .tab_head_item .item_title {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.editable-page-model-8 .category-list .tab_head_item .item_children_item {display: inline-block;padding: 0 5px;color: #909090;border-left: 1px solid #909090;line-height: 1;}
.editable-page-model-8 .category-list .tab_head_item .item_children_item:first-child {border-left: none;padding-left: 0;}

.editable-page-model-8 .category-list .category-item:hover .tab_head_item {background: #fff;border-left-color: #ddd;}
.editable-page-model-8 .category-list .category-item:hover .tab_head_item:after{content: ''}
.editable-page-model-8 .tab_head_item:after {content: none;position: absolute;z-index: 3;right: -1px;top: 0;width: 1px;height: 79px;background: #fff;}
.editable-page-model-8 .tab_head_item_inner:after, .editable-page-model-8 .tab_head_item_inner:before {content: none;position: absolute;left: -10px;width: 212px;height: 1px;background: #ddd;}
.editable-page-model-8 .tab_head_item_inner:before {top: -1px;}
.editable-page-model-8 .tab_head_item_inner:after {bottom: -1px;}
.editable-page-model-8 .category-list .category-item:hover .tab_head_item_inner:after, .editable-page-model-8 .category-list .category-item:hover .tab_head_item_inner:before{content: ''}
.editable-page-model-8 .category-list .category-item .tab_body_item{display: none;width:800px;height: 400px;background: #fff;position: absolute;left: 212px;top:0;box-sizing: border-box}
.editable-page-model-8 .category-list .category-item:hover .tab_body_item{display: block}
.editable-page-model-8 .tab_body_item {padding: 10px 20px;width: 760px;min-height: 378px;background: #fff;overflow: hidden;border: 1px solid #ddd;}
.editable-page-model-8 .category-list .category-item:hover .tab_head_item .tab_head_item_inner {border-top-color: transparent;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_item {position: relative;padding-left: 80px;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_tit {overflow: hidden;position: absolute;left: 0;top: 9px;width: 70px;text-align: right;font-weight: 700;white-space: nowrap;text-overflow: ellipsis;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_tit_lk {color: #666;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_tit_arrow {font-family: simsun;margin-left: 5px;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_con {overflow: hidden;padding: 6px 0;border-top: 1px solid #eee;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_item:first-child .cate_con {border-top: none;}
.editable-page-model-8 .fresh_fs_nav_cate .cate_con_lk {float: left;margin: 4px 0;padding: 0 10px;height: 16px;border-left: 1px solid #e0e0e0;line-height: 16px;white-space: nowrap;color: #666;}
.editable-page-model-8 .slide-wrapper{position: absolute;left: 212px;top:0;width:800px;height: 400px}
.editable-page-model-8 .slide-wrapper .bd,.editable-page-model-8 .slide-wrapper .bd ul,.editable-page-model-8 .slide-wrapper .bd ul li{position: relative;width:100%;height:100%;}
.editable-page-model-8 .slide-wrapper .bd ul li{background-size:cover;background-position:center;background-repeat:no-repeat}


.editable-page-model-8 .ctrl {position: absolute;z-index: 3;top: 50%;line-height: 60px;text-align: center;font-family: simsun;font-size: 20px;background: #ccc;color: #fff;display: none;margin-top: -30px;width: 30px;height: 60px;background-color: #333;background-color: rgba(0,0,0,.1);}
.editable-page-model-8:hover .ctrl{display: block}
.editable-page-model-8 .ctrl.prev{left:0}
.editable-page-model-8 .ctrl.next{right:0}

.editable-page-model-8 .slide-wrapper .hd {position: absolute;width: 100%;bottom: 18px;text-align: center;}
.editable-page-model-8 .slide-wrapper .hd ul{font-size: 0}
.editable-page-model-8 .slide-wrapper .hd li {margin: 0 5px;display: inline-block;width: 6px;height: 6px;background: #919596;border: 1px solid #fff;-moz-border-radius: 8px;border-radius: 8px;background: hsla(0,0%,100%,.5);}
.editable-page-model-8 .slide-wrapper .hd li.on {border-color: #fff;width:24px;background: #fff;opacity: .8;}

.editable-page-model-8 .fresh_fs_side {position: relative;z-index: 2;float: right;width: 188px;height: 400px;}
.editable-page-model-8 .fresh_fs_act {position: relative;display: block;width: 100%;height: 245px;}
.editable-page-model-8 .fresh_fs_toutiao {height: 151px;border-top: 4px solid #00c65d;background: #fff;}
.editable-page-model-8 .fresh_fs_toutiao_title {position: relative;height: 24px;padding: 16px 0;font-size: 16px;color: #222;text-align: center;}
.editable-page-model-8 .fresh_fs_toutiao_title_l, .editable-page-model-8 .fresh_fs_toutiao_title_r {display: block;position: absolute;top: 50%;width: 50px;height: 1px;background: #f0f0f8;}
.editable-page-model-8 .fresh_fs_toutiao_title_l {left: 10px;}
.editable-page-model-8 .fresh_fs_toutiao_title_l:after, .editable-page-model-8 .fresh_fs_toutiao_title_r:after {content: "";position: absolute;display: block;width: 15px;height: 2px;background: #222;bottom: 0;}
.editable-page-model-8 .fresh_fs_toutiao_title_l:after {right: 0;}
.editable-page-model-8 .fresh_fs_toutiao_title_text {display: inline-block;width: 75px;height: 24px;}
.editable-page-model-8 .fresh_fs_toutiao_title em {color: #00c65d;}
.editable-page-model-8 .fresh_fs_toutiao_title_r {right: 10px;}
.editable-page-model-8 .fresh_fs_toutiao_title_r:after {left: 0;}
.editable-page-model-8 .fresh_fs_toutiao_item {position: relative;display: block;margin: 0 16px 6px 0;padding-left: 18px;color: #222;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-webkit-transition: color .25s ease;-moz-transition: color .25s ease;transition: color .25s ease;}
.editable-page-model-8 .fresh_fs_toutiao_item:before {content: "";position: absolute;left: 10px;top: 50%;margin-top: -2px;width: 3px;height: 3px;background: #6f6f6f;-webkit-transition: all .25s ease;-moz-transition: all .25s ease;transition: all .25s ease;}
.editable-page-model-8 .fresh_fs_toutiao_item:hover {color: #00c65d;}
.editable-page-model-8 .fresh_fs_toutiao_item:hover:before {top: 0;margin-top: 0;height: 100%;background: #00c65d;}


.editable-page-model-9 .editable-page-content{width:1200px;}

.editable-page-model-9 .fresh_category_body {position: relative;background: #fff;}
.editable-page-model-9 .fresh_category_acts {height: 300px;}
.editable-page-model-9 .fresh_category_act1 {float: left;padding: 0 20px;width: 160px;height: 300px;}
.editable-page-model-9 .fresh_category_title {margin-bottom: 5px;padding-top: 22px;height: 39px;font-size: 26px;color: #fff;overflow: hidden;}
.editable-page-model-9 .fresh_category_subtitle {position: relative;margin-bottom: 20px;padding-bottom: 10px;height: 24px;font-size: 16px;color: #fff;white-space: nowrap;overflow: hidden;}
.editable-page-model-9 .fresh_category_subtitle:after {content: "";position: absolute;left: 0;bottom: 0;width: 59px;height: 4px;background: #fff;}
.editable-page-model-9 .fresh_category_keys {margin-bottom: 2px;height: 117px;overflow: hidden;}
.editable-page-model-9 .fresh_category_keys_item {float: left;margin: 0 9px 9px 0;padding: 0 13px;max-width: 132px;height: 28px;line-height: 28px;text-align: center;font-size: 14px;color: #fff;border: 1px solid #ddd;background: none;background: rgba(247,247,251,.2);-moz-border-radius: 15px;border-radius: 15px;overflow: hidden;}
.editable-page-model-9 .fresh_category_keys_item:hover {color: #fff;background: rgba(247,247,251,.4);}
.editable-page-model-9 .fresh_category_act2 {float: left;width: 600px;height: 300px;position: relative;}

.editable-page-model-9 .fresh_category_act3 {float: left;width: 400px;height: 300px;}
.editable-page-model-9 .fresh_category_goods {height: 280px;overflow: hidden;}
.editable-page-model-9 .fresh_category_goods .goods_item {float: left;padding: 30px 20px 0;width: 160px;height: 250px;}
.editable-page-model-9 .fresh_category_goods .goods_item_link {display: block;text-align: center;}
.editable-page-model-9 .fresh_category_goods .goods_item_link:hover .goods_item_img {-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);}
.editable-page-model-9 .fresh_category_goods .goods_item_img {margin-bottom: 18px;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;width: 150px;height: 150px;}
.editable-page-model-9 .fresh_category_goods .goods_item_name {margin-bottom: 4px;height: 42px;font-size: 14px;color: #222;text-align: left;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;font-weight: lighter;-webkit-transition: color .25s ease-in-out;-moz-transition: color .25s ease-in-out;transition: color .25s ease-in-out;}
.editable-page-model-9 .fresh_category_goods .goods_item_price {font-size: 18px;color: #ff541f;}
.editable-page-model-9 .fresh_category_brands{overflow: hidden;height:82px;}
.editable-page-model-9 .fresh_category_brands .brands_item {float: left;width: 119px;height: 80px;line-height: 80px;text-align: center;overflow: hidden;border: 1px solid #f0f0f8;border-left: 0;}
.editable-page-model-9 .fresh_category_brands .brands_item_img {max-width: 100%;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.editable-page-model-9 .fresh_category_brands .brands_item:hover .brands_item_img {-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);}
.editable-page-model-9 .fresh_category_brands .brands_item:first-child {width: 118px;border-left: 1px solid #f0f0f8;}

.editable-page-model-10 {}
.editable-page-model-10 .editable-page-content{width:1200px;}
.editable-page-model-10 .fresh_categorys_col {position: relative;float: left;width: 595px;margin-right: 10px;background: #fff;}
.editable-page-model-10 .fresh_categorys_col.two {margin-right: 0;}
.editable-page-model-10 .fresh_category_act1 {float: left;padding: 0 20px;width: 160px;height: 300px;}
.editable-page-model-10 .fresh_category_title {margin-bottom: 5px;padding-top: 22px;height: 39px;font-size: 26px;color: #fff;overflow: hidden;}
.editable-page-model-10 .fresh_category_subtitle {position: relative;margin-bottom: 20px;padding-bottom: 10px;height: 24px;font-size: 16px;color: #fff;white-space: nowrap;overflow: hidden;}
.editable-page-model-10 .fresh_category_subtitle:after {content: "";position: absolute;left: 0;bottom: 0;width: 59px;height: 4px;background: #fff;}
.editable-page-model-10 .fresh_category_keys {margin-bottom: 2px;height: 117px;overflow: hidden;}
.editable-page-model-10 .fresh_category_keys_item {float: left;margin: 0 9px 9px 0;padding: 0 13px;max-width: 132px;height: 28px;line-height: 28px;text-align: center;font-size: 14px;color: #fff;border: 1px solid #ddd;background: none;background: rgba(247,247,251,.2);-moz-border-radius: 15px;border-radius: 15px;overflow: hidden;}
.editable-page-model-10 .fresh_category_keys_item:hover {color: #fff;background: rgba(247,247,251,.4);}
.editable-page-model-10 .fresh_category_act3 {float: left;width: 395px;height: 300px;}
.editable-page-model-10 .fresh_category_goods {height: 280px;overflow: hidden;}
.editable-page-model-10 .fresh_category_goods .goods_item {float: left;padding: 30px 19px 0;width: 160px;height: 250px;}
.editable-page-model-10 .fresh_category_goods .goods_item_link {display: block;text-align: center;}
.editable-page-model-10 .fresh_category_goods .goods_item_link:hover .goods_item_img {-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);}
.editable-page-model-10 .fresh_category_goods .goods_item_img {margin-bottom: 18px;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;width: 150px;height: 150px;}
.editable-page-model-10 .fresh_category_goods .goods_item_name {margin-bottom: 4px;height: 42px;font-size: 14px;color: #222;text-align: left;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;font-weight: lighter;-webkit-transition: color .25s ease-in-out;-moz-transition: color .25s ease-in-out;transition: color .25s ease-in-out;}
.editable-page-model-10 .fresh_category_goods .goods_item_price {font-size: 18px;color: #ff541f;}
.editable-page-model-10 .fresh_category_brands{overflow: hidden;height:82px;}
.editable-page-model-10 .fresh_category_brands .brands_item {float: left;width: 118px;height: 80px;line-height: 80px;text-align: center;overflow: hidden;border: 1px solid #f0f0f8;border-left: 0;background-size:90%;background-repeat:no-repeat;background-position:center;}
.editable-page-model-10 .fresh_category_brands .brands_item_img {max-width: 100%;-webkit-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.editable-page-model-10 .fresh_category_brands .brands_item:hover .brands_item_img {-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);}
.editable-page-model-10 .fresh_category_brands .brands_item:first-child {width: 117px;border-left: 1px solid #f0f0f8;}


.editable-page-model-11 .editable-page-content{width:1200px;}
.editable-page-model-11 .tab_head {text-align: center;height:69px}
.editable-page-model-11 .tab_head_item {height:45px;position: relative;display: inline-block;vertical-align: middle;margin: 0 50px;width: 40px;padding: 10px 0 10px 50px;font-size: 16px;color: #909090;border-bottom: 4px solid transparent;cursor: pointer;}
.editable-page-model-11 .tab_head_item .mod_iconfont {position: absolute;left: 0;top: 10px;height:45px;width:90px;background-position:center 0 ;background-repeat: no-repeat;}
.editable-page-model-11 .mod_ver {display: inline-block;width: 0;height: 100%;vertical-align: middle;font-size: 0;}
.editable-page-model-11 .tab_head_item.on{border-bottom-color:#b49966}
.editable-page-model-11 .tab_body {position:relative;width: 1200px;background: #fff;-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.05);-moz-box-shadow: 0 1px 8px rgba(0,0,0,.05);box-shadow: 0 1px 8px rgba(0,0,0,.05);border-top: 1px solid #f2f2f2;}
.edit-mode .editable-page-model-11 .tab_body .handle-holder{position:absolute;width:100%;height:100%;}
.editable-page-model-11 .tab_body_item {padding: 30px 0 0 4px;overflow: hidden;}
.editable-page-model-11 .goods_item {float: left;margin: 0 9px 30px;padding: 30px 20px 0;width: 180px;height: 320px;font-size: 14px;-webkit-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.editable-page-model-11 .goods_item:hover {-webkit-transform: translateY(-10px);-moz-transform: translateY(-10px);-ms-transform: translateY(-10px);transform: translateY(-10px);}
.editable-page-model-11 .goods_item_img {margin: 0 auto 20px;width: 180px;height: 180px;}
.editable-page-model-11 .goods_item_tag {margin-bottom: 3px;color: #b49966;white-space: nowrap;height:20px}
.editable-page-model-11 .goods_item_name, .goods_item_tag {overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.editable-page-model-11 .goods_item_name {margin-bottom: 16px;height: 42px;color: #222;display: -webkit-box;-webkit-line-clamp: 2;}
.editable-page-model-11 .goods_item_priceg {position: relative;height: 20px;font-size: 0;}
.editable-page-model-11 .goods_item_price {display: inline-block;margin-right: 3px;font-size: 20px;line-height: 1;color: #ff541f;}
.editable-page-model-11 .goods_item_g {display: inline-block;font-size: 14px;line-height: 1;color: #909090;text-decoration: line-through;}
.editable-page-model-11 .tab_head_item.on .mod_iconfont{background-position:center -45px}

.editable-page-model-h5-12{}
.edit-mode .editable-page-model-h5-12 .menu{min-height: 30px}
.editable-page-model-h5-12 .menu {overflow: hidden;justify-content: space-around;background: #FFFFFF;}
.editable-page-model-h5-12 .menu .menu-item {margin: 1rem auto;width:20%;text-align:center;float: left;}
.editable-page-model-h5-12 .menu .menu-item .iconfont{margin:auto;width: 2.2rem;height: 2.2rem;line-height:2.2rem;font-size:1.4rem;color:#fff;background-image: linear-gradient(to bottom , #d69dcc,#e8198b );overflow: hidden;display:block;text-align: center;border-radius:50%;}
.editable-page-model-h5-12 .menu .menu-item .menu-item-icon {width: 2.2rem;height: 2.2rem;overflow: hidden;}
.editable-page-model-h5-12 .menu .menu-item .menu-item-title {display:block;color: #333;font-size:.6rem;margin-top:.2rem;}

.editable-page-model-h5-13{}
.editable-page-model-h5-13 .title{width:25%;text-align:center;font-size:0.7rem;font-weight:700;height: 2rem}
.editable-page-model-h5-13 .title img{max-width: 90%;max-height: 90%}
.editable-page-model-h5-13 .index-article{height: 2rem;line-height:2rem;overflow: hidden;display:flex;background:#fff;}
.editable-page-model-h5-13 .scroll-content{width:75%;position: relative;transition: top 0.5s;}
.editable-page-model-h5-13 .scroll-content li{line-height: 2rem;text-align: left;font-size:0.6rem;}

.editable-page-model-h5-14{}
.editable-page-model-h5-14 .tab_head{display: flex;height: 2.5rem;background: #fff}
.editable-page-model-h5-14 .tab_head .tab_head_item{flex:1;background-position:center 0 ;background-repeat: no-repeat;background-size: 5rem}
.editable-page-model-h5-14 .tab_head .tab_head_item.on{background-position:center -2.5rem;}
.editable-page-model-h5-14 .tab_body_list {min-height: 30px;background: #fff}
.editable-page-model-h5-14 .tab_body{position: relative}
.editable-page-model-h5-14 .tab_body_list .tab_body_item{display: flex;padding:.25rem}
.editable-page-model-h5-14 .tab_body_list .tab_body_item .image{flex:1;padding:.25rem;}
.editable-page-model-h5-14 .tab_body_list .tab_body_item .image img{width: 100%;}
.edit-mode .editable-page-model-h5-14 .tab_body .handle-holder{position:absolute;width:100%;height:100%;}

.editable-page-model-h5-15 .product-list-body{overflow: hidden;padding:.4rem;background:rgb(254,244,243);white-space: nowrap}
.editable-page-model-h5-15 i{font-style: normal}
.editable-page-model-h5-15 .product-list-body .product-info{display: inline-block;vertical-align: top;margin:.1rem;width:5rem;background: #fff;position: relative;padding-bottom:.2rem;}
.editable-page-model-h5-15 .product-list-body .product-info .product-icon{width:100%}
.editable-page-model-h5-15 .product-list-body .product-info .product-title{white-space: normal;display: -webkit-box;line-height: 1.5;padding:0 .2rem;color:#000;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;font-size: .6rem;height: 1.8rem}
.editable-page-model-h5-15 .product-list-body .product-info .product-price{padding: 0 .2rem;color:#F0250F;font-size: .6rem;}
.editable-page-model-h5-15 .product-list-body .product-info i{position: absolute;top:0;left:0;width:1rem;height: 1.2rem;line-height: 1.2rem;text-align: center;background-size: 100%;background-image: url(../images/label-back.png);background-repeat: no-repeat;background-position: center 0;font-size:.6rem;}
.editable-page-model-h5-15 .product-list-body .product-info:nth-child(1) i,.editable-page-model-h5-15 .product-list-body .product-info:nth-child(2) i,.editable-page-model-h5-15 .product-list-body .product-info:nth-child(3) i{background-position: center -1.2rem;color:#fff}