html {
  font-family:sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body {
  background:#f2f2f2;
  font-family:-apple-system-font, "Helvetica Neue",Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
a {
  color:#333;
  text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor: pointer !important;
    }

}
ul {
  padding-left: 0;
  margin-left: 0;
}


/*后台页面按钮样式*/
.btn-new{
	background: #00ce74;
	color: #fff;
	border: 1px solid #00ce74;
	border-radius: 2px;
}
.btn-new:hover{
	background: #03a75f;
	color: #fff;
	border: 1px solid #03c470;
}


.btn-open{
	background: #fff;
	color: #00ce74;
	border: 1px solid #00ce74;
	border-radius: 2px;
}
.btn-open:hover{
	background: #fff;
	color: #03a75f;
	border: 1px solid #03a75f;
}


.btn-forbid{
	background: #fff;
	color: #ff8e20;
	border: 1px solid #ff8e20;
	border-radius: 2px;
}
.btn-forbid:hover{
	background: #fff;
	color: #de7e1f;
	border: 1px solid #de7e1f;
}


.btn-delete{
	background: #fff;
	color: #ff2020;
	border: 1px solid #ff2020;
	border-radius: 2px;
}
.btn-delete:hover{
	background: #fff;
	color: #e61d1d;
	border: 1px solid #e61d1d;
}

.btn-up{
	background: #fff;
	color: #666;
	border: 1px solid #666;
	border-radius: 2px;
}
.btn-up:hover{
	background: #fff;
	color: #00ce74;
	border: 1px solid #00ce74;
}
/*后台页面按钮样式*/

.nav-secondary>li>.a-active{
	font-size: 18px;
}
.nav-secondary>li>.a-active:hover{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.nav-secondary>li.active>.a-active{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.nav-secondary>li.active>.a-active:hover,.nav-secondary>li.active>.a-active:focus{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.img-avatar{
	width: 84px;
	height: 84px;
}
.control-label{
	text-align: left!important;
}
/*ZUI修复*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
/*布局通用样式*/
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.main-wrapper {
  padding-top:58px;
}
#main-container {
  margin-top:10px;
}
.adv-wrap {
  position: relative;
  overflow: visible;

  .adv-content {
    line-height: 18px;
    text-align: center;
    padding-top: 5px;
    background: url('../images/adv_line.jpg');
    padding-left: 10px;

    .text {
      background: white;
      padding: 5px 10px;
    }
  }

  .adv-tool {
    display: none;
    position: absolute;
    width: 165px;
    right: 0;
    top: -24px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    box-shadow: 2px 2px #eee;
    line-height: 12px;
    z-index: 999999;

    a {
      line-height: 24px !important;
      padding: 10px 5px;
    }
  }

  .adv-size {
    display: none;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    position: absolute;
    z-index: 999;
    background: #fcfcfc;
    border: 1px solid #ddd;
    box-shadow: 2px 2px #eee;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tool {
  position: fixed;
  bottom: 60px;
  right: 50px;
  width: 46px;
  z-index: 999;
  >a {
    display: block;
    width: 48px;
    height: 46px;
    margin-bottom: 10px;
    background-image: url(../images/tools.png);
    border: 1px solid #dddddd;
  }
  a:last-child {
    margin-bottom: 0;
  }

  .go-top {
    background-position: 0 0;
    display: none;

    &:hover {
      background-position: 0 -46px;
    }
  }

  .admin-view {
    background-position: 0 -92px;

    &:hover {
      background-position: 0 -137px;
    }
  }
}

/*用户注册*/
.register_header {
  border-radius: 8px 8px 0 0;
}
.register {
  position:relative;
  margin:20px auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  .register_body {
    padding:20px;
    max-width:468px;
    margin:0 auto;

    #reg_nav li a{
      font-size:18px;
    }
    .tab-content {
      background:#fff;
      padding:20px;
      border:1px solid #ddd;
      border-top:0;

      input{
        border:1px solid #ddd;
      }
    }
  }

  .form-group {
    position:relative;
    margin-bottom:10px;
  }

  .new-input {
    display: inline-block;
  }

  .existing-account {
    text-align:center;
    line-height: 36px;
    margin-top:10px;
    border-top:1px solid #f6f6f6;
  }

  .register-finish {
    display: flex;
    padding-left: calc(100vw - 100%);
    min-height: calc(100vh - 140px); 
    margin:0 auto;
    padding:20px;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .avatar {
        text-align:center;
        padding:15px 0;

        span{
          display:block;
          text-align:center;
        }
      }
    }

    .font{
      font-size:14px;
      text-align:center;
      padding:15px 0;
      color:#666;
    }
  }
} 
/*用户登录*/
.login{
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  height: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  max-width:468px;
  .login-tit {
    text-align:center;
    font-size:22px;
    margin:10px auto;
  }
  .lg_lf_top {
      letter-spacing:10px;
      color:#333;
      font-weight: 300;
    }
}
@media screen and (max-width:768px){
  .login{
    position:relative;
    width:100%;
    left:0;
    top:0;
    -webkit-transform: translateX(0) translateY(0);
  }
}
/*找回密码*/
.mi_form_box {
   #mi_tab li a {
    font-size: 18px;
  }
}
/*悬浮样式end*/
.user-card {
  height: 230px;
  background: white;
  margin-bottom: 15px;

  .user_info {
    margin-bottom: 20px;
    position: relative;
  }
  .user-data > div {
    padding-bottom: 10px;
  }
  .headpic {
    padding: 0;
    border-radius: 50%;
    text-align: center;
    margin-top: -40px;
  }
  .cover {
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nickname {
    padding-top: 10px;
  }
}
/*头衔*/
.rank-icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.rank-label {
  display: inline-block;
  padding: 3px 7px;
  margin-right: 3px;
}
.tb_rank {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  margin: auto;

  td, th {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    color: #555;
  }
}

/*头衔end*/
/*编辑器修复*/
.edui-btn-toolbar {
  background: white;
}
/*编辑器修复end*/

/*提示信息颜色*/
.tooltip.green .tooltip-inner {
  background-color: #2ac25f;
}
.tooltip.green.top .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-left .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-right .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.right .tooltip-arrow {
  border-right-color: #2ac25f;
}
.tooltip.green.left .tooltip-arrow {
  border-left-color: #2ac25f;
}
.tooltip.green.bottom .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-left .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-right .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.red .tooltip-inner {
  background-color: #ee4e2f;
}
.tooltip.red.top .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-left .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-right .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.right .tooltip-arrow {
  border-right-color: #ee4e2f;
}
.tooltip.red.left .tooltip-arrow {
  border-left-color: #ee4e2f;
}
.tooltip.red.bottom .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-left .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-right .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
/*提示信息颜色end*/

/**
 * 确认操作默认框
 */
.tip-model-content {
    
  .tip-modal-icon {
    text-align: center;
    color:#ea644a;
    margin-bottom:30px;
  }

  .tip-modal-text {
    margin:0 auto;
    width:300px;
    color:#666;
    text-align: center;
    margin-bottom:30px;
  }
  .tip-modal-btn {
    margin-bottom:30px;
    text-align: center;

    .btn {
      margin:0 10px;
    }
  }
}
/**
 * 显示加载中样式
 */
.big_loading {
  background:rgba(0,0,0,0.2);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999;
  text-align: center;
    img{
        vertical-align: middle;
    }
    img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.modal {
  z-index:10050;
}
.modal-backdrop {
  z-index:10040;
}

/*通用footer*/
.footer-bar {
  background:#252c34;
  margin-top:20px;
  padding-top:30px;
  div {
    color:#fff;
  }
  a {
    color:#999;
  }
  .power-by {
    margin-top:10px;
    padding:8px 0;
    border-top:1px solid #2E343B;
  }
}



