{extend name="base" /}
{block name="css"}
<link href="__STATIC__/plugins/ztree/css/zTreeStyle/zTreeStyle.css?v={$v}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/mmgrid/mmGrid.css?v={$v}" />
{/block}
{block name="js"}
<script src="__STATIC__/plugins/ztree/jquery.ztree.all-3.5.js?v={$v}"></script>
<script src="__STATIC__/plugins/mmgrid/mmGrid.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/datas/datas.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div id='alertTips' class='alert alert-success alert-tips fade in'>
  <div id='headTip' class='head'><i class='fa fa-lightbulb-o'></i>操作说明</div>
  <ul class='body'>
    <li>本功能主要提供系统基础数据元的管理功能，开发者可以在此配置系统的基础选项值。</li>
    <li>该功能为开发者功能，普通使用者请勿随意修改，以免影响系统使用。</li>
  </ul>
</div>
<div class="j-layout">
    <div class='j-layout-left'>
        <div class='j-layout-panel layui-colla-title'>数据分类管理</div>
        <ul id="menuTree" class="ztree" style='overflow:auto'></ul>
    </div>
    <div class='j-layout-center' style='border:1px solid #f1f1f1;float:left;margin-left:5px;'>
      <div class='j-layout-panel layui-colla-title'>数据管理</div>
      {if WSTGrant('SJGL_01')}
      <div class="wst-toolbar" style='display:none'>
          <button class="btn btn-success f-right" onclick='javascript:toEdit(0)'><i class='fa fa-plus'></i>新增</button>
          <div style='clear:both'></div>
      </div>
      {/if}
      <div id="maingrid"  style='display:none'>
        <div id="mmg" class="mmg"></div>
        <div id="pg" style="text-align: right;"></div>
      </div>
    </div>
</div>
<div id='menuBox' style='display:none'>
<form id='menuForm'>
  <table class='wst-form wst-box-top'>
     <tr>
        <th width='120'>数据分类名称<font color='red'>*</font>：</th>
        <td><input type='text' id='catName' class='ipt2' data-rule="数据分类名称: required;"/></td>
     </tr>
     <tr>
        <th width='120'>数据分类代码<font color='red'>*</font>：</th>
        <td><input type='text' id='catCode' class='ipt2' data-rule="数据分类代码: required;"  /></td>
     </tr>
  </table>
</form>
</div>
<div id='dataBox' style='display:none'>
  <form id='dataForm' autocomplete='off'>
  <table class='wst-form wst-box-top'>
     <tr>
        <th width='100'>数据名称<font color='red'>*</font>：</th>
        <td><input type='text' id='dataName' class='ipt' data-rule="数据名称: required;"/></td>
     </tr>
     <tr>
        <th>数据值<font color='red'>*</font>：</th>
        <td><input type='text' id='dataVal' class='ipt' data-rule="数据值: required;"/></td>
     </tr>
     <tr>
        <th>排序号<font color='red'> </font>：</th>
        <td><input onkeypress='return WST.isNumberKey(event);' onkeyup="javascript:WST.isChinese(this,1)" type='text' id='dataSort' class='ipt' /></td>
     </tr>
  </table>
  </form>
</div>
<div id="rMenu">
  <ul>
    {if WSTGrant('SJFL_01')}<li id="m_add" >新增分类</li>{/if}
    {if WSTGrant('SJFL_02')}<li id="m_edit">编辑分类</li>{/if}
    {if WSTGrant('SJFL_03')}<li id="m_del" style='border-bottom:0px;'>删除分类</li>{/if}
  </ul>
</div>
{/block}