name: hiblog
version: 1

handle:
- expire: if( path ~ "/static" ) time 86400
- compress: if ( out_header["Content-type"] == "text/css" ) compress
- compress: if ( out_header["Content-type"] == "text/javascript" ) compress
- compress: if ( out_header["Content-type"] == "application/javascript" ) compress
- compress: if ( out_header["Content-type"] == "text/html" ) compress
- rewrite: if (%{REQUEST_URI} !~ "^/(index.php|robots.txt|static/|crossdomain.xml|favicon)") goto "/index.php%{REQUEST_URI}?%{QUERY_STRING}"