<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="static_minify" enabled="true" stopProcessing="true">
                    <match url="^static/(?:js|css)/(.+\.[^.]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?m=default&amp;c=minify%2fshow&amp;a=index&amp;g={R:1}" appendQueryString="true" />
                </rule>
                <rule name="yaf_index" enabled="true" stopProcessing="true">
                    <match url="^.+$" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php?m=default&amp;c={R:0}&amp;a=index" />
                    <conditions>
                        <add input="{URL}" pattern="^/(?:crossdomain\.xml|favicon\.ico|xhprof_httml/.*|static/.*|robots\.txt|index\.php/.*)$" negate="true" />
                    </conditions>
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
