body {
 background-color: #EEEEEE;
 font-family: Microsoft Yahei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Arial, Verdana, sans-serif;
 font-size: 12px;
 color: #333;
 margin: 0;
 padding: 0;
}
div, dl, dt, dd, ul, li, p {
 margin: 0;
 padding: 0;
}
h1, h2, h3, h4, h5, h6 {
 font-size: 12px;
 margin: 0;
 padding: 0;
 font-weight: normal;
}
img {
 border: 0;
}
ul, ol {
 list-style: none;
}
img {
 border: 0;
}
a {
 text-decoration: none;
 color: #626262;
}
a:hover {
 text-decoration: none;
}
input, textarea, select {
 vertical-align: middle;
}
*:focus {
 outline: none;
}
em, i {
 font-style: normal;
}
.bold {
 font-weight: bold;
}
.clear {
 clear: both;
 display: block;
 height: 0;
 line-height: 0;
 font-size: 0;
}
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
*html .clearfix {
 height: 1%;
}
*+html .clearfix {
 height: 1%;
}
.none {
 display: none;
}
.cue {
 color: #999;
}
p.cue {
 margin-top: 5px;
}
.cueRed {
 color: #C00;
}
.ml {
 padding-left: 10px;
}
.pl {
 padding-left: 10px;
}
.pr {
 padding-right: 10px;
}
.unread {
 font-weight: bold;
}
/* 主体框架
----------------------------------------------- */
#dcWrap {
 width: 100%;
 height: 100%;
}
#dcHead {
 background-color: #0072C6;
 float: left;
 height: 40px;
 width: 100%;
}
#dcLeft {
 float: left;
 width: 179px;
}
#dcMain {
 background-color: #FFFFFF;
 border-left: 1px solid #CCC;
 margin-left: 179px;
 padding-top: 40px;
 *padding-top:0;
 zoom: 1/* padding-top:40px; */
}
#dcFooter {
 height: 45px;
 background-color: #EEEEEE;
}
/*- form -*/
.t-center{
	text-align:center;
}
.btn {
 display: inline-block;
 background-color: #0072C6;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border: 0;
 color: #FFF;
 padding: 6px 15px;
 font-weight: bold;
 text-transform: capitalize;
 cursor: pointer;
}
.btnGray {
 display: inline-block;
 background-color: #EEE;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border: 0;
 color: #666;
 padding: 6px 15px;
 font-weight: bold;
 text-transform: capitalize;
 cursor: pointer;
}
.inpMain {
 border: 1px solid #DBDBDB;
 background-color: #FFF;
 padding: 4px 5px;
 color: #666;
 font-size: 12x;
 line-height: 20px;
}
.inpFlie {
 border: 1px solid #DBDBDB;
 background-color: #FFF;
 padding: 5px 5px;
 color: #666;
}
.textArea {
 border: 1px solid #DBDBDB;
 background-color: #FFF;
 padding: 4px 5px;
 color: #666;
 font-size: 12x;
 line-height: 20px;
}
.textAreaAuto {
 border: 1px solid #DBDBDB;
 background-color: #FFF;
 padding: 0;
 color: #999;
 font-size: 12x;
 line-height: 20px;
 resize: none;
 width: 280px;
 min-height: 40px;
}
select {
 border: 1px solid #DBDBDB;
 padding: 5px 5px 5px 2px;
}
.radio-text{
	display:inline-block;
	margin:3px 3px 0 0;
	vertical-align:middle;
	cursor:pointer;
}
.tab {
 border-bottom: 1px solid #60BBFF;
 font-weight: bold;
 font-size: 14px;
 height: 35px;
 overflow: hidden;
}
.tab li {
 float: left;
 line-height: 35px;
 height: 35px;
}
.tab a {
 display: block;
 background-color: #F9F9F9;
 padding: 0 44px;
 text-decoration: none;
 color: #999;
}
.tab a.selected {
 background-color: #60BBFF;
 color: #FFF;
}
.tableBasic {
 background-color: #F9F9F9;
 color: #666666;
 border-left: 1px dotted #CCCCCC;
 border-top: 1px dotted #CCCCCC;
}
.tableBasic select {
 color: #666;
}
.tableBasic td, .tableBasic th {
 border-right: 1px dotted #CCCCCC;
 border-bottom: 1px dotted #CCCCCC;
}
.tableBasic th {
 background-color: #EEEEEE;
 height: 16px;
}
.tableBasic .child {
 background-color: #FFFFFF;
}
.tableNobor td {
 border: 0;
}
.tableOnebor td {
 border-right: 0;
}
.showHidden {
 display: block;
 float: right;
 font-size: 12px;
 background-color: #CCC;
}
.showHidden b, .showHidden s {
 display: block;
 float: left;
 padding: 4px 15px;
 background-color: #CCC;
 color: #333;
 cursor: pointer;
}
.showHidden .d b {
 background-color: #0072C6;
 color: #FFF;
}
.showHidden .h s {
 background-color: #0072C6;
 color: #FFF;
}
#head .logo {
 border-right: 1px solid #0065B0;
 float: left;
 width: 179px;
 height: 40px;
}
#head .logo img {
 margin: 7px 0 0 13px;
}
#head .nav {
 margin-left: 180px;
 height: 40px;
 line-height: 40px;
 color: #D9D9D9;
 font-size: 13px;
}
#head .nav ul {
 float: left;
}
#head .nav ul.navRight {
 float: right;
}
#head .nav li {
 float: left;
 border-left: 1px solid #0080DD;
 border-right: 1px solid #0065B0;
}
#head .nav a {
 display: block;
 color: #D9D9D9;
 padding: 0 15px;
}
#head .nav a.topAdd {
 background: url(../images/top_add.gif) no-repeat 15px top;
 padding-left: 35px;
}
#head .nav a:hover {
 background-color: #60BBFF;
 color: #FFF;
}
#head .nav a.topAdd:hover {
 background: #60BBFF url(../images/top_add.gif) no-repeat 15px bottom;
	color:#666;
}
#head .nav .noLeft {
 border-left: 0;
}
#head .nav .noRight {
 border-right: 0;
}
#head .nav .M {
 position: relative;
}
#head .nav .active a {
 background-color: #FFF;
 color: #000;
}
#head .nav .active a.topAdd {
 background: #FFF url(../images/top_add.gif) no-repeat 15px top;
}
#head .nav .drop {
 display: none;
 position: absolute;
}
#head .nav .drop a {
 line-height: 30px;
 font-size: 12px;
}
#head .nav .active .drop {
 display: block;
}
#head .nav .mTopad {
 left: -1px;
 top: 40px;
 width: 120px;
 border-left: 1px solid #FFF;
 border-right: 1px solid #CCC;
 border-bottom: 1px solid #CCC;
}
#head .nav .mTopad a {
 border-bottom: 1px solid #EEE;
 border-left: 1px solid #EEE;
 border-right: 1px solid #EEE;
 background-color: #FFF;
 color: #666;
 padding-left: 20px;
}
#head .nav .mTopad a:hover {
 background-color: #F9F9F9;
 color: #0072C6;
}
#head .nav .mUser {
 left: -1px;
 top: 40px;
 width: 134px;
 border-left: 1px solid #EEE;
 border-right: 1px solid #EEE;
}
#head .nav .mUser a {
 border-bottom: 1px solid #EEE;
 background-color: #FFF;
 color: #0072C6;
}
#head .nav .mUser a:hover {
 background-color: #F9F9F9;
 color: #0072C6;
}
#menu {
 margin-right: -1px;
 font-size: 13px;
 font-weight: bold;
}
#menu ul {
 border-top: 1px solid #F9F9F9;
 border-bottom: 1px solid #CCCCCC;
 padding: 4px 0;
}
#menu .top {
 border-top: 0;
 border-right: 1px solid #CCC;
 background-color: #F5F5F5;
}
#menu .bot {
 border-bottom: 0;
}
#menu li {
 height: 38px;
 overflow: hidden;
}
#menu .menu-ul li:hover{
 background: #60BBFF url(../images/menu_cur.gif) no-repeat right 50%;
}
#menu .menu-ul li:hover a{
 color: #FFF;
}
#menu li a {
 display: block;
 height: 38px;
 line-height: 38px;
}
#menu li i {
 background: url(../images/icon_menu.gif) no-repeat 13px 0;
 float: left;
 display: block;
 width: 42px;
 height: 38px;
}
#menu li em {
 float: left;
 display: block;
 width: 130px;
 height: 38px;
 cursor: pointer;
}
#menu .top li {
 height: 27px;
}
#menu .top li a {
 height: 27px;
 line-height: 27px;
}
#menu .top li i {
 height: 27px;
}
#menu .top li i.home {
 background-position: 13px -44px;
}
#menu li i.system {
 background-position: 13px -79px;
}
#menu li i.nav {
 background-position: 13px -119px;
}
#menu li i.show {
 background-position: 13px -159px;
}
#menu li i.page {
 background-position: 13px -199px;
}
#menu li i.productCat {
 background-position: 13px -239px;
}
#menu li i.product {
 background-position: 13px -279px;
}
#menu li i.articleCat {
 background-position: 13px -319px;
}
#menu li i.article {
 background-position: 13px -359px;
}
#menu li i.manager {
 background-position: 13px -399px;
}
#menu li i.managerLog {
 background-position: 13px -439px;
}
#menu li i.backup {
 background-position: 13px -479px;
}
#menu li i.link {
 background-position: 13px -519px;
}
#menu li i.guestbook {
 background-position: 13px -559px;
}
#menu li i.mobile {
 background-position: 13px -599px;
}
#urHere {
 background: #F5F5F5 url(../images/icon_home.gif) no-repeat 15px 50%;
 border-left: 1px solid #FFF;
 height: 35px;
 line-height: 37px;
 color: #A0A0A0;
 padding-left: 33px;
}
#urHere a {
 color: #A0A0A0;
}
#urHere b {
 margin: 0 13px;
}
#mainBox {
 border-left: 1px solid #FFF;
 height: auto!important;
 height: 520px;
 min-height: 520px;
 padding: 30px 22px 50px 22px;
}
#mainBox h3 {
 border-bottom: 1px solid #D7D7D7;
 color: #666666;
 font-size: 28px;
 padding-bottom: 20px;
 margin-bottom: 30px;
}
#mainBox h3 .actionBtn {
 float: right;
 margin-right:5px;
 display: inline-block;
 background-color: #28B779;
 padding: 0 20px;
 height: 27px;
 line-height: 27px;
 color: #FFFFFF;
 font-size: 13px;
 font-weight: bold;
}
#mainBox h3 .add {
 margin-left:15px;
 background: #28B779 url(../images/action_btn.gif) no-repeat 20px 50%;
 padding-left: 40px;
}
#mainBox .filter {
 margin: 0 0 10px -2px;
 height: 35px;
}
#mainBox .filter form {
 float: left;
}
#mainBox .filter span {
 float: right;
}
#mainBox .action {
 margin: 10px 0 0 -2px;
}
#mainBox .warning {
 border: 1px solid #E6DB55;
 background: #FFFBCC;
 padding: 10px;
 margin-bottom: 20px;
}
.indexBoxTwo {
 margin-bottom: 10px;
}
.indexBox {
 margin-bottom: 10px;
}
.indexBox .boxTitle {
 border-bottom: 1px solid #D7D7D7;
 color: #666666;
 font-size: 16px;
 padding-bottom: 10px;
 margin-bottom: 15px;
}
.indexBox .ipage {
 overflow: hidden;
}
.indexBox .ipage a {
 display: block;
 background-color: #DDDDDD;
 color: #555555;
 border: 1px dotted #CCCCCC;
 float: left;
 width: 122px;
 height: 37px;
 line-height: 37px;
 text-align: center;
 margin: 0 15px 12px 0;
}
.indexBox .ipage a.child1 {
 border: 1px dotted #DDDDDD;
 background-color: #EEEEEE;
}
.indexBox .ipage a.child2 {
 border: 1px dotted #EEEEEE;
 background-color: #F6F6F6;
}
.indexBox .ipage a.child3 {
 border: 1px dotted #F6F6F6;
 background-color: #FFFFFF;
}
.indexBox .ipage a:hover {
 border: 1px dotted #FFFFFF;
 background: #60BBFF url(../images/icon_edit.png) no-repeat 12px 50%;
 color: #FFF;
}
.about {
 margin: 10px 0 30px 0;
 line-height: 200%;
}
.about dl {
 line-height: 200%;
}
.page dl {
 border: 1px dotted #CCC;
 background-color: #DDDDDD;
 float: left;
 width: 120px;
 height: 75px;
 margin: 0 15px 15px 0;
 text-align: center;
}
.page dl.child1 {
 border: 1px dotted #DDDDDD;
 background-color: #EEEEEE;
}
.page dl.child2 {
 border: 1px dotted #EEEEEE;
 background-color: #F6F6F6;
}
.page dl.child3 {
 border: 1px dotted #F6F6F6;
 background-color: #FFFFFF;
}
.page dt {
 padding: 8px 0;
 color: #555;
}
.page dt p {
 padding-top: 5px;
 color: #999;
}
.page dd {
 color: #CCC;
}
.page dd a {
 color: #999;
}
.homeSortLeft {
 margin-right: 70px;
}
.homeSortRight {
 float: right;
 width: 62px;
 position: relative;
 z-index: 10;
}
.homeSortRight .homeSortBg {
 position: absolute;
 left: 0;
 top: 0;
 z-index: 11;
}
.homeSortRight .homeSortList {
 position: absolute;
 left: 0;
 top: 0;
 z-index: 12;
}
.homeSortRight li {
 margin-bottom: 10px;
 height: 72px;
}
.homeSortRight li img, .homeSortRight li em {
 border: 1px solid #EEE;
}
.homeSortRight li em {
 display: block;
 padding: 3px;
 width: 54px;
 height: 54px;
 overflow: hidden;
 color: #666;
}
.homeSortRight li a {
 display: block;
 font-family: Arial, Verdana, sans-serif;
 text-align: right;
 color: #666;
}
#guestBook .book {
 border: 1px dotted #CCCCCC;
 background-color: #F9F9F9;
}
#guestBook .book dt {
 font-weight: bold;
 color: #555;
 font-size: 16px;
 padding: 10px;
}
#guestBook .book dd {
 padding: 10px;
 color: #666;
}
#guestBook .book p {
 background-color: #60BBFF;
 color: #FFF;
 padding: 10px;
}
#guestBook .book p b {
 margin-right: 35px;
}
#guestBook .reply {
 margin-top: 30px;
}
#guestBook .replySubmit {
 margin-top: 30px;
}
#maskBox {
 position: relative;
}
#maskBox dt {
 font-size: 14px;
 margin-bottom: 30px;
 color: #999;
 font-weight: 700;
 zoom: 1;
 overflow: hidden;
 line-height: 28px;
}
#maskBox em, #maskBox form {
 float: left;
 margin-right: 20px;
}
#maskBox .count {
 position: relative;
}
#maskBox i {
 display: block;
 float: left;
 width: 30px;
 height: 30px;
 margin: 0 20px 20px 0;
}
#maskBox .maskBg {
 position: absolute;
 z-index: 1;
}
#maskBox .maskBg i {
 background: url(../images/icon_picture_big.png) no-repeat;
}
#maskBox #mask {
 position: absolute;
 z-index: 2;
}
#maskBox #mask i {
 background: url(../images/icon_picture_big.png) no-repeat left bottom;
}
#maskBox #success {
 background: #60BBFF url();
 display: none;
 width: 60px;
 padding: 0 10px;
 line-height: 30px;
 color: #FFF;
 font-weight: bold;
}
#login {
 margin: 0px auto;
 width: 368px;
 margin-top: 120px;
 overflow: hidden;
}
#login .dologo {
 background: url(../images/logo.png) no-repeat 0 0;
 height: 50px;
 margin-bottom: 30px;
}
#login li {
 height: 34px;
 margin-bottom: 15px;
}
#login .inpLi {
 border: 1px solid #CCC;
}
#login .inpLi b {
 background-color: #E0E0E0;
 float: left;
 display: block;
 width: 70px;
 height: 34px;
 line-height: 34px;
 text-align: center;
 font-weight: normal;
}
#login .inpLi .inpLogin, #login .inpLi .vcode {
 float: left;
 background-color: #EBEBEB;
 border: 0;
 padding: 7px 8px;
 height: 20px;
 line-height: 20px;
 color: #000;
 font-size: 14px;
}
#login .inpLi .inpLogin {
 width: 280px;
}
#login .inpLi .vcode {
 width: 198px;
 text-transform: uppercase;
}
#login .vcodePic {
 height: 38px;
}
#login .vcodePic .inpLi {
 float: left;
 width: 288px;
}
#login .vcodePic #captcha {
 float: right;
 cursor: pointer;
}
.pager {
 text-align: right;
 padding-top: 20px;
 color: #666;
}
.pager a {
 margin:0 4px;
 color: #666;
 text-decoration: underline;
}
/*- douMsg -*/
#douMsg {
 background: url(../images/icon_exc_small.gif) no-repeat left top;
 padding: 27px 0 0 70px;
 margin-top: 30px;
}
#douMsg h2 {
 font-size: 16px;
 font-weight: bold;
 color: #0574C7;
}
#douMsg dl {
 background: url(../images/icon_back_arrow.gif) no-repeat right bottom;
}
#douMsg dt {
 padding: 10px 0 25px 0;
 font-size: 13px;
 color: #999999;
}
#douMsg dd {
 padding: 100px 20px 20px 0;
 font-size: 12px;
 text-align: right;
}
#douMsg dd a {
 color: #60BBFF;
}
#outMsg {
 background: url(../images/icon_exc.gif) no-repeat left 25px;
 margin: 0px auto;
 width: 340px;
 padding: 30px 0 0 80px;
 margin-top: 160px;
}
#outMsg h2 {
 font-size: 22px;
 font-weight: bold;
 color: #0574C7;
}
#outMsg dt {
 padding: 10px 0 25px 0;
 font-size: 13px;
 color: #666666;
}
#outMsg dd {
 background: url(../images/icon_back.gif) no-repeat left top;
 padding-left: 25px;
 font-size: 14px;
}
#footer {
 margin-top: -1px;
 color: #999;
}
#footer .line {
 border-top: 1px solid #FFFFFF;
 background-color: #CCCCCC;
 height: 1px;
 line-height: 1px;
 font-size: 0;
 margin-left: 180px;
}
#footer ul {
 text-align: center;
 padding: 15px 0;
}
.upload-area{
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:120px;
	height:30px;
	text-align:center;
	lin-height:30xp;
}
.upload-area .swfup-btn,
.upload-area .swfupload{
	position:absolute;
	left:0;
	top:0;
	width:120px;
	height:30px;
	z-index:2;
}
.upload-area .swfup-btn.button{
	z-index:1;
}
.img-panel{
	clear:both;
}
.img-panel .img-li{
	overflow:hidden;
	position:relative;
	float:left;
	margin:5px 5px 0 0;
	width:190px;
	height:133px;
	border:1px solid #ccc;
}
.img-panel .img-li img{
	display:none;
}
.img-panel .img-li .progress{
	position:absolute;
	left:0;
	top:64px;
	width:200px;
	height:5px;
}
.img-panel .img-li .progress .percent{
	height:5px;
	background:#0072C6;
}
.img-panel .img-li .button{
	display:none;
	position:absolute;
	right:5px;
	top:5px;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../images/close-btn.png);
}