*{box-sizing: border-box;}
body {line-height: 1.6;font-size: 12px;background-color: #d6d3d3;font-family: sans-serif;}
.fb-button{display:inline-block;margin:0;padding:.563rem .244rem;border:0 none;background:#3bb4f2bf;color:#fff;text-align:center;text-decoration:none;font-size:12px;line-height:1.5;cursor:pointer;border-radius:.125rem;border:thin solid #3bb4f2bf;border-bottom:2px solid #3bb4f2bf;text-align: left;}
.fb-button[disabled]{background:#ddd !important;border:thin solid #ccc;color:#777 !important;text-shadow:none !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity:.65;cursor:default}
.fb-clear{clear:both}
.fb-main{margin:0 auto;padding:0 20px 0 0;position:relative;background-color: #fff;border-radius: 5px;height: calc(89vh);}
.fb-left{left: 0px; cursor: default;width:320px;padding-top:15px;position: absolute;background-color: #fff;height: calc(89vh);}
.fb-center{left:320px;  width:calc(100% - 540px); cursor: default;padding-top:25px;border-left:1px solid #ddd;position: absolute;background-color: #fff;height: calc(89vh);}
.fb-right{left: calc(100% - 220px);  width:220px; cursor: default;padding-top:15px;border-left:1px solid #ddd;position: absolute;background-color: #fff;height: calc(89vh);}
.fb-ul{list-style:none;margin:0 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #ccc}
.fb-ul li a{display:block;padding:10px;border-radius:5px 5px 0 0;font-size:13px;cursor:pointer;border-left:1px solid transparent;border-right:1px solid transparent}
.fb-content a{text-align: center;font-size:13px;width:22.9%;display:inline-block;background-color:#3bb4f2bf;margin-bottom:9px;box-sizing:border-box;color: #333;}
.active{font-weight: bold;padding-bottom: 5px;}
.fb-content .section{padding: 0 20px;}
.logout{margin: 10px;}
.code{position: absolute;right: 5px; top: 0px;color: #03b0f3;}
.code_td{position: relative;}
.code2{position: absolute;right: 5px;top: 24px;color: #010f17a6;font-size: 18px;}
.tpfd-content div{line-height: 35px;}
.tpfd-pop{display:none; position: fixed; top:0;left:0;width:100%;height:100%; background-color: rgba(0,0,0,0.3);z-index:10;}
.tpfd-wrap{box-sizing:border-box; width:570px; position:absolute;left:50%;top:50%; margin-left:-285px; border-radius:3px; background-color:#fff; box-shadow:1px 2px 4px 0 rgba(0,0,0,0.12); padding:15px 10px;}
.tpfd-close{position:absolute; right:20px; top:20px; width:20px; height:20px; cursor:pointer; font-size:20px; color:#ccc;}
.tpfd-content{margin:5px 0; line-height:22px; color:#595d60; text-align:left;overflow-y: auto;height: 300px;}
.tpfd-ok{position:absolute; right:20px; top: 90%; cursor:pointer; font-size:20px;}
.fb-button img{width: 15px;}
label{font-weight: 800;}
