table {width: 100%;empty-cells: show;background-color: transparent;border-collapse: collapse;border-spacing: 0;border: 1px solid #ddd;border-collapse: separate;border-bottom: 0;border-left: 0;}
th,td {border-left: 1px solid #ddd;padding: 8px;line-height: 20px;border-bottom: 1px solid #ddd;word-break: break-all;text-align: left;}
tr{height: 40px;}
ul{margin: 0;}
li{margin: 0;padding: 0;}
h3 {padding-top: 20px;color: inherit;font-size: 16px;}
td input[type=text], select,textarea {width: 60%;padding: 12px 20px;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;}
.x-1{width:100%}
.x-2{width:50%}
.x-4{width:25%}
.page-container{padding: 5px;}
#table input, #table select{padding: 5px 5px;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;}
pre{
	margin:15px 0;font:100 12px/18px monaco, andale mono, courier new;padding:10px 12px;border:#ccc 1px solid;border-left-width:4px;background-color:#fefefe;box-shadow:0 0 4px #eee;word-break:break-all;word-wrap:break-word;color:#444
}
pre bq{
	color:#170
}
.btn{display:inline-block;margin:0;padding:.563rem .244rem;border:0 none;background:#3bb4f2bf;color:#fff;text-align:center;text-decoration:none;font-size:12px;line-height:1.5;cursor:pointer;border-radius:.125rem;border:thin solid #3bb4f2bf;border-bottom:2px solid #3bb4f2bf;text-align: left;margin-left: 10px;}

