/*自己定义的CSS*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    zoom: 1;
}

.fly-fl {
    float: left !important
}

/* 左浮动 */
.fly-fr {
    float: right !important;
}

/* 右浮动 */

.fly-tl {
    text-align: left !important
}

/* 左浮动 */
.fly-tr {
    text-align: right !important;
}

/* 右浮动 */

.fly-row {
    box-sizing: border-box;
}

.fly-row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="fly-col-"] {
    box-sizing: border-box;
    float: left;
}

.fly-col-1 {
    width: 8.33%;
}

.fly-col-2 {
    width: 16.66%;
}

.fly-col-3 {
    width: 25%;
}

.fly-col-4 {
    width: 33.33%;
}

.fly-col-5 {
    width: 41.66%;
}

.fly-col-6 {
    width: 50%;
}

.fly-col-7 {
    width: 58.33%;
}

.fly-col-8 {
    width: 66.66%;
}

.fly-col-9 {
    width: 75%;
}

.fly-col-10 {
    width: 83.33%;
}

.fly-col-11 {
    width: 91.66%;
}

.fly-col-12 {
    width: 100%;
}

/* select */
/*.fly-form-select{padding: 5px 0px;}*/
.fly-form-select select {
    border: none;
    padding: 3px 22px 6px 6px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAXCAYAAACMLIalAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAFHSURBVEiJ7dY/SgNREMfx7wQrlSBLCo+RNMFY5Qapts4FFK0ClrmGNoEEcoGcQT2A5AQKVmqRRlTGwp8SdNk/8a27hQMPdmffzPvs48GuuTt1i0bVgKT4R+WNhpmNzSz+bSMzi81sHAJlwD3wBBy6+8OGoAi4BPbcfT8ErAc8AgvA3J0iQy+2UI9e0frEnmo8ABwYbYAaqXYQAvSFUvML4A3oFwD1VXMeCvQdtQNcAbdAlAMUAXeq2S4FpYXaOhvzHKi55rZDgn6gtNhQZ+QkBXSqOcPQoESUFp0AL0A34VkXeAUmZYDSUE1gCdwArbV8S7kl0PxTlAAd7dZ0LTdVrlMWKBUlxJHOTqzhwHGZoEyUYDPgWWNWNsjdPz4raWFmu8C1bg/cfZVaECC2sia4+8rMzj6vywYB2TtVRdTzJ69qQFLUEvUOCvU4pv7sx1oAAAAASUVORK5CYII=") no-repeat right center #fff;
    background-size: auto 40%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1px;
    width: 100%;
    border: solid 1px #cfdadd;
}

.fly-form-select select:before {
    font-family: "hui-font";
    content: "\e63d";
    font-size: 12px;
}

/*排序样式*/
.sort-filed {
    /*background: url(../img/arrow.png) no-repeat right;*/
    cursor: pointer;

}
.sort-filed span:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dc";
    margin-left: 10px;
}

.sort-filed.asc span:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0de";
    margin-left: 10px;
    /*background: url(../img/arrow-up.png) no-repeat right;*/
}

.sort-filed.desc span:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dd";
    margin-left: 10px;
    /*background: url(../img/arrow-down.png) no-repeat right;*/
}

/*多级栏目显示样式*/
.treeClassBody ul {
    list-style: none;
    padding-left: 0px;
}

.treeClassBody li {
    width: 100%;
    line-height: 35px;
    list-style: none;
}

.treeClassBody li i,
.treeClassBody li lable {
    font-size: 14px;
    font-weight: 100;
    width: 30px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.treeClassBody li i {
    font-size: 16px;
    color: #ccc;
}

.treeClassBody li div {
    line-height: 35px; /*border-bottom: solid 1px #ccc;*/
}

.treeClassBody li div.lines {
    border-bottom: solid 1px #ccc;
    margin: 5px 0;
}

.treeClassBody li div span {
    float: right;
}

.treeClassBody li div span input {
    height: 25px;
    border: solid 1px #ccc;
    margin-left: 5px;
}

.treeClassBody li div:hover {
    background: #F9F9F9;
}

.treeClassBody li ul {
    display: none;
}

.treeClassBody li ul li {
    border-bottom: none;
}

.treeClassBody li div:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*表格剧中样式*/
.table-center th, .table-center td {
    text-align: center;
    vertical-align: middle !important;
}

/*.sorttable{table-layout:fixed}*/
.sorttable .overflow-td {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sorttable .overflow-td:hover {
    color: #23B7E5;
}

.page-list {
    padding-top: 20px;
}

/*表单样式*/
.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
    display: inline-block;
}

.w200 {
    width: 200px;
}

.pd-b-5 {
    padding-bottom: 5px;
}

.mr-t-5 {
    margin-top: 5px;
}

.mr-b-5 {
    margin-bottom: 5px;
}

.line-h25 {
    line-height: 25px;
}

/*上传插件样式*/
.imgupload {
    width: 100%;
    padding: 5px;
}

.imgupload:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.imgupload .actbtn {
    margin-left: 20px;
}

.imgupload .imglist li {
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
    list-style: none;
    background: #efefef;
    padding: 3px;
}

.imgupload .imglist li .pic {
    width: 100%;
    height: 170px;
}

.imgupload .imglist li .pic img {
    width: 100%;
}

.imgupload .imglist li .text {
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #ccc;
}

.orderlist {
    list-style: none;
}

.orderlist p {
    text-align: center;
    height: 25px;
}

.fly-logo-name {
    font-size: 80px;
}
