<!doctype html>
<html lang="en"><head>
	<meta charset="utf-8">
	<title>WCMS</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" type="text/css" href="/static/theme/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/static/theme/font-awesome/css/font-awesome.css">

	<script src="/static/theme/jquery-1.11.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/theme/stylesheets/theme.css">
	<link rel="stylesheet" type="text/css" href="/static/theme/stylesheets/premium.css">
	<link rel="stylesheet"
		  href="./static/public/ztree/css/zTreeStyle/zTreeStyle.css"
		  type="text/css">


</head>
<body class="theme-blue">

<!--<![endif]-->

<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> WCMS</span></a></div>

	<div class="navbar-collapse collapse" style="height: 1px;">
		<ul id="main-menu" class="nav navbar-nav navbar-right">
			<li class="dropdown hidden-xs">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> {$user.username}
					<i class="fa fa-caret-down"></i>
				</a>

				<ul class="dropdown-menu">
					<li><a tabindex="1" href="/index.html" target="_blank">首页</a></li>

					<li><a tabindex="-1" href="/index.php?anonymous/signout">退出</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>


<div class="sidebar-nav">
	<ul>
		<li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
		<li><ul class="dashboard-menu nav nav-list collapse in">
				<li ><a href="/index.php?articleadmin/getallcon"><span class="fa fa-caret-right"></span> 文章</a></li>
				<li ><a href="/index.php?memberadmin/getallmember"><span class="fa fa-caret-right"></span> 用户</a></li>
				<li ><a href="/index.php?commentadmin/getallcomment"><span class="fa fa-caret-right"></span> 评论</a></li>
			<li class="active"><a href="/index.php?cateadmin/edit"><span class="fa fa-caret-right"></span> 分类</a></li>

			<li ><a href="/index.php?advadmin/adv"><span class="fa fa-caret-right"></span> 广告</a></li>

			</ul></li>

		<li></li>


	</ul></li>


	</ul>
</div>

<div class="content">
	<div class="main-content">
<!-- start: Content -->


	<div class="row-fluid">


		<div class="well">
			<!-- Default panel contents -->

			<div class="form-inline suoding">
				<div class="btn-group">
				</div>
			</div>

			<div class="box-content">
				<table class="table">
					<form action="#" method="post">
						<tr>
							<td class="span4"><input type="hidden" name="category"
								value="{$category.id}"> <input id="dicKey" type="text"
								class="input-middle" name="cate" value="{$category.name}{$category.id}" onkeydown="changeColor('treeDemo','name',this.value)">

								<div id="menuContent" class="menuContent"
									style="position: absolute; max-height: 500px; overflow-y: scroll">
									<ul id="treeDemo" class="ztree"
										style="margin-top: 0; background-color: #FFF; border: 1px solid #f0f0f0"></ul>
								</div></td>
							<td class="span7"></td>

						</tr>

						<tr>
							<td></td>
							<td>
								<div class="form-inline">
									<span class="label">新增</span> <select name="module" id="module"
										class="input-small">
										<option value=1 selected>文章</option>
									</select> <span class="input-append"> <input type=text name=name
										id="catename"> <input type="hidden" class="category"
										name="category" id="category" value=""> <input
										type="button" name="add" value="添加" class="btn"
										onclick="return addCate(this)">
									</span>
								</div>
							</td>
						</tr>

					</form>




					<tr>
						<td></td>


					</tr>





					<tr>

						<td></td>

					</tr>


				</table>
				<div class="progress" style="display: none;">
					<div class="bar" style="width: 0%;">10</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="./static/public/ztree/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript"
		src="./static/public/ztree/jquery.ztree.excheck-3.5.js"></script>

	<script type="text/javascript"
		src="./static/public/ztree/jquery.ztree.exedit-3.5.js"></script>

	{literal}
	<SCRIPT LANGUAGE="JavaScript">
		var zTreeObj;
		// zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
		var setting = {
			async : {
				enable : true,
				url : "./index.php?cateadmin/ztree",
				dataType : "json",
				autoParam : [ "id" ],
				otherParam : {
					"otherParam" : "zTreeAsyncTest"
				},
			},
			data : {
				simpleData : {
					enable : true,
					idKey : "id",
					pIdKey : "fid",
					rootPId : null
				}
			},
			edit : {
				enable : true,
				showRemoveBtn : true,
				showRenameBtn : true,
				drag : {
					isCopy : false,
					isMove : true,
					pre : true,
					next : true,
					inner : true,
					autoExpandTrigger : true

				}
			},
			callback : {
				onClick : onClick,
				beforeRemove : zTreeBeforeRemove,
				onRename : zTreeOnRename,
				beforeRename : zTreeBeforeRename,
				beforeDrop : zTreeBeforeDrop
			},
			view : {
				showIcon : true,
				fontCss : getFontCss
			}
		};
		// zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）

		$(document).ready(function() {
			zTreeObj = $.fn.zTree.init($("#treeDemo"), setting);
			$("button").bind('click', addCate);

			showMenu();
		});




		function showMenu() {
			var cityObj = $("#citySel");
			var cityOffset = $("#citySel").offset();
			$("#menuContent").slideDown("fast");

			$("body").bind("mousedown", onBodyDown);
		}
		function hideMenu() {
			$("#menuContent").fadeOut("fast");
			//$("body").unbind("mousedown", onBodyDown);
		}
		function onBodyDown(event) {
			if (!(event.target.id == "menuBtn"
					|| event.target.id == "menuContent" || $(event.target)
					.parents("#menuContent").length > 0)) {
				//hideMenu();
			}
		}
		var currentId;
		function zTreeBeforeRename(treeId, treeNode, newName, isCancel) {

			return true;
		}

		function zTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {

			$.post("./index.php?cateadmin/move", {
				id : treeNodes[0].id,
				fid : targetNode.id
			}, function(data) {

			}, "json");
		}

		function zTreeBeforeRemove(treeId, treeNode) {

			if (!confirm("确认删除?")) {
				return false;
			}

			$.ajax({
				url : "./index.php?cateadmin/remove",
				async : false, // 注意此处需要同步，因为返回完数据后，下面才能让结果的第一条selected  
				type : "POST",
				data : "id=" + treeNode.id,
				dataType : "json",
				success : function(data) {
             		zTreeObj.removeNode(treeNode);
				}
			});

			return false;
		}

		function zTreeOnRename(event, treeId, treeNode, isCancel) {
			var newName = treeNode.name;
console.log(treeNode.id);
			$.post("./index.php?cateadmin/rename", {
				name : newName,
				category : treeNode.id
			}, function(data) {
				if (data.message != "success") {
				} else {

				}

			}, "json");

		}


		function onClick(event, treeId, treeNode, clickFlag) {

			$(".category").val(treeNode.id);
			$.post("./index.php?cateadmin/category", {
				cid : treeNode.id
			}, function(data) {
				json = data.message;
				$("#parent").html("parent:" + json.name);
				$("#cate_name").html(json.name);
			}, "json");

			Nodes = treeNode;

		}

		var Nodes;
		function addCate(obj, treeNode) {
			var type = obj.name;
			var name = $("#catename").val();
			var category = $("#category").val();
			var module = $("#module").val();
			if (category.length > 13) {
				alert("分类字数太多，请删减无法提交");
				return false;
			}

			if (type == "add") {

				if (name.match(/\d+$/g)) {
					alert("分类名不允许有数字");
					return;
				}

				$.post("./index.php?cateadmin/add", {
					name : name,
					fid : category
				}, function(data) {
					if (data.message == "error") {
						alert(data.message);
						return;
					} else {
						var newid = parseInt(data.data);
						var newname = name + newid;
						zTreeObj.addNodes(Nodes, {
							id : newid,
							fid : category,
							name : newname
						});
					}

				}, "json");

			}

		};

		//使用搜索数据 加高亮显示功能，需要2步
		//1.在tree的setting 的view 设置里面加上 fontCss: getFontCss 设置
		//2.在ztree容器上方，添加一个文本框，并添加onkeyup事件，该事件调用固定方法  changeColor(id,key,value）
		//	id指ztree容器的id，一般为ul，key是指按ztree节点的数据的哪个属性为条件来过滤,value是指过滤条件，该过滤为模糊过滤
		var lastValue = "", nodeList = [], fontCss = {};
		function changeColor(id, key, value) {

			if (event.keyCode != 13) {
				return;
			}

			treeId = id;
			updateNodes(false);
			if (value != "") {
				var treeObj = $.fn.zTree.getZTreeObj(treeId);
				nodeList = treeObj.getNodesByParamFuzzy(key, value);
				if (nodeList && nodeList.length > 0) {

					updateNodes(true);
				}
			}
		}
		function updateNodes(highlight) {
			var treeObj = $.fn.zTree.getZTreeObj(treeId);
			for ( var i = 0; i < nodeList.length; i++) {
				treeObj.expandNode(nodeList[i], true, true, true);

				nodeList[i].highlight = highlight;
				treeObj.updateNode(nodeList[i]);
			}
		}

		function getFontCss(treeId, treeNode) {
			return (!!treeNode.highlight) ? {
				color : "#ff5454",
				"font-weight" : "bold"
			} : {
				color : "#333",
				"font-weight" : "normal"
			};
		}
	</SCRIPT>

	{/literal}
