/*
* @Author: Administrator
* @Date:   2017-05-23 21:47:16
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-23 21:47:40
*/

li.user{}
li.user a.ico{display:block;line-height:80px;height:80px;border-radius: 50%}
li.user a.ico:hover,li.user a.ico:focus{background: #fff !important;}
li.user a.ico img{width:50px;display:block;float:left;border-radius: 50%}
li.user a.ico span.caret{display:block;float:left;position: relative;top: 20px;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background: #fff;}