* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; }

body { font: 14px/1.6 "Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif; font-weight: 300; }

body { background-color: #fff; color: #333333; }

a { color: #333333; text-decoration: none; background-color: transparent; }

a:hover, a:active { color: #00aaee; text-decoration: none; text-underline-style: none; outline: 0; }

a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 300; line-height: 1.1; }

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

img { vertical-align: middle; display: block; }

p { margin: 0 0 1em 0; }

ul { margin: 0; list-style-type: none; padding: 0; }

.thinkask-header { background-color: rgba(255, 255, 255, 0.6); height: 80px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); z-index: 99999; position: relative; }
.thinkask-header .thinkask-logo { height: 80px; line-height: 80px; float: left; }
.thinkask-header .thinkask-logo img { height: 50px; display: inline-block; }

.thinkask-nav-bar { float: left; height: 80px; line-height: 80px; margin-left: 20px; }
.thinkask-nav-bar li { margin: 0 15px; }
.thinkask-nav-bar li.active a { color: #00AAEE; }
.thinkask-nav-bar li a { font-size: 16px; font-weight: 500; }

.thinkask-login-reg { float: right; height: 80px; line-height: 80px; }
.thinkask-login-reg .thinkask-login-btn { padding: 5px 20px; font-size: 14px; margin-right: 10px; }
.thinkask-login-reg .thinkask-reg-btn { padding: 5px 20px; font-size: 14px; background-color: #00AAEE; color: #FFFFFF; }

.thinkask-index-banner { height: 600px; width: 100%; background-image: url(../images/index_banner.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat; background-position: center center; padding: 80px; }
.thinkask-index-banner .thinkask-index-banner-description { margin-top: 110px; }
.thinkask-index-banner .thinkask-index-banner-label, .thinkask-index-banner .thinkask-index-banner-title { text-align: center; padding: 10px; }
.thinkask-index-banner .thinkask-index-banner-title { color: #00AAEE; font-size: 48px; }
.thinkask-index-banner .thinkask-index-banner-btn { text-align: center; padding: 10px; }

.thinkask-btn-primary { border: 1px solid #00AAEE; padding: 10px 25px; color: #00AAEE; font-size: 16px; display: inline-block; }

.thinkask-btn-primary:hover { background-color: #00AAEE; color: #FFFFFF; }

.thinkask-btn-primary:focus { background-color: #00AAEE; }

.thinkask-model { padding-top: 20px; padding-bottom: 20px; background-color: #F5F5F5; }
.thinkask-model .round { border-radius: 200px; padding: 20px; text-align: center; }
.thinkask-model .round i { font-size: 60px; color: #00AAEE; }
.thinkask-model .round h4 { font-size: 22px; color: #666; }
.thinkask-model .round p { color: #999; }

.thinkask-technology { padding-bottom: 40px; }
.thinkask-technology .title { padding: 40px 0; }
.thinkask-technology .col-lg-6 { margin-bottom: 50px; }
.thinkask-technology .technology-img { float: left; width: 50px; height: 50px; text-align: center; line-height: 50px; font-size: 30px; border-radius: 50px; }
.thinkask-technology .technology-content { margin-left: 60px; }
.thinkask-technology .technology-content h3 { margin-top: 0; margin-bottom: 5px; }

.think-group { padding-bottom: 40px; }
.think-group .title { padding: 40px 0; }
.think-group .content { padding: 10px; }
.think-group .content .top img { /*border-radius: 500px;*/ width: 100%; }
.think-group .content h3 { margin-top: 10px; text-align: center; }
.think-group .content p { color: #999999; }

.thinkask-cooperation { height: 600px; width: 100%; background-image: url(../images/brick_light_bg.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat; background-position: center center; padding: 80px; }

.thinkask-us { padding-top: 30px; height: 100px; font-size: 24px; background-color: #00AAEE; color: #FFFFFF; }
.thinkask-us .btn { background-color: transparent; color: #FFFFFF; border: 1px solid #FFFFFF; float: right; }

.thinkask-footer { height: 70px; background-color: #E3E3E3; }
.thinkask-footer p { line-height: 70px; margin-bottom: 0; }

/*# sourceMappingURL=thinkask_global.css.map */
