/* CSS IE6 */


.my_portfolio .por_list .info {margin-left:0;float:right;width:370px;}
.my_favourate .list ul li {margin: 0 28px 0 28px;}

.activity ul li .text {width:199px; bottom:2px;}
.activity ul li.second .text {width:357px}