@charset "utf-8";
/* CSS Document */
	
/*  #container  */
#container {text-align:left;height:100%;}

	#main { position:relative;float:left;width:100%;}
		.banner_box {width:980px;margin:0 auto;position:relative;}
		
		.banner {width:980px;margin:0 auto;margin-top:5px;}
		.scroll_box {height:360px; position:relative; z-index:100;}

		.scroll_box .photo {width:980px;margin:0 auto;height:360px; position:relative; overflow:hidden;}
		.scroll_box .slides_container {display:block;height:360px;width:100%;}
		.scroll_box .slides_container div {height:360px;width:980px;}
		
		.pagination { position:absolute; z-index:101;right:15px;bottom:20px;}
		.pagination {float:left;}
		.pagination li {float:left;width:18px;height:3px; background:url(../images/ico/ico-srcoll-btn.png) no-repeat;margin:1px; cursor:pointer;}
		.pagination li a {display:block;width:18px;padding-top:3px; overflow:hidden;height:0;}
		.pagination li.current { background:url(../images/ico/ico-srcoll-btn2.png) no-repeat;}
		
		.thenews {width:978px;margin:0 auto;border:1px solid #e5bf4a; background:#e5bf4a;border-top:0;height:39px;clear:both;}
		.thenews h2 {float:left;line-height:39px;font-size:12px;color:#d80000;padding-left:10px;}
		.thenews .news_list {float:left;margin-top:10px;height:19px; overflow:hidden;}
		.thenews .news_list ul {float:left;height:19px;}
		.thenews .news_list ul li {float:left;height:19px;line-height:19px;clear:both; overflow:hidden; color:#d80000;}
		.thenews .news_list ul li a {color:#d80000;}
		.thenews .news_more {float:right;line-height:39px;font-weight:bold;padding-right:10px;}
		.thenews .news_more a {color:#d80000;}
		
		
		.main_box {width:980px;margin:0 auto;}
		
		.index_list {height:100%; overflow:hidden;clear:both;margin-top:10px;}
		.index_list dl {float:left;width:241px;height:113px; background:#feecbc;padding-bottom:4px;margin-right:4px;}
		.index_list dl.last {margin-right:0;}
		.index_list dl dt {float:left;width:95px;margin:9px;}
		.index_list dl dd {display:block;margin-left:105px;padding-top:10px;}
		.index_list dl dd h2 {display:block;font-size:15px;color:#c30000;}
		.index_list dl dd h2 a {color:#c30000}
		.index_list dl dd h2 a:hover { text-decoration:underline;}
		.index_list dl dd p {display:block;line-height:18px;margin-top:5px;color:#845c06;}
		.index_list dl dd ul {display:block;width:100%;margin-top:5px;}
		.index_list dl dd ul li {display:block;height:24px;line-height:24px; background:url(../images/ico/ico-link.gif) no-repeat left center;padding-left:10px;}
		
		
		.inder_othrer {height:100%; overflow:hidden;clear:both;margin-top:20px;}
		.inder_othrer ul li {float:left;width:230px;margin-right:20px;}
		.inder_othrer ul li.last {margin-right:0;}
		.inder_othrer ul li h3 {display:block;font-size:12px;color:#845c06;font-weight:bold;height:30px;line-height:30px;padding-bottom:2px; background:url(../images/base/h3_bg.gif) no-repeat left bottom;}
		.inder_othrer ul li p {display:block;line-height:24px;margin-top:10px;}
		.inder_othrer ul li ul.list {display:block;margin-top:10px;}
		.inder_othrer ul li ul.list li {float:left;width:105px;padding-left:10px;background:url(../images/ico/ico-link.gif) no-repeat left 6px;line-height:20px;margin-right:0;margin:2px 0;}
		.inder_othrer ul li ul.links {display:block;margin-top:10px;}
		.inder_othrer ul li ul.links li {float:left;width:220px;padding-left:10px;background:url(../images/ico/ico-link2.gif) no-repeat left center;line-height:24px;margin-right:0;}
		
		
		
		
		
		
		
		/*about , businessbox , jobbox, jiangguo,productsbox,contactbox*/
		.aboutbox,.businessbox,.jobbox,.jianguobox,.newsbox,.productsbox,.contactbox {height:100%; overflow:hidden;margin:10px 0;}
		
		.main_left {float:left;width:705px;}
		.main_right {float:right;width:235px;}
		
		.productsbox .main_left {float:left;width:235px;}
		.productsbox .main_right {float:right;width:705px;}
		
		.contactbox .main_left {float:left;width:510px;}
		.contactbox .main_right {float:right;width:425px;}
		
		.main_left h2,.jianguobox h2,.productsbox .main_right h2,.contactbox h2 {display:block;font-size:16px;font-weight:normal;line-height:36px;padding-bottom:2px; background:url(../images/base/h2_bg.gif) no-repeat left bottom;font-weight:bold;}
		
		.aboutbox p,.jobbox p,.newsbox p {display:block;color:#a0771b;line-height:22px;margin:20px 0;}
		.aboutbox p img.left {float:left;margin:0 15px 15px 0;}
		
		.right_list {height:100%; overflow:hidden;padding-bottom:15px;}
		.right_list h3 {display:block;font-size:12px;color:#845c06;font-weight:bold;;line-height:36px;padding-bottom:2px; background:url(../images/base/h3_bg.gif) no-repeat left bottom;}
		.right_list ul.list {display:block;margin-top:10px;}
		.right_list ul.list li {display:block;clear:both;padding-left:10px;background:url(../images/ico/ico-link2.gif) no-repeat left center;line-height:24px;margin-right:0;}
		.right_list ul.list li.active {font-weight:bold;}
		.right_list ul.list2 {display:block;margin-top:10px;}
		.right_list ul.list2 li {display:block;clear:both;padding-left:10px;background:url(../images/ico/ico-link.gif) no-repeat left center;line-height:24px;margin-right:0;}
		.right_list ul.list2 li.active {font-weight:bold;}
		.right_list p {display:block;line-height:24px;margin-top:10px;}
		
		.businessbox dl {display:block;height:100%; overflow:hidden; border-bottom:1px solid #f5e2b0;padding:20px 0;}
		.businessbox dl.last {border:0;}
		.businessbox dl dt {float:left;width:150px;}
		.businessbox dl dd {display:block;margin-left:170px;}
		.businessbox dl dd h4 {display:block;font-weight:bold;color:#a0771b;}
		.businessbox dl dd p {display:block;margin-top:10px;line-height:20px;}
		
		.pages {height:100%; overflow:hidden;line-height:22px;padding:10px 0;text-align:left;}
		
		.jianguobox dl {display:block;height:100%; overflow:hidden;padding:20px 0;border-bottom:1px dotted #f5e2b0;padding:20px 0;}
		.jianguobox dl.last {border:0;}
		.jianguobox dl dt {float:left;width:203px;}
		.jianguobox dl dd {display:block;margin-left:220px;}
		.jianguobox dl dd h4  {display:block;font-weight:bold;color:#a0771b;font-size:14px;}
		.jianguobox dl dd p {display:block;margin-top:10px;line-height:20px;}
		
		
		.product_list {height:100%; overflow:hidden;}
		.product_list dl {display:block;height:100%; overflow:hidden;margin:25px 0;}
		.product_list dl dt {float:left;width:150px;}
		.product_list dl dd {display:block;margin-left:170px;}
		.product_list dl dd h4  {display:block;font-weight:bold;color:#845c06;font-size:12px;}
		.product_list dl dd p {display:block;margin-top:10px;line-height:20px;}
		
		.conatct {margin-top:15px;}
		.conatct dl {display:block;height:100%; overflow:hidden;margin:10px 0;}
		.conatct dl dt {float:left;width:50px;text-align:left;font-weight:bold;}
		.conatct dl dd {display:block;margin-left:50px;}
		.conatct dl dd .input_w {border:1px solid #e0bd75;padding:5px;width:448px;line-height:20px;}
		.conatct dl dd .textarea_w {border:1px solid #e0bd75;padding:5px;width:448px;line-height:20px;}
		.conatct dl dd .btn_enter {float:right;width:71px;height:25px; background:url(../images/base/btn_enter.gif) no-repeat;line-height:25px;color:#fff;text-align:center; cursor:pointer;border:0;margin-left:5px;font-weight:bold;}
		.conatct dl dd .btn_enter:hover { background-position:left bottom;}
		.conatct dl dd .btn_cancel {float:right;width:71px;height:25px; background:url(../images/base/btn_cancel.gif) no-repeat;line-height:25px;color:#333;text-align:center; cursor:pointer;border:0;}
		.conatct dl dd .btn_cancel:hover { background-position:left bottom;
		
		
		
		
		
		 