<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>productscategory</name>
            <displayName><![CDATA[产品分类]]></displayName>
            <version><![CDATA[1.3]]></version>
            <description><![CDATA[同一类别的产品页面上显示的产品。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>