body, html {
  height: 100%;
  background: #efefef;
  color: #666;
}

html {
  overflow-x:hidden;
  font-size: 10px;
}
body {
  font-size:1.4rem;
}
.uk-navbar-item {
  font-size: 1.6rem;
}
.dux-logo {
  font-size: 1.8rem;
  color: #fff !important;
  svg {
    width: 48px;
  }
}

.dux-content {
  margin-top: 1rem;
  line-height: 2;
  font-size: 1.4rem;
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
/*

.dux-head {
  font-size:3rem;
  padding: 20px 0;
  font-weight: 500;
  color: #0e90d2  ;
  .ver {
    font-size:2rem;
    color: #ea5604;
  }
  small {
    margin-left:10px;
    font-size:2rem;
    color: #666;
  }
}
.dux-body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.dux-menu {
  width: 200px;
  float: left;
  background: #fff;
}
.dux-main {
  width: 740px;
  float: right;
  background: #fff;
  .am-progress {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
  }

}
.dux-title {
  margin-top: 10px;
  padding: 20px;
  padding-bottom: 0;

}
.dux-content {
  padding: 20px;
  padding-top: 0;
  line-height: 2.2rem;
  .am-table {
    margin-bottom: 0;
  }
}

.dux-fun {
  background: #f7f7f7;
  padding: 20px;
}

.am-form {
  label {
    font-weight: normal;
  }
  input {
    border: 1px solid #ddd !important;
  }
}*/
