/* Copyright c 2003-2004 Wang, Chun-Pin All rights reserved.
 *
 * Version:	$Id: style.css,v 1.12 2013/07/07 21:25:44 alex Exp $
 *
 */
BODY{
	MARGIN: 0px;
	line-height: 1.5;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #363636;
	background-color:#FFFFFF;
}

#current_location {
	position: relative;
	left: 10%;
	width: 80%;
}
#main_container {
	padding: 5px;
	padding-bottom: 50px;
	border: 1px solid #CCCCCC;
	position: relative;
	left: 10%;
	
	margin-bottom: 45px;
	width: 80%;
	
	/* Set sub_container in center, IE only, the sub container will set the text back to left.
	   For firefox, we set margin in sub_container.
	 */ 
	text-align:center;
}

#sub_container {
	position:relative;
	text-align: left;
	margin: 10px auto 0px auto;
}

/* Start of Alex Wang box define */
.aw-box-tl {
	background: transparent url(images/box/corners.gif) no-repeat 0 0;
	zoom:1;
}

.aw-box-tc {
	height: 8px;
	background: transparent url(images/box/tb.gif) repeat-x 0 0;
	overflow: hidden;
}

.aw-box-tr {
	background: transparent url(images/box/corners.gif) no-repeat right -8px;
}

.aw-box-ml {
	background: transparent url(images/box/l.gif) repeat-y 0;
	padding-left: 4px;
	overflow: hidden;
	zoom:1;
}

.aw-box-mc {
	background: #eee url(images/box/tb.gif) repeat-x 0 -16px;
	padding: 4px 10px;
	font-family: "Arial","Tahoma","Helvetica",sans-serif;
	color: #393939;
	font-size: 12px;
}

.aw-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 4 0;
	zoom:1;
}

.aw-box-mc p {
	margin: 0 0 0 0;
}

.aw-box-mr {
	background: transparent url(images/box/r.gif) repeat-y right;
	padding-right: 4px;
	overflow: hidden;
}

.aw-box-bl {
	background: transparent url(images/box/corners.gif) no-repeat 0 -16px;
	zoom:1;
}

.aw-box-bc {
	background: transparent url(images/box/tb.gif) repeat-x 0 -8px;
	height: 8px;
	overflow: hidden;
}

.aw-box-br {
	background: transparent url(images/box/corners.gif) no-repeat right -24px;
}

.aw-box-tl, .aw-box-bl {
	padding-left: 8px;
	overflow: hidden;
}

.aw-box-tr, .aw-box-br {
	padding-right: 8px;
	overflow: hidden;
}
/* End of Alex Wang box define */

table, td {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	line-height: 1.5;
	border-color:#D4D0C8;
}

table.table-main-list {
	border:0px solid;
	border-collapse: collapse;
	width: 94%;
}

table.table-input-form {
	border: 0px solid #cccccc;
	border-collapse: collapse;
	width: 94%;
}

form {
	margin:0px;
}

fieldset {
	border:1px solid #B5B8C8;
	padding:10px 10px 5px 10px;
	margin-bottom:10px;
}

fieldset legend {
	margin-bottom:10px;
	font:bold 11px tahoma, arial, helvetica, sans-serif;
	color:#15428b;
}

.outline {
	font-family: "Arial", "Helvetica", "sans-serif";
	color:#FF9E31;
	font-size: 16pt;
	font-weight: bold;
}
td.title {
	background-color:#EEEEEE;
	color:#FF6600;
	border: 1px solid #D4D0C8;
	padding: 5px;
}

.item_prompt_small {
	color:#FF6600;
}

.item_prompt_large {
	font-weight:bold;
	font-size: 16px;
	color: #669900;
	margin-top:20;
}

td.prompt {
	color:#FF6600;
	background-color: #F5F5F5;
}

td.prompt_align_top {
	vertical-align: top;
}

td.content {
	background-color: #FFFFFF;
}

td.line1 {
	padding: 5px;
	background-color:#F5F5F5;
	border: 1px solid #D4D0C8;
}

td.line0 {
	border: 1px solid #D4D0C8;
	padding: 5px;
	background-color:#FFFFFF;
}

td.line_highlight {
	/* remove me */
	background-color:#FFCC99;
}
a {
	text-decoration: none;
	color:#0000C0;
	cursor: pointer;
}
a.name {
	color:#007a00;
}
a:hover {
	text-decoration: underline;
	color:#ff9900
}
a.toolbar {
	font-size: 12px;
}

BODY ul {
	list-style-type: square; 
	color: #5276B5;
}

BODY ol {
	color: #5276B5;
}

.notice {
	color: red;
}

select {
	font-family: arial, helvetica, sans-serif;	
	font-size: 9pt;
	color:#000066;
	cursor: pointer;
	background-color: #dfefff;
}

.input-form-text-field {
	font-family: "Arial","Tahoma","Helvetica",sans-serif;
	font-size: 10pt;
	padding: 1px 3px;
	background:#fff url(images/box/text-bg.gif) repeat-x 0 0;
	border: 1px solid #B5B8C8;
	height:22px;
	line-height:18px;
	vertical-align:middle;
}
.input-form-text-textarea {
	font-family: "Arial","Tahoma","Helvetica",sans-serif;
	font-size: 10pt;
	padding: 1px 3px;
	background:#fff url(images/box/text-bg.gif) repeat-x 0 0;
	border: 1px solid #B5B8C8;
	line-height:18px;
	vertical-align:middle;
}

input.checkbox {
	background-color:#EEEEEE;
	cursor: pointer;
	border:0;
}

input.button {
	border : solid 1px #cccccc;
	background: #E9ECEF;
	color : #666666;
	font-size : 11px;
	padding: 4px;
}

font.title_header {
	font-family: "Arial", "Helvetica", "sans-serif";
	color:#A9A9A9;
	font-size: 18pt; 
}

.current_page {
	font-weight: bold;
}

.div_loading {
	color: #3366FF;
}

/* Start of the report message box */
#report_mesg_main {
	text-align: center;
	margin-bottom: 45px;
}
.report_mesg_sub {
	width: 440;
	height: 235;
	border: solid 1px #CCCCCC;
	background: #F1F3F5;
	text-align: left;
	margin: 10px auto 0px auto;
}
.report_mesg_sub .mesg_left {
	float: left;
	position: relative;
	border: solid 0px;
	width:170;
	margin:10 0 0 5;
	color: #666666;
	overflow: hidden;
}
.report_mesg_sub .mesg_right {
	float: right;
	position: relative;
	border: solid 0px;
	width: 230;
}
.report_mesg_sub .mesg_right1 {
	margin: 15 10 0 5;
	text-align: left;
	font-family: "Cataneo BT", "sans-serif", "Gungsuh", "Arial";
	color: #FF9900;
	font-size: 24pt;
}
.report_mesg_sub .mesg_right2 {
	height: 125;
	margin:0 10 0 5;
	background: #E9ECEF;
	border: solid 1px #CCCCCC;
	border-bottom: 0 none;
	color: #000099;
	text-align: center;
	overflow: hidden;
}
.report_mesg_sub .mesg_right2 td {
	color: #000099;
	text-align: center;
}
.report_mesg_sub .mesg_right3 {
	height: 32;
	margin:0 10 10 5;
	background: #E9ECEF;
	border: solid 1px #CCCCCC;
	border-top: 0 none;
	text-align: center;
}
/* End of report messages box */

/* Start of login box */
#login_box_main {
	text-align: center;
	margin-bottom: 45px;
}

.login_box_title {
	width: 430;
	height: 35;
	background: #A5C0E2;
	border: solid 1px #CCCCCC;
	border-bottom: 0 none;
	text-align: left;
	margin: 0px auto 0px auto;
}

.login_box_sub {
	width: 430;
	height:235;
	border: solid 1px #CCCCCC;
	text-align: left;
	margin: 0px auto 0px auto;
}

.login_box_sub .login_left {
	float: left;
	position: relative;
	border: solid 0px;
	width: 155;
	margin: 20 0 0 10;
	padding: 5;
	color: #666666;
	overflow: hidden;
}

.login_box_sub #login_error_message {
        color: red;
}

.login_box_sub .login_left .login_title {
	font-family: "Cataneo BT", "sans-serif", "Gungsuh", "Arial";
	color: #FF9900;
	font-size: 24pt;
}

.login_box_sub .login_right {
	float: right;
	position: relative;
	width: 220;
	height:175;
	margin: 35 10 0 5;
	text-align: left;
	background: #f1f3f5;
	border: solid 1px #CCCCCC;
	overflow: hidden;
}
/* End of login box */

/* Start of schedule page */
.schedule_container {
	width: 100%;
	border: 0 none;
	border-collapse: collapse;
	margin-bottom: 5px;
	position: relative;
	height: 20;
}

.schedule_title {
	border: solid 1px #d0dde1;
	height: 20;
	overflow: hidden;
	background: #cadef7;
	color: #0e47b1;
	text-align: center;
	font:bold 11px tahoma,arial,helvetica;
}
.schedule_item {
	border: solid 1px #d0dde1;
	height: 125;
	background-color:white;
}
.schedule_date {
	text-align: right;
	height: 20;
	padding-right: 3px;
}
.schedule_days_in_month {
	background-color: #DDE6F2;
	color: #444444;
}
.schedule_days_not_in_month {
	color: #aaaaaa;
	background-color: #e8eef7;
}
.schedule_content {
	position: relative;
	width: 109;
	height:105;
	white-space: nowrap;
	padding: 1;
	overflow: hidden;
}
.schedule_content_today {
	background-color: #ffffcc;
}
.schedule_show_all {
	position : absolute;
	width : 250;
	border : solid 1px #cccccc;
	z-index : 100000;
	white-space: nowrap;
	display: none;
	background: white;
	overflow: hidden;
}
.schedule_show_all_mc {
	padding: 5px;
}
.schedule_show_all_hd {
	width:100%;
	height: 20px;
	background-color:#DDE6F2;
}
.schedule_show_all .aw-dlg-close {
	right: 1px;
	top: 1px;
}
input.schedule_botton {
	font-size : 11px;
}

/* End of schedule page */
