<!DOCTYPE HTML>
<html>
<head>
<include file="Public:head" />
</head>

<body>
<include file="Public:header" />

<div class="midder">
<div class="mc">
	<h1>{$seo.title}</h1>
	<div class="cleft">

	<form id="form_note" method="post" onsubmit="return checkNoteForm(this);" action="{:U('space/notes/update')}">
    <input id="note_id" name="noteid" value="{$strNote['noteid']}" type="hidden">
    <div class="row note-title">
        <label class="field" for="note_title">题目:</label>
        <div>
            <input tabindex="1" id="note_title" name="title" value="{$strNote['title']}" autofocus type="text">
        </div>
    </div>    
    <div class="row note-text">
        <ul class="control-panel">
            <li class="image-btn">
                <a class="lnk-flat" href="javascript:;" title="插入图片" id="addImg">图片</a>
            </li>
            <li class="link-btn">
                <a class="lnk-flat" href="javascript:;" title="插入链接" id="addLink">链接</a>
            </li>
        </ul>
        <label class="field" for="note_text">正文:</label>
        <textarea tabindex="2"  name="content" id="editor_full" maxlength="10000">{$strNote['content']}</textarea>
    </div>
    <div class="images">
    </div>
    <div class="row note-privacy">
        <label class="field">设置可见: </label>
        <label>
            <input tabindex="3" name="privacy" value="1" <eq name="strNote.privacy" value="1">checked</eq> type="radio"><span>所有人可见</span>
        </label>
        <label>
            <input tabindex="4" name="privacy" value="2" <eq name="strNote.privacy" value="2">checked</eq> type="radio"><span>仅朋友可见</span>
        </label>
        <label>
            <input tabindex="5" name="privacy" value="3" <eq name="strNote.privacy" value="3">checked</eq> type="radio"><span>仅自己可见</span>
        </label>
    </div>
    <div class="row note-reply">
        <label class="field" for="cannot_reply">权限设置: </label>
        <label>
            <input tabindex="6" id="cannot_reply" name="isreply" value="0"  <eq name="strNote.isreply" value="0">checked</eq> type="checkbox" ><span>不允许回应</span>
        </label>
    </div>
    <div class="row footer">
        <input tabindex="7" id="publish_note" value="发表" class="btn" name="note_submit" type="submit">
        <span class="bn-flat cancel-note">
            <input tabindex="8" id="cancel_note" value="取消" class="bn-flat" name="cancel_note" type="button" onClick="history.go(-1)">
        </span>
    </div>
<include file="./Apps/Home/View/Public/IKEditor.html" />
<style>
.item-thumb-list{ padding:0px}
</style>
<script language="javascript">
$(function(){
	$('#addImg').bind('click',function(){
		var ajaxurl = "{:U('home/images/add')}";
		var typeid = '{$strNote["noteid"]}';
		var data = "{'type':'note','typeid':'"+typeid+"'}";		
		addPhoto(ajaxurl, data);
	});
	$('#addLink').bind('click',function(){	
		addLink();
	});
});
</script>    
</form>
<div id="preview"></div>


		
    	
    </div><!--//cleft-->
    <div class="cright">
		
    </div><!--//right-->
</div>
</div>

<include file="Public:footer" />
</body>
</html>