.check_rank {
  margin-top: -1px;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  line-height: 42px;
  color: #333333;
}
.check_rank .check_rank_list {
  padding: 0 15px;
  display: block;
}
.check_rank .check_rank_list li {
  list-style: none;
}
.check_rank a {
  color: #333333;
}
.check_date {
  font-size: 12px;
}
