/*main-color:   #00BFA5*/

/*global*/
html,body{
  font-family: "Helvetica Neue", Helvetica, "微软雅黑", Arial, sans-serif;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height:100%;
}
body{
  overflow-y:scroll;
}
a{
	text-decoration: none;
}
.inline{
  display: inline;
  line-height: 40px;
  text-align: center;
}
.disabled{
  box-shadow: none !important;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent !important;
}
.hover{
  cursor: pointer;
  color:#00BFA5 !important;
}
.not-null-tip:before{
  content: "*";
  position:absolute;
  left:-15px;
  top:20px;
  color:#00BFA5;
}

/*layout*/
#menu{
  width:240px;
}
#menu.less{
  width:60px;
  transition: width 0.3s;
}
#container{
  width: 100%;
}
@media screen and (max-width: 1024px){
  #menu{
    width: 100%;
  }

  #menu.less{
    display: none;
  }
}

.toolbar .fs-title{
	letter-spacing:3px;
}
.toolbar{
  height:48px;
  padding-top:4px;
  padding-bottom:4px;
}
#logo{
  width: 28px;
  height: 28px;
  margin-top:5px;
  margin-right:10px;
}

/*breadcrumbs*/
.breadcrumbs .level::before {
  	content: '/';
  	font-size: 14px;
  	color: #bebebe;
  	padding: 0 10px 0 2px;
}
.breadcrumbs .level{
  	font-size: 12px;
  	color: #777;
  	display: inline-block;
  	padding-right: 5px;
  
}
.breadcrumbs .level:last-child{
  cursor: text;
  color:#777 !important; 
}

/*list*/
.list-row{
  cursor: pointer;
}
.list-row__primary{
  width: 32px;
}

.list-row__content{
  padding: 8px 0 !important;
}
.list-row.active{
  background: #00BFA5 !important;
  color: #fff;
}

/*table*/
.data-table th, .data-table td{
  padding-right: 26px;
}

/*tabs*/
.tabs-new{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 56px;
}
.tabs-new .tab{
  display: inline;
  padding: 18px;
  cursor: pointer;
}
.tabs-new .tab.active{
  color: #00BFA5;
  border-bottom: 2px solid #00BFA5;
}
