<footer>
  <div class="container"><a href="https://www.opencart.cn" target="_blank">{{ text_project }}</a>|<a href="https://www.opencart.cn/learning/" target="_blank">{{ text_documentation }}</a>|<a href="https://www.opencart.cn/forum.php" target="_blank">{{ text_support }}</a><br />
    </div>
</footer>
</body></html>
