<!-- 页脚 -->
<block name="footer">
	<div class="container" style="margin-top:48px;">

		<div class="row  bottom-menu" style="display: block;">
			<div class="index  item" align="center">
				<a href="{:U('Index/index')}">
					<i class="icon icon-home"></i>首页
				</a>
			</div>
			<div class=" item" align="center">
				<a href="{:U('Goods/index')}">
					<span class="icon icon-dollar"></span>商品
				</a>
			</div>
			<div class=" item" align="center">
				<a href="{:U('Article/index')}">
					<span class="icon icon-book"></span>攻略
				</a>
			</div>
			<div class=" item" align="center">
				<a href="{:U('User/index')}">
					<span class="icon icon-user"></span>我的
				</a>
			</div>
		</div>




	</div>
</block>


<div class="big-bg">
</div>
<!-- 信息提示框 -->
<div id="top-alert" class="fixed alert alert-error" style="display: none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<div id="message" class="fixed message " style="display:none ;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>

{:C('TONGJI')}
