{layout name="passport:layout" /}
<div class="tabs">
    <ul class="tab_menu mb5">
        <a href="{:url('passport.bank/index')}"><li class="current">我的应用</li></a>
        <a href="{:url('passport.bank/bill')}"><li>我的帐单</li></a>
        <a href="{:url('passport.bank/pay')}"><li>账户充值</li></a>
    </ul>
</div>
<table class="pure-table">
    <thead>
        <tr>
            <th class="w80 fn-tac"></th>
            <th class="w80 fn-tac">应用ID</th>
            <th class="w200">应用名称</th>
            <th class="w120 fn-tac">公众号APPID</th>
            <th class="w120 fn-tac">小程序APPID</th>
            <th>客户端ID</th>
            <th class="w100 fn-tac">当前版本</th> 
            <th class="w120">更新时间</th> 
        </tr>
    </thead>
    <tbody>
    {foreach $list as $vo}
        <tr>
            <td class="fn-tac fn-f16 fn-fb"><img src="/static/{$vo.miniapp.miniapp_dir}/logo.png" class="w60 logo"><p></p></td>
            <td class="fn-tac">{$vo.id} </td>
            <td>{$vo.appname}</td>
            <td>{$vo.mp_appid}</td>
            <td>{$vo.miniapp_appid}</td>
            <td>{$vo.service_id}</td>
            <td class="fn-tac">
                {if $vo->miniapp->is_openapp}
                    {if $vo->miniapp->template_id > $vo->order['update_var']}
                        <span class="badge bg-red">有新版</span>
                    {else}
                        v{$vo.miniapp.version}
                    {/if}
                {else}
                    v{$vo.miniapp.version}
                {/if}
            </td>
            <td>{$vo.miniapp.update_time|date='Y-m-d'}</td>
        </tr>
    {/foreach}
    </tbody>
</table>
{$list|raw}
<style type="text/css">.logo{border-radius: 10px;}</style>