.manage,.del{ color:#FFF;}
#m #setmod{ margin-left:500px;}
#banner,#footer{width: 1000px;}
/*body*/

.col-extra{ display:none;}
#content{ width:1000px; }
.grid .col-sub{ padding-left:15px;}
.grid .main-wrap{ padding-left:20px;}
.col-sub .mbg{  background:url("images/col-sub_mbgBottom_bg.png") no-repeat bottom; padding-bottom:10px; width:259px;}
.col-sub .mbd{  background:url("images/col-sub_mbd_bg.png") repeat-y top;  width:219px; }
.plinks .mbd li{ margin:12px 0 0 16px; border:1px solid #3D3D3D;}
.layout{ background: #101010 ; padding-bottom:10px;}


.pic_list img{ background:#101010; border:1px solid #3d3d3d;}

.nav-bd li{ display:none;}

.hwrap{ background:url("images/hwrap_bg.png") repeat-x top; height:141px;}

#header{  width:1000px; height:141px; position:relative; left:1px;}
#header h1 img{ position:relative; top:55px;}

.cwrap{ background:url("images/cwrap_bg.png") #000  repeat-x top;}

.contact_con dt{ color:#b44d35;}
.mhd button{ color:#fff; }
.main-wrap .mhd .r{ padding-right:15px;}

.map{ background:#fff; border:1px solid #464646;}

.menu { position:relative; top:100px; padding-right:30px;}
.menu span a{ color:#6f2721;}
.mbd{ color:#8f8686;}
.mhd span a:link,.mhd span a:visited{ color:#544f4f;}

body{color:#555; background:#000;}
.tbbd{color:#555; background:#000;}
a:link,a:visited{color:#8f8686;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #acadb1 solid;border-left:1px #e3e6ed solid;border-right:1px #e3e6ed solid;border-bottom:1px #e3e6ed solid; background:#fff;}
.job_con table,.guest table {border-top:1px solid #454545;border-left:1px solid #454545;}
.job_con td,.guest td{background:#101010;border-bottom:1px solid #454545;border-right:1px solid #454545;}
.job_con th,.guest th{background:#1d1d1d;border-bottom: 1px solid #454545; border-right:1px solid #454545;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;margin-top:22px;color: #b44d35; position:relative; top:55px; }
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}

.nav{position:absolute;top:0px;overflow:hidden; }
.nav li{background:url("images/navli.png") no-repeat right center;}

.nav li a{font-weight:normal;width:106px;text-align:center; height:50px; }
.nav li span{padding-top:13px;}
.navlist ul{top:35px;left:8px;}
.navlist ul li{background:none;line-height:25px;background:#ebf3fd;border-bottom:1px #fff solid;width:106px;}
.navlist ul li a{font-weight:normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat top; height:50px; }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#d5c2be;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}
.nav li.active ul a:hover{background:none;}
.nav ul .last{ background:none;}
.slidernav{ right:38px;}
.bwrap{  background:url("images/bannerTop_bg.png") no-repeat ; width:1000px; padding-top:26px; margin-left:auto; margin-right:auto;}
#banner{ background:url("images/bannerBottom_bg.png") no-repeat bottom; padding-bottom:24px; width:1000px;  }
#banner .slider,#banner .singPic{ background:url("images/bannerMain_bg.png") repeat-y;   width:1000px; }
#slider{ margin-left:24px;}
/*content*/
.mbox{padding:2px 1px 1px;margin-bottom:10px;}
.col-main .mbox{padding:2px 0px 1px;}

.col-sub .mhd{background:url("images/mhd_bg.png") no-repeat 0 top; height:42px; line-height:42px; width:259px; }

.mhd h3{color:#a59f9f;padding-left:40px;}
.col-main .mhd{background:url("images/col-main_mhd_bg.png") no-repeat top center; height:40px; line-height:40px; }
.main-wrap .mhd{ background:url("images/main-wrap_mhd_bg.png") no-repeat top; width:697px; height:40px; line-height:40px;}
.col-main .mhd h3{width:auto;background:url("images/bico.png") no-repeat 0 center; color:#a59f9f;}
.col-main .mhd h3{background:url("images/sico01.png") no-repeat 20px center; padding-left:45px; line-height:42px;}
.col-sub .mhd h3{background:url("images/sico01.png") no-repeat 15px center;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 15px center;}
.n_ico .mhd h3{padding-left:40px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}

.feedback a{width:260px;background:url("images/feedback.png") no-repeat;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #464646 dotted;}
.news_list li{background:url("images/news_list_ico1.png") no-repeat 10px center;}
.news li span,.seabox li span{color:#877d7d;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #454545 dashed;}
.notice_con p.active{background:#1d1d1d;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #222121 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#8f3227;}
.down_list .mbd li h2{border-bottom:1px #222121 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#741d15;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}	
.title{border-bottom:1px #464646 solid;}
.title h2{color:#5d5d60;}
.title p{color:#5d5d60;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #cbccce solid;background:#fff;color:#686868;}
.g_page .current,.g_page a:hover{background:#8a2f25;color:#fbe4d0;border:1px #dab18e solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#292929; }
.item span{color:#8f8686;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom; color:#5d5d60;}
/*feedback*/
.inputSubmit{color:#fff;width:58px;height:23px;}
.inputSubmit_reset{color:#b5afaf;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.fwrap{ background:#000; }
.pipe {color:#877d7d;}
#footer {color: #636060; background:url("images/footer_bg.png") no-repeat top; height:75px;}

#footer a:link, #footer a:visited {color: #877d7d;}
#footer a:hover {color: #877d7d;}
#footer .support a:link, #footer .support a:visited{color: #636060;}
