/*------------返回首页的点击片区-----------------*/
.login-back-to-home-wrapper{
    background-image: url("../image/background/register-bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 200px;
}

.login-back-to-home-wrapper .back-to-home-wrapper{
    padding-top: 60px;
    text-align: center;
}

.login-back-to-home-wrapper .back-to-home-wrapper .back-to-home{
    width: 7em;
    line-height: 2.3em;
    display: inline-block;
    color: #ffffff;
    background-color: #33CCCC;
    border-radius: 3px;
}

.login-back-to-home-wrapper .back-to-home-wrapper .back-to-home:hover{
    background-color: #3fe7e7;
}

/*--------注册表单的内容区-----------*/
.register-wrapper{
  border: 1px solid #019999;
  height: 550px;
  position: relative;
  top: -85px;
  background-color: #ffffff;
}

.register-wrapper h2{
  margin-top: 1.5em;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  font-size: 1.6em;
  color: #999999;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #00CC99;
}

.register-wrapper .register-form{
  width: 45%;
  margin: auto;
  padding-top: 1.7em;
}

.register-wrapper .register-form>div{
  line-height: 3.2em;
  height: 3.2em;
  font-size: 1.2em;
  position: relative;
}

.register-wrapper .register-form .error-input{
    position: absolute;
    top: 3.2em;
    left: 25%;
    width: 40em;
    text-align: left;
    font-size: .8em;
    color: #ff0011;
    line-height: 1.6em;
}

.register-wrapper .register-form>div>label{
  cursor: pointer;
  width: 20%;
  float: left;
  text-align: right;
  color: #009999;
}

.register-wrapper .register-form>div>input{
  margin-left: 3%;
  width: 75%;
  height: 2.1em;
  border: 1px solid #009999;
  vertical-align: middle;
  padding-left: .5em;
}

.register-wrapper .register-form>div>input:hover,
.register-wrapper .register-form>div>input:active,
.register-wrapper .register-form>div>input:focus{
  border: 1px solid #009999;
}

.register-wrapper .register-form .form-button-wrapper{
  width: 80%;
  margin: auto;
  text-align: center;
}

.register-wrapper .register-form .form-button-wrapper button{
  line-height: 1.7em;
  height: 1.7em;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.register-wrapper .register-form .form-button-wrapper button[type=reset]{
  margin-left: 16%;
  background-color: #ff292b;
}
.register-wrapper .register-form .form-button-wrapper button[type=reset]:hover{
  background-color: #c81f20;
}

.register-wrapper .register-form .form-button-wrapper button[type=submit]{
  background-color: #33CCCC;
}
.register-wrapper .register-form .form-button-wrapper button[type=submit]:hover{
  background-color: #2fb6b6;
}
