<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>watermark</name>
            <displayName><![CDATA[水印]]></displayName>
            <version><![CDATA[0.3]]></version>
            <description><![CDATA[通过水印保护图像。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>您确认要删除您的详细资料？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>