<div class="col-xs-12">
	{% for value in cacheList %}
		<a class="btn btn-block btn-primary" data-target="#main" href="{{ url(value['href']) }}"><b>{{ value['name'] }}</b></a>
		<div class="space-8"></div>
	{% endfor %}
</div>