<layout name="layout" />

<script src="{$uri}Public/Scripts/PSI/Form/MainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Form/CategoryEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Form/FormEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Form/FormCategoryField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Form/FormColEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Form/FormDetailColEditForm.js?dt={$dtFlag}" type="text/javascript"></script>

<script>
  Ext.onReady(function () {
    var app = Ext.create("PSI.App", {
      userName: "{$loginUserName}",
      productionName: "{$productionName}"
    });

    app.setAppHeader({
      title: "{$title}"
    });

    app.add(Ext.create("PSI.Form.MainForm"));
  });
</script>
