<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>newsletter</name>
            <displayName><![CDATA[简报]]></displayName>
            <version><![CDATA[2]]></version>
            <description><![CDATA[为大量邮件生成一个.CSV文件]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>