
{extend name="common@base/common" /}
{block name="style"}
<link href="__CSS__/main.min.css" type="text/css" rel="stylesheet">

{/block}
{block name="body"}
<div id="main-container" class="container">
    <form class="form-horizontal" method="post" action="{:url()}">
    <input type="hidden" name="id" value="{$order.id}"/>
    <input type="hidden" name="channel" value=""/>
    <section class="success-order-section">
        <div class="tip_box">
            <h2>订单已生成</h2>
            <p>请选择支付渠道</p>
        </div>
        <div class="order_info text-center">
        {notempty name="channel"}
            <div class="payment-channel-box clearfix">
                {volist name="channel" id="vo"}
                <div class="radio payment-child" data-toggle="paychannel" data-type="{$vo.type}" data-channel="{$vo.name}" title="{$vo.title}">
                    
                    <i class="icon-check-circle"></i>

                    <span><img src="__IMG__/{$vo.icon}"></span>
                </div>
               {/volist}
            </div>
        {/notempty}
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-warning" type="submit" data-toggle="submit">立即支付</button>
            <a class="btn btn-lg" type="button" href="{:url('user/orders')}">稍后支付</a>
        </div>
    </section>
    </form>
</div>
{/block}
{block name="script"}
<script src="__JS__/pay.min.js"></script>
{/block}