<div class="next-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 about-us">
                <p class="p-head">关于我们</p>
                {:modC('ABOUT_US',lang('_NOT_SET_NOW_'),'Config')}
            </div>
            <div class="col-xs-4 text-center">
                <p style="margin-top: 5px">
                    <img src="__PUBLIC__images/code.png" alt="">
                </p>
            </div>
            <div class="col-xs-2 friend">
                <p class="p-head">友情链接</p>
                {:widget('Common/SuperLinks/superLinks')}
            </div>
            <div class="col-xs-2 comp">
                <p class="p-head">公司</p>
                <a href="http://www.uctoo.com/joinus.html" target="_blank">
                    <p><i class="icon icon-user"></i>加入我们</p>
                </a>
                <p><i class="icon icon-phone-sign"></i>0755-33942068</p>
                <p><i class="icon icon-envelope-alt"></i>hr@uctoo.com</p>
            </div>
        </div>
        <div class="row last-box text-center">
            <p>
                <span>粤ICP备14048871号-2 <a href="http://www.uctoo.cn" target="_blank">Powered by UCToo</a></span>
                <span>{:modC('COPY_RIGHT',lang('_NOT_SET_NOW_'),'Config')}</span>
            </p>
            {:config('COUNT_CODE')}
        </div>
    </div>
</div>

{include file="../../../application/common/view/default/public/js"/}
<block name="script"><!-- 用于加载js代码 --></block>
<script>
    $(document).ready(function () {
        $('[data-role="add_more"]').click(function () {
            $(".footer-bar").fadeToggle();
            $("#add_more").hide();
        });
        $('[data-role="close_more"]').click(function () {
            $(".footer-bar").fadeToggle();
            $("#add_more").show("slow");
        });
    });
</script>
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<!-- 调用全站公告部件-->
{:widget('Common/Announce/render')}

<!-- 调用消息部件-->
{:widget('Common/Message/render')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    {:config('COUNT_CODE')}
    <block name="hidden"></block>
</div>

<script>
    // VERSION_NAME 替换为项目的版本，VERSION_CODE 替换为项目的子版本
  //  new Bugtags('d6023daa6c7467634636c87b3f16213e','8.12','VERSION_CODE');
</script>
