
<!-- 引入头部 -->
{include file="public/header" /}

<form class="layui-form info-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">友链名称：</label>
			<div class="layui-input-inline">
				<input name="name" id="name" value="{$info.name}" lay-verify="required" autocomplete="off" placeholder="请输入友链名称" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">URL地址：</label>
			<div class="layui-input-inline">
				<input name="url" id="url" value="{$info.url}" lay-verify="required" autocomplete="off" placeholder="请输入友链URL地址" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">友链分类：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('category|1|友链分类|name|id',config('adminconfig.link_category'),$info['category']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">所属平台：</label>
			<div class="layui-input-block">
				{:widget('common/singleSelect',array('platform|1|所属平台|name|id',config('adminconfig.platform_type'),$info['platform']))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">数据类型：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('t_type|1|数据类型|name|id',config('adminconfig.link_type'),$info['t_type']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">是否显示：</label>
			<div class="layui-input-inline">
				{:widget('common/switchCheck',array(is_show,'显示|隐藏',$info['is_show']))}
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-hide logo">
		<label class="layui-form-label">友链图片：</label>
		{:widget('common/uploadImg',array(logo,$info['logo_url'],'90x90'))}
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">序号：</label>
		<div class="layui-input-inline">
			<input name="sort_order" id="sort_order" value="{$info.sort_order}" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

<!-- 引入头部 -->
{include file="public/footer" /}
