<div class="widget-head am-cf kb_bg">
    {notempty name="infoModule.menu"}
        {foreach name="infoModule.menu" item="vo"}
        <a type="button" href="{$vo.url}" class="am-btn am-btn-{if condition="stristr($vo['url'],str_replace('.html','',url()))"}secondary{else /}default{/if} am-btn-xs">{$vo.name}</a>
        {/foreach}
    {/notempty}
    {notempty name="infoModule.add"}
    <!--if{($vo['url'] == $self) || ($vo['url'] == $url)  || (stristr($vo['url'],url()))}-->
    <div class="am-btn-group am-btn-group-xs am-fr" data-am-dropdown>
        {notempty name="infoModule.add.1"}
        <button class="am-btn am-btn-warning am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-plus"></span> 新增 <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
            {foreach name="infoModule.add" item="vo"}
            <li><a href="{$vo.url}">{$vo.name}</a></li>
            {/foreach}
        </ul>
        {else /}
        <a type="button" href="{$infoModule['add'][0]['url']}" target="{$infoModule['add'][0]['target']|default=''}" class="am-btn am-btn-warning"><span class="am-icon-plus"></span> {$infoModule['add'][0]['name']}</a>
        {/notempty}
    </div>
    {/notempty}
</div>