<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>ips</name>
            <displayName><![CDATA[环迅IPS]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[IPS账户是上海环迅于2005年推出的新一代基于电子邮件的互联网多币种收付款工具。截止到目前，IPS账户具备在线充值、在线收付款、在线转账、网上退款和网上提款等多种功能，并支持多种账户充值方式。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>