body, th, td, button, input, select, textarea { font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif,"\5B8B\4F53"; font-size: 14px; color: #333; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

a { color: #333333; text-decoration: none; }
a:hover { color: #00AAEE; text-decoration: none; }
a:focus { color: #00AAEE; text-decoration: none; }
a:active { color: #00AAEE; text-decoration: none; }

pre,h1, h2, h3, h4, h5, h6, a, .text, .title { word-break: break-all; word-wrap: break-word; }

.content pre{width: 765px;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: auto; outline: 0; outline-offset: 0; }

.dropdown-menu { border: 1px solid transparent; box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.1); margin-top: 9px !important; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.dropdown-menu > li { float: none !important; padding-right: 0 !important; }
.dropdown-menu > li > a { padding: 8px 16px; color: #6f6f6f; text-decoration: none; display: block; clear: both; font-weight: 300; line-height: 18px; white-space: nowrap; }
.dropdown-menu:after { position: absolute; top: -7px; right: 10px; display: inline-block !important; border-right: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid transparent; content: ''; }
.dropdown-menu:before { position: absolute; top: -8px; right: 9px; display: inline-block !important; border-right: 8px solid transparent; border-bottom: 8px solid #efefef; border-left: 8px solid transparent; content: ''; }

.panel-default > .panel-heading { background-color: #FFFFFF; border: 0; }

.panel { border-radius: 3px; border: 0; -webkit-box-shadow: initial; box-shadow: inherit; }
.panel .panel-heading { position: relative; padding: 15px 20px 0px 20px; }
.panel .panel-heading h3 { margin: 0; padding-bottom: 15px; line-height: 16px; font-size: 16px; font-weight: 500; color: #333; border-bottom: 1px solid #EFEFEF; }
.panel .panel-heading h3 span { color: #BABABA; font-size: 13px; }
.panel .panel-heading .right { position: absolute; right: 20px; top: 12px; font-size: 13px; padding: 1px 5px; border: 1px solid transparent; line-height: 1.5; }
.panel .panel-heading .right:hover { border-radius: 3px; background-color: #eef1f5; color: #333; }
.panel .panel-heading .btn-xs { position: absolute; right: 20px; top: 12px; font-size: 13px; }
.panel .panel-body { padding: 15px 20px 15px 20px; }
.panel .panel-body .panel-body-title { padding: 0; min-height: 48px; }
.panel .panel-body .panel-body-title h3 { margin: 0; padding-bottom: 15px; line-height: 16px; font-size: 16px; font-weight: 500; color: #333; border-bottom: 1px solid #EFEFEF; }
.panel .panel-body .panel-body-title label { color: #333; padding: 10px 0; font-size: 16px; font-weight: 500; float: left; display: inline-block; line-height: 18px; }

.table-default { width: 100%; overflow-x: auto; overflow-y: hidden; }
.table-default > .table { width: 100% !important; margin: 0 !important; margin-bottom: 0; background-color: #fff; }
.table-default > .table > thead > tr > th, .table-default > .table > tbody > tr > th, .table-default > .table > tfoot > tr > th, .table-default > .table > tfoot > tr > th, .table-default > .table > tfoot > tr > td { white-space: nowrap; }
.table-default > .table-bordered { border: 0; }
.table-default > .table-bordered > thead > tr > th:first-child, .table-default > .table-bordered > tbody > tr > th:first-child, .table-default > .table-bordered > tfoot > tr > th:first-child, .table-default > .table-bordered > thead > tr > td:first-child, .table-default > .table-bordered > tbody > tr > td:first-child, .table-default > .table-bordered > tfoot > tr > td:first-child { border-left: 0; }
.table-default > .table-bordered > thead > tr > th:last-child, .table-default > .table-bordered > tbody > tr > th:last-child, .table-default > .table-bordered > tfoot > tr > th:last-child, .table-default > .table-bordered > thead > tr > td:last-child, .table-default > .table-bordered > tbody > tr > td:last-child, .table-default > .table-bordered > tfoot > tr > td:last-child { border-right: 0; }
.table-default > .table-bordered > thead > tr:last-child > th, .table-default > .table-bordered > tbody > tr:last-child > th, .table-default > .table-bordered > tfoot > tr:last-child > th, .table-default > .table-bordered > thead > tr:last-child > td, .table-default > .table-bordered > tbody > tr:last-child > td, .table-default > .table-bordered > tfoot > tr:last-child > td { border-bottom: 0; }

.table td, .table th { font-size: 14px; }
.table.table-bordered thead > tr > th { border-bottom: 0; }
.table td .img-responsive { width: 100%; }

.table.table-light { border: 0 !important; }
.table.table-light > thead > tr:hover > th { background: none; }
.table.table-light > thead > tr.uppercase { text-transform: uppercase; }
.table.table-light > thead > tr > th { font-weight: 600; font-size: 13px; color: #93a2a9; border: 0; border-bottom: 1px solid #F2F5F8; }
.table.table-light > tbody > tr:last-child > td { border: 0; }
.table.table-light > tbody > tr > td { border: 0; border-bottom: 1px solid #F2F5F8; color: #8896a0; vertical-align: middle; }
.table.table-light > tbody > tr > td.user { width: 40px; padding-right: 0px; }
.table.table-light > tbody > tr > td .avatar { display: inline-block; vertical-align: middle; height: 30px; border-radius: 50% !important; }
.table.table-light.table-hover > tbody > tr > td:hover, .table.table-light.table-hover > tbody > tr > th:hover, .table.table-light.table-hover > tbody > tr:hover > td, .table.table-light.table-hover > tbody > tr:hover > th { background: #f9fafb; }

.list-time { line-height: 30px; position: relative; }
.list-time:before, .list-time:after { content: " "; display: table; }
.list-time:after { clear: both; }
.list-time a { float: left; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-right: 80px; width: 100%; }
.list-time time { position: absolute; right: 0; color: #BABABA; }

.form-control { border: 1px solid #c2cad8; box-shadow: none !important; }

.input-group .btn { border: 1px solid #c2cad8; }
.input-group select { height: 34px; }

#message {/* height: 380px;*/ width: 100%; border: 0; margin-bottom: 30px;}

.mce-tinymce.mce-container.mce-panel { border-radius: 4px; }

.mce-tinymce.mce-container.mce-panel { border-bottom: 0 !important; }

.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item { border-right: 1px solid #c2cad8 !important; border-left: 1px solid #c2cad8 !important; padding-right: 1px; }

.mce-toolbar-grp.mce-container.mce-panel.mce-stack-layout-item.mce-first { border-top-left-radius: 3px; border-top-right-radius: 3px; border: 1px solid #c2cad8 !important; }

.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-right: 1px solid #c2cad8 !important; border-left: 1px solid #c2cad8 !important; border-bottom: 1px solid #c2cad8 !important; }

.btn-default { color: #666; background-color: #fff; border-color: #eef1f5; }
.btn-default:focus, .btn-default.focus { color: #666; background-color: #e6e6e6; border-color: #9eafc6; }
.btn-default:hover { color: #666; background-color: #e6e6e6; border-color: #c7d1de; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { color: #666; background-color: #e6e6e6; border-color: #c7d1de; }
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus { color: #666; background-color: #d4d4d4; border-color: #9eafc6; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { background-image: none; }
.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus { background-color: #fff; border-color: #eef1f5; }
.btn-default .badge { color: #fff; background-color: #666; }

.btn-primary { color: #fff; background-color: #00aaee; border-color: #00aaee; }
.btn-primary:focus, .btn-primary.focus { color: #fff; background-color: #0086bb; border-color: #004f6f; }
.btn-primary:hover { color: #fff; background-color: #0086bb; border-color: #007eb1; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { color: #fff; background-color: #0086bb; border-color: #007eb1; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus { color: #fff; background-color: #006c97; border-color: #004f6f; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { background-image: none; }
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus { background-color: #00aaee; border-color: #00aaee; }
.btn-primary .badge { color: #00aaee; background-color: #fff; }

.btn-success { color: #fff; background-color: #32c5d2; border-color: #32c5d2; }
.btn-success:focus, .btn-success.focus { color: #fff; background-color: #26a1ab; border-color: #18666d; }
.btn-success:hover { color: #fff; background-color: #26a1ab; border-color: #2499a3; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { color: #fff; background-color: #26a1ab; border-color: #2499a3; }
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus { color: #fff; background-color: #1f858e; border-color: #18666d; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }
.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus { background-color: #32c5d2; border-color: #32c5d2; }
.btn-success .badge { color: #32c5d2; background-color: #fff; }

.btn-info { color: #fff; background-color: #21a9e1; border-color: #1c99cd; }
.btn-info:focus, .btn-info.focus { color: #fff; background-color: #1988b6; border-color: #0d455d; }
.btn-info:hover { color: #fff; background-color: #1988b6; border-color: #147197; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { color: #fff; background-color: #1988b6; border-color: #147197; }
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus { color: #fff; background-color: #147197; border-color: #0d455d; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { background-image: none; }
.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus { background-color: #21a9e1; border-color: #1c99cd; }
.btn-info .badge { color: #21a9e1; background-color: #fff; }

.btn-warning { color: #fff; background-color: #f3c200; border-color: #daae00; }
.btn-warning:focus, .btn-warning.focus { color: #fff; background-color: #c09900; border-color: #5a4800; }
.btn-warning:hover { color: #fff; background-color: #c09900; border-color: #9c7d00; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { color: #fff; background-color: #c09900; border-color: #9c7d00; }
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus { color: #fff; background-color: #9c7d00; border-color: #5a4800; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { background-image: none; }
.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus { background-color: #f3c200; border-color: #daae00; }
.btn-warning .badge { color: #f3c200; background-color: #fff; }

.btn-danger { color: #fff; background-color: #e7505a; border-color: #e43a45; }
.btn-danger:focus, .btn-danger.focus { color: #fff; background-color: #e12330; border-color: #8b131b; }
.btn-danger:hover { color: #fff; background-color: #e12330; border-color: #c51b26; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { color: #fff; background-color: #e12330; border-color: #c51b26; }
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus { color: #fff; background-color: #c51b26; border-color: #8b131b; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }
.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus { background-color: #e7505a; border-color: #e43a45; }
.btn-danger .badge { color: #e7505a; background-color: #fff; }

/*# sourceMappingURL=base.css.map */
.tChecked{background: #e6e6e6}