/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #4baad3;
}
.homebutton{
   background-color: #4baad3;
   color:#FFF;
}
.shoppingCartWrapper, .mainMenuOuterWrapper {
	background-color: #4baad3;
}
.headerWrapper {
	background-color: #4baad3;
}
.headerDecoration, .footerDecoration {

}
.sliderControl {
	background-color: #4baad3;
}
.sectionTitleLink {
	color: #4baad3;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #4baad3;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/blue/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/blue/jia.png);
}
.jian {
	background-image: url(../../images/skins/blue/jian.png);
}
.jia {
	background-image: url(../../images/skins/blue/jia.png);
}
.fenlei {
	background-image: url(../../images/icons/smallIcons/16/2/iconArrowRightBg16.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/blue/smallPostReadMoreButtonBg.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/blue/accordionButtonBg.png);
}
.footerWrapper {
	background-color: #4baad3;
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/blue/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/blue/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/blue/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/blue/accordionButtonBg-x2.png);
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/blue/headerFooterDecoBg-x2.png);
	background-size: 12px 6px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
