/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Green Skin CSS Rules Start                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #65c178;
}
.homebutton{
   background-color: #65c178;
   color:#FFF;
}
.buttonBlue, input.buttonBlue {
	background-color: #65c178;
}
.buttonBlue:hover {
	background-color:#666;
}
.jian {
	background-image: url(../../images/skins/green/jian.png);
}
.jia {
	background-image: url(../../images/skins/green/jia.png);
}
.fenlei {
	background-image: url(../../images/icons/smallIcons/16/2/iconArrowRightBg16.png);
}
.shoppingCartWrapper, .mainMenuOuterWrapper {
	background-color: #65c178;
}
.headerWrapper {
	background-color: #65c178;
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/green/headerFooterDecoBg.png);
}
.sliderControl {
	background-color: #65c178;
}
.sectionTitleLink {
	color: #65c178;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #65c178;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/green/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/green/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/green/smallPostReadMoreButtonBg.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/green/accordionButtonBg.png);
}
.footerWrapper {
	background-color: #65c178;
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/green/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/green/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/green/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/green/accordionButtonBg-x2.png);
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/green/headerFooterDecoBg-x2.png);
	background-size: 12px 6px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Green Skin CSS Rules End                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
