/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Orange Skin CSS Rules Start                                                                        */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #ffb24d;
}
.homebutton{
   background-color: #ffb24d;
   color:#FFF;
}
.buttonBlue, input.buttonBlue {
	background-color: #ffb24d;
}
.buttonBlue:hover {
	background-color:#666;
}
.jian {
	background-image: url(../../images/skins/orange/jian.png);
}
.jia {
	background-image: url(../../images/skins/orange/jia.png);
}
.fenlei {
	background-image: url(../../images/icons/smallIcons/16/2/iconArrowRightBg16.png);
}
.shoppingCartWrapper, .mainMenuOuterWrapper {
	background-color: #ffb24d;
}
.headerWrapper {
	background-color: #ffb24d;
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/orange/headerFooterDecoBg.png);
}
.sliderControl {
	background-color: #ffb24d;
}
.sectionTitleLink {
	color: #ffb24d;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #ffb24d;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/orange/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/orange/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/orange/smallPostReadMoreButtonBg.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/orange/accordionButtonBg.png);
}
.footerWrapper {
	background-color: #ffb24d;
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/orange/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/orange/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/orange/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/orange/accordionButtonBg-x2.png);
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/orange/headerFooterDecoBg-x2.png);
	background-size: 12px 6px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Orange Skin CSS Rules End                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
