/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Pink Skin CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #fe5d83;
}
.homebutton{
   background-color: #fe5d83;
   color:#FFF;
}
.buttonBlue, input.buttonBlue {
	background-color: #fe5d83;
}
.buttonBlue:hover {
	background-color:#666;
}
.jian {
	background-image: url(../../images/skins/pink/jian.png);
}
.jia {
	background-image: url(../../images/skins/pink/jia.png);
}
.fenlei {
	background-image: url(../../images/icons/smallIcons/16/2/iconArrowRightBg16.png);
}

.shoppingCartWrapper, .mainMenuOuterWrapper {
	background-color: #fe5d83;
}
.headerWrapper {
	background-color: #fe5d83;
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/pink/headerFooterDecoBg.png);
}
.sliderControl {
	background-color: #fe5d83;
}
.sectionTitleLink {
	color: #fe5d83;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #fe5d83;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/pink/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/pink/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/pink/smallPostReadMoreButtonBg.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/pink/accordionButtonBg.png);
}
.footerWrapper {
	background-color: #fe5d83;
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/pink/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/pink/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/pink/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/pink/accordionButtonBg-x2.png);
}
.headerDecoration, .footerDecoration {
	background-image: url(../../images/skins/pink/headerFooterDecoBg-x2.png);
	background-size: 12px 6px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Pink Skin CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
