{include file='people/public/header'}
    <div class="row" style="margin-top: 10px;">
    </div>
    <div class="row">
        <div class="u-menu">
            {include file='people/public/left'}
            
        </div>
        <div class="u-main">
            <div id="tab_menu">
                <ul class="u-tab clearfix">
                    <li class="current"><a>身份认证</a></li>
                    <li><a>手机认证</a></li>
                    <li><a>邮箱认证</a></li>
                </ul>
            </div>
            <div id="tab_box">
                <div class="u-form-wrap">                  
                    <div>
                        您还没有进行身份认证</div>
                </div>
                <div class="u-form-wrap" style="display: none;">                   
                    <div>
                        您还没有进行手机认证</div>
                </div>
                <div class="u-form-wrap" style="display: none;">                   
                    <div>  {$userinfo.email} </div>
                </div>
            </div>
        </div>
       
    </div>
{include file='people/public/footer'}
