.qb_img_004 ul{
	display:table;
	width:100%;
	margin-bottom:15px;
	border-bottom:#DDD solid 1px;
}
.qb_img_004 ul ol,.qb_img_004 ul li{
	display:table-cell;
	vertical-align:top;
	padding-bottom:15px;
}
.qb_img_004 ul ol{
	width:280px;
}
.qb_img_004 ul ol a{
	display:block;
	border:#EEE solid 1px;
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.qb_img_004 ul ol a:before{
	content:'';
	display:block;
	padding-bottom:70%;
}
.qb_img_004 ul ol a img{
	position: absolute;
	max-height:96%;
	max-width:98%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.qb_img_004 ul li{
	padding:0 15px 15px 15px;
}
.qb_img_004 ul li h3{
	height:25px;
	line-height:25px;
	margin-bottom:10px;
	font-size:16px;
	overflow:hidden;
	font-weight:normal;
}
.qb_img_004 ul li p{
	height:120px;
	line-height:20px;
	overflow:hidden;
	color:#888;
	font-size:14px;
	margin-bottom:10px;
}
.qb_img_004 ul li div{
	height:20px;
	overflow:hidden;
	line-height:20px;
	font-size:12px;
	color:#999;
}

.qb_img_004 ul.type2 ol{
	width:220px;
}
.qb_img_004 ul.type2 li p{
	height:80px;
}
.qb_img_004 ul.type3 ol{
	width:160px;
}
.qb_img_004 ul.type3 li p{
	height:40px;
}
.qb_img_004 ul.type4 ol{
	width:150px;
}
.qb_img_004 ul.type4 li p{
	height:40px;	
}
.qb_img_004 ul.type5 ol{
	width:120px;
}
.qb_img_004 ul.type5 li{
	padding:0 5px 8px 8px;
}
.qb_img_004 ul.type5 li h3{
	height:46px;
	line-height:23px;
	font-size:14px;

}
.qb_img_004 ul.type5 li p{
	display:none;
}
.qb_img_004 .list{
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	font-size: 16px;
	position: relative;
	padding: 0px 5px 0 25px;
}
.qb_img_004 .list:hover{
	background: #FAFAFA;
}
.qb_img_004 .list:before{
	content: '';
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	background: #CCC;
	border-radius: 50%;
	left: 8px;
	top:15px;
}
