.MainContComment{
	max-width:640px;
	overflow:hidden;
	margin:10px auto;
	border:#DDD solid 1px;
	background:#EFEFEF;
	border-radius:5px;
}
.MainContComment .head {
	font-size:18px;
	line-height:36px;
	text-align:center;	
	background:#999;
	color:#FFF;
	min-height:36px;
	overflow:hidden;
}
.MainContComment .head .left{
	float:left;
	margin-left:10px;
}
.MainContComment .head .right{
	float:right;
	margin-right:10px;
}
.MainContComment .head:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}

.MainContComment .head a{
	color:#FFF;
}



.MainContComment .CommentList{
	width:96%;
	margin:10px 2% 10px 2%;
	background:#fff;
}
.MainContComment .CommentList .title span.red{
	font-size:14px;
	font-weight:normal;
	color:#ff6600;
	margin-left:5px;
}
.MainContComment .CommentList .title{
	width:94%;
	padding:0 3%;
	height:35px;
	background:#3399FF;
	overflow:hidden;
	color:#fff;
	font:bold 16px/35px 'STXihei';
}
.MainContComment .CommentList .title a{
	color:#fff;
}

.MainContComment .CommentList .info{
	border:1px solid #E5E5E5;
	border-top:0;
}
.MainContComment .CommentList .info .UserTime{
	width:96%;
	margin:0 2%;
	padding:5px 0;
	height:30px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	font:14px/30px 'Microsoft Yahei';
}
.MainContComment .CommentList .info .UserTime .userL{
	float:left;
	color:#666;
}
.MainContComment .CommentList .info .UserTime .timeR{
	float:right;
	color:#999;
}

.MainContComment .CommentList .info .CommentSubmits{
	width: 96%;
	margin: 0 2%;
	height: 40px;
	overflow:hidden;
}
.MainContComment .CommentList .info .CommentSubmits span.state{
	float:left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;

	display: block;
	margin-left: 10px;
	margin-top: 4px;
	color: #999;	
}
.MainContComment .CommentList .info .CommentSubmits span.state a{
	display: block;
	border: 0;
	height: 30px;
	width: 60px;
	margin: 0;	
}
.MainContComment .CommentList .info .CommentSubmits a{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;
	float: right;
	display: block;
	margin-left: 10px;
	margin-top: 4px;
	color: #999;
}
.MainContComment .OutSubmits{
	text-align: center;
	height: 35px;
	line-height: 35px;
	padding-bottom: 10px;
}
.MainContComment .OutSubmits a{
	line-height: 30px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;
	color: #999;
	padding: 3px 8px;	
}
.MainContComment .OutSubmits input[type=submit]{
	line-height: 22px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;
	color: #999;
	padding: 3px 8px;
	color: #333;
}

.MainContComment .Showpage{
	text-align:center;
	padding:5px;
	line-height:25px;
	border-top:#DDD solid 1px;
}
.MainContComment .Showpage a{
	border:#DDD solid 1px;
	padding:3px 5px 2px 5px;
	border-radius:3px;
	font-size:12px;
}
.MainContComment .aboutnote{
	padding:10px 0 10px 0;
}
.MainContComment .aboutnote li{
	padding:5px 5px 0 10px;
	line-height:20px;
}