body{
	padding-bottom:10px;
}
.MemberBase,.MemberMore{
	width:98%;
	overflow:hidden;
	margin:10px auto 0 auto;
	border:#DDD solid 1px;
	background:#FFF;
	border-radius:5px;
}
.MemberBase dl{
	display: table;
	width: 100%;
}
.MemberBase dl dt,.MemberBase dl dd{
	display: table-cell;
	vertical-align:top;
}
.MemberBase dl dt{
	width:120px;
	padding:10px;
}
.MemberBase dl dt span{
	display:block;
	width:120px;
	height:120px;
	overflow:hidden;
	border-radius:5px;
}
.MemberBase dl dd{
	padding:0 5px 5px 0;
}
.MemberBase dl dd ul li{
	line-height:20px;
	padding:5px 0 0 0;
	font-size:16px;
	color:#666;
}
.MemberMore h3{
	line-height:35px;
	text-align:center;
}
.MemberMore dl{
	display: table;
	width: 100%;
	border-top:#DDD solid 1px;
}
.MemberMore dl dt,.MemberMore dl dd{
	display: table-cell;
	line-height:25px;
	padding:5px;
}
.MemberMore dl dt{
	width:100px;
	text-align:right;
	border-right:#DDD solid 1px;
}
.MemberMore dl dd{
	color:#666;
}
.MemberMore .Note{
	text-align:center;
	padding:5px;
	line-height:25px;
	border-top:#DDD solid 1px;
}
#showRegDiv table{
	border-top:#DDD solid 1px;
}
#showRegDiv table td{
	line-height:25px;
	padding:5px;
	border-bottom:0;
}
