<!DOCTYPE html>
<html>
#{include file="header.html"}#
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><i class="fa fa-home"></i>字典分类</h5>
          <div class="ibox-tools"> <a href="#{$smarty.const.ACT}#/crm/CstDictType/cst_dict_type_add/" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 添加</a> <a href="?" class="btn btn-xs btn-danger"><i class="fa fa-refresh"></i>刷新</a> </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover dataTables-example">
            <thead>
              <tr>
                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th width="60">分类名称</th>
                <th width="60">调用标识</th>
                <th width="100">备注</th>
                <th width="50">排序</th>
                <th width="30">操作</th>
              </tr>
            </thead>
            <tbody>
            
            #{foreach from=$list key=k item=v}#
            <tr target="sid_user" rel="#{$v.id}#">
              <td><input name="ids" value="#{$v.id}#" type="checkbox"></td>
              <td>#{$v.typename}#</td>
              <td>#{$v.typetag}#</td>
              <td>#{$v.intro}#</td>
              <td>#{$v.sort}#</td>
              <td><a href="#{$smarty.const.ACT}#/crm/CstDictType/cst_dict_type_modify/id/#{$v.id}#/">修改</a> <a href="#{$smarty.const.ACT}#/crm/CstDictType/cst_dict_type_del/id/#{$v.id}#/">删除</a></td>
            </tr>
            #{/foreach}#
              </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="#{$smarty.const.APP}#/View/template/js/content.js?v=1.0.0"></script>
</body>
</html>