<!-- 引入基类模板 -->
{extend name='public/base' /}

<!-- 主体部分 -->
{block name='content'}

	<!-- 功能操作区一 -->
	<div class="layui-form toolbar">
       <div class="layui-form-item">
           <div class="layui-inline">
				<form class="layui-form">
					<div class="layui-input-inline">
						<input type="text" name="keywords" placeholder="工号/姓名/手机号" autocomplete="off" class="layui-input">
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="searchForm"><i class="layui-icon">&#xe615;</i>查询</button>
				</form>
			</div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: auto;">
					{:widget('funcNode/btnAdd',array('添加人员'))}
					{:widget('funcNode/btnDAll',array('批量删除'))}
               </div>
           </div>
       </div>
	</div>

	<!-- TABLE渲染区 -->
	<table class="layui-hide" id="tableList" lay-filter="tableList"></table>
	
	<!-- 操作功能区二 -->
	<script type="text/html" id="toolBar">
		{:widget('funcNode/btnSetAuth',array('组织权限'))}
		<if condition="in_array('sys:admin:setRole',$funcList)">
		<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="role"><i class="layui-icon">&#xe631;</i>角色设置</a>
		</if>
		{:widget('funcNode/btnEdit',array('编辑'))}
		{:widget('funcNode/btnDel',array('删除'))}
		<if condition="in_array('sys:admin:resetPwd',$funcList)">
		<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="reset"><i class="layui-icon">&#xe640;</i>初始化密码</a>
		</if>
		
	</script>
	
	<!-- 状态 -->
	<script type="text/html" id="statusTpl">
	  <input type="checkbox" name="status" value="{literal}{{ d.status }}{/literal}" lay-skin="switch" lay-text="在用|停用" lay-filter="status" {literal}{{ d.status == 1 ? 'checked' : '' }}{/literal} >
	</script>
	
	<!-- 是否管理员 -->
	<script type="text/html" id="adminTpl">
	  {literal}
		  {{#  if(d.is_admin === '1'){ }}
			<span style="color: #F581B1;">是</span>
		  {{#  } else { }}
			否
		  {{#  } }}
	  {/literal}
	</script>

{/block}
	
	
 
