<extend name="Public/base"/>
<block name="style"><link href="__CSS__/jymusic.plugins.css" rel="stylesheet"></block>
<block name="content">
<extend name="Public/base"/>
<block name="content">
<h3>菜单管理</h3>
<div class="panel panel-default">
	<div class="panel-heading">批量导入 [<{$data.title|default='顶级菜单'}>]</div>
 	<div class="panel-body">
    	<form id="form" action="<{:U('import')}>" method="post" class="form-horizontal">
    		<!-- 基础文档模型 -->
    		<div class="form-group">
    			<label class="col-sm-2 control-label">导入的内容</label>
    			<div class="col-sm-2 import">
    				<textarea name="tree"></textarea>
    				<p class="help-block">（请按照导入格式输入）</p>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="col-sm-2 control-label">导入格式</label>
    			<div class="col-sm-2">
    				<p class="check-tips">标题|url(回车键)<br>标题|url</p>
    			</div>
    		</div>
    		<div class="form-group">
				<input type="hidden" name="pid" value="{$pid}"/>
    			<input type="hidden" name="cate_id" value="{$cate_id|default=0}">
    			<div class="col-sm-4 col-sm-offset-2">
    				<a class="btn btn-default" href="{:U('index?pid='.$pid)}">返 回</a>
    				<button class="btn submit-btn ajax-post btn-primary" id="submit" type="submit" target-form="form-horizontal">确 定</button>    				
    			</div>
    		</div>
    	</form>
	</div>
</div>	

<block name="script">
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
	//导航高亮
   highlight_subnav("<{:U('Config/group')}>","<{:U('Menu/index')}>");
});
</script>
</block>
