<div class="sonata-ba-content">
    {% for module in admin_modules %}
        <div class="row">
            <div class="col-md-12">
                <div class="cms-block cms-block-element">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ module.name }}</h3>
                        </div>
                        <div class="box-body">
                            {% if module.children|length > 0 %}
                                <ul class="dashboard-area bs-glyphicons">
                                    {% for item in module.children %}
                                        <li class="col-md-2">
                                            <a href="{{ path(item.route_name) }}">
                                                <i class="{{ item.icon }}"></i>
                                                <span class="glyphicon-class">{{ item.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>