{% for info in infos %}
    <div class="form-group">
        <span>{{ info.title }}</span>
        <p style="margin: 0px">version: {{ info.version }}</p>
        <div style="margin-bottom: 15px;clear: both; overflow: hidden;">
            <a href="{{ path('swagger_tag_page', {tag: info.tag}) }}" target="_blank" class="control-sidebar-subheading" style="width: 50%; float: left"> Swagger </a>
            <a href="{{ path('document_tag_page', {tag: info.tag}) }}" target="_blank" class="control-sidebar-subheading" style="width: 50%; float: left"> Document </a>
        </div>
    </div>
{% endfor %}