{extend name="base" /}
{block name="body"}

	<div class="layui-form users_list">
	  	<table class="layui-table">
				<thead>
                    <tr>
           <th>执行路径</th>
          <th>执行时间（单位：秒）</th>
          <th>占用内存（单位：KB）</th>
          <th>操作系统</th>
          <th>ip</th>
          <th>记录时间</th>
                    </tr>
                    </thead>
                       {notempty name='list'}
                  <tbody class="users_content">
                    {foreach name="$list" item="vo"}
                    <tr>
        <td>{$vo.exe_url}</td>
                  <td>{$vo.exe_time}</td>
                  <td>{$vo.exe_memory}</td>
                  <td>{$vo.exe_os}</td>
                  <td>{$vo.ip}</td>
                  <td>{$vo.create_time}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                      {else/}
       <tbody class="users_content">
       <tr class="odd"><td colspan="6" class="text-center" valign="top">{:webconfig('empty_list_describe')}</td></tr>
       </tbody>
      {/notempty}
                </table>
	</div>
			
{/block}
 {block name="page"}
<div class="btable-paged" >
<div class="layui-main">
	{$page}
</div>
</div>
 {/block}