<script>
    $(function(){
        EBCMS.INSTALL.gotostep1 = function gotostep1(){
            if(!document.getElementById("xieyi").checked) {
                alert('必须在遵守本安装协议的基础上，方可安装本系统！');
            }else{
                EBCMS.INSTALL.step(1);
            };
        }
    });
</script>
<div class="license">
    <iframe src="http://www.ebcms.com/page/license.html?from={$_SERVER['HTTP_HOST']}" runat="server" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes" style="width:100%;height:100%;position:absolute;left:0;right:0;top:0;bottom:0;"></iframe>
</div>
<div class="toolbar">
    <div class="pull-right">
        <button type="button" class="btn btn-primary pull-right" onclick="EBCMS.INSTALL.gotostep1();">下一步</button>
    </div>
    <label for="xieyi"><input type="checkbox" name="xieyi" id="xieyi" > 我同意本协议</label>
</div>