/*---------------------------------home---------------------------*/
#home {
  min-width: 1000px;
}


/*----------------------------头部----------------------------*/
#main-header {
}

#main-header a:hover {
  text-decoration: none;
}
#main-header .main-header-container {
  padding: 15px 60px;
}
#main-header .main-header-container * {
  text-align: left;
}

#main-header .mind-text {
  font-weight: 400;
}
#main-header .note-text {
  font-style: italic;
  font-weight: 600;
  color: #503338;
}


/*---------------------------主内容---------------------------*/
#main-content {
  position: relative;
  overflow: hidden;
  background-color: #42badf;
  margin-bottom: 49px;
  padding-bottom: 50px;
}

.main-content-container * {
  text-align: left;
}

/*-------------------登录框----------------------*/
#home .login {
  margin-top: 40px;
  float: left;
  width: 40%;
}

#home .login input.form-control, #home .login #login-submit, #home .login .authority-error {
  width: 95%;
}


#home .login #login-submit {
  background-color: #503338;
  color: white;
  text-align: center;
  border-color: #808080;
}


#home .jump-to-authority a {
  color: white;
}

#home .jump-to-authority a:hover {
  color: #f35c8f;
  text-decoration: none;
}


/*-------------------右边大字--------------------*/
#home .poster {

  float: right;
  width: 56%;
  margin-top: 60px;
}

#home .poster .poster-text {
  font-size: 68px;
  color: white;

}

/*-------------------特色------------------------*/
#feature {
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
}

#feature .feature-item {
  width: 33%;
  float: left;
}

#feature .image-box span.glyphicon {
  font-size: 80px;
}

#feature .feature-title {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #333;
}

#feature .feature-description {
  font-size: 1.1em;
  color: #808080;
}

#feature #pencil .image-box span.glyphicon {
  color: #ee7475;
}

#feature #cloud .image-box span.glyphicon {
  color: #f2ae86;
}

#feature #mindmap .image-box span.glyphicon {
  color: #64d4ae;
}
