/*-------------------------------注册----------------------------*/
#signin {
  min-width: 1000px;
}


/*---------------------------头部--------------------------*/
#signin-header {
  margin-bottom: 15px;
  background-color: #42badf;
  padding: 10px 10px;
}
#signin-header .common-container {
  text-align: left;
}
#signin-header a {
  color: white;
}
#signin-header a:hover {
  text-decoration: none;

}

#signin-header .mind-text {
  font-weight: 400;
}
#signin-header .note-text {
  font-style: italic;
  font-weight: 600;
}


/*------------------------注册标签--------------------------*/
#signin-label {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

#signin-label .line {
  height: 2px;
  background-color: #f1f1f1;
  position: relative;
  top: 27px;
  z-index: -10;
}
#signin-label .signin-title {
  font-size: 35px;
  font-weight: bolder;
}
#signin-label .signin-title>span {
  padding: 0 18px;
  background-color: white;
}

/*---------------------------内容--------------------------*/
#signin-content {
  position: relative;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}


/*-----------------------注册表单------------------*/
#signin-form {
  width: 42%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#signin-form div.form-group {
  margin-top: 24px;
}
#signin-form input.form-control{
  display: inline-block;
}

#signin-form #signin-submit button {
  width: 100%;
}

#signin-form .jump-to-authority {
  text-align: left;
}

#signin-form .jump-to-authority a {
  margin-bottom: 12px;
  margin-top: 12px;
}
#signin-form .jump-to-authority a:hover {
  color: #f35c8f;
  text-decoration: none;
}

#captcha input {
  width: 48%;
}
#captcha .captcha-image img {
  width: 48%;
  height: 34px;
  float: right;
}