.fs-media-gallery .thumb {
	float: left;
	border: 1px solid #EEE;
	border-radius: 5px;
}
.fs-media-gallery .thumb a,
.fs-media-gallery .thumb a:link,
.fs-media-gallery .thumb a:hover,
.fs-media-gallery .thumb a:active,
.fs-media-gallery .thumb a:visited {
	display: block;
	text-align: center;
}
.fs-media-gallery .navigation {
	clear: both;
	margin-top:10px;
	margin-bottom:10px;
}
.fs-media-gallery .pagination {
	margin-top:10px;
	margin-bottom:10px;
}