@CHARSET "UTF-8";
.CodeMirror {font-size:14px;border-top: 1px solid black; border-bottom: 1px solid black;}	  
.fullscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	border: 0px solid #BBBBBB;
	opacity: 1;
}
