<Files ~ "^.(htaccess|htpasswd|bak)$">
deny from all
</Files>

#Options All -Indexes
#ErrorDocument 404 http://%{HTTP_HOST}
#ErrorDocument 403 http://%{HTTP_HOST}
DirectoryIndex index.php

RewriteEngine on
#RewriteCond %{HTTP_HOST} ^(foru\.net\.cn)(:80)? [NC]
#RewriteRule ^(.*) http://www.foru.net.cn/$1 [R=301,L]

#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?foru.net.cn(/)?.*$ [NC]
#RewriteRule .*\.(gif|jpg|jpeg|bmp|png)$ http://www.foru.net.cn/logo.png [R,NC,L]

#RewriteBase /
#RewriteRule ^index\.html$ index.php
#RewriteRule ^channel-([0-9]+)\.html$ channel.php?id=$1
#RewriteRule ^channel-([0-9]+)-([0-9]+)\.html$ channel.php?id=$1&page=$2
#RewriteRule ^detail-([0-9]+)\.html$ detail.php?id=$1
#RewriteRule ^search-(0-9]+)\.html$ search.php?page=$1
#RewriteRule ^user\.html$ user.php
#RewriteRule ^user-(.*)\.html$ user.php?act=$1
#RewriteRule ^user-(.*)-([0-9]+)\.html$ user.php?act=$1&page=$2

#SetEnvIfNoCase User-Agent .*spider.* bad_bot
SetEnvIfNoCase User-Agent .*bot.* bad_bot
#SetEnvIfNoCase User-Agent ^.*Baidu.* bad_bot
#SetEnvIfNoCase User-Agent ^.*Sogou.* bad_bot
#SetEnvIfNoCase User-Agent ^.*360.* bad_bot
#SetEnvIfNoCase User-Agent .*Googlebot.* bad_bot
<Limit GET POST HEAD>
  order deny,allow
  Deny from env=bad_bot
</Limit>
