{include file="public/tpl/head.html" /}
<body>
    {block name="include"}{include file="app/geek/view/navbar.html" /}{/block}     
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/conero/geek/project.html"><span class="glyphicon glyphicon-list-alt"></span></a></li>
            <li class="active">编辑</li>
        </ol>
        <form class="form-horizontal" action="/conero/geek/project/save.html" role="form" method="POST">
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="procode_ipter">代码</label>
                <div class="col-sm-10">
                <input class="form-control" name="pro_code" type="text" id="procode_ipter" value="{$data.pro_code|default=""}" placeholder="标题" required>
                <input name="datamode" type="hidden" value="{if condition="isset($data.pro_code) && !empty($data.pro_code)"}M{else}A{/if}">
                <input name="dataid" type="hidden" value="projectlist">
                </div>                
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="proname_ipter">名称</label>
                <div class="col-sm-10">
                <input class="form-control" name="pro_name" type="text" id="proname_ipter" value="{$data.pro_name|default=""}" placeholder="名称" required>
                </div>                
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="environment_ipter">环境</label>
                <div class="col-sm-10">
                <textarea class="form-control" name="environment" id="environment_ipter" placeholder="环境" required>{$data.environment|default=""}</textarea>
                </div>                
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="descrip_ipter">简介</label>
                <div class="col-sm-10">
                <textarea class="form-control" name="descrip" id="descrip_ipter" placeholder="简介" required>{$data.descrip|default=""}</textarea>
                </div>                
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="content_ipter">内容</label>
                <div class="col-sm-10">
                <textarea class="form-control" name="content" id="content_ipter">{$data.content|default=""}</textarea>
                </div>                
            </div>
            <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="privatemk_ipter">是否公开</label>
                <div class="col-sm-10">
                <select name="private_mk" class="form-control" id="privatemk_ipter">
                    <option value="N" selected>公开</option>
                    <option value="Y"{if condition="isset($data.private_mk) && $data.private_mk eq 'Y'"} selected{/if}>私有</option>
                </select>
                </div>                
            </div>
             <div class="form-group has-success">
                <label class="col-sm-2 control-label" for="prjtype_ipter">类型</label>
                <div class="col-sm-10">
                <!--<input class="form-control" name="prjtype" type="text" id="prjtype_ipter" value="{$data.prjtype|default=""}" placeholder="类型" readonly required>-->
                <select name="prjtype" class="form-control" id="prjtype_ipter">
                    {volist name="prjtype" id="vo"}
                        <option value="{$vo.plus_name}"{if condition="isset($data.prjtype) && $vo.plus_name eq $data.prjtype"}checked{/if}>{$vo.plus_desc}</option>
                    {/volist}                    
                </select>
                </div>                
            </div>            
            <div class="form-group">
                <label for="pstartdt_ipter" class="col-sm-2 control-label">项目起始日期</label>
                <div class="input-group date form_date col-sm-10" data-date="" data-date-format="dd MM yyyy" data-link-field="pstartdt_ipter" data-link-format="yyyy-mm-dd">
                    <input class="form-control" type="text" name="plan_start_dt" id="pstartdt_ipter" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="penddt_ipter" class="col-sm-2 control-label">项目截止日期</label>
                <div class="input-group date form_date col-sm-10" data-date="" data-date-format="dd MM yyyy" data-link-field="penddt_ipter" data-link-format="yyyy-mm-dd">
                    <input class="form-control" type="text" id="penddt_ipter" name="plan_end_dt" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>         
             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="save_form_btn" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
        {$geekFooter}
    </div>
</body>
</html>