{include file="public/tpl/head.html" /}
<body>
    {block name="include"}{include file="app/geek/view/navbar.html" /}{/block}   
    <!--<div class="container">-->
    <div class="container">   
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">项目列表</div>
        <div class="panel-body">
            {$searchfrom|default=""}
        </div>

        <!-- Table -->        
        <table class="table">
            <tr><th>序号</th><td>代码</td><td>名称</td><td>作者</td><td>日期</td></tr>
            {$trs|default=""}                    
        </table>                                
        <div class="panel-footer">    
            {if condition="isset($pageBar) && !empty($pageBar)"}
                {$pageBar}
            {/if}
        </div>
        </div>

        <!-- helper -->        
        {if condition="$pages.type eq 'self'"}
        <p class="text-right">
            <a href="/conero/geek/project.html?type=all" class="btn btn-link btn-sm">系统全部项目</a>
        </p>            
        {elseif condition="$pages.type eq 'all'"}
        <p class="text-right">
            <a href="/conero/geek/project.html" class="btn btn-link btn-sm">我们的项目</a>
        </p>
        {/if}

    {$geekFooter}
    </div><!-- /.container -->
</body>
</html>