{% macro create(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-ok"></i> 创建</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i>取消</a>
</div>
{% endmacro %}

{% macro update(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> 保存</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> 取消</a>
</div>
{% endmacro %}
