.media-wrapper {
	max-height:180px;
	overfolw:hidden;
}
.nav-theme {

}
.nav-theme li {
	cursor:pointer;
}

.nav-theme>li>a {
	background:#f6f6f6;
	border: 3px solid #fff; 
	border-left:0;
}
.nav-theme>li>a:hover {
	background:#f1a325;
	border: 3px solid #fff; 
	border-left:0;
	color:#fff;
}
.nav-theme>li>a.download:hover {
	background:#03b83f;
	border: 3px solid #fff; 
	border-left:0;
	color:#fff;
}
.nav-theme>li>a.delect:hover {
	background:red;
	border: 3px solid #fff; 
	border-left:0;
	color:#fff;
}
.nav-theme li.active a{
	background:#f1a325;
	color:#fff;
	border: 3px solid #fff; 
	border-left:0;
}
.nav-theme li.active a:hover{
	background:#f1a325;
	color:#fff;
	border: 3px solid #fff; 
	border-left:0;
}