/*
全局
 */
 a {
    color: #03AE87;
}
.btn,
.alert,
.label,
.form-control {
    border-radius: 0px;
}

/*
主导航背景色
 */
.full-header .navbar {
    background-color: #03AE87;
    border-color: #03AE87;
    border: none;
}
/*
主导航border为0时保持高度
 */
@media (min-width: 768px) {
    .full-header .navbar .navbar-nav>li>a {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
@media (max-width: 768px) {
    .full-header .navbar {
        margin-bottom: 15px;
    }
}
/*
主导航字体颜色
 */
.full-header .navbar .navbar-brand,
.full-header .navbar .navbar-nav>li>a {
    color: #fff;
}
/*
主导航高亮项目背景色
 */
.full-header .navbar .navbar-nav>.active>a,
.full-header .navbar .navbar-nav>.active>a:focus,
.full-header .navbar .navbar-nav>.active>a:hover,
.full-header .navbar .navbar-nav>.open>a,
.full-header .navbar .navbar-nav>.open>a:focus,
.full-header .navbar .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #05d9a9;
}
/*
主导航鼠标移过背景色
 */
.full-header .navbar .navbar-nav>li>a:focus,
.full-header .navbar .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #05d9a9;
}

/*
左侧导航
 */
.full-container #sidebar {
    background-color: #fff !important;
    border-right: 1px solid #ddd;
}
.full-container #sidebar #sidebar-toggle {
    margin-bottom: 10px;
    border-right: none;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #414141;
}
.full-container #sidebar>.panel-group {
    padding-left: 15px;
}
.full-container #sidebar>.panel-group>.panel {
    border: none;
}
.full-container #sidebar>.panel-group>.panel>.panel-heading {
    border-left: 3px solid #03AE87;
    background-color: #fff;
    border-radius: 0px;
}
.full-container #sidebar>.panel-group>.panel>.panel-collapse>.list-group{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.full-container #sidebar>.panel-group>.panel:first-child {
    border-top: 0px !important;
}
.full-container #sidebar>.panel-group>.panel .list-group-item {
    border: none;
}
.full-container #sidebar>.panel-group>.panel .list-group-item.active,
.full-container #sidebar>.panel-group>.panel .list-group-item.active:focus,
.full-container #sidebar>.panel-group>.panel .list-group-item.active:hover {
    color: #414141;
    background-color: #f6f6f6;
    border-color: #fff;
}

/*
面包屑导航
 */
.full-container #main .breadcrumb {
    background-color: #fff;
    margin-top: 8px;
    color: #555;
}
.full-container #main .breadcrumb a{
    color: #777;
    font-size: 18px;
}

/*
TAB切换
 */
.full-container #main .nav-tabs>li>a {
    margin: 0px;
    border-radius: 0px;
    padding: 10px 25px;
}
.full-container #main .nav-tabs>li.active>a,
.full-container #main .nav-tabs>li.active>a:focus,
.full-container #main .nav-tabs>li.active>a:hover {
    color: #555;
    padding: 9px 25px;
    border-top: 3px solid #03AE87;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-color: transparent;
}

/*
按钮
 */
.full-container #main .btn,
.full-container #main .label {
    border-radius: 0px;
    background: #03AE87;
    border-color: #03AE87;
    color: #fff;
}
.full-container #main .btn:hover,
.full-container #main .btn:focus,
.full-container #main .btn:active,
.full-container #main .btn.disabled,
.full-container #main .btn.disabled:hover {
    background: #05d9a9;
    border-color: #05d9a9;
    color: #fff;
}

/*
表格
 */
.full-container #main .table thead th {
    background: #03AE87;
    border: none;
    color: #fff;
}
/*
分页
 */
.full-container #main .pagination li a {
    color: #03AE87;
    border-radius: 0px;
}
.full-container #main .pagination li.active a {
    color: #fff;
    border-radius: 0px;
    border-color: #03AE87;
    background-color: #03AE87;
}


/*
 小屏幕特殊样式
 */
@media (max-width: 768px) {
    .full-header .navbar .navbar-toggle {
        border-color: #fff;
    }
    .full-header .navbar .navbar-toggle:focus,
    .full-header .navbar .navbar-toggle:hover {
        background-color: #fff;
    }
    .full-header .navbar .navbar-toggle:hover .icon-bar {
        background-color: #03AE87;
    }
    .full-header .navbar .navbar-collapse,
    .full-header .navbar .navbar-form {
        border-color: #03AE87;
    }

    .full-header .navbar .navbar-nav>.open>a,
    .full-header .navbar .navbar-nav>.open>a:focus,
    .full-header .navbar .navbar-nav>.open>a:hover {
        color: #fff;
        background-color: #05d9a9;
    }
    .full-header .navbar .navbar-nav .open .dropdown-menu .divider {
        background-color: #05d9a9
    }
    .full-header .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .full-header .navbar .navbar-nav .open .dropdown-menu>li>a:focus,
    .full-header .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: #05d9a9;
    }
}
