sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }


.stl_01 {
	
	font-size: 10pt;
	margin: 0pt;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width:100%;
}
.stl_01 img{width:100%;}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0pt;
	top: 0pt;
}

