{extend name="$admin_layout_base" /}
{block name="main-content"}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- 提示 -->
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <i class="ace-icon fa fa-check green"></i>
                为了您更好的使用本系统，建议屏幕分辨率1280*768以上，并且安装chrome谷歌浏览器 ——— <a href="{:url('admin/Help/soft')}">进入软件下载专区</a>
            </div>
            <div class="row">
                <div class="space-6"></div>
                <div class="col-sm-7 infobox-container">
                    <div class="infobox infobox-green col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-folder"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">{$tonews_count|default=0}</span>
                            <div class="infobox-content">今日普通文章数</div>
                        </div>
                        <div class="stat {if condition='$difday lt 1'}stat-important{else /}stat-success{/if}">
                            {$difday|round=###,0}%
                        </div>
                    </div>
                    <div class="infobox infobox-blue col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-user"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">{$tomembers_count|default=0}</span>
                            <div class="infobox-content">今日增加会员</div>
                        </div>
                        <div class="stat {if condition='$difday_m lt 1'}stat-important{else /}stat-success{/if}">
                            {$difday_m|round=###,0}%
                        </div>
                    </div>
                    <div class="infobox infobox-pink col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-comment"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">{$tocoms_count|default=0}</span>
                            <div class="infobox-content">今日评论</div>
                        </div>
                        <div class="stat {if condition='$difday_c lt 1'}stat-important{else /}stat-success{/if}">
                            {$difday_c|round=###,0}%
                        </div>
                    </div>
                    <div class="infobox infobox-orange infobox-dark col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-folder"></i>
                        </div>

                        <div class="infobox-data">
                            <div class="infobox-content">总文章数</div>
                            <a href="javascript:void(0);" onclick="addTabs({id:'ddd16',icon:'fa fa-list',title:'文章列表',close: true,url:'{:url($admin_path.'/News/newsIndex')}'})" role="button" title="文章列表">
                                <div class="infobox-content">{$news_count|default=0}</div>
                            </a>
                        </div>
                    </div>
                    <div class="infobox infobox-green infobox-dark col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-users"></i>
                        </div>
                        <div class="infobox-data">
                            <div class="infobox-content">总会员数</div>
                            <a href="javascript:void(0);" onclick="addTabs({id:'tab_tab_nav-19',icon:'fa fa-users',title:'普通用户',close: true,url:'{:url($admin_path.'/User/userIndex')}'})" role="button" title="会员列表">
                                <div class="infobox-content">{$user_count|default=0}</div>
                            </a>
                        </div>
                    </div>
                    <div class="infobox infobox-orange2 infobox-dark col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-comment"></i>
                        </div>
                        <div class="infobox-data">
                            <div class="infobox-content">总评论数</div>
                            <a href="javascript:void(0);" onclick="addTabs({id:'tab_tab_nav-25',icon:'fa fa-folder',title:'评论列表',close: true,url:'{:url($admin_path.'/Comment/commentIndex')}'})" role="button" title="会员列表">
                                <div class="infobox-content">{$coms_count|default=0}</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="space-6"></div>
                        </div>
                    </div>
                </div>
                <div class="vspace-12-sm"></div>
                <div class="col-sm-5 no-padding-left">
                    <!-- 文章排行开始 -->
                    <div class="widget-box widget-color-blue">
                        <div class="widget-header">
                            <h5 class="widget-title bigger lighter sl-font14">
                                <i class="ace-icon fa fa-table"></i>
                                <span style="font-size:14px; font-family:Microsoft YaHei">热门文章排行</span>
                            </h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead class="thin-border-bottom">
                                    <tr>
                                        <th width="68%">标题</th>
                                        <th width="17%"><em>点击数</em></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {php}
                                    $color=array("badge badge-pink","badge badge-yellow","badge badge-danger","badge
                                    badge-warning","badge badge-success","badge badge-inverse","badge
                                    badge-purple","badge badge-info","badge badge-grey","badge");
                                    {/php}
                                    {foreach name="news_list" item="v" key="k"}
                                    <tr>
                                        <td height="25">
                                            <span class="{$color[$k]}">{$k+1}</span><a href="{:url('home/News/index',array('id'=>$v['id']))}" target="_blank">{$v.title}</a>
                                        </td>
                                        <td>{$v.hits}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 文章排行结束 -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
{/block}