extends ../_layout_page

block content
  .abs-center.wd-xl
    // START panel
    .p
      img.img-thumbnail.img-circle.center-block(src="img/user/02.jpg", alt="Avatar", width="60", height="60")
    .panel.widget.b0
      .panel-body
        p.text-center Please login to unlock your screen.
        form(role='form')
          .form-group.has-feedback
            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
            span.fa.fa-lock.form-control-feedback.text-muted
          .clearfix
            .pull-left.mt-sm
              a(href="recover.html").text-muted: small Forgot your password?
            .pull-right
              a.btn.btn-sm.btn-primary(href="dashboard.html") Unlock
    // END panel
    include _footer_page