extends ../_layout_page

block content
  .block-center.mt-xl.wd-xl
    // START panel
    .panel.panel-dark.panel-flat
      .panel-heading.text-center
        a(href="#")
          img.block-center.img-rounded(src='img/logo.png', alt='Image')
      .panel-body
        p.text-center.pv SIGN IN TO CONTINUE.
        form(role='form', data-parsley-validate='', novalidate='').mb-lg
          .form-group.has-feedback
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email', autocomplete="off",required)
            span.fa.fa-envelope.form-control-feedback.text-muted
          .form-group.has-feedback
            input#exampleInputPassword1.form-control(type='password', placeholder='Password', required)
            span.fa.fa-lock.form-control-feedback.text-muted
          .clearfix
            .checkbox.c-checkbox.pull-left.mt0
              label
                input(type='checkbox', value='', name="remember")
                span.fa.fa-check
                |  Remember Me
            .pull-right
              a.text-muted(href="recover.html") Forgot your password?
          
          button.btn.btn-block.btn-primary.mt-lg(type='submit') Login
        
        p.pt-lg.text-center Need to Signup?
        a(href="register.html").btn.btn-block.btn-default Register Now
    // END panel
    include _footer_page
