extends ../_layout_page

block content
  .block-center.mt-xl.wd-xl
    // START panel
    .panel.panel-dark.panel-flat
      .panel-heading.text-center
        a(href="#")
          img.block-center.img-rounded(src='img/logo.png', alt='Image')
      .panel-body
        p.text-center.pv SIGNUP TO GET INSTANT ACCESS.
        form(role='form', data-parsley-validate='', novalidate='').mb-lg
          .form-group.has-feedback
            label.text-muted(for='signupInputEmail1') Email address
            input#signupInputEmail1.form-control(type='email', placeholder='Enter email', autocomplete="off", required)
            span.fa.fa-envelope.form-control-feedback.text-muted
          .form-group.has-feedback
            label.text-muted(for='signupInputPassword1') Password
            input#signupInputPassword1.form-control(type='password', placeholder='Password', autocomplete="off", required)
            span.fa.fa-lock.form-control-feedback.text-muted
          .form-group.has-feedback
            label.text-muted(for='signupInputRePassword1') Retype Password
            input#signupInputRePassword1.form-control(type='password', placeholder='Retype Password', autocomplete="off", required, data-parsley-equalto="#signupInputPassword1")
            span.fa.fa-lock.form-control-feedback.text-muted
          .clearfix
            .checkbox.c-checkbox.pull-left.mt0
              label
                input(type='checkbox', value='', required, name="agreed")
                span.fa.fa-check
                |  I agree with the 
                a(href="#") terms
          
          button.btn.btn-block.btn-primary.mt-lg(type='submit') Create account
        
        p.pt-lg.text-center Have an account?
        a(href="login.html").btn.btn-block.btn-default Signup

    // END panel
    include _footer_page
