@charset "utf-8";
/* CSS Document */
#topBg{
	background-color: #E6EEF8;
		
}
a{
	color: #1F1F1F;
	font-size:13px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.up-font{
	color:blue;
}
.up-font-over{
	color:red;
}
.up-font-tit{
	color: #214FB6;
}
.infobox .even{
	background-image: url(../../Img/tr_bgb.gif);
	background-repeat: repeat;
}
.rebg{
	background-image: url(../../Img/tr_bg.gif);
	background-repeat: repeat;
}
.rebg1{
	background-image: url(../../Img/tr_bgg.gif);
	background-repeat: repeat;
}
.rebg2{
	background-image: url(../../Img/tr_bgy.gif);
	background-repeat: repeat;
}
.rebg3{
	background-image: url(../../Img/tr_bgd.gif);
	background-repeat: repeat;
}
.rebg4{
	background-image: url(../../Img/tr_bg2.gif);
	background-repeat: repeat;
}
.rebg5{
	background-image: url(../../Img/tr_bg5.gif);
	background-repeat: repeat;
}
.view-bg{
	background-color:#fff;
}
.view-line{
	border: 1px solid #214FB6;
}