<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title>{echo admin_title()}</title>
<!--header-->
{template _:header}
</head>
<body>
<div class="layui-layout layui-layout-admin">
<!--top-->
{template _main_top}
<!--nav-->
{template _main_nav}
	<div class="position"><h1>支付宝配置</h1></div>
	<div class="layui-body admin-body">
		<div class="admin-content">
			<div class="layui-tab layui-tab-brief" style="margin-top:-5px;">
				<ul class="layui-tab-title layui-tab-links">
					<li class="<!--{if request()->action() == 'index'}-->layui-this<!--{/if}-->"><a href="{echo url('alipay/index')}">支付宝授权</a></li>
					<li class="<!--{if request()->action() == 'card'}-->layui-this<!--{/if}-->"><a href="{echo url('alipay/card')}">支付宝会员卡</a></li>
				</ul>
			</div>
			<blockquote class="layui-elem-quote layui-top-margin">开放平台 -> 运营中心 -> 商家管理 -> 我的商家 -> 商家详情 -> 应用授权</blockquote>
			<div class="opwindow">
				<form name="theform" id="theform" method="post" action="{echo \befen\get_url()}">
				<table class="layui-table">
					<tbody>
						<tr>
							<td class="td1">AppID</td>
							<td class="td2"><input type="text" name="auth_app_id" id="auth_app_id" class="layui-input" value="{$value[auth_app_id]}" /></td>
						</tr>
						<tr>
							<td class="td1">授权令牌</td>
							<td class="td2"><input type="text" name="app_auth_token" id="app_auth_token" class="layui-input" value="{$value[app_auth_token]}" /></td>
						</tr>
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</div>
</div>
<!--footer-->
{template _:footer}
<script type="text/javascript">
$("#submit").click(function(){
	ajaxSubmit(this, "", "#theform");
});
</script>
</body>
</html>