<div class="opwindow">
	<form name="theform2" id="theform2" method="post" action="{echo \befen\get_url()}">
		<div class="layui-form layui-row">
			<div class="layui-form-item">
				<div class="layui-col layui-col-md12">
					<label>分类名称</label>
					<input type="text" name="cat_name" id="cat_name" class="layui-input layui-input-wdith" value="" placeholder="请输入分类名称">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col layui-col-md12">
					<label>排序</label>
					<input type="number" name="sort" id="sort" class="layui-input layui-input-wdith" value="99" placeholder="排序值越小排序越靠前">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col layui-col-md12">
					<label style="display: block;">是否显示</label>
					<input type="checkbox" name="is_show" id="is_show" lay-skin="switch" lay-text="是|否" lay-filter="is_show" value="1" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col layui-col-md12" style="text-align:right;">
					<button type="submit" name="submit2" value="submit2" id="submit2" class="layui-btn">提交</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
init_Form();
$("#submit2").click(function(){
	if($("#theform2 #cat_name").val() == "") {
		showTips("#theform2 #cat_name", $("#theform2 #cat_name").attr("placeholder"));
		return false;
	}
	ajaxSubmit(this, "", "#theform2");
});
</script>
