<div class="opwindow">
	<table class="layui-table">
		<tbody>
			<tr>
				<td class="td_title">卡号</td>
				<td>{$value[card_no]}</td>
			</tr>
			<tr>
				<td class="td_title">余额</td>
				<td>{$value[balance]}</td>
			</tr>
			<tr>
				<td class="td_title">积分</td>
				<td>{$value[credit]}</td>
			</tr>
			<tr>
				<td class="td_title">姓名</td>
				<td>{$value[username]}</td>
			</tr>
			<tr>
				<td class="td_title">电话</td>
				<td>{$value[phone]}</td>
			</tr>
			<tr>
				<td class="td_title">生日</td>
				<td>{$value[birthday]}</td>
			</tr>
			<tr>
				<td class="td_title">渠道</td>
				<td>
					<!--{if $value['user_id']}--><span class="layui-badge" style="background:#1677FF;">支付宝</span> <!--{/if}-->
					<!--{if $value['mini_openid']}--><span class="layui-badge" style="background:#22AC38;">微信</span> <!--{/if}-->
				</td>
			</tr>
			<tr>
				<td class="td_title">开卡时间</td>
				<td>{echo gsdate('Y-m-d H:i:s', $value[open_datetime])}</td>
			</tr>
		</tbody>
	</table>
</div>
<style>
.td_title { background-color:#f2f2f2; }
.td_tbody { background-color:#ffffff; }
</style>
<script type="text/javascript">

</script>
