{strip}
{if $data.type=='text'}
	<span class="display_value" title="{$data.value}">{$data.value|cn_truncate:100}</span>
{elseif $data.type=='password'}
	<span class="display_value" >{if $data.value}●●●●●●{else}无{/if}</span>
{elseif $data.type=='textarea'}
	<div style="height:2em; overflow:hidden;" class="click_expand">
		<span class="display_value">{$data.value|nl2br}</span>
	</div>
{elseif $data.type=='file'}
	<span class="display_value" title="{$data.value}"><a {if $data.value}href="{$root}{$data.value}" target="_blank"{/if}>{$data.value}</a></span>
{elseif $data.type=='radio'}
	<span class="display_value">
	{if $data.value!=''}
		{$options = $data.options|parse_json}
		{$options[$data.value]}
	{else}
		<span class="blue" style="cursor:default;">未设定</span>
	{/if}
	</span>
{elseif $data.type=='radio'}
	<span class="display_value">
	{if $data.value}
		{$options = $data.options|parse_json}
		{$options[$data.value]}
	{else}
		<span class="non-selected">未设定</span>
	{/if}
	</span>
{elseif $data.type=='color'}
	{$local.val=$data.$field}
        <div class="color"style=" width: 30px;height: 30px;margin: 0 auto;border: 1px solid #ddd;border-radius: 2px; {if $local.val}background-color:{$local.val};{/if}"></div>    
{elseif $data.type=='select'}
	<span class="display_value">
	{if $data.value}
		{$options = $data.options|parse_json}
		{$options[$data.value]}
	{else}
		<span class="non-selected">未设定</span>
	{/if}
	</span>
{elseif $data.type=='checkbox'}
	{if $data.value}
	{$options = $data.options|parse_json}
	<span class="display_value">
        {$data.value = $data.value|parse_json}
		{foreach $data.value as $p_val}
		<span style="background:#f3f3f3; margin:1px; padding:0px 2px;">{$options[$p_val]}</span>
		{/foreach}
	</span>
	{else}
		<span class="non-selected">未设定</span>
	{/if}
{elseif $data.type=='checker'}
	<span class="display_value">
		{if $data.value}<span class="yOK">√</span>{else}<span class="nOK">╳</span>{/if}
	</span>
{elseif $data.type=='array'}
	{if $data.value}
	<div style="height:2em; overflow:hidden;" class="click_expand">
	<span class="display_value">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="width:auto;">
		{foreach $data.value|parse_json as $p_val}
		<tr><td align="right" style=" border:0; padding:1px;">{$p_val@iteration}.</td><td width="1" style="border:0; padding:1px;"></td><td style="border:0; padding:1px;{if $p_val===''}background:#039; color:#fff;{else}background:#f3f3f3;{/if}" align="left">{if $p_val===''}空{else}{$p_val}{/if}</td></tr>
		{/foreach}
		</table>
	</span>
	</div>
	{else}
		<span class="non-selected">未设定</span>
	{/if}
{elseif $data.type=='keyvalue'}
	{if $data.value}
	<div style="height:2em; overflow:hidden;" class="click_expand">
	<span class="display_value">
		<table cellspacing="1" cellpadding="0" border="0" align="center" style="width:auto;">
		{foreach $data.value|parse_json as $p_key => $p_val}
		<tr><td align="right" style="border:0; padding:1px;{if $p_key===''}background:#039; color:#fff;{else}background:#f3f3f3;{/if}">{if $p_key===''}空{else}{$p_key}{/if}</td><td width="1" style="border:0; padding:1px;"></td><td style="border:0; padding:1px;{if $p_val===''}background:#039; color:#fff;{else}background:#f3f3f3;{/if}" align="left">{if $p_val===''}空{else}{$p_val}{/if}</td></tr>
		{/foreach}
		</table>
	</span>
	</div>
	{else}
		<span class="non-selected">未设定</span>
	{/if}
{/if}
{/strip}