html{
    font-size:62.5%;
}

/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
    body{
        background: url("../images/mobile_bg.jpg")no-repeat;
        width: 100%;
        height: 100%;
        min-height: 688px;
        background-size: cover;
    }
    .container{
        opacity: 0.8;
    }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width: 1200px) {
    body{
        background: url("../images/mobile_bg.jpg")no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .container{
        opacity: 0.8;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    body{
        background-image: url("../images/login_bg.jpg");
        background-size: cover;
        font-size: 1.4rem;
    }
}

.thumb-div{
    text-align: center;
    margin-bottom: 1em;
}

.thumb{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
