body{
    overflow-x:hidden;
    overflow-y:hidden;
}
.icon{
    display: inline-block;
    background: url("../images/img.png");
}
.addBook-img{
    height:32px;
    width:33px;
    background-position: -208px 0;
}
.info-img{
    height:16px;
    width:16px;
    background-position: 0 0;
}
.friend-img{
    height:32px;
    width:32px;
    background-position: -80px 0;
}
.Book-img{
    height:64px;
    width:64px;
    background-position: -305px 0;
}
.back-img{
    height:64px;
    width:64px;
    background-position: -497px 0;
}
.count-img{
    height:64px;
    width:64px;
    background-position: -561px 0;
}
.secure-img{
    height:64px;
    width:64px;
    background-position: -369px 0;
}
.nav span{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.1rem;
    cursor: pointer;
}
#user{
    display: none;
    width: 200px;
    letter-spacing:1px;
    line-height:30px;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    z-index: 3;
    margin-top: 225px;
    margin-left: 55px;
    background:rgba(0,0,0,0.6);
}
#user ul{
    list-style: none;
    padding-left: 10px;
}
#user ul .li a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#user ul .li:hover{
    display: block;
    background-color:#337AB7;
    color:#fff;
}
#book{
    display: none;
    overflow-x:hidden;
    overflow-y:auto;
    min-height: 650px;
    max-height: 650px;
    width: 400px;
    letter-spacing:1px;
    line-height:30px;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    color: #666;
    font-size: 14px;
    position: absolute;
    margin-left: 55px;
    padding: 0 20px 20px 20px;
    background:#fff;
    z-index:4;
}
.book_list{
    display: block;
    height: 50px;
    background-color: #fff;
    color: #666;
    padding-bottom: 5px;
}
.book_list:hover{
    background-color:#337ab7;
    color: #fff;
    cursor: pointer;
}
.book_list_btn{
    display: block;
    height: 50px;
    width:400px ;
    background-color: #fff;
    border: none;
}
.book_list_btn:hover{
    background-color:#337ab7;
    color: #fff;
    cursor: pointer;
}
#search{
    display: none;
    overflow-x:hidden;
    overflow-y:auto;
    min-height: 300px;
    max-height: 300px;
    width: 400px;
    letter-spacing:1px;
    line-height:30px;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    color: #666;
    font-size: 14px;
    position: absolute;
    margin-left: 55px;
    padding: 0 20px 20px 20px;
    background:#fff;
    z-index:4;
}