.icon{
    display: inline-block;
    background: url("../images/img.png");
}
.collect-img{
    height:16px;
    width:16px;
    background-position: -16px 0;
}
.good-img{
    height:16px;
    width:16px;
    background-position: -32px 0;
}
.return-top-img{
    height:32px;
    width:32px;
    background-position: -144px 0;
}
.share-img{
    height:32px;
    width:32px;
    background-position: -112px 0;
}
a{
    cursor: pointer;
}
.div-txt-submit{
    float: right;
}
.comment-ul,.children{
    list-style: none;
}
.children{
    margin-left:30px ;
}

.head-pic{
    width:40px;
    height:40px;
}

.cm{
    position:relative;
    left:40px;
    top:-40px;
    width:600px;
}

.cm-header{
    padding-left:5px;
}

.cm-content{
    padding-left:5px;
}

.cm-footer{
    padding-bottom:15px;
    text-align:right;
    border-bottom: 1px dotted #CCC;
}

.comment-reply{
    text-decoration:none;
    color:gray;
    font-size: 14px;
}

#up{
    width:50px;
    height:50px;
    border-radius:50px;
    background: #337ab7;
    border:solid rgb(100,100,100) 1px;
    text-align: center;
    padding-top: 0.8em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
}