html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left, .left-nav {
    height: inherit;
}

.left {
    width: 200px;
    float: left;
}

.content {
    width: 100%;
    height: inherit;
    overflow: hidden;
}

#vieWindow {
    width: 84%;
    overflow: hidden;
    height: inherit;
    margin: 0 auto;
}

.user_nav {
    float: right;
    right: 50px;
}

.hello {
    font-size: 20px;
    font-style: normal;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.avatar_warp {
    width: 70%;
    margin-left: 26px;
}

#avatar img {
    width: 40px;
    height: 40px;
    float: left;
}
#notice{
    width: 60%;
    float: right;
    height: 40px;
    line-height: 40px;
}