{% extends "Themes/Tolowan/templates/page-bbs.twig" %}
{% block head %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% endblock %}
{% block body %}
{{ content() }}
<div class="alert alert-success">文章基本信息保存成功</div>
<div class="form-box">{{ view.r(addForm) }}</div>
{% endblock %}
{% block right %}
{% endblock %}
