<footer class="footer">
    <div class="container">
        <div class="link-section">
            <h3>
                <img class="logo-small small-icon" src="/logo-small.png"/> 关注互联网技术发展 </h3>
            <div class="links">
                {{ view.r(menuRender('bottom')) }}
            </div>
            <div class="feedback"> 反馈建议：
                <span>
                    <a href="mailto:leno@itdashu.com">leno@itdashu.com</a>
                </span>
            </div>

            <div class="worktime"><a target="blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f4a6ffb4b6e624cdc509673609a2f054256425853cb3da0de18804587f310d2d">加入QQ交流群：574199144</a></div>
        </div>
        <div class="partner-section"><h3>合作伙伴</h3>
            <ul class="footer-partner">
                <li>
                    <a href="#" rel="nofollow" class="external" target="_blank">
                        <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/logos/aly.png" alt="阿里云">
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" class="external" target="_blank">
                        <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/logos/360.png" alt="360安全">
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" class="external" target="_blank">
                        <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/logos/cy.png" alt="畅言">
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" class="external" target="_blank">
                        <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/logos/bds.png" alt="百度云加速">
                    </a>
                </li>
                <li>
                    <a href="#" rel="nofollow" class="external" target="_blank">
                        <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/logos/phalcon.png" alt="phalcon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="qr-section">
            <img class="qr small-icon" src="//cdn.itdashu.com/themes/dabbs/images/wxzf.png" alt="微信捐赠">
            <div>扫码微信捐赠IT大叔</div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="copyright">
                <span class="mobile-hide">本站由 <a href="#" rel="nofollow" target="_blank">Tolowan搭建</a> </span>
                <span class="law">&copy; 2011~2016 IT大叔 |  豫ICP备16028834号-1 | www.itdashu.com</span>
                <a class="safe-logo" rel="nofollow" href="http://webscan.360.cn/sou/index/url/itdashu.com?utm_campaign=360so" target="_blank">
                    <img class="small-icon" src="//cdn.itdashu.com/themes/dabbs/images/gw_83x30.png" alt="网站安全认证">
                </a> <br>
            </div>
            <div class="share">
                <a class="fa fa-qq" href="http://shang.qq.com/wpa/qunwpa?idkey=f4a6ffb4b6e624cdc509673609a2f054256425853cb3da0de18804587f310d2d" rel="nofollow"></a>
                <a class="fa fa-universal-access" href="mailto:leno@itdashu.com" rel="nofollow"></a>
            </div>
        </div>
    </div>
</footer>