<footer>
    <div class="center">
        <div class="column-container">
            <div class="column-main">
                <div class="contentinfo">
                    <p>&copy; 2005-2015 Tolowan CMS，文章和社区</p>
                    <p>内容可按<a href="{{ url(['for':'node','type':'page','id':8]) }}">这些许可协议</a>使用。</p>
                    {{ view.r(menuRender('about')) }}
                </div>
            </div>
            <div class="column-strip">
                <!-- 多语言转换 -->
            </div>
        </div>
    </div>
</footer>
