{{ data.start() }}
{% if layout == 'inline' %}
    <label>{{ formName }}</label>
{% endif %}
<input type="hidden" name="type" value="node">
<div class="input-group">
    {% for key,value in data.formEntity %}{% if value['widget'] is defined %} {{ view.r(data.renderElement(key)) }} {% endif %} {% endfor %}
    <span class="input-group-btn">
            <button type="submit" class="btn btn-default">搜索</button>
    </span>
</div>
</form>

<form id="search" role="search" action="/search_submit" accept-charset="utf-8" class="searchform" method="post"><input type="hidden" value="search" name="search"><div class="input-group">
        <div class="clear form-group" id="form-element-search">
            <h5>
                <label>类型</label><small>&nbsp;&nbsp;<i class="fa fa-fw fa-hand-o-right"></i>&nbsp;&nbsp;搜索类型            </small>
            </h5> <select name="type" id="type">
                <option value="node">内容</option>
            </select>    </div>
        <div class="clear form-group" id="form-element-search">
            <h5>
                <label>关键字</label><small>&nbsp;&nbsp;<i class="fa fa-fw fa-hand-o-right"></i>&nbsp;&nbsp;关键字            </small>
            </h5> <input type="text" placeholder="输入关键字搜索" class="form-control" value="" name="word" id="word">    </div>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜索</button>
    </span>
    </div>
</form>