{{ data.start() }}
    {% for key,value in data.formEntity %}{% if value['widget'] is defined %}{{ view.r(data.renderElement(key)) }} {% endif %} {% endfor %}

<button type="submit" {% if user.isLogin() is false %}ajax-model="/login.html" {% endif %}class="btn btn-info pull-right">发布回复</button>
<a class="comment_help" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>查看发帖规则和积分规则</a>
<div class="clear"></div>
</form>