{% extends "y/template/pageTaxonomyIndexTag.twig" %}
{% block body %}s
<div class="tab_entity">
    <div class="tab_header">
        <ul class="wrapper">
            <li href="#jianzhan" class="tab active">功能对比</li>
            <li href="#dingzhi" class="tab">定制网站</li>
            <li href="#disanfang" class="tab">第三方程序开发</li>
            <div class="clear"></div>
        </ul>
    </div>
    <div id="jianzhan" class="tab_body active">
        <div class="wrapper">
            <div class="taocan left putong">
                <h3>普通版<font class="tc">建站套餐</font><span>适合小型展示型网站</span></h3>
                <div class="jiages">
                    <span class="jiage">3200<span>元/年</span></span>
                    <p>
                        <s>&nbsp;原价<span class="lao_jiage">480</span>元/年&nbsp;</s>, <span class="green">省160元</span></p>
                </div>
                <ul class="ul1">
                    <li>· 送价值<span class="redfont">88元</span>顶级域名com/net/cn一个</li>
                    <li>· 价值<span class="redfont">288元</span>智能双线150M网站空间</li>
                    <li>· 支持ASP和ACCESS数据库</li>
                    <li>· 送价值<span class="redfont">120元</span>100M /20个用户企业邮箱</li>
                    <li>· 送价值<span class="redfont">196元普通版</span>建站宝盒</li>
                    <li>· 支持50个栏目，100条新闻系统</li>
                    <li>· 在线编辑,自由拖动</li>
                    <li>· 海量精美模板</li>
                    <li class="red">· 买三年送一年，买五年送二年</li>
                    <li>&nbsp;</li>
                </ul>
                <div class="buy">
                    <a href="javascript:;" class="btn btn_red">咨询购买</a>
                </div>
            </div>
            <div class="taocan left biaozhun">
                <h3>标准版<font class="tc">建站套餐</font><span>适合普通展示型网站</span></h3>
                <div class="jiages">
                    <span class="jiage">320<span>元/年</span></span>
                    <p>
                        <s>&nbsp;原价<span class="lao_jiage">480</span>元/年&nbsp;</s>, <span class="green">省160元</span></p>
                </div>
                <ul class="ul1">
                    <li>· 送价值<span class="redfont">88元</span>顶级域名com/net/cn一个</li>
                    <li>· 价值<span class="redfont">288元</span>智能双线150M网站空间</li>
                    <li>· 支持ASP和ACCESS数据库</li>
                    <li>· 送价值<span class="redfont">120元</span>100M /20个用户企业邮箱</li>
                    <li>· 送价值<span class="redfont">196元普通版</span>建站宝盒</li>
                    <li>· 支持50个栏目，100条新闻系统</li>
                    <li>· 在线编辑,自由拖动</li>
                    <li>· 海量精美模板</li>
                    <li class="red">· 买三年送一年，买五年送二年</li>
                    <li>&nbsp;</li>
                </ul>
                <div class="buy">
                    <a href="javascript:;" class="btn btn_red">咨询购买</a>
                </div>
            </div>
            <div class="taocan left jiaqiang">
                <h3>加强版<font class="tc">建站套餐</font><span>适合大型展示型网站</span></h3>
                <div class="jiages">
                    <span class="jiage">320<span>元/年</span></span>
                    <p>
                        <s>&nbsp;原价<span class="lao_jiage">480</span>元/年&nbsp;</s>, <span class="green">省160元</span></p>
                </div>
                <ul>
                    <li>· 送价值<span class="redfont">88元</span>顶级域名com/net/cn一个</li>
                    <li>· 价值<span class="redfont">288元</span>智能双线150M网站空间</li>
                    <li>· 支持ASP和ACCESS数据库</li>
                    <li>· 送价值<span class="redfont">120元</span>100M /20个用户企业邮箱</li>
                    <li>· 送价值<span class="redfont">196元普通版</span>建站宝盒</li>
                    <li>· 支持50个栏目，100条新闻系统</li>
                    <li>· 在线编辑,自由拖动</li>
                    <li>· 海量精美模板</li>
                    <li class="red">· 买三年送一年，买五年送二年</li>
                    <li>&nbsp;</li>
                </ul>
                <div class="buy">
                    <a href="javascript:;" class="btn btn_red">咨询购买</a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="title">套餐详情.<span class="red">功能</span>对比</div>
            <table class="table table-hover">
                <thead>
                    <tr class="theader">
                        <th>功能</th>
                        <th>普通版</th>
                        <th>标准版</th>
                        <th>加强版</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="first theader">
                        <th scope="row"></th>
                        <td><span class="red">196</span> 元/年 起</td>
                        <td><span class="red">196</span> 元/年 起</td>
                        <td><span class="red">196</span> 元/年 起</td>
                    </tr>
                    <tr>
                        <th scope="row"><b>基本设置</b></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">网站基本信息设置</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">内容管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">招聘管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">商品管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">分类管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">标签管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">菜单管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">表单管理</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">客服设置</th>
                        <td class="s"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">SEO功能</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">电子商务</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">自定义用户</th>
                        <td class="e"></td>
                        <td class="s"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">自定义内容类型</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">自定义术语类型</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">负载平衡</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                    <tr>
                        <th class="no_wieght" scope="row">cdn加速</th>
                        <td class="e"></td>
                        <td class="e"></td>
                        <td class="s"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="dingzhi" class="tab_body">
        <div class="wrapper">
            <div class="title">高级定制.<span class="red">产品</span>优势
                <p class="description">适合人群：大型企业网站、平台型网站</p>
            </div>
            <div class="clear"></div>
            <ol>
                <li>完成的产品分析和建议，包含网站策划布局和营销推广建议，形成完善的解决方案</li>
                <li>与客户现有平台无缝接合，移动＋ＰＣ完美整合。</li>
                <li>系统级编程、专享服务器、大数据解决方案。</li>
                <li>运营维护周报、月报，运营维护和营销推广知识转移，人员培训。</li>
                <li>更加坚固的数据备份和安全保障。</li>
            </ol>
        </div>
    </div>
    <div id="disanfang" class="tab_body">
        <div class="wrapper">
            <div class="title">第三方程序.<span class="red">二次</span>开发
                <p class="description">根据客户制定程序进行二次开发，完成客户产品功能需求</p>
            </div>
            <ul>
                <li><img src="yu_one/img/drupal.jpg"></li>
                <li><img src="yu_one/img/drupal.jpg"></li>
                <li><img src="yu_one/img/drupal.jpg"></li>
                <li><img src="yu_one/img/drupal.jpg"></li>
                <li><img src="yu_one/img/drupal.jpg"></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

{% endblock %}