<div class="home-features">
    <h2 class="offscreen">网络技术</h2>
    <div class="column-container">
        {{ view.r(menuRender('home-features')) }}
        <div class="column-home-features">
            <h3 class="connect"><i aria-hidden="true" class="fa fa-certificate"></i><span>连接</span></h3>
            <p>加入Tolowan社区，更好的使用Tolowan、得到其他开发者的帮助等等！</p>
            <p><a href="{{ url(['for':'register']) }}">详细了解并注册！</a></p>
        </div>
    </div>
</div>
