{% for item in entityList('node',['andWhere':[['conditions':'%tags% = :tag:','bind':['tag':41]]],'limit':1]) %}
    <article class="excerpt-minic excerpt-minic-index">
        <h2>
            <a href="http://demo.themebetter.com/dux/see" class="title">小九九...</a>
            <a title="{{ item.title }}" href="{{ url(['for':'node','id':item.title]) }}">{{ item.title }}</a>
        </h2>
        <div class="note">{{ item.body }}</div>
    </article>
{% endfor %}