<ul class="pagination clearfix">
    <li class="paginate_button previous disabled"><a href="#">共 {{ count(nodePagination) }} 页</a></li>
    {% for key,value in nodePagination %}
    <li class="paginate_button{% if key == currentPageIndex %} active{% endif %}">
        <a href="{% if key > 0 %}{{ url(['for':'nodePagination','id':data.id,'page':key+1]) }}{% else %}{{ url(['for':'node','id':data.id]) }}{% endif %}">{{ key+1 }}</a>
    </li>
    {% endfor %}
</ul>