<div data-url="{{ url(['for':'nodeLove','id':node.id]) }}"
     class="post-like{% if user.isLogin() is false %} no-login{% endif %}">
    <a class="favorite" data-id="3620" data-action="ding" href="javascript:;">
        <span class="count badge">{{ node.love }}</span>
        <span class="zan-text">
        {% if node.isLove() %}赞过{% else %}赞一下{% endif %}
        </span>
    </a>
</div>