{% extends "Themes/Dabbs/templates/pageSingle.twig" %}

{% block body %}
    <div class="content-wrap">
    <div class="content">
        <div class="title">
            <h3>
                <img alt="最新发布" src="//cdn.itdashu.com/themes/dabbs/images/biaoqi-p2.jpg">404
            </h3><span>您访问的页面不在了<a href="{{ url(['for':'index']) }}">返回首页</a></span><span class="end">，或者你管兴趣的内容</span>
        </div>
        {{ content() }}
        <div class="body">
            暂时没有推荐内容
        </div>
    </div>
</div>
{% endblock %} {% block bottom %}
{% endblock %}
