{% extends "Themes/Dabbs/templates/page.twig" %}
{% block body %}
<div class="content">
    <div class="title">
        <h3>
            <img alt="最新发布" src="//cdn.itdashu.com/themes/dabbs/images/biaoqi-p2.jpg">发布帖子
            </h3>
    </div>
    {{ content() }} {{ view.r(data) }}
    <!-- table of contents -->
</div>
{% endblock %} {% block right_box %}
<aside class="sidebar">
    <div class="widget">
        <h3><span>社区使用帮助<i aria-hidden="true" class="fa fa-info-circle"></i></span></h3>
        <div class="widget_body">
            <h4><i class="fa fa-ils" aria-hidden="true"></i>积分</h4>
            <ol>
                <li>每次登陆获得 3 积分</li>
                <li>每发布一篇帖子获得 5 积分，帖子被删除和关闭内容或者转移不扣除积分</li>
                <li>提问帖发布的悬赏消耗金币而不是积分</li>
                <li>积分决定等级，金币可以发布提问和兑换礼品</li>
                <li>金币通过回答提帖获得，每回答一个提问可以获得 1 金币，问题被采纳能获得悬赏金币，如果问题长时间没有被采纳管理员会选择采纳合适回答或者补充答案。</li>
            </ol>
            <p></p>
            <h4><i aria-hidden="true" class="fa fa-newspaper-o"></i>内容规则</h4>
            <ol>
                <li>如果您需要帮助，发布提问帖更合适</li>
                <li>请根据内容类型选择合适的分类</li>
                <li>内容中发布的外部链接会被转换成短链接，但链接文本会被保留</li>
            </ol>
        </div>
    </div>
</aside>
{% endblock %}
