{% extends "Themes/Tolowan/templates/page.twig" %} {% block head %}
<link href="/themes/tolowan/styles/form.css" rel="stylesheet" type="text/css" />
<link href="/themes/tolowan/styles/button.css" rel="stylesheet" type="text/css" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}"> {% endblock %}
{% block body %}
<div class="form-one login-body">
<h1>个人资料设置</h1>
{{ view.r(userCenterForm) }}
</div>
{% endblock %} {% block bottom %}
{% endblock %}
