<div class="wrapper" id="top-banner-wrapper">
        <ul id="sb-slider" class="sb-slider top-banner">
            {% for item in entityList('node',['limit':4,'order':'%changed% DESC']) %}
            <li>
                <a href="#" target="_blank">
                    <img src="http://cdn.itdashu.com/themes/news/img/banner/top-banner-{{ rand(1,7) }}.jpg" alt="image1" />
                </a>
                <div class="sb-description to-show">
                    <h3>{{ item.title }}</h3>
                    <p>{% if item.description is defined AND item.description %}{{ item.description }}{% else %}{{ subString(item.body,250,true) }}{% endif %}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>