<div class="widget widget_ui_text_list">
    <div class="title">
        <h3>
            <img alt="最新发布" src="//cdn.itdashu.com/themes/dabbs/images/biaoqi-p2.jpg">最新发布
            </h3>
    </div>
    <ul class="widget_body">
        {% for item in entityList('node',['limit':5]) %}
        <li><i><em></em></i><a target="_blank" href="{{ url(['for':'node','id':item.id]) }}">{{ item.title }}</a>
            <p>{{ timeTran(item.changed) }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
