<div class="widget widget_ui_tags">
    <div class="title">
        <h3>
            <i class="fa fa-fire" aria-hidden="true"></i>热门标签
        </h3>
    </div>
    <div class="items">
        {% for item in entityList('term',['andWhere':[['conditions':'contentModel = :contentModel:','bind':['contentModel':'tags']]],'limit':30]) %}
        <a href="{{ url(['for':'term','id':item.id,'page':1]) }}">{{ item.name }}</a> {% endfor %}
    </div>
</div>
