<div class="widget widget_ui_tags">
    <div class="title">
        <h3>
            <img alt="推荐阅读" src="//cdn.itdashu.com/themes/dabbs/images/biaoqi-p2.jpg">推荐阅读
        </h3>
    </div>

    <div class="items">
        {% for item in entityList('node',['limit':10,'order':'%changed% DESC']) %}
            {% if loop.index < 3 %}
                <a href="{{ url(['for':'term','id':item.id,'page':1]) }}">
                    {% if item.images %}
                    <img src="" />
                    <span>{{ item.name }}</span>
                </a>
            {% else %}
                <a href="{{ url(['for':'term','id':item.id,'page':1]) }}">{{ item.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
