<form method="post" class="site-search-form" action="/search_submit">
    <input type="hidden" value="search" name="search">
    <input type="hidden" value="node" name="type">
    <input class="search-input" name="word" type="text" placeholder="输入关键字" value="">
    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
</form>
