{layout name="passport:layout" /}
<div class="tipbox tipbox-error">
    友情提示:从下向上的推广关系
</div>    
<table class="pure-table">
    <thead>
        <tr>
            <th class="fn-tac w100">层级</th>
            <th class="fn-tar w60">名称</th>  
            <th class="w250">名称</th>
            <th class="w100">绑定手机号</th>
            <th class="fn-tac w100">邀请码</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $level as $rs}
            <tr>
                <td class="fn-tac">{$rs.level}</td>
                <td><img src="{$rs.face}" class="w50"></td>
                <td>{$rs.nickname}</td>
                <td>{$rs.phone_uid}</td>
                <td class="fn-tac">{$rs.invite_code}</td>
                <td></td>
            </tr>
        {/foreach}
        <tr>
            <td class="fn-tac">{$user.level}</td>
            <td><img src="{$user.face}" class="w50"></td>
            <td>{$user.nickname}</td>
            <td>{$user.phone_uid}</td>
            <td class="fn-tac">{$user.invite_code}</td>
            <td></td>
        </tr>
    </tbody>
</table>