* {
  outline : none !important;
}
a {
  cursor: pointer;
  color: $global-primary-background;
}

ul.am-dropdown-content {
  margin-top: 0;
  &:after, &:before {
    display: none;
  }
  background: #f5f5f5;
  border: none;
  li {
    &.am-active a, &.am-active a:hover, a:hover {
      color: #fff;
      background: $global-primary-background;
    }
  }
}

.am-nav {
  & > li > a {
    padding: .7em 1em;
  }
  & > li.am-active > a {
    &, &:focus, &:hover {
      background: $global-primary-background;
    }
  }
}

.am-modal-btn {
  font-size:1.4rem;
}

.am-btn {
  outline: none;
  line-height: 1.4;
  font-size:1.4rem;
  &:active:focus, &:focus {
    outline: none;
  }
}

.am-btn-xl {
  font-size:1.8rem;
}

.am-btn-lg {
  font-size:1.6rem;
}

.am-btn-sm {
  font-size:1.2rem;
}

.am-btn-xs {
  font-size:1rem;
  line-height:1rem;
}

.am-form-field {
  line-height: 1.35;
  padding: .6em;
  border: 1px solid #ddd;
  font-size:1.4rem;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #99baca;
    background: #f5fbfe;
  }

}

.am-input-group .am-form-field:not(:first-child):not(:last-child), .am-input-group-btn:not(:first-child):not(:last-child), .am-input-group-label:not(:first-child):not(:last-child) {
  border-left:none;
  border-right:none;
}

.am-form {

   input[type=number], input[type=search], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=email], input[type=url], input[type=tel], input[type=color], select, textarea
  {
    line-height: 1.35;
    padding: .6em;
    border: 1px solid #ddd;
    font-size:1.4rem;
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #99baca;
      background: #f5fbfe;
    }
  }

  select {
    padding-right: 1.5em;
  }

  input[type=color] {
    padding: 0;
    height: 2.8rem;
  }

}

.am-breadcrumb {
  font-size:80%;
}

.am-form-help {
  margin-bottom: 0;
}


.am-selected-list {
  font-size:1.4rem;
}
