.dux-form {
  fieldset {
    margin-bottom:0;
    > .am-form-group:last-child {
      margin-bottom:0;
    }
  }
  > .am-form-group:last-child {
    margin-bottom:0;
  }
  .dux-form-group {
    margin-bottom: 1rem;
  }

}

.dux-form-inline {
  display: flex;
  .dux-form-group {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 641px) {
  .am-form-inline .am-form-group {
  }
}

.am-form-content, .dux-form-content {
  padding-top: .6em;
}

.am-input-group-label {
  height: 34px;
  line-height:34px;
  font-size:1.4rem;
}


.uk-form-label {
  font-size: 1.4rem;
}

