.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-item .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.dd-handle {
  display: block;
  height: 40px;
  padding: 0 10px;
  color: #333;
  text-decoration: none;
  background: #ddd;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  width: 30px;
  &:hover {
    background: #e3e4e6;
  }
  &:before {
    content: '\f0c9';
    display: block;
    position: absolute;
    left: 0;
    line-height: 40px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
  }
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 40px;
  margin: 0px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin-left: 30px;
  &:hover, &:focus, &:active {

    outline: none;
  }
  &:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
  &[data-action="collapse"]:before {
    content: '-';
  }
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd-content {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  padding: 0 10px 0 40px;
  color: #333;
  text-decoration: none;
  background: #ffffff;
  small {
    color: #999;
    padding-left: 10px;
  }
}

.dd-dragel > .dd-item > .dd-content {
  margin: 0;
}

.dd-item > button {
}

.dd-tool {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  font-size: 1.4rem;
  a {
    color: #666;
    margin-right: 10px;
    &:hover {
      color: $global-primary-background;
    }
  }
}

.dux-tree {
  h2 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }
  ul, li {
    list-style: none;
    white-space: nowrap;
  }
  ul {
    margin: 0;
    padding: 0;
    a {
      padding: 0 5px;
      color: #666;
      &:hover {
        background: $global-primary-background;
        color: #fff;
      }
    }

  }
  .active > h2 > a {
    background: $global-primary-background;
    color: #fff;
  }
  & > h2 {
    padding-left: 10px;
  }
  li {
    background: url("../images/tree_line.png") repeat-y;
    background-position: 0 0;
    padding-left: 20px;
  }
  ul h2 {
    background: url("../images/tree_middle.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
  }
}

.dux-alert-list {
  background-color: rgba(59,180,242,.15);
  border-left: 5px solid #81b9ef;
  padding:10px;
}

.dux-alert-list > *:last-child {
  margin-bottom: 0;
}


.dux-images {
  list-style: none;
  margin: 0;
  padding: 0;
  li,.sortable-placeholder {
    margin-top:10px;
    margin-right:10px;
    float: left;
    width: 170px;
    height: 160px;
    border: 1px dashed #ddd;
    cursor: pointer;
  }
  li {
    border: 1px solid #ddd;
    img {
      width: 150px;
      height: 120px;
      margin: 10px;
      margin-bottom: 0;
    }
    .info {
      height: 30px;
      line-height:30px;
    }
    .title {
      float: left;
      display: block;
      width: 110px;
      height: 30px;
      overflow: hidden;
      padding-left:10px;
    }
    .del {
      float: right;
      color: red;
      margin-right:10px;
    }
  }
}

.dux-files {
  list-style: none;
  margin: 0;
  padding: 0;
  li,.sortable-placeholder {
    display: block;
    width: 100%;
    margin-top:10px;
    margin-right:10px;
    float: left;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom:5px;
    height: 50px;
  }
  li {
    .title {
      input {
        width: 300px;
        display: inline-block;
      }
    }
    .del {
      color: red;
      margin-left:20px;
    }
  }
}

.dux-page-images {
  .item {
    float: left;
    background: #fff;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-left:20px;
    position: relative;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
    .info {
      display: none;
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      background:rgba(0,0,0, 0.8);
      text-align: center;
      padding: 10px;
      .title {
        padding: 1rem 0;
        color: #fff;
        height: 120px;
        overflow: hidden;
      }
      .btn {
        padding-top:10px;

      }
    }

    &:hover {
      .info {

        display: block !important;
      }
    }
  }
}

.dux-page-images-sm {
  .item {
    width: 150px;
    height: 150px;
    padding: 5px;
    .info {
      .title {

        height: 80px;
      }

    }
  }
}


.dux-material-panel {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;

  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    line-height: 160px;
    a {
      margin-right: 10px;
      color: #fff;
    }
  }

  .panel-top {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px dotted #fff;

    .body {
      img {
        width: 286px;
        height: 160px;
      }
      h2 {
        display: block;
        padding: 5px 5px;
        margin: 0;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        font-size: 1.3rem;
      }

    }
    &:hover .menu {
      display: block;
    }
  }

  .panel-item {
    border: 2px dotted #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
    position: relative;
    display: block;
    .pic {
      float: right;
      img {
        width: 78px;
        height: 78px;
      }
    }
    h3 {
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      margin-right: 90px;
      font-weight: normal;
      padding-top: 10px;
      line-height: 25px;
    }
    .menu {
      line-height: 100px;
    }
    &:hover .menu {
      display: block;
    }
  }

  .panel-add {
    margin-top: 10px;
    a {
      display: block;
      padding: 10px;
      border: 1px dashed #ccc;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      color: #999;
      &:hover {
        color: #333;
        border-color: #333;
      }
    }
    i {
      font-size: 3rem;
    }
  }

  .panel-del {
    a {
      margin-top: 10px;
      display: block;
      padding: 10px;
      border: 1px dashed #dd514c;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      color: #dd514c;
    }
    i {
      font-size: 3rem;
    }
  }

  .active {
    border: 2px dashed #dd514c;
  }


}



.dux-timeline {
  padding: 20px;
  dl, dt, dd {
    margin: 0;
    padding: 0;
  }

  dl {
    border-left: 1px solid #ccc;
    min-height: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    &:first-child {
      color: #2096f3;
      dt {
        color: #2096f3;
      }
      dt:before {
        border-color: #2096f3;
      }
    }
  }

  dt {
    padding-left: 20px;
    width: 180px;
    float: left;
    position: relative;
    font-weight: normal;
    color: #999;
  }

  dt:before {
    position: absolute;
    content: '';
    border: 2px solid #ccc;
    background-color: #fff;
    display: inline-block;
    width: 13px;
    height: 13px;
    left: -7px;
    border-radius: 50%;
    top: 5px;
  }

  dd {
    margin-left: 200px;
    line-height: 22px;
    color: #666;
  }

}