.dux-main {
  margin-left: $aside-width;
  padding-top: $header-height + $nav-height + 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.dux-body {
  padding: 0;
  margin-top: 2rem;
}

.dux-profile-widget {
  text-align: center;
}

.dux-profile-widget .profile-bg {

  height: 80px;
}

.dux-profile-widget .profile-avatar {
  margin-top: -42px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
  margin-left: auto;
  margin-right: auto;

}

.dux-profile-widget .profile-title {
  color: #505458;
  margin: 10px 0;
  font-size: 2rem;

}

.dux-profile-widget .profile-text {
  padding-bottom: 20px;
  color: #98a6ad;
  margin: 0;

}

.dux-list-media {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
  }
  .media-img {
    float: left;
    width: 80px;
    text-align: center;
    padding-top: 3px;
    i {
      color: #fff;
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 24px;
      line-height: 40px;
      border-radius: 50%;
    }

  }
  .media-body {
    padding-left: 80px;
    h3 {
      font-weight: normal;
      font-size: 1.4rem;
      margin: 0;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
      color: #999;
    }

  }
}

.dux-page-header {
  margin-bottom: 2rem;
  .page-title {
    float: left;

    .dux-form {
      margin-top: 0;
    }

    @include mobile {
      float: none;
      margin-bottom: 10px;
      .uk-form-group {
        display:block;
        margin-bottom: 10px;
        .uk-form-field {
          display: block;
          width: 100%;
        }

      }

      .uk-button {
        width: 100%;

        display: block;
      }

    }
    h3 {
      font-weight: normal;
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 2rem;
      color: $global-primary-background;
      line-height: 30px;
    }
  }
  .page-action {
    float: right;
    @include mobile {
      float: none;
      .am-btn {
        display: block;
      }
    }
  }
}

.dux-page-table {
  .dux-table {
    background: #fff;
    margin-bottom: 20px;
  }
}

.dux-page-foot, .dux-page-header {
  padding: 0;
}

.dux-page-foot {
  margin-top: 2rem;
  .foot-batch {
    float: left;
  }

  .foot-pages {
    float: right;
    font-size:1.2rem;
    min-width: 300px;
    .pages-info, .pages-num, .page-jump {
      display: inline-block;
    }
    .page-jump {
      * {
        display: inline-block;
      }
      input {
        width: 50px;
      }
    }
  }

}

.dux-panel {
  border: none;
  margin-bottom: 2rem;
  > .am-panel-hd {
    background: #e7e8ea;
    border: none;
    padding: 10px 10px;
    line-height: 1.6;
  }
}

.dux-form {
  padding-top: 10px;
  &.am-form-inline > .am-form-group, > .am-form-group:last-child {
    margin-bottom: 0;
  }
  label {
    font-weight: normal;
  }
  .am-form-group {
    margin-bottom: 2rem;
  }
}

.dux-box {
  display: flex;
  flex-wrap: nowrap;
  @media screen and (max-width: $min-width) {
    display: block;
  }
  .box-side {
    width: 250px;
    @media screen and (max-width: $min-width) {
      display: block;
      width: auto;
    }
  }
  .box-body {
    flex:1;
    padding-left: 20px;
    @media screen and (max-width: $min-width) {
      flex: auto;
      display: block;
      width: auto;
      padding: 0;
    }
  }
}

.dux-flex-layout {
  display: flex;
  flex-wrap: nowrap;
  .flex-auto {
    flex:1;
  }
}

.dux-code {
  background: color('amber', 'lighten-4');
  border: 1px dashed color('amber', 'lighten-1');
  padding: 20px;
  display: block;
}
.dux-tips {

}