.dux-moblie-header {
  display: none;
  position: fixed;
  height: $header-height;
  background: #333;
  width: 100%;
  z-index: 100;
  top:0;
  h3 {
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    line-height: $header-height;
    color: #fff;
  }
  i {
    font-size: 2rem;
  }
  .menu-left, .menu-right {
    position: absolute;
    top: 0;
    line-height: $header-height;
    padding: 0 10px;
    color: #fff;
  }
  .menu-left {
    left: 0;
  }
  .menu-right {
    right: 0;
  }
}

.dux-moblie-aside {
  display: none;
  width: $aside-mobile-width;
  z-index: 1;
  background: #fff;
  > ul {
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-bottom:10px;
    h3,h4 {
      margin: 0;
      font-weight: normal;
      padding: 10px 10px;
      color: #666;
    }
    h3 {
      color: #999;
      background: #f6f6f6;
      font-size:1.6rem;
    }
    h4 {
      color: #999;
    }
    li {
      &.active {
        border-right:3px solid $global-primary-background;
      }
      a {
        display: block;
        padding: 10px 10px;
        color: #666;
        font-size:1.4rem;
        &:hover {
          color:  $global-primary-background;
        }
        i {
          width: 18px;
          color: #666;
        }
      }
      list-style: none;
    }
  }
}

@media all and (max-width: 1024px) {
  .dux-header,.dux-aside {
    display: none;
  }
  .dux-main {
    padding-top: $header-height + 20px;
    margin-left: 0;
  }
  .dux-moblie-header {
    display: block;

  }
  .dux-mobile-menu {
    .dux-moblie-header {
      display: block;
      left: $aside-mobile-width;
    }
    .dux-html {
      position: fixed;
      top:0;
      margin-left: $aside-mobile-width;
      margin-right: -$aside-mobile-width;
      overflow: hidden;
      width: 100%;
    }
    .dux-main {
    }
    .dux-moblie-aside {
      display: block;
    }
  }

}

