{include file="public/tpl/head.html" /}
<body>
    <div class="conero">
        <div class="win">
            {$app|default=""}       
            <a href="javascript:void(0);" class="app_btn" dataid="persion" dataurl="/conero/index/appsh/app/center"><div class="app">个人中心</div></a>
            <a href="javascript:void(0);" class="app_btn" dataid="finance" dataurl="/conero/index/appsh/app/finance"><div class="app">财务系统</div></a>
            <a href="javascript:void(0);" class="app_btn" dataid="te_clan" dataurl="{php}echo getPortUrl('/TeClan/','9992');{/php}"><div class="app">家谱中心</div></a>
            <a href="javascript:void(0);" class="app_btn" dataid="te_center" dataurl="{php}echo getPortUrl('/TeCenter/','9992');{/php}"><div class="app">技术交流</div></a>            
            <div class="message">
                版本始于:2016年10月31日 星期一
                <br><a href="/Doeeking" target="_blank">老版网站入口</a>
                <br>网站访问统计： {$p.visit_count}
                {$p.location|default=""}
                <br>选择网站风格{$p.themeselect}                    
            </div>
        </div>
        <div class="bottom_bar">
            <!--开始启动项-->
            <div class="start">
                <a href="javascript:window.close();">关闭</a>
            </div>
            <!--任务栏-->
            <div class="task_bar" id="task_bar">
            </div>
            <!--状态栏-->
            <div class="state_bar">
                {if condition="$uLogin == 'N'"}
                    您当前还没有<a href="/conero/index/login">登录</a> 或 <a href="/conero/index/login/register">注册</a>??
                {else /}
                    {$name},欢迎登录系统，<a href="/conero/index/login/quit">注销</a><a href="/conero/index/login/lock">锁定</a>
                {/if}
            </div>
        </div>
    </div>
</body>
</html>