@charset "utf-8";
/*通用样式*/
/*关闭按钮*/
.sl_Banner_close {position:absolute;cursor:pointer;right: 0px;top:0px;height:11px;width:11px;display: block;background: url("../img/close.gif") no-repeat center;}
.sl_Banner_close:hover {block;background: url("../img/closeh.gif") no-repeat center;}

/* 顶部横幅菜单样式 */
#swttopBanner { width:100%; overflow:hidden; height:40px; position:fixed !important; top:0; left:0px; top:0px; z-index:2147483647; _position:absolute; _top:expression(documentElement.scrollTop);
display:none; background:#086b37; }
#swttopBanner .sl_top_nav { float:none; width:1000px; margin:0px auto; }
#swttopBanner .sl_top_nav li {list-style-type: none;margin: 0px;padding: 0px; width:11.1%; text-align:center; height:40px; line-height:40px; float:left; position:relative; }
#swttopBanner .sl_top_nav li a { color:#fff; display:block; font-size:16px; position:absolute; width:100%; margin:0px !important; margin-left:-60px;text-decoration: none; }
#swttopBanner .sl_top_nav li a:hover { color:#fff; }
#swttopBanner .sl_top_nav .top_move_bg { margin-left:-1px; padding-left:1px; background:#0567ba url(../img/nav_hover.gif) no-repeat bottom center; ; position:absolute; width:125px; height:40px; top:0; left:-20px }

/*商务通PC邀请界面样式*/
#pcnewswt{width:446px; height:327px; overflow:hidden; position:relative; z-index:2147483647;background:url(../img/swt.gif) no-repeat center;cursor:pointer;}
#pcnewswt .sl_swt_body{position: absolute;right:0px; top:0px;width: 446px;height: 327px; display: block;}
#pcnewswt .sl_swt_close{position: absolute;right:0px; top:0px;width: 15px;height: 13px; display: block;}

/*商务通手机邀请界面样式*/
#sjnewswt {position: fixed;_position: absolute;width: 240px;height: 170px;text-decoration: none;_top: expression(documentElement.scrollTop + 0);z-index: 2147483647;background: #F2F2F2;border: 1px solid #04807C;overflow:hidden;}
#sjnewswt .sl_swt_tit {background:#04807C url(../img/sjswtico.png) no-repeat scroll left;padding-left:41px;height:40px;width:200px;line-height:40px;position: absolute;top: 0px;left: 0px;font-size:18px;color:#fff;}
#sjnewswt .sl_swt_x {width:40px;height:40px;position: absolute;right:0px; top:0px; display: block;background:url(../img/sjswtclose.png) no-repeat center;}
#sjnewswt .sl_swt_x:hover {background:url(../img/sjswtcloseh.png) no-repeat center;}
#sjnewswt a{text-decoration: none;color:#000;}
#sjnewswt .sl_swt_zxzx {position: absolute;top: 130px;left: 15px;width:100px;height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;color:#6A5102;background:#FFF607;border:solid #D7D7D7 1px;/*IE 6 7 8*/ FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFD02,endColorStr=#FFCB27); /* IE 10 */background:-ms-linear-gradient(top,#FFFD02,#FFCB27); /*火狐*/       background:-moz-linear-gradient(top,#FFFD02,#FFCB27);/*谷歌*/ background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFFD02),to(#FFCB27));/*Safari5.1 Chrome 10+*/background:-webkit-linear-gradient(top,#FFFD02,#FFCB27);  /*Opera 11.10+*/ background:-o-linear-gradient(top,#FFFD02,#FFCB27);  }
#sjnewswt .sl_swt_zxzx:hover {background:#FFF607;}
#sjnewswt .sl_swt_mfdh {position: absolute;top: 130px;right: 15px;width:100px;height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;color: #91EBEB;background:#FFF607;border:solid #D7D7D7 1px;/*IE 6 7 8*/ FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#239F9F,endColorStr=#077A7A); /* IE 10 */background:-ms-linear-gradient(top,#239F9F,#077A7A); /*火狐*/       background:-moz-linear-gradient(top,#239F9F,#077A7A);/*谷歌*/ background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#239F9F),to(#077A7A));/*Safari5.1 Chrome 10+*/background:-webkit-linear-gradient(top,#239F9F,#077A7A);  /*Opera 11.10+*/ background:-o-linear-gradient(top,#239F9F,#077A7A);}
#sjnewswt .sl_swt_mfdh:hover {background:#138A8A;}
#sjnewswt .sl_swt_ts {position: absolute;top: 52px;left: 77px;font-size:12px;border:solid #E9E9E9 1px;background:#fff;width:135px;height:50px;padding:5px;line-height:17px;}
#sjnewswt .sl_swt_ts:hover {border:solid #0099CC 1px;}
#sjnewswt .sl_swt_pic {position: absolute;top: 52px;left: 12px;}
#sjnewswt .sl_swt_pic img {width: 58px;height: 58px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border:0;}

/* PC右侧Banner样式 */
#swtrightBanner {position: fixed;_position: absolute;right: 0px;top: 60px;_top: expression(documentElement.scrollTop + 60);z-index: 2147483647;}
#swtrightBanner .sl_swt_pc {display: block;background: url(../img/RightBanner.gif) no-repeat 0 center;width: 120px;height: 300px;text-decoration: none;}
/* 手机右侧Banner样式 */
#swtrightBanner .sl_swt_sj {display: block;background: url(../img/right_sj_Banner.gif) no-repeat 0 center;width: 34px;height: 113px;text-decoration: none;}

/* PC底部菜单样式 */
#swtbottomBanner {width:100%;height:75px;background: url(../img/bottomBanner_bj.gif) repeat-x;position: fixed;_position: absolute;bottom:0px;left: 0px;_bottom: expression(documentElement.scrollTop + 0);z-index: 2147483647;}
#swtbottomBanner .sl_swt_bdiv {position: relative;_position: relative;display: block;background: url(../img/bottomBanner.gif) no-repeat 0 center;margin: auto;width: 990px;height: 75px;}
#swtbottomBanner .sl_swt_btj {position: absolute;display: block;width: 80px;height: 40px;left:564px;top:24px;}
#swtbottomBanner .sl_swt_bkk {position: absolute;width: 285px;height: 35px;left:271px;top:27px;color:#004121;font-size:14px;border:none;background:none;}
#swtbottomBanner .sl_swt_bswt {position: absolute;display: block;width: 60px;height: 48px;left:921px;top:20px;}
#swtbottomBanner .sl_swt_cdiv {position: absolute;overflow: hidden;width: 256px;height: 40px;left:658px;top:24px;}
#swtbottomBanner .sl_swt_cdiv ul {list-style-type: none;margin: 0px;padding: 0px;background-color: #04552D;}
#swtbottomBanner .sl_swt_cdiv ul li a {color: #9cdbbd;font-size: 12px;text-decoration: none;border:none;}
#swtbottomBanner .sl_swt_cdiv ul li {height:20px;line-height: 20px;list-style: none;text-overflow: ellipsis;white-space: nowrap;margin: 0px;padding: 0px;}

/* 手机底部菜单样式 */
#sjswtbottomBanner { font-family: "Microsoft YaHei"; position: fixed; width: 100%; height: 64px;  background:#0a6c3d; bottom: 0; left: 0; z-index: 3; text-align: center; font-size: 14px; line-height: 1em;z-index: 2147483646;}
#sjswtbottomBanner ul { width: 100%; height: 100%; display: table; table-layout: fixed;  padding:0; margin:0;}
#sjswtbottomBanner li { display: table-cell; padding:0; margin:0;}
#sjswtbottomBanner li:nth-of-type(2) i { background-position: 0 -31px; }
#sjswtbottomBanner li:nth-of-type(2) a { padding-right: 6px; }
#sjswtbottomBanner li:nth-of-type(4) i { background-position: -36px 0; }
#sjswtbottomBanner li:nth-of-type(3) i { background-position: -39px -33px; }
#sjswtbottomBanner li:nth-of-type(3) a { padding-left: 6px; }
#sjswtbottomBanner li:nth-of-type(5) i { background-position: -72px 0; width:37px; }
#sjswtbottomBanner a { white-space:nowrap; text-decoration: none; color: #fff; display: block; height: 54px; padding-top: 4px; }
#sjswtbottomBanner .active { background: #0a6c3d; position: relative; bottom: 8px; border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-radius: 5px 5px 0 0; /*-webkit-transform: scale(1.11, 1.11); transform: scale(1.11, 1.11);*/ }
#sjswtbottomBanner .active:before, #sjswtbottomBanner .active:after { content: ""; display: block; position: absolute; width: 3px; top: 10px; height: 82%; background: url(../img/bottom_sj_Banner.gif) no-repeat; -webkit-background-size: 176px auto; background-size: 176px auto; }
#sjswtbottomBanner .active:before { right: 100%; background-position: -167px 0; }
#sjswtbottomBanner .active:after { left: 100%; background-position: -170px 0; }
#sjswtbottomBanner i { display: block; width: 41px; height: 33px; margin: 0 auto; background: url(../img/bottom_sj_Banner.gif) no-repeat; -webkit-background-size: 115px auto; background-size: 115px auto; }

/* PC左侧Banner样式 */
#swtleftBanner {position: fixed;_position: absolute;left: 0px;top: 60px;_top: expression(documentElement.scrollTop + 60);z-index: 2147483647;}
#swtleftBanner .telbeijing {display: block;background: url(../img/leftBanner.gif) no-repeat 0 center;width: 140px;height: 320px;text-decoration: none;}
#swtleftBanner .teltijiao {position: absolute;top: 240px;left: 25px;display: block;background: url(../img/lefttelbutton.gif) no-repeat 0 center;width: 123px;height: 24px;text-decoration: none;}
#swtleftBanner input {position: absolute;top: 209px;left: 8px;display: block;width: 124px;height: 21px;border: none;background:none;}
/* 手机左侧Banner样式 */
#swtleftBanner #sjswtLeftBanner {display: block;text-decoration: none;display: block !important;z-index: 2147483647;color: rgb(255, 255, 255);font-size: 14px;background-color: rgb(15, 120, 181);line-height: 1.3;width: 1em;padding: 1em;cursor: pointer;-webkit-border-radius: 0.3em;-moz-border-radius: 0.3em;-ms-border-radius: 0.3em;-o-border-radius: 0.3em;border-radius: 0.3em;}
#sjswtLeftBanner:before, #sjswtLeftBanner:after{content: '';}

/* 底部QQ抖动样式 */
#swtQQBanner {position: fixed;_position: absolute;right:0px;bottom:0px;width: 209px;height: 139px;text-decoration: none;_bottom: expression(documentElement.scrollTop + 0);z-index: 2147483647;background: url(../img/qqbanner.gif) no-repeat 0 center;}
#swtQQBanner a{color: #1C6EFF;font-size: 12px;text-decoration: none;}
#swtQQBanner a:hover{color: #4C8BF9;}
#swtQQBanner .sl_swt_js {position: absolute;top: 107px;left: 102px;}
#swtQQBanner .sl_swt_jj {position: absolute;top: 107px;left: 150px;}
#swtQQBanner .sl_swt_qq {position: absolute;top: 58px;left: 77px;}
#swtQQBanner .sl_swt_ts {position: absolute;top: 78px;left: 77px;font-size:12px;}
#swtQQBanner .sl_swt_pic {position: absolute;top: 52px;left: 12px;}
#swtQQBanner .sl_swt_pic img {border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border:0;}
#swtQQBanner .sl_swt_tit {position: absolute;top: 10px;left: 35px;font-size:12px;color:#313131;}
#swtQQBanner .sl_swt_x {width:36px;height:22px;position: absolute;right:0px; top:0px; display: block;}
#swtQQBanner .sl_swt_x:hover {background:url(../img/qqclose.gif) no-repeat center;}