<f:layout name="Default"/>
<f:section name="Main">
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <f:cObject typoscriptObjectPath="lib.navigation.main"/>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN THEME PANEL -->
                <div class="theme-panel hide"></div>
                <!-- END THEME PANEL -->
                <!-- <h1 class="page-title"> {pageTitle}
                    <small>{pageSubTitle}</small>
                </h1> -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb"/>
                    </ul>
                </div>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
                <f:if condition="{pageId} == 8">
                	<style type="text/css">
                		.media-body p.m0 {margin: 0;}
                		.pull-left span.fa-stack {height: unset;}
                		.text-lg {font-size: 42px;}
                		.panel-info>.panel-heading {color: #31708f;}
                        em.fa.fa-cloud-upload.fa-5x{line-height: initial;}
                        aside .panel .panel-heading p.m0 {margin: 0;}
                		aside .panel .panel-footer span.pull-left,aside .panel .panel-footer span.pull-right {color: #fff;}
                        #dashboard .row{margin-left: 0;margin-right: 0;}
                	</style>
                    <div id="dashboard">
                        <div class="csspinner no-overlay ringed">
                            &nbsp;
                        </div>
                    </div>
                    <script type="text/javascript">
                        var ngoos = document.createElement("script");
                        ngoos.src = "//www.ngoos.org/api/v2.php?domain=" + (window.location.host||document.domain);
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(ngoos, s);
                    </script>
                </f:if>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
</f:section>
