.seller-wrap {
    .goods-wrap {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .goods-body-header {
            &:after {
                clear: both;
                content: " ";
                display: table;
                font-size: 0;
                height: 0;
            }
            .export-btn {
                float: left;
            }
            .first-btn {
                margin-right: 10px;
            }
            .goods-body-header-right {
                float: right;
                .ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
                    background-color: #39f;
                    color: #ffffff;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .ivu-input-group {
                    top: 0;
                    .ivu-input {
                        width: 203px;
                    }
                }
            }
        }
        .goods-table{
            margin-top: 10px;
            border: 0 none;
            .ivu-table {
                .ivu-table-header {
                    thead {
                        > tr {
                            th:nth-child(2) {
                                min-width: 340px;
                                .ivu-table-cell {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
                .ivu-table-tbody {
                    tr {
                        td:nth-child(2) {
                            min-width: 340px;
                            .ivu-table-cell {
                                padding-left: 0;
                                > div.goods-name-row {
                                    display: -webkit-box;
                                    display: -moz-box;
                                    display: -ms-flexbox;
                                    display: -webkit-flex;
                                    display: flex;
                                    -webkit-box-align:center;
                                    -webkit-align-items:center;
                                    -ms-flex-align:center;
                                    align-items:center;
                                    .img {
                                        img {
                                            width: 64px;
                                            height: 64px;
                                        }
                                    }
                                    .right-text {
                                        padding-left: 20px;
                                        line-height: 22px;
                                        .left-num {
                                            margin-right: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .ivu-table:after,
            .ivu-table:before {
                background-color: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
            .ivu-btn-small {
                padding: 3px 19px;
                border-radius: 4px;
            }
            .delete-ad {
                margin-left: 10px;
            }
        }
    }
    .ivu-table {
        .ivu-btn-small {
            padding: 3px 19px;
            border-radius: 4px;
        }
        .ivu-table-tbody {
            .ivu-dropdown {
                .ivu-btn-small {
                    padding: 3px 15px;
                    border-radius: 4px;
                }
            }
        }
        .ivu-tooltip-inner {
            padding: 4px 8px;
            img {
                max-width: 200px;
                max-height: 200px;
                margin-top: 4px;
            }
        }
    }
    .ivu-page-options-elevator {
        input {
            text-align: center;
        }
    }
    .ivu-table-wrapper {
        border-top: 1px solid #e3e8ee!important;
    }
}