.seller-wrap {
    .goods-notice {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .goods-table{
            margin-top: 14px;
            border: 0 none;
            .ivu-table:after,
            .ivu-table:before {
                background-color: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
            .ivu-btn-small {
                padding: 3px 19px;
                border-radius: 4px;
            }
            .delete-ad {
                margin-left: 10px;
            }
        }
    }
}