.seller-wrap {
    .order-ship {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding-left: 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .order-money-content {
            float: right;
            padding-bottom: 10px;
            .select-content {
                > ul {
                    > li {
                        float: left;
                        margin-right: 10px;
                        .ivu-date-picker {
                            display: inline-block;
                        }
                        &.store-body-header-right {
                            .ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
                                background-color: #39f;
                                color: #ffffff;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                            .ivu-input-group {
                                top: 0;
                                .ivu-input {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .order-table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
            td {
                border: 1px solid #e3e8ee;
            }
            th {
                background-color: #f5f7f9;
            }
            tr {
                &.space {
                    background-color: #f5f7f9;
                    td {
                        text-align: left;
                        font-size: 12px;
                        padding: 7px 16px;
                        span {
                            display: inline-block;
                            padding-top: 4px;
                            margin-right: 16px;
                        }
                        .look-shipping {
                            float: right;
                            .print-btn {
                                float: left;
                                &:nth-child(2) {
                                    margin-left: 6px;
                                }
                            }
                        }
                        .print-btn {
                            float: right;
                            width: 94px;
                            height: 26px;
                            border-radius: 4px;
                            background-color: #9ea7b4;
                            font-size: 12px;
                            color: #fff;
                            border: 0 none;
                            cursor: pointer;
                        }
                    }
                }
                &.space-bg {
                    td {
                        border: 0 none;
                    }
                }
            }
            td {
                &:last-child {
                    padding: 7px 16px 16px 0;
                }
                .goods-name-row {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding: 16px 16px;
                    border-bottom: 1px solid #eee;
                    &:last-child {
                        border: 0 none;
                    }
                    .img-text {
                        text-align: left;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        .img {
                            img {
                                width: 80px;
                                height: 80px;
                                display: block;
                            }
                        }
                        .goods-name {
                            padding-left: 20px;
                            line-height: 22px;
                            text-align: left;
                            P:first-child {
                                padding-bottom: 8px;
                            }
                        }
                    }
                }
            }
            .ivu-form {
                .ivu-row:last-child {
                    text-align: right;
                    margin-top: 20px;
                }
                .ivu-form-item {
                    margin-bottom: 0;
                    p {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
.delayed-receipt-modal {
    .ivu-form-item {
        margin-bottom: 10px;
    }
    .ivu-btn-primary {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}