.seller-wrap {
    .service-returns-check {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        h5 {
            height: 40px;
            line-height: 40px;
            background-color: #f5f7f9;
            padding: 0 20px;
            border-bottom: 1px solid #e3e8ee;
            font-size: 14px;
        }
        .refund-details {
            border: solid 1px #e3e8ee;
            margin-bottom: 100px;
            .ivu-col-span-15 {
                border-right: 1px solid #e3e8ee;
                min-height: 680px;
                .ivu-row:last-child {
                    .ivu-form-item {
                        border-bottom: 0 none;
                    }
                }
            }
            .check-step {
                display: flex;
                justify-content: flex-start;
                padding-left: 70px;
                padding-top: 44px;
                padding-bottom: 40px;
                border-bottom: 1px solid #e3e8ee;
                .ivu-steps .ivu-steps-tail {
                    padding: 0;
                }
            }
            .ivu-col-span-9 {
                .ivu-row:last-child {
                    .ivu-form-item {
                        border-bottom: 0 none;
                    }
                }
            }
            .ivu-form-item {
                margin-bottom: 0;
                padding: 8px 0;
                border-bottom: 1px solid #e3e8ee;
            }
            .goods-intro-content {
                font-size: 12px;
                border-bottom: 1px solid #e3e8ee;
                > .ivu-row {
                    padding: 12px 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;;
                }
                .ivu-col-span-5 {
                    width: 64px;
                    img {
                        width: 64px;
                        height: 64px;
                    }
                }
                .ivu-col-span-19 {
                    padding-left: 12px;
                    p {
                        &:last-child {
                            margin-top: 6px;
                        }
                        i {
                            color: #ff3300;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}