.seller-wrap {
    .shop-category {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .category-list{
            > button {
                margin-bottom: 10px;
                &.first-btn {
                    margin-right: 10px;
                }
            }
            .ivu-table-wrapper {
                border: 0 none;
                .ivu-table-body {
                    tr {
                        td:nth-child(3) {
                            .ivu-table-cell {
                                line-height: 26px;
                                .ivu-btn-small {
                                    padding: 3px 10px;
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                }
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
                .ivu-table-fixed-right:before,
                .ivu-table-fixed:before {
                    height: 0;
                }
                .delete-ad {
                    margin-left: 10px;
                }
                .ivu-table-expanded-cell {
                    padding: 0;
                    .ivu-table-wrapper {
                        border-top: 0 !important;
                    }
                    .expand-row {
                        .ivu-table {
                            td {
                                border: 0 none;
                            }
                        }
                    }
                }
            }
            .category-table {
                .top-title {
                    height: 40px;
                    line-height: 40px;
                    background-color: #f5f7f9;
                    border-bottom: 1px solid #e3e8ee;
                    border-top: 1px solid #e3e8ee;
                    .ivu-checkbox-wrapper {
                        text-align: center;
                    }
                    span {
                        display: inline-block;
                        &.action {
                            float: right;
                        }
                    }
                }
                .ivu-checkbox-group {
                    label {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid #e3e8ee;
                        .ivu-checkbox {
                            width: 6%;
                            float: left;
                        }
                        .table-content {
                            display: inline-block;
                            width: 94%;
                            .ivu-collapse {
                                border: 0 none;
                                .ivu-collapse-header {
                                    background-color: #fff;
                                    padding-left: 0;
                                    > i {
                                        float: left;
                                        width: 2%;
                                        margin-top: 14px;
                                    }
                                    .table-item {
                                        width: 98%;
                                        display: inline-block;
                                        > span {
                                            display: inline-block;
                                            &.action {
                                                float: right;
                                            }
                                            .first-btn {
                                                margin-right: 8px;
                                            }
                                        }
                                    }
                                }
                                .ivu-collapse-content {
                                    .table-item {
                                        width: 102%;
                                        display: inline-block;
                                        > span {
                                            display: inline-block;
                                            &.action {
                                                float: right;
                                            }
                                            .first-btn {
                                                margin-right: 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}