.seller-wrap {
    .shop-message {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .ivu-table-wrapper {
            border: 0 none;
        }
        .library-application {
            margin-bottom:20px ;
            border: 1px solid #e3e8ee;
            h5 {
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                background-color: #f5f7f9;
                padding: 0 20px;
                border-bottom: 1px solid #e3e8ee;
            }
            .ivu-row {
                border-bottom: 1px solid #e3e8ee;
                &:last-child {
                    border-bottom: none;
                }
                .ivu-form-item {
                    margin-bottom: 0;
                    padding: 8px 0;
                }
            }
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .apply-renewal {
            padding-top: 30px;
        }
        .ivu-form-item {
            .image-preview {
                border: 2px solid #ccc;
                position: relative;
                width: 204px;
                > i {
                    bottom: 0;
                    font-size: 30px;
                    position: absolute;
                    right: 0;
                }
                > img {
                    display: block;
                    max-width: 200px;
                }
            }
            .ivu-upload {
                background: #f5f7f9;
                height: 90px;
                width: 90px;
                > .ivu-upload-select {
                    background: url("../images/plus.svg") center no-repeat;
                    height: 90px;
                }
            }
        }
    }
}