.seller-wrap {
    .statistics-operation {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding-left: 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
        }
        .ivu-table-wrapper {
            border: 0 none;
        }
        .ivu-table:after {
            width: 0;
        }
        .analysis-content {
            margin-top: 20px;
            .ivu-tabs-nav-scroll {
                padding-left: 0;
                overflow: visible;
            }
            > h5 {
                height: 40px;
                line-height: 40px;
                background-color: #f5f7f9;
                padding: 0 20px;
                font-size: 14px;
                margin: 20px 0;
            }
            .echarts {
                height: 400px;
            }
            .order-money-content {
                position: relative;
                height: 40px;
                h5 {
                    position: absolute;
                    left: 20px;
                }
                .select-content {
                    position: absolute;
                    right: 10px;
                    > ul {
                        > li {
                            float: left;
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 12px;
                                .ivu-date-picker {
                                    .ivu-select-dropdown {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .set-price-area {
                    padding-top: 260px;
                    text-align: center;
                }
            }
            .export-btn {
                margin: 10px 0;
            }
        }
    }
}