.seller-wrap {
    .statistics-operation-setting {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .ivu-form-item {
            .price-width {
                width: 50px;
            }
            .input-width {
                margin-right: 4px;
            }
            &:first-child {
                .ivu-row {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .button-style {
                margin-left: 50px;
            }
            .delete-color {
                border-color: #ef5151;
                color: #ef5151;
            }
        }
    }
}