@import "~vux/src/styles/1px.less";
@confirmed: #e81123;
@suspected: #ee600c;
@cured: #00cc6a;
@dead: #4c4a48;

.data-table-box {
    padding: 0 8px;

    >table {
        background-color: #fefefe;

        >tbody tr th {
            &:nth-child(2) {
                background-color: @confirmed;
                color: #fff;
                width: 5em;
            }

            &:nth-child(3) {
                background-color: @cured;
                color: #fff;
                width: 5em;
            }

            &:nth-child(4) {
                background-color: @dead;
                color: #fff;
                width: 5em;
            }
        }

        >tbody tr td {
            &:first-child {
                text-align: left;
                padding-left: 1em;

                [type="ios-arrow-forward"] {
                    margin-top: 8px;
                    margin-left: 4px;
                    position: absolute;
                    fill: #0063b1;
                }
            }

            &:nth-child(2) {
                background-color: rgba(232, 17, 35, 0.1);
            }

            &:nth-child(3) {
                background-color: rgba(16, 137, 62, 0.1);
            }

            &:nth-child(4) {
                background-color: rgba(76, 74, 72, 0.1);
            }
        }
    }
}