<!DOCTYPE HTML>
<html>
<head>
<include file="Public:head" />
</head>

<body>
<include file="Public:header" />

<div class="midder">
<div class="mc">
	<h1>{$seo.title}</h1>
	<div class="cleft">
    	<div class="">
        	<foreach name="arrAlbum" item="item">
                <div class="albumlst">
                <a href="{:U('space/photos/album',array('id'=>$item['albumid']))}" class="album_photo">
                <empty name="item['albumface']">
               	 <img src="__STATIC_IMG__/photo_album.png" class="album" >
                <else/>
                 <img src="{$item['simg']}" class="album">
                </empty> 
                </a>
                <div class="albumlst_r">
                <div class="pl2"><a href="{:U('space/photos/album',array('id'=>$item['albumid']))}">{$item['albumname']}</a></div>
                <div class="albumlst_descri"><php>echo getsubstrutf8(clearText($item['albumdesc']),0,30)</php></div>
                <span class="pl">
                {$item['count_photo']}张照片&nbsp;
                {$item.addtime|date="Y-m-d",###}创建<br>
                </span>
                <if condition="$visitor['userid'] eq $user['userid']">
                &gt;<a href="{:U('space/photos/album',array('d'=>'edit','id'=>$item['albumid']))}">修改相册属性</a>
                &nbsp;&gt;<a href="{:U('space/photos/album',array('d'=>'upload','id'=>$item['albumid']))}">添加照片</a>
                </if>
                </div>
                <br>
                </div>
            </foreach>        
        </div>
    	
    </div><!--//cleft-->
    <div class="cright">
		<include file="album_right"/>
    </div><!--//right-->
</div>
</div>

<include file="Public:footer" />
</body>
</html>