{include file="public/tpl/head.html" /}
<body>
    <ol class="breadcrumb">
        <li><a href="/conero/admin/sconst.html">系统常量</a></li>
        <li class="active">{$page.descrip}</li>
    </ol>
    <div class="container">        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#form_action" role="tab" data-toggle="tab">编辑</a></li>
        <li class="dropdown" role="presentation">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">其他 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
            {$page.other|default=""}            
            </ul>         
        </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="form_action">
            <form method="post" action="javascript:vpoid(0);">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon">代码</span>
                            <input type="text" class="form-control" id="gover_name" value="{$page.gover_name|default=""}" placeholder="代码..." required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">名称</span>
                            <input type="text" class="form-control" id="gover_value" value="{$page.gover_value|default=""}" placeholder="名称..." required>
                        </div>                    
                        <p class="text-right">
                            <button type="button" class="btn btn-primary" id="set_constname_btn">更多设置</button>
                        </p>
                        <div id="form_tip_text"></div>
                    </div>
                </div>
                <table class="table" id="set_const_form">
                    <tr><th>序号</th><th>常量值</th><th>描述</th><th>使用范围</th><th>备注</th></tr>
                    {if condition="isset($page.recordList) && !empty($page.recordList)"}
                    {$page.recordList}
                    {else}
                    <tr dataid="1"><td class="rowno">1</td>
                        <td><input type="text" name="plus_name" class="form-control" required></td>
                        <td><input type="text" name="plus_desc" class="form-control" required></td>
                        <td><input type="text" name="plus_value" class="form-control"></td>
                        <td><input type="text" name="remark" class="form-control"></td>
                    </tr>
                    {/if}
                </table>
                <button class="btn btn-default" type="button" id="row_add_btn">+</button>
                <button class="btn btn-default" type="button" id="row_del_btn">-</button>
                <button class="btn btn-default" id="row_save_btn">保存</button>
            </form>
        </div><!--#form_action-->
        <div role="tabpanel" class="tab-pane" id="delconst" aria-labelledby="delconst-tab">
            <div class="well"></div>
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <h4>谨慎操作！！</h4>
            <p>删除系统常量可能为应用其他已经应用的数据，通常情况下请不要删除常量。再执行本项操作之前请务必认真考虑...</p>
            <p>系统常量的设计目的是为其他模块服务，已提供全访问的服务...</p>
            <p>
                <button type="button" class="btn btn-danger" id="checked_delbtn">我确认要删除该项数据</button>
            </p>
            </div>
        </div><!--#delconst-->
        <div role="tabpanel" class="tab-pane" id="fastsearch" aria-labelledby="fastsearch-tab">
            <div class="well"></div>
        </div><!--#fastsearch-->
        </div>
    </div>
</body>
</html>