/*
默认样式
*/
*{
    margin:0px 0px;
    padding:0px 0px;    
}

html {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', WenQuanYi Micro Hei, Arial, sans-serif;
  word-wrap: break-word;
}

.hiddendef{
	display: none;
}

body{
    padding-top:70px;
}

.admin-footer{
    color: #777; padding:1em 0;border-top:1px solid #e5e5e5; margin-top:1.2em
}

.admin-footer-right{
    text-align: right;
}