 /*********** CSS Reset*****/
 html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, 
 pre, form, fieldset, table, th, td, input, textarea,dl,dt,dd{ margin: 0; padding: 0; }
 img{ vertical-align: top; border-width:0; }
 ol,ul { list-style: none;}
 li{ list-style-type: none;}
 caption,th { text-align: left;}
 address,caption,cite,code,dfn,ins,em,th,var { font-weight:normal; font-style:normal;} 
 input,textarea{ font-size: 12px; padding: 2px;}
 
 h1,h2,h3,h4,h5,h6{ font-weight: normal;} 
 p{line-height:20px;}
 textarea{overflow:auto;}
 a{color:#333; text-decoration:none;} 
.txt-list-a a{background-image:url(../images/ico.png);background-color:transparent;background-repeat:no-repeat;}
.top_images{ margin-top:4px;}

/*导航页头共用样式*/
body{background: #fff;font-family:"Microsoft YaHei","微软雅黑",SimSun,"宋体",Heiti,"黑体",sans-serif;font-size: 14px;}

 /*通栏*/
 .column {width:960px;margin: 0 auto;}
 
 /*三栏布局: 左两栏  + 右一栏*/
 .col-l-main,
 .col-l-main .col-l { float: left; }
 .col-r-extra,
 .col-l-main .col-r { float: right; }
 
 /*三栏布局: 左一栏  + 右两栏*/
 .col-r-main,
 .col-r-main .col-r,.col-r{ float: right; }
 .col-l-extra,
 .col-r-main .col-l,.col-l{ float: left; }
 
  /*shortcut*/
 .YH{font-family:Microsoft YaHei,SimHei;}
 .ht{font-family:"黑体";}
 .f-l,.per12 li,.per16 li,.per33 li,.per25 li,.per20 li,.per50 li{float:left;} .f-r{float:right;}
 .ov{overflow:hidden;zoom:1; margin-top:-4px;}
 .clear,.hr-h10,.hr-h0,.hr-h5,.hr-h20,.hr-h7,hr-h30{clear:both;}.hr-h7{height:7px;}.hr-h0{height:0px;}.hr-h5{height:5px;}.hr-h10{height:10px;}.hr-h20{height:20px;}.hr-h20{height:30px;}
 .pos-r{position:relative;} .pos-a{position:absolute;}
 .b{font-weight:bold;}
 .ti2{text-indent:2em;}
 .notxt{text-indent:-9999px;display:block;}
 .img3px img{padding:3px;border:1px solid #d2d2d2;}
 .hide{display:none;}
 .fz-12 a,.fz-12{font-size:14px;}.fz-14 a,.fz-14{font-size:14px;}.fz-18{font-size:14px;}.fz-22{font-size:22px;}
 .lh-18{line-height:18px;}.lh-20{line-height:20px;}.lh-22{line-height:22px;}.lh-24 li,.lh-24{line-height:24px;}.lh-26 li,.lh-26{line-height:26px;}.lh-27 li{line-height:27px;}.lh-28,.lh-28 li{line-height:28px;}.lh-30{line-height:30px;}.lh-32{line-height:32px;}
 
 .pad-l-5{padding-left:5px;}.pad-10{padding:9px;}.pad-l-15{padding-left:15px;}.pad-15{padding:15px;}.pad-lr-9{padding-left:9px;padding-right:9px;}.pad-lr-20{padding-left:20px;padding-right:20px;}
 .center{margin-left:auto;margin-right:auto;}
 .t-r{text-align:right;}.t-c{text-align:center;}
 .arial{font-family: Arial, Helvetica, sans-serif;}
 .inline{display:inline;}
 .bd-white{border:1px solid #fff;}
 .news_attr{ font-size:14px;}

 /*雪碧图*/
 .txt-list-a a{background-color:transparent;background-repeat:no-repeat;}
 .top-bar .qq,.top-bar .qq2,.notice-us,.nav .now .nav-a,.nav .nav-a:hover{background-color:transparent;background-repeat:no-repeat;}
 .box-hd .left,.box-hd .right,.box-fd .left,.box-fd .right,.box-hd .left2,.box-hd .right2{background-color:transparent;background-repeat:no-repeat;}
 .box-hd .center,.box-fd .center{background-color:transparent;background-repeat:repeat-x;}
 .title-news,.title-product,.title-case{background-color:transparent;background-repeat:no-repeat;}
 .h-dotted,.news .txt-list-a li{background-color:transparent;background-repeat:repeat-x;background-position:0 0;}
 
 /*hover + more*/
 .more{color:#1f6698;width:50px;height:24px;padding-left:12px;line-height:20px;margin-top:7px;}
 .txt-list-a a:hover,.img-list a:hover{color:#c00;}
 
 /*栅格化宽度应用(width=960px)*/
.w-140{width:140px;}
.w-200{width:200px;}
.w-380{width:380px;}
.w-745{width:745px;}


 
 /*字体颜色*/
 .cor-333 a,.cor-333{color:#333;}
 .cor-fff a,.cor-fff{color:#fff;}
 .cor-666 a,.cor-666{color:#666;}
 .cor-999{color:#999;}
 .cor-red{color:#c00;}
 .cor-c1{color:#c1c1c1;}
 .cor-blue{color:#15659c;}
 .cor-blue2{color:#a1bbc4;}
 .cor-red2{color:#eb0000;}
 .cor-9b{color:#9b9b9b;}
 .nav_right{ float:right; color:rgb(51, 51, 51)}
 .nav_left{ float:left; color:rgb(51, 51, 51)}
 
/*文字列表*/
.txt-list-a a{background-position:0 4px;padding-left:12px;}
.txt-list-a .date{color:#999;font-size:11px;padding-left:5px;font-family: Arial;}

/*图片列表*/
 .per20 li{width:19.9%;}
 .per25 li{width:24.8%;}
 .per33 li{width:33.1%;}
 .per50 li{width:49.9%;height:117px;}
 .w-133{width:133px;}
 .img-list .lh-26{text-align:center;}

/*页头*/
.logo{display:block;width:150px;height:45px;}
.top-bar .f-r{margin-top:18px;}
.top-bar .tel{color:#247dba;font-family:Arial;font-size:18px;line-height:26px;margin-right:10px;}
.notice-us,.top-bar .tel,.top-bar .qq,.top-bar .qq2{float:left;margin-left:5px;display:inline;}
.top-bar .qq,.top-bar .qq2{font-family:Arial;color:#fff;font-size:14px;padding:8px 14px 5px 27px;}
.top-bar .qq{background-position:0 -50px;}
.top-bar .qq2{background-position:0 2px;}
.notice-us{background-position:0 -99px;padding:7px 25px 6px 10px;margin-left:6px;color:#fff;margin-left:-6px;}
.notice-us a{color:#fff;font-size:12px;}
/*导航*/
.nav{margin-top:5px;}
.nav li{float:left;width:98px;line-height:38px;font-size:14px;text-align:center;}
.nav .nav-a{float:left;width:115px;line-height:38px;font-size:14px;}
.nav .nav-a:hover{background-position:14px -146px;color:#fff;}
.nav .now .nav-a{color:#fff;background-position:14px -196px;} 
/*@end 页头*/


/*圆角样式*/
.box-hd{position:relative;}
.box-hd,.box-hd .left,.box-hd .right,.box-hd .left2,.box-hd .right2,.box-hd .center{height:33px;}
.box-hd .left{width:8px;position:absolute;left:0;top:0;background-position:0 0;}
.box-hd .left2{width:8px;position:absolute;left:0;top:0;background-position:-1px -80px;}
.box-hd .center{margin:0 8px;background-position:0 0;}
.box-hd .right{width:8px;position:absolute;right:0;top:0;background-position:-31px 0;}
.box-hd .right2{width:8px;position:absolute;right:0;top:0;background-position:-31px -80px;}

.box-fd{position:relative;}
.box-fd,.box-fd .left,.box-fd .center,.box-fd .right{height:8px;}
.box-fd .left{width:8px;position:absolute;left:0;top:0;background-position:0 -54px;}
.box-fd .center{margin:0 8px;background-position:0 -83px;}
.box-fd .right{width:8px;position:absolute;right:0;top:0;background-position:-31px -54px;}

.box-bd{border-left:1px solid #94cfe4;border-right:1px solid #94cfe4;}

.h-32{height:32px;}

/*线*/
.line2{border-top:1px solid #e2e2e2;height:3px;_height:1px;background-color:#f1f1f1;}

/*分页*/
.w-280{width:700px;}
.page a{ margin:0 5px; border:1px solid #ddd; padding:2px 6px; color:#666; line-height:28px;}
/*.page a:link{color:#2266BB;}
.page a:visited{border:1px solid #ddd;color:#660066;}
.page a:hover{border:1px solid #2266BB;}
.page a:active{color:#2266BB;}*/
.page a.now{ background-color:#e4f6fc; color:#5394aa;border:1px solid #bfdfea;font-weight:bold;}
.page ul li{ float:left;}

/*内容页*/
.content-wrap a{color:#06C;}
.content-wrap a:hover{color:#f30;}
.mar-b-8{margin-bottom:8px;}

.cont-txt{font-size:14px;color:#333;}
.cont-txt p{line-height:24px;}


/*页头*/
.header{background: url(../images/top-bar.png) 0 0 repeat-x;height: 112px;position: fixed;left: 0;top: 0;z-index: 100;width: 100%;_position:absolute;}
.top-bar{height: 25px;line-height: 25px;}
.mob{float: left;color: #555;}
.mob .ico{width: 9px;height: 14px;}
.top-bar .f-r{margin: 0;width:390px;}
.top-bar .tel{font-size: 14px;color: #444;}
.top-bar .ico{float: left;overflow: hidden;display: inline;background: #f8f8f8 url(../images/index-ico.png) 0 0 no-repeat;margin: 6px 4px 0 3px;}
.top-bar .tel .ico{width: 12px;height: 14px;background-position:-10px -1px;}
.top-bar .qq2{background: none;padding: 0;color: #444;margin: 0 5px 0 5px;}
.top-bar .qq2 .ico{width: 15px;height: 16px;background-position: -30px 0;margin-top: 5px;}
.notice-us{background: none;padding: 0;color: #333;}
.notice-us span{line-height: 26px;float: left;}
.notice-us img{margin: 5px 0 0 10px;}
.header .logo{margin: 10px 0 0 10px;float: left;display: inline;}
.header .logo h1 {width:220px; height:24px;text-indent: -1000px;overflow: hidden;}

.nav{float: right;margin-top:25px;}
.nav li{width:78px;line-height: 32px;font-size: 16px;}
.nav .nav-a{font-size: 16px;color: #555;width:70px;line-height: 32px;height: 32px;margin-right: 7px;display: inline;-webkit-transition:color 0.3s ease 0s;-moz-transition:color 0.3s ease 0s;-o-transition:color 0.3s ease 0s;-ms-transition:color 0.3s ease 0s;transition:color 0.3s ease 0s;}
.nav .nav-a:hover{background: none;color: #1194e3;}
.nav .now .nav-a{background: #fff url(../images/index-ico.png) 0 -20px no-repeat;color:#fff;_background-image:url(../images/index-ico.gif);}


/*页脚*/
.footer{background: #333;width: 100%;color: #999;padding: 10px 0 10px;}
.footer p{line-height: 30px;}
.footer .w-500{width:500px;line-height: 24px;}
.footer .cor-999 a{color:#999;margin-right:10px;float: left;display: inline;white-space:nowrap;}
/*banner*/
.banner{width: 100%;height: 400px;margin: 0 auto;padding-top:92px;}
.banner .imgs{height: 400px;overflow: hidden;}
.banner .nums{position: absolute;bottom: 30px;left: 400px;width: 160px;margin: 0 auto;}


/*中间内容框架*/
.bg-f5f{background: #f5f7fa;}
.cont-bg{width: 100%;margin: 0 auto; margin-top:-18px;}
.cont{padding:20px 10px;width:960px;background: #fff;margin-top:10px;overflow: hidden; border:solid 1px #D9D9D9; margin:0 auto;}
.cont_gb{padding:20px 10px;width:960px;background: #fff;overflow: hidden; border:solid 1px #D9D9D9; margin:0 auto; margin-top:90px;}
.cont_user{padding:20px 10px;width:960px;background: #fff;overflow: hidden; border:solid 1px #D9D9D9; margin:0 auto; margin-top:130px;}
.cont-bg .h2{color: #ff7200;font-size: 36px;line-height: 55px;overflow: hidden;padding-left:20px;height: 60px;}

/*全局导航页面*/
.quanju_nav{padding:0px 10px;width:960px; height:50px; line-height:50px;background: #fff;overflow: hidden; border:solid 1px #D9D9D9; margin:0 auto; margin:0 auto; margin-bottom:6px;}
.crumb{line-height: 50px;overflow: hidden;float: left;}
.crumb em{float: left;overflow: hidden;width:19px;height: 19px;background: url(../images/ico-jpg.gif) -140px 0 no-repeat;margin: 16px 10px 0 0;display: inline;}
.crumb a{color: #444;}

/*搜索表单*/
.inp_default {
    width: 110px;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgb(220, 220, 220);
    margin: 8px 0 0 0;
}

.btn_blue{
    background: none repeat scroll 0% 0%  #4CB32E;
    height: 22px;
    line-height: 22px;
    padding: 0px 15px;
    margin: 8px 0 0 0px;
    border: 0px none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}
.btn_blue:hover{ background:#0084C8;}

/*css 分页显示样式*/
div.green-black{padding-top:12px;text-align:center; margin-top:6px;}
div.green-black a{border:#2c2c2c 1px solid;padding:2px 5px;background: #2c2c2c;color:#fff;margin:0 2px 0 0;text-decoration:none;}
div.green-black a:hover{border:#aad83e 1px solid;background: #aad83e;color:#fff;}
div.green-black a:active{border:#aad83e 1px solid;background:#aad83e;color:#fff;}
div.green-black span.current{border:#aad83e 1px solid;padding:2px 5px;font-weight:bold;background: #aad83e;color:#fff;margin:0 2px 0 0;}
div.green-black span.disabled{border:#f3f3f3 1px solid;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

/*详细内容页的样式*/
.detail_date{ text-align:center;height:30px;overflow: hidden;border-bottom: 1px solid rgb(220, 220, 220);}
.detail_down{ text-align:center;height:30px; line-height:30px;overflow: hidden; margin-top:10px;}
.detail_title{ text-align:center;}
.detail_content{word-break: break-all; word-wrap:break-word; margin-top:10px;}
.cont_detail{word-break: break-all; word-wrap:break-word; margin-top:10px; margin:50 0;}
.detail_about{ margin-top:20px;border-top: 1px solid rgb(220, 220, 220)}
.detail_about h2{ margin:5 0 5 5}


.my_head{width:940px;height:100px;overflow: hidden;margin: 0 auto;}
.my_head .logo{float: left;width:350px;height:80px;overflow: hidden;padding-top:20px;}
.my_head .head_botton{float: left;width:650px;height:50px;overflow: hidden;}
.my_head .head_botton ul li{float: right;padding-right:12px;padding-top:5px;}

.my_head .head_search{float: left;width:650px;height:50px;overflow: hidden;}
.my_head .head_search ul{float: right;}
.my_head .head_search ul li{float: left;height:23px;overflow: hidden;}
.my_head .head_search ul li#search_left{height:23px;width:20px;background: url('../images/search_botton_img.jpg') no-repeat 0 -46px;}
.my_head .head_search ul li#search_input {height:22px;width:140px;background: url('../images/search_botton_img.jpg') repeat-x 0 -23px;padding-top:1px;}
.my_head .head_search ul li#search_input .search_input{border:0px;padding:0px;margin: 0px;width:130px;height:20px;line-height: 21px;overflow: hidden;}
.my_head .head_search ul li#search_botton .search_botton {height:23px;width:44px;background: url('../images/search_botton_2.jpg') no-repeat;}

.my_botton{height:40px;border-bottom:1px #fff solid;background-color: #3375b9}
.my_botton ul.menubotton{height:40px;width:1000px;overflow: hidden;margin: 0 auto;}
.my_botton ul.menubotton li{float: left;height:40px;line-height: 40px;cursor: pointer;*position: relative;z-index: 999;margin: 0px 0px;}
.my_botton ul.menubotton li.hover{background-color: #23a0e7}
.my_botton ul.menubotton li span{height: 40px;line-height: 40px;padding:0px 15px;display: block;*display: inline-block;}
.my_botton ul.menubotton li span.menuhover {height: 40px;line-height: 40px;color:#fff;background: #23a0e7;}

.my_botton ul.menubotton li ul.subnav {list-style: none;position: absolute;top:140px;*top:40px;*left: 0px;background: #23a0e7;margin: 0;padding: 0;width: 150px;color: #fff;z-index: 999;display: none;}
.my_botton ul.menubotton li ul.subnav li{margin: 0;clear: both;padding:0px 15px 0px 25px;width: 120px;height: 35px;line-height: 35px;text-align: left;cursor: pointer;background: url('../images/icon.gif') no-repeat 15px 15px;}

.my_page{width:940px;overflow: hidden;margin: 0 auto;margin-top:0px;}
.my_table{width:345px;overflow: hidden;}
.my_table .my_table_title{height:35px;line-height: 35px;overflow: hidden;border-bottom:1px solid #87ceab}
.my_table .my_table_title p{float:left;padding:0px;margin: 0px;height:35px;line-height: 35px;}
.my_table .my_table_title span{float:left;padding-left:5px;margin: 0px;height:35px;line-height: 37px;}
.my_table .my_table_title p.more{float:right;padding-right:0px;margin: 0px;padding-top:15px;}

.my_table .my_table_pic{width:345px;overflow: hidden;height:85px;padding:10px 0px;}
.my_table .my_table_pic .newspic{float:left;width:110px;overflow: hidden;height:85px;}
.my_table .my_table_pic .newstitle{float:left;width:225px;overflow: hidden;height:20px;padding-left:10px;}
.my_table .my_table_pic .newssummit{float:left;width:225px;overflow: hidden;height:65px;padding-left:10px;}

.my_table .my_table_list {width:345px;overflow: hidden;}
.my_table .my_table_list li {float: left;width:337px;padding-left:8px;height:25px;line-height: 25px;overflow: hidden;background: url('../images/icon3.gif') no-repeat 0px 10px;}
.my_table .my_table_list li a{float: left;}
.my_table .my_table_list li p.time{float: right;color:#8f8f8f;padding:0px;}

.my_Rtalbe{width:280px;overflow: hidden;}
.my_Rtalbe .my_Rtalbe_title{height:35px;line-height: 35px;overflow: hidden;border-bottom:1px solid #87ceab}
.my_Rtalbe .my_Rtalbe_title p{float:left;padding:0px;margin: 0px;height:35px;line-height: 35px;}
.my_Rtalbe .my_Rtalbe_title span{float:left;padding-left:5px;margin: 0px;height:35px;line-height: 37px;}
.my_Rtalbe .my_Rtalbe_title p.more{float:right;padding-right:0px;margin: 0px;padding-top:5px;}
.my_Rtalbe img{float:left;padding-top:10px;}
.my_Rtalbe .my_Rtalbe_summmit{float:left;padding-top:10px;line-height: 25px;}
.my_Rtalbe ul.bann{width:280px;overflow: hidden;padding:0px;margin: 0px;}
.my_Rtalbe ul.bann li{width:280px;overflow: hidden;}
.my_Rtalbe ul.bann li img{padding:0px;}

.my_piclist_table {width:708px;overflow: hidden;border: 1px solid #e5e5e5}
.my_piclist_table .my_piclist_table_title{height:30px;line-height: 30px;overflow: hidden;border-bottom:1px solid #e5e5e5}
.my_piclist_table .my_piclist_table_title .title{float:left;padding-left:5px;margin: 0px;height:30px;line-height: 30px; width:300px;}
.my_piclist_table .my_piclist_table_title span{padding-left:5px;margin: 0px;height:30px;line-height: 30px;}
.my_piclist_table .my_piclist_table_title .pic_pagebotton{float:right;margin: 0px;height:30px;padding-top:6px; width:300px;}

.my_piclist_slide {overflow: hidden;padding:10px 14px;}
.my_piclist_slide ul li{float: left;width:131px;padding:0px 5px 0px 0px;height:148px;}
.my_piclist_slide ul li p{float: left;width:131px;text-align: center;}

.my_page_border{width:998px;overflow: hidden;margin: 0 auto;border: 1px solid #e5e5e5;padding:5px 0px;margin-top: 15px;margin-bottom:15px;}
.my_page_border li{float: left;height:85px;line-height: 86px;padding: 0px 7px;}
.my_page_border li.font{float: left;height:35px;line-height: 35px;padding: 0px 0px 0px 14px;}
/*内页结构*/
.my_page_bannpic{width:100%;margin: 0 auto;text-align: center;background-color: #eafaff;overflow: hidden;}
.my_page_left_linkbg{background: url(../images/my_left_bg.jpg) repeat-y left;}
.my_page_left{float: left;width:200px;overflow: hidden;}
.my_page_right{float:right;width:790px;padding-left:10px;padding-bottom:25px;overflow: hidden;}

.my_page_left h2{float: left;width:195px;padding:10px 0px 7px 5px;border-bottom: 2px solid #00a73f;margin: 0px;font-size:20px;overflow: hidden;}
.my_page_left .leftCotnet{float: left;width:190px;padding-left:5px;padding-right:5px;overflow: hidden;}

.my_page_left .my_three_one li{float: left;width:195px;height:40px;padding-left:5px;line-height: 40px;border-bottom: 1px solid #e6e6e6;background: url('../images/icon3.gif') no-repeat 188px 15px;}
.my_page_left .my_three_one li.hover a{color:#0e9d56;}
.my_page_left .my_three_one li a{font-weight: bold;font-size:14px;color:#b2b2b2} .my_page_left .my_three_one li a:hover{color:#0e9d56}

.my_page_typename{float:left;width:200px;padding:10px 0px 7px 5px;color:#0e9d56;font-size:16px;}
.my_page_typename_width{float:left;width:800px;padding:10px 0px 7px 5px;color:#0e9d56;font-size:16px;}
.my_page_labelname{float:left;width:200px;padding:5px 0px 7px 5px;color:#0e9d56;font-size:16px;}
.my_page_location{float:right;width:550px;height:35px;line-height: 45px;text-align: right;}

/*内容版式*/
.my_newspic {padding:25px 10px 35px 10px;}
.my_newspic dt{float:left;width:250px;padding-right:10px;}
.my_newspic dd{padding-top:5px;}
.my_newspic dd.t{padding-top:0px;}
.my_newspic dd.s{color:#a5a5a5;line-height:23px;}
.my_newspic dd.d{color:#ff9000;}
.my_newspic dd.m{text-align:right;}

.my_newslist{padding:10px 10px;}
.my_newslist li{padding:15px 0px;overflow: hidden;}
.my_newslist li dt{float: left;width:80px;padding-right:10px;}
.my_newslist li dd.t{padding-top:0px;}
.my_newslist li dd.s{color:#a5a5a5;line-height:20px;}
.my_newslist li dd.d{color:#ff9000;}
.my_newslist li dd.m{text-align:right;}
.my_newslist li dd.tl{float: left;}
.my_newslist li dd.dr{float: right;color:#a5a5a5;}
.my_newslist li.my_strlist {padding:10px 0px 0px 10px;background: url('../images/icon3.gif') no-repeat 0px 18px;}
/*产品标题*/
.my_pic_index{width:790px;overflow: hidden;}
.goods_list_str li{padding:15px 0px;overflow: hidden;}
.goods_list_str li dt{float: left;width:180px;padding-right:10px;}
.goods_list_str li dd.t{padding-top:0px;}
.goods_list_str li dd.s{color:#a5a5a5;line-height:20px;}
.goods_list_str li dd.b{padding-top:5px;}
.goods_list_str li dd.p{padding:5px 0px;color:#ff9000; font-size:12px; font-family: verdana;}

.my_pic_index .mover li{float: left;}
.my_pic_index .mover .pic{width:250px; height:180px; padding:20px 5px 0px 5px;  text-align:center; }
.my_pic_index .mover .title{width:250px; height:35px;line-height: 35px; text-align:center; }

/*内容查看*/
.my_book{width:790px;overflow: hidden;padding:15px 0px;}
.my_book_paddingbottom0{width:790px;overflow: hidden;}
.my_book_padding15{width:760px;overflow: hidden;padding:15px;}
.my_book_padding0{width:760px;overflow: hidden;padding:0px;}
.my_pro_pic{float: left;width:390px;overflow: hidden;}
.my_pro_title{float: left;width:390px;padding-left:10px;overflow: hidden;}
.my_pro_title h1{font-size:20px;font-weight: bold;margin: 0px;padding:0px;color: #23a0e7}
.my_pro_title .my_priceclass{color:#ff9000;font-weight: bold;font-size:14px;}
.my_pro_title dd{padding:8px 0px 8px 15px;color:#7a7a7a;border-bottom: 1px solid #dedede;background: url('../images/icon7.gif') no-repeat -2px 10px;}
.my_pro_title dt{padding:0px 0px 8px 0px;color:#7a7a7a;border-bottom: 1px solid #dedede}
.my_pro_title dd.my_pro_orderbotton{background-image: none;padding:8px 0px;border: none}
.my_pro_photo{width:710px;margin: 0 auto;padding:15px 0px;}

/*新闻查看*/
.my_news_title{padding:15px;text-align: center;margin: 0px auto;}
.my_newslist_read{padding:0px 5px;}
.my_newslist_read li{float: left;width:48%;background: url('../images/icon2.gif') no-repeat 0px 8px;padding:0px 0px 5px 8px;overflow: hidden;}

/*网站留言*/
.my_bbs_loading {text-align: center;padding:10px 0px;}
.my_bbs_list_all,.my_bbs_list {list-style:none; }
.my_bbs_list_all li{padding-bottom:20px;overflow: hidden;}
.my_bbs_list li{padding:10px 0px;overflow: hidden;border-bottom:1px solid #f2f2f2}

.my_bbs_content_a_read_table{overflow:hidden;}
.my_bbs_content_a_read_table .content{padding:5px 10px;border-right:1px solid;border-left:1px solid;overflow:hidden;}
.my_bbs_content_a_read_table .recontent{padding:5px 10px;border-right:1px solid;border-left:1px solid;overflow:hidden; color:#FF0000;}
.my_bbs_content_a_read_table .b2,.my_bbs_content_a_read_table .b3,.my_bbs_content_a_read_table .b4,
.my_bbs_content_a_read_table .b5,.my_bbs_content_a_read_table .b6,.my_bbs_content_a_read_table .b7,.my_bbs_content_a_read_table .content{border-color:#f2f2f2;}
.my_bbs_content_a_read_table .b1,.my_bbs_content_a_read_table .b8{background:#f2f2f2;}
.my_bbs_content_a_read_table .b2,.my_bbs_content_a_read_table .b3,.my_bbs_content_a_read_table .b4,
.my_bbs_content_a_read_table .b5,.my_bbs_content_a_read_table .b6,.my_bbs_content_a_read_table .b7,.my_bbs_content_a_read_table .content{background:#f2f2f2;}

.my_bbs_content_b_read_table{overflow:hidden;}
.my_bbs_content_b_read_table .content{padding:5px 10px;border-right:1px solid;border-left:1px solid;overflow:hidden;}
.my_bbs_content_b_read_table .b2,.my_bbs_content_b_read_table .b3,.my_bbs_content_b_read_table .b4,
.my_bbs_content_b_read_table .b5,.my_bbs_content_b_read_table .b6,.my_bbs_content_b_read_table .b7,.my_bbs_content_b_read_table .content{border-color:#fff;}
.my_bbs_content_b_read_table .b1,.my_bbs_content_b_read_table .b8{background:#fff;}
.my_bbs_content_b_read_table .b2,.my_bbs_content_b_read_table .b3,.my_bbs_content_b_read_table .b4,
.my_bbs_content_b_read_table .b5,.my_bbs_content_b_read_table .b6,.my_bbs_content_b_read_table .b7,.my_bbs_content_b_read_table .content{background:#fff;color: #ff9000}

.my_bbs_content_a_read_table .content{line-height: 25px;}
.my_index{background: url('../images/my_bbs_index.gif') no-repeat 25px bottom;padding:0px 0px 8px 0px;margin: 0px;}
.my_index .my_bbs_title{font-weight: bold;}
.my_index .my_bbs_auto{padding-left:10px;}
.my_index .my_bbs_time{padding-left:10px;}
.my_index_re{background: url('../images/my_bbs_index_re.gif') no-repeat 25px bottom;overflow: hidden;padding:10px 0px 8px 0px;margin: 0px;}
.my_index_re .my_bbs_title{color:#00a73f;font-weight: bold;}
.my_index_re .my_bbs_auto{color:#00a73f;font-weight: bold;padding-left:10px;}
.my_index_re .my_bbs_time{color:#00a73f;padding-left:10px;}

.my_bbs_list_title{float: left;overflow: hidden;background: url('../images/icon1.gif') no-repeat 0px 8px;padding-left:10px;font-size:14px;}
.my_bbs_list_title span{padding-left:5px;font-size:12px;}
.my_bbs_list_data{float: right;overflow: hidden;color: #dedede;}
.my_bbs_list_aoto{color: #00a73f;font-weight: bold;}

/*留言表单说明*/
.my_bbs_form{overflow: hidden;}
.my_bbs_form .title{height:35px;line-height: 30px;padding-left:10px;font-size:14px;font-weight: bold;color:#000000;border-left:1px solid;
      border-bottom:1px solid;overflow:hidden;background:#e5e5e5;border-color:#e5e5e5;background: url('../images/message_bg.jpg') repeat-x}

.my_bbs_form .messageicon{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px 0px;margin-top: 8px;}
.my_bbs_form .messageicon2{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -18px;margin-top: 6px;}
.my_bbs_form .messageicon3{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -90px;margin-top: 6px;}
.my_bbs_form .messtitle{float: left;height:32px;line-height: 32px;padding-left:5px;}
.my_bbs_form p{float:left;overflow: hidden;height:32px;line-height: 32px;padding-left:5px;}
.my_bbs_form .content{padding:15px 10px;border-right:1px solid;border-left:1px solid;overflow:hidden;background:#fff;border-color:#e5e5e5;}

.my_bbs_form .b1{background:#e5e5e5;}
.my_bbs_form .b2,.my_bbs_form .b3,.my_bbs_form .b4{border-color:#e5e5e5;background:#fafafa;}
.my_bbs_form .b5,.my_bbs_form .b6,.my_bbs_form .b7{background:#fff;border-color:#e5e5e5;}
.my_bbs_form .b8{background:#e5e5e5;}

/*会员*/
.my_member_login_center{padding:0px 0px 25px 0px;border:1px solid #dedede;margin: 35px auto 25px auto;;}
.my_member_login_center .title{height:35px;line-height: 30px;padding-left:10px;font-size:14px;font-weight: bold;color:#000000;
      border-bottom:1px solid;overflow:hidden;background:#e5e5e5;border-color:#e5e5e5;background: url('../images/message_bg.jpg') repeat-x}
.my_member_login_center .messageicon{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -18px;margin-top: 8px;}
.my_member_login_center .messageicon2{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -54px;margin-top: 8px;}
.my_member_login_center .messageicon3{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -90px;margin-top: 8px;}
.my_member_login_center .messageicon4{float: left;width:18px;height:18px;background: url('../images/mess_icon.gif') no-repeat 0px -0px;margin-top: 8px;}
.my_member_login_center .messtitle{float: left;width:100px;height:35px;line-height: 35px;padding-left:5px;}

.my_formwidth_a{width:450px;}
.my_formwidth_b{width:900px;}
.my_formwidth_c{width:98%;}
.my_formwidth_d{width:99%;}
.mobliecodestr{border:1px solid #d5d5d5;padding:5px;margin-top: 5px;}

/*翻页*/
.my_page_botton{text-align: center;overflow: hidden;padding-top:10px;}
/*线条*/
.my_page_right_line{width:790px;border-bottom:1px solid #e6e6e6;height:1px;overflow: hidden;}
.my_page_center_line{width:1000px;border-bottom:1px solid #e6e6e6;height:1px;overflow: hidden;}

/*表格*/
.tablelist {border-spacing: 0px;}
.tablelist .td01 {background-color: #F3F3F3;border: 1px solid #e6e6e6;padding: 5px;font-weight: bold;margin: 0px;text-align: center;}
.tablelist .td02 {border-bottom: #e6e6e6 1px solid;padding: 5px;margin: 0px;text-align: center;}
.tablelist .td03 {border-bottom: #e6e6e6 1px solid;padding: 5px;margin: 0px;text-align: right;}
.tablelist .td04 {border-bottom: #e6e6e6 1px solid;padding: 5px;margin: 0px;text-align: left;}


/*版权声明*/
.footer_page{width:100%;margin: 0px auto;overflow: hidden;margin-top: 0px;background-color:#e8e8e8;padding-top:15px}
.footer_talbe{width:1000px;margin: 0px auto;overflow: hidden;}
.footer_talbe .titlethree{color:#868686;padding-bottom:10px;font-size:15px;border-bottom:1px solid #dedede;margin-bottom: 10px;}
.footer_talbe dl{float: left;width: 110px;padding-top:5px;}
.footer_talbe dt {padding-bottom:5px;}
.footer_talbe dt a{font-size: 14px;color:#0e9d56;font-weight:bold;}
.footer_talbe .content{width:330px;}
.footer_talbe .content dt{font-size:14px;color:#3375b9;font-weight: bold}
.footer_talbe .content dd{font-size:12px;color:#959595;}
.footer_talbe .subscription{width:330px;text-align: left;padding-top:5px;}

.sitetype {width:1000px;padding-top:10px;line-height: 25px;margin: 0 auto;}
.foot_l{float:left;width:770px;}
.sitetype a{color:#23a0e7}
.sitetype p span {padding:0px 10px;}
.foot_r{float:right;height: 35px;line-height: 35px;width:225px;padding-top:35px;}
.foot_r span {display: block;font-size: 16px;color: #868686;float: left;margin-right: 10px;}
.foot_r .bds_tools_32{margin-right: -8px;line-height: 35px !important;}
.foot_r .bds_tools_32 .bds_tsina {background: url(../images/fxsi.png) no-repeat;}
.foot_r .bds_tools_32 .bds_tqq {background: url(../images/fxqq.png) no-repeat;}
.foot_r .bds_tools_32 .bds_douban {background: url(../images/fxdb.png) no-repeat;}
.foot_r .bds_tools_32 .bds_renren {background: url(../images/fxrr.png) no-repeat;}
.foot_r .bds_tools_32 a {display: block;width: 35px;height: 35px;margin-right: 8px;text-indent: 35px;padding-left: 0;overflow: hidden;float: left;background-position: 0 0 !important;}
.footer_talbe_str {width:100%;margin: 0px auto;overflow: hidden;background-color:#dedede;padding:5px 0px;margin-top: 20px;border-top:#fff solid 1px; }


/*对话框*/
#floatBoxBg{display:none;width:100%;height:100%;background:#fff;position:absolute;top:0;left:0;z-index: 800}
.floatBox{width:300px;position:absolute;top:40px;left:40%;z-index: 999}
.floatBox .title h4{float:left;padding:0;margin:7px 0px 0px 0px;font-size:12px;color:#fff;line-height:17px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{padding:5px;background:#fff;}
.floatBox{position:absolute;padding:5px;background:rgba(0,0,0,0.1);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000);}
	 
	 
.news_list3{ width:330px; height:200px;float:left;}
.news_list3 ul{ width:330px; height:200px;}
.news_list3 ul li{height:30px; line-height:30px; background:url(../images/images_41.jpg) no-repeat left;border-bottom:#000 dashed 1px;}
.news_list3 ul li span{ float:right;}
.news_list3 ul li a{ padding-left:13px;}
.news_list3 ul li a:hover{color:#F33;}
.line{ width:100%; height:5px; background:#007cc3; clear:both;}
.bottom{ width:1024px; margin:0 auto; }
.bottoom_nav{ width:886px; height:40px; display:block; margin:0 auto;padding-left:126px;}
.bottoom_nav li{ float:left;}
.bottoom_nav li a{ height:40px; display:inlisne-block; line-height:40px;   font-size:14px; padding-right:20px; padding-left:20px;}
.bottom p{ width:866px; height:25px; line-height:20px; text-align:center; margin:0 auto; color:rgb(51, 51, 51);}

/*link*/
.link{width:960px; height:auto; margin:0 auto; line-height:30px; margin:0 195;}
.link span{ font-size:12px;}
.link a{ padding-left:10px; color:#FFFFFF;}

/*返回顶部*/
#FloatMenu {position:fixed;_position:absolute;bottom:30px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-230+"px");left:92%;width:70px;zoom:1;}
#FloatMenu a#totop{background:#52C134;color:#fff;display:block;width:90px;height:30px;font:normal 12px/30px 'MicroSoft Yahei';text-align:center;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
#FloatMenu a#totop:hover {background:#ff6100;width:100px;}

/*浮动客服代码*/
/*默认蓝色*/
*{ margin:0; padding:0; list-style:none;}
img{ border:0;}
.tuzikf{ position:absolute; right:0; top:150px;}
.tuzikf .slide_min{ width:28px; height:112px; background:url(../images/slide_min.jpg) no-repeat; cursor:pointer;}
.tuzikf .slide_box{ width:154px; height:auto; overflow:hidden; background:url(../images/slide_box_bg.jpg) repeat-y; font-size:12px; text-align:center; line-height:130%; color:#666; border-bottom:2px solid #76A20D;}
.tuzikf .slide_box .weixin{ margin-bottom:5px;}
.tuzikf .slide_box img{ cursor:pointer;}
.tuzikf .slide_box p{ text-align:center; padding:5px; margin:5px;border-bottom:1px solid #ddd;}
.tuzikf .slide_box span{ padding:5px 10px; display:block;}
.tuzikf .slide_box span a{ color:#76A20C;}
﻿