/*首页轮播广告*/
.wfs { width: 100%; }
.cover-page-index-slide:hover #tips li.cur {background:#FC7878;}
#tips li span {display:block;height:100%;width:0;background:#FC7878;}
.cover-page-index-slide a.show_pre,
.cover-page-index-slide a.show_next {position:absolute;top:186px;display: none;height:55px;width:55px;text-indent: -9999px;background-repeat: no-repeat;}
.cover-page-index-slide a.show_pre {left:-320px;background-image: url(../images/cover-page-slide-icon-left.png);}
.cover-page-index-slide a.show_next {right:-320px;background-image: url(../images/cover-page-slide-icon-right.png);}

@media (min-width: 1280px) and (max-width: 1366px) {
	.cover-page-index-slide a.show_pre {left: 100px;}
    .cover-page-index-slide a.show_next {right: 100px;}
}
@media (min-width: 1367px) and (max-width: 1900px) {
    .cover-page-index-slide a.show_pre {left: -75px;}
    .cover-page-index-slide a.show_next {right: -75px;}
}
@media (min-width: 1901px) {
    .cover-page-index-slide a.show_pre {left: -320px;}
    .cover-page-index-slide a.show_next {right: -320px;}
}

/*cover-page-index-slide css*/

.cover-page-index-slide .border {position: relative;overflow: hidden;}
.cover-page-index-slide .center {width: 1210px;height: 425px;margin: 0 auto;}
.cover-page-index-slide .center .relative {position: relative;height: 425px;}
.cover-page-index-slide .center .relative .location {position: absolute;left: -355px;}

/*首页框架样式*/
.mar-t-5{margin-top:5px;}.mar-b-5{margin-bottom:5px;}.mar-10{margin:10px;}.mar-r-10{margin-right:10px;}.mar-l-12{margin-left:12px;}.mar-r-15{margin-right:15px;}.mar-t-15{margin-top:15px;}.mar-b-20{margin-bottom:20px;}.mar-l-20{margin-left:20px;}.mar-t-20{margin-top:20px;}.mar-t-30{margin-top:5px; border:1px solid #EEEEEE}
 .mar-b-20{margin-bottom:20px;} .mar-b-30{margin-bottom:30px;} .mar-b-40{margin-bottom:40px;}.mar-l-8{margin-bottom:8px;}.mar-b-10{margin-bottom:10px;}.mar-l-9{margin-left:9px;}.mar-r-9{margin-right:9px;}.mar-lr-9{margin-left:9px;margin-right:9px;}
 .mar-20{margin:20px;}.mar-l-10{margin-left:10px;}.mar-t-10{margin-top:10px;}.mar-r-20{margin-right:20px;}.mar-t-25{margin-top:25px;}.mar-b-40{margin-bottom:40px;}


/*兔子动态*/
.dt-bg{background: #fff url(../images/dt-bg.png) 0 0 repeat-x;width:100%;height:180px;}
.xtdt{padding-left: 10px;padding-top:16px;}
.w-450{width:440px;}
.xtdt h2 a{font-size: 20px;color: #444;line-height: 50px;display: block;}
.xtdt h2 a:hover{color:#1194E3;}
.txt-list-a .date{float: right;font-size: 12px;color: #666;}
.txt-list-a a{background-position: 0 9px;}
/*兔子介绍*/
.intro{font-size: 14px;padding-top:25px;}
.intro p{padding-top: 10px;line-height: 30px;}
.w-480{width:480px;}
.sq,.sp,.bz{color:#333;font-size: 16px;float: left;overflow: hidden;height:38px;width:98px;background: url(../images/xwdt-btn.gif) 0 0 no-repeat;margin-right: 28px;display: inline;line-height: 36px;text-align: center;padding-left: 24px;}
.sp{background-position: -130px 0;}
.bz{background-position: -260px 0;}
.sq:hover,.sp:hover,.bz:hover{color:#fff;}
.sq:hover{background-position: 0 -40px;}
.sp:hover{background-position: -130px -40px;}
.bz:hover{background-position: -260px -40px;}
/*产品系列*/
.mar-t-40{margin-top: 40px;}
.mod-tit{height: 60px; margin-bottom:15px;}
.mod-tit .bd{height: 1px;overflow: hidden;background: #eee;width:100%;display: block;margin-top: 30px;}
.mod-tit a{line-height: 60px;position: absolute;background: #fff;padding: 0 30px;font-size: 24px;color: #444;z-index: 10;left: 400px;top:0;}
.mod-tit a:hover {color:#1194E3;}
.cpxl li{float: left;overflow: hidden;width:190px;padding: 0 25px;}
.cpxl li .ico{margin: 30px auto 0;width:60px;height: 60px;background: #fff url(../images/index-ico.png) -60px -160px no-repeat;display: block;_background-image:url(../images/index-ico.gif);}
.cpxl li h3{font-size: 18px;line-height: 60px;text-align: center;}
.cpxl li p{line-height: 24px;font-size: 14px;}
.cpxl .ztxt .ico{background-position: 0 -100px;}
.cpxl .slkhd .ico{background-position: -60px -100px;}
.cpxl .pbkhd .ico{background-position: 0 -160px;}
/*客户案例*/
.khal .hd li{float: left;overflow: hidden;}
.khal .hd ul{width: 960px; margin:10px 10px 6px 25px;}
.khal .hd li a{float: left;overflow: hidden; line-height:35px;height:35px;text-align: center;font-size: 15px; color:rgb(255, 255, 255); display: inline;_line-height: 32px; padding-left:20px; padding-right:20px;}


.khal .hd li a:active{background:#069D00; color:#FFFFFF; }
.khal .hd li a:link{background:# #FFFFFF; color:#000000; }
.khal .hd li a:visited{background:#069D00; color:#000000; }

.khal .hd li{border:1px solid #CCCCCC; margin-left:10px;}
.khal .hd li .tabs-focus{background-position: -2px -66px;color:#000000;}
.khal .hd .four a{width: auto;}
.khal .hd .four a:hover{width: auto;}



.khal-column {margin:0 auto;width:940px;}
.khal-column li{float: left;overflow: hidden;width:168px;padding: 0 10px;height:95px;}
.khal-column li .ico{margin: 30px auto 0;width:60px;height: 60px;background: #fff url(../images/index-ico.png) -60px -160px no-repeat;display: block;_background-image:url(../images/index-ico.gif);}
.khal-column li h3{font-size: 18px;line-height: 60px;text-align: center;}
.khal-column li p{line-height: 24px;font-size: 14px;}
.khal-column h2 {margin:0 auto;width:900px;}
.khal-column .mod-tit a { display: block;left: 360px;text-align: center;width: 120px;}






.khgyal2 .homebanner {width:940px;height: auto;overflow: hidden;}
.khgyal .homebanner{width:940px;height: 313px;overflow: hidden;}
.khgyal .nums li p, .khgyal2 .nums li p{width: 16px;height: 16px;background-position: -72px -20px;margin:0 10px;}
.khgyal .nums li.curr p, .khgyal2 .nums li.curr p{background-position: -90px -20px;}
.khgyal .imgs li, .khgyal2 .imgs li{margin-top: 10px;height: 247px;overflow: hidden;}
.khgyal2 .imgs li{height:auto;margin-top: 40px;}
.khgyal .imgs a, .khgyal2 .imgs a{width: 200px;height: 80px;overflow: hidden;background: #fff;float: left;margin:0 10px 0 30px;}
.khgyal img, .khgyal2 img{margin: 15px 30px;display: inline;}
.khgyal .imgs .case-flash-txt, .khgyal2 .imgs .case-flash-txt {padding-left:30px;padding-right:30px;padding-top:15px;height:150px;}
.khgyal2 .imgs .case-flash-txt{height:auto;}


/*客户感言*/
.khgy .imgs li{margin-top: 10px;height: 220px;overflow: hidden;}
.khgy .imgs a{width: 200px;height: 80px;overflow: hidden;background: #fff;float: left;margin:0 10px;}
.khgy img{margin: 15px 30px;display: inline;}
.nums{margin: 10px auto 30px;width: 220px;overflow: hidden;}
.nums li{float: left;overflow: hidden;}
.nums li p{float: left;overflow: hidden;background: transparent url(../images/index-ico.png) -50px 0 no-repeat;width: 13px;height: 13px;text-indent: -999px;margin:0 5px;display: inline;cursor:pointer;_background-image:url(../images/index-ico.gif);}
.nums li.curr p{background-position: -70px 0;}
.khgy .nums li p{width: 16px;height: 16px;background-position: -72px -20px;margin:0 10px;_background-position: -70px -20px;}
.khgy .nums li.curr p{background-position: -90px -20px;}
.fz-24{font-size: 24px;}
.pad-r-25{padding-right: 25px;}
.case-flash-txt{font-size: 16px;line-height: 30px;height: 120px;overflow: hidden;padding-top: 20px;text-indent: 2em;}
.khgy .homebanner{width:960px;height: 343px;overflow: hidden;}


/*产品product列表页内容的展示样式*/
.product_volist{height:100px; margin-top:20px; margin-left:6px;}
.product_volist_left{float:left; height:120px; width:200px; margin-left:30px;}
.product_volist_right{float:right;height:120px; width:650px; margin-right:30px;}
.product_title{ font-size:16px;font-weight: bold;}

/*图片photo列表页内容的展示样式*/
.casePicOuter{position:relative;width:200px;height:162px;border:1px solid #dedede;}
.caseConList{clear:both;width:100%;height:auto;padding-left:35px}
.caseConList .caseForm{margin-right:18px;float:left;width:200px;height:auto;padding:10px 0px}
.casePic a img{display:block;width:180px;height:150px;margin:5px 10px}
.caseText{clear:both;height:40px;padding:8px 0 0 0}
.caseText a{text-decoration:none;text-shadow:1px 1px #fff;font-size:14px;font-weight:bold; color:rgb(102, 102, 102);}



/*产品介绍页面*/

.intro-page .pic-list{width: 880px;margin:10px auto 20px;}
.intro-page .pic-list li{display: block;padding: 20px 10px 20px 10px;height: 120px;overflow: hidden;width: 860px;}
.intro-page .video {padding-top:20px;padding-left:20px;}
.pic-summary img{float: left;margin-right: 45px;}
.pic-summary .title a{font-size: 24px;line-height: 24px;color: #444;}
.pic-summary .title a:hover{color:#1194e3;}
.pic-summary .summary{line-height: 30px;font-size: 14px;color: #687582;margin-top:10px;}
/*新闻动态页面*/
.news-page .txt-list-a{width: 880px;margin:5px auto 0;}
.lh-70{line-height: 70px;}
.lh-56{line-height: 44px;}
.news-page .date{float: none;font-size: 14px;padding-left:20px;}
.news-page .page{width: 880px;margin:20px auto 30px;}
.page a{padding:6px 11px;line-height: 34px;}

/*产品文档页面*/
.cpwd ul.tab-title{width:860px;}
.cpwd dl{padding:0 15px 30px;width:900px;}
.cpwd dt{position: relative;font-size: 18px;height:64px;line-height:64px;overflow: hidden;color: #444;padding-left: 10px;}
.cpwd .mod-tit a{left:360px;width:120px;text-align:center;display: block;}
.cpwd .mod-tit span{margin-top: 0;left:0;top:30px;position: absolute;}
.cpwd dd{overflow: hidden;margin: 20px 0 0 0;}
.cpwd dd a{float: left;padding-right:70px;line-height: 24px;font-size: 16px;color: #444;width:210px;}
.cpwd dd a:hover {color: #1194e3;}
.cpwd dd .ico{width:24px;height: 24px;overflow: hidden;margin: 0 10px;background-image: url(../images/ico-jpg.gif);background-repeat: no-repeat;float: left;display: inline;}
.cpwd .video-course .ico{background-position: -30px 0;}
.cpwd dd p{overflow: hidden;padding-bottom:25px;height: 24px;padding-left:15px;}


/*关于我们页面*/
.about-us ul.tab-title{width:500px;}
.about-us .tab-cont{padding:0 20px 20px;width:900px;}
.about-us p{color: #454545;font-size: 16px;overflow: hidden;line-height: 40px;}
.about-us .introduction{padding-bottom: 30px;text-indent: 2em;}
.about-us .introduction p {text-indent: 2em;margin-bottom: 10px;}
.about-us h3{color: #454545;font-size: 18px;overflow: hidden;line-height: 40px;margin-top:10px;}
.about-us .img-list p{line-height:40px;overflow: hidden;text-align: center;margin: 20px 0;padding-bottom: 0;text-indent: 0;}
/*联系我们*/
.contact-information .img{margin-right:30px;margin-left:10px;}
.about-us .address,.about-us .telphone,.about-us .qq,.about-us .mail{margin-top: 20px;}
.about-us .address em,.about-us .telphone em,.about-us .qq em,.about-us .mail em{float: left;overflow: hidden;margin-right:5px;display: inline;background-image: url(../images/ico-jpg.gif);background-repeat: no-repeat;width:19px;}
.about-us .address em{height: 16px;margin-top: 12px;background-position: -60px 0;}
.about-us .telphone em{height: 14px;margin-top:14px;background-position: -80px 0;}
.about-us .qq em{height: 17px;margin-top:13px;background-position: -100px 0;}
.about-us .mail em{height: 12px;margin-top:13px;background-position: -120px 0;}
.about-us .impact{font-family: impact;font-size: 22px;/*font-weight: bold;*/}


/*产品体验页面*/
.cpty{padding:10px 20px 55px;}
.cpty .btn1,.cpty .btn2{width:170px;height: 48px;float: right;overflow: hidden;background-image: url(../images/ico-jpg.gif);background-repeat:no-repeat;text-indent: -9999px;}
.cpty .btn1{background-position: 0 -30px;margin-left:20px;display: inline;}
.cpty .btn2{background-position: 0 -80px;display: inline;}
.cpty p{line-height:34px;font-size: 16px;overflow: hidden;}
.cor-64b{color: #64b339;}
.cpty span{color: #ff4040;}
.cpty-right {width: 360px;padding-bottom: 10px;padding-top: 5px;}
.form .title {float:left; font-size: 16px; color:#444; padding-right:8px;width:150px;text-align:right;}
.form .label{overflow: hidden;line-height: 32px;width:100%;display: block;padding: 10px 3px;}
.form .txt{float: left;overflow: hidden;border-radius: 3px;-webkit-border-radius:3px;-moz-border-radius: 3px;background: #fff;font-size: 16px;line-height: 16px;height: 16px;color: #aaa;padding: 8px;width:200px;margin-right: 10px;display: inline;}
.form .w-60{width: 60px;}
.form .radio-div {overflow: hidden;}
.form .radio-div .title {line-height: 38px;}
.form .radio-div .option {overflow: hidden;float:left;}
.form .textarea{margin-right:10px;float: left;border: 1px solid #ddd;border-radius: 3px;-webkit-border-radius:3px;-moz-border-radius: 3px;background: #fff;font-size: 14px;line-height: 16px;height:90px;color: #aaa;padding: 8px;width:390px;}
.form .submit{width:122px;height: 40px;margin-left:160px; text-indent: -9999px;background: url(../images/ico-jpg.gif) 0 -130px no-repeat;display: block;margin-top: 20px;}
.form .select{height: 36px;width:262px;line-height: 36px;border-radius: 3px;-webkit-border-radius:3px;-moz-border-radius: 3px;display: inline-block;font-size: 14px;padding:8px 6px;vertical-align: middle;background: #fff;border: 1px solid #ccc;overflow: hidden;cursor: pointer;margin-right:5px;}
.form .select option{line-height: 36px;}
.form var{padding:0 15px 0 5px;float: left;line-height: 20px;font-size: 16px;}
.form .radio2,.form .checkbox2{width:16px;height: 16px;float: left;margin-top: 2px;overflow: hidden;}
.form .seccode img {margin-top:5px;}
.label2{line-height: 20px;overflow: hidden;width:100%;display: block;padding:8px 1px;}
/*文章页面*/
.article-page{background: #fff;margin-top: 10px;font-size: 14px;color:#444;}
.article-page .hd{height: 50px;line-height: 50px;overflow: hidden;border-bottom: 1px solid #f5f7fa;padding: 0 40px;}

.article-page .share{float: right;overflow: hidden;margin-top: 16px;}
.article-page .cont{margin-top: 0;padding: 0 40px 30px;width:880px;}
.article-page .title{overflow: hidden;height: 60px;overflow: hidden;font-size: 16px;font-weight: bold;line-height: 65px; text-align:center; margin:0 auto;}
.article-page .title span{overflow: hidden;font-size: 16px;font-weight: bold;line-height: 80px;}
.article-page .title var{overflow: hidden;font-size:14px;padding-left: 20px;font-family: "宋体";}
.article-page .cont p,.article-page .cont h3{overflow: hidden;line-height: 20px;margin-top:10px;font-size: 14px;}
.article-page .cont h3{margin-top: 60px;line-height: 20px;}
.article-page .cont p.mar-t-10{margin-top: 10px;}
.article-page .cont p a{color: #1a75dc;}
.article-page .cont p a:hover{color:#ff6600;}
.article-page .praise{cursor: pointer;width:80px;height: 80px;overflow: hidden;display: block;background: url(../images/ico-jpg.gif) 0 -172px no-repeat;margin: 15px auto 45px;font-size: 16px;color:#fff;line-height: 120px;text-align: center;font-weight: bold;}
.article-page .praise-al{background: url(../images/ico-jpg.gif) -90px -172px no-repeat;cursor: pointer;}
.article-page .praise a{color:#fff;}
.bds_more{line-height:16px;}
.article-page .share-tool{height: 36px;line-height: 36px;overflow: hidden;background: #f4f4f4;padding: 0 20px;}
.article-page .share-tool .copy2,.article-page .share-tool .print2{float: left;overflow: hidden;margin: 0 60px 0 0;display: inline;}
.article-page .copy2 em,.article-page .print2 em{float: left;overflow: hidden;background-image: url(../images/ico-jpg.gif);background-repeat: no-repeat;margin-right: 10px;display: inline;}
.article-page .copy2 em{width:16px;height: 16px;background-position: -160px 0;margin-top: 10px;}
.article-page .print2 em{width:14px;height: 14px;background-position: -180px 0;margin-top: 11px;}
.share-tool .share{margin-top: 9px;}
.article-page .xtdt h2 a{font-size: 16px;font-weight: bold;margin-top: 10px;}
.article-page .intro h2 a{font-size: 16px;font-weight: bold;margin-top: 10px;}

.article-page .date{float: none;}
.article-page .xtdt p{margin-top: 0;}
.article-page .xtdt p a{color:#444;font-size: 14px;padding-right: 25px;}
.w-430{width:430px;}


/*产品购买*/
.buy-page{padding: 20px;font-size:14px;width:920px;}
.buy-page3{padding: 20px 10px;font-size:14px;width:920px;margin-top:0;}
.buy-page2{padding: 0px 10px 20px 10px;font-size:14px;width:920px;margin-top: 0px;}
.module-title3{height: 60px;overflow: hidden;position: relative;}
.module-title3 span{display: block;height:29px;border-bottom: 1px solid #ebeef2;overflow: hidden;}
.module-title3 a{color:#444;font-size: 24px;line-height:58px;background: #fff;position: absolute;top: 0;left:402px;padding: 0 10px;}
.cpgm p{text-align: center;line-height:20px;overflow: hidden;color:#666;margin-bottom:35px;}
/*产品报价*/
.cpbj .module-title3 a{color:#444;}
.cpbj .title{height: 36px;line-height: 34px;overflow: hidden;background: #474f54;color:#fff;font-size: 18px;font-weight: bold;text-align: center;}
.buy-page table, .buy-page2 table {overflow: hidden;width:920px;border-collapse: collapse;color:#444;}
.cpbj td{border-bottom: 1px solid #eee;line-height: 40px;padding-left: 20px;}
.cpbj td.td1{width:450px;}
/*产品对比*/
.cpdb table{border: 1px solid #fff;text-align: center;}
.cpdb .th1 th,.cpdb .th2 th{background: #474f54;color:#fff;font-size: 18px;line-height: 40px;text-align: center;}
.cpdb td{line-height: 40px;border: 1px solid #fff;}
.cpdb td img{margin-top: 10px;}
.cpdb .tit{text-align: left;border-bottom: 1px solid #eee;padding-left: 30px;}
.cpdb .tit2{text-align: left;border-bottom: 1px solid #eee;padding-left: 20px;}
.cpdb .th2 th{line-height: 36px;background: #a3bece;}
.bg-f5f{background: #f5f6f7;}
.bg-e7f{background: #e7f4e6;}
.bg-fbf{background: #fbf5e6;}
.bg-e7f{background: #e7f4f9;}
.bg-fbf{background: #fbf1f1;}
.cpdb .bg-bl{border-bottom:1px solid #eee;}
.bg1{background: #2d90e2;}
.bg2{background: #38aa30;}
.bg3{background: #fe8f00;}
.bg4{background: #fa522d;}


.homebanner1 .item{display: none;position: relative;transition: left 0.6s ease-in-out 0s;}
.homebanner1 .active, .homebanner1 .next, .homebanner1 .prev{display: block;}
.homebanner1 .active{left: 0;}
.homebanner1 .next, .homebanner1 .prev{position: absolute;top: 0;width: 100%;}
.homebanner1 .next{left: 100%;}
.homebanner1 .prev{left: -100%;}
.homebanner1 .next.left, .homebanner1 .prev.right{left: 0;}
.homebanner1 .active.left{left: -100%;}
.homebanner1 .active.right {left: 100%;}

#tab-cont-1{position: relative;height:288px;}
#tab-cont-1 .item{display: none;position: relative;height:288px;transition: left 0.6s ease-in-out 0s;}
#tab-cont-1 .active, #tab-cont-1 .next, #tab-cont-1 .prev{display: block;}
#tab-cont-1 .active{left: 0;}
#tab-cont-1 .next, #tab-cont-1 .prev{position: absolute;top: 0;width: 100%;}
#tab-cont-1 .next{left: 100%;}
#tab-cont-1 .prev{left: -100%;}
#tab-cont-1 .next.left, #tab-cont-1 .prev.right{left: 0;}
#tab-cont-1 .active.left{left: -100%;}
#tab-cont-1 .active.right {left: 100%;}

.lh-30 li {height: 30px; overflow: hidden;width:100%;float:left;}
.lh-30 li a{float: left;}
.intro-page span.bd{margin-top: 0;left:0;top:30px;position: absolute;}

.fun_ul2{ margin-top:40px; overflow: hidden;}
.fun_list1{ width:24%; padding-top:10px; padding-bottom:10px; float:left;  display:block; height:110px; overflow:hidden;}
.sv_l{ width:30%; float:left; overflow:hidden;}
.sv_l img{width:60px; height:60px}
.sv_r{width:60%;float:left; padding-left:10px; overflow:hidden;}
.p_ys_tltle{ width:100%; color:#555; font-weight:normal; font-size:18px;}
.p_ys_tltle a{ height:35px;line-height:35px;  display:block; color:#555; font-size:21px; }
.p_ys_tltle a:hover{ text-decoration:none;background:#f5f5f5; }
.p_ys_p{font-size:12px; padding:5px 1px; line-height:24px; color:#666;}

.indexmain01{ height:210px;}
.indexmain01 ul li{width:455px; padding:20px 0px 5px 0px; float:left; line-height:20px;}
.indexmain01 ul li img{width:48px; float:left;margin-top:4px;}
.indexmain01 ul li .intro{width:390px; float:right;color:#999;padding-top:0; font-size:12px}
.indexmain01 ul li .intro a{font-size:16px;font-weight:normal; color:#333}
.indexmain01 ul li .intro .blank5{ height:5px; overflow:hidden}

/*返顶效果*/
.backToTop{bottom: 0px!important;bottom: auto;position:fixed;_position:absolute;width:43px;height:43px;background: url(../images/gotop.png) no-repeat 0 0;cursor: pointer;z-index:1990;bottom:0;display:none;}
.backToTop:hover{background-position: 0 -43px;
	-webkit-transition:background 0.2s ease 0s;
	-moz-transition:background 0.2s ease 0s;
	-o-transition:background 0.2s ease 0s;
	-ms-transition:background 0.2s ease 0s;
	transition:background 0.2s ease 0s;}

/* 面包屑-当前位置 */
.crumbs{border-top:1px solid #e6e7eb;height:45px;line-height:45px;background:#f6f6f6;font-size:14px;color:#111;margin-bottom:20px;}
.crumbs_item{background:url(../images/crumb.png) 2px 15px no-repeat;padding-left:20px;width:960px;}

.auto{width:940px;margin:0 auto;}
.aboutusmain{width:940px; margin-top:-10px; background:url(../images/bg14.png) no-repeat; position:relative; margin-top:2px;}
.aboutusmain .left{width:170px; float:left;height:360px;}

.aboutusmain .left ul li{padding:0px 50px; height:38px; width:70px; line-height:38px;font-size:15px;border-bottom: 1px solid #D9D9D9;line-height: 38px;}

.aboutusmain .left ul li a{height:38px; line-height:38px;font-size:15px;display:block;width:70px;}

.aboutusmain .left ul li a:hover{width:170px; margin-left:-50px; text-indent:50px; background-color:#089B04; color:#FFFFFF}

.aboutusmain .left ul li.curr{position:relative; width:142px; height:42px;margin-top:-5px}
.aboutusmain .left ul li.curr a{color:#fff;}
.aboutusmain .left ul li a{color:#444}
.aboutusmain .right{
	width: 730px;
float: left;
margin-left: 20px;
}
.aboutusmain .right .intro{ padding:15px; font-size:15px;color:#666;line-height:30px;}
.aboutusmain .right .intro img{ display:block;margin:0 auto;margin-top:10px;}
.aboutusmain .right p{text-indent:2em; padding-top:15px}
.aboutusmain .right h4{ font-size:36px;font-weight:normal; padding-top:10px;color:#414141;}
.aboutusmain .right .Contactus .leftbox{width:320px; float:left;}
.aboutusmain .right .Contactus .rightbox{width:330px; float:right; line-height:28px;}
.aboutusmain .right .Contactus .rightbox strong{font-size:18px;}
.aboutusmain .right .zhengshu{ position:relative;}
.aboutusmain .right .zhengshu ul li{width:150px; float:left;margin:10px 0px 0px 32px}
.aboutusmain .right .zhengshu ul li img{width:150px; margin-bottom:10px; height:210px;}
.aboutusmain .right .zhengshu ul li strong{font-weight:normal; line-height:24px;}
.aboutusmain .right .zhengshu .imgbox{width:700px; background:#fff; position:relative; margin-left:-10px;border:4px solid #333; text-align:center; padding:30px 0px; z-index:9999999; margin-bottom:-640px; position:relative;}
.aboutusmain .right .zhengshu .imgbox .errorbtnbg{ position:absolute;top:-10px;right:0px;}
.aboutusmain .right .zhengshu .imgbox img{ max-width:600px;}
.aboutusmain .right .partner h2{background:url(../images/ws.jpg) no-repeat 5px 5px;font-weight:normal;border-bottom:#e8e8e8 1px solid;text-align:left;height:36px;line-height:36px;padding-left:45px;}
.aboutusmain .right .partner h2 a{font-size:18px;color:#333;}
.aboutusmain .right .partner .hz1{padding:8px;}
.aboutusmain .right .partner .hz1 .hz_logo{width:175px;float:left; border:#4898E3 1px solid;padding:2px;}
.aboutusmain .right .partner .hz1 .hz_intro{width:480px;float:right;line-height:24px;}
.aboutusmain .right .partner .hz1 .info{
	font-size:15px;
	padding-bottom:15px;
	clear: both;
	width: 670px;
	margin-right: auto;
	margin-left: auto;
}
.aboutusmain .right .partner .idclogo {
	float: left;
	padding: 1px;
	border: 1px solid #A6CCF1;
	background-color: #FFF;
	display: inline;
	margin-top: 12px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.aboutusmain .right .partner .info h1{ font-size:16px;font-weight:normal;color:#ff6600;}
.aboutusmain .right .intro h1{ font-size:20px; font-weight:500; color:#CC3300;}
.aboutusmain .right .intro h1 span{ font-size:20px; color:#666666; padding-left:10px;}

.ui-abstract ,.ui-features {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	padding-top: 70px;
	margin-top: 20px;
}
.ui-features {
	margin-bottom: 20px;
}
.ui-abstract .ui-h2,.ui-features .ui-h2,.features .section-title {
	position: absolute;
	left: -14px;
	top: 20px;
	width: 200px;
	background: transparent url(../images/titlebg.png) no-repeat;
	height: 38px;
	color: #fff;
	padding-left: 30px;
	line-height: 38px;
	font-size: 18px;
	font-weight: bold;
}
.ui-abstract p {
	text-indent: 2em;
	line-height: 2;
	margin: 10px 300px 10px 45px;
	font-size: 14px;
}
.ui-abstract .ui-datum {
	position: absolute;
	right: 30px;
	top: 85px;
}
.ui-abstract .ui-datum li {
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.ui-abstract .ui-datum a {
	background-color: #f4f4f4;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	display: block;
	height: 40px;
	line-height: 40px;
	width: 160px;
	color: #575757;
	padding-left: 50px;
	font-size: 14px;
	border: 1px solid #fff;
}
.ui-abstract .ui-datum a:hover {
	background-image: url(../images/iconshover.png);
	color: #000;
	border-color: #000;
}
.ui-abstract .ui-datum .A {
	background-position: 0 -62px;
}
.ui-abstract .ui-datum .B {
	background-position: 0 -120px;
}
.ui-abstract .ui-datum .C {
	background-position: 0 -174px;
}
.ui-abstract .ui-datum .D {
	background-position: 0 -228px;
}
.ui-abstract .ui-datum .A:hover {
	background-position: -1px 9px;
}
.ui-abstract .ui-datum .B:hover {
	background-position: 0 -37px;
}
.ui-abstract .ui-datum .C:hover {
	background-position: -2px -96px;
}
.ui-abstract .ui-datum .D:hover {
	background-position: -2px -152px;
}
.ui-features-block {
	position: relative;
}
.ui-features-block ul {
	margin-top: 30px;
}
.ui-features-block li {
	background: transparent url(../images/point.jpg) no-repeat 10px 10px;
	padding-left: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-left: 30px;
	color: #666;
}
.ui-features-block .ui-h3 {
	font-size: 22px;
	margin-left: 30px;
	margin-top: 30px;
	text-shadow: 1px 1px 3px #ddd;
}

.ui-features-D .ui-h3 ,.ui-features-E .ui-h3,.ui-features-F .ui-h3  {
	padding-top: 30px;
}

.ui-features-block .ui-line ,.ui-line {
	position: absolute;
	bottom: 0;
	height: 1px;
	background: transparent url(../images/line.png);
	width: 100%;
}
.ui-abstract .ui-line {
	bottom: 590px;
}
.ui-features-B ul,.ui-features-B .ui-h3  {
	margin-left: 490px;
}
.ui-features-B ul {
	margin-left: 460px;
}
.ui-features-B .ui-h3 {
	padding-top: 30px;
}
.ui-features-C .ui-h3 {
	padding-top: 30px;
}
.ui-features-D .ui-h3,.ui-features-D ul {
	margin-left: 400px;
	margin-right: 20px;
}
.ui-features-D ul {
	margin-left: 360px;
}

.ui-features-F .ui-h3, .ui-features-F ul {
	margin-left: 460px;
}
.ui-footer {
	background-color: #333;
}
.ui-footer .ui-footer-container {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0
}
.ui-footer .ui-footer-container p {
	padding: 5px 0;
	color: #fff;
}

.ui-feature-preview {
	height: 580px;
	width: 960px;
	margin: 0 auto;
	border-top: none;
	margin-top: 20px;
}
.portlet-body p { margin:5px 0 5px 20px}
.zl_main{width:920px;margin:0 auto;font-size:14px;}
.zl_main table{border-collapse:collapse; }
.zl_main tr td{border:1px solid #fff;line-height:40px;}
.zl_main tr td.allTit{background:#1C4F81;color:#fff;text-align: center;font-size:14px;}
.zl_main tr td.formTit{border-bottom:1px solid #eee;padding-left:20px;}
.zl_main tr td.formgray{background:#F5F6F7;text-align: center;}
.zl_main tr td.formblue{background:#E7F4F9;text-align: center;}
.zl_main tr td.formpink{background:#FBF1F1;text-align: center;}
.zl_main tr td.formgreen{background:#ECF4F3;padding-left:15px;}
.zl_main tr td.smallTit{background:#C5E7EF;padding-left:20px;}
.zl_main tr td.formcolor{background:#F5F5EB;text-align: center;}

.shipin li {
	width:310px;
	height:220px;
	margin-right:10px;
	margin-bottom:20px;
	float:left;
	overflow:hidden;
}
.shipin li p {
	padding-top:5px;
	text-align:center;
	font-weight:bold;
}

/***
Misc tools
***/
.no-padding {
	padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
	padding-top: 5px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-15 {
	padding-top: 15px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-25 {
	padding-top: 25px !important;
}
.padding-top-30 {
	padding-top: 30px !important;
}
.padding-top-35 {
	padding-top: 35px !important;
}
.padding-top-40 {
	padding-top: 40px !important;
}
.padding-top-45 {
	padding-top: 45px !important;
}
.padding-top-50 {
	padding-top: 50px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-25 {
	margin-bottom: 25px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-35 {
	margin-bottom: 35px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.margin-bottom-65 {
	margin-bottom: 65px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}
.margin-left-20 {
	margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-30 {
	padding-right: 30px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

.btn {
	padding: 7px 14px;  
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
}
.btn-primary {
	border: 0;
	background: #e94d1c;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #fff;
	background: #cc3304;
	border: 0;
}
.content-page .btn-primary, 
.content-page .btn-primary:hover {
	color: #fff;
}
.btn-default {
	border: 1px solid #EDEDED;
	color: #A8AEB3;
	background: transparent;
	padding: 6px 13px; 
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	border: 1px solid #A8AEB3;
	color: #fff;
	background: #A8AEB3;
	padding: 6px 13px; 
}
.container {
	width:100% !important;
}

/***
Notes
***/
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-top: 0;
}
.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}
.note.note-default {
  background-color: lightgrey;
  border-color: #a0a0a0;
  color: #333333, 80%;
}
.note.note-primary {
  background-color: #5697d0;
  border-color: #2a7696;
  color: #d8e3f2, 80%;
}
.note.note-success {
  background-color: #eef7ea;
  border-color: #bbdba1;
  color: #3c763d, 80%;
}
.note.note-info {
  background-color: #eef7fb;
  border-color: #91d9e8;
  color: #31708f, 80%;
}
.note.note-warning {
  background-color: #fcf8e3;
  border-color: #f2cf87;
  color: #8a6d3b, 80%;
}
.note.note-danger {
  background-color: #f9f0f0;
  border-color: #dca7b0;
  color: #a94442, 80%;
}

.platform_info .emphasis{
	padding:30px 0 10px;
}
div.platform_info .ct h3{
	font-size:14px;
}
.platform_info .tailored{
	float:left;
	background:url(../images/tailored.png) right 5px no-repeat;
	padding-right:80px;
	width:165px;
	display:inline;
	height:70px;
	line-height: 22px
}
.platform_info .lowcost{
	float:left;
	border-left:1px solid #e5e5e5;
	display:inline;
	padding:0 90px 0 15px;
	width:190px;
	background:url(../images/lowcost.png) right center no-repeat;
	margin-left:15px;
	height:70px;
	line-height: 22px
}
.platform_info .stable{
	float:left;
	border-left:1px solid #e5e5e5;
	display:inline;
	padding:0 75px 0 15px;
	width:165px;
	background:url(../images/stable.png) right center no-repeat;
	margin-left:15px;
	height:70px;
	line-height: 22px
}
/*内容区域*/
.box_wrap .cc{
	/*min-height:356px;*/
	color:#666;
}
/*标题*/
.box_wrap .ct .title{
	font-size:14px;
	border-left:5px solid #005cb5;
	line-height:normal;
	padding-left:8px;
	margin-bottom:10px;
}
/*信息*/
.box_wrap .ct .info{
	margin-bottom:10px;
}
.box_wrap .ct .info a{
	color:#005cb5;
}
/*
===================
开发者创建应用流程
===================
*/
.dev_process{
	height:92px;
	background:url(../images/dev_process.png) center top no-repeat;
	margin-bottom:15px;
	overflow:hidden;
	text-indent:-2000em;
}
.dev_process ol{
	visibility:hidden;
}

.yellow.btn:active, .yellow.btn.active {
  background-image: none;
}
.open .yellow.btn.dropdown-toggle {
  background-image: none;
}
.yellow.btn.disabled, .yellow.btn.disabled:hover, .yellow.btn.disabled:focus, .yellow.btn.disabled:active, .yellow.btn.disabled.active, .yellow.btn[disabled], .yellow.btn[disabled]:hover, .yellow.btn[disabled]:focus, .yellow.btn[disabled]:active, .yellow.btn[disabled].active, fieldset[disabled] .yellow.btn, fieldset[disabled] .yellow.btn:hover, fieldset[disabled] .yellow.btn:focus, fieldset[disabled] .yellow.btn:active, fieldset[disabled] 

.red.btn:active, .red.btn.active {
  background-image: none;
}
.open .red.btn.dropdown-toggle {
  background-image: none;
}
.red.btn.disabled, .red.btn.disabled:hover, .red.btn.disabled:focus, .red.btn.disabled:active, .red.btn.disabled.active, .red.btn[disabled], .red.btn[disabled]:hover, .red.btn[disabled]:focus, .red.btn[disabled]:active, .red.btn[disabled].active, fieldset[disabled] .red.btn, fieldset[disabled] .red.btn:hover, fieldset[disabled] .red.btn:focus, fieldset[disabled] .red.btn:active, fieldset[disabled] .red.btn.active {

}
.red.btn .badge {

  background-color: white;
}
.content-page p,
.content-page .list-unstyled {
	margin-bottom: 20px;
}
.content-page .list-unstyled .list-unstyled {
	margin-left: 20px;
	padding-top: 3px;
	margin-bottom: 0;
}
.content-page .list-unstyled li {
	margin-bottom: 3px;
}
.well {
  background-color: #eee;
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding:20px;
}
.dr_member {
	float:right;
	margin-right:20px;
}
.dr_member li { float:left; padding-right:10px}
.content-page p,
.content-page .list-unstyled {
	margin-bottom: 20px;
}
.content-page .list-unstyled .list-unstyled {
	margin-left: 20px;
	padding-top: 3px;
	margin-bottom: 0;
}
.content-page .list-unstyled li {
	margin-bottom: 3px;
}
.huise { color:#666;}
.drli li { line-height:22px}

/*公告*/
#announcement {height:50px; line-height:50px; color:#0B3B7D;margin:0px auto; margin:0 200;}
#announcement .announcement_title{ font-size:14px; color:#CF5D00; float:left;font-weight:bold; width:150px;}
#announcement .announcement_body { font-size:13px; color:#3A8C8A; float:left; width:580px; }
#announcement .announcement_body a{ color:#3A8C8A; }
#announcement .announcement_bottom{float:right; width:250px; }
.announcementlist li { line-height:50px; }
#top, #logo, #navigation, #banner, #link, #copyright, #floor { width:960px;  margin:0 auto; overflow:hidden; border:0px dashed red;}



/*按钮*/
html .button{ display: inline-block; zoom: 1; *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer;
	      text-align: center; text-decoration: none; font-size:14px; line-height:100%; padding: .4em 1.5em .55em; border:none; border-radius: 2px; color: #fff; background: #A7A9AA;}
.button:hover { text-decoration: none; background: #9a9c9d; }
.button:active { position: relative; top: 1px;color: #999; }
/*圆角*/
.button.bigrounded { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }
/*中号*/
.button.medium { font-size: 12px; padding: .4em 1.5em .42em; }
/*小号*/
.button.small { font-size: 11px; padding: .2em 1em .275em; }
/* black */
.button.black { color: #d7d7d7; background: #333; } .button.black:hover { background: #000; } .button.black:active { color: #666; }
/* gray */
.button.gray { color: #e9e9e9; background: #6e6e6e; } .button.gray:hover { background: #616161; } .button.gray:active { color: #afafaf; }
/* orange */
.button.orange { color: #fef4e9; background: #f78d1d; } .button.orange:hover { background: #f47c20; } .button.orange:active { color: #fcd3a5; }
/* red */
.button.red { color: #faddde; background: #d81b21; } .button.red:hover { background: #b61318; } .button.red:active { color: #de898c; }
/* blue */
.button.blue { color: #d9eef7; background: #007ead; } .button.blue:hover { background: #00CCFF; } .button.blue:active { color: #80bed6; }
.button.blue2 { color: #d9eef7; background: #3375b9; } .button.blue2:hover { background: #15a0d4; } .button.blue2:active { color: #15a0d4; }
/* rosy */
.button.rosy { color: #fae7e9; background: #da5867; } .button.rosy:hover { background: #ba4b58; } .button.rosy:active { color: #dca4ab; }
/* green */
.button.green { color: #e8f0de; background: #64991e; } .button.green:hover { background: #538018; } .button.green:active { color: #a9c08c; }
/* pink */
.button.pink { color: #feeef5; background: #f895c2; } .button.pink:hover { background: #d57ea5; } .button.pink:active { color: #f3c3d9; }
/* 黄色 */
.button.yellow { color: #fff; background: #BB6512; } .button.yellow:hover { background: #fd9c2c; } .button.yellow:active { color: #fff; }
/*淡灰色*/
.button.dahui { color: #cd0c39; background: #efefef; } .button.dahui:hover { background: #c2c2c2;color:#efefef } .button.dahui:active { color: #fff; }

/*圆边框*/
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 4px;}
.b2,.b7{margin:0 3px;border-right:1px solid; border-left:1px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}

/*表单*/
.my_form_group{width:100%;overflow: hidden;padding-bottom:15px;}
.control_label{float: left;width:10%;text-align: right;padding-right:10px;vertical-align:middle;font-size:14px;min-height: 1px;}
.control_label16{float: left;width:20%;text-align: right;padding-right:10px;vertical-align:middle;font-size:14px;min-height: 1px;color:#818181}
.control_label20{float: left;width:25%;text-align: right;padding-right:10px;vertical-align:middle;font-size:14px;min-height: 1px;color:#818181}
.control_required20{float: left;width:72%;}
.control_required{float: left;width:82%;overflow: hidden;}
.control_required .form_message,.control_required20 .form_message{font-size:12px;color: #BABABA;height:30px;line-height:30px;padding-left:28px;background: url('../images/faq.png') no-repeat 9px 0px;}
.control_required .form_message2,.control_required20 .form_message2{font-size:12px;color: #CE5C36;height:30px;line-height:30px;padding-left:0px;}

.col2{width:10%;}
.col3{width:20%;}
.col4{width:30%;}
.col5{width:40%;}
.col6{width:60%;}
.col7{width:70%;}
.col8{width:80%;}
.col10{width:100%;}
.col11 {width: 95%;}
.infoInput{padding:5px;margin: 0px;border:1px solid #d5d5d5; height:35px; line-height:35px;}
.infoInput_content{padding:5px;margin: 0px;border:1px solid #d5d5d5;}
.infoInput:hover{padding:5px;margin: 0px;border:1px solid #bfbfbf;}

/*关键字颜色*/
a.keyword1{font-size:14px; color:#FF0000; text-decoration:none;}
a.keyword2{text-decoration:none; color: #CC3300; font-size:12px;}
a.keyword3{text-decoration:none;color: #000033; font-size:14px;}
a.keyword4{text-decoration:none;color: #3333CC; font-size:16px;}
a.keyword5{text-decoration:none;color: #0099FF; font-size:10px;}
a.keyword6{text-decoration:none; color: #9966CC; font-size:12px;}
a.keyword7{text-decoration:none; color: #996600; font-size:12px;}
a.keyword8{text-decoration:none; color: #996600; font-size:18px;}
a.keyword9{text-decoration:none; color: #996600; font-size:12px;}
a.keyword10{text-decoration:none; color: #996600; font-size:14px;}
a.keyword1:hover,a.keyword2:hover,a.keyword3:hover,a.keyword4:hover,a.keyword5:hover,a.keyword6:hover,a.keyword7:hover,a.keyword8:hover,a.keyword9:hover,a.keyword9:hover{color: #0c4ac7; text-decoration:none;}

a.infolink01{font-size:12px;text-decoration:underline;}
a:visited.infolink01{font-size:12px;text-decoration:underline;}
a:hover.infolink01{color:#EB5A00;font-size:12px;text-decoration:none;}
a.infolink02{font-size:12px;color:#999999;text-decoration:none;}
a:visited.infolink02{font-size:12px;color:#999999;text-decoration:none;}
a:hover.infolink02{color:#EB5A00;font-size:12px;text-decoration:underline;}


a.contentpage{font-size:12px;color:#ff0000;text-decoration:underline;}
a:visited.contentpage{font-size:12px;color:#ff0000;text-decoration:underline;}
a:hover.contentpage{color:#0060ff;font-size:12px;text-decoration:none;}
a.infolist_orning{font-size:12px;color:#fe6c00;text-decoration:underline;}
a:visited.infolist_orning{font-size:12px;color:#E05600;text-decoration:underline;}
a:hover.infolist_orning{color:#2C45B5;font-size:12px;text-decoration:none;}

input.bottonsubmit {color: #fff;font-weight: bold;padding: 5px;margin: 0px;border: 0px;cursor: pointer;background-color: #ff6c00;}
input.bottonsubmit:hover {color: #ffcc00;font-weight: bold;padding: 5px;margin: 0px;border: 0px;cursor: pointer;}

/*内页公共*/
.sidebar{ padding-bottom:20px; padding-top:1px; position:relative; z-index:1;}
.sb_nav{ float:left; width:200px; overflow:hidden; position:relative;}
.sb_nav .sb_nav_box{ width:200px;}
.sb_nav h3.title span{ display:block; padding-left:10px; height:32px; line-height:32px; background:#404040; color:#fff; font-size:14px; text-shadow: 1px 1px 0 #222;}
.sb_nav .active{ border:1px solid #ccc; border-top:0; border-bottom:0; background:#F2F2F2;}
.sb_nav .active dl{ border-bottom:1px solid #ccc;}
.sb_nav .active dl dt{ padding:8px 10px 8px 15px; border-top:1px solid #fff; font-size:14px; font-weight:bold;}
.sb_nav .active dl dt.on{ background:#F2F2F2;}
.sb_nav .active dl dt.on a{ font-weight:bold; text-shadow: 0px 1px 0 #fff;}
.sb_nav .active dl dt a:hover{ color:#333; }
.sb_nav .active dl dd{ padding:5px 10px 5px 15px; border-top:1px solid #ccc;}
.sb_nav .active dl dd h4{ font-weight:normal; padding:4px 0px 4px 10px; background:url(../images/dd.png) no-repeat left center;}
.sb_nav .active dl dd h4 a{}
.sb_nav .active dl dd h4.on a{ color:#f60; }
.sb_nav .active dl.ddok dt{ border-bottom:1px solid #ccc;}
.sb_nav .active dl.ddok dd{ border-top:1px solid #fff;}

.position{ padding-left:22px; position:absolute; right:8px; top:0px; font-weight:normal; color:#888; height:32px; line-height:32px;}
.position a{ color:#444;}
.sb_box h3.title_1{position:relative; background:#404040;}
.sb_box h3.title_1 span{ display:block; padding-left:10px; height:30px; line-height:30px; color:#FFFFFF; font-size:14px; border-top:1px solid #fff; height:33px; line-height:33px; margin-top:-2px;}
.sb_box .active{ border:1px solid #ccc; border-top:0; padding:10px 20px 25px; overflow:hidden; }
.sb_box{ float:right; width:740px; overflow:hidden;}

#flip{ padding:5px 0px; text-align:center;}
.met_hits{ height:35px; line-height:35px; text-align:left; margin-bottom:10px; position:relative; color:#999;}
.met_hits a{ color:#999;}
.met_hits a:hover{ color:#f60;}
.met_hits .metjiathis{ position:absolute; right:5px; top:8px;}
.met_page{ text-align:center; padding:8px 0px; border-top:1px solid #ccc; margin-top:15px;}
.met_page a{ margin-right:50px; color:#1C57C4; text-decoration:underline;}
.met_page a:hover{ color:#f60;}

/*input表单*/
.form .input_one input{ height:30px; margin-top:10px; width:200px;}
.form img{ position:relative;top:18px;}
.form{ width:500px; margin:0 auto;}


.main_deng{width:300px; margin:30px auto; text-align:left}
.main_user{margin:10px auto; text-align:left}
.main_user select{padding: 2px; margin-top:8px; border:1px #CCCCCC solid}

.tarea_default{width:500px;height:90px;border:1px solid rgb(212, 212, 212);
padding-left:3px; margin-top:10px;}

h3.hrtl {
    font-size: 14px;
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 45px;
}

h3.hrtl span {
    float: left;
    position: relative;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    left: 8px;
    top: 1px;
    border-top: 3px solid #4CB32E;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    padding: 0px 15px;
    height: 42px;
    line-height: 42px;
}

.hrtl_txt {
    padding-bottom: 3px;
    padding-left: 25px;
    margin-bottom: 10px;
}
.hrtl_txt li {
    height: 35px;
    line-height: 25px;
    list-style: none outside none;
}
.hrtl_txt em {
    float: left;
    min-width: 100px;
    width: 100px;
    white-space: nowrap;
    font-style: normal;
}
.user_submit{ width:120px;  height:40px; line-height:40px; background:#56BC48;border-radius: 5px 5px 5px 5px; color:#FFFFFF; font-weight:bold;}
.style_submit_bt{margin-left:18px; margin-top:10px;}


/* con1首页产品展示样式 */
.con1{width:960px;margin:0 auto}
.con1title{width:100%;height:48px;}
.titlename{float:left;font:600 24px/42px 'microsoft yahei';width:132px;text-indent:7px;color:#ae7db5}
.titlename2{float:left;font:600 24px/42px 'microsoft yahei';width:132px;text-indent:7px;color:#57b4d6}
.class{float:left;padding:12px 0;font:12px/16px 'simsun';color:#a063a9}
.class a{color:#a063a9;padding:2px 9px;margin:0 8px;}
.class a:hover{color:#fff;background:#a167a9;padding:2px 9px;margin:0 8px;}
.more{float:right;display:block;width:60px;height:22px;text-align:center;font:12px/22px 'simsun';color:#fff;margin:10px 13px 0 0}
.more2{float:right;display:block;width:60px;height:22px;text-align:center;font:12px/22px 'simsun';color:#fff;margin:10px 13px 0 0}
.con1ul{width:100%;}
.con1ul li{width:177px;padding:20px 0 0 10px;height:170px;float:left;}
.con1_img{display:block;height:136px;padding:1px;}
.con1_link{display:block;height:30px;text-align:center; font-size:14px; font-weight:bolder; margin-top:-6px;}
.PicAuto{width:175px;height:126px;border:1px solid #CCCCCC}

/* con1首页新闻动态样式 */
.content_q{ height:331px;padding-top:43px;}
.contetn{ width:960px; margin:0 auto; }
.cont_l{ width:300px; height:289px;float:left;}
.title{ height:32px; line-height:32px;}
.one{ height:32px; width:87px; display:block; float:left;}
.title span{ width:213px; float:left; border-bottom:1px solid #ccc; height:31px;}
.title span a{ float:right; margin-right:10px;}
.jies{ width:440px; float:left; height:257px;}
.jies dl{ margin:10px 0 0 5px; height:72px; border-bottom:1px dashed #ccc;}
.jies dl dt{ float:left; margin-right:8px;}
.eee{  font-weight:bold; color:#000;}
.titlw_2{ height:32px; line-height:32px;}
.one_1{ height:32px; width:87px; display:block; float:left;}
.titlw_2 span{ float:left; border-bottom:1px solid #ccc; height:31px;}
.titlw_2 span a{ float:right; margin-right:10px;}
.cont_c{ width:420px;height:289px; margin: 25px 30px 0 30px; float: left; margin-top:12px; padding:8 8 8 8}
.cont_c dl{ float:left; height:247px;padding-top:28px;}
.cont_c dl dt{ float:left; margin-right:10px; }
.cont_c dl dd{ line-height:25px;}
.cont_r{height:289px;float:right;}
.cont_r a{ margin:7px 0 0 0; float:left;}