
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_show/" method="post">
    <div class="searchBar">
      <table class="searchContent">
        <tr>
          <td> 客户名称：
            <input type="text" name="cus_name" size="15" />
          </td>
          <td><select class="combox" name="searchKeyword">
              <option value="title">主题</option>
              <option value="intro">内容</option>
            </select>
          </td>
          <td> 联系时间：
            <input type="text" class="date" name="bdt" size="15" readonly="true" />
            -
            <input type="text" class="date" name="edt" size="15" readonly="true" />
          </td>
          <td><ul>
              <li>
                <div class="buttonActive">
                  <div class="buttonContent">
                    <button type="submit">检索</button>
                  </div>
                </div>
              </li>
            </ul></td>
        </tr>
      </table>
	  <div class="subBar"></div>
    </div>
  </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_add/" target="navTab" rel="cst_quoted_add"><span>添加</span></a></li>
      <li><a class="delete" href="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_del/" postType="string" title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" ><span>批量删除</span></a></li>
      <li><a class="edit" href="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_modify/id/{sid_user}/" target="navTab" rel="cst_quoted_modify"><span>修改</span></a></li>
      <li class="line">line</li>
      <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出</span></a></li>
    </ul>
  </div>
  <table class="table" width="100%" layoutH="138">
    <thead>
      <tr>
        <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
	 	<th width="100">主题</th>
		<th width="80">报价人</th>
        <th width="120">客户名称</th>
        <th width="80">接收人</th>
        <th width="130">销售机会</th>
        <th width="80">金额</th>
		<th width="80">创建人</th>
        <th width="100">建档时间</th>
        <th width="100">是否审核</th>
        <th width="100">审核时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    
    #{foreach from=$list key=k item=v}#
    <tr target="sid_user" rel="#{$v.id}#">
      <td><input name="ids" value="#{$v.id}#" type="checkbox"></td>
	  <td>#{$v.title}#</td>
	  <td>#{$v.quoted_userID}#</td>
	  <td>#{$v.cst_name}# </td>
	  <td>#{$linkman[$v.linkmanID]}#</td>
      <td>#{$chance[$v.chanceID]}#</td>
	  <td>#{$v.money}#</td>
	  <td>#{$v.userID}#</td>
	  <td>#{$v.adt}#</td>
      <td>#{$status[$v.status]}#</td>
      <td>#{$v.audit_dt}#</td>
      <td>#{$operate[$v.id]}#</td>
      
    </tr>
    #{/foreach}#
    </tbody>
    
  </table>
  <div class="panelBar">
    <form id="pagerForm" method="post" action="#{$smarty.const.ACT}#/CstQuoted/cst_quoted_show/">
      <input type="hidden" name="pageNum" value="1" />
      <input type="hidden" name="numPerPage" value="#{$numPerPage}#" />
      <input type="hidden" name="orderField" value="${param.orderField}" />
    </form>
    <div class="pages"> <span>显示</span>
      <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span>条，共#{$totalCount}#条</span> </div>
    <div class="pagination" targetType="navTab" totalCount="#{$totalCount}#" numPerPage="#{$numPerPage}#" pageNumShown="10" currentPage="#{$currentPage}#"></div>
  </div>
</div>
