<div class="col-md-12 app_head">
    <div class="app_title">
        <i class="app_ico_i glyphicon glyphicon-th-large"> </i>专辑
    </div>
    <div>
        <div class="aline"></div>
    </div>
    <div class="sub_nav">
        <ul id="top_nav" class="nav_list clearfix">
            <li>
                <a href="{:U('index')}"
                <eq name="top_issue" value="">class="cur"</eq>
                >全部分类</a>
            </li>
            <volist name="tree" id="top">
                <if condition="$top['status'] eq 1">
                    <li>
                        <a
                        <eq name="top_issue" value="$top['id']">class="cur"</eq>
                        href="{:U('index',array('issue_id'=>$top['id']))}" data="{$top.id}">{$top.title}</a>
                    </li>
                </if>

            </volist>
            <if condition="check_auth('addIssueContent')">
                <li class="pull-right btn-submit">

                    <if condition="is_login() eq 0">
                        <button class="btn btn-primary" onclick="toast.error('请登陆后再投稿。','温馨提示')"><i
                                class="glyphicon glyphicon-send"></i>&nbsp;投稿
                        </button>
                        <else/>
                        <button class="btn btn-primary open-popup-link" href="#frm-post-popup"><i
                                class="glyphicon glyphicon-send"></i>&nbsp;投稿
                        </button>

                    </if>
                </li>
            </if>
        </ul>

    </div>
    <volist name="tree" id="top">
        <if condition="$top['status'] eq 1">
            <div
            <eq name="top_issue" value="$top['id']">style="display:block;"</eq>
            class="children_nav" id="children_{$top.id}">
            <ul class="nav_list clearfix">
                <li><a href="{:U('index',array('issue_id'=>$top['id']))}"
                    <eq name="issue_id" value="$top['id']">style="font-weight:bold;color:#000"</eq>
                    class="cur">全部分类</a></li>
                <volist name="top._" id="children">
                    <li><a
                        <if condition="$issue_id eq $children['id']"> style='color:#000;font-weight:bold'</if>
                        href="{:U('index',array('issue_id'=>$children['id']))}">{$children.title}</a></li>
                </volist>

            </ul>
</div>
</if>
</volist>


</div>





