#header{width:977px;}
#content{width:950px;}
#banner{width:950px;}
#footer{width: 950px;}
a:link,a:visited{color:#4b4239;}
a:hover,a:active{color:#4e9c2f;}

body{color:#4b4239;background:#4a982a url("images/bodybg.png") repeat-x;}
.tbbd{background:#4a982a url("images/bodybg.png") repeat-x;}
.cwrap{background:url("images/cwrap.png") repeat-y center top;padding-bottom:15px;width:997px;margin:0 auto;}
#header{background:url("images/header.png") no-repeat right top;}
.mhd span a:link, .mhd span a:visited {color: #a37746;}
.col-main .mhd span a:link,.col-main .mhd span a:visited{color:#8dc378;}
.col-sub{border:1px #e9eae2 solid;background:#e9eae2;}
.content{margin-top:10px; background:#FFF;}
#header h1,#header p{float:left;}
#header h1{margin-top:40px;}
#header p{margin-left:20px;color:#fff;height:149px;line-height:149px;}
.menu a:link,.menu a:visited{color: #50b326;margin-right:10px;}
.menu a.topico02{background:url("images/collt.png") no-repeat 0 5px;}

.nav{height:60px;line-height:46px;background:url("images/nav.png") repeat-x;position:relative;}
.nav li{background:url("images/li.png") no-repeat right;padding-left:8px;padding-right:8px;}
.nav li a{width:94px;text-align:center;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") repeat-x center;}

.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,.nav a:active,.nav a:focus,
.nav a.active,.nav a:visited.active{color:#133a10;font-weight:bold;}

.navl,.navr{width:5px;height:46px;position:absolute;top:0;}
.navl{left:0;background:url("images/navl.png") no-repeat;}
.navr{right:0;_right:-1px;background:url("images/navr.png") no-repeat;}

#banner{background:#fff;border-bottom:3px #387619 solid;padding-bottom:1px;}

.col-sub .mhd{border-bottom:1px #cecece solid;margin:0 10px;}
.col-main .mhd{border-bottom:1px #a8d60d solid;}
.col-sub .mhd h3{background:url("images/subh3.png") no-repeat 5px center;padding-left:28px;}
.col-main .mhd h3{background:url("images/mainh3.png") no-repeat 6px center;padding-left:20px;}
.n_ico .mhd h3{background:url("images/nicon.png") no-repeat 5px center;}
.col-sub .mbd,.col-sub .mbd a:link,.col-sub .mbd a:visited{color:#4e9c2f;}
.col-sub .mbd a:hover,.col-sub .mbd a:active{color:#000;}
.col-sub .n_ico span a:link,.col-sub .n_ico span a:visited{color:#8dc378;}
.col-sub .n_ico span a:hover,.col-sub .n_ico span a:active{color:#000;}

.prodt_con .mbd{padding-left:24px;padding-right:24px;}
.col-extra{display:none;}
.mbox,.feedback{padding-bottom:10px;}

.contact .mbd,.job .mbd{padding-top:8px;}
.minheight {height: auto !important;min-height: 30px;}
.prodt_list .mbd{padding-left:2px;}
.prodt .mbd{padding-left:1px;}
.plinks .mbd li{margin:12px 3px 0 12px;}
input,textarea{background:#fff;border:1px #ddd solid;}
.job_con table,.guest table{border-top:1px solid #dadada;border-left:1px solid #dadada;border-right:1px solid #dadada;}
.job_con td,.guest td{background:none;border-bottom:1px solid #dadada;border-left:1px solid #dadada;}
.job_con th,.guest th{background:#ecede7;border-bottom:1px solid #dadada;border-left:1px solid #dadada;}
.cate_list .mbd li{border-bottom:1px #c2c2c2 dashed;background:url("images/cate_list_ico.png") no-repeat 7px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#4e9c2f;}
.down_list .mbd li h2{border-bottom:1px #c2c2c2 dashed;background:url("images/cate_list_ico.png") no-repeat 7px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:20px center;padding-left:32px;}
.down_list .mbd li {line-height:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 7px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 20px center;border-bottom:1px #c2c2c2 dashed;}
.mbd form {margin-bottom: 0px;}
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #cbccce solid;background:#fff;color:#656565;}
.g_page a:link,.g_page a:visited{color:#656565;}
.g_page .current,.g_page a:hover{background:#b8c31e;color:#e4f0c1;border:1px #ceda9d solid;}


.notice_con p{border-bottom:1px #d6d7d1 dashed;}
.notice_con p.active{background:#efefe9;}

.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 5px center;padding-left:18px;border-bottom:1px #ccc dotted;}
.seabox .mhd .r{margin-right:10px;_margin-right:6px;padding-top:1px;_padding-top:4px;}

.feedback a{background:url("images/feedback.png") no-repeat;width:240px;}

.titinput,.titbtn{margin-bottom:5px;}
.title{border-bottom:1px #cdcdcd solid;}
.title h2{color:#000;}
.title p{color:#999;}

.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.mhd button{background:url("images/sbtn2.png") no-repeat;color:#fff;}

.guest input.inputSubmit,.guest input.inputSubmit_reset{color:#fff;width:58px;height:23px;line-height:23px;}
.guest input.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.guest input.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;color:#666;}

.contact_con dt{color:#4e9c2f;}
.contact_con dd{ background: url("images/contact_line.png") no-repeat left bottom;}
.fwrap{background:url("images/fwrap.png") repeat-y center;padding-top:10px;width:999px;margin:0 auto;padding-bottom:15px;}

.pipe {color:#fff;}
#footer {color:#fff;line-height:23px;}
#footer a:link, #footer a:visited {color: #fff;}
#footer a:hover {color: #fff;}
#footer .support a:link, #footer .support a:visited{color: #fff;}