@charset "UTF-8";
html, body{
	height:100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body img{
	max-width: 100%;
}
a img{
	max-width: none;
}
*{
	outline: none;
}
img{
	max-width: 100%;
}
a {
	color: #555;
	text-decoration:none;
}
pre{
	white-space: pre-wrap;
}
*:focus{
	outline:none;
}
a:focus{
	outline:none;
}
input:focus{
	outline:none;
}
button:focus{
	outline:none;
}
button:active{
	outline:none;
}
ul {
	padding:0;
	margin:0;
}

.ebcms-refresh{
	cursor: pointer;
}
.ebcms-overflow{
	cursor: pointer;
	display: block;
	width: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.help-block{
	word-break: break-all;
	white-space: pre-wrap;
}

.webuploader-pick {
	padding: 6px 0 !important;
	width: 100%;
}

.box{
	width: 100%;
	height: 100%;
	overflow: auto;
}
.header{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 44px;
	width: 100%;
	padding: 5px;
	background: #F8F8F8;
	border-bottom: 1px solid #b7d2ff;
}
/*表格表头*/
.body{
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	top: 45px;
	bottom: 45px;
	padding: 5px;
	overflow: auto;
}
.footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 45px;
	padding: 5px;
	border-top: 1px solid #b7d2ff;
}
.modal-body .header,.modal-body .body,.modal-body .footer {
	position: static;
}
.layout{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.layout-left{
	position:relative;
	float:left;
	height: 100%;
	overflow: auto;
	width:50%;
	margin-right:-50%;
}
.layout-rightbox{
	height: 100%;
	overflow: hidden;
	float:right;
	width:100%;
}
.layout-right{
	margin-left:50%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/*表单切换*/
.tabs{
	overflow: auto;
	padding: 0px;
}
.tabs .tab-head{
	width: 100px;
	float: left;
	border: 1px solid #ddd;
	text-align: center;
	margin: 0px 10px 10px 0;
	cursor: pointer;
	line-height: 30px;
	border-color: #237077;
	color: #237077;
}
.tabs .current{
	color: #FFF;
	font-weight: bold; 
	background-color: #237077;
}
.tabboxs{

}
.tabboxs .tab-body{
	display: none;
	overflow: hidden;
}

.table-ebcms{
}
.table-ebcms th,.table-ebcms td{
	vertical-align: middle !important;
}

/*超出隐藏*/
.text-overflow{
	display: block;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*应用商店模块*/
.store-list{
	padding: 12px;
	margin: 15px 0;
	height: 137px;
	border: solid #ddd 1px;
}
.store-list h4{
	margin-bottom: 10px;
}
.store-list img.logo{
	width: 60px;
	height: 60px;
	margin: 20px;
}
.store-list .media-body{
	padding: 5px 0 5px 20px;
	border-left: 1px solid #ddd;
}
.table-form{
	margin-bottom: 0;
}
.table-form th, .table-form td{
	border-top: none !important;
	padding: 10px !important;
}
.table-form tbody th{
	text-align: right;
	width: 10em;
}
@media (max-width: 500px) {
	.table-form tbody th{
		text-align: right;
		width: 5em;
	}
}