.idea/
.logs/
nbproject/
_demo/
demo/
demo/doc/
demo/tmp/
demo/export/
temp/
phar/
tmp/
vendor/
composer.lock
.phpunit.result.cache
tests/.phpunit.result.cache
tests/upload/**
tests/upload/**/*
tests/tmp/