APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

QINIU_DOMAIN_DEFAULT=
QINIU_DOMAIN_HTTPS=
QINIU_DOMAIN_CUSTOM=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_NOTIFY_URL=
QINIU_ACCESS=

TASK_SQL_FILE_PATH=
WWW_SQL_FILE_PATH=

SENTRY_DSN=https://82ae6655523c4254a472a553336bd607:b82e6a16a0f24698ab6f82d884c1efcd@sentry.io/273775

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

WEIBO_CLIENT_ID=
WEIBO_CLIENT_SECRET=
