@CHARSET "UTF-8";

#pager ul.pages {  
display:block; 
border:none;  
text-transform:uppercase;  
font-size:14px;
font-family:微软雅黑;
padding-bottom:2px;
margin-top:0px;
}  
  
#pager ul.pages li { 
margin-top:3px; 
list-style-type:none;  
float:left;  
text-decoration:none;  
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
margin-right:5px;
color:#666;
}  
  
#pager ul.pages li:hover {  
color:#000;
background-color:#F1F1F1;
}  
  
#pager ul.pages li.pgEmpty {  
color:#666;  
border: 1px #f2f2f2 solid;
background-color: #f2f2f2;
font-size:15px;
} 

.pgNext{
color:#666;  
border: 1px #f2f2f2 solid;
background-color: #f2f2f2;
font-size:15px;
}
.pgNext:hover{
color:#fff;  
border: 1px #ccc solid;
background-color: #ccc;
font-size:15px;
}
#pager ul.pages li.pgCurrent span{  
color:red;  
background-color:#f1f1f1;  
} 