<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="post">
        <input type="hidden" name="pageSize" value="">
        <input type="hidden" name="pageCurrent" value="">
        <input type="hidden" name="orderField" value="">
        <input type="hidden" name="orderDirection" value="">
        <div class="bjui-searchBar">
            <label>书名</label>
            <input type="text" id="keyword" value="{$keyword}" name="keyword" class="form-control" size="10">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="70">No.</th>
                <th width="150">书名</th>
                <th width="70">作者</th>
                <th width="200">简介</th>
                <th width="100">类型</th>
                <th width="100">状态</th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="page_list" item="item" >
            <tr data-id="{$item.id}">
                <td>{$key+1}</td>
                <td>{$item.book_name}</td>
                <td>{$item.author}</td>
                <td>{$item.summary}</td>
                <td>{$item.category_name}</td>
                <td>{$item.book_status}</td>
                <td>
                    <eq name="item.book_type" value="1">
                    <a class="btn btn-green" href="{:U('Book/addBaidu?gid='.$item[book_id])}" data-toggle="doajax"><span>添加</span></a>
                    <else />
                    <span class="btn btn-default">添加</span>
                    </eq>
                </td>
            </tr>
            </foreach>
            
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30" <eq name="page.pageSize" value="30">selected</eq>>30</option>
                <option value="60" <eq name="page.pageSize" value="30">selected</eq>>60</option>
                <option value="120" <eq name="page.pageSize" value="30">selected</eq>>120</option>
                <option value="150" <eq name="page.pageSize" value="30">selected</eq>>150</option>
            </select>
        </div>
        <span>&nbsp;条，共 {$page.totalCount} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.totalCount}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}"></div>
</div>