<form class="layui-form model-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id|default=0}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">行为标识：</label>
			<div class="layui-input-inline">
				<input name="name" value="{$info.name|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入行为标识" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">行为名称：</label>
			<div class="layui-input-inline">
				<input name="title" value="{$info.title|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入行为名称" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">行为类型：</label>
			<div class="layui-input-inline">
				{:widget('common/select',array('type|1|行为类型|name|id',config('admin.action_type'),isset($info['type']) ? $info['type'] : 1))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">执行类型：</label>
			<div class="layui-input-inline">
				{:widget('common/select',array('execution|1|执行类型|name|id',config('admin.action_execution'),isset($info['execution']) ? $info['execution'] : 1))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">所属模块：</label>
			<div class="layui-input-inline">
				{:widget('common/select',array('module|1|所属模块|name|id',db('menu')->where('type',3)->where('mark',1)->select(),isset($info['module']) ? $info['module'] : 1))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">行为状态：</label>
			<div class="layui-input-inline">
				{:widget('common/switchCheck',array('status','在用|停用',isset($info['status']) ? $info['status'] : 1))}
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">行为规则：</label>
		<div class="layui-input-block">
			<input name="rule" value="{$info.rule|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入行为规则" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">日志规则：</label>
		<div class="layui-input-block">
			<input name="log" value="{$info.log|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入日志规则" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">行为描述：</label>
		<div class="layui-input-block">
			<textarea name="description" placeholder="请输入行为描述" class="layui-textarea">{$info.description|default=''}</textarea>
		</div>
	</div>
	{:widget('common/submit',array('submit|立即保存,close|关闭'))}
</form>
