<extend name="Base/common"/>

<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/home.css"/>

    <!-- 主体 -->
    <!--顶部Banner-->
    <div class="container  home_container"
         style="border-radius: 3px;border: 1px solid #dedede;background-color: #ffffff;width: 1080px">
        <div class="row" style="padding:15px">
            <div class="col-md-9" style="padding-left: 0px;padding-right: 30px;">
                {:hook('imageSlider')}

                <!--幻灯片结束-->

                <!-- 新鲜事-->
                <div class=" row hot_activity">
                    <div class="col-md-12">
                        <h2>新鲜事</h2>
                    </div>

                    <div class="col-md-4">
                        <img src="__IMG__/pp.png">
                    </div>

                    <div class="col-md-8">
                        <div class="square_weibo">
                            <p><b>微博</b></p>

                            <ul class="plaza_ul clearfix">
                                <volist name="weibos" id="vo">
                                    <li class="col-md-6">
                                        <span class="black-squareIcon"></span>
                                        <a class="text-more" title="{$vo.content|op_t}" target="_blank"
                                           href="{:U('weibo/index/weibodetail',array('id'=>$vo['id']))}">{$vo.content|op_t}
                                        </a>
                                    </li>
                                </volist>

                            </ul>

                        </div>

                        <div class="square_tieba">

                            <p><b>帖子</b></p>

                            <ul class="plaza_ul clearfix">

                                <volist name="posts" id="vo">
                                    <li class="col-md-6">
                                        <span class="black-squareIcon"></span>
                                        <a class="text-more" title="{$vo.title|op_t}" target="_blank"
                                           href="{:U('forum/index/detail',array('id'=>$vo['id']))}">{$vo.title|op_t}
                                        </a>
                                    </li>
                                </volist>

                            </ul>

                        </div>


                    </div>


                </div>


                <!--新鲜事-->

                <!--广告位-->
                <div class="square_ad hidden-xs " style="padding: 0px;">
                    {:hook('Advs', 'home_ad1')}
                </div>
                <!--广告位-->

                <!-- 热门活动-->
                <div class="row hot_activity">
                    <div class="col-md-12">
                        <h2 style="">热门活动</h2>
                    </div>

                    <volist name="events" id="event">
                        <div class="col-md-4">
                            <a target="_blank" href="{:U('event/index/detail',array('id'=>$event['id']))}"><img
                                    class="cover" src="{$event.cover_id|getThumbImageById=230,150}"></a>

                            <p><h4><a title="{$event.title|op_t}" class="text-more" style="width: 100%" target="_blank" href="{:U('event/index/detail',array('id'=>$event['id']))}">{$event.title|op_t}</a>
                        </h4></p>
                            <p><img src="__IMG__/er.png">&nbsp;&nbsp;<a>{$event.attentionCount}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="__IMG__/see.png">&nbsp;&nbsp;<a>{$event.view_count}</a></p>
                        </div>
                    </volist>
                </div>
                <!-- 热门活动-->


                <div class="row col-md-12">

                    {:Hook('friendLink')}
                </div>

            </div>


            <div class="col-md-3">
                <div class="square_sider_top">
                    <p><img src="__IMG__/ww_01.png"><a target="_blank"
                                                       href="{:U('weibo/index/index')}">{$weibo_count}</a>&nbsp;&nbsp;篇微博
                    </p>
                    <hr>
                    <p><img src="__IMG__/ww_02.png"><a target="_blank"
                                                       href="{:U('forum/index/index')}">{$post_count}</a>&nbsp;&nbsp;个帖子
                    </p>
                    <hr>
                    <p><img src="__IMG__/ww_03.png"><a target="_blank"
                                                       href="{:U('event/index/index')}">{$event_count}</a>&nbsp;&nbsp;个活动
                    </p>

                </div>


                {:W('Weibo/TopUserList/lists',array(null,'score desc','活跃用户','top_home',6))}
                {:W('Weibo/UserList/lists',array(null, 'id desc','最新加入','latest_home',6))}
            </div>
        </div>


    </div>

</block>