{extend name="Public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$title|htmlspecialchars}</h2>
		</div>
		<div class="pull-right">
			{volist name="buttonList" id="button"}
			<{$button.tag} {$button.attr}>{$button.title|htmlspecialchars}</{$button.tag}>&nbsp;
			{/volist}
		</div>
	</header>
	<div class="main-box-body clearfix">
		{if condition="empty($list)"}
		<p>暂无数据！</p>
		{else/}
		<div class="table-responsive clearfix">
			<table class="table table-striped ">
				<!-- 表头 -->
				<thead>
					<tr>
						<th class="row-selected row-selected">
							<input class="check-all" type="checkbox"/>
						</th>
						{volist name="keyList" id="field"}
							<th>{$field.title|htmlspecialchars}</th>
						{/volist}
					</tr>
				</thead>
				<!-- 列表 -->
				<tbody>
					{volist name="list" id="e"}
						<tr>
							<td>
								<input class="ids" type="checkbox" value="{$e['id']}" name="ids[]"></td>
							{volist name="keyList" id="field"}
								<td>{$e[$field['name']]}</td>
							{/volist}
						</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{/if}
		{$pagination}
	</div>
</div>
{/block}