<extend name="Layout/ins_page" />
<block name="content">
{:W('PageHeader/simple',array('name'=>'编辑系统参数','search'=>'N'))}
<div class="operate panel panel-default">
	<div class="panel-body">
		<div class="pull-left">
			<a onclick="go_return_url();" class="btn btn-sm btn-primary">返回</a>
		</div>
		<div class="pull-right">
			<a onclick="save();"  class="btn btn-sm btn-primary">保存</a>
			|
			<a onclick="del();"  class="btn btn-sm btn-danger">删除</a>
		</div>
	</div>
</div>
<form method='post' id="form_data" action="{:U('update')}" class="well form-horizontal">
	<table class="table table-bordered">
		<input type="hidden" name="opmode" id="opmode" value="edit">
		<input type="hidden"  id="id" name="id" value="{$vo.id}">
		<div class="form-group col-xs-12">
			<label class="col-sm-4 control-label" for="code">代码*：</label>
			<div class="col-sm-8">
				<input class="form-control" value="{$vo.code}" type="text" id="code" name="code" check="require" msg="请输入代码">
			</div>
		</div>
		<div class="form-group col-xs-12">
			<label class="col-sm-4 control-label" for="name">名称*：</label>
			<div class="col-sm-8">
				<input class="form-control" value="{$vo.name}" type="text" id="name" name="name" check="require" msg="请输入名称">
			</div>
		</div>

		<div class="form-group col-xs-12">
			<label class="col-sm-4 control-label" for="val">数据*：</label>
			<div class="col-sm-8">
				<input class="form-control" value="{$vo.val}" type="text" id="val" name="val" check="require" msg="请输入数据">
			</div>
		</div>
		<div class="form-group col-xs-12">
			<label class="col-sm-4 control-label" for="sort">排序：</label>
			<div class="col-sm-8">
				<input class="form-control" value="{$vo.sort}" type="text" id="sort" name="sort" >
			</div>
		</div>
		<div class="form-group col-xs-12">
			<label class="col-sm-4 control-label" for="is_del">状态*：</label>
			<div class="col-sm-8">
				<select   name="is_del" id="is_del" class="form-control">
					<option value="0">启用</option>
					<option value="1">禁用</option>
				</select>
			</div>
		</div>
</form>
</block>
<block name="js">
<script type="text/javascript">
	function save() {
		sendForm("form_data", '{:U("save")}');
	}

	function del() {
		var vars = $("#form_data").serialize();
		ui_confirm('确定要删除吗?',function(){
			sendForm("form_data", "{:U('del')}");
		});
	}

	$(function() {
		set_val('is_del', "{$vo.is_del}");
	}); 
</script>
</block>