<extend name="Public/base"/>
<block name="body">
	
    <div class="am-container">
        <!-- 面包屑 -->

			<ol class="am-breadcrumb">
				<li><a href="{:U('Index/index')}">{:C('WEB_SITE_TITLE')}</a></li>
				<li><a href="{:U('Goods/cate',array('id'=>$goods['cate_id']))}">{$goods['cate_id']|get_goods_category_name}</a></li>
				<li class="am-active"> {$goods['name']}</li>
			</ol>
        <!--items start-->
		<div class="am-g" style="width:900px;margin: auto">

				<div class="goods-header am-fl">
					<div class="goods-img am-fl">
						<a class="show_big buy" title="{$goods['name']}">
							<img class="am-img-responsive" alt="{$goods['seo_title']}" src="{$goods['pic_url']}" >
						</a>
					</div>
					<div class="goods-info am-fl">
						<h3 class="title">{$goods['name']}</h3>
						<div class="goods-price">
	                        <span class="now-price">
								 所需积分
	                            <i class="price">{$goods['price']|ceil}</i>
	                        </span>
						</div>

						<div class="goods-buy">
							<button class="am-btn am-btn-danger" onclick="addToCart({$goods['id']})">
								<span>立即兑换</span>
							</button>
						</div>

					</div>

	            </div>
	           


				<div class="goods-body-part am-fl" style="margin-top: 20px;">
					<ul class="am-tabs-nav am-nav am-nav-tabs">
						<li class="am-active"><a href="javascript: void(0)">商品详情</a></li>
					</ul>

					<div class="am-tabs-bd con">
						<div class="am-tab-panel am-active">
							{$goods['item_body']}
						</div>
					</div>
				</div>
    </div>
</div>
    <!-- /主体 -->
  
  

</block>

