<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^archives/([0-9]+)\.([a-zA-Z0-9]+)$ /index.php?r=index/article/view&id=$1 [L]
RewriteRule ^category/(id|tag|all)/(.*?)/([0-9]+)\.([a-zA-Z0-9]+)$ /index.php?r=index/article/list&type=$1&val=$2&page=$3 [L]
RewriteRule ^([a-zA-Z0-9\/]+)\.([a-zA-Z0-9]+)(\??)(.*?)$ /index.php?r=$1&$4 [L]
</IfModule>