@charset "utf-8";
.rater-star {padding-right: 0px; background-position: left top; padding-left: 0px; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px; background-repeat: repeat-x; list-style-type: none; position: relative; 
}
.rater-star-item {left: 0px; background-repeat: repeat-x; position: absolute; top: 0px;}
.rater-star-item-current {left: 0px; background-repeat: repeat-x; position: absolute; top: 0px}
.rater-star-item-hover {left: 0px; background-repeat: repeat-x; position: absolute; top: 0px}
.rater-star-item {background-position: -100% -100%;}
.rater-star-item-hover {background-position: 0px -48px; cursor: pointer}
.rater-star-item-current {background-position: 0px -48px; cursor: pointer}
.rater-star-happy.rater-star-item-current {background-position: 0px -25px}
.rater-star-happy.rater-star-item-hover {background-position: 0px -25px}
.rater-star-full.rater-star-item-current {background-position: 0px -72px}
.popinfo {display: none; background: url(infobox-bg.gif) no-repeat; margin-left: -14px; width: 192px; padding-top: 8px; position: absolute; top: 30px}
.popinfo .info-box {border-right: #f00 1px solid; padding-right: 5px; border-top: #f00 0px solid; padding-left: 5px; background: #fff; padding-bottom: 0px; border-left: #f00 1px solid; color: #f60; padding-top: 0px; border-bottom: #f00 1px solid}
.rater-star-item-tips {background: url(star-tips.gif) no-repeat 0px 0px; overflow: hidden; height: 41px}
.rater-star-item-tips.cur {display: block}
.rater-star-result{float:left;padding-left:20px;}