<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>{$title}</title>
    <link rel="stylesheet" href="__PUBLIC__/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/swiper.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/common.css"/>
</head>
<script type="text/javascript">
var ad_status = '{$ad_status}';
if (ad_status == 0){
	location.href = '{$url}';
}
</script>
<body >

<div id="verify_hread" >
	<span id="verify_hread1">正在认证，请稍候...</span>
	<div class="progress" style="border-radius:0;height: 5px;">
  		<div class="progress-bar progress-bar-success" id="progressbar1"  style="width: 100%; "></div>
	</div>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
    	<volist name="ad_list" id="v">
			<div class="swiper-slide"><img src="__PUBLIC__/admin/upload/merchant_ad/{$v.image}"></div>
		</volist>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>



<script src="__PUBLIC__/static/js/jquery.min.js"></script>
<script src="__PUBLIC__/static/js/swiper.min.js"></script>


		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        paginationClickable: true,
		        loop: true,
		        autoplay: 3000,
		        autoplayDisableOnInteraction: false
		    });
			var temp = {$ad_times};
			if (!temp || temp <3){
				temp = 3;
			}
			var s = avTimeout = temp*10;
		
			
			avT(); 
			var p = 100;
			function avT(){
				if(avTimeout == 0){
					<if condition="($is_login) AND ($url) "> 
						location.href = '{$url}';
					<else />
						$('#verify_hread1').css('color', 'red').html('您还未登录');
						setTimeout(function(){
							//跳转到任意地址，重定向到登录页面
							window.location = 'http://www.ispwlan.com/';
						}, 3000);
					</if>
					//
					return false;
				}else if(avTimeout < 5){
					$('#progressbar1').css('width', '0%');
					avTimeout--;
					setTimeout("avT()",100);
				}else{
					avTimeout--;
					p = p-(100/s);
					$('#progressbar1').css('width', p+'%')
					setTimeout("avT()",100);
				}
			}		
	

		</script>

</body>
</html>