@CHARSET "UTF-8";.wst-brand-cat{margin:10px 0 20px 0;padding:10px 20px;border:1px solid #dddbdb}
.wst-brand-cat{margin:10px 0 0px 0;padding:10px 20px;border:1px solid #dddbdb}
.wst-brand-catt{height:23px;color:#333;border-bottom:1px dashed #b5b5b5}
.wst-brand-cat span{float:left;margin:8px 60px 0 0;padding:8px 5px}
.wst-brand-cat span:hover{cursor:pointer;color:#fff;background:#fc6047;border-radius:3px}
.js-selected{cursor:pointer;color:#fff;background:#fc6047;border-radius:3px}
.wst-brands{float:left;border-bottom:1px solid #f5f5f5;border-right:1px solid #f5f5f5;position:relative;}
.wst-brands:hover .js-name{opacity: 1;}
.wst-brands.right{border-right:0;}
.wst-brand-img{width:101px;height:101px;text-align:center;vertical-align:middle;display:block;margin:9px;}
.wst-brand-img .img{width:101px;height:101px;display:table-cell;vertical-align:middle;}
.wst-brand-img .img img{max-width:101px;max-height:101px;background: #fff;}
.js-name{width: 100%;height: 100%;position: absolute;left: 0; top: 0;z-index: 1;background-color: rgba(0,0,0,.8);transition: all .3s ease-out;opacity: 0;}
.js-name .name{text-align:center;height:60px;line-height:90px;color:#fff;font-family:fantasy;}
.js-name .into{text-align: center;height: 32px;}
.js-name .into span{display: inline-block;color: #fff;width: 63px;height: 18px;font-size: 12px;line-height: 15px;background-color: #FF0036;border-radius: 9px;}
.brandsPaging{padding:20px 0 50px 480px}
.wst-brands-list{margin-top:20px;background-color: #fff;}
.wst-brands-list li{-webkit-perspective:400px;perspective:400px}
.wst-brands-list:after{content:"";display:table;clear:both}
.wst-brands-list li{position:relative;float:left;width:119px;height:119px;padding:0;list-style:none}
.wst-brands-list p{float:left;width:100%;color:#fff;font-size:20px;text-align:center}
.info,.info:after,.info:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}