@CHARSET "UTF-8";
tr{display:table-row;vertical-align:inherit;border-color:inherit;display: block;border-bottom: 1px dashed #eee;margin-left: 10px;padding: 5px 0px;}
.wst-msg-tips-box{background-color:#f0a869;border-radius:12px;color:white;cursor:pointer;display:inline-block;height:24px;left:30px;line-height:24px;position:relative;text-align:center;top:0;width:24px}
.msgContent{padding:10px}
.wst-sec-but{outline:0;background:#e45050;color:#fff;border:1px solid #d33110;border-radius:3px;cursor:pointer}
.u-btn{width:80px;height:30px;font-weight:bold;cursor:pointer}
.u-btn:hover{background:#ea3232 none repeat scroll 0 0;cursor:pointer}
.s-btn{margin:10px}
.wst-complain-order-head{width:240px;height:30px;line-height:30px;border-bottom:1px solid #ddd;font-weight:bold;padding:5px 10px;background:#f5f5f5}
.wst-feedback-box input,.wst-feedback-box textarea{background-color:white;border:1px solid #f1f1f1;border-radius:4px;font-family:inherit;font-size:100%;margin:3px;padding:5px;vertical-align:middle}
.wst-feedback-main{float:right;width:1198px;margin-top: 10px;overflow:hidden;border:1px solid #ddd;border-bottom: 0px;}
.wst-complain-footer{clear:both;width:1198px;text-align:center;padding:10px 0;border:1px solid #ddd;}
.wst-feedback-box{width:1200px;margin: 10px 0px;}
.fb-box{width: 1200px;margin: 0 auto;}
.bc-nav{width:100%;height:35px;}
.bc-nav{line-height:35px}
.bc-nav>p{width:1200px;margin:10px auto}
.bc-nav>p>a{color:gray}
.wst-feedback-box-tit{width: 100px;text-align: right;line-height: 40px;padding-right: 10px;}
.wst-feedback-box .ipt{padding: 5px 10px;color: #666;}
.n-default .n-left, .n-default .n-right{margin-top: 0px !important;}