.glist-box{padding: 0 17px;}
.goods-item:nth-child(6n){
  margin-right: 0;
}
.goods-item{
  float: left;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.goods-item img{
  width: 100%;
  height: 150px;
}
.goods-item p{
  height: 45px;
  padding:5px;
  width: 150px;
  box-sizing: border-box;
  word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;

}
.wst-fl,.num{float:left}
.os-chk{margin: 0 5px!important;width: 15px;height: 23px;}
.buy-btn{color:#666;background:#eeeeee;cursor: pointer;float:left;display:block;height:20px;line-height:20px;padding:0px 5px;border:1px solid #ddd;}
input[type="text"].buy-num{
  height:16px;text-align:center;width:30px;float:left;border-left:0px;border-right:0px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
  border-radius: 0;
  margin: 0px;
}   
.opa-box{
  box-sizing: border-box;
  height: 300px;
  margin: 0 16px;
  padding-left: 50px;
  padding-top: 20px;
}
.opa-item{
  margin-top: 10px;
}
.opa-i-r{
  margin: 3px;
}
.opa-item em{
  color: #e4393c;
}
.opa-item span{
  color: #666;
  padding-right: 10px;
}
.opa-t-item:hover{color: #666;}
.opa-t-item{
  display: inline-block;
  border: 1px solid #ebebeb;
  cursor: pointer;
  text-align: center;
  height: 18px;
  line-height: 18px;
  padding: 6px 28px;
  margin-right: 10px;
}
.oti-selected{
  padding: 5px 27px;
  border:2px solid #e4393c;
}
.btn-box{
  box-sizing: border-box;
  margin: 15px;
}
.btn-box .commit-btn{
  display: block;
  width: 50px;
  text-align: center;
  padding: 5px 15px;
  background: #e4393c;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}