.gImg{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.fl{float: left;}
.g-info{
    float: left;
    width:80%;
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
}
.j-order-row td{text-align: center;}
.service-box{
    margin:15px 0;
}
.refund-money{
    padding: 5px;
    color: red;
}
.time-line-box{
}
.tl-tit{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
.tl-item:last-child{
    border:none;
}
.tl-item{
    margin-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.tl-img{
    width: 50px;
    height: 50px;
    display: block;
}
.tl-info{
    padding-top: 4px;
    padding-left: 8px;
    width: 90%;
}
.tl-r-t span{
    float: left;
    display: block;
    padding-bottom: 5px;
}
.tl-time{
    float: right !important;
    color: #9c9c9c;
}
/* 物流盒子 */
.express-box{
    margin: 10px 0;
    box-sizing: border-box;
}
.pdl5{
    padding-left: 5px;
}