
/**支付方式**/
.pay-box{border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-top:1px solid #eeeeee;padding:5px 0px 10px 5px;}
.pay-boxs{padding:10px 0px 5px 5px;}
.pay-box ul{padding-left:15px;}
.pay-box ul li{width:1185px;}
.pay-box .label{width:200px;float:left;height:30px;line-height:30px;}
.pay-box .txt{height:auto;line-height:30px;width:985px;float:left;color:#999999;}
.pay-sbox{padding:5px 0px;}
.pay-sbox-head{border-bottom: 2px solid #ddd;line-height:35px;}
.pay-tip1{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -10px;background-size: cover; }
.pay-tip2{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -71px;background-size: cover; }
.pay-tip3{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -132px;background-size: cover; }
.pay-sbox .qrcode-box{min-height: 300px;height: auto;}
.pay-sbox .tips-box{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .qrcode-box .pbox{text-align: center;margin-top: 10px;font-weight: bold;}
.pay-sbox .wst-qrcode{width:260px;height:260px;text-align:center;margin:0 auto;}
.pay-sbox .wst-qrcode img{width:260px;height:260px;}
.pay-sbox .bnt-box{line-height:35px;text-align:center;font-weight: bold;padding:5px 10px;line-height:50px;}
.pay-sbox .pay-type{text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .pay-list{text-align: left;font-weight: bold;padding:5px 20px;}
.pay-sbox .succ-box{text-align: center;padding: 50px;}
.wst-payCode-weixinpays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-weixinpays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.pay-sbox .wst-pay-bnt {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px 0px;cursor:pointer;}
.pay-sbox .wst-pay-bnt:hover {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px -57px;cursor:pointer;}
.charge-money{font-size:18px;}
.charge-alone{line-height:50px; }
.charge-doub{padding-top: 8px;}
.charge-othermoney{width:80px;}
.j-charge-money{display: none;}
.j-show-box,.j-edit-box,.j-list-box,.wst-list-box{padding:5px 0px 20px 15px;}
.j-list-box li{height:40px;line-height:40px;}
.j-edit-box .rows{width:auto;height:auto;}
.j-edit-box .label{float:left;width:120px;text-align:right;padding:2px 0px 2px 0px;}
.j-edit-box .field{float:left;padding:2px 0px 2px 0px;}
.field label{margin-right:20px;}
#saveAddressBtn{margin-left:120px;}
.j-show-box .address{line-height:36px;}
.j-show-box .address a{color: #1c9eff;}
.j-show-box .address a:hover{text-decoration:underline;}
.j-default{padding:5px;background:#f1f1f1;}
.wst-frame1{float: left;width:180px;margin: 2px 8px 2px 0px;background: #fff;border: 1px solid #f1f1f1;padding:7px;cursor: pointer;text-align:center;overflow: hidden;position: relative;}
.wst-frame2{min-height:50px;float: left;min-width:120px;margin: 2px 20px 2px 0px;background: #fff;border: 1px solid #f1f1f1;padding:7px;cursor: pointer;text-align:center;overflow: hidden;position: relative;}
.wst-frame1.j-selected i,.wst-frame2.j-selected i{font-size: 0;line-height: 0;background: url(../img/img_gd_sel.png) no-repeat 0 0;display: block; width: 11px;height: 11px;position: absolute;z-index: 1;right: -1px;bottom: -1px;}
.wst-frame1.j-selected,.wst-frame2.j-selected{border: 2px solid #e4393c;padding:6px;}
.wst-form input.charge-othermoney{padding: 8px;}