.wst-shop-h{padding:10px 0}
.wst-shop-img{float:left;margin-top:3px;width:90px;height:90px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shop-img img{max-width:90px;max-height:90px;border-radius:5px}
.wst-shop-info{float:left;width:47%;margin-left:10px}
.wst-shop-info p{float:left;line-height:50px;width:100%;color:#222;font-size:17px;font-family:"microsoft yahei"}
.wst-shop-info2,.wst-shop-info3{float:left;width:100%}
.wst-shop-info2 img{float:left;width:16px;margin-right:3px}
.wst-shop-info2 span{float:left;color:#dda315;margin-right:10px}
.wst-shop-info3{margin-top:7px}
.wst-shop-code{float:left;margin-top:-3px;width:24px;height:24px;cursor:pointer;background:url(../img/img_sjck.png) no-repeat;background-size:100%}
.wst-shop-codes{width:131px;height:131px;margin-top:24px;border:1px solid #dedbdb;position:absolute;z-index:1000;background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:5px}
.wst-shop-codes:after{top:-16px;border-color:transparent transparent #fff}
.wst-shop-eva,.wst-shop-evaa{float:left;margin-right:16px}
.wst-shop-evaa{padding-left:20px}
.wst-shop-location{cursor: pointer;}
.wst-shop-info3 .j-fav3{background: url(../img/location.png) -2px -1px no-repeat;background-size: 29%;}
.wst-shop-info3 .j-fav,.wst-shop-info3 .j-fav:hover{background:url(../img/iconfont_guanzhu_sel.png) 1px 2px no-repeat}
.wst-shop-info3 .j-fav2{background:url(../img/iconfont_guanzhu_nor.png) 0 1px no-repeat;transition:background-position .15s ease-in-out 0s}
.wst-shop-info3 .j-fav2:hover{background:url(../img/iconfont_guanzhu_nor.png)0 -23px no-repeat;text-decoration:none}
.wst-shop-red{color:#e25041}
.wst-shop-tu{text-align:center;width:100%;height:auto;overflow-y: hidden;}
@media screen and (max-width:1200px){.wst-shop-tu{min-width:1200px}
.s-wst-nav-menus{min-width:1200px}}
.homepage{margin-top:6px;padding:0 8px;height:22px;line-height:22px;color:#fff;border:1px solid #fff;font-size:13px!important}
.homepage:hover{color:#fc6047;background:#fff;border:1px solid #fc6047}
.s-wst-nav-menus{background:#ff6a53;width:100%;margin:0 auto;height:38px}#s-wst-nav-items ul{width:1200px;margin:0 auto}
.s-nav-li a{color:#fff;font:400 15px/36px "microsoft yahei";height:36px;padding:0 15px;text-align:center;text-decoration:none}
.s-nav-li{float:left;padding:0 16px;height:38;line-height:36px}
.s-cat-head>a{color:#fff;font:400 15px/36px "microsoft yahei"}
.s-cat-head-hover{background:#df2003}
.s-cat-head{display:block;height:38px;padding:0 10px;text-decoration:none;width:190px}
.wst-shop-sea{float:right;width:42.999999%;margin-top:20px}
.wst-shop-sea input{float:left;outline:0;font-size:15px;height:28px;width:360px;margin-right:3px;padding-left:8px;border:1px solid #fc6047}
.wst-shop-sea .search{float:left;width:60px;height:34px;line-height:32px;text-align:center;color:#fff;margin-left:6px;background:url(../img/img_bg_search.png) no-repeat}
.wst-shop-word{float:left;margin-top:8px;width:100%;height:18px;overflow:hidden}
.s-cat-head em{margin-top:10px;margin-right:-10px;display:block;width:16px;height:16px;float:left;background:url(../img/icon_class_zydp.png) no-repeat}
.shop-ct1-ct2{width:200px;height:15px;overflow:hidden;padding:5px 0;border-bottom:1px solid #e7e7e7}
.ct1-hover{background:#ff6a53;color:#fff}
.ct1-hover h3 a{color:white}
.ct1-hover .shop-ct1-ct2{border-bottom:0}
.ct1-hover .shop-ct1-ct2 a{color:white}
.shop-cat2{display:none}
.shop-cat1 h3{float:left;margin-left:3px;margin-top:2px}
.shop-cat1-title{width:220px;height:26px;margin-top:15px}
.shop-cat1{position:relative}
.shop-cat1{width:190px;height:66.3px;float:left;padding:0 10px}
.em1,.em2,.em3,.em4,.em5,.em6{float:left;display:block;width:18px;height:18px;background:url(../img/sprite@1x.png) no-repeat}
.em1{background-position:-38px -106px}
.em2{background-position:0 -105px}
.em3{background-position:0 -144px}
.em4{background-position:-75px -106px}
.em5{background-position:-106px -38px}
.em6{background-position:-143px -38px}
.shop-cat2{width:500px;max-height:400px;float:right;overflow:hidden;position:absolute;left:210px;top:0;z-index:998;background:#f0f0f0;border:2px solid #ff6a53}
.shop-cat2 li{float:left;padding:5px 16px;width:84px}
.shop-cat2 li a:hover{color:#df2003}
.s-cat{z-index:998;display:none;position:absolute;width:210px;height:400px;background:#fff}
.history-box{width:1200px;height:360px;margin:0 auto;margin-top:20px}
.history-title{width:100%;background:#ddd;height:30px;margin-bottom:10px}
.history-title p{float:left;line-height:30px;text-indent:10px}
.history-goods-list{width:1200px;height:320px}
.history-goods-list .s-goods{width:233px;margin:0 -1px 5px 5px;border:1px solid #e5e5e5;float:left}
.history-goods-list .s-goods-h:hover{border:1px solid #df2003;-webkit-box-shadow:0 0 10px #df2003;-moz-box-shadow:0 0 10px #df2003;box-shadow:0 0 10px #df2003}
.history-goods-list .s-goods .img{width:233px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative;display:table-cell;padding:4px}
.history-goods-list .s-goods .img a{display:table-cell;vertical-align:middle;width:233px;height:233px}
.history-goods-list .s-goods .img a img{max-width:210px;max-height:210px}
.history-goods-list .s-goods .p-price{padding:5px 0 5px 10px;font-weight:bold;color:#df2003;width:115px;float:left}
.history-goods-list .s-goods .p-hsale{padding:5px 10px 5px 0;width:95px;float:right;text-align:right}
.history-goods-list .s-goods .p-market{padding:5px 0 5px 10px;font-weight:bold;color:gray;width:95px;float:left}
.history-goods-list .s-goods .p-appraise{padding:5px 10px 5px 0;width:95px;float:right;text-align:right}
.history-goods-list .s-goods .p-hsale span{font-weight:bold;color:#df2003}
.history-goods-list .s-goods .p-market span{font-weight:bold;color:gray}
.shop_rec_out{width: 100%; margin: 0 auto; }
.s-buy-new-best-hot{width:100%;height:335px;margin-top:30px}
.s-rec{width: 1200px; margin: 0 auto; overflow: hidden; background-image: url(../img/self_shop_rec_bg.png); background-repeat: no-repeat; padding-left: 45px; background-position: 0 13px; }
.s-rec li{height: 35px; line-height: 35px; float: left; border-bottom: 1px solid #ff6a53; }
.s-rec li a{display: block; font-size:21px; font-weight: bold; color: #333; float:left; text-align:center }
.j-s-rec-selected a{color:#df2003!important;}
.s-rec-glistbox{width: 100%; background:-webkit-linear-gradient(right,#ffe9dc, #ffb3ab 40%, #ffe9dc); background:-o-linear-gradient(right,#ffe9dc, #ffb3ab 40%, #ffe9dc); background:linear-gradient(to left,#ffe9dc, #ffb3ab 40%, #ffe9dc); }
.s-rec-goods-list{width: 1200px; overflow: hidden; margin: 0 auto; height: 250px; padding: 10px 0; box-sizing: border-box; }
.s-rec-goods-list li{background-color: #fff; float: left; margin-left: 10px; width: 290px; height: 100%; box-sizing: border-box; position: relative; }
.s-rec-goods-list li:hover .rec_ginfo{opacity: 1; visibility: visible; }
.rec_ginfo{transition:all ease .4s; visibility: hidden; opacity: 0; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 55; top: 0; background-color: rgba(0,0,0,0.5); }
.s-rec-goods-list li a{display:block; width:100%; height:100%; box-sizing: border-box; position: relative; }
.s1-rec-goods-list li:hover{border:1px solid #ff6a53;-webkit-box-shadow:0 0 10px #ff6a53;-moz-box-shadow:0 0 10px #ff6a53;box-shadow:0 0 10px #ff6a53}
.s-rec-goods-list img{position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.s-rec-goods-price{margin-top:5px;text-align: center;}
.s-rec-goods-price>span{font-weight:bold;font-size:21px;color:#df2003}
.s-rec-goods-bottom{width:100%;overflow:hidden;box-sizing: border-box;padding: 0 60px;}
.s-rec-goods-bottom>a{line-height:20px; display:block; border:1px solid #fff; margin-top: 20px; width:80px; height:20px; text-align:center; color:#fff; border-radius:2px; }
.s-rec-goods-bottom>a:hover{background:#ff6a53;color:white;border:1px solid #ff6a53}
.s-rec-goods-desc{width: 100%; height: 41px; line-height: 38px; overflow: hidden; text-align: center; margin-top: 60px; }
.s-rec-goods-desc a{color:#fff;font-size: 20px;}
.s-floor-box{height:685px;width:100%;margin-top:15px}
.s-floor-header{width:1195px;height:36px;background:white}
.c1{border-bottom:1px solid #dc4bd1;border-left:5px solid #dc4bd1}
.c2{border-bottom:1px solid #8a5063;border-left:5px solid #8a5063}
.c3{border-bottom:1px solid #df2003;border-left:5px solid #df2003}
.c4{border-bottom:1px solid lightblue;border-left:5px solid lightblue}
.c5{border-bottom:1px solid #ff8043;border-left:5px solid #ff8043}
.c6{border-bottom:1px solid #24b0ed;border-left:5px solid #24b0ed}
.s-floor-header-f1,.s-floor-header-f2,.s-floor-header-f3,.s-floor-header-f4,.s-floor-header-f5,.s-floor-header-f6{float:left;height:100%;width:20%;margin-top:1px}
.s-floor-header .tab{float:right}
.s-floor-header .tab li{display:block;margin:0;float:left}
.s-floor-header .tab a{font-size:15px;display:block;height:15px;letter-spacing:1px}
.s-floor-header .tab-item1 a{color:gray;border:1px solid #e6e6e6;border-bottom:#dc4bd1;padding:10px}
.s-floor-header .j-tab-selected1 a{background:white;border-left:1px solid #dc4bd1;border-right:1px solid #dc4bd1;border-top:1px solid #dc4bd1;color:#dc4bd1;border-bottom:1px solid white}
.s-floor-header .tab-item2 a{color:gray;border:1px solid #e6e6e6;border-bottom:#8a5063;padding:10px}
.s-floor-header .j-tab-selected2 a{background:white;border-left:1px solid #8a5063;border-right:1px solid #8a5063;border-top:1px solid #8a5063;color:#8a5063;border-bottom:1px solid white}
.s-floor-header .tab-item3 a{color:gray;border:1px solid #e6e6e6;border-bottom:#df2003;padding:10px}
.s-floor-header .j-tab-selected3 a{background:white;border-left:1px solid #df2003;border-right:1px solid #df2003;border-top:1px solid #df2003;color:#df2003;border-bottom:1px solid white}
.s-floor-header .tab-item4 a{color:gray;border:1px solid #e6e6e6;border-bottom:#df2003;padding:10px}
.s-floor-header .j-tab-selected4 a{background:white;border-left:1px solid lightblue;border-right:1px solid lightblue;border-top:1px solid lightblue;color:lightblue;border-bottom:1px solid white}
.s-floor-header .tab-item5 a{color:gray;border:1px solid #e6e6e6;border-bottom:#df2003;padding:10px}
.s-floor-header .j-tab-selected5 a{background:white;border-left:1px solid #df2003;border-right:1px solid #df2003;border-top:1px solid #df2003;color:#df2003;border-bottom:1px solid white}
.s-floor-header .tab-item6 a{color:gray;border:1px solid #e6e6e6;border-bottom:#24b0ed;padding:10px}
.s-floor-header .j-tab-selected6 a{background:white;border-left:1px solid #24b0ed;border-right:1px solid #24b0ed;border-top:1px solid #24b0ed;color:#24b0ed;border-bottom:1px solid white}
.s-floor-right-title a{line-height:36px;font-size:16px;font-weight:bold;letter-spacing:2px}
.s-floor-right-title{height:36px;margin-right:70px;margin-left:5px}
.more{font-weight:bold}
.s-goods-list{width:1200px;border-left:1px solid #e5e5e5;height:634px}
.s-goods-list .s-goods{width:237px;height:316px;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;float:left}
.s-goods-list .s-goods-f1:hover{width:236px;height:316px;border-bottom:1px solid #dc4bd1;border-right:1px solid #dc4bd1;border-left:1px solid #dc4bd1;-webkit-box-shadow:0 0 10px #dc4bd1;-moz-box-shadow:0 0 10px #dc4bd1;box-shadow:0 0 10px #dc4bd1}
.s-goods-list .s-goods-f2:hover{width:236px;height:315px;border-bottom:1px solid #8a5063;border-right:1px solid #8a5063;border-left:1px solid #8a5063;-webkit-box-shadow:0 0 10px #8a5063;-moz-box-shadow:0 0 10px #8a5063;box-shadow:0 0 10px #8a5063}
.s-goods-list .s-goods-f3:hover{width:236px;height:315px;border-bottom:1px solid #df2003;border-right:1px solid #df2003;border-left:1px solid #df2003;-webkit-box-shadow:0 0 10px #df2003;-moz-box-shadow:0 0 10px #df2003;box-shadow:0 0 10px #df2003}
.s-goods-list .s-goods-f4:hover{width:236px;height:315px;border-bottom:1px solid lightblue;border-right:1px solid lightblue;border-left:1px solid lightblue;-webkit-box-shadow:0 0 10px lightblue;-moz-box-shadow:0 0 10px lightblue;box-shadow:0 0 10px lightblue}
.s-goods-list .s-goods-f5:hover{width:236px;height:315px;border-bottom:1px solid #ff8043;border-right:1px solid #ff8043;border-left:1px solid #ff8043;-webkit-box-shadow:0 0 10px #ff8043;-moz-box-shadow:0 0 10px #ff8043;box-shadow:0 0 10px #ff8043}
.s-goods-list .s-goods .img{width:232px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative;display:table-cell;padding:4px}
.s-goods-list .s-goods .img a{display:table-cell;vertical-align:middle;width:232px;height:232px}
.s-goods-list .s-goods .img a img{max-width:210px;max-height:210px}
.img{position:relative}
.img span{width:236px;height:30px;line-height:30px;color:#fff;opacity:.6;background:#d0260c;display:block;position:absolute;left:0;bottom:0;display:none}
.img span:hover{cursor:pointer;background:#e5280b}
.s-goods-list .s-goods .p-price{padding:5px 0 5px 10px;font-weight:bold;color:#df2003;width:115px;float:left}
.s-goods-list .s-goods .p-hsale{padding:5px 10px 5px 0;width:90px;float:right;text-align:right}
.s-goods-list .s-goods .p-market{padding:5px 0 5px 10px;font-weight:bold;color:gray;width:95px;float:left}
.s-goods-list .s-goods .p-appraise{padding:5px 10px 5px 0;width:95px;float:right;text-align:right}
.s-goods-list .s-goods .p-hsale span{font-weight:bold;color:#df2003}
.s-goods-list .s-goods .p-market span{font-weight:bold;color:gray}
.p-name{margin-left:10px;width:210px}
.more{height:35px}
.more a{line-height:35px;text-align:center;background:#fff;margin-left:10px}
.s-banner{width:100%;height:500px;margin:0 auto}
#s-wst-slide .s-wst-slide-items li{height:500px;overflow:hidden}
.wst-shop-info2 img.wangwang{padding-top:1px;width:65px;height:22px}
.wst-shop-share{float:right;position:relative;top:-6px}
.notice{display:flex;align-items:center}
.notice_img{vertical-align:text-top;width:15px;height:15px}
.f15{font-size:15px}
.pdl10{padding-left:10px}

.self_container_out{width: 100%; box-sizing:border-box;padding-top: 10px; }
.sf_headerbox{width: 1200px; margin-bottom: 10px; margin: 0 auto; }
.sfhl{float: left; height: 100%; background-image: url(./../img/self_shop_f1_bg.png); padding-left: 31px; background-repeat: no-repeat; padding-top: 18px; background-size: contain; background-position: 0px 4px; position: relative; }
/* 楼层标题背景图 */
.f1_tit_bg{background-image: url(./../img/self_shop_f1_bg.png)}
.f2_tit_bg{background-image: url(./../img/self_shop_f2_bg.png)}
.f3_tit_bg{background-image: url(./../img/self_shop_f3_bg.png)}
.f4_tit_bg{background-image: url(./../img/self_shop_f4_bg.png)}
.f5_tit_bg{background-image: url(./../img/self_shop_f5_bg.png)}
.f6_tit_bg{background-image: url(./../img/self_shop_f6_bg.png)}
.sfh_tit{font-size: 18px; color: #df2003; text-align: left; position: relative; top: -6px; left: 1px; }
.sfhr{float: right; height: 100%; line-height: 1.5; margin-top: 22px; }
.c18_333{font-size: 14px; color: #333; }
.separatory{padding: 0 10px; } 
.sf_adsbox{width: 1200px; height: 320px; box-sizing:border-box; margin: 0 auto; margin-top: 10px; }
.sf_adsbox img{width: 100%;height: 100%;}
.sf_glistbox{width: 100%;}
/* 楼层商品背景色 */
.f1_g_bg{background-color: #fff;}
.f2_g_bg{background:-webkit-linear-gradient(right, rgba(222,243,213,0.3) 8%, #def3d5 40%, rgba(222,243,213,0.3) 87%); background:-o-linear-gradient(right, rgba(222,243,213,0.3) 8%, #def3d5 40%, rgba(222,243,213,0.3) 87%); background:linear-gradient(right, rgba(222,243,213,0.3) 8%, #def3d5 40%, rgba(222,243,213,0.3) 87%); }
.f3_g_bg{background-color: #fff;}
.f4_g_bg{background:-webkit-linear-gradient(right, #f8feff 8%, #eefdff 40%, #f8feff 87%); background:-o-linear-gradient(right, #f8feff 8%, #eefdff 40%, #f8feff 87%); background:linear-gradient(right, #f8feff 8%, #eefdff 40%, #f8feff 87%); }
.f5_g_bg{background-color: #fff;}
.f6_g_bg{background:-webkit-linear-gradient(right, #f0f4ff 8%, #dae3ff 40%, #f8feff 87%); background:-o-linear-gradient(right, #f0f4ff 8%, #dae3ff 40%, #f8feff 87%); background:linear-gradient(to left, #f0f4ff 8%, #dae3ff 40%, #f8feff 87%); }
.sf_glist{width: 1200px;box-sizing:border-box; margin: 0 auto; padding: 0 19px; }
.sf_glist li:nth-child(n+6){margin-top:0; }
.sf_glist li:nth-child(5n){background-color: #fff; margin-right:0; }
.sf_glist li:hover a{background-color: #eee;}
.sf_glist li:hover{background-color: #eee;}
.sf_glist li{margin-top: 15px; margin-bottom: 15px; background-color: #fff; float: left; width: 200px; height: 300px; margin-right: 15px; padding: 0 10px; border-radius: 8px; transition:all ease .4s; }
.sf_glist li a{transition:all ease .4s; display: block; width: 100%; height: 100%; background-color: #fff; box-sizing: border-box; padding-top: 20px; }
.sf_img img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; }
.sf_img{position: relative; width: 100%; height: 200px; }
.sf_gname{margin: 10px auto; font-size: 14px; color: #333; width: 100%; overflow: hidden; word-break:break-all; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; min-height: 35px; }
.sf_price{font-size: 14px; color: #df2003; }
.container{width:800px;height:600px;}