.stepflex{float:right;border-top:5px solid #f1f1f1;text-align:center;margin:60px 0px 0px 50px;}
.flow-container{ width: 1200px;display: flex;flex-direction: row;justify-content: center;}
.stepflex dl{border-top:5px solid #f1f1f1;float:left;position:relative;top:-5px;width:160px;}
dl.doing{border-top-color:#04bd3d;}
.doing .s-num{background-position:-23px 0;}
.s-num,.s-num1{color:#fff;font-weight: 700;height:23px;line-height:23px;margin:-15px auto 0;position:relative;width:23px;border-radius:25px;}
.s-num{background:#04bd3d;}
.s-num1{background:#f1f1f1;}
.s-text1{line-height:30px;}
.s-text{line-height:30px;color:#04bd3d;}
select{height:29px;}
.webuploader-container{overflow:hidden;}
.apply-banner{width: 100%;height:320px;position: relative;z-index: 1;top:-8px;}
.apply-msg-box{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25); width: 280px; height: 300px;  z-index: 9; margin-top:30px; border-radius: 5px;}
.apply-msg-box h3{color:#fff;font: 600 17px/24px; color: #FFF; padding: 12px 10px 4px 10px; margin: 0 10px 10px;box-shadow: 0 1px 0 rgba(0,0,0,0.1);}
.apply-msg-box .title{color: #FFF;margin-top:10px;line-height:30px;padding-left:15px;padding-right:15px;}
.apply-msg-box ul{color: #FFF;padding-left:15px;padding-right:15px;height:149px;}
.apply-msg-box ul li{margin-top:10px;line-height:23px;list-style-type: disc;margin-left:15px;}
.apply-msg-box .bottom{border-radius:0 0 5px 5px;margin-top:10px;padding-top:10px;padding-bottom:10px;padding-left:7px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000'); background:rgba(0,0,0,0.5); text-align: center;}
.wst-slide{position: relative;height:350px;overflow:hidden;top:-320px;z-index:-1}
.apply-tips{color: #777;background-color: #EEE;width: 100%;height: 60px;}
.apply-tips .title{width: 63px;height: 48px;display: inline-block;padding: 6px 12px 6px 24px;}
.apply-tips .title i{background: url(../img/ic_volume_24x24.png) no-repeat 0px 0;display: block;width: 24px;height: 24px;float: left;margin: 0 18px;}
.apply-tips .content{vertical-align: top;display: inline-block;width: 970px;padding: 10px;}
.apply-step{width: 840px;height: 110px;margin: 30px auto;overflow: hidden;}
.apply-step span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; *zoom: 1;}
.apply-step span.step { color:#777;line-height: 20px; text-align: center; width: 80px;}
.apply-step span.step i { background: url(../img/btn_80x80.png) no-repeat; display: block; width: 80px; height: 80px; margin-bottom: 10px;}
.apply-step span.step i.a { background-position: -12px 0px;}
.apply-step span.step i.b { background-position: -94px 0px;}
.apply-step span.step i.c { background-position: -176px 0px;}
.apply-step span.step i.d { background-position: -258px 0px;}
.apply-step span.step i.e { background-position: -340px 0px;}
.apply-step span.arrow { background: url(../img/btn_80x80.png) no-repeat -439px -30px; width: 60px; height: 22px; margin: 0 20px;margin-top:-25px;}
.apply-step-head{margin-top:20px;border-bottom:dotted 1px #f1f1f1;font-weight:600;font-size:16px;line-height:30px;padding-left:10px;}

.main-head{font-size:17px;font-weight:bold;height:35px;line-height:35px;text-align:left;}
.apply-box {border-top: 2px solid #FC7A64;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;padding: 5px 0px 0px 5px;}
.apply-box2 {border-top: 2px solid #FC7A64;}
.apply-agreement-box{height:350px;border:1px solid #eeeeee;padding:5px;overflow:auto;margin:0 auto;}
.apply-agreement-box .tip{color:gray}
.agreement-table{width:100%;margin-bottom:10px;}
.agreement-table th{text-align: right;width:250px;}
.agreement-table td{text-align: left;padding:8px 0px 8px 0px}
.agreement-table .head-ititle{background:url('../img/img_seller_ggjt.png') no-repeat 5px 4px;padding-left:28px;padding-bottom:5px;font-weight:bold;}
.agreement-table input[type=text]{margin:2px;width: 400px;}
.agreement-table textarea{margin:2px;}
.agreement_box{text-align:center;margin-top:5px;}
.agreement-bottom{padding:10px 5px;text-align: center}
.examine-tips{text-align: center;width:100%;padding-top:60px;padding-bottom:80px;font-weight: 600;font-size:16px;color:#999;}
.agreement-table .c-tip{padding-top:5px;}
label{margin-right:20px;}
.webuploader-pick{padding:3px 10px;}
.goodsCat{width:200px;margin-right:20px;float:left;}
.wst-tab-box {width: 100%;height: auto;margin: 0px auto;background: #ffffff;margin-top:10px;}
.wst-tab-nav {margin: 0;padding: 0;height: 35px;top: 0px;z-index: 30;background: #ffffff;width:100%;border-bottom: 1px solid #eeeeee;border-left: 1px solid #eeeeee}
.wst-tab-nav li {width:23.24%;cursor: pointer;float: left;margin: 0 0px;list-style: none;border: 1px solid #eee;border-bottom: none;border-left: none;line-height: 34px;text-align: center;color: #000000;padding-left: 10px;padding-right: 10px;}
.wst-tab-nav .on {border-top: 1px solid #ff2704;border-bottom: 1px solid #ffffff;color: #ff2704;font-weight:bold;}
.wst-tab-content {padding: 5px;width: 99%;height: auto;border: 1px solid #eee;border-top:none;background: #FFF;}
.upload-picker div:nth-child(2){top:0!important;left:0!important;width:200px!important;height:100%!important;}
#totalCatFee{color:red;}
/**支付方式**/
.pay-box{border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-top:1px solid #eeeeee;padding:5px 0px 10px 10px;}
.pay-boxs{padding:0 20px;border-bottom: 1px solid #fff;}
.pay-box ul{padding-left:15px;}
.pay-box ul li{width:1185px;}
.pay-box .label{width:200px;float:left;height:30px;line-height:30px;}
.pay-box .txt{height:auto;line-height:30px;width:985px;float:left;color:#999999;}
.pay-sbox{border:1px solid #eeeeee;padding:5px 0px;}
.pay-sbox-head{border-bottom: 2px solid #ddd;line-height:35px;}
.pay-tip1{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -10px;background-size: cover; }
.pay-tip2{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -71px;background-size: cover; }
.pay-tip3{height:37px;width:760px;text-align: center;margin:10px auto;background: url(../img/pay_liucheng.png) no-repeat 0px -132px;background-size: cover; }
.pay-sbox .qrcode-box{min-height: 300px;height: auto;}
.pay-sbox .tips-box{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .qrcode-box .pbox{text-align: center;margin-top: 10px;font-weight: bold;}
.pay-sbox .wst-qrcode{width:260px;height:260px;text-align:center;margin:0 auto;}
.pay-sbox .wst-qrcode img{width:260px;height:260px;}
.pay-sbox .bnt-box{text-align:center;font-weight: bold;padding:5px 10px;line-height:50px;}
.pay-sbox .pay-type{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .pay-list{text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .succ-box{text-align: center;padding: 50px;}
.wst-payCode-weixinpays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-weixinpays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/weixinpays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-alipays-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/alipays.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px 0px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.wst-payCode-wallets-curr {height:69px;width:167px;text-align: center;margin:10px auto;background: url(../img/wallets.png) no-repeat 0px -75px;background-size: cover;float: left;margin-right:10px;cursor:pointer;}
.pay-sbox{border:1px solid #eeeeee;padding:5px 0px;}
.pay-sbox .balance-box{min-height: 300px;height: auto;}
.pay-sbox .balance-box .pbox{text-align: center;padding-top: 40px;font-weight: bold;}
.pay-sbox .balance-box .pbox2{text-align: center;padding-top: 10px;font-weight: bold;}
.pbox-tip{color:#0ae;margin-left:10px;}
.pay-btn{background: #eb5f43 none repeat scroll 0 0;border: 1px solid #d33110;border-radius: 3px;color: #ffffff;cursor: pointer;outline: medium none;}
.pay-sbox .wst-pay-bnt {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px 0px;cursor:pointer;}
.pay-sbox .wst-pay-bnt:hover {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px -57px;cursor:pointer;}
.wst-wallet-box{border:1px solid #ddd;margin:10px;padding:5px;line-height: 35px;height:40px;}
.wst-wallet-box .wst-wallte-item{background:url("../img/icon_qianbaoyue.png") no-repeat;padding-left:30px;height:30px;margin-top:5px;float:left;}