@CHARSET "UTF-8";
a{cursor:pointer}
img{border:none}
.wst-shopstr-ads{padding:10px 0}
.wst-shopstr-ads img{width:1200px;height:220px}
.wst-shopstr-cat{margin:10px 0 20px 0;padding:10px 20px;border:1px solid #dddbdb}
.wst-shopstr-catt{height:23px;color:#333;border-bottom:1px dashed #b5b5b5}
.wst-shopstr-cat span{float:left;margin:8px 60px 0 0;padding:8px 5px}
.wst-shopstr-cat span:hover{cursor:pointer;color:#fff;background:#fc6047;border-radius:3px}
.js-selected{cursor:pointer;color:#fff;background:#fc6047;border-radius:3px}
.wst-shopstr-shop{margin-top:20px;padding:10px;border:1px solid #dddbdb}
.wst-shopstr-shop:hover{border:1px solid #fc6047}
.wst-shopstr-shopl{float:left;width:150px;height:150px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shopstr-shopi{float:left;width:26%;margin-left:12px}
.wst-shopstr-shopr{float:right;width:60%}
.wst-shopstr-shopl a{width:150px;height:150px;display:table-cell;vertical-align:middle}
.wst-shopstr-shopl a img{max-width:150px;max-height:150px}
.wst-shopstr-name{height:32px;line-height:32px}
.wst-shopstr-name .name{float:left;font-size:18px;color:#2e2e2e;font-weight:700;width:170px;height:30px;display:block;overflow:hidden}
.wst-shopstr-name .name:hover{color:#f53e28}
.wst-shopstr-name .favorite{padding:5px 5px 5px 23px;loat:left;border:1px solid #ededed;margin-left:5px}
.wst-shopstr-name .j-fav,.wst-shopstr-name .j-fav:hover{background:url(../img/iconfont_guanzhu_sel.png) 4px 5px no-repeat}
.wst-shopstr-name .j-fav2{background:url(../img/iconfont_guanzhu_nor.png) 3px 5px no-repeat;transition:background-position .15s ease-in-out 0s}
.wst-shopstr-name .j-fav2:hover{background:url(../img/iconfont_guanzhu_nor.png) 3px -19px  no-repeat;text-decoration:none}
.wst-shopstr-pr{float:left;width:100%;margin-top:7px;color:#807f7f}
.wst-shopstr-pr .company{text-decoration:underline;color:#57c4f5}
.wst-shopstr-pr .company:hover{color:#31b0e9}
.wst-shopstr-score{width:118px;height:96px;position:absolute;left:25px;bottom:-95px;color:#545252;text-indent:1em;cursor:pointer;background:url(../img/img_bg_xiala.png) 0 0 no-repeat}
.wst-shopstr-score .title{font-weight:700}
.wst-shopstr-more{float:left;width:100%}
.wst-shopstr-more a{font-size:13px;color:#666}
.wst-shopstr-more a:hover{color:#eb5f43}
.wst-shopstr-more span{width:100px;height:20px;color:#fff;line-height:20px;background:url(../img/img_dztj_bg.png) no-repeat}
.wst-shopstr-good{padding-top:2px;margin-left:26px}
.wst-shopstr-goods{float:left;margin:0 3px}
.wst-shopstr-goodimg{width:100px;height:100px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shopstr-goodimg a{width:100px;height:100px;display:table-cell;vertical-align:middle}
.wst-shopstr-goodimg a img{max-width:100px;max-height:100px}
.wst-shopstr-goods span{float:left;width:100px;margin-top:1px;text-align:center;color:#fc6047;font-weight:700}
.shopstrPaging{padding:20px 0 50px 480px}
.als-container{position:relative;width:100%;margin:0 auto}
.als-viewport{position:relative;overflow:hidden;margin:0 auto}
.als-wrapper{position:relative;list-style:none}
.als-item{position:relative;display:block;text-align:center;cursor:pointer;float:left}
.als-next,.als-prev{position:absolute;cursor:pointer;clear:both}
.als-item img{width:135px;height:135px;vertical-align:middle}
.als-next,.als-prev{top:40px}
.als-prev{left:-25px}
.als-next{right:-30px}
.distance-icon{display: inline-block; width:20px;height: 20px;background: url('../img/location-icon.png');background-size: 100%;position: relative;top: 5px;left: -5px;}