@CHARSET "UTF-8";
.wst-shop-h{padding:10px 0}
.wst-shop-img{float:left;margin-top:3px;width:90px;height:90px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shop-img img{max-width:90px;max-height:90px;border-radius:5px}
.wst-shop-info{float:left;width:48%;margin-left:10px}
.wst-shop-info p{float:left;line-height:50px;width:100%;color:#222;font-size:17px;font-family:"microsoft yahei"}
.wst-shop-info2,.wst-shop-info3{float:left;width:100%}
.wst-shop-info2 img{float:left;width:16px;margin-right:3px}
.wst-shop-info2 span{float:left;color:#dda315;margin-right:10px}
.wst-shop-info3{margin-top:7px}
.wst-shop-code{float:left;margin-top:1px;width:15px;height:15px;cursor:pointer;background:url(../img/img_sjck.png) no-repeat;background-size:100%}
.wst-shop-codes{width:131px;height:131px;margin-top:24px;border:1px solid #dedbdb;position:absolute;z-index:1000;background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:5px}
.wst-shop-codes:after{top:-16px;border-color:transparent transparent #fff}
.wst-shop-eva,.wst-shop-evaa{float:left;margin-right:16px}
.wst-shop-evaa{padding-left:20px}
.wst-shop-location{cursor: pointer;}
.wst-shop-gs{padding-left: 21px;background: url(../img/gs.png) 0px 0px no-repeat;background-size: 20%;}
.wst-shop-info3 .j-fav3{background: url(../img/location.png) -2px -1px no-repeat;background-size: 29%;}
.wst-shop-info3 .j-fav,.wst-shop-info3 .j-fav:hover{background:url(../img/iconfont_guanzhu_sel.png) 1px 2px no-repeat}
.wst-shop-info3 .j-fav2{background:url(../img/iconfont_guanzhu_nor.png) 0 1px no-repeat;transition:background-position .15s ease-in-out 0s}
.wst-shop-info3 .j-fav2:hover{background:url(../img/iconfont_guanzhu_nor.png) 0 -23px no-repeat;text-decoration:none}
.wst-shop-red{color:#e25041}
.wst-shop-sea{float:right;width:42.999999%;margin-top:20px}
.wst-shop-sea input{float:left;outline:0;font-size:15px;height:32px;width:360px;margin-right:3px;padding-left:8px;border:1px solid #fc6047}
.wst-shop-sea .search{float:left;width:60px;height:38px;line-height:38px;text-align:center;color:#fff;margin-left:6px;background: #fc6047;}
.wst-shop-word{margin-bottom:5px;float:left;margin-top:8px;width:100%;overflow:hidden}
.wst-shop-tu{text-align:center;width:100%;height:auto;overflow-y: auto;}@media screen and (max-width:1200px){.wst-shop-tu{min-width:1200px}
.wst-shop-nav{min-width:1200px}}
.wst-shop-nav{background-color:#fc6047}
.wst-nav-box{width:1200px;margin:0 auto;line-height:36px;color:#fff}
.wst-nav-box li{padding:0 26px;text-align:center;color:#fff;font-size:15px;font-family:"microsoft yahei"}
.wst-nav-box li:hover,.wst-nav-box .wst-nav-boxa{background:#cb2004;background-size:cover}
.wst-nav-box .liselect{list-style-type:none}
.wst-nav-box .homepage{float:right;margin-top:6px;padding:0 8px;height:22px;line-height:22px;color:#fff;border:1px solid #fff}
.wst-nav-box .homepage:hover{color:#fc6047;background:#fff;border:1px solid #fc6047}
.ck-slide{width:1200px;height:400px;margin:3px auto;margin-bottom:9px}
.ck-slide ul.ck-slide-wrapper{height:400px}
.wst-shop-contl{float:left;width:19.222222%;padding-bottom:20px}
.wst-shop-contr{float:right;width:79.555555%}
.wst-shop-cat{margin-top:9px;border:1px solid #ddd}
.wst-shop-best,.wst-shop-lat{margin-top:15px;border:1px solid #ddd}
.wst-shop-cat li{height:26px;line-height:26px;list-style-type:none}
.wst-shop-cat li:hover{color:#ff5605;cursor:pointer}
.wst-shop-cat a li{color:#666}
.wst-shop-conlp{height:35px;line-height:35px;text-align:center;background:#ebebeb;font-size:16px;font-family:"microsoft yahei"}
.wst-shop-catt{padding-left:10px}
.wst-shop-catts{padding-left:20px}
.js-shop-plus{text-indent:20px;background:url(../img/store_icon_zk.png) 2px 4px no-repeat}
.js-shop-redu{text-indent:20px;background:url(../img/store_icon_sq.png) 2px 4px no-repeat}
.wst-shop-bestg{float:left;margin:5px}
.wst-shop-besti{float:left;width:72px;height:72px;text-align:center;vertical-align:middle;display:block;position:relative}
.wst-shop-besti img{max-width:72px;max-height:72px}
.wst-shop-bestgp1{height:36px}
.wst-shop-bestgp2{line-height:20px}
.wst-shop-bestg p{float:left;width:142px;margin-left:3px;overflow:hidden}
.wst-shop-bestg a:hover{color:#ff5605}
.wst-shop-bestpi{color:#ee8f4f}
.wst-shop-bestpr{color:#d86232;font-weight:bold}
.wst-shop-bestpr2{float:right;color:#c4c2c2;text-decoration:line-through}
.wst-shop-conrp{height:35px;line-height:35px;text-indent:1em;background:#ebebeb;font-size:16px;font-family:"microsoft yahei";margin:9px 0 6px 0}
.wst-shop-recb{padding:5px 0;background:#f2efea}
.wst-shop-rgoods,.wst-shop-list .wst-shop-goods{float:left;width:218px;padding:5px;background:#fff;border:1px solid #dadada;margin:0 4px}
.wst-shop-rgoods:hover,.wst-shop-goods:hover{border:1px solid #e5e5e5;-webkit-box-shadow:0 0 10px #ddd;-moz-box-shadow:0 0 10px #ddd;box-shadow:0 0 10px #ddd}
.wst-shop-list .wst-shop-goimg{float:left;width:207px;height:207px;vertical-align:middle;display:block;position:relative}
.wst-shop-goimg a{width:207px;height:207px;padding-left:5px;padding-top:5px;display:table-cell;vertical-align:middle}
.wst-shop-goimg img{max-width:207px;max-height:207px}
.wst-shop-goimg span{width:230.5px;height:30px;line-height:30px;color:#fff;text-align:center;opacity:.8;background:#d0260c;display:block;position:absolute;left:-6px;bottom:-5px;display:none}
.wst-shop-goimg span:hover{background:#e5280b}
.wst-shop-gonam{float:left;width:100%;height:36px;color:#838383;font-family:"microsoft yahei";margin-top:18px}
.wst-shop-gonam a:hover{color:#f60505}
.wst-shop-rect{float:left;width:100%;margin-top:8px;font-family:"microsoft yahei"}
.wst-shop-rect span{color:#ea523b;font-size:16px;line-height:26px;font-weight:bold}
.wst-shop-rect .wst-shop-recta{float:right;height:26px;color:#ff5605;line-height:26px;padding:0 12px;border-radius:2px;border:1px solid #dadada}
.wst-shop-rect .wst-shop-recta2{float:right;height:26px;color:#c9c3c2;line-height:26px;padding:0 12px;border-radius:2px;border:1px solid #dadada}
.wst-shop-rect .wst-shop-recta:hover{color:#fff;background:#ff5605;border:1px solid #ff5605}
.wst-shop-list{padding:10px 0}
.wst-shop-listh{float:left;width:100%;font-family:"microsoft yahei"}
.wst-shop-listh a{float:left;color:#525252;height:19px;padding:6px 16px;text-align:center;font-size:15px;border:1px solid #e9e7e7}
.wst-shop-listh a:hover{border:1px solid #ff8043}
a.wst-shop-a{color:#fff;background: #fc6047;border:1px solid #ff8043}
.wst-shop-store,.wst-shop-store2,.wst-shop-store3{float:right;width:16px;height:13px;margin:3px 0 0 3px}
.wst-shop-store{background:url(../img/store_icon_sx.png) 0 0 no-repeat}
.wst-shop-store2{background:url(../img/store_icon_sx_sel.png) 0 0 no-repeat}
.wst-shop-store3{background:url(../img/store_icon_sx_sel_up.png) 0 0 no-repeat}
.wst-price-ipts{float:left;position:relative}input.wst-price-ipt{width:66px;height:27px;outline:0;padding-left:18px;border:1px solid #e9e7e7}input.wst-price-ipt:focus{border:1px solid #ff8043}
.wst-price-ipt1{position:absolute;left:13px;top:8px}
.wst-price-ipt2{position:absolute;right:71px;top:8px}
.wst-shop-but{outline:0;background:#fc6047;color:#fff;border:0px;cursor:pointer}
.wst-shop-but:not(.disabled):not(:disabled):active,.wst-shop-but.active{background:#f1f1f1;background-clip:padding-box;color: #fc6047;}
.wst-shop-listg{padding-top:10px}
.wst-shop-list .wst-shop-goods{margin-bottom:6px}
.wst-shop-goodp1{margin-top:8px}
.wst-shop-goodp1,.wst-shop-goodp2{float:left;width:100%;line-height:20px;font-family:"microsoft yahei";padding:2px 0 2px 0}
.wst-shop-goodpr{color:#ea523b;font-size:16px;font-weight:bold;overflow:hidden;float:left}
.wst-shop-goodpr2{color:#ed1a8d}
.wst-shop-goodpr3{color:#c4c2c2;width:220px;overflow:hidden}
.wst-shop-goodpr4{color:#249ee7}
.wst-shop-pa{padding:28px 0 35px 300px}
.wst-shop-info2 img.wangwang{padding-top:1px;width:65px;height:22px}
.wst-shop-goimg img.goodsImg{max-width:207px;max-height:207px}
.wst-shop-share{float:right;position:relative;top:-6px;margin-right:6px}
.wst-shop-list img{max-width:1200px}@-webkit-keyframes a1{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
100%{opacity:1;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}}@-moz-keyframes a1{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
100%{opacity:1;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}}@-o-keyframes a1{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
100%{opacity:1;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}}@keyframes a1{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
100%{opacity:1;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}}
.wst-shop-rgoods:hover img{-webkit-animation:a1 1s .1s ease both;-moz-animation:a1 1s .1s ease both;animation:a1 .5s .1s ease both;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.notice_img{width:15px;height:15px;vertical-align:middle}
.container{width:800px;height:600px;}