#for developer
.idea
app/ide_helper.php
app/config/*Dev/*
app/config/dust2

#for Mac OS X tmp file
.DS_Store

#for php composer packaglist
vendor/*

#for laravel
bootstrap/compiled.php

#for npm
node_modules/*

#for bower
public/packages/bower/*
public/css/lib
public/js/lib

#for database config

#for uploaded_files
public/img/userHeadImage/*
public/temp/*
public/resources/*

#for something unknown
.swp

#for Grunt built files
public/css/min.css
public/fonts/
public/ngApp/ng-main.min.js
