.t-main {
  min-height: calc(100% - 60px);
  position: relative;
}

.t-min-height-100 {
  min-height: 100%;
  position: absolute;
  left: 15px;
  right: 15px;
}

.t-no-resize {
  resize: none;
}

.t-no-padding-left {
  padding-left: 0;
}

.t-overflow-y-hidden {
  overflow-y: hidden;
}

@mixin t-line-ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.t-line-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-line-ellipsis-3 {
  @include t-line-ellipsis(3);
}

.t-line-ellipsis-4 {
  @include t-line-ellipsis(4);
}

.t-error {
  position: fixed;
  top: 70px;
  right: 30px;
  z-index: 3;

  ul {
    list-style: none;
  }
}

/* navbar */
.t-navbar-brand {
  img {
    width: 30px;
    height: 30px;
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
