input.invalid, textarea.invalid, select.invalid {
	border-color: red;
}



/*----------------------------------------------------------------------------------- *//* Mixins/variables *//*----------------------------------------------------------------------------------- */.inline {
	display: inline-block !important;
	*display: inline !important;
	zoom: 1;
}/*----------------------------------------------------------------------------------- *//* Document Setup *//*----------------------------------------------------------------------------------- */* {
	outline: 0 !important;
}

body {
	font-family: "Lato", sans-serif;
	color: #666666;
	background: #eeeeee;
	padding-top: 100px;
	position: relative;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 15px;
	font-weight: 300;
}

h3 {
	line-height: 1.4em;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: 300;
}

strong {
	font-weight: 700;
}

a {
	color: #007aff;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

ul.no-style {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

li {
	margin-bottom: 5px;
}

blockquote {
	padding-bottom: 4px;
	margin-bottom: 30px;
}

blockquote p {
	margin-bottom: 10px;
}

blockquote.pull-right {
	text-align: right;
}

dl {
	margin: 0 0 20px;
}

dl dd {
	margin-bottom: 15px;
}

small {
	font-size: 75%;
	vertical-align: top;
}

::-moz-selection {
	background: #007aff;
	color: white;
	text-shadow: none;
}

::selection {
	background: #007aff;
	color: white;
	text-shadow: none;
}/*----------------------------------------------------------------------------------- *//* Login *//*----------------------------------------------------------------------------------- */.login {
	padding: 50px 15px 15px;
	background: #eeeeee;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s, left 0.8s 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: opacity 0.6s, -moz-transform 0.6s, left 0.8s 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: opacity 0.6s, transform 0.6s, left 0.8s 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login.submitted {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	-o-transform: scale(0.9);
	left: 100%;
	opacity: 0.95;
}

.login .login-container {
	max-width: 420px;
	margin: 0 auto;
	text-align: center;
}

.login .login-container img {
	margin: 40px;
}

.login .login-container .input-group-addon {
	padding: 8px 0;
	background: #f4f4f4;
	min-width: 48px;
	text-align: center;
}

.login .login-container .input-group-addon i.icon-lock {
	font-size: 18px;
}

.login .login-container input.form-control {
	height: 48px;
	font-size: 15px;
	box-shadow: none;
}

.login .login-container .checkbox {
	text-align: left;
	margin-bottom: 30px;
}

.login .login-container .login-submit {
	display: block;
	width: 100%;
	padding: 10px 0 12px;
	margin-bottom: 25px;
}

.login .login-container .login-submit:hover {
	background: transparent;
}/*----------------------------------------------------------------------------------- *//* Header Styles *//*----------------------------------------------------------------------------------- */.navbar {
	background: rgba(255, 255, 255, 0.94);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	padding: 0;
	min-height: 45px;
	height: 91px;
	border: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar.closed {
	height: 45px;
}

.navbar .container-fluid.top-bar {
	height: 46px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 10px 0 20px;
	width: 100%;
	float: left;
}

.navbar .container-fluid.top-bar .navbar-toggle {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 48px;
	height: 32px;
	padding: 8px 12px;
	margin: 0;
	background-color: transparent;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.navbar .container-fluid.top-bar .logo {
	background: url(../images/se7en-logo.png) no-repeat 0 0;
	width: 54px;
	height: 16px;
	float: left;
	text-indent: -9999em;
	margin: 14px 10px 0 0;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.navbar .container-fluid.top-bar .logo {
		background-image: url(../images/se7en-logo%402x.png);
		background-size: 54px 16px;
	}
}

.navbar .container-fluid.top-bar form {
	margin-top: 6px;
}

.navbar .container-fluid.top-bar form .form-control {
	height: 30px;
	border-color: #e6e6e6;
	box-shadow: none;
	background: white url(../images/icon-search.png) no-repeat center left;
	padding-left: 24px;
	margin-top: 1px;
	width: 200px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.navbar .container-fluid.top-bar form .form-control {
		background-image: url(../images/icon-search%402x.png);
		background-size: 18px 12px;
	}
}

.navbar .container-fluid.top-bar form .form-control:focus {
	border-color: #007aff;
}

.navbar .container-fluid.top-bar .nav {
	height: 100%;
	position: relative;
	z-index: 100;
}

.navbar .container-fluid.top-bar .nav > li {
	height: 100%;
	margin-right: 5px;
	float: left;
}

.navbar .container-fluid.top-bar .nav > li > a {
	display: block;
	height: 100%;
	padding: 8px 0 9px 8px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar .container-fluid.top-bar .nav > li > a:hover {
	background: #eeeeee;
	background: rgba(0, 0, 0, 0.04);
}

.navbar .container-fluid.top-bar .nav > li > a > span {
	background: url(../images/admin-sprite.png) no-repeat top left;
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -9999em;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.navbar .container-fluid.top-bar .nav > li > a > span {
		background-image: url(../images/admin-sprite%402x.png);
		background-size: 84px 168px;
	}
}

.navbar .container-fluid.top-bar .nav > li > a p.counter {
	position: absolute;
	top: 5px;
	left: -2px;
	height: 18px;
	min-width: 18px;
	padding: 0 5px;
	border-radius: 9px;
	background: #e62828;
	text-align: center;
	line-height: 17px;
	color: white;
	font-size: 11px;
	font-weight: 100;
}

.navbar .container-fluid.top-bar .nav > li.open > a, .navbar .container-fluid.top-bar .nav > li.active > a, .navbar .container-fluid.top-bar .nav > li.open.active > a {
	background-color: #eeeeee;
}

.navbar .container-fluid.top-bar .nav > li.open > a span, .navbar .container-fluid.top-bar .nav > li.active > a span, .navbar .container-fluid.top-bar .nav > li.open.active > a span {
	background-position: left -28px;
}

.navbar .container-fluid.top-bar .nav > li.messages a > span {
	background-position: -28px top;
}

.navbar .container-fluid.top-bar .nav > li.messages.open > a, .navbar .container-fluid.top-bar .nav > li.messages.active > a, .navbar .container-fluid.top-bar .nav > li.messages.open.active > a {
	background-color: #eeeeee;
}

.navbar .container-fluid.top-bar .nav > li.messages.open > a span, .navbar .container-fluid.top-bar .nav > li.messages.active > a span, .navbar .container-fluid.top-bar .nav > li.messages.open.active > a span {
	background-position: -28px -28px;
}

.navbar .container-fluid.top-bar .nav > li.settings a > span {
	background-position: -56px top;
}

.navbar .container-fluid.top-bar .nav > li.settings.open > a, .navbar .container-fluid.top-bar .nav > li.settings.active > a, .navbar .container-fluid.top-bar .nav > li.settings.open.active > a {
	background-color: #eeeeee;
}

.navbar .container-fluid.top-bar .nav > li.settings.open > a span, .navbar .container-fluid.top-bar .nav > li.settings.active > a span, .navbar .container-fluid.top-bar .nav > li.settings.open.active > a span {
	background-position: -56px -28px;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link span {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 12px;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link.blue span {
	background: #007aff;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link.green span {
	background: #60c560;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link.orange span {
	background: #f0ad4e;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link.magenta span {
	background: #c741c9;
}

.navbar .container-fluid.top-bar .nav > li.settings .settings-link.gray span {
	background: #999999;
}

.navbar .container-fluid.top-bar .nav > li.user {
	width: auto;
	margin-left: 5px;
	margin-right: 0;
}

.navbar .container-fluid.top-bar .nav > li.user > a {
	padding: 5px 10px 6px;
	color: #999999;
}

.navbar .container-fluid.top-bar .nav > li.user img {
	border-radius: 50%;
	margin-right: 8px;
}

.navbar .container-fluid.top-bar .nav > li.user .caret {
	vertical-align: middle;
	margin: -2px 0 0 8px;
	border-top-color: #999999;
}

.navbar .container-fluid.main-nav {
	height: 66px;
}

.navbar .container-fluid.main-nav .nav-collapse {
	width: 100%;
}

.navbar .container-fluid.main-nav .nav-collapse .nav {
	width: 100%;
	height: 100%;
	margin: 0;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li {
	float: none;
	display: inline-block;
	margin: 0 8px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a {
	display: block;
	height: 100%;
	text-align: center;
	padding: 10px 15px 9px;
	font-size: 18px;
	font-weight: 400;
	color: #999999;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a span {
	background: url(../images/nav-sprite.png) no-repeat top left;
	display: block;
	width: 28px;
	height: 28px;
	margin: 0 auto 2px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a span {
		background-image: url(../images/nav-sprite%402x.png);
		background-size: 168px 168px;
	}
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a .caret {
	margin-left: 6px;
	margin-right: -6px;
	border-top-color: #999999;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current {
	color: #007aff;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current span {
	background-position: left -28px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current .caret {
	border-top-color: #007aff;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a:hover {
	background: #eeeeee;
	background: rgba(0, 0, 0, 0.04);
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li .dropdown-menu {
	text-align: left;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.ui a span {
	background-position: -28px top;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.ui a.current span {
	background-position: -28px -28px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.forms a span {
	background-position: -56px top;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.forms a.current span {
	background-position: -56px -28px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.charts a span {
	background-position: -84px top;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.charts a.current span {
	background-position: -84px -28px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.tables a span {
	background-position: -112px top;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.tables a.current span {
	background-position: -112px -28px;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.gallery a span {
	background-position: -140px top;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li.gallery a.current span {
	background-position: -140px -28px;
}

.navbar .nav > li > a {
	padding: 0;
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
	display: none;
}/*----------------------------------------------------------------------------------- *//* Page Styles *//*----------------------------------------------------------------------------------- */.page-title h1 {
	margin: 0 20px 25px;
	color: #5e5e5e;
	font-weight: 300;
}/*----------------------------------------------------------------------------------- *//* Button Styles *//*----------------------------------------------------------------------------------- */.btn {
	font-weight: 300;
	margin: 0 10px 10px 0;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	transition: all 0.15s;
}

.btn.active {
	box-shadow: none;
}

.btn .caret {
	margin: -2px 0 0 6px;
}

.btn [class^="icon-"], .btn[class*="icon-"] {
	display: inline-block;
	margin-right: 10px;
	margin-top: -4px;
	font-size: 18px;
	vertical-align: middle;
}

.btn-default {
	background: #bbbbbb;
	border-color: #bbbbbb;
	color: white;
}

.btn-default .caret {
	border-top-color: white;
}

.btn-default:hover, .btn-default.active {
	background: white;
	color: #aaaaaa;
	border-color: #bbbbbb;
}

.btn-default:hover .caret, .btn-default.active .caret {
	border-top-color: #bbbbbb;
}

.btn-primary {
	background: #007aff;
	border-color: #007aff;
}

.btn-primary:hover, .btn-primary.active {
	background: white;
	color: #007aff;
	border-color: #007aff;
}

.btn-primary:hover .caret, .btn-primary.active .caret {
	border-top-color: #007aff;
}

.btn-success {
	background: #60c560;
	border-color: #60c560;
}

.btn-success:hover, .btn-success.active {
	background: white;
	color: #60c560;
	border-color: #60c560;
}

.btn-success:hover .caret, .btn-success.active .caret {
	border-top-color: #bbbbbb;
}

.btn-info:hover, .btn-info.active {
	background: white;
	color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover .caret, .btn-info.active .caret {
	border-top-color: #5bc0de;
}

.btn-warning:hover, .btn-warning.active {
	background: white;
	color: #f0ad4e;
	border-color: #f0ad4e;
}

.btn-warning:hover .caret, .btn-warning.active .caret {
	border-top-color: #f0ad4e;
}

.btn-danger:hover, .btn-danger.active {
	background: white;
	color: #d9534f;
	border-color: #d9534f;
}

.btn-danger:hover .caret, .btn-danger.active .caret {
	border-top-color: #d9534f;
}

.btn-default-outline {
	color: #999999;
	background: white;
	border: 1px solid #bbbbbb;
}

.btn-default-outline .caret {
	border-top-color: #bbbbbb;
}

.btn-default-outline:hover, .btn-default-outline.active {
	background: #bbbbbb;
	color: white;
}

.btn-default-outline:hover .caret, .btn-default-outline.active .caret {
	border-top-color: white;
}

.btn-primary-outline {
	color: #007aff;
	background: white;
	border: 1px solid #007aff;
}

.btn-primary-outline .caret {
	border-top-color: #007aff;
}

.btn-primary-outline:hover, .btn-primary-outline.active {
	background: #007aff;
	color: white;
}

.btn-primary-outline:hover .caret, .btn-primary-outline.active .caret {
	border-top-color: white;
}

.btn-success-outline {
	color: #60c560;
	background: white;
	border: 1px solid #60c560;
}

.btn-success-outline .caret {
	border-top-color: #60c560;
}

.btn-success-outline:hover, .btn-success-outline.active {
	background: #60c560;
	color: white;
}

.btn-success-outline:hover .caret, .btn-success-outline.active .caret {
	border-top-color: white;
}

.btn-info-outline {
	color: #5bc0de;
	background: white;
	border: 1px solid #5bc0de;
}

.btn-info-outline .caret {
	border-top-color: #5bc0de;
}

.btn-info-outline:hover, .btn-info-outline.active {
	background: #5bc0de;
	color: white;
}

.btn-info-outline:hover .caret, .btn-info-outline.active .caret {
	border-top-color: white;
}

.btn-warning-outline {
	color: #f0ad4e;
	background: white;
	border: 1px solid #f0ad4e;
}

.btn-warning-outline .caret {
	border-top-color: #f0ad4e;
}

.btn-warning-outline:hover, .btn-warning-outline.active {
	background: #f0ad4e;
	color: white;
}

.btn-warning-outline:hover .caret, .btn-warning-outline.active .caret {
	border-top-color: white;
}

.btn-danger-outline {
	color: #d9534f;
	background: white;
	border: 1px solid #d9534f;
}

.btn-danger-outline .caret {
	border-top-color: #d9534f;
}

.btn-danger-outline:hover, .btn-danger-outline.active {
	background: #d9534f;
	color: white;
}

.btn-danger-outline:hover .caret, .btn-danger-outline.active .caret {
	border-top-color: white;
}

.btn-group {
	margin: 0 10px 15px 0;
}

.btn-group.pull-right {
	margin-right: 0;
}

.btn-group > .btn {
	margin: 0;
}

.btn-group > .btn + .dropdown-toggle {
	margin-left: 1px;
	padding: 6px 10px;
}

.btn-group > .btn + .dropdown-toggle .caret {
	margin: 0;
}

.btn-group > .btn + .dropdown-toggle[class^="-outline"], .btn-group > .btn + .dropdown-toggle[class*="-outline"] {
	margin-left: -1px;
}

.btn-group.dropup .btn .caret {
	border-bottom-color: white;
}

.btn-group.dropup .btn:hover[class^="-outline"] .caret, .btn-group.dropup .btn:hover[class*="-outline"] .caret {
	border-bottom-color: white;
}

.btn-group.dropup .btn-default:hover .caret, .btn-group.dropup .btn-default-outline .caret {
	border-bottom-color: #bbbbbb;
}

.btn-group.dropup .btn-primary:hover .caret, .btn-group.dropup .btn-primary-outline .caret {
	border-bottom-color: #007aff;
}

.btn-group.dropup .btn-success:hover .caret, .btn-group.dropup .btn-success-outline .caret {
	border-bottom-color: #60c560;
}

.btn-group.dropup .btn-info:hover .caret, .btn-group.dropup .btn-info-outline .caret {
	border-bottom-color: #5bc0de;
}

.btn-group.dropup .btn-warning:hover .caret, .btn-group.dropup .btn-warning-outline .caret {
	border-bottom-color: #f0ad4e;
}

.btn-group.dropup .btn-danger:hover .caret, .btn-group.dropup .btn-danger-outline .caret {
	border-bottom-color: #d9534f;
}/*----------------------------------------------------------------------------------- *//* Dropdown Styles *//*----------------------------------------------------------------------------------- */.dropdown-menu {
	margin-top: 1px !important;
	border-radius: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.96);
	border: 0;
	padding: 0;
	min-width: 120px;
	max-width: 300px;
}

.dropdown-menu > li {
	margin: 0;
}

.dropdown-menu > li > a {
	padding: 10px 15px 10px 12px;
	border-bottom: 1px solid #e2e2e2;
	color: #999999;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a.current {
	border-bottom-color: #007aff;
	color: #007aff;
	background: transparent;
}

.dropdown-menu > li > a i {
	margin-right: 10px;
	font-size: 18px;
	vertical-align: middle;
}

.dropdown-menu > li:last-child > a {
	border: 0;
}

.notifications {
	margin: 0 14px 0 0 !important;
}

.messages img {
	border-radius: 50%;
	margin-right: 14px;
}/*----------------------------------------------------------------------------------- *//* DataTable styles *//*----------------------------------------------------------------------------------- */.dataTables_length {
	width: 40%;
	float: left;
	margin: 8px 0 10px;
}

.dataTables_length select {
	margin: 0 4px;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	color: #5f5f5f;
}

.dataTables_filter input {
	width: 200px;
	background: #fbfbfb;
	height: 30px;
	margin: 0 0 5px 6px;
	padding: 4px 10px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.dataTables_info {
	float: left;
	margin-top: 4px;
	font-size: 13px;
}

.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active {
	border: 1px solid #007aff;
	background: #FFF !important;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers a.paginate_button {
	border: 1px solid #007aff;
	background: #FFF !important;
}

.paging_full_numbers a.paginate_button:hover {
	border: 1px solid #007aff;
	background: #FFF !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	margin: 5px 0;
}

.dataTables_paginate a {
	margin-left: 5px;
	font-size: 13px;
	border: 1px solid #AAA !important;
	color: #999;
	background: #FFF;
	border-radius: 4px;
	padding: 4px 8px;
	cursor: pointer;
	text-decoration: none !important;
}

.dataTables_paginate a:hover {
	border-color: #007aff;
	color: #007aff;
}

.dataTables_paginate a.paginate_active {
	border-color: #007aff !important;
	background: #007aff !important;
	color: #FFF;
}

.dataTables_paginate a.paginate_button_disabled {
	border-color: #e3e3e3 !important;
	color: #DDD;
	pointer-events: none;
}/* Pagination nested */.paginate_disabled_previous, .paginate_enabled_previous,.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}

.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}

.paginate_disabled_previous:active, .paginate_enabled_previous:active,.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,.paginate_disabled_next {
	color: #666 !important;
}

.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}

.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.dataTable th {
	padding-right: 20px;
	position: relative;
	font-weight: normal;
}

.dataTable th.sorting {
	color: #007aff;
	cursor: pointer;
}

.dataTable th.sorting:after, .dataTable th.sorting:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 12px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.dataTable th.sorting:after {
	top: 19px;
	border-top: 5px solid #007aff !important;
}

.dataTable th.sorting:before {
	top: 11px;
	border-bottom: 5px solid #007aff !important;
}

.dataTable th.sorting_asc {
	color: #007aff;
	cursor: pointer;
}

.dataTable th.sorting_asc:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 12px;
	top: 15px;
	border-bottom: 5px solid #007aff !important;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.dataTable th.sorting_desc {
	color: #007aff;
	cursor: pointer;
}

.dataTable th.sorting_desc:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 12px;
	top: 15px;
	border-top: 5px solid #007aff !important;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

th:active {
	outline: none;
}/*----------------------------------------------------------------------------------- *//* Table styles *//*----------------------------------------------------------------------------------- */.table {
	margin-bottom: 10px;
}

.table th {
	font-size: 14px;
}

.table td {
	font-size: 14px;
}

.table td.actions {
	width: 90px;
	padding-right: 0;
}

.table td.actions .action-buttons {
	width: 80px;
	margin: 0;
}

.table td.actions .action-buttons a:last-child {
	margin-right: 0;
}

.check {
	width: 20px;
}

.check-header .sorting {
	display: none;
}

.table > thead > tr > th {
	border-bottom: 2px solid #dddddd;
}

.table-actions {
	margin: 0 6px 0 6px;
}/*----------------------------------------------------------------------------------- *//* Label styles *//*----------------------------------------------------------------------------------- */.label {
	font-size: 85%;
	line-height: 1.4;
	font-weight: 300;
	border-radius: 0px;
	margin: 0 5px;
}

.label.label-success {
	background-color: #60c560;
}

.label-container {
	min-height: 160px !important;
}

.label-container h3 {
	margin-bottom: 25px;
}

.label-container .label {
	font-weight: 300;
	display: inline-block;
	margin-bottom: 12px;
}

.label-primary {
	background-color: #007aff;
}/*----------------------------------------------------------------------------------- *//* Widget-Container *//*----------------------------------------------------------------------------------- */.widget-container {
	min-height: 320px;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.widget-container.fluid-height {
	height: auto;
	min-height: 0;
}

.widget-container.small {
	min-height: 120px;
}

.widget-container.gallery {
	min-height: 400px;
}

.widget-container .heading {
	background: rgba(255, 255, 255, 0.94);
	height: 50px;
	padding: 15px 15px;
	color: #007aff;
	font-size: 15px;
	width: 100%;
	font-weight: 300;
	margin: 0;
}

.widget-container .heading [class^="icon-"], .widget-container .heading [class*="icon-"] {
	margin-right: 10px;
}

.widget-container .heading [class^="icon-"].pull-right, .widget-container .heading [class*="icon-"].pull-right {
	margin-right: 0px;
	margin-left: 15px;
	opacity: 0.35;
	font-size: 1.1em;
}

.widget-container .heading [class^="icon-"]:hover, .widget-container .heading [class*="icon-"]:hover {
	cursor: pointer;
	opacity: 1;
}

.widget-container .tabs {
	background: whitesmoke;
	border-bottom: 1px solid #dddddd;
}

.widget-container .widget-content {
	width: 100%;
}

.widget-container.scrollable {
	position: relative;
	height: 400px;
}

.widget-container.scrollable .heading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.widget-container.scrollable .shadow {
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.widget-container.scrollable .widget-content {
	height: 100%;
	position: relative;
	padding-top: 50px;
	-webkit-overflow-scrolling: touch;
}

.widget-container.scrollable.list ul li {
	padding-right: 22px;
}

.padded {
	padding: 12px 15px;
}/*----------------------------------------------------------------------------------- *//* Statistics Figures *//*----------------------------------------------------------------------------------- */.stats-container {
	min-height: 120px;
	height: 120px;
	text-align: center;
}

.stats-container [class^="col-"], .stats-container [class*="col-"] {
	border-right: 1px solid #e6e6e6;
	height: 100%;
	margin-bottom: 0;
}

.stats-container [class^="col-"]:last-child, .stats-container [class*="col-"]:last-child {
	border: 0;
}

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
	font-size: 4.2em;
	font-weight: 100;
	color: #007aff;
	line-height: 1.3em;
	padding-top: 8px;
	letter-spacing: -0.06em;
}

.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
	background: url(../images/info-data-sprite.png) no-repeat left top;
	width: 50px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
	margin: 20px 12px 0 0;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
		background-image: url(../images/info-data-sprite%402x.png);
		background-size: 200px 190px;
	}
}

.stats-container [class^="col-"] .number .icon.visitors, .stats-container [class*="col-"] .number .icon.visitors {
	background-position: -50px top;
}

.stats-container [class^="col-"] .number .icon.money, .stats-container [class*="col-"] .number .icon.money {
	background-position: -100px top;
}

.stats-container [class^="col-"] .number .icon.chat-bubbles, .stats-container [class*="col-"] .number .icon.chat-bubbles {
	background-position: -150px top;
}

.stats-container [class^="col-"] .text, .stats-container [class*="col-"] .text {
	font-weight: 300;
	color: #999999;
}/*----------------------------------------------------------------------------------- *//* jQuery Sparkline Tooltip fix *//*----------------------------------------------------------------------------------- */.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}/*----------------------------------------------------------------------------------- *//* Line Chart Styles *//*----------------------------------------------------------------------------------- */.line-chart {
	width: 100%;
}

.line-chart .chart-text-axis {
	margin: 4px 0 0 !important;
}

.line-chart .chart-text-axis li {
	width: 8.33% !important;
	margin: 0 !important;
}

.pie-chart {
	text-align: center;
}

.pie-chart #pie-chart {
	display: inline-block;
	vertical-align: middle;
}

.pie-chart ul.chart-key {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin: 0 0 0 20px;
}

.pie-chart ul.chart-key li {
	margin: 10px 0;
	color: #888888;
}

.pie-chart ul.chart-key li span {
	width: 20px;
	height: 15px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.pie-chart ul.chart-key li span.green {
	background: #81e970;
}

.pie-chart ul.chart-key li span.orange {
	background: #f5af50;
}

.pie-chart ul.chart-key li span.red {
	background: #f46f50;
}

.pie-chart ul.chart-key li span.blue {
	background: #a0eeed;
}/*----------------------------------------------------------------------------------- *//* jQuery Easy Pie Chart Styles *//*----------------------------------------------------------------------------------- */.easyPieChart {
	position: relative;
	text-align: center;
	margin: 15px auto 0;
}

.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.pie-number {
	font-size: 4.5em;
	font-weight: 100;
	letter-spacing: -0.05em;
	color: #bbbbbb;
}

.pie-text {
	text-align: center;
	padding: 8px 0 14px 0;
}/*----------------------------------------------------------------------------------- *//* Stats Styles *//*----------------------------------------------------------------------------------- */.chart-list {
	text-decoration: none;
	display: inline;
	padding: 0 2px 0 0;
}

.chart-list-item {
	width: 55px;
	text-align: left;
}

.chart-number {
	font-size: 2.5em;
	font-weight: 100;
}

.bar-chart-widget {
	text-align: center;
}

.bar-chart-widget .bar-chart-info {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 15px -10px;
	text-align: center;
}

.bar-chart-widget .bar-chart-info.visible-lg {
	display: inline-block !important;
}

.bar-chart-widget .bar-chart-info .chart-number {
	font-size: 3em;
	font-weight: 100;
	color: #bbbbbb;
}

.bar-chart-widget .bar-chart-info .chart-number i {
	margin: 12px 10px 0 0;
	opacity: 0.5;
	font-size: 0.9em;
	display: inline-block;
	vertical-align: top;
}

.bar-chart-widget .bar-chart-info .chart-text {
	font-size: 0.8em;
	font-weight: 400;
	color: #888888;
}

.chart-graph {
	display: inline-block;
	vertical-align: middle;
}

.chart-graph .chart-text-axis {
	padding: 0 0 0 5px;
	width: 100%;
	margin: 6px 0 0;
	list-style: none;
}

.chart-graph .chart-text-axis li {
	font-size: 0.7em;
	font-weight: 400;
	text-align: center;
	width: 12px;
	margin-right: 6px;
	float: left;
	color: #aaaaaa;
}/*----------------------------------------------------------------------------------- *//* Gallery with Captions *//*----------------------------------------------------------------------------------- */.gallery-grid {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gallery-grid li {
	float: left;
	width: 25%;
	padding: 10px;
	position: relative;
}

.gallery-grid li figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.gallery-grid li figure img {
	max-width: 100%;
	display: block;
	position: relative;
	-webkit-transition: top 0.25s;
	-moz-transition: top 0.25s;
	transition: top 0.25s;
}

.gallery-grid li .caption {
	width: 100%;
	height: 90px;
	position: absolute;
	bottom: -90px;
	left: 0px;
	padding: 20px;
	background: black;
	color: white;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

.gallery-grid li .caption h3 {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 100;
}

.gallery-grid li .caption span {
	margin-top: 5px;
	display: inline-block;
}

.gallery-grid li .caption a {
	margin: 0 0 0 15px;
	border: 1px solid white;
}

.gallery-grid li:hover figure img {
	top: -50px;
}

.gallery-grid li:hover .caption {
	bottom: 0px;
}

@media (max-width: 1200px) {
	.gallery-grid li {
		width: 33.33%;
	}
}

@media (max-width: 900px) {
	.gallery-grid li {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.gallery-grid li {
		width: 100%;
		margin: 0 0 15px;
	}
}/*----------------------------------------------------------------------------------- *//* Gallery with Filter *//*----------------------------------------------------------------------------------- */.gallery-filters a.selected {
	background: #007aff;
	color: white;
}

.gallery-item {
	width: 200px;
	height: 150px;
	margin: 10px;
	position: relative;
	background: black;
}

.gallery-item img {
	width: 100%;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.gallery-item .actions {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 36px;
	margin-top: -18px;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.gallery-item .actions i {
	display: inline-block;
	margin: 0 4px;
	font-size: 18px;
	color: white;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 35px;
	border: 1px solid white;
	border-radius: 50%;
	vertical-align: top;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

.gallery-item .actions i:hover {
	background: white;
	color: #333333;
}

.gallery-item .actions i.icon-zoom-in {
	font-size: 24px;
	width: 50px;
	height: 50px;
	line-height: 48px;
	margin-top: -7px;
}

.gallery-item:hover img {
	opacity: 0.2;
}

.gallery-item:hover .actions {
	opacity: 1;
}

@media (max-width: 450px) {
	.gallery-item {
		width: 280px;
		height: 210px;
		margin: 0 0 15px;
	}
}/*----------------------------------------------------------------------------------- *//* Carousel *//*----------------------------------------------------------------------------------- */.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}

.carousel-control.left, .carousel-control.right {
	background: none;
	background: rgba(0, 0, 0, 0.06);
	opacity: 1;
	width: 10%;
}

.carousel-control.left:hover, .carousel-control.right:hover {
	background: rgba(0, 0, 0, 0.25);
}

.carousel-control .glyphicon, .carousel-control .icon-angle-left, .carousel-control .icon-angle-right {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
	height: 40px;
	font-size: 40px;
	margin-top: -20px;
	margin-left: -10px;
}

.carousel-indicators li {
	margin: 1px 5px;
}

.carousel-indicators li.active {
	margin: 0 5px;
}/*----------------------------------------------------------------------------------- *//* List widget *//*----------------------------------------------------------------------------------- */.list ul {
	list-style: none;
	padding-left: 15px;
	margin: 0;
}

.list ul li {
	padding: 10px 15px 12px 2px;
	border-bottom: 1px solid #e2e2e2;
	margin: 0;
}

.list ul li:last-child {
	border: 0;
}

.list ul li:only-child {
	border-bottom: 1px solid #e2e2e2;
}

.list ul li img {
	margin-right: 10px;
}/*----------------------------------------------------------------------------------- *//* Task widget *//*----------------------------------------------------------------------------------- */.task-widget label {
	font-weight: normal;
	margin: 0;
	cursor: pointer;
	width: 100%;
}

.task-widget .task-input {
	display: none;
}

.task-widget input[type="checkbox"] + .task-checkbox {
	font-family: "FontAwesome";
	font-size: 20px;
	width: 30px;
	height: 20px;
	line-height: 1.1;
	display: inline-block;
	vertical-align: middle;
	color: #bbbbbb;
}

.task-widget input[type="checkbox"] + .task-checkbox:before {
	content: "\f096";
}

.task-widget input[type="checkbox"]:checked + .task-checkbox {
	color: #007aff;
}

.task-widget input[type="checkbox"]:checked + .task-checkbox:before {
	content: "\f046";
}/*----------------------------------------------------------------------------------- *//* Ratings widget *//*----------------------------------------------------------------------------------- */.rating-widget ul li {
	padding-bottom: 4px;
}

.rating-widget ul li .reviewer-info {
	margin-bottom: 10px;
}

.rating-widget ul li .reviewer-info img {
	margin-right: 8px;
}

.rating-widget ul li .reviewer-info em {
	color: #aaaaaa;
	font-size: 0.85em;
	margin-left: 4px;
}

.rating-widget ul li .reviewer-info .star-rating i {
	margin-left: 2px;
	font-size: 20px;
	color: #cccccc;
}

.rating-widget ul li .reviewer-info .star-rating i.icon-star, .rating-widget ul li .reviewer-info .star-rating i.icon-star-half-empty {
	color: #f7c310;
}/*----------------------------------------------------------------------------------- *//* Rollodex Styles *//*----------------------------------------------------------------------------------- */.rollodex {
	height: 500px !important;
}

.rollodex img {
	border-radius: 50%;
}

.rollodex ul li:only-child {
	border: 0;
}

.roll-title {
	background: #efefef;
	width: 100%;
	text-align: center;
	padding: 2px 0 2px 0;
	margin: 1px 0 1px 0;
}

.roll-item {
	padding: 20px 0 20px 0;
}/*----------------------------------------------------------------------------------- *//* Chat widget *//*----------------------------------------------------------------------------------- */.chat {
	height: 500px !important;
}

.chat .widget-content {
	padding-bottom: 66px;
	padding-right: 25px;
	padding-top: 60px !important;
}

.chat .widget-content .scrollbar-path-vertical {
	bottom: 56px !important;
}

.chat .widget-content ul {
	list-style: none;
	padding: 0;
}

.chat .widget-content ul li {
	margin-bottom: 14px;
	padding-left: 70px;
	position: relative;
}

.chat .widget-content ul li img {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.chat .widget-content ul li .bubble {
	padding: 12px 15px;
	background: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: 1px solid #e8e8e8;
	position: relative;
}

.chat .widget-content ul li .bubble:after {
	content: "";
	position: absolute;
	top: 25px;
	right: 100%;
	background: url(../images/chat-left.png) left top no-repeat;
	width: 16px;
	height: 18px;
	display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.chat .widget-content ul li .bubble:after {
		background-image: url(../images/chat-left%402x.png);
		background-size: 16px 18px;
	}
}

.chat .widget-content ul li .bubble .user-name {
	font-size: 1.1em;
	margin-bottom: 8px;
	display: inline-block;
}

.chat .widget-content ul li .bubble p.message {
	font-size: 0.95em;
	margin-bottom: 12px;
}

.chat .widget-content ul li .bubble em.time {
	font-size: 0.8em;
	color: #bbbbbb;
}

.chat .widget-content ul li .bubble em.time i {
	font-size: 1.25em;
	vertical-align: middle;
	margin: -2px 5px 0 0;
	display: inline-block;
}

.chat .widget-content ul li.current-user {
	padding-right: 70px;
	padding-left: 0;
}

.chat .widget-content ul li.current-user img {
	right: 0;
	left: auto;
}

.chat .widget-content ul li.current-user .bubble {
	background: #f2f8ff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #d4e1f0;
}

.chat .widget-content ul li.current-user .bubble:after {
	background: url(../images/chat-right.png) left top no-repeat;
	left: 100%;
	right: auto;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.chat .widget-content ul li.current-user .bubble:after {
		background-image: url(../images/chat-right%402x.png);
		background-size: 16px 18px;
	}
}

.chat .post-message {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 52px;
	padding: 8px 20px 8px 8px;
	background: white;
	background: rgba(230, 230, 230, 0.9);
	border: 1px solid #d6d6d6;
}

.chat .post-message input[type="text"] {
	width: 100%;
	height: 100%;
}

.chat .post-message input[type="submit"] {
	position: absolute;
	bottom: 8px;
	right: 20px;
	height: 34px !important;
	margin: 0;
	padding: 0 15px;
	border-radius: 0 4px 4px 0;
	height: 36px;
}/*----------------------------------------------------------------------------------- *//* Icons *//*----------------------------------------------------------------------------------- */.icons .row {
	margin: 0 !important;
}

.icons .row .col-lg-3 {
	padding: 8px 20px 8px 5px !important;
	height: 38px;
	border-radius: 5px;
	margin-bottom: 0 !important;
	cursor: pointer;
	color: #666666;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.icons .row .col-lg-3 [class^="icon-"], .icons .row .col-lg-3 [class*="icon-"] {
	width: 32px;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-transition: all 0.12s;
	-moz-transition: all 0.12s;
	transition: all 0.12s;
}

.icons .row .col-lg-3:hover {
	background-color: #f6f6f6;
}

.icons .row .col-lg-3:hover [class^="icon-"], .icons .row .col-lg-3:hover [class*="icon-"] {
	font-size: 24px;
	margin-top: -2px;
}/*----------------------------------------------------------------------------------- *//* Grid Structure *//*----------------------------------------------------------------------------------- */.grid-structure .row .widget-container {
	color: #999999;
	padding: 10px 15px 12px;
	min-height: 0;
}/*----------------------------------------------------------------------------------- *//* jQuery Map Styles *//*----------------------------------------------------------------------------------- */.map {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.jqvmap-label {
	position: absolute;
	display: none;
	background: white;
	background: rgba(255, 255, 255, 0.95);
	color: #666666;
	font-size: smaller;
	font-weight: 300;
	padding: 4px 6px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.jqvmap-zoomin, .jqvmap-zoomout {
	position: absolute;
	left: 10px;
	border-radius: 0px;
	background: #c2c2c2;
	padding: 8px 6px;
	color: white;
	width: 22px;
	height: 22px;
	cursor: pointer;
	line-height: 5px;
	text-align: center;
}

.jqvmap-zoomin:hover, .jqvmap-zoomin :active, .jqvmap-zoomout:hover, .jqvmap-zoomout :active {
	background: #007aff;
}

.jqvmap-zoomin {
	top: 10px;
}

.jqvmap-zoomout {
	top: 36px;
}

.jqvmap-region {
	cursor: pointer;
}

.jqvmap-ajax_response {
	width: 100%;
	height: 500px;
}/*----------------------------------------------------------------------------------- *//* Form styles *//*----------------------------------------------------------------------------------- */fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

label {
	font-weight: normal;
}

.form-control {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.form-control:focus {
	border-color: #007aff;
	box-shadow: none;
}

.form-horizontal .form-group {
	margin-bottom: 0;
}

.form-horizontal .form-group label {
	margin-bottom: 5px;
}

.radio, .checkbox {
	margin: 6px 0 !important;
}

.radio-inline, .checkbox-inline {
	padding-top: 9px;
	margin-right: 15px;
}

.has-warning .help-block, .has-warning .control-label {
	color: #f0ad4e;
}

.has-warning .form-control {
	border-color: #f0ad4e;
}

.has-error .help-block, .has-error .control-label {
	color: #d9534f;
}

.has-error .form-control {
	border-color: #d9534f;
}

.has-success .help-block, .has-success .control-label {
	color: #60c560;
}

.has-success .form-control {
	border-color: #60c560;
}

.radio + .radio:last-child, .checkbox + .checkbox:last-child {
	margin-bottom: 0;
}

.form-photo {
	margin: 4px 0 12px;
}

.holder {
	width: 56px;
	height: 28px;
	position: relative;
}

.check-ios {
	visibility: hidden;
}

.holder span {
	background-color: #e2e2e2;
	display: block;
	height: 30px;
	width: 54px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.holder span:after {
	background-color: white;
	content: "";
	display: block;
	height: 28px;
	width: 52px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.holder label {
	background: white;
	cursor: pointer;
	display: block;
	height: 28px;
	width: 28px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.check-ios:checked ~ span {
	background-color: #4fd065;
}

.check-ios:checked ~ span:after {
	height: 0;
	width: 0;
	left: 50%;
	top: 50%;
}

.check-ios:checked + label {
	left: 25px;
}/*----------------------------------------------------------------------------------- *//* select2 Dropdowns *//*----------------------------------------------------------------------------------- */.select2-container {
	width: 100%;
	height: 36px;
}

.select2-container .select2-choice {
	height: 100%;
}

.select2-container .select2-choice > .select2-chosen {
	height: 100%;
	line-height: 33px;
}

.select2-container .select2-choice .select2-arrow {
	width: 30px;
	text-align: center;
}

.select2-container .select2-choice .select2-arrow b {
	background: none;
	width: 0;
	height: 0;
	margin: 8px 0 0 -2px;
	display: inline-block;
	vertical-align: middle;
	border-top: 4px solid #444444;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	border-color: #007aff;
}

.select2-container-multi .select2-choices {
	background: white;
	border-color: #cccccc;
	border-radius: 4px;
	padding-top: 4px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Tooltip Styles *//*----------------------------------------------------------------------------------- */.tooltip-inner {
	border-radius: 0px;
	padding: 8px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Well Styles *//*----------------------------------------------------------------------------------- */.well {
	min-height: 38px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Accordion Styles *//*----------------------------------------------------------------------------------- */.panel {
	box-shadow: none;
}

.panel-heading {
	padding: 0;
}

.panel-heading .panel-toggle {
	background: #f9fafa;
}

.panel-title > a {
	font-weight: 200;
	padding: 10px 15px;
	display: block;
}

.panel-title > a:hover {
	color: #007aff;
}

.accordion-group {
	margin: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #f1f1f1;
}

.panel-group .panel {
	margin-bottom: 0;
	overflow: hidden;
	border-radius: 0px;
	border: 1px solid #e1e1e1;
	border-left: 0px;
	border-right: 0px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Modal Styles *//*----------------------------------------------------------------------------------- */.modal-content {
	border-radius: 0px;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.94);
	border: 0;
}

.modal-footer .btn {
	margin: 0 10px 0px 0;
}

.modal-footer {
	border: 0px;
	padding: 19px 20px 30px;
}

.modal-header {
	background: #f1f1f1;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Tab Styles *//*----------------------------------------------------------------------------------- */.nav-tabs > li > a {
	border-radius: 0px;
}

.nav-tabs {
	margin-top: -8px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Alert Styles *//*----------------------------------------------------------------------------------- */.alert {
	border-radius: 0px;
}

button.close {
	margin-left: 18px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Pagination *//*----------------------------------------------------------------------------------- */.pagination {
	margin: 12px 0;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Badge Styles *//*----------------------------------------------------------------------------------- */.badge {
	background-color: #949494;
	font-weight: 300;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Breadcrumb *//*----------------------------------------------------------------------------------- */.breadcrumb {
	padding: 9px 15px 6px;
	border-radius: 0px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}/*----------------------------------------------------------------------------------- *//* Bootstrap Popover *//*----------------------------------------------------------------------------------- */.popover {
	border-radius: 0px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.92);
}

.popover-title {
	border-radius: 0px;
	color: #007aff;
	margin-left: 14px;
	background: none;
	padding-left: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popover-content {
	padding: 0px;
	margin-left: 14px;
	padding: 12px 15px 12px 0;
}/*----------------------------------------------------------------------------------- *//* Fancybox *//*----------------------------------------------------------------------------------- */.fancybox-skin {
	border-radius: 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4) !important;
	background: white;
	background: rgba(255, 255, 255, 0.9);
}

.fancybox-skin .fancybox-prev span, .fancybox-skin .fancybox-next span {
	background: none;
	font-family: "FontAwesome";
	font-size: 40px;
	left: 50%;
	right: auto;
	width: 16px;
	height: 56px;
	margin: -28px 0 0 -8px;
}

.fancybox-skin .fancybox-prev span:before, .fancybox-skin .fancybox-next span:before {
	color: white;
}

.fancybox-skin .fancybox-prev {
	left: -80px;
}

.fancybox-skin .fancybox-prev span:before {
	content: "\f104";
}

.fancybox-skin .fancybox-next {
	right: -80px;
}

.fancybox-skin .fancybox-next span:before {
	content: "\f105";
}

.fancybox-skin .fancybox-close {
	background: none;
	font-family: "FontAwesome";
	font-size: 38px;
	color: white;
	top: -15px;
	right: -55px;
	opacity: 0.6;
}

.fancybox-skin .fancybox-close:hover {
	opacity: 1;
}

.fancybox-skin .fancybox-close:before {
	content: "×";
}

.fancybox-nav {
	width: 60px;
}

.fancybox-nav span {
	visibility: visible;
	opacity: 0.5;
}

.fancybox-nav:hover span {
	opacity: 1;
}

.fancybox-title {
	text-align: center;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Tab Styles *//*----------------------------------------------------------------------------------- */.nav-tabs > li > a {
	border-radius: 0px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Alert Styles *//*----------------------------------------------------------------------------------- */.alert {
	border-radius: 0px;
	padding: 15px;
}

.alert .close {
	line-height: 17px;
}/*----------------------------------------------------------------------------------- *//* Bootstrap Badge Styles *//*----------------------------------------------------------------------------------- */.badge {
	background-color: #949494;
	font-weight: 300;
}/*----------------------------------------------------------------------------------- *//* Responsive Styles *//*----------------------------------------------------------------------------------- */.row {
	margin: 0 10px 0;
}

.row .row {
	margin: 0 -10px 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding: 0 10px;
	margin-bottom: 20px;
}

.hideme {
	display: none;
}/*----------------------------------------------------------------------------------- *//* Mobile Styles *//*----------------------------------------------------------------------------------- */@media (max-width: 979px) {
	.stats-container {
		height: 470px;
	}

	.stats-container [class^="col-"], .stats-container [class*="col-"] {
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 12px;
		height: auto;
	}
}

@media (max-width: 768px) {
	body {
		left: 0;
		-webkit-transition: left 0.3s;
		-moz-transition: left 0.3s;
		transition: left 0.3s;
		padding-top: 80px;
	}

	body.nav-open {
		left: 200px;
		overflow: hidden;
	}

	.navbar {
		height: 45px !important;
		-webkit-transition: left 0.3s;
		-moz-transition: left 0.3s;
		transition: left 0.3s;
	}

	.navbar.nav-open {
		left: 200px;
	}

	.navbar .container-fluid.top-bar {
		border-bottom: 0;
	}

	.navbar .container-fluid.top-bar .logo {
		float: right;
		margin: 13px 5px 0 0;
	}

	.navbar .container-fluid.main-nav {
		position: fixed;
		left: -200px;
		top: 0;
		height: 100%;
		width: 200px;
		background: #dddddd;
		box-shadow: inset -4px 0 0 rgba(0, 0, 0, 0.05);
		-webkit-transition: left 0.3s;
		-moz-transition: left 0.3s;
		transition: left 0.3s;
		overflow-y: auto;
		-webkit-scroll-overflow: touch;
	}

	.navbar .container-fluid.main-nav.open {
		left: 0;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav {
		padding-left: 15px;
		text-align: left;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li {
		display: block;
		text-align: left;
		margin: 0;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > .dropdown-menu {
		display: block;
		position: relative;
		background: none;
		box-shadow: none;
		margin: 0;
		width: 100%;
		float: none;
		border-bottom: 1px solid #aaaaaa;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > .dropdown-menu li a {
		border-color: #aaaaaa;
		margin-left: 15px;
		color: #777777;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > .dropdown-menu li a.current {
		border-bottom-color: #007aff;
		color: #007aff;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a {
		display: block;
		text-align: left;
		padding: 0;
		font-size: 14px;
		line-height: 44px;
		height: 46px;
		color: #777777;
		border-bottom: 1px solid #aaaaaa;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a:hover {
		background: none !important;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a span {
		display: block;
		float: left;
		margin: 8px 15px 0 0;
		background-position: left -140px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a .caret {
		display: none;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current {
		color: #007aff;
		border-bottom-color: #007aff;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current span {
		background-position: left -28px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current .caret {
		border-top-color: #007aff;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li > a:hover {
		background: #eeeeee;
		background: rgba(0, 0, 0, 0.04);
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li .dropdown-menu {
		text-align: left;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li.ui a span {
		background-position: -28px -140px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li.forms a span {
		background-position: -56px -140px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li.charts a span {
		background-position: -84px -140px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li.tables a span {
		background-position: -112px -140px;
	}

	.navbar .container-fluid.main-nav .nav-collapse .nav > li.gallery a span {
		background-position: -140px -140px;
	}

	.widget-container > div .heading {
		padding-left: 5px;
	}
}

@media (max-width: 600px) {
	.tabs-hidden-tab {
		display: none;
	}

	.fc-header-right {
		display: none;
	}

	.task-widget li.label {
		display: none;
	}

	.padded {
		padding: 10px;
	}

	.table th {
		font-size: 13px;
	}

	.dataTables_length, .dataTables_filter, .dataTables_info, .paginate_button.first, .paginate_button.last {
		display: none;
	}

	.pie-chart ul.chart-key {
		margin: 15px 0 10px;
		padding: 0;
		width: 100%;
	}

	.pie-chart ul.chart-key li {
		display: inline-block;
		margin: 4px 10px;
	}

	#composite-chart-1 canvas {
		width: 100% !important;
	}
}

.ico {
	text-align: center;
}/*----------------------------------------------------------------------------------- *//* Documentation Styles *//*----------------------------------------------------------------------------------- */.code-container {
	width: 100%;
}

.code-container.large {
	min-height: 400px;
}

.what [class^="icon-"] {
	margin-right: 10px;
	color: #007aff;
}

.what h4 {
	color: #007aff;
}