@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(./fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2'), url(./fonts/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(./fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(./fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
