
<!-- 引入头部 -->
{include file="public/header" /}

<form class="layui-form info-form" action="" style="width:80%;">
	<input name="id" id="id" type="hidden" value="{$info.id}">
	<input name="type_id" id="type_id" type="hidden" value="{$info.type_id}">
	<div class="layui-form-item">
		<label class="layui-form-label">广告封面：</label>
		{:widget('common/uploadImg',array('cover',$info['cover_url'],'90x90',封面))}
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">广告位：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('ad_sort_id|1|广告位|name|id',$sortList,$info['ad_sort_id']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">URL地址：</label>
			<div class="layui-input-inline">
				<input name="url" id="url" value="{$info.url}" lay-verify="required" autocomplete="off" placeholder="请输入地址链接" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">广告标题：</label>
			<div class="layui-input-inline">
				<input name="title" id="title" value="{$info.title}" lay-verify="required" autocomplete="off" placeholder="请输入广告标题" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">广告类型：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('t_type|1|广告位|name|id',config('adminconfig.ad_type'),$info['t_type']))}
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-hide t_type">
		<div class="layui-inline">
			<label class="layui-form-label">推荐类型：</label>
			<div class="layui-input-inline">
				{:widget('common/singleSelect',array('type|0|推荐类型|name|id',config('adminconfig.system_recomm_type'),$info['type']))}
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">选择模块：</label>
			<div class="layui-input-inline">
				<input name="type_desc" id="type_value" value="{$info.type_desc}" lay-verify="" autocomplete="off" placeholder="请选择模块对象" class="layui-input" type="text" readonly="">
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-form-text" style="width:665px;">
		<label class="layui-form-label">描述：</label>
		<div class="layui-input-block">
			<textarea name="description" id="description" placeholder="请输入广告位描述" class="layui-textarea">{$info.description}</textarea>
		</div>
	</div>
	<div class="layui-form-item" style="width:850px;">
		<label class="layui-form-label">广告内容：</label>
		<div class="layui-input-block">
			<textarea name="content" id="content" lay-verify="required" class="layui-textarea">{$info.content}</textarea>
			{:widget('kindeditor/getEditor',array('default','content','100%',300))}
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">序号：</label>
		<div class="layui-input-inline">
			<input name="sort_order" id="sort_order" value="{$info.sort_order}" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>

<!-- 引入头部 -->
{include file="public/footer" /}
