<div class="titlebar">
    <div class="fn-left"><i class="iconfont icon-text_icon"></i>客户收益</div>    
    <div class="fn-right">
        <a href="{:url('bank/index',['types'=>0])}" class="button{if $types == 0} button-green{/if}">最近交易</a>
        <a href="{:url('bank/index',['types'=>1])}" class="button{if $types == 1} button-green{/if}">收益排行</a>
        <a href="{:url('bank/index',['types'=>2])}" class="button{if $types == 2} button-green{/if}">余额排行</a>
        <a href="{:url('bank/index',['types'=>3])}" class="button{if $types == 3} button-green{/if}">锁定排行</a>
        <a href="{:url('bank/index',['types'=>4])}" class="button{if $types == 4} button-green{/if}">积分排行</a>
    </div>
</div>
<div class="cards">
    <div class="card green">
        <div class="fn-left"><i class="iconfont icon-renminbi1688"></i></div>
        <div class="fn-right fn-tar"><div class="num">{$income_money|money}</div><div class="text">累计金额(包含成本价)</div></div>
    </div>
    <div class="card green">
        <div class="fn-left"><i class="iconfont icon-renminbi1688"></i></div>
        <div class="fn-right fn-tar"><div class="num">{$due_money|money}</div><div class="text">应付金额</div></div>
    </div>
    <div class="card green">
        <div class="fn-left"><i class="iconfont icon-renminbi1688"></i></div>
        <div class="fn-right fn-tar"><div class="num">{$shop_money|money}</div><div class="text">购物积分</div></div>
    </div>
    <div class="card green">
        <div class="fn-left"><i class="iconfont icon-renminbi1688"></i></div>
        <div class="fn-right fn-tar"><div class="num">{$lack_money|money}</div><div class="text">锁定金额</div></div>
    </div>
</div>
<table class="pure-table">
    <thead>
        <tr>
            <th class="w80 fn-tac">#</th>
            <th class="w320 fn-tac">操作</th>
            <th class="w60">昵称</th>
            <th>昵称</th>
            <th class="w120 fn-tar">累计收益</th>
            <th class="w120 fn-tar">应付金额</th>
            <th class="w120 fn-tar">购物积分</th>
            <th class="w120 fn-tar">锁定金额</th>
            <th class="w160">更新日期</th>
        </tr>
    </thead>
    <tbody>
        {foreach $list as $vo}
        <tr>
            <td class="fn-tac">{$vo.id}</td>
            <td class="fn-tac button-group"> 
                <a class="button button-green win" href="javascript:;" url="{:url('system/passport.user/pyramid',['id'=>$vo.user_id])}" title="伞下"><i class="iconfont icon-iconset0280"></i>伞下</a>
                <a class="button button-red win"  href="javascript:;" url="{:url('system/passport.user/level',['id'=>$vo.user_id])}" title="溯源"><i class="iconfont icon-lianjie"></i>溯源</a>
                <a class="button win" href="javascript:;" id="{$vo.user_id}" url="{:url('popupshop/bank/bill')}" title="账单">
                    <i class="iconfont icon-wodedingdan2"></i>账单
                </a>
                <a class="button win" href="javascript:;" id="{$vo.user_id}" url="{:url('popupshop/bank/recharge')}" title="充值">
                    <i class="iconfont icon-chuzhijine"></i>充/提
                </a>
            </td>
            <td><img src="{$vo.user.face}" class="w40" /></td>
            <td><a class="win" href="javascript:;" url="{:url('system/passport.user/review',['uid' => $vo.user_id])}" title="预览">{$vo.user.nickname}</a></td>
            <td class="fn-tar">{$vo.income_money|money}</td>
            <td class="fn-tar">{$vo.due_money|money}</td>
            <td class="fn-tar">{$vo.shop_money|money}</td>
            <td class="fn-tar">{$vo.lack_money|money}</td>
            <td>{$vo.update_time|date='Y-m-d H:i'}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
<div class="page">{$list|raw}</div>
<script type="text/javascript">
    Do('base', 'layer', function () {
        $('.win').win()
    })
</script>