<layout name="layout" />

<script src="{$uri}Public/Scripts/PSI/User/ChangeMyPasswordForm.js?dt={$dtFlag}" type="text/javascript"></script>

<script>
  Ext.onReady(function () {
    var app = Ext.create("PSI.App", {
      userName: "{$loginUserName}",
      productionName: "{$productionName}",
      appHeaderInfo: {
        title: "{$title}",
        iconCls: "PSI-fid-9996"
      }
    });

    var mainForm = Ext.create("PSI.User.ChangeMyPasswordForm", {
      loginUserId: "{$loginUserId}",
      loginUserName: "{$loginName}",
      loginUserFullName: "{$loginUserName}"
    });

    app.add(mainForm);
  });
</script>
