.input-medium{
	width:150px !important;
}

.control-label{
	font-weight:normal;
}

.form-actions{
	padding:15px;
}

.search-form{
	height:35px;
	margin: 0;

	&>.search-pane{
		margin:5px;
		height:30px;
		background:#fff;
		border:1px solid #ccc;

		&>input{
			background:none;
			@include border-radius(0);
			@include box-shadow(none);
			border:0;
			display: block;
			float:left;
			font-size:12px;
			line-height:20px;
			padding:4px 6px;
			margin-bottom:0;
			width:160px;
			outline:none;

			&:focus{
				@include box-shadow(none);
			}
		}

		button[type="submit"]{
			float:right;
			background:$blue;
			color:#fff;
			border:0;
			margin:2px 2px 0px 0;
			line-height:19px;
			min-height:24px;
		}
	}
}

.form-messages{
	margin-bottom: 0;
}

.form-vertical{
	.control-label{
		small{
			margin-left: 20px;
		}
	}

	&.form-bordered{
		.form-group{
			border-bottom:1px solid #ddd;
			padding:20px;
			margin-bottom: 0;
		}
	}
}

.form-striped{
	.form-group{
		padding:15px;
		margin: 0;
	}
	.form-group:nth-child(odd){
		background: #f6f6f6;
	}
}

.form-horizontal{

	.help-block{
		.progress{
			margin-bottom: 0;
		}
	}

	&.form-striped{
		.form-group{
			padding:15px 20px;
			border-bottom:1px solid #ddd;
		}
	}

	&.form-column{
		@include pie-clearfix;
	
		.form-actions{
			border-top:1px solid #ddd;
			margin-top: 0;
		}

		[class*="col-"] {
			margin: 0;
			border-left:1px solid #ddd;
			padding-left:0;

			&:first-child{
				border-left:0;
				padding-left:15px;
			}
		}
	}
	.form-group{
		.control-label{
			&.right{
				text-align:right;
			}
			small{
				display: block;
				color:#999;
			}
		}
	}

	&.form-bordered{
		.form-group{
			margin: 0;
			padding: 0;
			border-bottom:1px solid #ddd;
			background: #f6f6f6;

			&:last-child{
				border-bottom:0;
			}

			[class*="col-"]{
				padding:10px;
				background: #fff;
				border-left:1px solid #ddd;

				[class*="col-"]{
					border-left:0;
					padding:0;
				}

				@include pie-clearfix;

				&.control-label{
					background: none;
					border-left:0;
				}
			}

			.control-label{
				margin: 0;
				padding:15px 10px 5px 10px;
				color:#555;

				small{
					display: block;
					font-size:12px;
					color:#888;
					font-weight:normal;
				}
			}
		}
	}
}

.form-button{
	display: block;
	@include pie-clearfix;
	margin-top: 5px;

	a{
		float:left;
	}

	span{
		margin-left:5px;
		font-size:14px;
		margin-top: 5px;
		display: block;
		float:left;

		i{
			margin-right:5px;
		}
	}
}

[class*="span"] {
	.form-actions{
		margin-bottom: 0;
	}
}