


<div class="page-content">
            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="error-container">
                  <div class="well">
                    <h1 class="grey lighter smaller">
                      <span class="green bigger-125">
                        <i class="icon-check-circle-o"></i>
                        提示
                      </span>
                      
                    </h1>

                    <hr />
                    <h3 class="lighter smaller">{$message}</h3>

                    <div>
                

                      <div class="space"></div>
                      <h4 class="smaller"><span id='times'>5</span>秒后将跳转
      </h4>

                      
                    </div>

                    <hr />
                    <div class="space"></div>

                    <div class="center">
                
                      <a href="{$jumpUrl}" class="btn btn-success">
                        <i class="icon-reply bigger-110"></i>
                        立即跳转
                      </a>
                    </div>
                  </div>
                </div><!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->




<!--end content-->
<script>
var stay_time = 5;
function countDown(secs,surl){     
     var jumpTo = document.getElementById('times');
   jumpTo.innerHTML = secs;  
   if(--secs>0){     
     setTimeout("countDown("+secs+",'"+surl+"')",1000);     
   }else{       
     location.href=surl;     
   }     
}  
var locations = '{$jumpUrl}';  
countDown(stay_time,locations);

</script>