.bdsharebuttonbox { float: left; width: 120px; height: 18px; line-height: 18px; }
.bdshare-button-style1-16 .bds_qzone { background-position: 0 0; }
.bdshare-button-style1-16 .bds_tsina { background-position: 0 -48px; }
.bdshare-button-style1-16 .bds_tqq { background-position: 0 -96px; }
.bdshare-button-style1-16 .bds_renren { background-position: 0 -144px; }
.bdshare-button-style1-16 .bds_weixin { background-position: 0 -192px; }
.bdshare-button-style1-16 { zoom: 1; }
.bdshare-button-style1-16:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
.bdshare-button-style1-16 a{ float: left; display: block;  width: 18px; height: 18px; background-image: url(icon-share.png); _background-image: url(icon-share-8.png); background-repeat: no-repeat; cursor: pointer;margin-right: 5px; }
.bdshare-button-style1-16 a:hover { color: #333; opacity: .8; filter: alpha(opacity=80); }
.sharebtn{position: relative;display:block;height:18px;}
.bdsharebtn {position: absolute; top:0; left: 20px;background-color: #fff; z-index: 2; float: none;  width:110px;}
.tags-info dd .sharebtn{margin-top:10px;}

.x_tags{padding:10px 0}
.x_tags a{padding:2px 5px;}