<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>游戏多管理中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" href="<!--{{asset('common-css-main.css')}}-->">	
    <script src="<!--{{asset('common-main.js')}}-->"></script>
</head>

<body class='login'>
	<div class="wrapper">
		<h1><a>游戏多管理中心</a></h1>
		<div class="login-body">
			<h2>SIGN IN</h2>
			<form action="<!--{{url('login/do')}}-->" method='POST' class='form-validate' id="login">
			    <!--{%if error%}-->
			    <div class="control-group">
				    <div class="controls">
				    	<span class="label label-warning"><!--{{error}}--></span>
				    </div>
			    </div>
			    <!--{%endif%}-->
				<div class="control-group">
					<div class="email controls">
						<input type="text" name='email' placeholder="帐号" class='input-block-level' value="" data-rule-required="true" data-msg-required="帐号不能为空">
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<input type="password" name="pwd" placeholder="密码" class='input-block-level' value="" data-rule-required="true" data-msg-required="密码不能为空">
					</div>
				</div>
				<!--{%if captcha==true%}-->
				<div class="control-group">
					<div class="controls">
					    <div class="input-append">
						<input type="text" name="captcha" placeholder="验证码" class='input-block-level input-medium' data-rule-required="true">
						<span class="add-on" style="padding:0px;height:28px;"><img id="captcha" src="/captcha" /></span>
						</div>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="submit">
					<div class="remember">
						<input type="checkbox" name="remember" class='icheck-me' data-skin="square" data-color="blue" id="remember"> <label for="remember">自动登录</label>
					</div>					
					<input type="submit" value="登录" class='btn btn-primary'>
				</div>
			</form>
			<div class="forget">
				<a href="javascript:void(0);"><span></span></a>
			</div>
		</div>
	</div>
	
</body>
<script>
    $(function(){
        $('#captcha').click(function(){
            $(this).attr('src',$(this).attr('src'));
        });
    });
</script>
</html>
