{extend name="admin/public/base"/}
{block name="body"}
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">{$meta_title}</h3>
		<div class="box-tools pull-right">
			<a href="{:url('/admin/group/index')}" class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-menu-left"></i>  返回
			</a>
		</div>
	</div>
	<div class="box-body">
		<div class="table-responsive clearfix">
			<form class="form" method="post" role="form">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-lg-2 text-right">分组</th>
							<th>权限</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" id="node"}
						<tr>
							<td class="info col-lg-2 text-right">{$key}</td>
							<td class="col-lg-10 text-left">
								{volist name="node" id="item"}
								<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" name="rule[]" value="{$item['id']}" id="{$item['name']}" {if in_array($item['id'],$auth_list)}checked{/if} />
								<label for="{$item['name']}">{$item['title']}</label>
								</div>
								{/volist}
							</td>
						</tr>
						{/volist}
						<tr>
							<td class="info col-lg-2 text-right">模块</td>
							<td class="col-lg-10 text-left">
								{volist name="model" id="item"}
								<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" name="extend_rule[2][]" value="{$item['id']}" id="{$item['name']}" {if in_array($item['id'],$extend_auth)}checked{/if} />
								<label for="{$item['name']}">{$item['title']}</label>
								</div>
								{/volist}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="hidden" name="id" value="{$id}">
						<button type="submit" class="btn btn-success submit-btn">确认提交</button>
						<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}