<div class="am-g">
		<div data-am-widget="list_news" class="article-list am-list-news am-list-news-default" >
			<div class="am-list-news-bd">
				<ul class="am-list" id="content-list">
					<volist name="list" id="vo">
						<li class="am-g">
							<div class="am-list-thumb ">
								<a href="{:U('/article/'.$vo['id'])}" class="">
									<img class="am-img-responsive lazy" data-original="{$vo.cover_id|get_cover=path}" src="__IMG__/s.jpg" alt="{$vo.title}"/>
								</a>
							</div>
							<div class="am-list-main">
								<h3 class="am-list-item-hd article-title"><a href="{:U('/article/'.$vo['id'])}" class="">{$vo.title}</a></h3>

								<div class="am-list-item-text article-disc">{$vo.description}</div>

							</div>
							<div class="view-info">
								<ul class="post-info">
									<li class="info-item">
										<i class="am-icon-eye"></i>
										<span>{$vo.view}</span>
									</li>
									<li class="info-item">
										<i class="am-icon-heart-o" data-id="{$vo.id}"></i>
										<span>{$vo.favor}</span>
									</li>

									<li class="info-item">
										<i class="am-icon-comment-o"></i>
										<span>{$vo.comment}</span>
									</li>
								</ul>

							</div>
						</li>
					</volist>
				</ul>
			</div>
		</div>
</div>
