@CHARSET "UTF-8";



.pagination {
 display: inline-block;
 padding-left: 0;
     margin-right: 100px;
 border-radius: 4px;
 float: right; 
}
.pagination li {
  display: inline;
}
.pagination li a,
.pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #393D49;
  background: #fff;
  margin: 0 0 0 8px;
  border: 1px solid #eee;
}

.pagination li a:hover {
	color: #fff;
	background: #009688;
}
.pagination .active span{
background: #009688;
color: #fff;
}
.pagination .disabled{
display: none;
}
.btable-paged {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    height:36px;
    line-height:36px;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    overflow: hidden;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.admin-node-label {
    margin:10px 0px 10px 20px ;
    display:inline-block;
    
    font-weight: normal !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 2px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

/* 适配多设备 */
@media screen and (max-width: 750px) {
	.btable-paged li{display:none;}
	.btable-paged li:first-child{display:inline-block;}
		.btable-paged li:last-child{display:inline-block;}
		.pagination {
 display: inline-block;
 padding-left: 0;
 
 border-radius: 4px;
 float: left; 
}