body {
    color: #9a9a9a;
    font-family: "微软雅黑",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857;
}
h1,h2{
    color: #c30005;
    font-family: "Advent Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 17px;
    text-transform: uppercase;
}
.checkout-heading {
    background: none repeat scroll 0 0 #0a0a0a;
    border: 1px solid #000000;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 17px;
    overflow: hidden;
    padding: 10px 0 10px 21px;
    position: relative;
    text-transform: uppercase;
}
.checkout-heading span {
    float: left;
}
.checkout-content {
    display: none;
    margin-bottom: 38px;
    margin-top: 27px;
    overflow: hidden;
}
.checkout-content .left {

}
.checkout-content .right {

}
.checkout-content p {
    color: #aaa;
    font-size: 12px;
}
.checkout-content label, .checkout-content a.colorbox, .checkout-content a.colorbox b {
    color: #aaa;
    font-weight: 700;
}
.checkout-content label {
    margin-bottom: 2px;
}
label {
    cursor: default;
    font-size: 12px;
    margin-right: 7px;
}
.checkout-content b {
    color: #141414;
}
input[type="text"], input[type="password"], select {
    border: 1px solid #dcdcdc;
    height: 33px;
    line-height: 30px;
    padding: 0 5px;
}
.checkout-content input[type="text"], .checkout-content select, .checkout-content input[type="password"] {
    margin: 6px 0 8px;
    width: 90%;
}
.checkout-content #login input.text {
    margin: 6px 0 8px;
    width: 90%;
}
.btn {
    background-color: #dcdcdc;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-family: "Advent Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: background 0.5s ease 0s;
}
.checkout-content input#button-account {
    margin-top: 40px;
}
.btn-continue {
    background-color: #c30005;
}
.btn-upload {
    background-color: #0a0a0a;
}
.btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #c30005;
}
.btn-continue:hover {
    background-color: #0a0a0a;
}
.checkout-heading a {
    background-image: url("../image/checkout_arr.png");
    background-position: 9px 11px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 2px;
    width: 31px;
}
.required {
    color: #ff0000;
    font-weight: bold;
}
.buttons .left {
    float: left;
    font-weight: 700;
    text-align: left;
}
.checkout-content .error,.checkout-content .warning {
    margin-bottom: 10px;
}
.error,.warning {
    color: #ff0000;
    display: block;
}

table.radio td input[type="radio"] {
    margin:0;
    padding-right:10px;
    position:relative;
}
