h1 {
    color: #c30005;
    font-family: "Advent Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 17px;
    text-transform: uppercase;
}
table.form {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
form.register table.form td {
    padding: 3px 4px 4px 0;
}
form.register td {
    color: #141414;
    font-weight: 700;
}
table.form td {
    font-size: 12px;
    padding: 4px 4px 4px 0;
}
table td {
    padding: 0;
    vertical-align: top;
}
.required {
    color: #ff0000;
    font-weight: bold;
}
form.register td input[type="text"], form.register td input[type="password"], form.register td select {
/*    width: 33%;*/
}

input[type="text"], input[type="password"], select {
    border: 1px solid #dcdcdc;
    height: 33px;
    line-height: 30px;
    padding: 0 5px;
}