.block {
    margin: 0 0 35px;
}
.block .block-title {
    border-bottom: 2px solid #ddd;
    color: #000;
    font-family: "Raleway",serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
}
.block .block-title span {
    border-bottom: 2px solid #da2c2a;
    display: inline-block;
    height: 30px;
}
.block-account .block-content {
    background-color: #f7f7f7;
    padding: 0 10px;
}
.block .block-content {
    border-top: medium none;
    font-size: 12px;
    overflow: hidden;
    
}
.block-account .block-content ul {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}
.block-account .block-content li:before {
    color: #333;
    content: "ï„…";
    cursor: pointer;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
}
.block-account .block-content li:first-child {
    border-top: medium none;
}
.block-account .block-content li {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 10px 0;
}
.block-account .block-content li a {
    cursor: pointer;
    padding: 0 12px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
column a {
    color: #333;
    text-decoration: none;
}
.page-title {
    margin: 0;
    overflow: hidden;
    padding: 0 0 10px;
}
.page-title h1, .page-title h2 {
    color: #000;
    font-family: "Raleway",serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.table-bordered {
    border: medium none;
}
.table.table-bordered thead td {
    background-color: #f7f7f7;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd !important;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: medium none;
}
.table > tbody > tr {
    border-top: 1px solid #ddd;
}
.button {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ddd;
    font-family: "Raleway",serif;
    padding: 7px 12px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.button:hover {
    background: none repeat scroll 0 0 #da2c2a;
    border: 1px solid #da2c2a;
    color: #fff;
    padding: 7px 12px;
}
a {
    color: #333;
    text-decoration: none;
}
label {
    font-size: 14px;
    font-weight: normal;
}
.form-horizontal .control-label {
	margin:0;
    text-align: left;
    padding-top: 7px;
}

div.required .control-label::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input[type="text"], input[type="password"], select {
    border: 1px solid #dcdcdc;
    height: 33px;
    line-height: 30px;
    padding: 0 5px;
    margin: 6px 0 8px;
    width: 98%;
}
.error, .warning {
    color: #ff0000;
    display: block;
}