.ml10{margin-left:10px;}
.ml100{margin-left:100px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.w100{width:100px;}


.tac{text-align:center;}
.h100{height:100px;}

.fz{font-size:16px;}
.h{height:50px;}

.fl{float:left;}
.fr{float:right;}
.tac{text-align:center;}
#text{margin-bottom:10px;}

.btn-continue {
    background-color: #c30005;
}
.btn {
/*    background-color: #dcdcdc;*/
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-family: "Advent Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: background 0.5s ease 0s;
}

body{
  	font-family: 'Microsoft Yahei';
}
/***首页***/
.block-header .big-red {
    color: #c30005;
}
.block-header {
    color: #141414;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
}
.rp_box_wrapper {
    padding-top: 20px;
}


footer {
    background: none repeat scroll 0 0 #28262a;
    color: white;
    margin-top: 20px;
}
.rp_box {
    border-bottom: 1px dashed gray;
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul li{list-style-type:none;}

#templatemo_cr_bar {
	font-size:12px;
    color: #ddd4c5;
    margin: 0 auto;
    padding: 15px 10px;
    text-align: center;
}
#ypc{margin:0 10px 0 5px;}

#bei{color:#ddd4c5;}

.img-thumbnail{margin:10px auto;}

#page{}

#cart-total{
	font-size:11px;
	position:relative;
	top:-7px;
}
#page a,#page span{
 	background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
#page span{
	background-color: #6faed9;
	border-color: #6faed9;
	color: #fff;
}

.product-description{}
.product-description p{
 line-height: 30px;
    text-align: justify;	
}
/**博客***/
#blog-category{padding-left:0;}
#blog-category li.sub{padding:10px;}
#blog-category li.sub-child{padding:2px 0 2px 20px;}
#blog-category li.sub-child a{color:#000;}
.sub-child{padding-left:10px;}


#blog .fz{font-size:16px;}
#blog .h{height:50px;}
#blog .post_box {
    clear: both;
    margin-bottom: 60px;
}
#blog .post_box img {
    float: left;
    margin-right: 30px;
}
#blog .image_frame_300 {
    height: 140px;
    margin-bottom: 20px;
    padding: 10px;
    width: 280px;
}
#blog .img-polaroid {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
}

#blog .post_box h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
#blog .post_box p {
    text-align: justify;
}
#blog .cleaner {
    clear: both;
}
#blog .post_meta {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #726144 -moz-use-text-color;
    border-image: none;
    border-style: dashed none;
    border-width: 1px medium;
    color: #a0a0a0;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 2px 0;
}

#blog .post_meta i {
    color: #907244;
    font-style: italic;
}

#blog .post_meta a {
    color: #907244;
    text-decoration: none;
}
#blog .post_meta span {
    float: right;
}
#blog_content .img-thumbnail{display:block;}

#blog-content p{ text-align: justify;line-height:30px;}

.form-group.has-error input, .form-group.has-error select, .form-group.has-error textarea {
    border-color: red;
    box-shadow: none;
    color: #d68273;
}
.help-block{
    color: #d16e6c;
}

#reply{}
#reply .comments{margin:0;}
#reply .comments li {
    list-style: outside none none;
    margin-bottom: 10px;
}
/**留言***/
.comments li .commentbox1 {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #e4ded4;
}
.comments li .comment_box {
    clear: both;
    padding: 15px;
    
}
.comment_box .gravatar {
    background: none repeat scroll 0 0 #000;
    float: left;
    margin-right: 15px;
    width: 50px;
}

.comment_box .gravatar img {
    height: 50px;
    margin: 0;
    width: 50px;
}

.comment_box .comment_text {
    margin: 0 0 0 65px;
}

.comment_text .comment_author {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment_text .date {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
}

.comment_box .comment_text p {
    margin: 0;
}

.comment_text .reply a {
    clear: both;
    color: #5a5757;
    display: block;
    float: right;
    font-weight: 700;
}
/**商品详情***/
#goods-show{}

.main-container{
	background-color: #fff;
    min-height: 400px;
    padding: 20px 0 0;	
}
#content {
    min-height: 600px;
}
.col1-layout .col-main {
    float: none;
    width: auto;
}

.product-view .flexslider-thumb {
    margin: 30px auto 0;
    max-width: 420px;
    padding: 0 65px;
    position: relative;
}
.product-essential .large-image img {
	height: auto;
	width: 100%;
}
.product-view .product-img-box {
    margin-bottom: 10px;
    position: relative;
}
.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease 0s;
}

.product-view .previews-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.product-view .previews-list li {

    margin-right: 10px;
    padding: 0;
   
}
.flexslider .slides img {
    display: block;
    width: 100%;
}
.product-view .flexslider-thumb .flex-viewport {
	z-index: 10
}
.product-view .flexslider-thumb .flex-direction-nav {
	top: 30%;
	left: 0;
	width: 100%;
	z-index: 9
}
.product-view .flexslider-thumb .flex-prev {
	position: absolute;
	left: 12px;
	top: 0px;
}
.product-view .flexslider-thumb .flex-next {
	position: absolute;
	right: 20px;
	top: 0px;
}
.product-view .flexslider-thumb li img {
	cursor: pointer;
	-moz-user-select: none
}
.product-view .previews-list {
	padding: 0;
	list-style-type: none;
	text-align: center
}
.product-view .previews-list li {
	width: 80px;
	margin-right: 10px;
	padding: 0;
	float: none;
	display: inline-block;
}
.product-view .product-name {
    border-bottom: 1px solid #ddd;
}

.product-view .product-shop .ratings {
    margin: 15px 0 0;
    padding: 5px 0;
}
.ratings .rating-box {
    display: inline-block;
    margin-right: 8px;
}
.rating-box {
    font-size: 0;
    overflow: hidden;
}
.rating-box .rating {

    float: left;
    height: 15px;
}
.rating .fa-stack {
    font-size: 8px;
    width: 14px;
}

.ratings .fa {
    color: #ccc;
    
}
.rating .fa-star-o {
    color: #ccc;
    font-size: 12px;
}
.product-view .product-shop .price-box {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 0 0 10px;
    padding: 0 0 5px;
}
.regular-price {
    display: inline;
}
.product-view .product-shop .price {
    color: #ff0000;
    font-size: 28px;
    font-weight: bold;
}
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}

.pull-left {
    float: left;
}
#quantity{
 	border: 1px solid #dcdcdc;
    height: 49px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 150px;
}
.select_number {
    display: inline-block;
    position: relative;
    width: 180px;
}
#goods-show .increase, #goods-show .decrease {
    border: medium none;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 25px;
}
#goods-show .increase {
    background: url("../image/increase.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    top: 0;
}
#goods-show .decrease {
    background: url("../image/decrease.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    top: 24px;
}
.product-view .product-shop .add-to-box .btn-cart {
    background: none repeat scroll 0 0 #222;
    border: medium none;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 0;
    padding: 12px 20px;
    text-shadow: none;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.product-view .product-shop .add-to-box button.button.btn-cart span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 16px;
    margin-left: 5px;
}

.product-view .product-shop button.button.btn-cart:before {
    content: "";
    font-family: "FontAwesome";
}
button.button span {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.product-view .product-shop .add-to-box .btn-cart:hover {
    background: none repeat scroll 0 0 #da2c2a;
    color: #fff;
    text-shadow: none;
}

.product-collateral {
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
}
.product-tabs {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    height: 42px;
    line-height: normal;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
}
.product-tabs li {
    display: inline-block;
    height: auto;
    line-height: normal;
    list-style: outside none none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #d62b29;
    border-color: -moz-use-text-color -moz-use-text-color #d62b29;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: #fff;
}
.nav-tabs.product-tabs > li > a {
    border: medium none;
    border-radius: 0;
    line-height: 42px;
    margin-right: 0;
    padding: 0 14px;
}
.std{
	margin-top:20px;
}


.hot_goods ul{
	float: left;
    padding: 25px 0;
    width: 100%;
}
.hot_goods li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.popular-product-item {
    border-bottom: 1px solid #ececec;
    display: block;
    min-height: 93px;
    padding: 5px 0 0 97px;
    position: relative;
    width: 100%;
}
.popular-product-item img {
    left: 0;
    position: absolute;
    top: 0;
}
.popular-product-item_title {
    color: #333;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 10px;
    text-decoration: none;
    width: 100%;
}
.font-weight-bold {
    font-weight: 700;
}
.font-additional {
    font-family: "Montserrat",sans-serif;
}
.popular-product-item_price {
    font-size: 13px;
    line-height: 100%;
    text-decoration: none;
    color:#e94d38;
}
.popular-product-item:focus, .popular-product-item:hover {
    text-decoration: none;
}

/**购物车***/
	
#cart form{
	margin-bottom:20px;
}
	
#cart .page-title h1 {
    color: #000;
    font-family: "Raleway",serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom:10px;
}	

#cart .table.table-bordered thead td {
    background-color: #f7f7f7;
    border:0;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd !important;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

#cart .table.table-bordered tbody{
	border:1px solid #ccc;
}
#cart .table.table-bordered tbody td{
	border:0;
}
#cart .table.table-bordered tbody td{
	padding-top:40px;
}

#cart .quantity input[type="text"] {
	border: 1px solid #ccc;
    font-size: 12px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    width: 74px;
    float: left;
}


#cart .increase,#cart .decrease{
	border: medium none;
    display: block;
    height: 25px;
    position: relative;
    left: 20px;
    text-indent: -9999px;
    width: 25px;	
}
#cart .increase {
	top: 0;   
    background: url("../image/increase.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    
}
#cart .decrease {
    top: -1px;
    background: url("../image/decrease.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    
}
.cart-total {
/*	 font-family: "Raleway",serif;*/
    font-size: 22px;
    font-weight: bold;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 23px;
    overflow: hidden;
    padding-top: 21px;
}
.cart-total table {
    float: right;
    width: auto;
}
.cart-total td.right.last {
    font-size: 18px;
    padding-top: 6px;
}
.cart-buttons a {
    float: right;
    margin-left: 20px;
}
#cart .btn{
	border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-family: "Advent Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: background 0.5s ease 0s;	
}
.btn-continue{
	 background-color: #0a0a0a;
}
.btn-continue:hover{
	 background-color: #c30005;
}

.btn-checkout{
	 background-color: #c30005;
}
.btn-checkout:hover{
	 background-color: #0a0a0a;
}


.goods_title{
 	color: #333;
    float: left;
    font-size: 13px;
    line-height: 100%;
    padding-bottom: 15px;
    width: 100%;
    font-weight: 700;	
}
.customColor {
    color: #e94d38;
}
.product-item_price {
    float: left;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    width: 100%;
}
.font-weight-normal {
    font-weight: 400;
}

.error,.required{color:red;}
.text-error {
    color: #a94442;
}