<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <rewrite>
       <rules>
        <rule name="txtcms" stopProcessing="true">
            <match url="(.*)$" />
            <action type="Rewrite" url="index.php?{R:1}" appendQueryString="true" />
        </rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>