{include file='header.html'}
<style type="text/css">
<!--
body {
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	background-color: #1D3647;
}
-->
</style>
<table style="border:0px;width:100%;border-collapse:collapse; border-spacing:0px;">
    {if $isheader == 1}
       <tr>
        <td valign="top" style="padding:0px;">
        <table class="login_top_bg" 
        	style="border:0px;width:100%;background-image:
				url({$rtvdir}/img/login-top-bg-small.png);background-repeat: repeat-x; 
				border-collapse:collapse; border-spacing:0px;
				background-color:#2d475d;">
          <tr style="padding:0px; background-image:url({$rtvdir}/img/login-top-bg-small-updown.png); background-repeat:repeat-x;">
            <td width="33%" style="padding:0px;height:27px;">
            	<a href="{$url}" style="color:#ABCAD3;font-weight:bold;font-size:16px;font-family:Tahoma,Geneva,sans-serif;"
            		title="HomePage/首頁">
            		&nbsp;{$lang['agentname']} </a>
            </td>
            <td width="10%" style="padding:0px;max-width:180px;"> <div id="top_notice_div" 
            	style="position:absolute; max-width:180px; top:10px; left:50px; text-align:center; z-index:99;"></div> 
            </td>
            <td id="searchform">
				<form id="insitesearch" 
                      action="{$rtvdir}/extra/insitesearch.php?sid={$sid}&db={$db}&issubmit=1&tit=InSiteSearch&act=init" 
                      method="post">
                    <input id="isskw" name="isskw" placeholder="Searching..." 
                        style="width:80px;background-color:silver;text-align:center;vertical-align:middle;">
               </form>
            </td>
            <td width="52%" style="text-align:right;padding:0px;" class="login-buttom-txt"> {$welcomemsg} </td>
          </tr>
        </table>
        </td>
      </tr>
    {/if}
  <tr>
     <td style="padding:0px; vertical-align:top;">
     <table 
     	style="border:0px;width:100%;height:98%;border-collapse:collapse; border-spacing:0px;border-padding:0px;" 
     	class="login_bg"> <!-- width="100%" height="98%" border="0px" cellpadding="0" cellspacing="0"  -->
      <tr>
        <td width="98%" height="{if $isheader == 0}390px%{else}699px{/if}" align="left" style="padding:0px;">
		{$out_header}
			
        {$content}

		{$out_footer}
        </td>
      </tr>
     </table>
    </td>
  </tr>
 
</table>
{include file='footer.html'}
