.TopContainer{
	width:100%;
	height:150px;
	position:relative;
	overflow:hidden;
}
.TopContainer:before{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:30px;
	background:#E5E7E9;
}
.TopContainer .Infos{
	width:1200px;
	height:30px;
	overflow:hidden;
	margin:auto;
	position:relative;
	line-height:30px;
	font-size:14px;
	color:#888;
}
.TopContainer .Infos .Citys{
	float:left;
}
.TopContainer .Infos .Citys span{
	color:#FF6458;
}
.TopContainer .Infos .Citys a{
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	border:8px solid transparent;
	border-top: 8px solid #787878;
	border-bottom:0;
	margin-left:5px;
}
.TopContainer .Infos .times{
	float:right;	
}
.TopContainer .Infos .times a{
	display:inline-block;
	padding:0 10px 0 2px;
	color:#369;
}
.TopContainer .Infos .times em{
	color:green;
}
.TopContainer .LogoMenu{
	width:900px;
	height:110px;
	padding-left:300px;
	overflow:hidden;
	margin:auto;
	position:relative;
}
.TopContainer .LogoMenu:before,.TopContainer .LogoMenu:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
}
.TopContainer .LogoMenu:before{
	bottom:1px;
	background:#09F;
}
.TopContainer .LogoMenu:after{
	bottom:0px;
	background:#0064CA;
}
.TopContainer .LogoMenu .logo{
	width:300px;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:5px;
	line-height:100px;
}
.TopContainer .LogoMenu .logo img{
	max-width:300px;
	max-height:100px;
}
.TopContainer .LogoMenu .logo a{
	display:table;
}
.TopContainer .LogoMenu .logo a span{
	display:table-cell;
	height:100px;
	vertical-align:middle;
}
.TopContainer .LogoMenu .MainMenus{
	width:900px;
	height:110px;
	overflow:hidden;
	position:relative;
}
.ListMenuBox{
	width:770px;
	height:85px;
	overflow:hidden;
	margin:12px auto;
	position:relative;
}
.MenuContent{
	width:1000000px;
	height:85px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.MenuContent dl{
	width:110px;
	height:85px;
	overflow:hidden;
	float:left;
}
.MenuContent dl dt.ck{
	background:url(menubg.png) center top no-repeat;
	color:#FFE0D6;
}
.MenuContent dl dt span{
	display:block;
	width:85px;
	height: 85px;
	overflow:hidden;
	margin:auto;
	text-align:center;
	font-size:14px;
	cursor:pointer;
}
.MenuContent dl dt span i{
	display: block;
	padding-top: 10px;
	height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
}
.changemenu dt,.changemenu dd{
	width:35px;
	height:35px;
	position:absolute;
	top:40px;
	cursor:pointer;
}
.changemenu dt{
	left:10px;
	background:url(prev0.png) center top no-repeat;
}
.changemenu dt.ck{
	background:url(prev1.png) center top no-repeat;
}
.changemenu dd{
	right:10px;
	background:url(next0.png) center top no-repeat;
}
.changemenu dd.ck{
	background:url(next1.png) center top no-repeat;
}
/****/
.MainContainer{
	width:1200px;
	margin:auto;
	position:relative;
}
.MainContainer:after{
	content:'';
	display:block;
	height:1px;
	width:100%;
	clear:both;
}
.MainContainer .LeftCont{
	width:250px;
	float:left;
	overflow-Y:auto;
	overflow-X:hidden;
}
.MainContainer .RightCont{
	width:940px;
	float:right;	
}
.MainContainer .RightCont iframe{
	width:100%;
	height:100%;
}
.members{
	width:99%;
	height:210px;
	background:url(memberbg.png) no-repeat;
	background-size:100% 230px;
	padding-top:20px;
	color:#FFF;
	position:relative;
}
.members .icon{
	width:90px;
	height:90px;
	overflow:hidden;
	margin:auto;
	background:#c4dde9;
	border-radius:45px;
}
.members .icon img{
	max-width:90px;
	max-height:90px;
	vertical-align:middle;
}
.members .icon a{
	display:tablel;
	width:100%;
}
.members .icon a span{
	display:table-cell;
	width:90px;
	height:90px;
	text-align:center;
	vertical-align:middle;
}
.members .username a{
	display:block;
	text-align:center;
	color:#FFF;
	font-size:16px;
	padding:5px 10px 0 10px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	margin-bottom:5px;
}
.members .companyer{
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;	
	color:#FFF;
	margin:auto;	
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.members .companyer:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#165DCA;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .companyer span{
	display:block;
	position:relative;
}
.members .moneys{
	width:100%;
	height:45px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
}
.members .moneys:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#5F639B;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .moneys div{
	position:relative;
	text-align:center;
	line-height:45px;
	position:0 5px;
	color:#FFF;
	word-spacing:5px;
}
.LoginAct{
	width:99%;
	height:40px;
	overflow:hidden;
	margin-top:15px;
}
.LoginAct dt,.LoginAct dd{
	width:48%;
	text-align:center;
	line-height:40px;
	background:#B8B5B4;
	float:left;
	border-radius:5px;
}
.LoginAct dd{
	float:right;
	background:#FC8353;
}
.LoginAct a{
	display:inline-block;
	color:#EEE;
	font-size:14px;
	padding-left:25px;
}
.LoginAct dt a{
	background:url(quit.png) left 10px no-repeat;
}
.LoginAct dd a{
	background:url(member.png) left 10px no-repeat;
}
.LeftMenus{
	width:99%;
	padding-top:1px;
}
.LeftMenus ul{
	border:#D5DFFF solid 1px;
	margin-top:15px;
	position:relative;
	padding-top:50px;
	padding-bottom:2px;
}
.LeftMenus ul ol{
	border-top:#FFF solid 1px;
	height:50px;
	width:100%;
	background:#F1F1F1;
	position:absolute;
	line-height:50px;
	font-size:18px;
	color:#666;
	left:0;
	top:0;
	z-index:10;
}
.LeftMenus ul ol i{
	display: inline-block;
	padding: 0 10px 0 20px
}
.LeftMenus ul ol:after{
	content:'';
	display:block;
	position:absolute;
}
.LeftMenus ul ol:after{
	width:0;
	height:0;
	border:8px solid transparent;
	border-top: 8px solid #CCC;
	border-bottom:0;
	right:15px;
	top:20px;
	cursor:pointer;
}
.LeftMenus ul ol.hide:after{
	border-bottom: 8px solid #619aef;
	border-top:0;
}
.LeftMenus ul li{
	height:40px;
	line-height:40px;
	margin:0 10px;
	overflow:hidden;
	border-top:#DEDEDE dotted 1px;
	position:relative;
}
.LeftMenus ul li a{
	display:block;
	text-indent:60px;
	font-size:14px;
	color:#888;
	position:relative;
	margin-top:1px;
}
.LeftMenus ul li a:before{
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#CCC;
	border-radius:2px;
	position:absolute;
	left:40px;
	top:22px;
}
.LeftMenus ul li:hover a{
	background:#F9F9F9;
	color:#F30;
}
.LeftMenus ul li:hover a:before{
	background:#F30;
}
.LeftMenus ul li.ck a{
	color:#F63;
}
.LeftMenus ul li.ck a:before{
	background:#F90;
}