#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{width:260px;margin-left:-260px;}



#banner,#content,#footer{width: 950px;}
#header{ height:157px; padding-top:20px; width:1064px; background:url("images/heaer_ico.png") no-repeat 900px ;}


.col-extra{ display:none;}
.mhd button{ color:#fff;}
.contact_con dt{color:#343434;}
.menu span{ padding-right:75px;}
.mbd{background:#f5f4f5; border:1px #fff solid; margin-top:2px; color:#000; }

/*body*/
body{color:#555555;background:#E7E6EB;}
.tbbd{color:#555555;background:#E7E6EB;}
.cwrap{ background:url(" images/cwrapbg.png") #e7e6eb repeat-x; padding-bottom:30px; padding-top:5px;}
.hwrap{background:url("images/bg.png") repeat-x;}
.plinks .mbd li{ margin:12px 0 0 15px;}
a:link,a:visited{color:#000;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #aaabad solid;border-left:1px #e3e6ed solid;border-right:1px #e3e6ed solid;border-bottom:1px #e3e6ed solid;}
.job_con table,.guest table {border-top:1px solid #e9e8e9;border-left:1px solid #e9e8e9;border-right:1px solid #e9e8e9;}
.job_con td,.guest td{background:#f5f4f5;border-bottom:1px solid #e9e8e9;}
.job_con th,.guest th{background:#fff;border-bottom: 1px solid #e9e8e9;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px; height:96px; line-height:96px;color: #76756f;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a:link,.menu span a:visited{ color:#d8287c; }

.nav{height:63px;line-height:52px; background:url("images/nav_bg.png") no-repeat;}
.nav li{ background:url("images/navli.png") no-repeat right center;}
.nav .last{ background:none;}
.nav ul{ padding-left:100px;}
.nav li a{font-weight:normal;width:110px;text-align:center;}
.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;background:#393939;border-bottom:1px #fff solid;width:100px; display:none;}
.navlist ul li a{font-weight:normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}
.nav li.active ul a:hover{background:none;}
#banner{  border:2px solid #fef1f3;  }
/*content*/

.col-main .mbox{padding:2px 0px 1px;}

.mhd{background:url("images/mhd_bg.png")  no-repeat 0 top; height:34px; margin-top:9px;}
.mhd h3{color:#fff;padding-left:20px; background:url("images/sico01.png") no-repeat  15px  ; }
.n_ico .mhd h3{ background:url("images/n_ico.png") no-repeat  10px ;}

.col-sub .mhd h3{color:#fff;padding-left:35px; line-height:34px;  }
.col-sub .mbd span a{ color:#8a8a8a;}

.layout .xtop{ background:url("images/xtop_bg.png") no-repeat; height:18px; width:960px; position:relative; top:1px;}

.col-main .mhd{background:url("images/col-main_mhb_bg.png") repeat-x; height:30px; border:2px solid #fff; margin-top:9px;}

.col-main .mhd h3{width:auto; color:#232323; line-height:30px; padding-left:35px;  }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:5px;}

.feedback a{width:260px;background:url("images/feedback.png") no-repeat; margin-top:10px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #ccc dotted;}
.news li span,.seabox li span{color:#000;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#fff;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#ac2e6c;}
.down_list .mbd li h2{border-bottom:1px #dadada dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px; color:#000;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/col-sub_mbd_bg.png") no-repeat; color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#d8287c;color:#fff;border:1px #ccc solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#fff;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#555;width:58px;height:23px;}
.inputSubmit_reset{color:#997457;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#fff;}
.fwrap{background:url("images/footerbg.png") repeat-x; height:85px;}
#footer {color: #6d536a; }
#footer p{padding-top: 10px;}
#footer a:link, #footer a:visited {color: #fff;}
#footer a:hover {color: #C70906;}
#footer .support a:link, #footer .support a:visited{color: #6d536a;}
