<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="renderer" content="webkit|ie-comp|ie-stand" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <title>SFDP 超级表单开发平台V3.0</title> 
 </head> 
 <body> 
  <link rel="stylesheet" href="__SFDP__/css/sfdp.common.css" />

			
			
			<form action='{:url("/index/sfdp/sfdp_script_save")}' method="post" name="form" id="form">
<input type="hidden" name="sid" value="{$sid}">
  <div class="page-container"> 
		<table>
			<tr valign="center">
			<td style='width:35px;text-align:center'>脚本说明</td>
			<td style='width:330px'>
			<pre><bq>&lt;h2</bq><bq>&gt;</bq>脚本说明：<bq style="">&lt;/h2</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>特别说明：脚本支持所有的JQ语句，但系统内置了几个常用的<bq>&lt;/p</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>load_satr_fun();//前置函数<bq>&lt;/p</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>前置函数在表单构建器之前会执行，比如插入必要的组件代码。<bq>&lt;/p</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>load_end_fun();//后置函数<bq>&lt;/p</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>后置代码用于页面加载完成后的代码执行<bq>&lt;/p</bq><bq>&gt;</bq>
			</pre>
			</td>
			</tr>
			<tr valign="center">
			<td style='width:35px;text-align:center'>单据脚本</td><td style='width:330px' >
			<textarea placeholder="请填写JQ脚本代码！" name='function' type="text/plain" style="width:100%;height:350px;">{$info.s_fun}</textarea> </td>
			</tr>
		</table>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button  class="btn btn-default radius" type="button" onclick="layer_close()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
	
</article>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>