<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="renderer" content="webkit|ie-comp|ie-stand" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <title>SFDP 超级表单开发平台V3.0</title> 
 </head> 
 <body> 
  <link rel="stylesheet" href="__SFDP__/css/sfdp.common.css" />
  <div class="page-container"> 
		<table>
			<tr>
			<td style='width:65px;text-align:left'>元素信息</td>
			<td style='width:330px'>
			<pre><bq>&lt;h2</bq><bq>&gt;</bq>脚本说明：<bq style="">&lt;/h2</bq><bq>&gt;</bq><br><bq>&lt;p</bq><bq>&gt;</bq>特别说明：显示设计的所有UI元素<bq>&lt;/p</bq><bq>&gt;</bq></pre>
			</td>
			</tr>
			{volist name='ui' id='s'}
			<tr valign="top">
			<td style='width:35px;text-align:left'>
			元素标识：{$s.tpfd_id}<br/>
			元素名称：{$s.tpfd_name}({$s.td_type})
			</td><td style='width:330px' >
			字段名：{$s.tpfd_db}({$s.tpfd_dblx})({$s.tpfd_dbcd}) |列表：{$s.tpfd_list} | 查询：{$s.tpfd_chaxun} <br/>
			{present name="s.xx_type"}
			{eq name='s.xx_type' value='1'}
				函数名为：<font color='red'>{$s.checkboxes_func}</font>
			{/eq}
			{/present}
			</td>
			</tr>
			{/volist}
		</table>
		
		</div>
</article>

</body>
</html>