@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-09-25 15:33:29
// @modified         2017-12-13 16:51:46
//

footer {
  padding: 40px 0 0;
  margin-top: 20px;
  background-color: $footer_bg_color;
  border-top: $footer_bottom_border;

  @media (max-width: 768px) {
    padding: 15px 0 0;
  }

  h5 {
    font-size: 18px;
    position: relative;
    margin-bottom: 26px;
    color: $footer_title_color;
    &:before {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 80%;
      border-bottom: 1px solid #ddd;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  ul.list-unstyled {
    li {
      padding: 12px 0;
      position: relative;

      @media (max-width: 768px) {
        padding: 5px 0;
      }

      @media (min-width: 768px) {
        &:hover a {
          margin-left: 11px;
        }
      }

      &:before {
        content: "\f105";
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        right: auto;
        top: 4px;
        left: 0;
        line-height: 28px;
        font-style: normal;
        font-weight: normal;
        color: #777;
      }

      a {
        display: inline-block;
        padding-left: 16px;
        color: $footer_link_color;
        @include transition(all .5s ease 0s);

        &:hover {
          color: $brand-secondary;
        }
      }
    }
  }

  .footer-bottom {
    border-top: $footer_bottom_border;
    background: $footer_bg_color - 13;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    color: $footer_link_color;
    margin-bottom: 0;
    a {
      color: $footer_link_color;
    }
  }

  .fixed-shortcut-wrapper {
    position: fixed;
    width: 38px;
    bottom: 80px;
    right: 10px;
    z-index: 9999;

    .shortcut {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      > a {
        padding: 12px 2px 9px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 16%;
          width: 74%;
          border-bottom: 1px solid #f3f3f3;
          @include transition(all 0.1s ease-in);
        }

        i {
          font-size: 13px;
          color: #999;
          margin-bottom: 4px;
        }

        &:first-of-type {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-of-type {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          &:before {
            display: none;
          }
        }
      }

      .scroll-top {
        padding: 7px 2px 6px;
        i {
          font-size: 20px;
        }
      }
    }


    a {
      width: 100%;
      display: block;
      background-color: #fff;
      font-size: 13px;
      text-align: center;
      color: #999;
      padding: 8px 2px;
      @include transition(all 0.1s ease-in);

      @media (max-width: 768px) {
        background-color: rgba(255,255,255,.7);
      }

      &:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;

        &:before {
          border-color: $brand-primary;
        }

        i {
          color: #000;
        }
      }

      i {
        display: block;
        @include transition(all 0.1s ease-in);
      }
    }
  }
}
