@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-11-24 11:51:00
// @modified         2017-12-06 14:06:51
//

.layer-alert {
  min-width: 380px;

  .layui-layer-content {
    a {
      color: $brand-secondary;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .layui-layer-btn {
    a.layui-layer-btn0 {
      color: #000;
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }
}
