@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-10-10 16:44:05
// @modified         2017-12-13 09:50:59
//

@media (max-width: 768px) {
  .product-wrapper .product-layout.col-xs-6:nth-child(2n+1) {
    padding-right: 7.5px;
  }

  .product-wrapper .product-layout.col-xs-6:nth-child(2n+2) {
    padding-left: 7.5px;
  }
}

.product-thumb {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  @include transition(all .3s ease-out);

  @media (min-width: 992px) {
    &:hover {
      box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
      .image {
        .button-group {
          opacity: 1;
        }
        a {
          opacity: 0.4;
        }
      }
      .price {
        opacity: 0;
      }

      .cart-wrapper {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  .image {
    position: relative;
    a {
      @include transition(all .3s ease-out);
      display: block;
    }

    .button-group {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      margin-top: -10px;
      opacity: 0;
      @include transition(all .3s ease-out);

      .btn {
        width: 46px;
        height: 46px;
        text-align: center;
        border-radius: 50%;
        & + .btn {
          margin-left: 10px;
        }

        &:hover {
          color: #000;
          background: $brand-primary;
          border-color: $brand-primary;
        }

        @media (max-width: 376px) {
          padding: 4px 10px;
          font-size: 12px;
        }
      }
    }
  }

  .caption {
    text-align: center;
    padding: 0 10px;
    position: relative;

    @media (max-width: 376px) {
      padding: 0 5px;
    }
  }

  .product-name {
    height: 20px;
    margin: 0 0 20px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a {
      color: #444;
      font-size: 15px;
    }
  }

  .product-description {
    color: #999;
    display: none;
  }

  .rating {
    position: relative;
    padding: 10px 0;
  }

  .price {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f30240;
    font-weight: 600;
    @include transition(all .3s ease-out);

    @media (max-width: 768px) {
      font-size: 15px;
    }

    .price-old {
      font-weight: 500;
      color: #888;
      text-decoration: line-through;

      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
  }



  .cart-wrapper {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    left: 0;
    opacity: 0;
    @include transition(all .3s ease-out);
  }
}

.product-list .product-thumb {
  overflow: hidden;
  padding-bottom: 0;

  .image {
    float: left;
    display: inline-block;
    width: 200px;
    a {
      opacity: 1 !important;
    }
  }

  .caption {
    text-align: left;
    margin-left: 200px;

    .price {
      opacity: 1 !important;
    }

    .product-description {
      display: block;
    }
  }

  .button-group,.cart-wrapper {
    display: none;
  }
}
