@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-10-18 12:21:34
// @modified         2017-12-07 12:00:56
//

.rating {
  .fa-stack {
    font-size: 28px;
    width: 12px;
    height: 12px;
    line-height: 12px;

    .fa-star {
      color: #ffcc00;
      font-size: 14px;

      &.off {
        color: #d2d2d2;
        font-size: 14px;
      }
    }
  }
}
