@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Pu shuo <pushuo@opencart.cn>
// @created          2017-11-14 17:16:21
// @modified         2017-12-13 09:49:14
//

.widget-title {
  padding: 0;
  margin: 0 0 30px;
  text-align: center;
  border-bottom: none;
  height: 36px;
  line-height: 36px;
  clear: both;
  color: #000;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 56%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #e5e5e5 none repeat scroll 0 0;
  }

  span {
    display: inline-block;
    position: relative;
    padding: 0 24px;
    font-size: 28px;
    background-color: #fff;
  }
}