<div class="btn-group-vertical col-sm-{{ size }}" role="group" aria-label="...">
	{% for key,value in data %}
		<a data-target="#main" class="btn btn-primary{% if key == active %} active{% endif %}" href="{{ url(['for':'adminTermList','type':key,'page':1]) }}" type="button">{{ value['name'] }}</a>
	{% endfor %}
</div>