html,
body {
  font-size: 14px;
  font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
  background-color: #374155;
  margin: 0;
  padding: 0;
}
/* 登陆页样式
------------------------------------------ */
.login-form .check-tips {
  color: #ff0000;
  margin-top: 10px;
}
.placeholder_copy {
  display: none;
  position: absolute;
  left: 48px;
  font-size: 16px;
  color: #ADADAD;
}
.login-form .login-btn[disabled] {
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: default;
  box-shadow: none;
}
.login-form .login-btn .in {
  display: none;
}
.login-form .log-in .in {
  display: inline-block;
}
.login-form .log-in .on {
  display: none;
}
.icon-loading {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  background: url(../images/loading_icon.gif) no-repeat 0 0;
}
.flex {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrap {
  background: #56627b;
  background: -webkit-linear-gradient(top left, #56627b 0%, #5e7cba 100%);
  background: linear-gradient(to bottom right, #56627b 0%, #5e7cba 100%);
  opacity: 0.8;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.login-wrap canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.login-wrap .lgMain {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
}
.login-wrap .lgMain .login-form {
  padding: 0;
}
.login-wrap .lgMain .login-form .welcome {
  font-size: 40px;
  font-weight: 200;
  margin: 0 0 10px;
  color: #fff;
}
.login-wrap .lgMain .login-form .item-box {
  overflow: hidden;
}
.login-wrap .lgMain .login-form .item-box .input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}
.login-wrap .lgMain .login-form .item-box .input:focus {
  background-color: white;
  width: 300px;
}
.login-wrap .lgMain .login-form .login-btn {
  width: 250px;
  height: 48px;
  padding: 10px 15px;
  font-size: 18px;
  color: #5e7cba;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: #fff;
  border-radius: 3px;
}
.login-wrap .lgMain .login-form .login-btn:hover {
  background-color: #f5f7f9;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.8);
  font-family: '微软雅黑';
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.8);
  font-family: '微软雅黑';
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
  font-family: '微软雅黑';
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.8);
  font-family: '微软雅黑';
}
.imgWrap {
  display: flex;
  align-items: center;
  height: 48px;
  width: 250px;
  margin: 0 auto 10px;
  overflow: hidden;
}
.imgWrap .vfWrap {
  width: 80%;
  height: 100%;
}
.imgWrap .vfWrap img {
  max-width: 100%;
}
.imgWrap .btnWrap {
  flex: 1;
}
.imgWrap .btnWrap .btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
