<textarea id="_txt_stat_ajax_all">
<tr>
	<td>{lang admin.frame_desktop.stat.today}</td>
	<td>{$stat[ALL][ARTICLE][NOW]}</td>
	
	<!--{if $menus['cms_comment']}-->
	<td>{$stat[ALL][COMMENT][NOW]}</td>
	<!--{/if}-->
	
	<!--{if $menus['product_main']}-->
	<td>{$stat[ALL][PRODUCT][NOW]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[ALL][ORDER][NOW]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.yesterday}</td>
	<td>{$stat[ALL][ARTICLE][PREV]}</td>
	
	<!--{if $menus['cms_comment']}-->
	<td>{$stat[ALL][COMMENT][PREV]}</td>
	<!--{/if}-->
	
	<!--{if $menus['product_main']}-->
	<td>{$stat[ALL][PRODUCT][PREV]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[ALL][ORDER][PREV]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.month}</td>
	<td>{$stat[ALL][ARTICLE][MONTH]}</td>
	
	<!--{if $menus['cms_comment']}-->
	<td>{$stat[ALL][COMMENT][MONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['product_main']}-->
	<td>{$stat[ALL][PRODUCT][MONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[ALL][ORDER][MONTH]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.month.prev}</td>
	<td>{$stat[ALL][ARTICLE][PREVMONTH]}</td>
	
	<!--{if $menus['cms_comment']}-->
	<td>{$stat[ALL][COMMENT][PREVMONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['product_main']}-->
	<td>{$stat[ALL][PRODUCT][PREVMONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[ALL][ORDER][PREVMONTH]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.all}</td>
	<td>{$stat[ALL][ARTICLE][ALL]}</td>
	
	<!--{if $menus['cms_comment']}-->
	<td>{$stat[ALL][COMMENT][ALL]}</td>
	<!--{/if}-->
	
	<!--{if $menus['product_main']}-->
	<td>{$stat[ALL][PRODUCT][ALL]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[ALL][ORDER][ALL]}</td>
	<!--{/if}-->
</tr>
</textarea>
<textarea id="_txt_stat_ajax_sale">
<tr>
	<td>{lang admin.frame_desktop.stat.today}</td>
	<td>{$stat[SALE][VIEWLOG][NOW]}</td>
	
	<!--{if $menus['user_main']}-->
	<td>{$stat[SALE][USER][NOW]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[SALE][BUYER][NOW]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.yesterday}</td>
	<td>{$stat[SALE][VIEWLOG][PREV]}</td>
	
	<!--{if $menus['user_main']}-->
	<td>{$stat[SALE][USER][PREV]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[SALE][BUYER][PREV]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.month}</td>
	<td>{$stat[SALE][VIEWLOG][MONTH]}</td>
	
	<!--{if $menus['user_main']}-->
	<td>{$stat[SALE][USER][MONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[SALE][BUYER][MONTH]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.month.prev}</td>
	<td>{$stat[SALE][VIEWLOG][PREVMONTH]}</td>
	
	<!--{if $menus['user_main']}-->
	<td>{$stat[SALE][USER][PREVMONTH]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[SALE][BUYER][PREVMONTH]}</td>
	<!--{/if}-->
</tr>
<tr>
	<td>{lang admin.frame_desktop.stat.all}</td>
	<td>{$stat[SALE][VIEWLOG][ALL]}</td>
	
	<!--{if $menus['user_main']}-->
	<td>{$stat[SALE][USER][ALL]}</td>
	<!--{/if}-->
	
	<!--{if $menus['order_main']}-->
	<td>{$stat[SALE][BUYER][ALL]}</td>
	<!--{/if}-->
</tr>
</textarea>