<textarea id="txt_tag_list" style="display:none;">
	<div id="div_tag_list">
        <form>
            <p class="-ilinei-tag">
                <span><button type="button" class="btn tag-blank" rel="blank">{lang admin.ilinei.frame_parser.view.button.blank}</button></span>
                <span><button type="button" class="btn tag-block" rel="block">{lang admin.ilinei.frame_parser.view.button.block}</button></span>
                <!--{loop $blocks $loop $block}-->
                <span><button type="button" class="btn tag-{$block[key]}" rel="{$block[key]}">{$block[name]}</button></span>
                <!--{/loop}-->
            </p>
            <hr class="line"/>
            <div class="tag" id="tag-blank" style="display:none;">{lang admin.ilinei.frame_parser.view.tag.blank}</div>
            <div class="tag" id="tag-block" style="display:none;">
                <p class="blocks">
                    <!--{code $loop = 0;}-->
                    <!--{loop $pages $key $item}-->
                    <!--{if $item['type'] == 'block'}-->
                    <label class="checkbox">
                        <input class="fancy" name="rdoBlock" type="radio" value="{$item[file]}" {if $loop == 0}checked="checked"{/if}/> {$item[name]}
                    </label>
                    <!--{code $loop = $loop + 1;}-->
                    <!--{/if}-->
                    <!--{/loop}-->
                </p>
            </div>
            <!--{loop $blocks $loop $block}-->
            <div class="tag" id="tag-{$block[key]}" style="display:none;">
                <table width="100%">
                    <!--{loop $block[params] $key $param}-->
                    <!--{if !$param['readonly'] && ($param['type'] == 'string' || $param['type'] == 'number')}-->
                    <tr>
                        <td width="80"><label>{$param[name]}</label></td>
                        <td>
                            <input type="text" class="input-medium" name="txt_{$param[id]}" placeholder="{$param[placeholder]}..." maxlength="20" value="" />
                            <span class="help-inline">{$param[tips]}</span>
                        </td>
                    </tr>
                    <!--{elseif !$param['readonly'] && $param['type'] == 'checkbox'}-->
                    <tr>
                        <td width="80"><label>{$param[name]}</label></td>
                        <td>
                            <label class="checkbox inline">
                                <input name="cbx_{$param[id]}" type="checkbox" class="fancy" value="1"/> {$param[label]}
                            </label>
                        </td>
                    </tr>
                    <!--{elseif !$param['readonly'] && $param['type'] == 'page'}-->
                    <tr>
                        <td width="80"><label>{$param[name]}</label></td>
                        <td>
                            <span class="-ilinei-select">
                                <select name="slt_{$param[id]}">
                                    <!--{loop $pages $key $item}-->
                                    <!--{if $item['type'] == 'page'}-->
                                    <option value="{$item[file]}">{$item[name]}</option>
                                    <!--{/if}-->
                                    <!--{/loop}-->
                                </select>
                            </span>
                        </td>
                    </tr>
                    <!--{/if}-->
                    <!--{/loop}-->
                    <tr>
                        <td width="80"><label>{lang admin.ilinei.frame_parser.view.block.theme}</label></td>
                        <td>
                            <label class="checkbox inline">
                                <input class="fancy" name="rdo_theme"type="radio" value=""/> {lang admin.ilinei.frame_parser.view.block.theme.empty}
                            </label>
                            <!--{loop $block[themes] $key $theme}-->
                            <label class="checkbox inline">
                                <input class="fancy" name="rdo_theme"type="radio" value="{$theme[id]}"/>
                                <!--{if $theme['thumb']}-->
                                <img src="{$theme[thumb]}" border="0" alt="{$theme[name]}"/>
                                <!--{else}-->
                                {$theme[name]}
                                <!--{/if}-->
                            </label>
                            <!--{/loop}-->
                        </td>
                    </tr>
                </table>
            </div>
            <!--{/loop}-->
        </form>
    </div>
</textarea>

<textarea id="txt_tag_operate" style="display:none;">
    <p class="-ilinei-operate">
        <span class="add">
            <button type="button" class="btn btn-add-prev" rel="prev">{lang admin.ilinei.frame_parser.view.operate.button.prev}</button>
            <button type="button" class="btn btn-add-next" rel="next">{lang admin.ilinei.frame_parser.view.operate.button.next}</button>
        </span>
        <button type="button" class="btn btn-delete" rel="delete">{lang admin.ilinei.frame_parser.view.operate.button.delete}</button>
    </p>
</textarea>

<textarea id="txt_tag_type" style="display:none;">
    <div id="div_tag_type">
        <form>
            <p class="-ilinei-tag">
                <span><button type="button" class="btn btn-choice tag-column-1" rel="column-1">{lang admin.ilinei.frame_parser.view.tag.button.column1}</button></span>
                <span><button type="button" class="btn tag-column-2" rel="column-2">{lang admin.ilinei.frame_parser.view.tag.button.column2}</button></span>
                <span><button type="button" class="btn tag-column-3" rel="column-3">{lang admin.ilinei.frame_parser.view.tag.button.column3}</button></span>
            </p>
            <hr class="line"/>
            <div class="tag" id="tag-column-1">
                <table width="100%">
                    <tr>
                        <td><label>{lang admin.ilinei.frame_parser.view.tag.column0.label}</label></td>
                    </tr>
                </table>
            </div>
            <div class="tag" id="tag-column-2" style="display:none;">
                <table width="100%">
                    <tr>
                        <td width="80"><label>{lang admin.ilinei.frame_parser.view.tag.column1.label}</label></td>
                        <td>
                            <input type="text" class="input-small" name="txt_column1" maxlength="3" value="50"/>%
                        </td>
                    </tr>
                    <tr>
                        <td><label>{lang admin.ilinei.frame_parser.view.tag.column2.label}</label></td>
                        <td>
                            <input type="text" class="input-small" name="txt_column2" maxlength="3" value="50"/>%
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tag" id="tag-column-3" style="display:none;">
                <table width="100%">
                    <tr>
                        <td width="80"><label>{lang admin.ilinei.frame_parser.view.tag.column1.label}</label></td>
                        <td>
                            <input type="text" class="input-small" name="txt_column1" maxlength="3" value="30"/>%
                        </td>
                    </tr>
                    <tr>
                        <td><label>{lang admin.ilinei.frame_parser.view.tag.column2.label}</label></td>
                        <td>
                            <input type="text" class="input-small" name="txt_column2" maxlength="3" value="40"/>%
                        </td>
                    </tr>
                    <tr>
                        <td><label>{lang admin.ilinei.frame_parser.view.tag.column3.label}</label></td>
                        <td>
                            <input type="text" class="input-small" name="txt_column3" maxlength="3" value="30"/>%
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</textarea>