<!--{template /module/admin/view/head}-->

<div id="main_content" class="container-fluid" style="border:0;">
	<h4>{echo $exception->getMessage();}： {echo sprintf('%s in %s', get_class($exception), $exception->getFile().' line '.$exception->getLine());}</h4>
	<hr/>
	
	<h4>Call Stack</h4>
	<ol>
        <!--{loop $exception->getTrace() $key $trace}-->
        <li>
        	<!--{if $trace['function']}-->
        	{echo sprintf('at %s%s%s', dnull($trace['class']), dnull($trace['type']), $trace['function']);}
            <!--{/if}-->
            <!--{if $trace['file'] && $trace['line']}-->
            {echo " in {$trace[file]} line {$trace[line]}";}
            <!--{/if}-->
            <ul>
            	<!--{loop $trace['args'] $loop $arg}-->
            	<li>
            		<!--{if is_array($arg)}-->
            		[{$loop}]
            		<table>
            		<!--{loop $arg $key $val}-->
            		<tr>
            			<td valign="top">
            				{$key}
            			</td>
            			<td>
	            			<!--{if is_array($val)}-->
	            			<table>
		            		<!--{loop $val $k $v}-->
		            		<tr>
		            			<td>
		            			{$k}: {$v}
		            			</td>
		            		</tr>
		            		<!--{/loop}-->
		            		</table>
	            			<!--{else}-->
	            			{$val}
	            			<!--{/if}-->
            			</td>
            		</tr>
            		<!--{/loop}-->
            		</table>
            		<!--{else}-->
            		[{$loop}] {$arg}
            		<!--{/loop}-->
            	</li>
            	<!--{/loop}-->
            </ul>
        </li>
        <!--{/loop}-->
    </ol>
    <hr/>
    
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">GET Data</span>
	    	 <!--{if !is_array($_GET)}-->
	    	 <small class="muted">empty</small>
	    	 <!--{/if}-->
    	</caption>
    	<!--{loop $_GET $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>{$val}</td>
    	</tr>
    	<!--{/loop}-->
    </table>
    <br/>
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">POST Data</span>
	    	 <!--{if !$_POST}-->
	    	 <small class="muted">empty</small>
	    	 <!--{/if}-->
    	</caption>
    	<!--{loop $_POST $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>{$val}</td>
    	</tr>
    	<!--{/loop}-->
    </table>
    <br/>
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">COOKIE Data</span>
	    	 <!--{if !$_COOKIE}-->
	    	 <small class="muted">empty</small>
	    	 <!--{/if}-->
    	</caption>
    	<!--{loop $_COOKIE $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>{$val}</td>
    	</tr>
    	<!--{/loop}-->
    </table>
    <br/>
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">SESSION Data</span>
	    	 <!--{if !$_SESSION}-->
	    	 <small class="muted">empty</small>
	    	 <!--{/if}-->
    	</caption>
    	<!--{loop $_SESSION $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>
    			<!--{if $key == '_current'}-->
    			@see $_var['current']
    			<!--{else}-->
    			{$val}
    			<!--{/if}-->
    		</td>
    	</tr>
    	<!--{/loop}-->
    </table>
    <br/>
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">SERVER Data</span>
	    	 <!--{if !$_SERVER}-->
	    	 <small class="muted">empty</small>
	    	 <!--{/if}-->
    	</caption>
    	<!--{loop $_SERVER $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>{$val}</td>
    	</tr>
    	<!--{/loop}-->
    </table>
    <br/>
    <table>
    	<caption style="text-align:left;">
	    	<span class="f16">ILI Data</span>
    	</caption>
    	<!--{code $constants = get_defined_constants(true);}-->
    	<!--{loop $constants['user'] $key $val}-->
    	<tr>
    		<td width="300">{$key}</td>
    		<td>{$val}</td>
    	</tr>
    	<!--{/loop}-->
    </table>
</div>

<!--{template /module/admin/view/foot}-->