<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>文件列表</h2>
	</div>
	<div class="cf">
		 <a href="{:U('File/index&trash=1')}" class="btn">回收站</a>
		 
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">文件名</th>
		<th class="">存储位置</th>
		<th class="">文件大小</th>
		<th class="">上传时间</th>	
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.name}</td>
			<td>{$vo.path}</td>
			<td>{$vo.size}</td>
			<td><span>{$vo.create_time|time_format}</span></td>	
			<td>
				<if condition="$trash gt 0">
					<a href="{:U('File/deleteFile&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
				<else/>
					<a href="{:U('File/del&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
				</if>
                
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">

    //导航高亮
    highlight_subnav("{:U('File/index')}");
	</script>
</block>
