html{ height:100%; overflow:hidden;}
body{ height:100%; overflow:hidden;}
ul{ list-style-type:none; margin:0; padding:0;}
#mainLeft{ position:absolute; left:0; top:0; bottom:0; width:210px; overflow:auto; z-index:1;}
#mainRight{ position:absolute; left:210px; top:0; bottom:0; right:0; overflow:auto; z-index:2;}
#main iframe{ width:100%; height:100%;}
#leftHead{ height:190px;}
#leftMenu{ position:absolute; top:205px; bottom:0; width:210px; overflow:auto;}
/*---ie6---*/
#mainLeft{ *height:100%; *float:left; *width:200px; *position:relative; *top:0; *right:0; *bottom:0; *left:0;}
#mainRight{ *height:100%; *margin-left:218px; _margin-left:207px; *position:relative; *top:0; *right:0; *bottom:0; *left:0;}

#menuTag{ cursor:pointer;}

.border-blue-bg{ border-bottom:3px #009cdb solid;}

.accordion{ width:100%;}
.accordion .link{ cursor:pointer; display:block; padding:15px 20px 15px 30px; color:#ecfaff; font-weight:700; position:relative; -webkit-transition:all 0.4s ease; -o-transition:all 0.4s ease; transition:all 0.4s ease; border-bottom:1px #009cdb solid;}
.accordion li.open .link{ color:#fff;}
.accordion li.open span.icon-angle-down{ -webkit-transform:rotate(180deg);}
.ico-w-25{ width:25px;}
.ico-w-45{ width:45px;}
.submenu{ display:none; background:#006891;}
.submenu a{ display:block; color:#d9d9d9; padding:10px; padding-left:56px; -webkit-transition:all 0.25s ease; -o-transition:all 0.25s ease; transition:all 0.25s ease;}
.submenu a:hover{ background:#b63b4d; color:#FFF;}

.error_404{ width:500px;}
.error_w{ width:320px;}

.tab .tab-nav li a{ color:#999;}
.tab .tab-nav .active a{cursor:default; color:#00aaee;}
