body{background-color:#fff;}
.fl{float:left;}
.fr{float:right;}
.nobg{background-color:transparent!important}
.font12{font-size:12px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.pl20{padding-left:20px;}
.pl50{padding-left:50px;}
.pb50{padding-bottom:50px;}
.w50{width:50px!important;}
.w100{width:100px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.mcolor{color:#5c90d2;}
.mcolor2{color:#009688;}
.hide{display:none;}
.red{color:#f00;}
#form-icon-preview{float:left;width:34px;height:36px;line-height:36px;font-size:30px!important;border:1px solid #e6e6e6;text-align:center;border-radius:3px;}
.j-iframe-pop{margin:0 10px;}
.help-tips{cursor:pointer;}



/*layui*/
.layui-layout-admin{min-width:1000px;}
.layui-form-label{min-width:90px;}
.layui-tab-title li{padding:0 10px;}
.page-tips .layui-colla-content{/*color:#999;background-color:#f9f9f9*/}
.layui-form-mid{font-size:12px!important;}
