<form class="layui-form" lay-filter="form" id="form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" lay-reqText="用户名不能为空" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" lay-verify="password" autocomplete="off" class="layui-input" placeholder="不修改请留空">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">重复密码</label>
        <div class="layui-input-block">
            <input type="password" name="repeat_password" lay-verify="resspaword" autocomplete="off" class="layui-input" placeholder="不修改请留空">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">请选择角色</label>
        <div class="layui-input-block">
            <script type="text/html" template lay-url="{{ layui.setter.apiHost }}/admin/role/select" lay-done="layui.form.render();">
                <select name="role_id" lay-verify="required" lay-reqText="请选择角色">
                    <option value=""></option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{ index }}" {{# if(index== d.params.role_id){ }}selected{{# } }}>{{ item }}</option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" name="tel" lay-verify="required" lay-reqText="电话不能为空" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email" lay-reqText="邮箱格式错误" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="">
            <input type="button" lay-submit lay-filter="form-submit" value="确认" class="layui-btn">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$;

        //自定义验证规则
        form.verify({
            password: function (value) {
                var id = $('input[name="id"]').val();
                var password = /^[\S]{6,12}$/;
                var r = value.match(password);
                if (r == null && !id) {
                    return '密码必须6到12位，且不能出现空格';
                }
            },
            resspaword: function (value) {
                var pass = $('input[name="password"]').val();
                if (value != pass) {
                    return '两次密码不一致';
                }
            }
        });
    });
</script>