<extend name="Common/form-ajax" />
<block name="form">
	<tr>
		<th>模型名称:</th>
		<td>
			<input type="text" name="model_name" datatype="zh" tip="请填写中文模型名称">
		</td>
	</tr>
	<tr>
		<th>模型数据库表名:</th>
		<td>
			<input type="text" name="model_table" datatype="require" tip="请填写模型数据库表名">
		</td>
	</tr>
	<tr>
		<th>模型控制器:</th>
		<td>
			<input type="text" name="model_controller" datatype="require" tip="请填写模型控制器">
		</td>
	</tr>
	<tr>
		<th>列表页模板</th>
		<td>
			<select name="template_list">
				<foreach name="tpl.list" item="v">
				<option value="{$v}">{$v}</option>
				</foreach>
			</select>
		</td>
	</tr>
	<tr>
		<th>内容页模板</th>
		<td>
			<select name="template_show">
				<foreach name="tpl.show" item="v">
				<option value="{$v}">{$v}</option>
				</foreach>
			</select>
		</td>
	</tr>	
	<tr>
		<th>模型备注:</th>
		<td>
			<textarea name="remark" tip="模型备注信息"></textarea>
		</td>
	</tr>
	<tr>
		<th>状态:</th>
		<td>
			<label for="status_1"><input id="status_1" type="radio" name="status" value="1" checked>启用</label>
			<label for="status_0"><input id="status_0" type="radio" name="status" value="0">禁用</label>
		</td>
	</tr>
</block>
