#searchModal {

	.modal-dialog {
		background:rgba(0,0,0,0.6);
	}
}
.search-box {
	position:relative;
	width:500px;
	margin:10px auto;
	padding-top:60px;

	.input-group {

		border-radius:10px;
		overflow:hidden;
		
		input {
			height:48px;
			line-height:48px;
			border:3px solid #f6f6f6;
		}

		.input-group-btn {
			button {
				height:48px;
				font-size:18px;
				line-height:32px;
				color:#00CC99;
				border:3px solid #f6f6f6;
			}
		}
	}
}
.search-close {
	position:absolute;
	display:block;
	width:100%;
	bottom:60px;
	left:0;
	padding:15px;
	text-align:center;


	.close {
		padding:20px;
		background:#fff;
		border-radius:50%;
		float:none;
		font-size:32px;
	}
}