.side-menu {
    background: white;
}
/*用户中心首页*/

.orders-num-content {

    margin:0 -10px;

    .orders-num-box {
        background:#EEE;
        margin:0 auto;
        padding:1px;
        color:#fff;
    }
    .status-1 {
        background:#03B8CF;
    }
    .status-2 {
        background:#8666B8;
    }
    .status-3 {
        background:#F1A325;
    }
    .status-4 {
        background:#EA644A;
    }
}


.index-orders-list {
    min-height:200px;

    .onlonder {
        display:block;
        background:#fff;
        text-align:center;
        font-size:24px;
        line-height:200px;
        margin-bottom:10px;
    }
    .order-item {
        display:block;
        background:#fff;
        padding:5px;
        margin-bottom:10px;

        .goods-box {

            .goods-item {
                margin:5px auto;

                .p-img {
                    float:left;
                    width:60px;
                    height:60px;
                }
                .p-msg {
                    padding-left:10px;
                    margin-left:60px;

                    .p-name {
                        margin-bottom:5px;
                    }

                    .sku_box {
    
                        .sku_li_span {
                            border:1px solid #ddd;
                            background:#f6f6f6;
                            border-radius:2px;
                            font-size:12px;
                            padding:5px;
                            margin-right:5px;
                        }
                    }
                }
            }
        }
        .amount {

            span {
                font-size:16px;
                font-weight:600;
                color:#f60;
            }
        }
        .operate {
            text-align:center;

            a {
                display:block;
                line-height:24px;
            }
        }
    }
}

/*我的优惠券*/
.coupon-list-box {
	position:relative;
	margin:10px;
	background:#eee;
	text-align: center;
	border:2px solid #fff;
	cursor:pointer;
	
}
.coupon-list-box .info{
	padding:10px;
	background:#74d2d4;
	color:#fff;
}
.coupon-list-box .info h3{
	font-size:32px;
	color:#fff;
}
.coupon-list-box .info h3 small{
	font-size:18px;
	color:#fff;
}
.coupon-list-box .title{
	background:#fff;
	color:#666;
	padding:10px;
	border:1px solid #eee;
	border-top:none;
}
/*我的优惠券END*/
/*我的地址*/
.address-list-box {
	padding:10px;
	border-bottom:1px solid #f5f5f5;
}
.address-list-box .empty{
	line-height: 200px;
	text-align: center;
	display:block;
}
.address-list-box .first {
	color:#ff6600;
}
.address-list-box .info span {
	display:inline-block;
	width:80px;
	text-align: right;
	color:#666;
	line-height: 28px;
}
.address-list-box .operate {
	padding:5px;
	text-align: right;
	color:#03B8CF;
}
.address-list-box .operate span{
	margin:0 5px;
	color:#03B8CF;
	display:inline-block;
}
.address-list-box .operate span a{
	color:#03B8CF;
}

.address-edit-form .position select {
    width: auto;
    float: left;
    max-width: 120px;
    margin-right: 10px;
}
/*我的地址end*/
/*我的订单*/
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width:100%;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

thead th {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #666;
    font-weight: 400;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody td {
    border: 1px solid #e5e5e5;
}

a.ftx-03, a.ftx03, div.ftx-03, div.ftx03, span.ftx-03, span.ftx03 {
    color: #aaa;
}
/*订单*/
.order-tb .ordertime-cont {
    position: relative;
    float: left;
    z-index: 10;
    width: 138px;
    cursor: pointer;
}
.order-tb .ordertime-cont .time-txt {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 12px;
    border: 1px solid #f5f5f5;
}
.order-tb .ordertime-cont .time-list {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    display: none;
    width: 136px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.order-tb .ordertime-cont .time-list li {
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.order-tb .order-detail-txt {
    display: inline-block;
    vertical-align: middle;
}
.order-tb .deal-state-cont {
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.order-tb .deal-state-cont .state-txt {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #f5f5f5;
}
.order-tb .deal-state-cont .state-list {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    display: none;
    width: 96px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}

.order-tb .deal-state-cont .state-list li {
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.order-tb .sep-row {
    height: 20px;
}
.order-tb .tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
.order-tb .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    _display: inline;
}
.order-tb .tr-th .dealtime {
    margin-right: 30px;
    _margin-right: 15px;
    margin-left:20px;
    _margin-left:20px;
    font-family: verdana;
}
.order-tb .tr-bd {
    text-align: center;
    vertical-align: top;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb .sep-row td {
    border: 0;
}
.order-tb .goods-box {
	border-bottom:1px solid #f5f5f5;
	padding:5px 0;
}

.order-tb .goods-box:last-child{
	border-bottom: 0;
}
.order-tb .goods-item {
    width: 340px;
    margin-right: 74px;
}
.order-tb .goods-item {
    display: inline-block;
    display: block;
    float: left;
    width: 340px;
    margin-right: 74px;
}
.order-tb .goods-item .p-img {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 14px;
    _display: inline;
    overflow:hidden;
}
.order-tb .goods-item .p-msg {
    float: left;
    width: 160px;
}
.order-tb .goods-item .p-msg {
    width: 240px;
}
.order-tb .goods-item .p-name {
    color: #333;
    text-align: left;

    .a-link {
        display:block;
        font-size:14px;
        padding:0 5px;
        margin:2px 0;
    }
}
.order-tb .goods-number {
    float: left;
    width: 40px;
    text-align: left;
    color: #aaa;
    font-family: verdana;
}
.order-tb .goods-repair {
    width: 104px;
}
.order-tb .goods-box .goods-item .sku_box {
    

    .sku_li_span {
        border:1px solid #ddd;
        background:#f6f6f6;
        border-radius:2px;
        font-size:12px;
        padding:5px;
        margin-right:5px;
    }
}
.order-tb .operate {
    padding:5px;
}
.goods-repair {
    float: right;
    width: 84px;
    text-align: center;
}
/*收货人*/
.order-tb .tooltip {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
}
.order-tb .consignee {
    color: #333;
}
.order-tb .consignee .txt {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 72px;
    text-overflow: ellipsis;
    vertical-align: middle;
}
/*金额*/
.order-tb .amount {
    color: #AAA;
}
.order-tb .amount .ftx-13 {
    display: block;
    margin: 0 8px;
    margin-top: 5px;
    padding-top: 1px;
    border-top: solid 1px #E5E5E5;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
}
/*订单状态*/
.order-tb .status {
    position: relative;
    z-index: 5;
    color: #333;
    line-height: 22px;
}
.order-tb .status .bean-tips, .order-tb .status a:hover {
    color: #e4393c;
}

.order-tb .operate {
    line-height: 22px;
}
/*我的订单END*/

