@CHARSET "UTF-8";
input[type="text"] { margin-bottom:0px;}
form {margin:0px;}
.input-append { margin-bottom:0px;}
.table th, .table td {vertical-align:middle;}
.table-btn-group { width:220px;}
.user-avatar img { width:40px;height:40px;}
.dropdown-menu {min-width:110px;}
.pagelink {float:right;margin-right:10px;}

.table-filter {}
.table-filter td {vertical-align:middle;}
.check-demo-col { width:100px;margin-left:10px;}
.check-demo-col .check-line {margin-bottom:0px;}

.col-40 { width:40px;}
.col-50 { width:50px;}
.col-60 { width:60px;}
.col-80 { width:80px;}
.col-100 { width:100px;}
.col-120 { width:120px;}
.col-150 { width:150px;}

.input-min { width:50px;}

.fc-red {color:#C00;}
.fc-blue {color:#00C;}
[class^="cus-"],
[class*=" cus-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; 
  background-repeat: no-repeat;
  margin-left:2px;
}
.cus-ios{
	background-position: 0px 0px;
    background-image:url('../img/iphoneIco.png');
	background-size:16px 16px;
}

.cus-android{
	background-position: 0px 0px;
    background-image:url('../img/anzhuoIco.png');
	background-size:16px 16px;
}

.actions .radio input[type="radio"],.actions .checkbox input[type="checkbox"]{float:left;margin-left:0px}
.radio-line .radio input[type="radio"],.radio-line .checkbox input[type="checkbox"]{float:left;margin-left:0px}

