body{
	background:#F5F5F5;
}
.TopContainer{
	width:100%;
	height:120px;
	background:#FFF;
	overflow:hidden;
	text-align:center;
	border-bottom: #DDD solid 1px;
}
.TopContainer .TopBox{
	display:table;
	width:1200px;
	text-align:left;
	margin:auto;	
}
.TopContainer .TopBox .logo,.TopContainer .TopBox .MoreAct{
	display:table-cell;
	height:120px;
	vertical-align:middle;
	width:600px;
}
.TopContainer .TopBox .logo img{
	max-width:500px;
	max-height:100px;
}
.TopContainer .TopBox .MoreAct{
	text-align:right;
}
.TopContainer .TopBox .MoreAct a{
	display:inline-block;
	line-height:45px;
	background:#999;
	font-size:15px;
	color:#FFF;
	padding:0 20px;
	margin:0 5px;
}
.TopContainer .TopBox .MoreAct a.home{
	background:#FF8D13;
}
.TopContainer .TopBox .MoreAct a.member,.TopContainer .TopBox .MoreAct a.login{
	background:#1FA0EA;
}
.TopContainer .TopBox .MoreAct a.reg{
	background:green;
}
.TopContainer .TopBox .MoreAct a:hover{
	background:#F30;
}
.FootContainer{
	margin-top: 20px;
	border-top:#DDD solid 1px;
	text-align: center;
	padding: 10px;
	background: #FFF;
	color: #888;
	line-height: 20px;
}
/*****/
.SideContainer{
	width: 1200px;
	background: #FFF;
	margin: 20px auto 0 auto;
}
.BaseInfos{
	padding: 30px 20px;
}
.BaseInfos ul{
	display: table;
	width: 100%;
}
.BaseInfos ul ol,.BaseInfos ul li{
	display: table-cell;
	vertical-align: top;
}
.BaseInfos ul ol{
	width: 60%;
	border-right:#DDD solid 1px;
	padding-right: 5%;
}
.BaseInfos ul li{
	padding-left: 5%;
}
.BaseInfos ul ol dl{
	display: table;
	width: 100%;
}
.BaseInfos ul ol dl dt,.BaseInfos ul ol dl dd{
	display: table-cell;
	width: 50%;
	vertical-align: top;
}
.BaseInfos ul ol dl dt{
	text-align: center;
	vertical-align: middle;
	padding: 40px 0;
	color: #FFF;
	background: #F90;
}
.BaseInfos ul ol dl dt div{
	width:120px;
	height: 120px;
	background: #FFF;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
	position:relative;
}
.BaseInfos ul ol dl dt div img{
	position:absolute;
	max-width:100%;
	left:50%;
	top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.BaseInfos ul ol dl dt p{
	padding: 15px 0;
	font-size: 16px;
	line-height: 25px;
}
.BaseInfos ul ol dl dt button{
	display: inline-block;
	background: #1FA0EA;
	color: #FFF;
	padding: 8px 15px;
	border: 0;
}
.BaseInfos ul ol dl dd h3{
	padding: 0 0 30px 20px;
	font-size: 18px;
	font-weight: normal;
}
.BaseInfos ul ol dl dd div{
	padding: 3px 0 3px 20px;
	font-size:14px;
	line-height: 20px;
}
.BaseInfos ul li dl{
	border: #1FA0EA solid 1px;
	position: relative;
	padding: 50px 15px 15px 15px;
}
.BaseInfos ul li dl dt{
	position: absolute;
	width: 100%;
	line-height: 30px;
	left:0;
	top:-15px
}
.BaseInfos ul li dl dt span{
	display: inline-block;
	padding: 0 15px;
	background: #FFF;
	font-size: 18px;
	margin-left: 15px;
}
.BaseInfos ul li dl dd div{
	padding: 10px 0;
	line-height: 20px;
}
.SideContainer .head{
	border-bottom: #DDD solid 1px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 20px;
}
.SideContainer .MoreCnt{
	padding: 15px;
}
.SideContainer .MoreCnt:after{
	content: '';
	display: block;
	clear: both;
}
.SideContainer .MoreCnt .list1{
	width: 50%;
	float: left;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 14px;
	text-indent: 5px;
}
.SideContainer .MoreCnt .note{
	width: 100%;
	clear: both;
	text-align: center;
	line-height: 20px;
	color: #F30;
	padding: 10px 0;
}
.BaseInfos ul li .morebtn{
	padding-top:30px;
}

.morebtn div{
	background:orange;
	width:70%;	
	margin:auto;
	margin-bottom:9px;
	color:#fff;
	text-align:center;
	font-size:16px;
	border-radius: 5px;
	letter-spacing: 3px;
	cursor:pointer
}
.morebtn div.gz{
	color:yellow;
}
.morebtn div:nth-child(2){
	background:#1FA0EA;
}
.morebtn div:nth-child(3){
	background:#999;
}
.morelink{
	color:#fff;
	width:180px;
	text-align:center;
	line-height:30px;
}
.morelink a{
	font-size:15px;
	color:#fff;
}