body{
	background: #F5F5F5;
}
.BaseInfos{
	max-width: 610px;
	margin: auto;
	background: url(bj.png);
	background-size:100% 100%;
	padding:30px 15px;
}
.BaseInfos ul{
	display:table;
	width:100%;
	color:#FFF;
}
.BaseInfos ul ol,.BaseInfos ul li{
	display:table-cell;
	vertical-align:middle;
}
.BaseInfos ul ol{
	width:80px;
	padding-right:15px;
}
.BaseInfos ul ol img{
	width:80px;
	max-height:80px;
	border-radius:50%;
	border:#FFF solid 1px;
	box-shadow: 2px 2px 3px #000;/**块阴影**/
}
.BaseInfos ul li{
	line-height:25px;	
	text-shadow: 1px 1px 1px #000;/**字体阴影**/
}
.BaseInfos ul li p{
	color:#FFF;
}
.OtherInfos{
	max-width: 620px;
	background:#FFF;
	padding:15px 10px;
	margin: auto;
}
.OtherInfos ul{
	display:table;
	width:100%;
}
.OtherInfos ul li .num,.OtherInfos ul li .gz{
	color:orange;
}
.OtherInfos ul li{
	display:table-cell;
	width:33%;
	text-align:center;
	vertical-align:middle;
	color:#666;
}
.OtherInfos ul li.middle{
	border-left:#eee solid 1px;
	border-right:#eee solid 1px;
}
.OtherInfos ul li .yz{
	color:#F90;
}
.OtherInfos ul li .unyz{
	color:#999;
}

.list{
	width:100%;
	overflow:hidden;
	margin-top:20px;
	background:#fff;
	}
.list ul li{
	height:48px;
	line-height:48px;
	border-bottom:1px solid #ccc;
	padding:0 12px;
	}
.list ul .jb,.dt,.sm{
	text-align:center;
	text-indent:2em;
	}
.list ul .jb{
	background:url(gr_ziliao.png) no-repeat 35% 50%;		
	}
.list ul .dt{
	background:url(gr_dongtai.png) no-repeat 35% 50%;		
	}
.list ul .sm{
	background:url(gr_baomi.png) no-repeat 35% 50%;		
	}
.list ul li .left{
	float:left;}
.list ul li .right{
	float:right;}
.list ul .shuoming{
	height:64px;
	line-height:32px;
	color:#ff8d13;}
.more{
	height:48px;
	line-height:48px;
	text-align:center;
	background:#fff;
	margin-top:20px;}
	
@media (max-width: 600px) and (min-width:501px) { 
	.BaseInfos ul ol{
		width:70px;
	}
	.BaseInfos ul ol img{
		width:70px;
		max-height:70px;
	}	
}
@media (max-width: 500px) {
	.BaseInfos{
		padding:20px 10px;
	}
	.BaseInfos ul ol{
		width:60px;
	}
	.BaseInfos ul ol img{
		width:60px;
		max-height:60px;
	}
	.BaseInfos ul li{
		line-height:20px;
		font-size:14px;
	}
}
/***/
.SideInfos{
	max-width: 640px;
	margin: 20px auto 0 auto;
	background: #FFF;
}
.SideInfos h3{
	text-align: center;
	padding: 5px 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
}
.SideInfos h3 i{
	display: inline-block;
	padding-right: 5px;
	color: #F90;
}
.SideInfos ul{
	display: table;
	width: 100%;
	border-top:#f1f1f1 dotted 1px;
}
.SideInfos ul ol,.SideInfos ul li{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
	line-height: 25px;
}
.SideInfos ul ol{
	width: 40%;
	padding-left: 10px;
}
.SideInfos ul li{
	padding-right: 10px;
	text-align: right;
	color: #666;
}
.SideInfos .note{
	border-top:#DDD solid 1px;
	padding: 10px;
	line-height: 20px;
	font-size:14px;
	color: #F30;
}
