Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php




###For Nginx###
#location /
#{
#	# If the file exists as a static file serve it
#	# directly without running all
#	# the other rewite tests on it
#	if ($request_filename ~ "favicon\.ico$") {
#		break;
#	}
#
#	if (-e $request_filename) {
#		break;
#	}
#
#	if (!-e $request_filename) {
#		rewrite  ^.*$  /index.php  last;
#		break;
#	}
#}
###End For Nginx###