input[type="checkbox"],input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: white;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box \9;
    width: 20px \9;
    height: 20px \9;
    border-width: 0 \9;
}

input[type="radio"] {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: none \9;
}

input[type="checkbox"]:active,input[type="radio"]:active {
    border-color: #c6c6c6;
    background-color: #ebebeb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffffffff',GradientType=0);
}

input[type="checkbox"]:checked,input[type="radio"]:checked {
    background: #fff;
}

input[type="checkbox"]:checked::after {
    content: url(../img/checkmark.png);
    display: block;
    position: absolute;
    top: -6px;
    left: -5px;
}

input[type="radio"]:checked::after {
    content: '';
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    background: #666;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

input[type="checkbox"]:focus,input[type="radio"]:focus {
    outline: none;
    border-color: #4d90fe;
}

.treeview-menu > li > a {
    padding-left: 35px;
}

.main-footer {
    padding: 10px;
}

.erp-box {
    border-top: 0;
}
.erp-bg-thead {
    background-color: #d2d6de !important;
}
.erp-bg-thead th {
    font-weight: bold;
}

.error {
    color: red;
    font-weight: normal;
}

.must_add_value {
    color:#F00;
    margin-left:2px;
    margin-right:2px;
}

/**
服务器端，页面错误信息样式
 */
.error-message {
    list-style-type: none;
    padding: 0px;
    margin: 0px 5px;
}

.error-message li {
    color: red;
}

.nav-tabs-custom.tab-default > .nav-tabs > li.active {
    border-top-color: #605ca8;
}