{{#
************************************
注释：
************************************

标签和分类模板

#}}

<div class="container">
<div class="row">
<div class="post col-md-9">

<div class="panel panel-default">
<div class="panel-heading">

  {{ if segment_2 == "category" }}
  <h1 class="panel-title">Category 分类&ndash; {{ taxonomy_slug|deslugify|title }} </h1>
  {{ endif }}
  {{ if segment_2 == "tags" }}
  <h1>Tag 标签&ndash; {{ taxonomy_slug|deslugify|title }} </h1>
  {{ endif }}
</div>

	<div class="panel-body">
  {{ theme:partial src="_hicms_part_articlelist" fold="{blog_name}" tax="yes" }}

</div></div>

</div><!-- /left-->
<div class="col-md-3">
{{ theme:partial src="_hicms_part_nav" }}
{{ theme:partial src="_hicms_part_contact" }}
</div><!-- /right-->
</div><!-- /row-->

</div> <!-- /container -->