<include file="Include/Header" />
<include file="Include/TopNav" />
<div class="page-body">
    <include file="Include/Sider" />
    <div class="page-main">
        <div class="panel panel-primary">
            <div class="panel-heading">权限分组列表</div>
            <div class="panel-body table-scroll">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="warning">
                            <td class="td-no">编号</td>
                            <td>名称</td>
                            <td>默认登陆地址</td>
                            <td class="td-manger">管理</td>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="group">
                            <tr>
                                <td>{$group.ag_id}</td>
                                <td>{$group.ag_name}</td>
                                <td>{$group.ag_login}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" href="__URL__/Edit/gid/{$group.ag_id}">修改权限</a>
                                    <gt name="group.ag_id" value="2">
                                        <a class="btn btn-danger btn-xs" href="__URL__/Delete/gid/{$group.ag_id}">删除分组</a>
                                        <else/>
                                        <button class="btn btn-danger btn-xs disabled" type="button">系统内置</button>
                                    </gt>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="Include/Footer" />
