<!--{@name 团队}-->
<!DOCTYPE html>
<html>
<head>
<!--{template /tpl/_cms/view/pc_meta}-->
<style type="text/css">
.background-pc {background:url({$categories['06'][FILE01][0]});}
.background-mobile {background:url({$categories['06'][FILE02][0]});}
</style>
</head>
<body>
	<!--{template /tpl/_cms/view/pc_head}-->
	
	<div class="about">
		<div class="banner background-{echo $ismobile ? 'mobile' : 'pc';}">
			<div class="box">
				<p class="title">{$categories['06'][COMMENT][0]}</p>
				<p class="subtitle">{$categories['06'][COMMENT][1]}</p>
			</div>
		</div>
		
		<div class="intro">
			<div class="box">
				<p class="head">{$article_061[TITLE]}</p>
				<p class="line"></p>
				<p class="summary">
					{$article_061[CONTENT]}
				</p>
				<div class="block">
					<p class="tag">{$article_062[TITLE]}</p>
					<p class="line"></p>
					<p class="summary">
						{$article_062[CONTENT]}
					</p>
				</div>
				<div class="block">
					<p class="tag">{$article_063[TITLE]}</p>
					<p class="line"></p>
					<div class="summary">
						<p class="left">
							{$article_063[CONTENT]}
						</p>
						<div class="right">
							<img src="{$article_063[FILE01][0]}" border="0" alt="{$article_063[TITLE]}"/>
						</div>
						<br class="clear"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--{template /tpl/_cms/view/pc_foot}-->
</body>
</html>