<!--{@name 底部}-->
<div class="footer">
	<div class="box">
		<ul>
			<li class="left">
				<p class="logo">
					<a href="index.html" title="{$setting[SiteName]}">
						<img src="tpl/_cms/static/images/icon-logo.png" border="0"/>
					</a>
				</p>
				<p class="text">
					还可以在这里找到我们
				</p>
				<p class="third">
					<a href="javascript:void(null);" title="{$setting[SiteName]}">
						<img src="tpl/_cms/static/images/icon-third-qq.png" border="0"/>
					</a>
					<a href="javascript:void(null);" title="{$setting[SiteName]}">
						<img src="tpl/_cms/static/images/icon-third-weibo.png" border="0"/>
					</a>
					<a href="javascript:void(null);" title="{$setting[SiteName]}">
						<img src="tpl/_cms/static/images/icon-third-weixin.png" border="0"/>
					</a>
					<a href="javascript:void(null);" title="{$setting[SiteName]}" class="kr">
						<img src="tpl/_cms/static/images/icon-third-36kr.png" border="0"/>
					</a>
					<br class="clear"/>
				</p>
			</li>
			<li>
				<p class="title">产品</p>
				<p class="link">
					<a href="product.html#intro" title="概览">概览</a>
					<a href="product.html#feature" title="主要特点">主要特点</a>
					<a href="product.html#function" title="六大功能">六大功能</a>
					<a href="product.html#business" title="适用业务领域">适用业务领域</a>
					<a href="product.html#version" title="购买">购买</a>
				</p>
			</li>
			<li>
				<p class="title">营销</p>
				<p class="link">
					<a href="market.html#commend_66" title="我是代言人">我是代言人</a>
					<a href="market.html#commend_65" title="轻众筹">轻众筹</a>
					<a href="market.html#commend_64" title="拼团">拼团</a>
					<a href="market.html#commend_63" title="现金红包">现金红包</a>
					<a href="market.html#modules" title="更多">更多</a>
				</p>
			</li>
			<li>
				<p class="title">实验室</p>
				<p class="link">
					<a href="trial.html#ilooklook" title="一拍即合">一拍即合</a>
					<a href="trial.html#wx_card" title="微卡">微卡</a>
				</p>
			</li>
			<li class="forum">
				<p class="title">社区</p>
				<p class="link">
					<a href="forum.html?op=topics&id=1" title="产品讨论区">产品讨论区</a>
					<a href="forum.html?op=topics&id=2" title="模板库区">模板库区</a>
					<a href="forum.html?op=topics&id=3" title="营销模块区">营销模块区</a>
					<a href="forum.html?op=topics&id=4" title="问答区">问答区</a>
					<a href="forum.html?op=topics&id=5" title="项目众包区">项目众包区</a>
				</p>
			</li>
			<li class="right">
				<p class="title">线下沙龙</p>
				<p class="text">如果你有时间和兴趣可以参与我们线下举行的交流沙龙。</p>
				<p class="link">
					<button type="button" onclick="javascript:location.href='salon.html';">我要报名</button>
				</p>
			</li>
			<br class="clear"/>
		</ul>
	</div>
	
	<div class="copyright">
		<div class="box">
			Copyright 2014 All Rights Reserved
			<!--{if $setting['SiteIsShowIcp']}-->
				<a href="http://www.miibeian.gov.cn/" target="_blank">{$setting[SiteIcp]}</a>
			<!--{/if}-->
			<span>一切伟大的事情都是从发现开始！</span>
			<span><a href="admin.php" class="admin">后台入口 ></a></span>
		</div>
	</div>
</div>

{$setting[SeoFoot]}

<script type="text/javascript" src="tpl/_res/pc/js/jquery.scrollUp.js?v={$setting[Version]}"></script>

<script type="text/javascript">
$(function(){
	$('.navs .nav').hover(function(){
		if(!$(this).hasClass('nav-active')) $('.cover', this).stop().animate({opacity:1}, 'fast');
	}, function(){
		if(!$(this).hasClass('nav-active')) $('.cover', this).stop().animate({opacity:0}, 'fast');
	});
	
	$('.menu-toggle').click(function(){
		if($(this).hasClass('menu-active')){
			$(this).removeClass('menu-active');
			$('.menu-navs').hide();
		}else{
			$(this).addClass('menu-active');
			$('.menu-navs').show();
		}
	});
	
	$.scrollUp({scrollName:'scroll-up', scrollText:'', animation:'fade'});
});
</script>

<!--{if $_SESSION['_PREVIEW']}-->
<script>
if(window.parent != self) window.parent.preview('http://{$_SERVER[HTTP_HOST]}{$_var[request_uri]}');
</script>
<!--{/if}-->