<!--{@name 头部}-->
<div class="header">
	<div class="box">
		<p class="logo">
			<a href="index.html" title="{$setting[SiteName]}"><img src="tpl/_cms/static/images/icon-logo.png" border="0"/></a>
		</p>
		
		<p class="slogan">
			开放、创新、共赢
		</p>
		
		<p class="menu menu-toggle"></p>
		
		<ul class="menu-navs" style="display:none;">
			<!--{loop $navs $loop $nav}-->
			<li class="nav {$menu[$nav[COMMENT]]}">
				<p class="cover"></p>
				<a href="{$nav[URL]}" title="{$nav[CNAME]}">{$nav[CNAME]}</a>
			</li>
			<!--{/loop}-->
			<li class="nav nav-demo">
				<button type="button" onclick="javascript:location.href='http://www.ilinei.com/demo/mobile.do';">查看DEMO</button>
			</li>
		</ul>
		
		<ul class="navs">
			<!--{code $rnavs = $navs;}-->
			<!--{code rsort($rnavs);}-->
			<li class="nav nav-demo">
				<button type="button" onclick="javascript:location.href='http://www.ilinei.com/demo/index.html';">查看DEMO</button>
			</li>
			<!--{loop $rnavs $loop $nav}-->
			<li class="nav {$menu[$nav[COMMENT]]}">
				<p class="cover"></p>
				<a href="{$nav[URL]}" title="{$nav[CNAME]}">{$nav[CNAME]}</a>
			</li>
			<!--{/loop}-->
		</ul>
		
		<br class="clear"/>
	</div>
</div>