<!--{@name 提示消息}-->
<!DOCTYPE html>
<html>
<head>
<!--{template /tpl/_cms/view/pc_meta}-->
</head>

<body>
	<div class="show_message">
		<div class="box-mini context">
			<p class="title">
				操作提示
			</p>
			
			<p class="line"></p>
			<p class="text">{$show_message}</p>
			
			<!--{if $url_forward}-->
				<p class="forward"><a href="{$url_forward}">{lang show.message.link}</a></p>
			<!--{else}-->
				<p class="forward"><a href="javascript:void(null);" onclick="history.back()">{lang show.message.link}</a></p>
			<!--{/if}-->
		</div>
	</div>
</body>
</html>