/*
*css reset begin
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
/*
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
*/
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
/*table{border-collapse:collapse;border-spacing:0;}*/
img {vertical-align:middle;}
.b{font-weight:bold;}
.red{color:red;}
.blue{color:blue;}
.color8{color:#888;}
/***base css****/
.ListLinkCont{
	padding:10px 0 0 10px;
	font-size:14px;	
}
.ListLinkCont:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.ListLinkCont a{
	display:block;
	height:35px;
	line-height:35px;
	border:#DDD solid 1px;
	background:#EFEFEF;
	padding:0 10px;
	float:left;
	margin:0 10px 10px 0;
	color:#888;
	border-radius:5px;
	text-decoration:none;	
}
.ListLinkCont a:hover{
	border:#047FA0 solid 1px;
	background:#2CACCE;
	color:#FFF;
}
/***/
body{
	background:#f9f9f9;
}
.MainContainers{
	clear:both;
	margin:0 10px 10px 10px;
	border:#f1f0f0 solid 1px;
	background:#fff;
	position:relative;
}
.MainContainers .Header{
	height:40px;
	border:#FFF solid 1px;
	border-bottom:#dddfec solid 1px;
	position:relative;
}
.MainContainers .Header:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	bottom:0;
	background:#FFF;
}
.MainContainers .Header .tag{
	float:left;
	line-height:40px;
	padding:0px 15px;
	font-size:16px;
	border-bottom:1px solid #297eff;
}
.MainContainers .Header .more{
	float:right;
	padding-right:10px;
	line-height:40px;
	color:#999;
}
.MainContainers .Conter{
	padding:10px;
}
.MainContainers .Conter:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
table.FormTable,table.ListTable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}
table.FormTable td,table.ListTable td,table.ListTable th{
	padding:5px;
	line-height:25px;
}
table.FormTable{
	border-top:#efeaea dotted 1px;
}
table.FormTable td{
	border-bottom:#f0f0f1 dotted 1px;
}
table.FormTable tr:hover td{
	background:#FAFAFA;
}
table.FormTable td.tdL{
	width:300px;
	font-size:14px;
	padding:10px;
	border-right:#efeaea dotted 1px;
	vertical-align:top;
}
table.FormTable td.tdR{
	padding:10px;
	font-size:14px;
	color:#666;
	vertical-align:top;
}
table.FormTable td.tdR input[type=text],table.FormTable td.tdR input[type=number],table.FormTable td.tdR input[type=password]{
	border:#e5eaef solid 1px;
	height:35px;
	line-height:35px;
	text-indent:5px;
	border-radius:3px;
	color:#555;
}
table.FormTable td.tdR input[type=radio]{
	border:0;
}
table.FormTable td.tdR textarea{
	border:#e5eaef solid 1px;
	padding:5px;
	border-radius:3px;
}
.m-showpage{
	text-align:center;
	padding:20px 5px 10px 5px;
}
.m-showpage a{
	border:#DDD solid 1px;
	padding:5px;
	border-radius:3px;
	color:#888;
	font-size:14px;
}
.m-showpage a.ck{
	border:#F30 solid 1px;
	background:#F60;
	color:#FFF;
}
.m-showpage a.ck font{
	color:#FFF;
}
.MainContainers .submits{
	clear:both;
	padding:5px 10px 15px 10px;
	word-spacing:5px;
	text-align:center;
}
.MainContainers .submits a{
	font-size:14px;
	padding:0 5px;
}
.MainContainers .submits input[type=submit],.MainContainers .submits input[type=button]{
	border:#047FA0 solid 1px;
	background:#2CACCE;
	color:#FFF;
	height:35px;
	line-height:35px;
	padding:0 10px;
	font-size:14px;
	cursor:pointer;
	border-radius:5px;
	margin-top:10px;
}
.MainContainers .submits input[type=button]{
	border:#BBB solid 1px;
	background:#DDD;
}
.MainContainers .submits input[type=submit]:hover{
	border:#F30 solid 1px;
	background:#F60;
}
.MainContainers .notes{
	font-size:14px;
	color:#666;
	line-height:25px;
}
.MainContainers .notes li{
	padding-bottom:5px;
}
.MainContainers .WarrIngs{
	text-align:center;
	padding:10px;
	line-height:25px;
	color:#F00;
	font-size:16px;
}
table.ListTable th{
	border-top:#efecec solid 1px;
	border-bottom:#CCC solid 1px;
	text-align:center;
	padding:10px 5px;
	line-height:30px;
	font-size:14px;
}
table.ListTable td{
	text-align:center;
	padding:10px 5px;
	line-height:30px;
	border-bottom:#e8e7e7 dotted 1px;
	vertical-align:middle;
	font-size:14px;
}
table.ListTable td.Left{
	text-align:left;
}
table.ListTable td input[type=text]{
	border:#e4e9ea solid 1px;
	height:25px;
	line-height:25px;
	text-indent:5px;
	border-radius:3px;
}
table.ListTable td input[type=text]:hover{
	border:#ccc solid 1px;
}
table.ListTable td a.edit,table.ListTable td a.del,table.ListTable td a.see{
	display:inline-block;
	width:15px;
	height:15px;
	overflow:hidden;
	line-height:50px;
}
table.ListTable td a.edit{
	background:url(edit.png) center top no-repeat;
}
table.ListTable td a.del{
	background:url(del.png) center top no-repeat;
}
table.ListTable td a.see{
	background:url(content.png) center top no-repeat;
}
table.ListTable tr:hover td{
	background:#FAFAFA;
}
.FormTable .m-R span{display:block; position:relative; padding-bottom:5px;}
.FormTable .m-R span em{display:inline-block; line-height:40px;}
.FormTable .m-R span em.m-upPic{position:absolute; top:7px; height:30px;}
/***/
.ShowPage{
	clear:both;
	text-align:center;
	padding:10px;
}
.ShowPage a{
	display:inline-block;
	border:#DDD solid 1px;
	color:#888;
	padding:5px;
	border-radius:5px;
}
.ShowPage a.ck{
	background:#F30;
	border:#F00 solid 1px;
}
.ShowPage a.ck font{
	color:#FFF;
}
.ShowPage a:hover{
	background:#F90;
	border:#F30 solid 1px;
	color:#FFF;
}

/*新增按钮样式
.btn,.submit{
	clear:both;
	min-width: 70px;
	min-height: 26px;
	background: #2CACCE;
	color: #d9eef7;
	border: solid 1px #0076a3;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size:16px/100%;
	font-family:Arial;
	font-weight:bold;
	padding: .5em 1em -0.45em;
	 
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btn:hover,.submit:hover{
	text-decoration: none;
	background-color:#F60;
}*/
.btn,.submit{
	padding:7px 10px 7px 10px;
	border:1px solid #ccc;
	background:#eee;
}
.btn:hover,.submit:hover{
	background-color:#ddd;
}
/*a标签按钮*/
.Abtn{
	text-decoration:none;
	min-width:40px;
	height:22px;
	line-height:22px;
	border:#047FA0 solid 1px;
	border-radius:8px;
	padding:6px;
	background:#2CACCE;
	display: inline-block;
	font-family: 微软雅黑;
	/*font-weight:bold;*/
	/*color:#FFF;*/
	color:white;
	font-size:13px;
	cursor:pointer;
	/*border-radius:5px;*/
}
.Abtn:hover{
	text-decoration: none;
	background-color:#F60;
	color:white;
}

/**列表搜索**/
.MainContainers .top_search{
	margin-bottom:10px;
	float:right;
}
.MainContainers .top_search select{
	height:30px;
	margin-right:10px;
}
.MainContainers .top_search input[type=text]{
	height:28px;
}

.MainContainers .top_search .search_word{
	width:150px;
}
.MainContainers .top_search .time{
	width:130px;
	margin-right:10px;
}