<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>订单列表
			<a href="{:U('index',array('status'=>999))}">全部</a>
			<a href="{:U('index',array('status'=>0))}">未付款</a>
			<a href="{:U('index',array('status'=>1))}">未发货</a>
			<a href="{:U('index',array('status'=>2))}">已发货</a>
			
			<a href="{:U('index',array('status'=>3))}">已完成</a>
		</h2>
	</div>
	<div class="cf">
		

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">id</th>
		<th class="">订单号</th>
		<th class="">收货人</th>
		<th class="">电话</th>
		<th class="">金额</th>
		<th class="">使用积分</th>
		<th class="">下单时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.order_no}</td>
			<td>{$vo.consignee}</td>
			<td>{$vo.mobile}</td>
			<td>{$vo.goods_amount}</td>
			<td>{$vo.use_score}</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('Order/detail',array('id'=>$vo['id']))}" class="">详情</a>
				<a href="{:U('Order/deliver',array('id'=>$vo['id']))}" class= ajax-get">发货</a>
                <a href="{:U('Order/del',array('id'=>$vo['id']))}" class="confirm ajax-get">删除</a>
             </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
