{% for key,value in data %}
    <h5><a data-target="#right_handle" href="{{ url(['for':'adminRegionBlockAdd','region':region,'contentModel':key]) }}">{{ value['modelName'] }}</a></h5>
    <p><small>{{ value['description'] }}</small></p>
{% endfor %}