<div class="block region-{{ region }}" id="{{ id }}">
    {% if name is defined %}<h3 class="block-title">{{ name }}</h3>{% endif %}
    {% if body is defined %}
        <div class="block-body">{{ body }}</div>{% endif %}
</div>