<div id="{{ region }}">
    {% if regionInfo['display_title'] is defined AND regionInfo['display_title'] == '1' %}
        <h3>{{ regionInfo['name'] }}</h3>
    {% endif %}
    {% for b in blockList['hierarchy'] %}
    {{ view.r(blockRender(blockList['data'][b],region)) }}
    {% endfor %}
</div>