#m #setmod{ margin-left:485px;}
#header,#banner,#content{width: 970px;}
#header{ height:144px;  background:url("images/header_bg.png") no-repeat center; }
#footer{ width:970px; }
.menu{ padding-top:60px; padding-right:70px;}

.plinks .mbd li{ margin:12px 0 0 15px;}
.prodt .mbd li{ margin:20px 31px 0 15px;}


.col-extra{ display:none;}
.mhd button{ color:#fff;}
.contact_con dt{color:#fff;}
.col-sub .mbox{ color:#fff; }
.sinner{border-top:1px #14386b solid;border-bottom:1px #14386b solid; margin-top:10px;}

.mbd{ color:#5e8ecc;}
.col-sub .mbd{ margin-left:3px; margin-right:3px;background:#070d39;border-left:1px #14386b solid;border-right:1px #14386b solid;}
.mhd span a:link, .mhd span a:visited{ color:#305395;}
.mhd span{ padding-right:35px;}

.map{ background:#073375; border:1px solid #305395;}

/*body*/
body{color:#fff; background:#010103;}
.tbbd{color:#fff;background:#010103;}
.hwrap{background:url("images/bg.png") repeat-x;}

.cwrap{ background:url("images/cwrapbg.png") #010103 no-repeat top; padding-bottom:30px; padding-top:5px;}



a:link,a:visited{color:#5e8ecc;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #5e5e5e solid;border-left:1px #5e5e5e solid;border-right:1px #5e5e5e solid;border-bottom:1px #5e5e5e solid; background:#fff;}
.job_con table,.guest table {border-top:1px solid #305395;border-left:1px solid #305395;border-right:1px solid #305395;}
.job_con td,.guest td{background:#064188;border-bottom:1px solid #305395;}
.job_con th,.guest th{background:#073375;border-bottom: 1px solid #305395;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;color: #dfe3ec; height:83px; line-height:83px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}
.menu span a:link,.menu span a:visited{ color:#1cb4e3; }

.nav{ line-height:58px;overflow:hidden}


.nav li a{font-weight:normal;width:110px;text-align:center;padding-right:5px; }

.navlist ul{top:35px;left:8px; }
.navlist ul li{background:none;background:#393939;border-bottom:1px #fff solid; display:none; }
.navlist ul li a{font-weight:bold;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat top; }
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#aeb1b4;}
.nav a:hover,
.nav a.active{color:#fff;font-weight:bold;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff; }
.nav li.active ul a:hover{background:none;}
#banner{    background:url("images/banner_bg.png") #206d97 no-repeat top; margin-top:5px;}
#banner .xtop{ background:url("images/bannerTop_bg.png") no-repeat top; padding-top:10px;}
#banner .xbottom{background:url("images/bannerBottom_bg.png") no-repeat bottom; padding-bottom:10px;}
.layout{ padding-top:20px;}

/*content*/

.col-main .mbox{ margin-top:10px; }
.main-wrap .mbox{padding:2px 0px 1px; color:#fff;}
.col-main .contact_con,.main-wrap .mbd{border-left:1px solid #14376a;border-right:1px solid #14376a;border-bottom:1px solid #14376a; background:#091c56;}
.mhd{ background:url("images/mhb_bg.png") no-repeat center; height:44px; line-height:38px; }
.col-sub .mhd{background:url("images/mhd_bg.png")  no-repeat top; height:38px; line-height:38px; }



.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 5px center;padding-left:35px; }

.down_list .mhd h3 ,.job .mhd h3,.contact .mhd h3, .tlinks .mhd h3,.kfonline .mhd h3,.cate_list .mhd h3,.login .mhd h3{color:#fff;padding-left:45px; line-height:38px; background:url("images/sico02.png") no-repeat 10px center ; height:38px;  }
.col-sub .mbd span a{ color:#305395;}

.main-wrap .mhd{background:url("images/col-main_mhb_bg.png") no-repeat center;height:44px;}
.col-main .mhd h3,.plinks .mhd h3,.news .mhd h3,.profile .mhd h3,.prodt .mhd h3{width:auto; color:#fff; line-height:38px; padding-left:50px; }



.mhd button{background:url("images/sbtn2.png") no-repeat; margin-right:5px;}

.feedback a{width:260px;background:url("images/feedback.png") no-repeat; padding-bottom:2px;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #355792 dotted;}
.news li span,.seabox li span{color:#5e8ecc;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #305395 solid;}
.notice_con p.active{background:#073375;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px ##A63030 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#5e8ecc;}
.down_list .mbd li h2{border-bottom:1px #305395 dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px; color:#5e8ecc;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/col-sub_mbd_bg.png") no-repeat; color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 22px center;border-bottom:1px #dadada dashed;}	
.title{border-bottom:1px #305395 solid;}
.title h2{color:#4d77b4;}
.title p{color:#345591;}
/*g_page*/
.g_page .page{ color:#f7e7c5;}
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#1698c6;color:#fff;border:1px #091c56 solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:#073375; height:30px; color:#fff;}
.item span{color:#5e8ecc;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit{color:#fff;width:58px;height:23px;}
.inputSubmit_reset{color:#fff;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png")  no-repeat;}

.pipe {color:#5e8ecc;}
.fwrap{background:#010103;}
#footer {color: #5e8ecc; background:url("images/footer.png") no-repeat; height:60px; padding-top:5px;}

#footer a:link, #footer a:visited {color: #5e8ecc;}
#footer a:hover {color: #5e8ecc;}
#footer .support a:link, #footer .support a:visited{color: #5e8ecc;}
