<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>发送邮件</h2>
    </div>
    <div class="tab-wrap">
        <ul class="tab-nav nav">
            <li><a href="{:U('Admin/Addons/adminList',array('name'=>'Mail'))}">邮件配置</a></li>
            <li><a href="{:addons_url('Mail://Mail/mailList')}">邮箱列表</a></li>
            <li class="current"><a href="{:addons_url('Mail://Mail/sendEmail')}">发送邮件</a></li>
            <li><a href="{:addons_url('Mail://Mail/history')}">邮件历史</a></li>
        </ul>
        <div class="tab-content">
            <form action="{:addons_url('Mail://Mail/doSendEmail')}" method="post" class="form-horizontal">

                    <div class="form-item">
                        <label class="item-label">邮箱地址<span class="check-tips">（用分号+空格"; "分隔,不填则表示全部发送）</span> </label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="address">{$address}</textarea>
                            </label>
                        </div>
                    </div>

                <div class="form-item">
                    <label class="item-label">邮件标题  </label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="title" value="">

                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">邮件内容 </label>
                    <div class="controls">
                        <label class="textarea">
                            <textarea name="body"></textarea>
                            {:hook('adminArticleEdit', array('name'=>'body','value'=>'body','id'=>'body'))}
                        </label>
                    </div>
                </div>


                <div class="form-item">
                    <label class="item-label"></label>
                    <div class="controls">

                        <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>

                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">

</block>