div.comments-list div.comment-box h1,
div.comments-list div.comment-box h2,
div.comments-list div.comment-box h3,
div.comments-list div.comment-box h4,
div.comments-list div.comment-box h5,
div.comments-list div.comment-box h6{
    color: #666666;

    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

div.comments-list div.comment-box h1{
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 15px;
}
div.comments-list div.comment-box h2{
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 15px;
}
div.comments-list div.comment-box h3{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}
div.comments-list div.comment-box h4{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}
div.comments-list div.comment-box h5{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}
div.comments-list div.comment-box h6{
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 15px;
}

/* BLOCKQUOTE */
div.comments-list div.comment-box blockquote p,
div.comments-list div.comment-box blockquote{
    background-image: url(../img/quote.png);
    background-repeat: no-repeat;
    background-position: 0px 12px;
    border: none;
    color: #303030;
    font-size: 13px;
    font-style: italic;
    padding:10px 30px;
}
div.comments-list div.comment-box blockquote p{
    background: none;
    padding: 0px;
}
div.comments-list div.comment-box blockquote p:first-child{
    margin-top: 0px;
}
div.comments-list div.comment-box blockquote p:last-child{
    margin-bottom: 0px;
}

/* LISTS */
div.comments-list div.comment-box ul,
div.comments-list div.comment-box ol{
    padding-left: 25px;
}

/* TABLE */
table{
    width: 100%;
    color: #666666;
}

table th{
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    min-height: 40px;
    padding: 7px;
}

table td{
    border: 1px solid #f0f0f0;
    text-align: left;
    min-height: 40px;
    padding: 6px;
}

address{
    font-style: italic;
}
address,
abbr{
    color: #2d2d2d;
}

pre{
    margin: 15px 0px;
}