/* DELIMITER */
.mythemes-delimiter{
    padding-top: 18px;
    padding-bottom: 18px;
}
.mythemes-delimiter div.delimiter-item{
    height: 1px;
    background: #101010;
}
.mythemes-delimiter.no-padding{
    padding: 0px;
}
.delimiter-item.after-header-widgets{
    margin-bottom: 60px;
}


/* LIST VIEW POSTS */
.list-preview .valign-cell-wrapper{
    background-color: rgba( 21,23, 27, 0.0 );
}
.list-preview .overflow-wrapper:hover .valign-cell-wrapper{
    background-color: rgba( 21,23, 27, 0.8 );
}
.list-preview .btn-details{
    background-color: transparent;
    color: #ffffff;
    display: none;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
.list-preview .overflow-wrapper:hover .btn-details{
    display: inline-block;
}

.list-preview .overflow-wrapper:hover .btn-details.mythemes-btn.btn-details.play-video{
    font-size: 32px;
}