footer aside{
    padding: 60px 0px 20px 0px;
    border-top: 1px solid rgba( 255, 255, 255, 0.04 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
}
footer aside div.widget{
    margin-bottom: 40px;
}

footer aside div.widget.website-description h1,
footer aside div.widget.website-description h2{
    font-size: 26px;
    line-height: 35px;
    margin: 0px 0px 10px 0px;

    text-transform: uppercase;
}
footer aside div.widget.website-description h1 a,
footer aside div.widget.website-description h2 a{
    color: #bbbbbb;
}
footer aside div.widget.website-description h1 a:hover,
footer aside div.widget.website-description h2 a:hover{
    color: #dedede;
}
footer aside h5{
    color: #555555;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer aside p{
    color: #666666;
    margin: 10px 0px;
}

@media ( max-width:480px ){
    footer aside div.row div[class^="col-"]{
        display: block;
        width: 100%;
    }
}

footer .mythemes-copyright{
    background: #000000;
    padding: 35px 0px;
}

footer .mythemes-copyright p{
    color: #454545;
    font-size: 12px;
    line-height: 18px;

    padding: 0px;
    margin: 6px 0px;
}

footer .mythemes-copyright a{
    color: #777777;

}
footer .mythemes-copyright a:hover{
    color: #ededed;
    text-decoration: underline;
}


/* SOCIAL ICONS */
footer div.mythemes-social{
    text-align: right;
}

footer div.mythemes-social a{
    text-decoration: none;
}

footer div.mythemes-social a:hover,
div.mythemes-social [class^="icon-"]:before,
div.mythemes-social [class*="icon-"]:before{
    text-decoration: none;
}

div.mythemes-social [class^="icon-"]:before,
div.mythemes-social [class*="icon-"]:before{
  font-size: 14px;
  background: #101010;
  color: #787878;
 
  width: 26px;
  line-height: 26px;
  margin-left: 2px;
  margin-right: 2px;

  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;

  -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

footer div.mythemes-social a{
    display: inline-block;

    width: 30px;
    height: 30px;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
footer div.mythemes-social a:before{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;   
}
footer div.mythemes-social a:hover:before{ color: #ffffff; text-decoration: none; }

footer div.mythemes-social a.icon-rss:hover:before{ background: #ff7600; }
footer div.mythemes-social a.icon-smashing:hover:before { background: #ff462c; }
footer div.mythemes-social a.icon-flickr:hover:before { background: #0062dd; }
footer div.mythemes-social a.icon-vimeo:hover:before{ background: #00beff; }
footer div.mythemes-social a.icon-vimeo-circled:hover:before{ background: #00beff; }
footer div.mythemes-social a.icon-twitter:hover:before{ background: #00b0ef; }
footer div.mythemes-social a.icon-facebook:hover:before{ background: #265999; }
footer div.mythemes-social a.icon-gplus:hover:before{ background: #f32e31; }
footer div.mythemes-social a.icon-pinterest:hover:before{ background: #ef0021; }
footer div.mythemes-social a.icon-tumblr:hover:before{ background: #174863; }
footer div.mythemes-social a.icon-linkedin:hover:before{ background: #0082b2; }
footer div.mythemes-social a.icon-dribbble:hover:before{ background: #ff2788; }
footer div.mythemes-social a.icon-stumbleupon:hover:before{ background: #ff2419; }
footer div.mythemes-social a.icon-lastfm:hover:before{ background: #fb0000; }
footer div.mythemes-social a.icon-github:hover:before{ background: #0084c5; }
footer div.mythemes-social a.icon-instagram:hover:before{ background: #00749c; }
footer div.mythemes-social a.icon-dropbox:hover:before{ background: #0083d1; }
footer div.mythemes-social a.icon-evernote:hover:before{ background: #7ac142; }
footer div.mythemes-social a.icon-flattr:hover:before{ background: #ff6f00; }
footer div.mythemes-social a.icon-skype:hover:before{ background: #00b3f2; }
footer div.mythemes-social a.icon-renren:hover:before{ background: #0d80e4; }
footer div.mythemes-social a.icon-picasa:hover:before{ background: #415e5f; }
footer div.mythemes-social a.icon-soundcloud:hover:before{ background: #ff4f00; }
footer div.mythemes-social a.icon-mixi:hover:before{ background: #d1ad5a; }
footer div.mythemes-social a.icon-behance:hover:before{ background: #0066ff; }
footer div.mythemes-social a.icon-google-circles:hover:before{ background: #f32e31; }
footer div.mythemes-social a.icon-vkontakte:hover:before{ background: #4E729A; }
footer div.mythemes-social a.icon-rdio:hover:before{ background: #006ed4; }

@media ( min-width: 980px ) and (max-width: 1199px ){
}
@media ( min-width: 768px ) and ( max-width: 979px ){
}
@media ( min-width: 481px ) and ( max-width: 767px ){
    footer .mythemes-copyright p{
        text-align: center;
    }
    footer div.mythemes-social{
        margin-top: 30px;
        text-align: center;
    }
}
@media ( max-width:480px ){
    footer .mythemes-copyright p{
        text-align: center;
    }
    footer div.mythemes-social{
        margin-top: 30px;
        text-align: center;
    }
}

div.mythemes-scroll-up{
    position: fixed;

    left: 20px;
    bottom: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    text-align: center;
    display: none;
    width: 40px;
    height: 40px;

    z-index: 1000;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.mythemes-scroll-up.show-scroll-up{
    display: block;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

div.mythemes-scroll-up a{
    color: #999999;
    display: block;
    line-height: 40px;
}

div.mythemes-scroll-up a:hover{
    color: #ffffff;
}