.btn,
.button,
.mythemes-button,
button,
input[type="submit"],
input[type="button"],
div#comments  p.form-submit input[type="submit"],
div.widget_newsletter form button[type="submit"],
.hentry input[type="button"],
.hentry input[type="submit"],
.hentry button{
    border: 0px;
    border-bottom: 2px;
    border-color: transparent;
    border-style: none;

    font-family: Quicksand, sans-serif, Arial, serif;
    font-size: 13px;

    color: #ffffff;

    padding: 12px 25px;
    margin: 10px 0px;

    text-shadow: none;
    text-decoration: none;

    opacity: 0.85;
    filter: alpha(opacity=85);

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.mythemes-button{
    display: inline-block;
}
.mythemes-button.small{
    font-family: Quicksand, sans-serif, Arial, serif;
    font-size: 12px;

    color: #ffffff;

    padding: 8px 17px;
    margin: 8px 0px;
}
.mythemes-button.big{
    font-family: Quicksand, sans-serif, Arial, serif;
    font-size: 16px;

    color: #ffffff;

    padding: 15px 30px;
    margin: 12px 0px;
}
.btn:hover,
.button:hover,
.mythemes-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
div#comments  p.form-submit input[type="submit"]:hover,
div.widget_newsletter form button[type="submit"]:hover,
.hentry input[type="button"]:hover,
.hentry input[type="submit"]:hover,
.hentry button:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);    
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="phone"],
select,
textarea{
    background: #101010;
    border: 2px solid rgba( 255, 255, 255, 0.03 );
    color: #666666;

    padding: 6px 5px 10px 7px;
    margin: 10px 0px;

    width: 100%;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;    
}

button:focus,
input:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
select:focus,
textarea:focus{
    box-shadow: none;
    outline: 0;
    outline: thin dotted \9;    
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
select:focus,
textarea:focus{
    color: #999999;
}

form.post-password-form input[type="submit"]{
    padding: 9px 25px;
}