/* HEADER IMAGE */
div.mythemes-header{
	height: 500px;
}
div.mythemes-header > div{
    border-top: 1px solid rgba( 255, 255, 255, 0.04 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
}
.mythemes-header-animation h1{
    margin: 0px;
}
.mythemes-header-animation .mythemes-logo{
    font-family: Quicksand, sans-serif, Arial, serif;
    font-weight: 400;
    margin: 20px 0px;
    
}
.mythemes-header-animation .mythemes-description{
    font-family: Roboto, sans-serif, Arial, serif;
    font-weight: 300;
    letter-spacing: 2px;

    opacity: 0.85;
    filter: alpha(opacity=85);

}
.mythemes-header-animation .mythemes-logo,
.mythemes-header-animation .mythemes-description{
    display: block;
    text-align: center;

    text-shadow: 1px 1px 1px #000;

    width: 100%;
    max-width: 100%;
    max-height: 100%;

    text-decoration: none;
}

@media (min-width: 1200px ){
    .mythemes-header-animation .mythemes-logo{
        font-size: 48px;
        line-height: 52px;
    }
    .mythemes-header-animation .mythemes-description{
        font-size: 14px;
        line-height: 18px;
    }
}
@media ( min-width: 980px ) and (max-width: 1199px ){
    .mythemes-header-animation .mythemes-logo{
        font-size: 44px;
        line-height: 48px;
    }
    .mythemes-header-animation .mythemes-description{
        font-size: 14px;
        line-height: 18px;
    }
}
@media ( min-width: 768px ) and ( max-width: 979px ){
    .mythemes-header-animation .mythemes-logo{
        font-size: 40px;
        line-height: 44px;
    }
    .mythemes-header-animation .mythemes-description{
        font-size: 13px;
        line-height: 16px;
    }
}
@media ( min-width: 481px ) and ( max-width: 767px ){
    .mythemes-header-animation .mythemes-logo{
        font-size: 36px;
        line-height: 40px;
    }
    .mythemes-header-animation .mythemes-description{
        font-size: 13px;
        line-height: 16px;
    }
}
@media ( max-width:480px ){
    .mythemes-header-animation .mythemes-logo{
        font-size: 32px;
        line-height: 36px;
    }
    .mythemes-header-animation .mythemes-description{
        font-size: 12px;
        line-height: 14px;
    }
}

/* BUTTONS */
div.mythemes-header .valign-cell p.buttons{
	padding: 30px 0px 0px 0px;
}

div.mythemes-header .valign-cell p.buttons a.btn{

	font-size: 13px;
    color: #ffffff;
    padding: 12px 25px;

    margin: 10px 10px;

    text-shadow: none;
    text-decoration: none;

    opacity: 0.85;
    filter: alpha(opacity=85);

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;

}
div.mythemes-header .valign-cell p.buttons a.btn:hover{
	color: #ffffff;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

@media ( max-width:480px ){
	div.mythemes-header .valign-cell p.buttons a.btn{	
			width: 80%;
	}
}
@media ( max-width: 1024px ){
	div.mythemes-header{
		background-size: initial;
	}
}

div.mythemes-header div.overflow-wrapper{
	border-top: 10px solid rgba( 0, 0, 0, 0.3 );
    border-bottom: 10px solid rgba( 0, 0, 0, 0.3 );
	margin: 0px;
}

/* BACKGROUND backstretch */
@media ( min-width: 1200px ){
  body > div.backstretch img{
      max-width: 100% !important;
      left: 0px !important;
      top: 0px !important;
      height: auto !important;
    }
}