.valign-cell{
    display: table-cell;
}

.mythemes-effect-1.mythemes-menu {
    display: none;
}

.mythemes-effect-1.mythemes-menu-open .mythemes-effect-1.mythemes-menu {
    display: block;
}