div.mythemes-topper{
	position: fixed;
	background: rgba( 0,0,0, 0.5 );
	width: 100%;
	height: 40px;
	margin-top: -40px;
	margin-bottom: 40px;
	z-index: 101;
}
@media ( max-width: 600px ){
	body.topper-up div.mythemes-topper{
		top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
div.mythemes-topper a.mythemes-nav-btn{
	display: inline-block;
	padding-top: 13px;
	margin-left: 20px;
	height: 28px;
}

div.mythemes-topper a.mythemes-nav-btn span.mythemes-btn-item{
	background: rgba( 255, 255, 255, 0.7 );
	display: block;
	width: 15px;
	height: 3px;
	margin-top: 3px;
}

div.mythemes-topper a.mythemes-nav-btn span.mythemes-btn-item:first-child{
	margin-top: 0px;
}

div.mythemes-topper a.mythemes-nav-btn span.mythemes-btn-items{
	display: block;
	float: left;
	width: 15px;
	height: 15px;

	-webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

div.mythemes-topper a.mythemes-nav-btn.collapsed span.mythemes-btn-items{
	-webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

div.mythemes-topper a.mythemes-nav-btn span.mythemes-label{
	color: rgba( 255, 255, 255, 0.8 );
	float: left;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;

	padding-top: 0px;
	padding-left: 15px;
	text-transform: uppercase;

	display: block;
}

div.mythemes-topper a.mythemes-nav-btn:hover span.mythemes-btn-item{
	background: rgba( 255, 255, 255, 1.0 );
	color: rgba( 255, 255, 255, 1.0 );
}

div.mythemes-menu div.mythemes-nav-header{
	padding: 20px 20px 0px 20px;
	text-align: center;
}
div.mythemes-menu div.mythemes-nav-header h2,
div.mythemes-menu div.mythemes-nav-header h2 a{
	text-align: center;
}
div.mythemes-menu div.mythemes-nav-header p{
	color: #454545;
}
div.mythemes-menu div.mythemes-nav-header input[type="text"]{
	float: left;
	width: 80%;
}
div.mythemes-menu div.mythemes-nav-header button[type="submit"]{
	float: right;
	margin-left: 10px;
	padding: 9px 17px 8px 17px;
}

div.mythemes-menu ul{
	list-style: none;
	margin: 0px;
	padding: 20px;
}
div.mythemes-menu form#searchform{
	margin-top: 35px;
	padding: 25px 0px;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}
div.mythemes-menu ul ul{
	padding: 0px;
	margin-top: 12px;
}

div.mythemes-menu ul li{
	display: block;
	padding: 12px 15px;
	margin-top: 1px;
	text-transform: uppercase;
}
div.mythemes-menu ul li.current-menu-item{
	background-color: rgba( 255, 255, 255, 0.04 );
}
div.mythemes-menu ul li a{
	font-family: Roboto,arial,sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #454545;
}
div.mythemes-menu ul li:hover > a{
	color: #666666;	
}

div.mythemes-menu ul li:hover{
	background-color: rgba( 255, 255, 255, 0.02 );
}

div.mythemes-menu ul li.current-menu-item:hover{
	background-color: rgba( 255, 255, 255, 0.03 );
}
