/* SHOW LISTS IN LINE */
nav.mythemes-nav-inline div > ul,
nav.mythemes-nav-inline > ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav.mythemes-nav-inline div > ul > li,
nav.mythemes-nav-inline > ul > li{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}