<extend name="Common/form-ajax" />
<block name="form">
    <input type="hidden" name="id" value="{$info.id}">
    <tr>
        <th>父分组:</th>
        <td>
            <select name="pid" tip="请选择父分组">
                <foreach name="parent" item="v">
                <option value="{$v.id}" <eq name="v.id" value="$info.pid">selected</eq> >{$v.mark}{$v.title}</option>
                </foreach>
            </select>
        </td>
    </tr>
    <tr>
        <th>名称:</th>
        <td>
            <input type="text" name="title" datatype="require" tip="请填写分组中文名称" value="{$info.title}">
        </td>
    </tr>
    <tr>
        <th>描述:</th>
        <td>
            <textarea name="remark" tip="请填写分组描述">{$info.remark}</textarea>
        </td>
    </tr>
    <tr>
        <th>类型:</th>
        <td>
            <label for="type_1"><input id="type_1" type="radio" name="type" value="1" <eq name="info.type" value="1">checked</eq> >子级</label>
            <label for="type_2"><input id="type_2" type="radio" name="type" value="2" <eq name="info.type" value="2">checked</eq> >父级</label>
        </td>
    </tr>
    <tr>
        <th>状态:</th>
        <td>
            <label for="status_1"><input id="status_1" type="radio" name="status" value="1" <eq name="info.status" value="1">checked</eq>>启用</label>
            <label for="status_0"><input id="status_0" type="radio" name="status" value="0" <eq name="info.status" value="0">checked</eq>>禁用</label>
        </td>
    </tr>
    <tr>
        <th>排序:</th>
        <td>
            <input type="text" name="sort" tip="请填写分组排序数值" value="{$info.sort}" >
        </td>
    </tr>
</block>
