<ul class="dux-tab uk-clearfix">
    <li class="{$type == 0 ? 'active' : 0}">
        <a href="{url('member/Setting/index')}">基本资料</a>
    </li>
    <li>
        <a href="{url('member/Real/index')}">实名制认证</a>
    </li>
</ul>
<div class="dux-tab-body uk-padding">
<form class="dux-form uk-form  uk-form-horizontal" action="{url()}" method="post" data-dux="form-bind"
      data-advanced="false"
      id="distpicker">
    <div class="uk-form-group">
        <label class="uk-form-label">手机</label>
        <!--if{$userInfo.tel}-->
        <div class="uk-form-controls uk-form-controls-text">{$userInfo.tel} <a class="uk-link"
                href="{url('username', ['type'=>'tel'])}">(更换绑定)</a></div>
        <!--{else}-->
        <div class="uk-form-controls">
            <input type="text" name="tel" class="uk-form-field" placeholder="手机">
        </div>
        <!--{/if}-->
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">邮箱</label>
        <!--if{$userInfo.email}-->
        <div class="uk-form-controls uk-form-controls-text">{$userInfo.email}<a class="uk-link"
                href="{url('username', ['type'=>'email'])}">(更换绑定)</a></div>
        <!--{else}-->
        <div class="uk-form-controls">
            <input type="text" name="email" class="uk-form-field" placeholder="邮箱">
        </div>
        <!--{/if}-->
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">昵称</label>
        <div class="uk-form-controls">
            <input type="text" name="nickname" placeholder="昵称"
                   value="{$userInfo.nickname}">
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">所在地</label>
        <div class="uk-form-controls" data-dux="form-location">
            <div class="uk-grid uk-child-width-expand">
                <div>
                    <select name="from_province" data-province="{$info.from_province}"></select>
                </div>
                <div>
                    <select name="from_city" data-city="{$info.from_city}"></select>
                </div>
                <div>
                    <select name="from_region" data-district="{$info.from_region}"></select>
                </div>
            </div>
        </div>
    </div>

    <h3 class="uk-heading-line uk-text-center"><span>可选资料</span></h3>

    <div class="uk-form-group">
        <label class="uk-form-label">性别</label>
        <div class="uk-form-controls">
            <select name="sex" class="uk-form-field">
                <option value="1" <!--if{$userInfo.sex==1}-->selected="selected"<!--{/if}--> >男</option>
                <option value="0" <!--if{$userInfo.sex==0}-->selected="selected"<!--{/if}--> >女</option>
            </select>
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">生日</label>

        <div class="uk-form-controls">
            <!--if{$userInfo.birthday}-->
            <div class="uk-form-controls uk-form-controls-text">{$userInfo.birthday}</div>
            <!--{else}-->
            <input type="date" name="birthday" class="uk-form-field" value="{$userInfo.birthday}"/>
            <!--{/if}-->
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">职业</label>
        <div class="uk-form-controls">
            <input type="text" name="work" class="uk-form-field" value="{$userInfo.work}" placeholder="职业"/>
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">年收入</label>

        <div class="uk-form-controls">
            <select name="income" class="uk-form-field">
                <option value="1" <!--if{$userInfo.income==1}-->selected="selected"<!--{/if}--> >5万以下</option>
                <option value="2" <!--if{$userInfo.income==2}-->selected="selected"<!--{/if}--> >5-10万</option>
                <option value="3" <!--if{$userInfo.income==3}-->selected="selected"<!--{/if}--> >10-30万</option>
                <option value="4" <!--if{$userInfo.income==4}-->selected="selected"<!--{/if}--> >30万以上</option>
            </select>
        </div>
    </div>

    <div class="uk-form-group">
        <label class="uk-form-label">家乡地</label>
        <div class="uk-form-controls" data-dux="form-location">
            <div class="uk-grid uk-child-width-expand">
                <div>
                    <select name="from_province" data-province="{$info.hometown_province}"></select>
                </div>
                <div>
                    <select name="from_city" data-city="{$info.hometown_city}"></select>
                </div>
                <div>
                    <select name="from_region" data-district="{$info.hometown_region}"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-form-group">
        <label class="uk-form-label">年龄</label>
        <div class="uk-form-controls">
            <input type="text" name="age" class="uk-form-field" value="{$userInfo.age}" placeholder="年龄"/>
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">婚否</label>
        <div class="uk-form-controls">
            <select name="marry" class="uk-form-field">
                <option value="0" <!--if{$userInfo.marry==0}-->selected="selected"<!--{/if}--> >未婚</option>
                <option value="1" <!--if{$userInfo.marry==1}-->selected="selected"<!--{/if}--> >已婚</option>
            </select>
        </div>
    </div>
    <div class="uk-form-group">
        <label class="uk-form-label">爱好</label>
        <div class="uk-form-controls">
            <input type="text" name="hobby" class="uk-form-field" value="{$userInfo.hobby}" placeholder="爱好"/>
            </select>
        </div>

    </div>

    <div class="uk-form-group">
        <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-primary">保存资料</button>
        </div>
    </div>


</form>
</div>