<div class="bjui-pageContent">
    <form action="__SELF__" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="catid" value="{$catid}">
        <input type="hidden" name="info[type]" value="1">
        <div style="margin:15px auto 0; width:450px;">
            <fieldset>
                <legend>栏目设置</legend>
                <!-- Tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab_setting_1" role="tab" data-toggle="tab">基本选项</a></li>
                    <li><a href="#tab_setting_2" role="tab" data-toggle="tab">模版设置</a></li>
                    <li><a href="#tab_setting_3" role="tab" data-toggle="tab">SEO设置</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_setting_1">
                        <table class="table table-condensed table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label x85">{:L('parent_category')}：</label>
                                        <?php echo \Lain\Phpcms\form::select_category('', $parentid , 'data-toggle="selectpicker" name="info[parentid]"',L('please_select_parent_category')); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="c_catname" class="control-label x85">{:L('catname')}：</label>
                                        <input type="text" id="c_catname" name="info[catname]" value="{$Detail.catname}" data-rule="required" size="15" class="required">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="c_catname" class="control-label x85">{:L('catdir')}：</label>
                                        <input type="text" id="c_catdir" name="info[catdir]" value="{$Detail.catdir}" data-rule="required" size="15" class="required">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="c_listorder" class="control-label x85">排序值：</label>
                                        <input type="text" name="info[listorder]" id="c_listorder" value="{$Detail.listorder}" size="15">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="c_listorder" class="control-label x105"><?php echo L('ismenu');?>：</label>
                                        <input type='radio' data-toggle="icheck" id="j_form_ismenu1" name='info[ismenu]' value='1' <?php if(isset($Detail) && $Detail['ismenu']) echo 'checked';?> data-label="<?php echo L('yes');?>">
                                        <input type='radio' data-toggle="icheck" id="j_form_ismenu0" name='info[ismenu]' value='0' <?php if(!isset($Detail) || !$Detail['ismenu']) echo 'checked';?> data-label="<?php echo L('no');?>">
                                        
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab_setting_2">
                        <table class="table table-condensed table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td><label for="t_category_template" class="control-label x110">可用风格：</label> 
                                        <!-- <input type="text" id="t_category_template" name="setting[template_list]" value="{$setting.template_list}" size="15"> -->
                                        <?php echo \Lain\Phpcms\form::select($template_list, $setting['template_list'], 'data-toggle="selectpicker" name="setting[template_list]" id="template_list" onchange="load_file_list(this.value)"', L('please_select'))?> 
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="t_list_template" class="control-label x110">单网页模板：</label> <input type="text" id="t_list_template" name="setting[page_template]" value="{$setting.page_template}" size="15"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab_setting_3">
                        <table class="table table-condensed table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td><label for="t_meta_title" class="control-label x110">栏目标题：</label> <input type="text" id="t_meta_title" name="setting[meta_title]" value="{$setting.meta_title}" size="15"></td>
                                </tr>
                                <tr>
                                    <td><label for="t_meta_keywords" class="control-label x110">栏目关键词：</label> <input type="text" id="t_meta_keywords" name="setting[meta_keywords]" value="{$setting.meta_keywords}" size="15"></td>
                                </tr>
                                <tr>
                                    <td><label for="t_meta_description" class="control-label x110">栏目描述：</label> <input type="text" id="t_meta_description" name="setting[meta_description]" value="{$setting.meta_description}" size="15"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>

<script type="text/javascript">
    function load_file_list(id) {
        if(id=='') return false;
        $.getJSON('/admin.php?m=Admin&c=Article&a=ajax_public_tpl_file_list&style='+id+'&catid=<?php echo $catid?>&type=1', function(data){$('#page_template').html(data.page_template);});
    }
</script>