<div class="bjui-pageHeader">
    <a href="{:U('Article/categoryAdd', ['type' => 0])}" class="btn btn-green" data-custom="priv" data-action="article/categoryadd" data-toggle="dialog" data-width="520" data-height="320" data-id="dialog-mask" data-mask="true">{:L('add_category')}</a>
    <a href="{:U('Article/categoryAdd', ['type' => 1])}" class="btn btn-green" data-custom="priv" data-action="article/categoryadd" data-toggle="dialog" data-width="520" data-height="320" data-id="dialog-mask" data-mask="true">{:L('add_page')}</a>
    <a data-custom="priv" data-action="article/categorycache" href="{:U('Article/categoryCache')}" class="btn btn-green" data-toggle="doajax">{:L('category_cache')}</a>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="100">ID</th>
                <th>{:L('catname')}</th>
                <th width="100">{:L('category_type')}</th>
                <th width="100">{:L('model_name')}</th>
                <th width="50">{:L('items')}</th>
                <th width="100">{:L('sort')}</th>
                <th width="200" align="center">{:L('operations_manage')}</th>
            </tr>
        </thead>
        <tbody>
            {$categoryList}
        </tbody>
    </table>
</div>
