<div class="bjui-pageHeader">
    <a href="{:U('Article/positionAdd')}" class="btn btn-green" data-toggle="dialog" data-width="520" data-height="320" data-id="dialog-mask" data-mask="true">{:L('add_position')}</a>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="100">id</th>
                <th width=""  align="left"><?php echo L('title');?></th>
                <th width="15%"><?php echo L('catname');?></th>
                <th width="15%"><?php echo L('inputtime')?></th>
                <th width="230">
                    <?php echo L('operations_manage');?>
                </th>
            </tr>
        </thead>
        <tbody>
            <foreach name="page_list" item="item">
                <tr data-id="{$item.id}">
                    <td>{$item.id}</td>
                    <td>{$item.title}</td>
                    <td><?php echo $category[$item['catid']]['catname']?></td>
                    <td><?php echo date('Y-m-d', $item['inputtime'])?></td>
                    <td align="center">
                        <a href="{:U('Article/edit',['catid' => $item['catid'], 'id' => $item['id']])}" data-toggle="dialog" data-width="1050" data-height="625" data-id="article_edit" data-title="编辑-{$item.title}"><span>{:L('posid_item_edit')}</span></a> | 
                        <a href="{:U('Article/positionItemEdit', ['posid' => $item['posid'], 'modelid' => $item['modelid'], 'id' => $item['id']])}" data-toggle="dialog" data-width="700" data-height="700" data-id="Article_positionItemEdit">{:L('posid_item_manage')}</a>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
</div>