#sidebar.nav.nav-pills.nav-stacked {
	position: absolute;
	width: 50px;
}

#left_layout #sidebar.nav.nav-pills.nav-stacked {
	left: 0;
	top: 64px;
}

#sidebar.nav-pills>li>a, .widget .nav-pills.nav-stacked>li>a {
	height: 50px;
	padding: 0 0 4px 0;
	margin: 0;
	text-align: center;
	font-size: 11px;
	background: #666;
	color: #a4a4a4;
	border-bottom: 1px solid #555;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	*height: auto;
}

#sidebar.nav-pills>li>a:hover, .widget .nav-pills.nav-stacked>li>a:hover
	{
	color: #fefefe;
}

#sidebar.nav-pills>li.avatar>a {
	color: #ffffff;
	background-color: #bd362f;
	border-top-color: #fcb6b4;
	border-bottom-color: #802420;
	height: 85px;
}

#sidebar.nav-pills>li.avatar>a  img {
	width: 48px;
	height: 48px;
	margin-top: 10px;
}

#sidebar.nav-pills>li.avatar>a span {
	display: block;
	text-align: center;
	color: #fcb6b4;
	text-shadow: none;
	margin-top: 10px;
}

#sidebar.nav-pills>li>a [class^="micon-"], #sidebar.nav-pills>li>a [class^="icon-"]
	{
	padding: 8px 0 3px 0;
	font-size: 25px;
	display: block;
}

#sidebar.nav-pills>li:last-child, .widget .nav-pills.nav-stacked>li:last-child
	{
	border-bottom: 1px solid #5C5C5C;
}

#sidebar.nav-pills>.active>a, #sidebar.nav-pills>.active>a:hover {
	background: #444;
	color: #f4f4f4;
}

#sidebar.nav-pills .open .dropdown-toggle, #sidebar.nav-pills>li.dropdown.open.active>a:hover
	{
	color: #fefefe;
	background-color: #303030;
	background-image: none;
	border-color: #303030;
}

#sidebar.nav-pills .dropdown .dropdown-menu {
	top: -2px;
	left: 75px;
	background-color: #303030;
	border-color: #303030;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#sidebar.nav-pills .dropdown .dropdown-menu li {
	margin-left: 5px;
	margin-right: 5px;
}

#sidebar.nav-pills .dropdown .dropdown-menu li>a {
	color: #fefefe;
	line-height: 25px;
}

#sidebar.nav-pills .dropdown .dropdown-menu li>a  [class^="micon-"],
	#sidebar.nav-pills .dropdown .dropdown-menu li>a  [class^="icon-"] {
	margin: 3px 10px 0 -10px;
}

#sidebar.nav-pills .dropdown .dropdown-menu li>a:hover {
	background-color: #5C5C5C;
	background-image: none;
}

#sidebar .dropdown-menu .divider {
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

#sidebar li a .micon {
	margin-top: 8px;
}

#sidebar li a span {
	display: block;
	*padding-top: 4px;
	font-size: 12px;
}