<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>DuxCms安装向导</title>
    <link rel="stylesheet" href="__PUBLIC__/common/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/install/css/style.css">
    <script src="__PUBLIC__/public/js/jquery.js"></script>
    <script src="__PUBLIC__/public/common/js/pintuer.js"></script>
    <script src="__PUBLIC__/public/common/js/respond.js"></script>
    <script src="__PUBLIC__/install/js/install.js"></script>
</head>

<body>
    <div class="container">
        <div class="ins-head">
            <h1>DuxCms 安装程序</h1>
        </div>
        <div class="panel ins-panel">
            <div class="ins-step">
                <div class="step">
                    <div class="step-bar active" style="width:25%;"><span class="step-point">1</span><span class="step-text">阅读用户协议</span></span>
                    </div>
                    <div class="step-bar" style="width:25%;"><span class="step-point">2</span><span class="step-text">检查安装环境</span>
                    </div>
                    <div class="step-bar" style="width:25%;"><span class="step-point">3</span><span class="step-text">配置程序信息</span>
                    </div>
                    <div class="step-bar" style="width:25%;"><span class="step-point">4</span><span class="step-text">完成安装操作</span>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <p>版权完全遵循<a href="http://baike.baidu.com/subview/74918/8382747.htm#viewPageContent" target="_blank">MIT开源协议</a>，以下为基于 DuxCms 的补充协议。</p>
                <p>为了保证您和他人的利益请遵循以下几条使用规则：</p>
                <p>1、您可以在完全遵循本协议的情况下，将 DuxCms 用于商业用途，而不必支付使用费用，但我们也不承诺会对非赞助用户提供任何形式的技术支持；</p>
                <p>2、使用 DuxCms 您可以不用在明显页面保留程序版权信息，但程序最终版权仍归原作者所有，为了程序能持续发展建议您在网站底部注明：powered by duxcms，另外我们可能不会对未保留版权信息的用户提供任何无偿的技术支持；</p>
                <p>3、非授权用户后台版权与程序内版权信息不可以去除，这是我们唯一可以保护自己权益的地方；</p>
                <p>4、您可以免费使用 DuxCms ，修改源代码或界面风格以适应您的实际要求，但是禁止对软件进行改名发布，禁止以任何形式对 DuxCms 形成竞争；</p>
                <p>5、您可以对 DuxCms 进行二次开发，但禁止重新分发任何在 DuxCms 的整体或任何部分基础上发展的派生版本、修改版本或第三方版本，可以自己分配使用版权请参考第四条；</p>
                <p>6、如果您在您的程序如引用DUXCMS的功能或者设计，请在明显的地方如官网等地方加入本设计或功能采用 DuxCms ；</p>
                <p>7、自您开始使用 DuxCms 时本协议已自动生效；</p>
                <p>8、如果您未能遵守本协议的条款3、条款4、条款5、条款6，您的免费使用授权将被终止，并将依法承担相应法律责任。</p>
            </div>
            <div class="panel-foot">
                <div class="line-middle">
                    <div class="xm6"><a class="button bg-main button-block text-center" href="javascript:;" onclick="no()">不同意</a>
                    </div>
                    <div class="xm6"><a class="button bg-sub button-block text-center" href="{url('setup1')}" class="submit">同意</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>