#m #setmod{ margin-left:500px;}
#header,#content,#banner,#footer{width: 1012px;}
.grid .col-sub{width:282px;padding-left:10px;}
.grid .main-wrap {margin-left: 300px;margin-right:10px;}

.grid2 .main-wrap{margin-right:292px;margin-left:15px;}
.grid2 .col-sub{width:282px;margin-left:-292px;}

.grid3 .main-wrap { margin: 0 258px 0 300px; }
.grid3 .col-sub { width: 282px; margin-left: -100%;padding-left:10px;}
.grid3 .col-extra { width: 240px; margin-left: -250px;}
/*body*/
body{color:#555;background:url("images/bg.jpg");}
.tbbd{background:url("images/bg.jpg");}

#header{background:url("images/headerbg.png") repeat-x;padding-top:25px;}
.hwrap{background:url("images/wrap.jpg") repeat-x;padding-bottom:20px;}
.contentbg{background:url("images/contentbg.jpg") repeat-x;}
.bwrap span.xtop{background:url("images/bwrap.png") no-repeat top center;height:16px;}
.bwrap span.xbottom{background:url("images/bxbottom.png") no-repeat bottom center;height:16px;}
#banner{background:url("images/bannerbg.png") repeat-y 0 bottom;}

.singPic,.slider{border:10px #ecedf1 solid;width:950px;margin:0px auto;}
.col-main{}
.main-wrap{border-left:1px #fff solid;}
.fwrap{background:#1f1f1f url("images/fwrapbg.png") repeat-x 0 top;margin-top:10px;}

.col-sub{background:url("images/colsubbottom.png") no-repeat 16px bottom;margin-bottom:10px;}
.col-sub .bg{background:url("images/colsubtop.png") no-repeat 6px top;padding-top:55px;}
.col-sub .bg .sinner{width:240px;background:url("images/colsubbg.png") repeat-y 6px 0;padding:0px 16px 0px 22px;margin-bottom:8px;}
.content .layout{background:url("images/conbg.png") repeat-y;}
.content{background:url("images/cxbottom.png") no-repeat bottom;padding-bottom:63px;}

a:link,a:visited{color:#555;}
a:hover,a:focus{color:#ad2320;}

input,textarea{border:1px #e0e0e0 solid;}
.job_con table,.guest table{border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td{background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th{background:#eee;border-bottom: 1px solid #e0e0e0;}
/*header*/
#header h1,#header p{float:left;}
#header h1{margin-top:10px;}
#header p {margin-left:20px;line-height:95px;height:115px;color: #fff;}

.menu{margin-top:60px;}
.menu a{color:#dfbbbe;}
.menu a.topico01{background:url("images/topico01.png") no-repeat 0 4px;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 5px;}
.nav li.first a{width:141px;}

.nav{height:94px;padding-left:6px;width:1012px;overflow:hidden;}

.nav li{margin-right:2px;}
.nav li a{background:url("images/li.png") no-repeat;width:141px;height:94px;text-align:center;font-weight:normal;color:#000;margin:0;}
.nav li a:hover,.nav li a.active,.nav li.active a{background: url("images/lihover.png") no-repeat;color:#fff;font-weight:bold;}

.nav li span.li01{background:url("images/li01.png") no-repeat 1px 11px;}
.nav li span.li02{background:url("images/li02.png") no-repeat 1px 11px;}
.nav li span.li03{background:url("images/li03.png") no-repeat 1px 11px;}
.nav li span.li04{background:url("images/li04.png") no-repeat 1px 11px;}
.nav li span.li05{background:url("images/li05.png") no-repeat 1px 11px;}
.nav li span.li06{background:url("images/li06.png") no-repeat 1px 11px;}
.nav li span.li07{background:url("images/li07.png") no-repeat 1px 11px;}
.nav li span{padding-top:58px;}
.nav a.active,.nav li.active a.active{font-weight:bold;}
.navbar li ul {left:-9999em;}

/*content*/
.mbox{margin-bottom:10px;}

.col-sub .mhd{margin:0 10px;}
.col-extra .mhd,.col-main .mhd{margin-right:10px;position:relative;}
.mhd{color:#ba0006;border-bottom:1px #bdbec1 solid;}
.col-main .mhd h3{width:auto;border-bottom:1px #ba0006 solid;padding-left:20px;position:absolute;bottom:-1px;}
.col-extra .mhd h3{border-bottom:1px #e79527 solid;position:absolute;bottom:-1px;}

.col-main .mhd h3,.col-extra .mhd h3{background:url("images/sico02.png") no-repeat 7px center;padding-left:30px;}
#contact .col-main .mhd{margin:0 20px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:20px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.mbd{padding-left:20px;padding-right:20px;}
.col-main .mbd{padding-left:10px;padding-right:25px;}
.prodt_con .mbd,#contact .mbd{padding-left:22px;}

/*feedback*/
.feedback a{background:url("images/feedback.png") no-repeat;width:240px;padding-bottom:8px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #cccccc dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#f9f9f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #f5d6bc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#ad2320;}
.down_list .mbd li h2{border-bottom:1px #f5d6bc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd li {line-height:28px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#ba0006;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #f5d6bc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
.col-main .prodt .mbd,.col-main .plinks .mbd{padding-left:0;padding-right:0;}
.prodt .mbd li {margin: 20px 34px 0 12px;}
.plinks .mbd li {margin: 15px 9px 0 9px;}
.prodt_list .mbd li {margin: 26px 20px 0 18px;}
.quaon_pic .mbd li{margin:26px 25px 0px 19px;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.pic_list img{border:1px #eee solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}

.contact_con dt{color:#67330c;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}

/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#fff;}
#footer {color: #a8997c;padding-bottom:10px;}
#footer p{padding-top: 16px;}
#footer a:link, #footer a:visited {color: #fff;}
#footer a:hover {color: #c70906;}
#footer .support a:link, #footer .support a:visited{color: #a8997c;}
