body{
	background:#1A5B8A;
}
.MainContainer{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y: auto;
	margin:auto;
	color:#FFF;
}
.MainContainer dl dt,.MainContainer dl dd{
	border-bottom:#03395F solid 1px;
	position:relative;
}
.MainContainer dl dt:after,.MainContainer dl dd:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	background:#2578B5;
	position:absolute;
	left:0;
	bottom:-2px;
}
.MainContainer dl dt{
	height:40px;
	line-height:40px;	
	/*background:url(tag.png) 30px 12px no-repeat;*/
}
.MainContainer dl dt span{
	display:block;
	height:40px;
	overflow:hidden;
	padding:0 30px 0 0;
	margin:0 30px;
	font-size:16px;
	background:url(more1.png) right 16px no-repeat;
}
.MainContainer dl dt span i{
	display: inline-block;
	padding-right: 10px;
}
.MainContainer dl dd{
	padding:10px 15px 10px 20px;	
}
.MainContainer dl.hideSon dd{
	display:none;
}
.MainContainer dl dd li a{
	display:block;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#B8E1FB;
	padding:0 10px;
	overflow:hidden;
	position:relative;
}
.MainContainer dl dd li a:hover{
	background:#1D669B;
	border-radius:3px;
}
.MainContainer dl.base dd,.MainContainer dl.info dd{
	padding:8px 15px 8px 20px;
}
/*.MainContainer dl.base dt{
	background:url(tagbase.png) 30px 12px no-repeat;
}
.MainContainer dl.info dt{
	background:url(taginfo.png) 30px 12px no-repeat;
}*/
.MainContainer dl.base dt span{
	background:none;
}
.MainContainer dl.hideSon dt span{
	background:url(more0.png) right 16px no-repeat;
}
.MainContainer dl.base dd li span,.MainContainer dl.info dd li span{
	display:inline-block;
	line-height:20px;
	font-size:14px;
	padding-left:10px;
}
.MainContainer dl.base dd li a,.MainContainer dl.info dd li a{
	display:inline-block;
	line-height:20px;
	height:20px;
}
.MainContainer dl.base dd li span.AllShow{
	padding-left:25px;
	background:url(more1.png) 10px 9px no-repeat;
	background-size:10px 6px;
	cursor:pointer;
}
.MainContainer dl.base dd li span.AllHide{
	padding-left:25px;
	background:url(more0.png) 10px 9px no-repeat;
	background-size:10px 6px;
	cursor:pointer;
}
.ListInfo div{
	padding: 2px 0;
	line-height: 20px;
	padding-left: 5px;
}
.ListInfo div a{
	color:#B8E1FB;
}
