body{
	background:#F0F0F0;
}
.WelCome{
	height:42px;
	line-height:42px;
	overflow:hidden;
	padding-left:20px;
	color:#42BB05;
	font-size:18px;
	background:#FFF;
}
.statisticsInfo{
	background:#079BEE;
	padding:10px;
}
.statisticsInfo ul:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.statisticsInfo ul li{
	width:25%;
	height:60px;
	line-height:60px;
	text-align:center;
	position:relative;
	float:left;	
	font-size:18px;
	color:#FFF;
}
.statisticsInfo ul li span{
	color:#FC0;
}
.statisticsInfo ul li:before,.statisticsInfo ul li:after{
	content:'';
	display:block;
	height:60px;
	width:1px;
	position:absolute;
	top:0;
}
.statisticsInfo ul li.first{
	overflow:hidden;	
}
.statisticsInfo ul li:before{
	left:-2px;
	background:#088FDC;
}
.statisticsInfo ul li:after{
	left:-1px;
	background:#2DAAF1;
}
.OperationDeclaration{
	background:#FFF;
	padding-top:10px;
}
.OperationDeclaration h3{
	height:40px;
	line-height:40px;
	border-bottom:#CCC solid 1px;
	padding-left:20px;
	position:relative;
	color:#FF8C58;
	font-size:16px;
}
.OperationDeclaration h3:before{
	content:'';
	display:block;
	width:2px;
	height:16px;
	background:#E60;
	position:absolute;
	left:10px;
	top:13px;
}
.OperationDeclaration ul{
	padding:15px 15px 15px 25px;
}
.OperationDeclaration ul li{
	padding:5px;
	line-height:25px;
	font-size:14px;
	color:#666;
}
.OtherContent{
	background:#FFF;
	margin-top:15px;
	padding-bottom:15px;
}
.OtherContent h3{
	height:45px;
	line-height:45px;
	border-bottom:#CCC solid 1px;
	padding-left:50px;
	font-size:18px;
	color:#666;
	font-weight:normal;
}
.OtherContent h3.sever{
	background:url(tagsever.png) 10px 10px no-repeat;
}
.OtherContent ul li{
	border-bottom:#DDD dotted 1px;
	line-height:25px;
	overflow:hidden;
	padding:5px 10px 5px 30px;
	font-size:14px;
}
.OtherContent ul li:hover{
	background:#EFEFEF;
}
.OtherContent ul li dl{
	display:table;
	width:100%;
}
.OtherContent ul li dl dt,.OtherContent ul li dl dd{
	display:table-cell;
	width:50%;
	vertical-align:middle;
}
.OtherContent h3.team{
	background:url(tagteam.png) left top no-repeat;
}
.OfficialNotice{
	height:1px;
	overflow:hidden;
	clear:both;
	margin-top:15px;
}