#header,#content,#banner,#footer{width: 950px;}
/*body*/
body{color:#555;background:url("images/bg.gif");}
.tbbd{background:url("images/bg.gif");}
.hwrap{background:#321c11 url("images/navbg.png") repeat-x bottom;padding-bottom:10px;}
.content{ background:url(images/contentbg.png) center center repeat-y;}
.content .xtop{ background:url(images/xtop.png) center top no-repeat; height:15px;}
.content .xbottom{ background:url(images/xbottom.png) center top no-repeat; height:15px;}
#index .content{ background:url(images/icontentbg.png) center center repeat-y;}
#index .content .xtop{ background:url(images/ixtop.png) center top no-repeat; height:15px;}
#index .content .xbottom{ background:url(images/ixbottom.png) center top no-repeat; height:15px;}
#contact .content{ background:#fff;}
#contact .content .xtop{ background:none;height:0px;}
#contact .content .xbottom{ background:none; height:0px;}
#index .grid .main-wrap{margin-left:10px;margin-right:270px;}
#index .grid .col-sub{margin-top:15px;margin-left:-260px;}

.fwrap{background:#321c11 url("images/fwrapbg.png") repeat-x 0 2px;margin-top:10px;}
#banner{background:url("images/bannerbg.png") repeat-x 0 bottom;padding-bottom:10px;}
.slidernav {_bottom:18px;}
a:link,a:visited{color:#555;}
a:hover,a:focus{color:#f10000;}
.col-sub,.col-sub a:link,.col-sub a:visited,.col-sub .mhd span a:link,.col-sub .mhd span a:visited{color:#f5d6bc;}
.col-main .mhd,.col-main .mhd a:link,.col-main .mhd a:visited,.col-extra .mhd{color:#de741e;}


input,textarea{border:1px #edc3bb solid;}
.job_con table,.guest table{border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.job_con td,.guest td{background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.job_con th,.guest th{background:#eee;border-bottom: 1px solid #e0e0e0;}
/*header*/
#header h1,#header p{float:left;}
#header h1{margin-top:5px;}
#header p {margin-left:20px;height:80px;line-height:80px;color: #e99729;}
.menu{margin-top:38px;}
.menu a{color:#986b41;}
.menu a.topico02{color:#986b41;background:url("images/topico02.png") no-repeat 0 5px;}

.nav{height:44px;overflow:hidden;}
.nav ul{background:url("images/li.png") no-repeat right 5px;}
.nav li a{width:135px;background:url("images/li.png") no-repeat 0 5px;}
.nav li span{padding-top:11px;padding-bottom:15px;}
.navlist ul{top:44px;background:#f5f0d2;}
.navlist ul li{background:url("images/navlilibg.png") no-repeat 22px 11px;line-height:31px;height:31px;border-bottom:1px #c4c0a8 solid;width:135px;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat;font-weight:bold;}
.nav li.active li a{background:none;font-weight:normal;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff;}
.nav a:hover,
.nav a.active{color:#fff;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#333;}
.nav li.active a{color:#fff;}
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#de741e;background:none;}

/*content*/
.mbox{margin-top:10px;}

.col-sub .mhd{margin:0 10px;}
.col-extra .mhd,.col-main .mhd{margin-right:10px;line-height:38px;height:38px;border-bottom:1px #e79527 solid;}
.col-sub .mhd h3{color:#fff;padding-left:30px;border-bottom:1px #efba8f solid;}

.col-sub .mhd h3{background:url("images/sico01.png") no-repeat 0 center;}
.col-main .mhd h3,.col-extra .mhd h3{background:url("images/sico02.png") no-repeat 0 center;padding-left:30px;}
#contact .col-main .mhd{margin:0 20px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 0 center;}
.n_ico .mhd h3{padding-left:20px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat;}
.mbd{padding-left:20px;padding-right:20px;}
.col-main .mbd{padding-left:10px;}
.col-main .prodt_con .mbd{padding-left:13px;}
.prodt .mbd li {margin: 26px 15px 10px 17px;}
.prodt_list .mbd li{margin: 26px 18px 0 16px;}
/*feedback*/
.feedback a{background:url("images/feedback.png") no-repeat;width:240px;margin-top:10px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #f5d6bc dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#f9f9f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #f5d6bc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#fff;}
.down_list .mbd li h2{border-bottom:1px #f5d6bc dashed;background:url("images/cate_list_ico.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd li {line-height:28px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:#e79527;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 22px center;border-bottom:1px #f5d6bc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
.plinks .mbd li {margin: 20px 10px 20px 2px;}
.news .mbd{padding-top:10px;}
.quaon_pic .mbd li{margin:26px 24px 0px 15px;}

/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#f60;color:#fff;border:1px #ddd solid;}
.pic_list img{border:1px #eee solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}

.contact_con dt{color:#67330c;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}

/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#986b41;}
#footer {color: #986b41;padding-bottom:10px;}
#footer p{padding-top: 16px;}
#footer a:link, #footer a:visited {color: #e99729;}
#footer a:hover {color: #c70906;}
#footer .support a:link, #footer .support a:visited{color: #986b41;}
