<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cappay</name>
            <displayName><![CDATA[首信易支付]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[首信易支付作为具有国家资质认证、政府投资背景的中立第三方网上支付平台拥有雄厚的实力和卓越的信誉。同时，它也是国内唯一首家通过 ISO 9001：2000质量管理体系认证的支付平台。规范的流程及优异的服务品质为首信易支付于2005 和2006年连续两年赢得&ldquo;电子支付用户信任奖&rdquo;和2006年度&ldquo;B2B支付创新奖&rdquo;殊荣奠定了坚实的基础]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>