
body{
    font-family: "微软雅黑";
/*    background-color: #eff2f9;*/
}

.head{
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    color: #fff;
    background-color: #3d4965;
}
.head .logo{
    width: 190px;
}
.head .nav a{
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    min-width: 60px;
    text-align: center;
    margin-right: 1px;
    display: inline-block;
}
.head .nav a.current,
.head .nav a:hover{
    background-color: #656f95;
}
.head .user a{
    color: #fff;
}

.main .nav-left{
    min-height: 500px;
    width: 190px;
    height: 100%;
    font-size: 14px;
    background-color: #fff;
    border-right: 1px solid #E2E9EE;
}
.main .nav-left h2{
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding: 0 30px;
    color: #656f95;
    font-weight: normal;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}
.main .nav-left li{
margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.main .nav-left li a{
    display:block;
    padding: 0 30px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 1px;
}
.main .nav-left li dt a{
    margin-left: -20px;
    color: #9ea9c0;
}
.main .nav-left li dt i{
    margin-right: 5px;
}
.main .nav-left li dd a{
    color: #333;
}
.main .nav-left li dd a.current,
.main .nav-left li dd a:hover{
    background-color: #3d4965;
    color: #fff;
}


.main {
margin-top:10px;
}
.main .main-box{
    margin-left: 200px;
}
.main .main-info{
background-color: #FFF7EB;
    border: 1px solid #FFC590;
    padding: 8px;
    margin-bottom: 10px;
    color: #b78155;
}
.main .main-tit{
border-left:5px solid #3d4965;
    padding-left: 15px;
    line-height: 25px;
    background-color: #fff;
    margin-bottom: 10px;
}
.main .main-tit a{
    color: #1e3487;
}
.main .main-tab{
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 10px;
}
.main .main-tab a{
    color: #333;
    display: inline-block;
    padding: 0 15px;
height:30px;
    line-height: 30px;
    background-color: #f2f2f2;
    border:1px solid #c8c8c8;
    border-bottom:1px solid #a0a0a0;
    margin-bottom: -1px;
    margin-right: 2px;
}
.main .main-tab a:hover{
    color: #3d4965;
    font-weight: bold;
}
.main .main-tab a.current{
    background-color: #fff;
    font-weight: bold;
    border-top:2px solid #3d4965;
    border-bottom:1px solid #fff;
}
.main .main-search{
    background-color: #f7f7f7;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.main .main-list{
margin-bottom: 20px;
}
.main .main-list tr:first-child{
height: 15px;
    line-height: 15px;
    padding: 8px 0;
    background-color: #fafafa;
border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.main .main-list tr{
    padding: 8px 0;
    line-height: 30px;
    border-bottom: 1px dotted #e2e2e2;
}
.main .main-page{
    text-align: right;
}
.main .main-page a{
    display: inline-block;
    line-height: 25px;
    padding: 0 10px;
    color: gray;
    border: 1px solid #dcdcdc;
    margin-right: 5px;
}
.main .main-page .current{
    display: inline-block;
    line-height: 25px;
    padding: 0 10px;
    color: #fff;
    background: #3d4965;
    border: 1px solid #3d4965;
    margin-right: 5px;
}
.main .main-form{
    padding-top:20px;
    border:1px solid #c8c8c8;
    border-top:none;
    margin-top: -10px;
}
.main .main-form .red{
    font-size: 16px;
}
.main .main-form th{
    width: 160px;
    text-align: right;
    padding-right: 20px;
}
.main .main-form input[type="text"]{
    min-width: 200px;
}