@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:53:45
// @modified         2017-11-30 14:53:47
//

#extension-list {
  color: #4b525d;

  h2 {
    margin-top: 54px;
    margin-bottom: 44px;
  }

  section {
    border: 1px solid #ddd;

    & > div {
      position: relative;

      & + div {
        border-top: 1px solid #ddd;
        padding: 10px;
      }
    }

    &:hover {
      border: 1px solid #1b80c2;
    }
  }

  & > .row {
    margin-top: 40px;

    & > * {
      margin-bottom: 30px;
    }
  }

  i {
    color: #10b4e9;
  }

  span {
    font-weight: 600;
  }

  .extension-preview {
    min-height: 150px;

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      min-height: 123px;
    }

    img {
      margin: 0 auto;
    }

    .extension-description {
      position: absolute;
      background-color: rgba(36, 45, 55, 0.9);
      color: #fff;
      padding: 10px;
      font-size: 14px;
      line-height: 16px;
      opacity: 0;
      height: 100%;
      width: 100%;

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 12.5px;
        padding: 6px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .extension-name {
    min-height: 105px;

    p {
      color: #000;
      margin-bottom: 0;
      font-weight: 600;

      &:first-child {
        font-size: 17px;
      }

      span {
        color: #4b525d;
        font-weight: 400;
      }
    }

    h4 a, p a {
      color: #000;
    }

    & + div > .row {
      margin-top: 0;

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 14px;
      }
    }
  }
}
