@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:54:47
// @modified         2017-11-30 14:57:24
//

fieldset {
  margin-bottom: 10px;

  legend {
    padding-bottom: 5px;
  }
}

.form-control {
  &:hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
}

.form-group {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;

  & + .form-group {
    border-top: 1px solid #ededed;
  }
}

div.required .control-label:not(span):before, td.required:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
  margin: 2px 0 0;
}

.radio, .checkbox {
  min-height: 18px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"],
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  width: 13px;
  width: 16px \0;
  height: 13px;
  height: 16px \0;
  -webkit-appearance: none;
  background: white;
  border: 1px solid #dcdcdc;
  border: 1px solid transparent \0;
  border-radius: 1px;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus,
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  border-color: #4d90fe;
  outline: 0;
}

input[type="radio"]:active,
.radio input[type="radio"]:active,
.radio-inline input[type="radio"]:active,
input[type="checkbox"]:active,
.checkbox input[type="checkbox"]:active,
.checkbox-inline input[type="checkbox"]:active {
  background-color: #ebebeb;
  border-color: #c6c6c6;
}

input[type="radio"]:checked,
.radio input[type="radio"]:checked,
.radio-inline input[type="radio"]:checked,
input[type="checkbox"]:checked,
.checkbox input[type="checkbox"]:checked,
.checkbox-inline input[type="checkbox"]:checked {
  background: #fff;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  width: 15px;
  width: 18px \0;
  height: 15px;
  height: 18px \0;
  border-radius: 1em;
}

input[type="radio"]:checked::after,
.radio input[type="radio"]:checked::after,
.radio-inline input[type="radio"]:checked::after {
  position: relative;
  top: 3px;
  left: 3px;
  display: block;
  width: 7px;
  height: 7px;
  content: '';
  background: #666;
  border-radius: 1em;
}

input[type="checkbox"]:hover,
.checkbox input[type="checkbox"]:hover,
.checkbox-inline input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: none \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: none \9;
}

input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after,
.checkbox-inline input[type="checkbox"]:checked::after {
  position: absolute;
  top: -6px;
  left: -5px;
  display: block;
  content: url('../image/checkmark.png');
}
