@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:47:26
// @modified         2017-12-08 16:31:40
//

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, '微软雅黑', sans-serif;
  color: #545454;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a:hover, a:focus {
  text-decoration: none;
}

#content {
  padding-bottom: 40px;
}

.page-header {
  vertical-align: middle;
  margin: 20px 0 15px 0;
  padding: 0;
  border-bottom: 1px solid #e9e9e9;

  h1 {
    font-family: Arial, '微软雅黑', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #4c4d5a;
    display: inline-block;
    margin-bottom: 15px;
    text-shadow: 0 1px #fff;
  }
}

#button-menu {
  line-height: 60px;
  font-size: 16px;
  float: left;
  padding: 0 16px;
  display: inline-block;
  cursor: pointer;
  color: #6d6d6d;
  border-right: 1px solid #eee;

  @media (max-width: 768px) {
    line-height: 45px;
  }
}

#navigation {
  text-transform: uppercase;
  padding: 15px 15px 15px 15px;
  color: #ffffff;
  background: #19222e;
  display: block;
}

// footer
#footer {
  height: 100px;
  text-align: center;
}

.btn-group {
  white-space: nowrap;
}

.pagination {
  margin: 0;
}

.img-thumbnail {
  i {
    color: #ffffff;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    vertical-align: middle;
    display: inline-block;
  }

  &.list {
    i {
      width: 40px;
      height: 40px;
      padding-top: 10px;
    }
  }
}

.jqvmap-label {
  z-index: 999;
}

.alert {
  overflow: visible;
}

// Fix form-group margin inside the modal
.modal-body .form-group {
  margin: 0;
}

// Fixed Sumernote Button Height
.note-toolbar.panel-heading i, .note-toolbar.panel-heading .note-icon-caret {
  font-size: 14px;
}

// Filemanager Folder Size
#filemanager .fa-folder.fa-5x {
  font-size: 10.5em;
}

#collapse-version {
  p {
    margin-bottom: 10px;
  }

  ol {
    margin-bottom: 5px;
    margin-left: -10px;

    li {
      line-height: 2;
    }
  }
}

#collapse-version .form-control[readonly],
#collapse-upgrade .form-control[readonly] {
  background-color: #fff;
}

.list-check {
  list-style: none;

  li::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin-left: -30px;
    width: 29px;
    display: inline-block;
    color: #7ebd38;
  }

  &.list-color-blue li::before {
    color: #02afe9;
  }
}

.well.filter {
  background-color: #ffffff;
}

@font-face {
  font-family: 'opencart';
  src: url('fonts/opencart.eot?h4wsna');
  src: url('fonts/opencart.eot?h4wsna#iefix') format('embedded-opentype'), url('fonts/opencart.ttf?h4wsna') format('truetype'), url('fonts/opencart.woff?h4wsna') format('woff'), url('fonts/opencart.svg?h4wsna#opencart') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="opencart-icon-"], [class*=" opencart-icon-"] {
  font-family: 'opencart' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // Better Font Rendering ===========
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opencart-icon-comment:before {
  content: "\e91b";
}

.opencart-icon-cart-mini:before {
  content: "\e91c";
}

.help-wrapper {
  padding-left: 30px;
  // padding: 20px 20px 16px;
  background: #f2fcff;
  font-size: 14px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 2px;
  border-left-color: #6667e2;
  margin-bottom: 16px;
  position: relative;
  height: 42px;
  // display: none;
  overflow: hidden;
  transition: all 0.3s ease-out;
  &:hover {
    background: #fff;
  }

  i {
    position: absolute;
    top: 14px;
    color: #6667e2;
    left: 10px;
    transition: all 0.3s ease-out;
  }

  ul {
    margin-left: -37px;

  li {
    display: inline-block;
    line-height: 42px;
    a {
      margin-right: 20px;
    }
    @media (max-width: 1186px) {
      margin-right: 0%;
      font-size: 12px;
    }

      a {
      color: #333;
      transition: all 0.3s ease-out;
      &:hover {
        color: #005ace;
        text-decoration:underline;
        }
      }
    }
  }
}

.footer-message {
  width: 320px;
  padding: 0 20px 10px;
  position: fixed;
  left: 0;
  bottom: -100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  box-shadow: 1px 1px 50px rgba(0,0,0,.3);
  transition: all 0.3s ease-out;
  &.active {
    opacity: 1;
    z-index: 999;
    bottom: 0;
  }

  .title {
    font-size: 16px;
    background: #f2f2f2;
    color: #333;
    margin: 0 -20px 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
  }

  .img {
    margin-bottom: 20px;
  }

  .url {

    a {
      width: 49%;
      padding: 6px 16px;
      border-radius: 2px;
      display: inline-block;
    }

    .btn-primary {
      float: right;
      background: #4748e0;
      border-color: #4748e0;
      &:hover {
        background: #3334B8;
      }
    }
  }
}


.feature-pro-wrapper {
  display: none;

  .list {
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    &:hover {
      border-color: #4748e0;
    }

    .title {
      font-size: 16px;
      margin-bottom: 8px;
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .inner {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.pro-wrapper-img {
  .layui-layer-content {
    padding: 20px;

    img {
      max-width: 300px;
    }
  }
}

#header #header-logo .logo {
  padding: 11px 0 0 0;

  img {
    max-width: 174px;
  }
}