@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:50:30
// @modified         2017-11-30 15:00:26
//

#menu {
  margin-bottom: 25px;
  padding: 0;
  margin: 0;
  list-style: none;

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      cursor: pointer;
      border-bottom: 0px solid #515151;

      &.parent:after {
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        margin-right: 8px;
      }

      &.collapsed:after {
        content: "\f105";
      }
    }
  }

  // 1st lvl
  & > li {
    position: relative;
    border-bottom: 1px solid #2b3642;

    & > a {
      font-size: 14px;
      color: #b3cbdd;
      padding-left: 20px;
      border-bottom: 0px solid #585858;

      &:hover {
        background-color: #1B2127;
      }

      & > i {
        font-size: 16px;
        width: 18px;
        margin-right: 5px;
      }
    }

    &.active {
      & > a {
        color: #0b91d2;
        background-color: #171b21;
      }
    }

    & > ul {
      background-color: #293141;
    }
  }

  // 2nd lvl
  li {
    ul a {
      padding-left: 20px;
    }

    li {
      a {
        color: #7f8a9b;

        &:before {
          content: "\f101";
          font-size: 13px;
          font-family: FontAwesome;
          margin-left: 10px;
          margin-right: 10px;
          transition: margin ease 0.5s;
        }

        &:hover {
          color: #ffffff;
          background-color: #242d37;

          &:before {
            margin-right: 20px;
          }
        }
      }

      &.active > a {
        color: #0b91d2;
        background-color: #242d37;
      }

      ul {
        li ul {
          li ul a {
            padding-left: 80px;
          }

          a {
            padding-left: 60px;
          }
        }

        a {
          padding-left: 40px;
        }
      }
    }
  }
}
