@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:57:41
// @modified         2017-11-30 14:57:45
//

#stats {
  border-radius: 2px;
  color: #808b9c;
  background: #2e3a47;
  margin: 15px 20px;
  padding: 5px 0;

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    font-size: 11px;
    color: #9d9d9d;
    padding: 5px 10px;
    border-bottom: 1px dotted #373737;
  }

   div:first-child {
    margin-bottom: 4px;
  }

  .progress {
    height: 3px;
    margin-bottom: 0;
  }
}
