@charset "UTF-8";

//
// @copyright        2017 opencart.cn - All Rights Reserved
// @link             http://www.guangdawangluo.com
// @author           Sam Chen <sam.chen@opencart.cn>
// @created          2017-11-30 14:51:11
// @modified         2017-11-30 14:51:17
//

.table thead td {
  font-weight: bold;
}

.table thead > tr > td, .table tbody > tr > td {
  vertical-align: middle;
}

.table a.asc:after {
  content: " \f106";
  font-family: FontAwesome;
}

.table a.desc:after {
  content: " \f107";
  font-family: FontAwesome;
}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
  font-family: FontAwesome;
  color: #1E91CF;
  content: "\f059";
  margin-left: 4px;
}
