<!DOCTYPE html>
<html>
#{include file="header.html"}#
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><i class="fa fa-home"></i> 费用收入类型</h5>
          <div class="ibox-tools"> <a href="javascript:void(0);" class="btn btn-xs btn-primary single_operation" data-act="add" data-id="0"><i class="fa fa-plus"></i> 添加</a> <a href="?" class="btn btn-xs btn-danger"><i class="fa fa-refresh"></i>刷新</a> </div>
        </div>
        <div class="ibox-content">
          <div class="treeClassBody">#{$treeHtml}#</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script src="#{$smarty.const.APP}#/View/template/js/content.js?v=1.0.0"></script> 
<script type="text/javascript">
$(document).ready(function () {
	//更改排序
	$("body").on("blur", ".treeSort", function() {
		id =$(this).attr("data-id");
		sort =$(this).val();
		$.ajax({
			type: "POST",
			url: "#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_modify_sort/",
			data:{"sort":sort,"id":id},
			dataType:"json",
			success: function(data){
				if(data.statusCode=='200'){
					layer.msg('操作成功', {icon: 1});   
				}
				console.log(data.statusCode);
			}
		});
	});
	//更改排序
	$("body").on("blur", ".treeName", function() {
		id =$(this).attr("data-id");
		value =$(this).val();
		$.ajax({
			type: "POST",
			url: "#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_modify_name/",
			data:{"name":value,"id":id},
			dataType:"json",
			success: function(data){
				if(data.statusCode=='200'){
					layer.msg('操作成功', {icon: 1});   
				}
				console.log(data.statusCode);
			}
		});
	});

	
	$("body").on("click", ".single_operation", function() {
		fin_income_type_id =$(this).attr("data-id");
		single_act =$(this).attr("data-act")
		if(single_act=="add"){
			act_url="#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_add/";
			layer.open({
				type: 2,
				title: '添加菜单',
				shadeClose: true,
				fixed: false, //不固定
				area: ['800px', '500px'],
				content: '#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_add/id/'+fin_income_type_id+'/' //iframe的url
			});			
			return false;	
		}else if(single_act=="modify"){
			layer.open({
				type: 2,
				title: '添加服务记录',
				shadeClose: true,
				fixed: false, //不固定
				area: ['800px', '500px'],
				content: '#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_modify/id/'+fin_income_type_id+'/' //iframe的url
			});			
			return false;
		}else if(single_act=="del"){
			act_url="#{$smarty.const.ACT}#/erp/FinIncomeType/fin_income_type_del/";
		}
		$.ajax({
			type: "POST",
			url: act_url,
			data:{"id":fin_income_type_id},
			dataType:"json",
			success: function(data){
				if(data.statusCode=='200'){
					layer.msg('操作成功', {icon: 1}); 
				}
			}
		});
	});
	
});
</script>