/*评论等级图标开始*/
.comments-area * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.wp-level-useragent {
    height: 21px;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    line-height: inherit;
    background: none;
    width: auto;
    float: none;
    overflow: visible;
    transition: none;
}
.wp-level-useragent span {
    height:21px;
    line-height: 21px;
    display: inline-block;
}

.wp-level-useragent .user-admin-gw, .user-admin-gw {
    background-image: url(../images/p-lvAdmin.png) !important;
    background-position: left 0 !important;
    background-repeat: no-repeat !important;
    _background-image: url(../images/g-lvAdmin.gif) !important;
}

.wp-level-useragent .user-admin-gw i, .user-admin-gw {
    background-image: url(../images/p-lvAdminbg.png) !important;
    background-position: right 0 !important;
    background-repeat: no-repeat !important;
    color: #fff !important;
    _background-image: url(../images/g-lvAdminbg.gif) !important;
}

.wp-level-useragent .user-1-gw, .user-1-gw {
    background-image: url(../images/p-lv01.png) !important;
    _background-image: url(../images/g-lv01.gif) !important;
}

.wp-level-useragent .user-2-gw, .user-2-gw {
    background-image: url(../images/p-lv02.png) !important;
    _background-image: url(../images/g-lv02.gif) !important;
}

.wp-level-useragent .user-3-gw, .user-3-gw {
    background-image: url(../images/p-lv03.png) !important;
    _background-image: url(../images/g-lv03.gif) !important;
}

.wp-level-useragent .user-4-gw, .user-4-gw {
    background-image: url(../images/p-lv04.png) !important;
    _background-image: url(../images/g-lv04.gif) !important;
}

.wp-level-useragent .user-1-4-gw, .user-1-4-gw {
    background-position: left 0 !important;
    background-repeat: no-repeat !important;
}

.wp-level-useragent .user-1-4-gw i, .user-1-4-gw {
    background-image: url(../images/p-lv01-04.png) !important;
    background-position: right 0 !important;
    background-repeat: no-repeat !important;
    color: #f3981b !important;
    _background-image: url(../images/g-lv01-04.gif) !important;
}

.wp-level-useragent .user-5-gw, .user-5-gw {
    background-image: url(../images/p-lv05.png) !important;
    _background-image: url(../images/g-lv05.gif) !important;
}

.wp-level-useragent .user-6-gw, .user-6-gw {
    background-image: url(../images/p-lv06.png) !important;
    _background-image: url(../images/g-lv06.gif) !important;
}

.wp-level-useragent .user-7-gw, .user-7-gw {
    background-image: url(../images/p-lv07.png) !important;
    _background-image: url(../images/g-lv07.gif) !important;
}

.wp-level-useragent .user-5-7-gw, .user-5-7-gw {
    background-position: left 0 !important;
    background-repeat: no-repeat !important;
}

.wp-level-useragent .user-5-7-gw i, .user-5-7-gw {
    background-image: url(../images/p-lv05-07.png) !important;
    background-position: right 0 !important;
    background-repeat: no-repeat !important;
    color: #5cc1f6;
    _background-image: url(../images/g-lv05-07.gif) !important;
}

.wp-level-useragent .user-8-gw, .user-8-gw {
    background-image: url(../images/p-lv08.png) !important;
    _background-image: url(../images/g-lv08.gif) !important;
}

.wp-level-useragent .user-9-gw, .user-9-gw {
    background-image: url(../images/p-lv09.png) !important;
    _background-image: url(../images/g-lv09.gif) !important;
}

.wp-level-useragent .user-10-gw, .user-10-gw {
    background-image: url(../images/p-lv10.png) !important;
    _background-image: url(../images/g-lv10.gif) !important;
}

.wp-level-useragent .user-8-10-gw, .user-8-10-gw {
    background-position: left 0 !important;
    background-repeat: no-repeat !important;
}

.wp-level-useragent .user-8-10-gw i, .user-8-10-gw {
    background-image: url(../images/p-lv08-10.png) !important;
    background-position: right 0 !important;
    background-repeat: no-repeat !important;
    color: #f96652 !important;
    _background-image: url(../images/g-lv08-10.gif) !important;
}

i, em {
    font-style: normal !important;
}

.wp-level-useragent .user-level-gw {
    display: inline-block !important;
    height: 21px !important;
    padding: 0 0 0 24px !important;
    overflow: hidden !important;
    margin: 0 5px 0 -1px !important;
    vertical-align: -6px !important;
    cursor: pointer !important;
}

.wp-level-useragent .user-level-gw i {
    display: inline-block !important;
    height: 21px !important;
    line-height: 23px !important;
    padding: 0 5px 0 0 !important;
    font-size: 12px !important;
}

/*评论等级图标结束*/

/*UA样式开始*/
span.ua {
    margin: 0 1px !important;
    color: #FFFFFF !important;
    font-family: "Micorsoft Yahei", "微软雅黑";
    font-size: 14px;
    padding-left: 5px;
    text-transform: Capitalize!important;
    line-height: 18px!important;
}

.ua_other.os_other {
    background-color: #ccc !important;
    color: #fff;
    border: 1px solid #BBB !important;
    border-radius: 4px;
}

.ua_ie {
    background-color: #428bca !important;
    border-color: #357ebd !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_firefox {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_maxthon {
    background-color: #7373B9 !important;
    border-color: #7373B9 !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_ucweb {
    background-color: #FF740F !important;
    border-color: #d43f3a !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_sogou {
    background-color: #78ACE9 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_2345explorer {
    background-color: #2478B8 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_2345chrome {
    background-color: #F9D024 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_mi {
    background-color: #FF4A00 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_lbbrowser {
    background-color: #FC9D2E !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_chrome {
    background-color: #EE6252 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_qq {
    background-color: #3D88A8 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_apple {
    background-color: #E95620 !important;
    border-color: #4cae4c !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.ua_opera {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_vista, .os_2000, .os_windows, .os_xp, .os_7, .os_8, .os_8_1 {
    background-color: #39b3d7 !important;
    border-color: #46b8da !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_android {
    background-color: #98C13D !important;
    border-color: #01B171 !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_ubuntu {
    background-color: #DD4814 !important;
    border-color: #01B171 !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_linux {
    background-color: #3A3A3A !important;
    border-color: #1F1F1F !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_mac {
    background-color: #666666 !important;
    border-color: #1F1F1F !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_unix {
    background-color: #006600 !important;
    border-color: #1F1F1F !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.os_nokia {
    background-color: #014485 !important;
    border-color: #1F1F1F !important;
    border-radius: 4px;
    padding: 0 5px !important;
}

.fa {
    mrgin-right: 5px;
}

/*UA样式UA结束*/
