b, p {
	line-height: 1.72222;
	margin: 0 0 12px;
}
h2 {
	font-size: 18px; 
	color: #0a9572;
	font-weight: 700;
}
.index-well {
	margin-top:50px;
	padding:10px 35px;
	padding-bottom:50px;
	border:1px solid #ddd;
	border-radius:4px;
	overflow: hidden;
	background:rgba(255, 255, 255, 0.80);
}
.index-well a {
	color: #0a9572;
}
.solid {
	margin:25px 0;
	border-top:1px solid #ddd;
}
.forum_city_choice_head {
	width:100%;
	padding-bottom:10px;
}
.forum_city_choice {
	border-radius:5px;
	border:1px solid #ddd;
	padding:20px;
	background-color:rgba(255, 255, 255, 0.9);
	margin-top:50px;
}
.forum_city_choice a {
	font-size: 15px;
}
.forum_city_choice .city-list {
	border-bottom:1px solid #eee;
	color:#999;
}
.forum_city_choice .city-list:hover {
	background-color:#eee;
	transition: all .3s ease-out;
}
.forum_city_choice .city-list .u_city {
	font-size: 22px;
}
.forum_city_choice .city-list .u_city a {
	font-size: 30px;
}
.forum_city_choice .letter {
	display: block;
	padding: 7px 0;
	width: 60px;
	line-height: 100%;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	z-index: 1;
	background-color:#eee;
	border-left:9px solid rgba(155, 155, 155, 0.8);
	margin:10px 0;
}
