#header,#content,#footer{width: 960px;}
/*body*/
body{color:#565656;background:url("images/bg.jpg") repeat-x;}
.tbbd{background:url("images/bg.jpg") repeat-x;}

.hwrap{background:url("images/wrap.jpg") repeat-x bottom;height:160px;}
.col-sub .bg{margin-left:5px;}
.col-sub{margin-top:-13px;}
.grid .main-wrap { margin-left: 275px;}
.grid .col-sub { width: 265px;}
#header{background:url("images/yy.png") no-repeat right top;}
#banner{border:1px #ececec solid;padding:4px;background:#fff;width: 950px;margin-top:10px;margin-bottom:10px;}
.fwrap{background:url("images/fbg.jpg") repeat-x;}
.grid span.xtop{display:block;height:84px;background:url("images/layout.png") no-repeat;}
#contact .grid span.xtop{display:block;height:84px;background:url("images/layout-c.png") no-repeat;}

.col-main .main-wrap{background:url("images/mainbg.png") repeat-y 7px center;}
.col-main{background:url("images/colmainbottom.png") no-repeat 282px bottom;padding-bottom:14px;}
#contact .col-main{background:url("images/colmainbottom-c.png") no-repeat 0 bottom;padding-bottom:10px;}
#contact .col-main .mbox{background:url("images/mainbg-c.png") repeat-y 0 center;padding:0 10px;}
.col-extra{background:url("images/colextrabottom-g3.png") no-repeat 0 bottom;padding-bottom:11px;}
.col-extra .mbox{background:url("images/exbg.png") repeat-y left center;}
a:link,a:visited{color:#565656;}
a:hover,a:focus{color:#f1070a;}
.col-sub .mhd span a:link,.col-sub  .mhd span a:visited {color: #fff;}
input,textarea{border:1px #e2e5ea solid;}
.job_con table,.guest table {border-top:1px solid #e2e5ea;border-right:1px solid #e2e5ea;}
.job_con td,.guest td {background:#fff;border-bottom:1px solid #e2e5ea;border-left:1px solid #e2e5ea;}
.job_con th,.guest th {background:#fbfdf4;border-bottom: 1px solid #e2e5ea;border-left:1px solid #e2e5ea;}
/*header*/
#header h1,#header p{float:left;}
#header h1{margin-top:17px;}
#header p {margin-left:20px;line-height:114px;height:114px;color: #fff;}
.menu{margin-top:6px;margin-right:20px;}
.menu a{color:#fff;}
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 5px;}

.nav{height:45px;line-height:45px;}
.nav li{background:url("images/li.png") no-repeat right center;font-weight:bold;}
.nav li a{width:93px;}
.navlist ul{top:38px;padding-top:7px;}
.navlist ul li{margin-top:1px;line-height:26px;height:26px;width:92px;background:url("images/sublibg.png") no-repeat;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;font-weight:normal;}

.nav li.last{background:none;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#000;}
.nav a:hover,
.nav a.active,
.nav a.active:visited,
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited,
.nav li.active a,.nav li.active a:visited{color:#fff;}

.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;background:none;}

/*content*/
.col-sub .mbox{margin-bottom:10px;border:1px #f9ca05 solid;padding:2px;background:#fff;}
.mhd h3{color:#000;padding-left:28px;}
.mhd{height:31px;line-height:30px;}
.col-sub .mhd{background:url("images/mhd_bg.png") repeat-x;border:1px #f9b505 solid}
.col-extra .mhd{border-bottom:1px #bebebe solid;margin:0px 12px;}
.col-main .mhd{border-bottom:1px #bebebe solid;margin:0px 25px;padding-bottom:2px;}
.col-sub .mhd h3{background:url("images/sico01.png") no-repeat 10px center;color:#fff;}
.col-main .mhd h3{background:url("images/sico02.png") no-repeat 2px center;}
.col-extra .mhd h3{background:url("images/sico02.png") no-repeat 2px center;padding-left:24px;}
#contact .col-main .mhd{margin:0 5px;}
.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 10px center;padding-left:32px;}
.mhd button{background:url("images/sbtn2.png") no-repeat;color:#fff;}
.mbd{padding-left:20px;padding-right:20px;}
.col-main .mbd{padding-left:32px;padding-right:32px;}
.prodt_con .mbd{padding-left:25px;padding-right:12px;}
#contact .col-main .mbd{padding-left:10px;padding-right:10px;}
/*feedback*/
.feedback a{background:url("images/feedback.png") no-repeat;width:260px;padding-bottom:10px;}
/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #ccc dotted;}
.news li span,.seabox li span{color:#999;}
.news .mhd .r{margin-right:20px;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.n_ico span a{color:#f9ca05;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#f9f9f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#f9a305;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico.png") no-repeat 5px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:18px center;padding-left:32px;}
.down_list .mbd li {line-height:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{background:url("images/downlistbg.png") no-repeat;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico.png") no-repeat 5px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico.png") no-repeat 22px center;border-bottom:1px #f5d6bc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
.plinks .mbd{padding-left:17px;}
.plinks .mbd li{margin: 12px 1px 0 9px;}
.prodt .mbd li {margin: 26px 14px 0 12px;}
.quaon_pic .mbd li {margin: 26px 18px 0 11px;}
.prodt_list .mbd li {margin: 26px 16px 0 11px;}
/*g_page*/
.g_page{width: 600px;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#b8c31e;color:#fff;border:1px #ddd solid;}
.pic_list img{border:1px #d8d8d8 solid;}
.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.map{border: 1px solid #b1be07;background:#fff;}

.contact_con dt{color:#000;}


/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#fff;width:58px;height:23px;line-height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#000;}
#footer {color:#000;padding-bottom:15px;background:url("images/fwrap.png") no-repeat center top;}
#footer p{margin-top:35px;}
#footer a:link, #footer a:visited {color: #000;}
#footer a:hover {color: #fff;}
#footer .support a:link, #footer .support a:visited{color: #000;}
