<div id="sub_nav">
    <php>$logo = get_cover(modC('LOGO',0,'Config'),'path');
        $logo = $logo?$logo:'__ROOT__/Public/images/logo.png';
    </php>
    <div class="container">
        <div class="sedNav">
            <div class="ltNav">
                <a class="navbar-brand logo" href="{:U('Forum/Index/index')}"><i class="icon-comments"></i> {:L('_MODULE_')}</a>
                <ul class="nav navbar-nav navbar-left">
                    <li id="tab_index">
                        <a href="{:U('Forum/Index/index')}">{:L('_HOME_')}</a>
                    </li>
                    <li id="tab_lists"><a href="{:U('forum/index/lists')}">{:L('_BELONGED_SECTION_')}</a></li>
                    <li id="tab_look"><a href="{:U('forum/index/look')}">{:L('_HAVING_A_LOOK_')}</a></li>
                </ul>
                <script>
                    $('#tab_{$tab}').addClass('active');
                </script>
            </div>
            <form class="rtNav" action="{:U('Forum/Index/search')}" method="post" role="search">
                <div class="shWrap">
                    <input type="text" name="keywords" class="input" placeholder="{:L('_SEARCH_')}">
                    <a type="submit" class="input-btn"><i class="icon-search"></i> </a>
                </div>
            </form>
        </div>
    </div>
</div>