<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
<link rel="stylesheet" href="/public/m/mobile.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1538380_v7nu1ofa3el.css">
<script>
$(function(){
	document.querySelector('.weui-tabbar').addEventListener('touchmove', function (e) {
	e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
	}, {passive: false}); //passive 参数不能省略，用来兼容ios和android
})
</script>