<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--{if $status == 1}-->
	<meta http-equiv="refresh" content="2;url='/mp/profile'">
	<!--{/if}-->
	<title>{echo admin_title()}</title>
	{template _header}
</head>
<body>
	<div class="weui-tab">
		<div class="weui-tab__panel">
			<div class="weui-msg">
				<div class="weui-msg__icon-area"><i class="weui-icon-<!--{if $status == 1}-->success<!--{else}-->warn<!--{/if}--> weui-icon_msg"></i></div>
				<div class="weui-msg__text-area">
					<h2 class="weui-msg__title"><!--{if $status == 1}-->操作成功<!--{else}-->操作失败<!--{/if}--></h2>
					<p class="weui-msg__desc">{$message}</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>