/**关注列表页**/
.user-list li {
position:relative;
padding:10px 0;
display:block; clear:both;
border-bottom:1px solid #eee
}
.user-list .ban {
position:absolute;
right:10px;
bottom:5px;
display:none;
color:#999;
cursor:pointer
}
.user-list .ban:hover{ color:#333}
.user-list .face {
	float:left;
	width:48px;
	height:48px;
	margin:0 13px 0 10px
}
.user-list .info {
	float:left;
	width:515px
}
.user-list .info h3 {
	margin:0 0 2px;
	height:auto;
	font:14px;
	background:0
}
.user-list .info p {
	position:relative;
	margin:0;
	color:#999;
	line-height:18px
}
.user-list .user-cs {
    background: url("../images/icon-ok.png") no-repeat scroll left center transparent;
    display: inline-block;
    float: right;
    font-size: 12px;
    padding: 0 0 0 15px;
}