*::-moz-placeholder {
    color: #CCCCCC;
}
.mod {
	margin-bottom:30px
}
.wrapper {
	width:1000px;
	margin:0 auto
}
.section {
	padding:10px 0;
	margin-bottom:30px;
	min-height:200px
}
/**头部**/
#anony-nav .anony-srh {
	position:relative;
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:middle;
	width:310px;
	height:30px;
	border:1px solid #c3c3c3;
	float:left;
	margin-top:28px;
	margin-left:20px;
}
#anony-nav .anony-srh .inp {
	display:block;
	height:30px;
	overflow:hidden
}
#anony-nav .anony-srh .inp input {
	width:280px;
	border:0;
	font-size:13px;
	height:20px;
	padding:5px
}
#anony-nav .anony-srh .bn {
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/bn_srh_1.png) 50% 50% no-repeat
}
#anony-nav .anony-srh .bn input {
	border:0;
	background:transparent;
*padding-left:30px;
	overflow:hidden;
	width:30px;
	height:30px;
	font-size:0;
	color:transparent;
	cursor:pointer
}
#anony-nav .anony-srh .label {
	font-size:13px;
	color:#ccc;
	line-height:28px;
	padding-left:5px;
	cursor:text
}
/**注册登录**/
#anony-reg {
	margin-bottom:25px;
	background:#e8edf1
}
#anony-reg .lnk-reg {
	display:inline-block;
*display:inline;
	zoom:1;
	padding:7px 18px;
	vertical-align:top;
	margin-right:15px;
	border-radius:2px
}
#anony-reg .lnk-reg:active, #anony-reg .lnk-reg:hover, #anony-reg .lnk-reg:link, #anony-reg .lnk-reg:visited {
	font-size:14px;
	color:#fff;
	background:#ef7360
}
#anony-reg .lnk-reg:active, #anony-reg .lnk-reg:hover {
	font-size:14px;
	color:#fff;
	background:#ed6752
}
#anony-reg .lnk-reg i {
	font-size:12px
}
#anony-reg .nb-info {
	display:inline-block;
*display:inline;
	zoom:1;
	color:#666;
	vertical-align:middle;
	margin-top:-5px;
}
#anony-reg .nb-info b {
	font-size:16px;
	line-height:2;
	font-weight:normal
}
#anony-reg .wrapper {
	padding:20px 0 10px;
	overflow:hidden;
	zoom:1;
	width:1000px;
	margin:0 auto;
}
#anony-reg .login {
	float:right;
	text-align:right;
	font-size:0;
	letter-spacing:-.31em;
*letter-spacing:normal;
*word-spacing:-.43em
}
#anony-reg .login legend {
	display:none
}
#anony-reg .login fieldset {
*display:inline;
	margin:0;
	padding:0;
	border:0
}
#anony-reg .login .label {
	position:absolute;
	z-index:1;
	top:7px;
	left:8px;
	color:#ccc;
	font-size:13px;
	cursor:text
}
#anony-reg .login .item {
	position:relative;
	margin-right:4px
}
#anony-reg .login .item .opt {
	font-size:12px
}
#anony-reg .login .item, #anony-reg .login .item-submit {
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:top;
	text-align:left;
	font-size:0;
	letter-spacing:normal;
	word-spacing:normal
}
#anony-reg .login .item .inp {
	border:0;
	width:142px;
	margin-bottom:5px;
	margin-right:0;
	padding:0 8px;
	height:33px;
	font-size:13px;
*position:relative;
*top:-2px;
*padding-top:8px;
*height:25px
}
#anony-reg .login .bn-submit {
	-webkit-appearance:none;
	padding:0 24px;
	height:33px;
	font-size:13px;
	border:0;
	border-radius:2px;
	cursor:pointer;
	background:#3ba354;
	color:#fff
}
#anony-reg .login .bn-submit:hover {
	background-color:#1c9439
}
#anony-reg .login .item-captcha img {
	width:158px;
	height:28px
}
a.lnk-reg:link,a.lnk-reg:visited,a.lnk-reg:hover,a.lnk-reg:active {
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 27px;
	line-height: 28px;
	text-align: left;
}
/**焦点图**/
.filter{background: rgba(0, 0, 0, .7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);}
.head-slide-box h1,.head-slide-box h2{ letter-spacing: 0px;}
.head-slide-box { overflow:hidden;width:1000px; }
.head-slides{height:300px;}
.head-slides .item{ float:left; height:300px; overflow:hidden; width:1000px; display:none}
.mod1-left{ width:490px; float:left;position:relative;width:490px; height:300px; overflow:hidden}
.mod1-left .dotitem{ bottom: 13px; position: absolute; right: 15px;white-space: nowrap;}
.mod1-left .dotitem li.on{ background:#fff; display:inline-block; *display:inline; *zoom:1;}
.mod1-left .dotitem li{background: gray; width: 10px; height: 10px; display:inline-block; *display:inline; *zoom:1;border-radius: 10px; cursor: pointer;}
.mod1-left dl{ display:block;}
.mod1-left dt{ display:block;}
.mod1-left dd{ display:block; height:45px; width:490px; line-height:45px; padding-left:25px; word-spacing:normal; white-space:nowrap; position:absolute; left:0px; bottom:0px; }
.mod1-left dd a{ font-size:14px; color:#fff; }
.mod1-left dd a:hover{ background-color:transparent}
.mod1-right{ float:right; width:509px; float:right; height:298px; border-bottom: 1px solid #E5E5E5; border-right:1px solid #e5e5e5; border-top:1px solid #e5e5e5;}
.mod1-right .padingbox{ padding:0px 20px 8px 20px;}
.mod1-right .tit{ font-size:24px; white-space: nowrap; padding-top:15px;}
.mod1-right .tit a{ color:#252525}
.mod1-right .tit a:hover{ color:#fff}
.mod1-right .hot-box1 {border-bottom:1px solid #E5E5E5; padding-bottom:20px}
.mod1-right .hot-box1 li{ display:block;float:left;  width:225px;line-height:24px; word-spacing:normal; white-space:nowrap; overflow:hidden;}
.mod1-right .hot-box1 ul{ display:block; width:225px; float:left; }
.mod1-right .hot-box1 ul.r{float:right; padding-left:15px}
.mod1-right .hot-box2{ padding-top:15px; }
.mod1-right .hot-box2 h2{ font-size:16px}
.mod1-right .hot-box2 h2 a{ color:#252525}
.mod1-right .hot-box2 h2 a:hover{ color:#fff}
.mod1-right .hot-box2 .hL{ float:left; width:210px; padding-right:14px; border-right:#E5E5E5 solid 1px;}
.mod1-right .hot-box2 .hR{ float:right; width:220px; padding-left:16px}
.mod1-right .hot-box2 p{color: #888888;}
.mod2-left{ float:left}
.mod2-left a{ display:block; width:400px; overflow:hidden; position:relative; height:300px}
.mod2-left a span{ display:block; position:absolute; width:400px; line-height:30px; left:0px; bottom:0px; text-indent:20px; color:#C5C3C0}
.mod2-mid { float:left; width:250px; padding-left:1px}
.mod2-mid .pt1h{ padding-top:1px;}
.mod2-mid a{ display:block; width:250px; overflow:hidden; position:relative;}
.mod2-mid a span{ display:block; position:absolute; width:400px; line-height:30px; left:0px; bottom:0px; text-indent:20px; color:#C5C3C0}
.mod2-right{ width:348px; padding-left:1px; float:right}
.mod2-right a{ display:block; width:348px; overflow:hidden; position:relative; height:300px}
.mod2-right a span{ display:block; position:absolute; width:348px; line-height:30px; left:0px; bottom:0px; text-indent:20px; color:#C5C3C0}

.mod3-left{ float:left;width:250px;}
.mod3-left a{ display:block; width:250px; overflow:hidden; position:relative; height:300px}
.mod3-left a span{ display:block; position:absolute; width:250px; line-height:30px; left:0px; bottom:0px; text-indent:20px; color:#C5C3C0}
.mod3-mid{ float:left; width:250px; height:298px;border-top:1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; border-right:1px solid #E5E5E5;}
.mod3-mid .midbox{ padding:0px 20px;}
.mod3-mid .midbox p{ color:#888}
.mod3-mid .mhd{ border-bottom:#e5e5e5 solid 1px; height:148px}
.mod3-mid h2{ padding-top: 15px; font-size:18px;}
.mod3-mid h2 a{color:#252525}
.mod3-mid h2 a:hover{color:#fff}
.mod3-right{ float:right; width:247px;border-bottom: 1px solid #E5E5E5; border-right:1px solid #E5E5E5; height:299px;}
.mod3-right h2{ padding-top: 15px; font-size:18px;}
.mod3-right h2 a{color:#252525}
.mod3-right .picinfo{ padding:0px 20px}
.mod3-right .picinfo p{ color:#888}
/**控制**/
.head-ctrls { background:#f8f8f8; border:1px solid #e5e5e5;line-height:40px; height:40px; border-top:none; text-align: center;  }
.head-ctrls li { width:93px; height:100%; text-align:center; display:inline-block; *display:inline; font-size:14px;
    *zoom:1;
    text-indent:0; border-left:1px solid #e5e5e5; cursor:pointer; color:#252525;
	 box-shadow: 0 0 0 white, -1px 0 0 white, 0 0 0 white, 0 0 0 white; }
.head-ctrls .last { border-right:1px solid #e5e5e5;}
.head-ctrls .on { border:none; background:#FFF; height:37px; position:relative; color:#007722; box-shadow:none; border-bottom:#007722 solid 3px;}
/*************/
/*活动*/
.events-list li {
	float: left;
	height: 140px;
}

.events-list .pic {
	float: left;
	height: 75px;
	overflow: hidden;
	width: 75px;
}

.events-list .pic {
	margin-right: 10px;
}

.events-list .info {
	float: left;
	width: 205px;
}

.events-list .title {
	line-height: 1.5;
	margin-bottom: 5px;
}

.events-list .info a {
	font-size: 14px;
}

.events-list .datetime {
	margin-bottom: 5px;
}

.events-list address {
	color: #666666;
	display: block;
	font-style: normal;
}

.events-list .followers {
	color: #999999;
}

#db-sidesrh {
	width: 100%;
}

#db-sidesrh {
	float: left;
	margin-bottom: 20px;
}

.aside .mod {
	margin: 0 0 40px;
}

#db-sidesrh form {
	float: right;
	width: 100%;
}

#db-sidesrh input {
	float: left;
}

#db-sidesrh input {
	border: 1px solid #C3C3C3;
	height: 24px;
	line-height: 24px;
}

#db-sidesrh .inp input {
	padding: 0 2px;
	vertical-align: baseline;
	width: 246px;
}

.hide {
	display: none;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.submenu {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #B6C9C1 #B6C9C1 #B6C9C1 -moz-use-text-color;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px medium;
	float: left;
	height: 21px;
	margin: 0 2px 0 -5px;
	padding: 2px 0 1px;
	position: relative;
	width: 45px;
}

#db-sidesrh .submenu,#db-sidesrh .submenu .selected,#db-sidesrh .submenu .menu
	{
	border-color: #C3C3C3;
}

.submenu .selected {
	border-left: 1px solid #B6C9C1;
	cursor: pointer;
	padding: 0 0 0 5px;
}

.submenu .selected span {
	background: url("ui_ns_sbg4.png") no-repeat scroll -240px -124px
		transparent;
	height: 5px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	top: 10px;
	width: 7px;
}

#db-sidesrh .submenu .selected span {
	background-image: url("ui_ns_sbg3.png");
	background-position: -450px -124px;
}

.submenu .menu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B6C9C1;
	position: absolute;
	right: -1px;
	top: 24px;
	width: 85px;
}

#db-sidesrh .submenu .menu {
	width: 60px;
}

#db-sidesrh .bn-srh {
	background: url("ui_ns_sbg3.png") no-repeat scroll -360px -100px
		transparent;
	border: medium none;
	cursor: pointer;
	height: 26px;
	letter-spacing: 3px;
	margin: 0 0 0 2px;
	padding-bottom: 2px;
	padding-left: 1px;
	width: 50px;
	line-height: 24px;
}

/****************/
.subitem {
	left: 20px;
	position: absolute;
	top: 23px;
	width: 95%;
}

.sub-item {
	border-bottom: 1px solid #E8E8E8;
	float: left;
	height: 72px;
	margin: 0 2px 15px 0;
	overflow: hidden;
	width: 49%;
}

.sub-item .pic {
	float: left;
	display: table-cell;
	height: 48px;
	padding-right: 1em;
	vertical-align: top;
	width: 48px;
}

.sub-item .info {
	color: #666666;
	display: table-cell;
	vertical-align: top;
	word-wrap: break-word;
}

.sub-item .pic img {
	height: 48px;
	margin-bottom: -3px;
	width: 48px;
}

.sub-item p {
	margin: 0;
	width: 220px;
}

/*infomenu*/
.infocontent {
	font-size: 14px;
	line-height: 25px;
}

.infomenu {
	overflow: hidden;
}

.infomenu ul {
	
}

.infomenu ul li {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.infomenu ul li a {
	padding: 5px 10px;
}

.infomenu .select {
	background: #F0F0F0;
	font-weight: bold;
	padding: 5px 10px;
}
/**热门话题**/
.topic-list{}
.topic-list dl{ margin-bottom:20px; border-bottom:#E8E8E8 solid 1px; padding-bottom:20px}
.topic-list dl .title{ font-size:16px; margin-bottom:5px}
.topic-list dl .title span{ float:right;  }
.topic-list dl .title span a{ color:#fff;background-color:#8096b3;padding:0px 4px; border-radius:3px;}
.topic-list dl .title span a:hover{ background-color:#336699}
.topic-list dl dt{ float:left; width:48px; height:48px; margin-right:1em; display:table-cell; vertical-align:top; margin-top:5px}
.topic-list dl dd{ display:table-cell; vertical-align:top; width:580px}
.topic-list dl summary{ color:#929292}
.topic-list dl p{ margin-top:5px; line-height:20px}
.topic-list dl p img{ margin-left:15px}
/**活跃会员**/
.obu {
    display: inline;
    margin: 0 0 0px;
    width: 76px; float: left;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
	position:relative;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu .border-arrow{
    border-bottom: 15px dashed transparent;
    border-left: 15px dashed transparent;
    border-top: 15px solid #87c636 !important;
	top:0px;
	right:14px;
}
.obu .border-arrow:hover{ border-top:15px solid #9ff82d !important;}
.obu .border-arrow{
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
/*****相册******/
.joykumodel{}
.joykumodel h2{ display:block; overflow: hidden;padding-bottom: 5px;}
.joykumodel h2 strong{font-family: '微软雅黑';font-size: 25px;margin-right: 5px; color:#494949}
.joykumodel h2 em{ color:#F39800}
#container{ }
#container .item {width:220px; float: left; margin-left:20px; margin-top:5px}
#container .item img{ border:#fff solid 1px;  padding:1px}
#container .item img:hover{ border:#eee solid 1px; padding:1px}
#infscr-loading { 
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 45%;
	bottom: 40px;
	width: 200px;
	padding: 10px;
	background: #000; 
    opacity: 0.8;
	filter:alpha(opacity=80);
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.common-item, .item-subject {
    overflow: hidden;
}
.common-item .pic, .item-subject .pic {
    float: left;
    margin-right: 12px;
}
.item-subject .pic { min-height:0; _height:auto; }
.item-subject .pic img { max-width:170px; max-height:260px; }
.th-app-pop li {
	margin-top:15px
}
.th-app-pop .favs {
	color:#999
}
.list li {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
}
/**风格设置**/
.themelist{ display:block; overflow:hidden}
.themelist li{ margin:10px; float:left; display:inline-block; text-align:center; font-size:14px;}
.themelist li label{ cursor:pointer;}
.themelist li a{ display:block; border:#fff solid 1px; padding:5px}
.themelist li a:hover,.themelist li.on a{ background-color:transparent; color:#333;border:#ddd solid 1px;}