*::-moz-placeholder {
    color: #CCCCCC;
}
h2{ font-size:15px; margin-top:0px}
.mod {
	margin-bottom:30px
}
.wrapper {
	width:1000px;
	margin:0 auto
}
.section {
	padding:10px 0;
	margin-bottom:30px;
	min-height:200px
}
.section .main {
	overflow: hidden;
	zoom: 1;
}

.section .sidenav {
	float: left;
	margin-right: 20px;
	width: 80px;
}

.section .side {
	float: right;
	margin-left: 30px;
	width: 265px;
}

.section .extra {
	margin: 0 auto 0;
	width: 950px;
}

.section .extra iframe {
	margin-top: 20px!important;
}

.section .wrapper {
	zoom: 1;
}

.section .wrapper:after,.section .wrapper:before {
	clear: both;
	display: block;
	content: "\0020";
}

.section-bg {
	padding: 40px 0 20px;
	background: #f7f7f7;
}

.section:nth-child(2n) {
	padding: 40px 0 20px;
	background: #f7f7f7;
}


.section-title a {
	font-size: 24px;
}

.section-title a:link,.section-title a:visited {
	font-size: 24px;
}

.side-links {
	margin-bottom: 40px;
}

.side-links li {
	position: relative;
	margin-top: 5px;
	font-size: 14px;
}

.rating {
	margin-bottom: 4px;
}

.rating i {
	margin-left: 4px;
	color: #f40;
}

.rating .txt-tip {
	margin-left: 4px;
}
/**头部**/
#anony-nav .anony-srh {
	position:relative;
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:middle;
	width:310px;
	height:30px;
	border:1px solid #c3c3c3;
	float:left;
	margin-top:28px;
	margin-left:20px;
}
#anony-nav .anony-srh .inp {
	display:block;
	height:30px;
	overflow:hidden
}
#anony-nav .anony-srh .inp input {
	width:280px;
	border:0;
	font-size:13px;
	height:20px;
	padding:5px
}
#anony-nav .anony-srh .bn {
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/bn_srh_1.png) 50% 50% no-repeat
}
#anony-nav .anony-srh .bn input {
	border:0;
	background:transparent;
*padding-left:30px;
	overflow:hidden;
	width:30px;
	height:30px;
	font-size:0;
	color:transparent;
	cursor:pointer
}
#anony-nav .anony-srh .label {
	font-size:13px;
	color:#ccc;
	line-height:28px;
	padding-left:5px;
	cursor:text
}
/**注册登录**/
#anony-reg {
	margin-bottom:25px;
	background:#e8edf1
}
#anony-reg .lnk-reg {
	display:inline-block;
*display:inline;
	zoom:1;
	padding:7px 18px;
	vertical-align:top;
	margin-right:15px;
	border-radius:2px
}
#anony-reg .lnk-reg:active, #anony-reg .lnk-reg:hover, #anony-reg .lnk-reg:link, #anony-reg .lnk-reg:visited {
	font-size:14px;
	color:#fff;
	background:#ef7360
}
#anony-reg .lnk-reg:active, #anony-reg .lnk-reg:hover {
	font-size:14px;
	color:#fff;
	background:#ed6752
}
#anony-reg .lnk-reg i {
	font-size:12px
}
#anony-reg .nb-info {
	display:inline-block;
*display:inline;
	zoom:1;
	color:#666;
	vertical-align:middle;
	margin-top:-5px;
}
#anony-reg .nb-info b {
	font-size:16px;
	line-height:2;
	font-weight:normal
}
#anony-reg .wrapper {
	padding:20px 0 10px;
	overflow:hidden;
	zoom:1;
	width:1000px;
	margin:0 auto;
}
#anony-reg .login {
	float:right;
	text-align:right;
	font-size:0;
	letter-spacing:-.31em;
*letter-spacing:normal;
*word-spacing:-.43em
}
#anony-reg .login legend {
	display:none
}
#anony-reg .login fieldset {
*display:inline;
	margin:0;
	padding:0;
	border:0
}
#anony-reg .login .label {
	position:absolute;
	z-index:1;
	top:7px;
	left:8px;
	color:#ccc;
	font-size:13px;
	cursor:text
}
#anony-reg .login .item {
	position:relative;
	margin-right:4px
}
#anony-reg .login .item .opt {
	font-size:12px
}
#anony-reg .login .item, #anony-reg .login .item-submit {
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:top;
	text-align:left;
	font-size:0;
	letter-spacing:normal;
	word-spacing:normal
}
#anony-reg .login .item .inp {
	border:0;
	width:142px;
	margin-bottom:5px;
	margin-right:0;
	padding:0 8px;
	height:33px;
	font-size:13px;
*position:relative;
*top:-2px;
*padding-top:8px;
*height:25px
}
#anony-reg .login .bn-submit {
	-webkit-appearance:none;
	padding:0 24px;
	height:33px;
	font-size:13px;
	border:0;
	border-radius:2px;
	cursor:pointer;
	background:#3ba354;
	color:#fff
}
#anony-reg .login .bn-submit:hover {
	background-color:#1c9439
}
#anony-reg .login .item-captcha img {
	width:158px;
	height:28px
}
a.lnk-reg:link,a.lnk-reg:visited,a.lnk-reg:hover,a.lnk-reg:active {
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 27px;
	line-height: 28px;
	text-align: left;
}
/**模块一**/
#anony-sns .online li {
	margin-top:10px;
	color:#999
}
#anony-sns .online .title {
	margin-bottom:4px;
	line-height:1.45
}


/**活跃会员**/
#anony-sns .obu {
    display:block;
    margin: 0 0 0px;
	display:block;
	height:60px;
	width:50%; 
	float:left;
}
#anony-sns .obu .uname{
	height:22px; line-height:22px; width:50%; overflow:hidden
}
#anony-sns .obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-align: center;
	position:relative;
	width:48px;
	float:left;
}
#anony-sns .obu dd {
    margin: 0;
    overflow: hidden;
}
#anony-sns .obu .border-arrow{
    border-bottom: 15px dashed transparent;
    border-left: 15px dashed transparent;
    border-top: 15px solid #87c636 !important;
	top:0px;
	right:0px;
}
#anony-sns .obu .border-arrow:hover{ border-top:15px solid #9ff82d !important;}
#anony-sns .obu .border-arrow{
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}

/**相册**/
#anony-sns .albums {
	float:left;
	width:350px;
	margin-right:30px;
	color:#999;
	font-size:0;
	letter-spacing:-0.31em;
*letter-spacing:normal;
*word-spacing:-0.43em
}
#anony-sns .albums .pic {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:170px;
	max-height:170px;
	_height:170px;
	overflow:hidden;
	vertical-align:middle;
	white-space:nowrap;
	margin-bottom:5px;
}
#anony-sns .albums .pic img {
	width:170px
}
#anony-sns .albums ul {
	margin:-10px 0 0 -10px
}
#anony-sns .albums li {
	display:inline-block;
*display:inline;
	zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	width:170px;
	vertical-align:top;
	font-size:12px;
	margin:10px 0 0 10px
}
#anony-sns .albums .tit{
	display:block; word-spacing:normal;	white-space:nowrap;text-overflow:ellipsis;overflow:hidden; width:170px; height:20px;
}
#anony-sns .albums .num{
	display:block;
}

#anony-sns .notes {
	overflow:hidden;
	zoom:1;
	color:#666
}
#anony-sns .notes p {
	margin:0
}
#anony-sns .notes .author {
	color:#999; float:right;
}
#anony-sns .title a{ display:block; width:60%; word-spacing:normal;	white-space:nowrap;text-overflow:ellipsis;overflow:hidden; height:22px}
#anony-sns .notes li {
	margin-bottom:11px;
	word-wrap:break-word
}

/**模块2**/
.cate {
    margin-bottom: 10px;
}
.cate .cate-label {
	width:100%;
	margin-bottom:2px;
	font-size:14px;
	color:#333
}
.cate .cate-label a:link, .cate .cate-label a:visited {
	color:#333
}
.cate .cate-label a:active, .cate .cate-label a:hover {
	color:#fff
}
.cate ul {
	margin-left:-10px
}
.cate li {
	display:inline-block;
*display:inline;
	zoom:1;
	margin-left:10px
}
.list {
    font-size: 0;
    letter-spacing: -0.31em;
}
.list {
	font-size:0;
	letter-spacing:-.31em;
*letter-spacing:normal;
*word-spacing:-.43em
}
.list ul {
	margin-top:-40px
}
.list li {
	display:inline-block;
*display:inline;
	zoom:1;
	width:24.8%;
	margin-top:40px;
	vertical-align:top;
	text-align:center;
	font-size:12px;
	letter-spacing:normal;
	word-spacing:normal
}
.list .pic {
	margin-bottom:10px
}
.list .title {
	line-height:1.45;
	font-size:13px;
	margin-bottom:4px;
	word-wrap:break-word
}


#anony-group .group-list ul {
	margin-left:-30px;
	margin-top:-30px
}
#anony-group .group-list li {
	width:248px;
	_width:244px;
	margin-left:30px;
	margin-top:30px;
	text-align:left;
	overflow:hidden;
	zoom:1;
	color:#999
}
#anony-group .group-list .info {
	overflow:hidden;
	zoom:1
}
#anony-group .group-list .title {
	margin-bottom:5px;
	word-wrap:break-word
}
#anony-group .group-list .pic {
	float:left;
	margin-right:15px
}
#anony-group .section-title a:link, #anony-group .section-title a:visited {
	color:#007982
}
#anony-group .section-title a:active, #anony-group .section-title a:hover {
	color:#fff
}
#anony-group a:link, #anony-group a:visited {
	color:#017a85
}
#anony-group a:active, #anony-group a:hover {
	color:#fff
}

#anony-group .cate .cate-label a:link, #anony-group .cate .cate-label a:visited {
	color:#333
}
#anony-group .cate .cate-label a:active, #anony-group .cate .cate-label a:hover {
	color:#fff
}
#anony-events .section-title a:link, #anony-events .section-title a:visited {
	color:#ec5303
}
#anony-events .section-title a:active, #anony-events .section-title a:hover {
	color:#fff
}
#anony-events a:link, #anony-events a:visited {
	color:#643
}
#anony-events a:active, #anony-events a:hover {
	color:#fff
}
#anony-events .events-list ul {
	margin-left:-20px
}
#anony-events .events-list li {
	width:285px;
	margin-left:20px;
	text-align:left;
	overflow:hidden;
	zoom:1
}
#anony-events .events-list .pic {
	float:left;
	margin-right:10px
}
#anony-events .events-list .info {
	overflow:hidden;
	zoom:1;
	color:#666
}

#anony-events .cate .cate-label a:link, #anony-events .cate .cate-label a:visited {
	color:#333
}
#anony-events .cate .cate-label a:active, #anony-events .cate .cate-label a:hover {
	color:#fff
}


/**文章**/
#anony-article .article-cate-mod {
	overflow:hidden;
	margin-top:-10px
}
#anony-article .article-cate-mod .cate-label {
	width:auto;
	font-size:12px;
	color:#999
}
#anony-article .article-cate-mod .cate {
	padding-top:10px;
	margin:-1px 0 10px 0;
	border-top:1px solid #eaeaea
}

#anony-article .artitem{ display:block; float:left; width:290px; padding-left:10px; padding-bottom:10px}
#anony-article .main .mod{ margin-left:-10px; overflow:hidden}
#anony-article .artlist{ display:block; }
#anony-article .artlist h3{ font-size:13px}
#anony-article .first{  height: 100px;}
#anony-article .artlist .pic{ float:left}
#anony-article .artlist li{ margin-bottom:8px;}
#anony-article .artlist .cont{ padding-left:10px; overflow:hidden}
#anony-article .artlist .cont p{ color:#999}
#anony-article a:link, #anony-article a:visited {color:#643}
#anony-article a:active, #anony-article a:hover {color:#fff}

/****************/
.subitem {
	left: 20px;
	position: absolute;
	top: 23px;
	width: 95%;
}

.sub-item {
	float: left;
	height: 72px;
	margin: 0 2px 15px 0;
	overflow: hidden;
	width: 49%;
}

.sub-item .pic {
	float: left;
	display: table-cell;
	height: 48px;
	padding-right: 1em;
	vertical-align: top;
	width: 48px;
}

.sub-item .info {
	color: #666666;
	display: table-cell;
	vertical-align: top;
	word-wrap: break-word;
}

.sub-item .pic img {
	height: 48px;
	margin-bottom: -3px;
	width: 48px;
}

.sub-item p {
	margin: 0;
	width: 220px;
}

/**风格设置**/
.themelist{ display:block; overflow:hidden}
.themelist li{ margin:10px; float:left; display:inline-block; text-align:center; font-size:14px;}
.themelist li label{ cursor:pointer;}
.themelist li a{ display:block; border:#fff solid 1px; padding:5px}
.themelist li a:hover,.themelist li.on a{ background-color:transparent; color:#333;border:#ddd solid 1px;}