.mod-login .item-inp, .mod-register .item-inp {
	position:relative;
	padding-left:10px;
	margin-bottom:12px;
	line-height:34px;
	background-color:#eff1f0
}

.mod-login .item-tos, .mod-register .item-tos {
	position:relative;
	margin-bottom:12px
}
.mod-login .item-tos input, .mod-register .item-tos input {
	width:auto;
	margin-right:2px
}
.mod-login .item-tos .error, .mod-register .item-tos .error {
	line-height:1.5;
	background:#fff
}
.mod-login .item-inp input, .mod-register .item-inp input {
	padding-top:2px;
*padding-top:0;
	height:30px;
*line-height:30px;
	vertical-align:middle;
	background-color:transparent;
	-webkit-appearance:none;
	border-radius:0;
	border:0;
	font-size:13px
}
.mod-login .item-inp input.error, .mod-register .item-inp input.error{ 
	position:static;
	padding-top:2px;
*padding-top:0;
	height:30px;
*line-height:30px;
	vertical-align:middle;
	background-color:transparent;
	-webkit-appearance:none;
	border-radius:0;
	border:0;
	font-size:13px;
	color:#111111
}
.mod-login .item-inp label, .mod-register .item-inp label {
	display:inline-block;
*display:inline;
	zoom:1;
	vertical-align:middle;
	width:52px;
	font-size:13px;
	color:#666;
	-webkit-font-smoothing:antialiased
}
.mod-login .item-inp label.error, .mod-register .item-inp label.error{
	position:absolute;
	right:10px;
	top:0;
	color:#f20;
	line-height:34px;
	width:auto	
} 
.mod-login .error, .mod-register .error {
	position:absolute;
	right:10px;
	top:0;
	color:#f20;
	line-height:34px
}
.mod-login .item-captcha input, .mod-register .item-captcha input {
	width:40%
}
.mod-login .captcha-item .error, .mod-register .captcha-item .error {
	right:140px
}
.mod-login .item-inp .tips, .mod-register .item-inp .tips {
	position:absolute;
	left:70px;
	top:0;
	color:#999;
	cursor:text
}
.mod-login .captcha-img, .mod-register .captcha-img {
	position:absolute;
	top:0;
	right:0;
	width:auto;
	height:35px;
	cursor:pointer;
	border-left:4px solid #fff
}
.mod-login .item-rember {
	margin-bottom:12px
}
.mod-login .item-given {
	margin-bottom:12px;
	font-size:14px
}
.btn-submit {
	padding:6px 26px;
	margin-right:1em;
	font-size:14px;
	font-weight:bold;
*width:100px;
	color:#fff;
	-webkit-appearance:none;
	background-color:#3fa156;
	border:1px solid #538643;
	border-radius:3px;
	cursor:pointer
}
.mod-register-error {
	color:#f20;
	margin-bottom:20px
}

#captcha-item label.error{
	position:absolute; right:110px;
}
