{layout name="passport:layout" /}
<div class="wrap-full auto review">
    <div class="row">
        <div class="col-100">
            <div class="detail row">
                <div class="col-s10 col-m20"><img src="__STATIC__/{$info.miniapp_dir}/logo.png" class="applogo"/></div>
                <div class="col-s90 col-m80">
                    <div class="miniapp-title">
                        <div>{$info.title}</div>
                        <div class="tags hide-m">
                            {switch $info.types}
                            {case mp}<span class="badge bg-blue">公众号</span>{/case}
                            {case program}<span class="badge bg-red">小程序</span>{/case}
                            {case app}<span class="badge bg-yellow">APP</span>{/case}
                            {case mp_program}<span class="badge bg-green">小程序/公众号</span>{/case}
                            {case mp_program_app}<span class="badge bg-green">小程序/公众号/APP</span>{/case}
                            {default /}<span class="badge">应用异常</span>
                            {/switch}
                            {if $miniapp}<span class="badge bg-blue">已授权 {$miniapp} 个应用</span>{else}<span class="badge">未授权</span>{/if}</span>
                        </div>
                    </div>
                    <div class="miniapp-footer">{$info.describe}</div>
                </div>
            </div>
            <div class="appinfo row fn-clear">
                <div class="col-s70 col-m80">
                    <h4>{$info.title}  信息</h4>
                    <div class="infobar">
                        <p><label>开通价格：</label>￥<span class="sell_price">{$info.sell_price}</span></p>
                        <p><label>当前版本：</label>{$info.version}</p>
                        <p><label>更新时间：</label>{$info.update_time|date='Y-m-d'}</p>
                        <p><label>体验天数：</label>{$info.expire_day} 天</p>
                        <p><label>立即开通：</label><a href="javascript:;" url="{:url('system/passport.appshop/buy',['input' => $info.id])}" class="gobuy button button-red" /><i class="iconfont icon-cart"></i>立即购买</a></p>
                    </div>
                </div>
                <div class="col-s30 col-m20">
                    <div class="detail-qrcode"><img src="{$info.qrcode}" class="w140"/><p>微信扫码体验</p></div>
                </div>
            </div>
            <div class="apppic">
                <h4>{$info.title} 展示</h4>
                <div class="row">
                    {foreach $style_pic as $img}
                    <div class="col-20"><img class="app_pic" src="{$img}" /></div>
                    {/foreach}
                </div>
            </div>
            <div class="apptext">
                <h4>{$info.title} 介绍</h4>
                <div class="app_content">{$info.content|dehtml|raw}</div>
            </div>
        </div>
    </div>
</div>
<style>
.review h4{font-weight: 600; font-size: 1.4rem; color: #3d464d;font-size: 14px;border-left: 2px #ee591f solid;padding-left: 10px;line-height:22px;}
.review .detail{border: 1px solid #eaeef1;padding:20px;}
.review .detail .applogo{width:100%;min-width:80px;;border-radius:15px;padding:5px;}
.review .detail .miniapp-title{line-height:28px;font-size:30px;color: #3d464d;padding: 10px 20px;position: relative;}
.review .detail .miniapp-title .tags{position: absolute;top: 0px;right:0px;}
.review .detail .miniapp-title .tags span{margin: 0px 5px;}
.review .detail .miniapp-footer{padding-left:20px;font-size: 14px;color: #47525d;overflow: hidden;}
.review .appinfo{border: 1px solid #eaeef1;padding: 20px 30px;border-width: 0px 1px 0px 1px;line-height:25px;}
.review .appinfo .infobar{line-height:28px;margin: 10px 0px;font-size: 14px;}
.review .appinfo label{display: inline-block;color: #7d8994;}
.review .appinfo span{display: inline-block;line-height: 30px;}
.review .appinfo span.sell_price{font-size: 20px;}
.review .detail-qrcode{float:right;text-align: center;border: 1px solid #eaeef1;padding: 10px 40px;color: #7d8994;line-height: 30px;font-size: 14px;border: 1px solid #eaeef1;}
.review .apppic{border: 1px solid #eaeef1;padding:10px 30px;border-width: 0px 1px 0px 1px;line-height:25px;}
.review .apppic .app_pic{padding: 10px;width: 100%;}
.review .apptext{border: 1px solid #eaeef1;padding:10px 30px;border-width: 0px 1px 1px 1px;}
.review .app_content{font-size: 14px;line-height:25px;color: #47525d;padding-top:20px;}
.review .app_content img{width: 100%;}
</style>
<script type="text/javascript">
Do('base','layer',function () {
    $(".gobuy").win({'area':['600px','350px']});
});
</script>