@charset "utf-8";

/*============================================================
 * 格式化标签
/===========================================================*/
* {
    margin: 0;
    padding: 0
}

body {
    background: #fff url(../Images/Home/bg_body.png) repeat-x;
}

img {
    vertical-align: middle;
    border: 0;
}

ul, ol {
    list-style-type: none;
}

em, cite {
    font-style: normal;
}

a {
    color: #666;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #008c00;
    text-decoration: underline;
}

a:focus {
    outline: 0;
}

.c {
    clear: both;
}

.n {
    display: none;
    text-indent: -9999px;
}

/* 布局 */
.wrap {
    height: 100%;
    font: 12px 'Microsoft Yahei', Tahoma, sans-serif;
    color: #666;
    background: url(../Images/Home/bg_wrap.png) 0 bottom repeat-x;
}

.content {
    position: relative;
    margin: -120px auto 10px;
    width: 950px;
    height: 100%;
    overflow: hidden;
}

/* 背景图片设定 */
#slide_finger a, #side_menu dd,
.index_box_div h3, .index_box_div li, .item ul li,
.scroll_box p, .caption, .page, .title, .ext {
    background: url(../Images/Home/icon.gif) no-repeat;
}

.nav, .footer, .hot_news_headlines {
    background: url(../Images/Home/bg.png) no-repeat;
}

/*============================================================
 * 导航区
/===========================================================*/
.header {
    position: relative;
    margin: 0 auto;
    width: 950px;
    height: 228px;
    padding: 10px 0 0 18px;
    background: url(../Images/Home/bg_header.png) 56% 50% no-repeat;
}

.logo {
    float: left;
    width: 230px;
    height: 80px;
}

/* 导航条 */
.nav {
    float: left;
    margin-left: 40px;
    margin-top: 38px;
    padding-left: 20px;
    width: 628px;
    height: 31px;
    background-color: #3dae00;
    overflow: hidden;
}

.nav h2 {
    float: left;
    margin-left: 10px;
    width: 70px;
    height: 31px;
    font: 400 14px/31px Tahoma, Verdana, sans-serif;
    text-align: center;
}

.nav h2 a {
    display: block;
    width: 70px;
    height: 31px;
    color: #fff;
}

.nav h2 a:hover {
    color: #fff;
    text-decoration: none;
}

/* 语言选择 */
.change_lang {
    position: absolute;
    display: block;
    height: 20px;
    top: 20px;
    right: 50px;
    color: #888;
    letter-spacing: 0.1em;
    font: 700 12px/20px 'Microsoft Yahei', Tahoma;
}

.change_lang span {
    display: inline-block;
    margin-right: 3px;
    width: 6px;
    height: 3px;
    background-color: #ff8200;
    overflow: hidden;
    vertical-align: middle;
}

.change_lang:hover {
    text-decoration: none;
    color: #333;
}

.change_lang:hover span {
    background-color: #f00;
}

/*============================================================
 * 主区
/===========================================================*/
.main {
    float: left;
    padding: 10px 20px;
    width: 658px;
    min-height: 600px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

/* 页面标题 */
.caption {
    margin-left: 15px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
    background-position: 0 -20px;
}

.caption_blog {
    background-position: 0 -221px;
}

/* blog的放在这了 */

/* 分页样式 */
.page {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-indent: 25px;
    border-bottom: 1px solid #e3e3e3;
    background-position: -113px -272px;
    overflow: hidden;
}

.content_box {
    margin-bottom: 15px;
    height: 100%;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}

/* 文章标题 */
.title {
    margin: 8px 0;
    height: 33px;
    line-height: 35px;
    font-size: 22px;
    font-weight: 400;
    color: #090;
    text-indent: 20px;
    overflow: hidden;
    background-position: 0 -386px;
}

.title a {
    font-size: 22px;
    font-weight: 400;
    color: #090;
}

/* 发表时间 */
.created {
    line-height: 20px;
    font-size: 12px;
    color: #999;
    border-bottom: 1px dashed #ccc;
}

/* 盒子 */
.box {
    padding: 10px 0;
}

/*============================================================
 * 侧栏
/===========================================================*/
.side {
    float: right;
    width: 241px;
    height: 100%;
}

/* 侧栏item */
.item {
    margin-bottom: 15px;
}

.item h3 {
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
    color: #fff;
    font-size: 14px;
    background: url(../Images/Home/bg_side_title.gif) no-repeat;
}

.item .box {
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-top: 0;
    height: 100%;
    background-color: #fff;
}

/* 如果需要有三角符号，使用ul，不需要就使用ol */
.item li, .item p, .item dt, .item dd {
    line-height: 26px;
}

.item li a {
    color: #333;
    margin-right: 3px;
}

.item li a:hover {
    color: #008C00;
}

.item dd a {
    color: #393;
    margin-right: 5px;
}

.item li em {
    font-weight: 700;
    color: #f00;
}

.item ul li {
    height: 22px;
    text-indent: 10px;
    background-position: -128px -546px;
    overflow: hidden;
}

.item .a_color li a, .item .a_color li a:hover, p.a_color a, .p.a_color a:hover {
    color: #36c;
}

/* 标签云 */
.tag_list {
    padding: 5px;
}

.tag_list a {
    padding: 3px;
    line-height: 20px;
}

/*============================================================
 * 页脚
/===========================================================*/
.footer {
    margin: 0 auto;
    padding: 6px 10px 0 20px;
    width: 920px;
    height: 27px;
    line-height: 27px;
    color: #fff;
    overflow: hidden;
    background-color: #49b30c;
    background-position: 0 -31px;
}

.footer a, .footer a:hover {
    color: #fff;
    padding: 0 10px;
}

.footer em {
    margin: 0 50px 0 10px;
    font-family: 'Microsoft Yahei', Tahoma;
    font-weight: 700;
}

.footer span {
    margin: 0 50px;
}

/*============================================================
 * 根据后缀显示图标
/===========================================================*/
.ext {
    display: inline-block;
    width: 18px;
    height: 22px;
    overflow: hidden;
    background-position: -56px -314px;
}

.ext_av {
    background-position: 0 -314px;
}

.ext_binary {
    background-position: -38px -261px;
}

.ext_folder, .ext_dir {
    background-position: -117px -487px;
}

.ext_html {
    background-position: -57px -288px;
}

.ext_image, .ext_png, .ext_gif, .ext_jpg, .ext_jpeg {
    background-position: -19px -261px;
}

.ext_msoffice, .ext_doc, .ext_docx, .ext_pptx, .ext_ppt, .ext_xls, .ext_xlsx {
    background-position: -57px -261px;
}

.ext_pdf {
    background-position: -19px -288px;
}

.ext_rar {
    background-position: 0 -261px;
}

.ext_real {
    background-position: -38px -314px;
}

.ext_swf {
    background-position: -38px -288px;
}

.ext_text, .ext_txt, .ext_php, .ext_page {
    background-position: -118px -418px;
}

.ext_torrent {
    background-position: -19px -314px;
}

.ext_zip {
    background-position: 0 -288px;
}

.ext_back {
    background-position: -114px -275px;
    margin-right: 3px;
}