.ArticleContBox{
	max-width:640px;
	margin:auto;
	overflow:hidden;
	background:#F5F5F5;
}
.MainInfos{
	padding:10px 15px;
	background:#FFF;
}
.MainInfos .title{
	line-height:30px;
	font-size:24px;
	margin-bottom:10px;
}
.MainInfos .infos{
	line-height:30px;
	color:#888;
}
.MainInfos .infos span{
	display:inline-block;
	padding-right:10px;
}
.ShowContent{
	width:100%;
	overflow:hidden;
	word-wrap: break-word;
    word-break: normal;
	word-break:break-all;
}
.ShowContent img{
	max-width:100%;
}
.OtherInfos{
	margin-top:20px;
	background:#FFF;
	width:100%;
	overflow:hidden;
}
.OtherInfos .SideBox{
	margin:0 15px;
	padding:15px 0;
	position:relative;
}
.OtherInfos .SideBox:before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	background:#DDD solid 1px;
	left:0;
	top:-1px;
}
.OtherInfos .SideBox .tag span{
	display:inline-block;
	padding:0 10px;
	background:#DDD;
	color:#888;
	border-radius:5px;
	box-shadow: 1px 1px 1px #666;/**块阴影**/
	margin-bottom:10px;
}
.OtherInfos .SideBox .cont{
	width:100%;
	overflow:hidden;
	word-wrap: break-word;
    word-break: normal;
	word-break:break-all;
}
.OtherInfos .SideBox .cont img{
	max-width:100%;
}
.ShowMoreInfos{
	margin-top:20px;
	padding:15px;
	background:#FFF;
}
.ShowMoreInfos .head{
	line-height:30px;
	font-size:20px;
}
.ListMoreInfos{
	width:100%;
	overflow:hidden;
}
.ListMoreInfos .Lists{
	position:relative;
	padding:20px 0;
}
.ListMoreInfos .Lists:before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	background:#DDD scroll 1px;
	left:0;
	top:-1px;
}
.ListMoreInfos .Lists ul{
	display:table;
	width:100%;
}
.ListMoreInfos .Lists ul ol,.ListMoreInfos .Lists ul li{
	display:table-cell;
	vertical-align:top;
}
.ListMoreInfos .Lists ul ol{
	width:33%;
}
.ListMoreInfos .Lists ul ol a{
	display:block;
	margin-right:15px;
	border:#EEE solid 1px;
	position:relative;
	overflow:hidden;
}
.ListMoreInfos .Lists ul ol a:before{
	content:'';
	display:block;
	padding-top:70%;
}
.ListMoreInfos .Lists ul ol a img{
	position:absolute;
	max-width:98%;
	max-height:98%;
	left:50%;
	top: 50%;
	border:0;
	background:none;
	outline:none;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.ListMoreInfos .Lists ul li .t a{
	display:block;
	line-height:30px;
	font-size:24px;
	overflow:hidden;
}
.ListMoreInfos .Lists ul li .m{
	margin-top:20px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#888;
}
.ListMoreInfos .Lists ul li .m span{
	float:left;
}
.ListMoreInfos .Lists ul li .m em{
	float:right;
}
.ShowMoreButter{
	text-align:center;
}
.ShowMoreButter button{
	border:0;
	background:#FFA800;
	padding:8px 20px;
	color:#FFF;
	border-radius:5px;
	cursor:pointer;
	box-shadow: 1px 1px 1px #666;/**块阴影**/
	outline:none;
}
@media (max-width: 500px) and (min-width:401px) {
	.MainInfos .title{
		line-height:25px;
		font-size:20px;
		margin-bottom:8px;
	}
	.MainInfos .infos{
		line-height:25px;
		font-size:16px;
	}
	.ListMoreInfos .Lists{
		padding:15px 0;
	}
	.ListMoreInfos .Lists ul li .t a{
		line-height:25px;
		font-size:18px;
		max-height:50px;
	}
	.ListMoreInfos .Lists ul li .m{
		margin-top:5px;
		height:25px;
		line-height:25px;
		font-size:16px;
	}	
}
@media (max-width: 400px) {
	.MainInfos .title{
		line-height:22px;
		font-size:18px;
		margin-bottom:5px;
	}	
	.MainInfos .infos{
		line-height:22px;
		font-size:14px;
	}
	.ListMoreInfos .Lists{
		padding:10px 0;
	}
	.ListMoreInfos .Lists ul li .t a{
		line-height:20px;
		font-size:16px;
		max-height:40px;
	}
	.ListMoreInfos .Lists ul li .m{
		margin-top:5px;
		height:20px;
		line-height:20px;
		font-size:14px;
	}
}