.LeftBoxInfo .sorts li a{
	display: block;
	line-height: 40px;
	height: 40px;
	padding: 0 10px;
	overflow: hidden;
	text-align: center;
	background: #CCC;
	font-size: 16px;
	margin-bottom: 15px;
	color: #888;
}
.LeftBoxInfo .sorts li.ck a{
	background: #F60;
	color: #FFF;
}
.LeftBoxInfo .sorts li a:hover{
	background: #F90;
	color: #FFF;
}
.LeftBoxInfo .contact{
	border:#EEE solid 1px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 30px;
}
.LeftBoxInfo .contact .head{
	line-height: 45px;
	text-align: center;
	background: #AAA;
	color: #FFF;
	font-size: 16px;
}
.LeftBoxInfo .contact .cnt{
	padding: 15px;
}
.LeftBoxInfo .contact .cnt .qq{
	text-align: center;
	word-spacing: 15px;
	padding: 5px 0;
}
.LeftBoxInfo .contact .cnt .qq li{
	display: inline-block;
}
.LeftBoxInfo .contact .cnt .time{
	border-top:#AAA dotted 1px;
	border-bottom:#AAA dotted 1px;
	margin: 10px 0;
	padding: 10px 0;
}
.LeftBoxInfo .contact .cnt .time ol,.LeftBoxInfo .contact .cnt .tel ol{
	line-height: 25px;
	font-size: 16px;
	margin-bottom: 5px;
}
.LeftBoxInfo .contact .cnt .time li,.LeftBoxInfo .contact .cnt .tel li{
	line-height: 25px;
	font-size: 14px;
	color: #666;
}