.body_LeftMenu{
	width:1200px;
	margin: auto;
	position: relative;
}
.body_LeftMenu .MenuBox{
	position: absolute;
	width: 250px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(255,255,255,0.8);
	left: 0;
	top:-400px;
}
.body_LeftMenu .MenuBox ul{
	margin: 0 15px;
	padding: 20px 0 20px 50px;
	position: relative;
	min-height: 40px;
}
.body_LeftMenu .MenuBox ul:before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	border-top:#AAA dotted 1px;
	left:0;
	top:-1px;
}
.body_LeftMenu .MenuBox ul ol{
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
	left: 5px;
	top:20px;
	font-size: 30px;
}
.body_LeftMenu .MenuBox ul ol .fa-globe{
	color:#1B9EE9;
	font-size: 40px;
}
.body_LeftMenu .MenuBox ul ol .fa-calendar{
	color:#2AB7B9;
}
.body_LeftMenu .MenuBox ul ol .si-directions{
	color:green;
}
.body_LeftMenu .MenuBox ul ol .glyphicon-fire{
	color:#F30;
}
.body_LeftMenu .MenuBox ul li a{
	display: inline-block;
	line-height: 20px;
	padding: 0 5px;
	margin: 0 5px;
	color: #666;
}
.body_LeftMenu .MenuBox ul li a:hover{
	background:#999;
	color: #FFF;
	border-radius:3px;
}
