.ArticlMainContainer{
	width: 1200px;
	overflow: hidden;
	margin: 20px auto;
}
.ArticlMainContainer:after{
	content: '';
	display: block;
	clear: both;
}
.ArticlMainContainer .LeftsCnt{
	width: 18%;
	float: left;
}
.ArticlMainContainer .RightCnt{
	width: 80%;
	float: right;
	overflow: hidden;
}
/***/
.ShowContent .title{
	text-align: center;
	padding: 10px;
	line-height: 25px;
	font-size: 22px;
}
.ShowContent .infos{
	text-align: center;
	padding-bottom: 15px;
	font-size: 14px;
	color: #888;
}
.ShowContent .infos span{
	display: inline-block;
	margin: 0 10px;
}
.ShowContent .cnt{
	width:100%;
	overflow:hidden;
	word-wrap: break-word;
    word-break: normal;
	word-break:break-all;
	line-height: 20px;
	font-size: 14px;
	color: #666;
}
.ShowContent img{
	max-width:100%;
}
/******/
.OtherInfos{
	margin-top:20px;
	background:#FFF;
	width:100%;
	overflow:hidden;
}
.OtherInfos .SideBox{
	margin:0 15px;
	padding:15px 0;
	position:relative;
}
.OtherInfos .SideBox:before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	background:#DDD solid 1px;
	left:0;
	top:-1px;
}
.OtherInfos .SideBox .tag span{
	display:inline-block;
	line-height: 30px;
	font-size: 16px;
	padding:0 10px;
	background:#DDD;
	color:#888;
	border-radius:5px;
	box-shadow: 1px 1px 1px #666;/**块阴影**/
	margin-bottom:10px;
}
.OtherInfos .SideBox .cont{
	width:100%;
	font-size: 14px;
	line-height: 25px;
	color: #666;
	overflow:hidden;
	word-wrap: break-word;
    word-break: normal;
	word-break:break-all;
}
.OtherInfos .SideBox .cont img{
	max-width:100%;
}