.ShowPhotoCont{
	max-width:640px;
	margin:auto;
	overflow:hidden;
}
.ShowPhotoCont .BigPic{
	position:relative;
	width:100%;
	overflow:hidden;
}
.ShowPhotoCont .BigPic span{
	display:block;
	padding-top:60%;
}
.ShowPhotoCont .BigPic span img,.ShowPhotoCont .MorePic span img{
	position:absolute;
	width:100%;
	left:50%;
	top: 50%;
	border:0;
	background:none;
	outline:none;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.ShowPhotoCont .MorePic{
	padding:10px 5px;
}
.ShowPhotoCont .MorePic:after{
	content:'';
	display:block;
	clear:both;
}
.ShowPhotoCont .MorePic li{
	width:25%;
	float:left;
	overflow:hidden;
}
.ShowPhotoCont .MorePic li span{
	display:block;
	margin:10px;
	border:#EEE solid 1px;
	position:relative;
	overflow:hidden;
	padding-top:55%;
}
.ContentBox{
	padding:0 15px 15px 15px;	
}
.ContentBox .title{
	font-size:20px;
	line-height:25px;
}
.ContentBox .Cont{
	margin-top:10px;
	word-wrap: break-word;
    word-break: normal;
	word-break:break-all;
	background:#F5F5F5;
	position:relative;
	padding:35px 15px 15px 15px;
	color:#666;
	min-height:100px;
}
.ContentBox .Cont .glyphicon-paperclip{
	position:absolute;
	left:15px;
	top:15px;
}
.ContentBox .Cont:after{
	content:'';
	display:block;
	position:absolute;
	width:0;
	height:0;
	right:0;
	top:0;
	border:solid 30px;
	border-top-color: #FFF ;
	border-right-color: #FFF ;
	border-bottom-color:#CCC;    
	border-left-color:#CCC;
}
.ContentBox .Cont img{
	max-width:100%;
}
@media (max-width: 500px) and (min-width:401px) {
	.ShowPhotoCont .MorePic li span{
		margin:6px;
	}
}
@media (max-width: 400px) {
	.ShowPhotoCont .MorePic li span{
		margin:5px;
	}
}