.ShowContBox{
	max-width:640px;
	margin:auto;
	overflow:hidden;
	background:#F5F5F5;
}
.BaseInfos{
	padding:10px 15px;
	background:#FFF;
}
.BaseInfos .title{
	line-height:30px;
}
.BaseInfos .title a{
	display:inline-block;
	border:#FFA800 solid 1px;
	padding:0 10px;
	margin-right:5px;
	border-radius:5px;
	color:#FFA800;
}
.BaseInfos .title span{
	font-size:22px;
}
.BaseInfos .others{
	display:table;
	width:100%;
	margin:10px auto;
	color:#999;
}
.BaseInfos .others dt,.BaseInfos .others dd{
	display:table-cell;
	vertical-align:middle;
}
.BaseInfos .others dt div,.BaseInfos .others dt p{
	display:inline-block;
}
.BaseInfos .others dt div{
	color:#FFA800;
}
.BaseInfos .others dt div span{
	font-size:24px;
}
.BaseInfos .others dt div em{
	color:#999;
}
.BaseInfos .others dt p{
	padding-left:10px;
	text-decoration:line-through;
}
.BaseInfos .others dd{
	text-align:right;
}
.BaseInfos .others dd em{
	display:none;
}
.BaseInfos .others dd span{
	color:#FFA800;
}
.BaseInfos .others dd span i{
	display:inline-block;
	background:#FFA800;
	color:#FFF;
	border-radius:3px;
	padding:0 5px;
	font-style:normal;
}
.BaseInfos button[type=butter]{
	border:0;
	width:100%;
	line-height:40px;
	background:#FFA800;
	color:#FFF;
	border-radius:5px;
	margin-bottom:5px;
	box-shadow: 1px 1px 1px #666;/**块阴影**/
}
.BaseInfos button[type=butter]:hover{
	background:#F30;
}
.ChangeShowCont{
	margin-top:15px;
	background:#FFF;
	padding:10px 15px;
}
.ChangeShowCont .mui-segmented-control .mui-control-item{
	line-height: 50px;
	font-size:20px;
}
.ChangeShowCont .mui-slider .mui-slider-group .mui-slider-item.mui-control-content{
	border-bottom:0;
}
.contentinfo{
	padding:10px 0;
}
.TzContBoxs{
	margin-top:15px;
	padding:10px 15px;
	background:#FFF;
}
.TzContBoxs .head{
	line-height:30px;
	font-size:20px;
}
.TzContBoxs .head i{
	display:inline-block;
	padding-right:10px;
	color:#40BDB9;
}
.TzContBoxs .ListShops{
	width:100%;
	overflow:hidden;
}
.TzContBoxs .ListShops .lists{
	position:relative;
	padding:15px 0;
}
.TzContBoxs .ListShops .lists:before{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:1px;
	background:#DDD;
	left:0;
	top:-1px;
}
.TzContBoxs .ListShops .lists ul{
	display:table;
	width:100%;
}
.TzContBoxs .ListShops .lists ul ol,.TzContBoxs .ListShops .lists ul li{
	display:table-cell;
	vertical-align:top;
}
.TzContBoxs .ListShops .lists ul ol{
	width:30%;
	padding-right:10px;
}
.TzContBoxs .ListShops .lists ul ol a{
	display:block;
	border:#EEE solid 1px;
	position:relative;
	overflow:hidden;
	border-radius:5px;
}
.TzContBoxs .ListShops .lists ul ol a:before{
	content:'';
	display:block;
	padding-top:70%;
}
.TzContBoxs .ListShops .lists ul ol a img{
	position:absolute;
	max-width:98%;
	max-height:98%;
	left:50%;
	top: 50%;
	border:0;
	background:none;
	outline:none;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}
.TzContBoxs .ListShops .lists ul li .title a{
	display:block;
	font-size:20px;
	color:#666;
	margin-bottom:8px;
}
.TzContBoxs .ListShops .lists ul li .infos{
	line-height:30px;
	color:#FFA800;
}
.TzContBoxs .ListShops .lists ul li .infos div,.TzContBoxs .ListShops .lists ul li .infos p{
	display:inline-block;	
}
.TzContBoxs .ListShops .lists ul li .infos div span{
	font-size:24px;
}
.TzContBoxs .ListShops .lists ul li .infos div em{
	color:#999;
}
.TzContBoxs .ListShops .lists ul li .infos p{
	padding-left:15px;
	color:#999;
	text-decoration:line-through;
}
.ShowMoreInfo{
	text-align:center;
}
.ShowMoreInfo button{
	border:0;
	background:#FFA800;
	line-height:40x;
	padding:0 15px;
	color:#FFF;
	border-radius:5px;
	cursor:pointer;
	box-shadow: 1px 1px 1px #666;/**块阴影**/
}
@media (max-width: 500px) and (min-width:401px) {
	.BaseInfos .title{
		line-height:25px;
		font-size:16px;
	}
	.BaseInfos .title span{
		font-size:18px;
	}
	.BaseInfos .others{
		font-size:14px;
		line-height:20px;
	}
	.BaseInfos .others dt div span{
		font-size:20px;
	}
	.BaseInfos .others dt p{
		padding-left:5px;
	}
	.BaseInfos .others dd span i{
		padding:0 3px;
	}
	.TzContBoxs .ListShops .lists ul li .title a{
		font-size:16px;
		margin-bottom:3px;
		line-height:25px;
		max-height:50px;
		overflow:hidden;
	}
	.TzContBoxs .ListShops .lists ul li .infos{
		line-height:20px;
		font-size:16px;
	}
	.TzContBoxs .ListShops .lists ul li .infos div span{
		font-size:20px;
	}
}
@media (max-width: 400px) {
	.BaseInfos .title{
		line-height:22px;
		font-size:14px;
	}
	.BaseInfos .title span{
		font-size:16px;
	}
	.BaseInfos .others{
		font-size:12px;
		line-height:18px;
	}
	.BaseInfos .others dt div span{
		font-size:18px;
	}
	.BaseInfos .others dt p{
		padding-left:5px;
	}
	.BaseInfos .others dd span i{
		padding:0 2px;
	}
	.TzContBoxs .ListShops .lists ul li .title a{
		font-size:14px;
		margin-bottom:0px;
		line-height:20px;
		max-height:40px;
		overflow:hidden;
	}
	.TzContBoxs .ListShops .lists ul li .infos{
		line-height:20px;
		font-size:14px;
	}
	.TzContBoxs .ListShops .lists ul li .infos div span{
		font-size:18px;
	}
}