<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>graphxmlswfcharts</name>
            <displayName><![CDATA[XML/SWF Charts]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[XML的/的SWF图是一个简单的，但功能强大的工具，以创造有吸引力的网页图表从动态的XML数据。]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>