{weiget frontend_weiget/header}

	 <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>更新用户密码
               <small>人员的核心信息</small>
            </h3>
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-body">
                  <form method="post" action="{SELF_URL}do/updatepassword/" class="form-horizontal">
                     <fieldset>
                        <legend>基础信息</legend>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">用户名</label>
                           <div class="col-sm-6">
								<p class="form-control-static">
								<!--{$userInfo[username]}-->
								</p>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">旧密码</label>
                           <div class="col-sm-6">
                              <input type="password" placeholder="不少于6位" name="user[oldpassword]" class="form-control" value="">
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">新密码</label>
                           <div class="col-sm-6">
                              <input type="password" placeholder="不少于6位" name="user[newpassword]" class="form-control" value="">
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">邮箱</label>
                           <div class="col-sm-6">
								<p class="form-control-static">
								<!--{$userInfo[email]}-->
								</p>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">手机</label>
                           <div class="col-sm-6">
								<p class="form-control-static">
								<!--{$userInfo[telnum]}-->
								</p>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset> 
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">真实名称</label>
                           <div class="col-sm-6">
								<p class="form-control-static">
								<!--{$userInfo[truename]}-->
								</p>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">职位</label>
                           <div class="col-sm-6">
								<p class="form-control-static">
								<!--{$userInfo[title]}-->
								</p>
                           </div>
                           <div class="col-sm-4"></div>
                        </div>
                     </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-2">
						   <input type="hidden" name="dosubmit" value="1">
                              <button type="submit" class="btn btn-primary">修改</button>
                           </div>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
            <!-- END panel-->
         </div>
      </section>

{weiget frontend_weiget/footer}