
#left-nav {
            margin-left: -1px;
        }
            #left-nav.nav-list.sidenav > li > a {
                padding: 10px 8px;
                font-size: 12px;
                font-weight: 600;
                color: #0088cc;
                background: #0078CA;
                background: -moz-linear-gradient(top, #FAFAFF 0%, #0787CA 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFF), color-stop(100%,#0787CA));
                background: -webkit-linear-gradient(top, #FAFAFF 0%,#0787CA 100%);
                background: -o-linear-gradient(top, #FAFAFF 0%,#0787CA 100%);
                background: -ms-linear-gradient(top, #FAFAFF 0%,#0787CA 100%);
                background: linear-gradient(top, #FAFAFF 0%,#0787CA 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFF', endColorstr='#0787CA');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFF', endColorstr='#0787CA')";
                border: 1px solid #D5D5D5;
                border-radius: 4px;
            }
                #left-nav.nav-list.sidenav > li > a > span {
                    color: #4A515B;
                }
                #left-nav.nav-list.sidenav > li.active > a, #left-nav.nav-list.sidenav > li > a:hover {
                    color: #FFF;
                    background: #317EF3;
                    background: -moz-linear-gradient(top, #0088cc 0%, #317EF3 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#317EF3));
                    background: -webkit-linear-gradient(top, #0088cc 0%,#317EF3 100%);
                    background: -o-linear-gradient(top, #0088cc 0%,#317EF3 100%);
                    background: -ms-linear-gradient(top, #0088cc 0%,#317EF3 100%);
                    background: linear-gradient(top, #0088cc 0%,#317EF3 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#317EF3');
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#317EF3')";
                    border-color: #3357C3;
                }

                    #left-nav.nav-list.sidenav > li.active > a, #left-nav.nav-list.sidenav > li > a:hover > span {
                        color: #FFF;
                    }
            #left-nav.nav-list.sidenav > li {

                margin-bottom: 4px;
            }
        /*定义二级菜单样式*/
        .secondmenu li{
          margin:-1px;
        }
        .secondmenu a {
          padding: 10px 8px;
            font-size: 12px;
            color: #0088cc;           
                background: #E9E9E9;
                background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
                background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
                border: 1px solid #D5D5D5;
                border-radius: 4px;
        }
        .secondmenu > li > a:hover {
          padding: 10px 6px;
            font-size: 12px;
            color: #0088cc;           
                background: #317EF3;
                background: -moz-linear-gradient(top, #FAFAFA 0%, #317EF3 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,##317EF3));
                background: -webkit-linear-gradient(top, #FAFAFA 0%,#317EF3 100%);
                background: -o-linear-gradient(top, #FAFAFA 0%,#317EF3 100%);
                background: -ms-linear-gradient(top, #FAFAFA 0%,#317EF3 100%);
                background: linear-gradient(top, #FAFAFA 0%,#317EF3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#317EF3');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#317EF3')";
                border: 1px solid #D5D5D5;
                border-radius: 4px;
        }
        .navbar-static-top {
            background-color: #212121;
            margin-bottom: 4px;
        }
        .navbar-brand {
            background: url('') no-repeat 10px 8px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 50px;
            color: #fff;
        }
/*侧边导航菜单end*/
.nav-tabs > li.active > a {
 background: #FFF;
 color: #00515B;
}

/*原*/
.boxShadow {
  border: 1px solid #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.boxShadowBorder {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  border-radius: 0.2em;
}
.sider, .content{ 
 min-height:400px;
 background: #FFF; 
}
 .subjectlist {
	min-height:160px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {

    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px;
    line-height: 1.2;
    font-size: 14px;
    font-family: inherit;

    -webkit-transition-duration: .1s;
    transition-duration: .1s
}

textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
    border-color: #b5b5b5    
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 102, 102, 0.6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #696969;
    border-color: #5A81A8;
    background-color: #fff;

}

.form-control,
select {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5
}


.form-control:focus,
select:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 102, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 102, 102, 0.6);
    color: #696969;
    border-color: #5A81A8;
    background-color: #fff;
    outline: 0
}

select {
    padding: 3px 4px;
    height: 30px
}

select.form-control {
    padding: 4px 6px;
    height: 32px
}
