#index .grid .main-wrap{margin-right:270px; margin-left:0;}
#index .grid .col-sub{width:263px;margin-left:-263px;}

#header,#banner,#content,#footer{width: 950px;}
#header{ height:115px; background:url("images/header_ico.png") no-repeat  right  ;}


.col-extra{ display:none;}
.mhd button{ color:#fff;}


/*body*/
body{color:#555555;background:#fff;}
.tbbd{background:#fff;}
.col-sub{background:url("images/colSubBottom.png") no-repeat bottom;padding-bottom:22px;}
.col-sub .bg{background:url("images/colSubTop.png") no-repeat top;padding-top:6px;}
.col-sub .mbd{ background:url("images/mbd_bg.png") no-repeat; border:1px solid #f4f4f4;}
.cwrap{ background:url("images/cwrapbg.png") #fff repeat-x; padding-bottom:30px;}
.plinks .mbd li{ margin:12px 0 0 15px}
a:link,a:visited{color:#313131;}
a:hover,a:focus{color:#f10000;}
input,textarea{border-top:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid;border-right:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;}
.job_con table,.guest table {border-top:1px solid #e1e1e1;border-left:1px solid #e1e7ef;border-right:1px solid #e1e1e1;}
.job_con td,.guest td{background:#fff;border-bottom:1px solid #e1e1e1;}
.job_con th,.guest th{background:#f5f5f5;border-bottom: 1px solid #e1e1e1;}
/*header*/
#header h1,#header p{float:left;}
#header p {margin-left:20px;margin-top:22px;color: #e9be3a; }
.menu a.topico02{background:url("images/topico02.png") no-repeat 0 4px;}


.nav{height:33px;background:url("images/nav_bg.png") repeat-x;position:relative; top:7px; line-height:33px; }


.nav li a{font-weight:bold;width:110px;text-align:center;}
.navlist ul{top:35px;left:8px;}
.navlist ul li{background:none;border-bottom:1px #fff solid;width:100px; display:none;}
.navlist ul li a{font-weight:normal;}
.nav li a.active,
.nav li a:hover,
.nav li.active a{background:url("images/liactive.png") no-repeat center;}
.nav li.active li a{background:none;padding:0;}

/*菜单颜色*/
.nav a:link,
.nav a:visited{color:#fff; font-weight:normal;}
.nav a:hover,
.nav a.active{color:#fff; font-weight:bold;}
.navlist ul a:link,
.navlist ul a:visited,
.nav li.active ul a:link,
.nav li.active ul a:visited{color:#555;}
.nav li.active a,.nav a.active:visited,.nav li.active a:visited,
.nav li.active ul a:hover,
.nav li.active ul a:active{color:#fff;}
.nav li.active ul a:hover{background:none;}
#banner{  margin-bottom:25px;}
/*content*/

.col-main .mbox{padding:2px 0px 1px;}
.col-main .mbg{ background:#fff;}
.col-main .mhd span{ padding-right:70px;}
.mhd span a:link, .mhd span a:visited{ color:#9db38e;}

.col-sub .mbg{background:#fff;}
.col-sub .mbd  span a{ color:#9db38e;}
.col-sub .mhd{ background:url("images/mhd_bg.png") no-repeat top; height:22px; line-height:22px;}
.mhd h3{color:#4f8138;padding-left:20px;  }
.col-sub .mhd h3{background:url("images/sico02.png") no-repeat 10px 5px;color:#4f8138;padding-left:35px; line-height:22px;}
.grid .main-wrap{ background:#fff; }
.col-main .mhd{background:url("images/mhb_bg.png") no-repeat; height:32px;}

.col-main .mhd {width:85px color:#4f8138; line-height:25px; padding-left:10px; background:url("images/mhb_bg.png") no-repeat  top; height:32px;}
.main-wrap .mhd {width:85px color:#4f8138; line-height:25px; padding-left:30px; background:url("images/main-wrap_mhd_bg.png") no-repeat  top; height:32px; }
.col-main .mhd .r{ padding-right:70px; }

.n_ico .mhd h3{background:url("images/n_ico.png") no-repeat 10px;}
.n_ico .mhd h3{padding-left:35px;}	
.mhd button{background:url("images/sbtn2.png") no-repeat; }

.feedback a{width:260px;background:url("images/feedback.png") no-repeat;}

/*news*/
.news li,.seabox li{background:url("images/news_list_ico.png") no-repeat 10px center;padding-left:30px;border-bottom:1px #acacac dotted;}
.news li span,.seabox li span{color:#999;}
/*notice*/
.n_ico li{background:url("images/list-style.png") no-repeat 0 10px;padding-left:12px;}
.notice_con p{border-bottom:1px #e1e7ef solid;}
.notice_con p.active{background:#eff3f9;}
/*cate*/			
.cate_list .mbd li{border-bottom:1px #ccc dashed; padding-left:20px;}
.cate_list .mbd li.active a,.down_list .mbd li h2.active a,.down_list .mbd li h2.active{color:#737373;}
.down_list .mbd li h2{border-bottom:1px #ccc dashed;background:url("images/cate_list_ico_hover.png") no-repeat 10px center;padding-left:20px;}
.down_list .mbd li div h2{border:none;background-position:22px center;padding-left:32px;}
.down_list .mbd .tog_con li a:hover,.down_list .mbd .tog_con li a.active{ background:url("images/down_list_bg.png") no-repeat bottom;color:#fff;}
.down_list .mbd li h2.active,.cate_list .mbd li.active{background:url("images/cate_list_ico_hover.png") no-repeat 10px center;}
.down_list .mbd li div h2.active{background:url("images/cate_list_ico_hover.png") no-repeat 22px center;border-bottom:1px #ccc dashed;}	
.title{border-bottom:1px #e1e7ef solid;}
.title h2{color:#000;}
.title p{color:#999;}
/*g_page*/
.g_page{width: 600px;}
.g_page span{ display:none;}
.g_page a,.g_page .front{border:1px #ccc solid;background:#fff;color:#666;}
.g_page .current,.g_page a:hover{background:#ed842a;color:#fff;border:1px #ddd solid;}

.item_pics{background:url("images/item_pics_bg.png") no-repeat;}
.item_intro h4{background:url("images/item_intro_h4.png") no-repeat;}
.item span{color:#999;}
.contact_con dd{background:url("images/contact_line.png") no-repeat 0 bottom;}
/*feedback*/
.inputSubmit,.inputSubmit_reset{color:#000;width:58px;height:23px;}
.inputSubmit{background:url("images/sbtn.png") no-repeat;}
.inputSubmit_reset{background:url("images/sbtn_reset.png") no-repeat;}

.pipe {color:#000;}

#footer {color: #000;background:url("images/footerbg.png") repeat-x; height:34px; }
#footer p{padding-top: 15px;}
#footer a:link, #footer a:visited {color: #000;}
#footer a:hover {color: #C70906;}
#footer .support a:link, #footer .support a:visited{color: #000;}
