server {
	listen 80;
	server_name localhost 127.0.0.1 test.com;
	root /server/www/test.com;
	index index.html index.htm index.php;
	access_log  logs/test.com.access.log  access;

	charset UTF-8;
	location = /favicon.ico {
	   log_not_found off;
	   access_log off;
	}

	#-----------status setting(/nginx_status,/check_status)----------#
	#include status.conf;

	#-----------static file setting----------#

	include common_file.conf;

	#-----------access setting----------#

	include common_access.conf;
	#include status.conf;
	#limit_req zone=req_one burst=120 nodelay;
	#limit_rate  20k;
	#access_by_lua_file /server/tengine/conf/ngx_lua/access/access_limit.lua;

        #-----------php setting----------#

	#include ngx_php/5.3-production.conf;
	#include ngx_php/5.3-testing.conf;
	include ngx_php/5.3-development.conf;

}
