/* 隐藏 显示 */
.disn{display:none;}
.disy{display:block;}
.globalAudio{position:absolute;left:400px;bottom:40px;z-index:99;}
.globalAudio .icon-music {
    background: url('../Images/units_icons.png') no-repeat 0 0;
	width:41px;height:41px;
	
}
.play {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
} @-webkit-keyframes reverseRotataZ {
    0% {-webkit-transform: rotateZ(0deg);}
    100% {-webkit-transform: rotateZ(-360deg);}
}
.globalAudio audio{width:0;height:0;}

body { background:url('../Images/background_a.jpg') no-repeat ;background-size:100%; font-size:0; }

/*.loader {z-index:100;width:100%;height:100%;background-color:#000;}
.loader span {color:#939393;position:absolute;left:180px;top:300px; font-size:20px}*/

.scene-a {background:url('../Images/background_a.jpg') no-repeat ;background-size:100%; width:100%;height:100%;}
.scene-c{background:url('../Images/background_a.png') no-repeat ;background-size:100%;width:100%;height:100%;}

.PStroke { 
    -webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;  
    -moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;  
text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;   
}
/* scene-a ------------------------------------------------------------------------------------- */
.date {position:absolute; width:100%;display:none; z-index:2;margin-top:50%;}
.date > img { width:100%;}


/*时间弹出*/
.dumpup{
    display:block;
    -webkit-animation:pulse 5s 0s ease both;
    -moz-animation:pulse 5s 0s ease both;
}
@-webkit-keyframes pulse{
    0%{opacity:0; -webkit-transform:scale(0)}
    20% { opacity:1;-webkit-transform:scale(1)}
   40% {opacity:1; }
60% {opacity:0; }
    100%{opacity:0;}
}
@-moz-keyframes pulse{
 0%{opacity:0; -webkit-transform:scale(0)}
    20% { opacity:1;-webkit-transform:scale(1)}
   40% {opacity:1; }
60% {opacity:0; }
    100%{opacity:0;}
}


/*牙古兽弹出*/
.yagu {position:absolute; width:100%; display:none;z-index:5;top:30%;}
    .yagu > img { width:99%;}
 .divLeft{
     
-webkit-animation:bounceInLeft 0.5s 0s ease both;
-webkit-animation-delay:1.7s;
-moz-animation:bounceInLeft 0.5s 0s ease both;
display:block;
 }
@-webkit-keyframes bounceInLeft{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
60%{opacity:1;
-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInLeft{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
60%{opacity:1;
-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}
}


/*加鲁鲁兽弹出*/
.jialulu { position:absolute; width:100%;z-index:5; display:none; left:15%;}
    .jialulu > img { width:99%; }

    .divRight{
        display:block;
-webkit-animation:bounceInRight 0.5s 0s ease both;
-webkit-animation-delay:1.7s;
-moz-animation:bounceInRight 0.5s 0s ease both;}
@-webkit-keyframes bounceInRight{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInRight{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}
}

/*闪电出现*/
.Lightning {position:absolute; width:100%;height:100%; display:none;z-index:10;}
 .Lightning > img { width:99%; }
.lightin { 
display:block;
-webkit-animation:bounce 0.2s .0s ease both;
-webkit-animation-delay:2.2s;
-moz-animation:bounce 0.2s .0s ease both;}
@-webkit-keyframes bounce{
0%{opacity:0;
}
10%{background-color:#fff;
}
    40% { background-color:rgba(243, 231, 231, 0.00);}
90%{background-color:#fff;}
100%{opacity:1;}
}
@-moz-keyframes bounce{
0%{opacity:0;
}
10%{background-color:#fff;
}
    40% { background-color:rgba(243, 231, 231, 0.00);}
70%{background-color:#fff;}
100%{opacity:1;}
}


/*logo出现*/
.Logo{position:absolute; width:100%;display:none;z-index:11;top:30%;}
.Logo > img { width:99%;}
.LogoIn { 
   display:block;
-webkit-animation:bounceIn 0.5s .0s ease both;
-webkit-animation-delay:2.5s;
-moz-animation:bounceIn 0.5s .0s ease both;}
@-webkit-keyframes bounceIn{
0%{opacity:0;
-webkit-transform:scale(.3)}
50%{opacity:0.5;}
70%{}
100%{opacity:1;}
}
@-moz-keyframes bounceIn{
0%{opacity:0;
-moz-transform:scale(.3)}
50%{opacity:1;
-moz-transform:scale(1.05)}
70%{-moz-transform:scale(.9)}
100%{-moz-transform:scale(1)}
}
/*箭头出现*/
.movenone { 
    display:none;
    	background:url('../Images/Down.png') no-repeat 100%;
	position:absolute;left:192px;bottom:40px;
	width:120px;height:90px;
    z-index:12;
}
.movenone1 { 
    display:none;
    	background:url('../Images/Down.png') no-repeat 100%;
	position:absolute;left:192px;bottom:40px;
width:120px;height:90px;
    z-index:50;
}
.move{
 
    display:block;
	-webkit-animation:movefadeInUp 1s 0s infinite ease both;

    
	-moz-animation:movefadeInUp 1s 0s infinite ease both;
} @-webkit-keyframes movefadeInUp{
	0%{opacity:1;-webkit-transform:translateY(20px)}
	50%{opacity:1;-webkit-transform:translateY(0)}
	100%{opacity:1;-webkit-transform:translateY(20px)}
} @-moz-keyframes movefadeInUp{
	0%{opacity:1;-webkit-transform:translateY(20px)}
	50%{opacity:1;-webkit-transform:translateY(0)}
	100%{opacity:1;-webkit-transform:translateY(20px)}
}


.fuhao {width:100%;height:100%;z-index:1;}
.fuhao > img { width:99%;}


/* scene-b ------------------------------------------------------------------------------------- */
.HeaderWord { position:absolute;width:100%;height:250px;z-index:20; top:0;}
    .HeaderWord > img {width:100%; }
.HeaderWordUP{
    display:block;
-webkit-animation:fadeInUpBig 0.8s .0s ease both;
-moz-animation:fadeInUpBig 0.8s .0s ease both;}
@-webkit-keyframes fadeInUpBig{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


.CenterImg1 { position:absolute;width:100px; height:100px;z-index:21;left:5%;top:12%; display:none;}
    .CenterImg1 > img {
        width:100%;
    }
.CenterImgmove1{
    display:block;
-webkit-animation:fadeInUpBig1 0.4s .0s ease both;
-webkit-animation-delay:0.5s;
-moz-animation:fadeInUpBig1 0.4s .0s ease both;}
@-webkit-keyframes fadeInUpBig1{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig1{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


.CenterImg2 {position:absolute;width:100px; height:100px;z-index:22;left:27.5%;top:12%; display:none; }
.CenterImg2> img {
        width:100%;
    }
.CenterImgmove2{
    display:block;
-webkit-animation:fadeInUpBig2 0.4s .0s ease both;
-webkit-animation-delay:0.6s;
-moz-animation:fadeInUpBig2 0.4s .0s ease both;}
@-webkit-keyframes fadeInUpBig2{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig2{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


.CenterImg3 { position:absolute;width:100px; height:100px;z-index:21;left:50%;top:10%; display:none; }
.CenterImg3> img {
        width:100%;
    }
.CenterImgmove3{
    display:block;
-webkit-animation:fadeInUpBig3 0.4s .0s ease both;
-webkit-animation-delay:0.7s;
-moz-animation:fadeInUpBig3 0.4s .0s ease both;}
@-webkit-keyframes fadeInUpBig3{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig3{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


.CenterImg4 { position:absolute;width:100px; height:100px;z-index:21;left:72.5%;top:12%; display:none; }
.CenterImg4> img {
        width:100%;
    }
.CenterImgmove4{
    display:block;
-webkit-animation:fadeInUpBig4 0.4s .0s ease both;
-webkit-animation-delay:0.9s;
-moz-animation:fadeInUpBig4 0.4s .0s ease both;}
@-webkit-keyframes fadeInUpBig4{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig4{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}




/*第一图片*/
.flop1 {position:absolute;width:180px;z-index:21;top:28%; display:none; }
.flop1> img {
        width:100%;
    }
.flopimg1 { 
    display:block;
    -webkit-animation:fadeFlop1 0.4s .0s ease both;
    -moz-animation:fadeFlop1 0.4s .0s ease both;}
@-webkit-keyframes fadeFlop1 {
    0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}
@-moz-keyframes fadeFlop1 {
        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}



/*第二图片*/
.flop2 {position:absolute;width:150px; z-index:21;left:24%;top:25%; display:none; }
.flop2> img {
        width:100%;
    }
.flopimg2 { 
    display:block;
    -webkit-animation:fadeFlop2 0.4s .0s ease both;
    -moz-animation:fadeFlop2 0.4s .0s ease both;}
@-webkit-keyframes fadeFlop2 {
    0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}
@-moz-keyframes fadeFlop2 {
        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}





/*第三图片*/
.flop3 {position:absolute;width:150px;z-index:21;left:46%;top:25%; display:none; }
.flop3> img {
        width:100%;
    }
.flopimg3 { 
    display:block;
    -webkit-animation:fadeFlop3 0.4s .0s ease both;
    -moz-animation:fadeFlop3 0.4s .0s ease both;}
@-webkit-keyframes fadeFlop3 {
    0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}
@-moz-keyframes fadeFlop3 {
        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}


/*第四图片*/
.flop4 {position:absolute;width:185px;z-index:21;left:61%;top:26%;display:none;}
.flop4> img {
        width:100%;
    }
.flopimg4 { display:block;
    -webkit-animation:fadeFlop4 0.4s .0s ease both;
    -moz-animation:fadeFlop4 0.4s .0s ease both;
}
@-webkit-keyframes fadeFlop4 {
    0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0);}
    100% {-webkit-transform: scaleX(1);}
}
@-moz-keyframes fadeFlop4 {
        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0);}
    100% {-webkit-transform: scaleX(1);}
}


.beatCss{
-webkit-animation:bouncebeat 0.5s 0s ease both;
-moz-animation:bouncebeat 0.5s 0s ease both;}
@-webkit-keyframes bouncebeat{

        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}
@-moz-keyframes bouncebeat{
        0% { -webkit-transform: scaleX(-1);}
    50% {-webkit-transform: scaleX(0); }
    100% {-webkit-transform: scaleX(1); }
}

.Imgflop {
    display:block;
    -webkit-animation:ImgFlopup 10s .2s  ease both;
-moz-animation:ImgFlopup 10s .2s  ease both;
}
@-webkit-keyframes ImgFlopup {


0%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
9%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}

10%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
100%{opacity:1;
     -webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
}
@-moz-keyframes ImgFlopup {

}

.Imgflop2 {
    display:block;
    -webkit-animation:ImgFlopup1 10s .2s  ease both;
-moz-animation:ImgFlopup1 10s .2s  ease both;
}
@-webkit-keyframes ImgFlopup1 {

    0% { opacity: 1;
         -webkit-transform:translateY(0px)
    }
    19% { opacity: 1;
         -webkit-transform:translateY(0px)}
20%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
29%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
30%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
100%{opacity:1;
     -webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
}
@-moz-keyframes ImgFlopup1 {

}

.Imgflop3{
    display:block;
    -webkit-animation:ImgFlopup2 10s .2s  ease both;
-moz-animation:ImgFlopup2 10s .2s  ease both;
}
@-webkit-keyframes ImgFlopup2 {

        0% { opacity: 1;
         -webkit-transform:translateY(0px)
    }
    39% { opacity: 1;
         -webkit-transform:translateY(0px)}
40%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
49%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
50%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
100%{opacity:1;
     -webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
}
@-moz-keyframes ImgFlopup2 {

}

.Imgflop4 {
    display:block;
    -webkit-animation:ImgFlopup3 10s .2s  ease both;
-moz-animation:ImgFlopup3 10s .2s  ease both;
}
@-webkit-keyframes ImgFlopup3 {
        0% { opacity: 1;
         -webkit-transform:translateY(0px)
    }
    59% { opacity: 1;
         -webkit-transform:translateY(0px)}

60%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
69%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-10px)

}
70%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
100%{opacity:1;
     -webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
}
@-moz-keyframes ImgFlopup3 {

}

.poto {position:absolute;width:15%;z-index:22;top:52%; left:20%; display:none;
}
 .poto > img {width:100%;
    }




.potoImg {
    display:block;
-webkit-animation:fadeInLeftBig 10s .0s ease both;
-moz-animation:fadeInLeftBig 10s .0s  ease both;}
@-webkit-keyframes fadeInLeftBig{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}

20%{opacity:1;
-webkit-transform:translateX(0) translateY(0);

}
22%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
24%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-30px)
}
25%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
26%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(-15px)
}
28%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}
30%{opacity:1;
-webkit-transform:translateX(0) translateY(0);
-webkit-transform:translateY(0)
}


40%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);

}
42%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(75px);
}
44%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-80px) translateX(75px);
}
45%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(75px);
}
46%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-65px) translateX(75px);
}
48%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(75px);
}
50%{opacity:1;
-webkit-transform:translateX(75px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(75px);
}

60%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);

}
62%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(150px);
}
64%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-80px) translateX(150px);
}
65%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(150px);
}
66%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-65px) translateX(150px);
}
68%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(150px);
}
70%{opacity:1;
-webkit-transform:translateX(150px) translateY(-50px);
-webkit-transform:translateY(-50px) translateX(150px)
}


80%{opacity:1;
-webkit-transform:translateX(250px);

}
82%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(0) translateX(250px);
}
84%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(-30px) translateX(250px);
}
85%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(0) translateX(250px);
}
86%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(-15px) translateX(250px);
}
88%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(0) translateX(250px);
}
90%{opacity:1;
-webkit-transform:translateX(250px);
-webkit-transform:translateY(0) translateX(250px);
}
100%{opacity:1;
-webkit-transform:translateX(400px)}

}
@-moz-keyframes fadeInLeftBig{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}

20%{opacity:1;
-moz-transform:translateX(0) translateY(0);

}
22%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(0)
}
24%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(-30px)
}
25%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(0)
}
26%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(-15px)
}
28%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(0)
}
30%{opacity:1;
-moz-transform:translateX(0) translateY(0);
-moz-transform:translateY(0)
}


40%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);

}
42%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(100px);
}
44%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-80px) translateX(100px);
}
45%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(100px);
}
46%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-65px) translateX(100px);
}
48%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(100px);
}
50%{opacity:1;
-moz-transform:translateX(100px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(100px);
}

60%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);

}
62%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(150px);
}
64%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-80px) translateX(150px);
}
65%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(150px);
}
66%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-65px) translateX(150px);
}
68%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(150px);
}
70%{opacity:1;
-moz-transform:translateX(150px) translateY(-50px);
-moz-transform:translateY(-50px) translateX(150px)
}


80%{opacity:1;
-moz-transform:translateX(250px);

}
82%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(0) translateX(250px);
}
84%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(-30px) translateX(250px);
}
85%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(0) translateX(250px);
}
86%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(-15px) translateX(250px);
}
88%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(0) translateX(250px);
}
90%{opacity:1;
-moz-transform:translateX(250px);
-moz-transform:translateY(0) translateX(250px);
}
100%{opacity:1;
-moz-transform:translateX(400px)}

}


.ImgWord {position:absolute;width:100%;z-index:21;top:60%; display:none; 
}
    .ImgWord > img {width:100%;
    }

.imgwordimg {
    display:block;
    -webkit-animation:imgwordimg1 0.4s .0s ease both;
-webkit-animation-delay:1.5s;
-moz-animation:imgwordimg1 0.4s .0s ease both;
}
@-webkit-keyframes imgwordimg1{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes imgwordimg1{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}


.fuha{ width:100%;height:100%;z-index:1;}
.fuha > img { width:99%; }

.InputText { color:#939393;font-size:18px;}
.InputText1 { color:#000;font-size:18px;}
/* pageTwo ------------------------------------------------------------------------------------- */
.p2_logo{width:100%;}
.recordlist{position:absolute;width:100%;z-index:2; top:40px; height: 50px; padding: 0; margin: 0;}
.record{width:100%;margin-top:30px;}
.title{width:64%;position:relative;z-index:3; display:none;}
.content{width:70%;margin: -22px 0 0 10px;display:none;z-index:9999; position:absolute;top:200px;left:15%;}
.content > .header{width:100%;}
.content > .body{width:80%; margin-left:5%;background:url('../Images/page2_body.png') ;background-size:100%;padding:0 5%;}
.content > .body h2{font-size:21px;margin:0;text-shadow:0 0 0 #fff;color:#09c1f3; font-style:italic;}
.content > .body p{color:#fff;font-size:18px;text-shadow:0 0 0 #fff;}

.content > .footer{width:100%;}
.bak{position:absolute;width:100%;top:20px;z-index:0;display:none; }
.bakImg { left:10%;}

.ngse { display:none;}
.ngs { display:block;}
.d_content{display:block;}
.content > .d_body{
    -webkit-animation:t_record_body 0.6s 0s ease both;
    -moz-animation:t_record_body 0.6s 0s ease both;
} @-webkit-keyframes t_record_body{
    0%{height:10px;}
    100%{height:370px;}
} @-moz-keyframes t_record_body{
    0%{height:20px;}
    100%{height:370px;}
}
.content > .d_body_txt h2,
.content > .d_body_txt p,
.content > .d_body_txt img{
    -webkit-animation:t_record_body_txt 0.4s 0.6s ease both;
    -moz-animation:t_record_body_txt 0.4s 0.6s ease both;
} @-webkit-keyframes t_record_body_txt{
    0%{opacity:0;}
    100%{opacity:1;}
} @-moz-keyframes t_record_body_txt{
    0%{opacity:0;}
    100%{opacity:1;}
}
.record > .d_bak_left{display:block;
    -webkit-animation:t_record_bak_left 0.4s 0s ease both;
    -moz-animation:t_record_bak_left 0.4s 0s ease both;
} @-webkit-keyframes t_record_bak_left{
    0%{left:400px;}
    100%{left:0px;}
} @-moz-keyframes t_record_bak_left{
    0%{left:400px;}
    100%{left:0px;}
}
.d_bak_right{
    display:block;
    -webkit-animation:t_record_bak_right 0.4s .0s ease both;
    -moz-animation:t_record_bak_right 0.4s .0s ease both;
} @-webkit-keyframes t_record_bak_right{
    0% { -webkit-transform:translateX(-2000px)}
    100% {-webkit-transform:translateX(0)}

} @-moz-keyframes t_record_bak_right{
 0% { -webkit-transform:translateX(-2000px)}
    100% {-webkit-transform:translateX(0)}
}
  .d_ba_right{
    display:block;
    -webkit-animation:t_record_bak_right 1s .0s ease both;
    -moz-animation:t_record_bak_right 1s .0s ease both;
}


.title_img1 {
   
    -webkit-animation:title_img_don 1s .0s ease both;

    -moz-animation:title_img_don 1s .0s ease both;
     display:block;
}
.title_img2 {
    display:block;
-webkit-animation:title_img_don1 1s .0s ease both;

-moz-animation:title_img_don1 1s .0s ease both;}
.title_img3 {
    
    -webkit-animation:title_img_don 1s .0s ease both;

    -moz-animation:title_img_don 1s .0s ease both;
    display:block;
}
.title_img4 {
  
    -webkit-animation:title_img_don 1s 0s ease both;

    -moz-animation:title_img_don 1s 0s ease both;
     display:block;
}
.title_img5 {
  
    -webkit-animation:title_img_don 1s 0s ease both;

    -moz-animation:title_img_don 1s 0s ease both;
      display:block;
}


@-webkit-keyframes title_img_don{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes title_img_don{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}
@-webkit-keyframes title_img_don1{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes title_img_don1{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}

/* scene-d ------------------------------------------------------------------------------------- */









