<h2 class="contentTitle">密码修改</h2>
<div class="pageContent">
	<form method="post" action="#{$smarty.const.ACT}#/Sys/sys_password_modify/" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<dl>
				<dt>旧密码：</dt>
				<dd><input type="password"  name="oldpassword" class="required" alt="请输之前登录密码"/></dd>
			</dl>
			<dl>
				<dt>新密码：</dt>
				<dd><input type="password"  name="newpassword" class="required"></dd>
			</dl>
			<dl>
				<dt>密码确认：</dt>
				<dd><input type="password"  name="newpassword1" class="required"></dd>
			</dl>

				
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>

</div>