<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="#{$smarty.const.ACT}#/User/user_show/" method="post">
    <div class="searchBar">
      <table class="searchContent">
        <tr>
          <td><select class="combox" name="searchKeyword">
              <option value="name">联系人姓名</option>
              <option value="postion">职务</option>
              <option value="mobile">电话</option>
              <option value="zipcode">邮编</option>
              <option value="address">联系地址</option>
              <option value="intro">介绍</option>
            </select>
          </td>
          <td><input type="text" name="searchValue" />
          </td>
          <td> 建档日期：
            <input type="text" class="date" readonly="true" />
          </td>
          <td><ul>
              <li>
                <div class="buttonActive">
                  <div class="buttonContent">
                    <button type="submit">检索</button>
                  </div>
                </div>
              </li>
            </ul></td>
        </tr>
      </table>
	   <div class="subBar"></div>
    </div>
	
  </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li class="line">line</li>
      <li><a class="filesave" href="#{$smarty.const.ACT}#/SysData/sys_data_back/" target="dialog" rel="ids" width=900 height=500 ><span>数据库备份</span></a></li>
      <li class="line">line</li>
       <li><a class="redo" href="#{$smarty.const.ACT}#/SysData/sys_data_res/" target="dialog" rel="ids" width=900 height=500 ><span>数据库恢复</span></a></li>
    </ul>
  </div>
  <table class="table" width="100%" layoutH="138">
    <thead>
      <tr>
        <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
        <th width="120">表名</th>
        <th width="120">记录数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    
    #{foreach from=$list key=k item=v}#
    <tr target="sid_user" rel="#{$v.name}#">
      <td><input name="ids" value="#{$v.name}#" type="checkbox"></td>
      <td>#{$v.name}#</td>
      <td>#{$v.cnt}#</td>
      <td>优化 | 修复 | 结构</td>
    </tr>
    #{/foreach}#
    </tbody>
    
  </table>
  <div class="panelBar">
    <form id="pagerForm" method="post" action="#{$smarty.const.ACT}#/User/user_show/">
      <input type="hidden" name="pageNum" value="1" />
      <input type="hidden" name="numPerPage" value="#{$numPerPage}#" />
      <input type="hidden" name="orderField" value="${param.orderField}" />
    </form>
    <div class="pages"> <span>显示</span>
      <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span>条，共#{$totalCount}#条</span> </div>
    <div class="pagination" targetType="navTab" totalCount="#{$totalCount}#" numPerPage="#{$numPerPage}#" pageNumShown="10" currentPage="#{$currentPage}#"></div>
  </div>
</div>