<div class="pageContent">
<form onsubmit="return dwzSearch(this, 'dialog');"
	action="#{$smarty.const.ACT}#/Sys/sys_upgrade_local/step/#{$step}#/version/#{$version}#/" method="post">
 <input type="hidden" name="filename" value="#{$filename}#" />
    <div class="pageFormContent" layoutH="56">
<fieldset>
		<legend>系统升级：</legend>	
            #{$txt}#
            </fieldset>
    </div>
    <div class="formBar">
      <ul>
        <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
        <li>
          <div class="buttonActive">
            <div class="buttonContent">
              <button type="submit">#{$sbtxt}#</button>
            </div>
          </div>
        </li>
        <li>
          <div class="button">
            <div class="buttonContent">
              <button type="button" class="close">取消</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
<script language="JavaScript"> 
    //判断所有的checkbox的选中状态 
    //@id : checkbox的id 
    function checkedStatus(id){ 
		var status = document.getElementById(id).checked; 
		tag="sub"+id;
        //获取checkbox，如果子节点没有设置id，就得不到一部分checkbox 
        var temp = document.getElementById(tag); 
		var inputs	 = temp.getElementsByTagName("input");
		for(var i = 0; i < inputs.length; i++){ 
			inputs[i].checked =status;
		
		}
        //设置checkbox的下级checkbox的状态 
       // setChildCheckBox(temp); 

        //设置checkbox的上级checkbox的状态 
       // setParentCheckBox(temp); 
    } 

</script>
