/public_html/runtime
/public_html/static/SemanticUI
/thinkphp
/public_html/uploads/avatar
/public_html/uploads/image
/runtime/cache
/runtime/log
/runtime/temp
/wx_xiaochengxi
/xzyn_app
/application/index/view/abc/index.html
/application/index/controller/Abc.php
/public_html/static/layui
/.vscode/launch.json
/application/index/view/abc/bbs.html
/public_html/static/vue/vue.min.js
/my_xzyn20180804200151.sql
/public_html/aaa.html
/thinkphp.rar
/application/api/controller/Abc.php
/.vscode
