[submodule "app/admincp/ui/editor.md"]
    path = app/admincp/ui/editor.md
    url = https://github.com/pandao/editor.md.git
[submodule "iPHP/library/htmlpurifier-4.6.0"]
    path = iPHP/library/htmlpurifier-4.6.0
    url = https://github.com/ezyang/htmlpurifier.git
