<h3 class="widget-title"><span>{{ heading_title }}</span></h3>
<div class="row">
  <div class="product-wrapper">
   {% for product in products %}
    <div class="product-layout col-lg-3 col-md-3 col-sm-4 col-xs-6">
      {{ include(helper.template('_partial/product/product_single')) }}
    </div>
    {% endfor %}
  </div>
</div>
