.remind-mainer {
	position: relative;
	padding: 20px;
	width: 410px;
}

.remind-mainer--form {
	padding: 20px;
	width: 370px;
	border: 1px solid #dadfe6;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	background-color: #ffffff;
	z-index: 10;
}
.remind-form--item {
	margin-bottom: 20px;
}
.time-tpye-select {
	display: inline-block;
	width: 150px;
	margin-right: 10px;
}
.time-tpye-select.dn {
	display: none;
}
.remind-time-input,
.time-diff-select {
	width: 200px;
}
.remind-time-input.dn {
	display: none!important;
}
.remind-form--btns{
	padding-top: 20px;
	border-top:  1px solid #ebeff6;
}
.remind-form--btns .btn {
	padding: 9px 70px;
}