    <!--if{!$info.status}-->
    <div class="dux-icon-alert dux-icon-alert-danger uk-margin-top">
        <i class="fa fa-times"></i>
        <h1>实名认证失败</h1>
        <p>您的资料审核不通过，请重新修改后提交！</p>
        <div class="dux-form uk-form   uk-text-left">
            <div class="uk-input-group">
                <span class="uk-input-group-label">姓名</span>
                <div class="uk-form-controls uk-form-controls-text">{$info.name}</div>
            </div>
            <div class="uk-input-group">
                <span class="uk-input-group-label">身份证</span>
                <div class="uk-form-controls uk-form-controls-text">{hide_str($info.idcard, 3, 4,4)}</div>
            </div>
        </div>
        <div class="uk-padding-small">
            <a href="{url('info')}" class="uk-button uk-button-block uk-button-primary">提交资料</a>
        </div>
    </div>
    <!--{/if}-->

    <!--if{$info.status == 2}-->
        <div class="dux-icon-alert dux-icon-alert-success uk-margin-top">
            <i class="fa fa-check"></i>
            <h1>实名认证完成</h1>
            <p>实名认证成功，修改请联系服务商</p>
            <div class="dux-form uk-form   uk-text-left">
                <div class="uk-input-group">
                    <span class="uk-input-group-label">姓名</span>
                    <div class="uk-form-controls uk-form-controls-text">{$info.name}</div>
                </div>
                <div class="uk-input-group">
                    <span class="uk-input-group-label">身份证</span>
                    <div class="uk-form-controls uk-form-controls-text">{hide_str($info.idcard, 3, 4,4)}</div>
                </div>
            </div>
        </div>
    <!--{/if}-->

    <!--if{$info.status == 1}-->
    <div class="dux-icon-alert dux-icon-alert-warning uk-margin-top">
        <i class="fa fa-info"></i>
        <h1>实名认证已提交</h1>
        <p>预计会在48小时内审核完成</p>
        <div class="dux-form uk-form   uk-text-left">
            <div class="uk-input-group">
                <span class="uk-input-group-label">姓名</span>
                <div class="uk-form-controls uk-form-controls-text">{$info.name}</div>
            </div>
            <div class="uk-input-group">
                <span class="uk-input-group-label">身份证</span>
                <div class="uk-form-controls uk-form-controls-text">{hide_str($info.idcard, 3, 4,4)}</div>
            </div>
        </div>
    </div>
    <!--{/if}-->







