<form class="dux-form uk-form  " action="{url('')}" method="post" data-dux="form-bind" data-advanced="false">
    <div class="uk-input-group">
        <span class="uk-input-group-label">姓名</span>
        <input type="text" class="uk-form-field" placeholder="身份证姓名" name="name">
    </div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">身份证号码</span>
        <input type="text" class="uk-form-field" placeholder="身份证号码" name="idcard">
    </div>
    <div class="dux-box" style="margin-top:0;">
        <div class="box-content">
            <ul class="uk-grid uk-grid-collapse uk-child-width-1-2">
                <li>
                    <div class="uk-padding-small dux-image-upload" style="position: relative;">
                        <a href="javascript:;" class="upload" data-dux="form-upload" data-callback="upload" data-target="#card_image" data-progress="progress" data-url="{url('member/Upload/index')}">
                            <div class="img">
                                <img src="/public/member/images/card-a.png">
                            </div>
                            <div class="icon">
                                +
                            </div>
                            <div class="progress">0%</div>
                        </a>
                        <input class="uk-form-field" type="hidden" value="" id="card_image" name="card_image">
                        <div class="info">身份证正面</div>
                    </div>
                 </li>
                <li>
                    <div class="uk-padding-small dux-image-upload" style="position: relative;">
                        <a href="javascript:;" class="upload" data-dux="form-upload" data-callback="upload" data-target="#card_image_back" data-progress="progress" data-url="{url('member/Upload/index')}">
                            <div class="img">
                                <img src="/public/member/images/card-b.png">
                            </div>
                            <div class="icon">
                                +
                            </div>
                            <div class="progress">0%</div>
                        </a>
                        <input class="uk-form-field" type="hidden" value="" id="card_image_back" name="card_image_back">
                        <div class="info">身份证反面</div>
                    </div>
                 </li>
                <li>
                    <div class="uk-padding-small dux-image-upload" style="position: relative;">
                        <a href="javascript:;" class="upload" data-dux="form-upload" data-callback="upload" data-target="#card_image_hand" data-progress="progress" data-url="{url('member/Upload/index')}">
                            <div class="img">
                                <img src="/public/member/images/card-h.png">
                            </div>
                            <div class="icon">
                                +
                            </div>
                            <div class="progress">0%</div>
                        </a>
                        <input class="uk-form-field" type="hidden" value="" id="card_image_hand" name="card_image_hand">
                        <div class="info">手持身份证照片</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="uk-form-title">用户验证信息</div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">验证方式</span>
        <select name="valtype" id="valtype" class="uk-form-field">
            <!--if{$userInfo.tel}-->
            <option value="0">手机验证</option>
            <!--{/if}-->
            <!--if{$userInfo.email}-->
            <option value="1">邮箱验证</option>
            <!--{/if}-->
        </select>
    </div>
    <div class="uk-input-group">
        <span class="uk-input-group-label">账号验证</span>
        <input type="text" class="uk-form-field" placeholder="请输入验证码" name="val_code">

        <span class="uk-input-group-btn">
                                            <button href="javascript:;" class="uk-button uk-button-small uk-button-primary" data-dux="page-getCode"
                                                    data-url="{url('member/Real/getCode')}" data-field="valtype"
                                                    type="button">获取验证码</button>
                                        </span>
    </div>
    <input type="hidden" name="card_id" value="{$info.card_id}">
    <div class="uk-padding-small">
        <button class="uk-button uk-button-primary uk-button-block" type="submit">确认认证</button>
    </div>
</form>

<script>
    Do('base', function () {
        window.progress = function (rate) {
            $(this).addClass('loading');
            $(this).find('.progress').text(rate + '%');
        };
        window.upload = function (info) {
            $(this).removeClass('loading');
            $(this).find('img').attr('src', info.url);
        };

    });
</script>
