

.footer{
  border-top: 1px solid #EEEEEE;
  padding: 5px 0px;
  color: #666666;
}

.post-meta .meta-title:hover{
    color: #0099cc;

}


.grid-article {
    width: 620px;
    margin:0 auto;
}
.grid-article .floated-thumb{
    border-bottom: 1px dotted #e8e8e8;
    margin-bottom: 10px;
}
.grid-article .floated-thumb p{
    margin-bottom: 5px;
}

.grid-article .floated-thumb .post-thumb {
    margin-bottom: 10px;
}
.grid-article .floated-thumb span.excerpt {
    color: #000;
    margin-bottom: 5px;
}

#archive .floated-thumb {
    border-bottom: 1px dotted #e8e8e8;
    margin-bottom: 10px;

}
#archive .floated-thumb .post-thumb {
    margin-bottom: 10px;
}

.floated-thumb .post-thumb:hover {
    background: #333;
    border-color: #333;
}
.floated-thumb {
    padding-bottom: 0;
    margin-bottom: 0;
}
.floated-thumb .post-thumb {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 4px;
    border: 1px solid #e8e8e8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.post {
    padding-bottom: 20px;
}

.post-meta .meta-title {
    color: #333;
    text-transform: none;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    font-family: "Microsoft YaHei",'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.read-more {
    line-height: 20px;
    font-size: 13px;
    color: #fffffe;
    font-weight: 700;
    text-align: right;
}

.read-more a {
    background: none repeat scroll 0 0 #22bcdd;
    color: #ffffff !important;
    display: inline-block;
    padding: 4px 13px;
    text-decoration: none;
}
.read-more a:hover {
    background: none repeat scroll 0 0 #0ca3c4;
    text-decoration: none;
}
.align-right {
    text-align: right;
}

.entry-header h1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin: -5px 0 10px 0;
    text-align: center;
    font-family: "Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.box_cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.box_item {
    background-position: 0 bottom;
    background-repeat: repeat-x;
}

.box_item_title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0px 1px 0px #fff;
    word-wrap: break-word;
    hyphens: auto;
}




.box_small {
    font-size: 11px;
}

.box_fade {
    color: #ccc;
}

a.box_node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

a.box_node:link, a.box_node:visited, a.box_node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.box_node:link, a.box_node:visited, a.box_node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}
.box_sep5 {
    height: 5px;
}
.box_sep10 {
    height: 10px;
}
.box_sep20 {
    height: 20px;
}

.box_fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.box_fa-chevron-up:before {
    content: "\f077";
}
.box_votes {
    display: inline-block;
}
.box_vote:link, .box_vote:visited, .box_vote {
    text-decoration: none;
    font-size: 10px;
    line-height: 1;
    padding: 2px 8px 2px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #778;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}
.box_vote:link, .box_vote:visited, .box_vote {
    text-decoration: none;
    font-size: 10px;
    line-height: 1;
    padding: 2px 8px 2px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #778;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}
.box_fr {
    float: right;
    text-align: right;
}
.box_header {
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.box_chevron {
    font-family: "Lucida Grande";
    font-weight: 500;
}
.box_fa-chevron-up:before{
    content:"\f077"
}
.box_fa-chevron-down:before{
    content:"\f078"
}
.box_gray {
    color: #999;
}
small {
    font-size: smaller;
}
.box_tag:hover {
    background: #99a;
    color: #fff;
    text-decoration: none;
}
.box_tag:link, .box_tag:visited {
    padding: 5px 10px 5px 10px;
    line-height: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
}
.box_tag:link, .box_tag:visited {
    padding: 5px 10px 5px 10px;
    line-height: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
}
.box_inner {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}
.box_no {
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #ccc;
    padding: 2px 5px 2px 5px;
}
a.box_dark:hover {
    color: #385f8a;
    text-decoration: none;
}
a.box_dark:link, a.box_dark:visited, a.box_dark:active {
    color: gray;
    text-decoration: none;
}
a.box_dark:link, a.box_dark:visited, a.box_dark:active {
    color: gray;
    text-decoration: none;
}
strong, b {
    font-weight: bold;
}

.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}

.box_online{
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    padding: 2px 5px 2px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #52bf1c;
    background: -moz-linear-gradient(top, #52bf1c 0%, #438906 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52bf1c), color-stop(100%,#438906));
    background: -webkit-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: -o-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: -ms-linear-gradient(top, #52bf1c 0%,#438906 100%);
    background: linear-gradient(top, #52bf1c 0%,#438906 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52bf1c', endColorstr='#438906',GradientType=0 );
}
.box_bigger {
    font-size: 16px;
}
a.box_balance_area:link, a.box_balance_area:visited, .box_balance_area {
    color: #000;
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #666;
    text-shadow: 0px 1px 0px white;
    display: inline-block;
    margin: -4px -5px 0px 0px;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=0 );
}

img.box_avatar {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.box_dock_area {
    background-color: #edf3f5;
    background-image: url("../images/dock_shadow.png");
    background-repeat: repeat-x;
    padding: 0px;
}
.box_reply_content, .box_topic_content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    overflow: hidden;
    word-break: break-word;
}
.box_feedback{
    height:5px;
    width:9px;
    margin-left:20px;
    background: url('../images/arrow.png') no-repeat;
}

.box_icon {
    height: 16px;
    padding-left: 20px;
    line-height: 16px;
}
.box_mobileme{
    background: url('../images/mobileme.png') no-repeat;
}
.box_location{
    background: url('../images/location.png') no-repeat;
}
.box_weibo{
    background: url('../images/weibo.png') no-repeat;
}
.box_github{
    background: url('../images/github.png') no-repeat;
}
.box_osChina{
    background: url('../images/osChina.png') no-repeat;
}
/* COUNT */

a.box_count_orange:link, a.box_count_orange:active {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #ff9900;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
    word-break: keep-all;
}

a.box_count_orange:hover {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #ffa722;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
}

a.box_count_livid:link, a.box_count_livid:active {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #aab0c6;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
    word-break: keep-all;
}

a.box_count_livid:hover {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #969cb1;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
}

a.box_count_blue:visited, a.box_count_green:visited, a.box_count_orange:visited, a.box_count_livid:visited {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
}

/*body{
    background-color: #e2e2e2;
}*/
div.body {
    background-color: #e2e2e2;
    background-image: url("../images/shadow_light.png");
    background-repeat: repeat-x;
}

.box_header{
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.box_sl{
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
    width: 310px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.box_login td{
    padding:5px;
}

.box_form{
    width:50%;
    min-width:400px;
    margin: 0 auto;
}

a:hover{
    text-decoration: underline;
}

.box_top{
    color:#4d5256;
}
.box_top:hover{
    color: #556;
    text-decoration: underline;
}


a:hover {
    color: #4d5256;
    text-decoration: underline;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
}


/***************************************/


body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
a:link,a:visited,a:active{
    color: #778087;
    text-decoration: none;
}
a:hover{
    color: #4d5256;
    text-decoration: underline;
}
strong, b {
    font-weight: bold;
}

.navbar-default{
    background: none;
    border: none;
    margin: 0;
}
.navbar-collapse{
    background-image: url("../images/top_light.png");
    text-align: center;
    background-color: #f0f0f0;
    background-size: 50px 50px;
    border: none;
}
div.header{
    background-image: url("../images/top_light.png");
    text-align: center;
    background-color: #f0f0f0;
    background-size: 50px 50px;
}

.h5{
    height: 5px;
}
.h10{
    height: 10px;
}
.h20{
    height: 20px;
}

#body-header{
    background-image: url("images/top_light.png");
    text-align: center;
    background-color: #f0f0f0;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
}
#body-wrapper{
    text-align: center;
    background-color: #e2e2e2;
    background-image: url("images/shadow_light.png");
    background-repeat: repeat-x;
}
#body-footer{
    border-top: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    color: #999;
}

.content{
    width: 970px;
    margin: 0 auto 0 auto;
}
a.top-logo{
    float:left;
    display: block;
    font-size: 22px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
    height:50px;
    line-height:50px;
}
a.top-btn{
    float: right;
    font-size: 15px;
    display: block;
    margin-right: 20px;
}
a.top-btn:hover{
    text-decoration: none;
}
a.top-a{
    color: #556;
    text-decoration: none;
    margin-left: 10px;
}
a.top-a:hover{
    color: #99a;
    text-decoration: none;
}

.c{
    clear:both;
}
.h_5{
    height: 5px;
}
.h20{
    height: 20px;
}


#right-bar{
    width:270px;
    float: right;
}
#left-bar{
    width:270px;
    float: left;
}
#main-content{
    width: auto;
    margin: 0 290px 0 0;
}
.box{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
}
.box-inner{
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}
.box-cell{
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.box-item{
    background-position: 0 bottom;
    background-repeat: repeat-x;
}

a.tab{
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}
a.tab:hover{
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}
a.tab_current{
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #334;
    color: #fff;
}
a.node{
    margin-right: 10px;
    line-height:24px;
}


img.box-avatar{
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.box-item-title{
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0 1px 0 #fff;
    word-wrap: break-word;
    hyphens: auto;
}
.box-small{
    font-size: 11px;
}
.box-fade{
    color: #ccc;
}

.box-votes {
    display: inline-block;
}


a.box-node:link, a.box-node:visited, a.box-node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}
a.box-node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

a.box-count-livid:link, a.box-count-livid:active {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #aab0c6;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
    word-break: keep-all;
}
a.box-count-livid:visited {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
}
a.box-count-livid:hover {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #969cb1;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
}
.box-chevron {
    font-family: "Lucida Grande";
    font-weight: 500;
}
.box-fr {
    float: right;
    text-align: right;
}
.normal.button {
    background-color: #fff;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(66, 66, 77, 0.1);
}
.super.button {
    background-image: url("../images/bg_blended_light.png");
    padding: 4px 15px 4px 15px;
    border: 1px solid rgba(80,80,90, 0.2);
    border-bottom-color: rgba(80,80,90, 0.35);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
}
.normal.button:hover {
    background-color: #f9f9f9;
    border: 1px solid rgba(60,60,70,0.3);
    color: #333;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(66, 66, 77, 0.1);
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.transparent {
    background-color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: none;
}
.f12{
    font-size: 12px;
}
.box_snow{
    color:#e2e2e2;
}
.dropdown-menu a{
    height: 50px;
}
.navbar-nav .open .dropdown-menu>li>a{
    line-height: 50px;
}
.navbar-nav{
    margin:0;
}
.navbar-nav>li>a{
    padding:15px;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header{
    padding: 0 15px 0 25px;
}
.dropdown-menu{
    padding: 0;
}