#.htaccess for ModPHP
<Files ~ '^.(htaccess|htpasswd)$|.db$'>
deny from all
</Files>
Options -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
order deny,allow