<extend name="Public/base"/>
<block name="head">
	 <link rel="stylesheet" type="text/css" href="__CSS__/user.css">
</block>
<block name="body">

<!--主体 start-->
<div class="main container" style="border: 1px solid #ddd;">
        <div class="main-top row">
	        <div class="forget-pwd col-md-12">
	            <h5>找回密码</h5>
	            <div id="stepflex" class="stepflex">
	                <dl class="first">
	                    <dt class="s-num">1</dt>
	                    <dd class="s-text">填写账户名<s></s><b></b></dd>
	                    <dd></dd>
	                </dl>
	                <dl class="normal">
	                    <dt class="s-num">2</dt>
	                    <dd class="s-text">验证身份<s></s><b></b></dd>
	                </dl>
	                <dl class="normal">
	                    <dt class="s-num">3</dt>
	                    <dd class="s-text">设置新密码<s></s><b></b></dd>
	                </dl>
	                <dl class="last doing">
	                    <dt class="s-num">&nbsp;</dt>
	                    <dd class="s-text">完成<s></s><b></b></dd>
	                </dl>
	            </div>
	       </div>
	   </div>
	   <div class="row">
	        <div class="col-sm-12">
	            <h3 class="txt-center text-success " style="text-align:center;">修改密码成功，请记住新密码！</h3>
	           	
	        </div>
	        <div class="col-sm-12">
	        	<h4 class="col-sm-3 col-sm-offset-4 "><a class="text-danger" href="{:U('Index/index')}">返回首页</a></h4>
	            <h4 class="col-sm-3 text-danger" ><a class="text-danger" href="{:U('User/login')}">去登陆</a></h4>
	        </div>
	            
	  </div>
	    
</div>
</block>
