<extend name="Public/base"/>
<block name="head">
	 <link rel="stylesheet" type="text/css" href="__CSS__/user.css">
</block>
<block name="body">

<!--主体 start-->
<div class="main container" style="border: 1px solid #ddd;">
        <div class="main-top row">
	        <div class="forget-pwd col-md-12">
	            <h5>找回密码</h5>
	            <div id="stepflex" class="stepflex">
	                <dl class="first doing">
	                    <dt class="s-num">1</dt>
	                    <dd class="s-text">填写账户名<s></s><b></b></dd>
	                    <dd></dd>
	                </dl>
	                <dl class="normal">
	                    <dt class="s-num">2</dt>
	                    <dd class="s-text">验证身份<s></s><b></b></dd>
	                </dl>
	                <dl class="normal">
	                    <dt class="s-num">3</dt>
	                    <dd class="s-text">设置新密码<s></s><b></b></dd>
	                </dl>
	                <dl class="last">
	                    <dt class="s-num">&nbsp;</dt>
	                    <dd class="s-text">完成<s></s><b></b></dd>
	                </dl>
	            </div>
	         </div>
	     </div>
	     <div>
	         <div>
	            <form class="form-horizontal" method="post"  action="{:U('User/findPass')}" autocomplete="off">
					<input type="hidden" name="step" value="1">
					<div class="form-group">
					    <label for="username" class="col-sm-2 col-sm-offset-2 control-label">用户名</label>
					    <div class="col-sm-5">
					      <input type="text" name="username"class="form-control" id="username" placeholder="用户名">
					    </div>
					 </div>
					 <div class="form-group">
					    <label for="username" class="col-sm-2 col-sm-offset-2 control-label">验证码</label>
					    <div class="col-sm-5">
					      <input type="text" name="verify" class="form-control" id="verify" placeholder="请填写验证码">
					     
					    </div>
					 </div>
					 <div class="form-group">
					 	<div class="col-sm-offset-4">
					 		<img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/verify')}">
					 	</div>      
                     </div>
                      <div class="form-group">
					 	<div class="col-sm-offset-4">
                     		<button class="btn btn-success" type="submit">下一步</button>
                     	</div>
                     </div>
				</form>	 
	           
	            </div>
	        </div>
	            
	    </div>
	    <script>
			$(function(){
				//刷新验证码
				var verifyimg = $(".verifyimg").attr("src");
	            $(".reloadverify").click(function(){
	                if( verifyimg.indexOf('?')>0){
	                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
	                }else{
	                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
	                }
	            });

			});
		</script>
</div>
</block>
