<extend name="Public/base"/>
<block name="head">
    <style>
        body{
            background: #fff;
        }
    </style>
</block>
<block name="body">
    <div class="am-g user-center">
        <div class="login am-u-lg-6 am-u-md-8 am-u-sm-centered border">
            <h3>注册</h3>
            
            <form method="post" class="am-form am-form-horizontal" action="{:U('User/register')}" method="post" id="register">
                <div class="am-form-group">
	                <label class="am-u-sm-2 am-form-label" for="email">用户名:</label>
                	<div class="am-u-sm-10">
                		<input value="" class="normal-input" id="account" placeholder="请输入用户名" name="username" autocomplete="off" type="text">
                	</div>
                </div>
                <div class="am-form-group">
	                <label class="am-u-sm-2 am-form-label" for="password">密码:</label>
	                <div class="am-u-sm-10">
	              	  <input id="password" class="form-control" placeholder="请输入密码" name="password" autocomplete="off" type="password" required data-msg-required="请输入密码" minlength="6" data-msg-minlength="至少输入6个字符">
                	</div>
                </div>
                <div class="am-form-group">
	                 <label class="am-u-sm-2 am-form-label" for="email">确认密码:</label>
	                 <div class="am-u-sm-10">
	                	<input value="" class="normal-input" placeholder="确认密码" name="repassword" autocomplete="off" type="password" >
                	</div>
                </div>
                <div class="am-form-group">
	                <label class="am-u-sm-2 am-form-label" for="email">邮箱:</label>
                	<div class="am-u-sm-10">
                		<input value="" class="normal-input" placeholder="请输入邮箱" name="email" autocomplete="off" type="email">
                	</div>
                </div>
                <div class="am-form-group">
	                <label class="am-u-sm-2 am-form-label" for="email">手机:</label>
                	<div class="am-u-sm-10">
                		<input value="" class="normal-input" placeholder="请填写手机" name="mobile" type="text">
                	</div>
                </div>
                <div class="am-form-group">
	                <div class="am-cf am-u-sm-10 am-u-sm-offset-2">
	                    <input name="" value="注  册" class="ajax-post am-btn am-btn-primary am-btn-sm am-fl" target-form="am-form" type="submit">
	
	                </div>
	             </div>
            </form>


        </div>
    </div>
<!--主体 end-->
</block>
<block name="script">

</block>
