.webuploader-container {
	position: relative;
	vertical-align: bottom;
}
.webuploader-element-invisible {
	display: none;
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
/*	display: inline-block;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	border-radius: 3px;*/
}
.webuploader-pick-hover {
/*	background: #00a2d4;*/
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.UploaderImgBox,
.webUploadItem{
	margin-bottom: 10px;
	margin-right: 10px;
	width: 140px;
	text-align: center;
	position: relative;
}
.webUploadItem .progress{
	border: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -10px;
}
.UploaderImgBox img,
.webUploadImg{
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #ccc;
	width: 130px;
	height: 110px;
}

.webUploadYes{
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 25px;
	height: 25px;
}

.webUploadRemove{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background:url("images/cancel.png");
	font-size: 0px;
	text-indent: -999px;
}
