body{
    margin:0px;
    padding:0px;
    background:#f8f8f8;
    font-family:微软雅黑,宋体;
    text-align: center;
}

.remark{
    height:14px;
    line-height:14px;
    padding-left:15px;
    display:inline-block;
    font-size:12px;
    color:#a0a0a0;
    text-align:left;
    margin-left: 20px;
    font-weight:normal;
    background: url('../images/remake.gif') no-repeat;
}
/********/
.top{
    width:100%;
    height:30px;
    background:#fff;
    position: fixed;
    overflow: hidden;
    color:#707070;
}
.position{
    float:right;
    margin-right: 40px;
    line-height:30px;
    font-size: 13px;
}
.position span{
    float:left;
}

.top-title{
    float:left;
    line-height:30px;
    font-size: 13px;
    
}
.top-title span{
    float:left;
}
.top-tool{
    padding:0px;
    margin:0px;
    float:left;
    margin-left: 10px;
    height:22px;
    margin-top: 4px;
    
}
.button-a{
    background:#ec6941;
    display:inline-block;
    margin:0px;
    padding:0px;
    text-align:center;
    height:22px;
    line-height:22px;
    color:#fff;
    font-size:12px;
    border:0px;
    font-weight: bold;
    text-decoration:none;
    letter-spacing:2px;
    padding-left:10px;
    padding-right:10px;
}
.button-a:hover{
    background:#f8b551;
}

.top-tool .button-a{
    float:left;
    margin-left:5px!important;
    
}
.button-b{
    border:0px;
    height:22px;
    background:#ec6941;
    float:left;
    margin-left:5px;
    font-family:微软雅黑;
    cursor: pointer;
    color:#fff;
    letter-spacing:2px;
    font-size:12px;
    font-weight: bold;
}
.button-b:hover{
    background:#f8b551;
}
/**********************/
.body{
    width:99%;
    padding-top:35px;
    margin:0 auto;
}
.body input{
    border:1px solid #b5b5b5;
    background:#eee;
    height:22px;
    font-family:微软雅黑,宋体;
}
.body input:hover{
    border:1px solid #4679bd;
}
.body input:focus{
    border:1px solid #4679bd;
    background:#fff;
}
/*table类*/
.list-tb{
    width:100%;
}
.list-tb tr td,.list-tb tr th{
    border-bottom:1px solid #dcdcdc;
     height:25px;
    text-align:left;
    font-size:12px;
}
/**/
.tableTd tr td{
    height:35px!important;
    font-weight: bold;
}
.textRight{
    text-align:right!important;
}
/*table操作的tr类 <tr class="operate">*/
.operate a{
    display: inline-block;
    text-decoration:none;
    background:#ec6941;
    height: 20px;
    line-height:20px;
    text-align: center;
    color: #fff;
    float:left;
    margin-left:5px;
    padding-right:10px;
}
.operate a:hover{
    background:#f8b551;
}
.operate a span{
    float:left!important;
}
/*table标题的tr类 <tr class="title">*/
.title a{
    text-decoration:none;
    color: #4679bd;
}
.title a:hover{
    color:#000;
}

/*分页 <div class="page"></div>*/
.page{
    font-size:12px;
    width:99%;
    text-align:left;
    margin:10px auto;
}
.page a{
    display:inline-block;
    background:#4679bd;
    text-decoration:none;
    color:#fff;
    padding:2px 5px;
}
.current{
    background:#ec6941;
    padding:2px 5px;
    margin:0px;
}
