body{
    margin:0px;
    padding:0px;
}
.header{
    height: 39px;
    width:100%;
    background:#4679bd;
    border-bottom: 1px solid #000;
    color:#fff;
    overflow:hidden;
}
.logo{
    width:170px;
    text-align:center;
    float:left;
}
.logo img{
    margin-top:6px;
}

.nav_top{
    float: left;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.nav_top li{
    float:left;
    text-align: center;
    margin-left:15px;
    margin-top:10px;
}
.nav_top li a{
    color:#fff;
    font-size:14px;
    font-family:微软雅黑;
    text-decoration:none;
    float:left;
}
.nav_top li a:hover{
    color:#e5e5e5;
    text-decoration:none;
}
.nav_top li a:link,a:visited,a:active{
    color:#fff;
    text-decoration:none;
}
.icon{
    display:block!important;
    float:left!important;
    margin-top:4px!important;
}

.nav_top_right{
    float: right;
    list-style-type:none;
    margin:0px;
    padding:0px;
    margin-right:30px;
}
.nav_top_right li{
    float:left;
    margin-right:10px;
    text-align: center;
     margin-top:10px;
    
}
.nav_top_right li a{
    color:#fff;
    font-size:12px;
    font-family:微软雅黑;
    text-decoration:none;
    float:left;
    display:block;
}
.nav_top_right li a:hover{
    color:#e5e5e5;
}
.nav_top_right li a:link,a:visited,a:active{
    color:#fff;
    text-decoration:none;
}