body{
    text-align:center;
    font-family: 微软雅黑;
}
.login{
    width:600px;
    margin:0 auto;
    margin-top: 60px;
}
.left{
    float:left;
    width:50%;
    font-size:12px;
    margin-top: 50px;
    text-align: left;
    letter-spacing:1px;
    line-height:18px;
    text-align:Justify;
    text-justify:inter-ideograph;
    color:#959595;
}
.right{
    float:right;
    width:40%;
    margin-top:30px;
}
.right span{
    font-size:12px;
    display:inline-block;
    width:20%;
    text-align:right;
}
.input{
    border:0px;
    border-bottom:1px solid #e5e5e5;
    font-family: 微软雅黑;
    width:70%;
}
.submit{
    width:90%;
    height:25px;
    background:#4679bd;
    border:0px;
    font-family: 微软雅黑;
    color:#fff;
    cursor: pointer;
}