body{
    margin:0px;
    padding:0px;
}
.left_nav{
    width: 170px;
    font-family:微软雅黑;
}
.photo{
    width:100%;
    height:50px;
    overflow: hidden;
    padding-top:5px;
    border-bottom: 1px solid #e5e5e5;
}
.photo img{
    height:42px;
    width:auto;
    margin-left:5px;
    float:left;
}
.photo div{
    margin-left:5px;
    float:left;
}
.photo div p{
    margin:0px;
    padding:0px;
    margin-top: 3px;
    font-size:12px;
    color:#959595;
}

.left_nav ul{
    width:100%;
    list-style-type:none;
    margin:0px;
    padding:0px;
    border-bottom: 1px solid #e5e5e5;
    margin-top:5px;
    
}
.left_nav ul li{
    font-size:12px;
    width:100%;
    margin:0px;
    padding:0px;
    
}
.left_nav ul li a{
    color:#4679bd;
    display:block;
    width:80%;
    height:30px;
    padding-left:20%;
    line-height:30px;
}
.left_nav ul li a:hover{
    background:#eee;
}
.title-s a{
     font-size:14px!important;
     color:#959595!important;
     padding-left:19%!important;
     width:81%!important;
}
.title-s a:hover{
    background:#fff!important;
    text-decoration:none;
}
.left_nav ul li a:link,a:visited,a:active{
    color:#4679bd;
    text-decoration:none;
}