.tab{
    width:100%;
    height:25px;
    border-bottom:2px solid #a0a0a0;
}
.tab span{
    float:left;
    height:25px;
    line-height:25px;
    background:#4679bd;
    font-size:12px;
    font-weight: bold;
    padding:0px 10px;
    cursor: pointer;
    margin-left:10px;
    color:#fff;
}
.tab-c{
    background:#a0a0a0!important;
}