@CHARSET "UTF-8";
body {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px; background-color:#FFFFFF;}
td,input,button {font-size: 12px;}
.px10{font-size:10px;}
.f_red{color:red;}
th{font-weight: bold; font-size: 12px; background: #2B5CC5; color: white; height: 20px;}
td.tablerow {padding-right: 3px; background: #f1f3f5;line-height: 150%;}
td.tablerowhighlight {font-weight: bold; padding: 3px;background: #E4EDF9; line-height: 150%;}
.tableborder {margin:auto;border: 1px solid #2B5CC5; width: 700px; background: #ffffff;}

/*选项卡*/
ul{ list-style:none;}

#tabs1{ text-align:left; width:98%; margin-left:15px; display:inline;}
.menu1box{ position:relative; overflow:hidden; height:31px; width:100%; text-align:left; border:0;}
#menu1{ position:absolute; top:0; left:0; z-index:1;}
#menu1 li{border:0; float:left; display:block; cursor:pointer; width:150px; text-align:center; margin-right:2px; line-height:30px; background:url(../image/menu1_li_bg.jpg) top no-repeat; height:30px;}
#menu1 li.hover{border:0; border-top:1px solid #fff; background:url(../image/menu1_li_hover_bg.jpg) top no-repeat; font-weight:bold;}
#menu1 li a{ color:#03c; font-size:12px; text-decoration:none;}
#menu1 li a:hover { color: #c00;}

.main1box{ clear:both; margin-top:-1px; border:1px solid #71C0D3;  width:99%;height:auto;}
.main{ clear:both; padding:8px; text-align:center;}
#main1 ul{ display: none;}
#main1 ul.block{ display: block; }
#main1 ul li{ height:auto; }
form{margin:0;padding:0;}
/*按钮*/
.delbtn{ width:90px; height:25px;background:url(../image/delete.jpg) top no-repeat; border:0;cursor:pointer;}
.uploadbtn{ width:60px; height:25px;background:url(../image/upload.jpg) top no-repeat; border:0;cursor:pointer;}

.bakdbbtn{ width:200px; height:60px;background:url(../image/bakdb.jpg) top no-repeat; border:0;cursor:pointer}
