@CHARSET "UTF-8";
/*
Basic Style
----------------------------------------
*/
form {
	margin: 0;
	padding: 0;
}

textarea {
	padding: 2px;
}

select{ height:25px; padding:2px; }
select option{ padding:2px; }