/* Checkbox */

div.checker {
    width: 19px;
    height: 19px;
}

div.checker input {
    width: 19px;
    height: 19px;
    position: relative;
    top: -4px;
}

div.checker span {
    background-position: 0px -260px;
    height: 19px;
    width: 19px;
}

div.checker:active span,
div.checker.active span {
    background-position: -19px -260px;
}

div.checker.focus span,
div.checker:hover span {
    background-position: -38px -260px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
    background-position: -57px -260px;
}

div.checker span.checked {
    background-position: -76px -260px;
}

div.checker:active span.checked,
div.checker.active span.checked {
    background-position: -95px -260px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
    background-position: -114px -260px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
    background-position: -133px -260px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
    background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
    background-position: -171px -260px;
}