@charset "utf-8";
/* CSS Document */

a,div,li,p,h1,h2,h3,h4,h5,h6,td,th,span,i{
	font-family:"微软雅黑";
}


.content{
	/*padding-top:10px;*/
}


/* nav */

	nav{
		border-top: 1px solid #ccc;
		padding: 8px 0px 0 0;
		border-bottom: 1px solid #ddd;
	}
	nav .logo{
		font-size:22px;
		line-height:49px;
	}
	nav .logo i{
		width:70px;
		height:49px;
		display:inline-block;
		/*background:url(../images/Alogo.png) no-repeat;*/
		float:left;
	}
	nav .logo span{
		width:129px;
		height:49px;
		display:inline-block;
		/*background:url(../images/Alogo-font.png) no-repeat;*/
		float:left;
		margin-right:10px;
	}

	.navbar-header{
		height:56px;
		margin:0;
	}
	
	.nav-menu{
		line-height:34px; background:#4593D1;
	}
	
	.nav-menu .Messaging{
		height:26px;
		border-radius:13px;
		background:#1377A4;
		line-height:26px;
		color:#fff;
		display:inline-block;
		padding:0 7px 0 13px;
		margin:4px 0;
	}
	.nav-menu .Messaging .label{
	padding:1px 6px !important;
   font-size:10px;
   border-radius:6px;
	}
	.share{
		position:absolute; top:-50px; font-size:14px; right:0;
	}	
	
	.navbar-collapse .navbar-nav>li>a {
		color: #fff; text-align:center; height:34px; line-height:34px;
		padding-left:40px; padding-right:40px;
		padding-top:0;
	}
	.navbar-collapse .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
		color: #fff;
		background-color:#2B87BB;
	}




/*-------*/
.dl-ww-st li{
	list-style:none; line-height:28px;	padding:2px 0; padding-right:15px;

}
.dl-ww-st li span{float:left; font-size:14px; color:#105473; width:100px; text-align:right; padding:0 10px 0 0;}
.dl-ww-st li p{padding-left:100px;}
.dl-ww-st li label{font-weight:lighter;}
.dl-ww-st li select,.dl-ww-st .btn-sm{height:28px; padding:4px;}

.zj-dl-ww b{font-size:14px; color:#105473; width:100px; text-align:right; padding:0 10px 0 0; display:inline-block;}
.sr-only-r{
	width:auto;
	float:left;
}
.control-r{
	float:left;
}


@media (max-width: 767px){
	body{background:#E0E2E9;}

}

.has_sub li{
	background:#fff;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 50%;
}



.areaChart{height:220px; font-size:12px;}


.table>thead>tr>td.blue, .table>tbody>tr>td.blue, .table>tfoot>tr>td.blue, .table>thead>tr>th.blue, .table>tbody>tr>th.blue, .table>tfoot>tr>th.blue, .table>thead>tr.blue>td, .table>tbody>tr.blue>td, .table>tfoot>tr.blue>td, .table>thead>tr.blue>th, .table>tbody>tr.blue>th, .table>tfoot>tr.blue>th {
	background-color:#7BB9E8;
	border-color: #d6e9c6; color:#fff; text-align:center;
	font-size:14px;
}
.table-hover>tbody>tr>td.blue:hover, .table-hover>tbody>tr>th.blue:hover, .table-hover>tbody>tr.blue:hover>td {
	background-color: #d0e9c6;
	border-color: #7BB9E8
}


/*---por-st//float-st//sp-st//dis-st----*/
.pro-ab{position:absolute;}
.pro-re{position:relative;}

.sp-st-no{white-space:nowrap;}

.dis-no{display:none;}
.bgco-w{background:#fff;}





.padd15{padding:15px 25px;}
.paddlr15{padding-left:15px; padding-right:15px;}
.paddtb15{padding-top:10px; padding-bottom:10px;}
.mart10{margin-top:10px;}
.label-warning{background-color:#DD7528;}

/* Responsive */
/* all */
.fade{
	
}
.ul-list{
	padding:15px;
	margin:0;
}
.ul-list li{
	line-height:26px;
	list-style:none;
	color:#999;
}
.ul-list li a{
	margin-right:10px;
	font-size:14px;
	color:#666;
}

#myTab li{
	font-size:14px;
}


.navbar .navbar-toggle {
  border:none;
  background:none;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: none;
 }

.navbar .navbar-toggle .icon-bar {
  background-color: #6FB3DC;
  height:3px;
}

.tit-blue{
	padding:3px 0 3px 15px;
	background:#4B91D5;
}
.tit-blue p{
	color:#fff;
}


@media (max-width: 480px){

}

@media (max-width: 767px){
	nav{
		padding-top: 15px !important;
		padding-left:0;
	}
	nav .navbar-toggle{
		margin-top:0;
	}
	nav .logo{
		font-size:18px;
		line-height:40px;
	}
	nav .logo i{
		width:50px;
		height:40px;
		display:inline-block;
		/*background:url(../images/Alogo.png) no-repeat;*/
		background-size:100%;
		float:left;
		margin:0 0 0 10px;
	}
	nav .logo span{display:none;}
	.container{margin:0; width:100%;}
	.navbar-collapse .navbar-nav{
	float:none;
	margin:0;
	padding:0;
	list-style:none;
	}
	.share{
	position:static; font-size:14px; padding:10px 0;
	}
	.navbar-collapse{
		max-height:340px; margin-top:-7px; padding:0;
		background:#4593D1;overflow-x:visible;
		border:none;box-shadow:none; color:#fff; 
	}
	.navbar-collapse a{color:#fff;}

}

@media (min-width: 768px) and (max-width: 991px){
	.navbar-collapse .navbar-nav>li>a {
		color: #fff; text-align:center; height:34px; 
		padding-left:20px; padding-right:20px; font-size:16px;
	}
	
	nav .logo{
	background:url(../images/Alogo.png) no-repeat;
	}
}

	.share{/*----IE8+IE9-----*/
	position:static\9; color:#fff\9;
	}
	.share a{color:#fff\9;}
	:root .share{/*----IE9-----*/
	position:absolute\9;
	}
	:root .share,.share a{color:inherit\9;}