<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>flat</name>
            <displayName><![CDATA[市内快递]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[固定运费的配送方式内容]]></description>
            <author><![CDATA[MileBiz]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>你确定要删除该模块？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries>cn</limited_countries>
        </module>