div,form,input,table,p,textrea,body,ul,li,iframe,dd,dt,dl{margin:0px;padding:0px;}
body,table,div,td,input,textarea{font-size:12px;font-family:verdana,"宋体";color:#333;}
a{color:#333;text-decoration:none;}
a:hover{color:#f30;text-decoration:none;}
.c9{color:#999;}
.red{color:#f00;}
body.body-main{background:url("../images/shadow.gif") repeat-y scroll left center #EEEEEE;padding:10px;}
#login{width:450px;height:256px;background:url("../images/login.png") no-repeat left center #1571BD;margin:100px auto 0 auto;border: 5px solid #555;}
#login dl{width:250px;margin:0 0 0 auto;padding:55px 0 0 0;color:#fff;}
#login dl dd{margin:4px 0;}
#login dl dd input.text{width:143px;}
#login dl dd input.submit{border:1px solid #2D5082;margin:4px;margin-left:72px;padding:2px 8px 0;cursor:pointer;}
input{vertical-align:middle;}
input[type="text"],input[type="password"]{border-color:#99AABB #CCDDEE #CCDDEE #AABBCC;background:#fbfdff;border-style:solid;border-width:1px;vertical-align:middle;}
select{background-image:url("../images/selectbg_left.gif");border-color:#ACC2CA #9FB8C0 #9BB5BE;border-image:none;border-style:solid;border-width:1px;font-size:12px;height:20px;line-height:20px;padding-bottom:0;padding-top:0;vertical-align:middle;}
textarea{background:url("../images/textarea_bg.gif") repeat scroll 0 0 #F7FAFC;border-color:#99AABB #CCDDEE #CCDDEE #BBCCDD;border-image:none;border-style:solid;border-width:1px;height:80px;line-height:19px;margin:0;padding:1px 1px 1px 4px;display:block;}
.text{height:22px;line-height:22px;padding:0 4px;}
.line{float:left;width:100%;border-bottom:1px dotted #BCBCBC;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.dis{display:none;}
.block{display:block;}
.mag_t{margin-top:10px;}
.input{padding:0 4px;height:25px;line-height:25px;}
.inputs{width:100%;line-height:18px;font-family:verdana,"宋体";word-break:break-all;background:url("../images/textarea_bg.gif") repeat scroll 0 0 #F7FAFC;border-color:#99AABB #CCDDEE #CCDDEE #BBCCDD;border-image:none;border-style:solid;border-width:1px;}
.bnt{background:url(../images/bnt.gif) no-repeat center;color:#fff;border:0px;line-height:26px;height:26px;width:66px;cursor:pointer;}
.bnt01{background:url(../images/bnt01.gif) no-repeat center;color:#fff;border:0px;line-height:26px;height:26px;width:44px;cursor:pointer;}
#head{background:url("../images/headebg.png") repeat-x scroll right top #DAE4ED;overflow:hidden;height:60px;}
.head_txt{padding:5px 0 0 12px;}
.head_txt span{color:#f30;}
.head_txt span a{color:#f30;}
.head_txt span a:hover{color:#57A728;}
.head_menu{padding:5px 10px 0 0;}
#head_menu ul,li{list-style:none;float:left;}
#head_menu li{height:24px;margin:0 10px 0 0;display:block;line-height:24px;color:#fff;text-align:center;}
#head_menu li a{color:#fff;}
#head_menu li a:hover{color:#ff0;}
#content{width:100%;background:#1571bd;float:left;min-height:500px;}
#left{background:#1571BD;width:200px;float:left;}
#left ul,li{list-style:none;overflow:hidden;}
.left_title{background:url(../images/admin_left_title.gif);display:block;color:#e0f3fd;font-size:14px;font-weight:bold;line-height:32px;height:32px;width:200px;text-indent:36px;margin-bottom:8px;Cursor:pointer;}
.left_title_over{background:url(../images/admin_left_title.gif) bottom;display:block;color:#FFF;font-size:14px;font-weight:bold;line-height:32px;height:32px;width:200px;text-indent:36px;margin-bottom:8px;Cursor:pointer;}
.left_link{text-indent:36px;color:#fff;height:24px;line-height:24px;display:block;width:200px;font-family:verdana;}
.left_link a{color:#fff;}
.left_link a:hover{color:#91e2fd;}
.left_link_over{text-indent:36px;color:#fff;display:block;width:200px;background:url(../images/left_menu_bg_over.gif);height:24px;line-height:24px;}
.left_link_over a{color:#fff;}
.left_link_over a:hover{color:#91e2fd;}
.firstalt{background:#fff}
/*#right{height:100%;}
*/
#right{margin-left:200px;background:#fff;}
.admin_notice{border:1px solid #ddd;background:#FDFAF6;padding:6px 12px;line-height:25px;height:25px;}
.admin_notice span{font-weight:bold;}
#admin_notice{font-weight:normal;}
#admin_nice{line-height:22px;}
#admin_nice dt{float:left;width:50%;height:25px;}
#admin_nice dt span{font-family:Geogia;font-style:italic;color:#57A728;margin-right:4px;}
#admin_sub_title ul,li{list-style:none;}
#admin_sub_title li.sub{float:left;background:url(../images/admin_sub_title.gif) no-repeat top;width:86px;height:28px;margin-bottom:-1px;text-align:center;font-weight:bold;color:#1571BD;line-height:28px;margin-right:2px;}
#admin_sub_title li.sub a{color:#1571bd}
#admin_sub_title li.unsub{float:left;background:url(../images/admin_sub_title01.gif) no-repeat top;width:86px;height:27px;text-align:center;line-height:27px;margin-right:2px;}
#admin_sub_title li.unsub a{color:#555;}
#admin_right_b{border:1px solid #97c4f6;background:#fff;padding:10px;_padding:5px 10px 10px 10px;margin:27px 0 0 0;*margin:41px 0 0 0;}
.runtime{font-size:10px;font-family:Verdana;text-align:center;color:#999;}
.table_b{background:#d1ebf0;width:100%;}
.title_bg{background:#edf8fe;height:25px;line-height:25px;color:#1571bd;text-align:center;}
.tdbg{background:#fff;height:25px;line-height:25px;}
.tdbg span{color:#999;}
.tdbg01{background:#edf8fe;height:25px;line-height:25px;color:#1571bd;padding:2px 6px;}
.editor{width:100%;height:300px;word-break:break-all;}
.hand{cursor:pointer;}
.dl{border:1px solid #DBF0D1;border-bottom:0;}
.dl dt{border-bottom:1px solid #DBF0D1;line-height:25px;padding:4px 0 4px 10px;}
.dl dt span{color:#1571bd;}
/*内容分页部分*/
.content_page{text-align:center;margin:8px;font-family:"宋体";clear:both;}
.content_page a{background:#fff;margin:1px;padding:4px 6px;border:1px solid #D1EBF0;color:#A0A0A0;}
.content_page a:hover{background:#fff;margin:1px;padding:4px 6px;border:1px solid #0482e2;color:#A0A0A0;}
.content_page span{background:#1691d3;color:#FFF;margin:1px;padding:4px 6px;border:1px solid #0789c2;}
.skinbg{background:#fff;border:1px solid #E8E8E8;display:block;width:177px;height:235px;float:left;margin:0 15px 15px 0;}
.skinbg_over{background:#edf8fe;border:1px solid #D2EED0;display:block;width:177px;height:235px;float:left;margin:0 15px 15px 0;}